[2022-07-05 15:39] #38107 closed

[2022-07-05 15:52] ryanslade opened #38235 "gitserver.GitCommand should be private"
It should not be possible to create a GitCommand from outside the `gitserver` package
as this allows arbitrary arguments to be passed.

We should remove the [current usages](https://sourcegraph.com/search?q=context:global+repo:%5Egithub%5C.com/sourcegraph/sourcegraph%24+GitCommand%28+-file:gitserver&patternType=literal) and then make `client.GitCommand` private.

[2022-07-05 15:53] sourcegraph-bot-2 commented on #38235
Heads up @jplahn - the "team/repo-management" label was applied to this issue.

[2022-07-05 15:55] vovakulikov opened #38236 "Code Insights [Forms]: Implement a better solution for dynamic array fields management"
## Background

At the moment we don't have a good solution for building forms with a dynamically generated list of fields or groups of fields. For example, on the search-based insight creation UI page, we have a data series picker where we're supposed to generate a list of series (three fields, title, query, colour).

At the moment we use just the `useField` hook but it requires additional logic a

[2022-07-05 16:07] coury-clark commented on #37868
Thanks @leonore - good call out. I think 2. is similar enough to the [approach we use for backfilling scoped insights](https://sourcegraph.com/github.com/sourcegraph/sourcegraph@ef8c98dc81120e68c25626171453534ff7480942/-/blob/enterprise/internal/insights/resolvers/insight_view_resolvers.go?L1062:11) that it would make sense to adopt the same pattern. I think some kind of an operator that can manua

[2022-07-05 16:11] sluongng commented on #37626
Outsider here, but very much interested in seeing this happen 👍
It should greatly improve the product for enterprise customer who are also using Bazel in multi-languages monorepo.

[2022-07-05 16:38] #38060 closed

[2022-07-05 16:46] bobheadxi opened #38240 "notebooks: support bare search links in git notebooks"
Would be awesome if search links in `.snb.md` files (e.g. something like this file: https://sourcegraph.com/github.com/sourcegraph/devx-scratch/-/blob/2022/README.snb.md) could automatically become notebook blocks when rendered, similar to the support that already exists for other block types like file links.

https://sourcegraph.slack.com/archives/C03CSAER9LK/p1657038729048299

[2022-07-05 16:46] sourcegraph-bot-2 commented on #38240
Heads up @benvenker @lguychard - the "team/search-product" label was applied to this issue.

[2022-07-05 16:59] #16611 closed

[2022-07-05 17:18] BolajiOlajide opened #38241 "Investigate Performance when working with very large changes"
[Context](https://sourcegraph.slack.com/archives/C018U1ZRFQC/p1655274148375819)

Investigate performance when running batch changes with over 400 files changed. We've been getting reports of batch changes failing when the number of files changed is a lot.

**Outcome**: Any performance improvement(s) that'd lower the probability of running into this type of errors.

[2022-07-05 17:21] christinelovett opened #38242 "Repos deleted on code host not deleted in Sourcegraph"
#### Feedback

Customer had deleted a handful of repositories on their BitBucket host. The repos were not removed on Sourcegraph. Instead, the repostiories show under Repository Status as `Failed`. When viewing the individual repi settings it shows `Unreachable`. These repositories had been deleted within a month, presumably enough time for Sourcegraph to recognize they had been deleted on the cod

[2022-07-05 17:21] sourcegraph-bot-2 commented on #38242
Heads up @jplahn - the "team/repo-management" label was applied to this issue.

[2022-07-05 17:32] courier-new commented on #38124
Possibly related: https://github.com/sourcegraph/sourcegraph/issues/37261

[2022-07-05 17:33] #35817 closed

[2022-07-05 17:55] AlicjaSuska commented on #37923
All comments in Figma resolved, ready for dev.

[2022-07-05 17:55] #37923 closed

[2022-07-05 18:00] jasongornall commented on #24125
cc @taylorsperry I would probably put this as a p3 priority.

[2022-07-05 18:00] jasongornall commented on #24125
p3 = nice to have but not urgent. can work on when you have free time

[2022-07-05 18:28] #27386 closed

[2022-07-05 18:41] vovakulikov commented on #38236
cc @sourcegraph/frontend-platform this actually seems like a generic problem around form management. At the moment we don't have anything in the wildcard about form management (we have some form components but most of them are about UI rather than form management)

Do you have "form management" issue in your roadmap or plans?

[2022-07-05 18:42] limitedmage commented on #35150
Since the sidebar is meant as extra help to use screen real estate when available, and all functionality of the sidebar is non-essential (the notebook can be scrolled instead), I think it's OK to not address this. @benvenker @almeidapaulooliveira please reopen and assign design resourcing if you disagree.

[2022-07-05 18:42] #35150 closed

[2022-07-05 19:02] sourcegraph-bot-2 commented on #38035
Heads up @sourcegraph/iam - the "team/iam" label was applied to this issue.

[2022-07-05 19:03] sourcegraph-bot-2 commented on #37454
Heads up @sourcegraph/iam - the "team/iam" label was applied to this issue.

[2022-07-05 19:05] sourcegraph-bot-2 commented on #35751
Heads up @sourcegraph/iam - the "team/iam" label was applied to this issue.

[2022-07-05 19:06] subercui commented on #36417
Yeah, I'm using my personal account to add private repos. However, I can't see the "host connections" tab in the sidebar navigation.

Following this link https://docs.sourcegraph.com/code_search/how-to/adding_repositories_to_cloud

[2022-07-05 20:55] coury-clark commented on #37968
@leonore Its up to you. If its easier to break it out into a separate issue that works! End goal is to remove all of these code paths in addition to the setting option (deprecate it).

[2022-07-05 21:10] sourcegraph-bot-2 commented on #34939
Heads up @sourcegraph/iam - the "team/iam" label was applied to this issue.

[2022-07-05 21:10] ryphil commented on #34939
Closing this ticket as this work has been paused for Q2FY23.

For Sourcegraph employees, the latest proposal can be found [here](https://docs.google.com/document/d/1-FhtXfIAJJp6Tfcgp4-U1wQ6vRzXDSRhxRQgf562rJE/edit).

[2022-07-05 21:10] #34939 closed

[2022-07-05 21:11] limitedmage commented on #35684
I no longer see any color contrast errors on the Notebook page, changes may have been made that fixed it (eg. new syntax highlighting theme).

[2022-07-05 21:11] #35684 closed

[2022-07-05 21:12] limitedmage commented on #35736
@almeidapaulooliveira Can you help choose more appropriate colors here? Thanks!

[2022-07-05 21:12] sourcegraph-bot-2 commented on #34938
Heads up @sourcegraph/iam - the "team/iam" label was applied to this issue.

[2022-07-05 21:12] ryphil commented on #34938
Closing this ticket as this work has been paused for Q2FY23.

For Sourcegraph employees, the latest proposal can be found [here](https://docs.google.com/document/d/1-FhtXfIAJJp6Tfcgp4-U1wQ6vRzXDSRhxRQgf562rJE/edit).

[2022-07-05 21:12] #34938 closed

[2022-07-05 21:14] ryphil commented on #34934
Over the past month, we’ve organically added support for filtering users by [github teams](https://docs.sourcegraph.com/admin/auth#how-to-control-user-sign-up-and-sign-in-with-github-auth-provider), [gitlab groups and subgroups](https://docs.sourcegraph.com/admin/auth#how-to-control-user-sign-up-and-sign-in-with-github-auth-provider) and [SAML group membership](https://docs.sourcegraph.com/admin/a

[2022-07-05 21:14] #34934 closed

[2022-07-05 21:14] sourcegraph-bot-2 commented on #34934
Heads up @sourcegraph/iam - the "team/iam" label was applied to this issue.

[2022-07-05 21:21] fkling opened #38254 "Suggestion snippets and Tab"
When selecting a suggestion that inserts a snippet, tabbing out of the last placeholder should place the cursor after the current filter. Instead it causes the query input to loose focus.

https://user-images.githubusercontent.com/179026/177418881-885d9b43-cd73-4293-8f35-610dbea2a62f.mp4

[2022-07-05 21:22] sourcegraph-bot-2 commented on #38254
Heads up @benvenker @lguychard - the "team/search-product" label was applied to this issue.

[2022-07-05 21:23] jplahn commented on #36417
Thanks for the info @subercui

We recently decided to sunset user-added repositories on [Sourcegraph.com](http://sourcegraph.com/), which is why new repositories can’t be added at the moment. [Sourcegraph.com](http://sourcegraph.com/) will still support searching our open source code index, and if you’d like a way to search private repositories for free, we recommend setting up a [local install of

[2022-07-05 21:28] limitedmage commented on #35179
I don't think this one is such a big deal as you can use the arrow keys and then shift-tab to go to the previous block's menu. For screen reader users, they can navigate to the menu via the forms list. If you have a better idea on how to do this for keyboard-but-not-screen-reader users let me know.

I'll go ahead and fix the other issues.

[2022-07-05 21:33] BolajiOlajide commented on #37842
Hello @NiklasRosenstein ,

Thanks for raising this issue. We're currently looking into this and will have a fix for it out soon.
Thanks

[2022-07-05 21:51] bobheadxi opened #38260 "dev/sg: commands and commandset descriptions"
Idea - allow providing a `description` field on commands and commandsets for those that might be helpful with a bit more detail. Output should go to:

- help text
- generated documentation

[2022-07-05 21:53] #38254 closed

[2022-07-05 22:07] rvantonder commented on #11236
@ssbarnea hey, sorry for the late reply. We have some new tooling that could help with that (it's not easily possible inside only the search window). What would help is knowing whether you are using Sourcegraph.com or a different instance?

To give you an example, here's an external site that uses the tooling:

[codestat.dev example counting `package.json` per repository](https://codestat.dev/expl

[2022-07-05 22:28] vovakulikov opened #38262 "Wildcard: Menu button component has bad performance and glitching"
## Background

On the dashboard code insights page we render a lot of insight cards, each card renders a menu button component within the card. This means we render a lot of menu buttons at the same time and since [this PR](https://github.com/sourcegraph/sourcegraph/pull/36915) we always render the menu button content elements even if they're not visible (when the menu button isn't open). This inc

[2022-07-05 22:28] sourcegraph-bot-2 commented on #38262
Heads up @taylorsperry @jasongornall - the "team/frontend-platform" label was applied to this issue.

[2022-07-05 22:36] christinelovett opened #38263 "Federation is broken"
- **Sourcegraph version:** 3.40.2
- **Platform information:** Docker Compose on AWS EC2

#### Steps to reproduce:

1. Set `disablePublicRepoRedirects` to False in Site Config
2. Search repo:^github\.com/kubernetes/kubernetes on a private instance

#### Expected behavior:

When searching a public repo available on sourcegraph.com but not indexed on your private Sourcegraph, you would expect to sear

[2022-07-05 22:37] sourcegraph-bot-2 commented on #38263
Heads up @jplahn - the "team/repo-management" label was applied to this issue.

[2022-07-06 00:05] #37794 closed

[2022-07-06 01:53] unknwon commented on #37806
The conclusion is that we are going to remove access token creation from OSS and the Free version (i.e. require a valid license).

[2022-07-06 01:53] #37806 closed

[2022-07-06 02:04] unknwon opened #38267 "Gate access token creation in OSS and Free versions"
Currently, in the user settings page, there is the **Access tokens** page to CRUD access tokens that is used to interact with our GraphQL API outside our web app.

![CleanShot 2022-07-06 at 10 00 44@2x](https://user-images.githubusercontent.com/2946214/177451639-45aac885-06ac-4f1a-a788-11ef134dfffd.png)

We want to:
1. Disable the creation capability when there isn't a valid license supplied in th

[2022-07-06 02:04] unknwon commented on #37806
Issue for the actual eng work: https://github.com/sourcegraph/sourcegraph/issues/38267

[2022-07-06 02:04] sourcegraph-bot-2 commented on #38267
Heads up @sourcegraph/iam - the "team/iam" label was applied to this issue.

[2022-07-06 02:37] unknwon commented on #38035
Hey @ammarove, could you elaborate what exact problem you're trying to solve in the Sourcegraph? Is adding a GitLab code host connection in the site admin area not working?

Side: @jplahn Isn't this for repo mgmt?

[2022-07-06 02:47] unknwon commented on #35751
Relevant code: https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/blob/cmd/frontend/auth/auth.go?L74:6&subtree=true

[2022-07-06 03:04] subercui commented on #36417
Thanks a lot @jplahn . Sorry, I didn't notice that.

[2022-07-06 03:41] Joelkw opened #38269 "Insights: datapoint click to diff search dates are wrong dates"
See [this insight](https://demo.sourcegraph.com/insights/insight/aW5zaWdodF92aWV3OiIyNWN5b1BZeWFLSVdmVllXeGRqTmtUYTl2Um4i) and [this loom ](https://www.loom.com/share/3c6b170cf7624c5aaa90349fe6166cc6).

They are wrong in 2 ways:
1. Sometimes the correct date for the before/after field, but then also it's repeated for the other field (so the time window is 0 and I get 0 results)
2. Sometimes totall

[2022-07-06 03:42] sourcegraph-bot-2 commented on #38269
Heads up @joelkw @felixfbecker @vovakulikov @unclejustin - the "team/code-insights" label was applied to this issue.

[2022-07-06 03:44] Joelkw opened #38270 "insights: you must click 3+ times on a datapoint to get it to recognize your click"
On the single-page view. See [this insight](https://demo.sourcegraph.com/insights/insight/aW5zaWdodF92aWV3OiIyNWN5b1BZeWFLSVdmVllXeGRqTmtUYTl2Um4i) and [this loom ](https://www.loom.com/share/3c6b170cf7624c5aaa90349fe6166cc6).

Maybe our click radius is just too small and I was missing it? Not sure.

[2022-07-06 03:44] sourcegraph-bot-2 commented on #38270
Heads up @joelkw @felixfbecker @vovakulikov @unclejustin - the "team/code-insights" label was applied to this issue.

[2022-07-06 05:37] Joelkw commented on #37785
@vovakulikov  do we own regressions for codemirror work or do we need to just flag this to the search team?

[2022-07-06 08:00] fkling commented on #33629
This was done in https://github.com/sourcegraph/sourcegraph/pull/33814

[2022-07-06 08:00] #33629 closed

[2022-07-06 08:10] vdavid commented on #38144
Suggestion from two people on marketing: "with". Going with "with"! Thanks a lot, @jjinnii, for bringing this up! :)

[2022-07-06 08:19] macraig commented on #14856
@jplahn @jasongornall I think this is either frontend or code intel as it's part of code navigation?

[2022-07-06 08:53] ryankscott opened #38275 "Code ownership"

[2022-07-06 09:11] philipp-spiess opened #38276 "JetBrains: Keyboard events are sometimes ignored on Ubuntu"
Feedback from customer:

I tried to ask them to manually click inside the input but:

[code]

GoLand 2022.1.3

[2022-07-06 09:11] sourcegraph-bot-2 commented on #38276
Heads up @muratsu @jjinnii @ryankscott - the "team/integrations" label was applied to this issue.

[2022-07-06 09:35] #30815 closed

[2022-07-06 09:36] malomarrec commented on #30801
This is not relevant anymore, as Cloud = MIs and Batch Changes is already supported on MIs

[2022-07-06 09:36] #30801 closed

[2022-07-06 09:54] malomarrec opened #38278 "Outgoing hooks for Batch Changes"
#### Problem

One of the main problem that Batch Changes solves for users is making sure large campaigns with many changesets get merged efficiently, with minimal work from the batch change creator.
A key step to get there is to make sure repo owners are aware of the changes, in their context. Customers have a very heterogenous set of tooling and practices to make that happen: Jira, a custom tool,

[2022-07-06 10:00] vdavid opened #38279 "JetBrains: Changing the theme renders our popup panda-style"
I think this is a side-effect of the DialogWrapper change.
Upon theme change, the JCEF component re-renders, but the popup doesn't, so it looks like this:

![CleanShot 2022-07-06 at 11 57 55@2x](https://user-images.githubusercontent.com/2552265/177524726-66150ca1-0e4e-4aee-bef3-d433f89f81de.png)

[2022-07-06 10:08] mrnugget commented on #14856
Pinging @benvenker here, since he now owns core workflow, and I think this is part of the core workflow. I'm personally less interested in finding out who officially owns it, but rather: is it low or high priority (Ben decides) and if it's high priority, who can fix it?

[2022-07-06 10:20] vdavid commented on #36783
@jjinnii I think we're in agreement!

Absolutely!

Two thoughts about this:

- If [sourcegraph.com](sourcegraph.com) keeps on working for OSS (and if I understood correctly, this is still the goal for the company), then first-time runs without a token **will** work, and they won't see the validation error.
- Probably, most users will set up the token when they see the new [notification](https://sh

[2022-07-06 11:21] #38150 closed

[2022-07-06 11:22] #37689 closed

[2022-07-06 11:27] #37998 closed

[2022-07-06 11:48] tjdevries commented on #38009
(I think this title is confusing haha)

[2022-07-06 12:06] #37842 closed

[2022-07-06 12:18] philipp-spiess opened #38288 "JetBrains: Search input overflows"
We need to set a max-width somewhere to prevent the search input from overflowing like this:

https://user-images.githubusercontent.com/458591/177548333-bf2f3ecd-d83e-44d6-b78b-af82ceb0d44b.mov

[2022-07-06 12:19] sourcegraph-bot-2 commented on #38288
Heads up @muratsu @jjinnii @ryankscott - the "team/integrations" label was applied to this issue.

[2022-07-06 12:36] jhchabran opened #38291 "Sort out how to deal with GKE updates as we turned them off for the buildkite cluster"
Context:

- https://github.com/sourcegraph/devx-scratch/blob/main/2022/support/log.snb.md?rgh-link-date=2022-07-06T11%3A58%3A19Z#2022-07-05
- https://sourcegraph.slack.com/archives/C01N83PS4TU/p1657100536366069
- https://github.com/sourcegraph/infrastructure/pull/3624

As those are now manual, we'll need to upgrade those on our own time.

Openers to dig into this:

- What happens if we don't do th

[2022-07-06 12:40] jhchabran opened #38292 "GCloud Monitoring Alerts from the CI should end up in ops-genie"
Unless you're staring at Slack, it's easy to miss those alerts https://sourcegraph.slack.com/archives/C039KBLH65V/p1657097673474229

Were they wired to Ops-Genie, we would have a faster reaction time.

@quinnhare assigning you here as a way to put this on your radar.

[2022-07-06 12:45] sourcegraph-bot-2 commented on #38120
Heads up @sourcegraph/cloud - the "team/cloud" label was applied to this issue.

[2022-07-06 13:07] #35818 closed

[2022-07-06 13:38] vdavid opened #38293 "JetBrains: Open first content search result when clicking a header"
When I click the red areas here, nothing happens (see the screenshot or this [20-sec video](https://www.loom.com/share/eff29d97feee40d8aaf3ff1506f2a2ed)):

![CleanShot 2022-07-06 at 15 36 32@2x](https://user-images.githubusercontent.com/2552265/177563174-d941a199-3977-4c91-831a-39d916028070.png)

My expectation would be to select the first item under the clicked header.

[2022-07-06 13:49] leonore commented on #37868
I guess my question to you then @coury-clark is how the tool for `QueueSnapshot` and `QueueRecording` would be any different from simply exporting our existing `enqueue` function?

I've opened a PR (#38294) that has a fix for this, and I went around the queuing operation by exporting `InsightEnqueuer` and its `Enqueue` (and derived `EnqueueSingle`) function. we can move discussion there if there's

[2022-07-06 13:52] fkling commented on #36327
I think we overwrite Tab key behavior in the search query input to navigate out of it. CodeMirror actually intentionally doesn't "trap" Tab by default and even has a section in the documentation about it: https://codemirror.net/examples/tab/

So this might not be an issue anymore if we switch to CodeMirror completely, though given the complex setup for the batch changes and settings editors I don'

[2022-07-06 13:56] #37397 closed

[2022-07-06 13:58] fkling commented on #29937
I have a PR to fix this for CodeMirror. I don't think it makes sense to still do this for Monaco?

[2022-07-06 14:00] fkling commented on #19469
@rvantonder Which escape sequences are valid? Only `\"` and `\\`?

[2022-07-06 14:02] philipp-spiess opened #38296 "JetBrains: Searching times out"
c.f. https://sourcegraph.slack.com/archives/C035WT8V856/p1657114616088639

A customer complained that search is timing out. They seem to be on `3.40.2`.

[2022-07-06 14:03] sourcegraph-bot-2 commented on #38296
Heads up @muratsu @jjinnii @ryankscott - the "team/integrations" label was applied to this issue.

[2022-07-06 14:10] leonore commented on #37782
we should take #38141 into account when fixing this

[2022-07-06 14:16] #37343 closed

[2022-07-06 14:28] daxmc99 commented on #34539
Completed

[2022-07-06 14:36] #38276 closed

[2022-07-06 15:23] umpox commented on #36350
Re-opening this.

We have had to revert due to performance issues when using this change with our rendering logic (https://github.com/sourcegraph/sourcegraph/pull/38298)

Will keep this open and aim to address this problem further.

[2022-07-06 15:37] #38296 closed

[2022-07-06 15:44] macraig opened #38302 "Scip-python GA"
Launch scip-python which includes:
- https://github.com/sourcegraph/sourcegraph/issues/33663
- https://github.com/sourcegraph/sourcegraph/issues/33682
- https://github.com/sourcegraph/sourcegraph/pull/37983
- https://github.com/sourcegraph/about/issues/5312

Tracking issue:
https://github.com/sourcegraph/scip-python/issues/43

[2022-07-06 15:46] #38262 closed

[2022-07-06 15:54] vovakulikov commented on #37785
@Joelkw I'm not sure who is a proper owner of this actually. In my opinion, we do need to have this query-like component inside of wildcard so the @sourcegraph/frontend-platform should have this component in their scope, from the other side Sourcegraph search team and @fkling does a lot of things in terms of migration from Monaco to CodeMirror.

I ended up with a quick fix here https://github.com/

[2022-07-06 15:56] macraig opened #38303 "Scip-ruby GA"

[2022-07-06 16:02] fkling commented on #37785
@Joelkw, @vovakulikov I'm happy to take care of any regressions related to CodeMirror.

[2022-07-06 16:05] unclejustin opened #38304 "Code Insights: have to click multiple times on line charts"
When viewing a line chart, sometimes multiple clicks are needed to actually open the URL.

This is probably related to how we have to re-shuffle the line series SVGs to make the currently hovered series "on top" of the others. This is because SVGs do not recognize z-index. So we have to actually re-order the dom and put the hovered series last for it to render on top.

[Related Loom](https://www.l

[2022-07-06 16:06] sourcegraph-bot-2 commented on #38304
Heads up @joelkw @felixfbecker @vovakulikov @unclejustin - the "team/code-insights" label was applied to this issue.

[2022-07-06 16:09] unclejustin opened #38305 "Code Insights: dates on series sometimes incorrect"
When clicking the data points on some series, the before and after dates are incorrect.

These dates are [created here](https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/blob/client/web/src/enterprise/insights/core/backend/gql-backend/methods/get-built-in-insight-data/get-search-insight-content.ts?L101:17&subtree=true).

We are creating the "after" date by using `date-fns.sub` to subtra

[2022-07-06 16:10] sourcegraph-bot-2 commented on #38305
Heads up @joelkw @felixfbecker @vovakulikov @unclejustin - the "team/code-insights" label was applied to this issue.

[2022-07-06 16:12] unclejustin opened #38306 "Code Insights: improve testing for Line Charts"
We are having multiple bugs creeping up with line charts. The complexity has grown such that manual testing can no longer cover every scenario. We need to identify all of the possible states and add unit testing for these issues.

Related issues that should have been caught:

- https://github.com/sourcegraph/sourcegraph/issues/38304
- https://github.com/sourcegraph/sourcegraph/issues/38305

[This

[2022-07-06 16:13] sourcegraph-bot-2 commented on #38306
Heads up @joelkw @felixfbecker @vovakulikov @unclejustin - the "team/code-insights" label was applied to this issue.

[2022-07-06 16:15] #37868 closed

[2022-07-06 16:48] #38305 closed

[2022-07-06 17:11] jasongornall opened #38310 "Skip chrome extension errors in sentry"
#### Feature request description

https://sentry.io/organizations/sourcegraph/issues/3398084109/?project=1391511&referrer=slack
Example sentry error. Anything from a chrome extension we should just ignore.

#### Is your feature request related to a problem? If so, please describe.

Way too much noise from random chrome extensions. We should opt in to recording errors from chrome extension on a cas

[2022-07-06 17:11] sourcegraph-bot-2 commented on #38310
Heads up @taylorsperry @jasongornall - the "team/frontend-platform" label was applied to this issue.

[2022-07-06 17:40] LawnGnome commented on #36327
It's a tough one, because I can also see tab being a requirement to really use the Batch Changes editor, given YAML. Could we somehow surface ^M in the UI for keyboard users?

[2022-07-06 17:44] #35670 closed

[2022-07-06 17:44] #35678 closed

[2022-07-06 17:44] #35681 closed

[2022-07-06 17:58] ryankscott opened #38316 "Move "go imports search" to core workflow"
As we move to bringing extensions to the core workflow we need to identify and migrate the most used extensions to core functionality. The "go imports search" is the most used extension (by users) and one of the most used by servers.

The extension makes it easier to search all files using a Go package by creating a new operator `go.imports:()` and replaces the significantly longer search query re

[2022-07-06 18:09] ryankscott opened #38317 "Move code-intel features to core workflow"
As we focus on moving extensions to the core workflow, we need to migrate our code intel features as they are currently built on top of our extension framework.

This will also provide some auxiliary benefits for onboarding air-gapped customers who currently require an elaborate workaround to use code intelligence features.

[2022-07-06 18:10] kalanchan commented on #13300
@daxmc99 @rafax do you have any updates to this? Also, can we remove the @sourcegraph/dev-experience label as this is an org wide issue?

[2022-07-06 18:13] abeatrix opened #38320 "Resource Estimator: Export results as overrides/overlays files"
Milestone 6 in mini-SDD: Resource Estimator Improvements

[Product] Scoping/discovery work to understand what this looks like
Helm (single file) or docker compose overrides/overlays

[2022-07-06 18:22] ryankscott opened #38324 "Code ownership (Milestone 2 - ownership supported by other products (e.g. Batch Changes and Code Insights))"
Often when working with code you want to know who owns it so that you can ask how the code works, why it was written this way and also who to request or notify about any changes. Examples of this range across all of our products from knowing who to contact to resolve a vulnerable dependency to aggregating PR information across teams.

We want to add the capability to calculate, ingest, store and s

[2022-07-06 18:26] benvenker opened #38326 "Consider queueing queries when using "run all" in notebooks"
User on managed instance said on large notebooks (with lots of structural searches as well) all the searches kick off at the same time and all ultimately fail.

Can we put them in a queue of some kind? I thought we already were but I might be misremembering.

[2022-07-06 18:26] sourcegraph-bot-2 commented on #38326
Heads up @benvenker @lguychard - the "team/search-product" label was applied to this issue.

[2022-07-06 19:46] rvantonder commented on #11236
@ssbarnea cool, well, [here's a similar query for `pyproject.toml`](https://codestat.dev/explorer?q=repo%3Agithub%5C.com%2F%20content%3Aoutput(.*%20-%3E%20%24repo)%20file%3Apyproject.toml%20count%3Aall%20type%3Apath&t=table&dp=10000). It will time out after 60 seconds (so it doesn't run forever, as a guard, though could be modified to run longer). And it does probably cover the vast majority of po

[2022-07-06 19:46] CristinaBirkel opened #38329 "insights: Add a background process to calculate backfill_completed_at"
RFC: https://docs.google.com/document/d/1pCoMsWWinaigBktIBeI4g5hnXU2LDivpzLqQ_gjtbeg/edit#

This issue is to do the first step of the work in the RFC.

1. Add a new column to the schema for the `insight_series` table for `backfill_completed_at`.
2. Create a new background process that runs once ever few hours and queries the `insight_query_runner_jobs` table to see if any series have finished back

[2022-07-06 19:48] CristinaBirkel opened #38330 "insights: Add pings for series backfilling"
RFC: https://docs.google.com/document/d/1pCoMsWWinaigBktIBeI4g5hnXU2LDivpzLqQ_gjtbeg/edit#
Depends on: https://github.com/sourcegraph/sourcegraph/issues/38329

Once the `backfill_completed_at` fields are being populated, we can use that to calculate the pings in the RFC.
[code]

[2022-07-06 19:49] sourcegraph-bot-2 commented on #38330
Heads up @joelkw @felixfbecker @vovakulikov @unclejustin - the "team/code-insights" label was applied to this issue.

[2022-07-06 20:13] efritz commented on #38317
If we migrate completely to the new reference panel we will no longer need the extensions. cc @macraig

[2022-07-06 21:21] #33688 closed

[2022-07-06 21:45] varungandhi-src opened #38339 "Provide more information in error message 'No such LSIFUpload'"
A customer reported performing an upload and running into an error 'No such LSIFUpload' in the UI. I see a couple of places in the code which emit this error:

[code]

1. It would be helpful to provide more context around what happened here. Was the commit missing? The error wording is confusing, because the user literally just performed an upload. What is the 'such' referring to?
2. We should pro

[2022-07-06 22:01] daxmc99 commented on #32568
Closed part of https://github.com/sourcegraph/sourcegraph/issues/37568

[2022-07-06 22:01] #32568 closed

[2022-07-06 22:03] daxmc99 commented on #650
We are removing Datadog tracing to focus on OpenTelemetry https://github.com/sourcegraph/sourcegraph/issues/27386

[2022-07-06 22:03] #650 closed

[2022-07-06 22:04] daxmc99 commented on #26570
We are sunsetting all usage of Datadog https://github.com/sourcegraph/sourcegraph/issues/27386

[2022-07-06 22:39] bobheadxi commented on #33183
This is still disabled: https://sourcegraph.sourcegraph.com/github.com/sourcegraph/sourcegraph/-/blob/.golangci.yml?L6-7

[2022-07-06 22:47] bobheadxi commented on #37460
I thought it would require a code change but then I just remembered it's only a schedule. I disabled it here: https://buildkite.com/sourcegraph/sourcegraph/settings/schedules/60918fd2-53ac-4877-bbcf-17e0a906fd5b

[2022-07-06 22:47] #37460 closed

[2022-07-06 22:48] cconcannon opened #38341 "link to docs is broken when hovering over structural hole (<a href="#">)"
- **Sourcegraph version:** 3.41.0
- **Platform information:** Chrome 103 on MacOS 12.4

#### Steps to reproduce:

1. structural search with a structural hole, hover over the queried hole to view the tooltip, click the `syntax reference` link

![search_bug](https://user-images.githubusercontent.com/16453494/177655744-a4ee2f5b-c4d7-4860-9f15-06e27260ffd7.png)

#### Expected behavior:

I expect the r

[2022-07-06 23:33] vovakulikov commented on #35387
@chwarwick do we have an issue for tracking lang stats insight migration from the FE just in time to the backend GQL resolver?

I know that I've been talking about it for quite some time but I want to mention it again, as long as we have to handle at least one  FE (just in time) insight on the frontend we still have a big tech complexity around insight types and they execution types. This means we

[2022-07-06 23:49] vovakulikov opened #38344 "Code Insights: Support new compute powered insight type on the standalone insight page"
## Background

Since we're going to have another insight type on the frontend - compute-powered insight type we should support it on the standalone insight page, this means we should

- support rendering different types of chart (groped bar chart)
- handle insight filters when we open the page with compute-powered insight (hide sort and limit filter section)
- handle context menu based on type cha

[2022-07-06 23:50] sourcegraph-bot-2 commented on #38344
Heads up @joelkw @felixfbecker @vovakulikov @unclejustin - the "team/code-insights" label was applied to this issue.

[2022-07-06 23:51] taylorsperry opened #38345 "Client flakes: low-hanging fruit"
## Problem to solve

We’ve heard from our teammates that confusion around frontend tests is a major pain point and it’s gotten significantly worse in Q2. In response, we’re working with DevX to identify low-hanging fruit around frontend testing that allows us to deliver fast, high-value impact to other engineers at Sourcegraph. These efforts will save our teammates time, improve confidence in our

[2022-07-06 23:52] sourcegraph-bot-2 commented on #38345
Heads up @taylorsperry @jasongornall - the "team/frontend-platform" label was applied to this issue.

[2022-07-06 23:57] bobheadxi opened #38346 "DevX proposal: release tool rewrite tracking issue"
TODO

### Tracked issues

#### Legend

- 👩 Customer issue
- 🐛 Bug
- 🧶 Technical debt
- 🎩 Quality of life
- 🛠️ [Roadmap](https://handbook.sourcegraph.com/departments/product-engineering/process/planning-process#roadmap)
- 🕵️ [Spike](https://en.wikipedia.org/wiki/Spike_(software_development))
- 🔒 Security issue
- 🙆 Stretch goal

[2022-07-07 00:01] bobheadxi commented on #25768
Closing this as done!

[2022-07-07 00:01] #25768 closed

[2022-07-07 00:02] bobheadxi commented on #25348
Closing this as done!

[2022-07-07 00:02] #25348 closed

[2022-07-07 00:12] #37867 closed

[2022-07-07 00:12] kalanchan opened #38347 "DevX: Q2B2 GCP cost savings"
### Problem
Dotcom and preprod were largely over provisioned as at the time multi-tenancy was the prioritized strategy for Sourcegraph. Now that Cloud (Single tenancy) is the new strategy, there is a huge opportunity to tune our infrastructure for cost and performance.

### Scope
An [GCP spend analysis](https://docs.google.com/document/d/1FQScUkS6fyBfW__dG0WiHmXH6-Fl_4zWwMTY9IWASSI/edit#) has been

[2022-07-07 00:16] bobheadxi commented on #34795
cc @jhchabran is this issue valid do you think? All of this is being taken care of via the Sentry integration, with no real action required other than migrating to the new logging library?

[2022-07-07 00:17] #37704 closed

[2022-07-07 00:23] DaedalusG opened #38348 "Password reset link to auto populate username signin field"
#### Feature request description

When a user is sent a password reset link, the link navigates to a form that doesn't display a username, after submitting the password reset form they are redirected to the Sourcegraph instances login screen, however, the new login screen is unpopulated. The login page should auto populate the form with the correct username, and the initial reset link page should

[2022-07-07 01:10] CristinaBirkel opened #38352 "insight: Set compute series to type mapping-compute when created"
Right now when the `createLineChartSearchInsight` endpoint is used to create a compute insight, (which is how we're doing it for v1 to save time,) it doesn't set the series to use `generation_method` of `mapping-compute`. Small oversight but needs to be fixed so that the right generation method gets used to backfill the series.

[2022-07-07 01:10] sourcegraph-bot-2 commented on #38352
Heads up @joelkw @felixfbecker @vovakulikov @unclejustin - the "team/code-insights" label was applied to this issue.

[2022-07-07 02:50] #37918 closed

[2022-07-07 04:00] benvenker opened #38362 "Simplify and improve the core workflow"

[2022-07-07 04:06] benvenker opened #38363 "Smart search"
Smart search effectively eliminates the “no results” problem users often have when they first encounter our literal search default. Lucky search intercepts the user input and pipes it through a rules engine that generates multiple alternative interpretations in valid Sourcegraph query syntax, virtually guaranteeing the user at least gets back results. Today, It runs these alternative queries autom

[2022-07-07 04:12] sourcegraph-bot-2 commented on #38363
Heads up @benvenker @lguychard - the "team/search-product" label was applied to this issue.

[2022-07-07 04:15] sourcegraph-bot-2 commented on #37729
Heads up @benvenker @lguychard - the "team/search-product" label was applied to this issue.

[2022-07-07 04:17] benvenker opened #38365 "Competing search tool query language parity"
## Improved search syntax
Continued implementation of items in [RFC 675 REVIEW: Default search and query syntax additions](https://docs.google.com/document/d/1KebTihO_jrPcLblgeT4X428kfgs42NkFz_3kCr8bT0M/edit?usp=sharing) to increase our parity with other code search tools that users are likely to be familiar with, such as OpenGrok and GitHub.

### Standard mode
- https://github.com/sourcegraph/sou

[2022-07-07 04:19] sourcegraph-bot-2 commented on #38365
Heads up @benvenker @lguychard - the "team/search-product" label was applied to this issue.

[2022-07-07 04:31] benvenker opened #38366 "Metadata searching"
This work consists of three parts:

## Streamline existing search predicates.
  → increase performance and usability
  → deprecate “rotten” search features/syntax

### Why?
Even though it can solve many customer issues [[example](https://github.com/sourcegraph/customer/issues/1079#issuecomment-1162271222)], we can’t recommend this feature with confidence because of performance issues. It also unlo

[2022-07-07 04:33] sourcegraph-bot-2 commented on #38366
Heads up @benvenker @lguychard - the "team/search-product" label was applied to this issue.

[2022-07-07 04:35] benvenker opened #38367 "Streamline existing search predicates"

[2022-07-07 04:35] sourcegraph-bot-2 commented on #38367
Heads up @benvenker @lguychard - the "team/search-product" label was applied to this issue.

[2022-07-07 04:35] benvenker opened #38368 "Make it possible to search over repository descriptions"

[2022-07-07 04:35] sourcegraph-bot-2 commented on #38368
Heads up @benvenker @lguychard - the "team/search-product" label was applied to this issue.

[2022-07-07 04:40] Joelkw commented on #37345
Is it safe to close this issue given @chwarwick 's comment above, @sourcegraph/code-insights-backend ?

[2022-07-07 04:42] Joelkw commented on #38270
@unclejustin safe to close this as a duplicate of https://github.com/sourcegraph/sourcegraph/issues/38304 then?

[2022-07-07 04:43] Joelkw commented on #38269
Thanks @vovakulikov . How about we leave this open until we resolve the second issue you linked and verified that solved the problem?

[2022-07-07 04:48] valerybugakov opened #38370 "ci/flake: E2E `Theme switcher` disabled"
### Test

https://github.com/sourcegraph/sourcegraph/blob/18c0a74db16d3dba470d46950d4b09b02ba99e77/client/web/src/end-to-end/frontend-platform/theme-switcher.test.ts#L36

### Example failure

https://buildkite.com/sourcegraph/sourcegraph/builds/158869#0181d685-2ddd-48e9-84b0-2a3e16ed7f1f

### Disabling PR

https://github.com/sourcegraph/sourcegraph/pull/38369

### Additional details

_No response_

[2022-07-07 04:48] sourcegraph-bot-2 commented on #38370
Heads up @taylorsperry @jasongornall - the "team/frontend-platform" label was applied to this issue.

[2022-07-07 04:52] Joelkw opened #38371 "insights: only display trial expired modal after trial actually expires"
Right now, we may be displaying it before a trial has begun, or in any case when you don't have a code insights license.

<img width="889" alt="image" src="https://user-images.githubusercontent.com/11967660/177693993-cb93002a-c539-4d54-95b6-d9a4e2fb3b62.png">

[2022-07-07 04:52] sourcegraph-bot-2 commented on #38371
Heads up @joelkw @felixfbecker @vovakulikov @unclejustin - the "team/code-insights" label was applied to this issue.

[2022-07-07 06:00] unknwon opened #38372 "Verify if `enableGithubInternalRepovisibility` works as intended"
Context:

- https://github.com/sourcegraph/sourcegraph/pull/30329
- https://github.com/sourcegraph/sourcegraph/issues/25904
- https://github.com/sourcegraph/sourcegraph/issues/32032

/cc @sourcegraph/source

[2022-07-07 06:01] sourcegraph-bot-2 commented on #38372
Heads up @sourcegraph/iam - the "team/iam" label was applied to this issue.

[2022-07-07 06:03] sourcegraph-bot-2 commented on #38362
Heads up @benvenker @lguychard - the "team/search-product" label was applied to this issue.

[2022-07-07 07:03] Joelkw commented on #30822
Closing as this is no longer relevant given cloud shifts.

[2022-07-07 07:03] #30822 closed

[2022-07-07 07:06] Joelkw opened #38373 "Research + validate code insights for core dev workflow features"
Testing.

[2022-07-07 07:12] pjlast opened #38374 "UI/UX design for background permission syncing toggle"
Why someone would want to disable background permission syncing, or why background repo-permission syncing is disabled by default, can be a bit confusing. Clear customer communication is required here to make sure that they can make informed decisions on their own. Things they should be made aware of:

- It is impossible to give user's access to something that the user cannot access
- Conflict com

[2022-07-07 07:13] sourcegraph-bot-2 commented on #38374
Heads up @sourcegraph/iam - the "team/iam" label was applied to this issue.

[2022-07-07 07:28] Joelkw opened #38376 "[Placeholder] Code Insights for core dev workflow - implementation"
These will come from the outcome of #38373

[2022-07-07 07:32] ryankscott opened #38377 "Move “git extras” (i.e. git blame etc.) extension to core workflow"
- [x] https://github.com/sourcegraph/sourcegraph/issues/39433
- [x] https://github.com/sourcegraph/sourcegraph/issues/39437
- [x] https://github.com/sourcegraph/sourcegraph/issues/41314

[2022-07-07 07:32] ryankscott opened #38378 "Move “open in editor” extension to core workflow"
Useful links:

- [Figma](https://www.figma.com/file/7bVINrmqfDpxmLx3gv1uVa/Sunsetting-extensions?node-id=2117%3A22821)
- [Old repo](https://github.com/sourcegraph/open-in-editor-extension)
- [Doc](https://docs.google.com/document/d/1b-0Me_JPxUnnEmgcJp1s5C3Hk7g38c0jULMVvQrHyWI/edit#)

Tasks:

- [x] Figure out settings structure
- [x] Assemble supported IDE list
- [x] Create branch
- [x] Create URL

[2022-07-07 07:32] ryankscott opened #38379 "Move “search exports” extension to core workflow"

[2022-07-07 07:33] Joelkw commented on #33630
Update Jul 7 – this item is effectively complete but will move to "closed" once the release has actually been cut.

[2022-07-07 07:33] Joelkw commented on #33634
Update Jul 7 – this item is effectively complete but will move to "closed" once the release has actually been cut.

[2022-07-07 07:37] Joelkw opened #38380 "Document existing state of supporting large-scale customers"

[2022-07-07 07:45] ryankscott opened #38381 "Prevent authoring of new extensions"

[2022-07-07 07:49] #35318 closed

[2022-07-07 08:15] fkling opened #38384 "search: TypeScript search query scanner produces empty pattern tokens"
This happens when the query contains two consecutive closing grouping parenthesis, e.g. `(a or (b and c))`. The last three tokens will be

[code]

This does currently not pose a problem since they can also easily be filtered out, but this should be looked into eventually.

Scanner code: https://sourcegraph.com/github.com/sourcegraph/sourcegraph@fb1382e8b380b4aac14d82bf77601e90ac4c9ec9/-/blob/clien

[2022-07-07 09:03] #35263 closed

[2022-07-07 10:03] vdavid opened #38390 "JetBrains: Make browser UI style look more native"
The dropdowns are great now!
But I've found some significant differences in the UI that make the browser still feel out of place compared to the native UI.

I've tried to collect the biggest things I've spotted:
(The images on the left are the native ones, the ones on the right are ours)

1. Text selection color is different from the JetBrains native color:
<img width="237" alt="CleanShot 2022-07-

[2022-07-07 10:03] sourcegraph-bot-2 commented on #38390
Heads up @muratsu @jjinnii @ryankscott - the "team/integrations" label was applied to this issue.

[2022-07-07 10:05] vdavid commented on #38390
@jjinnii do you agree with Priority: Medium for these?

[2022-07-07 10:11] #38065 closed

[2022-07-07 10:17] macraig opened #38393 "Code intelligence API is consumable for other teams to build on"

[2022-07-07 10:19] #38393 closed

[2022-07-07 10:20] umpox commented on #35475
Closed through https://github.com/sourcegraph/sourcegraph/pull/38203

[2022-07-07 10:20] #35475 closed

[2022-07-07 10:28] #35705 closed

[2022-07-07 10:44] jjinnii commented on #38390
Yup agreed non-blockers to release!

[2022-07-07 10:56] benvenker opened #38395 "Compute foundations"

[2022-07-07 10:57] benvenker opened #38396 "SCIP <> search <> Compute integration"

[2022-07-07 11:19] eugeniaft opened #38397 "Improvements to ranking"
Currently, results are ranked by the number of stars in a repository and are subsequently ranked within each repository using [zoekt ranking](https://docs.sourcegraph.com/dev/background-information/architecture/indexed-ranking#result-ranking). We have heard from users that current ranking heuristics are not always effective, potentially leading users to spend time finding desired results, for inst

[2022-07-07 11:19] eugeniaft opened #38398 "Investigate improvements to memory usage of zoekt"
## Problem to solve

The amount of resources that zoekt uses is high as can be seen in our [resource estimator](https://docs.sourcegraph.com/admin/deploy/resource_estimator). This problem particularly affects customers with a large number of repos or with a large-sized repo, we have heard feedback from some customers about this in the past. Moreover, this is an issue that will become more relevant

[2022-07-07 11:19] sourcegraph-bot-2 commented on #38397
Heads up @sourcegraph/search-core - the "team/search-core" label was applied to this issue.

[2022-07-07 11:20] sourcegraph-bot-2 commented on #38398
Heads up @sourcegraph/search-core - the "team/search-core" label was applied to this issue.

[2022-07-07 11:22] #38154 closed

[2022-07-07 11:22] #38144 closed

[2022-07-07 11:26] macraig opened #38399 "Define time to intelligence and reduce it"

[2022-07-07 12:21] umpox commented on #35194
@efritz I think we now can close this, LMK if you disagree!

From my testing, the focus isn't lost (pressing tab then navigates to the next field available in the form). I think this is generally OK, AFAIK automatically navigating to a new control wouldn't be required here unless it was particularly relevant to the immediate action that was just performed.

This should now be fixed, the button has

[2022-07-07 12:21] #35194 closed

[2022-07-07 12:27] umpox commented on #35193
I think we can close this one, there's a lot of additional screen reader shortcuts that are intended to read text more naturally (e.g. [VoiceOver shortcuts](https://support.apple.com/en-gb/guide/voiceover/vo2706/mac)), and we probably shouldn't try to fight that too much.

I think for natural reading, a user would use something like read "From the VoiceOver cursor to the bottom". I tested this on

[2022-07-07 12:28] #35193 closed

[2022-07-07 12:39] umpox commented on #35191
@efritz Going to assign this one to GitStart, LMK if you disagree/have already worked on a fix!

@gitstart-sourcegraph I think giving this `aria-live="polite"` would be a sufficient change to notify users

[2022-07-07 12:40] macraig opened #38408 "Improve syntax highlighting observability and performance"

[2022-07-07 12:41] umpox commented on #35196
@efritz Going to assign this one to GitStart, LMK if you disagree/have already worked on a fix!

@gitstart-sourcegraph I think giving this `aria-live="polite"` would be a sufficient change to notify users

(sorry I posted this on the wrong issue before 😅 )

[2022-07-07 14:13] #35295 closed

[2022-07-07 14:43] taras-yemets commented on #38058
Thank you, @felixfbecker!
I'm on the same extension version and can reproduce it neither on file nor on diff views ([Loom](https://www.loom.com/share/c95a3ef2575546eb90c8cf1e785ccad3)).
Is it happening to you on all GitHub pages?

[2022-07-07 15:02] vovakulikov commented on #38270
@Joelkw I'm not sure that this one is a duplicate, because `before:` `after:` query filters problem is 100% sure about this issue https://github.com/sourcegraph/sourcegraph/issues/38304  but click 3+ times might be chart FE problem

[2022-07-07 15:03] benvenker opened #38417 "Hide homepage panels"
We shouldn't actually delete the code, we just want to hide the panels for now. We don't need to do anything in the UI to make them re-displayable. This should be the default, not behind the temporary setting.

[2022-07-07 15:05] vovakulikov commented on #37345
@sourcegraph/code-insights-backend can we put a filter functionality where we will remove all duplicates before we return data from the backend just to avoid problems like this one in the future?

[2022-07-07 15:05] sourcegraph-bot-2 commented on #38417
Heads up @benvenker @lguychard - the "team/search-product" label was applied to this issue.

[2022-07-07 15:07] coury-clark commented on #37345
@vovakulikov that already exists, but only works if the times are exactly the same. Otherwise, we have no way to identify if something is a duplicate without building a window function that is the minimum aggregate.

In general I'm still skeptical as to whether we understand the root cause here, and I'd recommend we leave it open and investigate more.

[2022-07-07 15:17] vovakulikov commented on #37345
@coury-clark but in this issue description we have the example of BE response where we have two points with exact same time values.
[code]

[2022-07-07 15:23] ryanslade opened #38419 "repo-updater: Provide API to sync a single repo"
We should provide a way internally to sync a single repo.

We do offer this already via the `SyncRepo` method but this is intended for .com only.

We should provide something similar for internal use. The only complication is deciding which
external service to use if the repo belongs to more than one. In most cases picking one at random is
probably fine.

This would for example help batch changes,

[2022-07-07 15:23] sourcegraph-bot-2 commented on #38419
Heads up @jplahn - the "team/repo-management" label was applied to this issue.

[2022-07-07 15:25] coury-clark commented on #37345
@vovakulikov That's why I'm saying we need to investigate this more 🙂

[2022-07-07 15:31] malomarrec commented on #38366
Are there any plans to allow users to add their own metadata to a repo (eg. in the form of tags, but could be anything)

[2022-07-07 15:33] malomarrec commented on #33703
Sounds like this will be greatly facilitated by [#33757](https://github.com/sourcegraph/sourcegraph/issues/33757)

[2022-07-07 15:34] coury-clark commented on #38024
Two tasks over two releases:
1. Mark the oob migration as deprecated in a specific version
2. Delete it

[2022-07-07 15:35] coury-clark opened #38420 "insights: mark settings oob migration as deprecated"
Set the deprecated field in the insights settings oob migration to $next_release.

[2022-07-07 15:36] sourcegraph-bot-2 commented on #38420
Heads up @joelkw @felixfbecker @vovakulikov @unclejustin - the "team/code-insights" label was applied to this issue.

[2022-07-07 15:36] bobheadxi opened #38421 "bk-job-dispatcher: operate multiple queues"
Right now the best way to operate a new queue, [for example a queue of more expensive nodes](https://sourcegraph.slack.com/archives/C01N83PS4TU/p1657204769799569) is to spin up a new buildkite-job-dispatcher instance pointed at a specific queue.

It might be nice to introduce a config format of sorts here that allows a single dispatcher to operate multiple queues types

[2022-07-07 15:46] coury-clark commented on #34659
Consider something similar to the new `backfill_attempts` as a lightweight way to add a failure threshold - if the series encounters X failures then terminally fail the entire series.

[2022-07-07 15:53] coury-clark opened #38424 "insights: filtering is broken"
Filtering isn't working on k8s

![CleanShot 2022-07-07 at 08 52 28](https://user-images.githubusercontent.com/5090588/177817384-920f98af-695c-404d-af37-9378d46d9a40.gif)

[2022-07-07 15:53] sourcegraph-bot-2 commented on #38424
Heads up @joelkw @felixfbecker @vovakulikov @unclejustin - the "team/code-insights" label was applied to this issue.

[2022-07-07 15:55] #37174 closed

[2022-07-07 15:55] coury-clark commented on #37174
Closing since this issue is ambiguously defined

[2022-07-07 15:56] coury-clark commented on #36873
@unclejustin I think this is done, can you confirm?

[2022-07-07 16:04] #34094 closed

[2022-07-07 16:04] #34085 closed

[2022-07-07 16:13] Numbers88s commented on #32293
Closed this one. Continuing discussion in https://github.com/sourcegraph/sourcegraph/issues/32294

[2022-07-07 16:13] camdencheek commented on #38366
"Plans" is a strong word, but I've been thinking about it along with the integrations team cc @muratsu @philipp-spiess

[2022-07-07 16:16] vovakulikov opened #38425 "Code Insights: Insight doesn't stop polling even if it's outside of visible viewport"
Follow up for https://github.com/sourcegraph/sourcegraph/pull/38252

[Orignal comment](https://github.com/sourcegraph/sourcegraph/pull/38252#discussion_r914216510) from @chwarwick

[2022-07-07 16:16] sourcegraph-bot-2 commented on #38425
Heads up @joelkw @felixfbecker @vovakulikov @unclejustin - the "team/code-insights" label was applied to this issue.

[2022-07-07 16:16] Numbers88s commented on #28903
Proposed Solution:

Display popover when there are definitions OR references. Currently if there are no definition we don't display the popover. Change so that it is display if def or refs are available.

[2022-07-07 16:24] vovakulikov commented on #38306
@unclejustin We also should consider adding tests for filter →← backend insight card interactions in order to prevent problems like this one https://github.com/sourcegraph/sourcegraph/issues/38424

[2022-07-07 16:38] vovakulikov opened #38427 "Code Insights: Active series is dimmed when you're hovering other series"
## Problem

We should always render active series with full colour when we're hovering over other series legend items.

Comment from @AlicjaSuska

https://user-images.githubusercontent.com/18492575/177825355-0c7c148b-c6e6-449e-aa3a-1769007263ad.mov

[2022-07-07 16:41] bobheadxi commented on #34795
I am closing this as unnecessary - in the backend, Sentry reporting is now done entirely via logging: https://docs.sourcegraph.com/dev/how-to/add_logging#automatic-error-reporting-with-sentry

This means that completing migrations for error reporting is simply completing the logging migration, which is a long-term background task we are tackling in https://github.com/sourcegraph/sourcegraph/issues

[2022-07-07 16:41] #34795 closed

[2022-07-07 16:43] bobheadxi commented on #33191
We are folding this into the more use-case-centric https://github.com/sourcegraph/product-engineering-tracker/issues/117 , which aims to improve developer feedback loops. Standardizing CI operations integrates with that because being able to reproduce CI issues locally is a core part of our overall CI strategy within improving the feedback loop.

cc @quinnhare @jhchabran

[2022-07-07 16:43] #33191 closed

[2022-07-07 16:58] coury-clark opened #38429 "placeholder issue for data pipeline project"
This is just a generic placeholder to represent some space of work for a data pipeline project.

[2022-07-07 17:04] #37173 closed

[2022-07-07 17:05] #37175 closed

[2022-07-07 17:13] Joelkw commented on #38270
Closing for #38304!

[2022-07-07 17:13] #38270 closed

[2022-07-07 17:18] Joelkw commented on #37345
Here is another case – 

Proposal: timebox this investigation to <0.5 day to see if we should continue pursuing this fix.

[2022-07-07 17:21] coury-clark opened #38433 "insights: test and release validation for compute"
Prepare for July release for compute feature.

[2022-07-07 17:21] sourcegraph-bot-2 commented on #38433
Heads up @joelkw @felixfbecker @vovakulikov @unclejustin - the "team/code-insights" label was applied to this issue.

[2022-07-07 17:57] #38424 closed

[2022-07-07 18:52] limitedmage commented on #34734
@almeidapaulooliveira can you suggest an appropriate color to use here? Thanks!

[2022-07-07 19:08] #38417 closed

[2022-07-07 19:28] varsanojidan commented on #35958
@sashaostrikov and I have determined that cause for the repo deletions not being reflected in Sourceegraph was due to the fact that the external_service syncer process got killed and was not running since around May 18th, as evidenced by the data in the external_service_sync_jobs table.

**After a repo-updater restart, the syncer process started up again and began removing the problematic deleted

[2022-07-07 21:01] taylorsperry opened #38438 "Consolidate action/create/extension buttons into one button"
Put actions related to search results in the existing "Create" button, and either rename it or give it an "action" icon type.

Remaining offending actions:
- Extensions buttons (ex: export to CSV)
- Save search
- Any extensions that create buttons in this area when activated

Per @paulo we'll create a generic three dot action button and segment out the action types as in the avatar dropdown.

See

[2022-07-07 21:02] taylorsperry commented on #38438
@benvenker I think this is probably FPT, but could you share a screen shot of which part of the app you're referencing?

[2022-07-07 21:06] taylorsperry commented on #38438
Oh oh oh, I think you're talking about this. Seems more like Search, but happy to help!

![Image](https://user-images.githubusercontent.com/43555476/177871358-402e7303-c34e-4281-837e-29918fdd9f24.png)

[2022-07-07 21:25] limitedmage commented on #21465
This is complete with the migration to CodeMirror and will be enabled for everyone soon.

[2022-07-07 21:25] #21465 closed

[2022-07-07 21:25] limitedmage commented on #21215
FYI @fkling

[2022-07-07 21:32] coury-clark opened #38439 "insights: force queries to use patternType:literal if not explicitly defined"
To temporarily preserve the semantic that queries default to `patternType:literal` after the [default changes to `patternType:standard`](https://github.com/sourcegraph/sourcegraph/pull/38141) we will mutate queries to be `patternType:literal` if they have no value set before queueing work.

Query builder code: https://sourcegraph.sourcegraph.com/github.com/sourcegraph/sourcegraph/-/blob/enterprise

[2022-07-07 21:32] sourcegraph-bot-2 commented on #38439
Heads up @joelkw @felixfbecker @vovakulikov @unclejustin - the "team/code-insights" label was applied to this issue.

[2022-07-07 21:35] Joelkw commented on #38439
@coury-clark  any way we can limit this change to only impact already-existing queries, and only ones with a `/.../` pattern? In general, we want our behavior to match the search box, and would this change otherwise mean we default to literal instead of `standard` even for new searches?

[2022-07-07 21:39] coury-clark commented on #38439
@Joelkw We would need an out of band migration to do that, which is what a general case migration would be here. Otherwise, we will have to make some trade off somewhere so that we can support `patternType:literal` after the `patternType:standard` change. Any other shortcuts have just as much chance to break a query as doing nothing (including this one).

[2022-07-07 21:46] Joelkw opened #38440 "Insights: display just-in-time insights information on the search results screen"
## Problem to solve

Code Insights is a valuable feature that empowers engineering leaders but does not currently provide direct value to the individual developer's core workflow in Sourcegraph.

## Measure of success

Number of unique users triggering an interaction (hovers, diff clicks, "go to insights", other actions) as a % of total users. (Secondarily, as a % of total search.)

## Solution su

[2022-07-07 21:52] Joelkw opened #38441 "insights: show in-line references to existing insights"
<img width="879" alt="image" src="https://user-images.githubusercontent.com/11967660/177877271-04d08a17-5985-49c7-864b-f55fecf66449.png">

## Problem to solve

Existing code insights provide important context to a developer's core workflow – for example, that a pattern is being deprecated or promoted – but devs don't know these insights exist because they aren't discoverable from reading and navig

[2022-07-07 21:54] #32579 closed

[2022-07-07 22:32] Joelkw opened #38443 "insights: design for insights on the search screen"
We need quick designs for https://github.com/sourcegraph/sourcegraph/issues/38440 .

We likely want 1 state where the graph is not visible (a % change or some other indicator) and 1 where it is. It's likely we can work within the system / prototype structure @benvenker [set up here long term](https://sourcegraph.slack.com/archives/C03L2R35ENL/p1657213820461199), but we can't wait for it (e.g., we

[2022-07-07 22:33] sourcegraph-bot-2 commented on #38443
Heads up @joelkw @felixfbecker @vovakulikov @unclejustin - the "team/code-insights" label was applied to this issue.

[2022-07-08 00:57] unclejustin opened #38452 "SortFilterSeriesPanel delay text update when updating limit"
Currently, when changing the limit value to a number higher than the max allowed number, we automatically change the input to be whatever the max is. This happens instantly.

We want to delay this text update for 300ms to give the user time to see the number they entered get changed.

[Related comment](https://github.com/sourcegraph/sourcegraph/pull/36376#pullrequestreview-1030053067)

[2022-07-08 00:58] sourcegraph-bot-2 commented on #38452
Heads up @joelkw @felixfbecker @vovakulikov @unclejustin - the "team/code-insights" label was applied to this issue.

[2022-07-08 00:59] unclejustin opened #38453 "SortFilterSeriesPanel: add new input for limit"
The limit field is currently a number input. We want the ability to disable the arrows when the limit would be "out of bounds".

If the limit is currently at max, disable the up arrow. If the limit is currently at 1, disable the down arrow.

This requires a custom component, as disable the arrows separate from the entire input in a number input field is not possible.

[Related PR](https://github.c

[2022-07-08 01:35] Joelkw commented on #38439
Got it, so what you've got here is what you think the best path forward is (within the constraint of not breaking the behavior things switching from literal to standard)? If we wanted to message/deprecate this longer term, would you want to plan to remove this in 3-4 releases (and include some user-facing messaging now and until then)?

[2022-07-08 02:02] zz-GuoYF opened #38455 "GBK encoding format is garbled"
#### Question description

The code in my GitLab uses GBK encoding, and when I synced to SourceGraph, my Chinese comments were garbled

#### Is your question related to a problem? If so, please describe or link to another issue.

null

#### Additional context

My SourceGraph deployment type is Docker Single Container, version is 3.39.1

/cc @sourcegraph/search-core

[2022-07-08 02:03] FengQingYangyan commented on #38455
![image](https://user-images.githubusercontent.com/65477849/177901937-e3ea5f9b-e42c-459d-a13b-7c58fbaa57be.png)
like this

[2022-07-08 07:31] ryankscott opened #38460 "Code Ownership (Milestone 1)"
Often when working with code you want to know who owns it so that you can ask how the code works, why it was written this way and also who to request or notify about any changes. Examples of this range across all of our products from knowing who to contact to resolve a vulnerable dependency to aggregating PR information across teams.

We want to add the capability to calculate, ingest, store and s

[2022-07-08 07:32] sourcegraph-bot-2 commented on #38460
Heads up @muratsu @jjinnii @ryankscott - the "team/integrations" label was applied to this issue.

[2022-07-08 07:32] ryankscott opened #38461 "Deprecate the extension registry and extensions page"

[2022-07-08 08:12] taras-yemets opened #38464 "Browser extension code intel popup styles regression on GitLab"
**Browser extension version**: current `main` branch, not published yet.

|  Expected | Actual |
|  --------- | ------ |
| ![image](https://user-images.githubusercontent.com/25318659/164264656-7b00ef76-91c2-4243-af39-f52e118c7efb.png) | ![image](https://user-images.githubusercontent.com/25318659/164264124-502a009a-85d9-4efa-8bbf-26bcdc85766c.png) |

Steps to reproduce:
- run the browser extension

[2022-07-08 08:13] taras-yemets commented on #38464
@chrismwendt, could it be the side effect of https://github.com/sourcegraph/sourcegraph/pull/34859? I reverted this PR locally and this issue went away.

[2022-07-08 08:15] sourcegraph-bot-2 commented on #38464
Heads up @muratsu @jjinnii @ryankscott - the "team/integrations" label was applied to this issue.

[2022-07-08 08:18] #36857 closed

[2022-07-08 09:09] #36783 closed

[2022-07-08 09:14] taras-yemets opened #38466 "Command palette focused item is not visible"
- **Sourcegraph version:**  159054_2022-07-07_52e450311cc5 (3.41)
- **Platform information:**  Chrome 103.0.5060.53

[Loom](https://www.loom.com/share/0e0eb6147cd94f3791888585f5f16c3c)

#### Steps to reproduce:

1. Open command palette with more than 8 items (e.g. file view with CodeCov and git-extras extensions enabled).
2. Click arrow down key until the focus item leaves the command palette view

[2022-07-08 09:15] sourcegraph-bot-2 commented on #38466
Heads up @muratsu @jjinnii @ryankscott - the "team/integrations" label was applied to this issue.

[2022-07-08 10:15] #34571 closed

[2022-07-08 10:54] philipp-spiess commented on #37371
I don't think there's an issue in the JavaScript side of things unfortunately. In Standalone mode, parallel fetching already works:

![Image](https://user-images.githubusercontent.com/458591/177978769-e4a5687a-dbc9-4cbc-9d40-e4ccc408d3ee.png)

So this is likely a bottleneck in the JCEF bridge (perhaps the use of only one I/O thread is the issue here? idk).

I'll see if we can implement aborting in

[2022-07-08 11:18] gitstart-sourcegraph commented on #35179
Hi @novoselrok
With regards to second requirement `When focused via tab key, they should become visible`, could you help to validate / invalidate assumption on expected behavior.

### Assumption:
In Notebook view, when menu items which are always visible (`Run search` and `Open in new tab`) are focused, the block should also become focused and as a result show the remaining menu items (`Duplicate`

[2022-07-08 11:26] eseliger commented on #38241
This is specifically for inserting changeset specs into the DB, correct?

[2022-07-08 11:33] leonore opened #38471 "insights: future of dirty queries"
relatively spikey issue, PR #38416 removed graphql paths in our backend which means we'll never insert dirty queries for hitting limits. we need to decide whether we want to reuse it another way somehow, just keep it as is or delete the `insights_dirty_queries` table

[2022-07-08 11:34] sourcegraph-bot-2 commented on #38471
Heads up @joelkw @felixfbecker @vovakulikov @unclejustin - the "team/code-insights" label was applied to this issue.

[2022-07-08 11:37] leonore opened #38472 "insights: replace/remove `GroupedResult` struct for compute streaming results"
PR #38416 removes deprecated code paths from the insights backend which means `GroupedResult` which we used for aggregating graphql results and adjacent structs are not needed anymore.

we can remove the [`computeTabulationResultToGroupedResults`](https://sourcegraph.sourcegraph.com/github.com/sourcegraph/sourcegraph/-/tree/enterprise/internal/insights) function and find a better common struct for

[2022-07-08 11:38] sourcegraph-bot-2 commented on #38472
Heads up @joelkw @felixfbecker @vovakulikov @unclejustin - the "team/code-insights" label was applied to this issue.

[2022-07-08 12:07] #37373 closed

[2022-07-08 12:10] vdavid opened #38477 "JetBrains: Doubleclick on a search result should open the file in the editor/browser"
When I double-click a search result in “Find in Files”, it opens in the editor.
When I double-click a search result in “Find with Sourcegraph”, nothing happens.
[13-sec demo](https://www.loom.com/share/578cbe6a9feb44c08ad70321773a2e1f)

I think, upon double-click, the result should open in the editor or in the browser.
Can you confirm if this sounds like a good idea, @jjinnii?

[2022-07-08 12:10] sourcegraph-bot-2 commented on #38477
Heads up @muratsu @jjinnii @ryankscott - the "team/integrations" label was applied to this issue.

[2022-07-08 12:18] philipp-spiess commented on #36709
Looks like we would only be able to capture logs if the plugin is connected to `https://sourcegraph.com` ([see this thread](https://sourcegraph.slack.com/archives/C07KZF47K/p1657114901030069)).

With the decreased focus on dot-com, do we want to close this issue for now @vdavid?

[2022-07-08 12:46] leonore opened #38478 "insights: update backend dev documentation"
our [dev docs](https://docs.sourcegraph.com/dev/background-information/insights/backend) haven't been updated in a while and could use some love. this work could involve:
* removing mentions of things like `experimental` and `beta`
* updating the architecture diagram
* remove outdated mentions of work
* remove mentions of logic that is no longer relevant (e.g. dirty queries)
* mention the `sg insi

[2022-07-08 12:46] sourcegraph-bot-2 commented on #38478
Heads up @joelkw @felixfbecker @vovakulikov @unclejustin - the "team/code-insights" label was applied to this issue.

[2022-07-08 12:59] umpox commented on #36418
As we have recently decided to sunset user-added repositories on [Sourcegraph.com](http://sourcegraph.com/), this audit flow is no longer available.

Closing this issue as not planned.

[2022-07-08 12:59] #36418 closed

[2022-07-08 12:59] #36417 closed

[2022-07-08 12:59] umpox commented on #36420
As we have recently decided to sunset user-added repositories on [Sourcegraph.com](http://sourcegraph.com/), this audit flow is no longer available.

Closing this issue as not planned.

[2022-07-08 12:59] #36420 closed

[2022-07-08 12:59] #36860 closed

[2022-07-08 13:00] umpox commented on #36865
As we have recently decided to sunset user-added repositories on [Sourcegraph.com](http://sourcegraph.com/), this audit flow is no longer available.

Closing this issue as not planned.

[2022-07-08 13:00] #36865 closed

[2022-07-08 13:32] #37996 closed

[2022-07-08 13:54] jhchabran opened #38479 "WIP: Consolidate redis-cache and redis-store in a single instance Tracking issue"
### Plan

See ADR todo

### Tracked issues

#### Legend

- 👩 Customer issue
- 🐛 Bug
- 🧶 Technical debt
- 🎩 Quality of life
- 🛠️ [Roadmap](https://handbook.sourcegraph.com/departments/product-engineering/process/planning-process#roadmap)
- 🕵️ [Spike](https://en.wikipedia.org/wiki/Spike_(software_development))
- 🔒 Security issue
- 🙆 Stretch goal

[2022-07-08 14:22] macraig opened #38482 "Make persistent “learn about precise code intel” notification permanently dismissable"
This notification panel can’t be removed.

![Image](https://user-images.githubusercontent.com/4605817/177200475-6c9d24bc-3973-4b64-876e-bfcddbe1e536.png)

To be clear, the notification panel inside the intel popover should be dismissible. This behavior exists in other versions of the code intel panel so shouldn’t be controversial.

[2022-07-08 14:26] macraig opened #38483 "Reduce popover latency"

[2022-07-08 15:29] muratsu commented on #38317
@efritz quick follow up on your point, is there a way for us to have browser extensions work with this new panel?

[2022-07-08 15:33] #36701 closed

[2022-07-08 15:43] efritz commented on #38317
@muratsu The browser extensions don't work with the old panel either.

cc @mrnugget for any additional context he'd like to dump.

[2022-07-08 16:01] jhchabran commented on #29251
FYI https://github.com/sourcegraph/sourcegraph/pull/38489

[2022-07-08 17:33] efritz commented on #38317
Sorry for the brevity there!

Yes we plan to move all code intelligence extension behavior directly into the SPA.

We are focusing on removing the old reference panel, which relies on the extensions API, and also need to ensure that the popover does not require the extensions as well.

I'm unsure of how the browser extensions should be updated - if it's viable to call the instance GraphQL API dire

[2022-07-08 17:51] DaedalusG opened #38494 "Removed user - batch spec still available?"
Removed user - batch spec still available?

- **Deployment Type**: docker-compose
- **Sourcegraph Version**: v3.40.2
- **Impact**: inconvenienced

## Context
This is probably going to land as a feature request, but currently, the admin is just inconvenienced in their work flow with batch changes

## Brief Description
I'm trying to pick back up work on a batch spec that was developed by teammate th

[2022-07-08 17:54] chrismwendt commented on #38464
@taras-yemets Yeah, it's likely that PR broke the popover spacing. I'll dig into this now.

[2022-07-08 17:55] malomarrec commented on #18294
Impacted https://github.com/sourcegraph/accounts/issues/8262

[2022-07-08 17:56] malomarrec commented on #38494
Relates to: https://github.com/sourcegraph/sourcegraph/issues/18294

[2022-07-08 18:03] limitedmage commented on #35179
Yes, I think this is an appropriate assumption. Ideally, focusing on a block and then doing Shift+Tab should also focus on the last menu item of the previous block, even if that menu item is initially hidden. (Hope that makes sense?)

[2022-07-08 18:23] BolajiOlajide opened #38495 "Consolidate InsightTemplatesBanner & SearchTemplatesBanner"
We currently have two banners with the following description:

* SearchTemplatesBanner: shown when a user creates a batch change from Search
* InsightTemplatesBanner: shown when a user creates a batch change from a code insight

These banners share a lot of similarities - it makes sense to create a base component that contains the shared visual styles and banners can make use of such component.

[2022-07-08 18:59] jasongornall opened #38498 "Address Tooltips with a ref as a direct descendent"
### Issue type

Bug fix

### Problem description

[Points of concern](https://sourcegraph.com/search?q=context:global+repo:%5Egithub%5C.com/sourcegraph/sourcegraph%24%40lrh/tooltip-migrations-web-2+%3CTooltip...+ref%3D...%3C/Tooltip%3E&patternType=structural) These areas are not being initalized properly as tooltip is trying to take that ref.

### Context

Broken extension panel investigation led

[2022-07-08 18:59] sourcegraph-bot-2 commented on #38498
Heads up @taylorsperry @jasongornall - the "team/frontend-platform" label was applied to this issue.

[2022-07-08 19:03] malomarrec commented on #30803
@danielmarquespt tagging you in there, it's now extremely likely that this is our next area of focus.

[2022-07-08 19:14] malomarrec opened #38500 "Investigate work required to build (a) string-based replacement and (b) regex/structural search and replace powered by compute"
Investigate work required to build (a) string-based replacement and (b) regex/structural search and replace powered by compute.
Specifically:
- define scope / trade-offs and add to RFC or tickets
- estimate work

I think this is actually sitting down with @rvantonder and debriefing findings with the team / in the RFC, and coming up with an estimate.

[2022-07-08 21:31] vdavid commented on #36709
Yup. Thanks, @philipp-spiess!

[2022-07-08 21:31] #36709 closed

[2022-07-08 23:43] Joelkw opened #38512 "Review TDD template and ensure the right inputs are collected based on known current state scale factors"

[2022-07-09 10:18] ericremoreynolds commented on #4967
Hello, I have a self-hosted sourcegraph instance, to which I'd like to upload a non-github/gitlab LSIF. I tried setting lsifEnforceAuth = false, but I still get:

[code]

Is there some way to disable this check on my self-hosted instance?

Thanks!

[2022-07-09 19:52] benvenker opened #38520 "Remove old code tour code"
The code tour is a massive thorn in the engineers’ side because it’s reach is everywhere, it doesn’t work, and we don’t use it anymore.

This issue includes removing the code, just disabling the tour.

[2022-07-09 19:55] benvenker commented on #38520
- https://github.com/sourcegraph/sourcegraph/pull/38142

[2022-07-09 19:55] #38520 closed

[2022-07-09 19:56] benvenker opened #38521 "Hide notepad on homepage"
We now show the notepad everywhere in the app. It doesn’t need to be on the homepage.

[2022-07-09 19:56] sourcegraph-bot-2 commented on #38520
Heads up @benvenker @lguychard - the "team/search-product" label was applied to this issue.

[2022-07-09 19:57] sourcegraph-bot-2 commented on #38521
Heads up @benvenker @lguychard - the "team/search-product" label was applied to this issue.

[2022-07-09 19:57] benvenker commented on #38438
@taylorsperry yeah we own this, but thanks!

[2022-07-09 20:00] sourcegraph-bot-2 commented on #38438
Heads up @benvenker @lguychard - the "team/search-product" label was applied to this issue.

[2022-07-09 20:11] sourcegraph-bot-2 commented on #38229
Heads up @benvenker @lguychard - the "team/search-product" label was applied to this issue.

[2022-07-09 22:35] benvenker opened #38522 "Don't wait until queries finish to show lucky search suggestions"
Seems like we could probably show suggestions before all the queries finish loading and get them a suggestion sooner?
![image.png](https://images.zenhubusercontent.com/5467e9ba7c6ccc6277a5f103/2b637ad0-b9f3-47f2-baff-a8503e367bfa
)

[2022-07-09 22:36] sourcegraph-bot-2 commented on #38522
Heads up @benvenker @lguychard - the "team/search-product" label was applied to this issue.

[2022-07-11 02:20] BolajiOlajide opened #38523 "Handle deleted changesets"
[Background](https://sourcegraph.slack.com/archives/CMMTWQQ49/p1657505786913979?thread_ts=1657448077.149219&cid=CMMTWQQ49)

Before creating a commit (patch) for a changeset, we verify if a changeset with the same branch name belonging to the repository exists in the database. In the event that a changeset is created, then deleted - this operation leads to a conflict as the reconciler assumes there

[2022-07-11 05:15] jjinnii commented on #38477
@vdavid Sounds good to me! Slightly concerned that people will be annoyed when repo/diff/commits take them to the browser, as in testing users didn't catch the difference in icon. But this is a secondary concern, and I agree that the expected behavior is that double clicking a result will open in editor or browser.

[2022-07-11 07:54] vdavid commented on #37817
https://github.com/sourcegraph/sourcegraph/issues/38003 is a newer duplicate but it has more info, so closing this one.

[2022-07-11 07:54] #37817 closed

[2022-07-11 08:00] ryankscott opened #38528 "What do we do with codecov"

[2022-07-11 08:01] sourcegraph-bot-2 commented on #38528
Heads up @muratsu @jjinnii @ryankscott - the "team/integrations" label was applied to this issue.

[2022-07-11 08:02] ryankscott opened #38529 "Update docs on how customers can add their own language support"
Customers can currently [add support for any language](https://docs.sourcegraph.com/dev/how-to/add_support_for_a_language) that we don't support. However, it relies on adding an extension to render the popups.

We need to find a way of supporting these without requiring an extension

[2022-07-11 08:02] sourcegraph-bot-2 commented on #38529
Heads up @muratsu @jjinnii @ryankscott - the "team/integrations" label was applied to this issue.

[2022-07-11 08:03] ryankscott opened #38530 "Decide what to do with codecov"
Codecov is quite frequently used (#5 by usage) and we are featured on their website as a means of getting code coverage data on code hosts. We need to inform them and determine next steps of deprecating their extension.

[2022-07-11 08:03] sourcegraph-bot-2 commented on #38530
Heads up @muratsu @jjinnii @ryankscott - the "team/integrations" label was applied to this issue.

[2022-07-11 08:03] ryankscott opened #38531 "Decide what to do with extension host code"

[2022-07-11 08:04] ryankscott opened #38532 "Ensure code intelligence still works on Browser Extensions"
Our current Browser Extensions inject functionality into the code hosts based on the enabled Sourcegraph extensions. For example, if you have enabled the codecov extension, then you will see coverage data in your code host.

As we're sunsetting Sourcegraph extensions we need to ensure that:
* Code intelligence still works with our Browser Extensions.
* We don't break anything for users on older ve

[2022-07-11 08:04] sourcegraph-bot-2 commented on #38531
Heads up @muratsu @jjinnii @ryankscott - the "team/integrations" label was applied to this issue.

[2022-07-11 08:05] sourcegraph-bot-2 commented on #38532
Heads up @muratsu @jjinnii @ryankscott - the "team/integrations" label was applied to this issue.

[2022-07-11 08:13] ryankscott opened #38534 "Determine the final list of SG built extensions we need to graduate"
We need to work out what Sourcegraph authored extensions we should graduate to be part of the main application.

[2022-07-11 08:13] sourcegraph-bot-2 commented on #38534
Heads up @muratsu @jjinnii @ryankscott - the "team/integrations" label was applied to this issue.

[2022-07-11 08:18] ryankscott opened #38535 "Find all customers who’ve build custom extensions, what they are and what we do with them"
Being tracked [here](https://docs.google.com/spreadsheets/d/1haqOzWc2jlVVtDvEYobCkugWHDqAyZT_rZSgx4Cogdc/edit#gid=0)

[2022-07-11 08:18] sourcegraph-bot-2 commented on #38535
Heads up @muratsu @jjinnii @ryankscott - the "team/integrations" label was applied to this issue.

[2022-07-11 08:25] #37666 closed

[2022-07-11 08:27] ryankscott opened #38536 "Determine timelines and communication plan for sunset"

[2022-07-11 08:27] sourcegraph-bot-2 commented on #38536
Heads up @muratsu @jjinnii @ryankscott - the "team/integrations" label was applied to this issue.

[2022-07-11 08:29] mrnugget commented on #38317
Here's the little context I have from the point of view of having written the new reference panel:

* new reference panel doesn't use extensions at all
* new reference panel's URLs are backwards compatible, so if browser extensions link to the same URLs, it keeps working
* the `code-intel-extensions` provide 5 `providers`: `definitions`, `references`, `implementations`, `hover`, `documentHighlight

[2022-07-11 08:35] jjinnii commented on #32456
@macraig Closing this issue, as we've enabled the ref panel internally and the beta feature flag for awhile now. I don't believe at this point we're thinking of spending additional time to scout users/customers to test with!

[2022-07-11 08:35] #32456 closed

[2022-07-11 08:40] sourcegraph-bot-2 commented on #38381
Heads up @muratsu @jjinnii @ryankscott - the "team/integrations" label was applied to this issue.

[2022-07-11 08:40] sourcegraph-bot-2 commented on #38317
Heads up @muratsu @jjinnii @ryankscott - the "team/integrations" label was applied to this issue.

[2022-07-11 08:41] sourcegraph-bot-2 commented on #38377
Heads up @muratsu @jjinnii @ryankscott - the "team/integrations" label was applied to this issue.

[2022-07-11 08:41] sourcegraph-bot-2 commented on #38378
Heads up @muratsu @jjinnii @ryankscott - the "team/integrations" label was applied to this issue.

[2022-07-11 08:42] sourcegraph-bot-2 commented on #38316
Heads up @muratsu @jjinnii @ryankscott - the "team/integrations" label was applied to this issue.

[2022-07-11 08:42] sourcegraph-bot-2 commented on #38379
Heads up @muratsu @jjinnii @ryankscott - the "team/integrations" label was applied to this issue.

[2022-07-11 08:42] sourcegraph-bot-2 commented on #38275
Heads up @muratsu @jjinnii @ryankscott - the "team/integrations" label was applied to this issue.

[2022-07-11 08:42] sourcegraph-bot-2 commented on #38461
Heads up @muratsu @jjinnii @ryankscott - the "team/integrations" label was applied to this issue.

[2022-07-11 08:50] #38464 closed

[2022-07-11 09:05] vrto commented on #33241
Did a little more digging around this; I acknowledge that the [North Star](https://docs.google.com/document/d/19bPH4Zxb8zl4DwDyOMfdSx5o4PI3UkshGsAh89QBdlM/edit#heading=h.8moaux461mlv) is _way_ more focused on logs+traces than metrics.

It appears that while OTel Metrics work is WIP, they're going to be treating as an important collaborator and will provide quality [first-class integration](https:/

[2022-07-11 09:27] philipp-spiess opened #38541 "JetBrains: Verify the validity of the \r\n => \n behavior on Windows"
c.f. https://github.com/sourcegraph/sourcegraph/pull/38491#discussion_r917105396

[2022-07-11 09:28] sourcegraph-bot-2 commented on #38541
Heads up @muratsu @jjinnii @ryankscott - the "team/integrations" label was applied to this issue.

[2022-07-11 09:57] philipp-spiess commented on #37681
@vdavid Since the dependency is resolved, I've put this back into the backlog

[2022-07-11 10:58] #38002 closed

[2022-07-11 10:59] #37815 closed

[2022-07-11 10:59] #37997 closed

[2022-07-11 11:00] #38477 closed

[2022-07-11 11:02] #38222 closed

[2022-07-11 11:07] philipp-spiess commented on #38541
There appear to be no issues in opening files that have no `\r\n` on Windows.:

![Image](https://user-images.githubusercontent.com/458591/178251158-e1affd9a-3c11-4119-881b-421636c83616.png)

Even when the editor shows `CRLF` on the bottom, the file will still open properly. It might save differently when you save the file but this is not important for our plugin as long as it renders correctly.

[2022-07-11 11:07] #38541 closed

[2022-07-11 11:21] vdavid commented on #37692
@jjinnii what do you think about using the monochrome logo?
I think we can do three things:
a.) Use the monochrome logo for menu items (then I'd be comfortable with using it in many places without cluttering the UI too much)
b.) Use the colorful logo only for the 1–2 main items (I'd also be comfortable with this)
c.) Keep the color logo and use it for all our menu items (I think this stands out to

[2022-07-11 13:14] jhchabran commented on #26981
@valerybugakov the last version of the PR should work transparently for dotcom, assuming the client doesn't block getting the sentry pkg from the CDN in the first place.

[2022-07-11 13:15] umpox commented on #38275
Hey!

I think this is a really important issue and one that'd be great to help solve with Sourcegraph.

I actually dug into this a little further through this issue: https://github.com/sourcegraph/sourcegraph/issues/34352

One really valuable thing we can do with the contributors page is to filter the results, e.g. [Who has recently wrote a GitHub action in our repo?](https://sourcegraph.com/githu

[2022-07-11 13:32] efritz opened #38555 "RFC 697: Ensure out-of-band migrations run unconditionally"
See [RFC 697: Multiple version upgrades](https://docs.google.com/document/d/1eNiwzWZmfpvzFhs9IDcM7Sbchv_Hm8Uj-6bI-3TDlvg).

Currently, there are a number of registered out-of-band migrations that can remain at 0% progress due to a feature not being enabled in site-config (e.g., code-insights and encryption of extsvc data). These migrations need to be vetted, otherwise we should move them out of th

[2022-07-11 14:04] BolajiOlajide commented on #38523
Possible duplicate of #20447

[2022-07-11 14:07] burmudar opened #38558 "sg feedback - sg generate writing config overwrite"
### Discussed in https://github.com/sourcegraph/sourcegraph/discussions/38233

<div type='discussions-op-text'>

<sup>Originally posted by **mrnugget** July  5, 2022</sup>
sg generate writes custom commandsets into doc/dev/background-information/sg/reference.md.

### `sg` information

Commit: `9820615b14d6894f848ed69f1fd13a02b8026089`
Command: `sg feedback`
Flags: ``
    </div>

[2022-07-11 14:19] taras-yemets commented on #38317
Hey @oleggromov,
what would be the best way for us (Integrations team) to collaborate on it with you?

[2022-07-11 14:24] olafurpg commented on #37691
@Strum355 I took the liberty to assign this issue to you based on the comment here https://github.com/sourcegraph/sourcegraph/pull/38074#discussion_r911915025

[2022-07-11 15:19] benvenker opened #38564 "Separate out dynamic filter types into their own filters"
Separate filters for:
- Languages
- Files types
- Utilities
- ...

More coming, design is WIP

[2022-07-11 15:20] sourcegraph-bot-2 commented on #38564
Heads up @benvenker @lguychard - the "team/search-product" label was applied to this issue.

[2022-07-11 15:20] benvenker opened #38565 "Persist the opened/closed state of panel sections"

[2022-07-11 15:20] sourcegraph-bot-2 commented on #38565
Heads up @benvenker @lguychard - the "team/search-product" label was applied to this issue.

[2022-07-11 15:22] jhchabran commented on #32872
A quick look yielded the following observations:

- Around mid december https://github.com/sourcegraph/sourcegraph/pull/28995 was merged, which removed many tests. But looking at the codecov page, it's not the correct one https://buildkite.com/sourcegraph/sourcegraph/builds/12203 VS https://app.codecov.io/gh/sourcegraph/sourcegraph/commit/c00b626bd521a89d1b95c994066887afc0d9365f
- https://buildkit

[2022-07-11 15:36] benvenker opened #38566 "Simplify file content result display"
Currently, we provide a pretty intense user experience when rendering files that have many matches in them, depending on the user’s set amount of context lines.

Even with context lines set at 2, with 4 matches in a file it feels like a lot for the default.

![Image](https://user-images.githubusercontent.com/4605817/177200886-f0d4a565-4500-42ee-ac9c-879e485c03e8.png)

We’d like to experiment with

[2022-07-11 15:55] malomarrec commented on #32664
In light of more recent conversations, and our [q3 strat update](https://github.com/sourcegraph/handbook/pull/4168), I think we need to measure two things:

- iteration time: that's, roughly, the time between "I start a run" and "I see a preview". We can measure it only on SSBC to make it more feasible.
- time to value: the time between "some decides to use batch changes" and "someone gets value".

[2022-07-11 15:57] burmudar commented on #37613
So initially I went the `pre-exit` hook route but ended up going with the [webhook route](https://buildkite.com/docs/apis/webhooks) which, so far, is really promising. I've setup a webhook for two events `job.finished` and `build.finished`.

Job finished allows us to keep track of invidual job failures and build finished allows us to know when a build has finished. Once the build is finished we tr

[2022-07-11 15:59] #38523 closed

[2022-07-11 16:14] malomarrec commented on #20447
+ 1 from [customer](https://github.com/sourcegraph/accounts/issues/537)

Getting

Cannot create changeset on the same branch in multiple batch changes

[2022-07-11 16:15] jhchabran commented on #32872
Looking further, the uploader that we are using is deprecated and codecov is conducting brownouts. In a nutshell, we should not rely on it at all and should use update the coverage tooling.

https://docs.codecov.com/docs/about-the-codecov-bash-uploader#deprecation-notice-and-schedule

[2022-07-11 16:15] jhchabran opened #38568 "Use the recommended covecov uploader"
See https://github.com/sourcegraph/sourcegraph/issues/32872

[2022-07-11 16:19] sashaostrikov opened #38569 "Fix Bitbucket Projects sync when the Project has 0 existent SG users"
During a customer tests one issue came up: the sync is finished with an error if there are no SG users can be mapped to BB Project users ([Slack thread](https://sourcegraph.slack.com/archives/C02EDAQAJQZ/p1657294849621919))

This should be fixed by removing the check for having more than one mapped account, because it is an edge case for the BB Project consisting only of users which are not yet ad

[2022-07-11 16:19] sourcegraph-bot-2 commented on #38569
Heads up @jplahn - the "team/repo-management" label was applied to this issue.

[2022-07-11 16:24] malomarrec commented on #32664
In fact, all of this depends on our ability to [collect event data](https://docs.google.com/document/d/1f5NDBrk-qNZsgnAQNPRfDShGm3SyRkT38HxMZeYaJAE/edit)

[2022-07-11 16:26] malomarrec commented on #34251
How's the video going? Can I help?

[2022-07-11 16:28] Numbers88s commented on #30022
These finding are for the old reference panel. Closing.

[2022-07-11 16:28] #30022 closed

[2022-07-11 16:32] #38495 closed

[2022-07-11 16:36] olafurpg opened #38571 "Packages: refactor `packagesSource` interface to avoid duplicate implementations"
This issue is a reminder to followup on this PR comment from @Strum355 https://github.com/sourcegraph/sourcegraph/pull/38074/files#r911901428

[2022-07-11 16:39] olafurpg opened #38572 "Rust: implement package description for crate packages"
Currently, the description of crate packages is empty. It would be nice to populate the description of the package from the crates.io API, for example https://crates.io/api/v1/crates/ripgrep

[2022-07-11 16:49] Numbers88s commented on #31738
It's been addressed here https://github.com/sourcegraph/sourcegraph/pull/37869 in new resource estimator https://docs.sourcegraph.com/admin/deploy/resource_estimator.

[2022-07-11 16:51] philipp-spiess opened #38574 "JetBrains: Onboarding experience: Explaining users how to access the new Sourcegraph window"
When a customer upgrades to the new JetBrains extension or installs it for the first time, they getting access to quite a few new features. How can we explaining to them _what changed_ and _how they can access the new Sourcegraph window_?

On VSCode, we apparently show an after install pages that explains the extension (source: @muratsu). Do we want to replicate this for JetBrains?

Additionally t

[2022-07-11 16:51] sourcegraph-bot-2 commented on #38574
Heads up @muratsu @jjinnii @ryankscott - the "team/integrations" label was applied to this issue.

[2022-07-11 16:53] Numbers88s commented on #31109
Its been fixed here https://github.com/sourcegraph/sourcegraph/pull/38175

[2022-07-11 16:56] Numbers88s commented on #31076
Unable to reproduce. If you notice it again, feel free to reopen.

[2022-07-11 17:04] philipp-spiess opened #38575 "Extensions: Onboarding experience: Improve the authentication flow for instances that can't create access tokens"
We [soon have customers (those on free OSS on-prem installations) that will a custom URL but won't be able to create tokens](https://docs.google.com/document/d/1436xlgrA4Xy1SEIXbB0xGCwog-k0iPeYqY0JVJmckPM/edit).

With this change, we'll have three primary groups to consider for our onboarding experience:

1. Paying enterprise customers
   - Those will have a custom URL and be able to create access

[2022-07-11 17:05] sourcegraph-bot-2 commented on #38575
Heads up @muratsu @jjinnii @ryankscott - the "team/integrations" label was applied to this issue.

[2022-07-11 17:10] philipp-spiess commented on #38574
## Personal thoughts

I've seen other JetBrains extensions sending notifications when a major version was upgraded, something like this:

![image](https://user-images.githubusercontent.com/458591/178319791-0c8500fc-56cf-442b-af0a-bfdd2454d3a8.png)

We could add one specifically for first time users or those who upgrade from a prior version and:

- Include the biggest highlight inside the notificat

[2022-07-11 17:12] philipp-spiess commented on #38575
## Personal thoughts

What if we drop the option to configure an access token when connected to `https://sourcegraph.com` to simplify our config page.

With that done, the setting page could be a simple toggle between:

- Use sourcegraph.com to search open-source code for free.
- Authenticate against your enterprise installation.

My assumption here is that free OSS on-demand users will know that

[2022-07-11 17:12] macraig commented on #35183
Closing as identified issues have been completed

[2022-07-11 17:13] macraig commented on #35184
Closing as identified issues have been completed

[2022-07-11 17:13] macraig commented on #35186
Closing as identified issues have been completed

[2022-07-11 17:13] #35186 closed

[2022-07-11 17:14] macraig commented on #35188
Closing as identified issues have been completed

[2022-07-11 17:14] #35188 closed

[2022-07-11 17:15] macraig commented on #35195
Closing as identified issues have been completed

[2022-07-11 17:16] macraig commented on #35250
Closing as identified issues have been completed

[2022-07-11 17:16] macraig commented on #35251
Closing as identified issues have been completed

[2022-07-11 17:16] #35250 closed

[2022-07-11 17:17] macraig commented on #35268
Closing as identified issues have been completed

[2022-07-11 17:50] Piszmog opened #38579 "Display Detached Stats"

[2022-07-11 19:19] #37968 closed

[2022-07-11 19:19] daxmc99 opened #38586 "Change team name from "devops" to `cloud` in Opsgenie"
This appears more complex than just changing the name of the team due to the # of MI which would also need to be updated (along with checking for examples of other integrations)

AT LEAST:

- [ ] Update ALL MIs to use the new team name

[2022-07-11 19:20] sourcegraph-bot-2 commented on #38586
Heads up @sourcegraph/cloud - the "team/cloud" label was applied to this issue.

[2022-07-11 20:21] varsanojidan opened #38590 "Selecting public repos on a Github code host unintentionally also lists archived repos"
- **Sourcegraph version:** All
- **Platform information:** All

See: https://github.com/github-community/community/discussions/12554 for further details of the root cause of the issue.

#### Steps to reproduce:

1. Add a Github code host
2. Add a public repositoryQuery, and exclude archived repos in the code host config:

[code]

#### Expected behavior:
No archived repos appear in Sourcegraph.

##

[2022-07-11 20:22] sourcegraph-bot-2 commented on #38590
Heads up @jplahn - the "team/repo-management" label was applied to this issue.

[2022-07-11 21:11] limitedmage commented on #34727
@gitstart-sourcegraph I've updated the issue with a different suggested fix, it's ready to start implementation.

[2022-07-11 21:18] #38232 closed

[2022-07-11 21:32] limitedmage commented on #35159
This is happening because we have `overflow: auto` on the notepad so it scrolls, and we implement focus rings using `box-shadow`, which can be cut off by overflow (unlike the default of using `outline`). @sourcegraph/frontend-platform I'm assigning this to you as this would affect any other focusable items inside the app. We should reconsider using `box-shadow` for focus outlines and try using `ou

[2022-07-11 21:33] sourcegraph-bot-2 commented on #35159
Heads up @taylorsperry @jasongornall - the "team/frontend-platform" label was applied to this issue.

[2022-07-11 21:42] limitedmage commented on #35165
@almeidapaulooliveira Can you take a look at this issue and suggest the right way to do this keyboard interaction?

[2022-07-11 21:44] limitedmage commented on #35166
@almeidapaulooliveira Can you take a look at this issue and decide if any action is required here? Unsure if this is a bug or expected behaviour, and what the fix could be.

[2022-07-11 21:56] limitedmage commented on #34348
@gitstart-sourcegraph feel free to start implementation of this, let me know if something is still pending to start on this.

[2022-07-11 22:00] varsanojidan commented on #38590
@keegancsmith I am trying to resolve this issue by listing repositories through the search API, I ran into the same issues as you guys have before where (for whatever reason) the search API is limited to 1000 results even with pagination.

I am planning to work around this by using the following query format:

[code]

And then paginating based on the last result's pushed_at value in order to bypas

[2022-07-11 23:04] courier-new commented on #38579
Visual reference of the stats this is referring to:

![Image](https://user-images.githubusercontent.com/8942601/178373236-ec3a08a0-55a7-4570-b614-865b24aaa7f7.png)

[2022-07-11 23:14] courier-new commented on #38579
I personally think we should include "Detach" if we're showing "Reattach", but I feel the row is getting a bit unwieldy given how many different stats we're trying to show now. I wonder if it makes sense to hide some of them by default, if they're 0? Or condense some of the less important ones to a "..." at the end of the row that shows the rest of the 0s on hover/click? Super low quality mock up:

[2022-07-11 23:22] courier-new opened #38600 "Diff from a step execution is unavailable after step finishes"
**Steps to reproduce:**

1. Kick off server-side execution for at least one workspace without a cache result
2. Open workspace details for that workspace
3. Wait for step to begin execution
4. Click "Diff" tab for the step
5. Observe "Diff not available" message
6. Wait for step to finish execution

**Expected behavior:**

- "Diff not available" message disappears
- Diff from step is visible

**Ac

[2022-07-11 23:43] sourcegraph-bot-2 commented on #38263
Heads up @benvenker @lguychard - the "team/search-product" label was applied to this issue.

[2022-07-12 00:44] #38176 closed

[2022-07-12 00:44] CristinaBirkel opened #38603 "insights: No points are recorded for some repository scoped insights"
Slack thread: https://sourcegraph.slack.com/archives/C01RVEVPWLC/p1657571567611359

Repro:
1. Create a new insight with the following:
    - Series with the query: `context:global type:commit`. (I had to comment out some FE validation to get it to save. Could this bug be in part due to the invalid query?)
    - Time interval (not sure it matters,) is 3 weeks.
    - Scoped to repository sourcegraph

[2022-07-12 00:44] sourcegraph-bot-2 commented on #38603
Heads up @joelkw @felixfbecker @vovakulikov @unclejustin - the "team/code-insights" label was applied to this issue.

[2022-07-12 03:13] #31679 closed

[2022-07-12 03:13] #36399 closed

[2022-07-12 03:33] benvenker commented on #31076
cc @fkling in case you have a ready case that easily reproduces this since you raised it :P

[2022-07-12 04:01] Joelkw commented on #38603
Thank you for making this issue @CristinaBirkel ! Were you able to reproduce with any non-commit-type insights?

[2022-07-12 04:35] #38003 closed

[2022-07-12 05:17] varungandhi-src commented on #32778
Sorry, I missed this earlier. 😶‍🌫️ I don't see how this would be solved by Squirrel? It's about syntax highlighting, which is orthogonal to what Squirrel does (search-based code navigation).

[2022-07-12 05:19] #38293 closed

[2022-07-12 05:19] gitstart-sourcegraph opened #38607 "React upgrade: Migrate to the new root API"
## Problem statement

Our `react` version is outdated, and we need to upgrade to the latest one to use new features.

## Ref
https://github.com/sourcegraph/sourcegraph/issues/33302

## Success criteria

React version is upgraded to the latest version

## Implementation details
1. Upgrade to [the latest `react` version](https://www.npmjs.com/package/react) and migrate to [the new root API](https://

[2022-07-12 07:02] ryanslade commented on #27916
@jplahn I'm going to close this as it's mostly noise at this point.

We're still doing some work on this related to Gerrit and improving permissions rules for Perforce but I don' think we need the overall tracking issue anymore.

[2022-07-12 07:02] #27916 closed

[2022-07-12 07:10] courier-new opened #38610 "Initial, empty batch spec is visible from executions list"
When creating a batch change with the server-side workflow, we initiate the batch change in a "draft" state with an empty batch spec. The empty batch spec is predominantly an internal concept because it will never be executed nor applied. However, it is currently surfaced in the UI wherever we list executions/specs:

![Image](https://user-images.githubusercontent.com/8942601/178431127-c3f696f9-a7f

[2022-07-12 07:27] jjinnii commented on #38575
@philipp-spiess  Thank you for documenting the three cases in this issue. 😄  Just a couple of questions to make sure I understand the full scope of the problem.

Those will connect to https://sourcegraph.com and don't need a custom token (but can still have them).

What would it impact anything if an OSS user does enter an access token for some reason with the URL pointed to sourcegraph.com?

Are

[2022-07-12 07:32] courier-new commented on #36019
Which places exactly are we referring to for this migration? I think we use custom tabs in a couple different areas, but also for different reasons.

[2022-07-12 07:36] ryankscott commented on #38575
I also want that it's possible that some enterprise customers will block access to https://sourcegraph.com and we may end up in an error state as someone's first experience.

IMO we should encourage / enforce the adding of a URL and access token as a first onboarding step and doing nothing defaults to https://sourcegraph.com.

[2022-07-12 07:58] indradhanush opened #38612 "Errors Classification: Tracking issue"
### Plan

This [doc](https://docs.google.com/document/d/10n6j2empkCzr6yL873p8WuL6R0U8Erm0awIwOp9hRl8/edit#heading=h.ai41ynoo7bjc) captures the inspiration, proposal and plan for actionable and classifiable errors in Sourcegraph's code.

<WIP>

### Tracked issues

@unassigned: __2.00d__

- [ ] https://github.com/sourcegraph/sourcegraph/issues/38618  __1.00d__
- [ ] https://github.com/sourcegraph/so

[2022-07-12 07:58] sourcegraph-bot-2 commented on #38612
Heads up @jplahn - the "team/repo-management" label was applied to this issue.

[2022-07-12 07:58] ryanslade opened #38614 "Patch release request: 3.41.1"
@sourcegraph/release-guild I am requesting the following commits be included in a patch release. They are already merged into `main`:

- https://github.com/sourcegraph/sourcegraph/commit/d8f01b6827436f88c7713cf8959e7d761be35a26
- https://github.com/sourcegraph/sourcegraph/commit/271dd20b10bd24baf55d8e821dc68f9e6c329412
- https://github.com/sourcegraph/sourcegraph/commit/28cb2e0325c2746a78a4882340e

[2022-07-12 08:00] burmudar commented on #26072
Closing this issue as I think the current integration with annotations is enough for this issue.

[2022-07-12 08:00] #26072 closed

[2022-07-12 08:24] indradhanush opened #38615 "Create a custom error type to support error levels"
The error type should:

1. Embed the original error and make it available to all consumers
2. Have two levels:
   - `warn`
   - `error` / `critical`

It remains to be decided which of the keywords, `error` or `critical` will be used to indicate the level. While using `error` allows for a direct one to one mapping of expected logging level, that is `log.Warn` for errors with `warn` level and `log.E

[2022-07-12 08:24] sourcegraph-bot-2 commented on #38615
Heads up @jplahn - the "team/repo-management" label was applied to this issue.

[2022-07-12 08:27] indradhanush opened #38616 "Modify doBackgroundRepoUpdate method to use the error levels"
Blocked by #38615.

[doBackgroundRepoUpdate](https://sourcegraph.com/github.com/sourcegraph/sourcegraph@3ece1378985bd0942e88bfe0a87c9aba39b285d7/-/blob/cmd/gitserver/server/server.go?L2351)

Ensure that the error level attribute is propagated to [gitserver.ClientImplementor.RequestRepoUpdate](https://sourcegraph.com/github.com/sourcegraph/sourcegraph@ca313fbd3f9c5543fe46eefc1b5e33d7000afbce/-/blob

[2022-07-12 08:36] indradhanush opened #38618 "Modify runUpdateLoop to conditionally increment error metric if error level is error"
Modify the runUpdateLoop method in repo-updater to only increment the src_repoupdater_sched_error metric if the actionable error’s level is set to error [here](https://sourcegraph.com/github.com/sourcegraph/sourcegraph@f2cf1b2baca6b65b2dc275ef33530214931cb207/-/blob/internal/repos/scheduler.go?L215-222).

[2022-07-12 08:36] sourcegraph-bot-2 commented on #38618
Heads up @jplahn - the "team/repo-management" label was applied to this issue.

[2022-07-12 08:38] indradhanush opened #38620 "Investigate GitRepoSyncer.Fetch how to best add custom actionable errors to this method"
The method is defined [here](https://sourcegraph.com/github.com/sourcegraph/sourcegraph@ca313fbd3f9c5543fe46eefc1b5e33d7000afbce/-/blob/cmd/gitserver/server/vcs_syncer_git.go?L64-71)

The outcome of this issue is a new issue to detail the challenges in implementing custom actionable errors in this method if any. Or directly implementing them if the work is under 2 days of effort.

In either case t

[2022-07-12 08:39] sourcegraph-bot-2 commented on #38620
Heads up @jplahn - the "team/repo-management" label was applied to this issue.

[2022-07-12 08:40] #38569 closed

[2022-07-12 08:50] umpox commented on #35159
Thanks @limitedmage I'll take a look, I think we originally used box-shadow because we needed an offset, and outline-offset wasn't supported by all browsers at the time. I think it is now, so we might be able to easily transition to that

[2022-07-12 08:52] macraig commented on #37761
@olafurpg I believe for now we need to add it here: https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/blob/cmd/frontend/graphqlbackend/default_settings.go#L14-51=

In the near future when we remove the extensions this shouldn't be necessary

[2022-07-12 08:56] ryankscott opened #38623 "Create and populate a FAQ page on sunsetting of extensions"
Working on a document that will answer internal questions that have already come up, or we anticipate will come up.

[2022-07-12 08:56] sourcegraph-bot-2 commented on #38623
Heads up @muratsu @jjinnii @ryankscott - the "team/integrations" label was applied to this issue.

[2022-07-12 08:57] ryankscott opened #38624 "Add deprecation warning on extensions page"

[2022-07-12 08:57] sourcegraph-bot-2 commented on #38624
Heads up @muratsu @jjinnii @ryankscott - the "team/integrations" label was applied to this issue.

[2022-07-12 09:03] ryanslade commented on #38614
Approving this release in order to start working on it.

[2022-07-12 09:07] umpox commented on #35251
Reopening - I think this should be a quick fix to align them in a column rather than a row, will assign to myself

[2022-07-12 09:11] ryankscott opened #38625 "Remove all banners for our features"

[2022-07-12 09:14] oleggromov commented on #38482
Sharing for visibility. I have found where there difference comes from.
WebHoverOverlay accepts `alerts` key in `hoverOrError` prop. Whenever an alert has a `type`, it is dismissible - which is totally opaque from the outside.

[2022-07-12 09:21] sourcegraph-bot-2 commented on #35251
Heads up @taylorsperry @jasongornall - the "team/frontend-platform" label was applied to this issue.

[2022-07-12 09:23] umpox commented on #35196
Reopening this! cc: @gitstart-sourcegraph

[2022-07-12 09:26] umpox commented on #35189
Reopening, I'll fix this one, just a quick copy change

[2022-07-12 09:26] sourcegraph-bot-2 commented on #35189
Heads up @taylorsperry @jasongornall - the "team/frontend-platform" label was applied to this issue.

[2022-07-12 09:37] #35195 closed

[2022-07-12 09:53] mrnugget opened #38633 "re-enable flaky test: "Completing a negated filter should insert the filter with - prefix (codemirror6)""
I'm going to disable this test in a PR. Here is the ticket to re-enable after flakiness is fixed.

Example failures:

- https://buildkite.com/sourcegraph/sourcegraph/builds/159870#0181f1be-764f-4fe4-92b6-5f83376ee5dc
- https://buildkite.com/sourcegraph/sourcegraph/builds/159856#0181f1a7-0398-4598-b76b-14ee05a05b7e
- https://buildkite.com/sourcegraph/sourcegraph/builds/159836#0181f15a-cd4d-49a8-938

[2022-07-12 10:00] umpox commented on #35007
@gitstart-sourcegraph For this issue let's focus primarily on making this icon focusable. I think there's a wider scope of work with how we use icons with tooltips and if that is suitability for mobile. Discussing with design about future plans for usage of tooltips overall

[2022-07-12 11:14] ryankscott commented on #38534
Based on usage / enablement, the current list for Sourcegraph authored extensions are:

- code intelligence
- git-extras
- open-in-editor
- search-exports
- go-imports-search

[2022-07-12 11:23] eseliger commented on #36019
Hmm I was thinking everything that's not a `<Tab>`, if that is possible. I think the preview page uses it somewhere, at the very least. Maybe it's not possible to simply use `<Tab>` but if so I wonder if the Tabs implementation could be extended to support that?

[2022-07-12 11:44] eseliger opened #38638 "[Accessibility]: webhook logs page icons have no alt text"
### Audit type

ARC Toolkit

### User journey audit issue

https://github.com/sourcegraph/sourcegraph/issues/34092

### Problem description

The icons on this page (success, failure) have no alt text.

### Expected behavior

They do

### Additional details

_No response_

### Assigning labels

- [ ] Please give this issue an estimate by applying a label like `estimate/Xd`, where X is the estimated

[2022-07-12 11:47] #34092 closed

[2022-07-12 11:47] eseliger commented on #37462
This happened again yesterday :(

[2022-07-12 11:49] eseliger commented on #38600
Reloading the page fixes it, the issue is that we don't reload the diff when the step finished. Definitely a bug!

[2022-07-12 11:50] #37157 closed

[2022-07-12 11:51] eseliger commented on #36663
I think we should defer this until it becomes an actual problem. With the current implementation, the fairness doesn't come for free so no need to unnecessarily waste resources until we found a better solution where the queue is cheaper to compute. (I have ideas, but need to vet them first)

[2022-07-12 11:53] eseliger commented on #36261
This should be prioritized, as it's

1) Faster
and
2) Means that we will eventually get rid of a lot of additional complexity in src-cli.

[2022-07-12 11:56] eseliger commented on #25957
Not sure what a proper name would be though. Maybe it's alright actually :D

[2022-07-12 11:57] eseliger commented on #16721
I think we could get away with failing, instead of a complicated retry algorithm, since this ought to happen _never_. It's still a good change to add the index because it'll ensure we never fall into an invalid state.

[2022-07-12 11:58] #37990 closed

[2022-07-12 11:58] #38009 closed

[2022-07-12 12:00] eseliger commented on #28497
Reconsidering this, I think we should revisit our data retention policy.

- Do we want to keep execution_logs forever? If not, what parts do we need and which can we prune

[2022-07-12 12:01] eseliger commented on #27570
I think we shouldn't do this in this sustaining sprint as we might solve this automatically with some refactors that are upcoming.

[2022-07-12 12:04] olafurpg commented on #37921
We have now synced 86.7k crates (2.3m versions) according to https://sourcegraph.com/search?q=context:global+repo:%5Ecrates/+count:all&patternType=lucky

However, we disabled continuous syncing due to our excessive usage of the crates.io API. I just merged https://github.com/sourcegraph/sourcegraph/pull/38074 which fixes the API issues. I'm waiting for that PR to get deployed in gitserver and afte

[2022-07-12 12:12] olafurpg opened #38643 "Packages: come up with robust solution to deal with deleted/updated package contents"
Currently, we cache the contents of a package version in gitserver and don't send more HTTP requests to re-fetch the contents assuming it's immutable. However, it's false to assume that all package hosts are immutable. Artifactory typically permits updating or deleting packages, and public hosts like crates.io reserve the right to exceptionally remove or update published crates.

By not fixing thi

[2022-07-12 12:30] oleggromov commented on #38482
The fix is now live: https://sourcegraph.sourcegraph.com/github.com/kubernetes/ingress-nginx/-/blob/cmd/nginx/flags_test.go

[2022-07-12 12:30] #38482 closed

[2022-07-12 12:32] ryanslade opened #38644 "3.41.1 patch release tracking issue"
# 3.41.1 patch release

This release is scheduled for **[Jul 13, 2022, 6:00 PM (UTC)](https://time.is/1800_13_Jul_2022_in_UTC?3.41.1%20release%20date)**.

- [ ] TODO: Add [patch request issues](https://github.com/sourcegraph/sourcegraph/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+label%3Apatch-release-request) and their associated commits here

## Setup

- [ ] Ensure release configuration in

[2022-07-12 12:32] ryanslade opened #38645 "3.41.1 upgrade managed instances tracking issue"
# 3.41.1 managed instances upgrade

These [managed instances](../../../../cloud/index.md) upgrades are scheduled for **[Jul 14, 2022, 6:00 PM (UTC)](https://time.is/1800_14_Jul_2022_in_UTC?One%20working%20day%20after%203.41.1%20release)**.

To perform these upgrades, follow the [managed instances upgrade process](../../../../cloud/technical-docs/upgrade_process.md).
Make sure to upgrade internal i

[2022-07-12 12:32] ryanslade commented on #38120
Superseded by #38645

[2022-07-12 12:33] sourcegraph-bot-2 commented on #38645
Heads up @sourcegraph/cloud-devops - the "team/devops" label was applied to this issue.

[2022-07-12 12:35] scalabilitysolved commented on #17892
@macraig shutting based on convo.

[2022-07-12 12:35] #17892 closed

[2022-07-12 12:41] ryankscott commented on #38623
WIP document [here](https://docs.google.com/document/d/1wZqz7C1u6bnxYyEktILt4jJyLLkSBa8DIJLO_cvxpUM/edit#)

[2022-07-12 12:56] umpox commented on #34413
Audit complete, issues found are completed in this PR: https://github.com/sourcegraph/sourcegraph/pull/38647

[2022-07-12 12:56] #34413 closed

[2022-07-12 13:02] keegancsmith commented on #38590
Rather than using the search API, why not just exclude archived? I am guessing the reason is due to that api not including the archived field? (I kind of remember that issue also existing somewhere, likely is still open)

Search API has lower rate limits and of course has the 1k result limit. I remember them being something ridiculous like 30 requests an hour, so I would just ensure those are high

[2022-07-12 13:03] #35493 closed

[2022-07-12 13:23] fkling commented on #38521
@benvenker For clarification: Should it only be hidden on the search homepage (even if it has notes in it) or should we have an allow list of pages where it should be shown (and if yes, which pages should that be?)

[2022-07-12 13:30] umpox commented on #33525
As we have recently decided to sunset user-added repositories on [Sourcegraph.com](http://sourcegraph.com/), this audit flow is no longer available.

Closing this issue as not planned.

[2022-07-12 13:30] #33525 closed

[2022-07-12 13:30] #33524 closed

[2022-07-12 13:38] fkling commented on #38341
I cannot reproduce this. I verified that with the CodeMirror implementation the correct HTML is generated:

[code]

It looks like Monaco might do its own Markdown -> HTML conversion so I can't look into that, but it also works as expected on sourcegraph.sourcegraph.com.

[2022-07-12 13:40] fkling commented on #30394
Should we close this for now? @benvenker

[2022-07-12 13:41] fkling commented on #34968
That's actually the Monaco implementation and since we are replacing it we won't fix this.

[2022-07-12 13:41] #34968 closed

[2022-07-12 13:42] varsanojidan commented on #38590
@keegancsmith

yeah exactly it's an open bug with GitHub, and unfortunately none of the repository APIs can do what exactly what we need without having to query for each repo individually to see if it's archived.

Currently the API limit is 30 requests in one minute according to this page: https://docs.github.com/en/rest/search. Which is not bad, I think that should be enough.

As for potential is

[2022-07-12 13:50] #38044 closed

[2022-07-12 13:54] ryphil opened #38653 "Remove ability to create new access tokens from free instances"
Goal: Remove ability to use the API for free-tier users.

[2022-07-12 13:54] sourcegraph-bot-2 commented on #38653
Heads up @sourcegraph/iam - the "team/iam" label was applied to this issue.

[2022-07-12 13:55] #35189 closed

[2022-07-12 14:08] olafurpg opened #38656 "Rust: add integration tests for package host"
Currently, our Rust package host is the only package host with no e2e tests. For other ecosystems, we have e2e tests here

https://github.com/sourcegraph/sourcegraph/blob/2230bfcf27fe4d34f67d741ea290ebec09ae4f31/dev/gqltest/search_test.go#L1394-L1434

The e2e integration tests are helpful because they have caught regressions that we fixed quickly in the PR https://github.com/sourcegraph/sourcegrap

[2022-07-12 14:11] jhchabran opened #38657 "ci: bump buildevents version"
See https://sourcegraph.com/github.com/sourcegraph/infrastructure@main/-/blob/docker-images/buildkite-agent-stateless/Dockerfile?L265, two new releases has been made since the last one https://github.com/honeycombio/buildevents/releases/tag/v0.10.0

[2022-07-12 14:14] chrispine commented on #38124
P1?

[2022-07-12 14:15] chrispine commented on #37989
P0 or P1?

[2022-07-12 14:15] chrispine commented on #37882
P2?

[2022-07-12 14:17] chrispine commented on #38241
P1? (or P0 if this is sustaining, but I'm not sure it is)

[2022-07-12 14:19] chrispine commented on #38278
unsure of priority on this one; partially depends on the estimate, and on Malo's thoughts

[2022-07-12 14:20] #35149 closed

[2022-07-12 14:23] chrispine commented on #38500
P0? (not sustaining, but would be good to have done before our next sprint)

[2022-07-12 14:27] eseliger opened #38658 "Increase storybook coverage of SSBC components"
We've quickly added a lot of components of which a lot are not currently covered by a story. It'd be very nice if every component we have would be covered by a storybook again.

[2022-07-12 14:28] eseliger opened #38659 "Cover SSBC in integration test suite"

[2022-07-12 14:32] chrispine commented on #38610
P2?

[2022-07-12 14:34] keegancsmith commented on #38590
FYI you need to worry about duplicates anyways since while you are paginating through a repo may be updated. so something that appears on the first page can reappear on a later page.

[2022-07-12 14:36] unknwon opened #38661 "Pulling license data from dotcom into Salesforce"
Create a robust data pipeline to pull license data from dotcom database into Salesforce.

[2022-07-12 14:36] sourcegraph-bot-2 commented on #38661
Heads up @sourcegraph/iam - the "team/iam" label was applied to this issue.

[2022-07-12 14:39] fkling commented on #36510
For my understanding: Where does the `Ctrl+Opt+Left/Right` requirement come from? What is it generally supposed to do?

[2022-07-12 14:40] umpox commented on #23251
Proposed fix looks good, going to route to @sourcegraph/integrations as they will be better suited to make this change

[2022-07-12 14:40] sourcegraph-bot-2 commented on #23251
Heads up @muratsu @jjinnii @ryankscott - the "team/integrations" label was applied to this issue.

[2022-07-12 14:42] benvenker opened #38662 "Combine file and symbol data into a single panel"
- Nest symbols under files
- ~Utilize hierarchy for within symbols if possible~ we'll deal with hierarchy of the symbols later

Instead of using icons for identifying symbols, use text tags ([full list here](https://www.figma.com/file/8MkIcpDtjv6tqgxZFcEQDt/Core-workflow-punch-list?node-id=542%3A22853)). We should use the same background color for the tags as their icons use, but replace the icons

[2022-07-12 14:44] varsanojidan commented on #38590
Good point, ill keep it checking against the hash map for all the results.

Also I just realized the 30 requests per minute is actually going to be ~3000 repos per minute (3000 - duplicates) because the paging size is capped at 100. I did check and you are able to configure the rate-limit for the search api specifically so that would have to be something that needs to be done from the customer's e

[2022-07-12 14:48] malomarrec commented on #38500
P0 / ASAP, as this will be an input for planning, design and other teams

[2022-07-12 14:48] malomarrec commented on #38278
Given the fact that we're now focusing on making batch changes create immediate value to most devs, on top of server-side and all the rest, I (regretfully) suggest we push this back to Q4.

[2022-07-12 14:51] benvenker opened #38663 "Allow navigating up a directory in file tree pane"
GitHub provides a nice affordance to navigate up a level in the file tree view. No reason I can see not to provide this, unless it's prohibitively difficult.

![Image](https://user-images.githubusercontent.com/4605817/177199634-d1210266-6623-45e2-abe8-cd96af99c320.png)

[2022-07-12 14:51] LawnGnome commented on #37882
P1? 0.5-1d?

[2022-07-12 14:51] LawnGnome commented on #37989
P0, once we have a design?

[2022-07-12 14:52] benvenker opened #38664 "Add type-specific icons to file tree"
Show file type icons for each item in a folder. This should apply to anywhere the file tree component is showing individual files: file page and repo page

![Image](https://user-images.githubusercontent.com/4605817/177200269-3d53cf6e-be87-47af-94ee-1866d7e7e0bd.png)

[2022-07-12 14:52] LawnGnome commented on #38124
We'd need to nail down the required behaviour first (permalink into the changeset view, like clicking on a line in a GitHub PR?).

[2022-07-12 14:53] LawnGnome commented on #38241
I'd consider this sustaining, and therefore P0?

[2022-07-12 14:54] benvenker opened #38665 "Reference panel: add syntax highlighting to the refs and defs snippets"
![Image](https://user-images.githubusercontent.com/4605817/177200629-be4001d0-da8e-4881-84d9-368b8bab7dc3.png)

[2022-07-12 14:56] LawnGnome commented on #38600
P0, normally?

[2022-07-12 14:56] benvenker opened #38666 "Remove repo dropdown selector from file header bar"
It doesn’t ever load repositories and it’s not clear why you’d ever want to filter the file view on a repository

![Image](https://user-images.githubusercontent.com/4605817/177199283-3d1f1d29-ddae-4e27-b813-81854e86bf62.png)

[2022-07-12 14:57] sourcegraph-bot-2 commented on #38666
Heads up @taylorsperry @jasongornall - the "team/frontend-platform" label was applied to this issue.

[2022-07-12 14:57] LawnGnome commented on #15770
P0 for sustaining sprint; 1d, since the old PR is probably useless now?

[2022-07-12 14:57] benvenker opened #38667 "Tracking issue for file panel (Tree) improvements"
- [x] #38663
    - [x] #17122
- [x] #38662
- [x] #38664
- [x] #14856
- [x] #23136

[2022-07-12 15:02] #36252 closed

[2022-07-12 15:08] limitedmage opened #38668 "Search UI: simplify progress/skipped results UI"

[2022-07-12 15:08] sourcegraph-bot-2 commented on #38668
Heads up @benvenker @lguychard - the "team/search-product" label was applied to this issue.

[2022-07-12 15:09] chrispine commented on #38500
[RFC 713](https://docs.google.com/document/d/1c9vGgSfh35HNzhPSMltgVkMA9B1NO4QF5GgZwFlt5Ys/edit#)

[2022-07-12 15:12] umpox commented on #37233
Reopening this, had a failure on `main` [here](https://buildkite.com/sourcegraph/sourcegraph/builds/159986#0181f2dd-6959-4065-90d5-aaf8c6131b29/6-109).

Disabled the test in this PR: https://github.com/sourcegraph/sourcegraph/pull/38669

[2022-07-12 15:17] chrispine commented on #38124
So this ticket is for

- disable clicking on a line
- open new issue to figure out desired behavior

[2022-07-12 15:21] sourcegraph-bot-2 commented on #38666
Heads up @benvenker @lguychard - the "team/search-product" label was applied to this issue.

[2022-07-12 15:21] limitedmage commented on #36510
@fkling These are the keyboard shortcuts that VoiceOver uses to navigate (you don't need to implement this).

[2022-07-12 15:22] benvenker opened #38670 "Combine search info dropdown and query time/results count"
[Figma prototype](https://www.figma.com/proto/8MkIcpDtjv6tqgxZFcEQDt/Core-workflow-punch-list?node-id=176%3A14490&scaling=scale-down&page-id=0%3A1&starting-point-node-id=176%3A19861&show-proto-sidebar=1)

[Figma frame](https://www.figma.com/file/8MkIcpDtjv6tqgxZFcEQDt/Core-workflow-punch-list?node-id=176%3A14490)

[2022-07-12 15:24] sourcegraph-bot-2 commented on #38670
Heads up @benvenker @lguychard - the "team/search-product" label was applied to this issue.

[2022-07-12 15:24] limitedmage commented on #38668
Duplicate of #38670

[2022-07-12 15:24] #38668 closed

[2022-07-12 15:32] #38494 closed

[2022-07-12 16:06] bobheadxi commented on #17743
@jhchabran I think warn level errors are no longer sent to Sentry, right? We also have sampling in place for these events. We should formalize the sampling (move it into log config + site config) perhaps

[2022-07-12 16:07] #17743 closed

[2022-07-12 16:24] limitedmage commented on #36510
I think we need to remove `tabindex=0` from the notepad items, that seems to be conflicting with a number of things, including screen reader focus.

[2022-07-12 16:27] philipp-spiess commented on #38148
I've been working on [a hacky PR](https://github.com/sourcegraph/sourcegraph/pull/38651/files) based on what we included in the [Code Ownership RFC](https://docs.google.com/document/d/1gMx0K7fIwRgMvoavnWwHQ8DD6AVbem5Qo06I8H0BThs) (cc @muratsu @ryanslade @jjinnii). More specifically, I looked into how the predicate and compute APIs could be helpful for us.

I now have some technical questions for p

[2022-07-12 16:29] coury-clark commented on #38603
It appears the repo_id from the search results is `0` which does not match the repo_id from the database that is used to post-hoc filter for scoped repositories.

<img width="576" alt="image" src="https://user-images.githubusercontent.com/5090588/178544756-974f9419-5417-4630-be1d-7a982136ed88.png">

[2022-07-12 16:36] coury-clark opened #38676 "search: repository ID is 0 for commit results in stream API"
Linked from https://github.com/sourcegraph/sourcegraph/issues/38603#issuecomment-1181990495

Running a `type:commit` search in the streaming API returns a repository ID of 0 instead of the correct repository ID.
https://sourcegraph.com/.api/search/stream?q=type:commit

[code]

Doesn't reproduce in GraphQL
[code]

[2022-07-12 16:37] fkling opened #38677 "CodeMirror query input refocus bug"
When a filter is highlighted (current filter), it's not possible to click the on the user menu. For some reason the query input gets re-focused again.

https://user-images.githubusercontent.com/179026/178546206-4dee6155-f83b-45e8-a103-7b5acdd5389c.mp4

This issue appeared after upgrading CodeMirror packages to `6.*`, so it seems likely that this is an issue with CodeMirror or how we are using it.

[2022-07-12 16:37] sourcegraph-bot-2 commented on #38677
Heads up @benvenker @lguychard - the "team/search-product" label was applied to this issue.

[2022-07-12 16:38] #37852 closed

[2022-07-12 16:41] coury-clark commented on #38676
It appears the event is simply not being populated with repository ID https://sourcegraph.sourcegraph.com/github.com/sourcegraph/sourcegraph@4fc70234ede6e8e091ebbf4257cef5d470118d3d/-/blob/cmd/frontend/internal/search/search.go?L481-493

[2022-07-12 17:12] #38676 closed

[2022-07-12 17:28] rvantonder commented on #38148
I'll look at the PR more deeply bit later but generally:

- as much possible put your logic in a `Job` like you did. Passing things to Zoekt has the problems that (a) it's only Zoekt (so anything not indexed doesn't work with your new feature) (b) passing information into Zoekt (and depending on how custom it gets) is difficult and questionable. As much as possible we should treat it as a black bo

[2022-07-12 18:01] keegancsmith commented on #38614
I brought this up in a slack thread, but after looking at this issue I wanna re-ask it. There are a lot of fixes here and I know manual testing was part of validating them. Additionally these are done via direct customer asks. It feels like it would be very high value to repeat the manual tests against the release candidate. I say this though without knowledge of the code being tested though, so i

[2022-07-12 19:02] sashaostrikov commented on #38614
@keegancsmith I'll surely repeat the tests on `3.41` branch

[2022-07-12 20:01] vdavid commented on #37687
I think, with the "Open in Browser" button in place, we're much better now, so I'm moving this to the Icebox.

[2022-07-12 20:08] vdavid commented on #37688
Reacting to the four items:
1. **SearchBox icon sizing and colors:** I think the difference is manageable. I'd track this but put it in the Icebox.
2. **Star count font size:** I agree that this is very noticeable, and it's part of https://github.com/sourcegraph/sourcegraph/issues/38390 that I'd like to fix it pre-release.
3. **Make the match count color a fainter gray:** I totally agree, but I th

[2022-07-12 20:10] vdavid commented on #37481
This is apparently Mac only. As a next step (probably later), we could try debouncing the resize events for Mac only.

[2022-07-12 21:01] vdavid commented on #38574
I agree with the initiative, I think this would help a lot with both old and new users.
I also generally agree with @philipp-spiess's ideas for the solution. In particular, I'd definitely go with notifications.

Random thoughts:
 - One thing to be mindful of will be to handle the clash between the "log in!" and the "update! / try alt+s" notifications, so that we don't show both
 - After 10sec of t

[2022-07-12 21:29] limitedmage commented on #35906
@benvenker  I'm reopening this since it's not done. I've put this work on hold and have a draft PR out. If you think we should stop work on this entirely, please close it as "not planned". Thanks! :)

[2022-07-12 22:37] benvenker opened #38696 "Add dropdown to toggle new UI and put it behind an experimental feature"
We've created temporary setting to store whether the user has enabled the new UI, but we need to provide a way for them to toggle the setting.

For this work item, we should insert a toggle below the "theme" section of the avatar toggle dropdown menu:
- [Figma](https://www.figma.com/file/8MkIcpDtjv6tqgxZFcEQDt/Core-workflow-punch-list?node-id=74%3A11143)

![Image](https://user-images.githubusercon

[2022-07-12 22:41] sourcegraph-bot-2 commented on #38696
Heads up @benvenker @lguychard - the "team/search-product" label was applied to this issue.

[2022-07-12 22:44] cconcannon commented on #38341
That's interesting. I also am unable to reproduce the issue, but I'm still seeing that the element on sourcegraph.sourcegraph.com is `<a href="#" data-href="https://docs.sourcegraph.com/code_search/reference/structural#syntax-reference" title="https://docs.sourcegraph.com/code_search/reference/structural#syntax-reference">syntax reference</a>`

![Screen Shot 2022-07-12 at 3 39 31 PM](https://user-

[2022-07-12 22:46] limitedmage commented on #38696
This already exists in the user settings, should it be removed from there?
![CleanShot 2022-07-12 at 15 45 40](https://user-images.githubusercontent.com/206864/178611050-0563f172-16b4-4b13-9f2e-45d2aa76cdbc.png)

[2022-07-12 22:50] limitedmage commented on #38696
Also, by "experimental feature", do you mean a feature flag in settings or an experimental badge? I'm wondering if we really need both an experimental feature flag *and* a temporary setting or if we can show the toggle to everyone with an "experimental" badge instead. Either way, users can toggle it themselves and it's experimental.

[2022-07-12 23:23] #38320 closed

[2022-07-12 23:47] benvenker commented on #38696
I think @lguychard's thinking was basically "enable the experimental feature to display the toggle. Then the user can toggle back and forth". I honestly forgot we had already implemented this UI in the settings, so maybe what we already have is sufficient in terms of enabling/disabling.

My concern with the current location is discoverability pre-GA and I don't think it's current location is going

[2022-07-12 23:58] abeatrix commented on #30770
Closing since this is covered by the works done in https://github.com/sourcegraph/sourcegraph/issues/30769

[2022-07-12 23:58] #30770 closed

[2022-07-13 00:28] bobheadxi opened #38701 "dev/ci: deploy npm pull-through cache"
Flakes as a result of npm failures have become a quite common source of failures:

[code]

<img width="1444" alt="image" src="https://user-images.githubusercontent.com/23356519/178623099-5027dbfe-35ab-439e-a3fc-4e9c52657a0c.png">

https://sourcegraph.grafana.net/goto/GEAhSC6nk?orgId=1 (I think this is a correct query)

We should investigate deploying a pull-through cache for npm to mitigate these

[2022-07-13 01:07] bobheadxi commented on #38198
@davejrt let's give this a go during our hack hour this week!

[2022-07-13 02:40] #36470 closed

[2022-07-13 03:07] benvenker commented on #35906
Oh whoops. I'm not sure I meant to do that, sorry!

[2022-07-13 03:10] benvenker commented on #30394
I'll move to unplanned.

[2022-07-13 04:18] vovakulikov commented on #37350
@coury-clark I'm not 100% sure but to be able to implement logic how it's described in this issue's description here we should have `seriesIds` filters in order to send them to the backend and therefore sorting only these selected series and not the whole series list that the insight has.

cc @unclejustin

[2022-07-13 04:22] Joelkw opened #38705 "Make it easy for customers to get us the info we need"

[2022-07-13 04:38] vovakulikov commented on #37866
@CristinaBirkel I think we can't tell it at the moment. We definitely aim to finish at least the first stage of compute insight integration on the dashboard page within this week, cc @unclejustin

[2022-07-13 04:45] vdavid commented on #38575
Yup, it's pretty easy to do.
I agree that this change would make sense with the new policies.

[2022-07-13 04:56] valerybugakov commented on #37087
@gitstart-sourcegraph, we're going to discuss the possibility of dropping the `puppeteer-firefox` dependency to unblock this issue.

[2022-07-13 05:23] gitstart-sourcegraph opened #38706 "Dependabot: update shell-quote to a non-vulnerable version"
## Problem description
The shell-quote package before 1.7.3 for Node.js allows command injection. An attacker can inject unescaped shell metacharacters through a regex designed to support Windows drive letters. If the output of this package is passed to a real shell as a quoted argument to a command with exec(), an attacker can inject arbitrary commands. This is because the Windows drive letter re

[2022-07-13 05:25] #37325 closed

[2022-07-13 05:29] vdavid commented on #37692
+1 argument in favor of Option A (and Option C): if we keep the icons in the context menu then they'll also appear with the icon in the Find Action palette (these are tied together):

![Image](https://user-images.githubusercontent.com/2552265/178657505-ba4d4678-a306-4460-b2c1-c769fdba018d.png)

In case of Option A, we could, of course, keep the colorful icon in the popup header and only use the mo

[2022-07-13 05:35] varsanojidan commented on #38590
Unfortunately the approach with the search API described above does not work. The `updated` sort option and the `pushed` query option don't equate to the same thing even though the docs state they represent the last time the repository was updated, there are minute nuances between them which makes them unreliable to use together.

Because of this it's not actually possible to do our own pagination

[2022-07-13 06:00] #38438 closed

[2022-07-13 06:15] valerybugakov commented on #37616
@quinnhare, I removed your team label because it breaks the tracking issue links to sub-tasks

[2022-07-13 06:32] malomarrec commented on #37422
Hello from bot

[2022-07-13 06:36] taras-yemets commented on #38064
Fixed in https://github.com/sourcegraph/sourcegraph/pull/35403.
Included in `v22.7.11.926` Chrome/Firefox release.

[2022-07-13 06:36] #38064 closed

[2022-07-13 06:37] taras-yemets commented on #37045
Fixed in https://github.com/sourcegraph/sourcegraph/pull/35403.
Included in `v22.7.11.926` Chrome/Firefox release.

[2022-07-13 06:37] #37045 closed

[2022-07-13 06:42] TheAlmightyBob commented on #37045
I noticed that it was working again earlier today! Thanks @taras-yemets and @abeatrix!

[2022-07-13 07:39] jjinnii commented on #38574
@vdavid Would you be able to confirm that we won't have a way to recognize an update versus a new user? I also agree with the notification, but if we are not able to distinguish, I will have to think of copy that will apply to both new and old users.

[2022-07-13 07:40] taras-yemets commented on #38625
@ryankscott,

<details>
<summary>Banners we're going to remove</summary>
<img width="1712" alt="Screenshot 2022-07-13 at 10 05 05" src="https://user-images.githubusercontent.com/25318659/178677414-774b0d8a-571f-4110-8692-109a55d2d1b5.png">
<img width="1712" alt="Screenshot 2022-07-13 at 09 58 27" src="https://user-images.githubusercontent.com/25318659/178677427-daa5276a-0290-4416-a5cd-4a6c01de4699

[2022-07-13 08:21] valerybugakov commented on #37613
Excited about this improvement! This issue should further decrease the number of ignored flakes if we add a message like this: "PLEASE DO NOT IGNORE FLAKES and follow respective guidelines [link] to disable them". 🙂

[2022-07-13 08:27] #35251 closed

[2022-07-13 08:50] ryankscott commented on #38625
Yeah I think we probably want to drop that one too. I'll leave that up to @ryphil to decide.

[2022-07-13 08:54] #37961 closed

[2022-07-13 09:04] #38677 closed

[2022-07-13 09:17] olafurpg commented on #37921
I've re-enabled continuous syncing with crates.io, which was the last remaining checkbox to complete this issue

[2022-07-13 09:21] olafurpg commented on #32931
The reason this repo is empty is because it doesn't contain any code, it's an umbrella artifact name to transitively bring in other artifacts. You can check out the directory here https://repo1.maven.org/maven2/org/apache/logging/log4j/log4j/2.13.3/

This is a pretty common thing so it would be nice if our UI displayed more helpful information. For example, if we add a dedicated "packages" page th

[2022-07-13 09:21] olafurpg commented on #32931
I added the RFC 698 label since it falls under making packages a first-class entity. However, I think it's unlikely we will prioritize this functionality in the near future.

[2022-07-13 09:24] danielmarquespt opened #38713 "[DESIGN] Rethink the Close/Removal flow for batch change"

[2022-07-13 09:29] olafurpg commented on #37694
We now download from the crates.io CDN instead of API. The CDN is not available in config.json so we may need to add a new `"cdn"` code host setting to optionally allow downloading from a CDN instead of the `"dl"` setting from config.json.

[2022-07-13 09:30] olafurpg commented on #38656
Related #37693

[2022-07-13 09:54] #37324 closed

[2022-07-13 11:48] jjinnii commented on #38575
Thanks @vdavid and @philipp-spiess! [This is the solution](https://www.figma.com/file/nmNPZGYCoGIUN0YMylmPTT/JetBrains-plugin-MLP?node-id=2183%3A27458) that I'm thinking through at the moment, and would appreciate any feedback. It's heavily dependent on our ability to modify input fields + helper copy based on the URL input field.

The first wireframe labeled "[Default](https://www.figma.com/file/

[2022-07-13 12:02] malomarrec commented on #37486
Hey @Joelkw, it looks like this issue was created by someone outside Sourcegraph. Assigning you to triage it! Please answer and route to the right team by adding their team label.

[2022-07-13 12:03] malomarrec commented on #37362
Hey @malomarrec, it looks like this issue was created by someone outside Sourcegraph. Assigning you to triage it! Please answer and route to the right team by adding their team label.

[2022-07-13 12:08] sourcegraph-bot-2 commented on #37362
Heads up @benvenker @lguychard - the "team/search-product" label was applied to this issue.

[2022-07-13 12:11] sourcegraph-bot-2 commented on #35183
Heads up @taylorsperry @jasongornall - the "team/frontend-platform" label was applied to this issue.

[2022-07-13 12:14] umpox commented on #35185
Already using type="number", keeping this closed!

[2022-07-13 12:18] malomarrec commented on #37193
Hey @unknwon, this issue didn't have a team label. Given you created it, I assigned you and added your team label. Feel free to unassign yourself. If this is not the right label, can you make sure to add the right one?

[2022-07-13 12:19] malomarrec commented on #37159
Hey @ryankscott, it looks like this issue was created by someone outside Sourcegraph. Assigning you to triage it! Please answer and route to the right team by adding their team label.

[2022-07-13 12:19] malomarrec commented on #37142
Hey @ryankscott, it looks like this issue was created by someone outside Sourcegraph. Assigning you to triage it! Please answer and route to the right team by adding their team label.

[2022-07-13 12:20] malomarrec commented on #37068
Hey @ryankscott, it looks like this issue was created by someone outside Sourcegraph. Assigning you to triage it! Please answer and route to the right team by adding their team label.

[2022-07-13 12:21] malomarrec commented on #36473
Hey @eugeniaft, this issue didn't have a team label. Given you created it, I assigned you and added your team label. Feel free to unassign yourself. If this is not the right label, can you make sure to add the right one?

[2022-07-13 12:21] sourcegraph-bot-2 commented on #36509
Heads up @sourcegraph/search-core - the "team/search-core" label was applied to this issue.

[2022-07-13 12:22] malomarrec commented on #36435
Hey @Joelkw, it looks like this issue was created by someone outside Sourcegraph. Assigning you to triage it! Please answer and route to the right team by adding their team label.

[2022-07-13 12:22] malomarrec commented on #36415
Hey @jjeffwarner, this issue didn't have a team label. Given you created it, I assigned you and added your team label. Feel free to unassign yourself. If this is not the right label, can you make sure to add the right one?

[2022-07-13 12:23] malomarrec commented on #36385
Hey @AdhamKhalifa, this issue didn't have a team label. Given you created it, I assigned you and added your team label. Feel free to unassign yourself. If this is not the right label, can you make sure to add the right one?

[2022-07-13 12:23] malomarrec commented on #36378
Hey @kalanchan, this issue didn't have a team label. Given you created it, I assigned you and added your team label. Feel free to unassign yourself. If this is not the right label, can you make sure to add the right one?

[2022-07-13 12:23] malomarrec commented on #36323
Hey @ryphil, it looks like this issue was created by someone outside Sourcegraph. Assigning you to triage it! Please answer and route to the right team by adding their team label.

[2022-07-13 12:23] malomarrec commented on #36316
Hey @Joelkw, it looks like this issue was created by someone outside Sourcegraph. Assigning you to triage it! Please answer and route to the right team by adding their team label.

[2022-07-13 12:23] malomarrec commented on #36126
Hey @benvenker, it looks like this issue was created by someone outside Sourcegraph. Assigning you to triage it! Please answer and route to the right team by adding their team label.

[2022-07-13 12:23] malomarrec commented on #35992
Hey @varungandhi-src, this issue didn't have a team label. Given you created it, I assigned you and added your team label. Feel free to unassign yourself. If this is not the right label, can you make sure to add the right one?

[2022-07-13 12:23] malomarrec commented on #35974
Hey @benvenker, it looks like this issue was created by someone outside Sourcegraph. Assigning you to triage it! Please answer and route to the right team by adding their team label.

[2022-07-13 12:23] malomarrec commented on #35850
Hey @stefanhengl, this issue didn't have a team label. Given you created it, I assigned you and added your team label. Feel free to unassign yourself. If this is not the right label, can you make sure to add the right one?

[2022-07-13 12:23] malomarrec commented on #35424
Hey @quinnhare, it looks like this issue was created by someone outside Sourcegraph. Assigning you to triage it! Please answer and route to the right team by adding their team label.

[2022-07-13 12:23] malomarrec commented on #35361
Hey @vrto, this issue didn't have a team label. Given you created it, I assigned you and added your team label. Feel free to unassign yourself. If this is not the right label, can you make sure to add the right one?

[2022-07-13 12:23] malomarrec commented on #35351
Hey @vrto, this issue didn't have a team label. Given you created it, I assigned you and added your team label. Feel free to unassign yourself. If this is not the right label, can you make sure to add the right one?

[2022-07-13 12:23] malomarrec commented on #35309
Hey @michaellzc, this issue didn't have a team label. Given you created it, I assigned you and added your team label. Feel free to unassign yourself. If this is not the right label, can you make sure to add the right one?

[2022-07-13 12:23] malomarrec commented on #35120
Hey @malomarrec, it looks like this issue was created by someone outside Sourcegraph. Assigning you to triage it! Please answer and route to the right team by adding their team label.

[2022-07-13 12:23] malomarrec commented on #34978
Hey @stefanhengl, this issue didn't have a team label. Given you created it, I assigned you and added your team label. Feel free to unassign yourself. If this is not the right label, can you make sure to add the right one?

[2022-07-13 12:23] malomarrec commented on #34941
Hey @malomarrec, it looks like this issue was created by someone outside Sourcegraph. Assigning you to triage it! Please answer and route to the right team by adding their team label.

[2022-07-13 12:24] malomarrec commented on #34688
Hey @erzhtor, this issue didn't have a team label. Given you created it, I assigned you and added your team label. Feel free to unassign yourself. If this is not the right label, can you make sure to add the right one?

[2022-07-13 12:24] malomarrec commented on #34548
Hey @benvenker, it looks like this issue was created by someone outside Sourcegraph. Assigning you to triage it! Please answer and route to the right team by adding their team label.

[2022-07-13 12:24] malomarrec commented on #34450
Hey @taylorsperry, it looks like this issue was created by someone outside Sourcegraph. Assigning you to triage it! Please answer and route to the right team by adding their team label.

[2022-07-13 12:24] malomarrec commented on #34245
Hey @muratsu, this issue didn't have a team label. Given you created it, I assigned you and added your team label. Feel free to unassign yourself. If this is not the right label, can you make sure to add the right one?

[2022-07-13 12:24] malomarrec commented on #33879
Hey @ryankscott, it looks like this issue was created by someone outside Sourcegraph. Assigning you to triage it! Please answer and route to the right team by adding their team label.

[2022-07-13 12:24] malomarrec commented on #33863
Hey @camdencheek, this issue didn't have a team label. Given you created it, I assigned you and added your team label. Feel free to unassign yourself. If this is not the right label, can you make sure to add the right one?

[2022-07-13 12:24] malomarrec commented on #33807
Hey @michaellzc, this issue didn't have a team label. Given you created it, I assigned you and added your team label. Feel free to unassign yourself. If this is not the right label, can you make sure to add the right one?

[2022-07-13 12:24] malomarrec commented on #33757
Hey @macraig, this issue didn't have a team label. Given you created it, I assigned you and added your team label. Feel free to unassign yourself. If this is not the right label, can you make sure to add the right one?

[2022-07-13 12:24] malomarrec commented on #33738
Hey @eugeniaft, this issue didn't have a team label. Given you created it, I assigned you and added your team label. Feel free to unassign yourself. If this is not the right label, can you make sure to add the right one?

[2022-07-13 12:24] malomarrec commented on #33627
Hey @eugeniaft, it looks like this issue was created by someone outside Sourcegraph. Assigning you to triage it! Please answer and route to the right team by adding their team label.

[2022-07-13 12:24] malomarrec commented on #33622
Hey @chrismwendt, this issue didn't have a team label. Given you created it, I assigned you and added your team label. Feel free to unassign yourself. If this is not the right label, can you make sure to add the right one?

[2022-07-13 12:24] malomarrec commented on #33163
Hey @ryphil, it looks like this issue was created by someone outside Sourcegraph. Assigning you to triage it! Please answer and route to the right team by adding their team label.

[2022-07-13 12:24] malomarrec commented on #32866
Hey @ryphil, it looks like this issue was created by someone outside Sourcegraph. Assigning you to triage it! Please answer and route to the right team by adding their team label.

[2022-07-13 12:24] malomarrec commented on #30763
Hey @camdencheek, this issue didn't have a team label. Given you created it, I assigned you and added your team label. Feel free to unassign yourself. If this is not the right label, can you make sure to add the right one?

[2022-07-13 12:24] malomarrec commented on #27800
Hey @jplahn, this issue didn't have a team label. Given you created it, I assigned you and added your team label. Feel free to unassign yourself. If this is not the right label, can you make sure to add the right one?

[2022-07-13 12:26] sourcegraph-bot-2 commented on #35521
Heads up @benvenker @lguychard - the "team/search-product" label was applied to this issue.

[2022-07-13 12:28] sourcegraph-bot-2 commented on #34245
Heads up @muratsu @a-bergevin - the "team/growth" label was applied to this issue.

[2022-07-13 12:28] sourcegraph-bot-2 commented on #33863
Heads up @benvenker @lguychard - the "team/search-product" label was applied to this issue.

[2022-07-13 12:28] sourcegraph-bot-2 commented on #33849
Heads up @joelkw @felixfbecker @vovakulikov @unclejustin - the "team/code-insights" label was applied to this issue.

[2022-07-13 12:29] sourcegraph-bot-2 commented on #33807
Heads up @sourcegraph/cloud - the "team/cloud" label was applied to this issue.

[2022-07-13 12:29] sourcegraph-bot-2 commented on #35425
Heads up @sourcegraph/search-core - the "team/search-core" label was applied to this issue.

[2022-07-13 12:30] sourcegraph-bot-2 commented on #33738
Heads up @sourcegraph/search-core - the "team/search-core" label was applied to this issue.

[2022-07-13 12:31] sourcegraph-bot-2 commented on #35309
Heads up @sourcegraph/cloud - the "team/cloud" label was applied to this issue.

[2022-07-13 12:32] sourcegraph-bot-2 commented on #34978
Heads up @sourcegraph/search-core - the "team/search-core" label was applied to this issue.

[2022-07-13 12:32] sourcegraph-bot-2 commented on #34688
Heads up @muratsu @a-bergevin - the "team/growth" label was applied to this issue.

[2022-07-13 12:34] sourcegraph-bot-2 commented on #30763
Heads up @benvenker @lguychard - the "team/search-product" label was applied to this issue.

[2022-07-13 12:34] sourcegraph-bot-2 commented on #27800
Heads up @jplahn - the "team/repo-management" label was applied to this issue.

[2022-07-13 12:34] fkling commented on #14756
I think we can close this now. Besides phasing out Monaco, the editor API that I introduced in https://github.com/sourcegraph/sourcegraph/pull/36044 reads Monaco's value from the `<textarea>` element contained within it, which seems reliable so far.

[2022-07-13 12:34] #14756 closed

[2022-07-13 12:52] malomarrec commented on #38662
Hey @benvenker, this issue didn't have a team label. Given you created it, I assigned you and added your team label. Feel free to unassign yourself. If this is not the right label, can you make sure to add the right one?

[2022-07-13 12:52] malomarrec commented on #38633
Hey @mrnugget, this issue didn't have a team label. Given you created it, I assigned you and added your team label. Feel free to unassign yourself. If this is not the right label, can you make sure to add the right one?

[2022-07-13 12:52] malomarrec commented on #38455
Hey @ryphil, it looks like this issue was created by someone outside Sourcegraph. Assigning you to triage it! Please answer and route to the right team by adding their team label.

[2022-07-13 12:52] malomarrec commented on #38441
Hey @Joelkw, this issue didn't have a team label. Given you created it, I assigned you and added your team label. Feel free to unassign yourself. If this is not the right label, can you make sure to add the right one?

[2022-07-13 12:52] malomarrec commented on #38440
Hey @Joelkw, this issue didn't have a team label. Given you created it, I assigned you and added your team label. Feel free to unassign yourself. If this is not the right label, can you make sure to add the right one?

[2022-07-13 12:52] malomarrec commented on #38399
Hey @macraig, this issue didn't have a team label. Given you created it, I assigned you and added your team label. Feel free to unassign yourself. If this is not the right label, can you make sure to add the right one?

[2022-07-13 12:52] malomarrec commented on #38396
Hey @benvenker, this issue didn't have a team label. Given you created it, I assigned you and added your team label. Feel free to unassign yourself. If this is not the right label, can you make sure to add the right one?

[2022-07-13 12:52] malomarrec commented on #38395
Hey @benvenker, this issue didn't have a team label. Given you created it, I assigned you and added your team label. Feel free to unassign yourself. If this is not the right label, can you make sure to add the right one?

[2022-07-13 12:52] malomarrec commented on #38365
Hey @benvenker, this issue didn't have a team label. Given you created it, I assigned you and added your team label. Feel free to unassign yourself. If this is not the right label, can you make sure to add the right one?

[2022-07-13 12:52] malomarrec commented on #38324
Hey @ryankscott, this issue didn't have a team label. Given you created it, I assigned you and added your team label. Feel free to unassign yourself. If this is not the right label, can you make sure to add the right one?

[2022-07-13 12:52] malomarrec commented on #38303
Hey @macraig, this issue didn't have a team label. Given you created it, I assigned you and added your team label. Feel free to unassign yourself. If this is not the right label, can you make sure to add the right one?

[2022-07-13 12:53] sourcegraph-bot-2 commented on #38441
Heads up @joelkw @felixfbecker @vovakulikov @unclejustin - the "team/code-insights" label was applied to this issue.

[2022-07-13 12:53] sourcegraph-bot-2 commented on #38440
Heads up @joelkw @felixfbecker @vovakulikov @unclejustin - the "team/code-insights" label was applied to this issue.

[2022-07-13 12:54] sourcegraph-bot-2 commented on #38396
Heads up @benvenker @lguychard - the "team/search-product" label was applied to this issue.

[2022-07-13 12:55] sourcegraph-bot-2 commented on #38395
Heads up @benvenker @lguychard - the "team/search-product" label was applied to this issue.

[2022-07-13 12:55] sourcegraph-bot-2 commented on #38366
Heads up @benvenker @lguychard - the "team/search-product" label was applied to this issue.

[2022-07-13 12:55] sourcegraph-bot-2 commented on #38365
Heads up @benvenker @lguychard - the "team/search-product" label was applied to this issue.

[2022-07-13 12:55] sourcegraph-bot-2 commented on #38324
Heads up @muratsu @a-bergevin - the "team/growth" label was applied to this issue.

[2022-07-13 12:56] sourcegraph-bot-2 commented on #37939
Heads up @sourcegraph/iam - the "team/iam" label was applied to this issue.

[2022-07-13 12:59] keegancsmith commented on #34978
cc @mrnugget

[2022-07-13 12:59] keegancsmith commented on #35425
cc @mrnugget

[2022-07-13 12:59] keegancsmith commented on #35850
cc @mrnugget

[2022-07-13 13:07] pjlast opened #38731 "GitHub App as a possible code host in site admin"
Site admins need to be able to configure GitHub App as a site-level code host. Current configs exist, but would have to be updated to remove `dotcom` and `cloud` references. These are in the `Site configuration` section of Site Admin.

Currently the setup allows for a single GitHub App to exist on an instance, because that is how Cloud would have operated. I think it would theoretically be possibl

[2022-07-13 13:08] sourcegraph-bot-2 commented on #38731
Heads up @sourcegraph/iam - the "team/iam" label was applied to this issue.

[2022-07-13 13:08] pjlast opened #38732 "Documentation explaining how to set up GitHub App as a code host"
As mentioned in #38731 , we need thorough documentation explaining how to create a GitHub App, the required scopes, where in the site config to set it up. Kind of similar to https://docs.sourcegraph.com/admin/external_service/github . Sentry also has great docs explaining this process which we can learn from: https://docs.sentry.io/product/integrations/source-code-mgmt/github

#38731 should prefer

[2022-07-13 13:08] pjlast opened #38733 "Migrate existing cloud configuration and routes for GitHub App"
As mentioned in #38731 , there exists `site-config` entries for GitHub App, but they refer to Dotcom and Cloud. These references should be removed, since it would be site-level.

Then, the existing GitHub App routes all have various references to cloud, such as the `/cloud` in the routes and `Cloud` in handler names, as seen [here](https://sourcegraph.com/-/editor?remote_url=git%40github.com%3Asou

[2022-07-13 13:09] pjlast opened #38734 "Update existing GitHub App callback functions"
The existing callback handlers for GitHub App have a few assumptions baked into them. One such an assumption is that the install will be linked to a Sourcegraph Org. This will no longer be the case.

Technically we don't have to handle an installation callback, we can just query for installations right from Sourcegraph using the API. How we want to handle this is up for debate, but I would let wha

[2022-07-13 13:09] sourcegraph-bot-2 commented on #38732
Heads up @sourcegraph/iam - the "team/iam" label was applied to this issue.

[2022-07-13 13:09] pjlast opened #38735 "GitHub App code host identities should be stored as an installation_id/user_id pair"
GitHub App installations are identified by an `installation_id`. This `installation_id` governs which repositories are accessible by the GitHub App. When a user authorises the App with its own OAuth flow, the user token can be used to fetch which `installation_id`s this user has access to. By storing a user's GitHub Identity, authed with a GitHub App flow, as a list of `installation_id/user_id` pa

[2022-07-13 13:09] sourcegraph-bot-2 commented on #38733
Heads up @sourcegraph/iam - the "team/iam" label was applied to this issue.

[2022-07-13 13:10] sourcegraph-bot-2 commented on #38734
Heads up @sourcegraph/iam - the "team/iam" label was applied to this issue.

[2022-07-13 13:10] sourcegraph-bot-2 commented on #38735
Heads up @sourcegraph/iam - the "team/iam" label was applied to this issue.

[2022-07-13 13:10] mrnugget commented on #38633
Thanks @malomarrec. It's @fkling's test and he already has a PR open to fix (re-enable) the test in #38649 so I added `search-core`.

[2022-07-13 13:11] sourcegraph-bot-2 commented on #38633
Heads up @sourcegraph/search-core - the "team/search-core" label was applied to this issue.

[2022-07-13 13:18] malomarrec opened #38737 "Create batch changes flow breaks when query contains unescaped characters"
#### Current state

Creating a batch change from this doesn't "just work":
https://demo.sourcegraph.com/search?q=context:global+fork:yes+repo:%5Egithub%5C.com/yowayb/uBlock%24+file:package.json+%22scaling-palm-tree%22:+%22...%22&patternType=structural

Error: Failed to normalize JSON: yaml: line 6: mapping values are not allowed in this context

#### Impact

https://sourcegraph.slack.com/archives/

[2022-07-13 13:20] benvenker commented on #38365
This is correct, thanks @malomarrec!

[2022-07-13 13:22] #38657 closed

[2022-07-13 13:26] sourcegraph-bot-2 commented on #38633
Heads up @benvenker @lguychard - the "team/search-product" label was applied to this issue.

[2022-07-13 13:27] #38633 closed

[2022-07-13 13:39] jasongornall commented on #35637
pasting this here https://gist.github.com/oleggromov/b085a100d3051fdbd3d979a81502cb81 (steps on where is this at)

[2022-07-13 13:42] sourcegraph-bot-2 commented on #33627
Heads up @muratsu @a-bergevin - the "team/growth" label was applied to this issue.

[2022-07-13 13:50] efritz opened #38740 "RFC 697: Check privileged application state prior to migration application"
See [RFC 697: Multiple version upgrades](https://docs.google.com/document/d/1eNiwzWZmfpvzFhs9IDcM7Sbchv_Hm8Uj-6bI-3TDlvg).

A follow-up from #38687. When privileged migrations are in the set of migrations to be applied, we should fail-fast before making any changes to the schema. Currently, we exit (or prompt) only at the point where that schema is applied.

[2022-07-13 13:53] efritz opened #38741 "RFC 697: Prevent permanent application of `-noop-privileged`"
See [RFC 697: Multiple version upgrades](https://docs.google.com/document/d/1eNiwzWZmfpvzFhs9IDcM7Sbchv_Hm8Uj-6bI-3TDlvg).

A follow-up from #38687. Make it difficult for users to supply `-noop-privileged` on all migrations. This will stop the user from accidentally skipping a new migration containing privileged commands without having manually run the migrations.

In order to do this, we should c

[2022-07-13 13:53] efritz opened #38742 "RFC 697: Make warning output of `-noop-privileged` more actionable"
See [RFC 697: Multiple version upgrades](https://docs.google.com/document/d/1eNiwzWZmfpvzFhs9IDcM7Sbchv_Hm8Uj-6bI-3TDlvg).

A follow-up from #38687. We currently print an easy-to-miss warning message when the `-noop-privileged` flag is in-effect. We should jazz up the output here so that the user knows exactly what needs to be applied by hand.

[2022-07-13 14:05] taylorsperry commented on #34450
Hey @sourcegraph/security team, I think this belongs to you as owners of Cloudflare.

[2022-07-13 14:05] #38279 closed

[2022-07-13 14:05] sourcegraph-bot-2 commented on #34450
Heads up @dcomas - the "team/security" label was applied to this issue.

[2022-07-13 14:06] sourcegraph-bot-2 commented on #38324
Heads up @muratsu @jjinnii @ryankscott - the "team/integrations" label was applied to this issue.

[2022-07-13 14:08] taylorsperry commented on #35459
@stefanhengl will you please reassign if @sourcegraph/search-core isn't the right team for this? Thanks!

[2022-07-13 14:11] ferozsalam commented on #34450
Hey @taylorsperry thanks for the heads up – it looks as if we have resolved this issue already. @KaeruCT could you please let us know if you're still seeing this behavior?

[2022-07-13 14:25] ryankscott commented on #38625
@taras-yemets I just talked to @ryphil we should remove that signup banner too.

[2022-07-13 14:33] pjlast opened #38744 "Handle GitHub App revoked credentials webhook"
We should proactively handle GitHub App revocations using the mandatory webhook, as mentioned here: https://docs.github.com/en/developers/apps/building-github-apps/identifying-and-authorizing-users-for-github-apps#handling-a-revoked-github-app-authorization

When this webhook is received, the user's corresponding GitHub App entries in `user_external_services` should be removed (or marked deleted,

[2022-07-13 14:43] pjlast opened #38747 "Consider disabling user_external_accounts entries when we receive 401 Bad Credentials errors"

[2022-07-13 14:46] vdavid commented on #38574
@jjinnii I'm confident that we could find a way to distinguish between new and old users, but I'm not sure it'll fit in the allocated time frame of the next two days. So for the sake of speed, let's go with **no, we can't distinguish between the two** for now.

[2022-07-13 14:47] danielmarquespt commented on #38579
@courier-new why do you feel we need a Reattach counter? From what I gathered, when a changeset is reattached, its just another changeset. So a reattached changeset is going to be reflected on Open or the other counter. Right?

[2022-07-13 15:23] macraig opened #38749 "Rename Code Intelligence to code navigation and code graph in the UI"
Rename all occurrences in the UI to code navigation or code graph as applicable. Redirect any /code-intelligence to /code-graph or /code-navigation

![CleanShot 2022-07-13 at 18 42 52](https://user-images.githubusercontent.com/1657213/178786867-8221849e-4c31-4e69-b01b-f482cb8c8e1a.png)

[2022-07-13 15:46] jhchabran opened #38754 "CI linter detection does not detect shell scripts whose extension is not `.sh`"
See https://github.com/sourcegraph/sourcegraph/pull/38609/files

[2022-07-13 16:04] benvenker commented on #31692
@novoselrok did you ever get a chance to take a look at this one?

[2022-07-13 16:17] #33807 closed

[2022-07-13 16:18] #35309 closed

[2022-07-13 16:30] indradhanush commented on #38615
Reopening because of [this](https://github.com/sourcegraph/sourcegraph/pull/38671#pullrequestreview-1037650836) review.

[2022-07-13 16:39] varsanojidan commented on #38590
Ahh I see, this is great! I'm a little concerned about the [refine](https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/blob/internal/repos/github.go?L803:4&subtree=true) potentially racking up on our rate limit, but if this has been working well so far I will definitely give it a go, thanks Keegan!

[2022-07-13 16:49] #38614 closed

[2022-07-13 17:01] sourcegraph-bot-2 commented on #36206
Heads up @taylorsperry @jasongornall - the "team/frontend-platform" label was applied to this issue.

[2022-07-13 17:32] coury-clark opened #38761 "insights: make database handles type safe"
Code Insights has two databases it interacts with, both `pgsql` and `codeinsights-db`. In some environments (at the moment dev) these are actually the same database. When we pass handles into stores we don't currently have any safety that the handle provided to the store actually represents the correct database. This can result in [bugs](https://github.com/sourcegraph/sourcegraph/pull/38760) that

[2022-07-13 17:32] sourcegraph-bot-2 commented on #38761
Heads up @joelkw @felixfbecker @vovakulikov @unclejustin - the "team/code-insights" label was applied to this issue.

[2022-07-13 17:40] efritz commented on #38749
Obvious things that need to be changed:

- Code intelligence button in the repository view (see graphic in original issue description)
- Code intelligence settings (for repository) sidebar title and breadcrumb
- Site admin sidebar title
- Braindot title in a repository

URLs that need to change (please add a redirect from the old URLs to not break existing links into the product):
- Code intellige

[2022-07-13 18:03] #38666 closed

[2022-07-13 18:21] sashaostrikov commented on #38644
*Sourcegraph 3.41.1 has been published*

* Changelog: https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/blob/CHANGELOG.md#3-41-1
* GitHub release: https://github.com/sourcegraph/sourcegraph/releases/tag/v3.41.1
* Release batch change: https://k8s.sgdev.org/organizations/sourcegraph/batch-changes/release-sourcegraph-3.41.1

@sashaostrikov: Please complete the post-release steps before cl

[2022-07-13 18:55] rvantonder commented on #38439
hi me again @sourcegraph/code-insights 👋 is there a timeline for this work? It's currently the only thing blocking the PR https://github.com/sourcegraph/sourcegraph/pull/38141

[2022-07-13 18:57] CristinaBirkel commented on #38439
@rvantonder I'm working on this right now!

[2022-07-13 19:07] rvantonder commented on #38148
I think we should do this:

- prepare a PR for realsies that introduces your `owners` predicate. Only the search predicate to start, no compute things. From my perspective, between @camdencheek and myself reviewing something like that, I think we'd be comfortable merging it as-is, no need to feature flag. This because (a) search predicates are syntactically low-profile (it's rather unlikely that a

[2022-07-13 19:09] olafurpg commented on #37921
Reopening this issue since there appears to be a non-trivial lag for crate versions to sync with Sourcegraph. All crates should sync every 12h but I suspect we're syncing stale commits from crates.io-index due to https://github.com/sourcegraph/sourcegraph/issues/37690

I'm also open to adding a special-case when visiting the `/compare` page so that we fetch the versions directly from crates.io, th

[2022-07-13 19:09] rvantonder commented on #38439
OK sweet thanks!

[2022-07-13 19:47] #36206 closed

[2022-07-13 21:02] bobheadxi commented on #37355
Current participants: @davejrt @bobheadxi

[2022-07-13 21:03] bobheadxi commented on #37778
Current participants: @bobheadxi @jhchabran @davejrt

[2022-07-13 21:03] bobheadxi commented on #37778
Current participants: @bobheadxi @jhchabran @davejrt

[2022-07-13 21:04] bobheadxi commented on #37931
Current participants: @marekweb @bobheadxi @kalanchan

[2022-07-13 21:04] bobheadxi commented on #37931
Current participants: @marekweb @bobheadxi @kalanchan

[2022-07-13 21:04] bobheadxi commented on #38347
Current participants: @kalanchan @davejrt @sanderginn

[2022-07-13 21:06] bobheadxi commented on #26105
There has been no real demand for this, so am closing this for now

[2022-07-13 21:06] #26105 closed

[2022-07-13 22:03] #38696 closed

[2022-07-13 22:35] #37882 closed

[2022-07-13 23:24] bobheadxi commented on #38701
Alright @kalanchan and I looked at this for a few hours, and I think this is a non-starter. How it works:

1. Install via a self-hosted registry, e.g. `yarn install --registry ${verdaccio} ${package}` (see below for why `${package}`)
2. Verdaccio acts as a pull-through cache - repeated requests successfully goes through Verdaccio and uses the cached hit

Now the problems arise: `yarn.lock` tracks

[2022-07-13 23:28] bobheadxi commented on #38701
The alternative is to look at https://yarnpkg.com/configuration/yarnrc#httpsProxy , with something like http://www.squid-cache.org/

[2022-07-13 23:48] #37966 closed

[2022-07-14 00:49] courier-new commented on #35734
+1 to this issue. The new server-side batch changes workflow makes extensive use of disabled buttons and inputs.

[2022-07-14 01:12] courier-new opened #38782 "[Accessibility]: Disabled elements with `<Tooltip>` introduce `tabIndex` without a `role`"
### Audit type

ARC Toolkit

### User journey audit issue

_No response_

### Problem description

When a disabled element is wrapped in a `<Tooltip />`, the trigger introduces an element to the tab order that lacks a `role`, causing an error to be reported by ARC. For example, with a disabled button:

<img width="1264" alt="image" src="https://user-images.githubusercontent.com/8942601/178863983-a

[2022-07-14 01:33] courier-new opened #38783 "[Accessibility]: Multiple `H1`s on Batch Changes list page"
### Audit type

ARC Toolkit

### User journey audit issue

_No response_

### Problem description

On the batch changes list page (`/batch-changes`), there are multiple `<H1/>` elements: the Sourcegraph logo in the navigation bar, and the "Batch Changes" page title, which produces a warning in ARC Toolkit:

<img width="1945" alt="image" src="https://user-images.githubusercontent.com/8942601/178868

[2022-07-14 05:39] keegancsmith commented on #38590
Yeah it should work well. It is running on sourcegraph.com to literally sync all repos on github with more than 5 stars. That is a lot of requests!

[2022-07-14 06:10] courier-new opened #38789 "batches: invest in improving screen reader experience for server-side execution workflows"
https://github.com/sourcegraph/sourcegraph/pull/38788 demonstrated that the server-side execution workflow is sufficiently complicated to warrant a more in-depth investment into screen reader experience. Once the UI and general workflow has stabilized after beta feedback and we have better application-wide guidelines from the frontend platform team on designing screen-reader-assisted interfaces fo

[2022-07-14 06:52] #36125 closed

[2022-07-14 07:34] ryanslade commented on #38148
Think the wrong Ryan was tagged above. cc @ryankscott

[2022-07-14 08:12] mrnugget commented on #35459
Assigned to myself since I'm now working on dependency search. But I'm also not in a team. So I created a `dependency-search` label and attached that.

[2022-07-14 08:47] #35183 closed

[2022-07-14 09:14] burmudar commented on #26638
We should look at using agent hooks for this so that all pipelines benefit from this @jhchabran

[2022-07-14 09:50] jjinnii commented on #38574
Based on the current restriction that we can't distinguish between a new install versus an upgrade, I've added [a balloon notification](https://www.figma.com/file/nmNPZGYCoGIUN0YMylmPTT/JetBrains-plugin-MLP?node-id=1601%3A14159) that will be shown to **all users** upon install or upgrade after our release. Open to feedback on copy! It's a bit difficult to not allude to a successful install or upgr

[2022-07-14 09:55] olafurpg commented on #36062
@Numbers88s Is this issue still going to be worked on?

[2022-07-14 10:01] macraig commented on #38749
Yes, those should be "Code graph data uploads"

[2022-07-14 10:52] macraig commented on #37489
@oleggromov would this be a blocker for shipping the ref panel?

[2022-07-14 10:55] olafurpg commented on #37921
Small update: I'm working on a branch that makes the `/compare` page sync the requested versions so that it's guaranteed to load as long as crates.io has the version available. I've validated that this approach is possible, just need to clean up the implementation (get a green CI, add tests).

[2022-07-14 11:17] jjinnii commented on #36062
@macraig @olafurpg I'd feel comfortable closing this issue out as we're actively trying to ship the reference panel for all users in the very near future.

[2022-07-14 11:21] macraig commented on #33685
Closing as all audits and outstanding issues have been fixed. Remaining smaller issues will be handled by the Frontend team

[2022-07-14 11:21] #33685 closed

[2022-07-14 11:36] sashaostrikov commented on #38644
release config was updated in this PR
https://github.com/sourcegraph/sourcegraph/pull/38796

[2022-07-14 11:41] vdavid commented on #38575
@jjinnii From a technical point of view, it's possible to make it work. But I have an alternative suggestion that I think would lead to better UX: what do you think about this layout for the settings?

![CleanShot 2022-07-14 at 13 35 44@2x](https://user-images.githubusercontent.com/2552265/178973732-c3c4792d-d427-4ff8-bfb7-c5959f99eead.png)

There would be two options similar to the screenshot: so

[2022-07-14 11:46] vdavid commented on #38574
@jjinnii I think it's great! I'll create a PR with this change.

[2022-07-14 11:48] olafurpg commented on #36062
Sounds good.

[2022-07-14 11:48] #36062 closed

[2022-07-14 11:52] vdavid opened #38802 "JetBrains: Add “Successfully connected to Sourcegraph” notification"
As @jjinnii designed it in this [figma](https://www.figma.com/file/nmNPZGYCoGIUN0YMylmPTT/JetBrains-plugin-MLP?node-id=2183%3A26067#223272011).

It should appear right after saving correct settings in Preferences, and ONLY IF the previous settings were incorrect.

Technical difficulty: we verify the connection in the embedded browser rather than in Java. If the user hadn't opened the “Find with So

[2022-07-14 11:52] sourcegraph-bot-2 commented on #38802
Heads up @muratsu @jjinnii @ryankscott - the "team/integrations" label was applied to this issue.

[2022-07-14 12:01] vdavid commented on #37688
@philipp-spiess, on a second thought, I think we could close this once https://github.com/sourcegraph/sourcegraph/pull/38801 is merged. WDYT?

[2022-07-14 12:42] jjinnii commented on #38575
@vdavid I like the idea! If you could please update and tag me for final review, that would be great. Thanks!

[2022-07-14 12:47] jjinnii commented on #38802
Okay thanks @vdavid ! I would say this one is slightly more important, as communicating to our enterprise users that they were able to successfully connect (and not guess or try out search before they know it was successful) is an important part of the authentication exploration.

Let me know if you feel as if my current design (the balloon notification) is not possible or too much work, maybe we

[2022-07-14 12:48] benvenker commented on #4282
@limitedmage or @novoselrok do either of you want to pick this up? Thomas was assigned but seem a little out of his normal scope :D

[2022-07-14 13:01] philipp-spiess commented on #37688
@vdavid Makes sense to me! 🙂

[2022-07-14 13:02] benvenker opened #38807 "Nest symbol results by container name"
from @novoselrok:

![Image](https://user-images.githubusercontent.com/4605817/177199346-544478aa-d845-4ce7-b225-511f760b332b.png)

[2022-07-14 13:05] benvenker commented on #38521
I think we really only need it on the search results page, the file page, the repo page, and the diff/commit views. Am I missing any where you're actually looking at code? I don't think we need it on the notebook creation page. Maybe keep it on the notebooks main page so when people turn it on they actually see it (even if there are no notes in it).

[2022-07-14 13:12] benvenker opened #38809 "Make sure all CTAs in the core workflow are using temporary settings"
Once CTAs have been dismissed by a user they should stay dismissed. At least the editor extension CTA, if not more, continues to pop up after I’ve dismissed it. I know some CTAs have used Redis cache for tracking dismissal in the past, which temporary settings makes unnecessary

[2022-07-14 13:13] sourcegraph-bot-2 commented on #38809
Heads up @benvenker @lguychard - the "team/search-product" label was applied to this issue.

[2022-07-14 13:13] benvenker commented on #38809
@limitedmage no pressure to pull this, just seemed in your wheelhouse :)

[2022-07-14 13:14] benvenker opened #38810 "Add symbol type information to symbol results"
Today, we only show symbol icons next to symbol names. We know the symbol type info so we should show it. Our icons are not clear (separate problem) and really don’t communicate any information to the user, other than maybe that this symbol is different than symbol types with another icon.

## Proposals
Some options for displaying the results in [this Figma](https://www.figma.com/file/8MkIcpDtjv6t

[2022-07-14 13:28] olafurpg commented on #37921
I've opened a PR https://github.com/sourcegraph/sourcegraph/issues/37921 that implements the strategy above, which is to fallback to an on-demand sync when the tries to load a version that we haven't synced yet. The PR description includes a video explaining the change in more details.

[2022-07-14 14:23] vovakulikov commented on #37220
@unclejustin I think this one slippped from you. But this is an important part even for prototype version of compute-powered insight. I will unassigne Alicja and remove needs designs label since this issue was covered in this [designs](https://www.figma.com/file/DqZHetdfqHSVzzWtyfjOmr/Compute-x-Insights%2C-RFC-696%2C-%2337923-%5BReady-fro-dev%5D)

[2022-07-14 15:29] #26981 closed

[2022-07-14 15:29] bobheadxi commented on #38701
One idea from @jhchabran is to hot-patch `yarn.lock` when in CI specifically to use a specific registry, which _could_ work but I'm not sure if it's best practice - sending this over to FPT to see if they have any ideas.

[2022-07-14 15:46] bobheadxi opened #38819 "s2: deploy otel-collector"

[2022-07-14 16:30] lrhacker opened #38823 "Fix Input, Checkbox, and disabled Tooltip styles to support removing InputTooltip"
### Issue type

Internal request

### Problem description

When trying to replace the InputTooltip component with just using Tooltip and Input components (or Tooltip and Checkbox), the default styles of these components together do not work across different browsers on the corresponding batch changes pages, resulting in a visual regression.

### Context

See #38334 for more examples in the comment

[2022-07-14 16:31] sourcegraph-bot-2 commented on #38823
Heads up @taylorsperry @jasongornall - the "team/frontend-platform" label was applied to this issue.

[2022-07-14 16:35] quinnhare commented on #35424
Sounds like a customer is having a hard time set up, assigning to Delivery team. Please update if this is incorrect team.

[2022-07-14 16:35] sourcegraph-bot-2 commented on #35424
Heads up @sourcegraph/delivery - the "team/delivery" label was applied to this issue.

[2022-07-14 16:36] quinnhare commented on #37485
Assigning to security team.

[2022-07-14 16:52] limitedmage commented on #38664
IMO whatever icons we use here should also be used in the tree page for consistency:

![image](https://user-images.githubusercontent.com/206864/179036601-84b4d5ba-ff87-4963-9c28-bb661b1e0894.png)

[2022-07-14 16:53] limitedmage commented on #38667
@oleggromov assigning this to you since I believe you're the point of contact for code navigation frontend work.

[2022-07-14 17:01] #37362 closed

[2022-07-14 17:06] sourcegraph-bot-2 commented on #33445
Heads up @sourcegraph/delivery - the "team/delivery" label was applied to this issue.

[2022-07-14 17:06] sourcegraph-bot-2 commented on #35424
Heads up @sourcegraph/delivery - the "team/delivery" label was applied to this issue.

[2022-07-14 17:21] dadlerj opened #38825 "Events rejected by server if user not signed in"
- **Sourcegraph version:** private instances

#### Steps to reproduce:

1. visit a private instance and try to sign in.
2. open network tab and search for "graphql?logevents"
3. see that all events are blocked

<img width="1416" alt="image" src="https://user-images.githubusercontent.com/5589410/179044525-0052a30a-a780-42a1-908a-59abbc9da258.png">

#### Expected behavior:

events should be loggable

[2022-07-14 17:22] sourcegraph-bot-2 commented on #38825
Heads up @sourcegraph/iam - the "team/iam" label was applied to this issue.

[2022-07-14 17:25] camdencheek commented on #30733
Done in #38337

[2022-07-14 17:25] #30733 closed

[2022-07-14 17:31] #34074 closed

[2022-07-14 17:34] courier-new commented on #34077
Audit completed, closed by https://github.com/sourcegraph/sourcegraph/pull/38788.

[2022-07-14 17:34] courier-new commented on #34075
Audit completed, closed by https://github.com/sourcegraph/sourcegraph/pull/38788.

[2022-07-14 17:35] courier-new commented on #34087
Audit completed, closed by https://github.com/sourcegraph/sourcegraph/pull/38788.

[2022-07-14 17:43] BolajiOlajide commented on #36598
Ran a benchmark using [hyperfine](https://github.com/sharkdp/hyperfine) for 300 runs of `batch preview`

[code]

## Batch Spec

[code]

| OS Arch | Command | Mean [s] | Min [s] | Max [s] | Relative |
|:---|---:|---:|---:|---:|---:|
| MacOS (amd) | `src batch preview -workspace bind -cache /tmp/src-test-cache1 -f 2batch.yaml` | 1.988 ± 0.312 | 1.764 | 6.961 | 1.00 |
| MacOS (amd) | `src batch previ

[2022-07-14 17:44] benvenker opened #38829 "Make search contexts behave as expected"
Full, rich context in the [slack thread](https://sourcegraph.slack.com/archives/CHEKCRWKV/p1657817717306289). The UI makes you think you're getting a hard-scoped search context but you're actually not.

Source is in how the UI handles generating the query, it seems.

- potentially just transform the query before we send it?

[2022-07-14 17:44] sourcegraph-bot-2 commented on #38829
Heads up @benvenker @lguychard - the "team/search-product" label was applied to this issue.

[2022-07-14 18:40] vovakulikov opened #38832 "Code Insights: Support series color for compute-powered insight series"
Depends on https://github.com/sourcegraph/sourcegraph/issues/39162

## Background

In the first release of compute we release series with no manually set colors and use generated on the backend series results and colors simular to the capture group insight. This is because we can't connect series with series points in case of generated series point on the backend in live preview handler `searchIns

[2022-07-14 18:40] sourcegraph-bot-2 commented on #38832
Heads up @joelkw @felixfbecker @vovakulikov @unclejustin - the "team/code-insights" label was applied to this issue.

[2022-07-14 18:49] limitedmage commented on #38809
What CTAs are left after this? https://github.com/sourcegraph/sourcegraph/issues/38625

[2022-07-14 18:57] limitedmage commented on #4282
I think if we have this, it should be a setting of some kind and disabled by default. After the work we did last year to make navigating back cache the search results, I think this is even less necessary.

Also, should this only happen when the "simple UI" toggle is on (make it part of the core workflow improvements)?

[2022-07-14 19:17] felixfbecker commented on #37220
@vovakulikov please also keep in mind that we want to file separate issues for engineering and design tasks to avoid this confusion, an engineering task should never have `needs-design` or Alicja assigned.

[2022-07-14 19:47] vovakulikov opened #38836 "Code Insights: Conduct design UI review of compute powered insight creation UI"
Follow up for https://github.com/sourcegraph/sourcegraph/pull/38762

## Test plan
- Go to the /insights/create/group-results URL.
- Make sure that you can create a compute-powered insight through the newly created compute creation UI page and see a correct live preview result.

[2022-07-14 21:01] limitedmage commented on #38565
I'm closing this because it's already there and should be persisted (in temporary settings). If you've found a bug in this flow where the panel state is not preserved, please reopen the issue with more details (eg. repro steps).

[2022-07-14 21:01] #38565 closed

[2022-07-14 22:20] eseliger commented on #36598
Are you sure it ran over the workspace the other 299 times? Without `-clear-cache` or a new cache dir for every run, src-cli should find a match and not run execution a second time 🤔

Also, the big problem with bind mode was IO, this example batch spec doesn't do a lot of IO. Maybe try to run yarn in the sg/sg repo to compare the two?

[2022-07-14 22:33] BolajiOlajide commented on #36598
Oh I'm not done yet. Just added this here so I can have access to the commands on my personal laptop.

[2022-07-14 22:47] eseliger commented on #36598
Ah, all good then!

[2022-07-15 01:44] LawnGnome opened #38851 "sg: `sg setup` deadlocks on Arch Linux"
- **Platform information:** Arch Linux

#### Steps to reproduce:

1. Run `sg setup` (or `sg setup -c`).

#### Expected behavior:

No hang.

#### Actual behavior:

`sg` hangs after displaying the initial progress tree.

This appears to be some sort of deadlock in the check concurrency — manually patching the runner concurrency to be 1 instead of 10 allows it to proceed as expected. An obvious worka

[2022-07-15 02:36] abeatrix opened #38853 "Publish final documentation to external docs"

[2022-07-15 02:41] unknwon commented on #38825
Just want to note that I think we intentionally don't allow any request to get through the authN check for instances not running in the dotcom mode, just something to keep in mind while fixing this.

[2022-07-15 02:42] valerybugakov commented on #38701
It is [a known issue](https://github.com/yarnpkg/yarn/issues/3330) with the `yarn` version we use. [It's solved](https://github.com/yarnpkg/yarn/issues/3330#issuecomment-470490312) in modern package versions. I [experimented with migrating us to `pnpm`](https://github.com/sourcegraph/sourcegraph/pull/33121) which also [doesn't have this problem](https://raw.githubusercontent.com/sourcegraph/source

[2022-07-15 02:45] valerybugakov commented on #38701
Note that this is the documentation for modern versions of `yarn`, and we need to upgrade to use it.

[2022-07-15 02:47] benvenker commented on #38565
Ah, ok. No this was a new issue I made just because it was new behavior compared to the current sidebar

[2022-07-15 02:59] benvenker commented on #4282
@limitedmage what if we add an "open in new tab" icon button to the result header and keep the current behavior when you're clicking into a result? If we did that, the one modification I would request is that clicking on the open in new tab button  automatically takes you to the first match in the file.

Today when you click on the file name in the header it just takes you to the top of the file.

[2022-07-15 03:00] benvenker commented on #38809
OH. Didn't see that issue. I think we're good then.

[2022-07-15 03:00] #38809 closed

[2022-07-15 03:58] #33302 closed

[2022-07-15 04:01] valerybugakov commented on #38607
@gitstart-sourcegraph, we still have [at least one occurrence](https://github.com/sourcegraph/sourcegraph/blob/da154b5a93d7505b0fa994753851c27af385a347/client/jetbrains/webview/src/bridge-mock/renderColorDebugger.tsx#L11) of using ReactDOM.render in the codebase. Does it make sense to reopen this issue and complete the migration?

[2022-07-15 06:33] #37692 closed

[2022-07-15 08:06] rvantonder opened #38859 "CI flakes on tests that have been stable for months (structural search)"
Investigate https://github.com/sourcegraph/sourcegraph/pull/38858

/cc @sourcegraph/search-platform

[2022-07-15 09:28] malomarrec commented on #38859
Hey @rvantonder, this issue didn't have a team label. Given you created it, I assigned you and added your team label. Feel free to unassign yourself. If this is not the right label, can you make sure to add the right one?

[2022-07-15 09:28] malomarrec commented on #38853
Hey @malomarrec, it looks like this issue was created by someone outside Sourcegraph. Assigning you to triage it! Please answer and route to the right team by adding their team label.

[2022-07-15 09:28] malomarrec commented on #38749
Hey @macraig, this issue didn't have a team label. Given you created it, I assigned you and added your team label. Feel free to unassign yourself. If this is not the right label, can you make sure to add the right one?

[2022-07-15 09:29] sourcegraph-bot-2 commented on #38859
Heads up @benvenker @lguychard - the "team/search-product" label was applied to this issue.

[2022-07-15 09:29] #37965 closed

[2022-07-15 09:59] malomarrec commented on #38853
@abeatrix having trouble assigning this to a team. Can you add a `team/<team>` label please and remove the `triage-bot` label?

[2022-07-15 10:01] vdavid commented on #38574
@jjinnii @ryankscott what's the URL the the "Learn More" link should point?
Maybe it's in the [figma](https://www.figma.com/file/nmNPZGYCoGIUN0YMylmPTT/JetBrains-plugin-MLP?node-id=1601%3A14159) just I couldn't find it?
If it's to our future blog post then we'll need to figure out something different, or set this last minute.

[2022-07-15 10:29] jjinnii commented on #38574
It should be to the future blog post! @vdavid

[2022-07-15 10:45] #37681 closed

[2022-07-15 11:01] vovakulikov opened #38872 "insights: group by setting doesn't change even if in insight mutation we try to override it"
[Related slack message](https://sourcegraph.slack.com/archives/C02KE7E9GMR/p1657881392306489)

Request/Response example
[code]

[code]

[2022-07-15 11:01] sourcegraph-bot-2 commented on #38872
Heads up @joelkw @felixfbecker @vovakulikov @unclejustin - the "team/code-insights" label was applied to this issue.

[2022-07-15 12:06] #31737 closed

[2022-07-15 12:08] eseliger opened #38876 "ci/flake: TestSearch/graphql/And/Or_queries/Escape_sequences disabled"
### Test

TestSearch/graphql/And/Or_queries/Escape_sequences

### Example failure

https://buildkite.com/sourcegraph/sourcegraph/builds/161002

### Disabling PR

https://github.com/sourcegraph/sourcegraph/pull/38875

### Additional details

_No response_

[2022-07-15 12:09] #32448 closed

[2022-07-15 12:13] olafurpg commented on #37922
@fkling may take on this issue since I'm still busy with crates.io stuff. I think it makes sense to start from a clean branch but we can take inspiration from my POC in   https://github.com/sourcegraph/sourcegraph/compare/main...olafurpg/codemirror-blob

The POC includes features that we don't need in the initial PR, like syntax highlighting.

[2022-07-15 12:20] olafurpg commented on #37921
Updated the checklist in the description to also include https://github.com/sourcegraph/sourcegraph/issues/37690 since I observed that we're syncing stale commits from rust-lang/crates.io. Once the PR #38811 is merged then we make it possible to sync new versions for *existing* crates on-demand when the user visits a URL, while #37690 is needed to pick up the creation of newly published crates (th

[2022-07-15 13:25] #38574 closed

[2022-07-15 13:39] sourcegraph-bot-2 commented on #38853
Heads up @sourcegraph/delivery - the "team/delivery" label was applied to this issue.

[2022-07-15 13:40] jasongornall commented on #26938
agreed this is definitely fairly tricky

[2022-07-15 13:43] cambierr commented on #9590
So ... no way to get this working at the time without messing with the browser developer tools ?

[2022-07-15 14:04] jasongornall commented on #35060
this appears to be resolved for me!

[2022-07-15 14:05] eseliger commented on #35060
No, it's still happening but only with substantial enough lag, >1s network round trip (so less often locally but almost always on deployed instances)

[2022-07-15 14:05] #38390 closed

[2022-07-15 15:18] #37690 closed

[2022-07-15 15:47] ammarove commented on #38035
Hello @unknwon
I was facing the below issue when sourcegraph is trying to clone my company repo
`SSL: no alternative certificate subject name matches target host name 'git-proxy.compay.mobi'`
and the solution was mentioned here
https://docs.sourcegraph.com/admin/repo/git_config

[url  "https://git:$TOKEN@git.compay.mobi"]
	insteadOf =  "https://git:$TOKEN@git-proxy.compay.mobi"

I tried the user "

[2022-07-15 15:47] #38035 closed

[2022-07-15 15:55] #38439 closed

[2022-07-15 16:09] #38590 closed

[2022-07-15 16:24] pjlast commented on #38733
Mostly implemented so far in this PR: https://github.com/sourcegraph/sourcegraph/pull/38886

[2022-07-15 16:41] camdencheek opened #38891 "Search: use chunk match streaming API"
The search backend has recently been migrated to the richer `ChunkMatch` data type, which is a type that makes it possible to represent multiline matches as one logical match. This has been exposed over the streaming API, and is enabled by the [`cm` query param](https://sourcegraph.com/github.com/sourcegraph/sourcegraph@cb906941e8b49806f0be1861fe025b9de863ecdb/-/blob/cmd/frontend/internal/search/s

[2022-07-15 16:58] #37422 closed

[2022-07-15 16:59] malomarrec commented on #37834
Just checking: this didn't make it in the release?

[2022-07-15 17:05] limitedmage commented on #38565
The current sidebar has had persistent collapsible sections for a very long time. If for some reason these are not working for you, let me know as that is a bug.

[2022-07-15 17:06] coury-clark opened #38893 "insights: series status is on the wrong level"
Currently the series status (the object that has information about the backfill progress) is connected to the time series data object https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/blob/cmd/frontend/graphqlbackend/insights.graphql?L84.

This causes problem for dynamically generated insight series, because if the resolver is empty there is no status information to render the loading s