[2019-01-08 17:08] nicksnyder commented on #1703
@vanesa @attfarhan can you please test this and comment when you are done

[2019-01-08 17:39] sqs opened #1706 "Link to previous version docs"
The docs.sourcegraph.com site should have a prominent link either in the header or on the index and other relevant pages to pages under https://docs.sourcegraph.com/@v2.13.5, so that people on 2.13 or 2.x can find the relevant docs.

[2019-01-08 18:40] nicksnyder commented on #1695
Where is this going to be documented?

[2019-01-08 18:58] nicksnyder opened #1708 "Test plan for deployment"
Get everyone on the engineering team to test the deployment process.

- [x] @nicksnyder
- [x] @KattMingMing
- [x] @sqs
- [x] @beyang
- [x] @slimsag
- [x] @attfarhan
- [x] @vanesa
- [x] @keegancsmith
- [x] @lguychard
- [x] @tsenart
- [x] @felixfbecker
- [ ] @ijsnow
- [x] @chrismwendt

[2019-01-08 19:19] beyang commented on #1404
I looked into this over the holidays and concluded it would be more than a day's worth of work to get it done for 3.0 (as it would include writing up migration docs and some manual steps for existing customers). Discussed with @nicksnyder and decided to backlog.

[2019-01-08 19:30] francisschmaltz opened #1710 ""Unable to fetch GitHub external services" error although repos are still able to be cloned"
When creating a new Sourcegraph instance I get error `Unable to fetch GitHub external services: json: error calling MarshalJSON for type json.RawMessage: invalid character '/' looking for beginning of object key string` although the repos are able to be cloned.

Tested with:
GitHub Enterprise 2.15.4
User access token (Site admin on GHE instance) with `gist, repo, user` access
Sourcegraph/Server:In

[2019-01-08 19:30] beyang commented on #1706
The revspec-based option actually seems better to me, because that way the docs are kept up-to-date for *each* version automatically.

[2019-01-08 19:36] francisschmaltz opened #1711 "Sourcegraph core link to "add a license" should link to docs not site-admin config"
<img width="1006" alt="screen shot 2019-01-08 at 11 34 42 am" src="https://user-images.githubusercontent.com/11583013/50854269-70520d80-1339-11e9-93e4-36cad7ad7114.png">

Currently Sourcegraph core has a link to add license that takes users to the site config. Sourcegraph licenses have moved to the management console and this link should reflect this.

[2019-01-08 19:43] francisschmaltz commented on #1701
@sqs this should be targeted for 3.1

[2019-01-08 19:45] francisschmaltz commented on #1479
@beyang is this related to #1710

[2019-01-08 19:48] nicksnyder opened #1712 "Test plan for basic code intel"
Please update this issue with a test plan and then assign testers. Close this issue when testing is finished.

[2019-01-08 19:55] francisschmaltz opened #1713 "Experimental config for GitHub auth provider should be in management console not site-admin"
Currently you can enable and disable the GitHub auth provider in the site-admin. As auth has moved to the management console so should experimental settings for auth.

<img width="333" alt="screen shot 2019-01-08 at 11 52 15 am" src="https://user-images.githubusercontent.com/11583013/50855276-3c2c1c00-133c-11e9-9b43-23066e163ee7.png">

[2019-01-08 19:55] francisschmaltz commented on #1713
@beyang can we target this for 3.0 or no?

[2019-01-08 19:58] #1694 closed

[2019-01-08 19:59] slimsag commented on #1713
Experimental features should remain under the site config area unless there is something about them that could inherently break Sourcegraph, I think.

Requiring them to be set in the management console also increases the barrier to getting users to test them for us.

[2019-01-08 19:59] slimsag commented on #1540
I have a fix for this incoming.

[2019-01-08 20:03] sqs commented on #1040
Should monitor /.api/registry/extensions URLs:

- the url used to query extensions
- the url used to get a single known extension like sourcegraph/lang-go

Note this uses a special simple rest api not GraphQL. The Go package registry is responsible for serving this.

[2019-01-08 20:03] francisschmaltz commented on #1713
@slimsag turning this off could disable auth for all users. I don't know if this could count as *breaking* but it does feel like a mild concern that a user without access to the management console could essentially disable auth for the instance.

[2019-01-08 20:07] slimsag commented on #1713
By breaking, I mean "If the option was changed, could it prevent the same site admin who changed it from going back to the site admin area and unchanging it?"

i.e., could it also prevent the site admin themselves from authenticating and fixing the issue?

- If yes, I agree this has to be moved into the management console.
- If no, it should stay in the site config area I think.

[2019-01-08 20:10] nicksnyder commented on #1040
@lguychard do you think you can get this done this week? @keegancsmith or I can provide guidance on how we do monitoring.

Relevant locations:
https://github.com/sourcegraph/infrastructure/tree/master/site24x7
https://github.com/sourcegraph/deploy-sourcegraph-dot-com/blob/release/configure/prometheus/prometheus.ConfigMap.yaml

[2019-01-08 20:12] francisschmaltz opened #1715 "Make all lists have uniform design"
Some lists in Sourcegraph have missing top or bottom borders. All lists should have both a top and bottom borer and be uniform in list border design.

## 3.0 list updates
- [x] Site-admin Auth providers (missing top border on `:first-of-type`)
- [x] Site-admin External accounts (missing bottom border on `:last-of-type`)
- [x] Site-admin Access tokens (missing top border on `:first-of-type` and mis

[2019-01-08 20:16] #1540 closed

[2019-01-08 20:21] nicksnyder commented on #1491
@keegancsmith since we dropped Postgres 11 upgrade, I am assigning this to you.

[2019-01-08 20:23] chrismwendt opened #1716 "Multiple "View file" buttons on GitLab"
- Visit https://gitlab.com/coldnight/ci-test/blob/master/.gitlab-ci.yml
- Right click the Sourcegraph extension -> Enable on this page
- Click OK
- Notice another "View file" button appears

You can actually repeat this process and get more buttons.

![2019-01-08 12 07 44](https://user-images.githubusercontent.com/1387653/50855933-24ee2e00-133e-11e9-9bb9-20297af6262c.gif)

[2019-01-08 20:25] chrismwendt opened #1717 "Test plan for Go code intelligence"
While testing code intelligence, imagine you’re a site admin setting up language support for the first time because they are the people who will get their company from 1 to 20 users.

Copy this plan into new comment and update the comment as you complete the tasks:

[code]

This issue should be closed after a sufficient number of people have tested.

[2019-01-08 20:27] chrismwendt opened #1718 "Test plan for TypeScript code intelligence"
While testing code intelligence, imagine you’re a site admin setting up language support for the first time because they are the people who will get their company from 1 to 20 users.

* Spin up a fresh Sourcegraph instance
* Deploy the language server in a Docker container by following: https://docs.sourcegraph.com
* Find a random TypeScript repository (e.g. from https://github.com/search?o=desc&q

[2019-01-08 20:28] chrismwendt opened #1719 "Test plan for Python code intelligence"
While testing code intelligence, imagine you’re a site admin setting up language support for the first time because they are the people who will get their company from 1 to 20 users.

Copy this plan into new comment and update the comment as you complete the tasks:

[code]

You won't get code intelligence on variables from dependencies.

This issue should be closed after a sufficient number of peo

[2019-01-08 20:34] beyang opened #1720 "Docs "note" style should have stronger highlighting"
Currently, `aside.node` elements in the docs (which correspond to `> Markdown blockquotes`) are not highlighted in any way. They are indistinguishable from paragraph text. However, they often have important information that a user should notice on the page. For instance:

![image](https://user-images.githubusercontent.com/1646931/50857180-b7dc9780-1341-11e9-81b2-af5e9545735d.png)

@francisschmaltz

[2019-01-08 20:36] chrismwendt commented on #1705
I split this into these issues:

- https://github.com/sourcegraph/sourcegraph/issues/1717
- https://github.com/sourcegraph/sourcegraph/issues/1718
- https://github.com/sourcegraph/sourcegraph/issues/1719

[2019-01-08 20:36] #1705 closed

[2019-01-08 20:38] nicksnyder opened #1721 "Require valid external service config json before creating/updating external services."
Right now, external service config json is validated on the frontend (which yields green squiggles in the frontend). The existence of validation errors doesn't prevent the form from being submitted however; ideally it would.

Either we need to do validation on the backend (e.g. https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/blob/pkg/conf/validate.go#L76:11), or, if possible and easie

[2019-01-08 20:39] nicksnyder commented on #1694
The PR I merged solves the immediate issue of populating default values in the config. More specific schema validation still doesn't happen on the backend (but I don't think it happened before either) so I created a followup issue for that (backlog): https://github.com/sourcegraph/sourcegraph/issues/1721

[2019-01-08 21:00] #1639 closed

[2019-01-08 21:00] ggilmore commented on #1639
Fixed in https://github.com/sourcegraph/deploy-sourcegraph-dot-com/pull/101

[2019-01-08 21:23] ggilmore opened #1722 "Fix kube-backup for sourcegraph.com"
Fix https://github.com/sourcegraph/kube-backup for sourcegraph.com

[2019-01-08 21:34] nicksnyder commented on #1710
I believe this is a duplicate of https://github.com/sourcegraph/sourcegraph/issues/1540 which was just fixed in master. Can you please retest on the latest insiders? Going to close this for now.

[2019-01-08 21:34] #1710 closed

[2019-01-08 21:39] francisschmaltz commented on #1710
Duplicate of  #1540 and resolved in 19b2b1ce2ed8ef523786ecff8501a1710a15cbf810d562dad5aa031cfed8863e

[2019-01-08 21:50] beyang opened #1723 "Test plan for auth"
# 3.0 Auth test plan

## GitHub authentication

1. Run a new Sourcegraph Server instance
1. After initializing the Sourcegraph Server instance using built-in authentication, use the management console to configure the server to authenticate via GitHub.com by navigating to docs.sourcegraph.com and finding the documentation to do so. (If you can't find it, go [here](https://docs.sourcegraph.com/admi

[2019-01-08 21:58] nicksnyder commented on #1695
My notes:
- [ ] @ggilmore create a new 3.0 migration readme in deploy-sourcegraph for https://github.com/sourcegraph/deploy-sourcegraph/blob/d75ebf89c269a0fe70400559ca7741c7a38ac23a/docs/migrate.md#language-server-deployment. I think we need the bare minimum documentation here, just link to https://docs.sourcegraph.com/user/code_intelligence
- [ ] @chrismwendt make language support more discoverab

[2019-01-08 22:20] tsenart commented on #1721
Isn't validation being done [here](https://github.com/sourcegraph/sourcegraph/pull/1700/files#diff-e4690e26caa9d3d0aeee747eadcd526bR48)?

On a similar note, I was wondering why we don't use JSON schema on the backend to do the validation too.

[2019-01-08 22:45] sqs commented on #1720
Note that these are displayed right on docs.sourcegraph.com but not in /help.

[2019-01-08 22:58] nicksnyder opened #1724 "Improve style of links, especially for dark theme"
In the following screenshots, "connecting an external service" [is a link](https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/blob/web/src/repo/RepositoryErrorPage.tsx#L202:45-208:48).

The link is not visible in dark theme:
![image](https://user-images.githubusercontent.com/10532611/50388610-2273bd80-071c-11e9-80a5-e805b8b0374a.png)

and barely visible in light theme
![image](https://us

[2019-01-08 23:16] nicksnyder commented on #1570
Yeah, there should not be a ➕icon on the save button (to be consistent with other forms in the app) so I will fix that. Linguistically I think it needs to be "Add external service" or "Create external service connection". "Create external service" sounds wrong to me because you aren't creating an external service. "Add external service" is briefer so I am going to stick with that. As a point of re

[2019-01-08 23:39] chrismwendt commented on #1695
I added some top level documentation and a section about deployment, and edited the comment above with links to the commits.

[2019-01-08 23:49] nicksnyder commented on #1721
Yes, but it is all manual, not automated based on the site.schema.json.

For example, we have this check for GitLab but not for GitHub (although it really could be used in both places)
[code]

Yes, that is what I meant by "we need to do validation on the backend (e.g. https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/blob/pkg/conf/validate.go#L76:11)"

[2019-01-08 23:55] beyang commented on #1713
I'll remove the experimental feature flags. They are unnecessary given that these features will undergo standard QA for 3.0 release.

[2019-01-09 00:07] #1713 closed

[2019-01-09 00:13] nicksnyder opened #1725 "Update site config screenshot"
https://docs.sourcegraph.com/admin/site_config

[2019-01-09 00:34] postables commented on #1443
Sorry for the delay, here is the configuration ![](https://gateway.temporal.cloud/ipfs/QmTpoZyWPFgg8nM9LCdoeFH99nhTFNF6qX8zHVJjjmFXxK). I also tried https://github.com/RTradeLtd/Temporal/blob/V2/mail/mail.go and this didn't work.

For reference, on google chrome it works whether or not im signed into, or signed out of github.

[2019-01-09 00:42] nicksnyder commented on #1570
I have improved the documentation and made some of the minor fixes discussed. The biggest improvement is having a default config per code host. The link styling is a separate issue now.

I am going to close this and we can see how smoothly the test plan goes.

[2019-01-09 00:42] #1570 closed

[2019-01-09 00:53] chrismwendt commented on #1443
v19.1.7.543 works for me. I did not see that error `Content Security Policy: The page’s settings blocked the loading of a resource at inline (“script-src”).`, but I don't know what the relevant difference between our setups is. I'm also Firefox 64 but on macOS 1.14.2. I wonder if Firefox on Linux has stricter CSP by default, and whether or not that could be relaxed.

[2019-01-09 03:14] slimsag opened #1727 "ZOEKT_HOST should be ZOEKT_WEBSERVER_URL instead?"
Sourcegraph has a `ZOEKT_HOST` environment variable that must be configured properly in all deployments: https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/blob/cmd/frontend/graphqlbackend/search2.go#L375:25

In Kubernetes and single-container Docker deployments, this is done for users already by us. But for the pure-Docker deployment, this needs to be specified, and hence is a user-faci

[2019-01-09 03:39] slimsag commented on #1689
@nicksnyder @ggilmore @francisschmaltz Could you please be my testers? :)

[2019-01-09 04:21] nicksnyder commented on #1704
duplicate of https://github.com/sourcegraph/sourcegraph/issues/1723

[2019-01-09 04:21] #1704 closed

[2019-01-09 04:41] nicksnyder opened #1729 "Error: Cannot query field "pendingContents" on type "SiteConfiguration""
I got to step 7 of the test plan (I actually skipped step 6) and saw this error when trying to view the site config.

[code]

What I did:
1. Run 2.13.5
[code]
2. Configured access to github.com with token and added sourcegraph/infrastructure, nicksnyder/go-i18n
3. Edited the site config according to steps 3 and 4 in the test plan (it prompted me to restart to apply the config, but I just shut it d

[2019-01-09 04:46] nicksnyder commented on #1729
Hmm, I just ran through this again and was not able to reproduce. I am not sure what happened.

[2019-01-09 04:46] #1729 closed

[2019-01-09 05:02] nicksnyder opened #1731 "Give immediate feedback in mgmt console for invalid license key"
For step 12 of the [test plan](https://github.com/sourcegraph/sourcegraph/issues/1689) it is a bit unclear to me why putting in an invalid value for the licenseKey would cause the instance to display a roadblock page when a missing license key doesn't behave that way.

![image](https://user-images.githubusercontent.com/754768/50877823-8cc96680-1388-11e9-8061-0be70c4870a0.png)

[2019-01-09 05:05] nicksnyder commented on #1689
I tested server deployment and looks good!

I ran into one issue but wasn't able to reproduce the second time I tried: https://github.com/sourcegraph/sourcegraph/issues/1729 so not sure if it is a real issue (probably not).

One open question: https://github.com/sourcegraph/sourcegraph/issues/1731

[2019-01-09 05:19] vanesa opened #1732 "Test Plan Datadog extension"
Test Plan for Datadog Extension

- Sign into Datadog with this account: https://my.1password.com/vaults/dnrhbauihkhjs5ag6vszsme45a/allitems/z5x35v3vrjcrfkr63b6ls6zk44
- Go to https://sourcegraph.com/extensions and activate the Datadog extension
- Go to: https://sourcegraph.com/github.com/bbc/cops-dd-backup-lambda/-/blob/libs/datadog/dogstatsd/base.py#L150:42 or https://sourcegraph.com/github.com/c

[2019-01-09 06:41] sqs opened #1734 "Repo popover on Sourcegraph.com fails to load"
Repro:

1. Go to any page on Sourcegraph.com with a repo header, such as https://sourcegraph.com/github.com/sourcegraph/docsite
1. Click the down caret next to the repo name to open the repo popover

Actual: loads forever
Expected: shows results quickly

[2019-01-09 06:41] sqs commented on #1734
Can't repro, is fast now

[2019-01-09 06:41] #1734 closed

[2019-01-09 06:42] sqs opened #1735 "Repo popover "Show more" button or clicking in text field dismisses the popover"
Repro:

1. Go to any Sourcegraph page with the repo file header, such as https://sourcegraph.com/github.com/sourcegraph/docsite/-/blob/cmd/docsite/site.go#L87
1. Press the down caret next to the repo name to open the repo popover
1. Press "Show more" or click in the text field

Expected: normal behavior from clicking one of those things
Actual: the popover is dismissed (closed)

Note: This problem

[2019-01-09 06:44] sqs opened #1736 "Only 1 popover or dropdown should be visible at a time"
Repro:

1. Visit any page with a repo header, such as https://sourcegraph.com/github.com/sourcegraph/docsite
1. Click the rev name (`master`) to open the rev popover
1. Click the down caret next to the repo name to open the repo popover

Expected: at most 1 popover should be able to be displayed at a given time. Clicking the repo name caret should close the rev popover.

Actual: both popovers are

[2019-01-09 06:53] slimsag commented on #1729
It sounds like you may not have refreshed the page and hence been running an old version of the frontend code.

[2019-01-09 06:57] slimsag commented on #1731
I think the only reason this occurs is to surface the error. For example, if you typo your license key and the app continued to work you would think you entered it correctly and that you now have access to paid features -- but you don't and that would be surprising.

We could raise this error through other means (a site banner) but I presume this was just an easy method of raising this information

[2019-01-09 07:03] sqs opened #1737 "Long repo description on explore page overflows"
The `curl/curl` description should be truncated with `...`; it should not overflow.

![screenshot from 2019-01-08 23-03-14](https://user-images.githubusercontent.com/1976/50882421-97402c00-1399-11e9-908f-6cdd478ead7d.png)

[2019-01-09 07:45] sqs commented on #1712
## Screenshot 1

<details>
![screenshot from 2019-01-08 23-42-31](https://user-images.githubusercontent.com/1976/50884212-15530180-139f-11e9-94ee-b74f91250776.png)
</details>

## Screenshot 2

<details>
![screenshot from 2019-01-08 23-42-10](https://user-images.githubusercontent.com/1976/50884194-0b310300-139f-11e9-900e-9482bc26b99b.png)
</details>

## Screenshot 3

<details>
At https://sourcegrap

[2019-01-09 07:52] sqs commented on #1731
Yes, my intent with this behavior was to be explicit, because this almost always indicates an error that the user would want to immediately rectify if they knew about it.

[2019-01-09 08:34] sqs opened #1739 "Write README for Datadog extension and republish"
The Datadog extension should have a README.md file in its repository like the one in https://github.com/sourcegraph/sourcegraph-basic-code-intel. After adding the README.md, republish the extension to Sourcegraph.com.

Then we can link interested folks to https://sourcegraph.com/extensions/sourcegraph/datadog-metrics and they can see the description, screenshots, etc. (like https://sourcegraph.com

[2019-01-09 08:57] keegancsmith commented on #1404
However, 3.0 is targeting new users and some large customers won't upgrade straight away. So shipping a new version (and including instructions on what to do to upgrade) makes a lot of sense since this will be an annoying change. To me it makes sense to get this out since its one of our oldest tech debt items.

[2019-01-09 08:59] keegancsmith commented on #1491
Ok, I'll take a look. FYI I just commented on the postgres issue with motivation of why we should do it.

[2019-01-09 09:05] keegancsmith commented on #1727
It doesn't use HTTP, it uses net/rpc. Technically net/rpc does use HTTP, but instantly hijacks the connection so not really. So there is in fact a path component to this, but it should not be specified by the user (it is hardcoded). So I am happy with changing the env var to be consistent, and making it an http URL. This would also give us flexibility if we ever were to change our RPC framework.

[2019-01-09 10:12] lguychard commented on #1040
@nicksnyder should be doable

[2019-01-09 11:36] attfarhan commented on #1178
What's HIG? @ijsnow

[2019-01-09 12:04] lguychard commented on #1712
## Screenshot 1

<details>

![image](https://user-images.githubusercontent.com/1741180/50897699-318d8780-140d-11e9-825c-0e53c74b9de9.png)

</details>

## Screenshot 2

<details>

![image](https://user-images.githubusercontent.com/1741180/50897740-55e96400-140d-11e9-8215-cc45d90eacf9.png)

</details>

## Screenshot 3

<details>
At https://sourcegraph.sgdev.org/github.com/gorilla/mux/-/blob/middlewa

[2019-01-09 13:44] felixfbecker opened #1740 "Extension readme markdown code snippets have no syntax highlighting"
This makes the instructions at https://sourcegraph.com/extensions/sourcegraph/lang-typescript a lot harder to follow

[2019-01-09 13:47] felixfbecker commented on #513
Medium supports embedding GitHub gists. @ijsnow would the browser extension work on embedded GitHub gists?

[2019-01-09 14:06] nicksnyder commented on #1178
https://en.m.wikipedia.org/wiki/Human_interface_guidelines

[2019-01-09 14:07] attfarhan opened #1741 "Private mode requires authentication" error message is not discoverable"
- **Sourcegraph version:** "Sourcegraph.com
- **Platform information:** MacOS, Chrome

#### Steps to reproduce:

1. Point your browser extension to sgdev.
2. Sign out of sgdev.  Sign in with OpenIDConnect.
2. On GitHub or GitLab, go to a file in a repository not on sgdev (e.g. if you're pointing your repo to sgdev, go to https://github.com/tsenart/vegeta/blob/master/internal/cmd/echosrv/main.go)
3

[2019-01-09 14:11] nicksnyder commented on #1731
A more explicit and immediate error would be to make this a validation error in the  management console at the time the bad config is saved.

[2019-01-09 14:11] attfarhan commented on #1741
This seems like it could be an edge case, since we have multiple sign-in options (I don't think most instances will have multiple), so not sure if it should be release blocking.

[2019-01-09 14:12] attfarhan commented on #1703
Filed https://github.com/sourcegraph/sourcegraph/issues/1741, which I don't think is a release blocker. LGTM otherwise.

[2019-01-09 14:12] felixfbecker commented on #1641
And if no error is shown, at least the references that were already emitted should be shown

[2019-01-09 14:13] felixfbecker commented on #1641
Fixed in https://github.com/sourcegraph/lang-typescript/commit/f4ea0b77d9d614a03f38aeb0cfed19f179ff4cc3

[2019-01-09 14:13] #1641 closed

[2019-01-09 14:15] #1740 closed

[2019-01-09 14:20] francisschmaltz commented on #1570
@felixfbecker colors for text (dark theme) is here: https://zpl.io/2jv9lx6

[2019-01-09 15:45] felixfbecker commented on #1570
I updated the dark theme text color (not links yet though)

[2019-01-09 15:54] attfarhan opened #1742 "No feedback after adding/updating external service"
- **Sourcegraph version:** Insiders

#### Steps to reproduce:

1. Go to the external services page and click **Add external service**
2. Fill out the form, and click **Add external service**

OR

1. Click **Settings** for an existing external service
2. Update the form, (or don't update the form, even)
3. Click **Update external service**

![2019-01-09 23 48 53](https://user-images.githubuserconte

[2019-01-09 15:56] attfarhan opened #1743 "Configure external services banner does not disappear after services are added."
- **Sourcegraph version:** Insiders

#### Steps to reproduce:

1. Start a clean Sourcegraph instance
2. Sign up as an admin and add an external service.
3. Once adding the service, notice that the banner is still there, and still asks you to configure a service.

![image](https://user-images.githubusercontent.com/16265452/50911147-36345900-146a-11e9-8346-78aef2013cc1.png)

#### Expected behavior:

[2019-01-09 16:09] attfarhan opened #1744 ""Empty repository" banner shown on repo page in between enabling and cloning a repo"
- **Sourcegraph version:** Insiders

#### Steps to reproduce:

1. Add repositories to a Sourcegraph instance
2. Go to the repositories page
3. Enable a repository
4. Go to the repository
5. Notice it will show "Empty repository" on the page
6. Refresh
7. See that the cloning status appears on the page

![2019-01-10 00 06 00](https://user-images.githubusercontent.com/16265452/50911928-dc349300-146b

[2019-01-09 16:10] nicksnyder commented on #1570
Please continue the styling discussion in this separate open issue:

https://github.com/sourcegraph/sourcegraph/issues/1724

[2019-01-09 16:14] nicksnyder commented on #1404
Good point, I forgot about the details of what we discussed on Monday (I should have written it down here!)

@beyang @dadler @sqs is it ok if we make 3.0 a hard “current users don’t upgrade” release so we can get stuff like this in and then make 3.1 the fast follow of “current users can upgrade”?

[2019-01-09 16:14] attfarhan opened #1745 "Should references to the site config overview page be deleted?"
Should references to this page: https://docs.sourcegraph.com/admin/site_config/ be deleted or updated now that the management console exists? For example, we still link to it from https://docs.sourcegraph.com/admin/site_config/all, but I believe many of the options listed there would be configured in the management console now.

[2019-01-09 16:18] attfarhan commented on #1178
I opened a [PR](https://github.com/sourcegraph/sourcegraph-code-discussions/pull/11) to solve this:

@francisschmaltz suggested punting this particular item to 3.1 because theming of icons is not possible right now without some css hacks. Francis can you either open an issue or explain here how you suggest/propose we handle theming?

[2019-01-09 16:30] felixfbecker commented on #1724
I updated the text color so this should now be visible.

[2019-01-09 16:31] #1724 closed

[2019-01-09 16:34] felixfbecker opened #1746 "Polish datadog extension appearance"
![image](https://user-images.githubusercontent.com/10532611/50913492-c8216f00-1434-11e9-98e6-c830fd0a3689.png)

Improve readme and remove WIP label

[2019-01-09 16:35] felixfbecker commented on #1712
Which languages are expected to work?

[2019-01-09 16:37] vanesa opened #1747 "Error while adding public repos to external services"
When trying to add public repos to my external services, I get this error:

![image](https://user-images.githubusercontent.com/9110008/50913037-113de700-1466-11e9-9aa0-6d353f8a1f34.png)

`Json: cannot unmarshal string into Go struct field GitHubConnection.repos of type []string`

I typed in the markdown instead of tabbing to auto-complete and the token had my private GitHub access token which I on

[2019-01-09 16:37] felixfbecker commented on #1732
All the examples in the post are metrics within comments. Is this expected? Could you show an example with actual code?

[2019-01-09 16:42] felixfbecker commented on #1732
None of the metric links show me any graph. Is this expected?

![image](https://user-images.githubusercontent.com/10532611/50914004-ed62ad00-1435-11e9-9fa9-1b6280251284.png)

[2019-01-09 16:58] vanesa opened #1748 "UX for adding public repositories needs optimizing"
In the past, whenever I opened a public repo with Sourcegraph that wasn't yet in my list of repositories, I would get a message giving the chance to add it by clicking an "Add Repo" button.

Now, when I try to open a repo that isn't on my list, I'm asked to add the repo to my list in my external services.

I find this cumbersome and not a great user experience when adding public repos.

![image](h

[2019-01-09 17:12] nicksnyder commented on #1491
I suspect that this is just a race condition with the initial creation of the schema migrations table on a fresh DB. The schema migrations table is exactly what prevents race conditions in the steady state, so maybe the two services are racing to create it? I am kind of surprised that this doesn't appear to be an issue when testing docker images. If this turns out to only impact dev and not custom

[2019-01-09 17:13] nicksnyder commented on #1404
@keegancsmith You are right and the conversation we had on Monday (which I forgot about) still stands. I am going to put this back in the milestone.

[2019-01-09 17:38] nicksnyder commented on #1742
Fixed.

This is a bit tricky to do given how the config area works, and it is also not consistent with what we do with other forms (for better or for worse).

[2019-01-09 17:38] #1742 closed

[2019-01-09 17:55] nicksnyder opened #1749 "Improve dev workflow for adding public repositories"
With the transition to external services, [I removed the ability for site admins to add public repositories simply by visiting them and clicking a button](https://github.com/sourcegraph/sourcegraph/pull/1068#issuecomment-446846775). This is a case of some things getting better (external services give us a better data model for dealing with repository renames) and some things getting worse.

I trie

[2019-01-09 17:57] nicksnyder commented on #1748
That is only because you were a site admin. Most users are not admins of their own instance and can not go through that workflow. Instead they would have seen this in 2.x:
![image](https://user-images.githubusercontent.com/754768/50917630-dc447c80-13f2-11e9-9a39-20705a96a1bb.png)

You are correct that this particular workflow is more cumbersome, but overall external services give us a better data

[2019-01-09 17:57] #1748 closed

[2019-01-09 18:03] sqs commented on #1746
Duplicate of #1739

[2019-01-09 18:03] #1746 closed

[2019-01-09 18:03] sqs commented on #1739
Also remove WIP

[2019-01-09 18:04] sqs commented on #1712
@felixfbecker All languages.

[2019-01-09 18:08] nicksnyder opened #1750 "Doc improvements for deploy-sourcegraph-dot-com"
I don't understand the semantic difference between
https://github.com/sourcegraph/deploy-sourcegraph-dot-com/blob/release/README.info.md
https://github.com/sourcegraph/deploy-sourcegraph-dot-com/blob/release/README.dev.md

It also seems like a waste that the root README.md is basically empty.

Can you consolidate all the relevant information into https://github.com/sourcegraph/deploy-sourcegraph-d

[2019-01-09 18:18] nicksnyder commented on #1747
Hmm, I am not able to reproduce. I realized that my test instructions did not include `docker pull sourcegraph/server:insiders` so it is possible you were using an old build (if you were testing on insiders). Can you test this again after running `docker pull sourcegraph/server:insiders`?

[2019-01-09 18:53] nicksnyder opened #1751 "Private repository on sourcegraph.com shows "Empty repository" instead of 404"
https://sourcegraph.com/github.com/sourcegraph/test-private-package

Reported by @felixfbecker in https://github.com/sourcegraph/sourcegraph/issues/1744#issuecomment-452759151

[2019-01-09 18:53] nicksnyder commented on #1744
I created a separate issue for @felixfbecker's bug because they seem to be different:
https://github.com/sourcegraph/sourcegraph/issues/1751

[2019-01-09 19:01] felixfbecker commented on #1190
Reopening this because this test still fails consistently:

[code]

[2019-01-09 19:16] felixfbecker opened #1752 "Not clear which settings are required to deploy Go code intel"
The readme for go-codeintel has this under the "Settings" section:

[code]

These properties are all required, which tells me that I need to set them all, but that doesn't seem to be the case. For example, `go.accessToken` is created automatically.
Arent the godoc.org settings purely for sourcegraph.com and basically never expected to be set on private instances? If not, do I need to deploy my own

[2019-01-09 19:16] sqs commented on #1712
Yes, it is. Just milestoned it. It actually exhibits unexpected behavior - it still should show the code line even if not the doc line, so I want to investigate.

[2019-01-09 19:23] felixfbecker commented on #1446
Commented on the commit https://github.com/sourcegraph/lang-go/commit/10abfa56dfb4cee87beb62f629fd64404efd5ab3#r31887677

[2019-01-09 19:30] felixfbecker opened #1753 "Can't xrepo j2d on sourcegraph.com"
https://sourcegraph.com/github.com/sourcegraph/docsite@11f5f871132b04b82ab0558d104cb6466e966eab/-/blob/markdown/markdown.go#L42:21

[2019-01-09 19:43] nicksnyder commented on #1743
It looks like it disappears if you do a hard refresh. I just need to reload site flags when external services are added/deleted.

[2019-01-09 21:13] francisschmaltz opened #1755 "Icons should be accessible"
Icons that are only differentiated by color should be updated to have different shapes.

For example: Diff pages use color to show the difference between additions/changes/deletions
![screen shot 2018-09-21 at 11 16 56 am](https://user-images.githubusercontent.com/11583013/45898836-031d6b00-bd90-11e8-8fce-caa97fec84a2.png)

[2019-01-09 21:14] francisschmaltz commented on #1755
@vanesa can we target this for 3.1?

[2019-01-09 21:22] tsenart opened #1756 "site-admin: External services creation or update shows no confirmation"
#### Steps to reproduce:

1. Go to http://localhost:3080/site-admin/external-services/add
2. Create or update a valid external service.
3. Submit.

#### Expected behavior:

Some confirmation notification is shown.

#### Actual behavior:

No confirmation notification is shown.

[2019-01-09 21:54] slimsag opened #1757 "space separated URL lists should be more lenient towards empty strings"
If you set `SEARCHER_URL`, `SYMBOLS_URL` to a string with only spaces it will consider those empty spaces as URLs, example:

- `" "` becomes one searcher URL `""`
- `"  "` becomes two searcher URLs `""` and `""`
- `" foobar"` becomes two searcher URLs `""` and `"foobar"`

This is due to using `strings.Split` instead of `strings.Fields` which does not have this problem: https://play.golang.org/p/wP

[2019-01-09 22:01] #1743 closed

[2019-01-09 22:10] nicksnyder commented on #1756
We don't have a standard way to do this.

Organizations show "updated!" text
![screen recording 2019-01-09 at 02 08 pm](https://user-images.githubusercontent.com/754768/50931676-2db33280-1418-11e9-96f6-d956513f3f60.gif)

Extensions do nothing:
![screen recording 2019-01-09 at 02 07 pm](https://user-images.githubusercontent.com/754768/50931678-2f7cf600-1418-11e9-8aa8-3d2033e00165.gif)

User profile

[2019-01-09 22:50] slimsag commented on #1727
Cool, that all makes sense. It sounds like you would be okay with `ZOEKT_WEBSERVER_URL=http://indexed-search:80` then? I'll send a PR for that since I think that is the most ideal

[2019-01-09 23:30] slimsag commented on #1410
Fixed

[2019-01-09 23:30] #1410 closed

[2019-01-09 23:31] slimsag commented on #1429
Fixed

[2019-01-09 23:31] #1429 closed

[2019-01-10 00:20] nicksnyder commented on #1751
@felixfbecker ehm, that repo is private and we don't show private code on sourcegraph.com. I am going to close this, but feel free to re-open if I am missing something or if I misunderstood.

[2019-01-10 00:48] chrismwendt commented on #1682
The Python language server does not support TLS, so it needs an ingress controller for SSL termination (doesn't seem release blocking to me).

[2019-01-10 00:50] slimsag opened #1759 "If searcher zip archives are corrupted, we should gracefully handle it"
It is possible to e.g. shutdown a searcher instance while a zip archive from gitserver is being transferred to it, resulting in empty or corrupt zip files on disk. This leads to search errors like:

[code]

The workaround is to find and remove the corrupt zip by running on each searcher instance a command that will identify the corrupt zips and delete them:

[code]

We should instead automatically

[2019-01-10 01:01] vanesa commented on #1747
I was running an uptodate build:

[code]

[2019-01-10 01:31] vanesa opened #1760 "sourcegraph.com experiencing unexpected error every now and then"
I've been seeing this error every now and then when using Sourcegraph.com . It will randomly appear when I'm switching from one page to another. It resolves by reloading the page.

![image](https://user-images.githubusercontent.com/9110008/50939204-74ec0280-14ae-11e9-8efb-eeda3862a4eb.png)

The console shows this error:
```Failed to load resource: the server responded with a status of 404 ()``` or

[2019-01-10 01:56] felixfbecker commented on #1751
If it is private, it should show a 404, but it shows “Empty repository”.

[2019-01-10 03:05] chrismwendt commented on #1719
Ready for testing (I pushed the docker image).

[2019-01-10 03:23] ggilmore opened #1761 "[deploy-sourcegraph] redis-store deployment is broken"
_See https://github.com/sourcegraph/deploy-sourcegraph_

When deploying a clean version of deploy-sourcegraph to a fresh cluster: https://github.com/sourcegraph/deploy-sourcegraph/tree/783ef0994809433359056d71f70e2d2d066fec84 (at this time of writing), with adding the following storage class as the only diff:

[code]

The `redis-store` pod ends up in a `CrashLoopBackoff` state. These are the logs

[2019-01-10 03:40] nicksnyder commented on #1761
deploy-sourcegraph has really old image tags (not sure if we expect renovate to auto update those?) so I would update those first.

[2019-01-10 03:41] ggilmore commented on #1761
The redis deployment isn't affected by that.

[2019-01-10 04:31] nicksnyder opened #1762 "Private repository on sourcegraph.com shows "Empty repository" instead of 404"
Load https://sourcegraph.com/github.com/sourcegraph/test-private-package

**Expected**

![image](https://user-images.githubusercontent.com/754768/50945864-936ce200-144b-11e9-9b7f-4547c372b1a6.png)

**Actual**
![image](https://user-images.githubusercontent.com/754768/50945850-864ff300-144b-11e9-8386-2a39ca97e0c1.png)

If you try to load a repo that actually doesn't exist, the correct behavior happe

[2019-01-10 04:35] nicksnyder commented on #1751
filed https://github.com/sourcegraph/sourcegraph/issues/1762

[2019-01-10 04:35] #1751 closed

[2019-01-10 04:37] nicksnyder commented on #1491
I am going to remove the release-blocker tag since nobody has seen this issue while testing our docker images. I can't explain why it would be an issue in dev and not in the docker image.

[2019-01-10 04:40] sqs commented on #1178
It is better to have an icon that doesn't look great in one of our themes, vs. having a long label. So please change it to the icon (and do the best you can to find a color that is at least visible in both themes). Prefer it working ok in the light theme because all code hosts are in the light theme.

[2019-01-10 04:46] sqs commented on #1741
@ijsnow is not working between now and the release, this is not a new issue, this is a browser extenson issue (so can be fixed without requiring customer redeploy) -- so pushing to 3.1

[2019-01-10 04:53] nicksnyder commented on #1761
@slimsag has a lot on his plate, can you please investigate this @ggilmore ?

[2019-01-10 04:57] nicksnyder commented on #1692
The current migrate.md is really old and not applicable to 3.0. @ggilmore can you create a separate migration doc specifically for 3.0?

For management console, what migration needs to happen? Removing old auth provider configs from configmap?

[2019-01-10 04:59] sqs commented on #1428
We will include it in the 3.0 blog post, so no separate blog post is necessary.

[2019-01-10 05:00] nicksnyder commented on #1692
@ggilmore can you split this into multiple issues? It looks like @slimsag already has a tracking issue for management console at https://github.com/sourcegraph/sourcegraph/issues/1428

[2019-01-10 05:01] nicksnyder commented on #1427
This is included in the test plan and @ggilmore owns testing this

[2019-01-10 05:01] #1427 closed

[2019-01-10 05:05] satishbabariya opened #1763 "Swift language Code intelligence Support using SourceKit-LSP"
#### Feature request description
[experimental]
Swift language Code intelligence Support  Using [https://github.com/apple/sourcekit-lsp](https://github.com/apple/sourcekit-lsp)

**SourceKit-LSP:**
SourceKit-LSP is an implementation of the Language Server Protocol (LSP) for Swift and C-based languages. It provides features like code-completion and jump-to-definition to editors that support LSP. Sou

[2019-01-10 05:11] nicksnyder commented on #631
Any update here?

[2019-01-10 06:07] nicksnyder commented on #1760
Can you look into this Felix?

[2019-01-10 06:59] sqs opened #1764 "Filters bar is empty but has no empty state"
Repro:

1. Perform any search with no results, such as https://sourcegraph.sgdev.org/search?q=repo:/sourcegraph/%28enterprise%7Cinfrastructure%7Cdocs-private%29%24+codeload3433

Expected: the filters bar should either not be displayed or it should have an empty state that does not look like "Filters:" (eg "Filters: none" or "No filters")

Actual: the filters bar just says "Filters:"

![screenshot

[2019-01-10 07:12] nicksnyder commented on #1761
Why are we not seeing this issue in staging or prod?

[2019-01-10 07:12] sqs commented on #1706
Fixed in https://github.com/sourcegraph/docs.sourcegraph.com/commit/aca93f1b23e981e6b03cfd3f4656fea3d833c432. Modeled on how PostgreSQL does it, like at https://www.postgresql.org/docs/9.3/sql-update.html.

![screenshot from 2019-01-09 23-05-18](https://user-images.githubusercontent.com/1976/50951826-6a584b80-1463-11e9-9855-73cb63f5b1e4.png)
![screenshot from 2019-01-09 23-05-12](https://user-imag

[2019-01-10 07:12] #1706 closed

[2019-01-10 07:14] sqs commented on #145
Sorry, this is taking longer. I am moving to backlog to reflect that we have not been able to prioritize this yet.

[2019-01-10 07:39] attfarhan commented on #1732
I have the two same questions as Felix above, but LGTM otherwise.

[2019-01-10 07:40] keegancsmith commented on #1759
This shouldn't happen, we download zip files to a tmp location first, then once the download is complete we do an atomic rename operation. However, we are possibly missing out on some syncs/flushes. Some filesystems can sync metadata changes (like the file renames) before data, which on restart can lead to a weird state.

As such we should throw away zip files that fail to open and return the same

[2019-01-10 07:50] sqs opened #1765 "Ext debug menu has bullet in browser extension"
![screenshot from 2019-01-09 23-50-01](https://user-images.githubusercontent.com/1976/50953783-4e57a880-1469-11e9-8669-c3006db9217f.png)

In the browser extension, when you run `localStorage.debug=true;location.reload()`, the Ext debug menu has a bullet. There should be no bullet. (Be careful to not override the code host's own CSS.)

[2019-01-10 07:54] sqs commented on #1372
See https://sourcegraph.slack.com/archives/C07KZF47K/p1547106853121300?thread_ts=1546899085.052100&cid=C07KZF47K.

[2019-01-10 08:19] keegancsmith commented on #1491
It happened to me yesterday when testing the docker image. Maybe people aren't clearing state. Its a pretty bad issue.

[2019-01-10 08:39] keegancsmith commented on #1761
Did we switch from using the root user to a non-root user? That might explain permission denied when redis accesses its volume

[2019-01-10 09:17] slimsag commented on #1761
According to the yaml, we're still running as a root user (user 0).

FYI I also tested the linked commit before merging in a local kubernetes environment and all worked: https://github.com/sourcegraph/deploy-sourcegraph/pull/134#issuecomment-441949741

I suspect, but am not positive, that commit is unrelated

[2019-01-10 09:22] slimsag commented on #1692
To be clear, management console migration is automatic as long as you still have the old config file mounted in your deployment (i.e. as long as you didn't get rid of the configmap). I just need to document it. #1428 is about doing this.

[2019-01-10 09:38] vanesa commented on #631
Yes: `display:block` is the root of all evil.
PR: https://github.com/sourcegraph/sourcegraph/pull/1767

[2019-01-10 10:01] tsenart commented on #1762
@keegancsmith: I'll be working on #914 even before beginning on the larger `repos-service` work, so we should have that going right after the 3.0 release.

[2019-01-10 14:04] felixfbecker commented on #1762
Maybe it was public before and then was switched to private.
This seems to be a security issue because we are leaking the existence of a private repo.

[2019-01-10 14:04] nicksnyder commented on #1762
@felixfbecker was this repo ever public?

[2019-01-10 14:05] felixfbecker commented on #1762
I don't know. You can probably check in the GitHub audit log. I don't have access

[2019-01-10 14:13] nicksnyder commented on #1762
We should fix, but I don’t think I would go so far as to quality this as a security issue. We aren’t leaking information that wasn’t already public (and probably cached/archived by many other services on the internet).

[2019-01-10 14:16] keegancsmith commented on #1762
According to the audit log it never had its visibility changed. I'm not sure how else we could of gotten the repo description unless that happened, so pretty weird. Maybe the audit log is missing some info, or a repo with the same name used to exist?

![image](https://user-images.githubusercontent.com/187831/50973907-ba322380-14f2-11e9-9bd7-7b146189a7ef.png)

[2019-01-10 15:23] lguychard commented on #1040
@sqs what did you have in mind specifically for this? AFAICT we currently log:
- All requests to the extension registry (list/get extension) & their URLs to Honeycomb
- Success & error counters for these requests to Prometheus

https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/blob/enterprise/cmd/frontend/internal/registry/http_api.go#L102

[2019-01-10 15:47] felixfbecker commented on #1760
I changed the error boundary to show error messages. I don't know exactly how to repro though so can't do anything else rn. Sentry would help here.

[2019-01-10 16:21] nicksnyder commented on #1040
@lguychard Logging and metrics are great, but I think this issue is specifically about getting alerted if these things are down. I would add a site 24x7 health check for the two endpoints Quinn mentioned.

[2019-01-10 16:27] vanesa commented on #1732
The metrics aren't visible due to the display setting on the top showing only metrics created within the last hour.
If you change that to 2 days or 1 week, you will see metrics.
![image](https://user-images.githubusercontent.com/9110008/50982226-3b0f1080-152f-11e9-9d21-3a89fb88921a.png)

[2019-01-10 16:48] vanesa commented on #1732
Here is a link to code: https://github.com/NickEnvy/rowboat/blob/b58afbc79b839eb8c54dca391e922de7a5c3aa14/plugins/stats.py

I only generated some metrics for `gateway.events.received` and `guild.messages.create`.

[2019-01-10 16:54] vanesa commented on #1747
I couldn't reproduce it, so maybe it was just a glitch.

[2019-01-10 16:58] nicksnyder commented on #1747
Oh, I was able to trigger this error message by just putting invalid input.

![image](https://user-images.githubusercontent.com/754768/50984142-ef6c5080-14b5-11e9-9604-b818ea5f23d8.png)

Is this error message not clear to you?

[2019-01-10 17:01] nicksnyder commented on #1747
Oh, I think the problem is that once an error happens, updates don't succeed

[2019-01-10 17:18] nicksnyder opened #1770 "Only "Find references" is visible in hover tooltip for Go code intel on GitHub PR split diff"
![image](https://user-images.githubusercontent.com/754768/50985040-352a1880-14b8-11e9-9bde-35935dbf46d1.png)

Error in the JS console
[code]

@chrismwendt @lguychard Can one of you investigate?

[2019-01-10 18:03] sqs commented on #1770
This is a dupe of another issue filed on me already, will find issue number when I’m at my computer

[2019-01-10 18:18] beyang commented on #1537
Prioritizing this for next week.

[2019-01-10 18:23] sqs commented on #1760
If the site was redeployed and you were browsing around.

[2019-01-10 18:44] lguychard commented on #1716
Not a release blocker & likely preexisting 3.0 work, let's treat this in 3.1

[2019-01-10 18:45] lguychard commented on #1703
@vanesa when do you think you will get a chance to test this?

[2019-01-10 18:48] #1592 closed

[2019-01-10 18:56] ggilmore opened #1771 "ci: save docker sha256 digest as a Buildkite artifact"
When you want to manually bump the version of an image in a Kubernetes deployment, uploading a docker image's sha256 digest as a Buildkite artifact will make it more discoverable than digging through the logs for that build step.

[2019-01-10 18:56] ggilmore commented on #1771
cc @tsenart

[2019-01-10 18:57] ggilmore opened #1772 "ci: restore e2e tests"
Originally disabled as part of https://github.com/sourcegraph/sourcegraph/issues/976

[2019-01-10 18:58] ggilmore opened #1773 "ci: restore automatic k8s deployments"
Originally disabled as part of https://github.com/sourcegraph/sourcegraph/issues/976

[2019-01-10 18:58] #976 closed

[2019-01-10 18:58] nicksnyder commented on #1760
Ok, I could imagine how this could happen if we are lazily loading JS chunks (is that the case?).

If so a reproduction might look like:
1. Open sourcegraph in a browser tab
2. Deploy a new version of javascript
3. Navigate around the app to force it to try to load a new chunk -> this could 404

Is there a way to catch these 404s and handle them by doing a hard page refresh automatically?

[2019-01-10 19:18] francisschmaltz commented on #1715
@sqs ready (with other changes) in https://github.com/sourcegraph/sourcegraph/pull/1774

[2019-01-10 19:31] francisschmaltz commented on #824
There is a UX problem of not having the management console password and then being locked out of the instance without the ability to edit the license.

[2019-01-10 19:32] sqs commented on #1760
Yeah we are now, I introduced that recently. This is definitely a problem. We could go back to using a single chunk for now in webpack config (ideally keep the work that refactored the UI to use multiple chunks, but just override webpack in 1 place to tell it to emit a single chunk).

Doing a hard page refresh seems like the best simple option, but it MIGHT be problematic:

1. if you had state lik

[2019-01-10 19:39] mwz commented on #8
Goto definition feature was recently implemented in metals, perhaps it should now be possible to make a start on this?

[2019-01-10 19:46] felixfbecker opened #1775 "Regression: Docker run command in docs does not work on Windows anymore"
![image](https://user-images.githubusercontent.com/10532611/50992970-c7620900-1518-11e9-8c26-3d70574d0059.png)

`\` is not an escape character on Windows, it's the path separator. The old docs had this right

[2019-01-10 20:08] nicksnyder commented on #1760
For 3.0 release I think we should just go back to 1 chunk. I neither saw any recent commits in [webpack.config.ts](https://github.com/sourcegraph/sourcegraph/commits/tsenart/repos-list-replacement/web/webpack.config.ts), nor on obvious config to set. @felixfbecker can you do this?

[2019-01-10 20:09] sqs commented on #1760
There were no changes to webpack config, it was changes in how we import code. I'll do it (quick change, I have context)

[2019-01-10 20:15] nicksnyder commented on #824
@francisschmaltz https://docs.sourcegraph.com/admin/management_console#how-can-i-reset-my-management-console-password

[2019-01-10 20:22] francisschmaltz commented on #1711
@nicksnyder it's not really related but it will be solved in https://github.com/sourcegraph/sourcegraph/pull/1774

[2019-01-10 20:40] nicksnyder commented on #1756
@francisschmaltz this is already fixed https://github.com/sourcegraph/sourcegraph/commit/d72363a1b1f1bb4df73ca2b83b8204309b259a8a

[2019-01-10 20:40] nicksnyder commented on #1756
(All the examples here are about updating not creating)

[2019-01-10 20:42] felixfbecker commented on #1775
Fixed

![image](https://user-images.githubusercontent.com/10532611/50995849-9ab1ef80-1520-11e9-867f-7aabbc13bc1a.png)

[2019-01-10 20:42] #1775 closed

[2019-01-10 20:42] #1711 closed

[2019-01-10 20:42] #1715 closed

[2019-01-10 20:49] slimsag opened #1776 "Site configuration area should always link to management console docs"
This page should always link to the management console docs, somewhere: https://sourcegraph.com/site-admin/configuration

[2019-01-10 21:02] felixfbecker opened #1778 "Settings schema validation error on fresh instance"
Spin up a new instance and go to site admin -> global settings

![image](https://user-images.githubusercontent.com/10532611/50996862-6855c180-1523-11e9-93b6-464cb5065fb6.png)

[2019-01-10 21:06] felixfbecker opened #1779 "No basic code intel"
This is on a fresh Sourcegraph instance running latest `insiders` through Docker.
There's no basic code intel, no button either, despite the extension being active.

![image](https://user-images.githubusercontent.com/10532611/50997009-ca162b80-1523-11e9-9c19-88d1b2379b5b.png)

![image](https://user-images.githubusercontent.com/10532611/50997046-dbf7ce80-1523-11e9-96ed-849b1b5f2e81.png)

[2019-01-10 21:07] felixfbecker commented on #1712
https://github.com/sourcegraph/sourcegraph/issues/1779

[2019-01-10 21:11] felixfbecker commented on #1712
Basic code intel is not working for me at all, not even on sourcegraph.com.

[2019-01-10 21:14] felixfbecker commented on #1732
Confirmed working

[2019-01-10 21:31] nicksnyder opened #1781 "Test plan for nginx"
@keegancsmith please fill this in and assign testers when ready

[2019-01-10 21:31] nicksnyder opened #1782 "Test plan for "Other" external services"
This test plan is meant to cover the new functionality introduced in #1700.

Imagine you're completely new to Sourcegraph and you want to connect it with your Git repositories that live in your own personal Git server. As with #1702, this test plan is goal oriented so that we make sure the documentation is good.

1. Run a fresh Sourcegraph instance.
[code]
2. Pretend like you are a new user settin

[2019-01-10 21:32] felixfbecker commented on #1762
I took no actions about this repo yesterday.

[2019-01-10 21:47] lguychard commented on #1190
Closed by #1768

[2019-01-10 21:47] #1190 closed

[2019-01-10 21:53] KattMingMing commented on #1723
I'm seeing the following after creating a new GitHub OAuth and updating `auth.providers` to GitHub:

![screenshot 2019-01-10 13 47 42](https://user-images.githubusercontent.com/4897310/50999195-7af9d780-14de-11e9-8358-1358f8067abc.png)

I'm not seeing any errors indicating why it's not working. I tried making an application pointing to localhost and my own domain.

[2019-01-10 21:58] felixfbecker opened #1784 "Clearing global settings bricks Sourcegraph instance"
Go to global settings and delete the `{}`. Save. Your Sourcegraph instance is bricked and always shows this error:

![image](https://user-images.githubusercontent.com/10532611/50999698-35173080-152b-11e9-9162-6a56b9688a39.png)

[2019-01-10 22:00] chrismwendt commented on #8
Sweet, would you (or someone you know) be interested in making it happen? [Sourcegraph extensions](https://docs.sourcegraph.com/extensions) make it easy to add language support to Sourcegraph (e.g. [Go](https://sourcegraph.com/extensions/sourcegraph/lang-go)). We're happy to help out with support and funding!

[2019-01-10 22:17] felixfbecker opened #1785 "Error: Misconfigured GitHub auth provider"
GitHub auth worked when I also had the built-in auth on. As soon as I removed it, my Sourcegraph instance always just displayed `Misconfigured GitHub auth provider.`

Site config:
[code]

[2019-01-10 22:18] ryan-blunden commented on #1535
Re Dan's suggestion in https://github.com/sourcegraph/sourcegraph/issues/1535#issue-393171362, is it possible to add an indicator to the icon to show that Sourcegraph needs to be enabled for this domain?

![sg](https://user-images.githubusercontent.com/133014/51000642-91099700-14e2-11e9-938c-468e8bf9bb58.jpg)

[2019-01-10 22:19] felixfbecker commented on #1723
I only got through the first item and only for github.com. Just FYI this test plan looks **very** time-intensive. https://github.com/sourcegraph/sourcegraph/issues/1785

[2019-01-10 22:19] chrismwendt commented on #1717
I'm starting to test Go code intelligence, and here is my status:

- [ ] Spin up a brand new Sourcegraph 3.0 instance `env IMAGE='sourcegraph/server:3.0.0-alpha.9' ./dev/run-server-image.sh`
- [ ] Enable both a popular Go repository from [GitHub](https://github.com/search?o=desc&q=language%3Ago&s=stars&type=Repositories) AND one of its dependencies on your Sourcegraph 3.0 instance
- [ ] Deploy the

[2019-01-10 22:20] slimsag commented on #1784
Likely the same cause as #1645

[2019-01-10 22:49] ryan-blunden commented on #1491
Happened to me just now after running `./dev/run-server-image.sh`, even though I answered `Y` to `Do you want to delete /tmp/sourcegraph and start clean? [Y/n]`.

[2019-01-10 22:53] nicksnyder commented on #1491
Thanks for confirming. This is a bad release blocker then.

[2019-01-10 22:54] ggilmore commented on #1761
I have opened https://github.com/sourcegraph/deploy-sourcegraph/pull/158, which resolves the issue as far as I can tell. After it's approved and merged, I'll open up a follow-up issue for @slimsag to investigate the underlying problem after 3.0 ships.

[2019-01-10 23:09] nicksnyder commented on #1761
@slimsag can you clarify if there was a particular reason that you upgraded redis?

[2019-01-10 23:12] #1761 closed

[2019-01-10 23:16] ryan-blunden commented on #1491
I had a `~/.sourcegraph/data` directory from a previous install. I removed that, and `./dev/run-server-image.sh` worked, although I don't know if is significant because script uses the `/tmp/sourcegraph` directory.

I then ran `DATA=/Users/rb/.sourcegraph ./dev/run-server-image.sh` but this did not reproduce the issue either.

[2019-01-10 23:17] ggilmore opened #1786 "[deploy-sourcegraph] re-add redis-store pure docker simplifications"
_See https://github.com/sourcegraph/deploy-sourcegraph_

https://github.com/sourcegraph/sourcegraph/issues/1761#issuecomment-453288013

[2019-01-10 23:19] ggilmore commented on #1761
Filed https://github.com/sourcegraph/sourcegraph/issues/1786

[2019-01-10 23:30] ggilmore commented on #1689
I wasn't able to complete this test plan today. I'll test it first thing tomorrow morning.

[2019-01-10 23:34] chrismwendt commented on #1718
I'm beginning to test TypeScript code intelligence. Here's my status:

- [ ] Run a fresh 3.0 alpha9 instance
- [ ] Deploy the TypeScript language server in Docker locally
- [ ] Try some hovers/defs/refs
- [ ] Try cross-repo code intel
- [ ] Try private repositories/dependencies
- [ ] Test in the browser extension

[2019-01-10 23:55] nicksnyder commented on #1762
I can't explain or reproduce why this happened, but this is exactly the issue that should be addressed categorically by https://github.com/sourcegraph/sourcegraph/issues/914. I manually deleted this repo from the db in production so I am going to close this as a duplicate of https://github.com/sourcegraph/sourcegraph/issues/914

[2019-01-10 23:55] #1762 closed

[2019-01-11 00:01] ryan-blunden commented on #1685
Is there a way to pre-fill the username to be `sourcegraph` in the meantime? I did not find it obvious that the username could be anything until I re-read the docs.

[2019-01-11 00:36] nicksnyder commented on #1706
Should the current release be the default?

[2019-01-11 00:38] slimsag opened #1788 "https://docs.sourcegraph.com/ should default to the current version"
- Visit https://docs.sourcegraph.com/
- Notice it automatically selects `3.0 (next)`, which is not desirable as that version is not yet released.
- Expected: We should redirect to the current version by default.

![image](https://user-images.githubusercontent.com/3173176/51006003-688f9600-14fe-11e9-87f4-ebefff723e14.png)

[2019-01-11 00:41] dadlerj commented on #1717
I'm starting to test Go code intelligence, and here is my status:

- [ ] Spin up a brand new Sourcegraph 3.0 instance `env IMAGE='sourcegraph/server:3.0.0-alpha.9' ./dev/run-server-image.sh`
- [ ] Enable both a popular Go repository from [GitHub](https://github.com/search?o=desc&q=language%3Ago&s=stars&type=Repositories) AND one of its dependencies on your Sourcegraph 3.0 instance
- [ ] Deploy the

[2019-01-11 00:43] sqs commented on #1706
Overall no. Half of docs changes are improvements that apply to all versions, half are actual breaking-ish changes. If users need version-specific docs, they need to choose their specific version and not rely on current being close enough. Most doc sites do it the way I’ve described. It would be an improvement to offer a version selector but right now it doesn’t matter since we only have these doc

[2019-01-11 00:46] ryan-blunden opened #1789 "Docs search for docs.sourcegraph.com does not respect selected version"
![screenflow](https://user-images.githubusercontent.com/133014/51006242-20b94080-14f7-11e9-816e-8cc400c7d047.gif)

## To re-produce

 - Go to  https://docs.sourcegraph.com
- Click on 3.0 (next)
- Search for TypeScript

## Expected result

 - Search results are for the 3.0 version.

## Actual result

- Search results are for the 2.13 version

[2019-01-11 00:46] sqs commented on #1788
I think the right fix is to make version selection more apparent to users, and even more prominent on the homepage specifically. See https://github.com/sourcegraph/sourcegraph/issues/1706#issuecomment-453321304 for reasoning. This is especially acute on the homepage because of the docker run command.

I will handle this and come up with a fix that is (hopefully) globally ideal.

[2019-01-11 00:47] sqs commented on #1789
Good catch.  Very strange, those pages should have meta noindex. Will investigate and fix.

[2019-01-11 00:51] #1757 closed

[2019-01-11 00:56] dadlerj opened #1790 "Autocomplete options in external service `"repos"` option are confusing"
- **Sourcegraph version:** release candidate (3.0.0-alpha.9)

#### Steps to reproduce:

1. go to the "add an external service" page
2. add a `"repos"` option
3. hit cmd-space for autocomplete, notice that autocomplete options aren't appropriate:

![image](https://user-images.githubusercontent.com/5589410/51006538-7e9a5800-14f8-11e9-9948-4bc26934eba3.png)

What I _really_ needed to see here was the

[2019-01-11 00:58] ryan-blunden opened #1791 "Extension detail page syntax highlighting for type diff are unreadable in light mode"
![screen shot 2019-01-10 at 4 56 27 pm](https://user-images.githubusercontent.com/133014/51006567-b6a19b00-14f8-11e9-8438-f368c3445aa0.png)

[2019-01-11 01:01] felixfbecker commented on #1791
@vanesa can you take this?

[2019-01-11 01:21] ryan-blunden commented on #1718
For http://localhost:7080/github.com/sourcegraph/sourcegraph/-/blob/shared/src/commandPalette/CommandList.test.ts#L2:10, two errors were returned.

![screen shot 2019-01-10 at 5 21 11 pm](https://user-images.githubusercontent.com/133014/51007400-29f8dc00-14fc-11e9-90b5-c0c16a4ab89e.png)

[2019-01-11 02:22] #1776 closed

[2019-01-11 03:14] chrismwendt opened #1794 "Markdown highlighting of diffs is dark and unreadable"
- Visit https://sourcegraph.com/extensions/sourcegraph/lang-typescript

![image](https://user-images.githubusercontent.com/1387653/51010987-7e578800-150b-11e9-8a7c-09db1274d1cf.png)

This looks like an odd color to choose:

![image](https://user-images.githubusercontent.com/1387653/51011060-d1c9d600-150b-11e9-9578-c7897ce25982.png)

Is this a dark theme vs light theme problem?

[2019-01-11 04:01] chrismwendt commented on #1719
I'm starting to test Python code intelligence, and here is my status:

- [ ] Spin up a brand new Sourcegraph 3.0 instance `env IMAGE='sourcegraph/server:3.0.0-alpha.9' ./dev/run-server-image.sh`
- [ ] Enable a popular Go repository from [GitHub](https://github.com/search?o=desc&q=language%3Apython&s=stars&type=Repositories)
- [ ] Deploy the language server in a Docker container by following: https

[2019-01-11 04:05] beyang opened #1795 "Python extension hangs on larger repositories"
Python extension seems to hang on larger repositories like Django and `darrellsilver/norc`.

[2019-01-11 04:06] beyang opened #1796 "Python first hover has no tooltip"
First hover often doesn't have tooltip (probably due to initialization lag). Subsequent ones do, but refreshing page resets the behavior.

[2019-01-11 04:09] beyang commented on #1718
### My testing progress
* [ ] Spin up a fresh Sourcegraph instance
* [ ] Deploy the language server in a Docker container by following: https://docs.sourcegraph.com
* [ ] Find a random TypeScript repository (e.g. from https://github.com/search?o=desc&q=language%3Atypescript&s=stars&type=Repositories) and make sure hovers/defs/refs work
* [ ] Basic functionality should also work in JavaScript repos

[2019-01-11 04:46] sqs commented on #1367
This is what I see when clicking on your link, which appears to be correct:

![screenshot from 2019-01-10 20-46-17](https://user-images.githubusercontent.com/1976/51013690-c92bcc80-1518-11e9-88f0-66ece7c10dd6.png)

@felixfbecker 	Can you run the `Basic code intel: Enable fuzzy hovers` action (if you haven't already)?

[2019-01-11 04:52] sqs commented on #1712
@felixfbecker Can you file an issue for basic code intel not working for you at all on Sourcegraph.com, and include all the relevant info?

I see your user settings have the following (https://sourcegraph.com/users/felixfbecker/settings):

[code]

So is it possible you disabled it previously? The command palette action `Basic code intel: Enable fuzzy def/ref matching` will reenable it.

- What tro

[2019-01-11 04:58] sqs commented on #1770
Thought it was a dupe of #1334, maybe not. Reopening until I determine for sure.

[2019-01-11 05:21] slimsag commented on #1685
Nope, unfortunately there is not. We do send a server-side message indicating that the password can be anything, but unfortunately most browsers no longer allow display of those.

[2019-01-11 05:45] slimsag commented on #1788
Sounds good

[2019-01-11 05:48] slimsag commented on #1794
Looks like dup of #1791

[2019-01-11 05:48] #1794 closed

[2019-01-11 05:49] sqs commented on #1770
It is not a dupe of #1334. It is an independent issue. Reassigning to @chrismwendt 	and @lguychard.

[2019-01-11 05:53] #1747 closed

[2019-01-11 05:54] sqs opened #1801 "Incorrect hover behavior on GitHub outdated PR comment snippets"
Repro:

Hover over tokens on line 516 above https://github.com/sourcegraph/codeintellify/pull/77#discussion_r240263029. Hovers do not work on this snippet. This causes #1334 because it causes any provider to be invoked incorrectly, with:

- A document URI with the head SHA of the PR 0c3d013aab9353f75b0bd1fa0e358dbc8c048f4c, not the head SHA of the snippet ce472adbfc6ac8ccf1bf7afbe71f18505ca994ec (

[2019-01-11 05:55] nicksnyder commented on #1742
This got rolled in to https://github.com/sourcegraph/sourcegraph/issues/1756

[2019-01-11 05:56] sqs commented on #1334
This is actually caused by https://github.com/sourcegraph/sourcegraph/issues/1801, which can wait until 3.1. The infinite loading is no longer present now that the codeintellify behavior has changed to not show the loader unless at least one of the actions or hover has returned, so this is not immediately noticeable/annoying.

[2019-01-11 05:56] #1334 closed

[2019-01-11 05:57] sqs commented on #694
Have you/anyone seen this occur again? @ijsnow, has this been fixed?

Assigning to @ijsnow. (Sorry for missing this initially.)

[2019-01-11 05:57] chrismwendt commented on #1770
I think this is another off-by-one problem, potentially caused by GitHub changing their DOM. I fixed the unified view in https://github.com/sourcegraph/sourcegraph/pull/1644 and a similar fix probably needs to be made for split view. Assigning to myself.

[2019-01-11 06:01] chrismwendt commented on #1763
We'd love to get Swift support implemented! Closing in favor of the existing issue, also using sourcekite-lsp https://github.com/sourcegraph/sourcegraph/issues/1557

[2019-01-11 06:01] #1763 closed

[2019-01-11 06:43] ryan-blunden opened #1802 "Close icon is over text on hover when only "Find references" button is shown"
- **Sourcegraph version:** sourcegraph.com and 3.0
- **Platform information:** Chrome

<img width="841" alt="screen shot 2019-01-10 at 10 40 08 pm" src="https://user-images.githubusercontent.com/133014/51017488-14e67200-1529-11e9-81ca-8d1a42ae05ce.png">

#### Steps to reproduce:

1. Enable basic code intel extension
2. Got to http://localhost:7080/github.com/sinatra/sinatra/-/blob/examples/chat.rb

[2019-01-11 07:01] #1790 closed

[2019-01-11 07:09] sqs commented on #1779
Ah...this is because all settings to enable it default to off.

![screenshot from 2019-01-10 23-09-23](https://user-images.githubusercontent.com/1976/51018538-d05cd580-152c-11e9-876c-8462d3e681bc.png)

Will fix.

[2019-01-11 07:45] sqs commented on #1779
Reopened for @felixfbecker 	to verify the fix.

[2019-01-11 08:31] #1737 closed

[2019-01-11 08:53] sqs commented on #1802
No good fix in the current UI. Cc @francisschmaltz

[2019-01-11 08:53] #1802 closed

[2019-01-11 08:59] sqs commented on #1802
![ab274d79-1a54-4c90-b994-cdfc442b4bc3](https://user-images.githubusercontent.com/1976/51023633-33a23400-153c-11e9-9378-45e013e3500e.png)

[2019-01-11 09:00] francisschmaltz opened #1807 "Empty panel is shown on the login window if you follow a direct link to code intelligence while signed out"
If you follow a link with code intelligence to an instance you are not currently signed in to, you'll see the bottom panel appear above the login window.

Test link:
http://localhost:3080/sign-in?returnTo=%2Fgithub.com%2Fsinatra%2Fsinatra%2F-%2Fblob%2Fexamples%2Fchat.rb#L9:8&tab=references

<img width="1431" alt="screen shot 2019-01-11 at 12 56 42 am" src="https://user-images.githubusercontent.com

[2019-01-11 09:00] sqs commented on #1802
Extra context ^^

[2019-01-11 09:00] francisschmaltz commented on #1807
@nicksnyder I'd love for this to be fixed before Monday, but if not it's a good candidate for 3.1 bug fixes.

[2019-01-11 09:04] sqs commented on #1807
This is OK to wait for 3.1 because most customer instances would redirect immediately to SSO instead of showing this login screen.

[2019-01-11 10:16] vanesa commented on #1747
Closed as not able to reproduce.

[2019-01-11 10:31] lguychard commented on #1040
Added alerts registry_api_list and registry_api_lang_go in [be18d5a](https://github.com/sourcegraph/infrastructure/commit/be18d5a9528716fab83c131a1ca858eaf5bddda0)

[2019-01-11 10:31] #1040 closed

[2019-01-11 11:30] felixfbecker commented on #1785
Log in console:
[code]

[2019-01-11 12:15] vanesa commented on #1742
The first time I add the public repos to external services and saved, I was redirected to the main page. However, when I updated some repos and then clicked on "update external services", I was not redirected to the main external services page nor did I see any message confirming my changes were saved.

Here is a gif.
https://cl.ly/9f1d9bae0dc5

I'm using the newest docker image.

[2019-01-11 14:13] #1550 closed

[2019-01-11 14:20] felixfbecker commented on #1782
@tsenart I won't have time to go through this unfortunately.

[2019-01-11 14:21] tsenart commented on #1782
@felixfbecker: No problem!

[2019-01-11 14:41] KattMingMing commented on #1520
This has been resolved. The confusion happened after submitting a trial request the confirmation page only displayed a link to cluster deployment. That page was updated to include both deployment options.

[2019-01-11 14:41] #1520 closed

[2019-01-11 15:02] vanesa commented on #1712
## Screenshot 1

<details>
![image](https://user-images.githubusercontent.com/9110008/51035668-50427880-15dd-11e9-9a9f-6c7233707568.png)

</details>

## Screenshot 2
I did experience #1738. First I could see `show definition` and after a few seconds it disappeared and only showed `find references`.
<details>
![image](https://user-images.githubusercontent.com/9110008/51041108-bdf5a100-15eb-11e9-9d0

[2019-01-11 15:38] lguychard opened #1808 "When creating an external service with kind="other", JSON comments refer to phabricatorconnectionobject"
- go to https://YOUR-INSTANCE/site-admin/external-services/add?kind=other
- witness JSON comments point to #phabricatorconnection-object

![image](https://user-images.githubusercontent.com/1741180/51043582-50338000-15bf-11e9-985b-115e225b3c33.png)

_expected_: JSON comments point to #otherexternalserviceconnection-object

[2019-01-11 15:41] #1808 closed

[2019-01-11 15:42] lguychard commented on #1782
Filed & fixed #1808, LGTM otherwise

[2019-01-11 16:22] keegancsmith commented on #1781
Spoiler alert, below is my notes for this test plan. Do not read them, I am posting them here for my own reference.

<details>
<summary>Cheatsheet</summary>

[code]

[code]
</details>

[2019-01-11 16:30] tsenart commented on #1808
Thanks!

[2019-01-11 16:46] tsenart commented on #1491
Related issue with Concourse who used the same migration library we do: https://github.com/concourse/concourse/issues/2074

[2019-01-11 16:54] tsenart commented on #1491
This issue seems like an exact match of what we're seeing: https://github.com/golang-migrate/migrate/issues/55

[2019-01-11 17:02] lguychard commented on #631
I think the [autofocus](https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/blob/shared/src/commandPalette/CommandList.tsx#L32:5) prop of `CommandList` may be the issue:

[2019-01-11 17:12] francisschmaltz commented on #1178
@sqs this is worse. We should just replace it with “discussions” until we can do it right. The icon looks bad.

[2019-01-11 17:13] francisschmaltz commented on #1178
We should be able to use an SVG for the icon so we can change the fill color with the theme.

[2019-01-11 17:35] sqs commented on #1178
Great, go make one or both of those happen :)

[2019-01-11 17:35] felixfbecker commented on #1718
@chrismwendt

Unless any of these errors resulted in unexpected behaviour they are all normal.

Fixed this, please retest. The extension was using the server Sourcegraph endpoint.

@ryan-blunden

Same as above, unless any of these errors resulted in unexpected behaviour they are all normal.

It works for me (connected to my Docker instance):

![image](https://user-images.githubusercontent.com/1053

[2019-01-11 17:59] dadlerj opened #1811 "GitHub.com rate limit error not displayed anywhere"
- **Sourcegraph version:** 3.0.0-alpha.9

I added a GH external service without a token, and added an open source repo:

![image](https://user-images.githubusercontent.com/5589410/51051012-6a516c00-1587-11e9-8f6c-b82468d6cbd2.png)

And nothing showed up on the **Repositories** page.

After checking the logs, I saw this error:

There was nowhere in the UI that indicated this to me.

My thinking for

[2019-01-11 18:06] francisschmaltz commented on #1811
@nicksnyder @dadlerj The UI for error is in Zeplin here:
https://zpl.io/bz10R98
https://zpl.io/V4QJEd0

@nicksnyder can you add this to 3.1 or 3.2

[2019-01-11 18:07] #1785 closed

[2019-01-11 18:08] beyang commented on #1723
Fix for #1785 is in master.

@felixfbecker If the test plan takes too long and there's other stuff you need to get to, could you tackle just Git**Hub** first? @KattMingMing could you tackle Git**Lab** first?

[2019-01-11 18:47] KattMingMing commented on #1723
**GitLab Testing checklist:**

**GitLab authentication**
- [ ] Use the management console to configure the server to authenticate via GitLab.com by navigation to docs.sourcegraph.com and finding the docs to do so. (If you can't find it, go here, but try first to find it yourself.)
    - [ ] Verify you can sign in using a GitLab account with the same email as an existing account.
    - [ ] Verify y

[2019-01-11 19:16] nicksnyder commented on #1811
Thanks for linking the mocks (is there another open issue related to those mocks that this might be a duplicate of?).

I don't expect this to be in 3.1 and we are not ready to plan for 3.2 (until 3.0 is out). The hard part here is not the UI but figuring out how to make the async errors available in the right way.

[2019-01-11 19:44] ggilmore commented on #1692
Just saw this - splitting into separate issues now

[2019-01-11 19:58] #1760 closed

[2019-01-11 19:58] sqs commented on #1789
Blocked on https://github.com/algolia/docsearch-configs/pull/699

[2019-01-11 20:00] sqs commented on #1367
I made it so that hovers are on by default.

[2019-01-11 20:00] sqs commented on #1712
Thanks, @vanesa! @felixfbecker Can you run through the test plan now (see https://github.com/sourcegraph/sourcegraph/issues/1779#issuecomment-453413334 https://github.com/sourcegraph/sourcegraph/issues/1367#issuecomment-453639301)?

[2019-01-11 21:01] KattMingMing opened #1813 "GitLab repo permissions shouldn't require SSO with GitLab authentication"
When using GitLab authentication, it's unnecessary to require SSO to use repository permissions. However, in the case where only GitLab permissions we will still require Sourcegraph to be configured with the same SSO provided as is used to sign into GitLab.

[2019-01-11 21:16] ggilmore opened #1814 "[deploy-sourcegraph] Test code intelligence migration steps"
_See https://github.com/sourcegraph/deploy-sourcegraph_

Migrated from https://github.com/sourcegraph/sourcegraph/issues/1692

Test update code intelligence migration steps using instructions in https://github.com/sourcegraph/deploy-sourcegraph/blob/master/README.dev.md

[2019-01-11 21:19] ggilmore opened #1815 "[deploy-sourcegraph] Add ingress-nginx migration steps"
_See https://github.com/sourcegraph/deploy-sourcegraph_

Migrated from https://github.com/sourcegraph/sourcegraph/issues/1692

Update https://github.com/sourcegraph/deploy-sourcegraph/blob/master/docs/sourcegraph-3.0.migrate.md with changes related to ingress-nginx

[2019-01-11 21:22] ggilmore opened #1816 "[deploy-sourcegraph] Test ingress-nginx migration steps"
_See https://github.com/sourcegraph/deploy-sourcegraph_

Migrated from https://github.com/sourcegraph/sourcegraph/issues/1692

Depends on https://github.com/sourcegraph/sourcegraph/issues/1815

Test ingress-nginx migration steps using instructions in https://github.com/sourcegraph/deploy-sourcegraph/blob/master/README.dev.md

[2019-01-11 21:32] dadlerj opened #1817 "Site-wide search query defaults"
Request from a user:

We've heard this from others as well. Admins should be able to set default values for certain query options (or even to set a default query string that gets automatically added to the search bar)

[2019-01-11 21:40] tsenart commented on #1491
OK, I opened a PR with a test case upstream. It works with a high number of concurrent processes attempting to create the `schema_migrations` table.

While we wait for the upstream contribution to be finalised, I'll change sourcegraph to use my branch.

[2019-01-11 22:51] #1491 closed

[2019-01-11 23:07] nicksnyder commented on #1708
Given that this has been tested a lot, it is no longer a release blocker. @ggilmore you should still follow up with the remaining people when they are available.

[2019-01-11 23:10] chrismwendt commented on #1814
I feel that setting up code intelligence for 3.0 is being sufficiently covered by other test plans, and I can't think of anything related to code intelligence that would need to be migrated.

[2019-01-11 23:10] #1814 closed

[2019-01-11 23:13] nicksnyder commented on #1732
I am closing this issue since it has been tested.

[2019-01-11 23:13] #1732 closed

[2019-01-11 23:20] #1695 closed

[2019-01-11 23:31] felixfbecker commented on #1753
I get this:

![image](https://user-images.githubusercontent.com/10532611/51064712-5cd8c800-1601-11e9-999f-e30cd7f98508.png)

[2019-01-11 23:32] nicksnyder commented on #959
File separate issue for "Ensure that it is cleaning up temp dirs" which can be for 3.1 and then close this as everything else is done or otherwise tracking in a separate issue

[2019-01-11 23:50] nicksnyder commented on #1752
@chrismwendt just delete this, we don't need to inline code into documentation

[2019-01-11 23:58] #1796 closed

[2019-01-12 00:08] chrismwendt opened #1819 "Python language server: ensure that it is cleaning up temp dirs"
There is evidence that https://github.com/sourcegraph/python-language-server/tree/wip2 is not cleaning up temporary directories https://sourcegraph.slack.com/archives/C07KZF47K/p1546987357093200?thread_ts=1546986638.092300&cid=C07KZF47K

I haven't seen it leak in my own testing, but it's worth checking once it's been deployed to Sourcegraph.com, which depends on ingress-nginx https://github.com/so

[2019-01-12 00:09] #959 closed

[2019-01-12 00:09] ggilmore opened #1820 "management console: chrome doesn't tell you that the username is irrelevant when signing in"
When visiting the management console page via Firefox, the authentication box tells me that the username doesn't matter:

![screen shot 2019-01-11 at 4 06 04 pm](https://user-images.githubusercontent.com/9022011/51065642-d4373900-15ba-11e9-943c-c19b8d1c31aa.png)

However, in Chrome that message is missing:

![screen shot 2019-01-11 at 4 07 38 pm](https://user-images.githubusercontent.com/9022011/5

[2019-01-12 00:43] ggilmore commented on #1689
I tested the management console on https://github.com/sourcegraph/deploy-sourcegraph/tree/26a7c6bd16dd5e113d7964e7a53625020dd16c5c. Besides the other UX issues that @slimsag will file, https://github.com/sourcegraph/sourcegraph/issues/1820 is the only other thing that I found.

[2019-01-12 00:44] slimsag commented on #1820
yeah, only Firefox supports these messages. Other browsers do not render them as an anti-phishing security measure.

I will close this as a dup of https://github.com/sourcegraph/sourcegraph/issues/1685 and did the quick fix you suggested: https://github.com/sourcegraph/sourcegraph/commit/f29a7ae98da97fb3d2da284c41ba653ca2b86884#diff-17c8075fe125ab9e7c211a64aff40412

[2019-01-12 00:44] #1820 closed

[2019-01-12 00:46] slimsag opened #1821 "management console: known issue: errors are shown as HTTP status codes, not server response text"
The management console is using ajax instead of fetch (I couldn't get fetch working at the time, I don't remember why) so when an error occurs, such as HTTP status code 0 (Unreachable) or HTTP status code 500 (server-side response text included), you just see:

[2019-01-12 00:50] slimsag opened #1822 "management console: TODO: Better 'loading' state styling"
Currently it does not indicate well through the UX that the save operation is happening when you click Save (it only displays some "Saving..." text). A spinner of some sort would be better.

This is especially true because some connections to clusters can be a bit flaky, it is hard to know the save is still occurring.

[2019-01-12 00:51] slimsag commented on #1689
Filed https://github.com/sourcegraph/sourcegraph/issues/1821 for the primary issue you encountered, and https://github.com/sourcegraph/sourcegraph/issues/1822 for the minor UX issue. I'll address these in 3.0 but neither of these are show-stoppers. :)

[2019-01-12 00:55] nicksnyder commented on #1689
Can we close this test plan as complete then?

[2019-01-12 00:55] francisschmaltz commented on #1689
Tested on fresh instance and looks good!

[2019-01-12 01:02] dadlerj opened #1823 "Same reference appears twice (with commit specified and unspecified)"
- **Sourcegraph version:** alpha9

#### Steps to reproduce:

Haven't tried to repro on another repo yet.

1. Follow the instructions here: https://github.com/sourcegraph/sourcegraph/issues/1717
2. Go to http://localhost:7080/github.com/sourcegraph/sample-public-go-repo/-/blob/main.go#L5:25&tab=references
3. Ensure that:
  * Fuzzy matches are turned OFF
  * Show references from other repositories i

[2019-01-12 01:11] slimsag commented on #1689
Thanks! Looks like we're good to close this now.

[2019-01-12 01:11] #1689 closed

[2019-01-12 02:01] chrismwendt commented on #1752
Removed in https://github.com/sourcegraph/lang-go/commit/6342f90a6255f9323b13714ff49ea93aa6464d7b

[2019-01-12 02:01] #1752 closed

[2019-01-12 02:08] ryan-blunden opened #1825 "GitHub CSP blocking browser extension requests to local instance"
![screenflow](https://user-images.githubusercontent.com/133014/51067842-d1dcdb00-15ca-11e9-81eb-d1080733877a.gif)

To reproduce, launch a local Sourcegraph and lang server, point the browser extension at your local instance, then try getting code intelligence to work. This seems to have happened to @KattMingMing today and I was able to reproduce the issue on @dadlerj's local instance.

When browsi

[2019-01-12 02:16] chrismwendt commented on #1717
@dadlerj Thanks for the feedback on the docs, I took your suggestion and moved the Docker deployment to the top.

[2019-01-12 02:42] ryan-blunden commented on #1825
We tried at one point to use an ngrok https url, thinking that perhaps, it was because of localhost or the fact requests were sent via http.

This worked for a while (less than an hour), the stopped working. I tried a different ngrok URL which worked for less time, then eventually no ngrok URLs worked.

[2019-01-12 03:12] chrismwendt commented on #1823
Thanks for reporting! Fixed in https://github.com/sourcegraph/lang-go/commit/773a90c040d0730eb3607be7e2b9f27fa6e41c39

[2019-01-12 03:12] #1823 closed

[2019-01-12 10:24] sqs opened #1826 "sourcegraph/server log spam before startup"
When starting up sourcegraph/server, there is a lot of logspam before it shows the "Sourcegraph is ready at" message. This will make users think that there is an error, when in reality it's just that the other services are waiting for the frontend to be ready.

[code]

[2019-01-12 11:34] sqs opened #1829 "Explore on site admin overview is wrong color on dark theme"
![screenshot from 2019-01-12 03-33-47](https://user-images.githubusercontent.com/1976/51072762-e8ab1e00-161a-11e9-8f8b-50d3c1a432e8.png)

[2019-01-12 11:44] sqs opened #1830 "#enabled extensions filter doesn't work on self-hosted instance"
Despite extensions being enabled, nothing is returned. This works on Sourcegraph.com but not on a self-hosted instance.

![screenshot from 2019-01-12 03-44-06](https://user-images.githubusercontent.com/1976/51072825-59066f00-161c-11e9-9a87-105f70f87863.png)
![screenshot from 2019-01-12 03-43-57](https://user-images.githubusercontent.com/1976/51072826-59066f00-161c-11e9-8ba3-66386788da9c.png)

[2019-01-12 11:53] sqs opened #1831 "Improve tests and integration tests for extension registry"
- Prevent #1830

[2019-01-12 11:55] sqs opened #1833 "Clean up abandoned wip extensions from registry"

[2019-01-12 13:47] tsenart commented on #1404
To pick this up, I need more complete context of what makes this annoying and what to look out for. Would you be able to brain-dump the details here @keegancsmith?

[2019-01-12 13:56] tsenart commented on #1404
Currently reading: https://www.postgresql.org/docs/9.4/pgupgrade.html

[2019-01-12 14:02] JoshuaKGoldberg commented on #1572
@felixfbecker I was seeing them on GH.com, where I didn't want to know about them.

Either way they get in front of the on screen code. I don't like having anything overlaid on top of that portion of the screen.

If these were changed to something less intrusive that would be nice? But as long as they don't interrupt GH.com sessions, 👍

[2019-01-12 14:13] felixfbecker commented on #1572
What about the case where the language server is taking a long time to initialize and no hover appears? Would you prefer seeing some indication of progress (like reporting dependency installation as above) or just wait without any indicators?

[2019-01-12 14:41] JoshuaKGoldberg commented on #1572
Most of the time I don't use SG language service features on GH.com or even SG.com. When I _do_ use them it's nice to know - is there a way to only show the notification if I've demonstrated intent to use its services?

[2019-01-12 14:43] felixfbecker commented on #1572
Oh, that's a great insight! What if the server only shows the current progress once you hovered over something?
Alternatively, would you want a button that toggles hovers, notifications etc?

[2019-01-12 15:16] JoshuaKGoldberg commented on #1572
SGTM 😊

[2019-01-12 15:48] tsenart commented on #1404
There are three separate high level streams of work to this upgrade process that I can identify:

1. Ship Postgres 11.1 with Sourcegraph 3.0-beta and make sure everything works with it.
1. Write documentation AND/OR automation for existing customer deployments:
    - https://github.com/rtshome/pgrepup
    - https://severalnines.com/blog/upgrading-your-database-to-postgresql-version-10
    - https:

[2019-01-12 16:09] tsenart commented on #1404
For the love of God, I can't find `sourcegraph/server` Dockerfile. Any pointers?

[2019-01-12 16:15] vanesa commented on #631
Thanks @lguychard! Just pushed a better solution #1767 using ref to apply the autofocus directly on the DOM element.

[2019-01-12 17:42] felixfbecker commented on #1791
Ping @vanesa

[2019-01-12 17:46] felixfbecker commented on #1367
I am on sourcegraph.com and have the basic code intel extension enabled, and no basic code intel setting in my user settings. That means it should be on, right? But it doesn't appear to be. This is what my command palette shows:

![image](https://user-images.githubusercontent.com/10532611/51076555-4df22400-169a-11e9-8a32-1da33ffa9a98.png)

Ideally fuzzy hovers should not be on for languages with a

[2019-01-12 17:47] felixfbecker commented on #1367
It works when I run the enable command.

[2019-01-12 17:47] #1367 closed

[2019-01-12 17:51] felixfbecker commented on #1779
Confirmed on a fresh Docker instance

[2019-01-12 17:51] #1779 closed

[2019-01-12 17:56] felixfbecker commented on #1753
@nicksnyder Yeah I corrected the link to point to the commit when the issue was filed instead of master

[2019-01-12 18:31] felixfbecker commented on #1723
@beyang do you have an example of a private repo that I/we don't have access to?

[2019-01-12 18:37] KattMingMing commented on #1723
@felixfbecker you can test against one of my repos - https://gitlab.sgdev.org/kingy/mux

[2019-01-12 18:38] felixfbecker opened #1834 "Impossible to sign out when using GitHub auth"
When using only GitHub auth, the sign out button is a noop.

![2019-01-12 19 36 03](https://user-images.githubusercontent.com/10532611/51077060-5d28a000-16a1-11e9-9301-2a9f00c4c179.gif)

Config:

[code]

[2019-01-12 18:38] felixfbecker commented on #1723
I'm testing GitHub, do you have one for GitHub?

[2019-01-12 18:47] KattMingMing commented on #1834
Looks like this is caused by the redirect when only 1 auth provider is present.
https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/blob/enterprise/cmd/frontend/auth/oauth/middleware.go#L34:3-34:101

I noticed another bit of slightly confusing UX with the auto redirect that could impact how we solve the UX related to signing out:

When a new user goes to a Sourcegraph instance for the fir

[2019-01-12 18:58] dadler commented on #1404
FYI @nicksnyder, you may have "at-ted" the wrong username; I haven't been involved with this repo.

[2019-01-12 19:39] sqs commented on #1367
Fuzzy hovers are hidden automatically if a language extension has a hover

[2019-01-12 19:47] chrismwendt commented on #1718
@felixfbecker I verified this is fixed ✅

[2019-01-12 20:08] #1770 closed

[2019-01-12 20:34] felixfbecker commented on #1834
It also looks very weird when you share a URL to your instance because the crawler gets redirected to GitHub too:

![image](https://user-images.githubusercontent.com/10532611/51078183-db8d3e00-16b1-11e9-96f4-a35aa1388f17.png)

[2019-01-12 20:39] KattMingMing commented on #1723
**GitHub Testing Checklist**:

GitHub authentication

- [x] Run a new Sourcegraph Server instance
- [x]  After initializing the Sourcegraph Server instance using built-in authentication, use the management console to configure the server to authenticate via GitHub.com by navigating to docs.sourcegraph.com and finding the documentation to do so. (If you can't find it, go [here](https://docs.sourceg

[2019-01-12 20:53] francisschmaltz commented on #1829
Fixed in
https://github.com/sourcegraph/sourcegraph/commit/e49b702c938abda67bf38ca27e2237fd0a0380d6

[2019-01-12 20:54] #1829 closed

[2019-01-12 21:07] francisschmaltz opened #1836 "Update sass framework"
Update sass framework to reduce pain points for design and engineering.

Goals:
- [ ] Use mixins for theme, viewport, components to make reuse easier. @francisschmaltz
- [x] Use long hex codes for all colors (outside of rgba)
- [ ] Create proposal for design framework @francisschmaltz

[2019-01-12 21:15] francisschmaltz commented on #1836
Using our currently code style for sass slows down development significantly as I spend most of my time trying to figure out what something controls as searching for css becomes impossible as everything is segmented into `&__name` which always returns more results than needed. As I have become increasingly responsible for CSS I see a huge improvement we can make to our product.

[2019-01-12 21:31] felixfbecker commented on #1723
Tested GitHub authentication and authorization together with @KattMingMing for github.com (not GitHub Enterprise).

Only feedback I have is that the empty object `authorization: {}` to enable permission checks and checks being off by default is confusing. I wouldn't expect an empty object in settings to enable anything and forgot to add it initially. Therefor, since I configured the site with my G

[2019-01-12 23:04] felixfbecker commented on #1791
Fixed in 1c73e76fdc227c9caddedfc6cf0b22483d88e5d4

[2019-01-12 23:04] #1791 closed

[2019-01-13 00:57] dadlerj opened #1837 "Other ext services docs: change https://YOUR-INSTANCE --> https://sourcegraph.example.com"
On https://docs.sourcegraph.com/admin/repo/add_from_other_external_services

We use example.com domains instead! E.g. https://sourcegraph.com/search?q=r:sourcegraph/sourcegraph+f:doc+example.com+repo:%5Egithub%5C.com/sourcegraph/sourcegraph%24+

See the style guide for things like this: https://github.com/sourcegraph/about/blob/master/STYLEGUIDE.md

[2019-01-13 00:57] dadlerj commented on #1782
Filed https://github.com/sourcegraph/sourcegraph/issues/1837 (not urgent), worked great otherwise

[2019-01-13 02:19] ryan-blunden commented on #1718
My explanations are below. I just want an admin/developer wanting to get the TypeScript lang server up and running as fast as possible without having to do much thinking and mainly copying and pasting.

My perspective is:

 - Works great for 1-20 users.
 - Presumes production quality code samples.
 - Can be mindlessly copy and pasted.

My view is that because 3.0 is the vehicle that will take us f

[2019-01-13 02:31] chrismwendt commented on #1753
I think this is failing because go-langserver doesn't support Go modules. Closing since we don't have plans to add Go modules support to go-langserver right now.

Specifics: the docsite repository (the running example in this issue) uses Go modules and specifies blackfriday v2, but go-langserver is downloading HEAD, which is missing some functions that exist in v2.

[2019-01-13 02:31] #1753 closed

[2019-01-13 03:06] nicksnyder commented on #1404
I agree about (1) being the most important for 3.0-beta

https://github.com/sourcegraph/sourcegraph/issues/1129

Sorry! (I meant dadlerj but didn’t have autocomplete on mobile)

[2019-01-13 03:47] #1837 closed

[2019-01-13 03:48] nicksnyder commented on #1782
Works for me too! Closing since we have 3 testers.

[2019-01-13 03:48] #1782 closed

[2019-01-13 04:05] nicksnyder opened #1839 ""Configure external services to connect to Sourcegraph." is present even after "Other" external service is added"
![image](https://user-images.githubusercontent.com/754768/51081479-091fba80-16a5-11e9-9c82-26c59fca7ed1.png)

I will fix.

[2019-01-13 05:46] nicksnyder opened #1841 "Unclear empty state for extension command palette"
If I install the browser extension and then discover the command palette on GitHub.com, it is unclear what I should do to make this useful. How do I add commands here? Do I need to sign in to sourcegraph.com? There is no hint that this is related to extensions.

![image](https://user-images.githubusercontent.com/754768/51082025-01671280-16b3-11e9-951d-6b7e865758e9.png)

This was on the root page o

[2019-01-13 05:57] nicksnyder opened #1842 "GitLab "View File" icon misaligned"
In firefox
https://gitlab.com/gitlab-org/gitlab-runner/blob/master/log/configuration.go
![image](https://user-images.githubusercontent.com/754768/51082091-104ec480-16b5-11e9-9e74-de788489169a.png)

[2019-01-13 06:09] nicksnyder opened #1843 "Command palette doesn't close when menu dropdown opens"
![screen recording 2019-01-12 at 10 08 pm](https://user-images.githubusercontent.com/754768/51082158-a0413e00-16b6-11e9-80a1-4fba955691af.gif)

[2019-01-13 06:13] nicksnyder commented on #1703
I tested this and filed a couple issues (neither of which are in 3.0-beta milestone).
https://github.com/sourcegraph/sourcegraph/issues/1842
https://github.com/sourcegraph/sourcegraph/issues/1841
https://github.com/sourcegraph/sourcegraph/issues/1843

I verified it connected but didn't didn't have code intel setup on localhost so I didn't verify that.

I am going to close this tracking issue since

[2019-01-13 06:13] #1703 closed

[2019-01-13 07:59] #1735 closed

[2019-01-13 08:40] attfarhan opened #1845 "Removing token in external service does not remove associated repositories"
- **Sourcegraph version:** Insiders

#### Steps to reproduce:

1. Add an external service, include a GitHub token
2. Go to the repositories page, see the list of repos associated with the token.
3. Enable a private repo (e.g. sourcegraph/infrastructure)
4. Edit the external service you added, and remove the token field.
5. Go back to the repositories page and notice all the repositories are still

[2019-01-13 08:41] attfarhan commented on #1744
@nicksnyder I can't repro this anymore on latest insiders. BUT, I did find another issue while trying to repro this: https://github.com/sourcegraph/sourcegraph/issues/1845.

[2019-01-13 09:54] tsenart commented on #1837
Thanks!

[2019-01-13 12:39] #1609 closed

[2019-01-13 12:39] #1680 closed

[2019-01-13 14:59] nicksnyder commented on #1744
Ok, going to close this

[2019-01-13 15:05] nicksnyder commented on #1845
Yeah, this is a bigger issue that @tsenart is working on in https://github.com/sourcegraph/sourcegraph/issues/914, and in fact external services was a pre-req to solving exactly the issue you are describing (this isn’t a regression, it never worked this way).

Closing this as a duplicate of https://github.com/sourcegraph/sourcegraph/issues/914

[2019-01-13 15:05] #1845 closed

[2019-01-13 16:46] sqs commented on #1708
Checked myself off because I deployed (https://github.com/sourcegraph/deploy-sourcegraph-dot-com/commit/7e1fecea2120a18b021acf7f2a4bd1493a763a5a and then ran kubectl-apply-all.sh).

[2019-01-13 18:00] vanesa commented on #1739
Updated README.md: https://github.com/sourcegraph/sourcegraph-datadog-metrics

[2019-01-13 19:39] #1670 closed

[2019-01-13 19:49] slimsag opened #1846 "regression: missing space between "agoby""
https://sourcegraph.com/explore

![image](https://user-images.githubusercontent.com/3173176/51089887-7ed16800-1731-11e9-9ef6-a63d38000914.png)

[2019-01-13 19:49] slimsag opened #1847 "regression: discussions list should not show repository except on explore page"
@francisschmaltz your PR https://github.com/sourcegraph/sourcegraph/pull/1824 affected two locations it shouldn't have:

(1) viewing only discussions in a file, it should not show the repository (as a user I already know I am in that repository):

https://sourcegraph.com/github.com/sourcegraph/lang-go/-/blob/src/lang-go.ts#L548-549=&tab=discussions

![image](https://user-images.githubusercontent.c

[2019-01-13 19:57] slimsag opened #1848 "Why aren't we using the standard discussion list component on the explore page?"
I have reported this before on Slack and IIRC @sqs said that @francisschmaltz was looking into unifying these. Compare the two discussion list UXs:

- https://sourcegraph.com/discussions
- https://sourcegraph.com/explore

The problem: The explore page is for some reason using its entirely own component to render a list of code discussions. This has multiple issues:

- The logic and styling is non-

[2019-01-13 20:00] slimsag opened #1849 "Repository in discussions list should link to the actual repository"
In https://github.com/sourcegraph/sourcegraph/pull/1824 @francisschmaltz added the repository to the discussion lists we have, e.g. on https://sourcegraph.com/discussions

Every other sub-item in these lists is clickable or interactive in some way: you can click the author, you can hover over the timestamp and comment counts.

The repository portion of the list item should be a link that goes to t

[2019-01-13 20:08] beyang commented on #1039
Fixed

[2019-01-13 20:08] #1039 closed

[2019-01-13 20:38] #1846 closed

[2019-01-13 20:38] #1847 closed

[2019-01-13 20:38] #1849 closed

[2019-01-13 20:47] slimsag commented on #1178
Something else I forgot: when making changes to the discussions extension rendering, be careful about how it displays on sourcegraph.com; if we went with the icon we would have had two discussion-like icons in the toolbar:

![image](https://user-images.githubusercontent.com/3173176/51090480-c52ac500-1739-11e9-8011-55c4126a55d1.png)

Because inline discussions is different than showing discussions

[2019-01-13 20:51] slimsag opened #1851 "regression: what is the difference between "discussions" and the "chat bubble" icon?"
@attfarhan @francisschmaltz @sqs After https://github.com/sourcegraph/sourcegraph-code-discussions/pull/11 was merged, we now have a link saying `Discussions` and a chat bubble which shows discussions on Sourcegraph.com:

![image](https://user-images.githubusercontent.com/3173176/51090525-2eaad380-173a-11e9-9047-4d13c0174488.png)

i.e. `Inline discussions` above will become just `Discussions`.

Th

[2019-01-13 20:52] slimsag commented on #1178
Filed https://github.com/sourcegraph/sourcegraph/issues/1851

[2019-01-13 20:53] francisschmaltz commented on #1848
@sqs I'm not sure the reason for this but I'd love to unify these.

[2019-01-13 20:54] francisschmaltz commented on #1851
Can we chose to not show the "discussions" word on the Sourcegraph nav?

[2019-01-13 20:56] francisschmaltz commented on #631
@vanesa @lguychard this is still occurring for me on sourcegraph.com. Is this resolved?

[2019-01-13 21:05] slimsag commented on #1851
One opens the discussions panel, the other toggles inline display of discussions.

We may be able to not show the inline display toggle on Sourcegraph.com and instead rely on users going to the command palette for that, but I am worried about the inconsistency in terms of UX between github and sourcegraph if we do that.

[2019-01-13 21:10] slimsag commented on #1848
Just to be sure we're on the same page, 'unify' really just means: figure out how to use the existing DiscussionsList component on the explore page, which likely just involves adding a property to hide the search bar.

[2019-01-13 21:12] chrismwendt opened #1852 "Sign out automatically signs me back in (using GitHub auth after disabling basic auth)"
- Visit http://localhost:7080/search
- Disable basic auth
- Enable GitHub auth
- Sign in using GitHub
- Clicking "Sign out" reloads the page and signs me back in immediately

@beyang had explained to me that since there's only 1 auth provider (GitHub), Sourcegraph is redirecting me to the GitHub auth page, which succeeds and then redirects me back and signs me in to Sourcegraph.

One idea is for t

[2019-01-13 21:18] francisschmaltz commented on #1848
Yep! Exactly!

[2019-01-13 21:20] francisschmaltz commented on #1852
We should have a sign out page, or redurect to the auth provider site (GitHub.com) for example.

I’d much prefer a dedicated sign out page with option to sign back in.

[2019-01-13 21:21] sqs commented on #1848
There’s no good reason. I agree we should unify them too.

[2019-01-13 21:32] chrismwendt commented on #1645
I have some free cycles, so I'll look into this.

[2019-01-13 22:09] slimsag opened #1853 ":insiders images are not being published for all images (gitserver, repo-updater, etc)"
This bit me just now as I debugged what ultimately came down to a version conflict over the past few hours. We should be publishing insiders images for all of our images, not just for `sourcegraph/server` and `sourcegraph/frontend`.

[2019-01-13 22:53] slimsag opened #1854 "various services missing default port exposals"
Various services of ours are missing default port `EXPOSE`als in their Dockerfiles. In specific, `repo-updater`, `frontend`, `zoekt-webserver`, `zoekt-indexserver`, `searcher`, `query-runner`, `gitserver`, and `github-proxy`:

[code]

Additionally, it appears all of them are missing the debug port, too.

Note that port exposal is mostly for documentation purposes, and isn't related to _publishing_

[2019-01-13 22:58] beyang commented on #1372
This has been addressed by the documentation sub-headed by "Authentication proxies and firewalls" here:
* https://sourcegraph.com/extensions/sourcegraph/lang-typescript
* https://sourcegraph.com/extensions/sourcegraph/lang-go
* https://sourcegraph.com/extensions/sourcegraph/python

[2019-01-13 22:58] #1372 closed

[2019-01-13 22:59] felixfbecker commented on #1372
How can we test it? Did you manage to set it up on dogfood?

[2019-01-13 23:03] ggilmore commented on #631
@francisschmaltz I just re-deployed sourcegraph.com. Could you try again?

[2019-01-13 23:10] beyang commented on #1852
Removing this as a release-blocker

@francisschmaltz which of the following flows?

* "Sign out" clicked on Sourcegraph -> delete user session (not user visible) -> redirect to https://github.com/logout.
* "Sign out" clicked on Sourcegraph -> Sign out page indicated they signed out with link to https://github.com/logout that gives the user the option to sign out of GitHub, as well.

[2019-01-13 23:17] slimsag opened #1855 "in-app mgmt console links should link to in-app help pages"
On the site config page, the management console links should go to https://sourcegraph.com/help/admin/management_console instead of docs.sourcegraph.com

[2019-01-13 23:31] sqs commented on #1855
See https://docs.sourcegraph.com/dev/documentation#linking-to-help for the reason.

[2019-01-13 23:32] francisschmaltz commented on #1852
The second option. Sign out page with node to go to auth provider to logout of that session

[2019-01-13 23:47] slimsag opened #1856 "Repository "Check connection" fails on SSH clones, even though cloning the repo works"
1. Start Sourcegraph and configure it to clone via SSH by following our docs.
2. Add an External Service connection of type `OTHER`:
[code]

3. Visit the /site-admin/repositories page. Your repository will appear.
4. Visit the repository. Notice that it cloned fine, you can view code etc.
5. Visit the mirroring page for the repository at e.g. /github.com/slimsag/my-private-repo/-/settings/mirror
6

[2019-01-13 23:50] #1826 closed

[2019-01-13 23:55] chrismwendt opened #1857 "Links to sections in docs are ambiguous"
URL links to sections are unable to disambiguate between multiple sections with the same name (e.g. `authorization-object` under either GitHub or GitLab)

https://docs.sourcegraph.com/admin/site_config/all#authorization-object

[2019-01-13 23:58] slimsag opened #1858 "Explicit private repository mirroring does not work unless access token is provided (SSH cloning)"
It is my expectation as a user that the following configuration would allow me to clone an explicit list of my private GitHub repos, but it doesn't work (neither does it in other code host types):

![image](https://user-images.githubusercontent.com/3173176/51092369-9b7e9780-1753-11e9-8dd0-7b401d1e27fb.png)

After saving this, there is no error and the repository does not show up under `/site-admin

[2019-01-14 00:00] chrismwendt opened #1859 "Auth docs issues"
1. https://docs.sourcegraph.com/admin/site_config/all#gitlabconnection-object mentions `sudo` as a permission type on access tokens on GitLab (no such permission exists), maybe this needs to get removed because the configuration for GitLab is now done in external services, not in the site config
2. https://docs.sourcegraph.com/admin/repo/permissions#gitlab also mentions `sudo`
3. UI alignment look

[2019-01-14 00:09] ryan-blunden commented on #1718
I was able to get cross repo jump to definitions to work ([sourcegraph => codeintellify](https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/blob/client/browser/src/libs/code_intelligence/code_intelligence.tsx#L556:36)) but it took over a minute and the experience wasn't great because it seemed like it was broken every time I tried until it worked.

Even if it's not possible to speed up t

[2019-01-14 00:14] felixfbecker commented on #1718
@sqs both @beyang and @ryan-blunden complained about no feedback during initialization time, and #1572 suggests that notifications are only unwanted when on GitHub && not actively using codeintel features. I propose to reenable progress notifications again by default.

[2019-01-14 00:34] chrismwendt opened #1860 "ExploreRepositories count does not respect repository permissions"
- Image `sourcegraph/server@sha256:fc7c6d14bbfe3632ce27bca5b16c2099ea473ede4d03faf246ee22be64e87839` (Jan 13)
- Add a GitHub external service
- Add a GitHub authentication provider https://docs.sourcegraph.com/admin/repo/permissions#github
- Enable a private repository
- Create a new user (this user does not have access to the private repository)
- Visit http://localhost:7080/explore
- Notice that

[2019-01-14 00:35] chrismwendt commented on #1723
I'm running through the auth test plan. Issues found so far:

- https://github.com/sourcegraph/sourcegraph/issues/1860
- https://github.com/sourcegraph/sourcegraph/issues/1859

[2019-01-14 00:48] attfarhan commented on #1851
We have a command palette on GitHub too, so we could rely on users using that on both, right? But that may create a discoverability problem. I personally very rarely use the command palette. What do you think @francisschmaltz @slimsag?

[2019-01-14 00:49] francisschmaltz commented on #1851
I think @attfarhan is hitting at a much larger problem. The UX of the buttons vs command pallet is unclear and probably not great.

[2019-01-14 00:52] chrismwendt opened #1861 "Cannot view org private repo when authenticated via GitHub"
- Image `sourcegraph/server@sha256:fc7c6d14bbfe3632ce27bca5b16c2099ea473ede4d03faf246ee22be64e87839` (Jan 13)
- Add a GitHub external service
- Add a GitHub authentication provider https://docs.sourcegraph.com/admin/repo/permissions#github
- Enable https://github.com/sourcegraph/dev-private
- Sign in via GitHub as yourself, who has access to the repository
- Visit http://localhost:7080/github.com/

[2019-01-14 01:21] sqs commented on #1718
Yes, that sounds great.

1. Make sure they don’t show up on GitHub until the user performs a hover (it is ok but not required if they show up on Sourcegraph before the user performs a hover)
1. Add a command palette action to toggle showing the progress notification and document it

The intent is that most users won’t see this progress notification unless it is useful to them. To satisfy this inva

[2019-01-14 01:40] chrismwendt commented on #1861
It turns out that GitHub organizations can deny third party oauth apps access to private repositories https://help.github.com/articles/about-oauth-app-access-restrictions/

This is working as expected. I'm adding a note about this to https://github.com/sourcegraph/sourcegraph/issues/1859

[2019-01-14 01:47] slimsag commented on #1851
Inline code discussions is on by default, which is important for discoverability _of code discussions_, but not having an easily discovered way _to turn it off_ would be bad. This is actually why it's an inline button and named `Inline discussions` -- I didn't have a better way to solve it than this originally.

[2019-01-14 02:01] chrismwendt commented on #1860
Prior to seeing the discrepancy in the count, I get this error:

![image](https://user-images.githubusercontent.com/1387653/51093913-11d3c780-175d-11e9-9ec3-af706d73e8b2.png)

It goes away upon 1 refresh.

When I have 2 repositories that the current user does not have access to, it takes 2 refreshes to disappear.

[2019-01-14 02:15] beyang commented on #1861
Closing in favor of item in #1859

[2019-01-14 02:15] #1861 closed

[2019-01-14 02:22] chrismwendt opened #1862 "Private repository is still accessible to a collaborator on Sourcegraph until signing out and back in"
This happens on both granting and revoking access - I have to sign out and back in to get the change in permission to take effect.

- Image `sourcegraph/server@sha256:fc7c6d14bbfe3632ce27bca5b16c2099ea473ede4d03faf246ee22be64e87839` (Jan 13)
- Add a GitHub external service
- Set the ttl to 1s
- Add a GitHub authentication provider https://docs.sourcegraph.com/admin/repo/permissions#github
- Enable

[2019-01-14 02:31] beyang commented on #1860
I think the quickest solution here would be to remove the count

[2019-01-14 02:37] vanesa commented on #631
Yes, sorry @ggilmore and @francisschmaltz , waiting for review to merge.

[2019-01-14 02:53] sqs commented on #1789
I hope they merge that soon. Algolia is based in France, so they should be waking up soon.

[2019-01-14 02:56] sqs commented on #1712
Between @lguychard 	and @vanesa, this already has 2 successful test runs, so I am removing the release-blocker label.

[2019-01-14 05:53] #1839 closed

[2019-01-14 11:01] sqs opened #1864 "Mention repo permissions support on user auth provider doc page"
The page at https://docs.sourcegraph.com/admin/auth, specifically the GitHub and GitLab sections, should link to https://docs.sourcegraph.com/integration/github and https://docs.sourcegraph.com/integration/gitlab, respectively.

[2019-01-14 14:15] KattMingMing commented on #1813
The GitLab external service requires SSO to be enabled on both the sourcegraph instance and GitLab if you want to enable repository permissions, which was only necessary when we didn’t support GitLab authentication. Now when an instance supports logging in with GitLab, we can enable repo permissions for each user without requiring SSO to be responsible for mapping users on sourcegraph to users on

[2019-01-14 14:30] sqs commented on #1813
Ah, I was thinking that GitLab auth is a form of SSO, thus the confusion.

[2019-01-14 14:37] sqs commented on #655
The 3.0-beta deliverable is done; removing milestone.

[2019-01-14 14:39] sqs commented on #631
Removing release-blocker because in reality we would be OK shipping the release without this fixed (because this only occurs on Sourcegraph.com not self-hosted instances, so users will get the fix when we redeploy, which we can do at any time).

[2019-01-14 14:40] keegancsmith commented on #1781
@tsenart @slimsag @ggilmore I assigned you as testers. If you don't have enough time to run through this (should take 15 minutes), please msg me.

[2019-01-14 14:41] sqs commented on #1764
It is acceptable to ship this in 3.0 beta because it is a minor UX issue.

[2019-01-14 14:41] sqs commented on #1178
The 3.0 issues in the issue description are checked off. Moving to milestone 3.1.

[2019-01-14 14:42] reflog opened #1865 "No code intelligence for vscode references because of postinstall script"
- **Sourcegraph version:** Sourcegraph.com
- **Platform information:** Chrome, Windows

#### Steps to reproduce:

1. Open https://github.com/reflog/vscode-jsonresume/blob/master/src/validate.ts
2. Hover over "diagnosticCollection: vscode.DiagnosticCollection"

#### Expected behavior:
`diagnosticCollection` should have a type of `vscode.DiagnosticCollection`
and `vscode.DiagnosticCollection` should

[2019-01-14 14:49] #1833 closed

[2019-01-14 14:49] sqs commented on #1833
Cleaned up about 11 extensions that were WIP and unused/empty

[2019-01-14 14:49] sqs commented on #1833
Also added a mention that we will do this to the docs: 27bb9f74e36fb422a66c88889aa55889aa6ac757

[2019-01-14 15:01] lguychard opened #1866 "Improve extensions experience on pages other than code views"
Related: #721, #1841

[2019-01-14 15:31] felixfbecker commented on #1865
The problem here is that the `vscode` package doesn't actually contain the `vscode.d.ts` file: https://unpkg.com/vscode/
It just contains a script that downloads the file from GitHub, which is called from a `postinstall` script: https://github.com/reflog/vscode-jsonresume/blob/d79faeb0a39fa7ca6a9b3d7f6df8c0aa8816f5a6/package.json#L82

Unfortunately we cannot run `postinstall` scripts because that

[2019-01-14 16:06] lguychard opened #1867 "Rev dropdown doesn't close when repo dropdown opens, and vice versa"
- Navigate to a repository page
- Open the repository dropdown
- Open the revision dropdown
- Witness the repository dropdown stays open

Same behaviour if opening revision dropdown before repository dropdown.

_Expected behaviour_: rev/repo dropdown display is mutually exclusive.

Related: #1843

![image](https://user-images.githubusercontent.com/1741180/51124535-cc77ce80-181e-11e9-87af-375650fe2

[2019-01-14 16:08] sqs commented on #1867
Dupe of #1736

[2019-01-14 16:08] #1867 closed

[2019-01-14 16:08] sqs commented on #1843
For posterity and cross-linking: Dupe of #1736

[2019-01-14 16:10] #1843 closed

[2019-01-14 16:16] ryan-blunden opened #1868 "Better way to handle go to defs when something goes wrong?"
I'm not sure if the odd behavior is due to the lang extension, the extension API or both, but wanted to document the behavior in any case.

I expected some indication that something went wrong so I know not to wait or try again.

I also expected that the hover would be dismissed after some arbitrary amount of time had passed.

![screenflow](https://user-images.githubusercontent.com/133014/51009146

[2019-01-14 16:18] sqs commented on #1868
Assigning to @lguychard to determine the best contract between extensions and Sourcegraph here.

The current intended behavior is for the Go-to-definition button to show an error tooltip if it fails. This makes sense for ActionItems that are persistent buttons but not for ephemeral buttons like in the hover. So the UX needs some work too (therefore assigning @francisschmaltz too).

[2019-01-14 16:31] KattMingMing commented on #1717
I'm starting to test Go code intelligence, and here is my status:

- [x] Spin up a brand new Sourcegraph 3.0 instance `env IMAGE='sourcegraph/server:3.0.0-alpha.9' ./dev/run-server-image.sh`
- [x] Enable both a popular Go repository from [GitHub](https://github.com/search?o=desc&q=language%3Ago&s=stars&type=Repositories) AND one of its dependencies on your Sourcegraph 3.0 instance
- [x] Deploy the

[2019-01-14 16:32] nicksnyder commented on #1717
@ryan-blunden please still test this as I think it is important. I am going to remove release-blocking since we have 2 independent testers who ran through this.

[2019-01-14 16:32] #1717 closed

[2019-01-14 17:00] attfarhan commented on #1851
@slimsag I noticed the discussions panel is not part of the extension. Do you have an idea of how much time it would take to build the discussions panel into the extension using the [`createPanelView`](https://unpkg.com/sourcegraph@20.1.0/dist/docs/modules/_sourcegraph_.app.html#createpanelview) API? It seems like it will take some work since it uses `FilteredConnection`, updates history in the re

[2019-01-14 17:16] #947 closed

[2019-01-14 17:35] lguychard opened #1871 "Use comlink instead of jsonrpc layer for host<->extension communication"
We currently use our proprietary jsonrpc implementation for ext<->host communication.

The code is complex, and much boilerplate is needed when adding new features to the extension API (eg. progress).

We should replace the jsonrpc layer with [comlink](https://github.com/GoogleChromeLabs/comlink). This would allow us to expose the extension API inside the extension host worker with zero added boil

[2019-01-14 17:44] #1860 closed

[2019-01-14 17:58] nicksnyder commented on #1712
Additional testing on this is not a priority for 3.0-beta, so moving to 3.0

[2019-01-14 18:00] dadlerj opened #1873 "Extension pages don't auto-generate anchors in markdown"
E.g. try clicking on the "Usage instructions" link on https://sourcegraph.com/extensions/sourcegraph/basic-code-intel and note that it doesn't take you anywhere

[2019-01-14 18:03] nicksnyder commented on #1719
Chris is satisfied with the amount of testing that has been done.

[2019-01-14 18:03] #1719 closed

[2019-01-14 18:04] francisschmaltz commented on #1122
Conversation moved #1848. Design was unified in https://github.com/sourcegraph/sourcegraph/pull/1824

[2019-01-14 18:04] #1122 closed

[2019-01-14 18:05] nicksnyder commented on #1723
Moved to 3.0 milestone. This feature will be explicitly marked as beta in 3.0-beta and we will continue testing it as part of 3.0 release.

[2019-01-14 18:07] dadlerj opened #1874 "Add UI option to enable an extension for all users"
Reading through https://sourcegraph.com/extensions/sourcegraph/basic-code-intel#usage, it struck me that there was no toggle to enable this for all users (even as an admin on my own instance).

There's also no explanation for HOW to enable it for all users/the whole instance in the readme or the UI.

If a user is an admin, there should be a 2nd toggle beneath the first one for whether to enable fo

[2019-01-14 18:09] felixfbecker commented on #1718
Sufficiently tested.

[2019-01-14 18:09] #1718 closed

[2019-01-14 18:10] nicksnyder commented on #1816
Migration steps are not a blocker for 3.0-beta, so moving to 3.0

[2019-01-14 18:10] nicksnyder commented on #1815
Migration steps are not a blocker for 3.0-beta so moving to 3.0

[2019-01-14 19:11] beyang commented on #1372
Not on dogfood, but with a server instance

[2019-01-14 19:12] tsenart commented on #1853
We should get rid of godockerize first: #1129

[2019-01-14 19:21] beyang opened #1875 "Dev server fails on first run with new database"
This affects the Sourcegraph dev environment

1. Run `dev/drop-entire-local-database.sh`.
1. Run `enterprise/dev/start.sh`
1. Observe the following error, which prevents successful startup:
[code]
1. Subsequent runs of `dev/start.sh` will succeed.

This is likely a race condition due to the critical site config (specifically the `auth.providers` field) not being set before [this line](https://sour

[2019-01-14 19:52] #1784 closed

[2019-01-14 19:52] #1645 closed

[2019-01-14 20:00] beyang commented on #1720
Why do we have different styling on docs.sourcegraph.com vs. /help?

[2019-01-14 20:02] keegancsmith commented on #1816
@ggilmore is currently doing this.

[2019-01-14 20:03] #1815 closed

[2019-01-14 20:13] francisschmaltz commented on #1720
@sqs @beyang lets dive into this for 3.1. But we should have unified styles across both docs and /help

[2019-01-14 20:46] francisschmaltz commented on #1781
Should we use suggest openssl instead of mkcert @nicksnyder ?

[2019-01-14 20:55] slimsag opened #1878 "semi-proposal: Is there a better way users could provide SSH/HTTPS/Git configuration?"
Note: Once I feel a bit more confident about this or have more concrete thoughts, I will flesh out a real proposal on this following our new proposal process. Until then, this exists as a brain dump merely for gathering some small feedback and to remind myself of what I am thinking of exactly.

Sourcegraph occasionally requires SSH/HTTPS/Git configuration. See:

- https://docs.sourcegraph.com/admi

[2019-01-14 21:02] JoshuaKGoldberg opened #1880 "Feature request: go to file when given direct GitHub URL"
#### Feature request description

If a user searches an exact match for a github.com URL in sourcegraph.com/search, can that go directly to the the equivalent file page?

Given https://sourcegraph.com/search?q=https://github.com/coreybutler/nvm-windows/blob/master/src/nvm.go, I would expect to be redirected to https://sourcegraph.com/github.com/coreybutler/nvm-windows/-/blob/src/nvm.go.

#### Is y

[2019-01-14 22:18] nicksnyder commented on #1781
This is Keegan's test plan so I don't have a preference one way or another. Do you have a reason to recommend one over the other? The recommendation here is just for testing (not for customer consumption), so I am not sure it matters that much anyway.

[2019-01-14 22:39] nicksnyder opened #1882 "Delete old sourcegraph.com kubernetes cluster"

[2019-01-14 22:42] chrismwendt commented on #1781
I'm running through this test plan. Issues found:

- Typo in port number in docs (fixed in https://github.com/sourcegraph/sourcegraph/commit/c54c2eddc8d2ecbacebf8754b5c97915cdd3f8bd)
- Wasn't sure where to put `server { ... }` in my nginx config, ended up guessing correctly the first time (goes next to the existing `server { ... }` section)

[2019-01-14 22:58] slimsag opened #1884 "Ensure containers (specifically gitserver) have consistent sourcegraph uid/gid by allocating specific ones"
When using gitserver as a non-root user, you often need to provide .ssh credentials in `/home/sourcegraph/.ssh` -- but if your host volume mounted is owned by root, the `sourcegraph` user in the container cannot access it. The solution is to change the owner to the UID/GID of the `sourcegraph` user by running this on the host:

[code]

But this means relying on stable UID/GIDs in our container. Cu

[2019-01-14 23:09] ryan-blunden opened #1885 "Add docs search for the help section and remove code search"
I think it would be great if we could add docs search to the help section while also removing the code search component from the help section.

It was confusing to me when using the help site to have a search bar at the top of the page that wasn't for documentation. First couple of times I needed to search, I typed into the Code search element without thinking, as I presumed the search field was f

[2019-01-14 23:31] slimsag opened #1886 ""nginx: [alert] could not open error log file: open() "./logs/error.log" failed" on Server instance"
When I run the command from our docs to run Sourcegraph Server, I see at the top of the output logs:

[code]

Full logs: https://gist.github.com/slimsag/bfc295bac77d136208be33883813b1f8

[2019-01-14 23:31] slimsag commented on #1781
https://github.com/sourcegraph/sourcegraph/issues/1886

[2019-01-14 23:32] sqs commented on #1789
I commented and just emailed them again.

[2019-01-14 23:32] chrismwendt commented on #1886
Other people say this can be ignored https://stackoverflow.com/a/39124579/2061958

[2019-01-14 23:35] #1862 closed

[2019-01-14 23:47] slimsag commented on #1886
It looks like an error, so at the very least we should suppress it. Otherwise I would complain about it via support.

[2019-01-14 23:50] francisschmaltz commented on #1781
I thought this might go into docs where it might make sense to use openssl which is platform agnostic verses brew.

[2019-01-14 23:53] francisschmaltz commented on #1874
@lguychard can we hit 3.0 with this?

[2019-01-14 23:57] francisschmaltz commented on #1836
@felixfbecker and I discussed over a (long) video chat. Updated description with goals.

[2019-01-14 23:57] sqs commented on #1874
No, 3.0 will not add new features beyond 3.0 beta. This is important to ensure 3.0 is stable. I would love to add this feature, but it's not worth the risk to stability of 3.0.

I did document adding it to global settings at https://docs.sourcegraph.com/extensions#for-organizations (enabling an extension for all members of an org was already documented here). It is also documented on the extension

[2019-01-14 23:58] slimsag opened #1887 "migrate transaction failed err="blank input is invalid jsonc""
1. Run the latest insiders image using the instructions from docs.sourcegraph.com
2. Observe error in log output during startup:

[code]

This appears to be an issue caused by external_services migration, possibly a regression due to @chrismwendt related change on how we interpret empty JSONC strings but I am not positive about this.

https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/bl

[2019-01-14 23:59] nicksnyder opened #1888 "Can't run latest insiders server"
When spinning up a fresh insiders image (I was testing on dogfood), I saw this error when loading the site:

"Access to Sourcegraph is forbidden because no authentication provider is set in site configuration."

This is unexpected because built-in auth should be on by default.

There is a suspicious error:

[code]

Full Log

[code]

[2019-01-14 23:59] chrismwendt commented on #1887
This is definitely caused by PR https://github.com/sourcegraph/sourcegraph/pull/1879

[2019-01-15 00:00] #1739 closed

[2019-01-15 00:00] sqs commented on #1739
This is done

[2019-01-15 00:02] sqs commented on #1174
@lguychard 	I saw you moved this from 3.1 to 3.0. I am assuming that was a mistake, and I moved it back to 3.1. I don't know if this will be a priority for 3.1, but we can triage it together soon and will have more feedback from users to help us decide.

[2019-01-15 00:03] slimsag commented on #1887
I think your PR may also be causing Nick's issue #1888 -- it may have changed how this code operates: https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/blob/pkg/conf/computed.go#L43-46

[2019-01-15 00:05] nicksnyder commented on #1888
I fixed the "migrate transaction failed" error, which was a red herring. Still need to figure out the auth issue.

[2019-01-15 00:06] nicksnyder commented on #1887
https://github.com/sourcegraph/sourcegraph/commit/5b7fbdc7dc85bf38fc25373a8b60f0cb35df3850

[2019-01-15 00:06] nicksnyder commented on #1887
That is a workaround, I don't know if there is a more fundamental issue to fix

[2019-01-15 00:25] slimsag opened #1890 "nginx errors spewed (at random) running latest insiders?"
Ensure you are running clean (`rm -rf ~/.sourcegraph`), without any existing nginx configuration.

Run the latest insiders server image, according to docs.sourcegraph.com instructions. See error logs in console:

[code]

The actual app seems to work okay though? Why do we get these errors?

[2019-01-15 00:59] nicksnyder commented on #1887
This doesn't appear to be the case. I tested after Chris reverted and was still able to reproduce the auth issue.

I am going to close this since reverting resolved this issue.

[2019-01-15 00:59] #1887 closed

[2019-01-15 01:02] ggilmore opened #1892 "[deploy-sourcegraph] ingress-nginx: document that you can pull the controller's logs to troubleshoot"
_See https://github.com/sourcegraph/deploy-sourcegraph_

When following https://github.com/sourcegraph/deploy-sourcegraph/blob/master/docs/configure.md#configure-tlsssl, if there is an issue with your provided cert / key pair, the only thing that obviously visiblyy wrong is the following when you visit your Sourcegraph instance:

![screen shot 2019-01-14 at 4 53 58 pm](https://user-images.githubus

[2019-01-15 01:07] ggilmore opened #1893 "[deploy-sourcegraph] document how to modify nginx's settings"
_See https://github.com/sourcegraph/deploy-sourcegraph_

When following the hsts step of https://github.com/sourcegraph/sourcegraph/issues/1689, there was nothing telling me how to change nginx's configuration in https://github.com/sourcegraph/deploy-sourcegraph/blob/master/docs/configure.md.

https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/configmap/ contains all the opt

[2019-01-15 01:09] ggilmore commented on #1781
I was finally able to complete this for deploy-sourcegraph, and I filled the following issues:

https://github.com/sourcegraph/sourcegraph/issues/1892
https://github.com/sourcegraph/sourcegraph/issues/1893

Side note: after a couple hours of banging my head against a wall, I realized that part of https://kubernetes.io/docs/concepts/services-networking/ingress/ is incorrect. I'll figure out a way t

[2019-01-15 01:10] nicksnyder commented on #1888
This is weird. I can't reproduce this on a fresh docker image locally, but can reproduce this on k8s dogfood cluster (with a fresh db). I haven't figured out what is different yet.

[2019-01-15 01:10] slimsag commented on #1888
I cannot reproduce the auth error on latest insiders build. Can you, or have you only seen this on dogfood?

Is it possible dogfood's pvc for config contains bad critical/site config files (missing auth.providers)? If so, Sourcegraph would try to use that on startup for migration instead of applying the regular defaults.

[2019-01-15 01:12] nicksnyder commented on #1888
I have only seen this on dogfood, but it is still concerning because I can't explain what the difference is. As far as I can tell, I am wiping the PVC/PV between deployments (but maybe I am not).

[2019-01-15 01:39] #1888 closed

[2019-01-15 01:40] chrismwendt commented on #1888
How did https://github.com/sourcegraph/infrastructure/commit/254534bba9a785912b8a3aa6da5c5f707beb3b99 fix this?

[2019-01-15 01:43] nicksnyder commented on #1888
If there exist config settings from env, then default config is not applied. These settings should be configured in the config instead of by env variable

https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/blob/pkg/conf/computed.go#L53:2-56:4

[2019-01-15 01:44] slimsag commented on #1888
When initializing Sourcegraph, we expect you are going down one of two paths:

1. A new instance, in which case we provide the critical config defaults.
2. An old instance, detected by either providing legacy env vars (the lightstep ones) or by providing a legacy `SOURCEGRAPH_CONFIG_FILE`. In which case, we do not apply the default config and instead use the configuration from those two sources.

[2019-01-15 01:50] nicksnyder opened #1894 "LIGHTSTEP_INCLUDE_SENSITIVE doesn't have corresponding config variable"
It should be possible to configure this via site config. Then it can be deleted here:
https://github.com/sourcegraph/infrastructure/commit/a4c557902ea3fd30625ed3b44aea64bda9a991f2

[2019-01-15 02:02] slimsag commented on #1781
It works fine, but I ran into a few issues / errors / warnings. Filed:

- #1886
- https://github.com/sourcegraph/sourcegraph/issues/1890
- https://github.com/sourcegraph/sourcegraph/issues/1886

[2019-01-15 02:11] nicksnyder commented on #1404
This is merged in master and works for new deployments (tested on dogfood). The remaining work is documentation and migrating sourcegraph.com, which is for 3.0

[2019-01-15 02:17] nicksnyder commented on #1892
Since this is a docs change, it is not a blocker for tagging 3.0-beta (but is still important to do by 3.0).

[2019-01-15 02:40] ryan-blunden opened #1895 "Reload server action needs a longer timeout"
- **Sourcegraph version:** 3.0 beta

Seems it needs a longer timeout?

![screenflow](https://user-images.githubusercontent.com/133014/51155235-b7ee0300-182b-11e9-9b9c-0a83b139787a.gif)

[2019-01-15 02:43] ryan-blunden opened #1896 "Restart server button unresponsive if request times out"
- **Sourcegraph version:** 3.0 beta

The Restart server button gets repeatedly pressed after a timeout but nothing happens. Only way to
fix it is to refresh.

![screenflow](https://user-images.githubusercontent.com/133014/51155346-0ac7ba80-182c-11e9-9a6b-0660cc059a3e.gif)

[2019-01-15 02:52] nicksnyder opened #1898 "dev/ci/yarn-test.sh shared buildkite step sometimes hangs"
I saw this hang up to 30 minutes. Retrying seemed to fix it.

Example: https://buildkite.com/sourcegraph/sourcegraph/builds/26706#ed7c49d6-58da-4826-9c5f-1df934a1c16b

[2019-01-15 02:56] nicksnyder commented on #1898
Looks like the message `Error sideloading extension: baz` always happens and is a red herring. This build step does seem to hang though.

[2019-01-15 03:00] nicksnyder commented on #1858
Need to triage this to see if it is a regression from 2.13.5 or not.

[2019-01-15 03:00] nicksnyder commented on #1856
Need to triage this to see if it is a regression from 2.13.5 or not.

[2019-01-15 03:36] #1842 closed

[2019-01-15 04:46] dadlerj opened #1899 "Changelog link is broken on /start"
The changelog link on the homepage should go to https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/blob/CHANGELOG.md
 after https://sourcegraph.com/github.com/sourcegraph/about/-/commit/179e43b37b87a192902a564249a186aee33bf9ee

[2019-01-15 04:52] #1899 closed

[2019-01-15 06:15] #1673 closed

[2019-01-15 07:53] keegancsmith opened #1901 "nginx: Use include directives in config to allow easier upgrades to config"
We currently generate the nginx.conf for users, but then it is controlled by users. If we want to change a setting in nginx.conf (such as changing a proxy timeout), we then have to rely on user instructions to update the config.

Instead we can hook into the config via well place include directives.

[2019-01-15 08:22] keegancsmith opened #1902 "[deploy-sourcegraph] Add ready check to sourcegraph frontend"
We had downtime this week on sourcegraph.com since we only had liveness checks on the frontend. The liveness checks failed, but due to the config it would only kill the container after a while. Before that time the container would be marked as ready and the rollout would continue leading to the bad deployments succeeding.

[2019-01-15 11:57] sqs commented on #1789
I will temporarily replace this with a custom Google site search widget or link until  they merge https://github.com/algolia/docsearch-configs/pull/699.

[2019-01-15 12:18] sqs opened #1906 "Add tags and categories to extensions"
- Datadog, LightStep, and Codecov need the "External services" category
- Etc.

So that users don't see the "External services" category on https://sourcegraph.com/extensions is empty.

[2019-01-15 13:40] keegancsmith commented on #1890
I'm not sure what this is, but I guess it is we are hardcoding localhost, instead of 127.0.0.1.

[2019-01-15 13:42] sqs opened #1908 "VS Code uses VS Code's extension schema in Sourcegraph ext package.json files"
When editing a package.json file in VS Code that is for a Sourcegraph extension, VS Code shows the JSON Schema (hovers, completions, validations) for VS Code extensions, not Sourcegraph extensions.

They are slightly different: https://docs.sourcegraph.com/extensions/authoring/manifest#fields vs https://code.visualstudio.com/api/references/extension-manifest:

- Categories are sentence case in Sou

[2019-01-15 13:45] felixfbecker commented on #1908
Can we make the extension generator add a `$schema` field that points to our schema (which should reference the URL for the plain npm package.json schema)?

[2019-01-15 13:47] sqs commented on #1908
[It does](https://sourcegraph.com/github.com/sourcegraph/create-extension@47f5c09f7c24c19a0ca0c4aa5454798a5b6073d9/-/blob/src/cli.ts#L164), but I believe that VS Code unions the schemas. There may not be a way to tell VS Code "do not use the builtin schema for package.json, *only* use this one".

[2019-01-15 13:47] #1906 closed

[2019-01-15 14:00] sqs opened #1910 "Log spam when starting sourcegraph/server"
When you start a new sourcegraph/server container from https://docs.sourcegraph.com/#quickstart, there are a lot of log messages that make it seem like there is an error (or that add noise):

- [x] #1890 (already filed separately) `nginx: [alert] could not open error log file: open() "./logs/error.log" failed (2: No such file or directory)`
- [x] @keegancsmith `zoekt-indexserver | 2019/01/15 13:51

[2019-01-15 15:16] lguychard commented on #1387
This was due to having both basic-code-intel and lang-typescript enabled.

This is fixed now, with the following behaviour: no Go to definition button is shown if no definition is found or definition is still loading.

![image](https://user-images.githubusercontent.com/1741180/51189700-dbbf5080-18e0-11e9-8275-207b2903bc54.png)

[2019-01-15 15:16] #1387 closed

[2019-01-15 15:19] lguychard commented on #492
This is now fixed: only "actionable" buttons are shown.

![image](https://user-images.githubusercontent.com/1741180/51189890-4ec8c700-18e1-11e9-9fdc-0e7261c9b01a.png)

[2019-01-15 15:19] #492 closed

[2019-01-15 17:04] tsenart commented on #1910
This one is not an error. Do you think it's confusing for users?

[2019-01-15 18:00] lguychard commented on #719
This doesn't seem to happen anymore. Eg., running the following extension along with lang-typescript:

[code]

I can still see references from other extensions:

![image](https://user-images.githubusercontent.com/1741180/51199710-c99cdc80-18f7-11e9-8b31-28f2ff89c47e.png)

[2019-01-15 18:00] #719 closed

[2019-01-15 18:26] ryan-blunden opened #1912 "Help docs home page displays docker run command on a single line"
![screen shot 2019-01-15 at 9 40 50 am](https://user-images.githubusercontent.com/133014/51200818-66875780-18af-11e9-8728-59bd594ca84b.png)

[2019-01-15 18:46] slimsag opened #1913 "frontend deployments missing CACHE_DIR"
The frontend service now writes to `/tmp/vfsutil-archive-cache` as part of the raw file API and Go symbols URL serving: https://sourcegraph.com/search?q=repo:%5Egithub%5C.com/sourcegraph/sourcegraph%24%408f35577+vfsutil%5C

`/tmp` can fill up causing the host node to die. We need to attach persistent SSD disks to resolve this.

1. Copy this CACHE_DIR code from the old xlang-go to frontend https://

[2019-01-15 18:52] ggilmore opened #1914 "dev/launch.sh breaks if you haven't run "yarn" yet"
https://sourcegraph.slack.com/archives/C07KZF47K/p1547578053302000?thread_ts=1547577858.301500&cid=C07KZF47K

[2019-01-15 19:34] ggilmore commented on #1682
@keegancsmith Has this been done? I see both an `sourcegraph-frontend` ingress and a `sourcegraph-frontend-loadbalancer-https` in the dot-com cluster.

[2019-01-15 21:14] #1638 closed

[2019-01-15 21:24] beyang commented on #1852
Closing as a dupe of https://github.com/sourcegraph/sourcegraph/issues/1834

[2019-01-15 21:24] #1852 closed

[2019-01-15 21:25] beyang commented on #1834
Proposed changes:
* "Sign out" clicked on Sourcegraph -> Sign out page indicated they signed out with link to https://github.com/logout that gives the user the option to sign out of GitHub, as well.
* Remove automatic redirect when the fetcher is a bot (so that the preview image is still Sourcegraph)

[2019-01-15 22:16] #1882 closed

[2019-01-15 22:31] chrismwendt commented on #945
[3.0-beta](https://about.sourcegraph.com/blog/sourcegraph-3.0-beta-is-now-available) is now available! Let us know if you run into any problems. We're keen on improving any rough spots in the UX for first-time users.

[2019-01-15 22:32] #945 closed

[2019-01-15 23:18] slimsag opened #1917 "SSH cloning in sourcegraph/server (not cluster) is entirely broken"
Looking into a separate SSH cloning issue, I realized that SSH cloning in sourcegraph/server is entirely broken. All clones fail with:

[code]

It is easy to reproduce:

[code]

And easy to prove it doesn't affect cluster deployments (why?)

[code]

[2019-01-16 00:05] #1917 closed

[2019-01-16 00:21] ggilmore commented on #1722
Kube backup was added in https://github.com/sourcegraph/deploy-sourcegraph-dot-com/commit/2902d1652912148ddd604dabb83652166dcfe3d1

[2019-01-16 00:21] #1722 closed

[2019-01-16 00:48] nicksnyder opened #1919 "Fix site config validation errors on Sourcegraph.com"
![image](https://user-images.githubusercontent.com/754768/51219351-62762c80-18e5-11e9-844f-ddf0623167c1.png)

[2019-01-16 01:47] ryan-blunden opened #1921 "Deleting a repository from external services should take you back once deleted"
![screenflow](https://user-images.githubusercontent.com/133014/51221231-85a4da00-18ed-11e9-9f99-25dd7e3e4fb3.gif)

[2019-01-16 04:18] nicksnyder opened #1922 "dot-com and tooling k8s clusters are overprovisioned"
![image](https://user-images.githubusercontent.com/754768/51226155-fa364380-1902-11e9-973a-456f64f78bca.png)

Up to you if you want to manage this capacity manually or enable autoscaling on these clusters. Should we have autoscaling on all our clusters?If so, how do we decide how big nodes are?  Are there any downsides to autoscaling?

In any case, you should document your decisions somewhere.

[2019-01-16 04:42] nicksnyder commented on #1223
this has been removed

[2019-01-16 04:42] #1223 closed

[2019-01-16 04:43] nicksnyder commented on #1015
Closing this discussion and cc-ing @tsenart for context on repo-updater/gitserver interactions.

[2019-01-16 04:43] #1015 closed

[2019-01-16 04:45] nicksnyder commented on #788
code intel status indicator is gone

[2019-01-16 04:45] #788 closed

[2019-01-16 04:49] nicksnyder commented on #1756
@attfarhan can you work with Francis to come up with a solution to this problem and implement it consistently across our forms (if possible, make it easy to do the right thing for future forms)

[2019-01-16 05:41] #1716 closed

[2019-01-16 07:36] keegancsmith commented on #1682
This has been done. However,  I still need to cleanup the old LB so will leave this open. This now also opens the possibility of using the ingress for other things like extensions and the gddo-proxy. But lets leave that for another time.

[2019-01-16 07:42] keegancsmith commented on #1638
@ggilmore what do you think about that point?

[2019-01-16 07:50] keegancsmith commented on #1913
We discussed this more on slack. https://sourcegraph.slack.com/archives/C08JA8Q1H/p1547575543064700

Alternatively:
- A service for archives
- gitserver adds direct support for archives

[2019-01-16 07:51] keegancsmith commented on #1922
We should consult our grafana dashboards for resource usages. We could share those for other installations.

[2019-01-16 07:55] keegancsmith commented on #1914
https://github.com/sourcegraph/sourcegraph/pull/1496#issuecomment-452663654

Alternatively we can revert that PR and do "go run" where minversion checks that output of `runtime.Version()`

[2019-01-16 09:16] sqs commented on #1281
After more usage myself and discussion with @lguychard, I don't consider this a problem, so I am closing it to reflect the fact that we do not plan to prioritize this and consider it an issue. We can have discussion on the closed issue if anyone disagrees and wants to argue for reopening it.

[2019-01-16 09:16] #1281 closed

[2019-01-16 09:19] sqs commented on #1228
We haven't seen this occur recently, and much has changed around it that could have fixed this. Please reopen if you still encounter this.

[2019-01-16 09:40] felixfbecker commented on #1228
I still see this sometimes in the console

[2019-01-16 10:02] #1764 closed

[2019-01-16 10:08] keegancsmith opened #1925 "Remove unused IP addresses"
Removed unused static IP addresses: https://console.cloud.google.com/networking/addresses/list?project=sourcegraph-dev&authuser=1&organizationId=1006954638239

We currently have 13 unused IP addresses. I would just go delete them, but filing this issue for visibility. cc @sqs @beyang just want to confirm if we need to hold onto any of these ip addresses.

[2019-01-16 10:09] keegancsmith commented on #1682
LB removed and removed from create cluster script in https://github.com/sourcegraph/deploy-sourcegraph-dot-com/commit/b411b0c07b048284324575603469680690f05e4d

[2019-01-16 10:09] #1682 closed

[2019-01-16 10:25] tsenart opened #1926 "Unify /healthz and /ping endpoints across all services"
As noticed by @slimsag in https://github.com/sourcegraph/sourcegraph/pull/1911#discussion_r248022449, we have what it seems to be two different kinds of liveness endpoints across our services.

- [`/healthz`](https://sourcegraph.com/search?q=repo:%5Egithub%5C.com/sourcegraph/sourcegraph%24+healthz)
- [`/ping`](https://sourcegraph.com/search?q=%5C/ping+repo:sourcegraph/sourcegraph)

We should unify

[2019-01-16 10:32] keegancsmith commented on #1919
Done. @slimsag its somewhat confusing that its complaining about this config, but it doesn't indicate we can only edit this in the management console.

[2019-01-16 10:32] #1919 closed

[2019-01-16 10:32] keegancsmith commented on #1816
I believe this is done? @ggilmore?

[2019-01-16 10:42] #1901 closed

[2019-01-16 11:53] #1886 closed

[2019-01-16 14:16] theonlydoo opened #1928 "[Feature request] Override DNS in docker"
#### Expected behavior:
- ability to override container's DNS

#### Actual behavior:
[code]

[2019-01-16 17:03] #1928 closed

[2019-01-16 18:41] slimsag commented on #1913
@keegancsmith want to take over this?

[2019-01-16 19:40] skaapgif commented on #723
Hi @sqs I'm keen to tackle this. I'm thinking of using https://github.com/auth0/repo-supervisor. It's a JavaScript alternative that also detects secrets based on high entropy strings and includes a list of filters for common false positives (like CSS class names). Porting the code from `repo-supervisor` would remove the need for a server-side component to the extension.

[2019-01-16 20:20] beyang commented on #1925
Sounds good, delete away

[2019-01-16 21:11] ggilmore commented on #1922
I don't think [GKE's autoscaler](https://cloud.google.com/kubernetes-engine/docs/concepts/cluster-autoscaler) is that useful in this situation.

- The autoscaler only takes resource _requests_, not limits, into account - so it won't help us with sudden bursts in workloads.
- sourcegraph.com's deployment configuration isn't dynamic like our "ci" cluster. Our number of replicas for a given deploymen

[2019-01-16 21:12] chrismwendt commented on #2
Code intelligence on Sourcegraph is now provided through [Sourcegraph extensions](https://docs.sourcegraph.com/extensions). We've built extensions for [Go](https://sourcegraph.com/extensions/sourcegraph/lang-go), [TypeScript](https://sourcegraph.com/extensions/sourcegraph/lang-typescript), and [Python](https://sourcegraph.com/extensions/sourcegraph/lang-python).

Anyone can create a new Sourcegrap

[2019-01-16 21:18] #1892 closed

[2019-01-16 21:51] ZacSweers commented on #2
@chrismwendt can extensions provide syntax highlighting? Looked at the linked docs page + the examples, and I don’t see any of them controlling the grammar for highlighting.

[2019-01-16 21:53] chrismwendt commented on #2
No, syntax highlighting is provided by https://github.com/sourcegraph/syntect_server cc @slimsag Could Kotlin be added?

[2019-01-16 21:54] ZacSweers commented on #2
Looks simple enough if it’s just proxying to codemirror, I’ll take a shot at a PR

[2019-01-16 22:03] vicapow commented on #982
Any update on this one? With some guidance, I may be able to jump in.

[2019-01-16 22:05] chrismwendt commented on #982
Sweet, code intelligence on Sourcegraph is now provided through [Sourcegraph extensions](https://docs.sourcegraph.com/extensions). We've built extensions for [Go](https://sourcegraph.com/extensions/sourcegraph/lang-go), [TypeScript](https://sourcegraph.com/extensions/sourcegraph/lang-typescript), and [Python](https://sourcegraph.com/extensions/sourcegraph/lang-python).

Anyone can create a new Sou

[2019-01-16 22:10] chrismwendt commented on #1716
Thinking out loud here: #1904 fixes this, but it seems like there's some other problem causing this. Multiple buttons appear upon initial page load, and increase in count each time you click "Enable Sourcegraph on this domain", which makes me think this is related to permissions, though I'm not sure how.

[2019-01-16 22:13] chrismwendt opened #1929 "The Python language server is not deployed in the dot-com k8s cluster"
The Python language server is currently accessible at wss://python.langserver.org

Now that ingress-nginx is available on dot-com https://github.com/sourcegraph/sourcegraph/issues/1682#issuecomment-454680890 I plan to move it to wss://python.sourcegraph.com and deploy it in our dot-com k8s cluster alongside the other language servers.

[2019-01-16 22:37] ggilmore commented on #1816
I tested this from scratch, but I did not test the `2.x -> 3.0` migration path yet.

[2019-01-16 22:43] ggilmore commented on #1772
The other issues that I am working on the milestone are low-hanging fruit compared to this one. I think it's the next-most-important thing for me to tackle, but I'm not sure that it'll land in 3.0. This issue is complex enough that it warrants its own proposal.

[2019-01-16 22:50] nicksnyder commented on #1922
Great, thanks for cleaning this up!

Before closing this issue it would be nice for you to document the current configuration of our dot-com cluster and the decisions that you made (not here in an issue, but somewhere in a markdown file that a new eng joining our team could discover). For example, documentation should provide answers to questions like:

1. If I am an engineer who wants to deploy a

[2019-01-16 22:55] nicksnyder opened #1930 "Unused disks in gcloud"
Are these safe to delete?

https://console.cloud.google.com/compute/disks?organizationId=1006954638239&project=sourcegraph-dev&diskssize=50&disksquery=%255B%257B_22k_22_3A_22userNames_22_2C_22t_22_3A10_2C_22v_22_3A_22_5C_22_5C_5C_5C_22_5C_5C_5C_22_5C_22_22%257D%255D

[2019-01-16 23:02] nicksnyder commented on #723
@skaapgif That seems reasonable to me; go for it!

[2019-01-16 23:28] milind-shakya-sp opened #1931 "Hover not showing find definition on github"
- **Sourcegraph version:**  2.13.5
- **Platform information:**  mac osx high sierra

#### Steps to reproduce:

1. run docker containers
2. install chrome extension

#### Expected behavior:

Hover should show, Find definition, find references, find implementations

#### Actual behavior:
Hover shows only `references`
<img width="693" alt="screen shot 2019-01-16 at 6 24 19 pm" src="https://user-image

[2019-01-17 00:07] ZacSweers commented on #2
It looks like the sublime folks' recommendation is to basically take a public kotlin package, such as https://github.com/vkostyukov/kotlin-sublime-package, and then a PR to maybe add that to https://github.com/slimsag/Packages (which appears to be the source for https://github.com/sourcegraph/syntect_server ? it's not entirely obvious how this is all wired)

[2019-01-17 00:43] ryan-blunden opened #1932 "Improve the on-boarding experience for admins using 3.0"
Setting up a Sourcegraph instance with repositories synced and basic code intel enabled globally should be simple and easy.

Towards this goal, a series of screencasts will be created to demonstrate how to setup a Sourcegraph instance, ready for real world use.

## Constraints

 - Instance configured to have external URL, use GitHub with enabled repositories and basic code-intel extension enabled

[2019-01-17 01:12] slimsag opened #1933 "Sourcegraph.com should have some overhead / growing space + use more (less beefy) nodes"
1. Maybe we can add some more overhead to our cluster, e.g. by adding 1 extra node in our current setup. This would give us a little extra CPU/RAM to make use of and hopefully Kubernetes would make use of this by spreading out our services a little bit more evenly thus allowing for our services to go above their `requests` a little.

2. We should use more (but less beefy) nodes. i.e., instead of 1

[2019-01-17 01:31] ryan-blunden opened #1934 "Management console URL should link to the management console not the doc page"
It's really hard as a first time user to navigate to the management console. The below closely resembles the first time I tried to access it.

![screenflow](https://user-images.githubusercontent.com/133014/51289259-51e0b780-19b4-11e9-81ce-c419d319db49.gif)

I would propose that we link to what the management console URL is likely to be (host:2633) and add a (?) help element, the contents of which

[2019-01-17 01:37] slimsag commented on #1934
Agreed. We talked about this earlier on a call and I forgot to file this, thanks! Notes about implementation:

- I am not sure if we can detect if the management console exists at `https://same-url:2633` due to the invalid certificate that must be accepted by the user. I need to look into this.
- If we can detect that, we can either link to the docs OR that URL depending on whether or not it is re

[2019-01-17 02:13] ggilmore commented on #1933
Update:

The current hypothesis for what happened is that GKE's autoscaler will **not move pods that use local node storage**. Many of our deployments (lang-go, typescript, searcher, gitserver, etc.) use local disks for caching.

So, the cluster  put a lot of pods on node 1 and it filled up. Then, the autoscaler  added a new node, but then it couldn't move pods off node 1 because of the local stor

[2019-01-17 02:17] nicksnyder commented on #1933
Great analysis and plan for resolving this issue!

It is ok to overprovision from our current state. I believe our current setup is using roughly 50% of what we were using before, which is a great improvement. We also have a committed use discount until September which was based on our old baseline, so in the short term over provisioning is "free" (aka pre-paid).

[2019-01-17 02:41] ryan-blunden opened #1935 "Close button on hover needs padding"
![screenflow](https://user-images.githubusercontent.com/133014/51292046-45f9f300-19be-11e9-9334-667525f3e1ef.gif)

[2019-01-17 02:54] ryan-blunden commented on #1934
Points one and two I'd say are optimal but not required for 3.0. Always linking to the management console for 3.0 with a help link to the docs would I think, produce a better user experience and would be a quick temporary solution.

[2019-01-17 03:08] sqs opened #1936 "Code lens for reference count"
On Twitter at https://twitter.com/kzu/status/1085627963800997894, @kzu requested code lens for references instead of the current UI (hover > click "Find references") because it is more discoverable.

![image](https://user-images.githubusercontent.com/1976/51292980-5d42db80-19d2-11e9-84ef-abb5bb49c336.png)

One other nice thing about code lens is that they make the top-level defns in a file more pr

[2019-01-17 03:19] sqs opened #1937 "Product comparison chart"
We should make a chart comparing Sourcegraph to all the potential alternatives, including:

• git GUI clients like gitkraken and sourcetree
• code search engines like Oracle OG and hound
• repository hosts like GitHub and GitLab
• IDEs like IntelliJ, VSCode

Some of these tools are overlapping. Some aren't overlapping but people might think they are (or just wonder how they would fit in together i

[2019-01-17 03:22] sqs opened #1938 "Duplicate hovers with basic-code-intel and lang-typescript"
Hover prioritys (in the `Hover` value's `priority` property) are necessary to tell Sourcegraph to hide the basic-code-intel hover when there is a better hover available. Need to update the lang-typescript extension to include this `priority` property in its returned hovers.

Fixes the issue seen at https://sourcegraph.com/github.com/Microsoft/node-jsonc-parser@e31983089c88114c7cc17f8c729feb493295c

[2019-01-17 03:31] beyang commented on #1655
This error occurs when the SSL certificate presented by the SAML authentication provider is not trusted in the Docker container running Sourcegraph. This is likely due to the certificate being issued by your internal security team, so it is not signed by one of the standard public CAs.

To fix this, we'll need to add your certificate to the list of trusted certs. This should be straightforward to

[2019-01-17 03:36] keegancsmith commented on #1922
Additionally we need some extra capacity for rollouts. Hopefully we have that head room. My main concern with auto scaler would be scale downs. We have a lot of SPOFs unfortunately

[2019-01-17 04:52] sqs opened #1939 "Multiple definitions when using basic-code-intel"
The intent is that the basic-code-intel extension's definition provider is very strict: it tries to never return false positive definition locations. If it detects ambiguity, then it should return no definitions instead of returning all possible definitions. (References are different; false positive references are much less bad because the common case for references is that the user scans them all

[2019-01-17 04:52] beyang opened #1940 "Reduce initial code intelligence latency"
There's often an initial delay in getting code intelligence when a user refreshes a page. For extremely large repos, it can be many seconds, but even for smaller ones, a few seconds of noticeable wait time is often the case. For example, go to a random repository and see how long it takes the initial hover to become visible.

Is there anything we can do for 3.0 that either improves this across the

[2019-01-17 05:07] sqs commented on #1940
Basic code intel helps with this in many cases (and then hides when the precise language extension is ready).

For 3.0, I am fixing #1939 and #1938, which will fix issues in that interaction that occur for TypeScript. I want to get to a point where everyone always has basic code intel enabled and it basically never makes things worse. I believe we can get there by 3.0.  Do you have any other ideas

[2019-01-17 05:08] nicksnyder commented on #1914
I like the go run idea.

[2019-01-17 05:19] beyang commented on #1537
@dadlerj Can the customer provide the following pieces of information?
1. Run `curl --head -H 'PRIVATE-TOKEN: $ACCESS_TOKEN' -XGET https://$GITLAB_HOSTNAME/api/v4/projects`, replacing `$ACCESS_TOKEN` and `$GITLAB_HOSTNAME` with their values. Report the values printed for `X-Per-Page`, `X-Total`, and `X-Total-Pages`.
1. Report the total number of repositories in the Sourcegraph repo table: `docker

[2019-01-17 05:35] #1890 closed

[2019-01-17 05:37] keegancsmith commented on #1816
I personally did it for prod. Everything you do is additive (and then cleanup of the LB). So your testing covers the same path. Do you think we need more intensive testing?

[2019-01-17 05:38] #1910 closed

[2019-01-17 06:22] keegancsmith commented on #1929
Cool! If you need any help with ingresses just shout.

[2019-01-17 06:31] slimsag commented on #1934
@keegancsmith Today you can:

1. Change something in management console
2. Site is broken
3. Undo your change in management console

Versus if we did that:

1. Change something via app
2. Site is broken
3. You don't know how to undo your change (because the thing you set it through is now broken)
4. Hopefully you find docs and realize management console is the escape hatch

[2019-01-17 07:36] keegancsmith commented on #1435
I was confused by this since the site-admin config area for sourcegraph.com was showing 3 config errors, but for keys only in management console.

[2019-01-17 07:37] keegancsmith commented on #517
What needs to be different, it isn't clear to me? Any management console change restarts everything; everything else on the fly?

This is also the sort of thing I can take of your hands if you like.

[2019-01-17 07:38] keegancsmith commented on #1343
@slimsag I can take this issue and the other raw api issue off your hands for 3.0 if you like https://github.com/sourcegraph/sourcegraph/issues/1248

[2019-01-17 07:39] keegancsmith commented on #1922
I believe @ggilmore fixed this and we have this follow-up issue now https://github.com/sourcegraph/sourcegraph/issues/1933

[2019-01-17 07:39] #1922 closed

[2019-01-17 07:59] ggilmore commented on #1772
I'll need to write a longer but a few quick notes:

- we want to maintain the property that the manifests checked into the dot
com repository are always safe to deploy

- our previous relied on synchronous kubernetes rollouts so that test
failures can be tied to a commit

- since renovate is an asynchronous tool, the above is not possible with
that workflow

So, there a few options to resolve this

[2019-01-17 08:32] keegancsmith commented on #1925
Done

[2019-01-17 08:32] #1925 closed

[2019-01-17 13:13] lguychard commented on #1716
Two questions I asked myself while fixing this:
- Why is gitlab not in our default permissions (@ijsnow do you know? Seems like it was removed in f1f5846, but the commit doesn't mention the reason, and the link to the related issue is dead)
- Why is it possible at all to click "Enable Sourcegraph on this domain" *several times*?

[2019-01-17 13:57] felixfbecker commented on #1908
It doesn't union the schema. The error went away for me after adding `$schema`.

[2019-01-17 13:57] #1908 closed

[2019-01-17 16:08] attfarhan commented on #1736
(Reassigned to @lguychard since it looks like he has a PR open already)

[2019-01-17 16:13] felixfbecker opened #1941 "Extension contributed button have misaligned icons"
![image](https://user-images.githubusercontent.com/10532611/51331982-27a5fd00-1a7b-11e9-908d-d9823efbe603.png)

![image](https://user-images.githubusercontent.com/10532611/51332020-3d1b2700-1a7b-11e9-934e-cb167eb36d27.png)

There should be padding between the icon and the label.

This is because the parent is `display: flex`.
https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/blob/shared

[2019-01-17 17:20] attfarhan commented on #1914
Do we expect that some of our contributors (or teammates) use development builds of Go? It seems like there are a lot of complaints about `runtime.Version()`'s output being unhelpful for this kind of use (https://github.com/golang/go/issues/21207, https://github.com/golang/go/issues/11972, https://github.com/golang/go/issues/11972). I think it's possible to parse release tags well enough, but deve

[2019-01-17 17:43] ijsnow opened #1943 "Monaco editor on user settings is really small"
- **Sourcegraph version:** Sourcegraph.com
- **Platform information:** Mac, Firefox
#### Steps to reproduce:

1. Got to sourcegraph.com, log in and navigate to your user settings

#### Expected behavior:

The editor is not really small

#### Actual behavior:

The editor is really small

[2019-01-17 17:49] ryan-blunden commented on #1934
Does "Site is broken" refer to just  the Sourcegraph front-end? If so and presuming nginx is acting as a reverse proxy, could we route traffic to the management console that way?

[2019-01-17 17:49] ijsnow opened #1944 "Ability to add annotations to sign in buttons"
#### Feature request description

It would be nice to add annotations to the sign in buttons. Example: "Sign in with OpenID" -> "Sign in with OpenID (Google Auth)"

#### Is your feature request related to a problem? If so, please describe.

It's easy to imagine a scenario where only the admin of an organization knows that their auth provider is an implementation of a specification (ex: Google is a

[2019-01-17 18:13] ggilmore commented on #1816
No, I trust you 👍

[2019-01-17 18:13] #1816 closed

[2019-01-17 18:39] lguychard opened #1945 "User configured extensions do not work on private code host if using public Sourcegraph instance"
Discovered this while screensharing with Bas from Codecov.

Steps to reproduce:
- Make sure you're logged in to sourcegraph.com, and your browser extension is pointing to sourcegraph.com
- Enable codecov extension in your sourcegraph.com account
- Visit a repo on a private code host (eg gitlab.sgdev.org, ghe.sgdev.org or `docker run -p 8000:80 gitlab/gitlab-ce`)
- Witness codecov extension is not

[2019-01-17 18:40] lguychard commented on #1945
@sqs is this by design or something we want to handle?

[2019-01-17 18:52] replicatesas commented on #1537
1.
x-per-page: 20
x-total: 17416
x-total-pages: 871
2. 419
3. days

[2019-01-17 18:56] beyang commented on #1537
@replicatesas do you have any logs you can share from the Sourcegraph instance (specifically looking for lines with `repo-updater`)?

[2019-01-17 18:58] replicatesas commented on #1537
Not from our current instance - when we fire up 3.0 will be sure to pass along logs with repo-updater (will need to re-configure our instance to use gitlab) thanks.

[2019-01-17 19:00] beyang commented on #1537
Great, thanks! There were a few fixes / changes to repo-updater in 3.0, so there's a chance that upgrading will resolve this issue.

[2019-01-17 19:03] beyang commented on #1940
@keegancsmith Yes, I think at least partly.

The idea I had (which would have to be implemented for each LS) was to reuse LS state over multiple connections, so that if 2 LSP connections have the same init parameters, they should use the same compiler/build state.

[2019-01-17 19:18] GL-KenDLG commented on #1655
Hey @beyang,

The steps I took are the following:

1) Removed the default auth authentication config.

2)Added the saml config
`    {
      "type": "saml",
      "identityProviderMetadataURL": "https://domain.com/dag/saml2/idp/metadata.php"
    }`

3) That prompted for a server restart.
4) Navigating to the login page I now see:
`Unexpected error refreshing SAML authentication provider.`

5) From

[2019-01-17 20:04] beyang commented on #1655
@GL-KenDLG Thanks for walking through the steps above. I was able to reproduce this on our end, so I've escalated this to the development team. Let me follow up with them once a patch is available and then I'll shoot you an email to schedule a call to help you get this all set up.

[2019-01-17 20:05] beyang opened #1946 "SSO broken due to nginx"
SAML SSO is broken in dev, due to nginx. Probably the same issue affecting current server build.

[2019-01-17 22:06] ryan-blunden opened #1947 "Extension README page links don't work"
![screenflow](https://user-images.githubusercontent.com/133014/51351924-ffa9a000-1a60-11e9-805a-bb39b81b747b.gif)

Maybe this falls in the category of feature request, but internal page links such as **usage** [ on this extension README] don't work.

(https://sourcegraph.com/extensions/sourcegraph/basic-code-intel#usage) don't work.

[2019-01-17 22:41] nicksnyder commented on #1914
I don't think anyone uses a development build of go so I wouldn't worry about that.

[2019-01-17 23:33] ryan-blunden opened #1950 "Markdown headings in hovers are too large"
**Sourcegraph version:** 3.0 beta

Code that produces the Markdown is at - https://github.com/sourcegraph/sourcegraph-extension-samples/blob/master/dockerfile-lint-extension/extension/src/ui.ts#L38

<img width="859" alt="screen shot 2019-01-17 at 3 22 00 pm" src="https://user-images.githubusercontent.com/133014/51355402-f114b600-1a6b-11e9-95c0-4965d6907f4a.png">

<img width="867" alt="screen shot

[2019-01-18 00:06] nicksnyder commented on #41
Closing since this is very old

[2019-01-18 00:06] #41 closed

[2019-01-18 03:42] sqs commented on #1945
This is something we want to handle.

[2019-01-18 03:47] slimsag commented on #517
I have a lot of extra context around how this would work, so I'll handle this one.

[2019-01-18 03:47] slimsag commented on #1343
Awesome, all yours! :)

[2019-01-18 04:42] slimsag opened #1951 "it should be easier to get HTTPS in a local dev server"
Testing the browser extension against a local sourcegraph dev server is hard because browsers forbid mixed content (HTTPS and HTTP) and our dev server only runs on HTTP currently.

We should have a documented way to point the local dev server to certs generated by `mkcert` or something and get HTTPS on a local dev server.

It's not clear to me how this would be done currently because nginx is not

[2019-01-18 04:49] nicksnyder commented on #1943
Screenshot?

[2019-01-18 05:11] nicksnyder commented on #1772
I would pursue (4) first. Seems like it should be possible to docker run sourcegraph/server in the background, run a language server, configure sourcergraph to point to the language server (this might be a non-zero amount of work to expose an API to do this), then point the current e2e tests at this instance (headless browser?). @felixfbecker and @ijsnow can probably provide good advice here.

[2019-01-18 05:13] vanesa commented on #1943
Screenshot Chrome
![image](https://user-images.githubusercontent.com/9110008/51366797-1fe96580-1b1a-11e9-867d-00ba2bd88cba.png)
VS
Screenshot Firefox:
![image](https://user-images.githubusercontent.com/9110008/51366807-2c6dbe00-1b1a-11e9-96ed-41cc972d04ae.png)

[2019-01-18 05:37] slimsag opened #1952 "stop committing binary assets (images) to this repository"
We are committing images to this repository:

https://sourcegraph.com/search?q=repo:%5Egithub%5C.com/sourcegraph/sourcegraph%24+file:png

We will one day regret this (maybe not tomorrow, but in a few years) and have to rewrite our git history.

A better and still simple option would be hosting these all somewhere else https://github.com/sourcegraph/sourcegraph-data

[2019-01-18 06:49] keegancsmith commented on #1951
We can keep webpack in front, but get nginx to do SSL termination to webpack. Good idea, I'll see how much of this can be automated, but likely it will be documentation driven.

[2019-01-18 07:14] keegancsmith commented on #1934
nginx would work, just need to check if it can do TCP proxying since management console does its own TLS.

[2019-01-18 09:04] keegancsmith commented on #1952
images are rather small. Right now our .git is 187M. Saying that large assets can do a lot of damage, but png/jpg are normally fine.

[2019-01-18 09:06] keegancsmith commented on #1952
Here are our biggest objects in git:

[code]

Looks like someone once accidentally committed the output of go-bindata to master and pushed.

[2019-01-18 10:27] sqs opened #1953 "Symbols sidebar does not show nice timeout message"
If the symbols service times out (eg on a very large repo), the symbols sidebar should show a "nice" error message:

(This is implemented at https://sourcegraph.com/github.com/sourcegraph/sourcegraph@6061311921aadf585fc75299c975fa1cf379bec0/-/blob/cmd/frontend/graphqlbackend/symbols.go#L56:73.)

A customer reported that it instead showed this in the symbols sidebar in an alert:

[2019-01-18 13:17] keegancsmith opened #1955 "[deploy-sourcegraph] lang-go and lang-ts kubernetes resources and guide"
We are missing instructions for users to run lang-go on a cluster. For example this is the resources we have for lang-go in production, but we will still need further instructions (eg how to expose it).

https://gist.github.com/keegancsmith/9335ef521561d2a2d6b3d7039f7be399

_See https://github.com/sourcegraph/deploy-sourcegraph_

[2019-01-18 13:17] keegancsmith commented on #1955
(Put in 3.0 milestone since this seems like important documentation to have, especially for people migrating from 2.x)

[2019-01-18 13:21] keegancsmith commented on #1955
whoops I totally missed the instructions in the README! My bad.

[2019-01-18 13:21] #1955 closed

[2019-01-18 19:36] ijsnow commented on #1943
Thanks Vanesa! Seems like its a Firefox vs Chrome problem

[2019-01-18 19:41] slimsag opened #1957 "Test that we better communicate the error state of removing codehost HTTP auth and switching to just SSH auth for repo cloning"
1. Add an external service connection with Bitbucket Server or any other codehost by adding a `token` or `username` and `password` entry, etc.
2. Sourcegraph will discover repositories from this code host.
3. In the external service, change the `gitURLType` to `ssh` and remove the `token` or `username`/`password` that was previously set. I.e., setup SSH repo cloning authentication instead.
4. Sour

[2019-01-18 19:47] slimsag commented on #1957
@nicksnyder I think we should prioritize working on this at least for 3.1, but maybe we can mitigate the issue in 3.0 if someone has a good idea of how to solve this, would @tsenart or @keegancsmith be the right person to work on this?

[2019-01-18 19:57] sourcegraph-demo commented on #1950
Also affects definition hovers who's content contains markdown.

<img width="907" alt="screen shot 2019-01-18 at 11 55 22 am" src="https://user-images.githubusercontent.com/46826578/51410009-3bec0780-1b18-11e9-8f9a-1197b3e632a7.png">

[2019-01-18 20:17] ggilmore opened #1958 "Address VPA's recommendations for sourcegraph.com"
In https://github.com/sourcegraph/deploy-sourcegraph-dot-com/pull/164, I added a [vertical pod autoscaler](https://cloud.google.com/kubernetes-engine/docs/how-to/vertical-pod-autoscaling) to sourcegraph.com, which can give us more accurate recommendations for what our deployment's resource requests should be set to.

Here is what it recommends after about a day's worth of monitoring (this output i

[2019-01-18 20:43] nicksnyder commented on #1958
I don't see a reason to delay increasing resource allocations to services that appear to be starved. Whether we can make those resources more efficient is another matter (and would benefit from the knowledge of how many resource they actually want).

If you are worried about reducing resources for certain services (e.g. pgsql), then we can just wait to collect more data.

[2019-01-18 20:45] chrismwendt commented on #1958
For lang-go, loading and parsing files eats up the most memory:

![image](https://user-images.githubusercontent.com/1387653/51411746-d69b1500-1b1d-11e9-9b68-84dd779fc63a.png)

I'm guessing large repositories could cause spikes in memory usage that take down the process. I tested locally, and **kubernetes/kubernetes takes 580MiB** of memory.

[2019-01-18 20:54] slimsag commented on #1957
I've updated description to better explain everything, apologies for the ambiguity.

I agree this is an intersection of #914 and #1811. Let's consider this a specific case in which we should test once we fix those two issues then.

[2019-01-18 22:55] sqs opened #1959 "Publish 3.0 (non-beta) blog post"
To announce that 3.0 is out of beta:

- [ ] Copy the [3.0 beta blog post](https://about.sourcegraph.com/blog/sourcegraph-3.0-beta-is-now-available) and update it to reflect 3.0 being released (not beta) -- https://github.com/sourcegraph/about/pull/79
- [ ] Update the [3.0 beta blog post](https://about.sourcegraph.com/blog/sourcegraph-3.0-beta-is-now-available) to remove most content and instead li

[2019-01-18 22:58] sqs opened #1960 "Tweet announcement for 3.0"
To announce 3.0:

- [x] Update tweet below for 3.0
- [x] Add emojis
- [x] Tweet announcement from `@srcgraph`
- [x] Pin the announced tweet on the `@srcgraph` profile

Tweet (:white_check_mark: ready to go when 3.0 is out):

<blockquote>
Sourcegraph 3.0 is out! Code search and nav tool (OSS/self-hosted) now with:

🌐 Go-to-definition and find-references for ~all languages
🔍 Easier search filters
🔐

[2019-01-18 23:03] sqs opened #1962 "Send email announcement for 3.0"
- [x] Write email announcement for 3.0
- [x] Send to email list

[2019-01-18 23:43] sqs opened #1964 "Display nice message for ephemeral errors in the sidebar"
The tree and symbols sidebars should show a nice message for ephemeral errors (that can likely be fixed with a page reload). The symbols sidebar used to do this (but that behavior is currently broken; see https://github.com/sourcegraph/sourcegraph/issues/1953, which was closed in favor of this because it should be solved in a way consistent with how it's done for the tree sidebar).

- [ ] Define w

[2019-01-18 23:43] sqs commented on #1953
Closing in favor of the more general #1964

[2019-01-18 23:43] #1953 closed

[2019-01-18 23:43] sqs commented on #1964
Prioritization for this issue depends on how prevalent it is and how much it can be worked around by scaling up.

[2019-01-19 00:22] chrismwendt commented on #1929
Done, @sqs you can delete your python.langserver.org deployment.

[2019-01-19 01:09] sqs commented on #1929
Thanks! Reopened and assigned to me to do this.

[2019-01-19 12:47] chmllr opened #1966 "Renamed repository leads to invalid redirect"
- **Sourcegraph version:**  Firefox extension `v19.1.12.2016`
- **Platform information:**  macOS 10.14.2, Firefox 64.0.2 (64-bit)

#### Steps to reproduce:

1. Open `https://github.com/chmllr/notehub/blob/master/render.go` with browser extension installed.
2. Right-Click on `statuses` on line 17 and select "Find References" option.

#### Expected behavior:

Sourcegraph extension opens the URL http

[2019-01-20 06:30] sqs opened #1967 "Scope symbols sidebar to current folder/file"
The symbols sidebar currently shows ALL symbols in the repo. That is useful sometimes, but it's more often useful to see only "relevant" symbols (which usually means only symbols for the current file or project).

From a user:

[2019-01-21 04:36] beyang commented on #1958
@ggilmore I think you should make the call for what the allocations should be. Feel free to err on the safe side—unless it is going to make $1000s of difference in monthly spend, not worth an extended discussion (let's focus instead on what gets customers from 1 to 20).

[2019-01-21 09:23] hho opened #1969 "Changelog link is broken on updates page in site-admin"
- **Sourcegraph version:** 3.0.0.beta
- **Platform information:** CentOS, Docker

#### Steps to reproduce:

1. Go to `Site-Admin / Updates` on your shiny Sourcegraph installation
2. Click the `Sourcegraph Changelog` link

#### Expected behavior:

Opens the [changelog](https://github.com/sourcegraph/sourcegraph/blob/master/CHANGELOG.md)

#### Actual behavior:

The link points to https://about.sourc

[2019-01-21 09:32] #1969 closed

[2019-01-21 09:42] sqs commented on #1151
Most of these are done. We can file issues and prioritize specific needs for new docs as they come up.

[2019-01-21 09:42] #1151 closed

[2019-01-21 09:45] #711 closed

[2019-01-21 10:31] keegancsmith commented on #1958
Frontend is heavy on memory. I'd say go with all the recommendations.

[2019-01-21 10:37] tsenart commented on #1958
I recommend that we adjust up liberally and quickly for resources that are starved and down cautiously for what is currently over-provisioned.

One question: Do we have any Prometheus alerts setup for K8S resource starvation?

[2019-01-21 11:45] #1945 closed

[2019-01-21 12:46] lguychard commented on #1825
Closed by #1954

[2019-01-21 12:46] #1825 closed

[2019-01-22 08:40] keegancsmith commented on #1248
The issue here is the raw handler was added to the app router, rather than the api router. However, to move it to our api router would mean we have to change the path to it. This seems desirable to me, since the alternative is special case how we handle the raw endpoint.

Are there some other implications I may be missing? Either way I'll send a PR out and we can continue discussion on that.

[2019-01-22 08:51] keegancsmith commented on #1248
This is a little more involved since we don't have any machinery setup to route repoRev URLS in httpapi. So I'll wait to hear back more before proceeding further on this task. cc @slimsag

[2019-01-22 08:53] #1343 closed

[2019-01-22 10:07] #1736 closed

[2019-01-22 10:44] lguychard commented on #761
#1954 allows to successfully bypass `corsOrigin` restrictions on Chrome and FF.

[2019-01-22 10:44] #761 closed

[2019-01-22 10:59] lguychard commented on #1493
@ryan-blunden could not reproduce this:

![image](https://user-images.githubusercontent.com/1741180/51531197-21c66800-1e3d-11e9-8135-f23a7beb40b8.png)

Is it still an issue on your side?

[2019-01-22 10:59] #1493 closed

[2019-01-22 12:16] keegancsmith commented on #1913
I am going to implement the original idea in this issue since it is the most straightforward path forward. However, I do quite like the idea of gitserver having this functionality. It would digress from gitserver only doing git exec for a repo as its API (+ some clone management APIs). However, it would be better than the current code used by frontend, since we load balance across the frontend ser

[2019-01-22 14:42] sqs commented on #761
@lguychard Can we completely remove corsOrigin now or is it still needed?

[2019-01-22 14:44] lguychard commented on #761
I think it may still be needed if the code host is Phabricator (since in that case, all requests will be made from the in-page script, and not the browser extension). @ijsnow can you confirm?

[2019-01-22 15:34] lguychard commented on #1389
Fixed: extension ID is now displayed on the registry page

![image](https://user-images.githubusercontent.com/1741180/51546034-93b1a800-1e63-11e9-95c0-e1e73f82754b.png)

[2019-01-22 15:34] #1389 closed

[2019-01-22 17:33] slimsag opened #1982 "disableAutoGitUpdates disables all updates instead of just scheduled updates"
https://github.com/sourcegraph/deploy-sourcegraph-dot-com/blob/release/base/repo-updater/repo-updater.Deployment.yaml#L38-L39 sets it to `0` but the proper value would be `-1`.

Also we should not be setting it via environment var as that is no longer respected, we need to set in site config. The fix here should be:

1. [ ] Update the site config to ensure repo updater is off
2. [ ] Remove the env

[2019-01-22 17:38] ryan-blunden commented on #1493
Confirmed it's now working.

[2019-01-22 17:48] tsenart opened #1983 "Monitor and fix slow Postgres queries"
#### Background

We currently don't monitor slow Postgres queries. While working #1404, it became apparent through observation of logs that we have quite a few low hanging fruits to speed things up for our users.

#### Slow queries

[code]

This is probably slow because it returns a lot of results. But it should be validated if the right indexes are in place by `EXPLAINing` the query in the produc

[2019-01-22 18:08] attfarhan opened #1984 "Clicking inside popovers causes them to close"
- **Sourcegraph version:** "Sourcegraph.com"
- **Platform information:**

#### Steps to reproduce:

1. Open any popover (e.g. extension debug popover, repo popover on a repo page)
2. Click inside, notice they'll close

@lguychard perhaps this is due to merging https://github.com/sourcegraph/sourcegraph/commit/7d79756a3fcb7e3e9693c7260eb0fc4c35ab8b78?

[2019-01-22 18:47] #1984 closed

[2019-01-22 18:59] nicksnyder commented on #1982
I think the correct fix is `"disableAutoGitUpdates": "true"`

[2019-01-22 19:13] ggilmore opened #1986 "Add prometheus metric that tracks deployment's resource usage"
See https://github.com/sourcegraph/sourcegraph/issues/1958#issuecomment-456027014

[2019-01-22 19:38] slimsag commented on #1248
The idea is that we can ultimately _also_ link users to the raw API. i.e., kind of like how GitHub has raw URLs like this: https://raw.githubusercontent.com/sourcegraph/sourcegraph/master/CHANGELOG.md

That is to say, the endpoint should support both plain users and our language server use case. Of course, the language server use case is more important and the plain user use case is not worth work

[2019-01-22 20:06] slimsag opened #1987 "Search code snippet does not display errors when requests have failed"
1. Start a Sourcegraph server of any kind with an invalid `SRC_SYNTECT_SERVER` value, such as `http://bad`.
2. Enter any search query into Sourcegraph and notice no errors, but just blank results:

![image](https://user-images.githubusercontent.com/3173176/51562178-728e8e80-1e46-11e9-8212-112249e824bf.png)

The console shows:

![image](https://user-images.githubusercontent.com/3173176/51562213-893

[2019-01-22 20:11] #1327 closed

[2019-01-22 20:36] ggilmore commented on #1958
1. I adjusted the resource usage in the following commits:

- https://github.com/sourcegraph/deploy-sourcegraph-dot-com/commit/55eacb43f60830def7a8aa8c6e24f733ba993950
- https://github.com/sourcegraph/deploy-sourcegraph-dot-com/commit/67085d7fa5ecec8d34619c7fe043e93b3666839b
- https://github.com/sourcegraph/deploy-sourcegraph-dot-com/commit/9c48b78271539d4c6e1e7abd77eeaccc64544990
- https://github

[2019-01-22 20:36] #1958 closed

[2019-01-22 21:07] ggilmore commented on #1933
sourcegraph.com currently is running on 6 nodes and is using ~57% memory utilization and 65% CPU utilization. I've adjusted some of the deployments' usage requests in https://github.com/sourcegraph/sourcegraph/issues/1958#issuecomment-456553817 and filed https://github.com/sourcegraph/sourcegraph/issues/1986 to create a metric/dashboard to detect when sourcegraph.com's deployments are starved for

[2019-01-22 21:07] #1933 closed

[2019-01-22 21:10] ggilmore commented on #1930
Deleted.

[2019-01-22 21:10] #1930 closed

[2019-01-22 21:35] ggilmore commented on #1913
Will https://github.com/sourcegraph/deploy-sourcegraph/pull/173 need to be reverted if move forward with adding archive support to gitserver?

[2019-01-22 21:36] chrismwendt commented on #1819
I checked on the dot-com deployment of lang-python and I don't see any temporary directory leakage.

[2019-01-22 21:36] #1819 closed

[2019-01-22 21:48] ijsnow commented on #1228
This still happens sporadically. [Here are instances of this error caught by sentry.](https://sentry.io/sourcegraph/browser-extension/?query=is%3Aunresolved+connection+is+closed) This would definitely be nice to fix but this might not be the highest of priorities since it is seemingly random/rare and can be resolved by a page reload.

[2019-01-22 22:12] nicksnyder opened #1988 "Prune issue templates"
Can we prune this down?
![image](https://user-images.githubusercontent.com/754768/51568767-5cd19700-1e4f-11e9-86f9-cbc6ef374fb3.png)

We are ok with multiple issue trackers so at the very least; deploy-sourcegraph can go away.

[2019-01-23 00:00] beyang opened #1993 "Basic code intelligence appears to be broken in 2.13.5"
Repro:

1. Run 2.13.5:
[code]
1. Add a repo like gorilla/mux
1. Enable basic code intelligence
1. Click the "Fuzzy" button. Observe the following JS console error:
[code]
1. Attempt a hover on a file. Nothing happens

[2019-01-23 00:10] beyang opened #1994 "Extension backcompat"
Support way to specify version of extension, so if breaking changes made to extension API, an older version of Sourcegraph can run an older version of the extension.

[2019-01-23 00:35] #1914 closed

[2019-01-23 07:16] keegancsmith commented on #1913
Yes.

[2019-01-23 07:18] keegancsmith opened #1995 "gitserver: Direct archive support"
We currently store cache in the frontend (and other places) which are the output of `git archive`. We cache it for performance reasons. However, it would be nice if gitserver natively supported the operation our raw endpoint did, and we can move back to having frontend completely stateless.

See https://github.com/sourcegraph/sourcegraph/issues/1913

[2019-01-23 07:19] keegancsmith commented on #1913
Filed https://github.com/sourcegraph/sourcegraph/issues/1995 about archives + gitserver. I'll close this issue once we have all attached issues closed and deployed to production.

[2019-01-23 11:35] keegancsmith commented on #1248
The bug is in the auth layer. For app endpoints we redirect to the sign-in page. Maybe what we need to do is make the sign-in page return a 401 status code. This is still less than ideal for an API like endpoint, but will solve the underlying issue. Either way you'll see a PR out of me today with something that works.

[2019-01-23 11:37] keegancsmith opened #1996 "Sourcegraph alpine base docker image"
Includes base utilities installed that we need in all our containers. See https://github.com/sourcegraph/sourcegraph/pull/1976#discussion_r

[2019-01-23 12:03] felixfbecker commented on #1248
For some context, in the original implementation we already had the API exposed on both the UI and API endpoints:
https://github.com/sourcegraph/sourcegraph/pull/800/commits/df4ad823337208d0a5c84cf643304ec814786c44

We went with only the UI route because of complexity and because it is confusing to have the same endpoints that work the same for the happy path (no auth needed / no errors), but have

[2019-01-23 12:14] keegancsmith commented on #1913
Deployed in production. https://github.com/sourcegraph/deploy-sourcegraph-dot-com/commit/35ed75257b08aa6515c8bced8b3925d14eff4dc3

[2019-01-23 12:14] #1913 closed

[2019-01-23 12:16] #1476 closed

[2019-01-23 13:01] tsenart commented on #1986
@ggilmore: Some useful resources:

- https://github.com/coreos/prometheus-operator/tree/master/contrib/kube-prometheus
- https://github.com/grafana/kubernetes-app
- https://cloud.google.com/monitoring/kubernetes-engine/prometheus

[2019-01-23 13:39] eatonphil opened #2000 "Slow page render on GitHub with browser extension enabled"
- Chrome browser integration

#### Steps to reproduce:

1. Visit this Standard ML file while the browser integration is enabled and try to scroll down https://github.com/eatonphil/ponyo/blob/master/examples/performance-testing.sml
2. It takes seconds to render the content
3. Visit the same file without the browser integration enabled and it renders about as quickly as you scrol

#### Expected beha

[2019-01-23 13:56] #1873 closed

[2019-01-23 14:01] tsenart commented on #1858
Starting to investigate this.

[2019-01-23 15:05] tsenart commented on #1858
A personal access token is always required because we need to use the Github API to read the repository metadata, even if we clone the repo with SSH in git-server.

This is the actual issue and will be done in https://github.com/sourcegraph/sourcegraph/issues/1721

Closing this issue as a duplicate of #1721.

[2019-01-23 15:05] #1858 closed

[2019-01-23 15:47] keegancsmith opened #2001 "Audit log for dot-com cluster"
We used to have an audit log of all API commands run in stackdriver. We don't seem to have that anymore. Can we get some sort of audit log back (I think there may be a first class feature for it these days).

[2019-01-23 16:08] ggilmore commented on #2001
I'm not sure if I know what you mean. Could you explain in more detail?

On Wed, Jan 23, 2019, 7:47 AM Keegan Carruthers-Smith <
notifications@github.com> wrote:

[2019-01-23 16:20] keegancsmith commented on #2001
Previously we could check the kubernetes API logs to see ever API action taken. For example when I run kubectl apply it would log that keegan did an update action against a certain resource. This is really useful when we write postmortems to see the timeline of events / exactly what happened.

This looks useful for us https://cloud.google.com/kubernetes-engine/docs/how-to/audit-logging

[2019-01-23 19:08] skaapgif commented on #723
I've got a basic POC here: https://github.com/skaapgif/sourcegraph-detect-secret-keys/blob/master/src/detect-secret-keys.ts

`repo-supervisor`'s secret detection doesn't get exported as a module, so I'd have to create an upstream PR to be able to use that. For now, I just used shannon entropy of quoted strings without any filtering for false positives. My thinking was a pre-commit hook needs to ha

[2019-01-23 19:22] ryan-blunden commented on #1931
Hi @milind-shakya-sp, could you provide a link to the file this is happening on?

[2019-01-23 19:40] milind-shakya-sp commented on #1931
hi, here you go.

https://github.com/django/django/blob/master/django/apps/registry.py

<img width="1075" alt="screen shot 2019-01-23 at 2 39 30 pm" src="https://user-images.githubusercontent.com/43146933/51632220-c1a6f300-1f1c-11e9-9233-7935eaf45c21.png">

[2019-01-23 19:54] ggilmore commented on #1202
Closed via https://github.com/sourcegraph/deploy-sourcegraph-dot-com/commit/fc1a14158c78e43cd5d760c60aa230835f86de76

[2019-01-23 19:54] #1202 closed

[2019-01-23 21:01] nicksnyder commented on #423
This is was a venture idea and is no longer a priority.

[2019-01-23 21:01] #423 closed

[2019-01-23 21:42] nicksnyder commented on #723
@skaapgif great! Can you publish this extension to sourcegraph.com?

[2019-01-23 21:49] nicksnyder commented on #723
Actually, I just got it sideloaded. Can you point me to a test case where you would expect it to work?

[2019-01-23 23:22] beyang opened #2006 "Bug with Duo Security SAML"
This appears to be a bug/non-spec-compliance in the Duo Security SAML support.

Repro:
* Create a new SAML Service Provider configuration in the Duo admin UI (https://admin.duosecurity.com). Set the fields such that this is the configuration file that is generated:
[code]
* Run a Duo Access Gateway on `localhost`. Configure the Duo Access Gateway with your SAML Identity Provider as the Authenticat

[2019-01-23 23:38] #1834 closed

[2019-01-23 23:55] chrismwendt commented on #7
We've since [removed Rust support](https://about.sourcegraph.com/blog/java-php-experimental_language_servers-temporarily-unavailable) and don't have immediate plans to bring it back. There are two potential forward:

- Improve the initialization time of RLS (needs to compile the entire project before providing code intelligence, can take minutes)
- Wait for [rust-analyzer](https://github.com/rust-

[2019-01-24 00:42] #1813 closed

[2019-01-24 00:45] beyang commented on #1859
Fixed by https://github.com/sourcegraph/sourcegraph/pull/1974

[2019-01-24 00:45] #1859 closed

[2019-01-24 03:27] beyang opened #2007 "Page loads can hang on gitlab.com and other repositories with large numbers of repositories"
Due to the way we fetch permissions for GitLab instances, page loads can hang if an instance has a very large number of GitLab repositories (e.g., gitlab.com).

Repro:
* Add a gitlab.com GitLab external service with authz enabled
* Add a private repo to Sourcegraph
* Log in as a user that does NOT have access to the private repo
* Visit the private repo page on Sourcegraph. Observe it hang. Logs w

[2019-01-24 09:42] spacejam commented on #7
@chrismwendt rust-analyzer supports definition and reference look-up today, are there other bits of functionality that are important for sourcegraph that are currently missing? I'm having trouble pinpointing the sourcegraph code that formerly interacted with RLS in the public repos.

@matklad can shed light on the relative stability for specific APIs that you would like to handle, but I believe th

[2019-01-24 09:57] matklad commented on #7
"couple of years" might be a good estimate for 100% coverage of the Rust language, but some part of those 100% is already working today. For example, goto defenition for imports pretty much just works. So, if partial support of the Rust language is interesting, rust-analzyer can provide that.

The "as a library API" is totally unstable, but we can ship a statically linked binary which talks LSP, a

[2019-01-24 11:38] lguychard opened #2009 "Remove Safari-specific code in the browser extension"
The Safari-specific code we have is built against the ["Extension Builder" API](https://developer.apple.com/library/archive/documentation/Tools/Conceptual/SafariExtensionGuide/Introduction/Introduction.html#//apple_ref/doc/uid/TP40009977-CH1-SW1). This API is deprecated:

In order to work in Safari, we would need to have a [Safari App Extension](https://developer.apple.com/documentation/safariserv

[2019-01-24 11:41] maxhallinan opened #2010 "Support search by type signature"
#### Feature request description

I'd like to search my Haskell projects by type signature. The result set should include anything with an equivalent type. Equivalence should be defined by the semantics of the type system and not by text matching on the type signature. So a search for `a -> a` should match a function with the type annotation `b -> b`.

#### Is your feature request related to a pro