[2018-12-06 09:59] bencripps commented on #1257
Thank you! Is there a setting I need to set to track actions from unlogged in users? It seems like those actions aren't being logged.

[2018-12-06 10:21] #1256 closed

[2018-12-06 10:38] sqs commented on #4
See https://twitter.com/srcgraph/status/1070628324542603265:

💎 Ruby code intelligence is here...kind of!

The [basic-code-intel Sourcegraph extension](https://sourcegraph.com/extensions/sourcegraph/basic-code-intel) finds definitions and references in code using text search + ctags heuristics.

Now enabled for everyone on https://sourcegraph.com and the [Chrome/Firefox browser extensions](https:/

[2018-12-06 10:58] aisbaa commented on #669
In deed 1-1 mapping sounds tricky - `Find generated code` seems to address my concerns, thank you.

[2018-12-06 11:03] felixfbecker opened #1260 "Error: Repository not found from code discussions extension"
I always get this error on repos, e.g. https://sourcegraph.com/github.com/sourcegraph/react-loading-spinner/-/blob/src/LoadingSpinner.tsx#L7:14&tab=references
[code]

The stack trace points to `renderMarkdown()`.

[2018-12-06 17:18] dadlerj commented on #1253
I'm on dev (latest master), and just saw this while I was working on another issue. I'm shown a sign-in screen when I click on "explore" as an _unauthenticated_ user (i.e., with `"auth.public"` set to true). I haven't tested as a signed-in, but non-admin yet.

[2018-12-06 17:29] beyang commented on #1253
We're removing the special page for "Explore repositories" in newer versions of Sourcegraph. The new "Explore repositories" button will just link to a search for `repo:`, which will show all repository results in the search UI.

So the workaround (which will soon become the actual thing) is just to search for `repo:`.

[2018-12-06 17:40] #1257 closed

[2018-12-06 17:40] dadlerj commented on #1257
Thanks for reporting @bencripps, the bug undercounting anonymous users will be fixed in our next release.

If you don't mind my curiosity, what made you choose, I presume, a setup that allowed unauthed usage, as opposed to using Sourcegraph's built-in auth (which is free)?

(And if you want a license key for a trial of SSO, happy to give you one as well! 😄)

[2018-12-06 17:51] tsenart opened #1263 "Protobuf code intelligence"
For now, while gathering requirements and discovering specific setups users have, we're working under the assumption that the final result of the Thrift proposal in #669 will similarly work for Protobufs.

[2018-12-06 18:09] nicksnyder commented on #1260
I am not able to reproduce this error. What are your user settings? https://sourcegraph.com/users/nick/settings

[2018-12-06 18:11] nicksnyder opened #1264 "Duplicate search results"
https://sourcegraph.com/search?q=%22conf.Get%28%29.Gitlab%22+repo:sourcegraph/sourcegraph

![image](https://user-images.githubusercontent.com/754768/49603113-33ac8400-f93f-11e8-87f9-6b1eea04b22c.png)

[2018-12-06 18:14] dadlerj commented on #1253
@beyang my comment was in reference to the *Explore* page, not the old *Explore repositories* page. This same issue appears to affect that one, even if it's not what was originally reported.

[2018-12-06 19:03] ijsnow commented on #1228
Still seeing this quite a bit

[2018-12-06 19:05] felixfbecker opened #1265 "Resolve repo API can't resolve git+https://github.com/deji-adesugba/covenus-commander.git"
This repo is on Sourcegraph, but using the repo resolve API on `git+https://github.com/deji-adesugba/covenus-commander.git` returns `null`.

https://sourcegraph.com/github.com/deji-adesugba/covenus-commander

[2018-12-06 19:14] FranklinYu commented on #4
The "Go to definition" works great. I understand that Ruby is such a dynamic language that method resolution would be rather difficult.

Look forward to more improvements. It would be awesome if documentation can also be generated (with Yardoc or similar tools).

Thank you for your work.

[2018-12-06 19:49] nicksnyder opened #1269 "Try Sourcegraph Enterprise for free shows up in open source build"
This checkbox should not be visible when running `./dev/launch.sh` since enterprise features will not work.

![image](https://user-images.githubusercontent.com/754768/49608172-d0c1e980-f94c-11e8-9ce5-525fcdd78414.png)

[2018-12-06 19:57] felixfbecker commented on #1265
This is happening for almost every repository. Another example is `git+https://github.com/sourcegraph/javascript-typescript-langserver.git`.
It seems to be confused by the `git+` prefix, which is very common.

[2018-12-06 22:03] dadlerj opened #1271 "Should not show basic code intel actions on something that is obviously a comment"
- **Sourcegraph version:** Sourcegraph.com
- **Platform information:** Mac, Chrome

#### Steps to reproduce:

1. Visit https://sourcegraph.com/github.com/trifacta/sequelize/-/blob/lib/data-types.js#L734:42, hover on `attributes` in the comment
2. Notice that go to def appears and takes you to a var named `attributes`

#### Expected behavior:

The basic code intel extension should recognize that th

[2018-12-06 22:53] #1265 closed

[2018-12-06 23:07] nicksnyder commented on #613
cc @attfarhan for awareness since you are touching this code I think, but this is not a priority

[2018-12-06 23:09] slimsag commented on #1238
Hi @vaniot-s -- can you run `docker network rm lsp`? If it errors out, delete any containers attached to it (look under `docker ps -a`).

Is the problem that you are not receiving code intelligence? Or are you seeing some other problem caused by this error?

[2018-12-06 23:10] slimsag commented on #1238
You may also try restarting the host machine which would cause Docker to re setup the network stack + connect containers to it.

[2018-12-06 23:14] attfarhan commented on #613
Diff search results will just take you to the commit page once my changes are merged.

[2018-12-07 01:08] ijsnow commented on #1187
I've

1. Added a migration to the browser extension to enable codecov in client settings if we can tell they've used the extension *
2. Enabled codecov for users on sourcegraph.com if we can tell they've used the extension*
3. Removed codecov from the global settings on sourcegraph.com

* E.g. added a token, toggled coverage

[2018-12-07 03:47] vaniot-s commented on #1238
I reinstall sourcegraph on docker ,it occur the error as follow:
[code]
but it don't influnce program running,when I restart it,the program can't normal running

[2018-12-07 03:52] vaniot-s commented on #1238
thaks @slimsag  I wanna know what's service of  port 3090

[2018-12-07 05:34] slimsag commented on #1238
Service port 3090 is an internal service running within the Docker container (the `frontend` service). This error indicates it did not start up properly.

There must be an earlier error indicating why: could you post the full log output (and redact any private information) or email it to me (stephen@sourcegraph.com)?

[2018-12-07 07:38] sqs opened #1276 "Assess consequences of removing noGoGetDomains and the go get domains blacklist - add back to Go extension"
These settings used to be in site config but were removed when Go support moved to an extension.

See if they are still needed and add them back if so.

(From https://github.com/sourcegraph/sourcegraph/pull/584)

[2018-12-07 07:40] sqs opened #1277 "xref count badge"
The badge was set to always report `?`. We should revive it. @chrismwendt 	to plan out how we do this.

[2018-12-07 07:57] vaniot-s commented on #1238
I have sent to you,thanks for your help

[2018-12-07 08:51] sqs opened #1278 "update settings version mismatch: last ID is 6321 (mutation wanted 4425)"
This is an annoying bug/limitation where if you make a settings change in one browser tab, it isn't reflected in other browser tabs, so settings changes in those fail with this error:

[code]

One possible fix for this is to communicate with all other browser tabs (via the StorageEvent, `window.addEventListener('storage', ...)`) to tell them to reload user settings.

Repro:

1. Open 2 browser tabs

[2018-12-07 08:54] sqs opened #1279 "reduce JS/CSS bundle size"
Our JS/CSS bundle is large. It takes a long time to download. There must be opportunities to reduce this.

For example: https://slack-files.com/T02FSM7DL-FEMQWS90U-5c035bdff2 (video of @keegancsmith  loading the references page on south african coffee shop wifi)

[2018-12-07 09:00] keegancsmith commented on #1279
Note: I downloaded this without clearing the cache/etc. I had opened the exact same link, created a new window and opened the same link again for that video.

[2018-12-07 09:00] sqs opened #1280 "coalesced locations are counted multiple times"
Repro:

1. Go to https://sourcegraph.com/github.com/pallets/flask@d5665e4ba6cf4f7eabdc0be047952a27965a455f/-/blob/flask/debughelpers.py#L27:2&tab=references
2. Ensure that fuzzy matches are shown
3. Note that the counts are 4 and 3 for the 2 files on the left

The counts are incorrect. basic-code-intel's fuzzy matches and the Python extension have the same locations as results. They are coalesced

[2018-12-07 09:36] slimsag commented on #1278
Periodic reloading of contents from server makes more sense to me, as that
would account for setting changes by other users (in the case of org/global
settings). This could be as simple as refreshing every 10s.

On Fri, Dec 7, 2018, 12:51 AM Quinn Slack <notifications@github.com wrote:

[2018-12-07 10:04] keegancsmith commented on #1278
Until there is a tab reload, can't we just use the stale settings? If I have 15 github tabs open, does that mean we do a refresh every 10s 15 times?

[2018-12-07 12:22] felixfbecker opened #1281 "Instead of loader, empty hover is shown"
It used to be that a loader was shown while the hover request was still pending. Since recently, only an empty hover is shown, which is very ugly and a regression in terms of letting the user know what's going on.

![image](https://user-images.githubusercontent.com/10532611/49647545-27015c00-fa23-11e8-872e-6bc265e969b1.png)

[2018-12-07 14:57] felixfbecker opened #1282 "External references are not shown when revision is not "master" or is "HEAD""
I am returning an Observable from my (single) references provider. It is first emitting local references, then as external references are found, adds chunks of them and emits a new array (concatenated with the new references).

The local references are shown, but the external references are not.

![image](https://user-images.githubusercontent.com/10532611/49654685-d1d04500-fa38-11e8-863a-093708cf6

[2018-12-07 15:05] felixfbecker commented on #1279
Out JS bundle size is 519KB, CSS is 94KB.

[2018-12-07 15:06] felixfbecker commented on #1279
@keegancsmith could you take a look at your network tab and see if your slow load times are caused by download time or by latency?

[2018-12-07 15:36] felixfbecker commented on #1282
It is still working for me on http://localhost:3080/github.com/sourcegraph/javascript-typescript-langserver@6a7ad453eef4491ab1a551195fe271334a6c9ca9/-/blob/src/project-manager.ts#L699:16, but not on http://localhost:3080/github.com/DefinitelyTyped/DefinitelyTyped@HEAD/-/blob/types/react/index.d.ts#L355:11&tab=references

[2018-12-07 15:37] felixfbecker commented on #1282
Ha, it doesn't work when the revision in the URL is `HEAD`: http://localhost:3080/github.com/sourcegraph/javascript-typescript-langserver@HEAD/-/blob/src/project-manager.ts#L699:16&tab=references

[2018-12-07 15:39] felixfbecker commented on #1282
So external references are shown if the revision is `master` or a commit SHA pointing to `master`. They are _not_ shown if the revision is any other branch, tag or `HEAD` (even though `HEAD` is the same as `master`).

[2018-12-07 16:02] felixfbecker commented on #1282
I am not sure if this is caused by the rev returned by the extension or by the rev present in the browser URL

[2018-12-07 16:44] slimsag commented on #1278
Only if you have 15 tabs on the settings edit page (Monaco editor), is that
what you meant?

On Fri, Dec 7, 2018, 2:04 AM Keegan Carruthers-Smith <
notifications@github.com wrote:

[2018-12-07 17:33] felixfbecker commented on #1228
lang-typescript has reconnection logic

[2018-12-07 17:47] #1231 closed

[2018-12-07 17:53] lguychard commented on #716
Handled by https://github.com/lguychard/sourcegraph-configurable-references

[2018-12-07 17:53] #716 closed

[2018-12-07 18:00] felixfbecker commented on #509
I think there is nothing actionable here

[2018-12-07 18:00] #509 closed

[2018-12-07 18:06] sqs commented on #1281
@felixfbecker and @lguychard you two can pair on this next week

[2018-12-07 18:50] #613 closed

[2018-12-07 18:50] sqs opened #1283 "token-highlights: highlight specific tokens that match, not full lines"
The token highlights extension at https://sourcegraph.com/extensions/chris/token-highlights highlights other lines with tokens matching the hovered token. This is good, but it would be better to actually highlight the specific other tokens (not full lines) that match.

[2018-12-07 19:30] beyang opened #1284 "Add proper license check for github/gitlab oauth"
Revert https://github.com/sourcegraph/sourcegraph/pull/1236 and add a proper license check

[2018-12-07 19:40] beyang commented on #1253
@dadlerj that seems like a different bug that what OP was reporting (and not sure if a bug or intentional—a lot of the content on /explore doesn't seem actionable unless you are authenticated; i.e., it seems like a page you should visit immediately *after* signing up). If it is a bug, let's file another issue.

[2018-12-07 19:40] #1253 closed

[2018-12-07 19:57] warent opened #1285 "Error thrown while executing extension "sourcegraph/basic-code-intel" ... SecurityError: Failed to load worker script"
- **Sourcegraph version:** v18.12.7.25
- **Platform information:** macOS Mojave 10.14; Firefox Quantum 63.0.3 (64-bit)

#### Steps to reproduce:

1. Install the Firefox Extension
2. Navigate to https://github.com/sourcegraph/sourcegraph/blob/master/cmd/server/shared/redis.go

#### Expected behavior:

The extension should work normally (Presumably like in this image: https://docs.sourcegraph.com/in

[2018-12-07 20:01] tsenart opened #1286 "Allow natural mouse movements to all positions of hover panel"
Currently, the hover over a symbol disappears instantly after moving the cursor away from that symbol, unless the cursor passed directly to the hover itself.

Unfortunately, when using the mouse cursor to follow the most direct path to the right most buttons in the hover (away from the origin symbol), the hover disappears immediately. Users will quickly learn to follow a 90 degree path (up and the

[2018-12-07 20:22] sqs commented on #1228
I think this is an extension host to main thread disconnection problem, not a problem with individual extensions’ websocket disconnection. @ijsnow can you paste the stack trace and accompanying screenshot and/or logs?

[2018-12-07 20:51] slimsag commented on #1278
Whoops, I see, yeah you are right. I read this in my email before Quinn added the additional context to this issue, so I thought this was occurring on settings edit pages -- not generally. I agree my suggestion was wrong given this new info.

[2018-12-07 20:59] chrismwendt opened #1288 "Repository not found when there is no GitHub entry in site config"
- Run `./dev/launch.sh`
- Visit http://localhost:3080/site-admin/repositories
- Notice the error

![image 8](https://user-images.githubusercontent.com/1387653/49672238-50b88400-fa1f-11e8-8c04-ba2e0d3f800c.png)

If you add a `github` section to site-config, it works:

[code]

[2018-12-07 21:16] nicksnyder opened #1290 "Discussion: Reduce Renovate PR spam"
At this moment we have 40 open PRs and [20 of them are from Renovate](https://github.com/sourcegraph/sourcegraph/pulls?q=is%3Apr+is%3Aopen+author%3Aapp%2Frenovate+sort%3Aupdated-desc), mostly Go dependencies. This seems exacerbated by the fact that we have dependencies on pinned on commit hashes instead of semantic versions with release notes (I am not sure if semver tags are available for various

[2018-12-07 21:31] francisschmaltz commented on #962
Designs for GitHub search https://zpl.io/VYkQ1dn

[2018-12-07 21:33] francisschmaltz commented on #1000
@sqs Do you have a PR for the features we plan to add?

[2018-12-07 21:44] francisschmaltz commented on #449
@nicksnyder can we work errors into external services UI

[2018-12-07 21:56] slimsag commented on #1238
I have reviewed the logs you sent over. This error seems unrelated to your problem, as it appears to only be occurring on startup and then auto-resolving itself (we need to make this less verbose / not an error):

I do see this error as well:

It may be the case that this is not causing you problems either, but it is hard to say with certainty. We are fixing this in our upcoming 3.0 release in a f

[2018-12-07 22:32] atrakh commented on #1249
Hi @yevbar,

I'm Arnold, I work at LaunchDarkly, and I built our [Visual Studio Code extension](https://github.com/launchdarkly/ld-vscode), which has similar functionality to your extension proposal. We think this is a great idea!

I'm not too familiar with creating extensions for Sourcegraph, but I have some ideas for how we could make the @sqs's suggestion of displaying flag stats in sourcegraph

[2018-12-07 23:06] tsenart commented on #1290
How much additional confidence do we need in our test suite that merging these PRs when CI passes could be automated?

[2018-12-07 23:20] beyang commented on #1290
Agree with removing Renovate for Go. I think the main value of such systems is to eliminate old security vulnerabilities, but I'd rather get notified about those and focus on those. Updating this frequently just means we are merging a lot of code that we're not really reviewing (thereby introducing the risk of merging the latest and greatest security vulnerabilities).

[2018-12-07 23:21] lguychard commented on #1282
I believe we may actually have two bugs here.

Bug 1:
- On http://localhost:3080/github.com/sourcegraph/javascript-typescript-langserver@HEAD/-/blob/src/project-manager.ts#L699:16=&tab=references
- No cross-repo references are shown initially
- once the external definition has loaded in the tooltip, navigate to the definition panel, see the cross-repo definition from felixfbecker/iterare
- navigat

[2018-12-07 23:22] #1288 closed

[2018-12-07 23:33] attfarhan opened #1295 "Padding on new diff search results on dark theme"
See https://sourcegraph.slack.com/archives/C89KCDK5J/p1544225428020600?thread_ts=1544222036.019600&cid=C89KCDK5J

[2018-12-07 23:36] attfarhan opened #1296 "Search results don't re-render on theme switches"
https://sourcegraph.slack.com/archives/C89KCDK5J/p1544225688021300?thread_ts=1544222036.019600&cid=C89KCDK5J

[2018-12-08 00:06] #1285 closed

[2018-12-08 00:08] sqs commented on #1282
@lguychard So for bug 1, is that related to the bug where we were seeing a long list of references results all from the same repo and in the file types/react/index.d.ts? Does switching back and forth between panels somehow fix that issue? Or is that bug yet another bug?

[2018-12-08 00:20] chrismwendt commented on #1276
I believe @slimsag mentioned to me that these are still necessary.

I'm retaining this functionality in go-langserver https://github.com/sourcegraph/go-langserver/pull/345 (specifically on line https://github.com/sourcegraph/go-langserver/pull/345/commits/6cdc21f898bf72efe660ea1798735f7c03f125a2#diff-893794fd1c4c9c7b18d54d632bedd5b7R22, hard to see since the diff is so big).

[2018-12-08 00:28] sqs opened #1302 "Basic-code-intel definition results should not be used for "Go to definition" when a real lang ext exists"
If you "Go to definition" with basic-code-intel AND a precise code intel extension enabled, it should always take you to the precise code intel extension's definition, never the basic-code-intel definition.

Questions:

- What if the precise code intel extension's definition is still loading?
- What if the precise definition isn't found (by the precise code intel extension)? Or has an error?

One

[2018-12-08 00:47] vanesa opened #1303 "Search filters in GitHub-extras extension disappear when other contributing extensions are enabled"
#### Steps to reproduce:

1. Enable GitHub-extras extension and do a search
2. See the `type:issues` filter in the filters bar
3. Enable a different contributing extension (e.g. Basic Codeintelligence)
4. Preform the same search, see that the `type:issue` filter is missing

#### Expected behavior:
No matter what extensions are enabled, the GitHub-extras contributed search filters should appear

##

[2018-12-08 00:58] francisschmaltz opened #1305 "Fuzzy search results should wrap with user setting"
If a user has wrapped text on for Sourcegraph, results in the reference panel should wrap as well.

![screen shot 2018-12-07 at 4 56 18 pm](https://user-images.githubusercontent.com/11583013/49679551-1233c100-fa41-11e8-9f58-47298418826c.png)

[2018-12-08 00:58] lguychard commented on #1282
@sqs those were legitimate - there were 273 references in the repo DefinitelyTyped, and 45 of those in types/react/index.d.ts

[2018-12-08 11:15] #1187 closed

[2018-12-08 19:34] laubzega commented on #133
If the main purpose of the app is to let people stare at code for hours, why is there even a discussion about font size/type? Given the variety of browsers, monitors, OS-es and - most importantly - individual preferences, you are unlikely to settle on a single choice that even roughly satisfies everyone. Make the damn thing as configurable as possible and let the user decide.

I am also not buying

[2018-12-09 03:35] #1238 closed

[2018-12-09 11:14] renovate[bot] opened #1309 "Dependency deprecation warning: @types/chalk (npm)"
On registry `https://registry.npmjs.org/`, the "latest" version (v2.2.0) of dependency `@types/chalk` has the following deprecation notice:

`This is a stub types definition for chalk (https://github.com/chalk/chalk). chalk provides its own type definitions, so you don't need @types/chalk installed!`

Marking the latest version of an npm package as deprecated results in the entire package being co

[2018-12-09 11:14] renovate[bot] opened #1310 "Dependency deprecation warning: stylelint-formatter-compact (npm)"
On registry `https://registry.npmjs.org/`, the "latest" version (v1.1.0) of dependency `stylelint-formatter-compact` has the following deprecation notice:

`This package is now included in stylelint core`

Marking the latest version of an npm package as deprecated results in the entire package being considered deprecated, so contact the package author you think this is a mistake.

Please take the

[2018-12-10 00:07] sqs opened #1311 "Can't see date of commit in diff search"
I ran the diff search https://sourcegraph.com/search?q=repo%3Asourcegraph%2Fcodeintellify+type%3Adiff+mousemove. I want to be able to see the date because I use diff search to see if any recent things changed related to `mousemove` in order to fix an issue. The relative date ("3 months ago") should be shown, and if I mouse over it, I should see a tooltip with the exact date.

[2018-12-10 07:51] vanesa commented on #655
WIP: https://github.com/sourcegraph/sourcegraph-datadog-metrics

[2018-12-10 15:11] kidsil opened #1319 ""Go to definition" goes to parallel function"
- **Sourcegraph version:** v18.12.8.13
- **Platform information:** Ubuntu 16.04

#### Steps to reproduce:

1. Go to https://github.com/ethereum/go-ethereum/blob/master/eth/api.go#L171
2. Hover over "ExportChain"
3. Click on "Go to definition"

#### Expected behavior:
Either no "Go to definition" link, or different text, such as Go to Struct definition.

#### Actual behavior:
Goes to another functi

[2018-12-10 16:35] nicksnyder opened #1320 "What is the purpose of quickGitserverRepo?"
What do these lines accomplish? Does calling IsRepoCloneable have a side effect?

https://github.com/sourcegraph/sourcegraph/blob/07054656c7662374534cf8a2b83b36aad97e0a6d/cmd/frontend/backend/repos.go#L98-L105

Despite the documentation, RepoLookup is always called.

cc @tsenart

[2018-12-10 16:44] felixfbecker commented on #1260
I noticed this comes from the "Inline discussions" button (and is triggered again every time you click it). Reassigning to @slimsag

[2018-12-10 17:51] felixfbecker opened #1321 "Multiple hover and definition requests sent for the same position and blocked on the last result"
Go to any pinned position, e.g. https://sourcegraph.com/github.com/angular/angular/-/blob/packages/http/src/http.ts#L116:3

This should only sent a _single_ hover and a _single_ definition request to the extension. However, it sends multiple. lang-typescript just forwards these to the server without deduplication, and sometimes the server is busy and takes long to answer the second request. The UI

[2018-12-10 19:06] #1295 closed

[2018-12-10 19:06] #1296 closed

[2018-12-10 19:31] keegancsmith commented on #1320
https://github.com/sourcegraph/enterprise/commit/6311657bdd90e14c0fc5d0dd65c603a9fb954e21

Looks like we do this to avoid depleting our Github API rate limit (isRepoCloneable just does a git ls-remote which is not subject to the same API limits).

[2018-12-10 19:33] tsenart commented on #1320
But `RepoLookup`, at least in the code path @nicksnyder shared, is always called.

[2018-12-10 19:37] keegancsmith commented on #1320
The benefit is to fail early for non-cloneable URLs. The commit message:

[2018-12-10 19:38] nicksnyder commented on #1320
Ah, that makes sense. Just a fail fast case.

[2018-12-10 19:38] #1320 closed

[2018-12-10 21:51] slimsag opened #1323 "TypeScript code intel entirely broken / always loading on Sourcegraph.com"
In an incognito window, open https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/blob/shared/src/actions/SearchFiltersContainer.tsx#L10:13 and click `ContributionScope`. The tooltip opens, but it never loads.

Recording: http://g.recordit.co/mlxmXtM9gj.gif

Chrome console errors:

[code]

Full chrome console log: https://gist.github.com/slimsag/68ca3f735b231ad0cd80870bc4264435

Other note

[2018-12-10 21:59] slimsag commented on #1323
@felixfbecker fixed

[2018-12-10 21:59] #1323 closed

[2018-12-10 22:01] tsenart opened #1324 "Consolidate site configuration for individual repo listing and blacklisting"
### Background

Today there are multiple scattered ways to list or blacklist specific individual repos across all site configuration:

#### Listing

1. `repos.list`: https://docs.sourcegraph.com/admin/site_config/all#repos-list-array
1. `github.repos`: https://docs.sourcegraph.com/admin/site_config/all#repos-array
1. `github.repositorySearch` with `repo: XXX` search term: https://docs.sourcegraph.

[2018-12-10 22:03] tsenart commented on #1324
PTAL @nicksnyder @sqs

[2018-12-10 22:07] slimsag opened #1325 "TypeScript code intel gives only `any` type on some things"
Not sure if I should file this here or somewhere else.

This only happens on specific symbols, but they appear to have concrete types in the code. Likely _not_ a regression.

1. Visit https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/blob/shared/src/actions/SearchFiltersContainer.tsx#L43
2. Hover over `getContributions`, wait until it loads, it displays `any` type.
3. Walk up the field

[2018-12-10 22:18] slimsag opened #1326 "TypeScript code intel takes a long time to load (e.g. 32s); must wait again after page refresh"
Not sure if I should file this here or somewhere else.

1. Visit https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/blob/shared/src/actions/SearchFiltersContainer.tsx#L43
2. Hover over `getContributions`
3. Wait 32s for it to load.
4. Refresh the page -> you must wait 32s again.

My main complaint here is that after page refresh I have to wait this time again. What this means for me as a

[2018-12-10 22:43] slimsag commented on #1324
SGTM at first glance; what are the semantics of `repos.blacklist`? Can we specify a query of repos to ignore with that? What syntax would it use?

About compatibility -> after #965 we can develop automatic config migrations since all config will be stored in the DB. i.e. read config from DB on startup -> apply some migration -> write config back to DB

[2018-12-10 22:45] ryan-blunden opened #1327 "Hover provider document selector ignoring Dockerfiles if at root of repository"
- **Sourcegraph version:** 25190_2018-12-10_fea4018 (25190_2018-12-10_fea4018)
- **Platform information:** macOS Mojave, Chrome 70.0.3538.110

#### Steps to reproduce:

![dockersourcegraphextensionhoverbug](https://user-images.githubusercontent.com/133014/49766241-852f7880-fc89-11e8-9152-0a7e7858adea.gif)

#### Expected behavior:

This code should have produced hovers on all three repositories but

[2018-12-10 22:46] felixfbecker commented on #1290
The only thing this tells me right now is that we don't care about keeping our Go dependencies up to date, which I find concerning.

It seems like all of these PRs have been open from the first time that Renovate was enabled for Go. Since dependencies were already outdated at this point, we started with a backlog, that apparently was never cleared. Note that Renovate is configured to only run once

[2018-12-10 22:47] felixfbecker commented on #1325
Seems like tsserver is not considering the files in node_modules, as if it didn't notice they were added through the dependency installation.

[2018-12-10 22:48] tsenart commented on #1290
+1

We can surely rotate who takes care of this but I agree 100% that we should not let our dependencies rot.

[2018-12-10 22:50] tsenart commented on #1290
I actually volunteer to start reviewing and processing these PRs tomorrow.

[2018-12-10 22:53] attfarhan opened #1328 "Invalid array length for diff searches with no search term"
E.g. go to sourcegraph.com/search?q=type:diff+r:sourcegraph/sourcegraph.

This happens when results don't have highlights.

[2018-12-10 22:57] tsenart commented on #1324
Symmetrically with `repos.list`, we can specify a list of repos that should be blacklisted from whatever selection of repos resulted from the aggregate code host's configuration via things like `github.repositoryQuery`.

If a repo is in both `repos.list` and `repos.blacklist`, `repos.blacklist` takes precedence, and it won't be active.

[code]

Awesome!

[2018-12-10 22:59] tsenart commented on #1324
Addendum: I thought about adding support for regex based blacklist with a `repos.blacklist_regex`, but perhaps we leave that to another time.

[2018-12-10 23:03] #1328 closed

[2018-12-10 23:05] slimsag commented on #1324
It's actually not clear to me, but what I was trying to get at is that it seemed to me like the old API supported some sort of fuzzy blacklisting based on a repo query or something, whereas this new API you are proposing (without regex) would not. Any clue if the existing API does support fuzzy blacklisting? (API == config option)

[2018-12-10 23:08] tsenart commented on #1324
@slimsag: I linked to all relevant configuration options I could find. Which one of those are you referring to?

[2018-12-10 23:20] slimsag commented on #1324
I am thinking of the ones you have already listed (though there is one for BitBucket you missed: [`excludePersonalRepositories`](https://docs.sourcegraph.com/admin/site_config/all#excludepersonalrepositories-boolean))

For example, users may be relying on `gitolite.blacklist`'s regexp ability to filter out repositories, which could not translate into a pure list-only approach ``repos.blacklist` wh

[2018-12-10 23:34] tsenart commented on #1324
Ah! Yes, that makes total sense. I hadn’t noticed that `gitolite.blacklist` was a regular expression.

So then, what do you think of adding `repos.blacklist_regex` as well?

[2018-12-10 23:45] ijsnow opened #1330 "Git blame decorations not cleaned up when toggled off"
![screen recording 2018-12-10 at 03 43 pm](https://user-images.githubusercontent.com/11557758/49768824-8ca74f80-fc92-11e8-9ad8-6dff32269e45.gif)

[2018-12-11 00:46] slimsag commented on #1324
SGTM, but I would suggest finding an all-in-one approach that could satisfy both requirements using the same top-level field, something like:

[code]

[2018-12-11 04:19] nicksnyder commented on #1290
I don't find it concerning that teammates have not prioritized updating dependencies that appear to be working just fine for us. Unless there are concrete reasons to update (i.e. bug fixes, security fixes, or features that impact us), then leaving them in a known working state is perfectly fine.

The problem is not the frequency, it is the number of open PRs that is the spam.

Updating a dependenc

[2018-12-11 04:53] sqs opened #1334 "Hover loads indefinitely"
With the basic-code-intel extension enabled, hover over `a.position` or `b.position`'s `position` token at https://github.com/sourcegraph/codeintellify/pull/77#discussion_r240263029. The hover loads indefinitely. Here is the devtools console error:

![screenshot from 2018-12-10 20-52-54](https://user-images.githubusercontent.com/1976/49779214-9abe9580-fcbd-11e8-9205-1ec86b24c5d4.png)

[2018-12-11 04:57] sqs opened #1335 "TypeScript hover provider never returns"
At https://sourcegraph.com/github.com/sourcegraph/codeintellify@ce472adbfc6ac8ccf1bf7afbe71f18505ca994ec/-/blob/src/hoverifier.ts#L516, hover over `position` in `b.position`. The hover provider never returns any data (see the lack of a response from the `languageFeatures/$observeHover` call in the devtools console). There are no other errors.

![screenshot from 2018-12-10 20-56-41](https://user-im

[2018-12-11 05:03] sqs commented on #1335
It finally started returning, but all types are `any` typed

[2018-12-11 05:10] slimsag commented on #1335
Sounds related to #1325 and #1326

[2018-12-11 05:16] sqs commented on #1335
dupe of #1325 and #1326

[2018-12-11 05:16] #1335 closed

[2018-12-11 06:31] chrismwendt commented on #1135
This will be fixed by special casing the standard library in https://github.com/sourcegraph/go-langserver/pull/345 (specifically in https://github.com/sourcegraph/go-langserver/pull/345/commits/7a09a4af30a24585038a71e689b4464d6e78c2d4#diff-ac2051a40d61acd7db71e57c80b72459)

[2018-12-11 10:10] tsenart commented on #1290
Totally agree @nicksnyder, but how can we know if there are bug fixes, security fixes or features that impact us if we don't review our dependencies regularly?

We could verify if this continues to be the case after doing an initial review of open PRs and processing them, thus attaining a clean slate. If it turns out that our dependencies continue to have a lot of on-going development, we should r

[2018-12-11 12:38] felixfbecker opened #1337 "Expose repository and gitHead for extensions through GraphQL API"
To evolve our API and make breaking changes, it would be incredibly useful if we could find global references on extension API symbols and get results from public extensions that use these.
For that, lang-typescript would need to be able to map extensions back to repositories and revs. The repository is in the package.json of the extension, but the package.json is not currently exposed through Gra

[2018-12-11 12:44] felixfbecker commented on #1290
I agree with how @tsenart put it. It is fine if someone inspects a PR, sees the changes made don't provide us a benefit (and therefor only a risk) and closes the PR. Renovate will not recreate closed PRs. But the PRs are a method for us to get notified of a new release, an interface for us to review them and to make a decision whether to merge or skip the update. They should just not be left pendi

[2018-12-11 13:30] bradleyjkemp commented on #1277
This has caused broken badges on many, many repositories. High visibility examples:
* https://github.com/labstack/echo
* https://github.com/gorilla/mux
* https://github.com/gin-gonic/gin
etc...

[2018-12-11 13:41] tsenart commented on #1290
That sounds good to me. I'll begin with the `golang.org/x/` ones.

[2018-12-11 15:33] nicksnyder commented on #1324
Each code host config is stored separately in the database, so global inclusions and exclusions would not be a good user experience because users would need to configure this in two different places in the UI.

As a general principal, we want a single external service configuration to completely specify what repos that connection owns (which is also convenient for the syncing logic in repo-updater

[2018-12-11 15:34] tsenart commented on #1290
Question: What reasons do we have for pinning `golang.org/x/` repos to commit hashes instead of semantic versions?

[2018-12-11 15:45] tsenart commented on #1324
That's news to me. Can you please point me to these two different places in the UI? I agree this proposal isn't great under those conditions.

Then instead of top-level configuration, we ought to make these consistent within each connection: `{github|gitlab|bitbucket|phabricator|gitolite}.{repos|blacklist}`.

Since not every code host supports search queries, what do you think of this @nicksnyder?

[2018-12-11 16:31] tsenart commented on #1290
It seems there are not tags in `golang.org/x/` repos, but there are release branches. We could use those instead.

[2018-12-11 16:58] lguychard opened #1339 "Impossible to have decorations from several extensions displayed on the same code view"
It is currently impossible to have decorations from several extensions applied to the same code view.

When an extension calls setDecorations, decorations applied by any other extensions are cleaned up.

Example: impossible to have decorations from codecov + git blame displayed simultaneously on a code view.

[2018-12-11 17:06] sqs commented on #1277
Yes, sorry. We will bring this back very soon.

[2018-12-11 17:12] slimsag commented on #1324
1. I think it is a better UX.
2. I strongly prefer less top-level fields, because they pollute our configuration (which is rapidly growing). Another option is:

[code]

[2018-12-11 17:32] felixfbecker commented on #655
@vanesa see if you can generate an embed URL for metrics that could be displayed in the hover: https://docs.datadoghq.com/graphing/dashboards/shared_graph/

[2018-12-11 17:44] sqs commented on #1324
@nicksnyder the reason for GitLab config having projectQuery vs repositorySearch is that they’re called projects in GitLab, and we prefer to use the names from the external service. As for query vs search, those should be standardized ideally.

[2018-12-11 17:59] francisschmaltz commented on #133
Closing. Duplicate of https://github.com/sourcegraph/sourcegraph/issues/120

[2018-12-11 17:59] #133 closed

[2018-12-11 17:59] felixfbecker opened #1341 "Scala syntax highlighting is really bad"
![image](https://user-images.githubusercontent.com/10532611/49819931-e2edbe80-fd76-11e8-939a-ab61d772ba4d.png)

https://sourcegraph.com/github.com/scalameta/metals/-/blob/metals/src/main/scala/scala/meta/metals/Main.scala

[2018-12-11 18:00] francisschmaltz commented on #120
@laubzega this is a feature that we want to implement but is not prioritized for 3.0-preview or 3.0.

[2018-12-11 18:02] ggilmore commented on #1341
It looks fine with the light theme:

![screen shot 2018-12-11 at 10 02 14 am](https://user-images.githubusercontent.com/9022011/49820107-e019ac00-fd2b-11e8-8b2b-19a9971077e6.png)

[2018-12-11 18:02] francisschmaltz commented on #120
Changing the issue title to reflect the ask (supporting custom font/font size).

Currently the plan is to allow implementing a custom base font size, but not a custom font. We will continue to use the system font for Sourcegraph.

[2018-12-11 18:04] #1311 closed

[2018-12-11 18:08] slimsag commented on #1341
yeah our dark theme is less precise than the light theme (which is actually an existing light theme, `Solarized (light)`). The proper fix here would probably be taking the light theme + applying our dark theme colors on top using https://tmtheme-editor.herokuapp.com

[2018-12-11 18:09] slimsag commented on #1341
Offerring a theme switcher would also help significantly

[2018-12-11 18:10] slimsag commented on #1341
If anyone strongly wants a fix for this, let me know and I'll prioritize it. Otherwise I will defer it for a while.

[2018-12-11 18:10] nicksnyder commented on #1324
This is the external services UI that I have been working on as part of https://github.com/sourcegraph/sourcegraph/issues/914 (e.g. https://github.com/sourcegraph/sourcegraph/pull/1103) that is currently hidden behind a feature flag. You can test list locally by enabling the feature flag in your site config

[code]

All else equal, consistency is good, but code hosts may have material differences

[2018-12-11 18:14] nicksnyder commented on #1290
You can file an issue for both of these to discuss; they have been responsive to me in the past.
https://github.com/renovatebot/renovate/issues

I would definitely prefer to use semver or release branches if they are available.

[2018-12-11 18:15] felixfbecker commented on #1341
Ah, so this is a duplicate of https://github.com/sourcegraph/sourcegraph/issues/925.
Personally I am a dark theme user, and I would assume that many of our users are too. This is a really bad instance, the code is almost like plain text, which we should not have in our app. Reading code is at the core of our product and the theme is part of our brand.

@slimsag are there docs how these themes are

[2018-12-11 18:22] felixfbecker commented on #1341
Dark theme has always been something developers expect from any developer tool and is becoming mainstream now with both Mojave and Windows supporting native dark themes.

[2018-12-11 19:07] felker commented on #1116
- The button was missing even when coverage data was displayed
- I never noticed that "Show coverage %" option, but I am unable to check for it now, since:

And now, even worse, all of the Codecov related options have disappeared from the command palette...

Google Chrome Version 71.0.3578.80 (Official Build) (64-bit)
Sourcegraph extension 18.12.8.13

![image](https://user-images.githubusercontent

[2018-12-11 19:14] slimsag commented on #1341
No docs atm, but you can just take the theme files from https://github.com/slimsag/syntect/tree/master/testdata/Sourcegraph load them into your editor or https://tmTheme-editor.herokuapp.com and then send me a PR and I'll make sure it lands upstream.

[2018-12-11 19:15] slimsag commented on #1341
Me and Francis chatted and sounds like a theme switcher / override in the user settings is a good idea (albeit probably a separate solution).

[2018-12-11 19:16] #1341 closed

[2018-12-11 19:30] felixfbecker commented on #1341
Just to be clear, I don't want to load a random dark theme from the internet, I want a dark theme that matches our product color palette. Everything else feels out of place.

[2018-12-11 19:34] felixfbecker commented on #1290
Just wanted to mention again that JS update PRs already have comparison links so I expect a request to add them to Go PRs too to be implemented quickly

![image](https://user-images.githubusercontent.com/10532611/49825182-1daa2380-fd84-11e8-9e70-47fdcc743ad4.png)

[2018-12-11 20:10] chrismwendt commented on #1277
Two ideas:

1. Approximate the ref count with a search for the import path in Go files across a subset of repositories on Sourcegraph.com (almost certainly wildly inaccurate)
2. Call out to the godoc.org importers API

Any other ideas? I'll start working on 2 soon.

[2018-12-11 20:22] #1303 closed

[2018-12-11 20:54] bradleyjkemp commented on #1277
Note that option 2 is also an underapproximation as it does not include imports from test files (and so testing libraries show up as near zero importers).

[2018-12-11 20:56] tsenart commented on #1290
I created two issues on their repo:

1. Renovate doesn't match `go.mod` based `go get -u` semantics (https://github.com/renovatebot/renovate/issues/2942)
1. Add support for "Compare Source" + change summary to `go.mod` based repos (https://github.com/renovatebot/renovate/issues/2939)

We got a reply already: https://github.com/renovatebot/renovate/issues/2939#issuecomment-446354515

[2018-12-11 21:07] tsenart commented on #1324
Thanks, that helps.

From our sync the other day, I was under the impression that selecting and, to a lesser degree, blacklisting individual repos was something we cared to support. Today, only `github` has `.repos` and only `.gitolite` has `.blacklist`.

What I proposed is that we make this capability consistent across code hosts with `.repos` and `.blacklist`. We wouldn't touch `gitlab.projectQu

[2018-12-11 21:12] felixfbecker opened #1343 "Raw API does not set Content-Type to properly for archives"
When requesting a tar archive with `Accept: application/x-tar`, I would expect the response `Content-Type` to be `application/x-tar`. Instead, it is `application/octet-stream`.
Currently checking the content type is my only option to detect auth errors.

[2018-12-11 21:15] felixfbecker opened #1344 "Loader gets squashed when panel height is reduced"
![2018-12-11 22 14 43](https://user-images.githubusercontent.com/10532611/49830717-3e797580-fd92-11e8-8a5e-89f4a278e050.gif)

[2018-12-11 21:15] rarkins commented on #1290
Hi, Renovate author here. FYI I think point 1 above is just because your settings in this repo impose a concurrent limit of maximum 20 PRs open at one time. You can raise or lower that of course, but that doesn't really fix the core challenge of what to do when your modules have updates available but aren't being merged.

As a general point, I'm surprised to see so many Go dependencies without wit

[2018-12-11 21:24] nicksnyder commented on #1324
Sounds good.

Random docs that I stumbled across that will need to be updated/deleted:
- https://docs.sourcegraph.com/integration/bitbucket_server
- https://docs.sourcegraph.com/admin/repo/add_from_git_repository

[2018-12-11 21:32] rarkins commented on #1290
FYI, I think this backlog of Go PRs has also resulted in your Kubernetes manifests getting rate limited and hence "blocked" because the 20 open PRs limit is already exhausted.

Quickest thing you can do right now is add `"masterIssue": true` to your config, which means all team members can get visibility of which PRs are open and which are pending. It doesn't mean that any *require* approval thoug

[2018-12-11 21:33] felixfbecker commented on #1290
@rarkins shouldn't the PR limit be per-repo? The Kubernetes files are in a different repo

[2018-12-11 21:34] rarkins commented on #1290
@felixfbecker sorry, you are right about that, I got the repos mixed up. Will edit above

[2018-12-11 21:37] slimsag commented on #925
To clarify, the fix for this is what I mentioned in https://github.com/sourcegraph/sourcegraph/issues/1341#issuecomment-446302797

Additionally, a theme switcher would help by allowing you to select more arbitrary themes (which would not 'fit in' with the rest of Sourcegraph via a user setting). This is not a fix, but is a related / helpful addition.

[2018-12-11 23:08] felixfbecker commented on #1282
@lguychard are you sure the bug is caused by the error? There are a lot of places where an error can occur, but when looping (e.g. over dependents) lang-typescript/the TypeScript backend usually just logs these, then continues with the next one. How did you verify that that error causes the bug?

[2018-12-11 23:10] felixfbecker commented on #1282
Note that in the logfile I uploaded in the issue there is not a single error log.

[2018-12-11 23:44] bonedaddy opened #1346 "Sourcegraph Extension Missing From Mozilla Extension Repository"
Currently the only way to install the extension in firefox is using this url `https://storage.googleapis.com/sourcegraph-for-firefox/latest.xpi`

The extension is not present in the Mozzilla extension shop. It's extremely concerning that the *only* way to do this, is by downloading some random file from a URL that isn't even associated with the extension shop. This is not present on chrome  as can

[2018-12-11 23:49] sqs commented on #1346
The ability to run code to support multiple languages requires executing code from blob: URIs. The Mozilla Add-ons site doesn’t permit listing of such extensions (unlike Chrome Web Store, which permits it). Therefore we are self-hosting the extension.  It is signed and published using our and Mozilla’s key, so it is not completely disconnected from Mozilla.

The extension is open source and you ca

[2018-12-11 23:54] lguychard commented on #1282
@felixfbecker this is the error I've been seeing (and just reproduced on https://sourcegraph.com/github.com/DefinitelyTyped/DefinitelyTyped@master/-/blob/types/react/index.d.ts#L355:11&tab=references):

![image](https://user-images.githubusercontent.com/1741180/49837493-d2553c80-fda6-11e8-8f47-3db95245ac51.png)

This is [thrown in lang-typescript](https://sourcegraph.com/github.com/sourcegraph/lan

[2018-12-12 00:02] ijsnow commented on #1346
We use [Mozilla's `web-ext`tool](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/Getting_started_with_web-ext) to [sign](https://github.com/sourcegraph/sourcegraph/blob/master/client/browser/scripts/release-ff.sh#L10) the bundle, so while its not listed on the Addons store, its verified by Mozilla.

As @sqs said, we unfortunately can't use `:blob` as part of the [content sec

[2018-12-12 00:12] felixfbecker commented on #1282
Ah, I see. I'll get that fixed. However, I think this is a different issue - the behaviour I observed in the issue description was not references _disappearing_, but references _not showing up_ in the first place.

Besides that, if a hover provider throws, the panel should not display "no references found", it should display the error.

[2018-12-12 00:13] felixfbecker opened #1348 "If a hover provider emits an error, the panel just shows "no references found" instead of the error"
https://github.com/sourcegraph/sourcegraph/issues/1282#issuecomment-446412398

[2018-12-12 00:49] sqs commented on #1277
@chrismwendt For (2), it might make sense to build up our own dependency-dependent index for Go code (maybe even using gddo, but lifting the limitation that @bradleyjkemp described). It just uses Redis to store the data and can be seeded fairly quickly. (Or it would not be hard to write this from scratch, if gddo's existing code is not suited to it.)

[2018-12-12 01:05] postables commented on #1346
Ah okay thanks for the explanation that clears things up. @ijsnow Honestly after reading your responses, I have no concerns now. I guess the only thing I would suggest is that on the [page](https://docs.sourcegraph.com/integration/browser_extension) where you give the download link, maybe add a note or something explaining what you both just mentioned?

[2018-12-12 05:32] #933 closed

[2018-12-12 09:15] lguychard commented on #1282
@felixfbecker as mentioned the closest I could get to reproducing your original scenario was bug 1 described above.

I never found a correlation between the revision being master/head and references being shown or not.

[2018-12-12 09:59] sqs opened #1353 "Browser extension not showing hovers on GitLab"
Repro:

1. Go to https://gitlab.com/gitlab-org/gitlab-runner/blob/master/helpers/service/simple.go
2. See no hovers, no "View File" button

Note that the repo and file is properly mirrored to Sourcegraph: https://sourcegraph.com/gitlab.com/gitlab-org/gitlab-runner@master/-/blob/helpers/service/simple.go?diff=e77e13d679a9bd87c2357e60793a18792ebb968d.

[2018-12-12 12:55] tsenart commented on #1290
I think using `"masterIssue": true` like https://github.com/renovatebot/renovate/issues/2743 could be helpful. Shall we enable it?

[2018-12-12 12:58] felixfbecker commented on #1290
I'm not sure. I definitely would not want it for JS. To determine whether we want to update a dep or not, we need to review the change/commit log. But that master issue does not include this context. So I feel like we would just never check the boxes, or check them all to then inspect the PRs. At which point we could have just reviewed the PRs as they were created and closed/approved/merged them d

[2018-12-12 13:00] tsenart commented on #1290
@felixfbecker: Yeah, you're right. What we're missing really is the change-set links and more dependencies of our Go dependencies to adopt semantic versioning.

[2018-12-12 13:37] rarkins commented on #1290
I probably didn't explain the two options clearly enough yesterday.

`"masterIssue": true` is configured globally and simply adds an issue to the repo that gives a view of all PRs open and pending. So in cases like this, you can see the blocked PRs and choose to force override them to be created. You could think of it as like a dashboard within the repo.

`"masterIssueApproval": true` can be confi

[2018-12-12 13:43] felixfbecker commented on #1290
Thanks for the explanation. I think I personally would still prefer to just interact with PRs directly.

[2018-12-12 17:18] srounce commented on #133
I think it's more related to screen size/resolution/seating distance. The issue is when I'm on 42" 4k monitors with font scaling at 100% (because some applications don't play nice with it), so I scale windows individually (even different font scaling on different browser tabs). Because of the single-column layout of Github/Gitlab code viewing I'm not as badly affected. The code viewer section will

[2018-12-12 17:49] ijsnow commented on #1346
Great! Glad that cleared things up.

@ryan-blunden I propose we add a new page just for the FF extension that explains this and has the download link. It'll be an extra click from the browser extensions page to install, but it'll be the same as Chrome going to the Chrome webstore to download.

[2018-12-12 18:13] ryan-blunden commented on #1346
Sounds good!

[2018-12-12 19:08] felixfbecker commented on #1325
This should not happen anymore, I made it so we restart tsserver after dependency installation. It can be configured with a setting. Please reopen if you still see it!

[2018-12-12 19:08] #1325 closed

[2018-12-12 19:09] felixfbecker commented on #1326
I am open for suggestions but I can't think of a way beyond the caching we already do

[2018-12-12 19:12] felixfbecker commented on #1080
The server logs say it's listening on port 8080, but you publish port `80` from Docker. It should be `-p 8080:8080`.

[2018-12-12 19:12] #1080 closed

[2018-12-12 19:13] dadlerj commented on #1080
@felixfbecker will you update the readme for this then? https://sourcegraph.com/extensions/felixfbecker/lang-typescript

[2018-12-12 19:14] felixfbecker commented on #1080
Just did

[2018-12-12 19:24] dadlerj opened #1356 "Sourcegraph extensions command palette won't open on GitHub code pages"
- **Sourcegraph version:** Sourcegraph.com
- **Platform information:** Chrome, latest Sourcegraph for Chrome browser extension

#### Steps to reproduce:

Clicking on the command palette (the hamburger icon) on GitHub blob/code pages does nothing.

It works on trees, issues, etc:
![image](https://user-images.githubusercontent.com/5589410/49893414-29d3c680-fe00-11e8-8b73-4e1cd04cea6a.png)

BUT it do

[2018-12-12 20:43] felixfbecker opened #1359 "No code intelligence in browser extension (no errors, no loader) when there is rendered markdown somewhere on the page"
![2018-12-12 21 40 11](https://user-images.githubusercontent.com/10532611/49897488-9a0d3700-fe56-11e8-9f4f-d85ae4f2518d.gif)

Sourcegraph URL: https://sourcegraph.com

Background page log:

[dgjhfomjieaadpoljlnidmbgkdffpack-1544647351744.log](https://github.com/sourcegraph/sourcegraph/files/2673454/dgjhfomjieaadpoljlnidmbgkdffpack-1544647351744.log)

Active extensions:

![image](https://user-image

[2018-12-12 20:51] felixfbecker commented on #1359
It looks like the extension doesn't activate

[2018-12-12 20:55] felixfbecker opened #1360 "Cross-repo go-to-definition in browser extension goes to invalid 404 URL with "undefined" in it"
Go to https://github.com/sourcegraph/codeintellify/pull/70/files#diff-e60ccdd8766832cee90d293fc00ba7d4R1 and invoke go-to-definition on `Position`.
You get taken to a URL with `undefined` in it that 404s.

The same action on Sourcegraph https://sourcegraph.com/github.com/sourcegraph/codeintellify@636e5b2070bb1eb66feda1d5319d5e9e59f371a9/-/blob/src/hoverifier.test.ts?diff=636e5b2070bb1eb66feda1d531

[2018-12-12 21:03] chrismwendt opened #1361 "Not receiving emails for code discussions"
Here's an example of a code discussion thread that I did not get notified of: https://sourcegraph.com/github.com/sourcegraph/lang-go/-/blob/src/lspext.ts#L394-395&tab=discussions&threadID=157

Does it matter whether or not I have the extension enabled?

[2018-12-12 21:05] slimsag commented on #1361
ack, prod does not have email configured for some reason. I don't know why. It must be that the configuration was reset to an old version somehow? Will fix.

[2018-12-12 21:05] ijsnow commented on #1359
Works for me

[2018-12-12 21:14] ijsnow commented on #1360
Assigning @lguychard as well in case you have time to get to it first. It's likely because someone introduced a breaking change and didn't update this block https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/blob/client/browser/src/libs/github/code_intelligence.ts#L158-184

[2018-12-12 21:23] vanesa opened #1363 "Race condition due to latency in accessing active window through extensions."
#### Steps to reproduce:

1. Activate WIP:datadog-metrics extension
2. open: https://sourcegraph.com/github.com/bbc/cops-dd-backup-lambda/-/blob/libs/datadog/dogstatsd/base.py#L151
3. See the following console error:
![image](https://user-images.githubusercontent.com/9110008/49899401-7921f300-fe10-11e8-9781-25f4aebb5117.png)

This issue is also reproduced in localhost if we set a network latency o

[2018-12-12 21:31] felixfbecker commented on #1361
I just got one for a reply, seems fixed

[2018-12-12 21:34] felixfbecker commented on #1258
Even with a special case this is unlikely to return good results, because extensions are not published to npm, but to the vscode marketplace. I could implement a dependentsprovider for the marketplace, but I know that the API is undocumented. In addition, there would need to be a special case on the server too, because the vscode.d.ts is actually fetched in a postinstall script, which we don't run

[2018-12-12 21:34] #1258 closed

[2018-12-12 21:49] ryan-blunden opened #1364 "Saved searches not being added to home page"
- **Sourcegraph version:** 25364_2018-12-12_db31d28 (25364_2018-12-12_db31d28)
- **Platform information:** 71.0.3578.80

Could be a regression of https://github.com/sourcegraph/sourcegraph/issues/369

#### Steps to reproduce:

![saved searches not not appearing on home page](https://user-images.githubusercontent.com/133014/49900683-23e7e080-fe14-11e8-9018-df177680d626.gif)

#### Expected behavior:

[2018-12-12 21:52] felixfbecker commented on #189
@justinfagnani our new TypeScript support now uses declaration maps to power cross-repo go-to-definition instead of the previous fussy symbol search. Your example now takes you to Polymer/lit-html correctly 🎉

![2018-12-12 22 51 37](https://user-images.githubusercontent.com/10532611/49901088-92eb2680-fe60-11e8-8395-c5f86028ea7d.gif)

[2018-12-12 21:52] #189 closed

[2018-12-12 21:58] vanesa opened #1365 "Extension links rendered as relative paths when they are suppose to be absolute."
If an extension renders a line decoration with an absolute link e.g.`https://datadog.com` it is always rendered relative to the current URL which breaks the link. Despite the extension passing over the correct url, the `<Link />` component renders it as a relative path, as it doesn't seem to support absolute paths.

#### Steps to reproduce:

1. Activate the datadog-metrics extension
2. open: https

[2018-12-12 22:02] slimsag opened #1366 "Generic commit/diff search results should have improved titles"
https://sourcegraph.com/search?q=type:commit+abc+r:sourcegraph/sourcegraph

Actual title:

![image](https://user-images.githubusercontent.com/3173176/49901419-fc921300-fe15-11e8-9206-0a7c497e79ce.png)

Expected title (unicode `›` arrow, quotes around commit title):

![image](https://user-images.githubusercontent.com/3173176/49901596-73c7a700-fe16-11e8-9a20-c38189bc5b65.png)

[2018-12-12 22:08] #960 closed

[2018-12-12 22:08] #755 closed

[2018-12-12 22:10] #380 closed

[2018-12-12 22:14] felixfbecker commented on #524
This is not fixed in the new TS support

[2018-12-12 22:18] felixfbecker opened #1367 "Fuzzy hovers don't work for C#"
![image](https://user-images.githubusercontent.com/10532611/49902387-165a4700-fe64-11e8-985d-452d881c9a10.png)

I suspect this is because the heuristics don't recognize the `///` comments. We removed the experimental language server so this would be nice to support through basic codeintel.

https://sourcegraph.com/github.com/nunit/nunit@master/-/blob/src/NUnitFramework/framework/Internal/TestExecu

[2018-12-12 22:30] slimsag commented on #1361
@chrismwendt It does not.

[2018-12-12 22:31] slimsag commented on #1361
I think notifications should be working now, but replies will not yet because imap is not configured. Will fix.

[2018-12-12 22:36] ryan-blunden opened #1369 "Clicking View Repository button on a GitHub repository root page produces a 404"
- **Sourcegraph version:** 25366_2018-12-12_18d9b8a (25366_2018-12-12_18d9b8a)
- **Platform information:** macOS Mojave, Chrome 71.0.3578.80
- **Browser extension:** v18.12.12.1816
#### Steps to reproduce:

1. Go to https://github.com/sourcegraph/docsite
2. Click on the **View Repository** button.

#### Expected behavior:

To be taken to the root repository page

#### Actual behavior:

Taken to So

[2018-12-12 22:40] ijsnow commented on #1369
Works for me. Could you try agian? This makes me think that maybe this repo wasn't on Sourcegraph previously.

[2018-12-12 22:40] ijsnow commented on #1369
What Sourcegraph URL is your browser extension pointed to?

[2018-12-12 23:17] ryan-blunden commented on #1369
sourcegraph.com. Browser extension version is v18.12.12.1816

[2018-12-12 23:20] ijsnow commented on #1369
Haven't debugged yet but this seems fishy https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/blob/client/browser/src/shared/components/OpenOnSourcegraph.tsx#L25

[2018-12-13 00:06] chrismwendt commented on #1249
Here's the API for fetching feature flag info: https://apidocs.launchdarkly.com/docs/get-feature-flag

[2018-12-13 00:19] felixfbecker opened #1372 "Expose raw API to internal services"
Fetching an archive from the public endpoint takes multiple seconds. It could be faster if language servers could talk to an internal API endpoint within the node.

This is also needed if the Sourcegraph instance is behind an auth proxy.

- [ ] Expose raw file/archive API (ie mount the raw API http.Handler) (see https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/blob/cmd/frontend/interna

[2018-12-13 01:11] felixfbecker opened #1373 ""View on Sourcegraph" goes to wrong URL with repo twice in it"
Clicking "view on Sourcegraph" on https://github.com/composer/composer takes me to https://sourcegraph.com/github.com/composer/github.com/composer/composer

[2018-12-13 01:19] ijsnow commented on #1373
Duplicate https://github.com/sourcegraph/sourcegraph/issues/1369#issuecomment-446780865

[2018-12-13 01:19] #1373 closed

[2018-12-13 02:11] chrismwendt commented on #886
I added a small section to the new Go extension's README about replica count https://github.com/sourcegraph/lang-go#scaling-out-by-increasing-the-replica-count

[2018-12-13 02:11] #886 closed

[2018-12-13 02:13] #1276 closed

[2018-12-13 02:18] #1135 closed

[2018-12-13 02:56] atrakh commented on #1249
The v1 REST API has been deprecated, and is not compatible with most LaunchDarkly accounts.

If you're planning on using our API over an SDK to retrieve flag data, I'd recommend using the v2 API's [flags endpoint](https://apidocs.launchdarkly.com/docs/list-feature-flags). The main difference between the v1 and v2 APIs is that in v2, flags are scoped to [projects](https://docs.launchdarkly.com/docs

[2018-12-13 03:08] francisschmaltz opened #1376 "GitHub user auth fails email validation on GHE instances"
Tested with sourcegraph/server:insiders 25364_2018-12-12_db31d28 (25364_2018-12-12_db31d28) and GHE 2.15.0. GHE has SSO setup.

Tried to switch sourcegraph instance over from HTTP-Auth Header to GitHub OAuth SSO.

I was able to link Sourcegraph to GitHub with OAuth but Sourcegraph rejected the login due to `Could not get verified primary email for GitHub user. Check that your GitHub account's prim

[2018-12-13 03:13] yevbar commented on #1249
@atrakh Ok, I'll be iterating over all the user's projects and features then :slightly_smiling_face:

[2018-12-13 05:01] #876 closed

[2018-12-13 05:01] #691 closed

[2018-12-13 05:56] krishicks opened #1381 "Slow blank search performance"
- **Sourcegraph version:** Sourcegraph.com
- **Platform information:** macOS 10.14, Firefox 63

#### Steps to reproduce:
1. Go to any repository on sourcegraph.com, e.g. https://sourcegraph.com/github.com/krishicks/yaml-patch
2. Click on the downward-facing triangle button next to the repository name

#### Expected behavior:
Since nothing is typed, nothing (no spinner, or results) is shown.
_or_
S

[2018-12-13 06:17] beyang commented on #1369
This is probably affecting all Chrome ext users, making "View repository" 404 for them. I've reverted #1352 to see if that was the root cause.

[2018-12-13 07:03] sqs commented on #1381
Thanks for the report. Yes, this is bad UX on Sourcegraph.com (it is fine on self-hosted instances). We should be able to optimize the queries so that it is very fast. It may be using the more complex regexp matching code path, which is slow in some cases. It should be able to use the fast `LIKE '%foo%'` code path.

[2018-12-13 07:41] sqs commented on #1369
Thanks. I have a PR to fix it. #1352 was indeed the cause.

[2018-12-13 07:42] #1369 closed

[2018-12-13 08:19] keegancsmith commented on #1381
[code]

The problem here is we are ordering by uri, which is a field we don't even use anymore? I think this was a mistake from when we refactored from uri to name, and this was a condition we missed.

[2018-12-13 08:55] #1381 closed

[2018-12-13 08:55] sqs commented on #1369
Fix released and confirmed

[2018-12-13 09:37] keegancsmith commented on #1381
@krishicks this fix isn't deployed yet, but will be in the next 24 hours.

[2018-12-13 10:23] lguychard commented on #1359
Reproduced - .tsx diff view is never detected

![image](https://user-images.githubusercontent.com/1741180/49932529-8a7b0600-fec9-11e8-8764-3a15b6ed2883.png)

[2018-12-13 10:53] lguychard commented on #1359
Broken by https://github.com/sourcegraph/sourcegraph/pull/1322 - this also matches rendered markdowns in PR comments

[2018-12-13 11:03] #1330 closed

[2018-12-13 11:05] #1359 closed

[2018-12-13 12:02] felixfbecker opened #1387 ""No definition found" shown when definition is still loading"
It used to be that while the definition was still loading, a loader would be shown on the button.
Now, "No definition found" is shown. The user has to repeat the action at arbitrary intervals to find the definition once loaded.

![2018-12-13 02 23 11](https://user-images.githubusercontent.com/10532611/49937518-37a84b00-fed7-11e8-98c1-2d6f78e0aa83.gif)

This may be caused by basic code intel but no

[2018-12-13 12:28] lguychard opened #1389 "Publishers should be shown on the extensions registry page"
Currently, it is impossible to differentiate felixfbecker/lang-typescript and sourcegraph/lang-typescript on the registry page

![image](https://user-images.githubusercontent.com/1741180/49938724-029df780-fedb-11e8-806f-ac108e16fac0.png)

[2018-12-13 17:14] nicksnyder opened #1392 "Remove `auth.providers` site configuration"
Once we have fully migrated to external services, it is clunky that authorization configuration is split between site config and individual services. For example, GitHub authorization configuration should be completely contained inside of the GitHub external service config.

[2018-12-13 20:52] ryan-blunden opened #1394 "Sourcegraph Chrome extension page layout broken"
I'm guessing the content we have entered is causing this. I've also viewed the page in incognito mode and get the same results.

1. Go to https://chrome.google.com/webstore/detail/sourcegraph/dgjhfomjieaadpoljlnidmbgkdffpack?hl=en
2. Scroll to the left to see the broken UI

<img width="1368" alt="screen shot 2018-12-13 at 12 47 02 pm" src="https://user-images.githubusercontent.com/133014/49966712-

[2018-12-13 22:40] nicksnyder opened #1400 "Java code intelligence via Sourcegraph extension"
Milestones
- [ ] Single repository code intelligence (no dependency installation)
- [ ] Single repository code intelligence with dependency installation
- [ ] Cross repository code intelligence

[2018-12-13 22:45] nicksnyder opened #1401 "Enhanced Python code intelligence"
Pre-requisite:
- [x] https://github.com/sourcegraph/sourcegraph/issues/959

Milestones:
- [ ] Single repository code intelligence with dependency fetching
- [ ] Cross repository code intelligence

[2018-12-13 23:47] nicksnyder opened #1404 "Upgrade to PostgreSQL 11.1"
We are currently running a very old version of PostgreSQL (9.4). This is an opportunity to upgrade since 3.0 is a major release. Ideally we would have auto-upgrading.

Other context https://github.com/sourcegraph/enterprise/issues/11192

Status:
- [x] Switch deploy-sourcegraph to 11
- [x] Switch server to 11
- [x] Production upgraded
- [x] deploy-sourcegraph auto-upgrades
- [x] server auto-upgrade

[2018-12-14 00:45] ryan-blunden opened #1407 "Bring `ExtensionManifest` to parity with extension.schema.json"
Now that the extension.schema.json has been updated, `ExtensionManifest` should be updated to reflect those changes.

[2018-12-14 01:07] nicksnyder commented on #644
Why can't we remove these before 3.0?

[2018-12-14 01:08] nicksnyder commented on #680
Can we do this for 3.0 or do we need to wait for 3.1?

[2018-12-14 01:14] nicksnyder commented on #101
Indexer will be completely removed in 3.0, so I am going to close this now.

[2018-12-14 01:14] #101 closed

[2018-12-14 01:15] ijsnow commented on #1000
@francisschmaltz I'll be ready for (but not blocked by) mocks for storing settings soon.

I've created a table in GitLab that has an access token, sourcegraph url, and owner (user or group/org). The token is required for the initial implementation due to CORS on Sourcegraph. The owner can be optional (global for a GitLab instance) and the URL will just be sourcegraph.com to start with.

[2018-12-14 01:18] sqs commented on #644
To support online migrations/upgrades (if we removed them, the old pods would have all their repo table queries fail).

If we don’t want to support online migrations, then we can remove them. That’d be fine, but let’s not make a habit of it (most releases should probably support online upgrades).

[2018-12-14 01:31] nicksnyder commented on #517
Is this fixed/obsolete in master?

[2018-12-14 01:32] nicksnyder commented on #508
@dadlerj Are you still able to reproduce?

[2018-12-14 01:36] sqs opened #1408 "Could not find item in `auth.providers` with config ID "okta-saml" and type "saml""
Upon running `enterprise/dev/start.sh` (with the latest dev-private master checked out), I see:

[code]

@nicksnyder 	Related to this commit?

[code]

[2018-12-14 01:43] slimsag commented on #517
no

[2018-12-14 01:54] sqs commented on #1408
This occurs because my `external_services` table has the following entry:

[code]

and the critical site config stored in the DB lacks the `"configID": "okta-saml"` property. I added it in https://github.com/sourcegraph/dev-private/commit/9b1871133adaf9f566d1b764e8f7bf6698db96e8, but I'm not able to add it to the mgmt console because enterprise/dev/start.sh terminates due to the error above, and t

[2018-12-14 01:55] sqs commented on #1408
The temporary workaround is to run this against your dev PostgreSQL DB:

[code]

[2018-12-14 01:58] sqs opened #1409 "Chrome warning: Password field is not contained in a form"
When I visit http://localhost:3080/site-admin, Chrome devtools JS console complains:

[code]

[2018-12-14 02:02] slimsag commented on #1408
The file contents of `enterprise/dev/critical-config.json` are written to the DB on startup, but the fact that the `DevAndTesting` config is invalid does mean the panic occurs first and you can't fix it except manually. This change should have failed on CI due to the panic and shouldn't have gotten merged, I wonder how this happened? hmm

[2018-12-14 02:04] sqs opened #1410 "Broken doc link to management_console page"
https://sourcegraph.com/github.com/sourcegraph/sourcegraph@6439a23db9e1174fb56e2bbb66205e2b65132543/-/blob/web/src/site-admin/SiteAdminManagementConsolePassword.tsx#L92:73 links to https://docs.sourcegraph.com/admin/management_console, which doesn't refer to any existing doc page.

[2018-12-14 02:05] slimsag commented on #1410
Yep, FWIW I know this is a broken link + have plans to add it.

[2018-12-14 03:17] sqs opened #1411 "Test Phabricator after removal of old (pre-newInject) code paths"
https://github.com/sourcegraph/sourcegraph/pull/1385#pullrequestreview-184810365 removed old and apparently unused Phabricator code. @ijsnow said he would test it in Phabricator just to be safe.

[2018-12-14 04:33] yevbar opened #1413 "Debugging Sourcegraph Extension with `console.log`"
- **Sourcegraph version:** sourcegraph.com
- **Platform information:** chrome extension with extensions and extension-debugging (where RPC trace logging is visible)

#### Steps to reproduce:

1. Install my [hello-world extension](https://sourcegraph.com/extensions/yevbar/hello-world) (and [here](https://github.com/yevbar/Sourcegraph-HelloWorld) is the source)
2. Hover over some code

#### Expected

[2018-12-14 04:53] yevbar commented on #1413
For people that come across this issue, the reason I ran into this was that I assumed that the extension would run the script in the same environment as the page you're on however that's incorrect. To see your `console.log` statements, you'll need to open the Sourcegraph environment via `chrome://extensions` (if you're on Chrome)

[2018-12-14 04:53] #1413 closed

[2018-12-14 04:56] yevbar commented on #1413
To see the `background page`, you must toggle developer mode when on chrome://extensions

[2018-12-14 04:59] keegancsmith commented on #1404
I actually mentioned this yesterday (and said pg 11.1) https://sourcegraph.slack.com/archives/CCLF4R6EM/p1544695576192700 So yes its something I can look into when I get back from vacation.

[2018-12-14 05:02] ryan-blunden commented on #1413
Sorry you ran into this @yevbar. It's unintuitive and we're working on a solution to propagate logs to the content page from the background page

[2018-12-14 05:12] yevbar opened #1415 "Extension registry page breaks with just author in URL (without project name)"
- **Sourcegraph version:** sourcegraph.com
- **Platform information:** sourcegraph.com/extensions

#### Steps to reproduce:

1. Go to [https://sourcegraph.com/extensions/yevbar](https://sourcegraph.com/extensions/yevbar)
2. Screenshot here:
![screenshot from 2018-12-13 21-09-36](https://user-images.githubusercontent.com/10301415/49984130-7829b800-ff1b-11e8-8ce0-c144992d6e92.png)

#### Expected beh

[2018-12-14 05:13] yevbar commented on #1415
Reason for expected behavior:

You can find an extension of mine at [https://sourcegraph.com/extensions/yevbar/hello-world](https://sourcegraph.com/extensions/yevbar/hello-world) and `yevbar` is clearly the author so I should be able to manipulate the URL to see projects by me

[2018-12-14 06:49] nicksnyder commented on #1392
I don't think we can remove this.

[2018-12-14 06:49] #1392 closed

[2018-12-14 07:25] sqs opened #1417 "TypeScript hovers are offset by 1 line"
Repro:

1. Go to https://sourcegraph.com/github.com/sourcegraph/sourcegraph@36ede609947f884c1b39b1ee0facedfab298145c/-/blob/shared/src/api/client/api/codeEditor.ts?diff=36ede609947f884c1b39b1ee0facedfab298145c#L72
2. Hover over a token

The hover highlight (orange background) shows up on the line ABOVE where your cursor is.

My guess is that it is not properly converting the Hover return value fro

[2018-12-14 07:30] sqs opened #1418 "Hover syntax highlighting is not working, produces error"
[code]

[2018-12-14 07:47] sqs commented on #1418
This occurs for all languages. The problem does not exist on dev builds.

[2018-12-14 08:09] #1417 closed

[2018-12-14 08:20] felixfbecker commented on #1418
Was about to file this. Is this from your changes to how highlight.js is imported?

![image](https://user-images.githubusercontent.com/10532611/49991488-890d1480-ff81-11e8-8b46-92028f0989f4.png)

[2018-12-14 08:34] keegancsmith opened #1420 "dogfood: create cluster should optionally create kube-backup"
We would like to be able to test create cluster script for dogfood on ephemeral clusters. Currently this would race with the backups that kube-backup does for the real dogfood cluster. As such we should make kube-backup installation optional in the create cluster script.

Context: https://github.com/sourcegraph/infrastructure/pull/823

[2018-12-14 09:05] sqs commented on #1392
This should be moved into the critical site config, no?

[2018-12-14 10:13] slimsag commented on #1392
it already is

[2018-12-14 10:13] slimsag commented on #1392
err, by it I mean `auth.providers`

[2018-12-14 12:33] keegancsmith opened #1422 "Prometheus alerts for latency on important GraphQL endpoints"
We had a performance regression on the Repository graphql endpoint, which
lasted a few weeks. We did not notice it, and had to rely on a [user filed
issue](https://github.com/sourcegraph/sourcegraph/issues/1381).

When we used our REST API we had performance alerts on all the major
endpoints. This is has not been added back since switching to GraphQL. The
task here is to add Prometheus alerts to t

[2018-12-14 13:44] tsenart opened #1423 "Real User (Performance) Monitoring"
#### Background

[Real User (Performance) Monitoring](https://smartbear.com/learn/performance-monitoring/what-is-real-user-monitoring/) telemetry extends our ability to understand the user experience from the user perspective by capturing browser performance metrics such as DNS latency, Network transfer latency, DOM rendering, CSS repaints, Garbage Collection pauses, etc. The metrics available to

[2018-12-14 13:45] tsenart commented on #1423
/cc @felixfbecker @ijsnow @nicksnyder @keegancsmith

[2018-12-14 13:48] tsenart commented on #1423
This looks interesting, on the self-hosted route: https://github.com/peardeck/prometheus-user-metrics

[2018-12-14 13:51] tsenart commented on #1423
And on the managed options: https://raygun.com/platform/real-user-monitoring

[2018-12-14 14:45] keegancsmith commented on #1005
I've updated the issue description with the latest status (see top note) and plan (see added bullet points). There are lots of bullet points to go, but they are relatively minor compared to the work done so far.

[2018-12-14 16:52] tsenart commented on #1423
If this performance data is sent from the browser extension, wouldn't it apply to both sourcegraph.com and private installations?

[2018-12-14 17:41] #1360 closed

[2018-12-14 17:42] lguychard commented on #1360
Fixed in #1390

[2018-12-14 18:02] dadlerj commented on #1423
We explicitly never track any user activity data from the browser extension, and we make bug reporting (Sentry) opt-in:

![image](https://user-images.githubusercontent.com/5589410/50019312-13a44280-ff87-11e8-95bd-b07f528cff5a.png)

We would need to use the same user flow for performance tracking (adding another checkbox, or maybe just making that one more general). Even something as small as refer

[2018-12-14 18:04] tsenart commented on #1423
If we guarantee none of that information is leaking by design, could we have this be opt-out?

[2018-12-14 18:07] dadlerj commented on #1423
Then I'd personally be fine with it! It'd be a product/eng team question at that point @sqs @ijsnow

[2018-12-14 18:09] nicksnyder opened #1425 "js error: branch and path is"
1. Go to https://github.com/rails/rails/blob/HEAD/activerecord/lib/active_record/connection_adapters/abstract/schema_definitions.rb#L446-L446
2. See error `branch and path is HEAD/activerecord/lib/active_record/connection_adapters/abstract/schema_definitions.rb, and branch is adb0c7bc51`

[2018-12-14 18:31] #1128 closed

[2018-12-14 18:38] beyang commented on #1001
This is in `master` behind the GitHub and GitLab OAuth experimental feature flags.

[2018-12-14 18:38] #1001 closed

[2018-12-14 18:46] nicksnyder commented on #875
I think the right solution here is to do exactly what GitHub does when viewing code files. There is a left gutter with line numbers that are clickable and you can always select the code itself.

[2018-12-14 18:48] nicksnyder commented on #674
Is this still an issue?

[2018-12-14 18:51] nicksnyder commented on #656
I can reproduce still with the link above. Stop by my desk and we can debug

[2018-12-14 18:53] nicksnyder commented on #1178
IIRC we decided against moving in this direction.

[2018-12-14 18:54] nicksnyder commented on #1067
unable to reproduce

[2018-12-14 18:54] #1067 closed

[2018-12-14 18:54] slimsag opened #1426 "Create a guide for upgrading from 2.x to 3.0"
3.0 includes many breaking changes:

- @slimsag Configuration moved to management console (mostly automatic, but requires the user to be informed about it existing)
- @tsenart `repos.list` being removed: https://github.com/sourcegraph/sourcegraph/pull/1391 users will need to manually add their repos back via the external services UI
- @nicksnyder How to add repositories via external services UI.
-

[2018-12-14 18:56] ijsnow commented on #1178
I don't recall that decision. I think it will be imperative that we do this. It's already bad and the number of extensions is just going to keep going up.

[2018-12-14 18:56] tsenart commented on #1426
Good call.

[2018-12-14 18:56] nicksnyder commented on #633
What is the decision here for 3.0?

[2018-12-14 19:00] tsenart commented on #1426
## Removal of `repos.list` from site configuration

The top-level `repos.list` site configuration was removed in favour of each code-host's equivalent options, now configured via the new _External Services UI_ available at `/site-admin/external-services`. Equivalent options in code hosts configuration:
  - Github via [`github.repos`](https://docs.sourcegraph.com/admin/site_config/all#repos-array)

[2018-12-14 19:00] ijsnow commented on #1353
![screenshot 2018-12-14 10 59 34](https://user-images.githubusercontent.com/11557758/50021932-70a3f680-ff8f-11e8-8237-1e4971040ed4.png)

Could you provide more information or try again? Seem to be working just fine for me.

[2018-12-14 19:00] nicksnyder commented on #524
Did you mean "this is _now_ fixed"?

It works for me https://sourcegraph.com/github.com/semantic-release/semantic-release@89ad3a0b61d2edeeeaf53e3885407304eca7504e/-/blob/lib/git.js#L121:16&tab=references

[2018-12-14 19:02] felixfbecker commented on #524
No, I meant it is _not_ fixed. References to `verifyAuth` in other files are not found.

[2018-12-14 19:02] nicksnyder commented on #1372
Is this merely a performance optimization?

[2018-12-14 19:03] felixfbecker commented on #1372
No, as said in the description, this is also needed if the Sourcegraph instance is behind an auth proxy.

[2018-12-14 19:06] ryan-blunden commented on #1426
@slimsag Let me know if I can help.

[2018-12-14 19:08] slimsag commented on #1426
Sure, I'll tag you for review on what I send out. Also, if you are aware of any breaking changes I didn't mention in the description let me know.

[2018-12-14 19:12] nicksnyder commented on #1426
How to add repositories with external services.

[2018-12-14 19:13] nicksnyder commented on #524
The original issue was specifically about local references, which weren't found (and now they are).

[2018-12-14 19:15] nicksnyder commented on #1178
@sqs Can you comment?

[2018-12-14 19:17] ijsnow commented on #1423
I like the idea!

How will we differentiate metrics derived from the page the browser extension is running in and the browser extension itself?

It seems to me, in the world of extensions, a lot of the time that will be taken into account will be when extension code is executing (3rd party) rather than our own browser extension/extension host code. Have you considered that? Should we come up with

[2018-12-14 19:20] slimsag opened #1427 "Perform testing of management console in cluster deployment"
spin up a cluster, check the experience against the docs, etc.

[2018-12-14 19:21] slimsag opened #1428 "Update documentation to reflect management console"
- [x] Update all docs to reference the management console.
    - [x] https://github.com/sourcegraph/deploy-sourcegraph/blob/master/docs/configure.md#update-site-configuration That section should now link to documentation on docs.sourcegraph.com about the site admin config page + the management console; That section should probably be updated with information about how to access the management cons

[2018-12-14 19:22] slimsag opened #1429 "Update deploy-sourcegraph-docker for management console + config changes"
- [x] Update deploy-sourcegraph-docker to deploy the management console as a service.
- [x] Update deploy-sourcegraph-docker's config.json to match appURL -> externalURL change in sourcegraph/deploy-sourcegraph#146

[2018-12-14 19:23] nicksnyder commented on #1423
You are right, most data in the hover tooltips come from extensions.

A given hover request might get data from multiple extensions, and it would be great to track hover tooltip load time per extension.

Mechanically, do we wait for all providers to return before showing the hover tooltip, or do we re-render as results are added?

[2018-12-14 19:29] slimsag opened #1431 "A bad externalURL can kill the frontend, inherently killing the management console"
- This issue only affects single container deployments.
- Per config usage guidelines (see #1430), bad config should NEVER take down a process of ours. It should just 'do nothing'.

[2018-12-14 19:31] slimsag opened #1432 "Management console should indicate license status"
Today, the license status is indicated via the site config area, but it is configured through the management console. This is a bad UX but not too bad.

Customers:

- https://app.hubspot.com/contacts/2762526/company/419771425

[2018-12-14 19:32] slimsag opened #1433 "Gitservers list should be passed via `conf.Get().ServiceConnections.GitServers` not through custom mechanism"

[2018-12-14 19:33] slimsag opened #1434 "Remove `siteConfigurationResolver.Source` + UX for it"
This is no longer needed now that it just indicates `database` constantly.

[2018-12-14 19:35] slimsag opened #1435 "Validation errors for critical config are only displayed in the site config area"
When there are validation errors in the critical config, the management console should show them. In general there is some question about how to present validation errors (does the mgmt console show BOTH site and critical validation errors? Only one? What about the site config area? etc.)

[2018-12-14 19:42] slimsag opened #1436 "Cluster deployments display "Use this editor as a scratch area", cannot save site config"
This shouldn't happen / this UX should be removed now that you can ALWAYS save via this UX.

[2018-12-14 19:43] slimsag opened #1437 "Remove "Add license key" button from site-config page."
This now has to be added via the management console. Clicking it adds an invalid field to your site config.

[2018-12-14 19:48] sqs commented on #1178
@francisschmaltz 	and I just talked about this, and he is going to fix the situation as is by:

1. recommending changes to existing extensions to improve this immediately without needing to write any more code (eg "Inline discussions" should not be a long text label, it should be an icon; "View file (base/head)" should be a single button and the label can be shortened or just made into an icon)
2.

[2018-12-14 19:48] slimsag commented on #965
@sqs If you can make a strong argument for your second point here, I am happy to hear it. I've considered both just now, however, and what I think:

1. You really should only use the mgmt console passwords we generate securely for you. i.e., passwords that are not >= 128 chars in length will be insecure in nature due to no auth rate limiting. This means we should not do #2 above.
2. The mgmt conso

[2018-12-14 19:49] sqs commented on #965
@slimsag 	Sounds good to me. :+1:

[2018-12-14 19:50] slimsag opened #1438 "Allow regenerating the mgmt console password via mgmt console itself"
This would be useful if you still have access to the mgmt console and want to regenerate the credential due to e.g. concern of a leak or something. This just makes it easier than e.g. dropping to a pgsql prompt and running the command. Not required for 3.0 or even 3.1.

[2018-12-14 19:50] slimsag commented on #965
Filed https://github.com/sourcegraph/sourcegraph/issues/1438 for the UI to regenerate the password, but backlogged it given the pgsql command will do fine in the meantime.

[2018-12-14 19:54] sqs opened #1439 "Browser ext popup doesn't show"
Repro:

1. Click browser toolbar button, material design flash shows up but no popup

Error in background page that seems related:

[code]

[2018-12-14 19:55] slimsag commented on #965
UPDATE: The management console is merged and working on Sourcegraph.com and dogfood as expected. Migration was automagic, etc.

Issues with config in general which MUST be solved for 3.0:

- https://github.com/sourcegraph/sourcegraph/issues?q=is%3Aissue+is%3Aopen+label%3Afeature%3Asite-config+-label%3Aidealistic-milestone+milestone%3A3.0

Issues with config in general which are ideally solved for

[2018-12-14 19:55] #965 closed

[2018-12-14 19:58] nicksnyder commented on #965
@slimsag instead of using "idealistic-milestone" can you use "release-blocker" for the ones that are required?

[2018-12-14 20:04] ijsnow commented on #1353
The problem was that you weren't logged in and I needed to use the GitLab API for code intelligence which needs authentication. However, [single file code views don't need the API](https://sourcegraph.com/github.com/sourcegraph/sourcegraph@master/-/blob/client/browser/src/libs/bitbucket/file_info.ts#L14-19) so it should still work for the link in the repro steps above.

[2018-12-14 20:17] slimsag commented on #965
Yes, I tagged the required ones as release-blocker, but I've left the idealistic milestone because I do want to communicate that it is ideal but perhaps not possible

[2018-12-14 20:18] nicksnyder commented on #1117
won't fix

[2018-12-14 20:18] #1117 closed

[2018-12-14 20:19] nicksnyder commented on #1076
fixed

[2018-12-14 20:19] #1076 closed

[2018-12-14 20:21] nicksnyder commented on #994
@sqs to triage and create action plan

[2018-12-14 20:35] nicksnyder commented on #1376
@beyang ping? Is this going to get done by 3.0?

[2018-12-14 20:35] nicksnyder commented on #1284
done

[2018-12-14 20:35] #1284 closed

[2018-12-14 20:35] nicksnyder commented on #1039
@beyang are these tests still disabled?

[2018-12-14 20:37] nicksnyder commented on #539
We are tracking progress on the feature in https://github.com/sourcegraph/sourcegraph/issues/964

[2018-12-14 20:37] #539 closed

[2018-12-14 20:38] nicksnyder commented on #1366
@slimsag Is this a design request or is there another reason why you are expecting that output?

[2018-12-14 20:41] slimsag commented on #1366
It is a regression in the `src` CLI from after @attfarhan merged https://github.com/sourcegraph/src-cli/pull/33#issuecomment-446702533 and also an ugly part of our web UX.

[2018-12-14 20:45] chrismwendt commented on #1277
I have a PR for option (2) above https://github.com/sourcegraph/sourcegraph/pull/1377

[2018-12-14 20:49] #1277 closed

[2018-12-14 20:55] sqs commented on #849
Reopened per @slimsag comment above

[2018-12-14 20:57] #1353 closed

[2018-12-14 21:01] chrismwendt commented on #849
@slimsag Did this used to take you to a search page where the matching repositories were listed? I'm wondering what the previous UI was.

Would we be willing to support this functionality for other languages too? Perhaps this be provided by extensions.

[2018-12-14 21:18] sqs commented on #849
It should take you to a search query for “go.imports:whatever/...” which is a query transformer registered by the Go extension (using @attfarhan’s work, plus adding support for /...). The /... can come in a second milestone, not necessary immediately.

[2018-12-14 21:35] sqs opened #1440 "Write a Human Interface Guidelines doc for extensions"
https://github.com/sourcegraph/sourcegraph/issues/1178 raises an issue: extensions need to follow certain guidelines to deliver a good UX.

- Don't use long labels on buttons, use an icon, number, or (if needed) very short phrase instead (kind of like how macOS global menu bar items usually do)

[2018-12-14 21:41] chrismwendt commented on #1426
# Go code intelligence

- Remove the old `langservers` entry for Go from https://sourcegraph.com/site-admin/configuration
- Follow https://github.com/sourcegraph/lang-go#usage-on-sourcegraph-3x-instances which walks you through deploying the Go language server locally in Docker or on Kubernetes and adding the appropriate Sourcegraph settings

[2018-12-14 21:48] ryan-blunden commented on #715
@xizhao We now have an [extension creator](https://www.npmjs.com/package/create-sourcegraph-extension) and [improved documentation](https://docs.sourcegraph.com/extensions/authoring)

There is also sample code for an [extension that lints Dockerfiles](https://github.com/sourcegraph/sourcegraph-extension-samples/tree/master/dockerfile-lint-extension) which would work similarly to a FOSSA extension

[2018-12-14 21:55] yevbar opened #1441 "Sourcegraph extensions with code comments in PRs"
#### Feature request description

Be able to use the Sourcegraph extension on commented code in PRs. Example [here](https://github.com/django/django/pull/10743#discussion_r240483712)

#### Is your feature request related to a problem? If so, please describe.

Using the Sourcegraph extension in a PR requires you to view the "Files changed" tab rather than directly in the referenced code in a commen

[2018-12-14 23:24] yevbar opened #1442 "unexpected panic error in sourcegraph/lang-go extension"
- **Sourcegraph version:**
- **Platform information:**

#### Steps to reproduce:

1. [https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/blob/dev/migrate-vanity.go#L37](https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/blob/dev/migrate-vanity.go#L37)

#### Expected behavior:

No errors, hovers and console don't let out any error messages

#### Actual behavior:

The following m

[2018-12-14 23:46] yevbar commented on #1442
For people that run into a similar situation, here was the reason for my error:

In my access tokens page, there wasn't a token labeled `go`. To view this on your account, go to `https://sourcegraph.com/users/USERNAME/account/tokens` and you should see a list of existing tokens on your Sourcegraph account.

If this is your issue, then here are the steps to resolve it:

1) Go to `https://sourcegrap

[2018-12-14 23:46] #1442 closed

[2018-12-14 23:46] chrismwendt commented on #1442
I confirmed this is caused by revoking the access token that sourcegraph/lang-go creates for the language server. Tracking the fix in https://github.com/sourcegraph/lang-go/issues/8

[2018-12-14 23:59] postables opened #1443 "Firefox Sourcegraph Extension Does Not Work"
Sourcegraph extension version: v18.12.13.848

OS: Pop!_OS 18.04 LTS (ubuntu fork)

Browser: Firefox 64.0 (Quantum) 64bit

Browser Extensions: NoScript (disabled it for this), HTTPSEverywhere (disabled it for this), UBlockOrigin (disabled it for this)

#### Steps to reproduce:

1. Install firefox extension
2. Enable extension on github domain
3. Browse to any github repo (such as https://github.com

[2018-12-15 00:01] sqs commented on #1174
@francisschmaltz 	I'll just find a place to add a badge to these reference results (idea 1 above) unless you have any better ideas.

[2018-12-15 00:10] yevbar opened #1444 "Opening extension from debug menu is broken"
- **Sourcegraph version:** sourcegraph.com
- **Platform information:** Sourcegraph Chrome extension

#### Steps to reproduce:

1. Enable the Ext debug menu ([here](https://docs.sourcegraph.com/extensions/authoring/debugging#enable-trace-logging) are the steps to do so if you haven't already)
2. Go to a file on [sourcegraph.com](https://sourcegraph.com)
3. Open the debug menu and select an extensio

[2018-12-15 00:13] francisschmaltz opened #1445 "Extension manifest should be validated before upload and not affect other extensions."
If an extensions has a bad manifest it affects Sourcegraph instances using extensions from sourcegraph.com.

We should:
1. Validate manifests
2. Prevent incorrect manifests from affecting other extensions.

[2018-12-15 00:26] francisschmaltz opened #1446 "Go code intel re-searches for matches when toggling basic-code-intel on and off"
When toggling basic-code-intel on and off from the references panel go code intel reference matches disappear and are searched for again.

https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/blob/cmd/frontend/auth/auth.go#L35:6&tab=references

![screen shot 2018-12-14 at 4 25 41 pm](https://user-images.githubusercontent.com/11583013/50036312-e7a3b400-ffbc-11e8-9e5a-3a8566b7f428.png)
![fuz

[2018-12-15 00:30] sqs commented on #1445
1 is not ideal because we still need it to be robust in case we forget validation cases or ever change the schema. #1447 does 2.

[2018-12-15 00:37] sqs commented on #1446
@chrismwendt this may be caused by the Go extension un/reregistering each time settings change instead of only when necessary. If it’s not a Go extension problem, please reassign to @lguychard

[2018-12-15 00:37] francisschmaltz commented on #1174
We should replace the repo badge with this icon if the match is from basic-code-intel:
https://materialdesignicons.com/icon/blur

[2018-12-15 00:57] ijsnow commented on #1443
Could you uninstall the extension and reinstall it and try again without clicking "enable on this domain"? [We have access to run on all domains because of a bug in Firefox](https://github.com/sourcegraph/sourcegraph/issues/760) so you don't need to click that button. We shouldn't show it in FF.

[2018-12-15 00:57] sqs commented on #1445
As Francis pointed out, we do need to do 1 before we return the JSON data to other instances. So I added that to #1447

[2018-12-15 00:58] #1445 closed

[2018-12-15 02:06] chrismwendt commented on #1446
Thanks for pointing that out, I [added `distinctUntilChanged`](https://github.com/sourcegraph/lang-go/commit/10abfa56dfb4cee87beb62f629fd64404efd5ab3) to the Go extension.

However, the problem persists. This appears to be an extension issue (not specific to the Go extension). References get recomputed even when the Go extension does not register/deregister the references provider. Assigning to @l

[2018-12-15 05:07] postables commented on #1443
:cry:  tried, and got the same issue.

[2018-12-17 04:56] sqs opened #1464 "TypeScript diagnostics show up before npm install is complete, are distracting"
When I go to https://sourcegraph.com/github.com/sourcegraph/sourcegraph@a8522961e56ced3892ca8850c32b0de404f44c2d/-/blob/shared/src/hover/actions.test.ts?diff=a8522961e56ced3892ca8850c32b0de404f44c2d&utm_source=chrome-extension#L54:21, I see a lot of TypeScript diagnostics that are only occurring because npm package installation isn't complete yet:

![screenshot from 2018-12-16 20-55-20](https://us

[2018-12-17 04:59] sqs opened #1465 "Hover remains after navigating to another file using sidebar"
Repro:

1. Go to https://sourcegraph.com/github.com/sourcegraph/sourcegraph@a8522961e56ced3892ca8850c32b0de404f44c2d/-/blob/shared/src/hover/actions.ts
2. Click on a token to get a hover
3. In the sidebar file tree, click `actions.test.ts` to go to that file

Expected: the hover goes away

Actual: the hover remains and displays the same thing

[2018-12-17 14:31] justinmydomain opened #1466 "Is gitlabAuth supported in version2.13.5"
Hello,

I am running a sourcegraph instance in my k8s cluster(connected to gitlab)  , using the built in authentication with username and password. For some reason when I am hovering over a function (python) , it doesn't show "Goto definitions", "Find references" pop ups , as expected.

Along with that I am using chrome extension in Gitlab, for source code search. Even if it showing its connected

[2018-12-17 14:47] tsenart opened #1467 "Proposal: Repository mirroring improvements"
## Background

As it's implemented today, repository mirroring isn't meeting user's expectations in a number of scenarios. Whenever admins or users of a configured external service do any of the below listed actions, Sourcegraph should gracefully converge the set of repositories it mirrors to what users expect following those actions, and do so with clear representation in its UI.

This is a sub-i

[2018-12-17 15:14] tsenart opened #1468 "Basic code intel on Markdown code blocks"
#### Feature request description

The `basic-code-intel` extension could be used on Markdown code blocks in any comment, issue or PR description.

#### Is your feature request related to a problem? If so, please describe.

No.

#### Describe alternatives you've considered.

No alternatives.

[2018-12-17 15:38] lguychard commented on #1339
Fixed in https://github.com/sourcegraph/sourcegraph/pull/1393

[2018-12-17 16:04] sqs commented on #1467
The desired behavior for renaming is that the repository’s name is also changed on Sourcegraph. The behavior described above is a good intermediate step, though.

---

Re: “modifying a repository”, what kinds of modifications are you thinking of? Right now there is no way for a user on Sourcegraph to modify the repository—all metadata comes from the external service. I think we should just assume

[2018-12-17 16:08] tsenart commented on #1467
We can implement that desired behavior for renaming with de-duplication. Not sure how otherwise.

As for the modifications, I was referring to upstream repo metadata modifications. For instance, if `github.repositoryQuery` filters repos with certain labels, and someone adds that label to a repo at a later point, we should start mirroring that repo.

Sent via Superhuman iOS ( https://sprh.mn/?vip=t

[2018-12-17 16:09] nicksnyder commented on #1467
Thanks for writing this up!

I have two thoughts about this (and that also apply to 3, 4, 5, 6).

(1)
Having a "disabled" state as you describe doesn't seem correct to me from first principles. Are you aware of any code hosts that behave like this? We aren't a code host, but we are similar and I don't see an argument why our users would expect any sort of grace period. As a user, I would be confus

[2018-12-17 17:00] nicksnyder commented on #1470
Solving https://github.com/sourcegraph/sourcegraph/issues/914 should solve this.

[2018-12-17 17:00] #1470 closed

[2018-12-17 17:01] nicksnyder commented on #1202
Agree that we need alerting for this. Will revisit alerting after we have our new deployment process ironed out.

[2018-12-17 17:30] #1339 closed

[2018-12-17 17:30] ryan-blunden opened #1471 "Remove (unintended) deprecation of extension API showNotification"
Extensions currently have no way of showing an error message, the other option being `showNotification` which is deprecated.

Looking at https://github.com/Microsoft/vscode/blob/master/src/vs/vscode.d.ts#L6291, maybe it's worth adding a `showWarningMessage` too.

[2018-12-17 17:41] beyang opened #1472 "Can't add public GitHub repository"
#### Steps to reproduce:

1. Pull latest master
2. Generate an access token
3. Add an external service config:
[code]
4. Go to http://localhost:3080/github.com/gorilla/mux. See this message:
![image](https://user-images.githubusercontent.com/1646931/50104858-f1593180-01df-11e9-8ac5-e4bb8d53bb52.png)

[2018-12-17 18:07] lguychard commented on #1116
@felker if all codecov actions disappeared from the command palette, it looks like your codecov extension might be deactivated. Can you verify that it's activated in your settings (on sourcegraph.com, or on your private Sourcegraph instance if you use one)?

[2018-12-17 18:22] tsenart commented on #1467
I am not aware of any code-hosts the have a grace period. But I know that code-hosts implement fail-safe UX patterns to prevent mistakes with sensitive or destructive operations. For instance, Github asks you to enter the name of a repository before deleting it in order to reduce the likelihood of absent mindedness ending up in unintended consequences.

Sourcegraph not being a code host is a criti

[2018-12-17 18:31] tsenart commented on #1467
Another thing that occurred to me, in addition to my above proposal: We should e-mail admins a daily digest of the changes in connected / mirrored repositories. This would give them the chance to react to unintended changes or to accelerate intended ones (bypassing the grace period).

[2018-12-17 20:03] nicksnyder commented on #1467
In my mind, the fact that GitHub makes you double confirm is a reason why it is ok for us to immediately delete (the user already confirmed their intentions), not a reason why we should do the same.

Anything that is just a cache (search index, git server), is totally fine to throw away. Data on gitserver is already lazily (not immediately) removed periodically. I don't know how we currently deal

[2018-12-17 20:54] felixfbecker commented on #524
I think @ryan-blunden  ment "same-repository" with "local". Same-file references were already shown before.

[2018-12-17 20:54] felixfbecker commented on #524
I am going to close this as wont-fix though because this is the same behaviour as VS Code / native tsserver.

[2018-12-17 20:54] #524 closed

[2018-12-17 20:56] beyang commented on #1472
I think this issue was caused by the old code host site config (from `dev-private`), which resulted in seeing the following errors:
![image](https://user-images.githubusercontent.com/1646931/50114908-b6182c00-01fa-11e9-8148-e21e2542c889.png)

Removing those fields from the config seemed to fix the issue. @nicksnyder assuming this is just due to the particular way we bootstrap the config in dev and

[2018-12-17 21:06] nicksnyder commented on #508
old issuek unable to repro

[2018-12-17 21:06] #508 closed

[2018-12-17 21:08] sqs opened #1473 "Redirect from references:external tab to references"

[2018-12-17 21:13] tsenart commented on #1467
Indeed, I agree. But there are other actions that admins (or non-admins) can perform upstream that will change the resulting set of repositories to be mirrored and processed on Sourcegraph: renames, token scope / permissions change, anything else affecting the results of the search query (if used) (e.g. `github.repositoryQuery`).

Do all of these actions expose the necessary UX confirmations that

[2018-12-17 21:16] nicksnyder commented on #1472
I left those fields in the dev site config because it was a working way to leverage the automatic migration to external services in a dev environment. I didn't realize the existence of those errors would break other things though.

This is the correct next step, thanks! This is also a checkbox in https://github.com/sourcegraph/sourcegraph/issues/914#issuecomment-440067022
"need solution for fixtur

[2018-12-17 21:38] sqs commented on #1471
Ideally we could extend showNotification to allow multiple levels (info, error, warn, etc.) instead of adding 1 new method per level

[2018-12-17 22:20] #692 closed

[2018-12-17 22:20] #1464 closed

[2018-12-17 22:20] chrismwendt commented on #697
The test infra has changed a lot, reopen if this happens again.

[2018-12-17 22:20] #697 closed

[2018-12-17 22:21] ryan-blunden opened #1474 "Extensions index page, extension toggles sometimes don't work"
- **Sourcegraph version:** 25705_2018-12-17_b40ca28 (25705_2018-12-17_b40ca28)
- **Platform information:** chrome, macOS Mojave

#### Steps to reproduce:

1. Go to sourcegraph.com/extensions
2. Click an extension's toggle twice quickly

Seems to happen if you toggle the state before the previous state change has been applied.

Also happens if you go back and forth between the extensions index tab

[2018-12-17 22:22] felixfbecker commented on #1471
So just undeprecate `showNotification()`?

[2018-12-17 22:32] chrismwendt commented on #783
Client settings got revamped since opening this issue.

[2018-12-17 22:32] #783 closed

[2018-12-17 22:36] ijsnow commented on #1439
Can't reproduce. Won't fix.

[2018-12-17 22:36] #1439 closed

[2018-12-17 22:37] #1279 closed

[2018-12-17 22:38] ijsnow commented on #1279
Discussed with Quinn and Nick and this isn't a priority right now.

[2018-12-17 22:43] ijsnow commented on #955
This will be addressed by changing the internal architecture of the `code_intelligence` directory and how we handle interactions with the DOM.

[2018-12-17 23:15] ryan-blunden opened #1476 "Border properties not reset when clearing line decorations"
- **Sourcegraph version:** 25705_2018-12-17_b40ca28 (25705_2018-12-17_b40ca28)
- **Platform information:** Chrome macOS Mojave

#### Steps to reproduce:

Enable and disable the Dockerfile lint extension.

My presumption is if I supply `editor.setDocorations` an empty array, it will clear decorations for all lines.

![sourcegraphextensionscleardecorations](https://user-images.githubusercontent.com/

[2018-12-17 23:18] nicksnyder commented on #1472
Hmm, I tested that code path last week and it was working so I will test it again.

[2018-12-17 23:19] chrismwendt commented on #958
Done! New docs and extension homepage: https://github.com/sourcegraph/lang-go

[2018-12-17 23:19] #958 closed

[2018-12-17 23:20] yevbar opened #1477 "Sourcegraph extension hover card not complete markdown"
#### Feature request description

To be able to use simple Markdown functionality in a hover card including links, dropdowns

#### Is your feature request related to a problem? If so, please describe.

The markdown renderer seems to sanitize a lot out of the given source. Doing the following:

[code]

Will give you an `a` tag but it won't point to a URL. And doing

[code]

Will render the summary

[2018-12-17 23:36] yevbar commented on #1477
@chrismwendt do you know if it'd be possible to remove some of the filtering with the markdown renderer?

[2018-12-17 23:38] yevbar commented on #1477
XSS and other attack vectors are irrelevant since they're already using a Sourcegraph extension which runs remote JavaScript in the user's browser :slightly_smiling_face:

[2018-12-17 23:39] beyang opened #1479 "Expired/invalid GitHub OAuth token is not visible to user"
Simple repro:
- Enable GitHub authz and add a repository that your user has access to, but a generic user does not (e.g., a private repo with no collaborators)
- Sign-in via GitHub
- Check that you can access the repo on Sourcegraph
- Invalidate the OAuth token by removing the OAuth app authorization in the GitHub UI
- Try to navigate to the repo. You should not be able to access it anymore, which

[2018-12-17 23:50] nicksnyder commented on #1472
Ok, what I actually tested last week was the code path that customers will go through (which is slightly different than what happens in dev). I confirmed again that the customer code path does work.

[2018-12-17 23:55] chrismwendt commented on #1477
Hmm, that sounds overly strict to me. I don't know off the top of my head, but @lguychard are you familiar with how the renderer is configured?

[2018-12-18 00:00] #1366 closed

[2018-12-18 01:13] ryan-blunden opened #1481 "Add directory property to extension json schema"

[2018-12-18 02:41] felker commented on #1116
Do you know if the Codecov +Sourcegraph instructions [here](https://github.com/codecov/sourcegraph-codecov) are still up-to-date? I didn't have a Souregraph account because I didn't think it was required for the Codecov functionality, and it worked without one until ~6 days ago. I've made one now, but haven't configured anything.

Now, viewing the example public repository file from those instruct

[2018-12-18 02:58] ijsnow opened #1482 "The "kind" selector doesn't get updated on the external services creation page"
#### Steps to reproduce:

1. Go to `/site-admin/external-services/add` and select `Gitolite`.
2. Observe the selector doesn't change
3. Add `?kind=gitolite` to the url and press enter
4. Observe the selector now says gitolite

[2018-12-18 03:08] sqs commented on #1116
Sorry, I will go update those docs. We made it so you need to enable the extension explicitly to use it (which currently requires you to have an account). We attempted to identify everyone who used it previously and enable it for them, but obviously the migration did not work in your case. Will investigate.

Anyway, @lguychard can continue troubleshooting the issue now that you have an account and

[2018-12-18 03:09] sqs opened #1483 "Update Codecov docs to mention account"
https://github.com/sourcegraph/sourcegraph/issues/1116#issuecomment-448076187

[2018-12-18 03:10] felker commented on #1116
How do you enable it in the Sourcegraph account?

[2018-12-18 03:54] ijsnow opened #1486 "Stop accessing data from window.context in core parts of our logic"
We store data on `window.context`. This makes writing unit tests hard because they will fail when trying to access data from there. It is also generally bad practice to extend globals in JS.

We should either:

1. Stop storing data there and fetch all data as we do in `siteFlags`
2. Change code architecture to only access global variables like this and pass it through the react application with re

[2018-12-18 03:54] ijsnow commented on #1486
cc @sqs @nicksnyder @felixfbecker for discussion

[2018-12-18 03:56] ijsnow opened #1488 "Use official amd loader for Monaco-editor"
Jest fails because it cannot find the `monaco-editor` module. [See this PR for more info.](https://github.com/sourcegraph/sourcegraph/pull/1484)

Assigning a few people for whoever gets to it first. I can do this tomorrow if no one else beats me to it.

[2018-12-18 04:00] sqs commented on #1486
Agree on the problem. Solution 3 sounds good because it addressss both data and things like the eventLogger. My personal philosophy is to start by passing things down as explicit props and use context extremely sparingly. It makes sense for eventLogger but maybe not everything else. I am fine with any solution and completely defer to what other people think here though.

[2018-12-18 06:00] #1472 closed

[2018-12-18 08:50] felixfbecker commented on #1488
What do you mean with “official AMD loader”?
AMD is a rather outdated technology, and I would rather stay away from the homrbaked loader stuff of vscode.
All that monaco does and webpack tranpiles for us is dynamic ESM import(), which is something our test env should support because we may want to use it in more places than just for monaco.

[2018-12-18 09:01] sqs commented on #1488
I mean the vs/loader.js AMD-style loader that they have. I remember it being a lot faster. I regret making it use Webpack for bundling. If I am wrong, then great. :smile:

[2018-12-18 10:03] tsenart commented on #1467
For posterity, the motivation for me to propose the deletion grace period was the wrong assumption that recomputing secondary indexes (search index) and re-filling caches (git-server) was something we wanted to avoid because it was expensive (particularly in the search index case). Tangentially, I also wasn't aware that both search and git-server had their own eviction policy implemented.

Having

[2018-12-18 10:49] tsenart commented on #1467
Here's the patch of the proposal, for transparency.

[code]

[2018-12-18 10:52] tsenart commented on #1467
@nicksnyder: Please take a look. It's updated in the issue's description.

[2018-12-18 14:09] nicksnyder commented on #1486
I haven’t done enough react to have a specific recommendation here. Generally explicitly pass it through

[2018-12-18 14:59] lguychard commented on #1363
It looks like the latest version of your extension doesn't have this problem anymore, did you add this check recently? `e.app.activeWindow && t(e.app.activeWindow.visibleViewComponents)` (quoting the minified code here as I don't have access to your extensions' source)

`activeWindow` is typed as `Window | undefined`, so you should always have been checking for its existence anyway, as it may have

[2018-12-18 15:54] nicksnyder commented on #1467
To be precise:
- gitserver currently only evicts on sourcegraph.com, but we might want to do this on private instances too in the new world
- I don't know what search already does off the top of my head (@keegancsmith would know but he is on vacation), but I assume we would want searcher to behave similarly as gitserver in the new world.

Since the repository is going to be removed from the UI, it

[2018-12-18 16:23] lguychard commented on #763
@joebowbeer Is the Codecov extension working correctly on private repositories for you now?

[2018-12-18 17:12] dadlerj opened #1490 "Code blocks on docs.sourcegraph.com don't scroll horizontally"
See https://docs.sourcegraph.com/user/user_surveys

[2018-12-18 18:02] ijsnow commented on #1486
I'm curious why we at Sourcegraph are against using context? Passing down this kind of data to deeply nested components across the entire react component tree was seen as a big enough problem for this to get built into react so why are we opposed to going with the community on this?

I think we'd see a lot cleaner code if we used context for this as well as things like `isLightTheme`. Color theme

[2018-12-18 18:04] nicksnyder commented on #1486
Abstractly, passing a (potentially) big bag of variables around seems like it might be inconvenient for testability (e.g. do you need to mock all the values?). But if that isn't a problem with React's context (which I know nothing about) and if using the React context is "normal", then I don't have a particular objection to it. My general principal is to be explicit.

[2018-12-18 18:48] #1482 closed

[2018-12-18 19:36] nicksnyder opened #1491 "There may be a problem with how we do DB migrations concurrently?"
Note from Stephen: The issue here is caused by the fact that we now have two services in local dev trying to migrate the DB at the same time. This is in fact already happening in prod/dogfood, because multiple frontend instances are running. This could indicate something wrong with the way we do DB migrations concurrently but I don't know for sure.

Management console migration issue.

This happen

[2018-12-18 20:43] ryan-blunden opened #1493 "Hover shows on GitHub but not GitLab for Dockerfile lint extension"
- **Sourcegraph version:** 25726_2018-12-18_8277ea5 (25726_2018-12-18_8277ea5)
- **Sourcegraph browser extension version:** v18.12.13.848
- **Platform information:** macOS Majova, Chrome 71.0.3578.98

#### Steps to reproduce:

1. Enable the extension Dockerfile lint extension: https://sourcegraph.com/extensions/ryan-blunden/dockerfile-lint
2. Go to https://github.com/ryan-blunden/learn-kubernetes/

[2018-12-18 20:46] ryan-blunden opened #1494 "Extension search matches only extension ID, not title"
Sourcegraph version: 25726_2018-12-18_8277ea5 (25726_2018-12-18_8277ea5)
Sourcegraph browser extension version: v18.12.13.848
Platform information: macOS Majova, Chrome 71.0.3578.98

![extensionsearchissue](https://user-images.githubusercontent.com/133014/50181991-f04d0080-02c2-11e9-843d-7ea61702d8de.gif)

[2018-12-18 20:48] sqs commented on #1494
It searches the extension id only. This is a bug. It needs to also look in the manifest JSON to search the title and description.

[2018-12-18 21:31] beyang commented on #1039
Yes they are. I'll review this week.

[2018-12-18 21:32] beyang commented on #1376
I'll resolve this today.

[2018-12-18 21:41] vanesa commented on #1363
You should be able to see the extension's code here: https://github.com/sourcegraph/sourcegraph-datadog-metrics
I had published a version of the extension with a workaround so that it wouldn't show the issue, but I republished it without it now, so you should be able to see the error again.

[2018-12-18 23:01] ryan-blunden opened #1497 "Editor/title buttons need horizontal padding on Sourcegraph"
Sourcegraph version: 25726_2018-12-18_8277ea5 (25726_2018-12-18_8277ea5)
Sourcegraph browser extension version: v18.12.13.848
Platform information: macOS Majova, Chrome 71.0.3578.98
#### Steps to reproduce:

1. Publish and enable [Python Button](https://github.com/sourcegraph/sourcegraph-extension-samples/tree/master/py-button)
2. View a [python file](https://github.com/django/django/blob/master/s

[2018-12-18 23:33] ijsnow commented on #1488
Perhaps one of you two should take a look at this then. I'm having trouble finding exactly what we're doing with monaco editor that is weird. It looks like our setup should already support dynamic imports so I'm not sure why it wouldn't work. Could you point me to where I should be looking?

[2018-12-18 23:59] beyang commented on #1376
@francisschmaltz this should be fixed by https://github.com/sourcegraph/sourcegraph/pull/1480. Can you try again with the latest insiders build?

[2018-12-19 00:20] yevbar opened #1498 "Sourcegraph Code Climate extension design"
#### Feature request description

A [Sourcegraph extension](https://docs.sourcegraph.com/extensions) for [Code Climate](https://codeclimate.com/)!

1) View decorated lines with errors/suggestions
[code]

2) Be able to view grade of repository when looking at a file (right now the sourcegraph extension triggers when viewing a file)
![grade_a_code](https://user-images.githubusercontent.com/10301415/

[2018-12-19 00:21] yevbar commented on #1498
@ryan-blunden Here's the overview for the Codeclimate extension that I suggested

[2018-12-19 00:45] ryan-blunden commented on #752
![screen shot 2018-12-18 at 4 44 03 pm](https://user-images.githubusercontent.com/133014/50191802-45e5d500-02e4-11e9-9714-ec71943ba88e.png)

The View file button is misaligned too.

[2018-12-19 00:53] ryan-blunden opened #1499 "Browser extension intermittently fails on GitLab"
Sourcegraph version: 25726_2018-12-18_8277ea5 (25726_2018-12-18_8277ea5)
Sourcegraph browser extension version: v18.12.13.848
Platform information: macOS Majova, Chrome 71.0.3578.98

#### Steps to reproduce:

1. Navigate around GitLab or continually refresh

![gitlab](https://user-images.githubusercontent.com/133014/50191981-39ae4780-02e5-11e9-92b5-ae8f6a7543bd.gif)

It produced this error:

[code

[2018-12-19 01:10] yevbar opened #1500 "Sourcegraph Extension for Deploying Code"
#### Feature request description

A [Sourcegraph extension](https://docs.sourcegraph.com/extensions) for deploying code onto a platform (e.g. [now](https://zeit.co/now), [Heroku](https://www.heroku.com))

#### Is your feature request related to a problem? If so, please describe.

I would like to be able to come to a repository on GitHub and deploy an instance of whatever the repository is holding

[2018-12-19 01:11] yevbar commented on #1500
@ryan-blunden here's another one! :rocket:

[2018-12-19 02:45] chrismwendt commented on #139
I confirmed this is an issue in go-langserver. Specifically in the URL rewrite code, it checks for dependencies by prefix:

https://github.com/sourcegraph/go-langserver/blob/d032df118c7de2909eb86c6af922865548cea598/buildserver/build_server.go#L499-L503

I'm working on a fix now.

[2018-12-19 05:26] nicksnyder opened #1502 "No TypeScript code intel on GitHub.com"
Go to https://github.com/sourcegraph/sourcegraph/blob/master/web/src/backend/graphql.tsx and see no code intelligence.

Error in the console:

[code]

We noticed this after we deployed the new prod cluster. I unfortunately don't know if this was an issue pre-deploy.

[2018-12-19 05:34] #139 closed

[2018-12-19 11:12] felixfbecker commented on #1502
If this does not happen on Sourcegraph then it looks like a browser extension issue to me, specifically a permissions issue, and I assume it happens for all extensions not just typescript. What browser are you using?

[2018-12-19 11:42] lguychard commented on #1502
This does not happen for all extensions, happens only for lang-typescript (eg no issue for lang-go)

[2018-12-19 11:44] felixfbecker opened #1504 "Browser extension doesn't handle if repo is cloning"
![image](https://user-images.githubusercontent.com/10532611/50218299-ba278380-038b-11e9-80fd-e8fadcd628cf.png)

This happens if a repo is clone-in-progress. The worst about this is that apparently we throw a plain object somewhere so we don't have a stack trace. We must always throw Error instances.

[2018-12-19 12:08] felixfbecker commented on #1502
Filed https://github.com/lightstep/lightstep-tracer-javascript/issues/141

[2018-12-19 12:30] lguychard commented on #1363
Closing as there's no racy behaviour here: sourcegraph-datadog should explicitly check for possible undefined value of `activeWindow` rather than using non-null assertions (https://github.com/sourcegraph/sourcegraph-datadog-metrics/blob/master/src/datadog-metrics.ts#L36)

[2018-12-19 12:45] felixfbecker commented on #1502
Fixed by removing Protobuf support in our fork
Also released new bext version

[2018-12-19 12:45] #1502 closed

[2018-12-19 13:08] lguychard commented on #1116
Awesome!

No, you shouldn't enable the Codecov WIP extension.

Would you mind posting a screenshot of all codecov actions available to you from the command palette when browsing a private code view?

![image](https://user-images.githubusercontent.com/1741180/50222108-85212e00-0397-11e9-80ed-b8c04ab93008.png)

[2018-12-19 15:13] sqs commented on #1477
The markdown rendering still occurs in codeintellify. That hasn’t changed yet.

[2018-12-19 16:04] francisschmaltz opened #1506 "Unable to load management console"
Sourcegraph management console fails to load on `sourcegraph/server:insiders` images `ca71df9ddfd0` and `349f9568a97b`.

On the client console I get the error `(kCFErrorDomainCFNetwork error 303.)` and on the server I have errors:

[code]

[2018-12-19 16:15] francisschmaltz opened #1507 "Document how to use custom TLS certificates with management console"
3.0 Management console should have to ability to use custom certificates to allow trusted SSL communication to the server. Currently, having the self-signed root cert causes loading issues if HSTS is used on the server normally. This causes the site to fail to load (without ability to proceed) in Chrome and fails to load in Safari.

If the web server uses HSTS for the SSL cert for Sourcegraph (whi

[2018-12-19 16:17] francisschmaltz commented on #1507
I did try to replace the certs in `~/.sourcegraph//config/management/` with customer certs but they were not used to server the management console – even after a restart of the docker image (You could also trust the Root CA just for the management console – but this seems like a bad solution since I've experienced the cert being regenerated when deploying new versions of `:insiders`).

[2018-12-19 16:20] francisschmaltz commented on #1506
I also tried disabling HSTS in the nginx server (although it doesn't server the management console - see
https://github.com/sourcegraph/sourcegraph/issues/1507 ) and it did not resolve the issue.

[2018-12-19 16:30] felker commented on #1116
Done.

![screen shot 2018-12-19 at 11 28 45 am](https://user-images.githubusercontent.com/1410981/50233440-7596ea80-0381-11e9-871c-dc0ae35375b8.png)

[2018-12-19 19:48] AlexNPavel commented on #1443
I'm also having this problem with the latest extension and Firefox 64 on Fedora. Occassionally I will get a small box with "Go to Definition" and "Find References", but the usual code insights/documentation don't appear, and most functions don't have any hover action

[2018-12-19 20:00] AlexNPavel commented on #1443
This same issue happens on the sourcegraph page (without the content security policy error in the console). I'll attach a sceenshot as an example:
![screenshot from 2018-12-19 12-00-20](https://user-images.githubusercontent.com/3813031/50244794-af69f000-0385-11e9-93c1-2b8d6a04b7a7.png)

[2018-12-19 20:12] dadlerj opened #1509 "Hovers broken on homepage (basic code intel turned on by default)"
Open https://sourcegraph.com in an incognito window, notice no hover appears on code

[2018-12-19 20:17] chrismwendt commented on #1509
This is a bug related to access tokens in lang-go, I'm working on a fix right now.

[2018-12-19 20:20] #1509 closed

[2018-12-19 20:30] AlexNPavel commented on #1443
I was able to get it working by going to the extension's settings and enabling "Use extensions" in the "Experimental configuration" section. It is now working as expected and showing the function signatures and documentation when I hover over a function.

[2018-12-19 20:39] felixfbecker commented on #1488
@ijsnow do you have an error message or something to share?

[2018-12-19 22:05] felixfbecker commented on #1282
I see external references now even when the rev is HEAD so I assume this is fixed.

![image](https://user-images.githubusercontent.com/10532611/50250940-8f1c4e80-03e2-11e9-8d5b-6a002747ec82.png)

[2018-12-19 22:05] #1282 closed

[2018-12-20 01:24] ryan-blunden opened #1510 "Bullet points in hover markdown not rendered on GitHub"
Sourcegraph version: 25726_2018-12-18_8277ea5 (25726_2018-12-18_8277ea5)
Sourcegraph browser extension version: v18.12.19.1240
Platform information: macOS Majova, Chrome 71.0.3578.98

#### Steps to reproduce:

1. View [Dockerfile on Sourcegraph](https://sourcegraph.com/github.com/ryan-blunden/learn-docker@master/-/blob/mkdocs/Dockerfile) to see expected styling.

<img width="973" alt="screen shot

[2018-12-20 01:39] ryan-blunden opened #1511 "Browser extension not running on GitHub despite being enabled"
Sourcegraph version: 25726_2018-12-18_8277ea5 (25726_2018-12-18_8277ea5)
Sourcegraph browser extension version: v18.12.19.1240
Platform information: macOS Majova, Chrome 71.0.3578.98

#### Steps to reproduce:

I don't know the exact steps to replicate this but other weird behavior I noticed was having to enable the extension to work on GitHub every time I opened a new tab. Wanted to report it as t

[2018-12-20 04:32] sqs commented on #1510
Guessing this is a CSS issue, not an extensions rendering issue, so relabeled to `browser-extension`.

[2018-12-20 04:33] sqs commented on #1511
Added to 3.0 milestone because @ryan-blunden reported it happening frequently, which makes it an important issue. If it is not repro'able, then move to backlog milestone.

[2018-12-20 04:43] sqs opened #1512 "Make "Help" on Sourcegraph.com link to docs.sourcegraph.com"
The "Help" link on Sourcegraph instances links to their builtin `/help` pages. This is so that users can always view the docs for their version of Sourcegraph. This creates confusion for Sourcegraph.com users because there are 2 places with the current docs:

- https://docs.sourcegraph.com
- https://sourcegraph.com/help

To avoid confusion, we should standardize on the latter if users are coming f

[2018-12-20 04:43] sqs opened #1513 "Make it easier to find the search query syntax documentation"
As a user who is performing searches, I want to be able to quickly understand what kind of queries Sourcegraph supports. It takes ~3-4 clicks to get to the query syntax doc page (https://sourcegraph.com/help/user/search/queries#diff-and-commit-searches-only).

[2018-12-20 04:43] sqs opened #1514 "Document more clearly that the Go regexp engine is used for our search queries"
As a user who is performing complex regexp searches, I want to know what regexp syntax is supported. It was not clear to me that the regexp syntax was that of Go's regexp/syntax package.

Requested by @P3GLEG

[2018-12-20 04:44] sqs opened #1515 "Fix 404s in docs and in repo READMEs"
A user @P3GLEG reported that our docs and various repository READMEs have many broken links. We need to have an automated way to identify and prevent these errors.

- [x] Identify and fix all current 404s in doc pages
- [x] Identify and fix all current 404s in repository READMEs
- [x] Identify and fix all current 404s otherwise in our repositories (e.g., in comments, in blog posts, etc.)
- [ ] Mon

[2018-12-20 04:44] sqs opened #1516 "Add more example GraphQL queries to the docs"
As a user who is not familiar with GraphQL or the Sourcegraph GraphQL API, I want to see more example queries to perform common tasks in the Sourcegraph GraphQL API documentation examples page. Specifically, I would like to see an example of how to query for all discussion threads on a given file in a repository.

Requested by @P3GLEG

[2018-12-20 04:44] sqs opened #1517 "Show SLOC count for repositories"
As a user who is not familiar with all of the repositories and who needs to review all code in multiple repositories, I want to be able to see the relative sizes of repositories. This will help me know how to divide up the work among my team and how to schedule the work.

https://github.com/AlDanial/cloc

Requested by @P3GLEG

[2018-12-20 04:45] sqs opened #1518 "Send password reset URL by email after site admin resets user password"
As a site admin, I want users to receive an email with the reset password URL after I reset their password in the site admin users page, instead of getting a URL to give them. Users perceive it as insecure if they receive a (e.g. Slack) chat message from the site admin with the URL, and they would consider it more secure to receive it over email. (This would only occur if the site config `email.sm

[2018-12-20 04:45] sqs commented on #1518
Resolution: wontfix. The site admin having access to this URL is not less secure, because site admins can assume control over any user's account anyway. This is also low priority because organizations who are concerned with custody of user accounts will be using an external auth provider (SSO) anyway.

[2018-12-20 04:45] #1518 closed

[2018-12-20 04:45] sqs opened #1519 "Send new users (added by site admin) the password reset URL over email"
As a site admin, I want new users (added by me in the site admin area) to receive an email with a URL they visit to create a password, instead of me (the site admin) getting the URL to copy-paste to them. This would make it faster to add many users (because I wouldn't need to open a private chat with each user and paste them a link). It would also reduce the likelihood of me making a mistake and s

[2018-12-20 04:47] sqs opened #1520 "Make it clear to Enterprise trial license key holders that the single-Docker container deploy is OK"
From a user (paraphrased):

[2018-12-20 04:47] sqs commented on #1520
@KattMingMing 	Can you check the emails and other links you are sending to see how to avoid this confusion? Reported by @P3GLEG.

[2018-12-20 04:48] sqs opened #1521 "Help k8s installers avoid/detect underprovisioned clusters"
As someone deploying Sourcegraph to a Kubernetes cluster using https://github.com/sourcegraph/deploy-sourcegraph, I want the documentation to help me avoid the problem of underprovisioning my k8s cluster. This leads to a confusing state; in this case, I saw that the redis-store pod was "Pending" and not being scheduled. I want the troubleshooting steps to include this problem, and I want the docs

[2018-12-20 04:48] sqs opened #1522 "Validate repository names and allow deleting repositories with invalid names"
As a site admin, I want to be able to delete repositories with invalid repository names that were inadvertently added. For example, if a repository name has a trailing slash (`foo/bar/`), it is not possible to delete it. This is because you need to navigate to a repository's settings page to delete it `https://sourcegraph.example.com/foo/bar/`, but the trailing slash will be elided by the URL rout

[2018-12-20 04:49] sqs opened #1523 "Support custom ACLs for repositories"
As a site admin who has added repositories from many code hosts from my local disk, I want to be able to define custom ACLs for which (Sourcegraph) users and organizations may view which repositories. Sourcegraph's existing ACL support does not support my use case because the repositories are added from local disk, not from a code host, so there are no code host ACLs to rely on.

Code discussions

[2018-12-20 04:50] sqs opened #1524 "Get equivalent GraphQL query from a search results page"
As an engineer who wants to use search to identify a list of problem locations and fix them all, I want to be able to see the GraphQL query that will return equivalent results to what I am seeing on the page. This would help me transfer the query into a script that I can run on the command line to dump all result locations.

Requested by @P3GLEG

[2018-12-20 04:51] sqs opened #1525 "Export search results to CSV"
As an engineer who needs to take/assign specific actions for lines matching a particular pattern, I want to be able to export search results to CSV from the search results page. I would then open this CSV in a spreadsheet application and work down the list, checking off rows as I handle them. I can't do this on Sourcegraph because the search results page is not persistent; the results might change

[2018-12-20 04:51] sqs opened #1526 "Checklist-based repository reviews"
As a security engineer performing a non-blocking review of an existing repository, I want to be able to define patterns to match potentially dangerous code and collaborate with other security engineers on reviewing matches in a repository. This will help us perform a thorough review more efficiently. It will also make it easier for us to monitor the repository on an ongoing basis and for the usual

[2018-12-20 05:01] sqs opened #1527 "Make it easier to add repositories that exist on my disk"
As a site admin who *X* (see below for the multiple values of *X*), I want to be able to quickly and easily add repositories that I have on disk. The current way of adding repositories from disk (https://docs.sourcegraph.com/admin/repo/add_from_local_disk#add-repositories-already-cloned-to-disk) is too cumbersome because:

- It requires complex-sounding Git features that I distrust
- It requires m

[2018-12-20 05:01] sqs commented on #226
Closing in favor of #1527, which is a general tracking issue for this feature

[2018-12-20 05:02] #226 closed

[2018-12-20 05:45] chrismwendt commented on #394
I attempted a repro using these two repos:

- https://github.com/chrismwendt/Foo with an [import comment](https://golang.org/cmd/go/#hdr-Import_path_checking) of `package Foo // import "github.com/chrismwendt/Foo"`
- https://github.com/chrismwendt/Bar which imports Foo using `import "github.com/chrismwendt/foo"` (notice it's not capitalized)

Based on my experimentation, Go rejects `go run main.go

[2018-12-20 07:04] P3GLEG commented on #1515
Here is a file with the 404's I found today. It was automated so there is stuff to ignore. I cloned repos for the last 2 weeks and regexed through them for urls related to sourcegraph.com then requested them.

The CSV is attached and separated by "," and multiple filenames are separated by "||"
[badurls.txt](https://github.com/sourcegraph/sourcegraph/files/2697674/badurls.txt)

[2018-12-20 07:04] P3GLEG commented on #1515
Here's the ugly script to do it
`import requests
import re
import glob
import os
from urllib.parse import urlparse

results = {}
for filename in glob.iglob('./**/*', recursive=True):
    if os.path.isfile(filename):
        with open(filename) as f:
            try:
                urls = re.findall(r'''(?i)\b((?:https?:(?:/{1,3}|[a-z0-9%])|[a-z0-9.\-]+[.](?:com)/)(?:[^\s()<>{}\[\]]+|\([^\s()]*?\(

[2018-12-20 10:25] felixfbecker commented on #1525
If anyone needs this right now, this is trivial to do with PSSourcegraph:
[code]

[2018-12-20 12:33] felixfbecker opened #1528 "Clone URL resolve API cannot handle GitHub URL if it has www. prefix"

[2018-12-20 12:44] bencripps opened #1529 "Delete repo list"
#### Question description

In a situation where you'd you like to wipe/destroy the current repo list, is there a simple way to wipe the existing repos/index/repo-list, and then re-clone based on a new repo query (I'm using gitlab, but believe this is a more general question)?

#### Additional context

I'm sure I could remove the underlying indexes, repos from disk, but I'm wondering if there'a a m

[2018-12-20 13:14] lguychard commented on #1526
"Feeding a list of patterns to a Sourcegraph extensions" is essentially done in https://github.com/lguychard/sourcegraph-configurable-references. For now, this only allows goto def/ref,  but it could easily highlight the matches while browsing the code view as well, and search for matches in a given repository (once we extend the extension API to support augmenting repository overview / repository

[2018-12-20 15:20] francisschmaltz opened #1532 "Revert title case – blog posts"
https://github.com/sourcegraph/about/issues/14

Revert back to sentence case for blog posts and other documentation.

[2018-12-20 18:50] nicksnyder opened #1534 "Proposal process"
Proposal: https://github.com/sourcegraph/sourcegraph/pull/1492

Checklist:
- [x] Merge https://github.com/sourcegraph/sourcegraph/pull/1492 by Dec 21, 2018 to unblock the creation of new proposals.
- [x] Discuss proposal process during team meeting on Jan 7, 2019
- [ ] Get written confirmation for each engineer that they have read https://github.com/sourcegraph/sourcegraph/pull/1492 and have raise

[2018-12-20 18:57] dadlerj opened #1535 "Browser ext doesn't work w/o "Enable on this domain", but this isn't obvious to users"
After a long discussion with an Engineer at Codecov trying to debug why they couldn't see anything from Sourcegraph on GitLab, we finally discovered they hadn't yet "enabled" it on that domain (by default, it only works on github.com I believe).

Can we either:
1) make it work by default on gitlab.com and other major code hosts
2) add a badge/alert to the ext icon if it's not enabled (like how oth

[2018-12-20 18:58] dadlerj commented on #1535
"enable on this domain" is only visible when you right-click on the browser extension icon:

![image](https://user-images.githubusercontent.com/5589410/50304918-2c5c9e80-0446-11e9-9804-722feec33834.png)

[2018-12-20 19:00] francisschmaltz commented on #1535
@dadlerj @ijsnow There should be a button in the extension that allows to add the domain. zpl.io/blZNDrz

[2018-12-20 19:31] AlexNPavel commented on #1443
It actually works even without the Use extensions config enabled now... I don't know why but it just works now. However, it does not work in PRs if I am logged in. It works in PRs if I am logged out though. Should I open a separate issue for that? One of my coworkers was experiencing that as well, in both Chrome and Firefox

[2018-12-20 20:00] slimsag commented on #1436
This affects all cluster deployments running the latest 3.0 alpha, and prevents saving the site config. We will need to fix this ASAP + cut a new alpha release + bump the image tags in deploy-sourcegraph-docker

[2018-12-20 20:15] nicksnyder opened #1536 "Test license key on k8s deployment"
https://sourcegraph.slack.com/archives/C0B2RU51Q/p1545328332205500

[2018-12-20 21:33] hzsweers commented on #2
Would it be possible to start with just basic syntax highlighting?

[2018-12-20 22:03] chrismwendt commented on #394
Same here 🎄

I did a bit more experimentation:

- When I remove the import comment, it runs successfully
- `go get github.com/chrismwendt/Bar` creates 2 directories `Bar` and `foo` under my `$GOPATH` (notice that `foo` is lower case, which matches the import statement in `Bar/main.go`)
- Code hosts (at least GitHub and Bitbucket) are able to find repos regardless of case (e.g. `git clone https://b

[2018-12-20 22:23] dadlerj opened #1537 "Only a subset of GitLab repositories appearing in Sourcegraph"
A user reported "setting it up with Gitlab or Gerrit repos has been torturous" — this is a tracking issue for these problems (will be updated as more information is available).

Potentially related:
* https://github.com/sourcegraph/sourcegraph/pull/1103 (slated for 3.0)
* https://github.com/sourcegraph/sourcegraph/issues/1467

Reported by https://app.hubspot.com/contacts/2762526/company/981045254

[2018-12-20 23:55] nicksnyder opened #1538 "Remove config-file.ConfigMap.yaml from deploy-sourcegraph, prod, dogfood, deploy-sourcegraph-docker"
[code]

[2018-12-20 23:56] nicksnyder commented on #1538
Nevermind, I just saw this comment

[code]

[2018-12-21 00:58] nicksnyder commented on #1536
@sqs I tested spinning up a GCP k8s cluster using deploy-sourcegraph v2.13.5 and had no issues adding a license key

[2018-12-21 00:58] #1536 closed

[2018-12-21 01:03] yevbar commented on #1477
@felixfbecker thanks for the link! I'll be making a PR soon :slightly_smiling_face:

[2018-12-21 01:17] yevbar commented on #1477
@felixfbecker @sqs I put in the needed tags and created a PR:
[https://github.com/sourcegraph/codeintellify/pull/83](https://github.com/sourcegraph/codeintellify/pull/83)

[2018-12-21 01:55] chrismwendt opened #1540 "JSONC in external services config causes 500"
- Open http://localhost:3080/site-admin/external-services
- Create a new service
- Save the default text (make sure it includes a comment `// ...`):

[code]

- Open http://localhost:3080/github.com/gorilla/mux/-/blob/mux.go
- Notice a 500:

![image](https://user-images.githubusercontent.com/1387653/50320253-5b900180-0480-11e9-8506-0230a25247f7.png)

[2018-12-21 07:59] #1465 closed

[2018-12-21 11:13] #1344 closed

[2018-12-21 12:38] felixfbecker commented on #1190
Also seems to happen for references providers after the panel already got closed. TypeScript will keep searching dependent after dependent (and show progress indicators)

[2018-12-21 14:10] johanbrandhorst commented on #744
FYI, your README still points at this issue, I assume you want to update it :).

[2018-12-21 17:02] #1528 closed

[2018-12-21 17:31] felixfbecker commented on #1548
This is still an issue.

[2018-12-21 22:57] nicksnyder opened #1550 "Replacement for repos.list"
https://github.com/sourcegraph/sourcegraph/pull/1391 removed support for repos.list because that configuration option didn't fit in with how we wanted to model code host connections with external services.

repos.list served as an escape hatch for code hosts that we don't have explicit API integrations for (e.g. bitbucket.com). It is incredibly valuable to be able to say "we support any Git code h

[2018-12-21 23:01] dadlerj commented on #1550
What code hosts would be initially supported with a built-in service?
* GitHub.com
* GitHub Enterprise
* GitLab
* Bitbucket Server
* Bitbucket.com (?)
* Phabricator (?)
* Gitolite (?)

[2018-12-22 00:24] chrismwendt opened #1551 "Improving language support in 2019"
See the proposal: https://github.com/sourcegraph/sourcegraph/pull/1541

- [ ] By ?, publish a blog post with modified version of this proposal that communicates our high level plan and states what Sourcegraph wants in terms of language support. Briefly summarize and link to the master plan. Mention that we'll help with sponsorship, technical advice, getting feedback, etc.
- [ ] By ?, update langse

[2018-12-22 08:22] sqs opened #1552 "add back blame-on-current-line behavior to git-extras"
Sourcegraph used to show blame info for the selected line. Now it only lets you toggle blame on/off for the entire file, and it shows the blame info for the first line of each hunk. Many people liked the previous behavior, and we want to bring it back.

Blocked on #2026 to add the extension APIs necessary for this.

[2018-12-22 09:21] sqs opened #1553 "Revert to using upstream reactstrap when new release is published"
When a release of `reactstrap` that incorporates https://github.com/reactstrap/reactstrap/pull/1254#issuecomment-434401397 is published, we should use it instead of this self-published package (from our `package.json`):

[code]

(I self-published that to incorporate the fix to https://github.com/reactstrap/reactstrap/issues/1201, which was preventing any child components of CommandList in the web

[2018-12-22 09:38] felixfbecker opened #1554 "Send Content-Length from archive raw API"
Without a `Content-Length` header, we cannot show a deterministic progress indicator from language servers. We currently show MB downloaded, which actually caused some users to think it is downloading a repo to the user's disk and to uninstall the browser extension.

@slimsag mentioned we serve most archives from a cache so we could get a Content-Length from a stat in almost all cases.

[2018-12-22 10:32] sqs commented on #1486
#1555 (eeeda70ffc0559eb022f5acce1a76b395d0a9614) passes eventLogger via context. Only ActionItem is using it; I did not update any other components to grab eventLogger from context.

[2018-12-23 00:14] chrismwendt opened #1556 "Python language support via extension"
This is part of the larger initiative of improving language support in 2019: https://github.com/sourcegraph/sourcegraph/issues/1551

- Language server: https://github.com/Microsoft/python-language-server
- WIP fork: https://github.com/sourcegraph/python-language-server/tree/wip2
- WIP extension
  - Extension https://sourcegraph.com/extensions/sourcegraph/python
  - Repository https://github.com/so

[2018-12-23 02:52] sqs opened #1558 "Extension contributions page shows command, not id, as name"
https://sourcegraph.com/extensions/sourcegraph/git-extras/-/contributions the `Name` should be the action ID, not the action command.

[2018-12-23 03:01] #1558 closed

[2018-12-23 06:03] #1418 closed

[2018-12-23 08:20] sqs commented on #1483
fixed in https://github.com/codecov/sourcegraph-codecov/pull/15

[2018-12-23 08:20] #1483 closed

[2018-12-23 09:03] sqs commented on #1514
https://github.com/sourcegraph/sourcegraph/pull/1567 will make it easier to find the search query doc page (https://docs.sourcegraph.com/user/search/queries), which says:

I believe that will solve this problem. If anyone disagrees, speak up.

[2018-12-24 00:40] felixfbecker opened #1570 "Cannot add repositories from GitHub to local instance since external services"
When going to http://localhost:3080/github.com/codecov/sourcegraph-codecov I get this screen:

![image](https://user-images.githubusercontent.com/10532611/50388610-2273bd80-071c-11e9-80a5-e805b8b0374a.png)

This is a public GitHub repo, so I would expect it to "just work", at least for our dev instances (which used to be the case).

When clicking on "adding an external service" (which is almost im

[2018-12-24 14:44] sqs opened #1571 "Lazy-load GraphiQL CSS"
Removing GraphiQL CSS from our main CSS bundle reduces its size (unminified/uncompressed) from 864kb to 662kb, a 25% savings. GraphiQL is only used on the API console.

I presume there would be a similar savings on the JS side, too. I suspect the main win would be saving on parsing/computation, not on downloads, since minification probably compresses these rules pretty well.

When doing this, we n

[2018-12-24 15:23] JoshuaKGoldberg opened #1572 "Notifications popping up on github.com PRs"
- **Sourcegraph version:**
- **Platform information:**

#### Steps to reproduce:

1. Install your Chrome extension
2. Visit a PR on GitHub

#### Expected behavior:

No in-page notifications

#### Actual behavior:

`<div class="sourcegraph-notifications">...</div>` on the page:

![image](https://user-images.githubusercontent.com/3335181/50402624-dd747900-0765-11e9-9cbc-74ec3c269403.png)

wat

[2018-12-24 15:38] sqs commented on #1572
Now that notifications are used for passive progress indicators (instead of just in response to Sourcegraph-specific actions taken by the user), we need to find a way to make them either not show up on GitHub or be much less distracting.

[2018-12-24 21:30] ijsnow commented on #1572
Should this be up to the discretion of extension developers? For example, the image in this issue is about the typescript extension's diagnostics. Should that extension just provide a setting for whether or not a user would like to see this information? cc @felixfbecker

[2018-12-24 21:36] ijsnow commented on #1511
Moving to backlog because there isn't enough information to reproduce this.

[2018-12-24 21:46] felixfbecker commented on #1572
Imo these progress indicators are universially useful because it is useful to know for the user what the language server is doing (and why e.g. hovers are not showing yet). But they look a lot more distracting on GitHub than on sourcegraph.com. I think the browser extension should find a better way to integrate these into GitHub that feels less distracting:

- Less out-of-place colors, e.g. white

[2018-12-24 21:48] #1201 closed

[2018-12-25 22:55] JoshuaKGoldberg opened #1574 "Sidebar explorer doesn't scroll vertically from scrolling after scrolling horizontally"
- **Sourcegraph version:** Sourcegraph.com
- **Platform information:** Surface Laptop running Chrome 71 on Windows 10

#### Steps to reproduce:

1. Visit a repo file with enough files in the repo tree to cause both horizontally and vertical scrollbars. Example: https://sourcegraph.com/github.com/Microsoft/tslint-microsoft-contrib@9084d549f575db25c5818d6196ab8d381f9253fd/-/blob/src/tests/MissingOpt

[2018-12-25 22:59] JoshuaKGoldberg commented on #1574
😕 I was able to repro this on multiple pages but am no longer able to... spooky. Never mind!

[2018-12-26 19:53] sqs commented on #579
For 3.0, all we need to fix is #1561, which is about not showing basic-code-intel's hovers when a more precise hover is available.

[2018-12-26 19:54] sqs commented on #1302
For 3.0, all we need to fix is #1561, which is about not showing basic-code-intel's hovers when a more precise hover is available. Definitions/references are less of a problem because they are already deduplicated, and if there are extraneous matches (most common in the case of references), there is already a toggle action to hide them.

[2018-12-28 07:06] sabyasachi opened #1579 "Code search hangs until I restart sourcegraph"
- **Sourcegraph version:** 2.13.5
- **Platform information:**
- OS version:
`$ cat /etc/centos-release`
CentOS Linux release 7.5.1804 (Core)
`$ uname -a`
Linux localhost.localdomain 3.10.0-123.el7.x86_64 #1 SMP Mon Jun 30 12:09:22 UTC 2014 x86_64 x86_64 x86_64 GNU/Linux
- Cloud provider: NA
- Web browser version: Google Chrome Version 71.0.3578.98 (Official Build) (64-bit)
- Docker version:
`$ doc

[2018-12-29 07:52] sqs opened #1580 "Show file icons on directory page"
From https://twitter.com/srcgraph/status/1078011692871757825, a request to show different icons depending on the file type on the directory page.

[2018-12-29 07:53] sqs opened #1581 "Show last commit and file size, etc., on directory page"
From https://twitter.com/srcgraph/status/1078011692871757825, a request to show each file/dir's last commit and size, and possibly other things, on the directory page.

Related: #1580

[2018-12-29 07:54] #1512 closed

[2018-12-29 15:34] sqs commented on #1579
Thanks for reporting this and sorry you are experiencing it. We haven’t received reports of this happening before, but I have a couple ideas for further investigation.

1. What does `docker top` on the Sourcegraph container report? (Any long-running git processes would be likely culprits.)
1. Does the container have any other log messages during the time it is unresponsive?
1. When it is unrespons

[2018-12-30 11:32] sqs commented on #689
Is this still occurring? Can you add a repro? (It isn't occurring for me.)

[2018-12-30 11:32] sqs commented on #1356
This was fixed. If it's still occurring, please reopen.

[2018-12-30 11:32] #1356 closed

[2018-12-30 11:33] #689 closed

[2018-12-30 11:36] sqs opened #1584 "Command palette ≡ icon is injected with no spacing on GitHub when unauthed"
When you are not logged into GitHub, the command palette's <kbd>≡</kbd> icon has no right margin between it and **Why GitHub?**. When you hover over it, its border is flush with the W in **Why GitHub?** There should be spacing.

(BTW, it is desirable for the icon to be here rather than on the right-hand side, to avoid jitter after the page loads and the icon is rendered.)

![screenshot from 2018-1

[2018-12-30 13:03] #659 closed

[2018-12-30 21:13] hillba opened #1589 "Display source or source library on hover"
#### Feature request description.
It would be great if Sourcegraph could display the source library in the hover tooltip when users are hovering over a particular function.

#### Is your feature request related to a problem? If so, please describe.
When reviewing team members' code, or exploring a new codebase, it can sometimes be onerous to find the initial definition/declaration of a function an

[2018-12-31 04:14] sqs commented on #1589
Thanks, this is a great feature request. It would be fairly easy to show this whenever Sourcegraph knows the definition location (which it does if the "Go to definition" button is showing).

Can you add a comment here when you encounter other specific situations where this would be helpful? (Anyone else reading this is also welcome to do so.) This would help us better understand the use case and c

[2018-12-31 04:16] sqs commented on #1574
Hmm, this is very strange. I am not able to repro on Chrome 71 on 2 different Linux machines, 1 with a mouse and 1 with a trackpad.

- Can you repro if you use a different pointing device (such as a mouse instead of a touchpad) or scrolling method (such as using arrow keys)?
- When it is preventing you from scrolling vertically, is it still showing vertical scrollbars? Can you scroll vertically wi

[2018-12-31 15:33] sqs commented on #395
We have removed the previous experimental C# support for now (see https://about.sourcegraph.com/blog/java-php-experimental-language-servers-temporarily-unavailable) because we are not able to stay on top of these issues. We will be adding much better fuzzy code intelligence for C# in Sourcegraph 3.0 (slated for release in mid-Jan).

[2018-12-31 15:33] #395 closed

[2018-12-31 15:34] sqs commented on #994
Assigning to @chrismwendt because he is taking over the Python lang server

[2018-12-31 15:37] sqs commented on #1093
Added search help links back in #1567

[2018-12-31 15:42] #1093 closed

[2018-12-31 15:43] sqs commented on #945
Assigning to @chrismwendt to follow up as part of Sourcegraph 3.0 testing to ensure that the Go extension works for @vincentwoo.

[2018-12-31 15:43] sqs commented on #959
@chrismwendt is taking this over

[2018-12-31 15:50] sqs commented on #1140
We are now supporting C using our basic-code-intel extension. See https://streamable.com/t7v2q for a video.

To use it (as demo'd in the video above):

1. Go to https://sourcegraph.com/extensions/sourcegraph/basic-code-intel and ensure the extension is enabled for you (requires signup)
1. In the command palette (<kbd>≡</kbd> icon in top right nav) on either Sourcegraph or GitHub, select **Basic co

[2018-12-31 15:50] #1140 closed

[2018-12-31 15:58] #1513 closed

[2018-12-31 16:56] JoshuaKGoldberg commented on #1574
It's not coming back. Sorry for the noise haha

[2018-12-31 16:56] #1574 closed

[2018-12-31 17:30] sqs commented on #1574
All good, thanks!

[2018-12-31 18:06] hillba commented on #1589
Here's a specific example encountered today,

I'm examining an area of my company's codebase, so that I can understand the architecture of a particular service and subsequently build a new feature. I encounter a function `request_tiles`, to which `tile_ids` is being passed in. This could be an internal function, or one that we import from another Python library. It would be helpful to know immedia

[2018-12-31 22:11] vincentwoo commented on #945
Ah, is the preview out? Is it a tag on dockerhub?

[2019-01-01 03:52] sqs opened #1592 "Update GitHub PR template for infrastructure repo"
The infrastructure repo's PR template at https://github.com/sourcegraph/infrastructure/blob/master/.github/PULL_REQUEST_TEMPLATE.md still mentions Data Center, and it may not be relevant anymore given the recent deployment changes. It should be updated to whatever is most helpful/important given the new world.

[2019-01-01 04:09] sqs commented on #945
The release candidate is not out yet. It will use the new Go extension at https://github.com/sourcegraph/lang-go/blob/master/README.md, which you could try with your current version. The installation is more manual for now (not automatic as in 2.x), but this makes it less magic.

I recommend you wait for us to get the 3.0 release candidate out before trying the new Go extension, but if you want to

[2019-01-01 06:03] vincentwoo commented on #945
I'll wait a bit, thanks for the info.

[2019-01-01 09:36] sqs opened #1609 "Update deploy-sourcegraph to include an ingress-nginx deployment"
Followup to #929:

- [x] Update deploy-sourcegraph to include an ingress-nginx deployment
- [ ] Update the nginx doc page (https://docs.sourcegraph.com/admin/nginx) with k8s cluster nginx config info

[2019-01-01 09:56] sqs opened #1610 "Remove configmap/config-file resource from Sourcegraph.com k8s"
Sourcegraph.com's k8s deployment and dogfood's k8s deployment both still have a `configmap/config-file` resource that has settings set in it. We've seen that it makes it harder for other teammates to make changes if they are unsure of whether our own deployment is using legacy/deprecated functionality, so this resource should be removed or made 100% empty (so that anyone viewing it knows it is not

[2019-01-01 11:55] sqs commented on #1271
This behavior is useful in some cases when the comment refers to a token, like `// Calls myFunction to...`. So I don't want to completely disable basic-code-intel on comments. But it could use much stricter heuristics.

[2019-01-02 02:00] postables commented on #1443
Update: It seems installing sourcegraph firefox sort of works. whenever I view a repo on github the `view on sourcegraph` button pops up, but there is no in-github code intelligence.

[2019-01-02 02:13] #1494 closed

[2019-01-02 16:43] chrismwendt commented on #1556
Closing in favor of https://github.com/sourcegraph/sourcegraph/issues/959

[2019-01-02 16:43] #1556 closed

[2019-01-02 17:55] chrismwendt opened #1615 "Hovers/defs on the red side of diffs have the wrong commit ID"
- Visit https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/compare/...v2.13.3
- Hover over the red side of the diff of cmd/frontend/db/external_accounts.go
- Notice the document URI is at the tip  of master 9996f6a (wrong) rather than the merge base 016aecd (right), which causes jump-to-definition to take you to the wrong place:

![image](https://user-images.githubusercontent.com/1387653

[2019-01-02 19:04] francisschmaltz commented on #595
Low Priority. Pushing back to 3.1

[2019-01-02 19:05] francisschmaltz commented on #1008
@sqs was this fixed in https://github.com/sourcegraph/sourcegraph/commit/0e9843236ef09bdb5a2d638fe0c948e827a0e382

[2019-01-02 19:05] ijsnow commented on #1443
@postables, what language are you trying to use? Could you go to https://sourcegraph.com/extensions and make sure that that language's extension is enabled? We recently switched to using Sourcegraph extensions rather than built in language support. [Read more on extensions here.](https://docs.sourcegraph.com/extensions)

@AlexNPavel, it seems like your problem is actually with the go extension. Co

[2019-01-02 19:06] francisschmaltz commented on #1178
I'll work on writing HIG for extensions in code hosts, but this will be targeted for 3.1. @ijsnow Can you get the updated designs integrated by 3.0?

[2019-01-02 19:07] francisschmaltz commented on #1572
Will get designs this week. I had a similar problem where I was unsure if the extension was loading data locally in browser or to the SG instance.

[2019-01-02 19:08] ijsnow commented on #1443
Moved to backlog because this seems like configuration errors.

[2019-01-02 19:41] sqs commented on #1008
Yes

[2019-01-02 19:41] #1008 closed

[2019-01-02 22:00] #1411 closed

[2019-01-02 22:17] chrismwendt commented on #1443
I installed the latest XPI and was able to get code intelligence on https://github.com/RTradeLtd/Temporal/blob/V2/mail/mail.go while signed in or out of either GitHub or Sourcegraph (all 4 combinations). My Sourcegraph URL is https://sourcegraph.com

![image](https://user-images.githubusercontent.com/1387653/50615328-ed443980-0e98-11e9-9375-6f98de1e8138.png)

@postables can you try completely unin

[2019-01-03 00:14] chrismwendt commented on #689
Nope, no longer an issue.

[2019-01-03 01:50] francisschmaltz commented on #1178
Working on the HIG for extensions in code editors and here are the main points:

[2019-01-03 09:58] #884 closed

[2019-01-03 13:07] sabyasachi commented on #1579
1. You mean output of docker top [contain-id]? These are few long running jobs. Otherw were under 1 minute.
[code]

2. I could see logs containing:
`11:56:50         lsp-proxy | DEBUG window/logMessage Parsing <filepath> {<...>}`

3. The situation is random. Sometimes after a while it starts working, sometimes it doesn't. When it is unresponsive, I can not visit non-repo pages.

[2019-01-03 21:49] dadlerj commented on #1537
The user reported that the curl command above successfully returned all of their repos (thousands), but that Sourcegraph still only displayed a subset of them (several hundred).

[2019-01-03 23:06] beyang opened #1624 "Add configuration option to set a list of files that should be searchable regardless of their size"
We currently exclude large files (> 1MB) from searches (https://sourcegraph.com/github.com/sourcegraph/sourcegraph@dd08f0db515f5c89e818afadd5e8af6d9250ca5b/-/blob/cmd/searcher/search/store.go#L280). In most cases, this is preferred, as large files are often generated and users do not want to view them in search results.

In some cases, however, a user would like to increase the max file size limit

[2019-01-03 23:11] beyang commented on #1624
cc @sqs

[2019-01-03 23:17] francisschmaltz commented on #1506
Closing for now as I'm unable to reproduce.

[2019-01-03 23:17] #1506 closed

[2019-01-03 23:22] francisschmaltz commented on #1376
@beyang This is still an issue on latest insiders.

[2019-01-04 01:12] njbull4 opened #1625 "Unable to find definition in Linux kernel source"
- **Sourcegraph version:** 18.12.24.2208
- **Platform information:** Firefox Quantum 64 bit running on Arch LSB 1.4

#### Steps to reproduce:

1. Navigate to github.com/torvalds/linux/arch/x86/boot/cpucheck.c
2. View file with Sourcegraph browser extension
2. On line 132 select get_cpuflags() then "Go to definition"

#### Expected behavior:
Should redirect to github.com/torvalds/linux/arch/x86/boo

[2019-01-04 07:21] sqs commented on #1174
@francisschmaltz That solution alone doesn't work well, because we don't want to special-case a single extension (basic-code-intel).

[2019-01-04 07:21] sqs commented on #1174
PR at https://github.com/sourcegraph/sourcegraph/pull/1627

[2019-01-04 09:20] sqs commented on #1552
Waiting for @lguychard to add the following to the extension API, then I will implement this in the git-extras extension:

- ability to listen for changes to active text editor
- ability to listen for changes to `TextEditor#selections`

[2019-01-04 10:18] #1280 closed

[2019-01-04 11:32] sqs commented on #1473
Not a priority. There are few of these URLs and they redirect to the definitions panel with the references tab pretty clearly visible.

[2019-01-04 11:32] #1473 closed

[2019-01-04 11:33] sqs commented on #190
This is sufficiently done. It is not worth it right now to satisfy the remaining checkbox (talking about future features in the doc page).

[2019-01-04 11:33] #190 closed

[2019-01-04 11:37] #674 closed

[2019-01-04 16:40] gergelyke commented on #1624
Thanks for taking this on @beyang ! Any chance you have a timeline for 3.1?

[2019-01-04 18:21] lguychard commented on #1552
@sqs investigated this, and it's a bigger change than I expected, notably because there is currently no support for `TextEditor#selections` on [code hosts](https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/blob/client/browser/src/libs/code_intelligence/code_intelligence.tsx#L519) (selections only work in the web app).

How about doing this through `registerHoverProvider` for 3.0?

[2019-01-04 18:50] sqs commented on #1552
@lguychard It’s OK for there to not be selections from code hosts yet. Bringing back the Git blame on selected line feature for Sourcegraph is good enough.

[2019-01-04 19:16] ggilmore opened #1634 "Write documentation for deploy-sourcegraph-dot-com"
Part of #976

This is a stub issue for now - I'll flesh it out later

Write dev READMEs for https://github.com/sourcegraph/deploy-sourcegraph-dot-com/

- How to update deployment
- How to troubleshoot
- Document unique aspects/services associated with sourcegraph.com

[2019-01-04 20:21] francisschmaltz commented on #1376
@beyang It looks like GHE doesn't check the API endpoint correctly. It checks `/api/user/email` instead of `/api/v3/user/email`. I've created a work around in https://github.com/sourcegraph/sourcegraph/commit/e91bc643a4e87134cc41e196553f17a1c67dfe6e that works correctly in my testing.

[2019-01-04 21:07] hho commented on #191
Possible duplicate of #35

[2019-01-04 21:22] hho opened #1636 "Support negated terms"
I just found out about Sourcegraph, installed it, imported the repos from our GitLab and tried to find out, which of our projects use untagged GitLab runners.

So my query was: `file:.gitlab-ci.yml -tags`

The result was this error message:
![image](https://user-images.githubusercontent.com/478228/50711423-7b254d80-106e-11e9-83d4-7096e1e89a0d.png)

My feature request is: Please support negated ter

[2019-01-04 22:08] sqs commented on #1636
Thanks for filing. This will be supported soon; see #1005. It’s  possible that will be out behind a feature flag next week, and it is planned to be released and enabled by default in early Feb.

[2019-01-04 23:03] felixfbecker commented on #770
Is this still relevant?

[2019-01-04 23:16] ggilmore commented on #1634
https://github.com/sourcegraph/deploy-sourcegraph-dot-com/blob/release/README.info.md has been written, but it still needs to be fleshed out.

[2019-01-04 23:18] ggilmore opened #1638 "Investigate why some Prometheus metrics are broken for sourcegraph.com"
See:

- https://github.com/sourcegraph/deploy-sourcegraph-dot-com/pull/31#issuecomment-448834572
- https://sourcegraph.slack.com/archives/C08JA8Q1H/p1545224476154300

cc @beyang @felixfbecker @chrismwendt

[2019-01-04 23:32] ggilmore opened #1639 "Re-enable renovate updates for deploy-sourcegraph-dot-com"
During the migration, @nicksnyder and @ggilmore realized that the latest `insiders` versions of all of our microservices aren't safe to deploy together. Since our CI only builds non-frontend services when we push to `docker-images/*`, some services haven't been updated for months.

Notably, github-proxy needed to be rolled-back in https://github.com/sourcegraph/deploy-sourcegraph-dot-com/commit/89

[2019-01-07 00:08] chrismwendt opened #1641 "lang-typescript references disappear immediately"
- Visit https://sourcegraph.com/github.com/sourcegraph/sourcegraph@4e5f8f71ea056f651203c369236ce8dc20357ea5/-/blob/client/browser/src/libs/github/dom_functions.ts#L38:7&tab=references
- Notice the references appear then disappear right away

![2019-01-06 15 58 51](https://user-images.githubusercontent.com/1387653/50743381-06682580-11cc-11e9-8e2b-c802e92ef4ab.gif)

I saw this in the console:

![ima

[2019-01-07 06:00] nicksnyder commented on #1372
If this is release blocking for 3.0, please add the release blocking label.

Otherwise, if this isn't going to get done in the next week, please remove it from the 3.0 milestone.

[2019-01-07 06:03] nicksnyder commented on #145
@sqs Can you post an update here?

[2019-01-07 06:05] nicksnyder commented on #255
@sqs Can you please post an update here about C# support?

[2019-01-07 06:06] nicksnyder commented on #394
@chrismwendt If this is release blocking for 3.0, please add the release blocking label.

Otherwise, if this isn't going to get done in the next week, please remove it from the 3.0 milestone.

[2019-01-07 06:11] nicksnyder commented on #658
@tsenart Can you make this docs change sometime this week?

[2019-01-07 06:14] nicksnyder commented on #959
If this is release blocking for 3.0, please add the release blocking label (I think it does?).

Otherwise, if this isn't going to get done in the next week, please remove it from the 3.0 milestone.

[2019-01-07 06:15] nicksnyder commented on #964
@beyang what is the current state of this issue?

If this is release blocking for 3.0, please add the release blocking label.

Otherwise, if this isn't going to get done in the next week, please remove it from the 3.0 milestone.

[2019-01-07 06:17] nicksnyder commented on #1005
This is still important, but not within our strict definition of what is required for 3.0, so I move this to 3.1 milestone.

[2019-01-07 06:18] nicksnyder commented on #1039
It would be nice to get this done before we tag 3.0

[2019-01-07 06:18] nicksnyder commented on #1040
If this is release blocking for 3.0, please add the release blocking label.

Otherwise, if this isn't going to get done in the next week, please remove it from the 3.0 milestone.

[2019-01-07 06:19] nicksnyder commented on #1116
@lguychard what is the status of this issue?

If this is release blocking for 3.0, please add the release blocking label.

Otherwise, if this isn't going to get done in the next week, please remove it from the 3.0 milestone.

[2019-01-07 06:19] nicksnyder commented on #1174
Is this release blocking for 3.0?

[2019-01-07 10:31] lguychard commented on #763
Closing this since we cannot reproduce on our side.

@joebowbeer if you're still experiencing this issue, let us know and we'll look into it!

[2019-01-07 10:31] #763 closed

[2019-01-07 11:36] tsenart commented on #658
Where in the docs should this work-around be included?

[2019-01-07 11:54] tsenart commented on #658
I also need to understand exactly how these work-arounds work for this use case.

[2019-01-07 13:32] #489 closed

[2019-01-07 13:59] doxxx commented on #394
@chrismwendt I"m back from vacation, so I'll be re-examining this situation today.

[2019-01-07 14:41] doxxx commented on #394
TLDR: Sourcegraph is working correctly and I needed to fix my import paths.

This is what was happening:

I had a git clone of my repo at `$GOPATH/src/git.synaptivemedical.com/alg/jobber` and all the source in that repo used `git.synaptivemedical.com/alg/jobber` as the package prefix. I did not have any import comments.

Go was happy with this since everything in the `GOPATH` was consistent. But t

[2019-01-07 14:41] #394 closed

[2019-01-07 15:52] sqs commented on #658
I don’t know from memory the ssh config directive, but to accomplish this using gitconfig insteadOf, see the git command here that contains insteadOf: https://wiki.codeaurora.org/xwiki/bin/Support/CodeAuroraMirrors

[2019-01-07 15:57] sqs commented on #1178
Correct - @francisschmaltz please update this issue accordingly and either address those 2 issues or reassign to someone else

[2019-01-07 15:58] vanesa commented on #655
Latest progress:
- generated URL links to the right metric.

RE embedded graph: Currently the datadog API is designed to generate a graph that will be placed statically as a code snippet in html. This graph is listed on their embedded graphs page, even after being revoked. I don't think it's a good idea to clutter that page with generated graphs. I want to talk to datadog and ask if they can add t

[2019-01-07 15:58] sqs commented on #1174
No

[2019-01-07 16:00] sqs commented on #394
Thanks!

[2019-01-07 16:51] sqs opened #1653 "Allow customization of file associations/mapping"
We use GitHub's linguist mapping to map file extensions to languages. We only use the static mapping, not the magic string-based detection, so ours is actually worse than GitHub's.

No matter how smart our default file association is, there will always be the need to override it. For example, in VS Code, the `files.associations` user setting does this. We use it to force `dev/config.json` to use `

[2019-01-07 16:55] ggilmore opened #1654 "remove xlang-java gradle, artifact enviroment variables from site configuration"
- [`PrivateArtifactRepoUsername`](https://sourcegraph.sgdev.org/search?q=PrivateArtifactRepoUsername%7CPRIVATE_ARTIFACT_REPO_USERNAME)
- [`PrivateArtifactRepoID`](https://sourcegraph.sgdev.org/search?q=PrivateArtifactRepoID%7CPRIVATE_ARTIFACT_REPO_ID)
- [`PrivateArtifactRepoURL`](https://sourcegraph.sgdev.org/search?q=PrivateArtifactRepoURL%7CPRIVATE_ARTIFACT_REPO_URL)
- [`PrivateArtifactRepoPassw

[2019-01-07 16:58] dadlerj opened #1655 "Error fetching SAML auth provider... certificate signed by unknown authority"
- **Sourcegraph version:**
- **Platform information:**

#### Steps to reproduce:

#### Expected behavior:

#### Actual behavior:

From a customer:

`
15:56:55 frontend | t=2018-12-31T15:56:55+0000 lvl=eror msg="Error refreshing SAML auth provider." id="{Type:saml ID:}" error="fetching SAML Identity Provider metadata: Get <REDACTED>/saml2/idp/metadata.php: x509: certificate signed by unknown author

[2019-01-07 17:15] sqs commented on #1515
I have fixed all known instances of these that I identified with my own scripts. I also added a check for broken internal links in CI for docs. I will (after 3.0) set up other monitoring to prevent reoccurrences.

[2019-01-07 17:33] ggilmore opened #1658 "K8s: Investigate more robust way of handling snapshots"
(This is a stub issue, I'll flesh it out later)

We needed to snapshot various disks (postgres, redis, etc) when sourcegraph.com was migrated to use https://github.com/sourcegraph/deploy-sourcegraph fork. We realized that we needed to manually specify a persistent volume for each deployment so that we could refer to the snapshot GCP disk. Unfortunately, this means that we had to manually create a

[2019-01-07 17:35] ggilmore commented on #1609
I took a stab at using ingress-nginx in https://github.com/sourcegraph/infrastructure/tree/master/kubernetes/dogfood, but:

- I haven't tried it with our microservice-based deployment
- I haven't tried it with manually provisioned certs
- I don't know whether my implementation above is super-robust

[2019-01-07 17:37] keegancsmith commented on #1658
Maybe https://github.com/miracle2k/k8s-snapshots ? (I haven't vetted the project yet).

[2019-01-07 17:37] ggilmore commented on #1202
Maybe the solution is to have proper k8s health check for the symbols service that fails if the config is unable to be read

[2019-01-07 17:43] keegancsmith commented on #1636
This is behind a feature flag at the moment, see the linked issue #1005. For example https://sourcegraph.com/search?q=%21hier%21+r:/gitlabhq/+file:.gitlab-ci.yml+-tags

[2019-01-07 17:43] keegancsmith commented on #191
Duplicate of #35

[2019-01-07 17:43] #191 closed

[2019-01-07 18:12] chrismwendt commented on #770
The internals have changed so much that most of these points do not apply anymore. Closing since we're not actively working on this.

[2019-01-07 18:12] #770 closed

[2019-01-07 19:08] ggilmore opened #1673 "Release 3.0-beta"
- [x] Push v.3.0.0-beta tag to sourcegraph/sourcegraph (https://buildkite.com/sourcegraph/sourcegraph/builds?branch=v3.0.0-beta)
- [x] Update image tags on deploy-sourcegraph

[2019-01-07 19:08] francisschmaltz opened #1670 "Fix Explore page UI"
Explore page UI is rough and has not gone through UI or UX design to match https://zpl.io/2plM5e8.

Currently the UI is made of standard components that don't look cohesive and give a bad image to a main feature we are pushing in the future.

To Fix:
- [x] Size of cards should be equal.
![screen shot 2019-01-07 at 11 29 51 am](https://user-images.githubusercontent.com/11583013/50788918-8eebd200-12

[2019-01-07 19:08] francisschmaltz commented on #1670
3.0 Release Blocking

[2019-01-07 19:24] nicksnyder commented on #1609
@keegancsmith is going to own merging and testing https://github.com/sourcegraph/sourcegraph/pull/929 and then can help with this

[2019-01-07 19:33] keegancsmith commented on #1638
View https://prometheus.sgdev.org/targets and notice that we are not scraping lang-go and lang-typescript. `kubectl -n prod get svc` indicates we have load balancers for the debug port on both of those services. Maybe prometheus only does discovery on clusterip services. Additionally, we shouldn't have load balancers spun up for the debug port.

[2019-01-07 19:35] ggilmore opened #1674 "Add reminder to snapshot PVC's during migration"
Add reminder to snapshot volumes to step 2 of https://github.com/sourcegraph/deploy-sourcegraph/blob/master/docs/migrate.md

cc @nicksnyder @beyang

[2019-01-07 19:38] ggilmore commented on #1658
Maybe https://kubedb.com/ also?

[2019-01-07 19:40] KattMingMing opened #1676 "Include ` - nodes/proxy` in the RBAC config for prometheus to talk to K8 nodes"
Reported from a user:

For prometheus to talk to the K8 nodes we need to include `  - nodes/proxy` in the RBAC config. See https://github.com/prometheus/prometheus/issues/2606#issuecomment-294869099

[2019-01-07 19:42] ggilmore commented on #1677
@slimsag Is this still relevant?

[2019-01-07 19:44] ggilmore opened #1678 "deploy-sourcegraph: Add documentation about using LetsEncrypt"
We should add a section in https://github.com/sourcegraph/deploy-sourcegraph/blob/master/docs/configure.md#configure-tlsssl that shows you how to use lets encrypt instead of needing to create your own cert.

The docs will mostly follow https://github.com/sourcegraph/about/blob/master/docs/server/tutorials/tlsssl.md#lets-encrypt, but we should note that both port `80` and port `443` need to exposed

[2019-01-07 19:46] ggilmore commented on #1678
This will now need to use ingress-nginx / cert-manager instructions since we're removing these options from sourcegraph itself

[2019-01-07 20:02] slimsag commented on #1677
We are moving to a new model in 3.0 where secrets are stored in the DB entirely and only accessible via the management console. More information on this will be in the blog post coming soon sometime next week.

[2019-01-07 20:02] #1677 closed

[2019-01-07 20:05] ggilmore opened #1679 "[deploy-sourcegraph] update documentation about the site configuration"
_See https://github.com/sourcegraph/deploy-sourcegraph_

Since #966 was merged, the documentation in https://github.com/sourcegraph/deploy-sourcegraph/blob/master/docs/configure.md#update-site-configuration is now outdated since https://github.com/sourcegraph/deploy-sourcegraph/blob/181c382d7d737cc0178bb94c6eb98da5b492a0de/base/config-file.ConfigMap.yaml is going to be removed.

1. That section sh

[2019-01-07 20:07] slimsag commented on #1610
This can be removed at the same time and as part of #1538, so I am closing this.

It is not in use anymore, you just need to use the management console to make config changes.

I understand the desire to remove it ASAP, but it is counter-productive to do so ahead of #1538 because (1) it removes the ability for us to cleanly test removal as part of #1538 in the future and (2) it requires a context

[2019-01-07 20:07] #1610 closed

[2019-01-07 20:12] ggilmore opened #1680 "[deploy-sourcegraph] Update TLS/SSL section with ingress-nginx instructions"
_See https://github.com/sourcegraph/deploy-sourcegraph_

Related: #1609

The TLS/SSL https://github.com/sourcegraph/deploy-sourcegraph/blob/master/docs/configure.md#configure-tlsssl section is now outdated. It refers to the `TLS_CERT` and `TLS_KEY` environment variables that not going to be supported anymore in sourcegraph since our users will need to use ingress-nginx. The section needs to be upd

[2019-01-07 20:12] nicksnyder opened #1681 "Recommend retrospective meeting and format in planning template"

[2019-01-07 20:15] ggilmore commented on #1679
The license key section also needs to be updated https://github.com/sourcegraph/deploy-sourcegraph/blob/master/docs/configure.md#add-license-key

[2019-01-07 20:17] slimsag commented on #1679
Dup of #1428 which is a more broad issue for this. I've copied your notes there.

[2019-01-07 20:17] #1679 closed

[2019-01-07 20:18] slimsag commented on #1554
I am putting in backlog, let me know if you think this should be in the next release.

[2019-01-07 20:28] ggilmore opened #1682 "Change sourcegraph.com to use ingress-nginx"
Once #1609 is completed, sourcegraph.com should also use ingress-nginx.

I don't think this is necessary for 3.0, but feel free to change the milestone if you think otherwise @keegancsmith

[2019-01-07 20:31] ggilmore commented on #1678
@keegancsmith https://github.com/sourcegraph/infrastructure/blob/master/kubernetes/dogfood/README.md#https (and other files in the sub folder) have my notes on how to use cert-manager + ingress-nginx with lets encrypt

[2019-01-07 20:46] slimsag commented on #1491
I don't know what causes this, but I have seen this once and also could not reproduce it.

However, I suspect this is a more general issue: there is something wrong with the way we handle migrations running concurrently. The management console doesn't do anything fancy or special here, it just acts as another frontend instance, effectively. The only difference is that we used to run one frontend i

[2019-01-07 20:48] slimsag commented on #1491
I am tagging as release blocker because of my own uncertainty about what is causing this. If we can identify the cause or likely cause, we can remove release-blocker.

[2019-01-07 21:03] francisschmaltz commented on #1507
@slimsag Ahh I didn't set `CUSTOM_TLS=true` so I'll give that shot. And yeah HSTS for the same domain causes the issue so self signed certs cause it to fail outright.

[2019-01-07 21:19] francisschmaltz commented on #1178
@nicksnyder can you assign someone to do the following:

[2019-01-07 21:20] slimsag opened #1683 "management console TLS cert generation always occurs on startup, should only occur if file does not exist"
This currently prevents using custom TLS certs with the management console, unless you set `CUSTOM_TLS=true` to disable auto-regeneration (which is annoying).

[2019-01-07 21:23] felixfbecker opened #1684 "Progress bar invisible in browser extension"

[2019-01-07 21:23] slimsag opened #1685 "management console UI should ask for password instead of using browser's built in basic auth form"
The basic auth form feels janky, we should just have the react app ask for the password when you visit the page instead. Then it would feel more integrated into the app, etc.

cc @francisschmaltz who suggested this + for designing how this form would look.

The form should only ask for the password (not username), and have a link to management console documentation (so the user can figure out wher

[2019-01-07 21:29] felixfbecker opened #1686 "Horizontal hover scrolling in browser extension scrolls entire hover content"
![2019-01-07 13 28 45](https://user-images.githubusercontent.com/10532611/50794531-3e30a500-1280-11e9-82d6-f28d109129f6.gif)

[2019-01-07 21:33] felixfbecker opened #1687 "Jump to definition in browser extension reactivates extensions"
On sourcegraph.com, if I do a jump to definition, extensions stay active and the same language server WebSocket connection is reused to provide fast code intelligence.
In the browser extension, if I go to definition for example here: https://github.com/angular/angular/blob/master/packages/http/src/http.ts#L12
At the destination, the language server is reinitialised and has to fetch dependencies ag

[2019-01-07 21:37] slimsag opened #1689 "Test plan for management console"
Test plan:

1. Start an older Sourcegraph version (anything before 3.0).
2. Ensure you can see repositories and search.
3. Edit your site config, set `"maxReposToSearch": 1337`.
4. Edit your site config, set `"auth.sessionExpiry": "1337h"`.
5. Stop the old Sourcegraph version. Start the latest 3.0 version (see #dev-announce for instructions).
6. Ensure you can still see repositories and search as

[2019-01-07 21:45] nicksnyder commented on #1178
What happens when you click this button?

[2019-01-07 21:48] francisschmaltz commented on #1178
The single diff button should link to the Sourcegraph diff page.

[2019-01-07 22:09] felixfbecker commented on #1570
Marking as release blocking.

[2019-01-07 22:10] felixfbecker commented on #1372
@slimsag how much time would this take?

[2019-01-07 22:10] felixfbecker commented on #1554
@slimsag how much time would this take?

[2019-01-07 22:46] nicksnyder commented on #1372
Relevant conversation
https://sourcegraph.slack.com/archives/C07KZF47K/p1546899085052100

[2019-01-07 22:56] nicksnyder commented on #1550
Relevant conversation: https://sourcegraph.slack.com/archives/C0B2RU51Q/p1546898265072400

[2019-01-07 22:57] slimsag commented on #1572
This is **really** intrusive / annoying. Is there any mitigation we can do for 3.0?

[2019-01-07 22:58] sqs commented on #255
We are removing experimental C# support for now. See https://about.sourcegraph.com/blog/java-php-experimental_language_servers-temporarily-unavailable. We hope to bring it back soon.

[2019-01-07 22:58] #255 closed

[2019-01-07 23:06] nicksnyder commented on #1372
This is a release-blocker for 3.1 (not 3.0).

[2019-01-07 23:19] ggilmore opened #1692 "[deploy-sourcegraph] Write 2.x. -> 3.0 migraiton docs"
Depends on: https://github.com/sourcegraph/sourcegraph/issues/1682
Depends on: https://github.com/sourcegraph/sourcegraph/issues/1428

After the above changes are made to https://github.com/sourcegraph/deploy-sourcegraph, https://github.com/sourcegraph/deploy-sourcegraph/blob/master/docs/migrate.md will need to be updated with fully-tested instructions for sourcegraph 3.0

Also @chrismwendt, https

[2019-01-07 23:59] felixfbecker commented on #1372
Correction: This *is* a release-blocker for 3.0 because it blocks basically every single customer from using codeintel in 3.0.

[2019-01-08 00:19] sqs commented on #1572
We should immediately update the TS ext to not show this loading indicator, until we have a better UI.

I think @felixfbecker is on a long flight right now. I will go make this change and publish the update.

Then moving this to 3.1 because it isn't important for 3.0 given this mitigation.

[2019-01-08 00:43] sqs commented on #1684
Made the progress calls off by default in lang-typescript, so this is no longer a priority for 3.0 (because no other known extensions use this API yet)

[2019-01-08 00:48] nicksnyder commented on #1550
After further discussion with @sqs, this is a priority to fix for 3.0 because it is very valuable to maintain the invariant "we support any Git code host". @tsenart can you please make this your main priority this week (instead of https://github.com/sourcegraph/sourcegraph/issues/914)?

I updated the original issue description with a proposal.

[2019-01-08 00:54] slimsag commented on #1550
What is the motivation for separating the host portion of the URL (`url`) and the path portion (`repos`)? I ask this because:

1. Just a list of clone URLs seems easier to describe / fill out the details of when writing the actual JSON, instead of having to explain / learn that "these `repos` are relative to this `url`".
2. My guess would be that most users creating this JSON list would generally

[2019-01-08 00:56] #1436 closed

[2019-01-08 00:56] #1434 closed

[2019-01-08 00:58] felixfbecker commented on #1684
I fixed this this morning

[2019-01-08 00:58] #1684 closed

[2019-01-08 01:01] nicksnyder commented on #1550
My thought was that it mirrors how other configs work and it enforces that you can't mix repos from two difference sources in the same list (i.e. you should create two "Other" external services, one for each code host, in this case).

What if we keep my proposed schema and just not require "url"? For example, both of these could be valid configs

[code]

[code]

At the end of the day, url is just

[2019-01-08 01:05] slimsag commented on #1550
Your second proposal above sounds good to me 👍

[2019-01-08 02:41] slimsag opened #1694 "External Services -> GitHub requires a "url" field but doesn't tell you"
Start a clean instance. Add a `GitHub` external service connection like so:

![image](https://user-images.githubusercontent.com/3173176/50806439-de53f180-12b3-11e9-9d99-f93fdca39249.png)

No repositories will show up when you visit /site-admin/repositories; if you modify the entry to be:

![image](https://user-images.githubusercontent.com/3173176/50806475-03e0fb00-12b4-11e9-8bb7-6770a83a9de8.png)

[2019-01-08 04:18] nicksnyder commented on #1570
There are a few things here:

I tested on light theme, which is better but not great. This is indeed a problem for dark theme.

Would your confusion have been resolved if we used a different verb, like "Connect an external service", or "Create and external service connection"? Do you have any other suggestions that would have resolved this confusion for you?

As a point of reference, orgs and user

[2019-01-08 04:39] ggilmore opened #1695 "[deploy-sourcegraph] language servers migration steps should be more concrete"
_See https://github.com/sourcegraph/deploy-sourcegraph_

https://github.com/sourcegraph/deploy-sourcegraph/blob/d75ebf89c269a0fe70400559ca7741c7a38ac23a/docs/migrate.md#language-server-deployment provides a nice overview of the changes, but this document should be written with concrete steps/commands whenever possible for people to run.

Examples:
- What happened to the Python language server? Why

[2019-01-08 04:54] nicksnyder commented on #1178
@attfarhan can you do the two 3.0 milestone items here?

[2019-01-08 05:05] francisschmaltz commented on #1694
@nicksnyder We should assume GitHub.com (and the titular host for other options) without requiring a URL.

[2019-01-08 05:07] chrismwendt commented on #1695
Jotting down notes:

- I plan to wrap up the Python language server on Wednesday to remove the WIP status. AFAIK Java will not ship in 3.0
- The site admin will deploy language servers, likely in the same k8s cluster. They will need a static IP each. I've been manually reserving+copying a static IP address into the lang-go deployment YAML.
- I'm not sure about upgrades, they'll probably be rare an

[2019-01-08 05:19] nicksnyder commented on #1491
I was just able to reproduce a few times (unreliably) so I do think it is a race condition somewhere. All the times I reproduced it were when I was starting with a clean DB (as expected since I don't have any migrations running locally otherwise). I do wonder if this is specifically a race condition with the first migration, which might explain why we are seeing this on dev now but have never seen

[2019-01-08 05:21] nicksnyder commented on #1334
Update here? Are you still the correct owner for this?

[2019-01-08 05:21] nicksnyder commented on #1281
Who owns this?

[2019-01-08 06:38] sqs commented on #1334
Yes, I own basic-code-intel (for now). I just saw this occur again today. I will fix it.

[2019-01-08 06:45] nicksnyder commented on #1694
The previous behavior in 2.x was to auto fill with the correct url when the (now removed) "Add GitHub.com repository" button was clicked. It reported an error if you saved a config that did not have an explicit url:
![image](https://user-images.githubusercontent.com/754768/50814083-482cc500-12cd-11e9-91ab-d8ab9fd801d9.png)

The current external services implementation does neither, and I think it

[2019-01-08 07:00] nicksnyder commented on #1408
This issue has re-appeared https://sourcegraph.slack.com/archives/C07KZF47K/p1546921091061800

[2019-01-08 08:38] sqs commented on #1174
I am postponing the fix for this issue (#1627) until 3.1. Because it is postponed, some users may be confused if all of the following are true:

- They have the basic-code-intel extension enabled
- They also have a precise code intel extension enabled

In this case, they will need to toggle the "Show/hide fuzzy refs" button if they want to see only precise refs. I will document this.

This is less

[2019-01-08 09:12] keegancsmith commented on #1550
Out of interest, how do we know when to use ssh vs https in this proposal?

[2019-01-08 12:32] tsenart commented on #1550
The reason we don't support renames without external services is that we'll be relying on a stable external identifier provided by a code host's API to detect renames.

An alternative approach that we can consider in the future is to do content based deduplication via `git merge-base` to the best common ancestor between two repos.

[2019-01-08 14:17] nicksnyder commented on #1550
There is a third reason I remembered: we need a value to put for `external_service_id` in the repo table, and for GitHub/GitLab it is the url. I am not sure if it would cause a problem for that to be empty (if it does cause a problem then we should prevent an empty url in the config).

How did we know with the old repos.list?

I predict content based filtering to be tricky to do well (e.g. how do

[2019-01-08 15:50] felixfbecker commented on #1570
@francisschmaltz what color should links have in dark theme, and where can I look this up / is the single source of truth? I couldn't find a style guide in Zeplin

This should be solved for all links in dark theme globally.

The biggest problem is the icon, ➕ usually adds an (unsaved) item to a list, I wouldn't expect it to be a required action to _persist_ an unsaved item. "Create" or "save" woul

[2019-01-08 15:52] felixfbecker commented on #1641
I still hate that we don't show errors anymore in the references panel.

[2019-01-08 16:14] felixfbecker opened #1701 "Docs page should use Bootstrap styles"
For example, this focus outline is ugly:

![image](https://user-images.githubusercontent.com/10532611/50843395-e3bf4380-1368-11e9-9f6b-2ce15d99d765.png)

[2019-01-08 16:28] nicksnyder opened #1703 "Test plan for browser extension"
Browser Extension Test Plan

- Install the browser extension by following https://docs.sourcegraph.com/integration/browser_extension
Steps are different for Firefox and Chrome, you should check both.
- Navigate to any github.com page and verify the command palette is present and can be used to run extension-provided commands
- Navigate to a code view on github, eg. https://github.com/sourcegraph/s

[2019-01-08 16:29] nicksnyder opened #1704 "Test plan for auth"
Update this description with a test plan for the browser extension or link to a test plan. Then get people to test. Close this issue after testing is done.

[2019-01-08 16:32] nicksnyder opened #1705 "Test plan for code intelligence"
While testing code intelligence, imagine you’re a site admin setting up language support for the first time because they are the people who will get their company from 1 to 20 users.

For each language (Go, TypeScript, Python):

* Deploy the language server in a Docker container by following: https://docs.sourcegraph.com
* Find a random repository (e.g. from https://github.com/search?o=desc&q=lang

[2019-01-08 16:43] sqs commented on #1641
@felixfbecker References panel has no good place to show a partial error right now, but feel free to make a PR that adds support for that and then we’ll merge that

[2019-01-08 16:59] nicksnyder commented on #1570
No, it is not required in general. It is only required to sync public repos on public code hosts (e.g. github.com). For example, it isn't required on a private GitHub Enterprise instance, or if you are only trying to sync private repos from GitHub.com.

I do believe this pain is mostly a dev pain and not a customer pain, because real site admins are not going to configure repos one by one (I am no