[2019-04-25 04:20] sk-aaludra commented on #3526
Of course with pleasure -

This is a fresh installation, I found this interesting project from Digital Ocean and thought of giving a try.

Logs doesn't shows any issues, find below for more details

CONTAINER ID        IMAGE                      COMMAND                  CREATED             STATUS              PORTS                                            NAMES
ba53f165ba50        sourcegraph/se

[2019-04-25 04:23] gnatecheng commented on #3589
+1

[2019-04-25 04:26] slimsag commented on #3579
This regression was introduced by https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/commit/90de6710963f7918bd7d6543e083a9acf125d97d#diff-83802ba2eb1d04e70858db65e54338d8R474 in specific.

When `searcher.Search` returns an error, it returns a nil response. We are then trying to access `resp.FileCount` and `resp.MatchCount` which panics because `resp` is `nil`.

https://sourcegraph.com/gi

[2019-04-25 04:29] slimsag commented on #3589
@gnatecheng What is that stack trace / error output for? It doesn't look related to this.

[2019-04-25 04:30] slimsag opened #3590 "repo-updater 3.3 auto-migration: can become blocked on rate limit forever"
See #3594 for details (ctrl+f on that page for this issue #)

[2019-04-25 04:32] slimsag opened #3591 "repo-updater 3.3 auto migration: Bitbucket Server external service missing `repositoryQuery` after upgrade"
See #3594 for details (ctrl+f on that page for this issue #)

[2019-04-25 04:33] slimsag opened #3592 "repo-updater 3.3 auto migration: invalidated external service config fully blocks migration"
See #3594 for details (ctrl+f on that page for this issue #)

[2019-04-25 04:34] slimsag commented on #3581
Closing in favor of https://github.com/sourcegraph/sourcegraph/issues/3589

[2019-04-25 04:34] #3581 closed

[2019-04-25 04:39] slimsag opened #3593 "repository settings page does not display errors properly"
The repository settings page does not display errors properly: https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/settings

When the GraphQL endpoints on this page return errors, the page just shows an error:

![image](https://user-images.githubusercontent.com/3173176/56710063-3d116f80-66d9-11e9-8107-49190d396086.png)

If you want to reproduce this, remove the `repo-updater` line in your

[2019-04-25 04:48] slimsag opened #3594 "Report: 3.3 upgrade general instability"
# TL:DR

In this issue I perform an in-depth analysis of the issue we received multiple reports of by customers all around the same time today. This issue affects all instances upgrading to Sourcegraph 3.3 with more than a few thousand repositories. It causes general instability due to code host API rate limit exhaustion, with various symptoms (see below).

I've identified the four root causes of

[2019-04-25 04:54] slimsag commented on #3588
This also occurred with Bitbucket Server and has more broad negative consequences, please see the section in #3594 about this (ctrl+f on that page for this issue #)

[2019-04-25 05:09] slimsag commented on #3591
Sent https://github.com/sourcegraph/sourcegraph/pull/3595 for this.

[2019-04-25 07:39] sqs opened #3597 "Duplicate sections in doc site navbar"
https://docs.sourcegraph.com/extensions shows duplicates:

![image](https://user-images.githubusercontent.com/1976/56717882-81f5d000-66f2-11e9-85f6-9d7311134db1.png)

eg `Building a "Hello, World!" So...` is shown 2x.

This is because I renamed the filenames to be consistent and I left the old files for redirection. You should delete the old files now.

[2019-04-25 08:22] sqs commented on #3589
I don’t recall why hiding this icon amid rate limit issues was intentional and can’t think of any good reasons for this to be intentional.

[2019-04-25 08:37] tsenart commented on #3594
@slimsag and @nicksnyder: Thanks for taking this on while this side of the world was asleep. I finished to catch up on everything now, and I think the most important issue to look into first is "repo-updater 3.3 auto-migration: added lots of deleted repos to "repo" list in external service, causing major rate limit consumption" #3588, because I doubt that we'd be hitting rate limits otherwise, sin

[2019-04-25 08:58] tsenart commented on #3438
We just had this incident happen again. I hopped into the pod and ran `docker system prune --all` but that didn't release so much disk space.

[code]

[2019-04-25 09:07] tsenart commented on #3438
I bounced our pod and it got rescheduled in another node. Then I got into the pod and the `/var/lib/docker` disk utilization was 47%. I ran `docker system prune --all` to verify that it behaved like in the other node (small reclaimed space).

To my surprise, it actually reclaimed a lot of space in this node. We're down to 2% utilization.

I don't know the reason for this difference in behaviour.

[2019-04-25 09:22] tsenart commented on #3587
Hmmm, let's see if this keeps happening. Hopefully it's a transient event.

[2019-04-25 09:22] tsenart commented on #3587
Thanks for flagging it, but do you think it's worth keeping an issue open for this?

[2019-04-25 09:23] #3591 closed

[2019-04-25 09:54] tsenart commented on #3588
#### Analysis

It's clear to me know what happened here. As they say, this was supposed to be a "feature", not a bug. So perhaps we can determine that it was a specification bug. Here's why:

Before 3.3, deleted repositories upstream didn't get deleted automatically in Sourcegraph. This meant that there could be repositories that Sourcegraph users were relying upon in search results that had been

[2019-04-25 10:08] felixfbecker commented on #3557
(found a solution though) https://github.com/sourcegraph/extension-api-stubs/pull/3

[2019-04-25 10:31] tsenart commented on #3590
After #3598 is merged, there's nothing about this migration that is different than normal background syncing in regards to code host communication, so I believe this will become a non-issue. Otherwise, if that still happens for another reason we haven't yet foreseen, is there a particular fix for this that you can think of? We need to run this migration.

[2019-04-25 10:33] tsenart commented on #3592
Working on this now.

[2019-04-25 10:36] tsenart commented on #3592
I assume that the customers that didn't have the username field set were setting it in the credentials part of the url. Otherwise their installation couldn't be operating normally.

Apart from documenting that admins must now set this field in the upgrade process, we can create a best effort migration that takes the username from the url and puts in the username.

[2019-04-25 10:51] felixfbecker opened #3599 "Test omnibox interface"
There are currently no tests for the omnibox interface, and it has been unreliable for me in the past. We need to find a way to test it.

[2019-04-25 11:14] felixfbecker opened #3600 "Overhaul usage of sourcegraph URL in browser extension"
At the moment, multiple ways are used to access the Sourcegraph URL:
- `window.SOURCEGRAPH_URL`
- `localStorage.getItem('SOURCEGRAPH_URL')`
- `storage.getSync(({ sourcegraphURL }) => ...)`
- `import { sourcegraphURL } from ...`

We need to define and use a single source of truth and also react to its changes everywhere (e.g. with an Observable)

[2019-04-25 11:22] tsenart commented on #3589
This will be fixed by #3466, so closing as a duplicate. Adding this context there.

[2019-04-25 11:23] tsenart commented on #3466
Additional reason for us to do this comes from #3589: Since we have the links in the database now, we can just serve them without contacting the code host. This is resilient to rate limit exhaustion.

[2019-04-25 11:34] tsenart commented on #3583
Yep, that's what I suggest we do. The Implementation plan looks good to me.

[2019-04-25 11:37] tsenart commented on #3594
I opened #3344 to fix the most pressing issue here, from which almost everything else derives.

For the missing `username` problem, I opened: #3601.

[2019-04-25 12:20] nicksnyder commented on #3587
Can reopen this if we see it again

[2019-04-25 12:20] #3587 closed

[2019-04-25 12:41] nicksnyder commented on #3582
Yeah, we need to not do concurrent requests and we should respect retry-after header https://developer.github.com/v3/guides/best-practices-for-integrators/#dealing-with-abuse-rate-limits

[2019-04-25 13:12] JoshuaKGoldberg opened #3603 "Sourcegraph icon on top-right of PR files is offset vertically by a few pixels"
- **Sourcegraph version:** "Github.com"
- **Platform information:** Chrome 73 on Mac OS

#### Steps to reproduce:

1. Install the Chrome browser extension
2. Visit https://github.com/sourcegraph/sourcegraph/pull/3602/files

#### Expected behavior:

Beautiful consistent vertical centering

#### Actual behavior:

![image](https://user-images.githubusercontent.com/3335181/56738238-32d38d80-673a-11e9-

[2019-04-25 13:26] tsenart commented on #3582
@nicksnyder: This hasn't changed, however, so I suspect it was exacerbated by what #3598 fixes. Another question this raises is what `github-proxy` is doing: Isn't it supposed to serialise requests?

[2019-04-25 13:27] #3588 closed

[2019-04-25 13:29] nicksnyder commented on #3582
I forgot about github-proxy. Whether or not it attempts to enforce this, our system is clearly failing to enforce this.

[2019-04-25 14:02] felixfbecker opened #3604 "Remove unused StorageItems from browser extensions"
There are a lot of StorageItems that are not _written_ to anywhere in the code base (they are _read_ though).

https://github.com/sourcegraph/sourcegraph/blob/68b73cac8a1fd9a9f2ad221ee12d53bd53b84d15/client/browser/src/browser/types.ts#L55-L79

@KattMingMing @sqs can we remove them or are they set through GCloud Admin and used by customers? If they are, which of them, and who did we document them

[2019-04-25 15:15] nicksnyder commented on #2485
This is relevant now with alerts that have been happening. Either we need to add another gitserver or a rebalance needs to happen (depends on if only one gitserver is filling up or all of them are).

[2019-04-25 15:57] #3582 closed

[2019-04-25 15:57] todo[bot] opened #3607 "(tsenart): When implementing dry-run, reconsider alternatives to return"
https://github.com/sourcegraph/sourcegraph/blob/e4b618ec965b3270906b7443cc0b3f9bd3181613/cmd/repo-updater/repos/github.go#L544-L549

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in e4b618ec965b3270906b7443cc0b3f9bd3181613 when #3605 was merged. cc @sourcegraph.

[2019-04-25 15:57] todo[bot] opened #3608 "(tsenart): When implementing dry-run, reconsider alternatives to return"
https://github.com/sourcegraph/sourcegraph/blob/fdfb5daed01981c83395d77e57689a977adefc5b/cmd/repo-updater/repos/github.go#L544-L549

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in fdfb5daed01981c83395d77e57689a977adefc5b. It&#x27;s been assigned to @tsenart because they committed the code.

[2019-04-25 16:22] ijt commented on #3579
I broke this. Fixing it.

[2019-04-25 16:33] #3592 closed

[2019-04-25 16:34] jamidwyer opened #3611 "Make the Install buttons more prominent and "button-y""
#### Feature request description

The Install buttons are easy to miss. Making them look like buttons would help.

#### Additional context

<img width="281" alt="Screen Shot 2019-04-25 at 9 32 45 AM" src="https://user-images.githubusercontent.com/509571/56752533-53e9ad80-673d-11e9-9a9d-2b6478c88ecb.png">

[2019-04-25 16:44] #3607 closed

[2019-04-25 16:45] tsenart commented on #3607
Duplicate of #3608. Seems to have happened again @nicksnyder.

[2019-04-25 17:11] #3579 closed

[2019-04-25 17:19] tsenart opened #3612 "repo-updater: Refactor observability code in {github|gitlab|etc}Connection"
As @ijt so well noticed, the business logic is drowning in observability code, an orthogonal concern.

We should try to adopt something like we did for `Source` and `Store`: https://github.com/sourcegraph/sourcegraph/blob/master/cmd/repo-updater/repos/observability.go

[2019-04-25 17:52] #3575 closed

[2019-04-25 17:56] ijt commented on #3578
I'm not getting this error. `https://sourcegraph.sgdev.org/search?q=foo`. Can you post a link to a search that reproduces the issue?

[2019-04-25 18:07] sqs commented on #3578
@ijt You aren't getting it because I removed the `maxReposToSearch` set to 50 in the dogfood site config yesterday. If you add it back, you will get the error. The question is why it was added (if it was added) or else why suddenly it became an issue.

[2019-04-25 18:13] nicksnyder opened #3613 "Patch release 3.3.2"
# 3.3.2 Release

- [x] Create a checklist of the changes that you want to release (i.e. open or merged PRs).
    - [x] https://github.com/sourcegraph/sourcegraph/commit/90938366c4c2bcacd58220333cfd51f93a701aa9
    - [x] https://github.com/sourcegraph/sourcegraph/commit/68b73cac8a1fd9a9f2ad221ee12d53bd53b84d15
    - [x] https://github.com/sourcegraph/sourcegraph/commit/fdfb5daed01981c83395d77e57689

[2019-04-25 18:20] ijt commented on #3578
I don't see anything in #3262 that would cause this. It seems more likely that someone made the change manually.

[2019-04-25 18:51] sqs commented on #3604
Any keys that are not written to in the browser extension code can be removed.

But please wait for @KattMingMing to answer this for https://app.hubspot.com/contacts/2762526/company/734382054 to confirm.

[2019-04-25 18:55] sqs commented on #3603
Possibly caused by the same GitHub DOM change in #3577

[2019-04-25 19:11] chrismwendt commented on #3438
That... shouldn't happen. There's only 1 node that the `dind` pod can be scheduled on, and that was an intentional decision to eliminate resource contention with other pods.

I'm curious what was using so much space, if not Docker images. Next time we can check.

[2019-04-25 19:25] #3254 closed

[2019-04-25 19:43] ggilmore commented on #3613
@nicksnyder FYI, I have cherry-picked a commit ontop of the 3.3 branch https://github.com/sourcegraph/deploy-sourcegraph/commit/3094adaed9bc47add2089ccdd7d1b54028704ac4. Could you make sure to include it when you tag 3.3.2 for deploy-sourcegraph?

[2019-04-25 20:06] dadlerj opened #3614 "Clojure code intelligence is spotty"
- **Sourcegraph version:** Sourcegraph.com

#### Steps to reproduce:

0. Enable the Clojure extension: https://sourcegraph.com/extensions/sourcegraph/clojure
1. Visit any Clojure repo on Sourcegraph.com, via https://github.com/trending/clojure, e.g. in https://sourcegraph.com/github.com/tonsky/FiraCode@master/-/blob/clojure/glyphs.clj
2. See that SOME symbols show hovers (e.g. [`current-char`](htt

[2019-04-25 20:09] chrismwendt commented on #3614
Ah, I need to make the `identCharPattern` configurable per language https://github.com/sourcegraph/sourcegraph-basic-code-intel/blob/a74c0aa6b41a36ce99da9484f6a855a69e409a2f/package/src/handler.ts#L15

[2019-04-25 20:12] dadlerj opened #3615 "Allow admins to turn off site-wide new release alerts (for minor releases)"
A customer requested to be able to turn off new version update alerts. We should offer this as a site configuration option.

Requested by:
* https://app.hubspot.com/contacts/2762526/company/407948923

[2019-04-25 21:19] slimsag commented on #3590
The context for this is in the linked issue above, i.e. this part:

Fundamentally the issue here is that when we are hitting the code host API rate limit, the migration fails. When the migration fails, repo-updater exits and restarts, trying the migration again. When it tries the migration again it consumes more rate limit and makes the problem worse by triggering abuse detection in the code host.

[2019-04-25 21:21] slimsag commented on #3582
Awesome that we improved the respect of rate limits here, but worth noting the real issue for the customer here I believe was https://github.com/sourcegraph/sourcegraph/issues/3590

[2019-04-25 21:45] nicksnyder commented on #3582
For https://app.hubspot.com/contacts/2762526/company/561806411 I think this was the real issue, given that their instance is now fine after they removed the deleted repos.

#3590 is only a problem if the rate limit is being unnecessarily exhausted (which is this issue), or if it not possible to list all repositories within the rate limit enforcement window (is this the situation that https://app.h

[2019-04-25 21:50] slimsag commented on #3592
So unfortunately #3601 wouldn't have fixed the issue for https://app.hubspot.com/contacts/2762526/company/407948923

This configuration was valid before 3.3:

[code]

This is valid without a `username` field AND without the username in the URL, because cloning is being performed via SSH. Gitserver only required the username when cloning via HTTPS. This obscure detail wasn't noticed in https://gith

[2019-04-25 21:58] slimsag commented on #3594
1. For the missing `username` problem, it looks like the solution there wouldn't have fixed the problem https://app.hubspot.com/contacts/2762526/company/407948923 faced actually BUT it turns out to be an obscure enough configuration that I think it is OK we don't handle it super nicely (current migration-blocking behavior seems OK).

2. For https://github.com/sourcegraph/sourcegraph/issues/3590, I

[2019-04-25 22:07] slimsag commented on #3582
No, that is not the situation https://app.hubspot.com/contacts/2762526/company/407948923 is in.

I believe it is only by luck that https://app.hubspot.com/contacts/2762526/company/561806411 got out of #3590. If you look at the timeline (although we do not have concrete times), it appears their instance was blocked and repo-updater was not starting for a while. I suspect this was happening for mult

[2019-04-25 22:19] ryan-blunden commented on #2199
Removing the `docs` label until a solution is agreed upon.

[2019-04-25 22:23] beyang commented on #3490
https://app.hubspot.com/contacts/2762526/company/464956351 has it installed natively, but I'm not sure what the state of GRAIL is. @KattMingMing might know?

[2019-04-25 22:23] ryan-blunden commented on #1952
@slimsag Given @sqs' [doc styleguide addition for large images](https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/blob/doc/dev/documentation/style_guide.md#images), can this now be closed?

[2019-04-25 22:25] felixfbecker commented on #2199
@ryan-blunden shouldn't we document the status quo before implementing any complex technical solution like a cache?

[2019-04-25 22:25] slimsag commented on #1952
No.

It's awesome that we are now enforcing it culturally :) But we need something to enforce it like a git push hook in the long haul

[2019-04-25 22:25] slimsag commented on #1952
(also, yeah, rewriting git history is bad so no on that)

[2019-04-25 22:26] ryan-blunden opened #3618 "Docs 3.4 tracking issue"
More details to come.

 - [3.4 docs issues](https://github.com/sourcegraph/sourcegraph/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+label%3Adocs+milestone%3A3.4+)

[2019-04-25 23:27] keremgocen opened #3620 "Uncaught error on github files changed view about missing toolbar mount location"
- **Sourcegraph version:** v19.4.16.929
- **Platform information:** 5.0.7-arch1-1-ARCH Google Chrome Version 72.0.3626.119 (Official Build) (64-bit)

#### Steps to reproduce:

1. Go to https://github.com/Microsoft/vscode/pull/72832/files (probably any PR with file changes)
2. Console error
[code]

#### Expected behavior:
Mount location logic should be updated

#### Actual behavior:
It happens for

[2019-04-25 23:28] #1624 closed

[2019-04-25 23:55] sqs opened #3623 "No blame info on raw Markdown file"
https://sourcegraph.sgdev.org/github.com/sourcegraph/Graphbook/-/blob/Dev%20lingo%20for%20non-devs.md?view=code#L15

No blame info is shown at the end of the line, even with blame enabled. Possibly a bug when viewing the raw (non-Markdown-rendered) file?

![image](https://user-images.githubusercontent.com/1976/56775194-da70b000-677a-11e9-9cf1-ff2055ff86d7.png)

[2019-04-26 00:14] slimsag opened #3624 "repo-updater: debt: ugly rate limit handling code introduced by me in migration codepath"
In https://github.com/sourcegraph/sourcegraph/pull/3617 I introduced an ugly fix for #3590 by using string error comparison and a sleep statement.

As mentioned in the TODO, ideally the underlying codehost source `ListRepos` would have an option passed down to it via the migration codepath which would cause it to slow down when rate limiting is encountered. I did not do it this way because I wasn'

[2019-04-26 00:22] felixfbecker commented on #3623
Issues here:
- URI is not decoded. Error from backend is `git ls-tree Dev%20lingo%20for%20non-devs.md: file does not exist`
- String concatenation with an object, resulting in `[object Object]` being logged.

_This is a good example btw of how dangerous it is that a core feature like blame has seen no code review and has no tests - these two issues that could have easily been caught through review

[2019-04-26 00:39] #3590 closed

[2019-04-26 00:39] todo[bot] opened #3625 "(tsenart): String error comparison here and time.Sleep"
https://github.com/sourcegraph/sourcegraph/blob/58a838b3a4e8c007eba91c9111ad7b8a997847df/cmd/repo-updater/repos/migrations.go#L78-L83

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 58a838b3a4e8c007eba91c9111ad7b8a997847df when #3617 was merged. cc @sourcegraph.

[2019-04-26 00:39] todo[bot] opened #3626 "(tsenart): String error comparison here and time.Sleep"
https://github.com/sourcegraph/sourcegraph/blob/1033f67435918f74e8969285117e9c515dbb6f92/cmd/repo-updater/repos/migrations.go#L78-L83

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 1033f67435918f74e8969285117e9c515dbb6f92. It&#x27;s been assigned to @slimsag because they committed the code.

[2019-04-26 00:39] slimsag commented on #3625
https://github.com/sourcegraph/sourcegraph/issues/3624 has better info

[2019-04-26 00:39] #3625 closed

[2019-04-26 02:37] Yaoir opened #3628 "Search: Save this search query"
- **Sourcegraph version:** Sourcegraph.com

- **Platform information:** Debian GNU/Linux 8 x86_64, with any of the following web browsers: Firefox 66.0.3, Google Chrome 74.0.3729.108, Opera 60.0.3255.59

#### Steps to reproduce:

1. Log into [sourcegraph.com](https://sourcegraph.com) and do this search:

https://sourcegraph.com/search?q=repo:github.com/Yaoir+time%5C.NewTicker+lang:go+case:yes+

2.

[2019-04-26 05:24] #3613 closed

[2019-04-26 05:43] sk-aaludra commented on #3526
Network issues is resolved. Within Docker container, I'm able to pull the data from Gitlab, however sourcegraph web console, throwing the same error. PFA, any help?

[sourcegraph.pdf](https://github.com/sourcegraph/sourcegraph/files/3119842/sourcegraph.pdf)

[2019-04-26 06:43] sqs opened #3630 "Instant search"
Instant search is where as you type each letter in a search query, it shows the results instantly (without needing to hit enter).

This makes users feel search is faster.

Customers interested:

- https://app.hubspot.com/contacts/2762526/company/547457240 (Livegrep user)
- https://app.hubspot.com/contacts/2762526/company/632191097 (Livegrep user)
- https://app.hubspot.com/contacts/2762526/company/

[2019-04-26 06:59] #553 closed

[2019-04-26 07:31] Jamesits commented on #2867
I can confirm this bug with a similar config. Tried space character in project name or use `%20`, the result is the same.

[2019-04-26 08:37] tsenart commented on #3624
Cross posting this comment because it applies here: https://github.com/sourcegraph/sourcegraph/pull/3617#issuecomment-486970503

[2019-04-26 08:39] tsenart commented on #3526
What is this attachment?

[2019-04-26 08:55] slimsag commented on #3509
Why was I assigned to this? Anyone can and should be able to cut patch releases, there is no reason to assign me

[2019-04-26 09:03] slimsag commented on #3624
@tsenart about your comment, thanks for the links.

I am curious if you could explain how this log line occurred to me? https://sourcegraph.slack.com/archives/GDS3PJ8GK/p1556144718002600?thread_ts=1556144204.001000&cid=GDS3PJ8GK

definitely possible I've just misunderstood one of your changes in some way

[2019-04-26 09:14] tsenart commented on #3624
Pasting those log lines with private info redacted here for context:

[code]

This indicates that we hit the abuse rate limit, not the normal rate limit. [Until yesterday](https://github.com/sourcegraph/sourcegraph/issues/3582) I wasn't aware of the difference.

But we fixed this by making requests [serially for the same code host](https://github.com/sourcegraph/sourcegraph/pull/3605) and respecti

[2019-04-26 09:34] sk-aaludra commented on #3526
Sourcegraph Error details, and container log. FYR

[2019-04-26 09:51] slimsag commented on #3624
Got it, that makes sense. The context I was missing was that we handled _rate limiting_ properly but just not _abuse rate limiting_. I assumed we needed to handle both in that situation, when in reality your change yesterday addressed it because we've only received reports with logs indicating the latter.

Reverting my change SGTM then!

[2019-04-26 10:03] tsenart commented on #3526
Please share it in a Github gist.

[2019-04-26 10:11] sk-aaludra commented on #3526
Here you go https://gist.github.com/sk-aaludra/ca1982b7b2bfc534b967e77538c24579

[2019-04-26 10:17] tsenart commented on #3526
This seems to be the same issue still. How was the network fixed?

[2019-04-26 10:19] sk-aaludra commented on #3526
Added host entry for gitlab domain to LAN IP address

[2019-04-26 11:49] tsenart commented on #3526
I opened a PR: https://github.com/sourcegraph/sourcegraph/pull/3632

[2019-04-26 13:26] nicksnyder commented on #3630
I think we would probably want to implement result streaming first.

[2019-04-26 16:39] dadlerj opened #3634 "[ACLs] GitHub admin users can't search without being Sourcegraph admins"
A customer reported a bug with GitHub ACLs. Assigning @beyang for triage.

A subset of users are unable to search for anything on their Sourcegraph (true with both 3.1 and 3.3.2).

It seems to be related to some sort of interaction with GitHub access permissions. Every repro case involves someone who is an admin in one or more GitHub repos, but who is not an admin on Sourcegraph. GitHub is used as

[2019-04-26 16:56] #3563 closed

[2019-04-26 17:06] chadasapp opened #3636 "Delete repositories when removing external service"
#### Feature request description

It would be nice if when removing an external service (eg: Github), you could delete all the repositories associated with it.

#### Is your feature request related to a problem? If so, please describe.

I had to do a lot of clicking when I removed an integration that had provided ~400 repositories.

#### Describe alternatives you've considered.

I looked for an ex

[2019-04-26 17:06] felixfbecker commented on #3509
Sorry @slimsag assigned you as release captain since Loic is on vacation

[2019-04-26 17:27] beyang commented on #3367
Related: https://github.com/sourcegraph/sourcegraph/issues/3634

The config collection mechanism should probably be tied to the feedback collection mechanism, which might be tied to filing an issue.

Proposal:
* Feedback widget that has 2 buttons: (1) Quick feedback (2) File an issue
  * Quick feedback is just for text issues. It should send the current page the user is on (redacting any sensitive

[2019-04-26 17:44] sqs opened #3638 "Remove smart-casing behavior from search"
Smart casing (see `case:` on https://docs.sourcegraph.com/user/search/queries) is the search behavior where the search is case-sensitive if the query text contains an uppercase letter, and case-insensitive otherwise.

While the idea is potentially good, it needs more UI work to be intuitive. The UI needs to explicitly communicate that smart-casing behavior is active when it is. Otherwise, users wh

[2019-04-26 17:48] #3458 closed

[2019-04-26 18:19] #3529 closed

[2019-04-26 18:21] beyang commented on #3509
Have cut v3.2.4. The remaining steps in the issue description are unnecessary, because this is a patch release for an older version (not the latest).

[2019-04-26 18:21] #3509 closed

[2019-04-26 18:24] attfarhan opened #3641 "Patch release 3.3.5"
# 3.3.5 Release

- [x] Create a checklist of the changes that you want to release (i.e. open or merged PRs).
  - [x] https://github.com/sourcegraph/sourcegraph/commit/ef477c26cbfadf2f299a34df866d240b7a7b3c6d
  - [x] https://github.com/sourcegraph/sourcegraph/commit/96d34dfb9e3acf771af6a87b8fbacbfa01ad24d2
  - [x] https://github.com/sourcegraph/sourcegraph/commit/73f384ee0a9d9e7d73ded14dedcaf6178e6

[2019-04-26 18:30] #3638 closed

[2019-04-26 18:34] #3052 closed

[2019-04-26 18:38] #3577 closed

[2019-04-26 18:47] #3624 closed

[2019-04-26 19:14] slimsag opened #3644 "When command palette is empty, UI is confusing"
This UI doesn't tell me what Sourcegraph actions are, how I can get them, or why the list is empty and that is confusing to me:

![image](https://user-images.githubusercontent.com/3173176/56830980-bc5b8c00-681c-11e9-8139-6f02d2258816.png)

Ideally it should tell me this information and that actions are contributed by extensions and where I can install those.

[2019-04-26 19:40] slimsag opened #3645 "Regression? User settings editor is broken / only has few pixels height"
I cannot edit user settings on my v3.2.4 and v3.3.2 (latest) instances because the editor is only a few pixels in height:

![image](https://user-images.githubusercontent.com/3173176/56831535-2fb1cd80-681e-11e9-89e7-5831a9fca843.png)

- This also occurs on the Global Settings page, but not the site config page.
- This occurs in both latest Firefox and Chrome versions.
- It occurs for all users, reg

[2019-04-26 19:44] slimsag commented on #2408
Multiple customers faced panics recently that may have been caught earlier if we'd had this.

Additionally, https://sourcegraph.slack.com/archives/C08JA8Q1H/p1556296172008000 was also caused by a panic in prod going undetected.

At the very least it would be nice to have a prometheus alert on the # of panics caught by recover handlers in our codebase.

[2019-04-26 19:55] ggilmore commented on #3645
@slimsag It works for me on https://sourcegraph.sgdev.org

[2019-04-26 20:33] slimsag commented on #3645
Yeah, also works on sourcegraph.com just not on customer deployments it seems. Maybe it's recently fixed and thus working on sgdev and .com?

We need to check if this is broken in latest released version

[2019-04-26 20:54] mrnugget opened #3648 "Change the headline in the browser extension toast"
#### Feature request description

After setting up a fresh Sourcegraph installation the following toast pops up:

<img width="569" alt="Screen Shot 2019-04-25 at 12 16 22" src="https://user-images.githubusercontent.com/1185253/56835734-ea939880-6829-11e9-9ccc-68e64dca6e5f.png">

After reading the text I was confused as to what the "Install" button would lead to. Turns out it's about installing the

[2019-04-26 21:10] ryan-blunden opened #3649 "Add "how to describe Sourcegraph in 1 or 2 sentences" to the styleguide"
Across different sites, such as GitHub, Twitter and DockerHub, we have different ways of describing Sourcegraph.

This issue requires two things:

- [ ] @sqs: Defining one or two versions of the descrition and adding it to the styleguide.
- [ ] @ryan: Updating the below sites.

Below are the most important sites with their current descriptions

---

**[Homepage](https://sourcegraph.com/welcome)**

[2019-04-26 22:13] sqs commented on #2867
Thank you for reporting. To help us understand priority, is using spaces in repo names a common thing in Azure DevOps? @jamesits Are you also using Azure DevOps?

[2019-04-26 22:16] sqs opened #3652 "Docsite should be tolerant of incorrect version"
If a customer is using a patched version of Sourcegraph (eg with a version identifier like `v31468_2019-04-12_48d5c9d_patch` not `3.3.0`), all links to our docs.sourcegraph.com site from the product do not work. They point to URLs like https://docs.sourcegraph.com/@v31468_2019-04-12_48d5c9d_patch/user/search/queries.

Reported by https://app.hubspot.com/contacts/2762526/company/464956351

[2019-04-26 22:20] sqs commented on #3652
For patch builds of the product (which we sometimes use for customers when there are minor changes needed), it is important that the docs still link to the right version. For example, if a customer is on a patched version of 3.1, we want them to be taken to the 3.1 docs, not to the 3.3 docs.

The right solution seems to be to use the "last major version of the product" for generating docs.sourcegr

[2019-04-26 22:30] abeyerpath commented on #2867
As a educated guess...I'd suspect that "human friendly" naming is probably _more_ common on AzDO than other environments simply because it's sort of the hosted next-gen version of TFS, which was traditionally very UI driven and thus probably tended to give less thought to making naming schemes URL/machine friendly. There also isn't any immediate feedback when naming a project to discourage doing s

[2019-04-26 23:02] #3641 closed

[2019-04-26 23:19] Jamesits commented on #2867
Yes I’m using Azure DevOps

[2019-04-26 23:41] attfarhan opened #3654 "Bad wording in patch release issue template"
https://sourcegraph.slack.com/archives/C07KZF47K/p1556321903241800?thread_ts=1556309241.230300&cid=C07KZF47K

[2019-04-26 23:55] attfarhan commented on #3529
Hey @sfllaw, thanks for reporting this. We've shipped a patch release 3.3.5 with a fix for this.

[2019-04-26 23:56] attfarhan commented on #3638
Reverted smart-casing in patch release 3.3.5.

[2019-04-27 00:02] tsenart commented on #3526
@sk-aaludra: Tomorrow or Monday, please try running the `sourcegraph/server:insiders` image and let us know if it fixed your issue.

[2019-04-27 00:19] #3356 closed

[2019-04-27 01:39] mrnugget opened #3656 "Documentation for `repositoryQuery` in GitHub default configuration is wrong"
The current `defaultConfig` for GitHub contains this documentation and default value for `repositoryQuery`:

https://github.com/sourcegraph/sourcegraph/blob/5632b59b90bd7de7430ca91d0de7e9ca0ea33423/web/src/site-admin/externalServices.tsx#L197-L200

The problem is that the documentation (`An array of strings specifying [...]`) describes the `repos` attribute documented here: https://docs.sourcegrap

[2019-04-27 07:18] sk-aaludra commented on #3526
Awesome, it works as expected. Let me start exploring this interesting project. Thanks for the quick turnaround. I hope this fix will be included in future release

[2019-04-27 07:50] tsenart commented on #3526
It will be included in the 3.4 release. Cheers!

[2019-04-27 07:50] #3526 closed

[2019-04-27 11:39] tsenart commented on #3656
From the documentation:

[code]

How did you come to this conclusion?

[2019-04-27 12:17] mrnugget commented on #3656
Looking at it now again: I have no idea! 😉 Sorry about that, it seems like I misread something and then jumped to the wrong line in the documentation and ultimately to the wrong conclusion.

That being said: in the context of GitHub and repositories the sentence `An array of strings specifying which GitHub or GitHub Enterprise repositories [...]` immediately made me think of `:owner/:repository`.

[2019-04-27 13:42] tsenart commented on #3656
That sounds good to me.

[2019-04-28 00:25] #576 closed

[2019-04-28 03:42] sfllaw commented on #3529
Confirmed fixed in 3.3.5.

[2019-04-28 10:26] tsenart commented on #3558
@slimsag: Ping.

[2019-04-28 13:05] slimsag commented on #3558
Thousands, with tens being created and deleted each day. Doing this manually is not feasible and would require me to write a script to update this config after dumping the list from bitbucket.

[2019-04-28 15:01] felixfbecker commented on #3645
Possibly related https://github.com/sourcegraph/sourcegraph/pull/2088 @sqs

[2019-04-28 16:24] tsenart commented on #3558
Gotcha.

[2019-04-29 04:17] JP3BGY opened #3658 "Show reference one line below"
- **Sourcegraph version:** sourcegraph.com
- **Platform information:** latest Firefox and Chrome on Linux(Ubuntu 19.04) and Windows 10

#### Steps to reproduce:

Visit [here](https://sourcegraph.com/github.com/tianocore/edk2@master/-/blob/MdeModulePkg/Core/Dxe/Mem/Pool.c#L394)

#### Expected behavior:

show reference under a cursor

#### Actual behavior:

show reference one line below the line und

[2019-04-29 08:59] aisbaa commented on #1221
Is it in v3.3?

[2019-04-29 11:48] Jamesits commented on #2867
I did some experiments with space in either project name or repo name, in both cases, sourcegraph will return 404 when trying to view files. Search is not impacted by this. I guess there are some double/iterative URL decode issues happening somewhere.

Note that Azure DevOps git URL looks like `https://dev.azure.com/{org}/{project}/_git/{repo}`, and you can have spaces in both project name and rep

[2019-04-29 15:47] KattMingMing opened #3665 "Go code intel: Find References and hover tooltips shows duplicate definitions"
When hovering over https://sourcegraph.com/github.com/gorilla/mux@master/-/blob/mux.go#L25:17&tab=references and viewing the references there's several definitions that appear in the hover tooltip.

It looks like there's also several **References: Search mode** buttons in the panel header.

Screenshot below:

<img width="1440" alt="Screenshot 2019-04-29 08 44 43" src="https://user-images.githubuse

[2019-04-29 16:53] sriniCA opened #3666 "sourcegraph on private repo"
#### Question description

I am able to use sourcegraph  chrome extension in my public github.com projects for code search. It is not working on my github.#######.net ( private git at my workplace). when I click on the sourcegraph icon , enable it, I see   configure Sourcegraph label instead of the icon.

Any help would be greatly appreciated.

#### Is your question related to a problem? If so, pl

[2019-04-29 17:09] felixfbecker opened #3667 "Add e2e test for Phabricator integration"
To make sure we can be confident that the Phabricator integration still works before we release.

Should probably spin up a Phabricator instance using our script and then check hovers/buttons appear through Puppeteer.

[2019-04-29 17:18] #3654 closed

[2019-04-29 17:42] felixfbecker opened #3669 ""view on Sourcegraph" buttons should always open in new tabs"
They open a different host, so I would always expect them to open in a new tab.
It is very annoying to lose your context, review state and codeintel connection state in the mid of a code review.

[2019-04-29 19:34] slimsag commented on #1290
To be honest, using Renovate for Go dependencies right now sucks:

1. According to @felixfbecker the large number of Go PRs is blocking our TypeScript PRs from being created.
1. Despite Renovate PRs trying to be scoped to a single dependency, Go dependencies are intermingled  so when Renovate updates "1 dependency" it is actually updating multiple in the go.sum file. So you aren't just reviewing t

[2019-04-29 20:06] nicksnyder commented on #1290
My vote would be to enable be master issue workflow (for at least Go) so PRs don’t get created until someone is actually ready to take a look. I don’t think “get notified that a dependency has an update” is that relevant because (1) it seems safe to assume that all deps always have an update and (2) the notification doesn’t actually help because it is rarely the case that we have the bandwidth to

[2019-04-29 20:08] slimsag commented on #1290
To be clear, by notification I actually meant "having a list of dependencies that need updating"

[2019-04-29 20:14] rarkins commented on #1290
I’d also recommend Master Issue Approval enables for Go specifically: https://renovatebot.com/blog/master-issue

Re: go.sum, It’s unavoidable that a “single” update may trigger many updates to go.sum, just like with yarn.lock. But further, it can even trigger multiple updates to go.mod too, if there are shared dependencies. This is a particular characteristic of Go’s minimum version approach.

[2019-04-29 20:16] felixfbecker commented on #1290
@nicksnyder SGTM.

@slimsag I don't think they should update more than one dependency. Sounds like a bug @rarkins?

[2019-04-29 20:18] slimsag commented on #1290
@rarkins Definitely, no argument there, it is an intrinsic property of Go's versioning system. But this property makes Renovate's PR interface quite nasty to use in combination with Go.

[2019-04-29 20:46] felixfbecker opened #3672 "Replace custom Tooltip component with @reach/tooltip"
This looks like a well-made component to me: https://ui.reach.tech/tooltip/
It would save us from spending time on maintaining our own custom Tooltip component.

[2019-04-29 20:51] rarkins commented on #1290
@felixfbecker not a bug, it’s a feature of Go’s minimum version selection. If the dependency you’re updating itself requires a newer version of something in your go.mod then you get more than one line updated.

I can assure you that doing it all by hand sucks pretty hard too.

[2019-04-29 20:54] felixfbecker commented on #1290
But I don't see how that is any different for other langs - if an npm dependency requires a newer transitive dep, it would update that too?

[2019-04-29 20:59] slimsag commented on #1290
What does your review flow for renovate PRs with transitive deps @felixfbecker ?

In my case with Go, it looks like:

- View renovate PR
- Look at diff to figure out what the commits were to find difference in each dependency (transitive or not).
- Review those diffs.
- If they look good / came from trusted authors, approve and merge renovate PR.
- All other renovate PRs now have merge conflicts,

[2019-04-29 21:02] felixfbecker commented on #1290
I think npm deps rarely update transitive deps, and if they do, they are usually not important to review because only updates to the first-order dependency can affect the API and be breaking (transitive deps are an implementation detail, and if they are breaking, the first-order dependency would bump the major version too)

[2019-04-29 21:32] rarkins commented on #1290
When you merge a Renovate PR, it triggers a webhook that causes Renovate to run within seconds. How long it takes to complete depends on how much work it needs to do, and this repo has over 100 branches of outdated dependencies so that's a lot of work.

Looking at the last 2 merges of Go dependencies in this repo:

Last:
- 2019-04-29T19:39Z        @slimsag merged #2507 (approximate time according

[2019-04-29 21:37] rarkins commented on #1290
@felixfbecker you can of course liken `go.mod`/`go.sum` to `package.json`/`yarn.lock` although the comparison only stretches too far. In my opinion, the updates you get to `go.sum` *can* be compared to the updates you get to `yarn.lock`. However the cascading impact in Go can be very different between `go.mod` and `package.json`. An update to a version in `package.json` can never "force" other dep

[2019-04-29 21:49] rarkins commented on #1290
Predictably I'm a firm believer in "if you update dependencies by hand, you're going to have a bad time". I welcome any ideas for bettering the way we *automate*, but have to remind first that:
1. If a "single" dependency update appears to impact `go.mod` and `go.sum` more than you like, there's nothing you can do because that's how Go Modules work
2. If you have lots of PRs open, you have a good

[2019-04-29 23:31] chrismwendt commented on #3665
Can you open the "Ext" menu at the bottom right? I'm curious if there are extra extensions running.

[2019-04-29 23:33] carloslfu opened #3673 "Simplify forms with Formik on web app."
#### Feature request description
Motivation (web app):
- There are 29 forms.
- There are 20 `onXFieldChange` like methods, that is the source of 60 LOC, and it takes approximately 2.8 Kb, for instance in [UsernamePasswordSignInForm](https://github.com/sourcegraph/sourcegraph/blob/master/web/src/auth/UsernamePasswordSignInForm.tsx#L92). This is repeated code that adds unnecessary complexity to the

[2019-04-29 23:33] CreatCodeBuild opened #3674 "Syntax highlight on Markdown code"
#### Feature request description

Syntax highlight on Markdown code.

#### Is your feature request related to a problem? If so, please describe.

No

#### Describe alternatives you've considered.

No

#### Additional context

No

[2019-04-29 23:36] chrismwendt commented on #3546
@slimsag Your feedback was about basic-code-intel, not single-click j2d, right?

[2019-04-29 23:59] slimsag commented on #3674
Thanks for filing an issue for this! It appears to be a duplicate of this one: https://github.com/sourcegraph/sourcegraph/issues/2144 so I'll close this.

[2019-04-29 23:59] #3674 closed

[2019-04-30 00:06] slimsag commented on #3666
Hello, it's not entirely clear to me from the description what the issue is. Could you upload a screenshot or exact text of what the problem is?

Have you already installed Sourcegraph to use it with private code? (see quick start guide here: https://docs.sourcegraph.com/)

If you have done that already and the problem is in the browser extension, have you configured it to use your instance? https

[2019-04-30 00:33] CreatCodeBuild commented on #3674
@slimsag I did this because this is a requirement for applying for sourcegraph

[2019-04-30 01:31] slimsag commented on #3674
Can you clarify what you mean? For a job application? Where'd you find that?

[2019-04-30 01:31] #512 closed

[2019-04-30 08:06] keegancsmith commented on #2867
We need to triage this and determine where this is breaking down in our product. @attfarhan can you own reproducing this and finding the exact requests which are failing? And then look at the trace to see what is passed to the DB for the lookup. I took a quick look since I thought it may be a problem in our URL routing, but the regexes don't seem to care: https://sourcegraph.com/github.com/sourceg

[2019-04-30 08:14] keegancsmith commented on #3558
Proposal:

An exclude list item is currently `{ name: string, id: int }`. Update it to also allow `{ pattern: regex }`. If a name matches the regex, we exclude it. Pattern is mutually exclusive to specifying name or id. WDYT @tsenart?

[2019-04-30 08:17] keegancsmith commented on #2408
@sourcegraph/distribution can one of you own triaging this.

[2019-04-30 08:36] keegancsmith commented on #2485
@slimsag how would your prioritize this issue w.r.t. to customers? I don't see this being a lot of work, but I'd rather only work on it when we have planned to work on it for an iteration. With regards to it happening to us on sourcegraph.com, is there any work left there to remediate that. Or would ensuring this functionality worked solve what is left for sourcegraph.com?

[2019-04-30 08:44] keegancsmith commented on #3490
@ijsnow did we ever support Phabricator outside of the native extension? I don't think we ever did, so this is a bug in our documentation + the design of when we added the external services UI.

The easiest fix here is to just remove phabricator from the external service UI and update the docs. We can then only rely on the gitolite field for linking repositories to phabricator.

However, if our cu

[2019-04-30 08:46] keegancsmith commented on #3467
Additionally we need to discuss if we can implement syncer dry-run mode this iteration to unblock @beyang: https://github.com/sourcegraph/sourcegraph/issues/2866

[2019-04-30 08:55] slimsag commented on #2485
There is one customer I work with that needs this for reducing their gitserver replica count. It's not super high priority, but would be nice to have.

[2019-04-30 09:27] keegancsmith commented on #2485
Ok, I've updated the title and I am going to leave this in the backlog. We will reconsider this next iteration.

[2019-04-30 10:04] tsenart commented on #3558
@keegancsmith: Sounds good!

[2019-04-30 11:57] sqs commented on #3490
When I was writing https://docs.sourcegraph.com/integration/phabricator and https://docs.sourcegraph.com/admin/external_service/phabricator#repository-syncing-and-linking, I intended to convey that Phabricator was different, but clearly this failed. I just pushed up a PR to clarify this at https://github.com/sourcegraph/sourcegraph/pull/3676.

Same with the external services UI, which says "Phabri

[2019-04-30 12:14] sqs opened #3677 "Add F# support"
Some folks have requested F# support. Please follow this issue to get notified about updates.

The full list of currently supported languages is at https://sourcegraph.com/extensions?query=category%3A%22Programming+languages%22.

[2019-04-30 12:18] sqs commented on #3645
Looking into this now

[2019-04-30 12:21] sqs commented on #3645
Trying to repro...

## sourcegraph/server:3.3.2 (works)

![image](https://user-images.githubusercontent.com/1976/56961107-b65cf800-6b07-11e9-98f3-a5a24d956000.png)
![image](https://user-images.githubusercontent.com/1976/56961120-bd840600-6b07-11e9-9ba8-3b63cfd10dde.png)

## sourcegraph/server:3.3.5 (works)

![image](https://user-images.githubusercontent.com/1976/56961061-90375800-6b07-11e9-8d26-36

[2019-04-30 12:31] danyx23 commented on #3677
Thanks for creating this issues so quickly! For F# there is a editor agnostic backend that is used by the popular plugins to parse type information etc: https://github.com/fsharp/FsAutoComplete . I don't follow the developments too closely, but AFAICS the maintainers of the Ionide VS Code plugin (and probably FsAutoComplete as well?) are planning to move to the LSP soon https://github.com/ionide/i

[2019-04-30 16:31] #111 closed

[2019-04-30 16:31] #615 closed

[2019-04-30 18:23] ijt opened #3679 "testing: add something to help reproduce issues with lots of repos"
To reproduce customer issues involving many repos, it would be useful to have a service that would dynamically create and serve any number of repos, along with config files to paste into a sourcegraph instance. Let's call it fakehub for now.

For example, here's a command that could serve 1000 copies of a git repo:

`$ fakehub --addr=:8090 -n 1000 path/to/some/git/repo`

The copies could be access

[2019-04-30 21:22] slimsag opened #3680 "repo-updater duplicate repo issue"
In some customer deployments we've observed a problem where duplicate repos somehow end up appearing after `NewDiff` and they prevent repo-updater from doing its job properly. See customer issue for further details.

[2019-05-01 02:02] chrismwendt opened #3686 "Patch release 3.3.6"
# 3.3.6 Release

- [x] Create a checklist of the changes that you want to release (i.e. open or merged PRs).
  - [x] Enable all language extensions by default https://github.com/sourcegraph/sourcegraph/pull/3681
- [x] Communicate your intentions by sending a message to #dev-announce that includes a link to this issue.
- [x] Cherry pick changes into the existing release branch (this exists already

[2019-05-01 03:25] #3686 closed

[2019-05-01 03:44] chrismwendt commented on #3658
Sourcegraph has an extra empty line 45:

https://github.com/tianocore/edk2/blob/273190e189755d652de886b653d2c14bfceeb3ed/MdeModulePkg/Core/Dxe/Mem/Pool.c#L44-L46

![image](https://user-images.githubusercontent.com/1387653/57004919-16937e80-6b88-11e9-8942-8f6fed372e04.png)

https://github.com/tianocore/edk2/blob/273190e189755d652de886b653d2c14bfceeb3ed/MdeModulePkg/Core/Dxe/Mem/Pool.c#L44-L45

![im

[2019-05-01 04:42] ijt commented on #1221
Turns out I spoke too soon. In fact this issue is present not only in v3.3 but also in HEAD. Here's a local repro at HEAD:

![Screen Shot 2019-04-30 at 9 40 49 PM](https://user-images.githubusercontent.com/15530/57005923-ca007100-6b90-11e9-87c8-3bf4dae796c5.png)

Reopening this.

[2019-05-01 05:30] #3679 closed

[2019-05-01 06:32] sqs opened #3688 "Basic Protobuf/Thrift/GraphQL/etc. code intel"
As a user:

- I would like to be able to hover over a token (service name, type name, or method/field name) in an IDL file (Protobuf, Thrift, or GraphQL) and see "Find references" (more important) and "Go to definition". These should find tokens in files of *all* languages (i.e., in generated code *and* code that uses the generated code), not just in the IDL files.
- (Less important, can be in v1)

[2019-05-01 07:40] felixfbecker commented on #3673
Hi @carloslfu, I agree that there is code duplication and I see the potential for abstraction. Here are the constraints I would impose for such an abstraction:

- It must be 100% type safe
- It must not do hacky things (`React.findDOMNode()`, `querySelector()`, etc)
- It must do/support form validation feedback through native HTML validation API and  Bootstrap classes, [like our current `Form` com

[2019-05-01 09:20] b-j-p commented on #2756
@slimsag suppose I have a fix for this issue working on my local branch, and I do, what's next?

[2019-05-01 14:58] #3628 closed

[2019-05-01 16:44] #125 closed

[2019-05-01 17:32] ijt opened #3746 "search: see if we can remove the sync.Once optimization in gitCommitResolver.OID"
It may no longer be necessary now that @slimsag has added a cache that serves the same purpose.

1. Add a benchmark that exercises gitCommitResolver.OID in an approximately realistic way, ideally by issuing some search queries.
2. Try removing gitCommitResolver.once and see if the perf is affected.

[2019-05-01 17:35] #3656 closed

[2019-05-01 17:35] ijt commented on #1221
@aisbaa, can you use `a.*b` instead for now? Is there some case it doesn't handle?

[2019-05-01 19:14] slimsag opened #3748 "enterprise Procfile out of sync with OSS one"
We should not have two of these anymore, but in https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/commit/70c07329b65f3cd4dafb8f872a7f07e5744a8fff#diff-9bd6ddc8de768b2a6e3f9347c7b29149 @keegancsmith made a change to only the OSS Procfile which means indexed search doesn't work when running `./enterprise/dev/start.sh`.

I've fixed in https://github.com/sourcegraph/sourcegraph/pull/3685#di

[2019-05-01 19:23] keegancsmith opened #3749 "Remove hardDelete field from Discussions"
hardDelete is no longer needed, since we do cascade deletes in https://github.com/sourcegraph/sourcegraph/pull/3745

[2019-05-01 19:36] keegancsmith commented on #3680
For interest sake the root cause was quite tricky and we came across a few issues while fixing this:

* We would fallback to associating repos by name if external ID lookup fails. This should only be done for repos which don't have external IDs. This is the most likely root cause for the customer.
* Our SQL logic would not allow us to do renames where intermediate updates would have a name conflic

[2019-05-01 19:43] slimsag commented on #3746
I mentioned this in #3685 -- this isn't the right approach.

This is not possible without a significant undertaking. In order to verify this, we would need to vet or add benchmarks for every downstream consumer of this method: https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/blob/cmd/frontend/graphqlbackend/git_commit.go#L86:29&tab=references

That is to say, it is not just search that

[2019-05-01 19:54] slimsag opened #3750 "gitCommitResolver should not do lazy OID resolution"
Because Zoekt-produced file matches do not contain a commit ID, this is an empty string for Zoekt search results:

https://github.com/sourcegraph/sourcegraph/blob/a464200809bd8d79ef843205084f5d95b1087bfe/cmd/frontend/graphqlbackend/textsearch.go#L81

Due to this you could not fetch information about the Git commit for Zoekt-produced file match search results, as documented:

https://github.com/sou

[2019-05-01 19:55] slimsag commented on #3746
Closing in favor of https://github.com/sourcegraph/sourcegraph/issues/3750

[2019-05-01 19:55] #3746 closed

[2019-05-01 20:13] slimsag opened #3751 "3.2.5 Release"
# 3.2.5 Release

- [x] Create a checklist of the changes that you want to release (i.e. open or merged PRs).
    - [x] 4fbdf0c556ef711e2c46d81624d1499a3af0679b https://github.com/sourcegraph/sourcegraph/pull/3685
- [x] Communicate your intentions by sending a message to #dev-announce that includes a link to this issue.
- [x] Cherry pick changes into the existing release branch (this exists already

[2019-05-01 21:24] dadlerj commented on #2947
Reported by https://app.hubspot.com/contacts/2762526/company/693777177

[2019-05-01 21:36] slimsag commented on #3751
Done & remaining points are not relevant for this release.

[2019-05-01 21:36] #3751 closed

[2019-05-01 21:42] #3680 closed

[2019-05-01 21:50] sqs opened #3752 "Add mgmt console to architecture diagram"
https://docs.sourcegraph.com/dev/architecture has a diagram (below) that doesn't include the management console, which is important because it talks to PostgreSQL and Redis. Customers who are using the diagram to understand how Sourcegraph communicates with persistent storage may find it helpful to know that the management console also talks to PostgreSQL directly.

![image](https://user-images.gi

[2019-05-01 22:13] ijt commented on #1221
It's an issue in zoekt: https://github.com/google/zoekt/issues/82.

[2019-05-01 22:45] slimsag commented on #3748
Fixed by #3685

[2019-05-01 22:45] #3748 closed

[2019-05-02 00:05] sickyoon opened #3754 "Provide references from forked repositories"
#### Feature request description

Provide references from forked repositories

#### Is your feature request related to a problem? If so, please describe.

I have a few community forks for my open source project, https://github.com/gocelery/gocelery.
I am backporting some interesting ideas from these forked projects and it would be very useful for Sourcegraph to display references/definitions from

[2019-05-02 01:14] #667 closed

[2019-05-02 04:06] keegancsmith opened #3764 "migrations: Investigate why slow migrations can succeed, but are marked as failed"
For example our migration rolling out DEFERRED was marked as dirty on Sourcegraph.com. However, the migration actually did succeed.

Working theory:

- Frontend sends migration to postgres
- Some very long period later Kubernetes health check fails, kills frontend
- The migration completed because Postgres was running the query and didn't care that frontend disconnected
- Frontend died so it didn'

[2019-05-02 04:14] sqs opened #3765 "Nicer display of sign-in errors"
When a user's sign-in fails, they are shown a text/plain page with a message like:

[code]

Reported by a user from https://app.hubspot.com/contacts/2762526/company/407948923 on Sourcegraph.com, not on their internal instance

[2019-05-02 06:00] keegancsmith commented on #2947
I'm unsure if we ever supported sub-modules. cc @sqs

[2019-05-02 06:17] sqs commented on #2947
We do support them by linking them in the file tree to the repo they refer to; see 2.11.0 changelog at https://sourcegraph.com/github.com/sourcegraph/sourcegraph@1c1d9ca000a7995c0872d2770f0a4e356bbf548e/-/blob/CHANGELOG.md#L464:7:

This was added for https://app.hubspot.com/contacts/2762526/company/578600789.

[2019-05-02 06:20] keegancsmith opened #3768 "unused site setting git.cloneURLToRepositoryName"
The documentation for this setting is

However, I do not see anywhere in our codebase we actually read this setting. We should remove this field. cc @sourcegraph/core-services to discuss.

[2019-05-02 06:58] siddharthab opened #3769 "Document Markdown syntax"
#### Feature request description

Markdown rendering requirements (syntax support and styling) can vary between organizations. It will be nice for site admins to be able to plug in their markdown engines.

#### Is your feature request related to a problem? If so, please describe.

The current markdown rendering engine is a black box to users, and it is difficult to guide users into how to configur

[2019-05-02 07:16] #3749 closed

[2019-05-02 10:11] keegancsmith opened #3777 "repo-updater: Remove always sorting repos in test assert"
Context https://github.com/sourcegraph/sourcegraph/pull/3745#discussion_r280304362

[2019-05-02 12:10] lguychard opened #3778 "Extension becomes unresponsive on very large PR"
#### Steps to reproduce:

1. Visit https://github.com/sourcegraph/sourcegraph/pull/584/files#diff-1167f49285cd564ecdab1a422ff7ffc3L91
2. Witness extension becomes unresponsive:

![image](https://user-images.githubusercontent.com/1741180/57074333-dba65d80-6ce3-11e9-972d-f387d63aec4b.png)

[2019-05-02 12:58] tsenart commented on #3467
We are punting #2573 to the next cycle.

[2019-05-02 14:32] #3558 closed

[2019-05-02 16:07] tsenart commented on #3465
Hey @mrnugget, it turns out we don't need `awscodecommit.repos` anymore because it's not needed in the enabled state deprecation migration since this PR: https://github.com/sourcegraph/sourcegraph/pull/3598

[2019-05-02 16:08] tsenart commented on #3465
Updated the issue description accordingly.

[2019-05-02 16:37] mrnugget opened #3782 "Use a single name for scopes & filters consistently"
I'm opening this ticket because I think new users of Sourcegraph might get confused by the inconsistent naming of the feature called "scopes" or "filters".

Example: on `/search` it's called "scopes" (`Edit search scopes`, `Add search scopes for quick filtering`, ...). In the "User settings" too. But when looking at search results, the scopes show up next to `Filters:`.

I know that scopes technic

[2019-05-02 16:39] mrnugget opened #3783 "Show scopes below search bar when looking at file/repository"
Is there a specific reason for why scopes only show up on `/search`, when constructing a new query and/or looking at search results, but *not* when looking at a file/single search result?

I'm asking because what I find myself doing often:
1. construct search query, using scopes
2. browse through results
3. click on result, think "nope, that's not it"
4. jump to search input in order to refine the

[2019-05-02 16:58] dadlerj opened #3784 "Duplicate "Site configuration" in admin docs"
There are duplicate "Site configuration" entries in the admin docs:

![image](https://user-images.githubusercontent.com/5589410/57092675-c5d37100-6cc0-11e9-97c5-03e436343a90.png)

And one of them is an empty page:
https://docs.sourcegraph.com/admin/site_config

Can we just get rid of it? Are there old links?

[2019-05-02 17:25] slimsag opened #3786 "3.3.7 Release"
# 3.3.7 Release

- [x] Create a checklist of the changes that you want to release (i.e. open or merged PRs).
    - [x] https://github.com/sourcegraph/sourcegraph/commit/a5726392ddd526e00e84c5f9020bb1642f4a05c3
    - [x] https://github.com/sourcegraph/sourcegraph/commit/41db489a9173fb4da1d2aab64e5f304f64c4dd07
    - [x] https://github.com/sourcegraph/sourcegraph/commit/c4b8beb5e06e59fe0c5122c6273d7

[2019-05-02 17:36] carloslfu commented on #3673
Hi @felixfbecker. I evaluated Formik on these constraints, here the result:
- It must be 100% type safe: Quoting the [Formik's documentation](https://github.com/jaredpalmer/formik/blob/master/docs/guides/typescript.md), "The Formik source code is written in TypeScript, so you can rest easy that Formik's types will always be up-to-date". I used it with TypeScript and works quite well ✅.
- It must n

[2019-05-02 17:51] felixfbecker commented on #3604
Could someone explain to me how managed storage is configured? Can the admin just edit a JSON file, i.e. set arbitrary keys? Or is it only keys we declared somewhere?

[2019-05-02 17:52] felixfbecker commented on #3604
I found https://sourcegraph.com/github.com/sourcegraph/sourcegraph@browser-api/-/blob/client/browser/src/extension/schema.json#L7:25 which is referenced in the manifest as the managed schema. I assume those are the keys that are supported and I can remove all others.

[2019-05-02 18:09] felixfbecker commented on #3604
So `phabricatorMappings` is in that schema but I don't see that value ever being read from managed storage, only sync storage. But to sync storage it is never written to. Am I correct to assume it can be removed from the managed storage manifest?

Really need some info on which config customers actively use - who can I ask? Which customers use GCloud at all?

[2019-05-02 18:10] sqs commented on #3782
This is indeed confusing. We have several semi-overlapping concepts:

- scopes
- filters
- dynamic filters/suggestions
- search keywords/tokens/operators

And we don't use consistent language for these.

[2019-05-02 18:12] felixfbecker commented on #3604
Related https://github.com/sourcegraph/sourcegraph/issues/2471

[2019-05-02 18:15] sqs commented on #3783
Yes, an overall design for search that accommodates this would be very nice. The current design won't accommodate it very well because:

- the search query changes to the `repo:CURRENT_REPO@REV` you're viewing, not your query, when you jump to a file
- they would take up vertical space

There are many outstanding search design issues, and I'll consider this to be one of the goals of the new improv

[2019-05-02 18:44] slimsag opened #3790 "Search query builder omits useful result types"
The search query builder shows this:

![image](https://user-images.githubusercontent.com/3173176/57098509-1e116f80-6ccf-11e9-9d3a-438c4c0165eb.png)

It is missing:

- `type:file` (only give me code matches, different from "default" which includes more than just code matches)
- `type:repo` (only give me repo matches)
- `type:path` (only give me filepath matches

Additionally, I find it strange that

[2019-05-02 19:01] slimsag opened #3791 "Should Sourcegraph do stable search result ordering?"
Today, Sourcegraph's search results are optimized specifically for fastest-time-to-result. The assumption is that most users care about getting results quickly rather than in some defined order. As such, it is often the case that if you search turns up a lot of results (more than can fit on the page) the order of the results will change on page refresh.

While this has been an intentional design d

[2019-05-02 19:11] slimsag opened #3792 "zoekt-webserver regularly using 50GB memory, OOMing at 60GB"
On an xlarge customer deployment (https://app.hubspot.com/contacts/2762526/company/407948923) I am observing zoekt-webserver regularly using ~50GB memory and sometimes OOMing when it goes over 60GB which is the limit we have in place. We've mitigated by bumping up to 80GB but it seems a little crazy to have to do this.

Is there a way we can tell Zoekt "you can use N GB memory, but after that slow

[2019-05-02 20:33] slimsag commented on #1759
@sourcegraph/code-search I've just encountered this again, can you re-prioritize? This time on my https://app.hubspot.com/contacts/2762526/company/407948923 replica instance, but with the tar archives that searcher uses instead of the zip archives. The corruption occurred during a redeployment of my instance.

[code]

This error comes from here: https://sourcegraph.com/github.com/sourcegraph/sourc

[2019-05-02 21:12] slimsag opened #3798 "Searcher describes gitserver failing to clone repo as archive corruption error"
When gitserver is failing to clone a repository, searcher propagates that error up to the user and presents it as if there is a corrupt archive on disk somewhere:

[code]

In reality, gitserver is just failing to produce a tar archive because the repo can't be cloned. The error message should indicate this because as an admin it is VERY difficult to debug this situation.

To reproduce this, you wi

[2019-05-02 21:19] slimsag opened #3799 "Search query is entirely broken if one git repo generates a bad archive"
When https://github.com/sourcegraph/sourcegraph/issues/3798 occurred for me the search UI showed this error:

[code]

What is surprising however is that despite the fact that the error only affects that one repository, it breaks the entire search and I get zero results:

[code]

![image](https://user-images.githubusercontent.com/3173176/57107415-c67dfe80-6ce4-11e9-83b5-4eeab1447681.png)

But omitt

[2019-05-02 21:19] slimsag commented on #1759
OK, I found out the cause here is not exactly a corrupt cache, it just looks like one. I will file issues separately.

- Searcher fetches tars from Gitserver and then translates them into the zip files for storage on disk.
- `FetchTar` is defined for searcher here: https://sourcegraph.com/github.com/sourcegraph/sourcegraph@95fb2bc/-/blob/cmd/searcher/main.go#L53-55
- Calls to `FetchTar` are effect

[2019-05-02 21:19] #1759 closed

[2019-05-02 21:23] sqs commented on #3799
@ijt @ijsnow This seems important enough to merit being in 3.4. At this point I know there isn't much feature stuff to remove to make time, so it's basically a bug queue and addition of tests. Overall this is lower in priority relative to the other bugs you're currently working on because it is rare. (If I am wrong about this, let me know. I haven't seen or heard of this bug occurring before.)

[2019-05-02 21:24] slimsag opened #3800 "bad repo-updater migration: pq: syntax error at or near "ON""
[code]

[2019-05-02 22:07] slimsag opened #3803 "full GitHub-like blame view"
#### Feature request description

I constantly find myself going to GitHub for their blame view. It's just a lot nicer than ours. I hate clicking the lines and how our blame displays on every single line which makes it hard to see when things changed, and it being to the right of the code line makes it difficult to scan for visually.

I would like for us to have a fully-fledged blame view. Basical

[2019-05-02 22:08] slimsag commented on #3803
Also, I prefer GitHub's blame view over others because it works more nicely with long lines, see: https://sourcegraph.slack.com/archives/C0C324C91/p1556833023085400

[2019-05-02 22:16] sqs opened #3804 "Make git-extras blame decoration toggle use pressed"
The pressed property for extension buttons lets it show the enabled state, which would solve @slimsag's problem related to #3803 (why he doesn't just use the Blame toggle):

[2019-05-02 22:28] slimsag commented on #3800
Regression introduced between `docker-images-debug/oa` and `v3.3.7`: https://github.com/sourcegraph/sourcegraph/compare/docker-images-debug/oa...v3.3.7 as the former worked and the latter doesn't.

[2019-05-02 22:29] slimsag commented on #3800
pgsql logs give more insight:

[code]

[2019-05-02 22:31] slimsag commented on #3800
Looks like this will affect all instances and would prevent repo-updater from starting up

[2019-05-02 22:38] ijt commented on #1221
I'm taking this off the 3.4 milestone since it should be possible to work around by using `.` instead of `[\s\S]`.

[2019-05-02 22:55] slimsag commented on #3800
So, somewhat false alarm. We started requiring postgres 9.6+ since Sourcegraph 3.0.1 but I missed this so deploy-sourcegraph-docker wasn't upgraded.

[2019-05-02 22:55] #3800 closed

[2019-05-02 23:24] slimsag commented on #3799
Agreed. I'll report back here if I see it anywhere else or in a customer deployment.

[2019-05-02 23:32] #2517 closed

[2019-05-02 23:39] ggilmore commented on #3645
I have just seen this in 3.3.6 @slimsag

[2019-05-02 23:41] #3214 closed

[2019-05-02 23:43] ggilmore commented on #3645
https://github.com/sourcegraph/sourcegraph/blob/fb236dd863a56e0d297b309dfb91d1368bf56c90/web/src/settings/SettingsFile.scss#L5

Manually turning off this flex property seems to fix it

[2019-05-02 23:43] slimsag commented on #3645
@sqs I can still reproduce this on a v3.2.4 customer instance https://app.hubspot.com/contacts/2762526/company/407948923

I'm not running the 3.3.2 instance anymore. Both are deploy-sourcegraph-docker instances.

Chrome Version 74.0.3729.108 (Official Build) (64-bit)

[2019-05-03 00:02] felixfbecker commented on #1553
Looks like it was published with v7?

[2019-05-03 01:20] sqs commented on #1553
Yep

[2019-05-03 04:40] ijt commented on #1221
This is due to a bug in the standard library `regexp` package: https://github.com/golang/go/issues/31807.

[2019-05-03 07:45] sqs commented on #3645
@felixfbecker Can you please look into this? AFAICT in https://github.com/sourcegraph/sourcegraph/issues/3645#issuecomment-487930443 this is not related to #2088 and my recent change, and I am not able to repro.

[2019-05-03 08:28] #644 closed

[2019-05-03 08:33] keegancsmith commented on #3792
Maybe you can try and increase the shard size flag? For a large repository I believe it may result in overall smaller indexes and lower memory usage in a request. Another possibility is reducing the number of results found per shard.

I don't think there is low hanging fruit other than what I mentioned, but maybe an inspection of some memory traces would reveal some. Otherwise there are some likel

[2019-05-03 08:41] keegancsmith commented on #3791
Stable in the sense of as you incrementally change a search, the first seen results are stable. Or stable across time given the same query and commits search?

There are tricks we can do. The simplest implementation of just finding all results and sorting results in a _much_ higher memory usage and is likely a lot slower. I think instead we could deterministically pick the order of repos and files

[2019-05-03 09:14] #1836 closed

[2019-05-03 09:19] tsenart commented on #3791
There has been some recent discussion around this topic here: https://docs.google.com/document/d/1U2IpbO7mlPV8AxLy2LQ0_Tl-bUAy63lBRCUZ0feHL5Y/edit#

cc: @ijt

[2019-05-03 11:14] lguychard opened #3814 "Phabricator integration: code views are added twice"
Using the native Phabricator integration:
1. navigate to a single file code view
2. witness the "View on Sourcegraph" button is added to the toolbar twice, witness two "code view added" logs in the console:

![image](https://user-images.githubusercontent.com/1741180/57134114-584d4080-6da5-11e9-9999-862ca769e52b.png)

[2019-05-03 17:05] #3597 closed

[2019-05-03 17:50] ijsnow commented on #3803
Be aware that the full blame view may come with performance issues. See https://github.com/sourcegraph/sourcegraph/issues/136#issuecomment-418483159

[2019-05-03 18:00] dadlerj opened #3820 "Capture external service list for support in pings"

[2019-05-03 18:01] ijsnow commented on #3791
I'm not convinced that stable result ordering and streaming are mutually exclusive. I think a good path forwards would be to make changes required to support streaming and then add stable result ordering on top. The changes for stable result ordering would probably involve waiting until all results are found and then caching them somewhere for pagination.

Based on what I've heard of customer requ

[2019-05-03 18:06] ijt commented on #3791
On the UI we could add widgets to allow client-side sorting for users who want it, while not giving up the immediacy of streaming. That would be a way to communicate the default instability of ordering and also mitigate it.

I'd have to check this, but our search may not currently be deterministic even about the set of results returned. So we would have to make search wait for all results to be fo

[2019-05-03 18:10] ijt commented on #3791
@ijsnow, I'd like us to avoid caching whenever possible since it tends to add complexity and staleness bugs.

[2019-05-03 18:13] ijsnow commented on #3791
Yea, I said "would probably". But don't you think that if we didn't cache results for specific queries for a bit we would be doing a lot of extra work? Each time the user requested the next page, we'd have to find all the results again.

[2019-05-03 18:13] ijt commented on #3791
@slimsag, although I think streaming plus frontend sorting is the right way to go for the UI, it should be fine if we add an option to the API to get sorted, exhaustive search results. Then API consumers can opt into it if they don't mind the risk of slowness.

[2019-05-03 18:20] ijt commented on #3791
@ijsnow, we could have the browser gather the search results as they become available, and dynamically construct DOM elements from them when the user asks for them. There could be some default limit on search result count, say 1k to keep from overwhelming mobile devices.

[2019-05-03 18:22] ijsnow commented on #3791
So, streaming with a paginated client?

[2019-05-03 18:25] ijt commented on #3791
@ijsnow, yes. Or we could do something slick like populating the DOM when the scrolling gets beyond what has been rendered.

[2019-05-03 18:33] ijsnow commented on #3791
👍 we actually already populate more of the dom as we scroll on the search results page

[2019-05-03 19:01] slimsag commented on #3791
@ijsnow I am in full agreement that they are not mutually exclusive and the path forward you described here is effectively what we've already agreed on from earlier discussions. This to me indicates I probably haven't described my theoretical argument very well:

If we came up with a clever way to make search both fast and have deterministic / stable ordering of results, then we could always do pa

[2019-05-03 19:08] slimsag commented on #3803
Note I am arguing for the same UI layout as GitHub NOT the full feature-set of GitHub which is what causes those performance issues (it would be just as performant as our blame today).

(It would be great to have that full feature-set when performant enough, but it is not the primary thing I am requesting here)

[2019-05-03 19:31] slimsag commented on #3791
The latter. Stable as in:

- We can support some form of real pagination.
- If me and you independently search for the same thing at the same time, we see the same results in the same order.
- If I reload the page I see the same results in the same order.

[2019-05-03 19:40] slimsag opened #3822 "saved queries TS code should be in subfolder"
@felixfbecker mentioned this would be better in https://github.com/sourcegraph/sourcegraph/pull/3668#discussion_r279461801 and make our CODEOWNERS file more clean.

[2019-05-03 20:29] #3786 closed

[2019-05-03 20:58] felixfbecker opened #3823 "No codeintel on red part of the diff in Phabricator"
This gets logged when hovering over anything in the red base part (both split and unified view). Hovers in head part work.
[code]

[2019-05-03 21:05] felixfbecker opened #3824 "Codeintel feedback button is rendered twice"
https://github.com/sourcegraph/sourcegraph/pull/3817/files

![image](https://user-images.githubusercontent.com/10532611/57165569-c6baee80-6df7-11e9-9ffd-d1af3218ac2b.png)

![image](https://user-images.githubusercontent.com/10532611/57165575-cc183900-6df7-11e9-9113-7933a70208ca.png)

![image](https://user-images.githubusercontent.com/10532611/57165596-de927280-6df7-11e9-970a-750118399b0b.png)

[2019-05-03 21:13] felixfbecker opened #3825 "Browser extension feels slower recently"
The browser extension feels like it is slowing down GitHub recently.

Could this be because of Quinn's recent refactor to Model?

For example, take a look at this profile from switching two PR tabs:

![image](https://user-images.githubusercontent.com/10532611/57165780-637d8c00-6df8-11e9-9607-b1310d285cc9.png)

A lot of time is spend in `removeModel()` removing all the text documents from the code

[2019-05-03 21:16] felixfbecker commented on #3825
The majority of the time seems to be spent on #3192

[2019-05-03 21:20] #3005 closed

[2019-05-03 21:20] #3200 closed

[2019-05-03 21:29] chrismwendt commented on #3824
Strange, I only see 1. Browser extension v19.4.26.1859

![image](https://user-images.githubusercontent.com/1387653/57166669-c26ae300-6daf-11e9-9d18-2c6d9045ea92.png)

[2019-05-03 21:31] felixfbecker commented on #3824
It's flaky.

[2019-05-03 22:59] beyang commented on #3498
@ijt @ijsnow Can you update this with the current state of what the priorities are in 3.4 (per the prioritization discussion in https://sourcegraph.slack.com/archives/CHEKCRWKV/p1556561331003000)? My impression from the Slack thread is that the highest priorities are now the [search issues](https://github.com/sourcegraph/sourcegraph/issues?utf8=%E2%9C%93&q=is%3Aissue+label%3Asearch+milestone%3A3.4

[2019-05-04 00:03] slimsag commented on #2756
Ah gotcha, apologies for missing this @b-j-p.

Can you fork this repository and send a pull request? (this is the right way to do it)

Details here: https://help.github.com/en/articles/creating-a-pull-request

[2019-05-04 00:05] sickyoon opened #3827 "trailing line number"
- **Sourcegraph version:** 19.4.26.1859 (browser extension)
- **Platform information:** macOS 10.14.4, Chrome 73.0.3683.103

#### Steps to reproduce:

I am not sure if this is expected behaviour but there is trailing `:<number>` appended at the end of link.

1. Go to following github coder:
https://github.com/hyperledger/fabric/blob/release-1.4/core/chaincode/shim/chaincode.go#L458
2. Click on `ha

[2019-05-04 00:18] ijt opened #3828 "search: split recent_searches table additions into separate graphql mutation"
Currently these additions are done by spawning goroutines within `schemaResolver.Search()`, but that is untidy since the goroutine scopes are not very well defined, going up to a minute past the end of `Search()`, maybe more if the context cancellation is ignored.

A cleaner solution would be to have a separate graphql mutation to record the search queries in the `recent_searches` table. Then the

[2019-05-04 00:34] beyang opened #3829 "Browser extension scrolls past the definition I'd like to jump to"
Repro:
* Go to https://github.com/sourcegraph/sourcegraph/pull/3818/files
* Scroll to `r.recentSearches` line (https://github.com/sourcegraph/sourcegraph/pull/3818/files#diff-d270aecf1b7e3730429f967a1dad8114R74)
* Click on `recentSearches`, ctrl+click (open new tab) on "Go to definition"
* That takes you [here](https://github.com/sourcegraph/sourcegraph/blob/ab0ad3499c769a9e7b9e8e37c75bcf0375d0393

[2019-05-04 02:10] b-j-p commented on #2756
That’s what I will do. Thank you very much, @slimslag!🙌

[2019-05-04 03:22] #49 closed

[2019-05-04 21:52] b-j-p commented on #2756
Here's a PR to address the issue: https://github.com/sourcegraph/sourcegraph/pull/3835.
Many thanks to you @slimsag for pointing this bug out to me.

[2019-05-05 10:52] felixfbecker commented on #3449
`lsp-client` has been pushed through 2 iterations now, so I would like to see it prioritised higher. There are now two features added since the creation of lsp-client that should be shared across all languages (code intel toggle and connection troubleshooting notifications), but keep getting implemented per-language, causing inconsistent feature support and more work for us.

This issue claims tha

[2019-05-05 10:55] felixfbecker commented on #3449
I would also like to point out that our codeintel extensions (both basic code intel and precise) still have 0% test coverage.

[2019-05-05 12:58] felixfbecker commented on #3825
It's so bad that I can't even _open_ big PRs

[2019-05-05 22:41] chrismwendt commented on #3449
The time is indeed ripe for switching to lsp-client! Yet another item to add to the growing list is the [LSIF prototype](https://sourcegraph.slack.com/archives/C89KCDK5J/p1556940616047700)

Since switching to lsp-client is an extension-level change, every customer will get the improvements without upgrading their deployments :sparkles:

Now, for largely historical reasons, go-langserver is not qui

[2019-05-06 02:37] CreatCodeBuild commented on #3674
Yes, it's literally written here:
https://hire.withgoogle.com/public/jobs/sourcegraphcom/view/P_AAAAAADAAADP_pY7jAAAXU

[2019-05-06 06:40] slimsag commented on #3792
@keegancsmith I briefly looked at CLI flags for zoekt-webserver and zoekt-indexserver but didn't find a shard flag size. Can you point me to it? Also, what would you recommend trying to set it to? If we alter it how would it affect the existing indexes produced by Zoekt? (would it need to re-index or something)

[2019-05-06 07:53] mrnugget commented on #3465
Just to be on the safe side: am I correct in assuming that I don't need to add`awscodecommit.repositoryQuery`because AWS CodeCommit does not seem to support querying? (See [docs here](https://docs.aws.amazon.com/codecommit/latest/APIReference/API_ListRepositories.html) and [code here](https://sourcegraph.com/github.com/aws/aws-sdk-go-v2/-/blob/service/codecommit/api.go#L4969))

[2019-05-06 08:54] lguychard commented on #3825
Rel #3778

[2019-05-06 10:33] Matgek opened #3847 "GraphQL APIs are blocking forever in OSS version"
- **Sourcegraph version:**
3.2
- **Platform information:**
OS: MacOS 10.14.1
local development
#### Steps to reproduce:
1. I'm a newcomer to sourcegraph development. I followed exactly the instructions to set the local development environment. https://github.com/sourcegraph/sourcegraph/blob/master/doc/dev/local_development.md#step-2-install-dependencies
2. start the server with ./dev/launch.sh

##

[2019-05-06 11:28] tsenart commented on #3465
Sounds right to me @mrnugget. It wasn't included in the checklist above anyways. I suppose you were looking at it from the Bitbucket Server PR.

[2019-05-06 11:45] mrnugget commented on #3465
Yes, exactly :) I looked at what every other source is doing and came across this.

[2019-05-06 13:15] sslavian812 commented on #8
Is this Scala-langserver open-sourced already?

[2019-05-06 15:09] keegancsmith commented on #3791
Without streaming I think removing time budgets is the only way to achieve text book stable results that you desire, but that compromises on performance. Streaming opens up the possibility of streaming results in in a deterministic fashion, without the same amount of compromise in performance. The key is to not sort results (which requires waiting until the end), but rather ensure you deterministi

[2019-05-06 15:17] keegancsmith commented on #3792
`-shard_limit` https://sourcegraph.com/github.com/sourcegraph/zoekt/-/blob/cmd/flags.go#L42:26
It would be for the index server. You would probably have to update our indexserver to set the field, we justrely on the default. @ijsnow recently added functionality allowing us to pass flags from sourcegraph down to the indexserver, so that may be the best place to do it.

Zoekt divides its parallelism

[2019-05-06 17:36] todo[bot] opened #3853 "fix type errors and include"
https://github.com/sourcegraph/sourcegraph/blob/4b148a78728288852af20626c18d9ffb505fbfea/browser/tsconfig.json#L13-L15

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 4b148a78728288852af20626c18d9ffb505fbfea when #3826 was merged. cc @sourcegraph.

[2019-05-06 17:36] todo[bot] opened #3854 "fix type errors and include"
https://github.com/sourcegraph/sourcegraph/blob/cc5de96d4b3e20569d1791992404303943fbd5b0/browser/tsconfig.json#L13-L15

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in cc5de96d4b3e20569d1791992404303943fbd5b0. It&#x27;s been assigned to @felixfbecker because they committed the code.

[2019-05-06 18:58] #705 closed

[2019-05-06 19:59] dadlerj commented on #3827
Hey @sickyoon — yeah, this is expected. The `:25` indicates that the selected symbol (the function name) starts at the 25th character on the 304th line. This lets Sourcegraph know what tooltip to show if there are multiple symbols on a line (e.g. for an argument to the function).

[2019-05-06 19:59] #3827 closed

[2019-05-06 20:29] kofoworola opened #3856 "Navigate to method implantation of interfaces in PHP repos"
#### Feature request description

The ability to find and navigate to the method implementation of interface methods. Currently "Find References" does show the method implementations in PHP

#### Is your feature request related to a problem? If so, please describe.

I was trying to find the method implementation as well as all classes that implement a method in an interface in a Php repository

##

[2019-05-06 21:48] ijt commented on #3498
This tracking issue is up to date. Yes, the highest priorities are the search issues.

It looks possible to fix them all. We have about 6 business days until the 3.4 release is cut. There are 9 issues left, and 3 of us working on them. If each of us fixes one issue every two days for the remaining time then we'll have it all done.

[2019-05-06 22:01] ijt opened #3858 "docs: linked scope pages for npm and rust are broken"
To see it, go to the bottom of `https://docs.sourcegraph.com/user/search/scopes` and click the links "Top 1000 Rust crates" and "Popular npm packages".

![Screen Shot 2019-05-06 at 3 00 22 PM](https://user-images.githubusercontent.com/15530/57257925-b715f280-700f-11e9-91d9-6517bddfe7cd.png)

![Screen Shot 2019-05-06 at 3 00 28 PM](https://user-images.githubusercontent.com/15530/57257928-ba10e300-7

[2019-05-06 22:07] sqs commented on #3858
@attfarhan This is a feature we haven't highlighted or worked on in a long time. It's still interesting, but not a priority. Can you please remove these from the docs (top priority) and code (lower priority)? I am not aware of any customers using them, so it's safe to remove them and just mention it in the changelog.

[2019-05-06 22:41] ijsnow commented on #3798
I'm unable to reproduce this with the following steps:
1. Run `dev/launch.sh`
2. Set up code host: `go run dev/fakehub/main.go -addr 127.0.0.1:3434 $GOPATH/src`
3. Get external service config from http://127.0.0.1:3434/ and add it at http://localhost:3080/site-admin/external-services/new?kind=other
4. Wait for repositories to clone
5. Kill fakehub process
6. Wait to see errors from gitserver tryin

[2019-05-06 22:45] kevachen opened #3860 "Add ability to download files from Sourcegraph"
Often times I am viewing a repo in Sourcegraph and find non-text files such as png images. I currently get a "Cannot render binary file" error, which means I currently have no way to view the file.

Is it possible to add a button to download the raw file so that we can view these files that we can't see in Sourcegraph itself?

[2019-05-06 22:48] sqs commented on #3860
Yes, this would be a great addition.

Currently, the best workaround if you're using a code host with file links (GitHub, GitLab, Bitbucket, Phabricator, etc.) is to click the code host icon in the file header to jump to the file on your code host, then click the **Raw** button on your code host's file page.

[2019-05-06 22:54] sqs commented on #8
Yes, the language server discussed above is https://github.com/scalameta/metals.

[2019-05-06 22:57] #3854 closed

[2019-05-06 22:59] kevinchen94 opened #3861 "Sourcegraph 500's on commit with broken symlink"
When there is a commit with a broken symlink, the commit view returns "Unexpected HTTP error: 500 Internal Server Error". Although in this case the commit page wouldn't have shown anything useful, it's probably better if it's safely handled instead of returning a 500.

[2019-05-06 23:07] ijt commented on #3799
I tried it with fakehub by changing one of the repo entries in the config to have `-TYPO` at the end, but it didn't trigger the issue. I'll try again with the `searcher` hack.

[2019-05-06 23:22] ijt commented on #3799
I also tried the searcher hack but it didn't repro for me.

[2019-05-06 23:22] ijt commented on #3799
@slimsag can you verify that this is still an issue?

[2019-05-06 23:30] ijsnow commented on #3799
Same trouble here https://github.com/sourcegraph/sourcegraph/issues/3798#issuecomment-489813562

[2019-05-07 00:19] ijt commented on #3534
@slimsag, are you actively working on this? Are you still planning to finish it for 3.4?

[2019-05-07 00:44] ijt opened #3869 "docs: search query shows up as `(open\|close)file`"
https://docs.sourcegraph.com/user/search/queries

![Screen Shot 2019-05-06 at 5 42 14 PM](https://user-images.githubusercontent.com/15530/57264173-4e864000-7026-11e9-8ef7-b5fe5fa996b8.png)

The root cause appears to be https://github.com/russross/blackfriday/issues/207, an issue that has been there since 2015. One possibility might be to use https://gitlab.com/golang-commonmark/markdown instead wi

[2019-05-07 00:50] todo[bot] opened #3870 "s in app code"
https://github.com/sourcegraph/sourcegraph/blob/bb51950934365c1b2ae4d8afb60c98ef9ffb3eec/doc/user/search/saved_searches.md#L13-L18

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in bb51950934365c1b2ae4d8afb60c98ef9ffb3eec when #3862 was merged. cc @sourcegraph.

[2019-05-07 00:50] todo[bot] opened #3871 "s in app code"
https://github.com/sourcegraph/sourcegraph/blob/d206495d657f19cab60536137c8f09d9dad1c550/doc/user/search/saved_searches.md#L13-L18

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in d206495d657f19cab60536137c8f09d9dad1c550. It&#x27;s been assigned to @ijt because they committed the code.

[2019-05-07 00:51] #3256 closed

[2019-05-07 00:51] todo[bot] opened #3872 "(ijt): remove this potential goroutine leak."
https://github.com/sourcegraph/sourcegraph/blob/e90d5dacfdd9cb7795004312974ddc2e7373b9d0/cmd/frontend/graphqlbackend/search.go#L72-L77

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in e90d5dacfdd9cb7795004312974ddc2e7373b9d0 when #3818 was merged. cc @sourcegraph.

[2019-05-07 00:51] todo[bot] opened #3873 "(ijt): remove this potential goroutine leak."
https://github.com/sourcegraph/sourcegraph/blob/5b744fb132e4d4cfb6381914325dcc442d6537ba/cmd/frontend/graphqlbackend/search.go#L72-L77

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 5b744fb132e4d4cfb6381914325dcc442d6537ba. It&#x27;s been assigned to @ijt because they committed the code.

[2019-05-07 03:52] ijt commented on #3871
This is an algorithmic accident.

[2019-05-07 03:52] #3871 closed

[2019-05-07 03:53] ijt commented on #3870
Some code made a mistake.

[2019-05-07 03:53] ijt commented on #3873
dup of #3872

[2019-05-07 03:53] #3873 closed

[2019-05-07 04:06] ijt commented on #3869
I just tried it and golang-commonmark/markdown handles this case just fine:

[code]

[2019-05-07 16:45] #3858 closed

[2019-05-07 18:02] #3820 closed

[2019-05-07 18:06] lguychard opened #3882 "GitHub rev resolution fails if branch name contains forward slashes"
1. Visit https://github.com/sourcegraph/sourcegraph/blob/bl/wip/dev/CLA.txt
2. Witness "Configure Sourcegraph" instead of "View Repository on Sourcegraph" button
3. Witness "View file on Sourcegraph" links to a broken location (https://sourcegraph.com/github.com/sourcegraph/sourcegraph@bl/-/blob/wip/dev/CLA.txt?diff=87a76b38af1dcb657013387504240cc850a8487a), which 404s on sourcegraph.com

This is

[2019-05-07 21:43] ijt commented on #3799
Moving this off of 3.4 due to no repro.

[2019-05-07 21:43] ijt commented on #3798
Moving this off 3.4 due to lack of repro.

[2019-05-07 21:44] beyang commented on #3538
@dadlerj please re-open if the workaround is insufficient.

[2019-05-07 21:44] #3538 closed

[2019-05-07 22:20] #1305 closed

[2019-05-07 22:20] todo[bot] opened #3886 "change to utility type we create to remove git resolvers from search."
https://github.com/sourcegraph/sourcegraph/blob/07622ad0bc0feddd1560d694637428bfd593fa15/cmd/frontend/graphqlbackend/search_symbols.go#L34-L39

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 07622ad0bc0feddd1560d694637428bfd593fa15 when #3471 was merged. cc @sourcegraph.

[2019-05-07 22:20] todo[bot] opened #3887 "change to utility type we create to remove git resolvers from search."
https://github.com/sourcegraph/sourcegraph/blob/bdc966957df30f4b435ffef4ac6a5e5b61812a66/cmd/frontend/graphqlbackend/search_symbols.go#L34-L39

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in bdc966957df30f4b435ffef4ac6a5e5b61812a66. It&#x27;s been assigned to @ijsnow because they committed the code.

[2019-05-07 23:59] slimsag commented on #3534
I'll tackle the first optimization in 3.4.

But we do need someone here to be aware of the broader issue & take ownership on the 2nd issue point here.

[2019-05-08 00:47] ijt opened #3890 "structural search (a.k.a. "comby")"
Sourcegraph search queries currently support regular expressions, but comby patterns would be more powerful and more naturally suited for most programming languages. Comby patterns are more powerful because for example they can match patterns with nested delimiters such as parens, and they are more natural because they don't have special meanings for characters such as parens that have other meani

[2019-05-08 00:50] ijt commented on #3534
I reproduced this locally with fakehub on the Linux kernel.

![Screen Shot 2019-05-07 at 5 48 38 PM](https://user-images.githubusercontent.com/15530/57341752-83f76000-70f0-11e9-9ff9-7ff0ae72501a.png)

[2019-05-08 01:33] slimsag commented on #3890
would this be an alternative to regex, or a replacement for it?

I understand regex but I don't understand comby. I feel like most developers would fit into this boat.

[2019-05-08 03:45] ijt commented on #3890
To start with it should be an alternative. Eventually it would be useful if we can make the comby patterns handle everything in a way that feels intuitive for regex users.

[2019-05-08 05:25] ijt opened #3892 "reimplement symbol search in terms of zoekt"
This should help with https://github.com/sourcegraph/sourcegraph/issues/3534.

[2019-05-08 06:08] dadlerj opened #3893 "Integration usage stats broken"
All browser extension and related integrations (including the Phabricator native integration) are no longer sending usage statistics to the private Sourcegraph instance that they're connected to.

CC @felixfbecker, I'll take a first stab but might ask for your help re-adding this.

See discussion in https://sourcegraph.slack.com/archives/CHXHX7XAS/p1557265704007700

[2019-05-08 06:53] #3615 closed

[2019-05-08 08:22] felixfbecker commented on #3893
Some pointers:
- [`git checkout 1b49747 -- client/browser/src/shared/tracking/EventLogger.tsx`](https://sourcegraph.sgdev.org/github.com/sourcegraph/sourcegraph@1b497472c9c954b0aabbec2353e82e1e02b7532d/-/blob/client/browser/src/shared/tracking/EventLogger.tsx#L10:14)
- Fix type errors (e.g. `storage.getSyncItem()` -> `storage.sync.get()`)
- Remove [every reference to `NOOP_TELEMETRY_SERVICE` in th

[2019-05-08 12:22] tsenart opened #3895 "pkg/extsvc: Review code host client caching strategy"
Some of our code host client packages have an internal caching layer:

- [AWS Code Commit](https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/blob/pkg/extsvc/awscodecommit/client.go#L17)
- [GitHub](https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/blob/pkg/extsvc/github/client.go#L66)
- [GitLab](https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/blob/pkg/extsvc/gitla

[2019-05-08 13:21] keegancsmith opened #3897 "3.3.8 Release"
# 3.3.8 Release

- [x] Create a checklist of the changes that you want to release (i.e. open or merged PRs).
  - [x] repo-updater: Support external_id migrations (#3848)
  - [x] repo-updater: Drop repo trigger set_repo_name and unused repo columns (#3776)
  - [x] repo-updater: Reset Bitbucket Server external ids (#3850)
  - [x] repo-updater: Use original metadata object in Exclude (#3879)
- [x] Co

[2019-05-08 15:37] dadlerj commented on #3897
The largest orgs using Sourcegraph on Bitbucket Server that I can think of have already migrated to 3.3.7 (including https://app.hubspot.com/contacts/2762526/company/407948923 of course,  https://app.hubspot.com/contacts/2762526/company/557889642, and https://app.hubspot.com/contacts/2762526/company/557692615).

I believe this bug is what we saw during the upgrade that I shared at https://sourcegr

[2019-05-08 17:57] slimsag commented on #3897
Thank you for sending these up! I'll take over this and ship later today or tomorrow morning

[2019-05-08 18:27] slimsag opened #3899 "It is not clear that externalURL must be configured"
Some customers like https://app.hubspot.com/contacts/2762526/company/464956351 have reported issues due to us not making it clear this should be configured. There should be a validator which confirms this has a non-default value AND when the config is invalid we should display a banner to the admin.

[2019-05-08 18:50] dadlerj commented on #3160
@slimsag @sourcegraph/code-nav any updates on this? Did we file upstream? Just received a question about this from https://app.hubspot.com/contacts/2762526/company/693777177

I assume building an in-app search would be the last option here, but curious what Code Nav team thinks about prioritization.

[2019-05-08 18:52] felixfbecker commented on #3160
Building in-app search would take significant work. This seems like a pretty bad bug in a browser, so I would file it in the chromium bug tracker first.

[2019-05-08 18:54] slimsag commented on #3160
Yeah that makes sense. @felixfbecker can you or someone else on the code nav team own moving this forward? (i.e. finding out which version of Chrome caused this regression, doing a minimal reproduction & filing an issue on Chromium so we have high likelihood of it being fixed?)

[2019-05-08 19:00] felixfbecker commented on #3160
Yes. I don't think finding the version is needed, it would be a lot of work. A repro should be trivial, just need to copy the HTML of the DOM nodes where this happens from the DOM explorer.

[2019-05-08 19:19] efritz opened #3900 "CGO files throws errors in browser extension"
- **Sourcegraph version:** sourcegraph.com
- **Platform information:** v19.4.26.1900

#### Steps to reproduce:

Code intelligence for identifiers in program files that leverages [cgo](https://golang.org/cmd/cgo/) errors in the browser.

1. Go to https://github.com/efritz/go-jq/blob/master/jq.go
2. Double-click on any identifier

#### Expected behavior:

A go to definition/find reference popover, o

[2019-05-08 19:56] ceecurvin opened #3901 "Better browser extension setup help"
#### Feature request description

I have a very simple request, and it's not really a feature. As a first-time user, I was a bit lost on how to set up the extension. While it only took me ~5 min to figure it out, it would have been great to know that the URL in the extension stays the same. I kept changing it to my github repositories thinking that was what I was supposed to do.

Other than that,

[2019-05-08 20:38] #878 closed

[2019-05-08 20:57] ijt commented on #3890
CC @rvantonder

[2019-05-08 23:09] ijt commented on #784
This seems to be working just fine. Closing it.

![Screen Shot 2019-05-08 at 4 07 56 PM](https://user-images.githubusercontent.com/15530/57414061-82d73900-71ab-11e9-9be2-d92bf0cb2933.png)

[2019-05-08 23:09] #784 closed

[2019-05-08 23:12] ijt commented on #1186
This appears to be working. I did steps 1 and 2 and this is the result:

![Screen Shot 2019-05-08 at 4 10 48 PM](https://user-images.githubusercontent.com/15530/57414179-e82b2a00-71ab-11e9-8f22-f98dfa063197.png)

[2019-05-09 01:58] beyang commented on #3899
Should we add this to the activation steps, too?

[2019-05-09 01:59] ijt commented on #2836
I'm getting this now on 001260fc7f927879ef4f0720ba97ede2612414a5.

[2019-05-09 02:06] slimsag commented on #2836
Duplicate of https://github.com/sourcegraph/sourcegraph/issues/2095 which has the same underlying cause (race condition when we initialize DB from file).

[2019-05-09 02:06] #2836 closed

[2019-05-09 03:33] dadlerj commented on #3893
Can you clarify step 4 here? I don't see a browser/src/scripts folder, and not sure I can interpret what points you're suggesting this should be instantiated at.

[2019-05-09 04:29] dadlerj commented on #3893
Never mind, I think I got this working — check out my PR

[2019-05-09 05:28] sqs commented on #3899
Yes, that would be good.

[2019-05-09 08:07] keegancsmith commented on #3892
FYI zoekt has support to run and index ctags output.

[2019-05-09 08:29] #3645 closed

[2019-05-09 09:22] felixfbecker opened #3905 "New homepage hover dropdowns look broken (no background)"
![image](https://user-images.githubusercontent.com/10532611/57442628-abfbd600-724c-11e9-9b03-194b1f4309b5.png)

[2019-05-09 09:27] felixfbecker opened #3906 "What are question marks on feature list on website?"
![image](https://user-images.githubusercontent.com/10532611/57442936-5116ae80-724d-11e9-9399-4b1ecfa0f57f.png)

It looks like we don't actually have these features yet, but just question marks don't clearly communicate that, they are more confusing. Are these supposed to have a hover tooltip?

[2019-05-09 09:39] #3464 closed

[2019-05-09 12:10] #3465 closed

[2019-05-09 12:25] mrnugget opened #3907 "repo-updater/githubConnection: Fetch `repos` in batch"
While investigating why the repo-updater became unresponsive in our k8s dogfood instance, @tsenart and I discovered that the repo-updater was busy calling `GetRepository` for each of the ~13k entries in the `repos` field of the configuration.

Here is the loop:

https://github.com/sourcegraph/sourcegraph/blob/eef7a0bfcdc419823ea9fb5e8b5658f5766825c4/cmd/repo-updater/repos/github.go#L546-L571

Even

[2019-05-09 12:26] keegancsmith commented on #3907
FYI @beyang had a recent PR which used this technique for the auth code.

[2019-05-09 12:28] tsenart commented on #3907
This one: https://github.com/sourcegraph/sourcegraph/pull/3881

[2019-05-09 12:31] tsenart commented on #3907
This comment just made me realise that for large scale deployments where sourcing all repos is slow will indeed affect the startup time of repo updater substantially, because of the enabled state deprecation migration.

[2019-05-09 13:50] keegancsmith opened #3909 "Opsgenie flakiness"
We should stop the ephemeral alerts. There is one or two ones that are often ephemeral, lets adjust the triggers for them.

cc @sourcegraph/core-services

[2019-05-09 13:51] keegancsmith opened #3910 "migrations: Start using names again"
Instead of relying on no name to prevent conflicts on the ID, lets instead just add a test to ensure there are no duplicate IDs.

cc @sourcegraph/core-services

[2019-05-09 13:52] keegancsmith opened #3911 "docs: Ensure new arch for repo-updater is reflected in dev docs"

[2019-05-09 14:42] sqs commented on #3906
Yes, they have a hover tooltip. Do you not see them?

[2019-05-09 14:42] sqs commented on #3905
What browser?

[2019-05-09 14:48] felixfbecker commented on #3905
Oh, Edgium. Could be a browser bug.

[2019-05-09 14:49] felixfbecker commented on #3906
Nope, not seeing any in Chrome 74

[2019-05-09 14:50] felixfbecker commented on #3906
Oh, it's native HTML `title`s. They take forever to show up and are really small.

[2019-05-09 15:31] #3233 closed

[2019-05-09 15:32] lguychard commented on #3600
Do you feel like https://github.com/sourcegraph/sourcegraph/pull/3849 satisfyingly resolves this?

[2019-05-09 15:35] felixfbecker commented on #3600
Yup

[2019-05-09 15:35] #3600 closed

[2019-05-09 17:31] slimsag commented on #3897
Sorry for not providing an update on this yesterday. My plan is to cut this release after I have a patch for a few perf issues in for https://app.hubspot.com/contacts/2762526/company/407948923  Aim was to do it yesterday but some other work for them popped up, so it's looking like today/tomorrow.

My understanding based on what Dan said above is that this isn't critical for any customer, so waitin

[2019-05-09 18:21] attfarhan opened #3913 "Remove saved_queries table in 3.5"
https://github.com/sourcegraph/sourcegraph/pull/3866 introduces a new table called `query_runner_state`, which takes over the responsibilities of the `saved_queries` table. We kept the `saved_queries` table for backwards compatibility, but we should remove this in the next major version (3.5)

[2019-05-09 19:20] ryan-blunden opened #3914 "Revise default config and inline comments for external services"
Some admins have encountered difficulties when using the new repo fields for external services introduced in 3.3.

This issue is to track the improvements to docs and inline comments to make it easier to select the correct repositories and to take full advantage of the power of `repoQueries`.

 - [x] GitHub
 - [x] GitHub Enterprise
 - [x] GitLab
 - [x] BitBucket
 - [x] AWS Code Commit

Read on bel

[2019-05-09 20:38] ryan-blunden opened #3915 "Change layout of external services page to increase configuration button action usage"
Based upon usability testing for adding a new external service, something needs to be done with the quick configuration buttons as both participants missed them and didn't see them until explicitly pointed out.

I've created a reworked mock of the GitHub external services configuration page which moves the buttons to the left-hand side of the editor while also moving the help text about using the

[2019-05-09 20:51] sqs commented on #3915
I worry about this being bunched up on smaller widths and being hard to use as a result of that. It also looks like they are navigation buttons when they’re on the side, as though clicking them would take you to a different “tab”.

What about adding icons to the buttons and making them larger or differently styles (like info-outline)? That would make it clear they are clickable. And perhaps adding

[2019-05-09 22:30] dadlerj opened #3917 "GitLab auth error on sign-in"
- **Sourcegraph version:** 3.3.7
- **Platform information:** GItLab auth

A user at https://app.hubspot.com/contacts/2762526/company/547190400 reported that they experience an oauth error after signing in via GitLab SSO.

Repro:
* Sign out of Sourcegraph
* Sign out of GitLab
* Sign back in to GitLab
* Click to sign in to Sourcegraph via GitLab SSO
* Grant access to Sourcegraph on the GitLab permis

[2019-05-10 00:30] #3905 closed

[2019-05-10 00:57] #3906 closed

[2019-05-10 02:13] beyang commented on #3907
Maybe someone on @sourcegraph/core-services can give me a review on https://github.com/sourcegraph/sourcegraph/pull/3881. Stephen is pretty busy w/ P1s atm and auth stuff will come under core services' umbrella soon anyway. Pretty plz? :)

[2019-05-10 16:54] tsenart opened #3924 "Support SSH key credentials directly in external service configs"
Today, users have to [jump through hoops](https://docs.sourcegraph.com/admin/repo/auth) to make Sourcegraph talk SSH when cloning repositories.

Similarly to what we do with client certificates, we should support configuring SSH credentials directly in external service configuration.

This would allow us to make `GitoliteSource` in repo updater talk directly to Gitolite instead of proxying request

[2019-05-10 17:44] ijt commented on #3869
This was fixed by https://github.com/sourcegraph/docsite/commit/7aba76ce11c08c7ebc963e31214510b5d62dd686.

[2019-05-10 17:44] #3869 closed

[2019-05-10 20:30] ryan-blunden commented on #3914
Changed issue to focus on GitHub, not both GitHub and GitHub Enterprise

[2019-05-10 21:21] drgone commented on #3917
looks correct

[2019-05-10 21:51] ijt opened #3929 "repo-updater fails to get updates from local repos served via fakehub"
#### Steps to reproduce:

1. `mkdir foo`
2. `cd foo`
3. `echo 'func blah() {}' > blah.go`
4. `git init && git add . && git commit -a -m 'add blah.go'`
5. `cd .. && fakehub .`  # launches web server on localhost:3434
6. In another terminal, run sourcegraph using `dev/launch.sh`.
6. Copy config from http://localhost:3434, paste into sourcegraph, following comment at top.
7. Search for blah on local

[2019-05-10 22:50] ijt opened #3930 "send disk usage metrics to prometheus in gitserver cleanup code"
There is some logging introduced in https://github.com/sourcegraph/sourcegraph/pull/3927, but it should be done via Prometheus instead, per @slimsag's [comment](https://github.com/sourcegraph/sourcegraph/pull/3927#pullrequestreview-236335163).

[2019-05-11 22:33] #765 closed

[2019-05-11 22:33] #777 closed

[2019-05-12 06:14] #3893 closed

[2019-05-12 06:15] todo[bot] opened #3948 "pass this Observable as a parameter"
https://github.com/sourcegraph/sourcegraph/blob/2958bbecf228bec285cffbd1f45ec1b1dd969ac4/browser/src/shared/tracking/eventLogger.tsx#L26-L31

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 2958bbecf228bec285cffbd1f45ec1b1dd969ac4 when #3903 was merged. cc @sourcegraph.

[2019-05-12 06:15] todo[bot] opened #3949 "Handle arbitrary action IDs."
https://github.com/sourcegraph/sourcegraph/blob/2958bbecf228bec285cffbd1f45ec1b1dd969ac4/browser/src/shared/tracking/eventLogger.tsx#L82-L87

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `@todo` comment in 2958bbecf228bec285cffbd1f45ec1b1dd969ac4 when #3903 was merged. cc @sourcegraph.

[2019-05-12 06:15] todo[bot] opened #3950 "pass this Observable as a parameter"
https://github.com/sourcegraph/sourcegraph/blob/d59816f4e72ae0702102d959bd66f7dfc7632bf9/browser/src/shared/tracking/eventLogger.tsx#L26-L31

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in d59816f4e72ae0702102d959bd66f7dfc7632bf9. It&#x27;s been assigned to @dadlerj because they committed the code.

[2019-05-12 06:15] todo[bot] opened #3951 "Handle arbitrary action IDs."
https://github.com/sourcegraph/sourcegraph/blob/d59816f4e72ae0702102d959bd66f7dfc7632bf9/browser/src/shared/tracking/eventLogger.tsx#L82-L87

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `@todo` comment in d59816f4e72ae0702102d959bd66f7dfc7632bf9. It&#x27;s been assigned to @dadlerj because they committed the code.

[2019-05-12 10:16] #3777 closed

[2019-05-13 02:22] sqs opened #3966 "Global search on Sourcegraph.com should indicate that repo: filter is needed"
Global search isn't supported on Sourcegraph.com. If the user specifies a query that exceeds the maximum number of allowed repositories to search over (implemented in the code link below), they should see a helpful message instead of just a "context deadline exceeded" error.

Repro:

1. Go to https://sourcegraph.com/search?q=foo+bar

Actual:
![image](https://user-images.githubusercontent.com/1976/

[2019-05-13 08:33] keegancsmith commented on #3459
A thread with some discussion on how to do this https://sourcegraph.slack.com/archives/CHPC7UX16/p1557735685001300

[2019-05-13 09:23] keegancsmith opened #3971 "repos: Stop reading repo.enabled"
Follow-up from https://github.com/sourcegraph/sourcegraph/issues/3291

Also find other uses of enabled that can be removed. Once we stop using the field, we can drop the column in two releases.

[2019-05-13 10:14] slimsag commented on #3897
So I ended up being delayed on this further, and 3.4 is cut on Tues.. if this isn't important for https://app.hubspot.com/contacts/2762526/company/407948923 should I still cut this?

[2019-05-13 10:25] keegancsmith opened #3972 "gitserver: Use removeRepoDirectory helper function in disk cleanup"
Using a naive `os.RemoveAll` can lead to corrupted repositories if the operation is interrupted. There is the helper function `removeRepoDirectory` which handles atomically renaming the directory outside of the repos dir, and then removing it.

https://github.com/sourcegraph/sourcegraph/blob/cd9cc2f6beef0c93d398e88ac32af24668b265dc/cmd/gitserver/server/cleanup.go#L310-L312

[2019-05-13 10:33] keegancsmith commented on #3897
Yeah lets just abandon ship.

[2019-05-13 13:41] keegancsmith opened #3975 "repo-updater: AWS CodeCommit default name does not include host"
AWS CodeCommit repository names are different to every other code host. They do not include the hostname. This means if we had an integration which tried to link git clone URLs or web URLs to sourcegraph URLs it likely wouldn't work for AWS CodeCommit.

Context: https://github.com/sourcegraph/sourcegraph/pull/3922

[2019-05-13 13:53] todo[bot] opened #3978 "(keegancsmith) Cleanup bitbucket code such that we don't need to"
https://github.com/sourcegraph/sourcegraph/blob/aac81413c7d0935ff4e5ef83b839dc0bbeebe796/cmd/repo-updater/repos/sources.go#L424-L429

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in aac81413c7d0935ff4e5ef83b839dc0bbeebe796 when #3922 was merged. cc @sourcegraph.

[2019-05-13 13:53] todo[bot] opened #3979 "(keegancsmith) Cleanup bitbucket code such that we don't need to"
https://github.com/sourcegraph/sourcegraph/blob/f7805a41f6cf4703301e5c35ea6ceb54058edac6/cmd/repo-updater/repos/sources.go#L424-L429

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in f7805a41f6cf4703301e5c35ea6ceb54058edac6. It&#x27;s been assigned to @keegancsmith because they committed the code.

[2019-05-13 14:03] lguychard commented on #3572
Only happens when using Refined GitHub.

[2019-05-13 14:53] lguychard commented on #3100
![image](https://user-images.githubusercontent.com/1741180/57631310-8b5eb380-759f-11e9-865d-eaf02bbdd836.png)

Cannot reproduce this anymore.

[2019-05-13 14:59] lguychard commented on #2340
@felixfbecker are you planning to work on this in 3.4?

[2019-05-13 15:02] lguychard commented on #2765
These are not printed anymore on `yarn run dev`.

[2019-05-13 15:02] #2765 closed

[2019-05-13 16:44] felixfbecker commented on #3100
Can still repro:

![2019-05-13 09 43 49](https://user-images.githubusercontent.com/10532611/57638919-a6abcd80-7563-11e9-873a-3c689052bafe.gif)

[2019-05-13 16:45] felixfbecker commented on #3100
Repro happens whether Refined GitHub is enabled or not.

[2019-05-13 18:47] slimsag commented on #3897
Cool, abandoning ship then. If anyone chooses to do another 3.3 patch release, these changes will then make it in / such a person can reuse this work.

[2019-05-13 18:47] #3897 closed

[2019-05-13 19:28] ryan-blunden opened #3983 "GitHub external service: repository sync service fails if org name contains _ or -"
**Sourcegraph version:** insiders (May 13)

Sync service chokes on `org:my-org` or `org:my_org` `respositoryQuery` strings which are valid GitHub organization names:

[code]

![Screen Shot 2019-05-13 at 12 19 25 PM](https://user-images.githubusercontent.com/133014/57648073-60f9ff80-7579-11e9-91b1-05c245eb48cd.png)

## Expected outcome

Syncer can sync repositories belonging to valid GitHub org nam

[2019-05-13 19:47] slimsag commented on #682
Pretty sure this was fixed. If not, it is a configuration issue anyway and we haven't found it important enough to fix. Closing.

[2019-05-13 19:47] #682 closed

[2019-05-13 19:50] slimsag commented on #2759
Changing milestone to 3.5 for @ryan-blunden to document how to do this (since he also committed to testing and merging https://github.com/sourcegraph/sourcegraph/pull/2808 ), if this sounds wrong reassign me! :)

[2019-05-13 19:51] slimsag commented on #2743
Deferring.

[2019-05-13 19:52] slimsag commented on #3410
This will slip 3.4 but can come shortly after.

[2019-05-13 20:04] ijt commented on #3972
I agree about there being some risk in using `os.RemoveAll`. I used it because `removeRepoDirectory` seemed overly complicated with its removal of empty dirs and also was not tested. Something focused and tested would be fine though, so I'll add that now.

[2019-05-13 20:21] dadlerj commented on #3917
Great, I'll leave it to @beyang to triage and/or assign an owner. To confirm, it sounds like you're able to use Sourcegraph with a workaround (signing in as the admin) today @drgone? Definitely let us know if this pops up for any other users.

[2019-05-13 20:56] ijt commented on #3011
This looks like too much effort for not enough benefit. Closing it.

[2019-05-13 20:56] #3011 closed

[2019-05-13 21:56] felixfbecker opened #3989 "Update to comlink v4"
Being stuck on our v3 fork prevents us from profiting of upstream performance improvements.

[2019-05-13 21:59] felixfbecker opened #3990 "Change PlatformContext.sourcegraphURL from string to Observable<URL>"

[2019-05-13 22:06] #3245 closed

[2019-05-13 22:20] felixfbecker commented on #3824
Just had this happen again.

![image](https://user-images.githubusercontent.com/10532611/57658101-77608500-7592-11e9-9c2c-3bbf73cdba7b.png)

Initially I thought that this was a bug in the code view detection logic or toolbar rendering, but the fact that I only see it happen for the feedback button and never for the TS codeintel button makes me think it must be in the basic code intel extension tha

[2019-05-13 23:54] ijt opened #3991 "Streaming search"
Sourcegraph search currently sends search results back all at once rather than streaming them back as they are found. A streaming solution would be more responsive, showing results as soon as possible, and also more reliable since it would no longer be necessary to set artificially short timeouts in order to make search responsive when the query spans multiple repositories.

For reference, here is

[2019-05-14 00:01] ijt commented on #3966
@nicksnyder [changed the default searchable number of repos to be unlimited](https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/commit/f01bff3f10aad25b4b4064df078501e897879315), and sourcegraph.com appears to be using the default.

Instead of an error, I think we could show some repo results that could then be used to refine the query. Watch count could be a useful indicator of relevance

[2019-05-14 00:26] ijt commented on #3966
To be clear, I'm not necessarily saying we should use bigquery for this. It just happens to have a dataset that helps to see what would happen with a simple approach like this.

One possibility that could work not just on github would be to periodically query the `recent_searches` table to find out how frequently each repo shows up in sourcegraph.com queries.

[2019-05-14 00:56] ijt commented on #3966
To give a rough idea of what that could look like, here's some data from the `recent_searches` table:

[code]

[2019-05-14 01:15] ijt commented on #3966
Of course we'd have to join `rs` against the `repo` table since the `repo` column in `rs` is actually a regex, not an actual repo name.

[2019-05-14 02:58] slimsag commented on #3242
Was going to re-land this but honestly at this point it will likely need to be completely redone due to conflicts, so closing for now.

[2019-05-14 02:58] #3242 closed

[2019-05-14 03:39] #1002 closed

[2019-05-14 03:47] slimsag opened #3992 "Search sometimes links to incorrect revisions from other repositories"
We are observing behavior on a customer instance where search results from repository A are linking to a revision that only exists in repository B, even when repository B's results are not included in the result set (e.g. if excluded via a `-repo:B` filter).

Based on behavior alone this appears to be a race condition somewhere.

Tagging with P1 to identify scope of the issue. If it affects only a

[2019-05-14 04:39] #685 closed

[2019-05-14 05:11] felixfbecker commented on #3824
@chrismwendt could this be caused by the fact that both the TypeScript and Go extension were activated on this PR, and they both contribute the same button? The only `when` context expression I see is `showFeedback`, no filter for the file type etc

[2019-05-14 06:00] sqs opened #3993 "saved_searches vs saved_queries table name"
On latest master, I got an error:

[code]

But I see the table name in PostgreSQL is `saved_queries`.

This error is not blocking me in any way, I just wanted to report the discrepancy.

[2019-05-14 06:49] attfarhan commented on #3993
You should have both a `saved_searches` and `saved_queries` table in your DB after the saved search migration is run. Can you check what migration number is in your `schema_migrations` table: `select * from schema_migrations`?

[2019-05-14 07:04] sqs commented on #3993
Ah, OK. Nevermind then - I was manually updating the schema_migrations version number because I have some local DB changes. So that is why this happened.

[2019-05-14 07:04] #3993 closed

[2019-05-14 07:27] keegancsmith commented on #3972
It should be tested? Check test coverage.

[2019-05-14 07:58] keegancsmith commented on #2677
This was actually fixed in 3.3 when we shipped the new syncer for GitHub (enabled by default).

[2019-05-14 07:58] #2677 closed

[2019-05-14 08:00] keegancsmith commented on #2741
The solution we have for 3.4 doesn't solve the recloning and reindexing issue. However, we no longer leave the old names around (this is properly cleaned up). I believe that is a major improvement. Updating our indexed search and gitserver to not be name based is a bit more work (especially for indexed search). If customers complain about this deficiency please open another issue :)

[2019-05-14 08:00] #2741 closed

[2019-05-14 08:03] keegancsmith commented on #3924
@tsenart Did you mean to add this to the 3.4 milestone?

[2019-05-14 08:03] keegancsmith commented on #3895
An additional place this is important is for sourcegraph.com where we still speak to the upstream code host (only github) in repoLookup.

[2019-05-14 08:05] keegancsmith commented on #3490
I believe the decision we made for 3.4 was to just "port" the hack to the new syncer. I don't think we plan on creating a first class phabricator integration any time soon (unless customer priorities change).

[2019-05-14 08:06] keegancsmith commented on #2866
I am guessing this is backlogged until @beyang has bandwidth to code more :)

[2019-05-14 09:01] tsenart commented on #3983
[code]

[2019-05-14 09:02] tsenart commented on #1423
It's very much still relevant Mr. Stalebot.

[2019-05-14 09:07] tsenart commented on #3924
@keegancsmith: Nope.

[2019-05-14 09:08] #3490 closed

[2019-05-14 09:37] mrnugget opened #3996 "repo-updater: Take `ExternalRepo` into account in `RepoLookup`"
In https://github.com/sourcegraph/sourcegraph/pull/3967#discussion_r283293070 @tsenart noticed that we do not take the `ExternalRepo` field of `protocol.RepoLookupArgs` into account:

https://github.com/sourcegraph/sourcegraph/blob/58f657de688b0905ca026fbb9c2d1a60086cd230/cmd/repo-updater/repoupdater/server.go#L342-L344

The `protocol.RepoLookupArgs` matches the `external_*` columns we have in the

[2019-05-14 09:41] tsenart commented on #3996
This may be an important bug to work on, specially for code navigation with the browser extension on repos in the code host that got renamed but haven't got synced yet on sourcegraph.

Would make more sense to extend `ListRepos` to support listing by external id, like it does for names.

[2019-05-14 09:59] keegancsmith commented on #462
This is in master and will go out in the 3.4 release. I've been testing extensions with it and it seems to be working well. There are likely some corner cases were extensions do not work (noticeably the fallback root package path detection may fail in go-langserver, but this can be worked around). However, all those corner cases failed in previous version of sourcegraph as well. So on the whole th

[2019-05-14 09:59] #462 closed

[2019-05-14 10:26] keegancsmith commented on #3459
To support use cases like this, maybe we should run the syncer but exclude the kind github? https://github.com/sourcegraph/sourcegraph/issues/3457 cc @tsenart @mrnugget

[2019-05-14 10:51] #3572 closed

[2019-05-14 11:31] mrnugget commented on #3996
Yeah, that _does_ make more sense, because ListRepos is more versatile (you can always just list 1 repo)

[2019-05-14 13:01] mrnugget commented on #3996
After discussing this with @keegancsmith and @tsenart we realized that since `repo.name` is unique, it's enough if we only search for `Name`. And all the call-sites that pass in `ExternalRepo` also pass in name.

That means, we can get rid of `ExternalRepo` in `protocol.RepoLookupArgs`.

[2019-05-14 13:33] #3466 closed

[2019-05-14 13:39] mrnugget opened #4001 "repo-updater: store repo links in repo.sources"
In https://github.com/sourcegraph/sourcegraph/issues/3466 we already noticed that once we load data solely from the database (which is now done after merging https://github.com/sourcegraph/sourcegraph/pull/3967) we can store  repo links in the repo.sources column and service them straight from the database, too, instead of constructing them on the fly here RepoLookup

[2019-05-14 15:03] mrnugget opened #4002 "Investigate CI flakiness for repo-updater/repos/sources_test.go"
We had to run our build two times to make it pass on CI: https://buildkite.com/sourcegraph/sourcegraph/builds/34892#0d29f393-5cd6-4406-84f5-2723c5d47752

[code]

The same test didn't fail in previous PR and it doesn't fail locally. Our best guess at the moment is that this has something to do with the caching logic in the Github client:

https://github.com/sourcegraph/sourcegraph/blob/d6294814e110

[2019-05-14 16:18] beyang opened #4003 "Prometheus: report CPU usage for indexed-search"
This query `(max by (job)(irate(process_cpu_seconds_total[5m]))) * 100` shows CPU usage over time for different processes, but doesn't include indexed-search. We should include indexed-search.

Customer: https://app.hubspot.com/contacts/2762526/company/464956351

[2019-05-14 16:20] beyang opened #4004 "Include Grafana YAML"
Customer https://app.hubspot.com/contacts/2762526/company/464956351 wants Grafana YAML for their k8s cluster.

[2019-05-14 16:22] beyang opened #4005 "Prometheus metrics"
Prometheus metrics for:
* lang servers
* code intelligence

Track this specifically for certain repos (e.g., specify list of mono-repos)

Customer: https://app.hubspot.com/contacts/2762526/company/464956351

[2019-05-14 16:52] dadlerj commented on #3769
Thanks @siddharthab! This would actually be a bit complex today, I believe we're doing rendering on both the backend and frontend, depending on the source of the markdown content.

Can you share any example markdown where the renderer is failing today? Or is it just on custom syntax internal to your org?

[2019-05-14 18:13] chrismwendt commented on #3824
Ah, yup, that's it. Good find! I'll fix this.

[2019-05-14 18:14] chrismwendt commented on #3665
Can't repro, but let's reopen this if/when we see it happen again.

[2019-05-14 18:14] #3665 closed

[2019-05-14 19:46] #2812 closed

[2019-05-14 20:22] christinaforney opened #4007 "HubSpot extension in browser extension fails due to CORS"

[2019-05-14 20:29] sqs opened #4008 "Monaco editor shows red squigglies on trailing commas"
This is a recent regression that I think I caused.

For example, at https://sourcegraph.com/site-admin/global-settings:

![image](https://user-images.githubusercontent.com/1976/57904683-b576d680-7828-11e9-900d-2616afd9376e.png)

This is confusing, because we do support JSONC.

[2019-05-14 20:31] siddharthab commented on #3769
Thanks for responding Dan.

The main problem is that Markdown syntax is not really standard. And each rendering engine supports its own flavor. Without knowing which engine Sourcegraph is using, and with which options, it will be difficult to write any Markdown documents which render nicely in Sourcegraph.

If having custom rendering engines is hard, maybe Sourcegraph can support a more popular fl

[2019-05-14 21:18] #3355 closed

[2019-05-14 21:18] todo[bot] opened #4010 "Why is bitbucketServer (correctly) camelCase but"
https://github.com/sourcegraph/sourcegraph/blob/44ebe679d19c77b07c92abf6a68ffa20c60ca6bc/web/src/repo/actions/GoToCodeHostAction.tsx#L148-L153

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 44ebe679d19c77b07c92abf6a68ffa20c60ca6bc when #3997 was merged. cc @sourcegraph.

[2019-05-14 21:18] todo[bot] opened #4011 "Why is bitbucketServer (correctly) camelCase but"
https://github.com/sourcegraph/sourcegraph/blob/1aecddea608a82b2b0b3a9138b27a858ecbef6b0/web/src/repo/actions/GoToCodeHostAction.tsx#L148-L153

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 1aecddea608a82b2b0b3a9138b27a858ecbef6b0. It&#x27;s been assigned to @slimsag because they committed the code.

[2019-05-14 21:29] slimsag commented on #4003
The metric you are talking about, `process_cpu_seconds_total`, comes from Kubernetes/Docker native Prometheus integrations. If it excludes a process, it would be a bug in one of those.

Are you positive you didn't mix up `indexed-search` and `zoekt-webserver` / `zoekt-indexserver`? (the latter is what it would appear as I believe, since `indexed-search` is actually those two separate services in o

[2019-05-14 22:04] #3208 closed

[2019-05-14 22:04] todo[bot] opened #4012 "(slimsag/farhan): long term: let's make these"
https://github.com/sourcegraph/sourcegraph/blob/c219ca229452cf0bbafcd5e9666e3f556c52edc3/cmd/query-runner/all_saved_queries.go#L62-L67

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in c219ca229452cf0bbafcd5e9666e3f556c52edc3 when #3867 was merged. cc @sourcegraph.

[2019-05-14 22:04] todo[bot] opened #4013 "(slimsag/farhan): long term: let's make these"
https://github.com/sourcegraph/sourcegraph/blob/a00f2fc02a83c4e8710d4dcf696b5b86e7105172/cmd/query-runner/all_saved_queries.go#L62-L67

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in a00f2fc02a83c4e8710d4dcf696b5b86e7105172. It&#x27;s been assigned to @attfarhan because they committed the code.

[2019-05-14 22:29] sqs commented on #3769
Our doc page at https://docs.sourcegraph.com/user/markdown is blank, and this is obviously a problem. We need to write that up. Assigning to @christinaforney who also just mentioned this.

[2019-05-14 22:59] #4012 closed

[2019-05-14 23:17] christinaforney opened #4016 "Error starting enterprise start.sh"
![image](https://user-images.githubusercontent.com/1559622/57738214-5f0c6b00-7663-11e9-9a6e-aab7d4e4c544.png)

Just trying again worked to get things up and running, but for tracking purposes am logging here. This is low priority.

Specifically errored on `Did not find authentication provider matching "https://gitlab.sgdev.org"` causing the frontend server to terminate.

[2019-05-15 00:00] christinaforney opened #4018 "Can we remove the basic-code-intel extension?"
The basic-code-intel extension is showing up in the list of Top Extensions on sourcegraph.com. We should either exclude deprecated extensions from showing up in the top list, or remove this extension entirely.

![image](https://user-images.githubusercontent.com/1559622/57739725-97af4300-7669-11e9-90af-f47583a51ed7.png)

[2019-05-15 00:05] christinaforney opened #4019 "Code ownership: hide should not show up in command palette on Explore page"
![image](https://user-images.githubusercontent.com/1559622/57739948-5b301700-766a-11e9-98cc-96461733a0ba.png)

The code ownership: hide should not show up on pages where it is not relevant (e.g. Explore).

[2019-05-15 00:07] ryan-blunden commented on #3914
Core services team requested refactors for other code hosts be done in the same PR so it now includes:
 - GitHub Enterprise
 - GitLab
 - BitBucket
 - AWS Code Commit

Phabricator and Gitolite will be done in 3.5

[2019-05-15 00:09] #3784 closed

[2019-05-15 00:09] christinaforney commented on #1841
This is duplicated in #3644 which references the empty state on Sourcegraph.

[2019-05-15 00:09] christinaforney commented on #3644
Duplicates #1841 closing to track in that issue.

[2019-05-15 00:09] #3644 closed

[2019-05-15 00:11] ryan-blunden commented on #3308
Hi @wxio, just wanted to check if you're still having this issue.

[2019-05-15 00:13] #1515 closed

[2019-05-15 00:14] #3618 closed

[2019-05-15 00:15] christinaforney opened #4020 "Remove Welcome link from the top nav on Sourcegraph"
Additionally, remove the welcome page entirely - the future vision for the welcome page would be a guided custom walkthrough (similar to VS Code) to help users get up and running quickly.

For now, just remove:

![image](https://user-images.githubusercontent.com/1559622/57740267-c29a9680-766b-11e9-9a3d-65c43466591e.png)

[2019-05-15 00:17] ryan-blunden opened #4021 "Revise default config and inline comments for external services"
- [ ] Gitolite
 - [ ] Phabricator

[2019-05-15 00:18] slimsag commented on #3201
https://github.com/sourcegraph/sourcegraph/pull/4014 fixes the user-observable issue here, changing this issue to reflect the major debt we have here.

Today, the `global_state` table contains four values: `site_id`, `initialized`, `mgmt_password_plaintext` and `mgmt_password_bcrypt`.

The table can have multiple entries which is very hard to reason about. It has multiple entries because of concer

[2019-05-15 00:22] beyang opened #4022 "3.4 Release"
# MAJOR.MINOR Release (2019-05-20)

## At the start of the month

- [x] Choose dates/times for the steps in this release process and update this issue template accordingly. Note that this template references _working days_, which do not include weekends or holidays observed by Sourcegraph.
- [x] Add events to the shared Release Schedule calendar in Google and invite team@sourcegraph.com.
    - [x]

[2019-05-15 00:30] christinaforney opened #4023 "Add ability to have extensions open links in new tabs/windows"
For example, the code intel feedback extension navigates away from Sourcegraph to a google form, rather than saving my place and opening up a new tab or window.

![image](https://user-images.githubusercontent.com/1559622/57740672-d34c0c00-766d-11e9-9df6-2c42e17720f6.png)

[2019-05-15 00:36] #2400 closed

[2019-05-15 00:48] chrismwendt commented on #4018
The old basic-code-intel extension has been deprecated for multiple iterations now, and the individual language extensions have been available since 3.0, so I deleted the old one.

[2019-05-15 00:48] #4018 closed

[2019-05-15 04:27] slimsag commented on #3534
I missed this in 3.4 but may come in a subsequent patch release. Moving to 3.5

[2019-05-15 04:29] slimsag commented on #3109
I missed landing this in 3.4, but I think the customer need here is actually mitigated by a new `src` CLI approach we set up. I'll backlog this for now and reconfirm with customer at a later date.

[2019-05-15 05:46] slimsag commented on #3909
Here's an alert that triggered on a gitserver deployment in prod, not sure if this is "flaky" or more expected given gitserver is so critical to all services -- but ideally it wouldn't happen on deploys of course: https://sourcegraph.slack.com/archives/C08JA8Q1H/p1557899101065100

[2019-05-15 06:09] #3972 closed

[2019-05-15 06:24] aisbaa commented on #2400
This is great, thank you a lot!

[2019-05-15 07:29] attfarhan commented on #3268
Fixed via https://github.com/sourcegraph/sourcegraph/commit/a00f2fc02a83c4e8710d4dcf696b5b86e7105172

[2019-05-15 07:29] #3268 closed

[2019-05-15 07:46] keegancsmith commented on #3291
This is done. Forgot to close it yesterday :)

[2019-05-15 07:46] #3291 closed

[2019-05-15 08:02] keegancsmith commented on #3909
Aah I didn't realise we deployed gitserver so often these days. In that case the alerts are more than likely surfacing a real (ephemeral) issue. But either way them constantly flipping isn't useful to our oncall users.

[2019-05-15 08:56] keegancsmith commented on #3459
This is done! We somewhat backported how it worked before which is completely fine. We may one day want to clean this up so we also answer sg.com repoLookup requests from the DB. But for now what we have is acceptable.

[2019-05-15 08:56] #3459 closed

[2019-05-15 09:01] keegancsmith commented on #2933
We now hard delete, so this is no longer an issue.

[2019-05-15 09:01] #2933 closed

[2019-05-15 09:03] keegancsmith commented on #3457
To solve this we need to support partial syncing on Sourcegraph.com. This is a nice to have, so unlikely it will happen soon vs more pressing needs.

[2019-05-15 09:03] keegancsmith commented on #3467
I've updated the description. Closing the issue :D

[2019-05-15 09:03] #3467 closed

[2019-05-15 09:05] keegancsmith commented on #3983
In future can you cc @sourcegraph/core-services so it pops up in our notifications :)

[2019-05-15 09:07] keegancsmith commented on #3983
If I am not mistaken the fix here is to properly surface the error returned from the GitHub API? We should mostly be treating the search queries as opaque, since GitHub is responsible for parsing and running them. If we correctly passed on the error message that github returned do you think that is sufficient @ryan-blunden?

[2019-05-15 09:09] keegancsmith commented on #3345
The ID is the ID in the `repos` table. If we want a repository to be managed by us we require it to be in our repo table. Once there we can let gitserver clone it. So if we have an endpoint calling `enqueue-repo-update` on a repository not in the repo table, then the call should fail.

[2019-05-15 09:14] keegancsmith commented on #3301
Has there been any work towards this in this milestone? What is the plan moving forward?

[2019-05-15 11:49] keegancsmith commented on #4016
@beyang any insight into why this is happening?

[2019-05-15 12:28] #4002 closed

[2019-05-15 12:55] #1036 closed

[2019-05-15 13:20] JoshuaKGoldberg opened #4033 "Chrome extension flashes your logo for a brief moment"
- **Sourcegraph version:** Sourcegraph extension 19.4.26.1859
- **Platform information:** Chrome 74 on Mac

#### Steps to reproduce:

1. Install the Sourcegraph extension
2. Load a GitHub PR

#### Expected behavior:

Your logo not being flashed for a brief moment

#### Actual behavior:

Your logo flashes into view for a brief moment

Apologies for the .zip instead of a .gif, Github doesn't support

[2019-05-15 13:23] keegancsmith commented on #4001
Out of interest what is the benefit of this vs just leaving it as is?

[2019-05-15 13:27] keegancsmith commented on #3929
Can you share the relevant logs which point to the problem? I'm unsure if the logs you refer to say that we have run `git fetch` or if we have just re-checked the metadata.

what happens when you search `index:no`? My gut tells me this is just a delay for zoekt to reindex the repo?

[2019-05-15 13:29] keegancsmith commented on #3612
we mostly killed off the connection code. @tsenart is this still valid?

[2019-05-15 13:43] lguychard opened #4034 "Phabricator assets 404"
1. Run sourcegraph/server:3.4.0-rc.1
2. Try to use it with the Phabricator native integration (or simply to access `http://localhost:7080/.assets/extension/scripts/phabricator.bundle.js`)
3. Witness the assets 404

[2019-05-15 14:22] keegancsmith commented on #2572
cc @sourcegraph/distribution

[2019-05-15 14:27] beyang opened #4036 "GitHub external service config option for organizations"
Currently, the recommended way to add all repos in a GitHub org to Sourcegraph is to use a repositoryQuery, but GitHub search API returns 1k repos max. We should add a config option for orgs in the GitHub external service config.

[2019-05-15 15:38] mrnugget commented on #4001
I think @tsenart's idea behind this was that we reduce the places in the codebase where we construct a "fully formed" repository. At the moment we construct the one part when sourcing them and then we add the links on-the-fly when we load them from the database.

As I understand it, this is not a pressing issue but rather an optimization (since it would also make RepoLookup faster, I guess)

[2019-05-15 16:15] #4034 closed

[2019-05-15 16:49] sqs commented on #4033
This seems like a very high-priority bug

[2019-05-15 16:56] #1548 closed

[2019-05-15 17:42] ggilmore commented on #3555
This was de-prioritized in favor of spinning replica instances. I still want to follow on this in a 3.4.x release

[2019-05-15 17:45] ggilmore commented on #3301
Sorry, we had a discussion when @sourcegraph/distribution went over https://docs.google.com/document/d/1lm9rqsWq--DSpwAsrDE9J8GEi0ivlnH-AMG9iOCGda0/edit#. The plan is to just use/document the cloud provider's default log aggregation solution for now.

This isn't critical for 3.4, but it will be addressed in a minor release in https://github.com/sourcegraph/deploy-sourcegraph

[2019-05-15 17:55] ijt commented on #3929
The logs from fakehub look like this:
[code]
It's just a re-check of the metadata.

Searching with `index:no` still yields no results.

[2019-05-15 18:27] #4023 closed

[2019-05-15 18:30] chrismwendt opened #4040 "Failed to list GitHub repositories for search"
I spun up a v3.4.0-rc.2 instance, added an external service, then updated it to add `sourcegraph/sourcegraph` and got this error:

![image](https://user-images.githubusercontent.com/1387653/57799217-6daa5f00-7703-11e9-94a1-8ea4d373c7ca.png)

- I don't think this configuration is invalid
- It says "invalid configuration", which seems to contradict "external service updated"
- Why is it running a se

[2019-05-15 19:58] felixfbecker commented on #3284
@lguychard was there progress made on this?

[2019-05-15 20:28] #3914 closed

[2019-05-15 20:29] #3192 closed

[2019-05-15 20:29] #3778 closed

[2019-05-15 20:29] todo[bot] opened #4042 "Make this more advanced if many extensions need this (although we should try to ..."
https://github.com/sourcegraph/sourcegraph/blob/874707c9d9065f7bb68b02cb91f42dbbdfbb7792/shared/src/api/client/context/contextService.ts#L35-L40

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 874707c9d9065f7bb68b02cb91f42dbbdfbb7792 when #4025 was merged. cc @sourcegraph.

[2019-05-15 20:29] todo[bot] opened #4043 "could walk object recursively"
https://github.com/sourcegraph/sourcegraph/blob/874707c9d9065f7bb68b02cb91f42dbbdfbb7792/shared/src/api/client/services/contribution.ts#L225-L230

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `@todo` comment in 874707c9d9065f7bb68b02cb91f42dbbdfbb7792 when #4025 was merged. cc @sourcegraph.

[2019-05-15 20:29] todo[bot] opened #4044 "Make this more advanced if many extensions need this (although we should try to ..."
https://github.com/sourcegraph/sourcegraph/blob/ee5cad06b25a2805cfc0d83f703dac6e9e6078d0/shared/src/api/client/context/contextService.ts#L35-L40

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in ee5cad06b25a2805cfc0d83f703dac6e9e6078d0. It&#x27;s been assigned to @felixfbecker because they committed the code.

[2019-05-15 20:29] todo[bot] opened #4045 "could walk object recursively"
https://github.com/sourcegraph/sourcegraph/blob/ee5cad06b25a2805cfc0d83f703dac6e9e6078d0/shared/src/api/client/services/contribution.ts#L225-L230

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `@todo` comment in ee5cad06b25a2805cfc0d83f703dac6e9e6078d0. It&#x27;s been assigned to @felixfbecker because they committed the code.

[2019-05-15 20:42] chrismwendt commented on #4040
Oh, the repository `sourcegraph/sourcegraph` goes under the `repos` field that I didn't have.

**My thought process** I realized I was wrong after being surprised when I saw that a ton of repositories were added. I guessed it had added all repositories affiliated with my token, which was also wrong. Then I remembered I hadn't set `affiliated` in the config, and the next thought was that it was run

[2019-05-15 20:55] dadlerj commented on #4016
If not testing auth, you can add the environment variable `NO_KEYCLOAK=1 ./dev/start.sh` to avoid this I believe

[2019-05-15 21:18] slimsag commented on #3589
This is not fixed, the issue described in the description remains: When the repo lookup request fails, the links are silently not displayed on the frontend when instead we should be displaying an error somewhere (e.g. on hover over the link).

[2019-05-15 21:22] slimsag opened #4046 "prod: repo-updater: insert: pq: duplicate key value violates unique constraint "repo_external_service_unique_idx""
on Sourcegraph.com we are seeing jump-to-code-host links not appearing. This is due to a query to repo-updater to lookup the repository failing:

https://sourcegraph.com/github.com/sourcegraph/sourcegraph@ee5cad06b25a2805cfc0d83f703dac6e9e6078d0/-/blob/cmd/frontend/graphqlbackend/externallink/repository.go#L121-131

(There is a separate issue to make the frontend actually report this error instead

[2019-05-15 21:42] slimsag commented on #2743
At https://app.hubspot.com/contacts/2762526/company/407948923 this was fixed by adding GOMAXPROCS specifiers equal to the # of CPUs. We should still do the more generic (and automatic) fix here, but it is low priority now I believe. Backlogging.

[2019-05-15 21:49] chrismwendt opened #4049 "Symbols: recognition is poor in Haskell"
None of `data`, `newtype`, or `type` are recognized. I think this can be vastly improved with better regexes.

![image](https://user-images.githubusercontent.com/1387653/57811938-62196100-7720-11e9-8478-af65c21e18bd.png)

[2019-05-15 22:52] slimsag opened #4051 "Bitbucket Server / browser extension makes it impossible to copy+paste code"
A user at https://app.hubspot.com/contacts/2762526/company/407948923 has reported that the Bitbucket Server browser extension integration makes it impossible to copy+paste code.

Keywords: select, selection, selections

[2019-05-15 22:53] slimsag commented on #4051
Additional details at: https://sourcegraph.slack.com/archives/C0W2E592M/p1557960731006100

cc @sourcegraph/code-nav

[2019-05-15 23:38] felixfbecker opened #4052 "Error when adding GitHub external service"
![image](https://user-images.githubusercontent.com/10532611/57816322-bd9f1b00-772f-11e9-8390-ffa7f0548755.png)

[code]

This is the commented-out example query.

I also think the "Error saving invalid configuration" is weird. If you knew it was invalid, why did you try to save it instead of telling me what is invalid?

[2019-05-16 00:51] ijt opened #4054 "deployment to GKE cluster with default machine type fails on CPU & RAM"
Here's roughly what I did:
[code]
I saw it take over 30m trying to start, and then the management console went into crashloop backoff. The cause was insufficient CPU and RAM.

The docs do say to set the machine type to `n1-standard-16`, stronger than the default of `n1-standard-1`. At the same time, it doesn't seem like the management console should need such a strong machine type.

[2019-05-16 00:59] chrismwendt opened #4055 "Bitbucket server: Repo not found error when the hostname is different from the perspective of the client vs Sourcegraph"
- Spin up a new Sourcegraph instance on localhost:7080
- Spin up a new Bitbucket Server instance and add a repository
- Point the browser extension to http://localhost:7080
- Visit a file on Bitbucket Server and hover over some code to trigger a GraphQL request
- Open the browser console and see this error:

![image](https://user-images.githubusercontent.com/1387653/57818056-2ccc3d80-7737-11e9-8b1

[2019-05-16 01:25] attfarhan opened #4056 "Cannot use Google GSuite OIDC auth"
- **Sourcegraph version:** Docker image 3.4.0-rc.2
- **Platform information:**

#### Steps to reproduce:

1. Spin up a Sourcegraph cluster following the docs on deploying to Google Cloud VM following https://docs.sourcegraph.com/admin/install/docker/google_cloud.
2. Set an external URL for your instance
3. Access the management console and set up Google OIDC auth following https://docs.sourcegraph

[2019-05-16 03:30] vanesa commented on #3803
A developer from one of our customers requested this feature today too.

[2019-05-16 03:50] dadlerj opened #4057 "Sourcegraph.com site-admin section gives "Reload required" warnings"
- **Sourcegraph version:** Sourcegraph.com

#### Steps to reproduce:

1. Be an admin on sourcegraph.com
2. Visit most site-admin pages, e.g. https://sourcegraph.com/site-admin/repositories

[2019-05-16 03:52] dadlerj opened #4058 "Sourcegraph.com saved searches page never loads: QueryContext(2): pq: syntax error at or near ")""
- **Sourcegraph version:** Sourcegraph.com

![image](https://user-images.githubusercontent.com/5589410/57825338-43808d80-7753-11e9-8743-92a9b00c3da3.png)

#### Steps to reproduce:

1. Visit https://sourcegraph.com/search/searches
2. Open console to see:

[code]

(This might not be a release blocker if it only affects dotcom.)

[2019-05-16 04:05] attfarhan commented on #4058
Hmm I don't know why this is occurring, but Sourcegraph.com should be upgraded to latest master soon, which includes my new UI for saved searches and would solve this issue.

I keep seeing this in the site admin area though:
![image](https://user-images.githubusercontent.com/16265452/57825751-23ea6480-7755-11e9-8fbc-840c0fbbfc0a.png)

I'm getting on my flight @dadlerj could you check with other te

[2019-05-16 04:17] dadlerj commented on #4058
Yeah I also filed that issue at https://github.com/sourcegraph/sourcegraph/issues/4057 and posted about it in Slack. Not sure if it's related 🤷‍♂

[2019-05-16 04:17] dadlerj commented on #4058
Safe flight!

[2019-05-16 05:39] #3750 closed

[2019-05-16 06:39] mrnugget commented on #4040
@chrismwendt I ran into the same thing before, I understand. Luckily, @ryan-blunden addressed this in  https://github.com/sourcegraph/sourcegraph/pull/3931 — do you think that his updated example configuration fixes this issue here?

[2019-05-16 08:28] lguychard commented on #3284
Following my refactor in https://github.com/sourcegraph/sourcegraph/pull/3494, `isDomSplitDiff()` now only looks at the code view element, and doesn't perform `document.querySelector()` calls anymore (or call `parseURL()`...).

That being said, working on that PR showed me that the number of cells in a row is not a reliable indicator of whether a view is split/unified.

[2019-05-16 12:32] mrnugget opened #4060 "frontend: "Use with your code host" toast covered by search result container"
- **Sourcegraph version:** 3.4-rc3
- **Platform information:** Kubernetes cluster

#### Steps to reproduce:

1. Don't click away the "Use with your code host" toast that pops up for new users
2. Search for something that produces results

#### Expected behavior:

The toast is in the foreground

#### Actual behavior:

<img width="1066" alt="Screen Shot 2019-05-16 at 14 28 35" src="https://user-imag

[2019-05-16 13:38] mrnugget opened #4061 "Saved searches forms are missing Slack webhook option"
- **Sourcegraph version:** 3.4-rc.3
- **Platform information:** Kubernetes/Docker

#### Steps to reproduce:

1. Enter a search query, click on `Save this search query`

or

1. Go to `/search/searches`, click on `Add new search`

#### Expected behavior:

I can enable "Slack notifications" [as described in the documentation here](https://docs.sourcegraph.com/user/search/saved_searches#configuring-em

[2019-05-16 13:53] mrnugget commented on #4061
I just noticed that #4015 wasn't cherry-picked into 3.4: https://github.com/sourcegraph/sourcegraph/commits/3.4

The instances I tested this on were using `3.4-rc.3`

[2019-05-16 14:28] lguychard commented on #4055
@chrismwendt was that repository synced to your Sourcegraph instance?

[2019-05-16 15:51] mrnugget commented on #4052
The error comes from Github's API and we can't predict whether it gets returned or not before we try to do a sync:

https://developer.github.com/v3/search/#timeouts-and-incomplete-results

We have a test case that even makes sure that this error aborts the syncer: https://github.com/sourcegraph/sourcegraph/blob/b6b985b38dba79b4d08932ada718fd19e8cc30b5/pkg/extsvc/github/repos_test.go#L298-L333

To

[2019-05-16 16:08] beyang commented on #4055
Should this be fixed before we ship to https://app.hubspot.com/contacts/2762526/company/407948923?

[2019-05-16 17:07] felixfbecker commented on #4057
It's probably a different error that's unintentionally detected as a "reload required" error. This PR I did in January would have prevented the red herring: https://github.com/webpack/webpack/pull/8615

[2019-05-16 17:11] felixfbecker commented on #2378
Published https://www.npmjs.com/package/@sourcegraph/extension-api-classes

[2019-05-16 17:11] #2378 closed

[2019-05-16 17:13] felixfbecker opened #4062 "First class support for diff views in extension API"
Many extension use cases will not just require support for decorations shown in diff views, but also first class support for knowing an editor is a diff view and having access to the actual patch.

Example: highlighting moved code as yellow.

[2019-05-16 17:27] beyang opened #4063 ""Not cloned" repositories page times out if there are a lot of repositories and none are cloned"
Repro:
* Go to https://k8s.sgdev.org/site-admin/repositories?filter=not-cloned
* Wait
* Observe 504 error after awhile

![image](https://user-images.githubusercontent.com/1646931/57874346-369c8200-77c5-11e9-98bc-bd80835b8c6e.png)

[2019-05-16 17:38] chrismwendt commented on #4040
Ah, great! Yeah, I think that if I had seen the updated example configuration then I would not have run into this problem.

[2019-05-16 17:38] #4040 closed

[2019-05-16 18:03] chrismwendt commented on #4055
Ah, it has a different name:

- On Sourcegraph: `host.docker.internal/SOUR/sourcegraph`
- On Bitbucket, the open-file-on-Sourcegraph button links to: http://localhost:7080/localhost/SOUR/sourcegraph (`host.docker.internal` has been replaced with `localhost`)

Here's my Bitbucket external service configuration:

[code]

Any idea what's causing this discrepancy?

[2019-05-16 18:19] felixfbecker commented on #4055
@chrismwendt what browser extension version are you running?

[2019-05-16 18:31] lguychard commented on #4055
@felixfbecker could this TODO be the cause of the discrepancy?: https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/blob/browser/src/libs/bitbucket/scrape.ts#L13:4

@chrismwendt are you using `repositoryPathPattern`?

I also suspect the original bug was caused by the following:
- The version of the browser extension you were running still had the sourcegraph.com fallback code
- The reques

[2019-05-16 18:49] felixfbecker commented on #3284
Sounds like this is sufficient.

[2019-05-16 18:49] #3284 closed

[2019-05-16 18:56] felixfbecker opened #4064 "Code views are not cleaned up anymore"
Some ViewResolvers return an `element` for the CodeView that does not match the element found with the `selector`. We currently store CodeView state in a Map keyed by element, so this means we never clean them up.

It seems like we cannot make the element always match what's found with the selector. Since we cannot run the ViewResolver for removed elements (they look at outside state), the only so

[2019-05-16 18:58] felixfbecker opened #4065 "Investigate filling in TextDocument#text in browser extension again"
This would make all of our simple "link" extensions like datadog, Sentry etc work on private repos.

Idea: Use the "view raw file" links and make a `fetch()` to its href (or use an iframe). It should be already authenticated through cookies or access tokens.

[2019-05-16 19:16] #3485 closed

[2019-05-16 19:24] felixfbecker commented on #3825
This is reasonably fast now. Remove model is still inefficient, but it doesn't seem to be noticeable anymore.

[2019-05-16 19:24] #3825 closed

[2019-05-16 19:25] felixfbecker commented on #3485
@ryan-blunden Summarized improvements of 3.4 iteration:
- Fixed bugs around code intelligence not working in some cases on GitHub
- Fixed performance issues (page becoming unresponsive on large PRs)
- Overhauled error handling of talking to Sourcegraph instances, issues like wrong Sourcegraph instance or unknown repositories should be better handled now
  - Browser extension does no longer fallbac

[2019-05-16 19:27] felixfbecker opened #4066 "Code Nav: 3.5 Tracking Issue"
**Source of truth:** [is:open is:issue org:sourcegraph project:sourcegraph/45 milestone:3.5](https://github.com/issues?utf8=%E2%9C%93&q=is%3Aopen+is%3Aissue+org%3Asourcegraph+project%3Asourcegraph%2F45+milestone%3A3.5+)

- [x] Make decorations performant #3285, requirement for ⬇️  @felixfbecker
- [x] Support decorations on diffs #911, PR: #3288  @felixfbecker
- [ ] Introduce first-class support fo

[2019-05-16 19:30] #771 closed

[2019-05-16 19:30] #3105 closed

[2019-05-16 19:30] #3110 closed

[2019-05-16 19:32] chrismwendt commented on #4055
@felixfbecker I was running v19.4.26.1859 (see screenshot)

Now on v19.5.16.1439 I get a different error saying the repository doesn't exist:

![image](https://user-images.githubusercontent.com/1387653/57880811-8e8eb500-77d4-11e9-8527-e1a5e55ad651.png)

@lguychard That sequence of events sounds right to me.

Is this case (different hostname from the perspective of the client vs Sourcegraph) worth

[2019-05-16 19:43] ryan-blunden opened #4067 "topQueries wrongly includes partial queries"
A query is logged every time a search occurs, filling the top query collection with unfinished searches.

New logic needs to be introduced so a search is only logged when the user initiates it, such as hitting *Enter*, pressing the *Search* button.

![ScreenFlow](https://user-images.githubusercontent.com/133014/57881850-28eff800-77d7-11e9-9935-3573bb51dd0d.gif)

I would like to see this pulled fro

[2019-05-16 19:44] felixfbecker commented on #3901
Hi @ceecurvin, what would have helped you the most?
- more in-product help/guides e.g. in the option page?
- more documentation on [our docs page](https://docs.sourcegraph.com/integration/browser_extension)
- more links to that?

[2019-05-16 19:52] felixfbecker commented on #3803
This would require an extension API for adding annotations to each line of code left of the line numbers (separate from the actual code content, but in an extra table column).

Maybe it's also not worth doing through an extension but through native web integration because it's likely a lot easier and all code hosts already have a blame view.

[2019-05-16 19:55] felixfbecker commented on #4052
@mrnugget as a user, that doesn't help me - what am I supposed to do when this error occurs? How can I resolve it? I am currently blocked on testing because I can't get repositories to sync to my instance.

So there are two problems here:
- I am unable to set up my instance to sync all repositories from the Sourcegraph org with this repositoryQuery
- I am getting an error that is confusing and unh

[2019-05-16 20:06] beyang commented on #4067
Can be fixed by reverting 5b744fb132e4d4cfb6381914325dcc442d6537ba

[2019-05-16 20:47] lguychard commented on #4055
I think it's worth addressing for robustness' sake, but the fact that clients haven't run into it up until now makes it low priority.

[2019-05-16 21:11] #3882 closed

[2019-05-16 21:11] todo[bot] opened #4068 "ideally, this should only scrape the code view itself."
https://github.com/sourcegraph/sourcegraph/blob/c9c5d8fbfb21fd2cb57642d8cbf0f1807f80be30/browser/src/libs/github/file_info.ts#L85-L90

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in c9c5d8fbfb21fd2cb57642d8cbf0f1807f80be30 when #3977 was merged. cc @sourcegraph.

[2019-05-16 21:11] todo[bot] opened #4069 "ideally, this should only scrape the code view itself."
https://github.com/sourcegraph/sourcegraph/blob/1c3ee8377d780e493cebafa21540391c27b2b209/browser/src/libs/github/file_info.ts#L85-L90

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 1c3ee8377d780e493cebafa21540391c27b2b209. It&#x27;s been assigned to @lguychard because they committed the code.

[2019-05-16 21:15] Krishna opened #4070 "Can't install SourceGraph 3.3.7 locally"
As per the docs, I tried the following on macOS 10.14.4:

[code]

This results in the following output:

[code]

[2019-05-16 21:27] chrismwendt commented on #4051
I was able to repro this yesterday (browser extension v19.4.26.1859)

I'm not able to repro this today (browser extension v19.5.16.1439)

Could we ask the user for the version of their browser extension?

[2019-05-16 21:28] attfarhan commented on #4057
I am not working today and don’t have special context on this, maybe best to reassign if it’s release blocking @beyang?

[2019-05-16 21:33] attfarhan commented on #4061
This is intentional, we are deprecating slack webhook URL support for saved searches. Unfortunately the new UI did not make the release candidate so that is also expected.

[2019-05-16 21:34] attfarhan commented on #4061
I will file a separate issue to remove the docs.

[2019-05-16 21:35] attfarhan opened #4071 "Remove slack webhook saved search docs"
We removed suppprt for these since they are also deprecated in Slack itself.

[2019-05-16 21:39] slimsag opened #4072 "Hubspot extension now borks typing completely"
`Experimental text field completion` being on now completely borks typing in GitHub input fields. In the following gif I:

1. Type `Was this closed intentionally?`
2. Then move my cursor to the front and type `I don't understand WTF is going on?`

![](http://g.recordit.co/yPASeImKuj.gif)

[2019-05-16 21:52] slimsag commented on #4055
@chrismwendt was this intentionally closed?

[2019-05-16 21:54] chrismwendt commented on #4055
Yeah, I figured we'd reopen it when we plan to work on it, but I suppose it's ok to leave open in the meantime in the backlog.

[2019-05-16 21:54] slimsag commented on #4057
Thanks @attfarhan -- unassigned you

[2019-05-16 21:58] slimsag commented on #4061
I am reopening this just to double-check and re-confirm: no customers are relying on this and product (@sqs @dadlerj
 @christinaforney) are okay with Slack support here being removed in 3.4?

[2019-05-16 21:59] slimsag commented on #4071
See my comment here https://github.com/sourcegraph/sourcegraph/issues/4061#issuecomment-493246316

[2019-05-16 21:59] slimsag commented on #4061
Ah, based on what you've said in #4701 it sounds like we removed some specific form of Slack integration in favor of a different way of doing it, is that right?

[2019-05-16 22:03] attfarhan commented on #4061
Existing saved searches that have slack webhook URLs associated with them will continue to have Slack notifications appear. What was removed is the ability to create a _new_ saved search with Slack notifications

[2019-05-16 22:06] attfarhan commented on #4061
And yes, we plan to allow users to specify arbitrary webhooks to receive notifications in the next release.

[2019-05-16 22:09] slimsag commented on #4061
Makes sense, thanks for clarifying. Last thing here is I just want to make sure this was previously discussed as being okay for our biggest saved searches user (https://app.hubspot.com/contacts/2762526/company/419771425 if I remember correctly)?

[2019-05-16 22:10] ggilmore commented on #4057
This seems to be breaking all the extension pages: https://sourcegraph.com/extensions/sourcegraph/go:

![Screen Shot 2019-05-16 at 3 08 39 PM](https://user-images.githubusercontent.com/9022011/57890445-8b9fbe80-77ec-11e9-982c-dde6b96c6ed7.png)

Javascript level errors:

[code]

[2019-05-16 22:12] attfarhan commented on #4061
Yup, turns out they were not using Slack notifications at all.

[2019-05-16 22:13] slimsag commented on #4057
That URL is a 404 which is why the mimetype appears wrong:

[code]

So the question becomes why is the JS chunk URL wrong?

[2019-05-16 22:17] sqs commented on #4072
Any clue what might’ve made this start happening, anyone?

[2019-05-16 22:22] slimsag commented on #4061
Ah okay, great, thanks for the details here!

[2019-05-16 22:22] #4061 closed

[2019-05-16 22:23] sqs commented on #4072
@felixfbecker Low priority ask (less important than 3.4 release) - can you think of any changes that would've caused this new glitchiness?

[2019-05-16 22:25] slimsag commented on #4057
Since this is breaking all extension and site admin pages (but not search, repo, or code view pages as far as we can tell -- and doesn't affect all users yet due to Cloudflare caching), this is a P1 but not P0 I believe.

Someone should look into this soon (next few days) and definitely a release blocker.

[2019-05-16 22:52] felixfbecker commented on #4072
Yeah I think I know the reason for this. In #4025 I changed `EditorService.editors` to only emit if anything about the editor itself changed, not the underlying Model it points too (except if it suddently points to a _different_ model, but not if just _properties_ of the Model changed, like different text). To listen to changes to Models, you should use `ModelService.models`. This was an important

[2019-05-16 23:14] Krishna commented on #4070
After googling around for docker instructions, I successfully managed to install Source Graph by running the following:

[code]

Then, as per the Source Graph Quickstart instructions:

[code]

I'm closing this issue, hopefully this comment will be useful to someone.

[2019-05-16 23:14] #4070 closed

[2019-05-16 23:18] #3285 closed

[2019-05-16 23:21] chrismwendt opened #4074 "Auth: searches don't work when signed-in via GitHub Enterprise"
- Run Sourcegraph 3.4.0-rc.4
- Add a GHE external service pointing to ghe.sgdev.org
- Configure sign-in via GitHub in the management console
- Sign in via GitHub
- Run a search for `r:`
- Notice this error:

![image](https://user-images.githubusercontent.com/1387653/57893020-281a8e80-77f6-11e9-980f-94db508ff59f.png)

When I sign in using built-in auth, that search works.

I noticed the URL is http

[2019-05-16 23:47] ggilmore opened #4075 "docs: phabricator external service's configuration example isn't helpful"
- **Sourcegraph version:** https://github.com/sourcegraph/sourcegraph/releases/tag/v3.4.0-rc.4

1. Run the https://github.com/sourcegraph/sourcegraph/releases/tag/v3.4.0-rc.4 Docker image via https://github.com/sourcegraph/sourcegraph/blob/master/dev/run-server-image.sh: `IMAGE=sourcegraph/server:3.4.0-rc.4 ./dev/run-server-image.sh`
1. Create an admin account
1. Click the button to a new Phabrica

[2019-05-16 23:55] slimsag opened #4076 ""Try Sourcegraph Enterprise free for 30 days" checkbox appears to do nothing"
1. Start a sourcegraph/server
2. When creating the admin account, check the `Try Sourcegraph Enterprise free for 30 days" checkbox.
3. Finish creating the admin account & be surprised when you are left on a site admin page saying that your Sourcegraph version is just "core" and that to upgrade you need to buy a license.

I assume we reach out to these individuals via email -- but it is confusing t

[2019-05-16 23:58] slimsag opened #4077 "External Services blank state page could be better"
When I run sourcegraph/server for the first time I am left on the site admin page:

![image](https://user-images.githubusercontent.com/3173176/57894364-7ed69700-77fb-11e9-859c-cf1ad46ce307.png)

The banner at the top is pretty clear that I should next configure external services, so I click that link and end up here:

![image](https://user-images.githubusercontent.com/3173176/57894380-93b32a80-77f

[2019-05-17 00:03] dadlerj commented on #4076
Thanks for reporting. Yes, we reach out via email (and these can fall behind). Do you think it would be better if we shot an auto email back to anyone who checks it that says something like "We received your request, we'll be in touch"?

[2019-05-17 00:05] slimsag opened #4078 "External service default configurations are missing trailing commas which make them invalid"
The commented out entries in the external service default configurations `repos` and `exclude` are missing trailing commas, so as a first time admin when I uncomment and fill in the relevant details in them I am suddenly greeted with:

![image](https://user-images.githubusercontent.com/3173176/57894693-a67a2f00-77fc-11e9-8022-f3a5679bf097.png)

This is particularly surprising because my first inst

[2019-05-17 00:06] dadlerj opened #4079 "Repo search fails to return matching repositories"
- **Sourcegraph version:** k8s.sgdev.org

#### Steps to reproduce:

1. Search for `repo:sourcegraph` and see a lot of results (https://k8s.sgdev.org/search?q=repo:sourcegraph), including many repos named "github.com/sourcegraph"
![image](https://user-images.githubusercontent.com/5589410/57894718-bc87ef80-77fc-11e9-9755-86429ad627fd.png)

2. Search for `repo:github.com` and see only two results — n

[2019-05-17 00:08] slimsag opened #4080 "Super confusing external service validation error"
I forgot to enter the right URL for my bitbucket instance and left it as the default and hit save, it tells me this (what on earth is all this negation???):

![image](https://user-images.githubusercontent.com/3173176/57894813-3029fc80-77fd-11e9-811c-9357c0d13160.png)

[2019-05-17 00:09] felixfbecker commented on #1744
Just happened to me again and confused me while testing a new Sourcegraph instance with Gitlab

[2019-05-17 00:11] felixfbecker opened #4081 "Cloning repositories return 404 Not Found"
See the tab title

![image](https://user-images.githubusercontent.com/10532611/57894885-9151d000-77fd-11e9-80e2-b99a62f4d4b8.png)

[2019-05-17 00:11] vanesa opened #4082 "User and Global settings / monaco field unusable"
#### Steps to reproduce:

1. Spin up a new instance
2. Create an admin account
3. Visit the user settings or global settings
4. Settings fields are too small.

Seems to be similar to this former issue: https://github.com/sourcegraph/sourcegraph/issues/1943

#### Expected behavior:
Normal sized empty settings field.
#### Actual behavior:
![image](https://user-images.githubusercontent.com/9110008/57

[2019-05-17 00:11] slimsag commented on #4079
If you escape the `.` in `github\.com` it works. I don't expect that at all (it should be matching "any character, including a period" but it may not be a regression.

[2019-05-17 00:15] dadlerj commented on #4079
Cool, I'm open to being told this isn't a release blocker, I leave this up to the code owner!

[2019-05-17 00:16] slimsag commented on #4082
This was allegedly fixed 8 days ago: https://github.com/sourcegraph/sourcegraph/issues/3645

What version of Sourcegraph did you reproduce this on?

[2019-05-17 00:19] slimsag commented on #4081
Would indicate we're not hitting this code branch I believe: https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/blob/cmd/frontend/internal/app/ui/handlers.go#L172-175

Should be reproducible using the specially-handled `github.com/sourcegraph/AlwaysCloningTest` repository.

[2019-05-17 00:19] sqs commented on #4079
This is likely a bug in how we translate regexps to PostgreSQL LIKE patterns for efficient querying in the db package. I am surprised we haven’t seen this before, and it is a critical bug (unless we find that it could only occur in very rare situations).

We need to see if anything here changed that could’ve caused it. If so, this is a release blocker. If not (which implies it occurs only in very

[2019-05-17 00:20] slimsag commented on #4076
I think just changing the wording would suffice.

[code]

[2019-05-17 00:21] slimsag commented on #4076
Or when you check it, add a text line that says that: `We'll send you a trial key within the next business day via email"

[2019-05-17 00:23] slimsag opened #4083 "z-index of onboarding "Use with your code host" alert is behind search results"
To reproduce:

1. Get these onboarding messages to show up:

![image](https://user-images.githubusercontent.com/3173176/57894947-f6a5c100-77fd-11e9-8564-abba49922fb8.png)

2. Search for something that returns a lot of repo results like this query https://k8s.sgdev.org/search?q=repo%3Agithub%5C.com

3. Notice that the message is behind every result:

---

![image](https://user-images.githubusercont

[2019-05-17 00:23] vanesa commented on #4082
Oh oops!

[2019-05-17 00:23] #4082 closed

[2019-05-17 00:25] vanesa opened #4084 "Sourcegraph explore page not loading"
- **Sourcegraph version:** "Sourcegraph.com"

#### Steps to reproduce:

1. Go to https://sourcegraph.com/explore
2. It never loads.

Probably related to: https://github.com/sourcegraph/sourcegraph/issues/4057

#### Expected behavior:
See the explore page.
#### Actual behavior:
![image](https://user-images.githubusercontent.com/9110008/57895109-da565400-77fe-11e9-9d6f-763131ff130d.png)

[2019-05-17 00:26] slimsag commented on #4075
cc @ryan-blunden since you recently updated these, not sure if applicable to you or not.

[2019-05-17 00:26] slimsag commented on #4084
Duplicate of https://github.com/sourcegraph/sourcegraph/issues/4057 for certain

[2019-05-17 00:26] #4084 closed

[2019-05-17 00:29] dadlerj opened #4085 ""Go ifaces/impls" text appears on Explore page"
- **Sourcegraph version:** k8s.sgdev.org

#### Steps to reproduce:

1. visit https://k8s.sgdev.org/explore to see the explore page how it is supposed to look
2. next, visit any Golang file on the instance, e.g. https://k8s.sgdev.org/github.com/gorilla/mux/-/blob/context_test.go
3. from that Go file, click on the "Explore" button in the top right
4. see the text "Go ifaces/impls" appear in the midd

[2019-05-17 00:31] dadlerj opened #4086 "Should any new extensions (e.g. Sentry) be added to Explore page for 3.4?"
Not a huge priority, but we have an opportunity to refresh this list:

![image](https://user-images.githubusercontent.com/5589410/57895383-340b4e00-7800-11e9-870d-c958cd623703.png)

[2019-05-17 00:40] ggilmore opened #4087 "bitbucket server configuration links to aws code commit docs"
https://github.com/sourcegraph/sourcegraph/blob/v3.4.0-rc.4/web/src/site-admin/externalServices.tsx#L310

[2019-05-17 00:43] christinaforney opened #4088 "Diffs for files that have been deleted do not have hover capabilities"
#### Steps to reproduce:

1. Open up a PR that has a removed file (e.g https://github.com/sourcegraph/sourcegraph/pull/4031/files)
2. Expand the deleted file (hidden by GitHub by default)
3. Hover does not show any results

![image](https://user-images.githubusercontent.com/1559622/57895713-f4ddfc80-7801-11e9-8126-1ba7fb55dd66.png)

Stacktrace:
[code]

#### Expected behavior:
Hover works on delete

[2019-05-17 00:45] felixfbecker commented on #4085
The Panel is contributed by the Go extension, and certainly shouldn't have such a title: https://sourcegraph.sgdev.org/search?q=Go+ifaces/impls @chrismwendt

For why panels are rendered there at all (doesn't seem to make sense for implementations), that's a question for @sqs who added this: https://sourcegraph.sgdev.org/sourcegraph/sourcegraph@323bab7479ba6f7ca7808c667d58b66cb8035841/-/blob/web/sr

[2019-05-17 00:50] dadlerj opened #4090 "Saving saved searches silently fails as a non-admin user unless I select "user settings""
- **Sourcegraph version:** 3.3.7
- **Platform information:** Docker image

#### Steps to reproduce:

1. Spin up new local instance, add any repos
2. Create a 2nd, non-admin user
3. Sign in as non-admin
4. Run a search and click "Save this search query"
5. Type in a description, and try to save it (without clicking the "Save location" radio button)
6. Try to click "Create" and see that the modal fa

[2019-05-17 00:51] slimsag commented on #4087
@ryan-blunden I think your change may have caused this regression? not positive though

[2019-05-17 00:53] slimsag commented on #4088
We support hover on removed lines so I am pretty sure we support hover on deleted files, indicating this may be a major regression. Tagging as release-blocker for @felixfbecker / @lguychard to confirm.

[2019-05-17 00:54] dadlerj opened #4091 "Saved searches not migrated when upgrading to 3.4"
- **Sourcegraph version:** 3.3.7 --> 3.4
- Single-server docker image

#### Steps to reproduce:

1. Spin up a server in 3.3.7
2. Save a saved search in global settings, e.g.:

![image](https://user-images.githubusercontent.com/5589410/57895994-61a5c680-7803-11e9-9263-ca180864c74f.png)

3. Shut down the server, and restart it on 3.4.0-rc.3
4. Visit saved searches and see nothing there:

![image](ht

[2019-05-17 00:54] christinaforney opened #4092 "Go code intelligence: jump to def in standard library references do not work"
#### Steps to reproduce:

1. Go to a file with defer statements: https://sourcegraph.com/github.com/sourcegraph/sourcegraph@23f28cdb6e3b34488e81411ae5014164f144f480/-/blob/cmd/repo-updater/repos/testing.go#L520:13
2. Hover over line 520 (or any other defer statement): `defer a.mu.Unlock()`
3. Expect `Unlock()` to show a hover, but it does not.

All other standard library references do not have a h

[2019-05-17 00:56] dadlerj commented on #4090
Appears as though this is fixed in 3.4! Closing, but @attfarhan should verify

[2019-05-17 00:56] #4090 closed

[2019-05-17 00:57] ryan-blunden opened #4093 "Saved searches list page shows incorrect number of results"
While following the [test plan](https://docs.google.com/document/d/10QryO5cvEEVw6m5VI6D7JY-oYcD1yJbwUp_uqNFdySg/edit#heading=h.9ks991mkjfr6), I was able to receive the email notification but the saved search list page has not updated the results to 3 as it should have.

![ScreenFlow](https://user-images.githubusercontent.com/133014/57896035-97e34600-7803-11e9-851b-7bcbcde06c97.gif)

It may have so

[2019-05-17 00:58] dadlerj commented on #4091
Edit: the saved search clearly IS migrated, as it still appears for a site-admin on 3.4.0-rc.3. It no longer appears for my non-admin user, however.

See the screenshot below for two users signed in next to each other (on 3.4.0-rc.3). On the left, the site-admin view, on the right, the non-admin view:

![image](https://user-images.githubusercontent.com/5589410/57896171-3374b680-7804-11e9-8b6a-1dcf

[2019-05-17 01:00] dadlerj opened #4094 "I can no longer save searches to global settings as an admin"
- **Sourcegraph version:** 3.4.0-rc.3
- **Platform information:** Single-server Docker image

#### Steps to reproduce:

1. Run server on 3.4.0-rc.3
2. Sign in as an admin
3. Run a search
4. Click "Save this search query"
5. Note that there's no way to save it anywhere except user settings, and perhaps orgs if I was in any. I can no longer save to global settings.

If this is intentional, feel free

[2019-05-17 01:02] slimsag commented on #4093
These links only run the query that the saved search is set to run, so the bug here is that diff search is slow on your system. Unclear if this is a regression or not.

With that being said, if you click the link in the email notification it would be scoped to a specific time-range and should load fine.

[2019-05-17 01:05] slimsag commented on #4094
This is intentional, we've removed the ability to create global saved searches. They are only associated with an organization or user now.

[2019-05-17 01:05] #4094 closed

[2019-05-17 01:06] slimsag commented on #4094
(and all previously global saved searches are migrated to the first admin user on the instance)

[2019-05-17 01:07] dadlerj commented on #4091
Perhaps intentional given https://github.com/sourcegraph/sourcegraph/issues/4094#issuecomment-493282071 but not the best experience

[2019-05-17 01:11] sqs commented on #4085
Let’s just remove this from the explore page. Showing these was experiments and I didn’t realize this bad outcome would occur.

[2019-05-17 01:14] christinaforney commented on #4092
Turns out this is because I only had basic code intel extension enabled (not the precise code intel). Not an issue.

[2019-05-17 01:14] #4092 closed

[2019-05-17 01:39] christinaforney opened #4095 "No clear indication if hover came from basic or precise code intel"
When doing testing for the 3.4.0 release, Beyang and I were looking at an issue:
* (https://github.com/sourcegraph/sourcegraph/pull/4031/files)
* hovered over line 520: `defer a.mu.Unlock()` and did not see a hover result for `Unlock`.
* hovered over line 519: `a.mu.Lock()` and got a result
* We assumed the second hover result was correct and initially thought that the defer statements were not wo

[2019-05-17 01:53] felixfbecker commented on #4088
@slimsag deleted lines and deleted files are very different and I can't think of a code change that could have caused this. Given the browser extension is not coupled to our release cycle I don't think it's a release blocker.

[2019-05-17 02:43] slimsag commented on #4093
Unlikely to be a regression so I am removing release-blocker.

[2019-05-17 02:46] slimsag commented on #4067
I don't think this is a release blocker. At worst, it means the data we gather from  `topQueries` would be useless, correct? Or could this harm performance?

[2019-05-17 02:48] slimsag commented on #4058
Looks like a major regression potentially. Note this doesn't happen on sourcegraph.com currently due to me reverting it back to a commit ~5d old.

[2019-05-17 02:50] slimsag commented on #4052
Probably not a regression from 3.3, but bad behavior nonetheless

[2019-05-17 03:13] sqs commented on #4057
I just tried purging https://sourcegraph.com/.assets/scripts/app.bundle.js?ce7730d44230bcdf0a75a952238c0124 and https://sourcegraph.com/.assets/scripts/app.bundle.js from our Cloudflare cache. This is to test @slimsag's idea that it is a problem that " doesn't affect all users yet due to Cloudflare caching". After purging the cache, I am still not seeing the problem, so my current hypotheses are:

[2019-05-17 03:57] #4071 closed

[2019-05-17 03:59] attfarhan commented on #4091
Yeah this is intentional, we removed global saved searches and assign them to the first site admin user on the instance.

[2019-05-17 03:59] #4091 closed

[2019-05-17 04:08] attfarhan commented on #4058
@slimsag did you do any additional digging here? Were you able to repro on a release candidate and are therefore calling it a major regression? If we fix the JS bundles issue, this saved searches page will no longer exist on Sourcegraph.com, since Sourcegraph.com will be deployed with the new UI, but want to confirm this isn't a problem on the latest release -- I haven't been able to repro it myse

[2019-05-17 04:13] sqs opened #4097 "Non-low-latency connection to PostgreSQL database causes problems in initial DB migration"
When there is ~150-200ms+ of latency between Sourcegraph and the PostgreSQL DB host (most common when using external databases per https://docs.sourcegraph.com/admin/external_database), the first-run DB initialization steps are likely to fail. This can happen if using us-east-1 from the West Coast, using a home Internet connection, etc.

The reason is that there are many query roundtrips to perfor

[2019-05-17 04:27] ryan-blunden commented on #4067
It's not a release blocker, but I would prefer to revert it, or, if that's not possible, remove the entry from the CHANGELOG (so it's essentially invisible) until we fix the data collection code.

[2019-05-17 04:33] ryan-blunden commented on #4075
Phabricator will be revised for 3.5, as will Gitolite. Tracking issue #4021

[2019-05-17 04:33] ryan-blunden opened #4098 "Revise Gitolite external services default config and docs"

[2019-05-17 04:43] ryan-blunden commented on #4078
Good call. Now that I know no commas are worse than unnecessary trailing comma's I'll submit a new PR for 3.4

[2019-05-17 04:52] dadlerj commented on #4057
@sqs I no longer see this. I believe @slimsag rolled back frontend before you posted this (see https://sourcegraph.slack.com/archives/C08JA8Q1H/p1558055858082900)

[2019-05-17 04:53] beyang commented on #4067
Reassigned to @ijt to fix in 3.5. Will also remove the CHANGELOG entry.

[2019-05-17 04:54] ijt commented on #4067
I'm on vacation with limited internet access. Feel free to revert if
necessary. I can put in something better after I'm back on Monday.

On Thu, May 16, 2019, 10:50 PM Beyang Liu <notifications@github.com> wrote:

[2019-05-17 04:55] beyang commented on #4067
No need to revert, just fix in 3.5

[2019-05-17 05:03] beyang commented on #4058
I'm unable to repro this, as well, @dadlerj does it still repro for you?

[2019-05-17 05:05] beyang commented on #4057
Can anyone repro this on the latest release candidate? If not, I don't think it qualifies as a release blocker.

[2019-05-17 05:08] beyang commented on #4052
This does not block testing and is likely not a regression, so removing `release-blocker` and moving into the 3.4-c milestone now.

[2019-05-17 05:14] #4078 closed

[2019-05-17 05:19] #4046 closed

[2019-05-17 05:22] dadlerj commented on #4058
No — I never saw it locally, and I don't see it on dotcom anymore (though maybe because it got rolled back)

[2019-05-17 05:22] keegancsmith commented on #4079
@mrnugget I'll take a look at this today since I'm very familiar with this code path. If you wanna pair on it to learn some of our search stuff, just shout.

[2019-05-17 05:39] beyang commented on #4074
@chrismwendt I'm unable to reproduce this. I'm signed in as `beyang@sourcegraph.com` on ghe.sgdev.org, and I have the following GitHub external service config:

[code]

And the following critical site config:

[code]

[2019-05-17 06:14] attfarhan opened #4101 "No searcher endpoints error when using `index:no` on k8s.sgdev"
- **Sourcegraph version:** k8s.sgdev.org

#### Steps to reproduce:

1. Search for `(hunk|repository)resolver index:no` on k8s.sgdev.org
2. See that it errors out with `1 error occurred: * text search failed: failed to search gitolite.sgdev.org/13k/mpociot/vat-calculator@: No searcher endpoints` (the repo in the error message changes on retries)

#### Expected behavior:

Search works.

#### Actual

[2019-05-17 06:29] #4008 closed

[2019-05-17 06:32] sqs commented on #4078
#4100 helps here too

[2019-05-17 06:57] sqs commented on #4057
Things ruled out:

- I can't think of anything in https://sourcegraph.com/search?q=repo:^github\.com/sourcegraph/sourcegraph$+type%3Adiff+f%3Awebpack+after%3A%222+weeks+ago%22 that would have caused it.
- We properly set no-cache headers on assets 404s, so a deploy-in-progress with temporarily multiple `sourcegraph-frontend` pods running should not cause this.
- If there were multiple sourcegraph-

[2019-05-17 07:39] keegancsmith commented on #4079
@sqs turns out this is something we have always done, but I think it should be removed. We literally have a check that if pattern starts with `github.com`, translate that into `^github.com`.

[2019-05-17 07:40] slimsag commented on #4058
Havent done any digging or reproduced, but it looks like an SQL syntax error. It is possible that whatever is causing the bundle issue was also causing this, maybe two old front-end versions at once? cc @sqs

[2019-05-17 07:42] felixfbecker opened #4102 "Support diagnostics (squiggles) in extension API"
Extensions should be able to report problems about code, (optionally) tied to a file, line, column with a message and code.

This allows to show warnings (code smells that _may_ be issues but not always and therefor should not break CI) on PRs, guiding the reviewer to take a closer look at certain potential issues.

In the future, these can be persisted on the backend and exposed through GraphQL t

[2019-05-17 07:44] slimsag commented on #4097
I fixed this (the first error, which i believe leads to the second) just
yesterday actually. Ill link the issue when back at my computer

On Thu, May 16, 2019, 9:13 PM Quinn Slack <notifications@github.com> wrote:

[2019-05-17 07:45] sqs commented on #4057
I am not able to repro on the RC 3.4.0-rc.5, and I was also not able to repro this problem on any of the sourcegraph/server image tags corresponding to the sourcegraph/frontend images that were deployed during the problem's existence today on Sourcegraph.com.

So my best guess now is that this is a bug involving our deployment, and it wouldn't affect customers.

One fact that supports that is that

[2019-05-17 07:52] sqs commented on #4058
@slimsag I actually don't think the other issue implied that there were 2 conflicting version frontends running at once; see https://github.com/sourcegraph/sourcegraph/issues/4057#issuecomment-493343987 2nd and 3rd bullet points for why.

---

This line looks suspect: https://sourcegraph.com/github.com/sourcegraph/sourcegraph@392986c01d02c790a75713a5157eded48fa6c0de/-/blob/cmd/frontend/db/saved_se

[2019-05-17 08:09] attfarhan commented on #4058
Ahhh yes this could be it. Thanks, I will push up a fix.

[2019-05-17 08:13] slimsag commented on #4057
Sounds fine to me. From everyone who saw it occur, it only affected non-critical pages like explore/extensions/site-admin/settings pages anyway. Will give this a go tomorrow night if I have time.

[2019-05-17 08:23] mrnugget commented on #4052
@felixfbecker I agree. The message tells you, the user, nothing you can or should be able to understand. I think we need to improve it by making clear what the error means and signifies (Github decided the search takes too long) and we could even offer suggestions: "try reduce the scope of the search" or "try again" (which helps surprisingly often — I, for example, could not reproduce your error w

[2019-05-17 08:25] mrnugget commented on #4087
This has been fixed in #4099: see [here](https://github.com/sourcegraph/sourcegraph/pull/4099/files#diff-0431c8afac7c36bfdd0c890c23e527e1R310)

[2019-05-17 08:25] #4087 closed

[2019-05-17 08:32] keegancsmith commented on #4046
This is fixed. However, I can't confirm due to us using a pinned commit in prod until https://github.com/sourcegraph/sourcegraph/issues/4057 is resolved.

[2019-05-17 09:08] keegancsmith commented on #4052
Actually in this case this is an ephemeral error, not the other issue you mention. GitHub's search API occasionally fails with this explicitly marked ephemeral error. In the case of our usual sync this is fine, we just try again. However, in the case of an admin saving an external service configuration we should retry.

[2019-05-17 09:21] slimsag opened #4106 "Repositories added via "repos" incorrectly show up as BOTH forks and not forks in search"
Repositories added via the `repos` field incorrectly show up as both forks and not forks in search when using the `fork:yes` and `fork:no` filters.

![image](https://user-images.githubusercontent.com/3173176/57917732-24b0f280-784a-11e9-91b5-da4de0caa737.png)

![image](https://user-images.githubusercontent.com/3173176/57917757-2ed2f100-784a-11e9-84de-28bf586e6474.png)

With the following Bitbucket

[2019-05-17 09:23] sqs commented on #4079
Ah, good find. I believe I added this because otherwise repo:github.com/foo queries were slow. If they are or can be made fast, definitely no need for this anymore.

[2019-05-17 09:27] mrnugget commented on #4052
What do you mean with "the other issue"? Because I saw this as an ephemeral error too :) GitHub's official docs even describe it as such (even though they don't use the word ephemeral): https://developer.github.com/v3/search/#timeouts-and-incomplete-results and https://developer.github.com/changes/2014-04-07-understanding-search-results-and-potential-timeouts/

[2019-05-17 10:01] #4058 closed

[2019-05-17 10:04] #4079 closed

[2019-05-17 10:04] keegancsmith commented on #4079
I just special cased it so it would only run on sourcegraph.com

[2019-05-17 10:27] mrnugget commented on #4080
The error message comes from `gojsonschema` https://sourcegraph.com/github.com/xeipuuv/gojsonschema/-/blob/locales.go#L218 because we use a `"not"` field to say that the `url` should not match the pattern `example.com`:

https://github.com/sourcegraph/sourcegraph/blob/375475ac09dfd87f0031502a6967a4dff6a15e3b/schema/bitbucket_server.schema.json#L29-L32

I think the easiest solution would be to just

[2019-05-17 12:01] keegancsmith opened #4108 "conf: EXTSVC_CONFIG_FILE does not override if external services already exist"
I think this was an oversight when the feature was added. We retained the behaviour we used for dev configs, were we only wanted to apply the ext-svc once.

https://github.com/sourcegraph/sourcegraph/blob/v3.4.0-rc.5/cmd/frontend/internal/cli/config.go#L99-L101

From https://github.com/sourcegraph/sourcegraph/pull/4017

[2019-05-17 13:06] lguychard opened #4109 "gitolite.exclude description and example does not match JSON schema"
Reproduced on 3.4.0-rc4

1. Add or edit a Gitolite external service
2. Try to specify an `"exclude"` entry using a `pattern` (as suggested by the description and examples)
3. Witness `pattern` is not allowed by the JSON schema, external service cannot be saved:

![image](https://user-images.githubusercontent.com/1741180/57930089-5a3ef580-78b5-11e9-96a6-58f5bfecdcf6.png)

[2019-05-17 13:14] #4109 closed

[2019-05-17 13:15] keegancsmith commented on #4109
Thanks for reporting! Just fixed this. We accidently included this behaviour in the schema.

[2019-05-17 16:14] lguychard commented on #4088
This is not a regression, it's due to #3107 - `FileInfo` always assumes that the file exists at the head revision, an attempt at fetching the file then errors.

In addition, the error is swallowed by `fetchFileContents()` instead of being correctly reported, causing the `document not found` error downstream. The initial error is:

[code]

@felixfbecker let's put refactoring `FileInfo` at the top o

[2019-05-17 17:36] vanesa commented on #4083
Duplicate of https://github.com/sourcegraph/sourcegraph/issues/4060.

[2019-05-17 17:36] #4083 closed

[2019-05-17 17:56] slimsag commented on #4108
Thank you for filing!

[2019-05-17 17:56] beyang commented on #4056
This is also an issue in 3.3, so not a regression, but still a P1 issue.

[2019-05-17 18:55] ggilmore commented on #4057
Note @sqs, you can figure out what commit an image comes from with `docker inspect` now:

[code]

[code]

[2019-05-17 19:02] slimsag commented on #4101
So I observed this on k8s.sgdev.org before a few weeks ago and _for some reason_ restarting pods fixed it. This leads me to believe it is most likely an ephemeral error with detecting searcher endpoints. Nothing around this endpoint code has changed recently so it is very unlikely this is a regression but it is a major issue and makes sense that we require fixing before 3.4-c.

Since we do not ove

[2019-05-17 20:00] slimsag commented on #4097
https://github.com/sourcegraph/sourcegraph/pull/3986 is the PR that fixed this. This was a duplicate of #2812 effectively.

Previously all migration work had to complete in under 30s, now we use a more lenient 5m timeout before this would occur. I think that's a reasonable enough amount of time for the migrations to go through. Let me know if you disagree.

Closing.

[2019-05-17 20:00] #4097 closed

[2019-05-17 20:03] slimsag commented on #4106
Confirmed this also happens with GitHub repositories added via the same `repos` field (in a different external service, of course). The behavior is weirder there:

![image](https://user-images.githubusercontent.com/3173176/57953071-eb0cd580-78a3-11e9-9348-65dfc49cb980.png)

![image](https://user-images.githubusercontent.com/3173176/57953079-f2cc7a00-78a3-11e9-9b1c-a2b732702f5f.png)

[2019-05-17 20:04] slimsag commented on #4106
Uhg, it turns out this isn't an issue but is just confusing syntax on our part.

- `fork:no` excludes forks
- `fork:yes` includes forks (*and all other repositories*)
- `fork:only` only includes forks

I guess that makes sense in retrospect. Not sure we can do anything to improve this, I should've read the docs. Closing.

[2019-05-17 20:04] #4106 closed

[2019-05-17 22:16] chrismwendt opened #4111 "Phabricator native integration: CSP violation"
I was following the testing docs at https://docs.sourcegraph.com/dev/phabricator_gitolite#testing

- Run Sourcegraph v3.4.0-rc.4 in Docker
- Run `./dev/phabricator/start.sh latest`
- Run `ngrok http 7080`
- Set Phabricator config, Sourcegraph site config, and create a Phabricator external service on Sourcegraph (see screenshots below)
- Visit a file on Phabricator, open the browser console and not

[2019-05-17 22:46] christinaforney opened #4113 "setRepositoryEnabled codepath still in frontend codebase"
It is highly unlikely for the code path to be executed (likely a bug if there are no services for a given repository), however the code path is still part of the UI. What was the decision behind keeping this here (if any)? Should it be cleaned up?

https://sourcegraph.com/github.com/sourcegraph/sourcegraph@690c5101d68b26985d95c82d8e51fda09d3cb5c9/-/blob/web/src/repo/settings/RepoSettingsOptionsPag

[2019-05-17 23:01] slimsag commented on #4051
@chrismwendt @felixfbecker @lguychard instead of asking the user for their version (I am hesitant to do that given we should be able to confirm this without interrupting them), can we try reproducing this on the old version (e.g. using the browser extension dev setup) and the new version and confirm it was broken in the old version but not the new one and identify which commit likely fixed it?