[2019-02-18 21:28] francisschmaltz opened #2342 "Error when searching across Sourcegraph-org repos on Sourcegraph.com"
When searching across all sourcegraph org repos (example https://sourcegraph.com/search?q=repo:github.com/sourcegraph+%22data+center%22 ) I get the error

[code]

[2019-02-18 21:30] attfarhan commented on #2342
I tried this search too, and it shows a different repo in the error message each time. Each of the repos mentioned show a 500 error when trying to go directly to the repo. E.g. https://sourcegraph.com/github.com/sourcegraph/sourcegraph-erlang.

Other repos:
https://sourcegraph.com/github.com/sourcegraph/node-idast
https://sourcegraph.com/github.com/sourcegraph/surf

[2019-02-18 21:42] cosmonot1 opened #2343 "Improve Sourcegraph References section with reference preview before navigation"
When viewing the list of references, a ~3 line preview is provided. There are cases where the code formatting around the 3 lines shown causes the snippet to not contain much useful information about the reference to the function call/variable. Image shown below.

![image](https://user-images.githubusercontent.com/7645379/52977283-8d8aea80-3381-11e9-8d0f-482a50a8f569.png)

You can see from this ima

[2019-02-18 21:49] sqs commented on #2337
Will also fix part of #1361

[2019-02-18 21:57] sqs commented on #2342
This is caused (I believe) by old repos that have been deleted on the code host still existing on Sourcegraph. It will be fixed by #2025 and #914, planned for 3.2.

The reason the error differs each time is that it shows the first errors to be received, which is dependent on the speed of various distributed operations.

[2019-02-18 22:00] attfarhan commented on #2342
Interestingly those 3 repos I linked above no longer return 500s.

[2019-02-18 22:27] nicksnyder commented on #2199
Assigning to @lguychard to triage. Backlogging for now since this isn't going to be fixed with 3.1

[2019-02-18 23:52] nicksnyder opened #2345 "Kubernetes deployment reports version as "dev""
![image](https://user-images.githubusercontent.com/754768/52981540-2414d700-3395-11e9-8207-792da44fb934.png)

Unsure if this impacts metrics cc @dadlerj .

[2019-02-18 23:56] nicksnyder commented on #2345
duplicate of https://github.com/sourcegraph/sourcegraph/issues/2130 and already fixed

[2019-02-18 23:56] #2345 closed

[2019-02-19 00:20] techman84 opened #2347 "FATAL: data directory "/var/opt/sourcegraph/postgresql" has wrong ownership"
- **Sourcegraph version:** 3.0.1
- **Platform information:** Docker 18.09.2 on Windows 10 Pro,

#### Steps to reproduce:

I tried to install Sourcegraph on Docker following this guide https://docs.sourcegraph.com/admin/install/docker

#### Expected behavior:
It should install Sourcegraph

#### Actual behavior:
Installation stops with this error: `FATAL:  data directory "/var/opt/sourcegraph/postgr

[2019-02-19 00:22] nicksnyder commented on #1408
@beyang you should discuss this issue with @keegancsmith and @tsenart since they should take over ownership of auth.

[2019-02-19 00:26] nicksnyder commented on #2024
I am moving this out of 3.1

[2019-02-19 00:29] attfarhan commented on #2221
@ijsnow I moved this to 3.2 since that's when it will ship

[2019-02-19 00:29] nicksnyder commented on #1515
@ryan-blunden What are the action items here? If you aren't going to work on this, or if there is unclear next steps here, then backlog or close

[2019-02-19 00:31] dadlerj commented on #2024
Thanks, closing this, I'll break the second checkbox out into a separate issue

[2019-02-19 00:31] #2024 closed

[2019-02-19 00:33] dadlerj opened #2348 "Include Sourcegraph extension usage status in pings"
Related: https://github.com/sourcegraph/sourcegraph/issues/2024

Include aggregate metrics on which Sourcegraph extensions are in use (with anonymized counts of users) in [server pings](https://docs.sourcegraph.com/admin/pings).

[2019-02-19 00:35] nicksnyder commented on #2081
Most of these are still open so I am moving this to 3.2. We will discuss in the kickoff on Wednesday.

[2019-02-19 00:37] nicksnyder commented on #2227
@beyang please discuss this with @tsenart @keegancsmith so you can handoff knowledge about how auth works

[2019-02-19 00:41] nicksnyder commented on #2070
I am going to close this umbrella issue for 3.1. We will kickoff 3.2 tomorrow.

[2019-02-19 00:41] #2070 closed

[2019-02-19 00:47] nicksnyder opened #2349 "3.1 release notifications"
## ToDo

- [x] Blog post - https://about.sourcegraph.com/blog/sourcegraph-3.1
- [x] Tweet - https://twitter.com/srcgraph/status/1098325294480470017
- [x] Email

[2019-02-19 01:11] ryan-blunden commented on #2349
- [ ] Blog post
- [ ] Tweet
- [ ] Email

[2019-02-19 01:43] ryan-blunden commented on #2349
@nicksnyder What previous versions can be upgraded to 3.1?

[2019-02-19 01:51] ryan-blunden opened #2350 "docs: 3.1 migration guide"

[2019-02-19 03:18] nicksnyder commented on #2349
3.1 is no different than 3.0.1 with respect to upgrades

[2019-02-19 03:18] #2350 closed

[2019-02-19 03:19] nicksnyder commented on #2350
Most releases, including 3.1, should not need a migration guide. 3.0 was the exception.

[2019-02-19 04:19] neekolas opened #2351 "Removing user from Github organization does not remove repositories from list"
- **Sourcegraph version:*3.0.1*
- **Platform information:*Mac OS 10.14.3*

#### Steps to reproduce:

1. Add Github Repository from an organization user is a member of
2. Remove user from organization
3. View list of repositories (http://127.0.0.1:7080/site-admin/repositories)

#### Expected behavior:
Repositories from organization should disappear from list after user has been removed from the org

[2019-02-19 04:39] sqs commented on #2314
Related: #319

[2019-02-19 04:48] sqs commented on #2257
Moving to 3.2 because it's past the release branch cut date

[2019-02-19 04:55] sqs commented on #1537
Marked @varaamo's issue in the comment directly above as resolved (they opened it at https://github.com/sourcegraph/sourcegraph/issues/2164#issuecomment-460676618 and it was addressed there).

[2019-02-19 05:02] sqs commented on #2343
@cosmonot1 Thanks for posting this!

Do you like the VS Code references UI? When you click a reference location in the right-hand column, it shows a peek view of the entire file (centered at the reference location you clicked).

![image](https://user-images.githubusercontent.com/1976/52991172-66074280-33c0-11e9-9125-9ae7daa238ad.png)

We will be rethinking the references  UI soon to accommodate ot

[2019-02-19 05:08] sqs commented on #2347
Thanks for filing. This appears to be https://github.com/docker/for-win/issues/445. Do the following steps work?

Run:

[code]

Then in the `docker run` command for Sourcegraph, instead of `--volume ~/.sourcegraph/data:/var/opt/sourcegraph`, use `--volume sourcegraph-data-volume:/var/opt/sourcegraph`.

[2019-02-19 05:10] sqs commented on #2351
This is a high priority issue currently being worked on for Sourcegraph 3.2 (release on March 20) in #2025 and #914.

In the meantime, you need to (unfortunately, manually) delete repositories from Sourcegraph as a site admin when you no longer want them to be on Sourcegraph. You can do this on the Site admin > Repositories page.

[2019-02-19 05:11] sqs commented on #2351
Closing as duplicate of #2025 and #914

[2019-02-19 05:11] #2351 closed

[2019-02-19 05:11] neekolas commented on #2351
Thanks

[2019-02-19 05:12] sqs commented on #2259
@ruhullahshah Could you please provide the info @slimsag 	mentioned above to help us solve this issue for you? Thanks!

[2019-02-19 05:15] sqs commented on #2188
This is important for the customer https://app.hubspot.com/contacts/2762526/company/578600789.

@tsenart 	@keegancsmith 	@beyang 	Please figure out among yourselves how to handle this issue amid handing off ownership of repo perms from @beyang 	to @tsenart 	and @keegancsmith. cc @nicksnyder

[2019-02-19 07:05] sqs commented on #1624
This will not ship in 3.1, unfortunately. We plan to prioritize it for 3.2 (shipping on March 20).

[2019-02-19 07:08] sqs commented on #2342
@francisschmaltz 	When you performed that search, did you see any results or just an error? I am not seeing the error when I try to repro it (but it does indicate that some repos were not found).

[2019-02-19 08:03] sqs commented on #2329
Let's get more user feedback on the query builder before prioritizing/making this change. There is one other direction (that I consider fairly likely) that would preclude this specific change:

- Making the query builder always visible like https://cs.chromium.org/. Then we could not have this simple behavior of "if query builder is visible, make main search bar readonly"

Adding @francisschmaltz

[2019-02-19 08:15] techman84 commented on #2347
Thank you @sqs. I tried your solution and it seems it solved the postgresql issue.
Unfortunately now there is another error:
`Can't chdir to '/var/opt/sourcegraph/redis': No such file or directory`
This is the full output:
[code]

[2019-02-19 08:24] sqs commented on #914
@sourcegraph/core-services Can you close this issue since #2025 is more up to date and covers the same stuff?

[2019-02-19 09:02] #914 closed

[2019-02-19 09:07] sqs opened #2355 "Link to Mermaid source for code architecture diagram for screen reader users"
In https://github.com/sourcegraph/sourcegraph/commit/e354b7972b9f6eb69b5fee33e3b95812ab65b547, we moved the Mermaid graph definition to an external file. This makes it harder to read for screen reader users. We should link to the Mermaid source file in https://github.com/sourcegraph/sourcegraph/blob/master/doc/dev/architecture.md and mention that in the image alt text.

Mentioned by @devil418 at h

[2019-02-19 09:13] keegancsmith commented on #2025
@tsenart an agenda for our discussion today:

- Should we consider feature flagging the new syncer so we can merge it into master before github support is polished?
- Discuss removing enabled/disabled + proposed migration strategy.
- Review kick-off document.

[2019-02-19 09:26] felixfbecker commented on #2329
Personally I am -1 on that because it makes the UI less clean/tidy.

But I think it would be good idea to remember the open state in localStorage for people who always prefer the query builder

[2019-02-19 09:29] sqs commented on #2347
Thanks. Does the solution at
https://github.com/sourcegraph/sourcegraph/issues/381#issuecomment-429638892 help?

It looks like that is a very similar issue and I made the wrong docs update to close that issue. I will fix the docs to prevent this issue from happening again (just let me know that it indeed fixes your problem).

[2019-02-19 10:15] tsenart commented on #2342
@sqs: What led you to this conclusion? The error that @francisschmaltz reported looks like the cluster's DNS server is down: `dial tcp: lookup gitserver-0.gitserver on 10.55.240.10:53: no such host`

[2019-02-19 10:16] felixfbecker opened #2358 "Investigate using shadow root for shared component (styles)"
Shadow root would allow us to encapsulate styles in components that are also rendered in the browser extension and not leak global class names or Bootstrap styles. We could import Bootstrap just for our components with `adoptedStylesheets`. To still inherit code host styles (like Bootstrap used on GitHub), the browser extension can manually inherit with `adoptedStylesheets = [...document.styleShee

[2019-02-19 10:23] felixfbecker opened #2359 "Adopt shared LSP client library for extensions"
We currently have a lot of duplicate code in codeintel extensions. A shared library should make it just a few lines of code to wire up a WebSocket language server to the Sourcegraph API.

## Features:

- Registering providers based on server capabilities
- Converting LSP types <-> Sourcegraph types
- Multi-root workspace translation to multi-connection with rootUri for language servers that don’t

[2019-02-19 10:23] sqs commented on #2342
I didn’t read the whole error message apparently. You are right.

[2019-02-19 10:33] techman84 commented on #2347
Good! Clearing `C:\Users\{username}\.sourcegraph\config` completely fixed the problem!
Sourcegraph started! Thank you very much.

[2019-02-19 11:22] keegancsmith commented on #408
@nicksnyder What happens when my search query is `mydevcompany.io:8080`? It sounds like your proposal would break those searches. One is almost tempted to run the query twice and merge the results:
- `repo:foo bar.go:123`
- `repo:foo file:bar.go`

This way we don't need to touch each search implementation to handle this feature. Additionally we should be quite strict with which queries we apply th

[2019-02-19 12:29] asinwang opened #2360 "invalid character '<' looking for beginning of value"
- **Sourcegraph version:**
- **Platform information:**

#### Steps to reproduce:

1.docker run --publish 7080:7080 --publish 2633:2633 --rm --volume ~/.sourcegraph/config:/etc/sourcegraph --volume ~/.sourcegraph/data:/var/opt/sourcegraph sourcegraph/server:2.9.4

2.Site configuration gitlab

#### Expected behavior:

#### Actual behavior:
msg="Error listing GitLab projects" url="projects?membership

[2019-02-19 13:25] keegancsmith opened #2361 "site24x7 flapping on alerts"
@tsenart and I investigated an opsgenie alert from site24x7. There was no restarts in sourcegraph-frontend or ingress-nginx, so we went to the site24x7 console to see what information it had.

It presented this screenshot:
![image](https://user-images.githubusercontent.com/187831/53018169-53414c00-345a-11e9-8576-f8e64237cddb.png)

With this log
<img width="1098" alt="image" src="https://user-image

[2019-02-19 14:10] tsenart commented on #627
@keegancsmith and I handled another instance of this alert. This is a ticking time-bomb for customers upgrading to 3.0.0, albeit a slower one than our sourcegraph.com deployment.

<img width="1874" alt="screenshot 2019-02-19 at 15 09 33" src="https://user-images.githubusercontent.com/67471/53020974-6f43ee00-3458-11e9-899e-785dba773b81.png">

[2019-02-19 14:14] tsenart commented on #627
By the way, the issue this time around was with the frontend.

[2019-02-19 14:24] techman84 opened #2362 "Can I search within all branches?"
#### Question description

I'm testing Sourcegraph attached to my GitLab account. When I perform a search, it seems to look only in master branches, not in all repository branches. Is it a normal behavior?
Is there an option to search in all repositories and branches?
Thank you.

[2019-02-19 14:40] keegancsmith commented on #2025
Yes, this will be a goal for our work tomorrow. Once done we will review our code to ensure it is safe to merge into master.

Yes we will do this. **This is a blocker for 3.2**. This is a proposed migration
path from our discussions, but not necessarily what we will do: A one-time,
best-effort process after upgrading to 3.2 will attempt to associate
repositories that aren't associated with an exte

[2019-02-19 16:45] nicksnyder commented on #408
@keegancsmith Good clarification, my proposed solution needs to be additive.

Assume an input of `repo:foo bar.go:123` .
- Return results for exactly that query as we do today (no change) `repo:foo bar.go:123`.
- **In addition to the above results** for queries that look like a file/line combo (e.g. matches `^[a-zA-Z\.]+:[0-9]+$`) implement special logic to yield a line result in a file (i.e. poss

[2019-02-19 17:38] nicksnyder commented on #2361
Acknowledged and I agree.

[2019-02-19 20:19] felixfbecker opened #2365 "Accept pure data interfaces from extension-client-types as return value from providers"
We should provide convenient class instances as parameters, but be liberal in what we accept as return values and inputs. This can simplify testing in extensions when the whole class instances are not needed.

[2019-02-19 21:02] slimsag commented on #2313
Yes, I agree. This is something I did not think much about, I just filed because Quinn explicitly mentioned it and I wanted to ensure I gave it proper thought. The only beneficial thing here I can imagine would be ensuring people do not ignore a PR checklist, but that is honestly not worth automating IMO.

[2019-02-19 21:02] #2313 closed

[2019-02-19 21:29] ijsnow commented on #2265
This is actually intended behavior. Sourcegraph should attempt to clone enabled repositories enabled it has access to based on the token that it was given.

[2019-02-19 21:29] #2265 closed

[2019-02-19 21:54] attfarhan opened #2368 "Query builder follow-on work"
Follow-up work for the query builder:

- [x] Keep track of the open/closed state of the query builder
- [ ] https://github.com/sourcegraph/sourcegraph/issues/1234
  - [ ] Make query builder accessible on all other, non-main pages
     - [ ] On results pages, have a link above results to open query builder
  - [ ] Open query builder when the `repo:` or `repogroup:` field does not exist in the query

[2019-02-19 22:30] slimsag opened #2369 "recent pkg/markdown changes are poor, dangerous, and have caused regressions"
**TL;DR**: We're using docsite/markdown everywhere since Oct. and nobody realizes this, because it being in docsite kind of implies that only docs.sourcegraph.com uses it. You wouldn't expect it to be used to render every Markdown file in Sourcegraph. This package: is not subject to the same review/testing as our main app, is a security concern, and has already caused multiple regressions in our m

[2019-02-19 22:31] slimsag commented on #1361
Filed https://github.com/sourcegraph/sourcegraph/issues/2369

[2019-02-19 22:31] slimsag commented on #2337
Making this change would also allow us to undo recent pkg/markdown changes, which I have made a strong case for in https://github.com/sourcegraph/sourcegraph/issues/2369

[2019-02-19 22:45] sqs commented on #2369
Thanks, you are completely right. I’ll expedite removing this (I committed to doing this improvement to the docsite) this week after 3.1 ships.

[2019-02-19 22:50] slimsag commented on #2369
❤️ 🙌

[2019-02-19 23:23] slimsag commented on #2362
Hi @techman84 !

By default, Sourcegraph searches over the default branches (e.g. `master`) in repositories. If you have a specific branch you wish to search over, you can specify it like by adding `@mybranch` to the end of your `repo:` filter (example: [`repo:^github\.com/gopherjs/vecty$@old error`](https://sourcegraph.com/search?q=repo:%5Egithub%5C.com/gopherjs/vecty%24%40old+error)). This is cu

[2019-02-19 23:43] techman84 commented on #2362
Thank you @slimsag, now it's clear.

[2019-02-20 01:00] chrismwendt opened #2372 "Symbols service: spammy unknown ctags kind gets logged"
Seeing a lot of logspam of the following form in latest `master`:

[code]

From https://sourcegraph.slack.com/archives/C07KZF47K/p1550624287099000

We should suppress this in customer deployments.

[2019-02-20 01:59] ryan-blunden opened #2374 "Language extension improvement for"
#### Feature request description

#### Is your feature request related to a problem? If so, please describe.

#### Describe alternatives you've considered.

#### Additional context

[2019-02-20 01:59] #2374 closed

[2019-02-20 06:32] sqs commented on #1624
Alternate proposal (instead of adding a `maxFileSize` query or site config option):

- Index the following files even if they are very large (<= 20 MB): `["package.json", "yarn.lock", "package-lock.json", "go.mod", "go.sum", "*.idl", "*.proto", "*.thrift", "*.graphql"]` **PLUS** any filenames or `*.fileextension` strings mentioned in a *new* site config option `search.index.largeFiles`
  - We can

[2019-02-20 07:52] aisbaa commented on #1624
I like this approach more than `maxFileSize`!

[2019-02-20 09:27] felixfbecker opened #2378 "Publish extension API classes as package"
The API classes like `Position`, `Location` etc are needed for testing.
We need to either
- Publish them inside the `sourcegraph` package
- Publish them in the `@sourcegraph/extension-api-types` package
- Don't require them for testing, see #2365

[2019-02-20 13:53] ruhullahshah commented on #2259
@slimsag Thanks for the feedback.
@slimsag  @sqs: I could not try out the suggestion yet, due to some infrastructural problems we ran into lately. I will keep this thread updated as soon as I get a chance to move further.

[2019-02-20 14:15] lguychard opened #2380 "Integrations quality"
The desired outcome of this project is to increase the product quality, stability and code quality of our integrations, and more specifically of the browser extension.

## Goals
- **Error handling**: no more `console.error(err); return null`
- **Reactive to the DOM**: no more one-time `inject()` calls
- **Tested**: prevent regressions

## Metrics
- Number of errors on [Sentry](https://sentry.io/so

[2019-02-20 14:26] lguychard commented on #980
@sqs should this still be in 3.2?

[2019-02-20 15:46] felixfbecker commented on #2372
That would be like putting tape over your engine-needs-maintenance LED. We should handle the kind.

[2019-02-20 15:53] KattMingMing opened #2381 "Incomplete documentation for auth provider displayName property"
**Fix:** Add inline documentation to `displayName` property

**User feedback**

The lack of documentation for `displayName` is confusing to users. However, it's mentioned in https://docs.sourcegraph.com/admin/config/critical_config#authentication-providers that:

So the ideal fix is to update the critical site configuration `displayName` prop with inline documentation.

[2019-02-20 15:56] felixfbecker commented on #1409
This issue seems to be very popular somehow

![image](https://user-images.githubusercontent.com/10532611/53104917-81915b00-3530-11e9-96df-bf2cd3837c4a.png)

[2019-02-20 18:48] sqs commented on #2349
Tweet:

<blockquote>

Sourcegraph 3.1 is out! OSS/self-hosted code search/nav tool, now with:

🔍 Query builder (search code like a pro)
🌐 Better definitions & hovers for all langs
⚙️ For admins: easier config, new user auth options/APIs
⌚ Now releasing monthly on the 20th

https://about.sourcegraph.com/blog/sourcegraph-3.1

</blockquote>

[2019-02-20 18:58] felixfbecker commented on #2343
@cosmonot1 which language were you looking at that was slow to load references?

[2019-02-20 19:02] felixfbecker commented on #2144
This looks like it would also avoid the hacky stuff we currently do to render markdown search results (markdown render on the server, parse HTML, highlight code in HTML on the client, reinject it into the HTML).

Funnily we have a markdown renderer on our docs page that syntax highlights code blocks (and it wasn't difficult for me to add that). Kind of weird that our main product still doesn't.

[2019-02-20 19:03] felixfbecker commented on #2234
#2344 removes this toggle

[2019-02-20 19:03] #2234 closed

[2019-02-20 19:23] felixfbecker commented on #1510
@ryan-blunden what extension do I need to reproduce this?

[2019-02-20 19:46] felixfbecker commented on #2159
We could only hide the button on whitespace at the start and end of lines

[2019-02-20 19:53] felixfbecker commented on #568
Already doing this in TypeScript

https://github.com/sourcegraph/sourcegraph-typescript/blob/d6f335c2c6cf3a2f4ecded90595d0770386882aa/extension/src/lsp-conversion.ts#L51-L56

[2019-02-20 20:18] felixfbecker commented on #1964
A solution to this shall not use error message inspection. I once created a PoC for including error codes in GraphQL errors with graphql-go, it's quite easy actually. Forwarding the `Temporary()` flag sounds like a good idea to me.

[2019-02-20 21:06] #2349 closed

[2019-02-20 21:11] slimsag commented on #2144
Yes, I agree this would help resolve the debt in markdown search result rendering, which is a good reason to prioritize this work. I actually meant to prioritize this work earlier when @farhan implemented that logic.

We can perform this work _properly_ once https://github.com/sourcegraph/sourcegraph/issues/2369 is resolved.

[2019-02-20 21:12] chrismwendt commented on #2372
Yup, and most of our customers aren't mechanics, so I added the qualification "... in customer deployments" just now.

[2019-02-20 21:21] felixfbecker commented on #2372
Most car drivers aren't car mechanics and that LED is still shown in their dashboard, so they can contact a mechanic if it lights up. And we don't even show this in the dashboard, we show it if you open hood...

[2019-02-20 21:41] ryan-blunden commented on #1510
The docker lint server had gone down which is why you weren't seeing any highlighted lines. It's back up and running now.

To reproduce:

1. Enable the [docker lint extension](https://sourcegraph.com/extensions?query=category%3ALinters)
2. [View a Dockerfile on sourcegraph.com] and mouse over the red line to see styles.
3. Do the same on GitHub.

[2019-02-20 21:42] ryan-blunden commented on #1510
Can probably fix #1950 with this change as well.

[2019-02-20 22:05] slimsag opened #2383 "Query builder "exact string" field does not work"
In the query builder `Exact string` field, I type `open(` as it suggests:

![image](https://user-images.githubusercontent.com/3173176/53127897-b695b180-3520-11e9-8f06-c7ab17e0a63e.png)

I press search and it brings me here:

![image](https://user-images.githubusercontent.com/3173176/53127907-c1504680-3520-11e9-9b3b-e3c21f1cac99.png)

Shouldn't my query have been made into a quoted `"open("`?

[2019-02-20 22:39] #2383 closed

[2019-02-20 22:57] beyang commented on #2188
This was fixed in https://github.com/sourcegraph/sourcegraph/pull/2236

[2019-02-20 22:57] #2188 closed

[2019-02-20 23:09] beyang commented on #2143
Reassigning to @sourcegraph/core-services as they are taking over auth.

[2019-02-20 23:19] #2372 closed

[2019-02-20 23:29] cosmonot1 commented on #2343
I was looking at JavaScript.

On Wed, Feb 20, 2019 at 10:58 AM Felix Becker <notifications@github.com>
wrote:

[2019-02-20 23:30] cosmonot1 commented on #2343
Yes I like the VS Code UI. Having a quick snippet pop up like that would be
pretty helpful IMO.

On Mon, Feb 18, 2019 at 9:02 PM Quinn Slack <notifications@github.com>
wrote:

[2019-02-21 00:45] beyang commented on #2057
In my mind, there are three general approaches here:
1. More docs
2. More user-friendly schema
3. More features

### More docs
Make docs and examples more accessible from `/site-admin/external-services/add`
* Link to the appropriate documentation depending on what service type is selected.
* Show examples of common configuration (e.g., "all GitHub.com repos belonging to an organization", "all my r

[2019-02-21 00:57] sqs commented on #2057
@beyang I agree it does not make sense to introduce a form-based UI for this. There is additional UI work that we *should* do, though, which is adding simple buttons that perform JSON edits to the config JSON. We use this in site config and settings, and site admins generally find them useful. They are also simple to implement and maintain. For example, the bullet item in https://docs.google.com/d

[2019-02-21 01:21] beyang commented on #2057
Add'l Slack discussion: https://sourcegraph.slack.com/archives/D02FRPWF5/p1550710718002600

[2019-02-21 01:58] ggilmore opened #2391 "Test snapshot logic to aid in customer migrations"
- [ ] Test out https://github.com/sourcegraph/infrastructure/tree/d5aef89769c523010ba130097307ac2265998690/cmd/sourcegraph-server-gen to see if it still works to help customers migrate data when switching from Helm to purl yaml https://github.com/sourcegraph/deploy-sourcegraph.

- [ ] Translate the above to Bash

[2019-02-21 02:16] slimsag opened #2392 "automated release testing"
# Project

In the 3.0 retrospective, we discussed the need for more automated release testing. In specific, one action item was to ensure that when we perform a release manual testing by an engineer is not needed as it is a significant waste of an engineer's time.

Thus, the goal of this project is to automate the manual testing steps required in [the release issue template](https://github.com/sou

[2019-02-21 02:18] slimsag commented on #2310
Closing in favor of the more detailed https://github.com/sourcegraph/sourcegraph/issues/2392

[2019-02-21 02:18] #2310 closed

[2019-02-21 02:19] slimsag commented on #2311
I will backlog this since I am less confident the time investment here is worth the result we would achieve. https://github.com/sourcegraph/sourcegraph/issues/2392 of course, remains a priority.

[2019-02-21 02:44] slimsag commented on #1538
We may want to wait to remove this until all customers have migrated to a 3.x version. If we don't and a customer skips a version which contains this, then automatic migration won't occur for them. Not sure if there is a better way to handle this?

I'll update the comment to mention "wait for all customers to upgrade to 3.x" instead of the current version it mentions.

[2019-02-21 04:35] #2297 closed

[2019-02-21 04:57] beyang commented on #2019
@ggilmore I wrote up a rough outline of a new scaling guide here: https://docs.google.com/document/d/1dBvc_hpovih0fNjb9vHDh3jMPDyfn6Tm_VZ-k1QK6lQ/edit, informed by my experience helping 2 relatively large customers answer scaling questions. Can we discuss in person before you start on this?

[2019-02-21 12:09] felixfbecker opened #2394 "Home page should have more padding between text"
![image](https://user-images.githubusercontent.com/10532611/53167899-9c6bda00-35d9-11e9-8d5f-2cdacb67c41b.png)

The bullet points are very dense, which makes them hard to read. I propose adding some padding, e.g. 0.75rem:

![image](https://user-images.githubusercontent.com/10532611/53168009-e228a280-35d9-11e9-9621-6e56d45c6f7e.png)

I would also up the base font size 14px -> 16px (and all headings

[2019-02-21 12:12] felixfbecker opened #2395 "Demo switcher on home page misaligned"
![image](https://user-images.githubusercontent.com/10532611/53168116-392e7780-35da-11e9-966d-71d99ad67f06.png)

[2019-02-21 12:15] felixfbecker commented on #1912
The `virtual-br` class is missing in the main webapp styles.

[2019-02-21 15:58] ruhullahshah commented on #2259
Hi. After fixing the configuration, as suggested by @slimsag, I am able to access the Sourcegraph instance through the browser. However, none of the users are able to login using their legitimate, existing credentials

The configuration looks like
`
{
  "auth.public": false,
  "auth.providers": [
    {
      "allowSignup": true,
      "type": "builtin"
    }
  ],
  "update.channel": "release"
}`

[2019-02-21 18:00] beyang opened #2398 "GitHub oauth returns oauth2: Context missing state value"
User reported seeing this screen on GitHub login:

![ctxt](https://user-images.githubusercontent.com/1646931/53190943-818c6c00-35bf-11e9-9dc0-5b31bb1cf2af.jpg)

Possibly related: https://github.com/sourcegraph/sourcegraph/issues/2263

[2019-02-21 18:42] chrismwendt commented on #2298
Basic code intel now ranks references by file path similarity https://github.com/sourcegraph/sourcegraph-basic-code-intel/commit/27d3b8906d564d0c2559685245b244fe5678914a

![image](https://user-images.githubusercontent.com/1387653/53193215-586eda00-35c5-11e9-8e1f-466d00cf16c7.png)

![image](https://user-images.githubusercontent.com/1387653/53193224-5c9af780-35c5-11e9-8951-f75735fd0438.png)

[2019-02-21 19:41] slimsag commented on #2259
That is very strange, apologies that you are running into this issue.

The only thing I can think of that may cause this is if somehow your instance is no longer connected to the same PostgreSQL database OR has somehow lost data.

To rule out this possibility, can you [grab a `psql` database prompt](https://docs.sourcegraph.com/admin/faq#how-do-i-access-the-sourcegraph-database) and confirm the us

[2019-02-21 20:10] ruhullahshah commented on #2259
@slimsag I confirm that the users do exist. I  do not think that the user data is lost. On a side note, I was trying to downgrade to a previous version 2.x, to restore the server for now, but seems like it cannot read the volumes any more. Does Sourcegraph 3 change the existing configuration in so e way and makes it incompatible with the earlier versions? Does it create a backup of the existing co

[2019-02-21 21:01] xvello opened #2399 "Golang: files with a build tag are ignored"
- **Sourcegraph version:** Sourcegraph.com
- **Platform information:** Firefox 65.0.1 on Linux

#### Steps to reproduce:

Our Go monorepo ships several agents that we compile with different build tags. Searching for references and definitions do not work on files under a build tag. Three examples in one file:

* Reference search for [NewHandler](https://sourcegraph.com/github.com/DataDog/datadog-a

[2019-02-21 21:41] slimsag commented on #2259
Thanks for confirming!

The data should be completely backwards compatible, downgrading should work and you shouldn't be facing the error you are seeing when downgrading. I suspect the issue you are facing in 2.x is the same issue you are facing in 3.x. It seems like your postgres data directory may not be getting mounted into the container properly.

1. What does your `docker run` command look li

[2019-02-21 22:28] slimsag opened #2400 "Support applying a configuration to the DB from a file"
In Sourcegraph 3.0 we switched to using the DB purely as the authoritative source for configuration. This was a good change for various reasons, mainly the ability to edit configuration via the web UI on cluster deployments of Sourcegraph.

However, in some situations it is desirable to only allow modifying the configuration through a config file. The primary situation being to ensure that all con

[2019-02-21 22:34] nicksnyder commented on #2399
@chrismwendt this might be something we want to bring up with the upstream language server. Can basic code intel provide help here?

[2019-02-21 22:39] chrismwendt commented on #2399
Basic code intel shows the reference:

![image](https://user-images.githubusercontent.com/1387653/53206560-1e620000-35e6-11e9-8d35-9513936a3ae6.png)

It won't be that accurate for functions with more common names (e.g. `Get` will return tons of results). I have a plan for improving the accuracy in https://github.com/sourcegraph/sourcegraph/issues/2298

Alternatively, we could add a command palette

[2019-02-21 23:02] nicksnyder opened #2401 "Prune undesirable git tags"
Our repo has a bunch of git tags that we inherited when we merged in one of the other repos (e.g. extensions npm api, or browser extension, or something). This makes it annoying to tag new Sourcegraph releases because these tags must first be deleted on the origin before tagging the "real" release for the main Sourcegraph images.

@chrismwendt did a one time purge, but it looks like the tags got r

[2019-02-21 23:06] slimsag commented on #2401
add a pre-push hook to prevent `git push --tags` and tell the user the git command to push a specific single tag

https://stackoverflow.com/a/20551984

[2019-02-22 01:16] slimsag opened #2404 "log all management console requests"
When the management console receives a request of any sort, we should log it. This is helpful when debugging.

[2019-02-22 03:04] ggilmore commented on #1773
This has been implemented for dogfood and sourcegraph.com with the following caveats:

1. It can take ~1.5 hours or more for an update to an image tag to be deployed to sourcegraph.com since Renovate is asynchronous

1. Buildkite doesn't deploy RBAC resources automatically since updates to those resources require elevated GCP permissions

1. There are no e2e tests blocking bad deployments from rea

[2019-02-22 03:04] #1773 closed

[2019-02-22 03:58] mbautin commented on #10
How do current C++ indexing capabilities of Sourcegraph compare to those of Mozilla's DXR? ( https://github.com/mozilla/dxr )
Specifically, is there any support for C++ indexing using a clang plugin, and building an index in a system like Elasticsearch upfront?
As far as I know, clangd does not do any indexing upfront, it just does on-demand parsing of a given file, although this might change in C

[2019-02-22 04:44] chrismwendt commented on #10
DXR appears much more advanced, using output from an instrumented C compiler. Except for indexed text search, Sourcegraph does not build an index up front. Many of the [programming language Sourcegraph extensions](https://sourcegraph.com/extensions?query=category%3A%22Programming+languages%22) use ctags + search on the fly. Go, TypeScript, and Python each have language server modes for more precis

[2019-02-22 04:48] beyang commented on #1952
FYI we'd like to start adding more images into the frontend (e.g., https://app.zeplin.io/project/5bfee4b96dc22f705c06d0a7/screen/5c5b5202d9f763354701d84b).

[2019-02-22 06:18] ijt opened #2407 "extension: inaccurate jump to definition in pull request"
- **Sourcegraph version:** sourcegraph.com
- **Platform information:** Chrome 72.0.3626.109 on Mac

browser extension v19.2.13.1951

#### Steps to reproduce:

1. Go to line 172 of nats.go in https://github.com/google/go-cloud/pull/1381/files.
2. Hover the mouse over NextMsg and click Go to Definition.

#### Expected behavior:

It should go to the definition of NextMsg.

#### Actual behavior:

It g

[2019-02-22 06:41] chrismwendt commented on #2407
@ijt Can you share a link to where you expect Go to Definition to take you? As far as I can tell, https://github.com/nats-io/go-nats/blob/HEAD/nats.go#L3015:24 is the correct definition.

[2019-02-22 06:51] keegancsmith commented on #1952
I agree large assets are a problem. But things that are at most a few megs (some images) surely isn't that bad given the convenience of tracking it in source control? As it stands, they can't be too big or it will result in a poor user experience for loading a page. So is this issue about large assets (ie we set some upper limit that requires whitelisting to allow merging), or just binary assets i

[2019-02-22 07:50] slimsag commented on #1952
My worry is our repo ends up being several GB in a few years and someone says "you know what? we screwed up back then and should filter all of those our of our git history (and now we can't really git bisect, oh well)."

Avoiding this by using a storage bucket online seems like a quick and easy way to avoid this potential outcome in the next few years.

I am fine with any option which prevents _la

[2019-02-22 07:58] francisschmaltz commented on #1952
To chime in: I try to rely on SVGs for data so I can add “images”as dom elements but I’m some cases that’s not possible. The onboarding image is about 60KB. Not nothing, but something that might be beneficial to store in git as it doesn’t change.

Marketing images are a different story. As we move some of the marketing and docs pages into sourcegraph it might be a good idea to just link to those f

[2019-02-22 08:24] keegancsmith commented on #2401
- get everyone to run a query which deletes the tags locally. Interested to know how this is happening, since one has to do git push --tags to recreate.
- Maybe github's branch protection rules could apply to the tags as well?

[2019-02-22 08:28] keegancsmith commented on #2399
That would work. In theory the upstream language server could find these other locations and present all of them. But it would be quite hairy to do + would only work for j2d/hover not find references (which would be much more complicated to do)

[2019-02-22 08:33] slimsag opened #2408 "missing infrastructure to notify us of panics in prod and other deployments"
I notice there are panics in our frontend pod logs, and probably in other services, too.

We don't have anything to notify us of these in prod, nor in other deployments. That is a major oversight on our part. We need something to tell us about these.

I don't know who / when is the best time to tackle this, so I am backlogging for now. Any volunteers?

[2019-02-22 09:02] tsenart commented on #1952
Anyone tried https://git-lfs.github.com/ before?

[2019-02-22 09:17] slimsag commented on #1952
I have, it's good when you have a substantial number of large assets to
track. I am unsure if it would be better than a simple script that
downloads assets from gcs in our case. It does require installing the git
extension and running a Git LFS server somewhere, which is a large burden
for small cases like ours I think.

On Fri, Feb 22, 2019, 2:02 AM Tomás Senart <notifications@github.com> wrote:

[2019-02-22 10:03] ruhullahshah commented on #2259
1. Yes the necessary volumes are mounted. We use `docker-compose up` to start Sourcegraph and the volumes we supply are:
`/export/sourcegraph/conf:/etc/sourcegraph`
`/export/sourcegraph/data:/var/opt/sourcegraph`

2. On host machine, running `cat ~/.sourcegraph/data/postgresql/PG_VERSION` returns 9.6

3. Running `ls /var/opt/sourcegraph/postgresql` on a Sourcegraph-3.0.1 instance returns a list of

[2019-02-22 10:22] felixfbecker commented on #2401
Does `git pull --prune` not delete tags deleted on the remote?

[2019-02-22 10:36] slimsag commented on #2259
@tsenart  have you ever seen anything like this downgrade error?

[2019-02-22 10:41] xvello commented on #2399
Thanks for your replies! Having a build tag selection control would indeed help a lot, provided it is persisted by code repository.

After re-reading the issue, I think there are two distinct user stories here:

- `As contributor to a "build-tagged" package, I want code intelligence to work on my code in order to efficiently use Sourcegraph`. This would be solved by browsing with custom build tags

[2019-02-22 11:54] lguychard opened #2409 "Progress notification stuck"
![image](https://user-images.githubusercontent.com/1741180/53240893-401fbd80-36a0-11e9-88d1-fd3be04849a3.png)

In the above screenshot, the "Fetching packages" notification is stuck and impossible to dismiss. This is with a pre-comlink extension, and I'm still seeing some `$updateProgress` emissions in the console.

[2019-02-22 12:12] keegancsmith commented on #2408
Maybe we can get sentry to report them?

[2019-02-22 12:15] felixfbecker commented on #2409
Let's revisit this after merging comlink #2344

[2019-02-22 12:52] lguychard commented on #753
The error "Unable to determine start line of code view" can no longer happen, since the related code has been removed in favour of getting file contents from Sourcegraph.

However, the "View file on Sourcegraph" button is still absent, probably because of this: https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/blob/client/browser/src/libs/github/code_intelligence.ts#L103

[2019-02-22 16:31] VeselaHouba commented on #2263
Seems to be working with no problem in 3.1.1

[2019-02-22 17:17] ijt commented on #2407
Sure, it should be
https://github.com/nats-io/go-nats/blob/3ca0505d233111f6b95a2888f6536340a10a8aeb/nats.go#L3025
.

Now that I look again, I can see that the line it jumps to puts the
definition in view, it's just that the line it highlights isn't the right
one.

I suspect the sourcegraph server cached something that got a bit stale.

On Thu, Feb 21, 2019 at 10:41 PM Chris Wendt <notifications@gi

[2019-02-22 18:13] beyang opened #2412 "TypeScript language extension downloading source twice?"
Saw this on a PR just now:
![selection_042](https://user-images.githubusercontent.com/1646931/53262063-810cd780-368a-11e9-897d-9487bb778f94.png)

@felixfbecker does this indicate a bug?

[2019-02-22 18:16] felixfbecker commented on #2412
No, it's just one server for the head rev and one server for the base rev.

[2019-02-22 18:20] #2257 closed

[2019-02-22 18:20] #1625 closed

[2019-02-22 18:24] felixfbecker commented on #1554
Assigning to 3.2.

[2019-02-22 20:01] ijsnow opened #2415 "Unable to run extension host on new Phabricator versions"
@chrismwendt and I discovered that new Phabricator versions add a content security policy to pages that doesn't include `blob:`, meaning the web worker containing the extension host is blocked from loading. [We are able to add new URIs](https://sourcegraph.com/github.com/phacility/phabricator/-/blob/src/aphront/response/AphrontResponse.php#L24) to Phabricator's CSP via our [Phabricator extension,]

[2019-02-22 20:05] chrismwendt opened #2416 "Extension API: doc.text can be undefined"
In the callback to `registerHoverProvider`, the given `TextDocument.text` field is `undefined` on private repositories, but the type is `string`. To handle this, I made a change to basic-code-intel:

https://github.com/sourcegraph/sourcegraph-basic-code-intel/commit/d291aaa733e6882dadbda5906dcaaaa946ed57cd

The type of `text` could be changed to `string | undefined`, forcing this case to be handle

[2019-02-22 20:20] kamadoatfluid opened #2417 "Building the server image"
#### Question description

Hello, first of all I wanted to thank you for such an amazing project

I'm trying to deploy a self-hosted instance of sourcegraph, just to try and see how it goes for us, and if it fits our needs.

The question that I have is regarding the Server image, the one that you find here: https://hub.docker.com/r/sourcegraph/server

The thing is, as far as I see on the repositor

[2019-02-22 23:03] sqs commented on #2417
We definitely intend to and want to support this use case (building the server images yourself).

I believe this is referring to our dev-private repository, which is used in https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/blob/enterprise/dev/start.sh. This doesn't actually contain secret code/deps that are necessary for building Sourcegraph (there aren't any), it just contains our int

[2019-02-22 23:10] slimsag commented on #2417
The advice by @sqs above is good of you are hard-set on building the sourcegraph/server image. However, I would suggest that there is perhaps a better way to achieve what you are trying to achieve.

1. Start a `sourcegraph/server` using the docker run command on docs.sourcegraph.com.
2. Create the admin account as you desire
3. Make your configuration changes through the web UI and management cons

[2019-02-23 00:08] beyang opened #2419 "Support GitHub ACLs without GitHub configured as auth provider"
$CUSTOMER would like to enable GitHub ACLs without using GitHub as the authentication mechanism to Sourcegraph. They are using a separate SSO provider.

The reason Sourcegraph currently requires GitHub to be configured for authn in order to turn on GitHub authz is we need to:
1. Reliably map Sourcegraph user IDs to GitHub user IDs
2. Compute GitHub user permissions.

For (1), the way we currently

[2019-02-23 00:54] slimsag commented on #2259
@ruhullahshah Apologies for the trouble you are facing here, I've been trying to reproduce your issue to find you a quick solution, but unfortunately haven't been able to reproduce the login issue.

1. **_I was wrong about being able to downgrade from 3.x_**, if you are using the built-in PostgreSQL database and not a custom external one, downgrading to 2.8.9 again is not possible ([details here](

[2019-02-23 01:03] chrismwendt commented on #1625
@njbull4 I deployed performance improvements to Sourcegraph.com, so jump-to-definition is super fast now: https://sourcegraph.com/github.com/torvalds/linux@aa0c38cf39de73bf7360a3da8f1707601261e518/-/blob/arch/arm/mach-footbridge/dc21285.c#L263:34 If you hop to a different commit, it takes ~3 minutes to index, but hover tooltips and jump-to-definition should be fast after that.

Try it out and let

[2019-02-23 05:52] chrismwendt commented on #2407
It looks like go-cloud uses Go modules, which are not supported by go-langserver. go-langserver appears to assume HEAD for dependencies, which is why it took you to L3015. Yeah, visiting the repository probably triggered a `git fetch`, which then updated the HEAD to the latest commit.

[2019-02-23 05:52] #2407 closed

[2019-02-23 06:07] chrismwendt commented on #2257
Now that sqlite has been deployed to production, we can review the impact this has had on our metrics.

From the browser's perspective, the request took ~~10s~~ 200ms:

![image](https://user-images.githubusercontent.com/1387653/53282525-8b13f200-36ed-11e9-99ef-28b437925fcb.png)

The first part of the LightStep trace shows again that most time is spent blocked on a call to the symbols service:

![i

[2019-02-23 12:54] tsenart commented on #1773
This is great! Thanks :-) Some follow up questions on the caveats.

It might not be the best approach for us to rely on Renovate to update our own images, given the much higher rate of change. What other options do we have?

Would a service account with the right permissions not allow this to happen from Buildkite?

Do we have a tracking issue to re-enable these?

Do we have a tracking issue for t

[2019-02-23 14:37] neongreen opened #2421 "What's the list of supported repogroups?"
#### Question description

What's the list of supported repogroups on the public Sourcegraph instance? I know about `repogroup:npm` and `repogroup:crates`, are there any others?

[2019-02-24 10:07] renovate[bot] opened #2422 "Update Dependencies (Renovate Bot)"
This issue contains a list of Renovate updates and their statuses.

## Awaiting Schedule

These updates are awaiting their schedule. Click on a checkbox to ignore the schedule.
 - [ ] Update github.com/google/zoekt commit hash to edc3e79
 - [ ] Update github.com/graph-gophers/graphql-go commit hash to 70e684c
 - [ ] Update github.com/kardianos/osext commit hash to 2bc1f35
 - [ ] Update github.com/

[2019-02-24 13:16] felixfbecker opened #2423 "Extensions have two sourceMapURL comments"
Check out https://sourcegraph.com/-/static/extension/2542-sourcegraph-typescript.js?bs7wauimg2mw--sourcegraph-typescript

scroll to the bottom and you see

[code]

only the latter should be there. The former comment was added by Parcel.

This is added dynamically by the backend, so looks like the backend doesn't remove existing comments.

I suspect this is why source maps don't work in Firefox.

[2019-02-24 14:45] tsenart commented on #1952
I thought that Github would [provide this for us](https://help.github.com/en/articles/about-storage-and-bandwidth-usage).

[2019-02-24 17:16] maxhallinan commented on #408
I've updated #2333 to support the file number only when one `file:` token is used. I could also have [`searchFilesInRepos`](https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/blob/cmd/frontend/graphqlbackend/textsearch.go?suggestion#L675:6) call itself a second time with a modified `args.Pattern.Pattern` when that string matches the pattern and no file token is used. It's not clear to me

[2019-02-24 22:57] felixfbecker opened #2428 "Extensions can access sourcegraph.app.activeWindow.activeViewComponent.document before the document was synced to the extension host"
We currently sync the code views and document data separately:

https://sourcegraph.com/github.com/sourcegraph/sourcegraph@758c376ba0981d315e29314797e4bfb56c8dd7ea/-/blob/shared/src/api/client/connection.ts#L77:9-80:11

https://sourcegraph.com/github.com/sourcegraph/sourcegraph@758c376ba0981d315e29314797e4bfb56c8dd7ea/-/blob/shared/src/api/client/connection.ts#L103-112

Since communication with th

[2019-02-25 09:49] felixfbecker commented on #2055
@lguychard could you take a look at this this week?

[2019-02-25 10:05] lguychard commented on #2428
Great find!

[2019-02-25 10:19] #2339 closed

[2019-02-25 10:19] #2423 closed

[2019-02-25 10:49] lguychard commented on #2055
Yes

[2019-02-25 10:56] #2428 closed

[2019-02-25 13:24] ruhullahshah commented on #2259
@slimsag No worries. Thanks for your support and suggestions
- The issue is observed in 3.1.1 as well.
- No I can't sign in to the admin account as well.
- Creating a new user account, seems to be working but again I am not able to log in.
- The console output of Sourcegraph is empty most of the time, except when I enter a wrong password

[2019-02-25 13:25] #1871 closed

[2019-02-25 13:51] ruhullahshah commented on #2259
I have yet another observation. After trying to provide a clean slate (temporarily moving the `conf/` and `data/` to another location), and launching Sourcegraph, I am taken to a welcome screen for creating the admin account. Thereafter, when I try to log in with the newly created admin account, the same problem persists. i.e. being challenged again with a login screen. I tried this on v2.8.9, v3.

[2019-02-25 16:25] analogue opened #2432 "Add support for controlling number of context lines displayed similar to `grep -C`"
#### Feature request description

The immediate search results from a search query using the web interface displays each search result with 3 lines of context: the line before, the line containing the search hit, and the line after.

For occasions where developers would like additional lines of context in the search results, a user has to click on every single search hit individually. This is cumb

[2019-02-25 17:26] njbull4 commented on #1625
Thanks for the followup, I'll be sure to check it out

[2019-02-25 18:48] #791 closed

[2019-02-25 19:38] francisschmaltz commented on #2329
I agree with Felix that it shouldn't be always visible. The 1 way binding we previous discussed would be the right thing to do here.

[2019-02-25 19:47] ryan-blunden opened #2437 "Improve enterprise trial content and key request flow"
When creating the admin account for a new instance, if you check the enterprise trial checkbox, there is no notification to verify it worked or what the process is to receive a key.

I propose three changes:

1) Change the (?) from a link a to a tooltip to explain the process for getting a key.
2) The link to the pricing page should open in a new window so as to not break the onboarding flow.
3) P

[2019-02-25 20:01] beyang opened #2438 "Make username immutable if SSO is configured"
Context: https://sourcegraph.slack.com/archives/D02FRPWF5/p1550871275003200

Spec:
* auth.enableUsernameChanges option, default: false
  * config error if any SSO providers set
  * add warning to the schema doc mentioning that if this is *ever* set to true, usernames should not be trusted for permissions. If usernames will be relied on for permissions, the site admin should audit all existing user

[2019-02-25 20:14] sqs commented on #2437
How long did the person who was confused wait between checking the box and emailing us? All these sound good, but the possibly easier alternative is to just reply more quickly (sharing responsibility if needed because nobody is available 24/7).

Anyway, this is just an idea to simplify our work. @kattmingming’s call on what to do.

[2019-02-25 20:25] #2412 closed

[2019-02-25 20:26] beyang commented on #2412
@felixfbecker could the loading message be different? "Downloading head revision to TypeScript server" and "Downloading base revision to TypeScript server"?

[2019-02-25 20:35] KattMingMing opened #2439 "Customizing Sourcegraph appearance"
### Feature request description

Enterprise customers would like the ability to customize the appearance of the authentication page and search homepage.

User's have expressed that this will:
- Help site admins feel more comfortable sharing Sourcegraph because the unauthenticated page can communicate value / purpose of Sourcegraph prior to authenticating.
    - End users will feel more comfortable

[2019-02-25 20:57] slimsag opened #2440 "Add Solidity / Etherium syntax highlighting"
From https://github.com/davidhq/SublimeEthereum

Not positive yet when I will have time to land this, but probably within a few months

[2019-02-25 20:58] #507 closed

[2019-02-25 21:18] kamadoatfluid commented on #2417
Thank you so much guys, both methods worked perfectly, the first allowed me to compile and run both the DEV enviroment as well as to build the image myself, (I had to set some enviroment variables first though)

The second method is pretty good too and I paste it here for it could be useful to someone else:
[code]
After this, lets copy the persistent volumes, change some permissions and finally co

[2019-02-25 21:19] KattMingMing opened #2442 "Site config setting to show admin contact information"
### Feature description

Users in larger organizations find it useful to have a way to contact the team / admin responsible for maintaining their Sourcegraph instance.

Sourcegraph instances should provide a way for site admins to customize the `/help` page, error pages, and login page to include their preferred contact information.

This could be done via a site config setting. If the property is

[2019-02-25 21:44] KattMingMing opened #2443 "Customize appearance of /welcome page"
#### Feature request description

Sourcegraph instances should have their own /welcome page that can be customized by site admins. Customizations should include adding company logo, header text, and site admin contact information.

To successfully onboard new teammates site admins should only need to send one link to their team. https://sourcegraph.mycompany.com/welcome

Right now, site admins lac

[2019-02-25 22:07] nicksnyder commented on #2361
I am assigning this to @beyang to triage and plan (as part of the distribution team).

Another option is https://apex.sh/ping/

Apparently we migrated away from pingdom to site 24x7 at some point in the past (this decision predates me).

[2019-02-25 22:16] nicksnyder opened #2445 "Ensure frontend cache dir does not grow unbounded"
The frontend appears to grow unbounded on the shared SSH cache. See https://github.com/sourcegraph/sourcegraph/issues/627#issuecomment-465143874

Here is a similar fix made to lang-go:
https://github.com/sourcegraph/go-langserver/pull/359

This general problem feels like it should be owned by the core services team @keegancsmith @tsenart , unless you have additional information that would indicate

[2019-02-25 22:45] ijt opened #2446 "extension: on zeromq example, only getting Find References button"
To reproduce, go to https://github.com/pebbe/zmq4/blob/master/examples/psenvpub.go and mouse over `zmq.NewSocket`.

![screen shot 2019-02-25 at 2 42 28 pm](https://user-images.githubusercontent.com/15530/53373956-cf7cd900-390b-11e9-91bc-3fe4e76cf8f9.png)

This might be related to #1802 or #1770.

[2019-02-25 22:46] ijt commented on #2446
This error shows up in the console:
[code]

[2019-02-25 22:51] nicksnyder opened #2447 "Configure sentry for backend"
Our sentry project has two teams: #web and #sourcegraph.

The #sourcegraph team should turn into the "backend" team with appropriate teammates (e.g. not me, not Quinn).

[2019-02-26 02:44] sqs commented on #2044
@ggilmore 	This caused pain to a user today. See https://sourcegraph.slack.com/archives/C0W2E592M/p1551148859007100.

[2019-02-26 03:00] tsuna commented on #2044
I can't see the Slack archives but that user was probably me 😅

I `-v`'ed Gerrit's `git` directory into `/var/opt/sourcegraph/repos` thinking that it would be enough to just mount the bare repos that Gerrit had in there to expose them to Sourcegraph, and Sourcegraph decided to do the equivalent of `mkdir /var/opt/sourcegraph/repos/$foo/.git; mv /var/opt/sourcegraph/repos/$foo/* /var/opt/sourcegrap

[2019-02-26 03:02] sqs commented on #2044
@tsuna Indeed it was you. Sorry! We plan to fix this for Sourcegraph 3.2 (due to be released on March 20).

[2019-02-26 03:13] sqs commented on #2044
@tsuna 	Indeed, it was you. Sorry!

[2019-02-26 03:26] sqs commented on #1538
Moving to backlog due to @slimsag's above comment https://github.com/sourcegraph/sourcegraph/issues/1538#issuecomment-465839845 about waiting longer to make this change.

[2019-02-26 03:29] sqs commented on #2437
Removing milestone because this needs to be fleshed out and prioritized. (It might be a candidate for 3.2, so I do not want to add this to backlog yet.)

[2019-02-26 03:32] sqs commented on #1346
The  Firefox extension is back. You can install it from https://docs.sourcegraph.com/integration/browser_extension.

[2019-02-26 03:39] sqs opened #2451 "Update "Downloading" text label in sourcegraph/typescript to avoid confusion"
I want to address the feedback people have about the wording of the "Downloading source to TypeScript server..." notice. Things like:

- "Too many popups, too much uploading of my content, and generally too complicated and noisy."
- "Takes lot of time to navigate and also everytime it downloads"

I understand that just changing the text of the notice doesn't fully address their feedback, but I thi

[2019-02-26 03:39] sqs commented on #1554
This is less important than the other things @slimsag 	and @keegancsmith 	are working on. Moving to backlog.

@felixfbecker 	I will propose a solution for the uninstalls that doesn't involve this code change at https://github.com/sourcegraph/sourcegraph/issues/2451.

[2019-02-26 03:53] sqs commented on #1912
#2337 will fix this. Therefore not assigning this to anyone.

[2019-02-26 03:55] sqs commented on #1759
Removing milestone to reflect that we need to prioritize this.

[2019-02-26 03:56] sqs commented on #1685
Backlogging. I think we all agree it would be nice to have this, but I haven't heard of any customers being blocked by this. That makes it lower priority than other things @slimsag 	is working on.

[2019-02-26 04:04] sqs commented on #1435
This is less important than the other work planned for 3.2, so I am backlogging this.

[2019-02-26 04:10] sqs commented on #2053
Backlogging. This is not a high priority. It is a relatively minor visual glitch. The bigger improvements we are making in #2380 are more important.

[2019-02-26 04:12] sqs commented on #2095
Moving to backlog because @ggilmore 	has not found this important enough to reply in 25 days, and this doesn't affect customers, so it does not seem high priority.

[2019-02-26 04:13] sqs commented on #1831
While this is important, it's less important than #2380 and hasn't caused any problems in the last month.

[2019-02-26 04:37] sqs commented on #2439
Tentatively prioritizing for 3.3

[2019-02-26 04:43] chrismwendt opened #2452 "Improve code intelligence quality and reduce false positives"
Code intelligence has broken (I mean P0 broken) a few times in the past couple of weeks in ways that could have been prevented by E2E and unit tests. Also, basic-code-intel is rather slow on large repositories and often times reports false positives in definitions and references, which hampers adoption.

## Plan

- [x] Symbol search is too slow to provide jump-to-definition on torvalds/linux https

[2019-02-26 06:14] keegancsmith commented on #2445
Related to https://github.com/sourcegraph/sourcegraph/issues/627

[2019-02-26 10:07] keegancsmith opened #2454 "Account removed from dogfood"
Something weird happened and my account disappeared from dogfood. Tomas checked if I existed in the admin interface and I had gone. Not sure if this was a weird ops mistake, or some changes to the github auth code which you did recently.

[code]

[2019-02-26 12:39] alexandnpu commented on #2180
@sqs , I have the same problem as the issue stated. Luckily for me, i found the reason that sourcegraph does not support subdirectories right now, so it saves my day.

I can say why I need to run it under a subdirectory. Because it is not easy for me to apply internal domain name in my company. So we use subdirectories to separate our businesses

team1.example.com/business1
team1.example.com/busin

[2019-02-26 15:50] ggilmore commented on #2454
We dropped the postgres database when we were testing the postgres upgrade process iirc. Did you create a new user account after that?

[2019-02-26 16:49] tsenart commented on #2025
@sqs: Product question. Do we still want admins to be able to delete a repo directly from the repo settings page? I feel this is slightly at odds with the configuration driven approach we're moving towards. Similarly to how the enabled / disabled state doesn't fit in anymore.

[2019-02-26 16:57] sqs commented on #2025
No. GitHub repositories (and in the future other repositories that are kept in sync with config) would not have delete buttons.

[2019-02-26 18:03] felixfbecker commented on #2439
This would not work anymore when we start using shadow roots. Is that an issue? What exactly do customers want to customize?

[2019-02-26 18:22] felixfbecker opened #2460 "postMessage() could not clone error when activate() function throws"
When the activate function of an extension throws, an error is logged about the Error not being cloneable. It should convert the error to a plain object (may be a bug in comlink).

[2019-02-26 18:53] nicksnyder commented on #2380
The metrics section doesn't clearly define what success looks like (or even what the current baseline is).

Recording the current baseline would be incredibly valuable and then you can set a goal relative to that baseline (e.g. 50% fewer sentry alerts, 50% browser extension installs)

[2019-02-26 19:16] felixfbecker opened #2461 "Use ESLint"
ESLint has TypeScript support and is the future of TypeScript linting (TSLint will eventually be deprecated). It has a bunch of rules (like not referencing `this.state` in `setState()`) that I would like to enable because they keep coming up in code review.

[2019-02-26 20:33] felixfbecker commented on #2447
We also might need to separate frontend and backend projects, and separate dogfood and prod with environments instead. Will require adding a site config to set a separate DSN.

[2019-02-26 21:01] jacobmarble commented on #2285
I'm happy to see this issue open. I've tried to setup HTTPS with 3.1.1, but totally blocked after 2+hours working on it. 2.x made this easier.

[2019-02-26 21:02] jacobmarble commented on #2285
#1951 is related

[2019-02-26 22:35] ryan-blunden commented on #2285
@jacobmarble Sorry you weren't able to get it working. As @ggilmore said, we're working to make self-signed HTTPS as easy to set up as possible, including having the browser trust the certificate.

[2019-02-26 23:08] tsuna commented on #871
In case anyone lands here like me after Googling for "Sourcegraph Gerrit", here is what I wound up doing to make it work.

First of all, **do not try to mount Gerrit's bare repos into Sourcegraph's container**, that won't work as Sourcegraph expects a different layout on the filesystem and will actively move things around in a way that breaks Gerrit (and since it runs as root, it can).

First crea

[2019-02-26 23:10] ryan-blunden commented on #2060
For 3.2, the left nav will be hard-coded and in 3.3, it will be config file driven.

[2019-02-26 23:10] #2060 closed

[2019-02-26 23:46] ryan-blunden opened #2463 "LHS navigation for Docs"
## Tasks

- [x] @ryan-blunden Hard-coded nav HTML
- [x] @francisschmaltz Implement nav style and functionality
  - [x] Nav stays fixed so scrolling the content doesn’t scroll the nav.

---

Currently, users must rely on inter page links to navigate and discover different parts of our documentation.

Adding a hierarchical representation of the site’s structure would let users browse to see if the i

[2019-02-26 23:51] ryan-blunden opened #2464 "Docs version selector"
Change the docs version selector to be more user friendly and show more versions.

Good example from GitLab that is clear and space efficient because the UI element to select the version is also responsible for displaying the currently viewed version.

![version-selectotr](https://user-images.githubusercontent.com/133014/53455105-3ec2fd80-39de-11e9-968d-d18f453bf476.gif)

## Versions to show

-  C

[2019-02-26 23:56] ryan-blunden commented on #2052
Theme improvements tracked at https://github.com/sourcegraph/docs.sourcegraph.com/pull/11

[2019-02-27 00:02] ryan-blunden opened #2465 "Simplify docs local testing/review and release process"
- [ ] @sqs docs site preview part of Sourcegraph local dev Procfile
- [ ] @sqs Move templates and assets from `docs.sourcegraph.com` repo to the `sourcegraph`

[2019-02-27 00:23] ryan-blunden commented on #2023
@nicksnyder From 3.2 onwards, any docs change (styles, template or content) will be made in the sourcegraph repo and the docs site will be part of the local dev server.

These wins have made docsite worth the effort and I will gradually be taking ownership of the codebase but don't anticipate many more features.

[2019-02-27 02:41] punya commented on #2446
For me, it showed both buttons about 50% of the time, and just "Find references" in the remaining cases -- which suggests that some sort of race condition is happening.

[2019-02-27 06:25] keegancsmith opened #2466 "Better nginx documentation for TLS"
It would be awesome if you could update the docs with what the nginx file should be
I’m working with Geoffrey on an AWS Terraform plan and this is the nginx file I’m using - https://github.com/sourcegraph/deploy-sourcegraph-aws/blob/master/terraform/ec2/resources/user-data.sh#L63
```# TODO (ryan): update generated nginx.conf file```
As an aside, that TODO is there because I want to use the nginx f

[2019-02-27 06:47] keegancsmith commented on #2454
I thought I had used it recently, but I had not. My last visit was which wasn't a sign-in page was January 21st! I've obviously been relying on sourcegraph.com since our code is now public.

[2019-02-27 06:47] #2454 closed

[2019-02-27 08:32] #1554 closed

[2019-02-27 09:15] keegancsmith commented on #2447
We can also start getting more granularity. For example @tsenart and I can create a project for repo-updater or core services / etc.

[2019-02-27 09:19] felixfbecker commented on #2447
@keegancsmith Yeah, just consider it needs one sentry DSN for each (for customers too). I don't care as long as someone also owns the rest of the backend errors

[2019-02-27 10:08] felixfbecker opened #2467 "Cloudflare in prod does not forward Content-Length headers"
Filed a support ticket.

[2019-02-27 10:24] vanesa commented on #1765
I can no longer reproduce the issue.

[2019-02-27 10:26] #1765 closed

[2019-02-27 13:11] leoluk opened #2470 "phabricator.bundle.js not available in sourcegraph/server Docker container"
- **Sourcegraph version:** 3.1.1
- **Platform information:** Docker 1.13 on CentOS

`https://<URL>/.assets/extension/scripts/phabricator.bundle.js` is not available on the latest `sourcegraph/docker` container, causing the Phabricator extension to fail to load it.

[2019-02-27 13:40] leoluk opened #2471 "What is the autoritative place for Phabricator repository mappings?"
There seem to be multiple places where I can specify the Phabricator repository mappings:ü

- Phabricator configuration for the native extension.
- `phabricatorMappings` managed storage setting for the browser extension.
- Phabricator external service config in Sourcegraph itself.

Which of these need to be specified?

[2019-02-27 14:23] wrakky opened #2472 "[Question] External database usage - enterprise or not?"
#### Question description

I've followed the instructions to connect sourcegraph to an external database (https://docs.sourcegraph.com/admin/external_database) and have it running locally via the docker container pointing to an external postgres instance which all works fine and have verified that data is being saved there (I can see new user accounts going in there amongst other things).

However

[2019-02-27 15:07] sqs opened #2473 "Unexpected symbols decorations for Python files"
When I visit https://sourcegraph.com/github.com/asyncy/cli/-/blob/cli/aliases/config.py (and on 3.1.1 self-hosted), I see decorations on the lines of symbols when I hover in Python files.

1. I did not expect the red background, left border, and after-line text decoration to show up.
1. The after-line text decoration is repeating itself when I hover (each time it adds another after-text decoration

[2019-02-27 15:13] sqs commented on #2473
As an immediate fix, it is OK (and preferable) to completely hide the background/border/text decoration. It is not necessary to first fix the problem causing after-line text decoration stacking (that is a bug that's worth fixing, but MUCH lower priority).

[2019-02-27 15:27] lguychard commented on #2473
@chrismwendt did you mistakenly publish some WIP / local work yesterday?

In the published bundle of `sourcegraph/python`, I found the following code, which doesn't exist in the source of [sourcegraph/sourcegraph-python](https://github.com/sourcegraph/sourcegraph-python):

[code]

I re-published `sourcegraph/python` from the latest master of [sourcegraph/sourcegraph-python](https://github.com/sour

[2019-02-27 15:27] #2473 closed

[2019-02-27 15:33] lguychard commented on #2473
For reference if you reintroduce these decorations, the text decoration stacking is due to creating a new decoration type each time `setDecorations()` is called, rather than calling `createDecorationType()` once and reusing the returned value.

[2019-02-27 15:41] sqs commented on #2472
Hi @wrakky, using an external database does indeed require a license. Our intent is for companies relying on Sourcegraph to pay, and *usually* use of an external database indicates this. If you have other reasons for needing an external DB (i.e., you're just using it for personal use, or you're trying it out to make sure it works before rolling it out at your organization), let us know here or at

[2019-02-27 15:44] #2362 closed

[2019-02-27 15:47] sqs commented on #2432
This is a great idea (and is indeed not currently supported). Thanks!

[2019-02-27 15:52] sqs commented on #2446
Tentatively assigning to @chrismwendt 	to repro and triage. Assuming you can verify it (which seems likely, given that the 2 folks above we know and trust have seen it occur), this is important enough to fix in 3.2.

[2019-02-27 15:52] nicksnyder commented on #2447
@slimsag can you put this into 3.2 milestone or backlog depending on whether you think this will get done in March or not?

[2019-02-27 16:01] nicksnyder opened #2474 "CLA bot posts message after CLA is already signed"
See how CLA bot commented on https://github.com/sourcegraph/sourcegraph/pull/2135 multiple times. Chris signed the CLA Feb 2, 2019 13:44:10.

I wondered if this had to do with the pod restarting.

The [most recent comment was](https://github.com/sourcegraph/sourcegraph/pull/2135#issuecomment-467901229) Feb 27, 7:16 AM PT.

Describing the pod shows that it started 1.5 hours earlier:
[code]

So rest

[2019-02-27 16:27] leoluk commented on #2471
Also, what are they actually for?

It seems like Sourcegraph is able to figure out the repository mappings regardless of this setting.

[2019-02-27 16:52] KattMingMing opened #2475 "Improve Nginx and Let's Encrypt documentation"
I went through the Nginx and Let's Encrypt documentation and ran into several issues. Below is documentation on the steps I followed to configure Nginx with a self signed cert and using cert bot.

### Deploying on GCP and accessing your instance
1. [Install Sourcegraph with Docker on Google Cloud](https://docs.sourcegraph.com/admin/install/docker/google_cloud)
2. Navigate to **Compute Engine** and

[2019-02-27 17:21] nicksnyder commented on #2401
No, but `git fetch --prune origin "+refs/tags/*:refs/tags/*"` does the trick.

[2019-02-27 18:36] VeselaHouba opened #2476 "Can't set identityProvider property for GitLab authorization"
- **Sourcegraph version:** 3.1.1
- **Platform information:** Docker version 18.06.0-ce, build 0ffa825

#### Steps to reproduce:

1. Set up authentication with GitLab Oauth (working, tested)
2. Create external service for GitLab
3. Try to set `identityProvider`
[code]

#### Expected behavior:
Settings are saved

#### Actual behavior:

Following error appears
[code]

and service config is not saved

[2019-02-27 18:50] chrismwendt commented on #2473
My apologies, I was debugging symbols by showing them as decorations and unintentionally `yarn link`ed my local `basic-code-intel` package into sourcegraph-python locally when I published.

To prevent this in the future, I:

- Added a check to sourcegraph-{python,go} to prevent publishing when there are any linked packages or working tree changes https://github.com/sourcegraph/sourcegraph-python/c

[2019-02-27 18:52] nicksnyder commented on #2401
I cleaned up our origin and requested that everyone run the above command.

https://sourcegraph.slack.com/archives/C0EPTDE9L/p1551288111011100

[2019-02-27 18:52] #2401 closed

[2019-02-27 19:03] ijsnow commented on #2415
Why is this backlogged?

[2019-02-27 19:06] KattMingMing opened #2478 "Unclear how to expose access to management console (GCP)"
After following the [Install Sourcegraph with Docker on Google Cloud](https://docs.sourcegraph.com/admin/install/docker/google_cloud) documentation and setting up SSL/TLS - https://github.com/sourcegraph/sourcegraph/issues/2475 it's not obvious to users how to access the management console.

By default, `2633` is not exposed and users need to expose the port so that it can be accessible.

You can

[2019-02-27 19:38] sqs commented on #2415
I backlogged it because it wasn’t discussed at the code nav kickoff and it didn’t mention any relation to current customer issues. It sounds important, but I assumed it wouldn’t be worked on in this release cycle. If that’s wrong, the code nav team should add the correct milestone (and add non-sensitive customer pain info).

[2019-02-27 19:45] slimsag commented on #2259
Hi @ruhullahshah -- so sorry for the delay here. You being stuck without access to Sourcegraph for 15d is completely unacceptable.

The fact that you are running into this issue with even a clean state is VERY strange and baffling. Can you try running the `docker run` command without the `--volume` mounts? e.g.:

[code]

After this, you should be able to create the admin account, sign out and back

[2019-02-27 19:53] KattMingMing commented on #2466
Related issue with some steps I went through to set up nginx and let's encrypt - https://github.com/sourcegraph/sourcegraph/issues/2475

[2019-02-27 21:16] KattMingMing commented on #2475
I realized that there's a way to avoid shutting down the nginx service when going through the certbot steps.
After Step 4:

* `cp /etc/letsencrypt/live/$YOUR_DOMAIN/fullchain.pem /etc/letsencrypt/live/$YOUR_DOMAIN/privkey.pem  /root/.sourcegraph/config`

Certbot will be running on port 80 (as designed) user's can run a slightly modified docker run command to avoid shutting down the nginx service (

[2019-02-27 23:48] ggilmore commented on #2259
Hello @ruhullahshah,

Could you tell us:

How do you expose your instance to the public internet? (reverse proxy? directly expose the container port?) Did this change during your failed upgrade from `2.8.9` to `3.1.1`?

What is your `appURL`/`externalURL` setting in `sourcegraph-config.json` and the management console?

What browser are you using? What happens if you sign into our instance via Inc

[2019-02-28 00:31] ggilmore opened #2479 "docs: make it clear that Sourcegraph owns the repo folder in "Add repositories already cloned to disk""
Our ["Add repositories already cloned to disk" documentation](https://docs.sourcegraph.com/admin/repo/add_from_local_disk) should emphasize that the process is only intended for sideloading a repository as a on time operation. After that, Sourcegraph owns that location on disk and can do whatever it wants.

See https://github.com/sourcegraph/sourcegraph/issues/2044#issuecomment-467274490

[2019-02-28 00:32] ggilmore commented on #2044
Hello @tsuna,

The Sourcegraph Docker image is built with the assumption that it has sufficient permissions to perform _arbitrary_ file operations in the `/var/opt/sourcegraph` and `/etc/sourcegraph`  volumes. Even if the container wasn’t running as `root` (which is what this issue is tracking), it would still require a user that has the necessary permissions for those volumes.

We will improve th

[2019-02-28 01:44] bobheadxi opened #2480 ""must be site admin" when accessing account settings on sourcegraph.com"
- **Sourcegraph version:** "Sourcegraph.com"
- **Platform information:** google chrome
#### Steps to reproduce:

1. log in to sourcegraph.com
2. go to `users/${user}/settings` or `users/${user}/account`

#### Expected behavior:

account setting page

#### Actual behavior:

![image](https://user-images.githubusercontent.com/23356519/53535315-41455600-3ab7-11e9-9a4a-a90939f54188.png)

[2019-02-28 03:31] sqs opened #2481 "Document how to update docs.sourcegraph.com for a new release version"
Document the docs update release process and update (Sourcegraph) release checklist for 3.2.

Extracted from #2465 so that issue can just be about the underlying code changes (which are good on their own).

[2019-02-28 05:28] chrismwendt commented on #2446
I think go-langserver can't find the definition of `NewSocket` because the definition is in a file that has `import "C"`, which is CGO:

https://github.com/pebbe/zmq4/blob/7a493a642e7acbd03045d4f5fe9516908a62f86f/zmq4.go#L815

It looks like CGO is disabled in go-langserver's build server:

https://github.com/sourcegraph/go-langserver/blob/f9fdcbb3871320e0655530b707a3d276d561311a/buildserver/enviro

[2019-02-28 06:52] lguychard commented on #2473
@chrismwendt sounds good! Do you think it could be worth it to add that check to the extension creator?

[2019-02-28 07:34] keegancsmith commented on #2360
@asinwang can you share your site configuration for gitlab (with secrets redacted)? Also the version of gitlab that is running.

[2019-02-28 07:36] keegancsmith commented on #2466
Your issue is much better, gonna track that instead.

Duplicate of #2475

[2019-02-28 07:36] #2466 closed

[2019-02-28 07:42] slimsag opened #2485 "gitserver: Rebalance after adjusting replica count"
1. Run a Sourcegraph cluster instance.
2. Add lots of repositories, visit /site-admin/repositories and "Enable and clone all".
3. Add a new gitserver replica.
4. Repositories do not appear to be cloned / evenly distributed between the gitserver instances. The repositories show up as `Not yet cloned`, but `/site-admin/repositories?filter=cloning` shows none are cloning.

[2019-02-28 12:36] felixfbecker commented on #2221
For reference: https://github.com/sourcegraph/enterprise/issues/13258

[2019-02-28 12:54] tsenart commented on #2227
Hey @beyang,

What is the error in the above config?

[2019-02-28 14:31] keegancsmith opened #2487 "Wrap migrations in begin/commit"
See https://github.com/sourcegraph/sourcegraph/pull/2486

[2019-02-28 14:40] ruhullahshah commented on #2259
@slimsag Hi. No worries :)

I ran the command without the `--volume` mounts and could not log in back with a newly created account.  I guess you are right, something is up at browser side. See my answer to @ggilmore

Hello @ggilmore
1. No, we connect using HTTP only.
2. We directly expose the container port and it did not change from `2.8.9` to `3.1.1`.
3. We do not have this property set in `sour

[2019-02-28 17:42] ryan-blunden opened #2490 "User doesn't know if their browser supports system theme"
- **Sourcegraph version:** sourcegraph.com
- **Platform information:** macOS, Chrome 72.0.3626.109

![screenflow](https://user-images.githubusercontent.com/133014/53586462-14d41d00-3b3d-11e9-9b66-31987da7032a.gif)

[2019-02-28 18:10] felixfbecker commented on #2490
This is not supported yet in Chrome. Status "Intend to implement". See the CHANGELOG entry: https://github.com/sourcegraph/sourcegraph/blob/2262bac0ed4d95155db8c12638234aebe5ee8583/CHANGELOG.md#added

[2019-02-28 19:03] ijsnow commented on #2471
Hi @leoluk, I'd like to explain all the different configuration options for the Phabricator integration. I'm going to reference things by the prefix in the lists, otherwise all the occurences of "extensions" and "phabricator" will get confusing.

* (a) Phabricator settings for the native extension.
* (b) `phabricatorMappings` managed storage setting for the browser extension.
* (c) Phabricator ext

[2019-02-28 19:26] #2221 closed

[2019-02-28 21:02] jaredstehler commented on #60
sure, if this helps anyone:

[code]

[2019-02-28 22:03] ryan-blunden commented on #2490
If it doesn't work, it's a bug and although I appreciate it's in the CHANGELOG, It's unlikely users will refer to that when something doesn't work in Sourcegraph. I certainly didn't think to look there.

Can't we simply hide the `System` option in browsers (including older versions of Safari) that don't support it yet?

[2019-02-28 23:51] #2490 closed

[2019-02-28 23:59] nicksnyder opened #2492 "3.2 release plan"
# 3.2 Release (2019-03-20)

## At the start of the month (2019-03-01)

- [x] Choose dates/times for the steps in this release process and update this issue template accordingly. Note that this template references _working days_, which do not include weekends or holidays observed by Sourcegraph.
- [x] Add events to the shared Release Schedule calendar in Google and invite team@sourcegraph.com.

[2019-03-01 00:27] nicksnyder opened #2494 "Remove gitserver .git directory migration"
The issue experienced in https://github.com/sourcegraph/sourcegraph/issues/2044#issuecomment-467274490 only happened because we changed the directory structure of gitserver at one point and added a migration to the codebase. This migration is probably no longer necessary and can be removed.

https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/blob/cmd/gitserver/server/migrations.go#L10:18

[2019-03-01 00:35] ryan-blunden commented on #2490
This is an improvement but why would we let the user select something if it's not going to work? If it was something vital to Sourcegraph's functionality and existed because the user was on an unsupported browser version, fair enough, but I'd rather see progressive enhancement used, not graceful degradation.

I appreciate that you're adding support for something new (really new) which brings compl

[2019-03-01 05:03] peter-grainger commented on #60
👍 @jaredstehler

[2019-03-01 08:04] keegancsmith opened #2496 "gitserver: Remove handling of old directory layout"
Previously we had bare repos at `$repo_name`. We migrated to `$repo_name/.git` to allow child repos. All instances have migrated (see https://github.com/sourcegraph/sourcegraph/issues/2494), so we can now clean up the code and only handle the `$repo_name/.git` paths.

[2019-03-01 09:24] felixfbecker commented on #2490
It's more contrived. There's four stored states to handle: no setting, system, light and dark. In the case of no setting it defaults to system. If system is not supported, it will act as light (but once your browser adds support, it will adapt). The preference is persisted in local storage.

So we can either
1. Migrate no setting/system settings to light. This means it won't start adapting once th

[2019-03-01 11:26] felixfbecker opened #2512 "Frontend always sends Cache-Control: no-cache"
Every URL under a Sourcegraph instance is responded to with the HTTP header
[code]
This is especially bad for the raw API, and it causes Cloudflare to never cache (even with a page rule), which in turn causes it to use chunked encoding and swallow the `Content-Length` header (#2467).
Also especially in the raw API when giving a commit hash the archive is not only cacheable, but immutable.

It look

[2019-03-01 11:26] #2494 closed

[2019-03-01 16:18] KattMingMing opened #2513 "Update subscriptions page and link to from pricing"
Update https://docs.sourcegraph.com/admin/subscriptions to be more clear about 100 user pricing and link to it from pricing page.

[2019-03-01 17:46] beyang commented on #2227
The error is the following:
* The `authorization` field is set with `authorization.identityProvider.type` set to "oauth", which means "enforce permissions using a user's GitLab OAuth identity".
* There is no corresponding item in `auth.providers` (in the critical site config) that matches the GitLab URL, which means there is no way Sourcegraph has the user's GitLab OAuth identity.

[2019-03-01 18:35] KattMingMing opened #2514 "Unable to add Bitbucket Server repositories"
After adding an **External Service** for Bitbucket, repositories are unable to clone.

The list of repositories appears in the repositories view, but every repository shows an error that it is unreachable. Below is a sample error:

[code]

[2019-03-01 19:05] felixfbecker opened #2515 "Browser extension errors with Error Cannot read property 'title' of null when PR contains suggested change"
Visit a PR with a suggested change, e.g. https://github.com/sourcegraph/sourcegraph/pull/2258/files#r261230964

`getDeltaFileName()` will be called with the suggestion (wrongly assuming it is a code view) and will fail to find the file name on it.

![image](https://user-images.githubusercontent.com/10532611/53660008-375d5780-3c5d-11e9-80a3-7aa5f80fb6e0.png)

![image](https://user-images.githubuser

[2019-03-01 20:10] felixfbecker opened #2516 "File toolbar button tooltips are hidden off-screen when GitHub file toolbar sticks to top"
![image](https://user-images.githubusercontent.com/10532611/53663592-72b05400-3c66-11e9-85dc-2a7a4d5044dd.png)

[2019-03-01 20:17] felixfbecker opened #2517 "Browser extension is not stylelinted at all"
The script in client/browser runs stylelint on a non-existing folder `app`. If you lint the folder `src`, there are a lot of errors:

[code]

[2019-03-01 20:30] felixfbecker commented on #2512
@keegancsmith @slimsag 	thoughts?

[2019-03-01 21:58] nicksnyder opened #2520 "Sign-in issues on sourcegraph.com"
Users see "Error: Unknown Error" when attempting to sign in via username and password on sourcegraph.com

![image](https://user-images.githubusercontent.com/754768/53668946-4c6cc300-3c2a-11e9-995b-0a5ebd190dfa.png)

[2019-03-01 22:10] ryan-blunden commented on #2520
Only sourcegraph.com is experiencing issues. Self-hosted Sourcegraph instances are not affected.

[2019-03-01 22:50] nicksnyder commented on #2520
We discovered that logins started working after we disabled Cloudflare proxying. Unfortunately we were relying on Cloudflare for SSL and our own SSL cert is expired. Geoffrey is working to generate a new SSL cert for sourcegraph.com to end the p0 incident.

After we have sourcegraph.com working again without Cloudflare, we will investigate why Cloudflare proxying broke for us. It is unclear at thi

[2019-03-01 23:03] nicksnyder commented on #2520
We have our own certificate issued now and Cloudflare is disabled. Going to file a separate issue for figuring out what went wrong with Cloudflare caching.

[2019-03-01 23:03] #2520 closed

[2019-03-01 23:11] nicksnyder opened #2521 "Why did Cloudflare caching suddenly break sign-ins to sourcegraph.com?"
Figure out what caused https://github.com/sourcegraph/sourcegraph/issues/2520 to happen.

Situation:
- We have had Cloudflare caching enabled for while with no problems and we also rely on Cloudflare SSL proxying.
- This morning sign-ins (and sign outs) stopped working reliably. See https://github.com/sourcegraph/sourcegraph/issues/2520.
- We could not identify any Sourcegraph code, configuration,

[2019-03-02 00:15] nicksnyder commented on #2521
I have deleted the "Cache Everything" rule above and re-enabled caching for sourcegraph.com. The site seems to be behaving as expected so I am going to close this for now. It is still unclear why this suddenly stopped working this morning because there are no changes to this setting in the Cloudflare audit log (until I deleted it).

[2019-03-02 00:15] #2521 closed

[2019-03-02 03:37] sqs commented on #2480
Confirmed broken on Sourcegraph.com. It works on self-hosted instances.

[2019-03-02 05:46] #2480 closed

[2019-03-02 06:02] sqs commented on #2480
Merged and deployed fix, confirmed working on Sourcegraph.com now. Thank you, @bobheadxi!

[2019-03-02 12:58] felixfbecker commented on #2521
I think I am responsible for this - adding the rule was suggested to me by the Cloudflare support staff to fix #2467. I didn't realise when I added it that this would cause a problem with CSRF tokens and didn't see any issues in my own testing. Later in the evening when I read about the sign in fails I didn't think about my change. Sorry for the trouble.

[2019-03-02 22:33] #1720 closed

[2019-03-02 22:33] #1885 closed

[2019-03-02 22:33] #1912 closed

[2019-03-02 22:33] #2337 closed

[2019-03-02 22:33] #2369 closed

[2019-03-03 08:39] #2308 closed

[2019-03-03 10:01] #2451 closed

[2019-03-03 11:01] sqs opened #2544 "File tree loading indicator has poor spacing"
When the file tree is loading, the "Loading" text and indicator does not have any (or enough) spacing.

[2019-03-03 20:19] khoslaventures opened #2545 "Markdown Rendering: Empty link in badge renders incorrectly"
- **Sourcegraph version:** Sourcegraph.com
- **Platform information:** Web browser version

#### Steps to reproduce:

1. Go to [sourcegraph/javascript-typescript-langserver/-/blob/README.md](https://sourcegraph.com/github.com/sourcegraph/javascript-typescript-langserver/-/blob/README.md).
2. Noticed the Apache License 2.0 badge. It has an empty url around it so it renders the brackets and parenthe

[2019-03-03 20:34] KGmajor opened #2546 "Show compare buttons on the commits list."
#### Feature request description

It'd be helpful to add compare buttons to the commits listings to automatically send those commit SHA's to the compare tab. Right now you have to copy paste the commits you want to compare, when it'd be easier to select the comparisons when you're looking at all of the commits.

#### Is your feature request related to a problem? If so, please describe.

No problem

[2019-03-04 00:46] sqs commented on #2416
(For context, this was introduced by https://github.com/sourcegraph/sourcegraph/pull/2051.)

[2019-03-04 01:17] #2465 closed

[2019-03-04 03:29] vanesa commented on #2120
Closing since basic-code-intel is deprecated and we are now only using the typescript language extension.

[2019-03-04 03:55] vyzaldysanchez opened #2549 "Hover property references another instance's function(?)"
#### Question description

Is it OK for the tool to match a property/function that it's not related to the instance it's being access from? For example, I had some Laravel request, and when hovering a property which is suppose to come as part of the HTTP body, it links it to a model relation function:

<img width="587" alt="screen shot 2019-03-03 at 11 21 27 pm" src="https://user-images.githubuser

[2019-03-04 03:59] vanesa commented on #2120
Still happens locally.

[2019-03-04 04:20] chrismwendt opened #2550 "Browser extension: Ctrl+F hits disappear on mouse move"
- Visit https://github.com/sourcegraph/lsp-client/blob/0e43e0424e2a955983157929a03552c62b4a9770/src/test/integration.test.ts
- Ctrl+F for "mock"
- Move your cursor over lines that contain hits
- Notice the highlights disappear (I would expect them to remain)

![2019-03-03 20 05 02](https://user-images.githubusercontent.com/1387653/53709926-ac609680-3def-11e9-8af7-6c66fa122fa2.gif)

The hits become

[2019-03-04 07:03] felixfbecker commented on #2550
This was filed before, Chrome doesn’t re-search on DOM changes, which for me is one of the most annoying things about Chrome (just think about searching a page that uses infinite scrolling).

There were efforts by @ijsnow to not mutate the DOM but I think we never rewrote the code to use that implementation (it’s a fair amount of work).

[2019-03-04 09:48] #1686 closed

[2019-03-04 10:25] #1444 closed

[2019-03-04 10:25] #2516 closed

[2019-03-04 11:58] #2416 closed

[2019-03-04 12:03] sqs commented on #2549
This is a known issue and occurs because PHP is using heuristics for code intel, not a (precise) language server that builds and compiles the code. See the "Limitations" section at https://sourcegraph.com/extensions/sourcegraph/php. We have a PHP language server and plan to use it for precise code intelligence in the future.

Assigning to @chrismwendt 	to see if there is any general, heuristic-bas

[2019-03-04 12:58] tsenart commented on #2227
@attfarhan: I suspect that this is a frontend issue introduced here https://github.com/sourcegraph/sourcegraph/pull/2033

I'm seeing weird behaviour where the frontend returns an error like this, as logged in the `asError` function:

[code]

But the UI either just ignores the error and shows "Updated", or some other times it keeps spinning the in an "updating" state.

[2019-03-04 13:00] tsenart commented on #2227
Also, cc @felixfbecker for visibility, since you were involved in that PR.

[2019-03-04 13:49] sqs opened #2551 "Cross-repo basic Go refs appear when "Show refs from other repos" is off"
On current master using the current sourcegraph/go extension (in basic mode, with no language server set) and ` "go.showExternalReferences": false,` in my settings on localhost, I still see references from other repositories.

The toggle **Show references from other repositories** is misleading because I am already seeing references from other repositories. Clicking it toggles the label of the act

[2019-03-04 15:56] sqs commented on #2545
Thanks for reporting. Our Markdown rendering (using Go's blackfriday package) has some other bugs, too, with code blocks and tables.  We need to fix these issues, and it'll likely require upstream patches (or using a different Markdown package).

[2019-03-04 15:58] sqs commented on #2546
This is a great idea. Thanks!

[2019-03-04 16:04] sqs commented on #1759
Reassigning to @ijsnow 	because this is search related, and @ijsnow 	is working on search backend. (If you disagree, feel free to reassign it back.)

@ijsnow Because #2081 says "The rest of the search issues in the milestone can be prioritized after the above issues are done.", I am adding this to the 3.2 milestone and labeling it with `search`. This issue is more important than those described by

[2019-03-04 16:20] nicksnyder commented on #1759
Let's avoid phrases like `The rest of the search issues in the milestone can be prioritized after the above issues are done.` in tracking issues in the future. It encourages packing more things into the milestone than are possible. If something is expected to get done then it should be explicitly enumerated in the tracking issue, otherwise it should be backlog.

[2019-03-04 16:59] felixfbecker commented on #2227
This needs to be followed up upon by keeping the refactor and making real fix

[2019-03-04 17:03] nicksnyder commented on #2227
@felixfbecker or @attfarhan please file a new issue to track the work that needs to be (re)-done.

[2019-03-04 18:15] KattMingMing opened #2559 "Unclear or missing documentation for adding TLS to Sourcegraph language server extensions"
After deploying a Sourcegraph instance and following the documentation for the Typescript language server, it was unclear how to add TLS to the language server.

The documentation can be found here: https://sourcegraph.com/extensions/sourcegraph/typescript

There's minimal information TLS in the documentation:

A couple questions (cc/ @chrismwendt and @felixfbecker ):
- Is the mention of TLS speci

[2019-03-04 18:19] KattMingMing opened #2560 "Browser extension breaks styles on GitLab v10.8.7"
The Sourcegraph browser extension breaks the GitLab header on v10.8.7. See screenshot below:
![gitlabsourcegraphextissue](https://user-images.githubusercontent.com/4897310/53753765-e4ef8700-3e66-11e9-9681-e9ee0c20ea34.png)

[2019-03-04 18:28] attfarhan opened #2561 "Re-implement external service updating UI refactor without regression"
https://github.com/sourcegraph/sourcegraph/pull/2033 was reverted because it introduced https://github.com/sourcegraph/sourcegraph/issues/2227.

- [ ] Un-revert the refactor
- [ ] Include the fix for #2227
- [ ] Ensure flicker doesn't occur https://sourcegraph.slack.com/archives/C89KCDK5J/p1551729690002800?thread_ts=1551729492.002200&cid=C89KCDK5J

[2019-03-04 18:28] chrismwendt commented on #2549
Here's a relevant idea from https://github.com/sourcegraph/sourcegraph/issues/2298

I think it can actually work, but will take a while to fully research and prototype.

[2019-03-04 19:29] beyang opened #2562 "Handle GitHub repositoryQuery that has more than 1000 results"
GitHub's Search API will return at most 1000 results. This issue tracks discussion on how to solve this as well as the implementation of the solution. This is a blocker of some broader work we are doing on repository syncing https://github.com/sourcegraph/sourcegraph/issues/2025

[2019-03-04 19:29] beyang commented on #2562
@felixfbecker any ideas here?

[2019-03-04 20:22] slimsag commented on #2068
I know this is a tracking issue, but since I have no action items here I am unassigning myself to reflect that. Add me back if there is clear work I need to do here.

[2019-03-04 20:23] slimsag commented on #2069
I know this is a tracking issue, but since I have no action items around activation flow I am unassigning myself to reflect that. Add me back if there is clear work I need to do here.

[2019-03-04 20:55] francisschmaltz commented on #554
@felixfbecker I just tried to implement this but it was way more involved than I thought/it should be. Can you work out a solution for this?

[2019-03-04 20:56] francisschmaltz commented on #323
This issue has been resolved.

[2019-03-04 20:56] #323 closed

[2019-03-04 21:10] slimsag commented on #2259
Hi @ruhullahshah -- Apologies that we still haven't been able to reproduce this or find the cause on our end..

The fact that this works with an incognito window definitely indicates that _somehow_ the cookies currently in your browser are not compatible with 3.1 -- so clearing browser cookies should resolve the issue for a single user machine -- but we aren't aware of any changes that could have

[2019-03-04 21:14] chrismwendt commented on #2559
Our docs are lacking in this area. I think it's in part because I haven't set up any language server in the same way a customer would (behind an auth proxy), let alone documented it.

If it's ok for the communication between the auth proxy and language server to be unencrypted, then I don't think it's necessary to set up TLS for the language server.

No, it applies to Docker, too.

I think it will

[2019-03-04 21:18] #2551 closed

[2019-03-04 23:04] ijsnow commented on #2562
The problem is that the repository's mirror isn't always there. I suspect this has to do with the customer's mirroring system in between GHE and Sourcegraph

[2019-03-05 00:22] sqs commented on #2560
@lguychard If this occurs on GitLab.com, it’s a high priority (3.2). Otherwise it can wait.

[2019-03-05 00:26] khoslaventures opened #2567 "Incorrect examples on Sourcegraph.com Search"
- **Sourcegraph version:**  Sourcegraph.com

#### Steps to reproduce:

1. Go to [sourcegraph.com/search](https://sourcegraph.com/search)
2. Click one of the examples, like "Popular NPM packages". You'll see it has `repogroup` used twice in query.

#### Expected behavior:
![image](https://user-images.githubusercontent.com/8366960/53772099-0158e700-3e9a-11e9-8ec8-e5594d310d8d.png)

#### Actual behav

[2019-03-05 00:28] KattMingMing opened #2568 "Add Fargate install docs for Sourcegraph"
A user requested documentation for how to install Sourcegraph via Fargate.

[2019-03-05 00:46] ryan-blunden commented on #2568
It's definitely doable and is something that could be prioritized for 3.3.

This would only be available to enterprise customers because though because Fargate are designed to be stateless, therefore requiring an external PostgreSQL instance.

[2019-03-05 02:13] joshma commented on #2568
(I'm the user who mentioned Fargate support would be nice.) To confirm, an external DB instance is only available on enterprise, even if we're self hosting? I was hoping to hook it up to an RDS instance. Is the Redis instance just for caching (is it okay for it to be destroyed from time to time)? Can we host it via a second container?

[2019-03-05 03:11] sqs commented on #2568
Yes, an external DB is an a enterprise feature because we’ve found that it is a strong indicator that a company is using it in production at large scale with large company-esque needs, which is where we think it’s fair to charge. If this doesn’t describe your situation, just drop us an email (or explain here if you want) and we’ll see what to do.

[2019-03-05 03:11] nicksnyder commented on #2512
No-cache sounds like a good default policy for api endpoints in general so it seems like we would just want a way to override this on the raw endpoint.

[2019-03-05 05:10] slimsag commented on #2512
I agree, we just need to override this in places where we do want caching. In all other locations, no-cache is the sane default. i.e. just add:

[code]

To the HTTP handler where we want caching.

We need to be careful about auth though, there are some confusing factors at play here. e.g. the raw endpoint accepts cookie auth, so it also goes through the CSRF middleware, which means it sometimes(?)

[2019-03-05 06:17] joshma commented on #2568
Hm, for us it's not about scale, but operational costs - a multi-az t3.small RDS instance with 35-day backup is about $50-$60/mo, and that means I don't need to operate a special instance that folks on the team need special knowledge about (SSH-in, docker pull, be sure to not terminate this because the DB goes away with it, let's start taking EBS snapshots as a backup...).

Running this on somethi

[2019-03-05 06:43] keegancsmith commented on #2514
@KattMingMing which version of bitbucket server, and any chance they can share the configuration with secrets redacted?

[2019-03-05 06:51] chrismwendt opened #2569 "Raw API: 500 when fetching kubernetes/kubernetes"
- Visit https://sourcegraph.com/github.com/kubernetes/kubernetes@4b1282d9258e13791970a20395df4a6ec2613856/-/blob/cmd/kube-proxy/app/server.go#L236:24 to trigger the language server to fetch `curl -H 'accept: application/zip' https://a2e77a474d18f55f7971f024a2e25c38ef55af09@sourcegraph.com/github.com/kubernetes/kubernetes@4b1282d9258e13791970a20395df4a6ec2613856/-/raw`
- Notice an error in the brow

[2019-03-05 07:09] chrismwendt opened #2571 "Fall back to basic code intel if hover/def takes too long"
Sometimes it takes 10+ seconds for a hover to appear on moderately-sized repos (especially immediately after opening a file). A couple of examples:

- 8s to initial hover for TypeScript https://sourcegraph.com/github.com/sourcegraph/codeintellify@1936b9668f7f622f71d21670e224d1c2b9b84449/-/blob/src/hoverifier.ts#L455:82
- 11s to initial hover for Go https://sourcegraph.com/github.com/sourcegraph/so

[2019-03-05 08:11] attfarhan commented on #2227
Reverting my commit, which @tsenart did in https://github.com/sourcegraph/sourcegraph/commit/1ba5cf684eaeffa14d29ea36ddaf1c6f168949d1, fixed the problem where errors for invalid configuration did not appear.

However, following Beyang's repro steps above, the log message `Repository authz config was invalid (errors are visible in the UI as an admin user, you should fix ASAP). Restricting access to

[2019-03-05 10:51] lguychard commented on #2560
This does not happen on gitlab.com

![image](https://user-images.githubusercontent.com/1741180/53800283-ab894b00-3f3c-11e9-930b-75ccfe15185c.png)

Gitlab 10.8.7 is a security release from July 2018, the current version of gitlab is 11.8.

Backlogging, to be prioritised after 3.2.

[2019-03-05 11:11] keegancsmith opened #2572 "Do not drop search indexes and repo clones as soon as repo is deleted"
Give some time before removing in case the admin makes a mistake. This is to prevent unnecessarily recomputing indexes.

Additionally we should do the same logic for gitserver clones.

Proposed solutions: Do not delete until repo has been removed from the repos table for 1 hour.

[2019-03-05 11:18] keegancsmith opened #2573 "Dry-run external service configuration before saving"
When saving an external service we call `repoupdater.DefaultClient.SyncExternalService` with the configuration. However, we only do that once we have updated or created the external service in the DB. This is meant to trigger syncs of valid configurations. However, a user may put in incorrect values / unexpected queries resulting in errors or unexpected repos synced.

Adding an endpoint which does

[2019-03-05 12:05] keegancsmith opened #2574 "Removing enabled/disabled for synced repositories"
In the new repository syncer (#2025) we no longer will have an enabled/disabled state. Additionally, only the syncer will control deletion of repositories. As such we need to update the UI to:

- Remove enable/disable/deletion actions for Github repositories.
- Educate admins to update external service configuration.

For the short-term proposals below we would like to ship these changes in 3.2 si

[2019-03-05 12:05] keegancsmith commented on #2574
@sqs assigned to you to make product decisions / re-assign.

[2019-03-05 12:49] #2228 closed

[2019-03-05 14:37] keegancsmith opened #2577 "Set timezone in pgsql sessions to UTC"
Frontend and management-console need to force the UTC timezone.

[2019-03-05 15:45] KattMingMing opened #2579 "Sign sourcegraph/server docker images"
Users / companies may only want/have permission to run signed docker images. Our images are currently unsigned which isn't a major issue for most users since content trust is disabled by default. Users can enable it via `DOCKER_CONTENT_TRUST=1`.

Signing images could be done in a similar way to Mongo. `latest` is unsigned, but tagged releases are signed.

See Docker documentation for more details

[2019-03-05 16:20] KattMingMing opened #2580 "Unable to search on Sourcegraph.com using repo keyword"
Currently seeing this frontend error when trying to search on Sourcegraph.com with a `repo` keyword.

<img width="1792" alt="screenshot 2019-03-05 08 19 01" src="https://user-images.githubusercontent.com/4897310/53819750-60147400-3f1f-11e9-9bb6-d900130c13e1.png">

[2019-03-05 17:00] ijsnow commented on #2580
Rolled back to a new version and reverted the guilty commit

[2019-03-05 17:00] #2580 closed

[2019-03-05 17:09] shkleinik commented on #2514
We are using latest version (6.1). I can suggest that you are looking for external resources config, here it is:

[code]

[2019-03-05 17:37] AlmightyOatmeal opened #2583 "DigitalOcean marketplace deploy doesn't work"
After deploying a droplet from the DigitalOcean marketplace ( https://cloud.digitalocean.com/marketplace/5bc7b27f916ddf7e7c2321fc?i=2556fc ), the resulting droplet is not running apache nor nginx, nothing is running, nothing is installed. Instructions say to visit the droplet IP address and setup an account but without anything running nor installed then it is a little difficult. It just results i

[2019-03-05 18:27] francisschmaltz commented on #2583
@AlmightyOatmeal Just tested on my own personal account and confirmed it deployed correctly. Can you try again and report back 

[2019-03-05 18:28] KattMingMing commented on #2583
@AlmightyOatmeal - Thanks for reporting. I just went ahead and deployed a new Sourcegraph instance from the link you included in the description. I noticed that DigitalOcean had a status update so possibly related to that.

The steps I followed:
1) Click **Create Sourcegraph Droplet**
2) Click **Standard** from Choose a Plan
3) Select a size
4) **Click create**

[2019-03-05 18:51] sqs opened #2585 "No TS references found for something that has references"
When I "Find references" on `OrgAccountSidebar` in `<OrgAccountSidebar ...` at https://sourcegraph.com/github.com/sourcegraph/sourcegraph@1ba5cf684eaeffa14d29ea36ddaf1c6f168949d1/-/blob/web/src/org/account/OrgAccountArea.tsx#L46:14&tab=references, it  reports "No locations found":

![image](https://user-images.githubusercontent.com/1976/53829183-8509f500-3fba-11e9-9ca0-0a47ae5938a3.png)

But I kno

[2019-03-05 19:10] sqs opened #2586 "Repository language is not updated anymore"
In https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/commit/0a137981f3628128a3952cb1ea79681ac3e5f7bf we removed the code that updated the `repo.language` DB column, so GraphQL-querying `Repository.language` will return empty for newly added repositories (and the previous, possibly stale language for repositories that existed before that commit).

[2019-03-05 19:13] sqs opened #2587 "Expose full repository languages/file types inventory via GraphQL"
##  Backend
Each repository has a full "inventory", which is the result of processing all of its files, determinining their languages, and counting bytes of each language/file type. This is not exposed in  GraphQL; only the top language is exposed (via `Repository.language`). We should expose the full inventory so that API consumers can see all of the languages in use in the repository.

Also, it

[2019-03-05 19:21] ryan-blunden opened #2588 "Remove absolute links in documentation to docs.sourcegraph.com"
Determine which links must remain absolute and convert the rest - https://sourcegraph.com/search?q=repo:%5Egithub%5C.com/sourcegraph/sourcegraph+file:doc/+lang:markdown+docs.sourcegraph.com

[2019-03-05 19:41] #2063 closed

[2019-03-05 19:51] tsenart commented on #2586
/cc @keegancsmith, we bumped into a missing `language = $8` part in [this query](https://github.com/sourcegraph/sourcegraph/blob/master/cmd/frontend/db/repos.go#L590) today and were wondering...

[2019-03-05 19:59] tsenart commented on #2586
Looking at history, it seems it never was set in that query. It was set with `repos.UpdateLanguage`, which I think stopped being called in [this PR](https://github.com/sourcegraph/sourcegraph/pull/584/files#diff-1167f49285cd564ecdab1a422ff7ffc3L91)

[2019-03-05 20:05] tsenart opened #2591 "Repository listing page has too much indentation."
![image](https://user-images.githubusercontent.com/67471/53834431-3b55e600-3f8b-11e9-9b63-6cca4e9228df.png)

[2019-03-05 21:10] ggilmore commented on #2068
After discussion with @nicksnyder, I am prioritizing https://github.com/sourcegraph/sourcegraph/issues/2579 and https://github.com/sourcegraph/infrastructure/pull/1336 over this issue. The above checklist is still indicative of what needs to be done (most of which @ryan-blunden has already tackled).

[2019-03-05 21:18] ggilmore commented on #2019
Due to some higher priority issues that came up, I am worried that this is at-risk of not shipping in 3.2. I plan to discuss this with Beyang tomorrow.

[2019-03-05 21:49] nicksnyder commented on #2125
Reopening since the fix was reverted.

[2019-03-05 21:49] chrismwendt commented on #2452
@sqs Do you have a link for this?

[2019-03-05 21:57] nicksnyder opened #2592 "Diff results are not syntax highlighted"
Go to https://sourcegraph.com/search?q=r:sourcegraph/+type:diff+author:nick

I don't see diff or syntax highlighting on results:
![image](https://user-images.githubusercontent.com/754768/53840280-91586880-3f4e-11e9-982a-00c7274c37dd.png)

I could have sword that this was working last week so it feels like a recent regression.

[2019-03-05 22:26] #893 closed

[2019-03-05 22:26] #433 closed

[2019-03-05 22:26] #1111 closed

[2019-03-05 22:29] sqs commented on #2592
My markdown changes to remove our docsite markdown may have broken this. I thought I tested it but it may have been before another change of mine that broke it again. @attfarhan I think it’s best for you to fix it now though.

[2019-03-05 22:46] francisschmaltz commented on #23
@sqs Where did we land with https://github.com/sourcegraph/enterprise/issues/10316#issuecomment-375221191 ?

[2019-03-05 22:46] francisschmaltz commented on #23
Duplicate of https://github.com/sourcegraph/sourcegraph/issues/23

[2019-03-05 22:46] #23 closed

[2019-03-05 22:48] francisschmaltz commented on #214
@beyang It looks like support was added https://github.com/fossas/fossa-cli/issues/234#issuecomment-436016038 Can we prioritize or fix this?

[2019-03-05 22:49] francisschmaltz commented on #135
This is resolved with our new home page design living on Sourcegraph.com/welcome

[2019-03-05 22:49] #135 closed

[2019-03-05 22:55] francisschmaltz commented on #109
I believe this issue was resolved by, if not before, commit
https://github.com/sourcegraph/sourcegraph/commit/d3ca5fee72e9bdb8bccc528b276ed112ec53938e. @cncook001 If this is still an issue please reach back out.

[2019-03-05 22:55] #109 closed

[2019-03-05 23:05] nicksnyder commented on #2591
This is a regression since 3.1. I am going to git bisect to see if I can identify the commit.

[2019-03-05 23:08] francisschmaltz commented on #618
@beyang Okay to close with GitLab and GitHub Auth integration?

[2019-03-05 23:10] felixfbecker commented on #2144
Yet another issue: https://github.com/sourcegraph/sourcegraph/issues/2592

[2019-03-05 23:11] francisschmaltz commented on #580
@stephenh In Sourcegraph 3.0, [auth providers](https://docs.sourcegraph.com/admin/config/critical_config#authentication-providers) are now set [management console](https://docs.sourcegraph.com/admin/management_console) so this shouldn't be an issue moving forward.

[2019-03-05 23:11] #580 closed

[2019-03-05 23:17] #2592 closed

[2019-03-05 23:40] nicksnyder commented on #2574
My proposal:
- Repo Listing Page: remove the "enable/disable" button.
- Repository option page
  - short term: replace this page with an explanation of external services (remove delete/disable buttons)
  - longer term: add button to jump to configuration of external service that provides this repo

[2019-03-05 23:47] nicksnyder commented on #2591
This regressed in https://github.com/sourcegraph/sourcegraph/commit/d42ed0fc19e22603abb2a4358d257dcb2e8b77fb

Assigning to @chrismwendt .

[2019-03-05 23:48] chrismwendt commented on #2591
Ah, looks like I missed a CSS selector somewhere. Looking now.

[2019-03-05 23:50] chrismwendt opened #2595 "Add HTTP basic auth to language servers"
All customers that I know of only deploy language servers inside a VPN, but it would be useful for the language servers to support HTTP basic auth for both the case when they're accessible from the Internet and for additional security.

Tech sketch:

- [x] Add docs for requiring HTTP basic auth to language servers through nginx https://github.com/sourcegraph/sourcegraph-go/pull/37 (TODO move to so

[2019-03-05 23:55] slimsag commented on #2144
#2369 is resolved, so we can prioritize this work whenever.

The implementation should be adapting your existing work @felixfbecker in the docsite, but using `pkg/highlight.Code` instead of the other syntax highlighter you pulled in. After that, we will have a good/proper implementation of highlighting for markdown snippets. Given you were able to do that, I assume the work will be straightforward

[2019-03-06 00:02] ijsnow opened #2598 "Run E2E tests against sourcegraph.com"
It would be nice to be able to run e2e tests for the web app against sourcegraph.com. Currently, we can only run them against localhost (or any **new** instance). A complete solution would also run e2e tests against sourcegraph.com periodically, as opposed to just when something new is checked in in CI.

My assumption was that this would not be very much work. I tried solving this in a PR that add

[2019-03-06 00:02] slimsag commented on #11
We have the raw file API endpoint that language extensions are using to fetch files now. e.g.:

https://sourcegraph.com/github.com/sourcegraph/sourcegraph@c9052a12c433916bc17389d79510d8f21c9eed22/-/raw/ui/assets/img/bg-hero.png

To fix this we would need to:

1. Return the proper content-type for a strict subset of images (e.g. not allowing images like SVGs which may contain dangerous scripts), pr

[2019-03-06 00:03] ryan-blunden commented on #2144
Have we considered using something like [highlight.js](https://highlightjs.org/)?

[2019-03-06 00:04] ryan-blunden commented on #2559
I'll take ownership of this as part of improving the docs for 3.2

[2019-03-06 00:05] slimsag commented on #2595
We also will have to advise HTTPS btw, else that password can be stolen easily.

[2019-03-06 00:10] slimsag commented on #2144
Back when I investigated syntax highlighting, we found highlight.js to be very slow and since it doesn't use standard syntax highlighting files (most syntax highlighters unfortunately do not), it doesn't support many languages. So we can't use it for highlighting of regular files.

It may be fine for highlighting markdown snippets (we use it for highlighting hover tooltips, too), but we already do

[2019-03-06 00:11] ryan-blunden commented on #2144
Gotcha! Thanks.

[2019-03-06 00:11] slimsag commented on #2144
I did a small writeup of this a few months back, if anyone is interested: https://news.ycombinator.com/item?id=17932872

[2019-03-06 00:20] #2561 closed

[2019-03-06 00:26] attfarhan opened #2599 "External services form UI shows wrong copy when invalid external svc is created"
From https://github.com/sourcegraph/sourcegraph/pull/2570#issuecomment-469646852

1. Create an external service with a failing config. So valid from a JSON schema perspective, but invalid from the repo-updater syncing perspective. Example: bad token.
1. Add it.
1. The UI responds with an error message prefix: warning: external service created, but sync request failed.
1. The UI still doesn't belie

[2019-03-06 00:27] attfarhan opened #2600 "Show yellow banner for external service warnings"
From https://github.com/sourcegraph/sourcegraph/pull/2570#issuecomment-469646852:

Perhaps it makes more sense to show a yellow banner when an external service is created, but the sync step fails.

[2019-03-06 01:33] francisschmaltz commented on #1269
@KattMingMing is this still an issue or okay to close?

[2019-03-06 01:34] sqs commented on #2574
For SiteAdminRepositoriesPage repository items, RepositoryErrorPage, and RepoSettingsOptionsPage, I was thinking that there would be 2 variants:

- One variant for repositories synced by the "new repository syncer", which is kept up-to-date with config and has no enable/disable concept (i.e., GitHub repositories in 3.2): similar to what was said above, removing the enable/disable button, adding a

[2019-03-06 01:39] #648 closed

[2019-03-06 02:14] beyang commented on #2595
Would a user then have to manually navigate to `https://$LANG_SERVER_URL` to enter in the basic auth password? I think a much better solution would be to have Sourcegraph serve as auth proxy (see "Auth proxies" here: https://github.com/sourcegraph/security-issues/issues/11).

[2019-03-06 02:47] slimsag commented on #2595
I haven't had a chance to read the issue you linked yet, but the answer to your question is:

No, the site admin would set the `go.serverUrl` to contain a shared basic auth password which provides access to the langserver. There are some obvious risks with this approach (that the password is shared) so it is definitely worth considering your suggestion here instead.

[2019-03-06 02:50] sqs commented on #849
This is broken in 2 cases:

1. When the package name is not equal to the repository name on Sourcegraph (i.e., when the package is using a Go custom import path or some non-github.com/gitlab.com/bitbucket.org import path)
1. When the badge is expected to return consumers of all subpackages, not just the top-level package (such as for https://github.com/go-kit/kit)

The relevant code is https://sou

[2019-03-06 05:19] vanesa commented on #1950
@francisschmaltz any update on the style guide?

[2019-03-06 06:30] sqs commented on #214
@francisschmaltz 	We can, but I don't see it as a priority right now.

[2019-03-06 06:32] sqs commented on #23
@francisschmaltz: We are all set with respect to DMCA Safe Harbor, so there are no copyright concerns with serving raw files.

[2019-03-06 06:34] sqs commented on #554
This is not a priority right now (relative to the other things people are working on).

[2019-03-06 06:39] sqs commented on #2568
@joshma 	Thanks for the context. Makes sense. @KattMingMing will follow up over email.

[2019-03-06 07:15] sqs commented on #1269
This is still an issue, but fixing it is low priority.

[2019-03-06 07:27] sqs commented on #2600
It sounds like @keegancsmith 	intended to do this for 3.2, so I am adding it to 3.2.

[2019-03-06 07:43] muffl0n commented on #2514
Same for me with Bitbucket Server 5.16.0. Using "username/password" works, though.
Additionally I do not get an error message when specifying an invalid configuration:
[code]

[2019-03-06 07:46] sqs commented on #2562
The customer reported that the problem (from the logs) is that GitHub Enterprise only returns the first 1000 search results for a repositoryQuery like `org:myorgname` if `myorgname` has more than 1000 repositories visible to the access token's user:

[code]

@keegancsmith 	I believe you brought this up as a possible problem with repositoryQuery. Do you have any ideas for a workaround? My ideas are

[2019-03-06 07:51] #2591 closed

[2019-03-06 08:02] keegancsmith commented on #2599
Its not just wrong copy, you can continue to press create and it will keep creating a new copy of the service each time.

[2019-03-06 08:02] vanesa commented on #1363
This is still happening. Currently working around it by adding a timeout to the decorations:
```setTimeout(() => editor.setDecorations(decorationType, decorations), 200)```

[2019-03-06 08:06] sqs commented on #1363
I think there is a better workaround now thanks to @lguychard's recent #2071, which added things like [activeWindowChanges](https://sourcegraph.com/github.com/sourcegraph/sourcegraph@b423e8380eedb5b104bda16136569bc74f77eaf3/-/blob/packages/sourcegraph-extension-api/src/sourcegraph.d.ts#L656).

[code]

instead of

[code]

[2019-03-06 08:13] chrismwendt commented on #2595
There are 3 valid approaches:

- HTTP basic auth in each language server (advocated for by @sqs)
- HTTP basic auth in nginx config (advocated for by @keegancsmith)
- Auth proxy via Sourcegraph (advocated for by @beyang)

I don't have much of a preference from the implementation perspective. What are other people's thoughts (pros/cons of each)?

[2019-03-06 08:19] b-j-p opened #2607 "canonical search"
#### Feature request description

I wish I could make something like the following search from the primary search page:

```componentDidMount |* js```

Think of this search as piping a very basic query into a "javascript canon," as defined by Sourcegraph. I am piping an exact match query in this case, but it might be a type:symbol or a regex query as well.

Such canons might be compiled for each l

[2019-03-06 08:28] sqs commented on #2595
I think HTTP Basic auth in nginx config is best for the following customer and product reasons:

- Using HTTP Basic auth in nginx config would be great because it could reuse Sourcegraph's own TLS config. (Setting TLS up for lang servers is a pain; we've heard this from customers.) Would we recommend customers configure subpaths (or other ports) on their Sourcegraph external URL to point to their

[2019-03-06 08:38] keegancsmith commented on #2562
Alternatively we disallow queries with a `sort:`. Then we can always sort by created + paginate by created if we hit this issue. Otherwise we always sort by updated-at desc since we generally like to clone repos by the most recent first.

Another thing to note in the new syncer that returning full result sets is a requirement. Alternatively we could operate in a degraded mode where we never delete

[2019-03-06 08:43] sqs commented on #2567
I propose the following limited workaround to make the workflow described above (click a scope on the homepage on Sourcegraph.com) work:

- On Sourcegraph.com, if the query input contains `repogroup:sample` and the user clicks a scope that would result in the addition of any `repogroup:` token, remove   `repogroup:sample` from the query when adding the scope's value to the query.

This is actually

[2019-03-06 08:51] keegancsmith commented on #2574
@sqs this is implementable. Our change supports having only github on the new syncer and all others the old style. Next milestone we will have all codehosts on the new syncer.

[2019-03-06 09:02] keegancsmith commented on #2514
Thanks for the updates. Our internal version of bitbucket is down. Likely from when we transitioned infrastructure (cc @ggilmore). I am busy fixing that, then will try reproduce.

[2019-03-06 09:06] muffl0n commented on #2514
If there's anything I can provide (maybe logfiles?) please let me know!

[2019-03-06 09:14] #790 closed

[2019-03-06 10:06] slimsag commented on #2514
I ran into this earlier today. Here is a workaround which fixes the issue:

[code]

Let me know if that works for you @muffl0n

---

The "bug" here is that when using a `token` we should always require a `username` field to also be set, after all -- we use that in our code! But for some reason it has been marked in the schema as _not allowed_ when specifying a `token` and it'll forbid you from sav

[2019-03-06 10:16] felixfbecker commented on #1363
@vanesa I think you missed @lguychard’s question earlier:

As long as the code contains the ! operator it is acessing a property of something that is possibly undefined and it is expected that the code may fail. @vanesa does this issue still happen if you get rid of all ! casts?

[2019-03-06 10:25] muffl0n commented on #2514
Works like a charm! Thank you for the workaround!

[2019-03-06 10:43] lguychard commented on #1363
The casts were an issue, but regardless the extension used to rely on `onDidOpenTextDocument`, and should be refactored to use `activeWindowChanges` / `activeEditorChanges` to reliably react to changes in the active editor & decorate it.

[2019-03-06 10:52] tsenart commented on #2514
@slimsag: Can we file an issue to fix that JSON schema?

[2019-03-06 12:00] tsenart commented on #2562
How would we ensure there's a stable order between contiguous sub-queries?

[2019-03-06 12:06] tsenart commented on #2562
Just for the record, can we re-iterate what validated use-cases we have that require us to rely on the search API instead of just listing all repos via the normal API and filtering on our side?

[2019-03-06 12:44] tsenart commented on #2586
@sqs: Did you add this to the 3.2 milestone purposefully or is this meant to be in the backlog?

[2019-03-06 13:21] felixfbecker commented on #1363
I believe there is no bug in the extension host here - if this issue still happens without any `!` cast, please reopen.

[2019-03-06 13:22] #1363 closed

[2019-03-06 13:23] keegancsmith opened #2609 "repo-updater: Use ID in scheduler instead of name"
Right now the scheduler is keyed by name, leading to it not detecting renames from the syncer. We should use an ID (internal or external) instead.

[2019-03-06 13:54] jcchavezs opened #2610 "Adds support for Zipkin"
#### Feature request description

Currently the code only supports reporting to jaeger or lightstep. We need also support for zipkin or even better, have the tracer injection a middleware so we can plug different tracers.

#### Describe alternatives you've considered.

There is an opentracing zipkin library but it does not work for Zipkin V2 format.

#### Additional context

Having a pluggable tra

[2019-03-06 14:07] felixfbecker opened #2611 "Irregular margin on search results"
![image](https://user-images.githubusercontent.com/10532611/53886955-76a2f400-4021-11e9-83b5-e6f791aa67cb.png)

Would expect the margin between alert and first result to be the same as between results.

[2019-03-06 14:16] keegancsmith commented on #2600
@sqs this is part of the frontend UI changes we depend on for repo updater work. Who is the most appropriate person to own it?

[2019-03-06 18:01] francisschmaltz opened #2613 "When system theme isn’t supported we should default to light theme instead of showing an error"
When the system theme isn’t an option we should default to light theme and then only show the error if the user tries to manually select it. It shouldn’t be possible to select it on browsers that don’t support this feature.

![img_0108](https://user-images.githubusercontent.com/11583013/53902761-c7e9be00-3ff6-11e9-9497-446921f9b8e4.jpeg)

[2019-03-06 18:07] felixfbecker commented on #2613
Please see #2490. Closing for now.

[2019-03-06 18:07] #2613 closed

[2019-03-06 18:25] lguychard commented on #1174
@chrismwendt reassigning to you since you'll be working on this

[2019-03-06 18:26] chrismwendt commented on #1174
@lguychard Ah, thanks! I've been looking for this issue. Linking to https://github.com/sourcegraph/sourcegraph/issues/2452

[2019-03-06 18:48] sqs commented on #2586
I added it to 3.2 and assigned to myself as I planned to find someone to work on it in 3.2. When you guys assigned it to yourself I assumed you planned to fix it in 3.2. Since it sounds like you don’t, I will reassign it to myself to figure out how to get it fixed in 3.2.

[2019-03-06 18:59] nicksnyder commented on #1174
Should this be moved into the 3.2 milestone?

[2019-03-06 18:59] chrismwendt commented on #1174
@nicksnyder Yup, moved.

[2019-03-06 19:02] slimsag commented on #2514
@tsenart Why file a separate issue for that? It is the sole cause of *this* issue

[2019-03-06 19:23] ryan-blunden opened #2614 "Cannot view docs locally with multiple versions"
The code snippet in the [previewing local changes section](https://docs.sourcegraph.com/dev/documentation/site#other-ways-of-previewing-changes-locally-very-rare) doesn't work:

[code]

 - [ ] Change `.bin/docsite serve` to `docsite serve`
 - [ ] Change `DOCSITE_CONFIG` so assets and templates can be loaded.

[2019-03-06 19:41] attfarhan opened #2615 "Syntect server: "server closed idle connection bug" error causes search results to not get loaded or highlighted"
#### Steps to reproduce:

1. Execute a diff search
2. When scrolling through the results, some don't get highlighted properly.

If you try refreshing or try searching for that specific result, the result usually shows up properly highlighted the next time. This could be due to our virtual list "viewed" logic. Will have to look into it more.

Locally, I see that the connection to the syntax highlig

[2019-03-06 19:43] tsenart commented on #2514
Of course, silly me :-)

Sent via Superhuman iOS ( https://sprh.mn/?vip=tomas@sourcegraph.com )

On Wed, Mar 6 2019 at 8:02 PM, < notifications@github.com > wrote:

[2019-03-06 20:02] sqs commented on #2562
@tsenart The validated use case are that customers want to be able to add GitHub repositories to their Sourcegraph instance that match the following kinds of descriptions:

- all GitHub repositories in one or more organizations
  - excluding archived repositories (in most cases)
  - including archived repositories (in some cases)
- a specific set of named GitHub repositories
- all GitHub repositor

[2019-03-06 20:24] beyang commented on #2595
Would the HTTP basic auth in nginx config option mean that language servers are served from the same hostname or different hostnames? If different hostnames, then there is still the issue with external auth proxies mentioned in https://github.com/sourcegraph/security-issues/issues/11

[2019-03-06 20:28] beyang commented on #618
Will keep this open, since LDAP auth is a separate feature.

[2019-03-06 21:32] nicksnyder opened #2617 "Diff result not syntax highlighted"
I suspect it is related to the diff being markdown.

https://sourcegraph.sgdev.org/search?q=r:sourcegraph/+type:diff+author:nick+count:1000+after:%224+months+ago%22#5

![image](https://user-images.githubusercontent.com/754768/53915142-3a1ccb80-4014-11e9-985e-a4380009661b.png)

[2019-03-06 21:33] felixfbecker commented on #2595
I am a bit confused here, which party is authenticating to which other party through basic auth?

[2019-03-06 21:33] attfarhan commented on #2617
Dupe of https://github.com/sourcegraph/sourcegraph/issues/2615

[2019-03-06 21:34] #2617 closed

[2019-03-06 21:43] slimsag opened #2618 "Search results load quick, but the code does not render quickly"
## Issue

Sometimes search results themselves load very quickly, but the code in the search results UX does not load quickly. When using our Bitbucket Server integration, results can sometimes take 10+ seconds to load.

## Root cause TL;DR

Effectively, the bottleneck is that for every search result viewed in our UX, we trigger two repo-updater `/repo-lookup` requests. Each one of these `/repo-loo

[2019-03-06 21:58] nicksnyder opened #2620 "Diff search doesn't show full diffs"
I want to use diff search, but I have found that I can't rely on its result in the way that I want.

**Expected**

I want to perform a search and then see every single line in all matching diffs.

**Actual**

For some results, it only shows a small portion of the whole diff.

For example:
https://sourcegraph.sgdev.org/search?q=r:sourcegraph/+type:diff+author:vanesa+count:1000+after:%224+months+ago

[2019-03-06 22:01] attfarhan commented on #2620
Can you attach the query that you ran?

[2019-03-07 00:59] nicksnyder commented on #2620
I updated the original description with the link to the search.

[2019-03-07 01:07] KattMingMing opened #2623 "Support Phabricator as a repository source"
**Expected behavior**
Phabricator external service should successfully fetch Phabricator hosted repositories and mirrored repositories

**Current behavior**
Phabricator repositories are not fetched. Only mirrored repositories are supported.

Right now, it's not possible to clone repositories hosted by Phabricator (diffusion) with the **Phabricator** external service.

The Phabricator external serv

[2019-03-07 01:26] KattMingMing commented on #2559
Open PR for fixing Typescript docs: https://github.com/sourcegraph/sourcegraph-typescript/pull/122

[2019-03-07 02:02] attfarhan commented on #2144
Since this would solve a lot of the search bugs that I've been spending time on, and improve users' search experience, I'm going to prioritize this for 3.3.

[2019-03-07 02:50] alexandnpu commented on #103
is there any progress for this issue? I desperately need this feature.

[2019-03-07 03:22] chrismwendt commented on #2595
@beyang Same hostname, most likely. It's pretty easy to add another route in the nginx config such as `/go`.

@felixfbecker Browsers are authenticating with nginx, which acts as a proxy to language servers.

Here's a PR to add docs to sourcegraph-go for nginx config https://github.com/sourcegraph/sourcegraph-go/pull/37 Since this will be the same for every language server, I'll move it to sourcegr

[2019-03-07 04:49] ryan-blunden opened #2624 "Add required Mermaid JS styles for fixing exported SVG's to docs styles"
Correct rendering of diagrams such as that in https://docs.sourcegraph.com/dev/architecture are a result of adding additional styles to the SVG. Obviously doing this for each diagram is a code smell and the required re-usable styles should be put in the docs styles.

I've captured the (currently) required stle additions at https://gist.github.com/ryan-blunden/be704f11b504b4cfae69cae7382ed3c3 so I

[2019-03-07 06:44] keegancsmith commented on #2562
btw we will have to disallow created in the search query as well, since github doesn't seem to support having created more than once. For example check this query out. I'd suspect it to range all repos to the dates in the first created, but it seems to only take into account the 2nd created (or it ors the two terms). Additionally I can't get it to sort by created in a descending order. But we coul

[2019-03-07 06:49] ijsnow opened #2625 "Enable new searcher by default"
As we continue work on existing issues and changes to the search code base, we're creating more technical debt because the work is being done on code that is already deprecated. In addition to this, the code removal will help others ramp up on the code faster.

[As stated in the planning document](https://github.com/sourcegraph/docs-private/blob/master/201809/hierarchical-search-2.md#implementatio

[2019-03-07 07:31] keegancsmith commented on #2625
I like this idea. :+1:

- Upstream the type: operator into zoekt is not done, but exists in our fork. I don't think this is a blocker.
- Hierarchical search is slower for searcher. I have done no perf work on it yet.
- diff search has not been ported and is quite a lot of work. I think my original plan was to not support hierarchical searches so only support queries which can be translated into th

[2019-03-07 07:49] keegancsmith commented on #2623
I don't think we ever supported this. Does our documentation / feature list mislead in this regard? How important is supporting this. We have been focused on foundational work in our repo management so I can't imagine having bandwidth for this in the next milestone. But it may be a possibility if motivated properly.

[2019-03-07 07:59] felixfbecker commented on #2595
In that scenario, is the whole Sourcegraph instance protected by basic auth user+password? Because I don’t think you can pass basic auth programmatically when opening a WebSocket

[2019-03-07 08:00] vanesa opened #2628 "Sentry extension"
Sentry helps devs track, organize and break down errors more efficiently, facilitating their debug process. We want to make it more convenient for developers to access Sentry's error tracking tools directly from the code that is doing the error handling, code such as `throw new Error(QUERY)`, `console.log(QUERY)`, `console.error(QUERY)` etc..

In the first version, the Sentry extension will render

[2019-03-07 10:57] hho opened #2632 "Why does the GraphQL console give different (no) results?"
#### Question description

I entered a query (like `repo:^ourgitlab/somenamespace count:100`) in the search field and got the expected list of repos in that namespace.

However, when I copy **_the exact same GraphQL query and variables_** from the request payload (via Chrome Devtools) and insert them into the API console, I get no results:

[code]

Why the difference? What do I need to change?

##

[2019-03-07 14:25] keegancsmith commented on #2025
@sqs do any of our current (or future) customers have a use case of some external services being managed by polling, but other external services being managed lazily. polling == our new syncer, what this issue is about. lazily == Sourcegraph.com behaviour of "just in time" syncing for a specific repo.

[2019-03-07 15:02] #1471 closed

[2019-03-07 15:04] Sourox1 opened #2633 "Find References button"
- **Sourcegraph version:**  v19.3.5.1310
- **Platform information:**

#### Steps to reproduce:

1. Click on find references for a method

#### Expected behavior:
The new interface should load and you should have all the references along with the other information.

#### Actual behavior:
Expected behavior is present along with the find references button popping up regardless of the cursor position.

[2019-03-07 15:13] #2055 closed

[2019-03-07 16:00] KattMingMing commented on #2623
We support it in some capacity since it's possible to add them manually by using the "other" external service (since they are Git repositories).

I'll review the documentation, but there's no explicit mention that this would not work.

https://docs.sourcegraph.com/admin/external_service/phabricator#repository-linking-and-syncing

Possibly need to update documentation to start with:

[2019-03-07 16:20] beyang opened #2634 "DEBT: Use utility-types"
Replace `Pick<P, Exclude<keyof P, keyof ActivationProps>>` with `Subtract<P, ActivationProps>` in `withActivation.tsx`.

[2019-03-07 17:52] sqs commented on #2025
@keegancsmith Beyang is checking with the one customer that may currently rely on that behavior (to avoid overloading their Git host).

[2019-03-07 18:30] beyang commented on #2025
@keegancsmith we currently have one customer with the following situation:
* They have 11k+ repositories.
* `disableAutoGitUpdates` is true in their site config.
* They have configured an external script to hit the [repo refresh endpoint](https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/blob/cmd/frontend/internal/httpapi/repo_refresh.go#L13:6-13:22) to manually trigger updates of repos

[2019-03-07 18:31] attfarhan commented on #2615
Actually, I realized that this same issue is impacting file match results, and is the cause when some file matches do not get loaded. The error message when that happens is
[code]

[2019-03-07 18:33] attfarhan commented on #2615
Actually, I realized that this same issue is impacting file match results, and is the cause when some file matches do not get loaded. The error message when that happens is
[code]

![image](https://user-images.githubusercontent.com/16265452/53979994-11eca580-40c4-11e9-8e75-28ae183e4e5f.png)

I thought that perhaps fulfilling https://github.com/sourcegraph/sourcegraph/issues/2144 would solve this,

[2019-03-07 18:43] chrismwendt commented on #1174
Now that basic code intel has been split into N language extensions, showing the badge at the file header level is OK. You'll never see mixed fuzzy + precise results. That means https://github.com/sourcegraph/sourcegraph/pull/1627 will probably solve this issue.

I'll optimistically pick that up and work on it until someone chimes in.

[2019-03-07 18:53] nicksnyder commented on #2025
It is important to disambiguate between refreshing repo metadata and refreshing the git contents.

Sourcegraph.com is lazy with respect to both metadata and git contents.

I can't imagine a scenario where a customer would want to be lazy with metadata, but as Beyang mentioned, we do have customers who want to have absolute control over fetching git contents so they can achieve optimal behavior (e.

[2019-03-07 19:05] chrismwendt opened #2636 "Sgdev: GitHub links are missing the org + repo name"
- Visit https://sourcegraph.sgdev.org/github.com/sourcegraph/sourcegraph/-/blob/client/browser/gulpfile.ts#L13:17-13:22 (only happens on sgdev, not on Sourcegraph.com)
- Click the jump to GitHub icon
- Notice the URL is https://github.com//blob/master/client/browser/gulpfile.ts#L13-L13 (Not found)

I expect the URL to contain the org + repo name, but it doesn't.

Assigned to @tsenart to triage in

[2019-03-07 19:32] chrismwendt commented on #2595
@felixfbecker No, only the `/go` route would be protected. `wss://foo:bar@localhost:7080/go` worked on  my machine.

[2019-03-07 19:37] felixfbecker commented on #2595
Interesting. I'm surprised because `fetch()` will throw if the URL contains auth info, so I expected `WebSocket` to behave the same.

[2019-03-07 19:41] felixfbecker commented on #2595
Only thing I could find is this SO answer that says WebSocket Basic auth is deprecated: https://stackoverflow.com/a/4361358/4208018

[2019-03-07 19:51] attfarhan commented on #2615
Turns out there's a bug in Hyper, the HTTP library that Rocket, the HTTP server that syntect_server uses. See https://github.com/SergioBenitez/Rocket/issues/928#issuecomment-464632953.

[2019-03-07 19:57] sqs commented on #2432
Adding to 3.2 milestone tentatively and will figure out if we can fit this in before assigning it to someone else.

I believe the best impl would be to add a new setting that controls this (for file results only, not for diff results). Then it could be set globally or per-user.

[2019-03-07 20:46] felixfbecker commented on #1572
@JoshuaKGoldberg we also now have a button to toggle TypeScript code intelligence on demand :)

![2019-03-07 21 44 36](https://user-images.githubusercontent.com/10532611/53987853-6de61700-4122-11e9-8c06-8cbbd812e942.gif)

[2019-03-07 21:31] #2615 closed

[2019-03-07 21:48] beyang opened #2638 "Activation flow issues for existing users"
- [ ] For users who have already completed the actions before upgrading to a version that has the activation flow, don't show confetti the next time they visit
- [ ] Progress does not advance until a full page reload (e.g. after adding an external service)
- [ ] The "Setup" button and the circle icon appear slightly misaligned with each other
- [ ] The "Setup" button and icon disappear after click

[2019-03-08 00:32] ijt opened #2642 "jump-to-possible-definitions for dynamic function calls"
#### Feature request description

Show which functions or methods might be called in places where that information isn't decided until runtime.

#### Is your feature request related to a problem? If so, please describe.

Here is an example of the problem. Say you're looking at this line: https://github.com/google/go-cloud/blob/2ddeeec4484de21bfe9928753ae198e534eff565/pubsub/pubsub.go#L127 and you

[2019-03-08 01:19] sqs commented on #97
SpaceHexagon also requested Azure install docs at https://twitter.com/SpaceHexagon/status/1103807673026445317

[2019-03-08 01:21] zmt commented on #35
Also desirable to multi-line match in yaml files (and many other file types).

[2019-03-08 01:26] JoshuaKGoldberg commented on #1572
Love it, thanks!

[2019-03-08 03:30] chrismwendt commented on #4
Ruby code intelligence has been added in Sourcegraph 3.0 :tada:

https://about.sourcegraph.com/blog/sourcegraph-3.0#code-intelligence-for-all-languages

[Try it out](https://sourcegraph.com/github.com/jnunemaker/httparty@011c1ac3e3888218ffacc49db231bd81efe0f7f8/-/blob/lib/httparty/connection_adapter.rb#L114:7) on Sourcegraph.com:

![image](https://user-images.githubusercontent.com/1387653/54005751

[2019-03-08 03:30] #4 closed

[2019-03-08 03:34] chrismwendt commented on #9
C/C++ code intelligence has been added in Sourcegraph 3.0 :tada:

https://about.sourcegraph.com/blog/sourcegraph-3.0#code-intelligence-for-all-languages

[Try it out](https://sourcegraph.com/github.com/torvalds/linux@aa0c38cf39de73bf7360a3da8f1707601261e518/-/blob/arch/arm/mach-footbridge/dc21285.c#L263:34) on Sourcegraph.com:

![image](https://user-images.githubusercontent.com/1387653/54005876-fb

[2019-03-08 03:34] #9 closed

[2019-03-08 03:35] chrismwendt commented on #10
C/C++ code intelligence has been added in Sourcegraph 3.0 :tada:

https://about.sourcegraph.com/blog/sourcegraph-3.0#code-intelligence-for-all-languages

[Try it out](https://sourcegraph.com/github.com/torvalds/linux@aa0c38cf39de73bf7360a3da8f1707601261e518/-/blob/arch/arm/mach-footbridge/dc21285.c#L263:34) on Sourcegraph.com:

![image](https://user-images.githubusercontent.com/1387653/54005876-fb

[2019-03-08 03:35] #10 closed

[2019-03-08 03:36] chrismwendt commented on #13
Haskell code intelligence has been added in Sourcegraph 3.0 :tada:

https://about.sourcegraph.com/blog/sourcegraph-3.0#code-intelligence-for-all-languages

[Try it out](https://sourcegraph.com/github.com/pcapriotti/optparse-applicative@72b6e4a52cb0d7e13f390f836ebfe493ff37906c/-/blob/Options/Applicative/Builder.hs#L120:8) on Sourcegraph.com:

![image](https://user-images.githubusercontent.com/13876

[2019-03-08 03:36] #13 closed

[2019-03-08 03:38] chrismwendt commented on #18
Elixir code intelligence has been added in Sourcegraph 3.0 :tada:

https://about.sourcegraph.com/blog/sourcegraph-3.0#code-intelligence-for-all-languages

[Try it out](https://sourcegraph.com/github.com/phoenixframework/phoenix@e0be71759d83c15f6d1a852d9872d6de1ea0db24/-/blob/lib/mix/tasks/phx.gen.context.ex#L89:5) on Sourcegraph.com:

![image](https://user-images.githubusercontent.com/1387653/5400

[2019-03-08 03:38] #18 closed

[2019-03-08 04:36] nicksnyder commented on #2521
Thanks for the additional context. @ggilmore is working to move our Cloudflare config into Terraform so we will have more visibility into these changes in the future.

[2019-03-08 06:20] chrismwendt commented on #1174
Resolved by adding an "Imprecise results" action item in the references panel https://github.com/sourcegraph/sourcegraph-basic-code-intel/pull/41

[2019-03-08 06:20] #1174 closed

[2019-03-08 06:47] keegancsmith commented on #2636
I would suspect this is a regression related to our repo-updater changes for #2025. As such I am attaching it to the current milestone.

[2019-03-08 06:54] keegancsmith commented on #2636
Not really sure, it seems repo-updater is returning the correct information. Although I will say the URL templates for the links have a `//` in it.

[code]

[code]

[2019-03-08 06:57] keegancsmith commented on #2636
Here is the output from Sourcegraph.com for comparison:

[code]

[2019-03-08 07:53] #1801 closed

[2019-03-08 11:57] keegancsmith opened #2650 "[deploy-sourcegraph] Increase default CPU limits"
I noticed kubernetes-slack-bot was failing to do an HTTPs request due to timeout. It was due to the CPU limit being set to `10m`. IE 10m is so low a simple go program can't do an HTTPs request without a timeout. I then noticed we use this value a lot in this repo, even for large programs like redis or Postgres. We should probably use a more appropriate value.

[2019-03-08 12:42] adnanhemani opened #2651 "References in docstrings incorrect"
- **Sourcegraph version:** "Sourcegraph.com"
- **Platform information:** MacOS 10.14.3, Chrome v72.0.3626.121

#### Steps to reproduce:
Results shown in pictures attached
1. Go to https://sourcegraph.com/github.com/data-8/datascience@4cee38266903ca169cea4a53b8cc39502d85c464/-/blob/datascience/tables.py#L1130 and hover over "``bins``". Notice that it automatically pops up the docstring for this fun

[2019-03-08 13:16] #2636 closed

[2019-03-08 15:24] FranklinYu commented on #4
@chrismwendt Is documentation generated in the hover card? I don’t think I saw that on Sourcegraph.com.

[2019-03-08 16:46] sqs commented on #1324
Closing this because we want each external service's configuration to use the terms and concepts specific to that external service (e.g., GitHub) and not ALSO have "external service-independent" concepts (which add complexity for users). I don't know of any use cases that need an external service-independent repo enumeration or blacklist.

[2019-03-08 16:46] #1324 closed

[2019-03-08 17:00] sqs commented on #1324
Note that I specifically think it is not important to **consolidate/unify** the repo enumeration and blacklist concept **among all external service configs**. It is still potentially valuable to have fields like these in the config for specific external services (although not for any urgent customer needs; I see #2649 is adding it for GitHub, which is not necessary for any product/customer priorit

[2019-03-08 17:41] gerbal opened #2653 "Elixir syntax highlighting broken"
Navigate to any Elixir file, for instance:

https://sourcegraph.com/github.com/elixir-lang/elixir/-/blob/lib/elixir/lib/gen_server.ex

Note the absence of syntax highlighting. I'm pretty sure syntax highlighting used to work for Elixir. Syntax highlighting still works in tooltips though.

![screenshot_2019-03-08 sourcegraph](https://user-images.githubusercontent.com/5278092/54045369-6fa1f000-419f-

[2019-03-08 17:50] nicksnyder commented on #2361
It would be ideal if our e2e alerts automatically updated a status page like https://www.statuspage.io/

[2019-03-08 18:38] tsenart commented on #2361
Good idea!

[2019-03-08 18:45] chrismwendt commented on #4
@FranklinYu Yup! I updated the example to one which has documentation.

[2019-03-08 18:58] attfarhan opened #2654 "File and repo matches have thick bottom border"
The bottom border for file and repo matches is really thick and makes it feel like there is a result match that is failing to load:

![image](https://user-images.githubusercontent.com/16265452/54049322-061ae500-4191-11e9-8caf-3bc85416bdf1.png)

[2019-03-08 19:56] attfarhan opened #2655 "Cannot read property lastChild of undefined on search results when highlight requests take a long time"
Long highlight requests causes the search results page to break completely.

![image (4)](https://user-images.githubusercontent.com/16265452/54052357-0a4b0080-4199-11e9-96ce-1bebe0bd8447.png)

[2019-03-08 19:57] FranklinYu commented on #4
@chrismwendt The httparty gem doesn’t really have much documentation, so it’s not a good example of this feature. Most documentations in that gem are just one line of description. What I was asking for is structured documentation like [this one](https://sourcegraph.com/github.com/jneen/rouge@v3.3.0/-/blob/lib/rouge/regex_lexer.rb#L32:11) (note the special syntax `@see`). It should be rendered like

[2019-03-08 20:53] #2655 closed

[2019-03-08 21:23] chrismwendt opened #2657 "CI: high concurrency on e2e tests cause errors"
https://sourcegraph.slack.com/archives/C07KZF47K/p1551997551137100?thread_ts=1551987818.131700&cid=C07KZF47K

After 2 hours of troubleshooting and research, @ggilmore and I concluded that high concurrency when running e2e tests can cause deadlocks in our sourcegraph/server image. We reproduced the problem by running this script on a buildkite agent:

[code]

Every single container died. Most of th

[2019-03-08 21:48] chrismwendt commented on #4
@FranklinYu Thanks for the feedback! I included it in https://github.com/sourcegraph/sourcegraph/issues/2298

[2019-03-08 21:53] #2657 closed

[2019-03-08 21:55] ggilmore commented on #2657
I'm fairly certain the panics are happening because frontend hasn't started up within 30 seconds (the postgres migrations haven't completed). These are aren't the underlying cause of the issue.

I'm pretty confident that scheduling a whole bunch of sourcegraph/server docker containers on the dind pod causes dind to use basically all 4 cores allotted to the deployment.

[2019-03-08 23:23] nicksnyder commented on #545
This is backlog, but I want to cc new browser extension owners for visibility @felixfbecker @lguychard

[2019-03-09 00:01] beyang commented on #103
@alexandnpu thanks for the feedback. This is not yet supported. However, we've moved external URL configuration to nginx, which brings us fairly close: https://github.com/sourcegraph/sourcegraph/blob/master/doc/admin/nginx.md. The final step would be to ensure that all frontend AJAX requests and URLs use relative paths, rather than absolute paths (as absolute paths would conflict with the subpath

[2019-03-09 04:51] FranklinYu commented on #2298
For section “Custom hover docs”, actually `@see` isn’t the only tag I was looking for. A full list is available [here](https://www.rubydoc.info/gems/yard/file/docs/Tags.md); if full support is too complicated, I would expect at least:

* `@param`
* `@return`
* `@raise`

As they are very often useful as tooltip.

[2019-03-09 05:57] chrismwendt opened #2661 "Search UI: very deeply nested DOM"
- Visit https://sourcegraph.com/github.com/linkedin/LayoutKit@c77e9bc8f31742adf56b05cda34cb91489b41181/-/blob/LayoutKit.playground/Pages/Inset.xcplaygroundpage/Contents.swift#L27:7&tab=def
- Scroll down in the references
- Scroll back up
- Inspect this element:

![image](https://user-images.githubusercontent.com/1387653/54066887-ea452c80-41ec-11e9-82c8-07c841f63c09.png)

- Notice the DOM for this

[2019-03-09 07:46] chrismwendt commented on #2661
Hmm, I can't even repro this myself anymore. I'll reopen if I see this again.

[2019-03-09 09:09] sqs opened #2663 "Fix double-counting in Go importers badge"
The Go importers ("used by N projects") badge overcounts. This should be fixed.

https://github.com/sourcegraph/sourcegraph/pull/2604#issuecomment-470032126

It would be great if the person taking this on would also do https://github.com/sourcegraph/sourcegraph/pull/2604#discussion_r264000744.

@chrismwendt 	This is caused by my PR #2604, which is a net improvement but introduces this problem. You

[2019-03-10 02:26] #2595 closed

[2019-03-10 05:50] takuyahara opened #2667 "Cannot see line highlighted at first visit"
#### Sourcegraph version:
* Sourcegraph.com v3.1
* Sourcegraph Chrome Extension v19.3.7.2038

#### Platform information:
* macOS Mojave Version 10.14.3
* Chrome Version 72.0.3626.119

#### Steps to reproduce:

1. See any of file that you never saw lines highlighted.

#### Expected behavior:

Lines are shown highlighted at first visit **as before**. I suppose something has changed when `TS` button

[2019-03-10 06:20] takuyahara commented on #2667
This may caused GitHub's site update? I see a request within GitHub by clicking link is done by XHR, so pages are re-rendered partially. I suppose Sourcegraph loads coverage when pages are loaded entirely but isn't adapted to partial re-rendering. Maybe it should hook event like `history.pushState()`?

[2019-03-10 20:38] chrismwendt commented on #2661
I can repro by **scrolling down and back up**.

I suspect that the matches are getting re-highlighted over and over when scrolling.

[2019-03-11 00:31] sqs opened #2670 "docs-sourcegraph-com k8s deployment has many OOM restarts"
This is not an urgent issue because it restarts cleanly. But it should be looked into.

Also it should have multiple replicas for high-availability.

[2019-03-11 13:08] nicksnyder commented on #247
Some action has already been taken and we haven’t heard other complaints.

[2019-03-11 13:08] #247 closed

[2019-03-11 13:12] keegancsmith commented on #2562
Note: This is not only an issue for GHE, Github.com has the same limitation. Requesting page 35 or higher will always result in this error message. This also is a blocker for https://github.com/sourcegraph/sourcegraph/issues/2025

[2019-03-11 13:24] keegancsmith commented on #2562
Alternative solution: Don't use GitHub search due to this limitation / disallow it if we run into this many results. Add support for listing org repos.

[2019-03-11 14:12] lguychard commented on #2182
I verified that `corsOrigin` is unfortunately still necessary for the in-page Phabricator script.

[2019-03-11 14:12] #2182 closed

[2019-03-11 14:49] ducher opened #2673 "Double forward slash in Find references link in the Browser Extensions"
#### Steps to reproduce:

1. Hover a function with the browser extension activated
2. The link generated contains 2 forward slashes after the domain name ( https://sourcegraph.com//github.com/sourcegraph/sourcegraph@5b9362940c84ca79c2ca277b9b1d5bbbccb47d3b/-/blob/shared/src/util/url.ts#L455:17&tab=references )

It works on the sourcegraph server but not on my own as the official sourcegraph server

[2019-03-11 15:47] beyang commented on #2182
If it's only necessary for the in-page Phabricator script, it seems unnecessary to incorporate into the activation flow.

[2019-03-11 15:57] beyang opened #2675 "Chrome extension broken on PR"
The Chrome extension hovers do not seem to work on https://github.com/sourcegraph/sourcegraph/pull/2672/files. No errors appear in the JS console.

[2019-03-11 16:02] lguychard commented on #2675
![image](https://user-images.githubusercontent.com/1741180/54138109-2364e300-441f-11e9-8d79-19a5c53a33d1.png)

@beyang could not reproduce this, with either the prod extension or my debug extension from the latest master, on either the base or head part of the PR.

Which Sourcegraph URL is your extension pointing to?

If you run `localStorage.debug = true; location.reload()`, do you see the extens

[2019-03-11 16:08] beyang opened #2676 "Make GitHub client package obey the same conventions as the GitLab client package"
The GitLab client package, `extsvc/gitlab`, has two types, `ClientProvider` and `Client`. The former produces the latter, and the latter is associated with a specific user identity. The `authz/gitlab` package relies on the latter to compute permissions for a given user.

Meanwhile, the GitHub client package, `extsvc/github`, has only a `Client` type, which has a "base" token. Certain methods of `C

[2019-03-11 16:16] beyang commented on #2675
Can you try this repro:
* Go to https://github.com/sourcegraph/sourcegraph/pull/2672/files
* Click one of the "expand hunk" buttons
* Check that the hover no longer works
* Refresh the page (ctrl-r)
* Check that the hover still no longer works

[2019-03-11 16:36] ducher commented on #2673
FYI I fixed the issue with a workaround in my apache config:
[code]

[2019-03-11 17:37] keegancsmith commented on #2676
Additionally we should probably look into using https://github.com/google/go-github again.

[2019-03-11 19:42] #2227 closed

[2019-03-11 19:52] chrismwendt commented on #2638
A few more problems I noticed:

- Progress does not advance until a full page reload (e.g. after adding an external service)
- The "Setup" button and the circle icon appear slightly misaligned with each other:

![image](https://user-images.githubusercontent.com/1387653/54152607-d838d900-43fa-11e9-95c0-1b063d218a0a.png)

- The confetti that appeared after clicking "Find references" was quite distra

[2019-03-11 20:36] sqs commented on #2182
Correct. I will submit a PR tonight to remove it from all docs (and other things) where it is no longer necessary.

[2019-03-11 20:42] keegancsmith opened #2677 "GitHub link disappears intermittently in 3.x"
From customer:

More info (possibly separate issue):

https://sourcegraph.slack.com/archives/GDS3PJ8GK/p1551726810000500

Reported by https://app.hubspot.com/contacts/2762526/company/561806411

[2019-03-11 20:43] sqs commented on #2638
@beyang I added a checklist of the issues and solutions that we should fix for 3.2

For this one:

Is it possible for us to know this? Or is the necessary tracking not even in until 3.2? Err on the side of not showing unexpected confetti if needed, so perhaps assume all current steps are completed for all users that existed as of pre-3.2 (instead of assuming they have NOT completed any).

[2019-03-11 20:44] keegancsmith commented on #2562
This issue was a bit confusing since the original title and current description are a different problem to the current title and issue comments. As such I have filed https://github.com/sourcegraph/sourcegraph/issues/2677 to track the more important issue. This issue will now just be about repositoryQuery limitations and is tracked to ship in 3.3. (with the rest of the work we are doing on the new

[2019-03-11 20:51] keegancsmith commented on #2025
@beyang my question above was about targeted to metadata. I suppose in the case of gitolite there isn't much metadata to manage. The only real thing to manage is detection of deletion. In the case of the customer you mentioned, is it safe for us to poll the gitolite "list" repos endpoint? By default we will poll every minute (but is configurable)

[2019-03-11 20:56] keegancsmith commented on #2025
I have just updated the milestone and description to reflect this will ship in 3.3. We are focussed on shipping a very reliable service here, and given that branch cut is this Friday we do not feel comfortable that the state of the project by Friday will meet that quality bar. However, our goal for 3.3 does not change. So we have slipped a bit on shipping GitHub support, but we will still ship sup

[2019-03-11 21:38] keegancsmith commented on #2677
I am unsure why this is occurring. As such I have created two PRs which include more debug information around these code paths:

- https://github.com/sourcegraph/sourcegraph/pull/2679
- https://github.com/sourcegraph/sourcegraph/pull/2627

The intention is to cherry-pick/backport it to the version the customer is on, and create a new minor release.

[2019-03-11 22:49] nicksnyder commented on #1772
Seems like these are enabled now.

[2019-03-11 22:49] #1772 closed

[2019-03-11 22:51] nicksnyder opened #2681 "e2e tests are flaky"
![image](https://user-images.githubusercontent.com/754768/54163161-4e4a3980-4415-11e9-9f75-965d3c088747.png)

Failed:
- https://buildkite.com/sourcegraph/sourcegraph/builds/29205
- https://buildkite.com/sourcegraph/sourcegraph/builds/29204

Passed:
- https://buildkite.com/sourcegraph/sourcegraph/builds/29202
- https://buildkite.com/sourcegraph/sourcegraph/builds/29210

[2019-03-11 22:53] ijsnow commented on #2681
The tests both started failing at the same point in the test suite, but the error wasn't from the result of the test being unexpected. It seems like we're overwhelming puppeteer rather than writing flakey tests. The first test that fails comes from this error:

Then the rest are the following error:

[2019-03-11 23:08] slimsag opened #2682 "3.1.2 Release"
# 3.1.2 Release

- [x] Merge your fix into master.
    - [x] (customer A) [Add `search.defaultContextLines` to set number of context lines in search results](https://github.com/sourcegraph/sourcegraph/commit/acc4066ec4eca79b7de86eb56ce55f6569ae9201)
    - [x] (customer A) [Fix: check that table row exists before trying to highlight](https://github.com/sourcegraph/sourcegraph/commit/29438aefed48cb0

[2019-03-11 23:23] chrismwendt commented on #2681
This might have been caused by the ops incident where Sourcegraph.com was slow for ~1h https://sourcegraph.slack.com/archives/C08JA8Q1H/p1552338934058300

The e2e tests need to fetch extensions from the Sourcegraph.com registry that are enabled by default (e.g. sourcegraph/go on the mux.go file).

We could eliminate that dependency on Sourcegraph.com by uploading extensions to a private registry,

[2019-03-11 23:26] ijsnow commented on #2681
That sounds like a good idea. I was thinking it seemed like it could have been happening from something else, rather than puppeteer or flakey tests. And this explains why failures were only in extensions dependent code

[2019-03-11 23:29] nicksnyder commented on #2681
I agree that it would be great for sourcegraph/sourcegraph CI to not depend on sourcegraph.com

More generally, what if someone broke the basic code intel extension (which is its own repo) and published that to sourcegraph.com. Should that break CI on sourcegraph/sourcegraph? Ideally not, right?

[2019-03-11 23:33] ijsnow commented on #2681
We could continue with [sourcegraph/sourcegraph-debug-extension](https://github.com/sourcegraph/sourcegraph-debug-extension) and modify e2e tests to only test what really matters about sourcegraph.com:

- Displays a tooltip with the data that we expect
- Can change background color of a line
- Can add "after text" on lines

The tests do currently rely on external services to succeed. This would al

[2019-03-11 23:38] chrismwendt commented on #2681
If we used Sourcegraph.com's latest extensions, we get e2e tests on them and can catch bugs faster, but it's not 100% deterministic (someone could update and break an extension out of band).

I prefer determinism in this case, so I added this to my 3.2 roadmap issue https://github.com/sourcegraph/sourcegraph/issues/2452

[2019-03-11 23:46] chrismwendt opened #2683 "TypeScript language server is disabled on Sourcegraph.com"
In the process of resolving an ops incident https://sourcegraph.slack.com/archives/C08JA8Q1H/p1552338934058300, I set the lang-typescript replica count to 0 and disabled the language server by commenting out `typescript.serverUrl`, which means that currently, all TypeScript code intel is from basic-code-intel.

In order to reenable the TypeScript language server, a root cause analysis needs to be

[2019-03-11 23:49] slimsag commented on #2677
I will cherry-pick / back-port these since I am cutting a patch release as well: https://github.com/sourcegraph/sourcegraph/issues/2682

[2019-03-11 23:50] nicksnyder commented on #2681
I also prefer determinism in CI. Let's aim for that.

[2019-03-12 00:02] chrismwendt opened #2684 "Should sideloading an extension disable all others?"
Often times I'll have to disable sourcegraph/go when I sideload my dev version, and that takes a few clicks. Would anyone else prefer sideloading to disable other extensions? Or anyone who prefers the current behavior?

[2019-03-12 00:31] chrismwendt commented on #2651
Thanks for the feedback, @adnanhemani. Because this is so confusing, I'm tweaking the logic to be a bit stricter on what is considered a definition. PR incoming.

[2019-03-12 00:36] #2651 closed

[2019-03-12 00:53] attfarhan commented on #2432
We've added a setting to configure the number of context lines shown in search results. You can set `search.contextLines` in your user settings on Sourcegraph.com to the number of context lines you prefer to see. This will be in the 3.2 release.

I'll leave this issue open since I haven't gotten around to implementing the search keyword to configure this at query time yet, but thought I'd post an

[2019-03-12 04:36] sqs commented on #2182
Submitted that PR: https://github.com/sourcegraph/sourcegraph/pull/2689

[2019-03-12 04:56] chrismwendt opened #2690 "Postgres unique constraint violation repo_external_service_unique_idx"
- Visit https://sourcegraph.com/github.com/lukakerr/Pine
- Notice the error:

![image](https://user-images.githubusercontent.com/1387653/54175467-422b9f80-4448-11e9-914b-66cf9166eab4.png)

Trace: https://app.lightstep.com/sourcegraph-prod/trace?span_guid=608ddd6925155445&at_micros=1552366323485676

[code]

[2019-03-12 06:28] slimsag commented on #2677
Your changes are on the 3.1 branch, and in a `3.1.2-rc.1` I am doing some final testing on. I did omit one very minor log line in one of your changes, because it would require back-porting a larger change. More details here: https://github.com/sourcegraph/sourcegraph/commit/1a3509dab9198036ea5fca8a7142036f7d6d6e60 Feel free to backport that log line if you want, though.

I will finish the process

[2019-03-12 07:28] slimsag commented on #2618
Confirmed: PR #2630 resolves this issue (I can reliably reproduce that it does not occur after this change, as well as confirm it does occur on the prior 3.1.1 version.)

I will cut a 3.1.2 patch release containing this fix, among a few selected others: see https://github.com/sourcegraph/sourcegraph/issues/2682

Closing this issue.

[2019-03-12 07:28] #2618 closed

[2019-03-12 07:46] keegancsmith commented on #2683
We should investigate what cpu limits vs requests in k8s we are giving typescript if it is CPU heavy. Additionally if they are reasonable, we should investigate which pods were starved, and adjust there requests so they have more guaranteed CPU.

[2019-03-12 08:02] keegancsmith commented on #2677
Thanks @slimsag. We can leave that log line out.

[2019-03-12 08:18] lguychard commented on #2684
I've given it some thought as well - especially since when you sideload an extension, you're trying to debug it and usually don't want the noise created by other extensions.

Alternatively, we could also reconstruct the public id (`publisher/name`) from the manifest, and disable the extension matching this public ID.

[2019-03-12 08:21] keegancsmith commented on #2690
This is because we do not support renames yet. However, we have added some of our constraints in for the new syncer behind a feature flag. So this is probably due to our migration "picking" the wrong repository in its migration as the new one. I took a look at our pgsql logs, and this constraint is firing relatively often. I think this issue is unique to Sourcegraph.com, WDYT @tsenart.

If it is u

[2019-03-12 10:34] keegancsmith commented on #2690
After chatting to @tsenart we have agreed to improve the update/upsert statement in to use a similar pattern we use in repo-updater's upsert. I'll tackle this.

[2019-03-12 11:18] tsenart commented on #2347
Can this be closed?

[2019-03-12 11:25] tsenart commented on #574
Since the authz stuff also uses `extsvc/github`, we need to tread carefully here to not regress on making too many concurrent requests to the Github API, were we to remove github-proxy.

An idea is to use Redis or Postgres' distributed lock features to serialise Github requests without github-proxy.

[2019-03-12 12:28] keegancsmith commented on #2677
Customer: Once `3.1.2` is out I encourage you to set `SRC_DEBUG_LEVEL=dbug` and try reproduce the problem. The logs from `repo-updater` will be the most interesting. Additionally you can check the Go trace page for repo-updater for other clues. For more troubleshooting information I just started an initial guide in https://github.com/sourcegraph/sourcegraph/pull/2692

[2019-03-12 13:49] beyang commented on #2638
This is a nice-to-have/wont-fix. We said this was acceptable for the non-find-references/search actions for now. I will best-effort fix.

[2019-03-12 14:58] lguychard opened #2694 "Command palette is not injected on Phabricator"
[`phabricatorCodeHost`](https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/blob/client/browser/src/libs/phabricator/code_intelligence.ts#L190-202) does not implement `getCommandPaletteMount()` so we never show the command palette on Phabricator.

[2019-03-12 18:19] sqs opened #2700 "Add "Programming languages" category to extensions"
https://sourcegraph.com/extensions?query=category%3A%22Programming+languages%22 should show all code intel extensions. Their package.jsons need the category "Programming languages".

[2019-03-12 18:49] #2031 closed

[2019-03-12 18:49] #2611 closed

[2019-03-12 18:49] #2654 closed

[2019-03-12 20:49] slimsag opened #2704 "Percy failing on changes that do not make any visual changes"
I have noticed on three PRs now that Percy fails on various PRs that do not make any visual changes.

- In one case, it told me the screenshot was new and there was no baseline. I hit accept. The change was only a backend change, with no visual changes.
- In another, I edited our docs and Percy failed showing this corrupt image: https://github.com/sourcegraph/sourcegraph/pull/2701

![image](https:

[2019-03-12 20:53] chrismwendt commented on #2704
- There **is a diff**: the suggested filters changed (not sure why)
- The search response time will change, so we need to pin that somehow
- That's not a corrupt image, that's Percy showing you the diff highlighted in red. You can click on the image to toggle between the actual image and diff mode.

[2019-03-12 20:53] francisschmaltz commented on #2704
Seems like we just need to change the threshold for requiring approval, or areas that are ignored

[2019-03-12 20:55] beyang commented on #2025
The customer currently has `disableAutoGitUpdates` set to true and relies on hitting the [repo refresh endpoint](https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/blob/cmd/frontend/internal/httpapi/repo_refresh.go#L13:6-13:22) to trigger updates. If that's *not* going away, then we should be fine. If it is, then that will be an issue as the customer estimates load on their Gitolite API

[2019-03-12 20:55] slimsag commented on #2704
Ah, my bad about thinking the image was corrupt. Still, given I didn't modify anything that could affect this, it should be treated the same as a flaky test then most likely.

[2019-03-12 20:57] chrismwendt commented on #2704
@francisschmaltz How do you change the threshold? Is that in the Percy docs somewhere? And wouldn't increasing the threshold allow some legitimate regressions through?

@slimsag Yes, this is a flaky test. I'll disable it for now.

[2019-03-12 21:02] beyang commented on #2676
Does anyone recall the rational for not using `go-github`?

[2019-03-12 21:03] sqs commented on #2676
It didn’t support GraphQL at the time and it was overkill for the 1 API request we needed. I have no opinion or knowledge about whether it’s a good choice now.

[2019-03-12 21:04] slimsag opened #2706 "Making docs changes is a pain"
When I noticed that something in our `doc/` folder is out of date, has a typo, etc. I am hesitant to update it because the process is now very tedious:

1. Click `Edit this file` button
2. Make the edit
3. Specify commit title
    - At this point, I used to be able to _commit to master_. (We acknowledged that this would change in our sync and that updating docs would be harder when we decided to d

[2019-03-12 21:08] chrismwendt opened #2707 "Visual testing: search tests are flaky due to timing differences"
As mentioned in https://github.com/sourcegraph/sourcegraph/issues/2704, snapshots of the search results page are flaky because the response time could be different between runs.

I disabled Percy for these tests in https://github.com/sourcegraph/sourcegraph/pull/2705

Ideas for fixing this:

- Always return the same response time when given a particular query parameter (e.g. `?pin_response_time=0.

[2019-03-12 21:09] francisschmaltz commented on #2707
@chrismwendt I'm fine with both of these options. Can you implement this?

[2019-03-12 21:11] sqs commented on #2706
I know this is not documented, and I’m not sure how to document it, but you don’t need approval on all docs changes.

[2019-03-12 21:15] francisschmaltz commented on #2707
@chrismwendt we could add a class here for things to hide during test. We could add it to the e2e class or have an e2e-hide

https://docs.percy.io/docs/percy-specific-css

[2019-03-12 21:16] chrismwendt commented on #2707
I can certainly help out! Percy specific CSS sounds great :sparkles:

[2019-03-12 21:17] slimsag opened #2708 "docs.sourcegraph.com tells me to use an outdated Sourcegraph version"
1. Visit https://docs.sourcegraph.com/
2. **Be confused:** I am on `3.2 (next)` but the docker command is for running 3.1.2..
3. Click `3.1 (current)` ("Why isn't the current version selected by default?")
4. **Be more confused**: The docker run command is for 3.0.1! "I selected 3.1, WTF is going on?!"
5. Run the command, get notified you should update once Sourcegraph runs... etc.

[2019-03-12 21:18] slimsag commented on #2708
Note: This is despite the fact that the versions in our doc/ template are accurate:

https://github.com/sourcegraph/sourcegraph/blob/7d195c8cbebe53381691812f13300d87c321bab3/doc/_resources/templates/doc.html#L32-L35

[2019-03-12 21:26] sqs commented on #2708
Oh, I need to make docs.sourcegraph.com deploy from those files. I have an unmerged PR with that in deploy-Sourcegraph-dot-com, will merge tonight.

[2019-03-12 21:27] sqs commented on #2708
Also related #1788

[2019-03-12 23:26] nicksnyder commented on #2682
This looks done

[2019-03-12 23:26] #2682 closed

[2019-03-12 23:26] chrismwendt commented on #2657
CI timed out waiting for initialization again https://sourcegraph.slack.com/archives/C07KZF47K/p1552424894193000

Additional mitigation steps that I will take today:

- Concurrency limit 1 (easiest way to mitigate this)
- Put the dind pod on a beefier node
- Skip CI steps when all that changed was text files like Markdown files

[2019-03-12 23:32] #2704 closed

[2019-03-12 23:38] ryan-blunden opened #2711 "Document extending and overriding NGINX configuration without edits to nginx.conf"

[2019-03-12 23:38] #2700 closed

[2019-03-12 23:40] chrismwendt commented on #2700
I think I had a capital `L` in `Programming Languages` because I saw this warning message in VS Code on the `categories` field:

![image](https://user-images.githubusercontent.com/1387653/54243385-743f0f00-44e5-11e9-9226-c3f3c981a154.png)

[2019-03-12 23:48] ijt opened #2712 "brew install sourcegraph"
#### Feature request description

On Macs, it would be nice to be able to install and run sourcegraph like this:

[code]

#### Is your feature request related to a problem? If so, please describe.

The current way of doing this requires a special incantation involving docker run that no one is likely to guess. The user would have to run it again in the event of a reboot.

Adding sourcegraph to bre

[2019-03-13 00:10] ryan-blunden commented on #2475
I've added how to create a self-signed cert that can be validated by browsers - https://docs.sourcegraph.com/admin/ssl_https_self_signed_cert_nginx

Next up is Let's Encrypt docs

[2019-03-13 00:28] sqs commented on #2712
This is a great idea to consider. Adding to 3.3 and will consider with the distribution team.

[2019-03-13 00:39] drolando opened #2713 "User settings textbox unusable on firefox"
- **Sourcegraph version:** 3.1.1
- **Platform information:** macos 10.14.3, firefox  65.0.1
#### Steps to reproduce:
On firefox I'm unable to edit (or view) my user settings since the textbox under `users/drolando/settings` is too small. See screenshot in "actual behavior".
Opening the page in an incognito window didn't help.

I don't see any error in the JS console.

#### Expected behavior:
I can

[2019-03-13 02:11] sqs opened #2715 "Explicitly specified repository permissions"
A customer wants to use 2 sets of repositories on Sourcegraph:

- Some repositories that all users can view
- Some repositories ("restricted repositories") that only a specific, rarely changing set of users can view
  - The restricted repositories all share the same repository name prefix, which is guaranteed to never be a prefix of any non-restricted repository

The restricted repositories are on

[2019-03-13 02:40] sqs commented on #2708
@ryan-blunden 	This is related to #1788 	and https://github.com/sourcegraph/sourcegraph/issues/2481, both of which are assigned to you for 3.2.  Therefore reassigning this issue to you. (I merged the last bit of my work to migrate docs.sourcegraph.com templates/assets into this repo in https://github.com/sourcegraph/deploy-sourcegraph-dot-com/pull/402, so https://docs.sourcegraph.com is now readin

[2019-03-13 03:55] sqs commented on #2706
If you trim the steps run in CI for doc changes, be sure to preserve running `docsite check` (not just prettier).

[2019-03-13 07:22] keegancsmith commented on #2025
@beyang The repo refresh endpoint is not going away. It is a different concern. To give an idea of how things fit together

* **Syncer** Responsible for communicating with the code host API to manage our set of repositories. It updates our repo table and informs **Scheduler** about our set of repositories.
* **Scheduler** Decides when to run `git fetch` or `git clone` for a repository.

We are onl

[2019-03-13 07:49] chrismwendt commented on #2706
I'm skipping non-doc checks for docs-only changes (for PRs only) in https://github.com/sourcegraph/sourcegraph/pull/2721, which will make CI take 2min (see sample build https://buildkite.com/sourcegraph/sourcegraph/builds/29318#5bad3b32-59a4-4f03-91e7-93ad70eb8caa).

[2019-03-13 09:11] keegancsmith commented on #2600
This does not block the 3.2 milestone, so moving to 3.3

[2019-03-13 10:12] #1741 closed

[2019-03-13 10:46] #2211 closed

[2019-03-13 10:47] #2690 closed

[2019-03-13 11:06] felixfbecker commented on #2683
I was just browsing some JS code and codeintel was terrible, then I noticed that the TypeScript language server on sourcegraph.com is not enabled anymore. I see this doesn't have an assignee and was backlogged. Imo this is a P1 - code intel for one of our core languages doesn't work properly. If we disable it to resolve an ops incident it needs to be properly fixed as soon as possible. I understan

[2019-03-13 13:02] TobiaszCudnik commented on #1283
I'm planning on giving it a go in the upcoming days. Seems like an easy task code-wise, so if you think there's any other feature worth implementing while I'm on it - let me know.

[2019-03-13 13:59] keegancsmith opened #2725 "browser-extension: Requests fail against dogfood"
I am logged in to sourcegraph.sgdev.org using Chrome, but the browser extension fails to send requests to dogfood. The requests fail with status code 401 and the text "Private mode requires authentication.".

I am unsure if this is due to an issue with the auth stack, or how we send requests from the background page. The below snippet from the network inspector is for browsing a private repo which

[2019-03-13 14:54] lguychard commented on #2725
@sqs could this be an unforeseen side-effect of https://github.com/sourcegraph/sourcegraph/pull/2689/files#diff-16c810a296953d51a6e43ae5f7d5fd74 (specifically the changes to `isTrustedOrigin`)?

@keegancsmith is using the prod extension here, and I'm also reproducing this with an extension built from the 3.1 branch, which leads me to think that this is not due to recent extension changes.

Bumping

[2019-03-13 15:22] ruhullahshah commented on #2259
Hi @slimsag Sorry for the delay in my reply to your query, but I was quite busy with some other tasks.
Thanks for all the investigation you guys did so far.

1. Our `/site-admin/configuration`, looks like this:
[code]

2.  No, I did not see a case wherein the incognito mode did not work. What I meant by saying that some of us can work with Sourcegraph in the incognito mode is that, there are some

[2019-03-13 18:15] lguychard commented on #2725
I just realized why this was happening while debugging something else.

- https://github.com/sourcegraph/sourcegraph/pull/2689/files#diff-16c810a296953d51a6e43ae5f7d5fd74  removed a special `corsAllowed` case checking whether the requestOrigin was our dev or prod extension in order to allow the request.
- Following this, the only two cases where a request is allowed are:
    - The request has a no

[2019-03-13 18:21] ggilmore commented on #2683
@felixfbecker

There are metrics: https://grafana.sgdev.org/d/8e6slOBik/typescript?refresh=10s&orgId=1&from=now-30d&to=now

You just have to pick a timeframe when the Typescript language server was still enabled.

[2019-03-13 18:21] chrismwendt commented on #2683
[Stackdriver metrics](https://console.cloud.google.com/kubernetes/deployment/us-central1-f/dot-com/prod/lang-typescript?project=sourcegraph-dev&tab=overview&deployment_overview_active_revisions_tablesize=50&duration=P7D&pod_summary_list_tablesize=20&service_list_datatablesize=20)

![image](https://user-images.githubusercontent.com/1387653/54303914-4b6c5780-4581-11e9-99fd-c0b764b3a2ef.png)

[LightS

[2019-03-13 19:06] njohnson7 opened #2729 "Great Tool and Chrome Extension!"
I just wanted to let you know how much I appreciate your work on Sourcegraph! Being able to find references and look up function signatures almost directly from GitHub repos is very convenient and helpful.

[2019-03-13 20:39] sqs commented on #2729
Thank you! This means a lot to our team. ❤️

[2019-03-13 20:43] ryan-blunden commented on #2729
Thanks @njohnson7, that's awesome and good to hear!

Curious as to what languages and projects you use Sourcegraph for? Private code, open source or both?

[2019-03-13 23:06] chrismwendt commented on #2683
I set the replica count back to 16 and enabled the language server with the [resource requests set to limits](https://github.com/sourcegraph/deploy-sourcegraph-dot-com/commit/3c7df6f576d675c74727c13fb2bd482f19d8141f). If that doesn't fix it, the next time it starts causing problems we'll be able to see more logs.

[2019-03-13 23:06] #2683 closed

[2019-03-13 23:45] ijt commented on #1005
I'm grabbing this issue based on my understanding that I'm owning this now.

[2019-03-14 02:56] sqs commented on #2725
@lguychard 	Ah - so this is fixed by publishing the latest browser extension for Chrome and Firefox, right? (And it would've broken for anyone whose Sourcegraph version build includes #2689, which is really just us on sourcegraph.sgdev.org and sourcegraph.com?)

Since it sounds like only we are affected and so it's not time-sensitive, can you please follow through on this instead of me (publishing

[2019-03-14 11:37] njohnson7 commented on #2729
So far I've mainly been using Sourcegraph with projects I've done in Ruby and JavaScript. Do you have an extension for bash or any type of shell scripting? I'm a big fan of explainshell.com, which I believe uses the Language Server Protocol to parse various lines of shell code and display the relevant docs. I think it's even more helpful with shell code, since the syntax is harder to parse without

[2019-03-14 17:15] ijt commented on #2625
I don't understand the bit about converting hierarchical queries into old style. Don't you want to convert old style into hierarchical?

[2019-03-14 17:51] #2638 closed

[2019-03-14 18:01] kunalganglani opened #2738 "Label missing with TS Button"
- **Sourcegraph version:**
- **Platform information:**

#### Steps to reproduce:

1. Visit https://github.com/kunalganglani/whatsappweb/commit/471ab3c03c5a1ab63c8b54c8a663a481292ce164
2. The label next to the File name, only has ICON of TS, but a Label saying Enable/ Disable Code Intelligence would help users know its purpose without waiting for the tooltip to appear.

#### Expected behavior:
Labe

[2019-03-14 18:27] ijsnow opened #2740 "Code search 3.3 tracking issue"
## User story

@ijt, @ijsnow, @attfarhan : Could someone provide a paragraph on why these specific set of issues, the benefits and who this will help. This helps greatly with the writing of the blog post.

Examples at #2025 and #2848

---

- [x] Track down issue that https://app.hubspot.com/contacts/2762526/company/887065580 is seeing where they're not seeing any results with indexed search enable

[2019-03-14 18:28] slimsag commented on #2432
(someone else has asked for the ability to set this via a search keyword)

[2019-03-14 18:39] slimsag commented on #1005
@ijt @nicksnyder @sqs I think this issue and https://github.com/sourcegraph/sourcegraph/issues/35  will be important for us long term. No timeline in mind, but probably important for us.

If we can get them placed into a milestone other than `Backlog` so we have a general idea of when we think they may be done (e.g. 6mo from now or something), that would be cool. Then if we need them sooner we can

[2019-03-14 18:45] slimsag commented on #2740
Also note https://github.com/sourcegraph/sourcegraph/issues/1005 and https://github.com/sourcegraph/sourcegraph/issues/35

[2019-03-14 18:51] nicksnyder commented on #1005
@ijt and @ijsnow are going to start working on a design document for this from a clean slate. We won't put this into a milestone until we are reasonable confident that we know when it will ship, but the timeline we have communicated to @ijsnow and @ijt is 3-6 month timeframe. We are prioritizing quality and testing over shipping this sooner.

[2019-03-14 19:07] slimsag commented on #2300
We've upgraded to Go 1.12 some ~13 days ago, so the next release of Sourcegraph this issue should automatically be resolved.

[2019-03-14 19:07] #2300 closed

[2019-03-14 19:48] beyang commented on #2025
Is this [an accurate representation of what the new arch will look like](https://drive.google.com/file/d/1Y0gEdbHyXkgKSUvUfRAAOPtzoVwwVgT7/view?usp=sharing) (you can edit this directly)?

The once a minute sync should be fine (I believe it does that now).

[2019-03-14 20:00] slimsag opened #2741 "Impossible to change repositoryPathPattern after adding repositories"
1. Add thousands of repositories to your Sourcegraph instance, wait for them to clone, etc.
2. Realize that since the browser extension repo name and Sourcegraph repo name must align, you actually needed to change `repositoryPathPattern` or else the browser extension won't work.
3. Edit the external service, set `repositoryPathPattern`... nothing happens! All repositories at `/site-admin/repositor

[2019-03-14 20:55] #975 closed

[2019-03-14 20:55] #2069 closed

[2019-03-14 21:13] ggilmore commented on #2579
sourcegraph/server:3.1.1 has been signed and a pushed to a separate docker repository https://hub.docker.com/r/sourcegraph/server-signed.

This doc contains basic/scant instructions for how to sign a new image for sourcegraph/server-signed: https://docs.google.com/document/d/1x5WIu-1XgQMhHUZPIs955dVoZ65JVzp9roJSyORjMzE/edit.

More investment will be put into this if more users request signed image

[2019-03-14 21:13] #2579 closed

[2019-03-14 21:19] slimsag commented on #1005
Great, that's perfect!

[2019-03-14 21:29] nicksnyder commented on #2738
cc @francisschmaltz @felixfbecker

[2019-03-14 21:44] nicksnyder commented on #2713
Thanks for filing! This is a duplicate of https://github.com/sourcegraph/sourcegraph/issues/1943

[2019-03-14 21:44] #2713 closed

[2019-03-14 21:44] ggilmore opened #2743 "Our services can create an unbounded number of processes"
Docker's cpu quota functionality (e.g. [`--cpu-shares`](https://docs.docker.com/engine/reference/run/#/cpu-share-constraint)) doesn't change the number of cores advertised to the underlying container. For example, GOMAXPROCS defaults to the number of physical cores available on the machine. Creating a large number of processes can cause a container's memory usage to explode and can lead to unpredi

[2019-03-14 21:48] slimsag commented on #2743
How does https://godoc.org/go.uber.org/automaxprocs handle the case of no explicit CPU limits being set? e.g. in the case of a regular user of `docker run [...] sourcegraph/server`

We should probably have sane defaults in that case as well

[2019-03-14 22:13] slimsag commented on #2743
Cool, so we should restrict it in that case to something reasonable like 16 (Otherwise someone running sourcegraph/server on a beefy machine would run into this)

[2019-03-14 22:19] ggilmore commented on #2743
To clarify:

[code]

Is that what you're saying @slimsag ?

[2019-03-14 22:27] slimsag commented on #2743
Yes

[2019-03-14 22:39] chrismwendt commented on #2683
The high latency alert fired again https://app.opsgenie.com/alert/detail/f34df453-246e-4076-b196-4a1a0eb63d35-1552552643931/details

![image](https://user-images.githubusercontent.com/1387653/54395917-7385b480-466e-11e9-9544-0501108dd51c.png)

Here are the logs during the hour of 1-2 AM Pacific https://console.cloud.google.com/logs/viewer?interval=CUSTOM&project=sourcegraph-dev&minLogLevel=0&expan

[2019-03-14 22:48] ggilmore commented on #2743
Hmm, I don't know how customizable https://github.com/uber-go/automaxprocs is. I'll need to dig into how it's implemented.

[2019-03-14 23:07] ryan-blunden opened #2747 "Sourcegraph chrome extension not working when pointing at local instance"
Sourcegraph version: insiders - 29412_2019-03-14_38950e1 (29412_2019-03-14_38950e1)
Chrome: 73.0.3683.75

![ScreenFlow](https://user-images.githubusercontent.com/133014/54396824-95346b00-4671-11e9-8dbe-d0aa82a993ac.gif)

[2019-03-14 23:08] sqs opened #2748 "Detect slowness when running local instance"
If a user runs a Sourcegraph instance on (especially) a laptop with a lot of other things running, the initial setup can fail. We should detect if it takes longer than 15-20s and print a message and/or handle the case.

Repro: Run a lot of apps with high CPU and memory usage, then run the Docker quickstart command. (Be sure you're running enough stuff that it takes ~40-60s to initialize, not the 1

[2019-03-14 23:13] nicksnyder commented on #2740
Those two issues should be considered when writing the design document, but neither of those are expected to ship in 3.3.

[2019-03-14 23:13] ryan-blunden opened #2749 "Theme picker doesn't show warning when "System" option selected in Chrome 73"
On macOS Mojave, I have the dark theme set, but when I choose **System** from the theme selector, it changes to light mode?

![ScreenFlow](https://user-images.githubusercontent.com/133014/54397453-bf872800-4673-11e9-85e7-93c87e907067.gif)

[2019-03-14 23:25] chrismwendt commented on #2729
@njohnson7 explainshell is sweeet 😃 Last year, I integrated explainshell into the bash language server:

- Docker image https://hub.docker.com/r/sourcegraph/codeintel-bash
- Dockerfile https://github.com/sourcegraph/lsp-adapter/blob/8c9f26cef0978ba96cf1fdca7e24546a3cd5384a/dockerfiles/bash/Dockerfile#L33

As of [Sourcegraph 3.0](https://about.sourcegraph.com/blog/sourcegraph-3.0), new code navigat

[2019-03-15 00:22] slimsag commented on #2740
Definitely 👍

[2019-03-15 03:08] keegancsmith commented on #2741
This will partially be solved by #2025.

[2019-03-15 03:51] keegancsmith commented on #2677
This is still an issue for the customer. I believe the cause is `repositoryPathPattern: "{nameWithOwner}"` in there config, which we haven't properly tested for a GHE instance. There are parts of our codebase which may result in us not using the external ID when doing repoLookup => failing to get links for a repository.

[2019-03-15 04:28] ijt commented on #2740
I don't see the connection between #35 and hierarchical search. They seem like independent issues.

[2019-03-15 04:53] felixfbecker commented on #2749
Chrome still doesn't support system theme. But the latest update made the feature detection return a false positive.

[2019-03-15 05:53] slimsag commented on #2514
Update: I have also found out that using basic auth for token authentication as we do today is incorrect. For example, my workaround above can produce:

[code]

By contrast, when using the proper `Authentication: Bearer <token>` header, this does not occur.

[2019-03-15 05:58] sqs commented on #2747
Duplicate of https://github.com/sourcegraph/sourcegraph/issues/2725

[2019-03-15 05:58] #2747 closed

[2019-03-15 05:58] sqs commented on #2725
@lguychard 	Reopening because I don't see the latest extension version has been published, and #2747 	was just reported (which seems to indicate the problem is still occurring).