[2022-07-15 17:06] sourcegraph-bot-2 commented on #38893
Heads up @joelkw @felixfbecker @vovakulikov @unclejustin - the "team/code-insights" label was applied to this issue.

[2022-07-15 17:13] limitedmage commented on #4282
I honestly don't see a reason why all this is even necessary. A new tab can always be opened with middle click or Cmd+click. No search engine (Google, GitHub, Amazon, etc) opens results in new tabs by default or provides a button next to results to open in a new tab. This feels like it will clutter the UI and confuse expectations for the majority of users. I'd like to understand more from users wh

[2022-07-15 17:30] #38182 closed

[2022-07-15 17:30] #38566 closed

[2022-07-15 17:34] unclejustin opened #38896 "insights: Add feature flag for Group Results insight"

[2022-07-15 18:22] bobheadxi commented on #38701
It looks like this was specifically accounted for in Yarn 2: https://github.com/yarnpkg/yarn/issues/5892#issuecomment-747114927

I'd rather not do the hack for now if a migration is on the horizon, so I'd say this (using Yarn 2 or `pnpm`) is a blocker to us setting up a registry cache

[2022-07-15 18:41] #38872 closed

[2022-07-15 18:45] felixfbecker commented on #38896
@unclejustin I'm surprised adding a feature flag is size 3, can you explain what complicates this?

[2022-07-15 19:22] olafurpg commented on #37921
We just merged #37690 that should make all crate versions available on Sourcegraph with at most a 12-14hr delay. Previously, we didn't run a `git fetch` on rust-lang/crates.io-index so we were syncing with stale commits.

The PR https://github.com/sourcegraph/sourcegraph/pull/38811 additionally makes it so that Sourcegraph syncs missing versions on-demand when a URL like https://sourcegraph.com/cr

[2022-07-15 19:43] chrismwendt commented on #28749
Can't repro on 45c8c022f2f4de728bf75f413866cc12dde77678

[2022-07-15 19:52] #33328 closed

[2022-07-15 20:10] taylorsperry commented on #35734
Is this related to the other contrast work that you're addressing, @umpox? I'm adding our team label just to keep track 👍

[2022-07-15 20:10] sourcegraph-bot-2 commented on #35734
Heads up @taylorsperry @jasongornall - the "team/frontend-platform" label was applied to this issue.

[2022-07-15 22:08] unclejustin commented on #38896
@felixfbecker, I will probably revise this down after it's done, but this is me overestimating something I haven't done in a while. If I have to look up how I do something, I will pad it a bit.

[2022-07-15 22:36] #15770 closed

[2022-07-16 00:41] #36589 closed

[2022-07-16 03:38] bobheadxi opened #38911 "DevX Q2B2: s2 continuous deployment"
### Plan

s2 needs an interim continuous deployment mechanism for dogfooding purposes while Cloud works on a long-term CD system for the Cloud product. The DevX team will drive these efforts with the assistance of the Cloud team.

@michaellzc has prepared the following for us:

- [x] `mg update-golden` - will fetch the latest docker-compose and update tags to latest (https://github.com/sourcegraph

[2022-07-16 13:36] fkling commented on #37922
The initial implementation already syncs line selection with the URL though that logic could probably be improved/cleaned up.

[2022-07-16 13:36] #37922 closed

[2022-07-16 16:58] #37398 closed

[2022-07-18 02:03] varungandhi-src commented on #37671
Re-opening this. Since we have separate alerting, can we run this test in a way so that failures don't block the `main` branch?

[2022-07-18 05:21] vovakulikov opened #38919 "Code Insights: Line chart has an odd hover areas distribution"
From @coury-clark

![CleanShot 2022-07-13 at 14 08 27](https://user-images.githubusercontent.com/18492575/179449383-649fdc23-4529-4b79-b3cd-8e9d1505cf43.gif)

[2022-07-18 05:21] sourcegraph-bot-2 commented on #38919
Heads up @joelkw @felixfbecker @vovakulikov @unclejustin - the "team/code-insights" label was applied to this issue.

[2022-07-18 05:41] vovakulikov commented on #31030
@Joelkw I'm closing it for now as neither of us could reproduce this.

[2022-07-18 05:41] #31030 closed

[2022-07-18 06:45] sourcegraph-bot-2 commented on #33879
Heads up @sourcegraph/search-core - the "team/search-core" label was applied to this issue.

[2022-07-18 06:45] ryankscott commented on #33879
Labeling this for search-core as it's already assigned to @ggilmore

[2022-07-18 06:48] ryankscott commented on #37142
Assigning this to devx based on linked issues.

[2022-07-18 06:49] ryankscott commented on #37159
Assigning to content-platform.

[2022-07-18 06:50] ryankscott commented on #37484
Assigning to team/iam.

[2022-07-18 06:50] sourcegraph-bot-2 commented on #37484
Heads up @sourcegraph/iam - the "team/iam" label was applied to this issue.

[2022-07-18 06:54] unknwon commented on #37484
Shouldn't this be the Cloud team or DevOps who has control over our Cloudflare account? IAM team is for the Sourcegraph IAM...

[2022-07-18 06:59] ryankscott commented on #37484
Thanks, I had no idea who owned Cloudflare so that makes sense to me. I was triaging it based on who raised it and was assigned to it as I don't have access to incident-io.

[2022-07-18 07:00] sourcegraph-bot-2 commented on #37484
Heads up @sourcegraph/cloud - the "team/cloud" label was applied to this issue.

[2022-07-18 07:42] valerybugakov commented on #37907
@bobheadxi, going to discuss internally with the team and come back here 👍

[2022-07-18 07:57] unknwon commented on #38035
Ah cool, thanks! Yeah most of time "git" is the default user name. As for the error, that look like an HTTPS certificate error rather than a user invalid error?

[2022-07-18 08:40] vovakulikov opened #38926 "Code Insights: Sort and limit filters do not show up with purple dot"
## Background

Our UX logic around filters says:

At the moment, sort and limit filters do not change the "dirty" purple dot appearance if we change them.

https://user-images.githubusercontent.com/18492575/179474798-c699bc8d-1de4-4f6e-878b-a65d99106202.mov

[2022-07-18 08:41] sourcegraph-bot-2 commented on #38926
Heads up @joelkw @felixfbecker @vovakulikov @unclejustin - the "team/code-insights" label was applied to this issue.

[2022-07-18 08:54] vovakulikov opened #38928 "Search: Search result page has flickering home page effect"
## Problem
You can see the home page for one or two frames when you're going back from blob or repo pages to the search result page. See the video below

https://user-images.githubusercontent.com/18492575/179476603-8e81103b-d985-4abd-895a-b4502bf36dd8.mov

## Possible root cause of this
From @vovakulikov

I think I know what happens here. In this place, we track `location.search` and set the inter

[2022-07-18 08:54] sourcegraph-bot-2 commented on #38928
Heads up @benvenker @lguychard - the "team/search-product" label was applied to this issue.

[2022-07-18 09:55] ryanslade commented on #38235
@keegancsmith There's currently only one implementation that needs to change, the one in searcher currently used by hybrid search. I see you even have a comment to move away from the current approach:

https://github.com/sourcegraph/sourcegraph/blob/d8ba817bf0a44326564d06681d8f12cc17f96618/cmd/searcher/internal/search/search.go#L56-L58

I was about to create a custom command in gitserver that coul

[2022-07-18 10:05] #37969 closed

[2022-07-18 10:05] #38344 closed

[2022-07-18 10:12] keegancsmith commented on #38235
For now all we need is the output of this command:

[code]

I have plans to optimize this in the future to be more smart. IE I have this comment:

[code]

But yes, essentially I just want to run git diff which symbols is probably already doing via a better git command interface. I have 15min to see if I can directly use what you have already. Will update here.

[2022-07-18 10:25] keegancsmith commented on #38235
Done https://github.com/sourcegraph/sourcegraph/pull/38930

[2022-07-18 10:36] vovakulikov opened #38931 "Webapp: Spike on Sourcegraph app UI extensibility"
## Background

The Sourcegraph web app and some parts of it may run in different environments (code hosts, ide, web app itself) with different presets (open source, enterprise, trial ...). All this is handled by tuning props on the top-level component of the web app.

The current system isn't scalable. If we want to integrate different parts of the application, we should come up with a more reliab

[2022-07-18 10:36] #38638 closed

[2022-07-18 10:51] #37087 closed

[2022-07-18 10:54] #38783 closed

[2022-07-18 11:03] #35007 closed

[2022-07-18 11:50] #38896 closed

[2022-07-18 12:16] Strum355 commented on #37671
This isnt blocking `main` branch, nor deploys to production, Im assuming this was cleared up earlier in slack?

[2022-07-18 12:16] #37671 closed

[2022-07-18 12:30] NiklasRosenstein commented on #37842
Thanks, it seems to work with 3.42.0 :)

[2022-07-18 12:37] philipp-spiess opened #38937 "Code Ownership: Register file:has.owner() predicate"
Part of the [Code Ownership RFC](https://docs.google.com/document/d/1gMx0K7fIwRgMvoavnWwHQ8DD6AVbem5Qo06I8H0BThs/edit#heading=h.trqab8y0kufp).
See https://github.com/sourcegraph/sourcegraph/issues/38148

Prepare the scaffold to introduce a new has.owner predicate.

[2022-07-18 12:39] philipp-spiess commented on #37480
Should we mark this as done? @jjinnii @ryankscott @vdavid

[2022-07-18 12:40] philipp-spiess commented on #38212
@ryankscott Is this something that we want to move to the milestone 14 or drop?

[2022-07-18 14:01] fkling commented on #38928
We could inspect the URL (parameters) directly in `SearchPageWrapper`, but that alone won't solve the problem that we will still have two renders: One because the URL changes and one after the Zustand store updates. It would be nice to do both at once somehow. Maybe something like a `useImmediateEffect` hook that executes its callback immediately would help?

[2022-07-18 14:05] #38341 closed

[2022-07-18 14:13] vovakulikov commented on #38928
@fkling, I meant that not having `searchQueryFromURL` inside the state would solve the problem with flashing. It could solve problems with double rendering as well because, as I can see, we have only two places where we're reading `searchQueryFromURL` from the state, and in both places, we can easily read from the URL directly.

I would be cautious with using `useImmediateEffect` since this relies

[2022-07-18 14:38] fkling commented on #38928
@vovakulikov Yeah, that's what I meant with we can inspect the URL directly. But we would still need to update the internal query state from the URL. We are not just setting `searchQueryFromURL` we are parsing the search query and extract various pieces of information (e.g. `case:yes`). And it would be nice if all this could happen at the same time (and not rendering the search page because of rou

[2022-07-18 14:41] fkling commented on #38928
With `useImmediateEffect` I basically just mean a helper that would allow to run some code synchronously but only if something has changed. Instead of doing

[code]

it would be something like

[code]

[2022-07-18 15:15] jhchabran commented on #38701
@jasongornall is there a migration on the horizon btw? Because the dirty fix could still save a lot of time is it's not coming in the next 3 weeks :D

[2022-07-18 15:50] Piszmog commented on #37834
@malomarrec Correct, this did not make it into the release. There is a draft PR opened #38490

[2022-07-18 16:10] Numbers88s commented on #33061
Closing, this refers to the old reference panel.

[2022-07-18 16:10] #33061 closed

[2022-07-18 16:12] Numbers88s commented on #33069
Suggested Solution:

- Change the blue chevron to "More", "Edit" or an info icon.

[2022-07-18 16:17] Numbers88s commented on #33129
Proposed Solution:
- Make the parent directories sticky while scrolling

[2022-07-18 16:20] Strum355 commented on #33130
Duplicate of https://github.com/sourcegraph/sourcegraph/issues/24947 and possible others, there are some similarly titled issues but with vague/lost in time descriptions

[2022-07-18 16:35] sourcegraph-bot-2 commented on #38931
Heads up @joelkw @felixfbecker @vovakulikov @unclejustin - the "team/code-insights" label was applied to this issue.

[2022-07-18 16:50] #38737 closed

[2022-07-18 17:10] #37866 closed

[2022-07-18 17:11] coury-clark opened #38951 "insights: any error in the insightViews query fails all results"
When loading a list of insight views using the GraphQL query `insightViews`, any error on any insight will fail the entire response and will not return data. Currently this breaks the entire product quite badly such that the insights page cannot load anything at all. Unfortunately, this state occurs because some data on the insight definition is invalid, so there is no way for the user to fix the

[2022-07-18 17:39] coury-clark commented on #38951
Most likely we need to refactor the assumption that any error on a sub-resolver fails the entire request, and start returning [custom errors](https://github.com/graph-gophers/graphql-go#custom-errors)

[2022-07-18 17:44] coury-clark commented on #38951
For the short term, we are going to skip any search contexts that fail to load without error.

[2022-07-18 19:59] chrispine opened #38967 "Remove old feature gates from src-cli"
Src-cli has feature gates that we could remove, along with a lot of code paths we no longer test

[2022-07-18 19:59] benvenker commented on #38664
@taylorsperry can you or @jasongornall direct us to any kind of docs on the new icons and how we might go about using them?

[2022-07-18 20:00] chrispine opened #38968 "Server-side workspace resolution is the only workspace resolution"
Server-side workspace resolution is the only workspace resolution

[2022-07-18 20:00] sourcegraph-bot-2 commented on #38664
Heads up @benvenker @lguychard - the "team/search-product" label was applied to this issue.

[2022-07-18 20:01] chrispine opened #38969 "Removing all "campaigns" aliases and shim"
Removing all "campaigns" aliases and shim

[2022-07-18 20:05] chrispine opened #38971 "Higher base versions of code hosts"
By removing support for old/outdated versions of code hosts, we can clean up our code and support more modern features/APIs.

[discussion in Slack](https://sourcegraph.slack.com/archives/C02EDAQAJQZ/p1657650372337439) about GitLab specifically

[2022-07-18 20:07] chrispine opened #38972 "Remove any fallbacks to global code host tokens"
Remove any fallbacks to global code host tokens (and testing it all)

[2022-07-18 20:09] chrispine opened #38975 "GraphQL sweep: what changes/deprecations should we make?"
Do a sweep of graphql and see what deprecations/changes we should make there

- Deprecated state fields on a changeset: reconcilerState, publicationState, externalState
- Several deprecated fields on batch change
- ...more?

[2022-07-18 20:21] #38521 closed

[2022-07-18 20:40] bobheadxi commented on #38851
Alternatively, would be happy to accept a PR to configure the concurrency!

[2022-07-18 20:46] sourcegraph-bot-2 commented on #35120
Heads up @jplahn - the "team/repo-management" label was applied to this issue.

[2022-07-18 20:54] malomarrec opened #38976 "Test triagebot"

[2022-07-18 20:54] malomarrec commented on #38976
Hey @malomarrec, this issue didn't have a team label. Given you created it, I assigned you and added your team label. Feel free to unassign yourself. If this is not the right label, can you make sure to add the right one?

[2022-07-18 20:55] malomarrec commented on #38976
Hey @malomarrec, this issue didn't have a team label. Given you created it, I assigned you and added your team label. Feel free to unassign yourself. If this is not the right label, can you make sure to add the right one?

[2022-07-18 20:58] malomarrec commented on #38976
Hey @malomarrec, this issue didn't have a team label. Given you created it, I assigned you and added your team label. Feel free to unassign yourself. If this is not the right label, can you make sure to add the right one?

[2022-07-18 20:59] malomarrec commented on #38976
Hey @malomarrec, this issue didn't have a team label. Given you created it, I assigned you and added your team label. Feel free to unassign yourself. If this is not the right label, can you make sure to add the right one?

[2022-07-18 21:00] malomarrec commented on #38976
Hey @malomarrec, this issue didn't have a team label. Given you created it, I assigned you and added your team label. Feel free to unassign yourself. If this is not the right label, can you make sure to add the right one?

[2022-07-18 21:01] malomarrec commented on #38976
Hey @malomarrec, this issue didn't have a team label. Given you created it, I assigned you and added your team label. Feel free to unassign yourself. If this is not the right label, can you make sure to add the right one?

[2022-07-18 21:02] malomarrec opened #38978 "test triagebot 3"

[2022-07-18 21:02] malomarrec commented on #38978
Hey @malomarrec, this issue didn't have a team label. Given you created it, I assigned you and added your team label. Feel free to unassign yourself. If this is not the right label, can you make sure to add the right one?

[2022-07-18 21:03] malomarrec commented on #38976
Hey @malomarrec, this issue didn't have a team label. Given you created it, I assigned you and added your team label. Feel free to unassign yourself. If this is not the right label, can you make sure to add the right one?

[2022-07-18 21:05] malomarrec commented on #38978
Hey @malomarrec, this issue didn't have a team label. Given you created it, I assigned you and added your team label. Feel free to unassign yourself. If this is not the right label, can you make sure to add the right one?

[2022-07-18 21:05] malomarrec commented on #38978
Hey @malomarrec, this issue didn't have a team label. Given you created it, I assigned you and added your team label. Feel free to unassign yourself. If this is not the right label, can you make sure to add the right one?

[2022-07-18 21:07] malomarrec commented on #38978
Hey @malomarrec, this issue didn't have a team label. Given you created it, I assigned you and added your team label. Feel free to unassign yourself. If this is not the right label, can you make sure to add the right one?

[2022-07-18 21:07] malomarrec commented on #38976
Hey @malomarrec, this issue didn't have a team label. Given you created it, I assigned you and added your team label. Feel free to unassign yourself. If this is not the right label, can you make sure to add the right one?

[2022-07-18 21:16] malomarrec commented on #38978
Hey @malomarrec, this issue didn't have a team label. Given you created it, I assigned you and added your team label. Feel free to unassign yourself. If this is not the right label, can you make sure to add the right one?

[2022-07-18 21:17] malomarrec commented on #38978
Hey @malomarrec, this issue didn't have a team label. Given you created it, I assigned you and added your team label. Feel free to unassign yourself. If this is not the right label, can you make sure to add the right one?

[2022-07-18 21:45] benvenker commented on #38664
This is great info, thanks @lrhacker!

[2022-07-18 22:57] chwarwick opened #38990 "code insights: save filters as new view for scoped search insights creates new series instead of resuing"
When saving a previously JIT insight (scoped to some repos) as a new view, it creates a brand new series and recalculates instead of using the old series and setting the default filters.

Possible solution: we may need some argument in the create mutation that its coming from a view to reuse it

[2022-07-18 22:57] sourcegraph-bot-2 commented on #38990
Heads up @joelkw @felixfbecker @vovakulikov @unclejustin - the "team/code-insights" label was applied to this issue.

[2022-07-18 23:00] benvenker opened #38991 "Adjust notepad display so it doesn’t overlap with the author component or the find references pane"
## Problem
We currently display the file author information in the bottom corner of the file view. We also display the notepad component in a similar location and they often overlap.

This is (for now) the most convenient and usable location for the notepad. Author information is not always necessary, but without keybindings, the user can only access the notepad via UI actions.

![Image](https://u

[2022-07-18 23:09] limitedmage commented on #38664
@benvenker There's an immense amount of icons in MDI so I don't think we'll have trouble with this. For icons that don't exist in MDI, the design team will usually provide SVGs.

[2022-07-18 23:11] limitedmage commented on #38664
I'd love it if we could use icons from https://github.com/PKief/vscode-material-icon-theme but it seems like quite an ordeal to integrate that into our build system (it's not an NPM package).

[2022-07-18 23:17] #37552 closed

[2022-07-18 23:31] #38740 closed

[2022-07-19 00:07] #37360 closed

[2022-07-19 00:07] #34251 closed

[2022-07-19 00:13] michaellzc opened #38995 "ArgoCD performance & scaling strategy"

[2022-07-19 02:02] benvenker commented on #38664
@limitedmage nice, that’s the one @almeidapaulooliveira likes as well! I’m good with whatever design approves, I’d just like to have file icons.

does anyone on this thread know what next steps would be there?

[2022-07-19 02:15] benvenker commented on #38564
@limitedmage if you were just planning on following the design and implementing in another ticket you can ignore this one. It's just a work item for updating the filter content and type.

[2022-07-19 02:16] benvenker commented on #36534
@almeidapaulooliveira can you connect with @fkling in your morning and see what needs to be done here?

[2022-07-19 02:18] benvenker commented on #38670
@limitedmage I realized I prematurely reassigned this to @novoselrok, thinking you were leaving earlier than you are! If you think you'll try and get to it before you leave, feel free to reassign it (or I can), but otherwise i'm going to hand it off.

[2022-07-19 02:26] benvenker commented on #38810
cc @novoselrok for some ideas in the Figma. @quinnkeast if you get a chance can  you take a look at this in your AM and provide feedback. Problem to solve here is making it easier to parse our symbol results, which currently use only icons to indicate a symbol type. We sort of show some hierarchy in the sense that we will show a parent symbol's name to the right of a symbol.

The goal of the propo

[2022-07-19 02:40] #34727 closed

[2022-07-19 02:55] varungandhi-src commented on #33069
"More" or the info icon suggestions sound good. Not sure about "Edit" (what is being edited here?).

[2022-07-19 02:56] varungandhi-src commented on #33130
OK, let's close this as it's a duplicate of https://github.com/sourcegraph/sourcegraph/issues/24947.

[2022-07-19 02:56] #33130 closed

[2022-07-19 04:06] valerybugakov commented on #37613
Two valuable pieces of documentation to link to the failure message would be:

1. [CI flakes](https://docs.sourcegraph.com/dev/background-information/ci#flakes)
2. [Assessing flaky client steps](https://docs.sourcegraph.com/dev/how-to/testing#assessing-flaky-client-steps)

[Slack thread for context](https://sourcegraph.slack.com/archives/C01N83PS4TU/p1658203376205619).

[2022-07-19 04:09] varungandhi-src opened #39000 "ci/flake: codeintel e2e test disabled"
### Test

File sidebar

### Example failure

https://buildkite.com/sourcegraph/sourcegraph/builds/161567

### Disabling PR

https://github.com/sourcegraph/sourcegraph/pull/38999/files

### Additional details

_No response_

[2022-07-19 04:58] novoselrok commented on #38810
Yeah, 2nd and 4th are not possible at the moment because we can't the type information for symbols.

I prefer the 3rd option from the above image because injecting the symbol tag between the line number and the code will be very tricky.

[2022-07-19 05:57] novoselrok commented on #38810
The only thing I'm worried about with the new symbol display is the situation below, where there are several identical results, and the only difference is the container name:

<img width="551" alt="Screenshot 2022-07-19 at 07 54 33" src="https://user-images.githubusercontent.com/6417322/179675653-0ccdafde-674c-4164-b827-6dd63c2b6a03.png">

With the new system, a user won't be able to tell the diff

[2022-07-19 07:13] malomarrec commented on #38991
Hey @benvenker, this issue didn't have a team label. Given you created it, I assigned you and added your team label. Feel free to unassign yourself. If this is not the right label, can you make sure to add the right one?

[2022-07-19 07:14] sourcegraph-bot-2 commented on #38991
Heads up @benvenker @lguychard - the "team/search-product" label was applied to this issue.

[2022-07-19 07:25] keegancsmith commented on #37873
@markjm in case this needs to be removed, would just redacting the value of the cookie been useful instead of deleting the value completely?

[2022-07-19 07:36] #38235 closed

[2022-07-19 08:04] jhchabran commented on #37931
Was chatting with @mrnugget this morning and this came up. @marekweb I don't know where you're putting your wip work, but I think that if it's not already in there (though I think we mentioned it quite a few times in our previous runs on this topic) it should be :D

[2022-07-19 09:31] #26578 closed

[2022-07-19 09:50] #38937 closed

[2022-07-19 10:48] novoselrok commented on #38891
Side note: I somehow confused `chunkMatches` with [hunks](https://sourcegraph.com/gitlab.com/sourcegraph/sourcegraph/-/blob/client/search-ui/src/components/FileSearchResult.tsx?L185:38), which are currently causing the duplication in the file search results component.

Nonetheless, to get the full advantage of the new chunk matches, we will need to rewrite the ancient [highlighting function](https

[2022-07-19 10:55] gitstart-sourcegraph opened #39018 "Search filter sidebar flickers on click trigger icon click"
## Problem statement
Sidebar panel flickers sometimes when clicked, See attached video for a short Demo

https://user-images.githubusercontent.com/89894075/179733577-cde5197c-ab22-4827-b85a-e6373986ef78.mov

## Expected behavior
Panel does not flicker when clicked

## Implementation details
As shown on console log, issue occurs as a result of changes in `selectedTab`([file](https://github.com/sour

[2022-07-19 10:55] sourcegraph-bot-2 commented on #39018
Heads up @taylorsperry @jasongornall - the "team/frontend-platform" label was applied to this issue.

[2022-07-19 10:59] gitstart-sourcegraph commented on #39018
Hi @valerybugakov @umpox
Could you please help review this issue, perhaps we could help to resolve it, if concerns raised are valid.

[2022-07-19 11:27] #38928 closed

[2022-07-19 11:44] benvenker commented on #38810
@novoselrok did you still want to the grouping by container name?

[2022-07-19 11:45] #38575 closed

[2022-07-19 11:53] novoselrok commented on #38810
Probably not, I'm not sure if we could do it with the new design.

[2022-07-19 11:55] eseliger opened #39023 "Deprecate src batch repos and add replacement src batch workspaces"
Discussed in https://github.com/sourcegraph/src-cli/pull/801, we want to deprecate the src batch repos command because it doesn't capture the workspaces semantics and makes it hard to use with server-side resolve. Eventually, this will be removed entirely or be just an alias, with slightly changed output.

[2022-07-19 11:58] #36261 closed

[2022-07-19 12:03] indradhanush opened #39025 "sg maintenance: Identify pain points and build domain knowledge"
`sg maintenance` has been a source of frustration off late with frequent errors due to repo corruption and consequently repos not being available for search and / or being recloned endlessly.

We've noticed these especially in #inc-115 and #inc-120 recently.

Additionally, some customers have also faced issues with `sg maintenance`.

We should deep dive this part of the code, identify ways we can

[2022-07-19 12:03] sourcegraph-bot-2 commented on #39025
Heads up @jplahn - the "team/repo-management" label was applied to this issue.

[2022-07-19 12:08] indradhanush opened #39028 "Attempt to fix a corrupted repo instead of recloning"
Currently, if a repo is found to be corrupt we attempt to reclone it endlessly. There is some initial finding which seems to indicate that `sg maintenance` might be conflicting with git's default garbage collection leading to the repo corruption.

Instead of attempting to reclone, we should attempt to fix the corrupted refs instead.

One of our customers have used this script to fix the repo and w

[2022-07-19 12:09] indradhanush commented on #39028
Related to #39025.

[2022-07-19 12:10] indradhanush commented on #39025
https://github.com/sourcegraph/sourcegraph/pull/38947 should help resolve the conflict between sg maintenance and git's default gc.

[2022-07-19 12:27] #38802 closed

[2022-07-19 12:45] vovakulikov opened #39032 "Web [Charts]: Support label rotation and truncation"
## Background

Currently, the bar chart (and all categorical-like charts) have a problem with label overlapping when dealing with many items (bars) datasets. See the image below.

<img width="394" alt="Screenshot 2022-07-19 at 15 24 18" src="https://user-images.githubusercontent.com/18492575/179752725-7f16444d-d023-44aa-8a6e-74b0a6083689.png">

_Code Insights compute live preview bar chart_

**We

[2022-07-19 12:46] sourcegraph-bot-2 commented on #39032
Heads up @joelkw @felixfbecker @vovakulikov @unclejustin - the "team/code-insights" label was applied to this issue.

[2022-07-19 12:49] almeidapaulooliveira commented on #36534
@fkling do you have more context? For example, the link for the code to know if it is the light or the dark theme? Also, it would help to understand the criteria that flagged as low contrast. Is it some numeric hue difference?

[2022-07-19 12:53] jhchabran opened #39034 "Include the commit that was used to build the client bundle and make it easily available."
Follow-up to https://github.com/sourcegraph/sourcegraph/pull/38940

During our sync call with @valerybugakov we thought about adding a simple mechanism that would expose with which commit the client bundle was build. Something like `window.context.bundleCommit` or better.

This way, we could potentially see asap if a single container (server) deployment is running with a cached version of the bund

[2022-07-19 12:54] sourcegraph-bot-2 commented on #39034
Heads up @taylorsperry @jasongornall - the "team/frontend-platform" label was applied to this issue.

[2022-07-19 12:55] #35361 closed

[2022-07-19 12:55] #35351 closed

[2022-07-19 12:58] almeidapaulooliveira commented on #38664
There's [a project that created an npm package](https://www.npmjs.com/package/vscode-material-icon-theme-js) from vscode-material-icon-theme. Can we use it?

[2022-07-19 13:02] AlicjaSuska commented on #38836
@vovakulikov  thank you for submitting this issue. Here is the design review
- the container of the whole form is wider than for other code insight types - it should be narrower
- we should add 'type: X | change type' element to all remaining insight categories for consistency
- change the helper text in the header, remove the helper text below the cards ([design](https://www.figma.com/file/DqZHet

[2022-07-19 13:03] ryankscott opened #39036 "Add deprecation notice to the authoring extension page"

[2022-07-19 13:04] ryankscott opened #39037 "Add deprecation notice to extension registry"

[2022-07-19 13:04] ryankscott opened #39038 "Add deprecation notice developing Sourcegraph extensions page"

[2022-07-19 13:04] sourcegraph-bot-2 commented on #39036
Heads up @muratsu @jjinnii @ryankscott - the "team/integrations" label was applied to this issue.

[2022-07-19 13:04] ryankscott opened #39039 "Add deprecation notice Sourcegraph extensions architecture page"
This [page](https://docs.sourcegraph.com/dev/background-information/architecture/sourcegraph-extensions)

[2022-07-19 13:04] fkling commented on #36534
@almeidapaulooliveira See https://buildkite.com/sourcegraph/sourcegraph/builds/149563#0180fa2b-6e3c-4d94-9bdc-502dbd89ceb8/227-313 The contrast between the highlight color and the text color doesn't meet the criteria.

[code]

[2022-07-19 13:04] ryankscott opened #39040 "Create notice on the extensions page that extensions administration works only on versions prior to 4.0"

[2022-07-19 13:04] sourcegraph-bot-2 commented on #39037
Heads up @muratsu @jjinnii @ryankscott - the "team/integrations" label was applied to this issue.

[2022-07-19 13:04] ryankscott opened #39041 "As sourcegraph.com extensions registry (and the corresponding page) will not be available, suggest using src CLI to view and manage extensions"

[2022-07-19 13:04] sourcegraph-bot-2 commented on #39038
Heads up @muratsu @jjinnii @ryankscott - the "team/integrations" label was applied to this issue.

[2022-07-19 13:05] sourcegraph-bot-2 commented on #39039
Heads up @muratsu @jjinnii @ryankscott - the "team/integrations" label was applied to this issue.

[2022-07-19 13:05] ryankscott opened #39042 "Add support for Browser Extensions for pre and post v4.0"
Some context on what we want to do in this thread: https://sourcegraph.slack.com/archives/C03P1V3J92P/p1658843020339829

[2022-07-19 13:05] ryankscott opened #39043 "Remove publish script in src cli that allows you to create new extensions"

[2022-07-19 13:06] ryankscott opened #39044 "Make sure that the “copy” command in src cli fails against a post-4.0 instance"

[2022-07-19 13:06] ryankscott opened #39045 "Double check VS Code extension dependencies on SG extensions"

[2022-07-19 13:06] sourcegraph-bot-2 commented on #39040
Heads up @muratsu @jjinnii @ryankscott - the "team/integrations" label was applied to this issue.

[2022-07-19 13:06] ryankscott opened #39046 "Remove extensions page in web"

[2022-07-19 13:06] ryankscott opened #39047 "Do not use remote extension registry: do not query enabled extensions and remove their usage in web"

[2022-07-19 13:07] ryankscott opened #39048 "Remove extensions tab from the site settings page in web"

[2022-07-19 13:07] ryankscott opened #39049 "Remove extensions related settings and their handlers from site configuration in web"

[2022-07-19 13:07] ryankscott opened #39050 "Update CreateRegistryExtension mutation handler to return a descriptive error on extension creation request in web"

[2022-07-19 13:07] sourcegraph-bot-2 commented on #39042
Heads up @muratsu @jjinnii @ryankscott - the "team/integrations" label was applied to this issue.

[2022-07-19 13:07] sourcegraph-bot-2 commented on #39043
Heads up @muratsu @jjinnii @ryankscott - the "team/integrations" label was applied to this issue.

[2022-07-19 13:07] ryankscott opened #39051 "Remove the UI for managing / installing extensions in the extension registry"

[2022-07-19 13:08] sourcegraph-bot-2 commented on #39044
Heads up @muratsu @jjinnii @ryankscott - the "team/integrations" label was applied to this issue.

[2022-07-19 13:09] ryankscott opened #39052 "Removing the authoring extension page"

[2022-07-19 13:09] ryankscott opened #39053 "Remove the references to extension registry"

[2022-07-19 13:09] sourcegraph-bot-2 commented on #39046
Heads up @muratsu @jjinnii @ryankscott - the "team/integrations" label was applied to this issue.

[2022-07-19 13:10] sourcegraph-bot-2 commented on #39047
Heads up @muratsu @jjinnii @ryankscott - the "team/integrations" label was applied to this issue.

[2022-07-19 13:10] ryankscott opened #39054 "Remove developing Sourcegraph extensions page"

[2022-07-19 13:10] sourcegraph-bot-2 commented on #39048
Heads up @muratsu @jjinnii @ryankscott - the "team/integrations" label was applied to this issue.

[2022-07-19 13:10] ryankscott opened #39055 "Remove Sourcegraph extensions architecture page"

[2022-07-19 13:10] ryankscott opened #39056 "Remove redundant code from components extensions contribute to (command palette, action nav items, etc)"

[2022-07-19 13:11] ryankscott opened #39057 "Remove the extensions API at some point of time"

[2022-07-19 13:11] ryankscott opened #39058 "Remove all support after everyone has migrated to 4.0"

[2022-07-19 13:11] sourcegraph-bot-2 commented on #39050
Heads up @muratsu @jjinnii @ryankscott - the "team/integrations" label was applied to this issue.

[2022-07-19 13:12] sourcegraph-bot-2 commented on #39051
Heads up @muratsu @jjinnii @ryankscott - the "team/integrations" label was applied to this issue.

[2022-07-19 13:13] sourcegraph-bot-2 commented on #39052
Heads up @muratsu @jjinnii @ryankscott - the "team/integrations" label was applied to this issue.

[2022-07-19 13:14] sourcegraph-bot-2 commented on #39054
Heads up @muratsu @jjinnii @ryankscott - the "team/integrations" label was applied to this issue.

[2022-07-19 13:14] sourcegraph-bot-2 commented on #39055
Heads up @muratsu @jjinnii @ryankscott - the "team/integrations" label was applied to this issue.

[2022-07-19 13:15] sourcegraph-bot-2 commented on #39056
Heads up @muratsu @jjinnii @ryankscott - the "team/integrations" label was applied to this issue.

[2022-07-19 13:15] sourcegraph-bot-2 commented on #39057
Heads up @muratsu @jjinnii @ryankscott - the "team/integrations" label was applied to this issue.

[2022-07-19 13:15] sourcegraph-bot-2 commented on #39058
Heads up @muratsu @jjinnii @ryankscott - the "team/integrations" label was applied to this issue.

[2022-07-19 13:55] vovakulikov opened #39064 "Code Insights: Fix intro creation page layout"
Follow-up for https://github.com/sourcegraph/sourcegraph/issues/38836

We should fix the intro creation page layout based on the latest designs for this page
Original comment from @AlicjaSuska

[2022-07-19 13:56] sourcegraph-bot-2 commented on #39064
Heads up @joelkw @felixfbecker @vovakulikov @unclejustin - the "team/code-insights" label was applied to this issue.

[2022-07-19 14:03] vovakulikov opened #39066 "Code Insights: Improve creation UI live preview flow"
## Background

We shouldn't block live previews from fetching data if the non-essential fields aren't filled out (like colours or names). Also, changing colour settings shouldn't trigger data re-fetching and should just "hot-reload" the live chart without the loading step.

Original comment from @AlicjaSuska

[2022-07-19 14:06] vovakulikov commented on #38836
Thanks for the review @AlicjaSuska

- These three will be addressed in this issue. https://github.com/sourcegraph/sourcegraph/issues/37218 I'll add them to the issue's description

- We missed this while was adding a new card for this page. I created a follow-up for this. https://github.com/sourcegraph/sourcegraph/issues/39064

- This one has been addressed already in upcoming PR here https://gith

[2022-07-19 14:14] indradhanush opened #39069 "Investigate long wait times on internal rate limiter"
Initially reported in https://github.com/sourcegraph/customer/issues/1127.

This is also evident in S2:

[Dashboard
](https://sourcegraph.sourcegraph.com/-/debug/grafana/d/repo-updater/repo-updater?viewPanel=100250&orgId=1&from=now-30d&to=now)
![image](https://user-images.githubusercontent.com/2682729/179771236-12c23a76-fc65-409e-bc72-f7d02570bad4.png)

Also to be investigated why there have been

[2022-07-19 14:19] taylorsperry commented on #36324
Adding the P2 label because we'll prioritize Wildcard v3 work after Sourcegraph 4.0.

[2022-07-19 14:47] taylorsperry commented on #38345
Closing because the @sourcegraph/frontend-platform portion of this work is complete. See [Slack announcement](https://sourcegraph.slack.com/archives/C07KZF47K/p1657770383132829?thread_ts=1656564661.247899&cid=C07KZF47K).

[2022-07-19 14:51] almeidapaulooliveira commented on #36534
@fkling can you confirm this rule is complaining about the sidebar panel? I don't see this class used on it.

<img width="1016" alt="Screen Shot 2022-07-19 at 11 48 23" src="https://user-images.githubusercontent.com/64257673/179780190-058b68de-face-494f-9f08-5d9124f3f41a.png">

[2022-07-19 15:01] #38919 closed

[2022-07-19 15:10] #30494 closed

[2022-07-19 15:13] malomarrec commented on #38978
Hey @malomarrec, this issue didn't have a team label. Given you created it, I assigned you and added your team label. Feel free to unassign yourself. If this is not the right label, can you make sure to add the right one?

[2022-07-19 15:18] malomarrec commented on #38455
Hey @ryphil, just a reminder to triage this issue and remove the triage-bot/needs-triage label when you're done!

[2022-07-19 15:18] malomarrec commented on #36435
Hey @Joelkw, just a reminder to triage this issue and remove the triage-bot/needs-triage label when you're done!

[2022-07-19 15:18] malomarrec commented on #36316
Hey @Joelkw, just a reminder to triage this issue and remove the triage-bot/needs-triage label when you're done!

[2022-07-19 15:18] malomarrec commented on #36323
Hey @ryphil, just a reminder to triage this issue and remove the triage-bot/needs-triage label when you're done!

[2022-07-19 15:18] malomarrec commented on #35974
Hey @benvenker, just a reminder to triage this issue and remove the triage-bot/needs-triage label when you're done!

[2022-07-19 15:18] malomarrec commented on #33627
Hey @eugeniaft, just a reminder to triage this issue and remove the triage-bot/needs-triage label when you're done!

[2022-07-19 15:18] malomarrec commented on #32866
Hey @ryphil, just a reminder to triage this issue and remove the triage-bot/needs-triage label when you're done!

[2022-07-19 15:23] sourcegraph-bot-2 commented on #36323
Heads up @benvenker @lguychard - the "team/search-product" label was applied to this issue.

[2022-07-19 15:28] gitstart-sourcegraph opened #39076 "thenify before 3.3.1 made use of unsafe calls to `eval`."
## Problem statement

Versions of thenify prior to 3.3.1 made use of unsafe calls to eval. Untrusted user input could thus lead to arbitrary code execution on the host. The patch in version 3.3.1 removes calls to eval.

## Success criteria
Update thenify to a non-vulnerable version

## Implementation details
The latest possible version of thenify that can be installed is 3.3.0.
The earliest fixed

[2022-07-19 15:29] sourcegraph-bot-2 commented on #39076
Heads up @taylorsperry @jasongornall - the "team/frontend-platform" label was applied to this issue.

[2022-07-19 15:33] #38976 closed

[2022-07-19 15:51] ggilmore opened #39079 "conf.Watch broken when running sourcegraph via sg start, possibly in k8s / docker-compose as well"
see https://sourcegraph.slack.com/archives/C07KZF47K/p1658243316349919 for more context

[2022-07-19 16:12] leonore commented on #38352
closing as fixed with #38435

[2022-07-19 16:12] #38352 closed

[2022-07-19 16:13] leonore commented on #38603
@coury-clark was this closed with the PR mentioned above?

[2022-07-19 16:14] coury-clark commented on #38603
@leonore yep, thanks for the ping!

[2022-07-19 16:14] #38603 closed

[2022-07-19 16:17] almeidapaulooliveira commented on #36534
@benvenker, @fkling, I figured out where the issue is. I updated the [Figma file](https://www.figma.com/file/8MkIcpDtjv6tqgxZFcEQDt/Core-workflow-punch-list?node-id=762%3A23830) with the updated colors with correct contrast on the Light theme (checked it with the [suggested tool](https://dequeuniversity.com/rules/axe/4.4/color-contrast?application=axe-puppeteer)), and the Dark theme doesn't appear

[2022-07-19 16:28] fkling commented on #36534
@almeidapaulooliveira This issue is about the background color of the "current" filter in the search query input:
<img width="502" alt="2022-07-19_18-25" src="https://user-images.githubusercontent.com/179026/179801283-253a84d2-8082-4672-851e-245c2aacb76a.png">

The color is set here: https://sourcegraph.sourcegraph.com/github.com/sourcegraph/sourcegraph/-/blob/client/search-ui/src/input/CodeMirror

[2022-07-19 16:52] coury-clark opened #39083 "WIP: MI Usage Data MVP Tracking issue"
### Plan

Work required to achieve [RFC 719](https://docs.google.com/document/d/1N9aO0uTlvwXI7FzdPjIUCn_d1tRkJUfsc0urWigRf6s/edit#heading=h.1c5dxxpg5c4u), to support event level telemetry on managed instances for customers that opt-in.

### Tracked issues

#### Legend

- 👩 Customer issue
- 🐛 Bug
- 🧶 Technical debt
- 🎩 Quality of life
- 🛠️ [Roadmap](https://handbook.sourcegraph.com/departments/prod

[2022-07-19 16:52] LawnGnome opened #39084 "batches: trigger changeset syncs when the reconciler discovers a repo has been archived"
This was originally in scope for #26820, but [we decided to descope this](https://github.com/sourcegraph/sourcegraph/pull/38596#issuecomment-1189327108) due to implementation concerns, mostly around the changeset syncer being hard to call into from non-frontend services.

Once #26922 is complete, we should go back and do this, since it should be a single `UPDATE` query at that point.

[2022-07-19 16:55] bobheadxi commented on #37958
Understand how to integrate with otel-collector

[2022-07-19 16:58] bobheadxi commented on #37958
Sampling is purely a cost concern

[2022-07-19 17:05] #31745 closed

[2022-07-19 17:06] davejrt commented on #31772
closed by https://github.com/sourcegraph/sourcegraph/pull/38950

[2022-07-19 17:06] #31772 closed

[2022-07-19 17:14] coury-clark opened #39086 "usage-data: background job to scrape events"
[RFC 719](https://docs.google.com/document/d/1N9aO0uTlvwXI7FzdPjIUCn_d1tRkJUfsc0urWigRf6s/edit#heading=h.1c5dxxpg5c4u)

Build a background job that can execute on a periodic interval. This job should only initialize if a setting is enabled (default false). Tentatively we can call this setting `exportUsageData`.

[2022-07-19 17:17] #36513 closed

[2022-07-19 17:23] coury-clark opened #39087 "usage-data: scrape up to N events"
[RFC 719](https://docs.google.com/document/d/1N9aO0uTlvwXI7FzdPjIUCn_d1tRkJUfsc0urWigRf6s/edit#)

Provide a mechanism to scrape up to N events from the buffered telemetry in `event_logs`. N should default to 5000, and be overridable with a setting. Tentatively this setting can be `maxScrapeSize`

[2022-07-19 17:26] coury-clark opened #39088 "usage-data: sanitize and publish scraped events to pub/sub"
[RFC 719](https://docs.google.com/document/d/1N9aO0uTlvwXI7FzdPjIUCn_d1tRkJUfsc0urWigRf6s/edit#)

Publish scraped events to pub/sub topic. Include new fields:
* Site id
* License key
* Initial admin email ([similar to pings](https://sourcegraph.sourcegraph.com/github.com/sourcegraph/sourcegraph@2cedfadbeb8b9fb0b59709b3b3aca2e9402c9033/-/blob/cmd/frontend/internal/app/updatecheck/handler.go?L200&su

[2022-07-19 17:27] coury-clark opened #39089 "usage-data: maintain state on scraping job"
[RFC 719](https://docs.google.com/document/d/1N9aO0uTlvwXI7FzdPjIUCn_d1tRkJUfsc0urWigRf6s/edit#)

Maintain state for the scrape job. Only scrape events with `id` higher than last successful max id. If any failures occur, do not update the state and instead retry.

[2022-07-19 17:39] coury-clark opened #39090 "usage-data: emit metrics on scrape"
[RFC 719](https://docs.google.com/document/d/1N9aO0uTlvwXI7FzdPjIUCn_d1tRkJUfsc0urWigRf6s/edit#)

Emit metrics on scrape:
* RED metrics (success, error)
* number of records sent
* queue size
* lag in the queue

[2022-07-19 17:39] courier-new opened #39091 "batches: visual regression: execution page scrollbar is too large"
See [this thread](https://sourcegraph.slack.com/archives/C03CSAER9LK/p1658242844946939).

[2022-07-19 17:41] coury-clark opened #39094 "usage-data: restrict scraped events to allow_list"
[RFC 719](https://docs.google.com/document/d/1N9aO0uTlvwXI7FzdPjIUCn_d1tRkJUfsc0urWigRf6s/edit#)

Build an allow list that will restrict any scraped events to events on the allow list. Key the list by event name.

[2022-07-19 17:49] limitedmage commented on #38664
Good find @almeidapaulooliveira! This makes it plausible to work with. The challenge here will be technical as I think the icons are exposed as individual SVG files instead of something we can manipulate and deploy more easily.

[2022-07-19 17:50] coury-clark opened #39095 "usage-data: managed instance IAM requirements"
[RFC 719](https://docs.google.com/document/d/1N9aO0uTlvwXI7FzdPjIUCn_d1tRkJUfsc0urWigRf6s/edit#)

Determine which roles / permissions are required for managed instances

[2022-07-19 18:05] limitedmage commented on #38229
@benvenker @almeidapaulooliveira I want to ensure we define exactly what we're removing or keeping. Here is the list of all modules:

1. Getting started tour (feature-flagged)
2. Search types
3. Dynamic Filters
4. Repositories
5. Revisions (only visible is searching through a single repo)
6. Search Reference
7. Search Snippets/Scopes (only visible if they exist; defined in cascading settings)
8. Q

[2022-07-19 18:09] #29251 closed

[2022-07-19 18:11] limitedmage opened #39098 "Remove quicklinks"
- Remove quicklinks from the UI (homepage and search sidebar) when the Simple UI toggle is on
- Mark quicklinks as deprecated in the settings schema and [docs](https://docs.sourcegraph.com/getting-started/personalization/quick_links)

[2022-07-19 18:13] sourcegraph-bot-2 commented on #39098
Heads up @benvenker @lguychard - the "team/search-product" label was applied to this issue.

[2022-07-19 18:25] #39091 closed

[2022-07-19 18:38] limitedmage commented on #38564
@benvenker  Is it a big deal if the changes here also affect users with the "simple UI" toggle off? This code is full-stack (filters come from the server) and it would be very challenging to make this conditional.

[2022-07-19 19:05] kalanchan opened #39102 "Add functionality to `sg ops` to update GCR images for CloudSQL"
Currently `sg ops update-images` only updates DockerHub images, but we need to also update CloudSQL GCR images.

Previously [Renovate](https://github.com/sourcegraph/deploy-sourcegraph-cloud/blob/4c094c17ac2107c4e8b657c1b2f1799e6f5d4e84/renovate.json5#L62) was able to handle this for us, but this has been replaced with a [github action](https://github.com/sourcegraph/deploy-sourcegraph-cloud/blob/

[2022-07-19 19:17] chwarwick opened #39103 "insights: create search insight changing from scoped to all repos modifies time granularity unit"
When creating a search based insight checking the `Run your insight over all your repositories` changes the granularity units to months.

Steps to reproduce:
1. Click Create a new Insight and select Track Changes
2. Enter a single repository, series name and search query
3. Change the Granularity to 1 Week
4. The Live Preview Appears at 1 week intervals
5. Check the `Run your insight over all your

[2022-07-19 19:17] sourcegraph-bot-2 commented on #39103
Heads up @joelkw @felixfbecker @vovakulikov @unclejustin - the "team/code-insights" label was applied to this issue.

[2022-07-19 19:58] lrhacker commented on #28985
For an update: we do now have the "docs" addon set up for Storybook. It's currently hidden and not in use, but could be an option to consider.

[2022-07-19 19:58] DaedalusG commented on #18294
You can additionally query the database directly to get `batch_specs`

[code]

[2022-07-19 20:32] limitedmage commented on #38670
I don't think I'll get to it in time, unfortunately. I'm focused on the sidebar work right now :)

[2022-07-19 20:43] #38853 closed

[2022-07-19 21:15] CristinaBirkel opened #39106 "insights: Modify OOB settings migration to be at 100% when it's a no-op"
See: https://github.com/sourcegraph/sourcegraph/issues/38555
And: https://github.com/sourcegraph/sourcegraph/pull/39010

This issue enables us to deprecate our oob settings migration.

When code insights is disabled, the oob settings migration always remains at 0%. This is a problem because when we go to deprecate it, admins will get a message saying that they need to contact Sourcegraph support b

[2022-07-19 21:16] sourcegraph-bot-2 commented on #39106
Heads up @joelkw @felixfbecker @vovakulikov @unclejustin - the "team/code-insights" label was applied to this issue.

[2022-07-19 21:50] unclejustin commented on #38269
@Joelkw - following up on this after the BE fix was deployed.

The insight from your loom appears to be sending the correct before/after dates. Interestingly [this link](https://demo.sourcegraph.com/search?q=repo:sourcegraph/sourcegraph%24++type:diff+after:2022-06-18T00:22:30-05:00+before:2022-07-04T20:46:01-05:00+docs.sourcegraph.com+file:client/web/src/enterprise&patternType=literal) still shows

[2022-07-19 21:53] unclejustin commented on #38304
Observation: Chrome was blocking popups. Strangely enough, I seem to be able to just power through by keep clicking. Doesn't make sense to me. I would expect it would never work if Chrome blocks all popups.

Adding `sourcegraph.com` to my allowed list under "Pop-ups and redirect" has completely fixed this problem for me.

[2022-07-19 22:06] chrismwendt commented on #33369
Why is pinning a better default for on-prem? I imagine that lead to a lot of customers being on old versions of indexers and maintenance headaches.

[2022-07-19 22:06] unclejustin opened #39112 "Spike: FE discovery on how to display insights in search without extensions"
Related to https://github.com/sourcegraph/sourcegraph/issues/38428

This is just a quick spike to see what is involved with adding items to the blob view without using the extensions API.

Success criteria

- Display chart on file page
- Display chart on "repo" page
- Display icon inline with code on file page

[2022-07-19 22:07] sourcegraph-bot-2 commented on #39112
Heads up @joelkw @felixfbecker @vovakulikov @unclejustin - the "team/code-insights" label was applied to this issue.

[2022-07-19 22:08] chrismwendt commented on #27870
Should this go in the [resource estimator](https://docs.sourcegraph.com/admin/deploy/resource_estimator) once executors are part of the base Sourcegraph deployment?

[2022-07-19 22:42] coury-clark opened #39114 "usage-data: customer facing docs"
Build some customer facing documentation to explain:
1. What this data pipeline does
2. What data is exported
3. How they can opt-in
4. Why we are collecting it

etc

[2022-07-19 23:04] chrismwendt commented on #37311
With the old ref panel, the same file shows up multiple times:

![CleanShot 2022-07-19 at 16 49 30](https://user-images.githubusercontent.com/1387653/179861643-911f95ea-4e57-4e22-8e16-40fca4c586c9.png)

This might be caused by having multiple LSIF/SCIP dumps for the same language on the same repo:

![CleanShot 2022-07-19 at 16 57 59](https://user-images.githubusercontent.com/1387653/179862129-425c

[2022-07-20 01:43] varungandhi-src commented on #33369
It's the same reason as using lockfiles and using pinned versions elsewhere: predictability. Being able to upgrade dependencies at your own pace (which should be easy to do!) means that you can stick to a version of an indexer which works, instead of the configuration changing underneath you.

E.g. if there was a bug that slipped in to the latest version of an indexer, we'd have the customer run i

[2022-07-20 02:35] benvenker commented on #38564
Nice, thank you!

[2022-07-20 04:33] CristinaBirkel opened #39121 "insights: Add endpoint for RelatedInsightsInline"
Part of https://github.com/sourcegraph/sourcegraph/issues/38428

This is currently underway on branch: `insights/prototype-inline-insights`

See the main issue for an explanation of the approach. It's still in a prototype/experimental phase and the goal is to get something working as soon as possible to vet the approach.

[2022-07-20 04:34] sourcegraph-bot-2 commented on #39121
Heads up @joelkw @felixfbecker @vovakulikov @unclejustin - the "team/code-insights" label was applied to this issue.

[2022-07-20 04:37] CristinaBirkel opened #39122 "insights: Add endpoint for RelatedInsightsForFile"
Part of https://github.com/sourcegraph/sourcegraph/issues/38428
Builds on: #39121

This endpoint will get insights with a `select:file` that match the file passed into the endpoint. See the main issue for more details. This can just return an array of matching insight ids.

[2022-07-20 04:37] sourcegraph-bot-2 commented on #39122
Heads up @joelkw @felixfbecker @vovakulikov @unclejustin - the "team/code-insights" label was applied to this issue.

[2022-07-20 04:39] CristinaBirkel opened #39123 "insights: Add endpoint for RelatedInsightsForRepo"
Part of https://github.com/sourcegraph/sourcegraph/issues/38428
Builds on: https://github.com/sourcegraph/sourcegraph/issues/39121

This endpoint will get insights with a `select:repo` field that match the file passed into the endpoint. See the main issue for more details. This can just return an array of matching insight ids.

[2022-07-20 04:39] sourcegraph-bot-2 commented on #39123
Heads up @joelkw @felixfbecker @vovakulikov @unclejustin - the "team/code-insights" label was applied to this issue.

[2022-07-20 05:21] valerybugakov commented on #37907
We're going to [pilot OTel instrumentation](https://sourcegraph.slack.com/archives/C03N0HGN069/p1658293744294689), and we would like [to integrate it into our backend OTel pipeline](https://github.com/sourcegraph/sourcegraph/issues/37907). I've added a couple of questions to [our observability sync doc](https://docs.google.com/document/d/1pYgSqJUE9M0_LZFUBzL-5nRTpmbMqXsWCUVU32J-AEo/edit#) related

[2022-07-20 06:52] Joelkw opened #39126 "[placeholder] insights: display "grouped" insights for existing searches in the sidebar"
Take our compute type and display groupings in the sidebar:
![image](https://user-images.githubusercontent.com/11967660/179915843-c986a4e9-4704-4d6f-aaf5-2a61c79cb57e.png)

(Except probably using the [new designs](https://www.figma.com/file/zJHFMF1RYta92C3Trp9y4b/Insights-on-the-search-screen-%2338443-Review?node-id=1740%3A10480).)

- Groups to support first:
- repo
- path
- (if commit) author and

[2022-07-20 06:53] sourcegraph-bot-2 commented on #39126
Heads up @joelkw @felixfbecker @vovakulikov @unclejustin - the "team/code-insights" label was applied to this issue.

[2022-07-20 07:06] valerybugakov commented on #38701
@jhchabran, I will create a tracking issue for GitStart to pick up. They should be able to deliver it in three weeks. I will let you know if we hit any blockers along the way.

[2022-07-20 07:21] stefanhengl opened #39127 "search: make max file size configurable"
Zoekt and symbols service both define a limit on the file size.

Zoekt's limit is hardcoded to 1MiB with a comment that it should match the settings of the symbol service

https://sourcegraph.sourcegraph.com/github.com/sourcegraph/zoekt@09ac1ff91e8c9321369e7b639d45e291c04ed514/-/blob/cmd/zoekt-sourcegraph-indexserver/main.go?L570:14

Symbol service, on the other hand, has a configurable limit with

[2022-07-20 07:21] sourcegraph-bot-2 commented on #39127
Heads up @sourcegraph/search-core - the "team/search-core" label was applied to this issue.

[2022-07-20 07:28] stefanhengl commented on #39127
Note: there is a subtle bug right now: The default values of symbol service and Zoekt differ by roughly 48kb.

[2022-07-20 08:18] indradhanush commented on #3201
Closed by #38781.

[2022-07-20 08:18] #3201 closed

[2022-07-20 08:30] vovakulikov commented on #39032
@felixfbecker I'm not sure that even truncate labels will help here without rotation logic, to be honest. In compute we usually have a lot of groups/bars, so we always have to deal with a large number of labels, which means most of the labels will be truncated to just 1-2 symbols, which isn't so helpful.

Currently, users can still see groups' names through the tooltip; considering that this is th

[2022-07-20 08:34] umpox opened #39128 "`useConnection`: Improve documentation"
## Description

We should improve documentation for `useConnection` by adding a README.md file with the hook.

Here is one [example](https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/blob/client/web/src/repo/RepositoriesPopover/RepositoriesPopover.tsx?L108-134&subtree=true) we can use for this.

[2022-07-20 08:34] sourcegraph-bot-2 commented on #39128
Heads up @taylorsperry @jasongornall - the "team/frontend-platform" label was applied to this issue.

[2022-07-20 08:42] umpox opened #39131 "`useConnection`: Support local component state as an alternative to Apollo"
## Description

`useConnection` differs from `FilteredConnection` in that it uses the Apollo cache to handle pagination rather than local component state.

This has the benefit of improving performance, but for some queries can cause problems that are difficult to debug and makes `useConnection` harder to migrate to.

We should support local state as an alternative

## AC

- `useConnection` suppor

[2022-07-20 08:42] sourcegraph-bot-2 commented on #39131
Heads up @taylorsperry @jasongornall - the "team/frontend-platform" label was applied to this issue.

[2022-07-20 10:29] macraig commented on #27870
Yes, just had a conversation with @varungandhi-src about this. A first step is to have an internal spreadsheet, which we would eventually migrate to the resource estimator.

[2022-07-20 10:43] #39034 closed

[2022-07-20 10:56] #35072 closed

[2022-07-20 10:56] #36623 closed

[2022-07-20 11:34] AlicjaSuska commented on #38836
Review for the insights on dashboards:
- labels below the chart are overlapping (@vovakulikov I assume it will be a separate issue)
- everything works as expected for this version
- one small UI issue: the gradient on the key appears only after a scroll. It should be visible from the beginning ([loom](https://www.loom.com/share/16d01095d7ac4a8fa4458639ba6129f4))

[2022-07-20 12:26] vovakulikov opened #39139 "Code Insights: Scroll gradient doesn't work on initial render in Chrome"
Follow-up for https://github.com/sourcegraph/sourcegraph/issues/38836

Original comment from @AlicjaSuska

Note that the tab component has similar visual logic about scroll and gradient; perhaps we should unify and reuse this logic to avoid bugs like this in the future.

[2022-07-20 12:26] sourcegraph-bot-2 commented on #39139
Heads up @joelkw @felixfbecker @vovakulikov @unclejustin - the "team/code-insights" label was applied to this issue.

[2022-07-20 12:26] vovakulikov commented on #38836
Thanks, @AlicjaSuska, for the second round of UI review.

I recently opened an issue for it here https://github.com/sourcegraph/sourcegraph/issues/39032

Oh, thanks. I opened an issue for it as well here https://github.com/sourcegraph/sourcegraph/issues/39139

[2022-07-20 12:28] vovakulikov commented on #38836
@AlicjaSuska, I think we can close this issue as we discussed in DM. Thanks once again for the comprehensive and clear UI review for the compute insight. I'm glad we capture and will track all problems from the first version and fix them in the next iteration over compute-powered insight.

[2022-07-20 12:28] #38836 closed

[2022-07-20 12:30] benvenker commented on #38229
@limitedmage sorry, I missed this comment. This looks fine to me for now. Caveat that the design has some name changes for the sections and style updates for their content, but I don't think that's what you're talking about here.

[2022-07-20 14:17] #38607 closed

[2022-07-20 14:26] mike-r-mclaughlin opened #39145 "Allow reason for authentication failure when user is not in configured allowGroups to be configurable or hidden"
#### Feedback

Security teams often do not want users to know the exact reason why a user was not granted access to a system.  Could we make the [message](https://sourcegraph.com/github.com/sourcegraph/sourcegraph@ac90c13313728d5ecd35e7f6358960725c01a509/-/blob/enterprise/cmd/frontend/internal/auth/saml/middleware.go?L146:63) that gets displayed configurable when users are denied access because th

[2022-07-20 14:27] sourcegraph-bot-2 commented on #39145
Heads up @sourcegraph/iam - the "team/iam" label was applied to this issue.

[2022-07-20 14:48] rvantonder commented on #22628
cropped up again:
<img width="1160" alt="Screen Shot 2022-07-20 at 7 40 34 AM" src="https://user-images.githubusercontent.com/888624/180010561-1102d0dc-9c65-460d-91c1-71572f120e9c.png">

[2022-07-20 15:00] rvantonder commented on #12530
we have search blitz stuff now

[2022-07-20 15:00] #12530 closed

[2022-07-20 15:01] #22628 closed

[2022-07-20 15:01] rvantonder commented on #13125
cannot repro

[2022-07-20 15:01] #13125 closed

[2022-07-20 15:03] #38706 closed

[2022-07-20 15:03] rvantonder commented on #12458
stale, cannot repro

[2022-07-20 15:03] #12458 closed

[2022-07-20 15:04] rvantonder commented on #9822
stale, closing

[2022-07-20 15:04] #9822 closed

[2022-07-20 15:05] #13256 closed

[2022-07-20 15:07] rvantonder commented on #13195
closing as stale

[2022-07-20 15:07] #13195 closed

[2022-07-20 15:24] macraig opened #39151 "Document max scale supported for code intel features"

[2022-07-20 15:51] #35011 closed

[2022-07-20 16:07] unclejustin commented on #23765
This has been fixed.

[2022-07-20 16:07] #23765 closed

[2022-07-20 16:09] unclejustin commented on #24340
Tooltips have been rebuilt and original case has been fixed.

[2022-07-20 16:09] #24340 closed

[2022-07-20 16:12] philipp-spiess opened #39156 "Code Ownership: Add scaffolding for post-filter job"

[2022-07-20 16:13] philipp-spiess opened #39157 "Code Ownership: Pass database.DB to pose-filter job"

[2022-07-20 16:13] sourcegraph-bot-2 commented on #39156
Heads up @muratsu @jjinnii @ryankscott - the "team/integrations" label was applied to this issue.

[2022-07-20 16:13] sourcegraph-bot-2 commented on #39157
Heads up @muratsu @jjinnii @ryankscott - the "team/integrations" label was applied to this issue.

[2022-07-20 16:14] philipp-spiess opened #39158 "Code Ownership: Filter code ownership based on CODEOWNERS in git"

[2022-07-20 16:14] sourcegraph-bot-2 commented on #39158
Heads up @muratsu @jjinnii @ryankscott - the "team/integrations" label was applied to this issue.

[2022-07-20 16:14] philipp-spiess opened #39159 "Code Ownership: Show code ownership information in the blob view"

[2022-07-20 16:14] #14459 closed

[2022-07-20 16:15] philipp-spiess opened #39160 "Code Ownership: Add code ownership predicate syntax highlighting to the search box UI"

[2022-07-20 16:15] sourcegraph-bot-2 commented on #39159
Heads up @muratsu @jjinnii @ryankscott - the "team/integrations" label was applied to this issue.

[2022-07-20 16:15] philipp-spiess opened #39161 "Code Ownership: Decide on a database layout to persist code ownership information and make the format extensible"

[2022-07-20 16:16] sourcegraph-bot-2 commented on #39161
Heads up @muratsu @jjinnii @ryankscott - the "team/integrations" label was applied to this issue.

[2022-07-20 16:17] #37480 closed

[2022-07-20 16:20] unclejustin commented on #10375
Extension API is deprecated. Issue no longer relevant.

[2022-07-20 16:20] #10375 closed

[2022-07-20 16:24] philipp-spiess commented on #39045
Hey @tjkandala: @taras-yemets, @vdavid, and me were wondering if you can help out with this? We saw that the VS Code extension currently also instantiates an extension host and we'd like to know what features it uses? i.e do we support specific extensions (maybe even code intel?)?

[2022-07-20 16:25] #39079 closed

[2022-07-20 16:26] unclejustin commented on #39066
Need to make sure we cover testing for

- Mock data
- Mock data shows color changes
- Real data with changes

May need to extract the function that populates colors to a utility so we can consume without pulling data.

[2022-07-20 16:34] unclejustin opened #39162 "Add support for grouping generated compute series"
Pre-req for https://github.com/sourcegraph/sourcegraph/issues/38832

Need backend support for grouping generated series. See the linked issue for more information.

[2022-07-20 16:34] sourcegraph-bot-2 commented on #39162
Heads up @joelkw @felixfbecker @vovakulikov @unclejustin - the "team/code-insights" label was applied to this issue.

[2022-07-20 16:36] leonore opened #39163 "insights: test capture group insights with multiline matches"
We should be able to start using multiline matches in capture group insights: https://github.com/sourcegraph/sourcegraph/pull/39113#event-7030954029

we should test this does work with insights, and doesn't break (I'm pretty sure it used to time out every time in the query runner)

example multiline match: https://sourcegraph.com/github.com/renovatebot/renovate/-/blob/lib/modules/manager/terraform

[2022-07-20 16:36] sourcegraph-bot-2 commented on #39163
Heads up @joelkw @felixfbecker @vovakulikov @unclejustin - the "team/code-insights" label was applied to this issue.

[2022-07-20 16:39] unclejustin commented on #24684
This logic has been moved to the backend. cc @chwarwick

[2022-07-20 16:41] unclejustin commented on #24081
Decided to go ahead and remove disable logic.

[2022-07-20 17:25] tjkandala commented on #39045
Hey @philipp-spiess, we support specifically (and only) code intel!

We ensure that we [load only default extensions](https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/blob/client/vscode/src/backend/sourcegraphSettings.ts?L71:18), so we unnecessarily load git-extras as well, but we do not make use of Sourcegraph line decorations. We call the extension host API to translate Sourcegraph e

[2022-07-20 18:32] efritz commented on #38741
Fixed by #38777.

[2022-07-20 18:32] efritz commented on #38742
Fixed by #38777.

[2022-07-20 18:33] #38742 closed

[2022-07-20 18:34] #38741 closed

[2022-07-20 18:34] efritz commented on #38217
Fixed by #38958.

[2022-07-20 18:34] #38217 closed

[2022-07-20 18:37] malomarrec commented on #33627
Hey @macraig, it looks like this issue was created by someone outside Sourcegraph. Assigning you to triage it! Please answer and route to the right team by adding their team label, then **remove** the `triage-bot/needs-triage` label

[2022-07-20 18:52] bobheadxi opened #39174 "s2: send traces to Cloud Traces"
It appears we are exceedingly unlikely to be allowed to export data to Honeycomb: https://sourcegraph.slack.com/archives/C02MWRMAFR8/p1658333474452259

reference: https://docs.google.com/document/d/1GiOPJjuYrUahrZnENSLUCsujo2MCu2v_gw23SKNzE6E/edit#bookmark=id.82bg1iwuw5sc

Honeycomb might still be valuable as a development tool - in environments we control, engineers can use it to understand gener

[2022-07-20 19:27] #38229 closed

[2022-07-20 19:27] #38564 closed

[2022-07-20 20:16] jasongornall commented on #21639
points to a empty slack room feel free to reopen

[2022-07-20 20:16] #21639 closed

[2022-07-20 20:20] olafurpg commented on #37921
Reopening this issue to resolve the caveat that we don't lazy-sync new crates that have no previous versions. I have a WIP branch that fixes this issue so that Sourcegraph should never return a 404 when a crate is available on crates.io

[2022-07-20 20:22] olafurpg commented on #37921
Draft PR to receive notifications for updates https://github.com/sourcegraph/sourcegraph/pull/39179

[2022-07-20 20:24] chrispine opened #39180 "Decide on BC-related executor metrics for perf/correctness"
[From this doc](https://docs.google.com/document/d/1Ss7ZffP82rV6nl4i5gBmICfuMK1xvSFI4Y5sLPXyDZc/edit#heading=h.p8es4qyv3ehl), with a deadline of 2022-08-22.

Batch Changes should own:
1. identifying the right metrics to review / alert on
2. (if needed based on 1) owning instrumentation and alert definition
3. documenting how Cloud team can fix issues / when to delegate to Batch Changes

Cloud team

[2022-07-20 20:56] chwarwick commented on #24684
With the unified experience I think this will be ok, backfilling runs a single repo at a time.

Need to check the snapshot/additional points, an OR of repos is built into the query string does this break down at some size?

[2022-07-20 20:59] jasongornall commented on #3672
cc @lrhacker

[2022-07-20 21:57] courier-new opened #39185 "Extend `replace` command to output file diffs"
Currently, the compute `replace` command only outputs the contents of a changed file.

Support an alternative output of the file diff when the command `replace.diff(...)` is used.

[2022-07-20 21:59] LawnGnome opened #39186 "batches: allow `repositoriesMatchingQuery` to specify the target branch"
In #25228, we allowed users to provide multiple target branches in the same repository, but only when using the `repository` syntax; eg:

[code]

As noted in that ticket, we don't have equivalent functionality right now for users who are querying in general using `repositoriesMatchingQuery`. The search language _does_ support this with the `rev:` operator, but Batch Changes always uses the default

[2022-07-20 22:15] courier-new opened #39187 "RFC to determine the appropriate place for compute to run"
Currently, compute runs in the `frontend` service. It will likely get too expensive to run `replace` transformations from `frontend` once we hit a significant number of files. This is also likely to become a general concern of compute, though `replace` is the first and currently only example where it's relevant.

While we intend to build the search-and-replace prototype from `frontend`, we should

[2022-07-20 22:17] unclejustin commented on #39112
File page is: BlobPage.tsx

Data available, all from props:

[code]

Repo page is: TreePage.tsx where `filePage` is an empty string

Data available from props

[code]

[2022-07-20 22:33] ismaelpadilla opened #39188 "Broken links in CONTRIBUTING.md"
#### Describe the issue
The file [CONTRIBUTING.md](https://github.com/sourcegraph/sourcegraph/blob/main/CONTRIBUTING.md) has several broken links in the **Relevant development docs** section.

#### Where is the issue located?
The following links are broken:
[Getting Started Guide](https://docs.sourcegraph.com/dev/getting-started)
[Troubleshooting section](https://docs.sourcegraph.com/dev/how-to/tr

[2022-07-20 22:54] #37921 closed

[2022-07-20 23:08] CristinaBirkel opened #39191 "insights: Backend support for inline links to insights prototype"
This is sort of a placeholder issue for the iteration, anticipating that when we integrate our new `RelatedInsights` routes with the webapp there will be some need for backend fixes, tweaks, and additional testing on `k8s`.

[2022-07-20 23:09] sourcegraph-bot-2 commented on #39191
Heads up @joelkw @felixfbecker @vovakulikov @unclejustin - the "team/code-insights" label was applied to this issue.

[2022-07-20 23:10] courier-new opened #39192 "RFC for generating a batch spec for batch change created with compute"
Though we will not be surfacing the batch spec to users who create a batch change from search and replace, we still need a batch spec for internally representing the batch change that should be created. There are at least two paths we could take with this:

### Path 1: Generate a full-fledged batch spec that can reproduce the exact same changes

For a batch spec to fully represent a search-and-rep

[2022-07-20 23:42] courier-new opened #39193 "Determine upper limit for files with prototype"
While compute continues to live in `frontend`, we should identify the upper limit to number of files that can be changed before `frontend` starts experiencing degraded performance.

[2022-07-20 23:46] courier-new opened #39194 "Investigate: how best to generate file patches in Go"
Determine the best way to generate file patches in Go, ideally without needing to work with an actual filesystem and `git diff`.

[2022-07-21 00:26] courier-new opened #39195 "What happens when you click "Replace"?"
This is a placeholder ticket to figure out what happens between seeing the preview of the find-and-replace streamed into the search UI, clicking "Replace", and ending on the newly-minted batch change preview page with changesets set to publish.

Questions:
- (design) Where does the user input things like the batch change name, branch, PR name + description, etc?
- (design) ~Do we want to give user

[2022-07-21 03:30] yowayb opened #39201 "Dynamic [JavaScript] navigation"
Given:

[code]

where `register` and `consumer` are customer-specific or uncommon.  As an engineer, I essentially want to be able to quickly/easily specify the two sides of any given (custom/unusual) relationship.  I don't want this built into Sourcegraph's indexer, because it is specific to my organization.

[2022-07-21 03:56] yowayb commented on #38348
Could this be an extra security measure considering that the user should know the account of which the password is being requested?

[2022-07-21 04:34] varungandhi-src opened #39202 "Tooling to easily answer questions about getting changes from main to .com/s2"
One of the common problems when trying to land changes is that one often wants to answer questions like:

- This commit landed, has it already been deployed or what is an estimate for when it will be deployed? (For example, if some commit X requires manual rollout for a service, just using `sg live` and comparing ancestry with X is insufficient.)
- Does this commit require a manual rollout? If so,

[2022-07-21 04:50] bobheadxi opened #39203 "otel/trace: ensure OpenTelemetry spans from web app requests are propagated to the backend"

[2022-07-21 05:06] bobheadxi commented on #37907
This tunnel would simply forward requests to e.g. `/-/debug/otlp/traces`, which would determine where to forward requests based on https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/sdk-environment-variables.md

I would advise `/-/debug/otlp/traces` instead of just `/-/debug/otlp` to avoid having to unmarshal incoming requests to determine what kind of payload th

[2022-07-21 08:04] olafurpg commented on #37921
The PR #39179 has been deployed and I just confirmed that I was able to load a crate that published its first version 23 minutes ago https://sourcegraph.com/crates/cliparser@v0.1.0

You can try it yourself by visiting the URL of a crate from the "New crates" list on https://crates.io

[2022-07-21 08:43] indradhanush commented on #37029
Moving out of support issues list to icebox.

[2022-07-21 10:06] vovakulikov opened #39216 "Insights: Prepare API handlers on the frontend for the search result insight preview"
Part of (preparation for) https://github.com/sourcegraph/sourcegraph/issues/38430

## Background

The original issue implies that we're going to have code insight live preview on the search page. In this issue we should prepare a data resolver on the search result page. We can't use code insight live preview handler on the search result page since this is completely enterprise functionality and we

[2022-07-21 10:06] sourcegraph-bot-2 commented on #39216
Heads up @joelkw @felixfbecker @vovakulikov @unclejustin - the "team/code-insights" label was applied to this issue.

[2022-07-21 10:13] umpox opened #39218 "Keyboard shortcuts: General improvements"
## Description

I noticed a few areas we can improve our keyboard shortcuts in [this PR](https://github.com/sourcegraph/sourcegraph/pull/39153):

## AC:

1. Bring `@slimsag/react-shortcuts` in-house and move it, and `useKeyboardShortcut` to Wildcard.
2. Update `ShortcutProvider` to take a set of shortcuts, make `useKeyboardShortcut` retrieve these from this context. This will let us vary keyboard

[2022-07-21 10:13] sourcegraph-bot-2 commented on #39218
Heads up @taylorsperry @jasongornall - the "team/frontend-platform" label was applied to this issue.

[2022-07-21 10:24] malomarrec opened #39219 "Remove server-side flag on cloud"
Remove the feature flag introduced in https://github.com/sourcegraph/sourcegraph/issues/36920, so that all MI customers see server-side batch changes.

[2022-07-21 10:33] danielmarquespt opened #39220 "Align Show More to center to be consistent with #37189"
Align "Show More" on "Files Changed" to the center so it is consistent with https://github.com/sourcegraph/sourcegraph/pull/37189

![Image](https://user-images.githubusercontent.com/7814431/180193840-c99cabe8-9d07-446d-aeb2-c5a46320fc60.png)

[2022-07-21 10:35] malomarrec opened #39221 "Train CE on pricing/packaging"
Train CE on pricing/packaging model for executors and how to fill in requests:
- https://github.com/sourcegraph/customer/pull/1133

[2022-07-21 10:40] vovakulikov opened #39222 "insight: new experimental resolver to support limited preview insights based on a search"
Part of https://github.com/sourcegraph/sourcegraph/issues/38430

## Problem
At the moment we have to pass a clear list of repositories for the live preview as input to gql query. But on the search result page we don't have a clear list of repositories, instead of this we have `repo:` filters and query itself.
We should extend live preview API in a way that it supports either
- `repo:` filter value

[2022-07-21 10:40] sourcegraph-bot-2 commented on #39222
Heads up @joelkw @felixfbecker @vovakulikov @unclejustin - the "team/code-insights" label was applied to this issue.

[2022-07-21 10:48] vovakulikov commented on #39222
It seems like first point here woudln't solve the problem. Imagine we have the following query
`(test repo:^github\.com/sourcegraph|about) or (insight repo:^github\.com/sourcegraph/about$)`

In this case even if we parse query and extract repo filters we still are loosing query semantic here and hence we will have a wrong result in live preview.

This makes me think that we should support query va

[2022-07-21 10:58] #38663 closed

[2022-07-21 11:01] oleggromov commented on #17122
This must be solved, at least in part, by this PR: https://github.com/sourcegraph/sourcegraph/pull/39138
To subscribe to other improvements of the tree view, please look at https://github.com/sourcegraph/sourcegraph/issues/38667

[2022-07-21 11:01] #17122 closed

[2022-07-21 11:03] oleggromov commented on #23136
This is partly solved by https://github.com/sourcegraph/sourcegraph/pull/39138, which allows navigating up the tree.
We're considering adding support for rendering the entire tree for deeply nested files but it's coming a bit later.

[2022-07-21 12:52] philipp-spiess opened #39226 "Code Ownership: Use autogold for tests (chore)"
c.f. https://github.com/sourcegraph/sourcegraph/pull/39030#discussion_r925985303

[2022-07-21 12:52] sourcegraph-bot-2 commented on #39226
Heads up @muratsu @jjinnii @ryankscott - the "team/integrations" label was applied to this issue.

[2022-07-21 13:10] vovakulikov commented on #39222
Points from sync with @chwarwick
- We probably should create another gql resolver for this prototype and not using live preview resolver from the creation UI
- This new resolver will be used for the live preview button with 2 point trend (the button right below the search query input) and for the chart in the sidebar. Same resolver but with different input data (number of points)
- This resolver s

[2022-07-21 13:16] vovakulikov opened #39228 "Insights: Add trend button/information on the search result page"
Part of https://github.com/sourcegraph/sourcegraph/issues/38430

We should add a trend button ([FIgma desings](https://www.figma.com/file/zJHFMF1RYta92C3Trp9y4b/Insights-on-the-search-screen-%2338443-Review?node-id=1887%3A10416)) to the search result page. This button should be flagged with experimental feature flag in setting cascade. If the "simple UI" mode is on we should make it clickable and

[2022-07-21 13:16] sourcegraph-bot-2 commented on #39228
Heads up @joelkw @felixfbecker @vovakulikov @unclejustin - the "team/code-insights" label was applied to this issue.

[2022-07-21 13:23] vovakulikov opened #39230 "Insight: Add introduction tour tooltip for the insight trend button"
We have to implement a kind of introduction UI tour tooltip for the trend button on the search result page. It should appear only once for each user that did enable experimental feature for this historical trends button ([related Figma designs](https://www.figma.com/file/zJHFMF1RYta92C3Trp9y4b/Insights-on-the-search-screen-%2338443-Review?node-id=1887%3A10416))

<img width="271" alt="Screenshot 20

[2022-07-21 13:23] sourcegraph-bot-2 commented on #39230
Heads up @joelkw @felixfbecker @vovakulikov @unclejustin - the "team/code-insights" label was applied to this issue.

[2022-07-21 13:38] chwarwick commented on #39222
This resolver should:

- Determine the number of repos targeted by the search if it is  > TDB  return that an insight on this search is unsupported
- The most recent data point should match the search that was run by the user
- Accept but limit the number of historic data points and the interval between them  - limits TBD
- Maintain an allow or deny list of search parameters (TBD) to avoid running

[2022-07-21 13:39] taylorsperry commented on #28985
@lrhacker If the Storybook docs addon pulls from JSDocs, sounds like enabling the addon would be quick win for getting adhoc documentation into Storybook while our fancy reference website is on the back burner.

[2022-07-21 13:58] AlicjaSuska commented on #39126
@Joelkw I've added need-design label and assigned myself since some design work is needed for this one.

[2022-07-21 14:08] #39157 closed

[2022-07-21 14:09] leonore commented on #39122
my initial thoughts on this, we want an endpoint that solves the following: `given I am on a file X in a repo Y, give me A to Z insights that track this file`, e.g. I am on a `go.mod` file, we want to link to the insight that tracks go.mod files with a query like `go 1.17 select:file`.

the logic required for this:
* use store method to retrieve insights that have data in repo `Y` (using InsightQu

[2022-07-21 14:12] lguychard opened #39235 "Show repositories the user contributed to in autocomplete suggestions"
As part of [RFC 687](https://docs.google.com/document/d/1nSIuv5a6kRMAiSHHbZFLkmaFButZupwz_y3IM--NFLw/edit#heading=h.trqab8y0kufp), we fetch repositories and files the user contributed to. However, this data is displayed in the home panels, which are currently de-activated.

We should display this data in the autocomplete suggestions from the search bar, so that the user directly gets suggested rep

[2022-07-21 14:12] sourcegraph-bot-2 commented on #39235
Heads up @benvenker @lguychard - the "team/search-product" label was applied to this issue.

[2022-07-21 14:42] #38754 closed

[2022-07-21 15:01] sourcegraph-bot-2 commented on #39087
Heads up @joelkw @felixfbecker @vovakulikov @unclejustin - the "team/code-insights" label was applied to this issue.

[2022-07-21 15:01] sourcegraph-bot-2 commented on #39088
Heads up @joelkw @felixfbecker @vovakulikov @unclejustin - the "team/code-insights" label was applied to this issue.

[2022-07-21 15:02] sourcegraph-bot-2 commented on #39114
Heads up @joelkw @felixfbecker @vovakulikov @unclejustin - the "team/code-insights" label was applied to this issue.

[2022-07-21 15:23] #39156 closed

[2022-07-21 15:25] gitstart-sourcegraph commented on #35154
Hi @limitedmage
Looks like this issue has been resolved as part of previous efforts, kindly help to confirm if you are still able to reproduce this.
CC: @benvenker

[2022-07-21 15:29] lrhacker commented on #4816
@fkling Was able to knock this out really quickly - thank you so much Felix!

As a note here so it's tracked, there may be separate considerations or behavior in the future for the CodeMirror implementation of the blob view (still in prototype); these changes specifically will updated the existing blob implementation.

[2022-07-21 15:29] chwarwick opened #39241 "insights: determine if a search query would execute against a single repo"
To determine if it is possible to provide a preview of an insight for a search query it is necessary to understand how many repositories the search is going to target to ensure that the historical searches can be run in a timely manner without placing too large a large load on dependent systems.

[2022-07-21 15:30] mrnugget commented on #30909
Closing this because I think this is fixed now and I can successfully run `sg start` in `fish`. @chrismwendt feel free to reopen if that's not the case.

[2022-07-21 15:30] #30909 closed

[2022-07-21 15:30] sourcegraph-bot-2 commented on #39241
Heads up @joelkw @felixfbecker @vovakulikov @unclejustin - the "team/code-insights" label was applied to this issue.

[2022-07-21 15:32] chwarwick commented on #39241
The query parser can be used to extract repo filters from the query, which can then be used to issue queries against the repo table in the database.

Must account for queries with multiple repo filters and more complex queries combined with AND/OR to ensure an accurate count.

[2022-07-21 15:37] chwarwick commented on #39222
dependent on https://github.com/sourcegraph/sourcegraph/issues/39222 for determining number of repos search executes against.

[2022-07-21 15:41] Piszmog opened #39242 "Changeset Spec Exceeds Database Limit"
The table `changeset_specs` has a column `spec` of type `jsonb`. PostgreSQL limits `jsonb` to 255 MB. If a changeset exceeds this limit, the following error occurs,

[code]

## Possible Fixes

* Prevent and changesets from exceeding the 255 MB limit by adding "guards"
    * If a changeset surpasses the limit, maybe point the user to docs to decrease changeset sizes (for example, [transformchanges]

[2022-07-21 15:46] jhchabran commented on #38701
I did some tests over https://buildkite.com/sourcegraph/sourcegraph/builds/162466#_ and sadly, changing the registry in yarn.lock seems to tell yarn to re-download everything, even if stuff in `/node_modules` is present. This effectively add a flat 3m on all yarn related tasks.

Given the crudeness of the code to hotpatch yarn.lock, I think it's better to call it a day and wait for GitStart to upd

[2022-07-21 15:50] #37885 closed

[2022-07-21 15:50] #38304 closed

[2022-07-21 16:02] RafLeszczynski commented on #34642
@sourcegraph/cloud do we still plan to work on this or should we archive this issue

[2022-07-21 16:02] RafLeszczynski commented on #34641
@sourcegraph/cloud do we still plan to work on this or should we archive this issue

[2022-07-21 16:02] RafLeszczynski commented on #34640
@sourcegraph/cloud do we still plan to work on this or should we archive this issue

[2022-07-21 16:03] chwarwick commented on #39222
I'm not 100% sure but wanted to capture that initially as something to think about.  Maybe it ends up a deny list may end up empty, but fresh in my mind was commit & diff search and wanting to avoid that.

[2022-07-21 16:04] CristinaBirkel commented on #25653
No plan to implement.

[2022-07-21 16:04] #25653 closed

[2022-07-21 16:04] Piszmog opened #39245 "Changeset Spec Insert Database Timeout"

[2022-07-21 16:08] CristinaBirkel commented on #39162
@unclejustin It's not a given that this should go on the backend. Let's discuss this more?

[2022-07-21 16:21] Joelkw opened #39246 "Aggregation insights feature on the search results page"
Refer to the [Scope RFC](https://docs.google.com/document/d/1yLV7MGOEXYT3yPvBxHHm8y2-p737KIrju_QPqlhBYz4/edit#heading=h.kp3s48mjo36n) as the source of truth for the scope.

Design issue: #39126

[2022-07-21 16:21] sourcegraph-bot-2 commented on #39246
Heads up @joelkw @felixfbecker @vovakulikov @unclejustin - the "team/code-insights" label was applied to this issue.

[2022-07-21 16:24] Joelkw opened #39247 "[prototype] display repo breakdown of added and subtracted in diff search"
Design TBD, concept:

![image](https://user-images.githubusercontent.com/11967660/180264709-15f6b8c9-61ed-4129-a107-8fa74a0f859e.png)

1. Show a 2-series bar chart:
    2. Series 1: added by repo
    3. Series 2: removed by repo
    4. An "other" bar if too many to show

Conceptual/limitations – 
1. Can we do this always, or just for pre-computed insights we have database entries for?
2.

[2022-07-21 16:24] sourcegraph-bot-2 commented on #39247
Heads up @joelkw @felixfbecker @vovakulikov @unclejustin - the "team/code-insights" label was applied to this issue.

[2022-07-21 16:27] CristinaBirkel commented on #37350
@CristinaBirkel will follow up.

[2022-07-21 16:28] Joelkw commented on #39066
It seems like names are the only thing we block on (we already don't block on colors).

[2022-07-21 16:29] CristinaBirkel commented on #37332
Validate to see if it's a search issue, and if so file an issue with search.

[2022-07-21 16:48] coury-clark commented on #39162
It isn't clear what is being asked for here. Without changing our response shape there isn't much we can do to make this calculation easier. It's relatively straightforward as-is, see below. Can you clarify, is this issue just looking for live preview support?

For non-live-preview:
Below is the algorithm use the current response to map by series, and therefore by color.

Here is an example respon

[2022-07-21 16:56] #23566 closed

[2022-07-21 16:56] #19688 closed

[2022-07-21 16:56] #20337 closed

[2022-07-21 16:56] #26340 closed

[2022-07-21 17:02] coury-clark commented on #38429
Closing with the result artifact [RFC 719](https://docs.google.com/document/d/1N9aO0uTlvwXI7FzdPjIUCn_d1tRkJUfsc0urWigRf6s/edit#)

[2022-07-21 17:03] coury-clark commented on #38433
@coury-clark reminder to open follow up issues for outstanding bugs

[2022-07-21 17:05] unclejustin commented on #38269
Fixed with other PRs

[2022-07-21 17:10] michaellzc commented on #34641
do we have a clear ownership of on-prem -> cloud migration? I remember the decision was #cloud is not responsible for doing it, but which team is up for it?

[2022-07-21 17:39] leonore commented on #39246
just a couple things I wanted to clarify async after the planning meeting:
* do we want to display a compute type insight or a capture group insight (issue title says one, design suggests the other)?
* would this be a preview-type thing, e.g. generate on demand like a live preview?
* it was also mentioned that the frontend doesn't have a way of knowing if something is a capture group. don't we jus

[2022-07-21 17:45] courier-new commented on #38713
This is a symptom of the server-side workflow being completely separated from the existing src-cli batch change stuff. The "right" solution is unifying the two workflows, but as a stop-gap I wonder if we could just add "Close" to the actions menu we show from server-side screens when there's more than one action you can take on that screen:

![Image](https://user-images.githubusercontent.com/89426

[2022-07-21 17:48] courier-new commented on #38967
P0 or P1. In general with the issues tagged `4.0` I don't feel that any particular issues need to be prioritized before others, but I generally feel we should frontload this work in case anything unexpected is uncovered as part of it.

[2022-07-21 17:48] courier-new commented on #38968
P0 or P1. In general with the issues tagged `4.0` I don't feel that any particular issues need to be prioritized before others, but I generally feel we should frontload this work in case anything unexpected is uncovered as part of it.

[2022-07-21 17:48] courier-new commented on #38969
P0 or P1. In general with the issues tagged `4.0` I don't feel that any particular issues need to be prioritized before others, but I generally feel we should frontload this work in case anything unexpected is uncovered as part of it.

[2022-07-21 17:48] courier-new commented on #38971
P0 or P1. In general with the issues tagged `4.0` I don't feel that any particular issues need to be prioritized before others, but I generally feel we should frontload this work in case anything unexpected is uncovered as part of it.

[2022-07-21 17:48] courier-new commented on #38972
P0 or P1. In general with the issues tagged `4.0` I don't feel that any particular issues need to be prioritized before others, but I generally feel we should frontload this work in case anything unexpected is uncovered as part of it.

[2022-07-21 17:48] courier-new commented on #38975
P0 or P1. In general with the issues tagged `4.0` I don't feel that any particular issues need to be prioritized before others, but I generally feel we should frontload this work in case anything unexpected is uncovered as part of it.

[2022-07-21 17:51] courier-new commented on #39084
P2? Sounds like maybe 0.5d-1d once #26922 is done?

[2022-07-21 17:55] courier-new commented on #39186
Since this has only come up for one customer prospect so far, I would think backlog for now. That being said, it also doesn't sound too onerous to do, pending a decision about *what* we actually do (maybe 2d-3d, just based on reading this description?).

[2022-07-21 17:57] courier-new commented on #39195
@danielmarquespt this is the placeholder engineering ticket for the user workflow when you click "Replace", but it includes a couple of the design questions we've touched on that you're going to be exploring! Just tagging you for visibility. 🙂

[2022-07-21 17:59] courier-new commented on #39194
P0, estimate pending Bolaji's investigation. This is a prerequisite for basically any other work on search-and-replace to happen.

[2022-07-21 18:04] courier-new commented on #39185
P0 or P1, depending on how bad https://github.com/sourcegraph/sourcegraph/issues/39194 is? Estimating this is a bit hard since compute will be new to all of us (we at least can look at `replace` itself to get started) so let's be flexible here: 2d to 6d??

[2022-07-21 18:04] #4816 closed

[2022-07-21 18:07] courier-new commented on #39187
P0 or P1. This conversation should happen sooner rather than later so we can plan ahead and not be blocked on this to promote our MVP, but if we're at capacity for next sprint it can be P1.

[2022-07-21 18:08] Piszmog commented on #38241
Created the following Issues based on the different errors I came across and possible fixes (there may need some additional refinement like breaking the Issues, specifically #39242, up into additional Issues),
* #39242
* #39245

[2022-07-21 18:16] courier-new commented on #39192
P0, this decision impacts how we implement https://github.com/sourcegraph/sourcegraph/issues/39195 and approach the feature as a whole. While it's possible to take one path for now and switch to another one later on, it will mean some degree of wasted effort upfront.

[2022-07-21 18:16] courier-new commented on #39193
P1 or P2, this doesn't need to happen until we're about ready to ship search-and-replace to customers. Probably 0.5d-1d?

[2022-07-21 18:18] lrhacker commented on #19084
This appears to be working now:
<img width="1140" alt="image" src="https://user-images.githubusercontent.com/10523985/180285435-4600d3a7-c32c-4d5a-934e-ae564a5a5d6a.png">

[2022-07-21 18:18] #19084 closed

[2022-07-21 18:20] courier-new opened #39251 "Implement "Replace Results" bar"
Pending final designs: https://www.figma.com/file/q8pwZ1WECUTIJa3D0UzlOS/Search-And-Replace-Batch-Changes?node-id=37%3A6133.

[2022-07-21 18:21] RafLeszczynski commented on #34306
@sourcegraph/cloud do we still want to do this and if yes when would be the right to do it and as part of what initiative?

[2022-07-21 18:23] lrhacker commented on #19871
This class name is now `.logo` (in `client/web/src/search/home/SearchPage.module.scss`).

[2022-07-21 18:23] RafLeszczynski commented on #36434
@sourcegraph/cloud do we still want to do this and if yes when would be the right to do it and as part of what initiative?

[2022-07-21 18:34] courier-new commented on #39251
P1? And maybe 1d-2d depending on full design scope?

[2022-07-21 18:39] courier-new opened #39252 "Wire up `replace.diff` stream results"
The scope of this ticket involves connecting the frontend search component to a new streaming endpoint that sends the full search query with the added `replace.diff(...)` command.

- If user has input any replacement, normal search results stream is replaced with `replace.diff` result diffs stream
  - Diff results look visually consistent with search results
- If user changes search, `replace.diff

[2022-07-21 18:43] courier-new commented on #39252
P1, though it could be prudent to talk to someone from Search Product sooner than that to quickly get up to speed and get advice on using the streaming endpoint in the frontend.

[2022-07-21 18:46] RafLeszczynski commented on #37304
@michaellzc is this still something we plan to work on or should we close this issue?

[2022-07-21 18:52] courier-new opened #39254 "Disable search and replace if results are incompatible with `replace` command"
Search and replace only makes sense for file matches, and the `replace` command will ignore all other types of results. That means if a user runs a search query with `type:<anything except file>`, or if there aren't any file-type results, search and replace is not going to be relevant to them. Are there other conditions that might make a query be incompatible with search-and-replace?

- If we can

[2022-07-21 18:53] courier-new commented on #39254
P1 or P2, but the design work might be P0. 🙂

[2022-07-21 19:02] chrispine opened #39255 "Export batch change list to CSV"
([Slack discussion for context](https://sourcegraph.slack.com/archives/CMMTWQQ49/p1658428661544519))

Let's make it easy to export batch change data as CSV. We should discuss which columns it should include, but as a starting point for that discussion:

- name of (and/or link to) batch change; in cases where someone puts several BCs into the same spreadsheet
- link to PR
- status
- code-host?
- la

[2022-07-21 19:08] RafLeszczynski commented on #37484
Submitted request to it-tech-ops
https://sourcegraph.slack.com/archives/C01CSS3TC75/p1658430474278509

[2022-07-21 19:29] #37006 closed

[2022-07-21 19:29] adeola-ak opened #39258 "Intend to finish this release or next"

[2022-07-21 19:30] #39258 closed

[2022-07-21 19:41] taylorsperry commented on #17064
Hey, @rrhyne, FPT is going through backlog UI issues to see what might be worth picking up for core workflow improvements. Sanity check on this, since I know it's pretty old:

1. We currently display the time of last sync in search results:
<img width="1117" alt="Screen Shot 2022-07-21 at 1 36 08 PM" src="https://user-images.githubusercontent.com/43555476/180300846-dd6d2502-6ddb-4eb1-810b-2e1f6265

[2022-07-21 19:44] rrhyne commented on #17064
Small level of effort. Return is trust. It isn't the information that is used often, but when it counts, it's unavailable in the product.

[2022-07-21 19:44] rrhyne commented on #17064
cc @almeidapaulooliveira

[2022-07-21 19:44] mike-r-mclaughlin commented on #39145
Internal [Slack discussion thread](https://sourcegraph.slack.com/archives/C03MV6CKU1X/p1658327319164349)

[2022-07-21 19:45] jasongornall commented on #33128
I can't repro :(

[2022-07-21 19:46] adeola-ak opened #39259 "Create 'Start from a template' banner"
The banner with a new feature flag to enable users to explore the option of creating a batch change from a template

Once clicked, the configuration form and banner are replaced with a new configuration screen called Start from a Template.

The scope of this ticket only involves:
being able to see and click the banner, and
back button and 'Start from a Template' header text appears
include the abi

[2022-07-21 19:51] #39086 closed

[2022-07-21 20:00] #16122 closed

[2022-07-21 20:02] #38241 closed

[2022-07-21 20:12] #38819 closed

[2022-07-21 20:38] felixfbecker commented on #39246
Whether compute is used under the hood or not is really just an implementation detail. From a product perspective, it should be a bar chart aggregating the counts of for each unique capture group value. It would _not_ be over time.

So in the terms that we've been using internally up to now, it would be a "compute insight" rather than a "capture group insight", but I don't think it's good to think

[2022-07-21 20:46] uhthomas commented on #37626
If it's helpful, here's a commit which introduces basic Bazel support.

[code]

https://github.com/uhthomas/sourcegraph/commit/5077e116bf7b2b17c171d616afa53dc9104c853f

[2022-07-21 21:39] ryphil opened #39266 "Remove 'Add Repositories' status message from dotcom"
Context in [Slack](https://sourcegraph.slack.com/archives/C03GMM0F2BA/p1658161557557909).

This should be completed on Aug 1 as part of the dotcom wind-down plan.

[2022-07-21 21:40] sourcegraph-bot-2 commented on #39266
Heads up @sourcegraph/iam - the "team/iam" label was applied to this issue.

[2022-07-21 21:41] ryphil commented on #38168
Please also make sure to remove the add-repo status message: #39266

[2022-07-21 21:42] ryphil commented on #34941
Closing this as MVP is complete and launching in 3.42.

[2022-07-21 21:42] #34941 closed

[2022-07-21 22:28] eseliger commented on #39242
Interesting, another data point that storing patches in a json column isn't .. great 😬

[2022-07-21 22:29] eseliger commented on #39245
Thanks, another great datapoint!

[2022-07-21 23:29] bobheadxi commented on #37853
this has been fixed

[2022-07-21 23:29] #37853 closed

[2022-07-21 23:30] bobheadxi commented on #37902
https://github.com/sourcegraph/deploy-sourcegraph-managed/pull/797 gets it set up, just awaiting validation

[2022-07-21 23:31] bobheadxi commented on #37900
Set up the Sentry project and config but do not see any errors coming in - TODO validate

[2022-07-22 01:42] valerybugakov opened #39272 "Introduce client performance observability to the Sourcegraph application: Tracking issue"
## Problem to solve

The client's observability is lacking. We use Sentry for error tracking but do not have client [RUM](https://en.wikipedia.org/wiki/Real_user_monitoring) and performance monitoring instrumentations. It means that we have no understanding of how real users are using our client application in terms of performance/interactions. It limits our ability to assess and prioritize areas

[2022-07-22 01:42] sourcegraph-bot-2 commented on #39272
Heads up @taylorsperry @jasongornall - the "team/frontend-platform" label was applied to this issue.

[2022-07-22 01:48] valerybugakov opened #39273 "Install and configure `OpenTelemetry` packages required for client tracing."
## Context

Add basic configuration of the OpenTelemetry tracing to the web application.

[Honeycomb guide](https://docs.honeycomb.io/getting-data-in/opentelemetry/browser-js/)
[Prior work](https://github.com/sourcegraph/sourcegraph/pull/37843)

[2022-07-22 01:48] sourcegraph-bot-2 commented on #39273
Heads up @taylorsperry @jasongornall - the "team/frontend-platform" label was applied to this issue.

[2022-07-22 01:51] valerybugakov opened #39274 "Move `OpenTelemetry` packages into a long-term cacheable chunk"
## Context

Move installed OpenTelemetry packages into their chunk with long-term caching rules to mitigate bundle size increase.
See bundle size concerns [here](https://github.com/sourcegraph/sourcegraph/pull/37843).

[2022-07-22 01:53] valerybugakov opened #39275 "Integrate client with backend tracing to enable distributed tracing"
## Context

[Integrate with backend tracing to enable distributed tracing](https://github.com/sourcegraph/sourcegraph/issues/37907.).
See more details discussed with @bobheadxi [here](https://docs.google.com/document/d/1pYgSqJUE9M0_LZFUBzL-5nRTpmbMqXsWCUVU32J-AEo/edit#)

[2022-07-22 01:54] sourcegraph-bot-2 commented on #39275
Heads up @taylorsperry @jasongornall - the "team/frontend-platform" label was applied to this issue.

[2022-07-22 01:57] valerybugakov opened #39276 "Install and configure `OpenTelemetry` packages required for client metrics."
## Context

Add basic configuration for the OpenTelemetry metrics to the web application.
See [OpenTelemetry metrics package](https://github.com/open-telemetry/opentelemetry-js/tree/main/experimental/packages/opentelemetry-sdk-metrics-base).

[2022-07-22 01:58] sourcegraph-bot-2 commented on #39276
Heads up @taylorsperry @jasongornall - the "team/frontend-platform" label was applied to this issue.

[2022-07-22 02:05] valerybugakov opened #39277 "Integrate client tracing with backend `OpenTelemetry` tracing passthrough"
## Context

[Integrate client with backend tracing passthrough](https://github.com/sourcegraph/sourcegraph/issues/37907).

See more details discussed with @bobheadxi [here](https://docs.google.com/document/d/1pYgSqJUE9M0_LZFUBzL-5nRTpmbMqXsWCUVU32J-AEo/edit#).
See [the OTLP Receiver docs](https://github.com/open-telemetry/opentelemetry-collector/blob/main/receiver/otlpreceiver/README.md)

[2022-07-22 02:05] sourcegraph-bot-2 commented on #39277
Heads up @taylorsperry @jasongornall - the "team/frontend-platform" label was applied to this issue.

[2022-07-22 02:12] valerybugakov opened #39278 "Integrate client tracing with backend `OpenTelemetry` metrics passthrough"
## Context

[Integrate client with backend metrics passthrough](https://github.com/sourcegraph/sourcegraph/issues/37907).

See more details discussed with @bobheadxi [here](https://docs.google.com/document/d/1pYgSqJUE9M0_LZFUBzL-5nRTpmbMqXsWCUVU32J-AEo/edit#).
See [the OTLP Receiver docs](https://github.com/open-telemetry/opentelemetry-collector/blob/main/receiver/otlpreceiver/README.md)

[2022-07-22 02:13] sourcegraph-bot-2 commented on #39278
Heads up @taylorsperry @jasongornall - the "team/frontend-platform" label was applied to this issue.

[2022-07-22 02:14] valerybugakov opened #39279 "Web vitals"

[2022-07-22 02:16] sourcegraph-bot-2 commented on #39279
Heads up @taylorsperry @jasongornall - the "team/frontend-platform" label was applied to this issue.

[2022-07-22 02:22] valerybugakov opened #39280 "Configure client `OpenTelemetry` RUM auto-instrumentation"
## Context

 Configure client `OpenTelemetry` RUM auto-instrumentation.
See [a related auto-instrumentation from the OpenTelemetry contrib repo](https://github.com/open-telemetry/opentelemetry-js-contrib/tree/main/plugins/web/opentelemetry-instrumentation-user-interaction)

[2022-07-22 02:22] sourcegraph-bot-2 commented on #39280
Heads up @taylorsperry @jasongornall - the "team/frontend-platform" label was applied to this issue.

[2022-07-22 02:24] valerybugakov opened #39281 "Configure client `OpenTelemetry` network calls auto-instrumentation"
## Context

 Configure client `OpenTelemetry` network calls auto-instrumentation.
See [a related auto-instrumentation from the OpenTelemetry contrib repo](https://github.com/open-telemetry/opentelemetry-js/tree/main/experimental/packages/opentelemetry-instrumentation-fetch)

[2022-07-22 02:24] sourcegraph-bot-2 commented on #39281
Heads up @taylorsperry @jasongornall - the "team/frontend-platform" label was applied to this issue.

[2022-07-22 02:26] valerybugakov opened #39282 "Configure client `OpenTelemetry` React components instrumentation"
## Context

Configure client `OpenTelemetry` React components auto-instrumentation or a set of utilities to easily instrument React components rendering and hooks. See [a related auto-instrumentation from the OpenTelemetry repo](https://github.com/open-telemetry/opentelemetry-js-contrib/tree/main/plugins/web/opentelemetry-plugin-react-load)

[2022-07-22 02:27] sourcegraph-bot-2 commented on #39282
Heads up @taylorsperry @jasongornall - the "team/frontend-platform" label was applied to this issue.

[2022-07-22 02:55] valerybugakov opened #39284 "Upgrade `yarn` to the latest version"
## Problem statement

We use an old version of `yarn` which has a lot of security issues and bad perf.

## Success criteria

We upgraded to the latest version of `yarn`.

## Implementation details

Follow the official migration guide [here](https://yarnpkg.com/getting-started/migration#step-by-step)

1. Make sure to migrate all deprecated flags to the new format. Find all mentions of `yarn` in the

[2022-07-22 02:56] sourcegraph-bot-2 commented on #39284
Heads up @taylorsperry @jasongornall - the "team/frontend-platform" label was applied to this issue.

[2022-07-22 02:58] valerybugakov commented on #29564
@gitstart-sourcegraph, this issue was picked up by the code-intel team. Closing to avoid duplicate work.

[2022-07-22 02:58] #29564 closed

[2022-07-22 03:02] varungandhi-src commented on #33128
@jasongornall can you inline the GIF? Clicking https://ezgif.com/split/ezgif-1-b1582a99a5.gif redirects me to https://ezgif.com/split

[2022-07-22 03:22] valerybugakov opened #39285 "Remove style duplication caused by the `forkedBranded.scss` file"
## Problem statement

Duplicated `branded.scss` in the VSCode package makes it hard to keep the theme consistent between all Sourcegraph clients.

## Success criteria

The `forkedBranded.scss` file is removed in favor of the `branded.scss` import.

## Implementation details

1. Rename `client/branded/src/global-styles/index.scss` to `client/branded/src/global-styles/base.scss`
2. Move `@import './

[2022-07-22 03:23] valerybugakov commented on #29200
@gitstart-sourcegraph, created [an issue](https://github.com/sourcegraph/sourcegraph/issues/39285) to unblock bootstrap removal in the VSCode package. Let me know if you have questions!

[2022-07-22 03:40] valerybugakov commented on #32819
@gitstart-sourcegraph, yes!

[2022-07-22 03:40] #32819 closed

[2022-07-22 06:12] #35853 closed

[2022-07-22 08:09] RafLeszczynski commented on #37484
completed https://sourcegraph.slack.com/archives/C01CSS3TC75/p1657134527694219?thread_ts=1649946967.900109&cid=C01CSS3TC75

[2022-07-22 08:09] RafLeszczynski commented on #37484
completed https://sourcegraph.slack.com/archives/C01CSS3TC75/p1657134527694219?thread_ts=1649946967.900109&cid=C01CSS3TC75

[2022-07-22 08:17] RafLeszczynski commented on #34641
It would be Customer Engineering or Delivery

[2022-07-22 08:49] taras-yemets commented on #38377
There are three pages where we show git blame decorations: file view, commit view (split and unified), and compare view.
The file view already has column implementation for the blame decorations (as an experimental feature - https://github.com/sourcegraph/sourcegraph/pull/36007). The other two (commit and compare views) currently support only inline decorations - we were going to revisit it after

[2022-07-22 09:04] AlicjaSuska commented on #38443
The update: [designs](https://www.figma.com/file/zJHFMF1RYta92C3Trp9y4b/Insights-on-the-search-screen-%2338443-Final-review?node-id=1887%3A10416) are finalised. Today I've opened for final review and last comments ([loom](https://www.loom.com/share/064adf7f87b646519b8feacdd002b7ae))

[2022-07-22 10:10] gitstart-sourcegraph opened #39290 "[Accessibility]: Multiple H1 tags"
## Problem statement
There are multiple `<H1/>` elements: the Sourcegraph logo in the navigation bar, and the page title, which produces a warning in ARC Toolkit in the following pages::
1) [Analytics Page](https://k8s.sgdev.org/site-admin/analytics/search)
2) [Extensions Page](https://k8s.sgdev.org/extensions?category=All)
3) [Organization Settings Page](https://k8s.sgdev.org/organizations/source

[2022-07-22 10:17] sourcegraph-bot-2 commented on #39290
Heads up @benvenker @lguychard - the "team/search-product" label was applied to this issue.

[2022-07-22 10:21] gitstart-sourcegraph opened #39291 "[Accessibility]: Multiple H1 tags on Repository Page"
## Problem statement
There are multiple `<H1/>` elements: the Sourcegraph logo in the navigation bar, and the page title, which produces a warning in ARC Toolkit in the following pages::
1) [Repository detail page](https://k8s.sgdev.org/github.com/sourcegraph/sourcegraph)
2) [Repository Commits Page](https://k8s.sgdev.org/github.com/sourcegraph/sourcegraph/-/commits)
3) [ Repository Compare Page](

[2022-07-22 10:22] sourcegraph-bot-2 commented on #39291
Heads up @benvenker @lguychard - the "team/search-product" label was applied to this issue.

[2022-07-22 10:28] vovakulikov commented on #39162
@coury-clark This is correct that we need to support this in live preview (and technically this is correct that we could support this already in insightViews query)

But live preview is a blocker for us because we can't have live preview and insight on the dashboard page with different appearance.

A few thoughts around linking dataSeries definition and its data in dataSeries field. This is a huge

[2022-07-22 12:19] olafurpg opened #39297 "Packages: gracefully handle 403 errors when fetching packages"
Many Rust crates are currently failing to "clone" due to 403 errors https://sourcegraph.com/site-admin/repositories?status=failed-fetch

![CleanShot 2022-07-22 at 14 17 58](https://user-images.githubusercontent.com/1408093/180437614-3f397d2f-08f8-40fe-b1ea-ac100df1f738.png)

These crates have in common that they don't exist on crates.io, for example https://crates.io/crates/alloc

![CleanShot 2022

[2022-07-22 12:24] #38810 closed

[2022-07-22 12:26] RafLeszczynski commented on #37264
@filiphaftek should this be part of V2 security hardening work or something independent?

[2022-07-22 12:33] #34485 closed

[2022-07-22 12:51] mrnugget commented on #39297
(Collecting my thoughts from Slack here in a comment)

I don't think the first two candidates are acceptable solutions

Both would leave us with invalid state in the database and (in the second case) invalid state in the repository (the repo would then not reflect the content of the repo it should be anymore and the the `clone` status would be wrong, etc.)

I think the only acceptable solution is

[2022-07-22 13:09] jhchabran commented on #37905
Made some progress with `otelsql` 👇

![CleanShot 2022-07-22 at 15 04 22](https://user-images.githubusercontent.com/10151/180445583-351515c8-d759-4cb0-a43d-771d1dfdf456.png)

The good news is that it's working, the bad one is that I had to patch the lib as is caches the tracer as soon as it instanciates the DB and never reach out the global tracer again.

That should be not that hard to polish thou

[2022-07-22 13:10] leonore commented on #39246
from looking into this the key thing is that we want groupings **at the one point in time** (correct me if my initial assumption is wrong here).

from a backend perspective, we allow to match things in two ways:
1. with capture group insights, over time (e.g. a capture group for `TODO\(\w+\)` would return TODO assignees over time)
2. with the new compute type insights, at a single point in time _f

[2022-07-22 13:46] jasongornall commented on #33128
from this
![image](https://user-images.githubusercontent.com/6912393/180452157-0d69e7d3-89ae-4da9-bd65-fe40bd73d2f9.png)
to this
![image](https://im3.ezgif.com/tmp/ezgif-3-b1582a99a5-gif-im/frame_06_delay-0.08s.gif)

my screen seems ok though

[2022-07-22 13:49] michaellzc commented on #34641
I vote to archive this issue from the Cloud board and assign it to the CE team

[2022-07-22 13:54] #37461 closed

[2022-07-22 14:06] leonore opened #39302 "insights: allow to change type of insights on creation for all insights"
right now when creating a compute type insight we allow to change the type of insight:
![image](https://user-images.githubusercontent.com/29406849/180456338-4bc46f26-ea5a-4b60-9860-c7112b8b0d7e.png)

however this isn't the case for all insights:
![image](https://user-images.githubusercontent.com/29406849/180456372-d82d96b2-1e44-4b2a-8b40-0ec53eb78c2c.png)

and there's discrepancies in the title as

[2022-07-22 14:07] sourcegraph-bot-2 commented on #39302
Heads up @joelkw @felixfbecker @vovakulikov @unclejustin - the "team/code-insights" label was applied to this issue.

[2022-07-22 14:35] malomarrec opened #39303 "Metrics: measure impact of compute-powered batch-changes"
The overall success metric is a 3x increase of MAUs per account, and a 2x increase in opened changesets.
We need to be able to attribute those increase to compute-powered batch-change.

Let's add:

- `search_result_page:open_replace_results:clicked`
- `search_result_page:preview_replace_results:clicked`
- `search_result_page:replace_results:clicked`
- `batch_changes:preview` with payload: `{"batch

[2022-07-22 14:38] malomarrec commented on #39187
Let's frontload RFCs as much as possible. P0?

[2022-07-22 14:41] malomarrec commented on #39252
We should probably P0 syncing with search, just because 4.0 is upcoming an they may get busy.

[2022-07-22 14:43] malomarrec commented on #39254
@danielmarquespt (when you're back from OOO) it sounds like this is P0

[2022-07-22 14:44] malomarrec commented on #39303
@danielmarquespt let's discuss this, I proposed some events to collect.

[2022-07-22 14:47] malomarrec commented on #30803
@courier-new I turned this into a tracking issue for the compute work. Thanks for drafting up a plan!
Whenever you proposed estimate, I added them as labels as a first order approximation, which doesn't prevent us from re-estimating at next sprint planning :)

[2022-07-22 14:48] malomarrec commented on #38500
@BolajiOlajide @courier-new sounds like we can close this, right?

[2022-07-22 15:50] #26820 closed

[2022-07-22 15:50] #36201 closed

[2022-07-22 15:52] #35866 closed

[2022-07-22 15:53] #35698 closed

[2022-07-22 15:55] LawnGnome commented on #36201
To close this off: we've added support for handling archived repositories in Sourcegraph 3.42 (out today, hopefully!).

Changesets that are open on repos that become archived now move into a *Read-Only* state, and if the repo is unarchived, they move back into whatever state is appropriate (presumably *Open*, in most cases). Applying a batch spec now detects and handles archived repos appropriatel

[2022-07-22 16:06] #39087 closed

[2022-07-22 16:58] burmudar opened #39308 "ci/flake: TestSearch/repo:deps disabled"
### Test

TestSearch/repo:deps

### Example failure

https://buildkite.com/sourcegraph/sourcegraph/builds/162711#018226aa-3eab-4a76-9138-c7689e3c3403

### Disabling PR

https://github.com/sourcegraph/sourcegraph/pull/39307

### Additional details

Build: https://buildkite.com/sourcegraph/sourcegraph/builds/162711#018226aa-3eab-4a76-9138-c7689e3c3403
Loki: https://sourcegraph.grafana.net/explore?or

[2022-07-22 17:00] unclejustin opened #39309 "Spike: Review tech debt/product pain point"
During our retrospective, we raised concerns about tech debt and general pain points in our codebase.

This spike is to create or surface actionable issues that we can size and schedule. The purpose of these issues is to create room in the iterations to make progress on these problems and grant visibility into the state of our codebase for stakeholders that do not work in the code daily.

Notes:

[2022-07-22 17:01] sourcegraph-bot-2 commented on #39309
Heads up @joelkw @felixfbecker @vovakulikov @unclejustin - the "team/code-insights" label was applied to this issue.

[2022-07-22 17:09] rrhyne opened #39310 "Admin analytics UI tweaks"
Several improvements can be made to increase the readability, visual appearance, and utility of the admin analytics pages:

- [ ] KPI helper text styles should be text-muted
- [ ] Total and unique button group labels should be "Total events" and "Unique users"
- [ ] Adding a display daily/weeklyselector for controlling how the chart renders
- [ ] Using headers to describe columns in all value calc

[2022-07-22 17:18] rrhyne opened #39311 "Add tooltips and descriptions to events"
Testing revealed users have questions about the events behind each KPI. Add a way to trigger a tooltip to each KPI and create text to explain the tooltip to the user.

![Image](https://user-images.githubusercontent.com/539268/180500471-e9dc1047-6c7a-4a7f-b1f2-fc4326fc8466.png)

## Discover
Reviewed with product and engineering and incorporated their ideas

## Define
* [x] Github issue is created
*

[2022-07-22 17:49] burmudar opened #39315 "Test: TestBitbucketProjectsPermsSync_SetPermissionsUnrestricted times out"
See the following builds:
* https://buildkite.com/sourcegraph/sourcegraph/builds/162722#018226e1-881e-4777-b4dc-8dcf5215a644
* https://buildkite.com/sourcegraph/sourcegraph/builds/162711#018226aa-3eab-4a76-9138-c7689e3c3403
* https://buildkite.com/sourcegraph/sourcegraph/builds/162725#018226f5-931f-456f-b80a-83a09241b06f

Disabled in:
https://github.com/sourcegraph/sourcegraph/pull/39314

[2022-07-22 17:49] sourcegraph-bot-2 commented on #39315
Heads up @jplahn - the "team/repo-management" label was applied to this issue.

[2022-07-22 18:13] coury-clark opened #39317 "usage-data: update managed instance config for 9 dot-com migrated customers"

[2022-07-22 18:53] rrhyne opened #39320 "Add 1 year projection to value calculation"
In lieu of supporting 1 year of analytics data (which is expensive to engineer and store), we will add a projection based on the three months of data we currently store.

![Image](https://user-images.githubusercontent.com/539268/180505835-bed221f2-97d7-4014-abbb-be26efd872e4.png)

## Design process

- Estimate: Less than a day
- Weighting factors:
  - LOW risk
  - MEDIUM clarity

### Discover
- [x

[2022-07-22 19:53] coury-clark opened #39321 "customer-replica branch of pure-docker test seems wrong"
In the 3.42 release we encountered an issue where the smoke tests for the customer replica branch of pure_docker were failing. There was a [change](https://github.com/sourcegraph/deploy-sourcegraph-docker/commits/3.42-customer-replica) since the 3.41 release that changed the expected containers from 61 to 62. In CI and running locally the result was 60 containers.

In the 3.41-customer-replica the

[2022-07-22 19:54] sourcegraph-bot-2 commented on #39321
Heads up @sourcegraph/delivery - the "team/delivery" label was applied to this issue.

[2022-07-22 20:21] rrhyne opened #39324 "Admin analytics: Code insights content and design"
Determine an analytics story for code insights that resonate with admins and their executive buyer audience and create a fitting design.

[2022-07-22 20:28] rrhyne opened #39325 "Design CSV export"

[2022-07-22 20:51] coury-clark commented on #39321
After some more trial and error, @davejrt noticed that there was only a 30 second timeout to allow the containers to start. It seems by changing these two values we were able to get the tests passing:
1. 62 -> 60 expected containers
2. 30 -> 120 second timeout

[2022-07-22 21:22] mike-r-mclaughlin opened #39327 "Add progress, size, counts, and analytics to the repositories view"
#### Feedback

It's difficult to see what's going on with repositories in the current view.  Things that would help:

*Repository Settings Page* (`/<repo>/settings`)
- Additional analytics about each repository
   - How often does this repo appear in search results
   - How often do people click on results from this repository
   These help admins determine if it's worth it for them to keep these

[2022-07-22 21:23] sourcegraph-bot-2 commented on #39327
Heads up @jplahn - the "team/repo-management" label was applied to this issue.

[2022-07-22 21:30] mike-r-mclaughlin opened #39328 "Repository Status: Add counts to all filtered views and add "In progress" filters"
#### Feedback

* Add counts for all filters (Cloned, Not cloned, Needs index, Failed fetch)
  Currently,  not all of the filtered views show a count.  For example, cloned repos shows no count (`/site-admin/repositories?status=cloned`).
*  Add additional filters for "Clone in progress" and "Index in progress"

#### Customer

https://github.com/sourcegraph/accounts/issues/6716

[Internal Tracking Sp

[2022-07-22 21:30] sourcegraph-bot-2 commented on #39328
Heads up @jplahn - the "team/repo-management" label was applied to this issue.

[2022-07-22 22:28] coury-clark commented on #38119
*Sourcegraph 3.42.0 has been published*

* Changelog: https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/blob/CHANGELOG.md#3-42-0
* GitHub release: No release generated
* Release batch change: https://k8s.sgdev.org/organizations/sourcegraph/batch-changes/release-sourcegraph-3.42.0

@mohammadualam: Please complete the post-release steps before closing this issue.

[2022-07-22 22:46] mohammadualam opened #39333 "3.43.0 release tracking issue"
# 3.43 release

This release is scheduled for **[Aug 22, 2022, 6:00 PM (UTC)](https://time.is/1800_22_Aug_2022_in_UTC?3.43%20release%20date)**.

---

## Setup

- [x] Ensure release configuration in [`dev/release/release-config.jsonc`](https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/blob/dev/release/release-config.jsonc) on `main` is up to date with the parameters for the current relea

[2022-07-22 22:46] mohammadualam opened #39334 "3.43.0 upgrade managed instances tracking issue"
# 3.43.0 managed instances upgrade

These [managed instances](../../../../cloud/index.md) upgrades are scheduled for **[Aug 23, 2022, 6:00 PM (UTC)](https://time.is/1800_23_Aug_2022_in_UTC?One%20working%20day%20after%203.43%20release)**.

To perform these upgrades, follow the [managed instances upgrade process](../../../../cloud/technical-docs/upgrade_process.md).
Make sure to upgrade internal ins

[2022-07-22 22:47] sourcegraph-bot-2 commented on #39334
Heads up @sourcegraph/cloud-devops - the "team/devops" label was applied to this issue.

[2022-07-22 22:49] mohammadualam commented on #38119
Issue closed by release tool. #38119

[2022-07-22 22:49] #38119 closed

[2022-07-22 23:59] LawnGnome commented on #39242
I kind of suspect we might end up doing both, since the first one _should_ be a quick win and the second would be a better long term solution.

[2022-07-25 05:27] #35775 closed

[2022-07-25 06:41] gitstart-sourcegraph opened #39345 "Get rid of Bootstrap style imports in `vscode` package"
## Problem statement

We depend on Bootstrap styles in our global styles a lot. But we don't plan to move forward with Bootstrap because we're working on our design system called Wildcard. To ease the transition to our styles and gain more control over visual changes, we want to move Bootstrap styles _that we need_ into our codebase and eventually drop Bootstrap dependency.

## Success criteria

A

[2022-07-25 06:49] sourcegraph-bot-2 commented on #39345
Heads up @taylorsperry @jasongornall - the "team/frontend-platform" label was applied to this issue.

[2022-07-25 06:57] jjinnii commented on #38377
Hey @taras-yemets ! Replies to your questions:

1. I am currently working through designs on where we might incorporate all selected extensions into our existing page structure. This is something that requires [systematic design](https://app.excalidraw.com/s/4Dr1S6qmmY7/1PUMkKyEc1Z), rather than adding in on an extensions by extension basis. In addition, any changes to where/how a user can take ac

[2022-07-25 07:56] olafurpg commented on #39297
Can you elaborate on this goal? The easiest solution from my perspective would be to address this issue in `vcsPackagesSyncer` by doing some kind of write to the database when a version fails to download.

https://sourcegraph.com/github.com/sourcegraph/sourcegraph@42a9107ed81c92cb5f234d952e8eee0f4836242b/-/blob/cmd/gitserver/server/vcs_packages_syncer.go?L279

For example, we create a new table to

[2022-07-25 08:40] malomarrec commented on #38455
Hey @ryphil, just a reminder to triage this issue and remove the triage-bot/needs-triage label when you're done!

[2022-07-25 08:40] malomarrec commented on #35974
Hey @benvenker, just a reminder to triage this issue and remove the triage-bot/needs-triage label when you're done!

[2022-07-25 08:40] malomarrec commented on #36126
Hey @benvenker, just a reminder to triage this issue and remove the triage-bot/needs-triage label when you're done!

[2022-07-25 08:40] malomarrec commented on #34548
Hey @benvenker, just a reminder to triage this issue and remove the triage-bot/needs-triage label when you're done!

[2022-07-25 08:40] malomarrec commented on #33163
Hey @ryphil, just a reminder to triage this issue and remove the triage-bot/needs-triage label when you're done!

[2022-07-25 09:15] mrnugget commented on #39297
I think what goes into `lsif_dependency_repos` should be of no concern to `gitserver`. It should only care about its own table and what `repo-updater` has in `repos`. We already have a lot of writers into that table and to keep complexity and possible unintended interactions between subsystems to a minimum, I'd try to decouple `gitserver` and the `cloning` from what's in that table.

And that bein

[2022-07-25 09:42] olafurpg commented on #39297
Correct, and that's why exponential backoff is a better solution than deleting the version.

+1 this would very much be in the spirit of RFC 698 - make packages a first-class entity https://docs.google.com/document/d/1aGTzOKXJkf29FXUaDb3uevmIXmX09hYS11UKSp6j2SA/edit#heading=h.eklszdrbn53c

One difference between packages and repos that complicates reusing architecture/UI is that packages are versi

[2022-07-25 09:56] mrnugget commented on #39297
I don't think "it reads, so it's okay to write" is a good argument. Can we have another way to provide feedback about clone failures back to lsif_dependency_repos? Separate table?

Who reads these timestamps and uses them?

[2022-07-25 10:07] philipp-spiess opened #39353 "Ensure code intelligence still works on VS Code"
Similar to #38532 but for VS Code

As we're sunsetting Sourcegraph extensions we need to ensure that:

- Code intelligence still works with our VSCE
- We don't break anything for users on older versions of Sourcegraph

[2022-07-25 10:07] sourcegraph-bot-2 commented on #39353
Heads up @muratsu @jjinnii @ryankscott - the "team/integrations" label was applied to this issue.

[2022-07-25 10:08] philipp-spiess commented on #39045
Create a follow-up issue for the work necessary: #39353

[2022-07-25 10:08] #39045 closed

[2022-07-25 10:19] philipp-spiess opened #39354 "Code Ownership: Test prototype on a massive repository"
We came across https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/.github/CODEOWNERS which seems like a good start.

[2022-07-25 10:19] sourcegraph-bot-2 commented on #39354
Heads up @muratsu @jjinnii @ryankscott - the "team/integrations" label was applied to this issue.

[2022-07-25 11:03] #19975 closed

[2022-07-25 11:21] eseliger commented on #36290
did some more here and ticked them off above: https://github.com/sourcegraph/sourcegraph/pull/39304

[2022-07-25 11:54] eseliger commented on #38610
Idea: How about we losen the constraint of having an applied batch spec for every batch change? Then we wouldn't need this at all. Not sure about the implications, haven't thought too much about it yet but we also recently made the connection between spec and change a proper connection, so why not go further and clean this up, too 😬

[2022-07-25 12:10] filiphaftek commented on #37264
@RafLeszczynski @andreeleuterio this is harding/securing of whole Sourcegraph as a project, not only Cloud related, so I would propose to make this cross-team epic maybe? B/c we would need to change a bit of code of crucial SG login mechanisms.

[2022-07-25 12:11] eseliger opened #39360 "Fix accessibility labels for branches"
Followup to https://github.com/sourcegraph/sourcegraph/pull/38285 which is a little imprecise, we discussed that we want to make the wording here better and more explicit.

[2022-07-25 12:15] jjinnii commented on #34023
A few very minor changes to improve the consistency and design of the reference panel. Not all the changes I'm listing here are reflected in the screenshots, just what I managed to play around with in the inspector tool 😄

- Change font size of repository, file path, and occurrence count to .875 rem. We use .875 rem for the breader and filetree and promotes a better visual consistency

**Before**

[2022-07-25 12:17] jjinnii commented on #34023
@oleggromov I've provided some design guidance on this issue. I'm going to remove myself as Assignee and leave it for you to pick up when you have the chance! cc: @macraig

[2022-07-25 12:32] gitstart-sourcegraph opened #39362 "Extract bootstrap style import `@import 'bootstrap/scss/buttons'` in `client/vscode`"
## Problem statement
We depend on Bootstrap styles in our global styles a lot. But we don't plan to move forward with Bootstrap because we're working on our design system called Wildcard. To ease the transition to our styles and gain more control over visual changes, we want to move Bootstrap styles that we need into our codebase and eventually drop Bootstrap dependency.

## Ref
https://github.com

[2022-07-25 12:33] sourcegraph-bot-2 commented on #39362
Heads up @taylorsperry @jasongornall - the "team/frontend-platform" label was applied to this issue.

[2022-07-25 12:37] gitstart-sourcegraph opened #39363 "Extract bootstrap style import `@import 'bootstrap/scss/card'` in `client/vscode`"
## Problem statement
We depend on Bootstrap styles in our global styles a lot. But we don't plan to move forward with Bootstrap because we're working on our design system called Wildcard. To ease the transition to our styles and gain more control over visual changes, we want to move Bootstrap styles that we need into our codebase and eventually drop Bootstrap dependency.

## Ref
https://github.com

[2022-07-25 12:38] sourcegraph-bot-2 commented on #39363
Heads up @taylorsperry @jasongornall - the "team/frontend-platform" label was applied to this issue.

[2022-07-25 13:00] olafurpg commented on #39297
I agree it's a bad argument. What do you think about writing the error into the repo itself? We would effectively replace the db with the git repo itself to store metadata about request failures. The timestamps would then be read by gitserver to determine whether to skip a request or not.

[2022-07-25 13:10] CristinaBirkel opened #39365 "insights: Remove prototype code on backend for inline insights"
This prototype has been de-prioritized, and we'll likely not bring it back in its current form. So it makes sense to remove the endpoints and related code.

[2022-07-25 13:16] mrnugget commented on #39297
That feels like a hack to me. Repository contents are "data plane" and not "control plane" and mixing one with the other, I suspect, will lead to all sorts of pain. (Kinda like how you don't put an image into a photo album that says "error: connection lost" when the user's upload didn't work.)

Instead of adding a new mechanism, I'd rather try to expand the existing ones. For example: we already h

[2022-07-25 13:18] malomarrec commented on #37834
@dmarques @Piszmog what's left to do to get this in the next release?

[2022-07-25 13:35] olafurpg commented on #39297
How would gitserver find out what versions to skip from `lsif_dependency_repos`?

It should be relatively easy to update gitserver to return structured errors about what versions failed to download. One concern I have with this approach is that it should ideally be easy for site admins to understand why a given version is failing to download.

[2022-07-25 13:39] mrnugget commented on #39297
Hehe, good point, I implicitly assumed we'd combine the idea in my last comment with the other ideas from above, namely: once we have a goroutine that monitors dead repositories, it should probably persist that information somewhere. We could, for example, have a structured error returned from `gitserver` that contains what tag/version couldn't be cloned. Then the dead-repo-monitoring goroutine co

[2022-07-25 13:39] mrnugget commented on #39297
Also, ping @sourcegraph/repo-management since they've probably thought about all of these ideas here before (retries, exponential backoff, recording clone status, etc.)

[2022-07-25 13:45] olafurpg commented on #39297
A lot of our existing infrastructure is centered around repos while packages need infrastructure around *versions*. Is there precedence to write into the db from gitserver? If it's OK for gitserver to write into the db, then I'd vote for that solution since it seems like the simplest solution that can be implemented with a minor diff compared our existing solutions today.

[2022-07-25 13:48] leonore commented on #38951
Both `GetInsights` and `GetInsightView` are called when viewing insights pages (per dashboard or on all insights).

`GetInsights` will fail the whole page if erroring, whereas `GetInsightView` will not (as this is per-insight). This is a recent change (post-filing this issue) from the following PR: https://sourcegraph.sourcegraph.com/github.com/sourcegraph/sourcegraph/-/commit/fd8290cde7667d21e606

[2022-07-25 13:56] Piszmog commented on #37834
@malomarrec Just get the PR merged

[2022-07-25 13:59] #39121 closed

[2022-07-25 14:35] mrnugget commented on #39297
I mean, I've given you a few of my reasons for why I don't think it's OK for `gitserver` to write into the DB, but I'd say it's your decision ultimately.

I think we've reached a point where a smallest-possible-diff strategy might not get us away from this local maximum where packages are kinda like repos but also not and everwhere we try to make them behave like repos there's friction. But again:

[2022-07-25 15:06] #38807 closed

[2022-07-25 15:28] #24932 closed

[2022-07-25 15:29] #22974 closed

[2022-07-25 15:31] benvenker opened #39374 "New symbol results are behaving weirdly"
You can try different languages. It's broken for python, typescript, and C# at least

https://sourcegraph.com/search?q=context:global+auth+test+type:symbol+lang:c%23+&patternType=lucky

![image.png](https://images.zenhubusercontent.com/5467e9ba7c6ccc6277a5f103/8be6d77f-151d-4b37-aff3-8c6e4404c567)

[2022-07-25 15:31] sourcegraph-bot-2 commented on #39374
Heads up @benvenker @lguychard - the "team/search-product" label was applied to this issue.

[2022-07-25 15:52] #31176 closed

[2022-07-25 15:57] Joelkw commented on #38433
(This item is in this iteration just until the bugs have been filed, then can be closed.)

[2022-07-25 16:40] #38558 closed

[2022-07-25 17:15] Strum355 commented on #31882
Hi Ryan. This may be a case of one of two scenarios:
1. There used to be a default limit of 25 on the amount of index jobs that we would allow for a given repository. This was primarily due to larger repositories (such as https://github.com/DefinitelyTyped/DefinitelyTyped/ resulting in hundreds of jobs that would cause a long backlog of auto indexing jobs). This limit has since been removed after

[2022-07-25 17:45] #38600 closed

[2022-07-25 19:07] chwarwick commented on #39241
Implementing as check if a query targets a single repo or not, this will provide enough support the issues depending on this item.

[2022-07-25 19:57] chrispine commented on #31090
Does it make sense to consider this issue as the clean-up task Erik was talking about, and prioritize it higher? (Maybe just make it P0 and get it out of the way sooner rather than later?)

[2022-07-25 19:58] eseliger commented on #31090
This is a big bucket list of wishes, thoughts, feature gaps,... I've been meaning to split it up into individual tickets and closed this one out so we can prioritize them 1 by 1 but didn't get to it yet 🙃

[2022-07-25 19:59] chrispine commented on #36304
not a lot of work, but also doesn't feel very high priority to me; no strong feelings about this one

[2022-07-25 20:00] chrispine commented on #37989
As this is a design issue, I'm most interested in hearing Daniel's thoughts on the priority.

[2022-07-25 20:02] chrispine commented on #36536
Looks like no customers have run into this yet? If not, I'm okay with Backlog until we hear something about it. (Unless someone thinks this is very likely to come up soon and cause us problems.)

[2022-07-25 20:04] eseliger commented on #36536
We told some customers to use orgs, because that's how they retain their batch changes when someone leaves the company, not doing it probably means that those customers would not use SSBC for anything serious until we support it. That said, it hasn't come up, so happy to delay it a bit further (but maybe not until someone actively mentions it?)

[2022-07-25 20:05] chrispine commented on #36361
Someday we're going to give imported changesets some real love.

I don't think that day is near. Just too many even cooler things to work on!

[2022-07-25 20:07] chrispine commented on #36305
I could be convinced that we should backlog this, but I also wonder if this isn't something worth taking on sooner. I vote to keep this on in P2, as it is related to a customer issue.

[2022-07-25 20:11] chrispine commented on #36019
Doesn't feel that urgent to me. Would we move this to Backlog or Sustaining, though?

[2022-07-25 20:12] chrispine commented on #33461
no objection to backlogging this one

[2022-07-25 20:12] eseliger commented on #36019
I just put it in sustaining

[2022-07-25 20:14] chrispine commented on #38579
I have no objection to this moving to the backlog

[2022-07-25 20:16] chrispine commented on #36183
This feels like an important ease-of-use issue: help customers solve their own problems.

However, how often to people even use template variables? If it's more than _rarely_, I'd vote to keep this one in P2.

[2022-07-25 20:24] chrispine commented on #38713
Assuming this is the design (not implementation) represented in this issue, I don't have a strong sense of the relative priority of this compared to our other design tasks

[2022-07-25 20:25] BolajiOlajide commented on #39194
I did a bit of research into this and [came up with this document](https://docs.google.com/document/d/1V_A-8nFeg0KctaR1CHLrCzZoiaSzLKrNI-7ltVQSdiM/edit?usp=sharing).

[2022-07-25 20:26] chrispine commented on #39084
If it's closer to 0.5d, P1? If it's more, P2?

[2022-07-25 20:31] rvantonder commented on #28429
query, `index:no` works great:

## [link](https://sourcegraph.com/search?q=context:global+repo:%5Egithub%5C.com/sourcegraph/src-cli%24+streamsearchsequentialline%28.%7C%5Cn%29*search-border+index:no&patternType=regexp)
<img width="1509" alt="Screen Shot 2022-07-25 at 1 30 49 PM" src="https://user-images.githubusercontent.com/888624/180868735-61a50511-9f31-468c-80cb-80c7de2c1672.png">

zoekt does n

[2022-07-25 20:34] chrispine commented on #39219
Malo, when do you want to see this land?

[2022-07-25 20:36] chrispine commented on #39220
If it's not a lot of work, P1?

[2022-07-25 20:36] Joelkw commented on #33632
Update after 3.42 release: this is built as a feature-flagged prototype you have to enable in settings, so it's still "in progress" and there are number of UI fixes that'd need to be made before it was turned on by default.

[2022-07-25 20:48] andreeleuterio commented on #37264
@filiphaftek looping in @vrto who will work on many things related to audit logging on the application. Totally agree it goes beyond just Cloud.

[2022-07-25 20:51] chrispine commented on #39221
no idea on the priority or estimate for this; is this just a reminder?

[2022-07-25 20:58] chrispine commented on #39242
is the changeset data compressed in the json? If not, that could at least make this more rare (but still doesn't solve the problem)

How rarely does this happen?

[2022-07-25 21:00] chrispine commented on #39245
How rarely do we encounter this?

[2022-07-25 21:01] eseliger commented on #39245
I think it was reported by a customer before. Not super likely to happen very often though, most likely.

[2022-07-25 21:05] rvantonder opened #39387 "regex lazy quantifier not highlighted in codemirror query bar"
the `?` isn't highlighted in codemirror (but the hover works)

<img width="372" alt="Screen Shot 2022-07-25 at 2 02 41 PM" src="https://user-images.githubusercontent.com/888624/180873873-115208fb-c77e-4430-bd66-e748af5e0bb6.png">

<img width="957" alt="Screen Shot 2022-07-25 at 2 02 49 PM" src="https://user-images.githubusercontent.com/888624/180873847-932e63af-23f8-4c56-8125-c0ef5a8f56a0.png">

w

[2022-07-25 21:06] sourcegraph-bot-2 commented on #39387
Heads up @benvenker @lguychard - the "team/search-product" label was applied to this issue.

[2022-07-25 21:25] chrispine commented on #39259
P1 or P2? Depends on how much Compute stuff is ready to be worked on, and on the estimate of this one.

[2022-07-25 21:26] chrispine commented on #39360
P1?

[2022-07-25 21:27] chrispine commented on #39255
backlog?

[2022-07-25 21:28] chrispine commented on #39180
Maybe leave this in Triage until we get some clarification in that doc?

[2022-07-25 21:28] benvenker opened #39388 "Increase default match chunks to 3 in beat UI search results"
We've gotten some fairly consistent feedback that only showing 1 match chunk makes the search results basically useless in certain cases that aren't uncommon, so we'd like to be more generous here. 3 seems like a good next increment, but we'll validate in our research.

[2022-07-25 21:29] sourcegraph-bot-2 commented on #39388
Heads up @benvenker @lguychard - the "team/search-product" label was applied to this issue.

[2022-07-25 21:33] eseliger commented on #39360
Since accessibility has been frozen for a bit to do some more work for the next few releases, should we reflect that for our team and make this a P2/backlog item, too?

[2022-07-25 21:54] eseliger opened #39390 "Change git diffstat to (added, deleted) from (added, modified, deleted)"
The Sourcegraph diffstat has historically been a little different than most code hosts render them: We have (added, modified, deleted), while most code hosts I know just have (added, deleted) and so does git, too. Our detection for “changed” is also pretty basic, it literally just counts - followed by +, so a - - + + diff replacing two lines would still be (2 added 0 modified 2 deleted). I think i

[2022-07-25 22:23] coury-clark opened #39391 "usage-data: populate fields with data previously available on dot-com"
If we compare the fields from the [dot-com event stream](https://sourcegraph.sourcegraph.com/github.com/sourcegraph/sourcegraph/-/blob/internal/usagestats/event_handlers.go?L100-116&subtree=true) and from the [persisted event_logs table](https://sourcegraph.sourcegraph.com/github.com/sourcegraph/sourcegraph/-/blob/internal/types/types.go?L1216-1226&subtree=true) there is a number of fields that ar

[2022-07-25 22:45] rvantonder opened #39392 "some cases of slow `repo:contains` searches"
Here is a repo `repo:^github\.com/drishal/dotfiles$` that satisfies the query

- `repo:contains.file(flake.nix) pkgs.linuxKernel.manualConfig`

## [query](https://sourcegraph.com/search?q=context:global+repo:%5Egithub%5C.com/drishal/dotfiles%24+repo:contains.file%28flake.nix%29+pkgs.linuxKernel.manualConfig&patternType=lucky)

When we do a global search for the query on Sourcegraph.com, we eventua

[2022-07-25 22:45] sourcegraph-bot-2 commented on #39392
Heads up @benvenker @lguychard - the "team/search-product" label was applied to this issue.

[2022-07-25 22:45] rvantonder commented on #39392
CC @camdencheek

[2022-07-25 22:54] sourcegraph-bot-2 commented on #39391
Heads up @joelkw @felixfbecker @vovakulikov @unclejustin - the "team/code-insights" label was applied to this issue.

[2022-07-25 23:06] rvantonder commented on #39392
Refreshed my understanding of https://github.com/sourcegraph/sourcegraph/commit/9a0f825568e665f032710741dfce677bafeeed13#diff-625b5188ac3d506dbb4a20b5904654d7a8f6d221bc5ed829270829cdd0887f4bR595 and looks like this is a Zoekt bottleneck? How large is the repo page size, maybe that adds overhead? Just throwing out thoughts here, would probably be better to dig into a trace

[2022-07-25 23:07] camdencheek commented on #39392
Looking at the traces, it seems the issue is just that we page through that match `repo:contains.file(flake.nix)` 500 at a time and process each page serially, streaming results as we go. On sourcegraph.com, this is millions of repos divided in chunks of 500. `type:repo count:all` also suffers from this on `sourcegraph.com`. In fact, this affects any non-global search, we just usually hit our limi

[2022-07-25 23:21] coury-clark commented on #39391
Here is a query showing the different versions of the Event struct https://sourcegraph.sourcegraph.com/search?q=context:global+type+Event+struct+%7B...Argument...%7D+lang:go+repo:%5Egithub%5C.com/sourcegraph/sourcegraph%24+&patternType=structural

[2022-07-26 00:30] #36620 closed

[2022-07-26 01:14] #39392 closed

[2022-07-26 02:20] bobheadxi opened #39397 "DevX OpenTelemetry default tracking issue"
### Plan

Work required to make OpenTelemetry the default - and _only_ - observability export format in Sourcegraph 4.0, with backwards-analagous behaviour enabled by making Jaeger an optional component that can be deployed with an appropriately configured OpenTelemetry collector.

Also see [the proposal](https://docs.google.com/document/d/1Gcs0lBPGg3vbRvHwt8G1IJBFVO5_1MGeR-PbaW2J888/edit#).

###

[2022-07-26 02:23] bobheadxi opened #39398 "otel: install OTLP pipeline globally"
We should initialize everything with [otlp.InstallNewPipeline](https://pkg.go.dev/go.opentelemetry.io/otel/exporters/otlp#InstallNewPipeline) by default - right now, we do some custom handling with the OTLP trace exporter directly, which we likely shouldn't do (it makes complying to the rather complicated configuration spec difficult: https://github.com/open-telemetry/opentelemetry-specification/b

[2022-07-26 02:27] bobheadxi opened #39399 "site-config: make otel the default trace export method"
We want to make OpenTelemetry the only way to export tracing (and eventually, other observability)

[2022-07-26 03:39] adeola-ak commented on #39186
I vote P2, I think its in line with our focus of making batch changes easier to use and understand and I agree it doesnt sound too onerous once we decide the route to take

[2022-07-26 05:47] varungandhi-src commented on #33128
Maybe there is something funky with my monitor set up. I recall having to use some software to change the resolution of the external monitor, I don't recall if that was active when I recorded this. I'll reopen if I'm able to reproduce in a normal setting.

[2022-07-26 05:47] #33128 closed

[2022-07-26 07:46] keegancsmith commented on #39392
Why are we paginating repos here? Can't we rely on zoekt directly here? I know historically we didn't, but I thought you implemented some amazing optimizations here recently? :)

[2022-07-26 07:54] gitstart-sourcegraph opened #39406 "Extract bootstrap style import `@import 'bootstrap/scss/transitions'`, `@import 'bootstrap/scss/forms'` in `client/vscode`"
## Problem statement
We depend on Bootstrap styles in our global styles a lot. But we don't plan to move forward with Bootstrap because we're working on our design system called Wildcard. To ease the transition to our styles and gain more control over visual changes, we want to move Bootstrap styles that we need into our codebase and eventually drop Bootstrap dependency.

## Ref
https://github.com

[2022-07-26 07:55] sourcegraph-bot-2 commented on #39406
Heads up @taylorsperry @jasongornall - the "team/frontend-platform" label was applied to this issue.

[2022-07-26 07:58] #39406 closed

[2022-07-26 08:20] fkling opened #39408 "Validate CodeMirror as alternative blob view implementation"
This issues keeps track of the work that needs to be done for a baseline implementation of the blob view with CodeMirror.

The feature flag is `enableCodeMirrorFileView`.

- [x] Add minimal implementation behind feature flag #37922
  - [x] Sync line selection to/from URL
- [x] Enable syntax highlighting with SCIP data
  - POC: #39116
  - [x] Client side: #39386
  - ~Syntax highlight server #39264~

[2022-07-26 08:31] sashaostrikov commented on #39297
@mrnugget @olafurpg 👋

I guess the most valid example of such stuff in the code we own is external service syncing ([here](https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/blob/internal/repos/syncer.go?L510%3A18=)).

It has an exponential backoff logic, saving the timestamps of a next sync in a `next_sync_at` column of `external_services` table, tracking how long it has been since last

[2022-07-26 08:52] malomarrec opened #39409 "Close batch changes that are in draft status"
#### Current state / problem

Today, when you run a batch changes server-side, a draft batch change is created, that contains the preview.
There's no way to close/remove one of those draft batch changes.

#### Proposed solutions

While some executions are actual draft (I want to get back to it later), some are not valuable to persist (I played with it, and don't need it anymore). It'd probably mak

[2022-07-26 09:03] danielmarquespt commented on #39409
@malomarrec this is already reflected on this issue: https://github.com/sourcegraph/sourcegraph/issues/38713

I added some details, I think we can close this one.

[2022-07-26 09:05] danielmarquespt commented on #38713
Yes, this is just design, because I think it required and deeper re-think of the flow. Given our priorities right now, I think this is blacklog, but we can discuss in Sprint Planning

[2022-07-26 09:06] leonore commented on #38429
cleaning up the iteration board, really closing this issue

[2022-07-26 09:06] #38429 closed

[2022-07-26 09:11] fkling opened #39412 "Codemirror blob view: Improve scroll position and line selection when document is loaded"
The current implementation causes CodeMirror to retain the current scroll position (if possible) when switching between files which can be surprising. I think ideally we would remember the current scroll position for each file individually and restore it (within a single session of course) if there is no line selected in that document.

Related to that we current set and scroll to the selected lin

[2022-07-26 09:26] eseliger opened #39413 "batches: Implement operations on workspace preview entries"
Some early designs had this and we've been wanting to build it for a while: Bulk operations on workspaces. This would be to allow bulk exclusion and the likes.

[2022-07-26 09:27] eseliger opened #39414 "Searching for unknown term in preview hides list"
Searching for something in the list of workspaces that doesn't exist hides the entire list, including the search bar so there is no way to get back.

[2022-07-26 09:29] eseliger opened #39415 "In-app documentation on batch spec editor page"
This has been called the "References panel" in the past, it's meant to provide helpful docs on the available properties. Not sure how important this is since we already have monaco tooltips.

[2022-07-26 09:31] eseliger opened #39416 "batches: Better visual distinction for monaco editor in read-only mode"
Rob had some designs for this, but we weren't able to implement them with what monaco gives us. Alternatives?
I personally often want to start typing in the editor and only then realize it's read-only.

[2022-07-26 09:33] eseliger opened #39417 "Batches: Auto apply on complete execution"
Feature idea we've been having, we want to allow the user to toggle a switch that would automatically run applyBatchChange once the execution finishes.
- We need to make sure we surface errors somewhere clearly.
- How do we deal with publish-from-UI here?

[2022-07-26 09:34] eseliger opened #39418 "Per-user fairness for batch spec workspace cache entries"
Currently, the cache is a simple LRU cache that ensures the table doesn't grow indefinitely. Ideally, we would do this on a per-user basis, or give ever user some baseline that they can always fill, or something like that. Otherwise one big execution could evict everyone's caches.

[2022-07-26 09:37] eseliger opened #39419 "batches: Cmd+Z support after you replace the contents of your batch spec with a library example"
When coosing a new template, the editor history is reset and cmd Z doesn't bring you back to the previous content. We should fix that.

[2022-07-26 09:38] eseliger opened #39420 "batches: Numerical IDs for executions"
Cleanup: Give executions "vanity" numerical IDs scoped to the batch change they belong to in order to have prettier execution URLs like /batch-change-name/executions/2.

[2022-07-26 09:38] vovakulikov opened #39421 "Code Insights Tracking issue - Search result page insight live preview"
### Plan

In this project we want to bring code insights data and UI to the search result page.
The first implementation of this is a prototype and should be shipped with turned off by default feature flag.

- [Figma Designs](https://www.figma.com/file/zJHFMF1RYta92C3Trp9y4b/Insights-on-the-search-screen-%2338443-Final-review?node-id=260%3A11)
- Roadmap issue https://github.com/sourcegraph/sourceg

[2022-07-26 09:38] eseliger opened #39422 "batches: Execution URL field on batch spec"

[2022-07-26 09:39] eseliger commented on #31090
converted the big ones into tickets, closing this one.

[2022-07-26 09:39] #31090 closed

[2022-07-26 09:45] eseliger commented on #39186
A bunch of questions around this topic also have been covered in this ticket and on slack before: https://github.com/sourcegraph/sourcegraph/issues/35070. The ticket naming is not very well reflecting that though 🤷‍♂

[2022-07-26 09:46] eseliger commented on #39084
Are we going to land #26922 in the next 2 sprints? Otherwise, I think P2 would be too optimistic.

[2022-07-26 09:51] sourcegraph-bot-2 commented on #39421
Heads up @joelkw @felixfbecker @vovakulikov @unclejustin - the "team/code-insights" label was applied to this issue.

[2022-07-26 10:17] eseliger commented on #36598
What's the status of this ticket?

[2022-07-26 10:39] RafLeszczynski commented on #37264
@andreeleuterio @vrto @filiphaftek

I understand that there is a scope of work that will be a cross-team effort for different security-related initiatives connected with the Cloud.

I'd like to keep the Cloud team backlog containing only Cloud team-specific items - issues that the Cloud team engineers will own execution and delivery.

Should this GH issue land in the CLoud team or the Security tea

[2022-07-26 10:45] malomarrec commented on #39409
Dammit, didn't find it. Sorry

[2022-07-26 10:45] #39409 closed

[2022-07-26 11:34] philipp-spiess opened #39429 "Add flag to keep legacy extensions system enabled"
As a result from this thread, we'll add another flag that can be used to turn on legacy extensions for instances past 4.0: https://sourcegraph.slack.com/archives/C03P1V3J92P/p1658488293653899

Ideally we can hid this somehow so that we keep usage at a minimum (ideally we know everyone who uses this and can work with the customers on a reasonable upgrade path for them).

[2022-07-26 11:34] sourcegraph-bot-2 commented on #39429
Heads up @muratsu @jjinnii @ryankscott - the "team/integrations" label was applied to this issue.

[2022-07-26 11:35] philipp-spiess commented on #39429
Also: I think this should be an instance wide setting not a user specific one.

[2022-07-26 11:51] vrto commented on #37264
@RafLeszczynski I think the audit log should be agnostic to the deployment method, so I'd say Security.

[2022-07-26 12:05] taras-yemets opened #39433 "Move git blame functionality to the core workflow"
Under `extensionsAsCoreFeatures` experimental feature:
- make git blame functionality available as a part of the core product (file, commit and compare pages)
- do not load/activate `git-extras` extension
- each page should have its own blame visibility status (hidden by default).

[2022-07-26 12:06] sourcegraph-bot-2 commented on #39433
Heads up @muratsu @jjinnii @ryankscott - the "team/integrations" label was applied to this issue.

[2022-07-26 12:12] vovakulikov opened #39434 "Search: Search result page sidebar flashes when closing and opening the panel quickly"
## Problem

- Go to the search result page
- Activate simple UI mode
- Try to open and close sidbar quickly
- See that the sidepanel element flashes in the next attempt to open/close it

https://user-images.githubusercontent.com/18492575/181000192-3f99541c-57ee-4bd3-a624-7fa2b8551537.mov

## Why is this happening?

For the sidebar element we use `useTemporarySetting` as a primary solution for the

[2022-07-26 12:13] sourcegraph-bot-2 commented on #39434
Heads up @benvenker @lguychard - the "team/search-product" label was applied to this issue.

[2022-07-26 12:18] vovakulikov commented on #39434
Sorry for the wrong mention batchers. I don't know why this happened, perhaps because this issue description has "batch" key word? This weird.

[2022-07-26 12:18] eseliger commented on #39434
yeah, no worries we expect some noise from this bot :)

[2022-07-26 12:49] sourcegraph-bot-2 commented on #37264
Heads up @dcomas - the "team/security" label was applied to this issue.

[2022-07-26 12:55] taras-yemets opened #39437 "Remove extensions decorations column display support"
As we're going to [deprecate the current Sourcegraph extensions](https://handbook.sourcegraph.com/strategy-goals/strategy/integrations/#moving-extensions-into-the-core-workflow) there's no need in extensions decorations column view enabled under `enableExtensionsDecorationsColumnView` experimental feature (see PR https://github.com/sourcegraph/sourcegraph/pull/36007).

[2022-07-26 12:55] sourcegraph-bot-2 commented on #39437
Heads up @muratsu @jjinnii @ryankscott - the "team/integrations" label was applied to this issue.

[2022-07-26 13:08] danielmarquespt commented on #37128
Closing this one and centralising this issue on: https://github.com/sourcegraph/sourcegraph/issues/38713

[2022-07-26 13:08] #37128 closed

[2022-07-26 13:12] malomarrec commented on #39221
This is for me to handle

[2022-07-26 13:17] jplahn commented on #39297
This is the question that jumps to the front of my mind reading through this discussion. @olafurpg - what ownership model are you proposing for packages in the short and long term?

[2022-07-26 13:32] umpox commented on #26260
Many feature requests related to this:
- https://community.cloudflare.com/t/please-compress-static-content-with-brotli-level-11/19963
- https://community.cloudflare.com/t/serve-precompressed-files-from-cdn-brotli-level-11-zopfli/236752
- https://community.cloudflare.com/t/please-support-brotli/8459

Worth investigating final step, and closing if still not possible (likely)

[2022-07-26 13:34] #39123 closed

[2022-07-26 13:37] ryanslade commented on #36290
@keegancsmith: Regarding `internal.git.resolve-revision` I see this comment on the handler:

https://github.com/sourcegraph/sourcegraph/blob/ac88f10e353573ad3b245f146dcf90b6278851d7/cmd/frontend/internal/httpapi/internal.go#L121

Any ideas whether that's safe to remove?

[2022-07-26 13:45] #33461 closed

[2022-07-26 13:51] bobheadxi opened #39441 "tracing: remove custom trace policy implementation"
Today we have selective tracing implemented via `policy.WithShouldTrace(context.Background(), true)` etc - we should rely on standardized sampling, etc instead

[2022-07-26 13:55] LawnGnome commented on #36536
If we didn't have giant whacks of library, compute, and 4.0 work looming I'd probably argue for P1-2, but I think this has to be backlog for now.

[2022-07-26 13:56] LawnGnome commented on #38713
I guess the question is whether we want to add the Close action as a temporary stopgap, or whether that's not going to move the needle enough to worth the effort. (My estimate on that is 0.5d, but low confidence, as I have minimal knowledge of that component.)

[2022-07-26 13:57] LawnGnome commented on #39084
Backlog until #26922 is done (but we should put this back in Triage once it is); estimate 1d?

[2022-07-26 13:58] LawnGnome commented on #39186
This has come up at least twice, but in practice, I don't think we've had a lot of pushback on the "use `repository` and `branch`" solution thus far.

Backlog; 2d? (But I wouldn't argue against P2.)

[2022-07-26 13:58] LawnGnome commented on #39220
0.5d; P0/1?

[2022-07-26 14:00] eseliger commented on #39186
Backlog, pending https://github.com/sourcegraph/sourcegraph/issues/35070 it might be less than 2d (or absorbed by that ticket, if we already have to start handling revs). Also depends on if we want to port anything to src-cli, my intuition would be no, because we drop that code path in 2 months anyways?

[2022-07-26 14:01] LawnGnome commented on #39242
Sadly, we can't compress the data in situ because we use PostgreSQL's JSON operators to index and introspect into the data structure.

I think we should split this: putting guards in is probably 0.5d and could be a P0/1; denormalising the data we need into other fields and then storing the JSON as a (possibly compressed) blob is probably (wild guess) 2d and backlog.

[2022-07-26 14:04] LawnGnome commented on #39245
Backlog; wait for #39242 to be solved and re-test before deciding on further priority and estimate?

[2022-07-26 14:04] keegancsmith commented on #36290
Go for it, that command hasn't existed for years :)

[2022-07-26 14:06] eseliger commented on #36290
I think `internal.phabricator.repo.create` is actually used on instances that have a phab code host connected, but dotcom doesn't so it appears in this list.

[2022-07-26 14:07] LawnGnome commented on #39259
Is this something we can implement without a library screen to move to after?

[2022-07-26 14:07] LawnGnome commented on #39255
If we need a very rough estimate, probably 0.5-1d not including the last activity stuff?

[2022-07-26 14:09] LawnGnome commented on #39414
P0; happy to go with 0.5d for estimate, since you looked at it.

[2022-07-26 14:11] LawnGnome commented on #39420
Backlog; estimate feels high to me, but without much context.

[2022-07-26 14:11] LawnGnome commented on #39422
P1?

[2022-07-26 14:12] #35492 closed

[2022-07-26 14:13] eseliger commented on #39420
You would want to
- Make batch spec ID unique for the (batch_change_id, vanity_id) tuple
- Have some sort of sequencing or another mechanism to cheaply pick the next available number for the batch spec
- Expose it in the API
- add an endpoint to get it by that numerical ID (as opposed to node ID)
- Maybe: Make URLs backcompat, but probably not given this is a beta feature.

[2022-07-26 14:19] LawnGnome commented on #38610
Not opposed to exploring that, although I feel like we have some assumptions baked in some deep places around that. Would probably be a good timeboxed spike to figure out how immediately feasible it is.

[2022-07-26 14:19] chwarwick commented on #39246
@leonore  I think generally with how to generate the data for this case you are on the right path.   I see this issue as as extension to the other POC around showing % change last 30 days and a mini-historic chart.  I think where we would want to end up is with an endpoint that accepts in the query details, parses and analyzes it and make some decisions about what "insights" we can return about th

[2022-07-26 14:20] eseliger commented on #38610
yeah I don't think the 1d estimate would be right for that. More like a .. 3d but I think that's the right way to go about it. If we don't have 3d rn, I am okay backlogging this. It's not like we get 10 reports a day about why the heck is there an empty batch spec

[2022-07-26 14:23] eseliger opened #39443 "Identify metrics and alerts for batch changes executors on Cloud MI"
See https://docs.google.com/document/d/1Ss7ZffP82rV6nl4i5gBmICfuMK1xvSFI4Y5sLPXyDZc/edit?disco=AAAAc9qshb8 for more details, but essentially we have to define metrics and alerts to keep executors alive and healthy for cloud MI before the August release.

[2022-07-26 14:28] ryanslade commented on #36290
Yep, agreed that I'm not comfortable removing that one

[2022-07-26 14:34] Piszmog commented on #39422
Is the scope of this just exposing the `executionURL` or also updating all the consumers to use the new field?

[2022-07-26 14:35] eseliger commented on #39422
I think also replacing the URL construction wherever we do it (probably like 2 places?). Feels relatively low priority to me, more sustaining or backlog? Happy to be overruled though.

[2022-07-26 14:40] chrispine commented on #39443
duplicate of #[39180](https://github.com/sourcegraph/sourcegraph/issues/39180)

[2022-07-26 14:40] #39443 closed

[2022-07-26 14:41] chrispine commented on #39180
OK, updated the description; now I'm thinking P0?

[2022-07-26 14:48] chrispine commented on #39419
P1 or P0?

[2022-07-26 14:49] eseliger commented on #39419
p1, as a stretch goal? feels better than saying we have to drop something else to get this done.

[2022-07-26 14:49] chrispine commented on #39420
Feels like backlog to me

[2022-07-26 14:49] keegancsmith commented on #36290
Agreed, I gave the provision that confirmation by reading code would be required :) I just did that in the phab case and can confirm it is possible to execute that code path. So removed it from the list.

Hopefully when we have been removing the endpoints we have been removing the client code that exists as well and that would tell us if it is actually used.

[2022-07-26 14:50] chrispine commented on #39422
P2 or backlog?

[2022-07-26 14:50] eseliger commented on #36290
I tried to clean that up in my PRs, hope I didn't miss anything.

[2022-07-26 14:51] #38260 closed

[2022-07-26 14:54] courier-new opened #39445 "Implement checkbox for selecting/deselecting individual file paths"
A user should be able to individually select or deselect file paths from the `replace` results, to control what we do and don't create a full changeset for. All results should probably be selected by default, unless the user has toggled off the "select all" (this might need to include new results that stream in after toggling has occurred).

In conjunction with https://github.com/sourcegraph/sourc

[2022-07-26 14:54] keegancsmith commented on #36290
I just realised something, the phabricator route exists from the days when repo-updater couldn't access the DB. It now accesses the db a _lot_. So bonus points to someone just deleting the route and replacing it with a simple call to the DB.

[2022-07-26 14:55] courier-new commented on #39445
P1, but probably should happen after https://github.com/sourcegraph/sourcegraph/issues/39195. And maybe 1d-3d depending on the outcome of https://github.com/sourcegraph/sourcegraph/issues/39195?

[2022-07-26 14:56] #38500 closed

[2022-07-26 14:58] leonore commented on #39246
@chwarwick thanks for the diagram. I guess for `Historic result counts last 30d` this applies to this prototype: https://github.com/sourcegraph/sourcegraph/issues/39229. In general I guess I wonder whether we'd be getting mixed up there. I know there are designs in the works for this prototype too.

I guess we'd want in the same place:
* if capture group, show breakdown of capture groups
* if not

[2022-07-26 15:00] BolajiOlajide commented on #36598
I'll wrap this up today. I've been focused on other things - I just need to run the batch spec that'll affect more files.

[2022-07-26 15:02] keegancsmith commented on #28429
this is a fun one to fix, since you can likely work within just the zoekt repo + have a simple unit test to reproduce.

From Camden:

[2022-07-26 15:12] courier-new opened #39446 "Add "Close" as an action from menus on server-side workflow screens"
- Should be accessible from `ActionsMenu` on editor, execution, and read-only configuration screens
  - (Ideally preview too but I don't remember if we have a menu there or if it's just the Apply button in the banner right now)
  - Some of the screens might have a single CTA right now. We should convert the CTA to a menu in these cases
- Should use the red X close icon
- Should link to the batch c

[2022-07-26 15:17] chrispine commented on #39242
As part of this, create a followup ticket in Sustaining for the rest of the work Erik lays out above

[2022-07-26 15:23] #39103 closed

[2022-07-26 15:25] malomarrec opened #39447 "Library: break down MVP work into issues"
The MVP is defined in https://github.com/sourcegraph/sourcegraph/issues/32687, and designed in https://github.com/sourcegraph/sourcegraph/issues/36483.

We need to create a list of issues (including need RFCs and spike issues) that lead to the MVP.
We can use the `feature/library` to label those issues

[2022-07-26 15:57] #39220 closed

[2022-07-26 16:16] umpox commented on #19021
Just for further context:

We've prioritised accessibility a lot lately, and I think it would be wise to re-review this RFC once we have finished our efforts in https://github.com/sourcegraph/sourcegraph/issues/31476.

Reasoning: We've made our application accessible with basic, built-in, keyboard shortcuts. This RFC focuses more on "power users". That is good, but there is also a lot of additiona

[2022-07-26 16:39] lrhacker commented on #21109
<img width="621" alt="image" src="https://user-images.githubusercontent.com/10523985/181062271-ca6832a9-f606-4973-b0d8-bff274a2e0d5.png">
<img width="623" alt="image" src="https://user-images.githubusercontent.com/10523985/181062302-3e29e0f3-b075-478b-972f-d1cc30bddc6f.png">

The resizable panel is no longer used on the lefthand portion of the "References" tab in the current or upcoming UI, so thi

[2022-07-26 16:39] #21109 closed

[2022-07-26 17:14] taylorsperry commented on #17850
This is something @limitedmage brought up in our 1:1 last week. A more reusable Dropdown concept is something we should consider for Wildcard v3. (Thanks for already adding the label, @jasongornall!)

[2022-07-26 17:17] jjeffwarner commented on #28429
Thanks for raising this. We will get this resolved during Q3.

[2022-07-26 17:54] #39241 closed

[2022-07-26 18:24] #38045 closed

[2022-07-26 20:21] #38231 closed

[2022-07-26 20:40] #36543 closed

[2022-07-26 21:34] #29097 closed

[2022-07-26 21:35] #29095 closed

[2022-07-26 21:35] #27878 closed

[2022-07-26 22:20] eseliger opened #39468 "Src-cli latest version endpoint is unauthenticated and can fall back to different version"
See https://sourcegraph.slack.com/archives/CMMTWQQ49/p1658873113895129, this endpoint uses unauthenticated requests to github which occasionally get rate-limited and thus we fall back to the minimumversion const. This is not necessarily problematic, but it causes us to serve different versions at various times during the day (at the very least the const, but not always the actually latest patch ve

[2022-07-26 22:20] #31306 closed

[2022-07-27 08:29] sourcegraph-bot-2 commented on #10203
Heads up @taylorsperry @jasongornall - the "team/frontend-platform" label was applied to this issue.

[2022-07-27 08:33] umpox commented on #10203
Re-added our team label, I think this would still be our area of ownership as we [own](https://handbook.sourcegraph.com/departments/engineering/dev/process/engineering_ownership/#frontend-platform) Non-code file view.

Some additional information:

Here's an example file: https://sourcegraph.com/github.com/donnemartin/system-design-primer/-/blob/solutions/object_oriented_design/hash_table/hash_map

[2022-07-27 08:41] #38623 closed

[2022-07-27 09:09] #39158 closed

[2022-07-27 09:09] #39159 closed

[2022-07-27 09:25] jjinnii opened #39478 "Broken "mix search-based results when precise results are available" button"
#### Expected behavior:
[Figma reference](https://www.figma.com/file/DZMyEJT3g2HT6HmJGNNOnW/%22Better%22-code-intel-panel?node-id=1621%3A11396)

To account for responsive widths, the button(s) should introduce an ellipse "..." when the page width reaches lengths where a full length text button cannot be accommodated.

#### Actual behavior:
<img width="1424" alt="Screen Shot 2022-07-27 at 6 22 55 P

[2022-07-27 09:33] jjinnii opened #39480 "Poor responsive behavior of reference panel"
#### Expected behavior:
The search-based/precise tags as well as the file path in the new reference panel are not handling responsive widths gracefully. Expected behavior:

- search-based/precise tags should maintain the same height regardless of page width (should not extend into the second row)
- file path (not the occurrence count) should introduce an ellipse when page width becomes too small t

[2022-07-27 09:39] umpox commented on #2546
This is currently possible, we just need to throw in a link that loads this, e.g.:

https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/compare/0bc0766...HEAD where `0bc0766` is the commit revision

[2022-07-27 09:54] umpox commented on #17064
One another thing I'd add as a UI papercut (maybe a different issue):

The last synced icon is currently focusable in the search results. I would say given this isn't _essential_ information we should make it non-focusable. It means that it would become a lot smoother to tab through search results without the tab order directing from one side of the page to the next

[2022-07-27 10:12] umpox commented on #33101
I can't seem to replicate this on Chrome/Safari/Firefox 🤔

[2022-07-27 10:40] airamare01 commented on #20447
+1 from [customer](https://sourcegraph2020.lightning.force.com/lightning/r/Account/0013t00001Xib6uAAB/view)
Running into the same issue above,

[2022-07-27 11:03] ryanslade commented on #36290
I'm taking a look at this now

[2022-07-27 11:29] gitstart-sourcegraph opened #39484 "When hovering on UserNavBar, blue color flashes"
## Problem statement
On hovering the UserNavItem, blue color flashes
https://www.loom.com/share/f3359ea119bd49babbbb2318515baba0

## Success criteria
Above mentioned bug is fixed

## Time estimate

- Pull requests with ~450 lines changed should take **X hours** at maximum. Ping the reviewer in the spec pull request if time-consuming changes are required.
- Split the work into multiple pull request

[2022-07-27 11:34] sourcegraph-bot-2 commented on #39484
Heads up @taylorsperry @jasongornall - the "team/frontend-platform" label was applied to this issue.

[2022-07-27 12:52] #39433 closed

[2022-07-27 12:56] benvenker commented on #34395
@rvantonder are you planning on working on this this iteration? Just noticed and automatically got moved over but looks like it's been off your list for a bit. No worries, just wanted to take it out if it's not part of your goals this iteration.

[2022-07-27 13:00] varungandhi-src opened #39489 "Simplify and document logic around source/syncer types + parsing functionality"
Pasting one of @mrnugget's comments from Slack, in the context of confusion around the purpose behind having multiple interfaces with the same name `packagesSource` as well as similar types `npmPackagesSyncer` and `npmPackagesSource`:

[2022-07-27 13:08] thenamankumar commented on #39310
skipping adding monthly aggregation option as we have only 3 months data.

[2022-07-27 13:10] #36290 closed

[2022-07-27 13:14] varungandhi-src opened #39492 "Better document and/or change special handling for Go modules"
This code is deliberately missing an entry for Go: (I initially thought it was a bug)

[code]

There is special logic when this map is using around empty maps for `lsif-go`, because Go modules are not fetched as distinct "packages" (unlike npm packages), they're natively Git repos.

@mrnugget pointed out that

We need to better define what the expected behavior here ought to be and document the co

[2022-07-27 13:33] rrhyne commented on #39310
Makes sense

[2022-07-27 13:44] rrhyne commented on #17064
I believe that data might actually be removed in the future. We'll see how the simplification project goes.

[2022-07-27 13:45] ryanslade opened #39494 "Add tests for Phabricator store"
The Phabricator store doesn't have any tests:

https://github.com/sourcegraph/sourcegraph/blob/main/internal/database/phabricator.go

[2022-07-27 13:46] sourcegraph-bot-2 commented on #39494
Heads up @jplahn - the "team/repo-management" label was applied to this issue.

[2022-07-27 13:46] taras-yemets opened #39495 "bext: command palette styles on GitHub seem broken"
- **Sourcegraph version:**  Sourcegraph browser extension for Chrome v22.7.11.926
- **Platform information:**  Chrome v103.0.5060.134

#### Steps to reproduce:

1. Open any file on GitHub with the browser extension enabled.
2. Open command palette.

<img width="843" alt="Screenshot 2022-07-27 at 16 42 35" src="https://user-images.githubusercontent.com/25318659/181262756-23c4c824-48da-4212-b975-054

[2022-07-27 13:47] sourcegraph-bot-2 commented on #39495
Heads up @muratsu @jjinnii @ryankscott - the "team/integrations" label was applied to this issue.

[2022-07-27 14:09] philipp-spiess commented on #39226
Fixed

[2022-07-27 14:09] #39226 closed

[2022-07-27 14:18] philipp-spiess opened #39499 "Make graduated git extras work with CodeMirror"

[2022-07-27 14:24] camdencheek commented on #39392
This PR helped, but these types of searches are still slow.

Yes, it's possible. And it would likely be much faster for queries that contain no other repo filters.

_However_, we pay a large amount in complexity by splitting up the repo resolution step. So much, in fact, that we have been producing incorrect results for commit search and repo search because the application of repo filters was not

[2022-07-27 14:33] malomarrec commented on #20447
ACK @airamare01

[2022-07-27 14:44] malomarrec commented on #35492
That's an awesome change. This was a papercut for some, and a massive pain
for others

On Tue, Jul 26, 2022 at 4:12 PM Randell Callahan ***@***.***>
wrote:

[2022-07-27 14:52] #38158 closed

[2022-07-27 14:52] #38157 closed

[2022-07-27 14:52] #38156 closed

[2022-07-27 14:53] #33377 closed

[2022-07-27 14:53] #33375 closed

[2022-07-27 14:53] #38159 closed

[2022-07-27 14:56] mrnugget commented on #37489
If I understood @oleggromov correctly last time we talked, it wasn't a blocker for shipping the reference panel. But I'll let him decide.

[2022-07-27 14:59] marekweb opened #39505 "devx: Measure time from commit push to CI build feedback"
**Why:**

We want to measure how long it takes for CI to go from the moment that a commit is pushed to the moment that the author of the commit has feedback (a build success or a build failure).

This helps us know how long engineers are blocked waiting for feedback on their pushed commits, in real time (including any latency in getting the build started or in getting the result back).

**Question

[2022-07-27 15:04] philipp-spiess commented on #39354
Results in this thread https://sourcegraph.slack.com/archives/C03Q186LKUY/p1658756396116409

[2022-07-27 15:04] #39354 closed

[2022-07-27 15:05] eseliger commented on #21767
this service has been removed, right?

[2022-07-27 15:31] BolajiOlajide commented on #36598
### Docker version
4.10.1

![CleanShot 2022-07-17 at 07 17 54@2x](https://user-images.githubusercontent.com/25608335/179386548-ae5fc99b-eea7-463a-be61-46294c85c982.png)

Ran a benchmark using [hyperfine](https://github.com/sharkdp/hyperfine) for 300 runs of `batch preview`

[code]

### Batch Spec

[code]

| Command | Mean [s] | Min [s] | Max [s] | Relative |
|:---|---:|---:|---:|---:|
| `src batch

[2022-07-27 15:33] eseliger commented on #36598
Nice, that looks promising!

Can you try something more even IO intensive, like running `yarn` in our main repo? I think this example doesn't fully exercise the different FS backends to the max.

[2022-07-27 15:40] #39414 closed

[2022-07-27 15:46] eseliger commented on #36598
thinking about it again, network-based things might be poor indicator? Maybe we should do something else... Copy the sg/sg repo twice? :D @LawnGnome do you have ideas how to hack high io with not just sequential writing?

[2022-07-27 15:50] #21767 closed

[2022-07-27 15:53] lrhacker commented on #32302
From @valerybugakov:

[2022-07-27 16:10] efritz opened #39508 "RFC 697: Isolate out-of-band migrations (iam)"
See [RFC 697: Multiple version upgrades](https://docs.google.com/document/d/1eNiwzWZmfpvzFhs9IDcM7Sbchv_Hm8Uj-6bI-3TDlvg).

Update out of band migrations [#15](https://sourcegraph.com/github.com/sourcegraph/sourcegraph@b4bb2d2586e7c87fb1e2ba08c5c2ab4d610632ad/-/blob/enterprise/internal/productsubscription/migrations.go?L57) and [#16](https://sourcegraph.com/github.com/sourcegraph/sourcegraph@b4bb2

[2022-07-27 16:18] philipp-spiess opened #39511 "Code Ownership: UI polishing"
We need design for the code view integration of showing code owners.

[2022-07-27 16:21] sourcegraph-bot-2 commented on #39511
Heads up @muratsu @jjinnii @ryankscott - the "team/integrations" label was applied to this issue.

[2022-07-27 16:23] philipp-spiess commented on #38531
@ryankscott Do you remember what this issue was about? 😐

[2022-07-27 16:25] philipp-spiess commented on #39429
- [ ] Change the code landed in https://github.com/sourcegraph/sourcegraph/pull/39227 to use the this feature flag instead

[2022-07-27 16:30] marekweb opened #39512 "devx: Attach metadata to Buildkite steps to identify step owners"
**Why**: We want to be able to add additional information to help diagnose issues with build steps.

For each step in Buildkite, the name of a step "owner" (e.g. a team) would be attached so that we can quickly triage who should be notified, or who should be responsible, for build issues.

The metadata will be included in build traces for each job.

[2022-07-27 16:35] philipp-spiess opened #39513 "Code Ownership: Show code owners on file view"

[2022-07-27 16:36] sourcegraph-bot-2 commented on #39513
Heads up @muratsu @jjinnii @ryankscott - the "team/integrations" label was applied to this issue.

[2022-07-27 16:37] philipp-spiess opened #39514 "Code Ownership: Evaluate performance when searching on multiple repos"
We can do this on sourcegraph.com

[2022-07-27 16:37] sourcegraph-bot-2 commented on #39514
Heads up @muratsu @jjinnii @ryankscott - the "team/integrations" label was applied to this issue.

[2022-07-27 16:37] philipp-spiess opened #39515 "Code Ownership: Move feature flag to experimental feature"
We want this to be easier to activate for the 4.0 release.

[2022-07-27 16:38] sourcegraph-bot-2 commented on #39515
Heads up @muratsu @jjinnii @ryankscott - the "team/integrations" label was applied to this issue.

[2022-07-27 16:43] taylorsperry opened #39517 "Visual regression on the reference panel"
### Issue type

Bug fix

### Problem description

![image](https://user-images.githubusercontent.com/43555476/181302812-f6c0a853-65af-41c6-84f9-7b8c440e404b.png)

### Context

https://github.com/sourcegraph/sourcegraph/discussions/35668#discussioncomment-3151913

### Steps to reproduce

_No response_

### Impact

_No response_

### Additional details

_No response_

### Assigning labels

- [ ] If

[2022-07-27 16:43] sourcegraph-bot-2 commented on #39517
Heads up @taylorsperry @jasongornall - the "team/frontend-platform" label was applied to this issue.

[2022-07-27 17:30] BolajiOlajide commented on #36598
Got any recommendation (asides running `yarn` in a repo)?

[2022-07-27 17:30] #37948 closed

[2022-07-27 17:34] eseliger commented on #36598
I think cloning a reasonably large repo, like sg/sg, and then as the step command duplicating that repo 2 or 3 times should be ok? Not really sure, maybe there's some optimization that detects copies and does them in a rather quick, atomic operation?

[2022-07-27 17:39] #38302 closed

[2022-07-27 18:22] rvantonder commented on #39392
concrete numbers: https://github.com/sourcegraph/sourcegraph/pull/39393 helped take 53 seconds -> 15 seconds for original query

<img width="984" alt="Screen Shot 2022-07-27 at 11 18 44 AM" src="https://user-images.githubusercontent.com/888624/181344445-09bde323-d896-4266-bab8-0b4a3f0edd2b.png">

[2022-07-27 18:23] lrhacker commented on #9590
After some internal discussion, it sounds like this issue was addressed recently in [another thread on GitLab](https://gitlab.com/gitlab-org/gitlab/-/issues/361820#note_946525406) by @abeatrix.

For simplicity, here's the same information to track in this thread:

Also, here's a relevant update from our [changelog](https://github.com/sourcegraph/sourcegraph/blob/33eaf86a334ded4eeef6289304f90f3276a

[2022-07-27 18:23] #9590 closed

[2022-07-27 19:26] coury-clark commented on #39094
For simplicity sake, I'm going to put this in a new table for now. I don't have a good sense of how this will be used, or what kinds of trade offs we may want to make (putting it in config versus some file versus migrations, etc).

That means that:
1. The source of truth won't necessarily be obvious in one file (unless you squash migrations)
2. Updates will need to come in the form of migrations (

[2022-07-27 19:31] #39089 closed

[2022-07-27 19:58] #39446 closed

[2022-07-27 20:03] #39046 closed

[2022-07-27 20:03] #39048 closed

[2022-07-27 20:03] #39049 closed

[2022-07-27 20:03] #39050 closed

[2022-07-27 20:09] LawnGnome commented on #26790
Reviewed feedback; updated document. I think this is done, even if we still tinker with a word here or there.

[2022-07-27 20:09] #26790 closed

[2022-07-27 20:13] vdavid commented on #38146
Here: https://plugins.jetbrains.com/plugin/9682-sourcegraph

These are the new screenshots:

Popup:

![jb-find-with-sourcegraph-popup-light](https://user-images.githubusercontent.com/2552265/181363066-05dab2e1-b608-46af-8bbd-a570aa460bd5.png)
![jb-find-with-sourcegraph-popup-dark](https://user-images.githubusercontent.com/2552265/181363097-511e77ea-778f-4ae1-beb9-06b57a4fc009.png)

Context menu:

[2022-07-27 20:13] #38146 closed

[2022-07-27 20:26] amberfurbush0317 opened #39527 "Codeinsights page returning a Unexpected token < in JSON at position 0"
- **Sourcegraph version:**  3.40.1
- **Platform information:** Docker

 Codeinsights history page returning an Unexpected token < in JSON at position 0

![image (54)](https://user-images.githubusercontent.com/85127819/181356497-9ee5502c-f1ed-4494-ba8d-d2095b950c1f.png)

#### Steps to reproduce:

1. Click on Codeinsights, and the error appears which prevents you from creating an insights graph

2.

[2022-07-27 21:24] coury-clark opened #39536 "usage-data: generate markdown list of all allowed events in build"
Events will be restricted from scrape based on an allowlist, stored in a table. This makes viewing the total set of the allowlist somewhat difficult. This issue is a "nice to have", but it would be good to generate a markdown file containing a list of all of the allowed events, similar to how `sg migration describe` produces schema documentation.

For simplicity sake, I'm going to put this in a ne

[2022-07-27 21:25] sourcegraph-bot-2 commented on #39536
Heads up @joelkw @felixfbecker @vovakulikov @unclejustin - the "team/code-insights" label was applied to this issue.

[2022-07-27 21:32] sourcegraph-bot-2 commented on #39094
Heads up @joelkw @felixfbecker @vovakulikov @unclejustin - the "team/code-insights" label was applied to this issue.

[2022-07-27 22:04] philipp-spiess commented on #38531
=> We'll delete code once we are removing the option to turn on the legacy extension system completely. This is going to happen a bit later so I’m moving this to the icebox for now.

[2022-07-27 22:16] varsanojidan opened #39544 "Set git version to 2.35.2"
As part of this [revert](https://github.com/sourcegraph/sourcegraph/pull/39537), we had to revert git version to a version that doesn't contain a fix for the this [CVE](https://github.blog/2022-04-12-git-security-vulnerability-announced/).

We want to upgrade to exactly git version 2.35.2 to have the fix for the CVE as well as avoid the commit-graph malformed bug we were experiencing [here](https:

[2022-07-27 22:16] sourcegraph-bot-2 commented on #39544
Heads up @jplahn - the "team/repo-management" label was applied to this issue.

[2022-07-27 22:59] unclejustin opened #39550 "Insights dropdown for File view"
[POC PR](https://github.com/sourcegraph/sourcegraph/pull/39394)

[Designs](https://www.figma.com/file/Dv0MTqpANcLj7rz7V3DVnT/Inline-references-to-Insights-%2338444-Review?node-id=1690%3A27888)

Add the insights dropdown to "file" pages.

[2022-07-27 23:00] sourcegraph-bot-2 commented on #39550
Heads up @joelkw @felixfbecker @vovakulikov @unclejustin - the "team/code-insights" label was applied to this issue.

[2022-07-27 23:01] unclejustin opened #39551 "Show insights reference inline (no-popover)"
[POC PR](https://github.com/sourcegraph/sourcegraph/pull/39394)

[Design](https://www.figma.com/file/Dv0MTqpANcLj7rz7V3DVnT/Inline-references-to-Insights-%2338444-Review?node-id=1690%3A28087)

Add the referenced insights line decoration. No popover yet.

[2022-07-27 23:01] sourcegraph-bot-2 commented on #39551
Heads up @joelkw @felixfbecker @vovakulikov @unclejustin - the "team/code-insights" label was applied to this issue.

[2022-07-27 23:02] unclejustin opened #39552 "Add popover for insight line decorations on blob view"

[2022-07-27 23:02] sourcegraph-bot-2 commented on #39552
Heads up @joelkw @felixfbecker @vovakulikov @unclejustin - the "team/code-insights" label was applied to this issue.

[2022-07-27 23:15] AlicjaSuska commented on #38443
Some final non-blocking discussions are ongoing in Figma but the design has been ready for dev since last week. Closing the design issue.

[2022-07-27 23:15] #38443 closed

[2022-07-28 01:00] courier-new commented on #15892
@malomarrec do you mean https://github.com/sourcegraph/accounts/issues/8335 was seeing the "was submitted too quickly" error, or was confused by changesets appearing in an errored state vs. a retrying state?

[2022-07-28 01:31] felixfbecker commented on #39246
I want to clarify some things on the scope.
- @leonore is correct that this is for one point in time (whatever is specified in the search query), and for specific allowed groupings we allow the user to select.
- @chwarwick this isn't really an extension to the scope of the other PoC showing %, rather it is an alternative idea for us to explore. The two are independent features.
- @chwarwick It's n

[2022-07-28 01:44] benvenker opened #39554 "PS1: Sourcegraph is hard to learn and therefore hard to use"

[2022-07-28 01:44] benvenker opened #39555 "PS2: Sourcegraph's UI doesn't feel trustworthy to some users"

[2022-07-28 02:47] courier-new commented on #39192
https://docs.google.com/document/d/105PjopkBZVd-dR-KFDKEihyUmpWshKYx1IAjcnlECSU/edit#

[2022-07-28 07:04] mrnugget commented on #39517
Just to be explicit and add more context to the ticket itself: the problem is not with the reference panel, but with the generic "panel action items" that every extension can contribute.

The styling here https://github.com/sourcegraph/sourcegraph/blob/6558f4d7c3caa5893810c3ffda74d23fc54e081b/client/shared/src/actions/ActionsNavItems.module.scss

is supposed to make the overflowing content hidden

[2022-07-28 08:29] #34410 closed

[2022-07-28 09:48] philipp-spiess commented on #39044
Some context in: https://sourcegraph.slack.com/archives/C01T0BL4EFN/p1658940250170299

[2022-07-28 10:05] philipp-spiess commented on #39051
I assume this is about the site admin view in `/site-admin/registry/extensions`

[2022-07-28 11:10] vdavid opened #39564 "JetBrains: Buttons in JCEF have pointer mouse icon on hover"
When we hover the buttons and dropdown (incl. code completion dropdown), we see the pointer icon, which is fine in a browser, but we want to imitate native Swing behavior here, and this is currently the most obvious giveaway that something's off here.

[17-sec demo](https://www.loom.com/share/a7dd5f972b794180a0421ee7eb8f680f)

[2022-07-28 11:10] sourcegraph-bot-2 commented on #39564
Heads up @muratsu @jjinnii @ryankscott - the "team/integrations" label was applied to this issue.

[2022-07-28 11:46] olafurpg opened #39568 "Packages: gather customer needs"
We should confirm with big customers whether they need the following features for packages:
-  Repository permissions. For example, is it OK if all Sourcegraph accounts have access to all packages? If not, how do we sync permissions? Is it OK to limit permissions to Sourcegraph organizations, or do we need to dynamically pull in permissions from SAML, or Artifactory, or some other service?
-  What

[2022-07-28 11:48] olafurpg commented on #37762
Closing this issue in favor of a GitHub Project view https://github.com/orgs/sourcegraph/projects/211/views/59

[2022-07-28 11:48] #37762 closed

[2022-07-28 11:57] vdavid opened #39569 "JetBrains: In case of long filenames, window minimum width becomes very large"
[20-sec demo](https://www.loom.com/share/b2c27eeda68b4ae4819ecee46403f4a1)

I used this search expression to reproduce the bug: `repo:^github\.com/JetBrains/intellij-community$ lang:Java notification.notify`

The metadata component (in the middle of the popup) apparently grows without a limit.
It should probably lose characters at the _start_ of the line to make sure we display the file name. The

[2022-07-28 11:58] sourcegraph-bot-2 commented on #39569
Heads up @muratsu @jjinnii @ryankscott - the "team/integrations" label was applied to this issue.

[2022-07-28 12:00] vdavid opened #39571 "JetBrains: Make the plugin compatible with 2022.2"
JetBrains [released](https://blog.jetbrains.com/idea/2022/07/intellij-idea-2022-2/) IntelliJ 2022.2 three days ago.
Our current version of the plugin doesn't work out of the box.

Three updates are needed:
- `platformVersion`: `2022.1` → `2022.2`
- `javaVersion`: `11` → `17`
- `org.jetbrains.intellij`: `1.6.0` → `1.7.0`

The good news is that after these updates, the plugin works in 2022.2

The ba