[2022-01-10 15:32] vdavid commented on #27948
@rrhyne, this would make sense as a follow-up project to #27100. But I'll need some specifics and design work first. Can you provide these?

[2022-01-10 15:32] vdavid commented on #27604
@rrhyne, this one would also make sense as a follow-up project to #27100. But I'll need some specifics and design work first. Can you provide these?

[2022-01-10 15:41] vdavid commented on #28609
I wondered how the page currently looked like → found [an example](https://sourcegraph.com/github.com/sourcegraph/handbook/-/docs).
<img width="733" alt="repo without API docs" src="https://user-images.githubusercontent.com/2552265/148793777-92aa65a0-e42b-4757-8b6f-6aad09f9d3c0.png">
Also, we seem only to support Go now, so this issue is probably low impact.

[2022-01-10 15:47] #16654 closed

[2022-01-10 15:49] daxmc99 commented on #16654
Steps to do this are in the handbook

[2022-01-10 15:50] rrhyne commented on #27100
1. Yes, that was correct, but if you like the full name you can use your version
2. D! I defined the metrics with cards. You can see those [here](https://www.figma.com/file/VlpvIoBXrG6GFWsEFmc6rB/Browser-extension-CTA-improvements?node-id=26%3A5898). Note these should occur for the cloud AND be added to on-premise pings as well.
3. I think we should respect the existing logic. Let's ask @muratsu
4

[2022-01-10 15:56] JenRed777 commented on #25256
@efritz @danieldides is this one complete?

[2022-01-10 15:57] JenRed777 commented on #29490
I was able to add permissions to GCP Billing for Crystal and Kevin.

[2022-01-10 15:57] #29490 closed

[2022-01-10 16:00] vdavid commented on #27100
1. Thanks, I'll keep the specified utm_content then. Just wanted to double-check.
2. Great, thanks! In the Figma file, I'm seeing "InstallBrowserExtensionCTAShown" and "InstallBrowserExtensionCTAClicked". I assume I should use this pair on **both the search results page and the file page**. So we won't want to distinguish in the telemetry data based on which page the logging is coming from. If tha

[2022-01-10 16:14] #29338 closed

[2022-01-10 16:16] efritz commented on #25256
I believe that @danieldides has updated the instructions for compose, but we're still waiting for the `migrator` instance to run as a Kubernetes job (cc @daxmc99).

[2022-01-10 16:31] coury-clark commented on #28504
This issue has not been observed since some stability / error handling improvements in the backfiller. Closing until we can reproduce.

[2022-01-10 16:31] #28504 closed

[2022-01-10 16:31] coury-clark opened #29530 "insights: document permissions model for Code Insights"
Document how user permissions work to share with the security team.

[2022-01-10 16:33] #29074 closed

[2022-01-10 16:37] coury-clark opened #29531 "insights: retire timescale DB"
Perform implementation of RFC 556 https://docs.google.com/document/d/1zHcQczapdL8yvbZ7baxKzCTQPN4s1MOG8u2BMaSzSnE/edit to retire TimescaleDB from Code Insights.
This issue will be to retire the docker images, and test / validate as listed in the RFC.

[2022-01-10 16:59] coury-clark commented on #29492
Duplicate of https://github.com/sourcegraph/sourcegraph/issues/29487

[2022-01-10 16:59] #29492 closed

[2022-01-10 17:02] efritz commented on #29369
@DaedalusG Note that `-trace=2` gives you headers, but `-trace=3` gives you the response body, which *does* include the error. Maybe using a higher verbosity level would have made this more apparent.

Is there a way to better advertise/name this flag for future use? In the meantime I'm working on improving the default error message in the lsif upload command (will update here once I have a PR).

[2022-01-10 17:21] emchap commented on #29014
@jplahn Just wanted to bump here—did this work begin/is there an update?

[2022-01-10 17:27] jplahn commented on #29014
Yep, @asdine started this last week. Unfortunately, he was pulled into the [Booking.com p1 issue ](https://github.com/sourcegraph/customer/issues/589) which put this work on pause while that finishes. Our plan is to wrap up the booking.com issue in the next day or two and then pivot back to this work.

@asdine - can you provide an update on what we've done and what's next?

[2022-01-10 17:33] #29414 closed

[2022-01-10 17:42] rrhyne commented on #27948
Yes, what kind of time frame do you anticipate needing for the assets?

[2022-01-10 17:49] benjaminwgordon opened #29533 "Batch Changes Step Files not support by version"
- **Sourcegraph version:** 3.35.1
- **src-cli version:** 3.35.1

#### Steps to reproduce:

1.  Create a batch spec with a step using `files`
2.  Preview the batch spec

#### Expected behavior:
Batch spec resolves

#### Actual behavior:
[code]

This batch spec runs as expected on the same Sourcegraph instance when using src-cli version 3.34.2, but fails with version 3.35.1

[2022-01-10 17:53] rrhyne commented on #27604
I think if we used banner type CTAs for too many things, it will lead to banner blindness.

As such, this will probably be part of https://github.com/sourcegraph/sourcegraph/issues/28322.

[2022-01-10 17:57] vovakulikov commented on #21358
Duplicate of https://github.com/sourcegraph/sourcegraph/issues/28878. Close is in favor of the last issue about it.

[2022-01-10 17:57] #21358 closed

[2022-01-10 18:03] eseliger commented on #29533
Hello, thanks for reporting, I am looking into this!

Can you let me know which command you are using? `src batch preview -f file.yml` or something different?

[2022-01-10 18:17] benjaminwgordon commented on #29533
@eseliger

That's correct!

[2022-01-10 18:22] vovakulikov opened #29536 "Code Insights [spike]: Keep order and size of insight cards on the dashboard page"
Related product board item https://sourcegraph.productboard.com/roadmap/3362047-code-insights-beta-to-ga/features/9370719/detail/expanded

## The problem

At the moment we don't have any system over saving size and order for cards items on the dashboard page. There are a few things we should resolve before diving deep into the implementation of it:

### Product and API questions
1. Ordering (GQL A

[2022-01-10 19:01] efritz commented on #29369
https://github.com/sourcegraph/sourcegraph/pull/29538

[2022-01-10 19:41] efritz commented on #18659
This is already done (but not explicitly documented) by having moved the migrators into the worker instance. Workers can now be started with ONLY that task independently of the other services.

[2022-01-10 19:41] #18659 closed

[2022-01-10 20:01] efritz commented on #25256
I see that https://github.com/sourcegraph/deploy-sourcegraph-docker/pull/684 is still pending as well.

[2022-01-10 20:05] #18252 closed

[2022-01-10 20:09] danieldides commented on #25256
Those PRs are probably safe to be converted from drafts into actual PRs now and merged. I was keeping them unmerged so they couldn't possibly mess up the 3.35 release (since the documentation changes will go live "immediately" on sourcegraph.com) but we're long past that now. I'll go through today and clean everything up.

Kubernetes work is moving forward steadily. We've got an agreed-upon plan a

[2022-01-10 20:27] #28716 closed

[2022-01-10 21:14] efritz opened #29542 "Non-sequential migrations Tracking issue"
### Plan

Let's get rid of that pesky migration conflict when two different teams merge around the same with database changes. We can get around this by reading migration definitions in a manner which don't impose a complete sequential order so that two unrelated migrations do not conflict.

See the attached issues for an implementation plan.

### Tracked issues

@efritz

Completed
- [x] (🏁 29 day

[2022-01-10 21:20] efritz opened #29543 "non-sequential-migrations: Extend `schema_migrations` table"
Extend or replace the `schema_migrations` table that currently tracks the _latest_ version applied (or failed to apply) with a richer set of data including a log for each migration attempt (including timing information and failure message, if one occurred).

[2022-01-10 21:24] efritz opened #29544 "non-sequential-migrations: Break num up/down convention"
Currently our migration tools are controlled by a _number_ of migrations to perform up or down from the current version. Instead, what we should be doing is providing a *target* migration version to migrate to.

This should change the interface (and associated documentation) of the migrator and the sg migration command. This will have implementation changes in the migration definition package as w

[2022-01-10 21:30] efritz opened #29545 "non-sequential-migrations: Support multiple targets"
After #29544 and #29547, allow *multiple* targets to be supplied to the interface of the migrator and the sg migration command. This should have the following behavior:

- migrating up to a set of targets should ensure that those targets were applied, as were all their dependencies
- migrating down to a set of targets should _undo_ the defined children (subsequently numbered migration files) that

[2022-01-10 21:31] caugustus-sourcegraph opened #29546 "Helm chart: use service account credentials for publishing releases"
The helm publish github workflow in https://github.com/sourcegraph/deploy-sourcegraph-helm is using a token generated from a personal user account. A new token should be generated using org-level credentials and used in place of CR_PUBLISH_TOKEN.

[2022-01-10 21:32] caugustus-sourcegraph commented on #27755
All completed except for splitting the frontend deployment - that can be added in a later version.

[2022-01-10 21:32] #27755 closed

[2022-01-10 21:34] caugustus-sourcegraph commented on #29447
https://sourcegraph.com/github.com/sourcegraph/deploy-sourcegraph-helm/-/tree/charts/sourcegraph/examples

[2022-01-10 21:34] #29447 closed

[2022-01-10 21:36] caugustus-sourcegraph commented on #29445
https://sourcegraph.com/github.com/sourcegraph/deploy-sourcegraph-helm/-/blob/charts/sourcegraph/README.md

[2022-01-10 21:36] #29445 closed

[2022-01-10 22:34] efritz opened #29547 "non-sequential-migrations: Encode additional information in schema files"
Read metadata within migration files that self-declare their parent (which will, at this stage, be dictated by sequentially increasing numbered files). Add this to validation and the migration addition utilities.

Additional validation should include a comparison between file names and self-declared parents in metadata, as well as ensuring that the migration parentage information forms a single-so

[2022-01-10 22:37] efritz opened #29548 "non-sequential-migrations: Drop requirement of sequential migration numbers"
No longer require that we have a linear list of migrations. When a new migration is created, its parents should be the set of childless migrations that exist at that time. When two such branches do this concurrently, they will become childless siblings, which is fine. We can apply these two branches separately. In the future, the next migration to be created will have both of these siblings as par

[2022-01-10 23:48] coury-clark opened #29551 "insights: add all repos checkbox to detect and track page"
For global capture groups, we will need the ability to select "run my insight over all repos".

<img width="730" alt="image" src="https://user-images.githubusercontent.com/5090588/148857117-18b25a51-5145-4b4c-a1d3-975f22fe173b.png">

Backend issue: https://github.com/sourcegraph/sourcegraph/issues/27230

[2022-01-10 23:53] coury-clark opened #29552 "insights: restrict persisted captured values to a max length"
When a code insight is derived from the captured distinct values of the search results, we need to introduce some constraints that the stored values aren't too long.

Proposal: Truncate the captured values to the first 100 characters in the captured string.

How to handle conflicts, two strings that share the first 100 characters?
1. Add them together
2. Drop one for the other

[2022-01-10 23:54] #27036 closed

[2022-01-11 00:15] #28916 closed

[2022-01-11 01:35] rvantonder commented on #2867
We'll track https://github.com/sourcegraph/sourcegraph/issues/29177 and follow up

[2022-01-11 01:41] rvantonder commented on #29177
I've worked on something related, a while back, re: repos with spaces and have tested against this Azure repo with a space: https://dev.azure.com/rvantonderp/repo%20with%20space successfully. I suspect the issue here comes down to these steps:

Likely clicking on a repo item is not unencoding the space properly in the match view, and leaving the `%20` in place.

[2022-01-11 01:58] #29322 closed

[2022-01-11 02:22] camdencheek commented on #24097
[No longer true](https://sourcegraph.com/search?q=context:global+repo:sourcegraph+CodeExcerptUnhighlighted&patternType=literal)! I [got rid of that](https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/commit/7c103d3cc607b4333a37febee9701765a86f5c94?visible=2) a while ago as part of some changes when I realized that it was broken and also wasn't used outside of dev debugging.

[2022-01-11 02:37] camdencheek commented on #24097
I don't. It operates pretty generically on the text content of an HTML tree, so as long as we're not changing that, we shouldn't (🤞) hit any issues.

[2022-01-11 04:59] Joelkw commented on #29536
@vovakulikov Thank you for these thoughts! I'm numbering the responses to correspond to the points they refer to.

3. @vovakulikov could you record a brief loom of how GH does it? My default assumption based on the dozen dataviz tools I've used is that we do not need to support per-user ordering and sizing – everyone can see the same dashboard, in the same chart order, with the charts the same res

[2022-01-11 09:17] vdavid commented on #27948
@rrhyne **Early next week.**
I think we'll be done with "Improve browser extension acquisition" this week, so I could start working on this next week.

[2022-01-11 09:21] AlicjaSuska commented on #29536
Thank you for putting this together @vovakulikov! @Joelkw I have a different point of view when it comes to global vs. per-user settings. In my opinion, we should save the layout per user. My reasoning:

Our goals:
- improve the readability
- provide consistent experience for the user (not for the group) when viewing the dashboard
- make the dashboard easier to consume ('muscle memory')

If we sav

[2022-01-11 11:33] #28914 closed

[2022-01-11 11:38] valerybugakov opened #29564 "Big blob scroll is laggy"
#### Steps to reproduce:

1. Open https://sourcegraph.com/github.com/golang/go/-/blob/src/cmd/compile/internal/ssa/opGen.go?L34216
2. Scroll through the file.

#### Expected behavior:

The scroll is smooth and doesn't cause reflow on every mouseover event.

#### Actual behavior:

The scroll is clunky and may crash the browser:

<img width="419" alt="Screen Shot 2022-01-11 at 12 35 16" src="https:/

[2022-01-11 11:58] umpox commented on #29564
I wonder if this is related to our Tooltips, afaik they currently have a non-debounced `mouseover` event

[2022-01-11 12:00] RafLeszczynski commented on #21961
fixed

[2022-01-11 12:00] #21961 closed

[2022-01-11 12:42] #29253 closed

[2022-01-11 13:28] jhchabran commented on #28469
@bobheadxi I went ahead and it here https://github.com/sourcegraph/sourcegraph/pull/29568 so we can demo it today 😊

[2022-01-11 14:01] #29369 closed

[2022-01-11 14:14] umpox commented on #27661
FYI: I am closing this, it looks like the migration has been done manually so we shouldn't need a codemod.

cc: @valerybugakov

Migration in PR: https://github.com/sourcegraph/sourcegraph/pull/28837

[2022-01-11 14:14] #27661 closed

[2022-01-11 14:15] umpox commented on #27663
FYI: Assigned this to @gitstart-sourcegraph. It looks like the migration will be done in this PR: https://github.com/sourcegraph/sourcegraph/pull/28837

[2022-01-11 14:17] umpox commented on #27663
Edit: Unassigning. I think there'll be further work after #28837 to update the code and migrate remaining `<a>` tags

[2022-01-11 14:30] #27675 closed

[2022-01-11 15:07] umpox commented on #27695
Needs scoping

[2022-01-11 15:13] umpox commented on #27724
This will done by https://github.com/sourcegraph/sourcegraph/issues/27721

[2022-01-11 15:13] #27724 closed

[2022-01-11 15:14] umpox commented on #27718
This will be done by https://github.com/sourcegraph/sourcegraph/issues/27721

[2022-01-11 15:14] #27718 closed

[2022-01-11 15:26] #29240 closed

[2022-01-11 15:29] AlicjaSuska opened #29573 "Chart improvements: change x axis colour, rounded lines"
Description:

- change x axis and pointers color to $secondary-03 to improve the contrast
- round corners for pointers and horizontal lines on the chart

Please note that the color of horizontal lines other than the X axis remains the same.

[Figma](https://www.figma.com/file/LWrLqWnPrL8BeIW4nMr9qB/Charts%3A-x-axis-color-improvements?node-id=246%3A11)

[2022-01-11 15:37] umpox commented on #27663
@gitstart-sourcegraph I've assigned this to you. Please don't start work until https://github.com/sourcegraph/sourcegraph/pull/28837 has been merged. We'll just need to move any remaining <a> tags or link usage to this new component

[2022-01-11 15:39] abeatrix opened #29574 "VSCE: Add Save Search Feature"
As discussed with @jjinnii , logged in users should have access to the saved search feature like on dot com.

[2022-01-11 15:39] abeatrix opened #29575 "VSCE: Add Repo Page to display File Tree"
Currently clicking on repo result will open file tree sidebar without users noticing. As suggested by @jjinnii, creating a page ([example](https://sourcegraph.com/github.com/sourcegraph/sourcegraph)) to display file trees will be more user-friendly.

[2022-01-11 15:40] umpox commented on #27727
This should be similar to how we enforce the `button` element

[2022-01-11 15:42] umpox commented on #27731
@gitstart-sourcegraph I've assigned this to you. It doesn't need further work, it will be closed when https://github.com/sourcegraph/sourcegraph/pull/28942 is merged

[2022-01-11 15:45] umpox commented on #27672
@gitstart-sourcegraph I've assigned this to you, it's not ready yet. Please do not start work until https://github.com/sourcegraph/sourcegraph/issues/27671 is completed!

[2022-01-11 16:00] coury-clark opened #29576 "insights: insightViews query pagination doesn't return the correct number of results"
When providing a `first:` argument into the `insightViews` query, seemingly incorrect results return:

[code]
[code]

This doesn't work for both `first:1` and `first:2`, but starts working after `frist:3`, but returns the wrong count:
[code]
[code]

[2022-01-11 16:14] daxmc99 commented on #28771
We are moving away from site24x7 [here](https://github.com/sourcegraph/sourcegraph/issues/20038). I would prefer that we don't use this service for new alerts.

Is there a specific feature that we need?

[2022-01-11 16:16] #29239 closed

[2022-01-11 16:22] #29482 closed

[2022-01-11 16:40] #28264 closed

[2022-01-11 16:44] eseliger commented on #29533
The issue has been fixed in src-cli 3.35.2. @benjaminwgordon should we close this ticket then or should we wait until you were able to validate the other issue the customer reported in this process?

[2022-01-11 16:52] #27732 closed

[2022-01-11 16:54] malomarrec commented on #29533
@eseliger <https://github.com/eseliger> is it expected this also affects
SSBC (on k8.sgdev)?

On Tue, Jan 11, 2022 at 5:44 PM Erik Seliger ***@***.***>
wrote:

[2022-01-11 16:57] benjaminwgordon commented on #29533
@eseliger The customer issue appears completely unrelated.  You and @malomarrec are free to close this out when you are ready.

[2022-01-11 16:59] umpox commented on #27731
Closed by https://github.com/sourcegraph/sourcegraph/pull/28942

[2022-01-11 16:59] #27731 closed

[2022-01-11 17:00] umpox commented on #27730
Migration completed 🎉

[2022-01-11 17:00] #27730 closed

[2022-01-11 17:12] JenRed777 opened #29578 "SOC2 - GN-89 Provide Evidence of GCP Storage"
Due: February 1, 2022
Sourcegraph uses a logging tool to log, continuously monitor, and retain account activity related to user actions throughout the production environment. Logs are stored encrypted and access to logs is restricted to those who require access to perform their job duties.

Provide a walkthrough of how to view logs.
Cloud: "How can I see if a user deleted the production database"

[2022-01-11 17:12] JenRed777 opened #29579 "SOC2- GN-86 How are events requiring remediation are logged and tracked"
Due: February 1, 2022
Sourcegraph uses a system capacity and performance monitoring tool that alerts the Security team on a real-time basis. Events requiring remediation are logged and tracked through completion.

Describe to the auditor Prom/Grafana; Then show alert channel for all alerts; p1 alerts through opsgenie; finally show incidents.io for remediation

[2022-01-11 17:12] JenRed777 opened #29580 "SOC2 - GN-79 How are production databases backed up daily?"
Production databases are backed up daily and object storage is versioned.

Need reference in handbook, reference to Terraform configuration, URL to snapshots created per Terraform details

This may already be complete

[2022-01-11 17:13] #29252 closed

[2022-01-11 17:15] #28912 closed

[2022-01-11 17:37] #28266 closed

[2022-01-11 17:47] malomarrec opened #29583 "Allow `files:` in SSBC"
This is gonna be a blocker for most non-trivial batch changes.

[2022-01-11 18:58] coury-clark commented on #29536
Grafana behaves such that ordering settings are coupled to the dashboard, and everyone will see the same thing if they load the saved version. Local changes (unsaved) are client-side until they are saved.

I'm split mind on this, and would like to give it more thought today. My first instinct was also that we should copy other tools and have dashboards be coupled to ordering, but something about t

[2022-01-11 19:14] #29315 closed

[2022-01-11 19:43] Kelvin-Lee opened #29588 "Inaccurate error logs for gitserver logs(?)"
#### Feedback

Quoted from the customer:

Description: It seems that one of the error logs for their situation was inaccurate, leading to a misguided investigation, unfortunately. The customer requests that we more accurately write the error logs to reflect the state of the instance. Issue author is seeking extra details, if possible, for a more precise log to update.

#### Customer

[Salesforce L

[2022-01-11 20:11] JenRed777 opened #29589 "SOC2: Cloud DevOps Tracking issue"
### Plan
Issue to track all on going SOC2 work for the Cloud DevOps team

### Tracked issues

@unassigned

Completed
- [x] (🏁 53 days ago) https://github.com/sourcegraph/sourcegraph/issues/29596

@JenRed777

Completed
- [x] (🏁 53 days ago) https://github.com/sourcegraph/sourcegraph/issues/29579
- [x] (🏁 46 days ago) https://github.com/sourcegraph/sourcegraph/issues/29578
- [x] (🏁 46 days ago) http

[2022-01-11 20:29] JenRed777 opened #29590 "SOC2 - GN-122 How do we address autoscaling to guarantee headroom"
Due: February 15, 2022

Sourcegraph continuously assesses system requirements and capacity needs to plan for system changes required to support service commitments.

Notes: Autoscaling with guaranteed headroom; if you onboard a new big client, will that cause a disruption? How are we planning to avoid this?

[2022-01-11 20:29] JenRed777 opened #29591 "SOC2 - GN-87 Website Performance and availability monitoring"
Due: February 15, 2022

Sourcegraph uses a website performance and availability monitoring tool to help ensure awareness of web application uptime. Uptime alerts are sent to the Security team and issues are logged and tracked through remediation.

Notes: Use GCP Uptime check, sends alerts to a slack channel, security team monitors this channel. Should provide links to the Terraform code that does

[2022-01-11 20:36] JenRed777 opened #29592 "SOC2 - GN-80 Sourcegraph performs backup restoration testing for databases and configuration files annually."
Due: February 28, 2022

Sourcegraph performs backup restoration testing for databases and configuration files annually.

Notes: We should do this during the zonal to regional, provide logs of evidence, write a google doc + playbook. "On Friday, we started the backup of cluster x to cluster x. The process took x time, we ran x commands. Document all references with specific links to GCP resources"

[2022-01-11 20:38] JenRed777 opened #29593 "SOC2 - GN - 81 Production replicated across AZ"
Due: February 28, 2022

Production resources are replicated across Availability Zones to help ensure failover capabilities.

Notes:  Need evidence for managed,  cloud and on-prem. On-prem just needs to demonstrate that the product can be deployed multi-AZ

[2022-01-11 20:44] JenRed777 opened #29594 "SOC2 - GN-82 Failover testing is performed"
Due: February 28, 2022

Failover testing is performed [frequency] to help ensure Company is prepared in the event of a scenario requiring failover.

Notes:
Managed instances -> walk through db or system failover;
Cloud -> failover testing needed for db (trigger cloud sql failover), Nodes -> remove node from Avail zone A;

[2022-01-11 21:48] danieldides commented on #28678
Waiting on a small snafu related to associating the dns entry with the landing page on Firebase. The API is fully deployed the configured with the server, however.

[2022-01-11 21:57] JenRed777 opened #29595 "SOC2 - GN-100 Sourcegraph maintains separate development, test, and production environments."
Due: February 28, 2022

Sourcegraph maintains separate development, test, and production environments.

[2022-01-11 21:58] JenRed777 opened #29596 "SOC2 - GN-108 Deployment of application and infrastructure changes to the production environment is restricted to authorized employees."
Due: February 15, 2022

Deployment of application and infrastructure changes to the production environment is restricted to authorized employees.

[2022-01-11 22:03] DaedalusG opened #29597 "Irregular GraphQL behavior after repo path changes on codehost"
# Irregular GraphQL behavior after repo path changes on codehost
- **Sourcegraph version:** v3.33 to v3.35.1
- **Platform information:**

#### Steps to reproduce:
1. Clone a repo from your codehost
2. Change that repos path on the codehost (tested in github and gitlab)

#### Expected behavior:
Sourcegraph should recognize that the repos path has changed and update the repo accordingly. Or report t

[2022-01-11 22:10] DaedalusG commented on #29597
More explicitly linking another issue that I believe may be related to how codehost name changes are acting stangely
https://github.com/sourcegraph/sourcegraph/issues/28509

[2022-01-11 22:15] LawnGnome opened #29598 "batches: previewing a previously published changeset on a fork may not show the indicator"
This fell out of #29367 — here's the edge case that's not handled:

1. A batch change is applied that publishes one or more changesets on a fork.
2. Forks are disabled on the Sourcegraph instance.
3. The same batch change is updated.

The preview UI will fail to show the fork indicator on the changeset(s) that are being updated, even though the push will occur to the fork as expected. This is beca

[2022-01-11 22:34] JenRed777 opened #29599 "SOC2 - GN-109 Sourcegraph monitors releases post-deployment to help identify unanticipated issues."
Due: February 28, 2022

Sourcegraph monitors releases post-deployment to help identify unanticipated issues.

Notes: Document in handbook that we monitor these metrics, opsgenie, incidents.io

[2022-01-11 22:36] daxmc99 opened #29600 "Ensure IAP API is enabled on all Sourcegraph projects"
Our handbook leverages commands that expect this API to be enabled

We should update all our projects to ensure this API is enabled
Terraform snippet to do [this](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/google_project_service)

[code]

[2022-01-11 22:39] JenRed777 opened #29601 "SOC2 - GN-110 Sourcegraph has a Disaster Recovery and Business Continuity Plan."
Due: February 28, 2022

Sourcegraph has a Disaster Recovery and Business Continuity Plan.

Notes: Document in handbook, "what do we do when we lose the main db", restore from backup. Playbook level quality, scenario with specific instructions. Possible scenario: All production databases have been corrupted

[2022-01-11 22:40] JenRed777 opened #29602 "SOC2 - GN111 Sourcegraph tests their Disaster Recovery and Business Continuity Plan on an annual basis"
Due: February 28, 2022

Sourcegraph tests their Disaster Recovery and Business Continuity Plan on an annual basis. Testing includes scenarios related to information system recovery and the continuity of business operations.

Notes: Tabletop of an in-sync scenario where GCP Cloud Services are down. How we preform simulations. GN-111 is the simulation of what you say you can solve in GN-110

[2022-01-11 23:04] #28940 closed

[2022-01-11 23:07] bobheadxi commented on #26257
Do we have statistics indicating this is a frequent issue? Anecdotally I have not seen one of these in a while

[2022-01-11 23:09] bobheadxi commented on #27942
I've gone ahead and relaxed the requirements here based on what I believe might be the "right" policy: https://github.com/sourcegraph/sourcegraph/pull/29493

I think we should make this official and close it out, WDYT @jhchabran @davejrt ?

[2022-01-11 23:16] mollylogue commented on #28940
I've merged a PR to redact at least some of the secrets. If there are any that I missed, it's pretty trivial to get those redacted now that this code change is in place.

[2022-01-11 23:59] courier-new opened #29609 "spin up GitLab test instance"
[In November, 2021, it was discovered that our internal Sourcgraph GitLab instance, gitlab.sgdev.org, was compromised.](https://sourcegraph.slack.com/archives/C1JH2BEHZ/p1636068110056000) This resulted in the VM immediately being terminated. Due to the fact that there was no clear owner or maintainer of these private code host instances at the time that the issue was first raised, there hasn't bee

[2022-01-12 00:42] muratsu commented on #27100
Feel free to remove the logic as it's no longer relevant.

We've previously migrated from using self-hosted extensions to the marketplace and this logic & campaign is no longer needed.

[code]

Similarly we now have browser extensions for Chrome, Firefox & Safari and we should use a single landing page, rather than showing just a chrome link.

[2022-01-12 03:30] danieldides commented on #28678
This PR should close out this issue: https://github.com/sourcegraph/infrastructure/pull/3028

[2022-01-12 06:27] Joelkw commented on #29536
@AlicjaSuska Thank you for the thoughts! I still have a difference of opinion, but will try to explain with some in-line responses and three other points. If we need to, we can discuss more in the EM-PM-Design sync or ad-hoc sync:

1. improve the readability
2. provide consistent experience for the user (not for the group) when viewing the dashboard
3. make the dashboard easier to consume ('muscle

[2022-01-12 06:29] Joelkw commented on #29536
@vovakulikov sorry if I missed this product question:

Yes, dashboards should (ideally, we can prioritize this separately if it's a problem) load the same ordering every time you visit them. We can make exceptions explicitly (show "newest" insights at the top, for example). If we had *any* saved settings model, though, I assume we'd get this?

[2022-01-12 08:04] malomarrec opened #29618 "Invalid Semantic Version when logging in to k8.sgdev"
## Steps to reproduce
I followed the quickstart here:
https://docs.sourcegraph.com/batch_changes/quickstart#install-the-sourcegraph-cli

[code]

Set the src-cli endpoint and token as en variables, then

[code]
returns Authenticated as malo on https://k8s.sgdev.org

Run:

[code]

## Crash output:

[code]

[2022-01-12 08:32] gitstart-sourcegraph commented on #29436
Reactstrap's `ButtonDropdown` component as used in stories such as `MenuNavItem.story.tsx`, has a default opened state, however the `MenuButton`/ `Menu` component's opened state are non-controllable. could you confirm if we could remove the support for that prop (`openByDefault`) and would could trigger a click event on story to auto show dropdown content

[2022-01-12 08:51] jhchabran opened #29619 "sg: prompt the user for auto-updating rather than issuing a warning that new version is available."
Quoting @unknwon from Slack:

[2022-01-12 09:14] jhchabran commented on #27942
Agreed! Thank you so much for taking over this 🙏

[2022-01-12 09:37] valerybugakov commented on #29436
@umpox, could you take a look?

[2022-01-12 09:52] valerybugakov commented on #21847
@gitstart-sourcegraph, let's move generic utilities from the `utils` folder to the `@sourcegraph/common` package:

Nest these modules next to places where they are used under `utils` folder:
- `link-click-handler`
- `createRecord`
- `prefixSumComputer`
- `ReferenceCounter`
- `wordHelpers`

Move these modules to the `@sourcegraph/common` package into `util`:
- `browserDetection`
- `dom` — rename to

[2022-01-12 09:58] keegancsmith commented on #29597
@DaedalusG Is this on sourcegraph.com? We could follow the trail and work it out via a trace and inspecting the db/etc.

[2022-01-12 11:01] stefanhengl opened #29621 "buildkite: update git to 2.34.1"
I would like to update git on our buildkite nodes to 2.34.1.

Why?

[gitserver runs several cleanup jobs](https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/blob/cmd/gitserver/server/cleanup.go?L96). One of the jobs, [sg_maintenance.sh](https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/blob/cmd/gitserver/server/sg_maintenance.sh?subtree=true), requires git 2.34.1 because we ca

[2022-01-12 11:02] gitstart-sourcegraph opened #29622 "Move modules to the @sourcegraph/common package into util"
## Description
As part of the process of Extracting non-UI modules from the shared package into a new workspaces, move generic utilities from the shared/src/util folder to the @sourcegraph/common package, Add changes as outined on implementation detail

## Refs
https://github.com/sourcegraph/sourcegraph/issues/21847

## Implementation Detail
Nest these modules next to places where they are used un

[2022-01-12 11:06] gitstart-sourcegraph opened #29623 "Move modules to @sourcegraph/wildcard to the hooks folder"
## Description
As part of the process of Extracting non-UI modules from the shared package into a new workspaces, Move these modules to `@sourcegraph/wildcard` to the hooks folder, and Move modules to `shared/src/testing`  as outlined on implementation detail

## Refs
https://github.com/sourcegraph/sourcegraph/issues/21847

## Implementation Detail
Move these modules to `shared/src/testing`
- `Moc

[2022-01-12 11:46] jhchabran opened #29624 "ci: create properly named accounts to run automated operations"
[Original slack thread](https://sourcegraph.slack.com/archives/C01N83PS4TU/p1640780656053000)

Over the past weeks, we hit GitHub rate limits pretty often. When we reach rate limits, GitHub API requests start returning errors. These errors caused issues with the CI, GitHub Actions, and INC-60 (and some customer issues, but I'm not yet up to date on that specific case).

The most immediate solution

[2022-01-12 12:01] umpox commented on #29436
@gitstart-sourcegraph Looking into this.

I've also noticed that some of the `DropdownMenu` component usage might be better in the `Popover` component. e.g. the `FeedbackPrompt` shouldn't use `DropdownMenu`. I'll update this issue with a list of areas that need to be migrated specifically

[2022-01-12 13:19] umpox commented on #27695
Specific components that I have noticed that should not be covered by `<Menu />`: https://github.com/sourcegraph/sourcegraph/issues/27701

- StatusMessagesNavItem.tsx

[2022-01-12 13:44] umpox commented on #27707
Some ideas where we need this usage:

- SearchContextDropdown
- RepositoriesPopover
- RevisionsPopover

[2022-01-12 14:05] umpox commented on #29435
@gitstart-sourcegraph I have removed the 2nd implementation point from this ticket. I think we can't reliably remove the `dropdown-menu` classes until the `Popover` component has been implemented

[2022-01-12 14:05] umpox commented on #29436
@gitstart-sourcegraph Yes please remove support for the `openByDefault`

Please note. I have updated our issue for this ticket: https://github.com/sourcegraph/sourcegraph/issues/27701

Please can we only focus on those components that are mentioned in the updated ticket

[2022-01-12 14:36] vdavid commented on #27100
Two questions to @rrhyne

1. **Soft reloads**

When I'm on a file page (for example, [this one](https://sourcegraph.com/github.com/shadowsocks/shadowsocks-windows/-/blob/Shadowsocks/Models/Group.cs)), on the left side, there is a file list.
Should the browser extension CTA come up at every fifth click when I click around in this file list?
I'm asking because it will cause a little bit of flickerin

[2022-01-12 14:55] eseliger opened #29632 "Forks support testing"
- Changesets will not indicate a fork when it's still processing - this could be confusing.

![image](https://user-images.githubusercontent.com/19534377/149153875-70d597af-054c-4471-a59d-867aa8ae3bca.png)

- Indicator on preview page is lost when changeset is still on a fork but flag is disabled (maybe should also look at `ExternalForkNamespace`)

![image](https://user-images.githubusercontent.com

[2022-01-12 15:35] quinnkeast opened #29633 "Tooltip on question mark hover in code monitoring is visually broken"
- **Sourcegraph version:** Cloud

#### Steps to reproduce:

1. Go to create a new code monitor
2. In the "Trigger" panel, hover over the `?` icon

#### Expected behavior:

Normal tooltip is shown.

#### Actual behavior:

Incorrect formatting is shown for tooltip:

<img width="820" alt="image" src="https://user-images.githubusercontent.com/6304497/149171253-239bbe83-5123-4a1c-a553-43674ced3847.png"

[2022-01-12 15:38] DaedalusG commented on #20911
@dan-mckean just observed this in a call with a customer, can confirm this is still showing up in v3.35.1

[2022-01-12 15:53] DaedalusG commented on #20911
Just observed these alerts in an instance running in v3.35.1, notably though we're not seeing them in the k8s dogfood environment. Another distinct feature on this instance was that all of the codehost configs were of type `OTHER`

[2022-01-12 15:54] olafurpg opened #29635 "Implement LSIF typed highlighting with tree-sitter in syntax-highlighter service (`GET /lsif` endpoint)"

[2022-01-12 15:54] olafurpg opened #29636 "Implement LSIF typed local intel with tree-sitter in syntax-highlighter service (`GET /lsif` endpoint)"

[2022-01-12 16:05] valerybugakov opened #29637 "Show OS specific keys in keyboard shortcuts"
## Problem statement

1. Go to https://sourcegraph.com/search
2. Using `Shift + ?` to open keyboard shortcuts.
3. See that the `Meta` key is used in keyboard shortcuts.

<img width="515" alt="CleanShot 2022-01-12 at 16 38 50@2x" src="https://user-images.githubusercontent.com/3846380/149175899-6ac6acd6-2a35-40a5-9757-430f4c5e1565.png">

## Success criteria

Keyboard shortcuts on Windows should neve

[2022-01-12 16:25] JenRed777 opened #29638 "Duplicate k8s.sgdev.org database"
Required for [pre-prod].

Need to copy over the DogFood database. This should help us get Pre-Prod up and running faster rather than an empty DB.

[2022-01-12 16:34] bobheadxi commented on #29475
Bumped to planned in response to @dan-mckean 's request on behalf of repo-management

[2022-01-12 16:46] bobheadxi opened #29640 "sg: replace `dev-private`"
Get rid of the `dev-private` repository and handle shared site-configuration, credentials, and licenses in `sg`. Possibly embedded as part of the binary? Then config could be generated/updated for users to modify their copy

[2022-01-12 16:46] davejrt commented on #29475
We'll be looking at deploying something from this repo
https://github.com/atlassian/data-center-helm-charts

[2022-01-12 16:59] tjkandala opened #29642 "Move VS Code extension host to search sidebar webview"
The Sourcegraph extension host is currently loaded in a separate VS Code sidebar webview.

![Screenshot from 2022-01-12 11-55-39](https://user-images.githubusercontent.com/37420160/149185745-26d21a0c-d58e-4d0e-a552-63e534f2e82d.png)

The webview must have been opened at some point to activate, so if a user collapses the extension host webview and restarts VS Code, Sourcegraph extensions will never

[2022-01-12 17:01] DaedalusG commented on #29597
@keegancsmith this is actually on the CS teams k8s instance, here's a [link](https://cse-k8s.sgdev.org/api/console#%7B%22query%22%3A%22query%20(%24query%3A%20String!)%20%7B%5Cn%20%20%20search(query%3A%20%24query%2C%20version%3A%20V2)%20%7B%5Cn%20%20%20%20%20%20results%20%7B%5Cn%20%20%20%20%20%20%20%20%20results%20%7B%5Cn%20%20%20%20%20%20%20%20%20%20%20%20__typename%5Cn%20%20%20%20%20%20%20%20%20%

[2022-01-12 17:04] asdine commented on #29014
@emchap @jplahn I have tested `src serve-git` with a few SVN repositories and apparently SVN is not supported at all.
`src serve-git` only serves local git repositories and ignores everything else.

`src-expose` on the other hand seems to be doing the job somewhat correctly:
- it serves the content of the current directory to Sourcegraph as if the directory was a git repo
- it detects changes, whi

[2022-01-12 17:15] #29547 closed

[2022-01-12 17:15] #29544 closed

[2022-01-12 17:18] jhchabran opened #29643 "ci: sentry capture script is leaking secrets"

[2022-01-12 17:41] rrhyne commented on #27100
1. What experience fills better to you? I think I lean to hard reloads to avoid the jitter during a specific task.
2. Yes, file only for now please!

[2022-01-12 17:53] Joelkw opened #29645 "insights: Add patternType UX indicators to the search query bar, to match main search bar"
Our syntax highlighting [led a user to believe](https://sourcegraph.slack.com/archives/C01M58VTV39/p1642005747010500?thread_ts=1642003938.007400&cid=C01M58VTV39) they didn't need to indicate `patternType:regexp` in their query, though they did. On capture group insights, we have the regexp indicator on the search creation bar (but uneditable).

Could we add the normal search indicators to our sear

[2022-01-12 17:54] rrhyne commented on #29483
A list of events and UTM parameters we can use to generate (and not generate event logs) is here: https://docs.google.com/spreadsheets/d/1U0HRC5WVz3tsP6z9pqDLG8igTMSf2-pQGhbRoVn_iu0/edit#gid=0

[2022-01-12 18:02] Joelkw opened #29647 "insights: Syntax highlighting shouldn't highlight regexp unless it's been set as a regexp"
In Sourcegraph search bar, the following cases occur:

![image](https://user-images.githubusercontent.com/11967660/149195815-cc525dd5-c267-48b9-aa78-7d6a458474e5.png)
![image](https://user-images.githubusercontent.com/11967660/149195833-af8f9b24-d662-487c-8aef-a82c00cae5dc.png)

Notice how the regexp characters are only given syntax highlighting if you set it to be `patternType:regexp`.

But in ou

[2022-01-12 18:39] malomarrec commented on #17609
A monorepo use case from https://github.com/sourcegraph/accounts/issues/6859

There is a repo with Terraform files. They are grouped by cloud account, then by service

[code]

A workspace is `azure-acct-1/project-1` for example. The use case is:
- Run steps in all subrepos of gcp and aws, not Azure.
- From the output, create a changeset per cloud account (eg. gcp-acct-1), grouping all diffs from s

[2022-01-12 18:45] #29543 closed

[2022-01-12 19:01] #28777 closed

[2022-01-12 19:12] #17879 closed

[2022-01-12 19:14] daxmc99 opened #29651 "Setup Datadog on Cloud"
TODO:

- [x] Enable GCP Integration
- [x] Create API Key secret
- [x] Install agents into cluster via Helm chart
- [x] Enable logging
~~- [ ] Ensure ALL metrics are being sent to Datadog~~
- [x] Create a public dashboard modelled after ingress data
- [x] Enable APM on Cloud (in-progress)
- [ ] Prepare some documentation in handbook (in-progress)
- [x] Import DD resources to terraform (in-progress)

[2022-01-12 19:45] courier-new commented on #29618
Looks like this is actually a different issue with the version string that's currently on k8s: https://sourcegraph.slack.com/archives/C01N83PS4TU/p1642013850061100

Should be fixed by https://github.com/sourcegraph/sourcegraph/pull/29654.

[2022-01-12 19:51] felixfbecker commented on #28629
@sourcegraph/code-insights-frontend who of you two will work on this this iteration?

[2022-01-12 19:51] felixfbecker commented on #24455
@unclejustin what's your size estimate of this for this iteration?

[2022-01-12 19:52] felixfbecker commented on #29551
@sourcegraph/code-insights-frontend who will work on this this iteration and what's your size estimate? 🙂

[2022-01-12 20:18] vovakulikov commented on #29551
@felixfbecker the estimation of it is 2 points | units (seems like a straightforward ticket) @unclejustin is the primary assignee for this ticket.

[2022-01-12 21:24] #27604 closed

[2022-01-12 21:29] muratsu commented on #27156
@rrhyne to update the details

[2022-01-12 21:30] #27954 closed

[2022-01-12 21:33] muratsu commented on #29124
Fyi: https://github.com/sourcegraph/sourcegraph/issues/27861

[2022-01-12 21:36] taylorsperry opened #29659 "Testing documentation"
Add a very short paragraph (2-3) sentence to the top of our [Testing principles](https://docs.sourcegraph.com/dev/background-information/testing_principles) documentation that indicates our compliance with the following requirements:

[2022-01-12 21:50] JenRed777 opened #29660 "Local SSD with new n2 processors in GKE"
PR for updating default node pool and documentation in the module:
https://github.com/sourcegraph/infrastructure/pull/3024

[2022-01-12 21:50] JenRed777 opened #29661 "Add Ingress based alerts for production"
https://github.com/sourcegraph/deploy-sourcegraph-cloud/pull/15269

[2022-01-12 22:19] bobheadxi commented on #29475
Copied from Slack:

It appears we can [run it on a trial for 30 days](https://www.atlassian.com/software/bitbucket/download/data-center) to get started, so we likely won't be blocked on getting started at least

There [does not appear to be a developer license that parallel's GitHub's app developer program](https://www.atlassian.com/licensing/purchase-licensing#manage-account), emphasis mine:

So

[2022-01-12 22:48] mollylogue commented on #28243
I've been tracing the usage of this ZipCache through the codebase and from what I can tell it's used exclusively in the `search` package.

Here are some key Sourcegraph searches I ran to prove this out:
[places where the store package is imported](https://sourcegraph.com/search?q=context:global+repo:%5Egithub%5C.com/sourcegraph/sourcegraph++%22github.com/sourcegraph/sourcegraph/internal/store%22&p

[2022-01-12 23:08] mollylogue commented on #27498
@ryanslade would this be a decent thing for me to start looking at?

[2022-01-12 23:11] vovakulikov opened #29663 "Code Insights: Optimise data fetching for code insights"
At the moment due to having and dealing with two different data providers (GQL based and setting cascade) in the code insights code base, we have non-optimal data fetching handlers.

## Case 1:

Here is a dashboards gql query and there we query all dashboards with views id insight. Which could be a massive amount of data. But we do it because the Dashboard interface requires providing insight ids

[2022-01-12 23:27] vovakulikov opened #29664 "Code Insights: Inconsistent weird behaviour of series forms on the creation page"
In some cases, it is possible to break the ordering and state management of the data series form on the search insight creation UI page.

More details in the loom below

https://www.loom.com/share/51f4c7077b864b4ebd73535fc4cd1ca3

[2022-01-12 23:30] #29618 closed

[2022-01-12 23:31] Kelvin-Lee opened #29665 "Uploading LSIF data generates a non-useful link for non-admin users"
#### Feedback

After interacting with an Application Engineer for troubleshooting/understanding the situation, the customer followed up with...:

#### Customer

Sourcegraph Community member

[2022-01-13 00:32] rohitagarwal003 opened #29670 "RepoSubsetText search failed: git command [git show-ref] failed (output: ""):"
- **Sourcegraph version:** "Sourcegraph.com"
- **Platform information:** macOS 12.1, Google Chrome 97.0.4692.71 (Official Build) (x86_64)

#### Steps to reproduce:

1. Go to https://sourcegraph.com/search?q=context:global+pod-deletion-cost+repo:/*/kubernetes+f:annotation_key_constants.go+-f:vendor/+fork:yes+rev:*refs/heads/*1.19*&patternType=literal

#### Expected behavior:
Should see some results

[2022-01-13 02:28] vovakulikov commented on #28629
@felixfbecker I'm not sure we could do this one in this interaction. This problem requires a lot of time thinking of possible ways how we should/could change our paradigm of treating different types of insights in different places in the app.

I would say let's push this out of this iteration and think about this later. (Honestly, I don't think we could do it in the next iteration either but I don

[2022-01-13 03:48] unclejustin commented on #24455
1 already in review, thanks for the ping!

On Wed, Jan 12, 2022 at 1:51 PM Felix Becker ***@***.***>
wrote:

[2022-01-13 04:19] keegancsmith commented on #29597
How do I get access to this instance? I think I need to dive in given you say there is no repo table entry nor gitserver clone. Out of interest, any mention of it in the site configuration? :)

[2022-01-13 04:28] DaedalusG commented on #29597
@keegancsmith I've sent over some credentials for our instance. Going to feel silly if this turns out to be something simple I missed 😅

[2022-01-13 04:34] DaedalusG commented on #29597
Checking myself again 😅

Heres the gitserver insides --
[code]

[2022-01-13 07:01] Joelkw opened #29674 "Insights UX bug: the primary "add insights" flow for the dashboard for a first time user has a deadend."
[Watch 11:10 to 11:18 here.](https://chorus.ai/meeting/E5A03D10FFC64424BB561BF871B42A8C?) The user clicks the big button, then has no insights to choose from. Though this modal also should contain a link to "create new insight" like [it does here](https://www.loom.com/share/928b4ed868ed4a7bb3bd3e5c01b56963) if there are already insights that exist, when there aren't insights the screen is a dead e

[2022-01-13 07:05] Joelkw opened #29676 "insights UX bug: autosave should also work on the select/deselect all repos"
[This is a non-optimal experience](https://www.loom.com/share/f7c3604caa4f43bfacb532668f250ac1): create a carefully curated list of repos, check the box to see what it does, lose your list. The list should come back – we should autosave so that, in the same session, if you un-check the repo box your list comes back. It does not need to save from page session to page session, though it can if that'

[2022-01-13 07:07] Joelkw opened #29677 "insights (to triage): switch order of title and series?"
[At 21:25 here a user](https://chorus.ai/meeting/E5A03D10FFC64424BB561BF871B42A8C?) starts typing the title into the series field. We should switch the order of series/series label on the create flow perhaps, to help this (and then the syntax highlighting will help further). Or move the title up – open to either thought. Tracking this issue now, not urgent to fix.

[2022-01-13 07:27] Joelkw opened #29678 "insights UX: remove the diagonal lines from insights graphs if a repo didn't exist."
There are more complex insight capabilities and states, meaning the "shading" diagonal gray lines here no longer provides useful signal.

If we have a situation where someone asked for a year of history, we should:

(1) Give them 0-match-count values for datapoints before the repo existed
(2) not bother to show diagonal lines.

If it turns out that (1) is difficult, we can just do (2) for now. The

[2022-01-13 08:43] umpox opened #29679 "Resolve unmet peer dependencies"
We currently have quite a few missing peer dependencies. We get this warning when running `yarn install`:

[code]

Furthermore, this has the potential to cause bugs in our application as it could lead to certain dependencies relying on different versions of their requested peer dependencies. Useful [article](https://dev.to/arcanis/implicit-transitive-peer-dependencies-ed0) on how this can happen.

[2022-01-13 08:47] ryanslade commented on #27498
Yep. My thinking here is that the safest thing to do is just hide the entire commit rather than trying to just hide changes to files that the user can't see.

Let me know if you need any more context.

[2022-01-13 08:50] valerybugakov commented on #29564
@gitstart-sourcegraph, let's spend 4 hours max on the root cause investigation.

[2022-01-13 09:02] mrnugget commented on #25961
I think this one's a duplicate of https://github.com/sourcegraph/sourcegraph/issues/26781 and also closed by

* https://github.com/sourcegraph/sourcegraph/pull/28127
* https://github.com/sourcegraph/sourcegraph/pull/28174

Feel free to re-open if you disagree.

[2022-01-13 09:02] #25961 closed

[2022-01-13 09:35] ryanslade commented on #28243
Thanks for looking into this, it sounds like we're safe from the search side of things.

I took another look and something that seems to have slipped through the net is our raw endpoint.

It uses a few functions from our git package which luckily do apply filtering, but we did miss one, `git.ArchiveReader`. I'm going to create a new issue for that.

[2022-01-13 10:25] #27697 closed

[2022-01-13 10:41] jhchabran commented on #29375
I just recalled that we also need to clean up https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/blob/.buildkite/hooks/pre-command?L6-27 which, being run in a pre-command is rather heavy-handed. Moving it to a post-checkout out would be saner I think.

[2022-01-13 11:30] philipp-spiess commented on #29483
@rrhyne Do you have any advice on how I could get one of those marketing emails in my inbox so I can play around with it? I've been trying to play with the product but I only got it to send a monitoring test notification email and those have their links removed 😅

Also what specifically does "EventLog" refer to? I only found the event log feature within the source graph product which seems to be a

[2022-01-13 11:53] keegancsmith opened #29685 "zoekt-indexserver: sometimes does not delete old indexes on rename"
This leads to some graphQL requests failing. However, due to us filtering results we get back from zoekt this doesn't seem to affect normal search queries. However, directly inspecting cse-k8s zoekt-indexserver shows an old index (and the new index) on disk. My suspicion is the root cause is from us switching cleanup from being name based to ID based.

See original report https://github.com/source

[2022-01-13 11:55] keegancsmith commented on #29597
We are not deleting deploy-sourcegraph-dot-com index from the disk on zoekt-indexserver. I filed <https://github.com/sourcegraph/sourcegraph/issues/29685> to follow up with a fix. Hopefully resolving that fixes this as well.

While debugging I also came across another issue which I resolved. The zoekt disk was full, so it can't make any progress. I removed the tempdir and trash and it recovered a

[2022-01-13 13:05] malomarrec opened #29688 "SSBC-EM3.2: Enable initial cut of designs"
- [x] #28939 **`3d`** @courier-new
  - [x] Write-up and proposal/prototype **`1d`**
  - [x] Implementation **`2d`**
- [x] #30064 **`0.5d`** @courier-new
- [x] Implement UI for execution options dropdown **`1d`** @courier-new
- [x] Implement basic filters in workspaces list **`3d`** @eseliger
- [x] Implement search **`4d`** @eseliger
  - [x] in workspaces list **`2d`** @eseliger
  - [x] in workspac

[2022-01-13 13:14] malomarrec commented on #29688
TBD in today's design sync

[2022-01-13 13:16] malomarrec opened #29689 "Document release and upgrade process for executors"

[2022-01-13 13:33] asdine commented on #29014
`src serve-git` is the right solution, `src-expose` is deprecated and will probably be removed at some point.

Even though SVN is not *directly* supported, anything that can be translated to a Git repo is, and`src serve-git` is our officially maintained solution for that. It is used by other customers and is supposed to support any Git repository (otherwise this is a bug). I have tested it with a

[2022-01-13 15:02] keegancsmith opened #29695 "zoekt: work out why incremental gitserver interactions fail sometimes"
I have seen this pop up a few times, most recently [#inc-68-zoekt-index-is-stuck-on-a-4-hour-old-commit-for-srcsrc](https://sourcegraph.slack.com/archives/C02U4GB0Y8H). I added a mitigation, but I need to dive in to work this out since this may be happening more than we think.

First port of call is detailed observability around repository updates in gitserver. This will also help me understand wh

[2022-01-13 15:10] umpox commented on #27683
@valerybugakov  FYI: Code insights have been working on an improved `MonacoField` component.

We should consider migrating `MonacoField` to Wildcard in addition to the more generic `MonacoInput` component.

We might also find that, in our codebase, we can use `MonacoField` instead of `MonacoInput` in many places.

cc:@vovakulikov

[2022-01-13 15:11] #29326 closed

[2022-01-13 15:30] jjinnii opened #29696 "Fully collapse "Files" and "Sourcegraph extensions" sections by default"
Currently, the default state in VSCE is having the Files and Sourcegraph extensions sections in the sidebar expanded(images below). These sections are not useful when a user is first starting a search, and it creates confusion as well as blocks the view of the Search section. Can we, by default, have these sections collapsed?

Current:

<img width="342" alt="Screen Shot 2022-01-13 at 10 28 09 AM"

[2022-01-13 15:35] #24455 closed

[2022-01-13 15:37] jjinnii opened #29697 "Update Files section in sidebar to reflect sourcegraph.com's files section"
User Problem: Because the files section is identical to VS Code's native file view, users do not understand that our files section is specific to the Sourcegraph extension. It also creates the impression that files opened from search results are somehow downloaded locally and editable.

Solution: [Visually communicate](https://www.figma.com/file/EXXvfxVwtCIsrbQez4rPlF/VS-Code-Extension-MLP?node-id

[2022-01-13 15:41] vovakulikov commented on #27683
Here is the first draft of components that we implemented in code insights for insight creation UI forms
https://github.com/sourcegraph/sourcegraph/pull/29698

It's a draft and work in progress but main structure of Monaco components will stay the same I belive

[2022-01-13 15:43] jjinnii opened #29699 "Create repo page in VSCE when clicking in to repo search result"
Problem: Currently, if the search results directs a user to a repository, it only opens a line item in the Files section, which could be collapsed, have a lot of entries, etc. It's too subtle and easy to miss.

Solution: [Create a modified repository page in vSCE.](https://www.figma.com/file/EXXvfxVwtCIsrbQez4rPlF/VS-Code-Extension-MLP?node-id=1591%3A5977) At the moment, only the functionality to

[2022-01-13 15:51] jjinnii opened #29700 "Create a VSCE specific Watch & Learn video for VSCE default search page"
Users unfamiliar Sourcegraph will be trying code search for the first time through the VSCE. While the current Search Watch & Learn video is great, it would be much more powerful to have a video specific to the extension. There is a need to explain what it means to open a file in VS Code through Sourcegraph's extension (is it editable?), as well as explain why a sourcegraph account is needed to en

[2022-01-13 15:52] philipp-spiess commented on #29483
Okay so an update here, we found the place in the code where we create events for specific UTM sources here: https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/blob/client/web/src/tracking/eventLogger.ts?L257-264&utm_source=VSCode-1.4.0#L248:1-255:6

Given that we don't have an exhaustive list of all UTM parameters (i.e looking for `code-monitoring-email` in the spreadsheet won't yield a

[2022-01-13 16:06] macraig commented on #28480
@shuyangfang FYI https://github.com/sourcegraph/sourcegraph/pull/29629 is now merged and will be available in our 3.36 release.

[2022-01-13 16:14] #29659 closed

[2022-01-13 16:15] abeatrix opened #29701 "VSCE: Sidebar rendering issue"
We should load the branded search sidebar for user who has performed search previously, skip the auth loading page.
We should also remove access token requirement warning from Web since access token is no longer required
![image](https://user-images.githubusercontent.com/68532117/149368135-a417e225-971a-49a1-996e-1829c5ad56d8.png)

[2022-01-13 16:15] abeatrix opened #29702 "VSCE: Sync search history on cloud"
Current search histories are stored locally for non-signup users and are pulled from cloud for signed-up users. For signed-up users, their search history is currently not synced with cloud.

[2022-01-13 16:16] jjinnii opened #29703 "Create VSCE specific signup page"
We have multiple re-directs from the VSCE to sourcegraph.com to promote account creation, however, we are directing users to Sourcegraph's generic signup page, where the messaging is not effectively communicating the value of account creation to a VSCE user. (For example, "Navigate through code with IDE-like go to definition and reference hovers" seems out of place when a user is coming as a VS Co

[2022-01-13 16:21] jjinnii commented on #29696
Caveat to this ask: @abeatrix @tjkandala  is it possible to automatically un-collapse the file view when a user performs a search? I know we had that Files section open by default because we can't just "switch" to a files section sidebar like on sourcegraph.com.

[2022-01-13 16:29] jplahn commented on #29014
Thanks @asdine!

Do you have any thoughts on scaling these steps or what our limits are? I think that's the primary concern here as mentioned by @emchap in the second message. As you outlined, we have confidence that this process _works_, but I don't think we're clear where it stops working within some reasonable amount of time.

As a follow up, we're also very interested if you have thoughts on h

[2022-01-13 16:30] jjinnii opened #29704 "VSCE: Automate rendering of user's color theme"
The expected behavior of the VSCE is to pull in a user's color theme palette for all UI elements, including text color, background color for containers, icon colors, etc. This allows the extension to feel more "native' and integrated to VS Code extension and prevents scenarios in which there is a harsh contrast btw a user's default color palette and switching to our extension.

It's important that

[2022-01-13 16:31] #29008 closed

[2022-01-13 16:37] abeatrix commented on #29696
@jjinnii I've changed it so that the file sidebar would only show up when the user is checking out a file.
Unfortunately, we will need to keep the extension host panel open for code-intel to work. Code intel will not work if the panel is collapsed or hidden, so we are planning to merge it with another sidebar component (tj has created an issue to track [here](https://github.com/sourcegraph/sourceg

[2022-01-13 16:46] mollylogue commented on #28243
@ryanslade Should I look into the raw endpoint as a part of this? Or just leave it to that other ticket to deal with that?

[2022-01-13 17:01] tjkandala opened #29705 "VSCE: Create search and search UI packages"
The VS Code extension depends on a lot of search code. For example, components such as [`<StreamingSearchResultsList>`](https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/blob/client/web/src/search/results/StreamingSearchResultsList.tsx) or types like [`QueryUpdate` ](https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/blob/client/web/src/stores/navbarSearchQueryState.ts?L21).

[2022-01-13 17:04] abeatrix opened #29706 "VSCE: Support pre-release version"
Ref: https://code.visualstudio.com/api/working-with-extensions/publishing-extension#prerelease-extensions

Context: https://sourcegraph.slack.com/archives/C01T0BL4EFN/p1641390780041300

[2022-01-13 17:24] #29664 closed

[2022-01-13 17:26] bobheadxi commented on #25454
https://github.com/sourcegraph/sourcegraph/pull/29669 introduces a library that could work for this purpose iff a slack token is provided to the generator

[2022-01-13 17:40] #28893 closed

[2022-01-13 17:49] DaedalusG commented on #29597
Little follow up regarding the gitlab testing --
[code]
*Here we can observe in the sourcegraph server test I'm running locally the old indexes are sticking around after a repo is renamed

[2022-01-13 18:02] malomarrec opened #29709 "UX: Line-wrapping in diff view make diffs hard to read"
See https://sourcegraph.slack.com/archives/C01FXGSJW5R/p1642083336018800

Line-wrapping creates weird indentation differences.

Fix: add horizontal scrolling

[2022-01-13 18:06] rrhyne commented on #27156
Updated!

[2022-01-13 18:24] emchap commented on #29014
Yes, @jplahn is correct—I need to know at what point I can't reasonably recommend this to the customer because of speed, and we have no guidance there.

[2022-01-13 19:27] jjinnii commented on #29704
@tjkandala Just wanted to follow up on your question from the planning meeting. This issue covers essentially spans all colors on the VSCE, which includes syntax highlighting. At the moment, it seems to be a hybrid of pulling in a user's color theme and Sourcegraph colors (definitely my bad here, my designs promoted this). I think the most natural state for the extension would be to pull in the us

[2022-01-13 19:45] jjinnii commented on #29696
@abeatrix Amazing news on the files section! Could you clarify for me what merging the extension host panel with another sidebar component means? i.e. if we can just merge that section into the Search section, what would need to be present on the UI?

[2022-01-13 20:05] tjkandala commented on #29704
@jjinnii Got it! I believe this will basically entail finding VS Code CSS variables to use in place of [our highlighting styles](https://sourcegraph.com/github.com/sourcegraph/sourcegraph@vsce/vscode-open-in-browser/-/blob/client/branded/src/global-styles/highlight.scss)

[2022-01-13 20:09] CristinaBirkel opened #29714 "insights: Snapshots do not always contain all data from the search"
I'm seeing this on a few different charts on `k8s`, and could be the cause for customer issue: https://github.com/sourcegraph/customer/issues/624

[2022-01-13 20:11] muratsu opened #29715 "VSCE: Blog post"

[2022-01-13 20:13] muratsu opened #29716 "VSCE: Marketing video"

[2022-01-13 20:18] taylorsperry opened #29717 "Identify testing processes that should be mandatory, enforce, and update docs"
Audit our testing documentation, determine which testing processes should be mandatory, and make necessary adjustments to enforce those processes. Update documentation accordingly.

[2022-01-13 20:18] taylorsperry opened #29718 "Document testing process that are not mandatory and establish audit trail"
Given that some of our "encouraged" testing processes will not be able to be enforced (due to complexity or velocity constraints), identify and document an "audit trail" that shows malicious and/or breaking code is prevented from reaching production.

[2022-01-13 20:19] taylorsperry opened #29719 "Security team approval for updated SOC2-related documentation"
Once issues https://github.com/sourcegraph/sourcegraph/issues/29717 and https://github.com/sourcegraph/sourcegraph/issues/29718 have been addressed, request review from security team to approve updated processes and documentation.

[2022-01-13 21:01] jjinnii commented on #29704
@tjkandala Perfect! Do let me know when this issue is ready for review -- I'd like to test with a few different themes, just to make sure that for the most popular themes in VS Code at least, our extension looks sleek and polished with how/what CSS variables we're pulling in for the different components :)

[2022-01-13 21:07] Joelkw opened #29723 "Insights Spike: Search Contexts for Insights"
We have [customer and prospect feedback](https://sourcegraph.productboard.com/feature-board/1793095-code-insights/features/9370711/insights) that they want to use search context - like objects to run insights over for the case that is >10 explicit repos and < all repos.

There are multiple "kinds" of search contexts now – search-defined and JSON-defined – and we should aim to support both, ideally

[2022-01-13 21:18] coury-clark commented on #29723
A few other considerations for this spike:
1. Some amount of the new query prefix contexts are implemented client side. What would be the effort to replicate that behavior / move it to a common backend, or otherwise be able to detect that this context is not usable?
2. Could we explore snapshotting the repositories that match a context with something like a `select:repo` query with just the provid

[2022-01-13 21:20] taylorsperry opened #29724 "DevX SOC2 compliance items: Tracking issue"
### Plan
Tracking issue for outstanding SOC2 compliance work.

➡️ **Because SoC2 first phase deadline is in two weeks, we need to move fast on this. Aim for simplicity. Seeking for feedback early from the SecTeam is the best way to proceed. We don't need everything to be perfect.**

Tracking for our SOC2 documentation: https://sourcegraph.com/notebooks/Tm90ZWJvb2s6NjA=

#### Priorities

1. #29763

[2022-01-13 22:03] #28519 closed

[2022-01-13 22:33] DaedalusG opened #29726 "Symlinked repos don't appear in search"
- **Sourcegraph version:**  v3.35.1
- **Platform information:**

#### Steps to reproduce:
1. Create a repo containing symlinked files
[code]
After a procedure like above you should have one `deploy.yaml` file in `a-dir` and two other directories containing symlinked `deploy.yaml` files
2. Sync the git repo to Sourcegraph
3. Run a search in the repo for the `deploy.yaml` files -- `repo:^github\.com

[2022-01-14 00:06] jjeffwarner commented on #28848
@keegancsmith I believe this shipped and we can close it?

[2022-01-14 00:07] jjeffwarner commented on #28849
@keegancsmith @tsenart Any update on this?

[2022-01-14 00:19] jjeffwarner opened #29729 "deploy ranking for customers"
Ranking has been abled on Cloud by enabling the default features in Zoekt. The next step is to make this available with a feature switch so customers can enable/disable it.

Also need an explanation about how the ranking algorithm works currently. -- @keegancsmith

[2022-01-14 00:22] jjeffwarner commented on #28683
@tsenart I believe this changes are in place so any additional repo by Code Intel will be picked up automagically? If that is the case I think we can close this.

[2022-01-14 00:29] jjeffwarner opened #29730 "Create a synthetic 15GB mono repo"
Edit: this was adjusted from 60GB to 15GB after learning we can drastically reduce scale for the target customer.

As part of the Q4 effort on mono repos, create a synthetic 60GB repo so we can test our tools against it and gather metrics.

[2022-01-14 00:31] jjeffwarner opened #29731 "Incremental indexing to Zoekt"
# Introduction

Currently, Zoekt’s indexing process works like this:

1. Periodically poll Sourcegraph’s API for a list of repositories that we should be indexing, along with a list of branches to index:
	![inc zoekt doc - page 11(1)](https://user-images.githubusercontent.com/9022011/156448341-b51f5ac4-63f5-4503-8aae-7f485bd3e188.png)

2. Some time later, check the current on-disk index state for

[2022-01-14 05:39] #28878 closed

[2022-01-14 07:32] keegancsmith commented on #29729
We had the better "result" ranking enabled only for sourcegraph.com employees. This is about to be turned on for everyone by https://github.com/sourcegraph/sourcegraph/pull/29691

I think there is likely still something around repo star ranking which we haven't enabled yet for everyone outside of cloud. Lets use this issue to track that as well.

[2022-01-14 07:34] keegancsmith commented on #28849
I think @tsenart shipped this? Not sure if we did the work on the sourcegraph/sourcegraph side.

[2022-01-14 07:34] #28848 closed

[2022-01-14 08:57] ryanslade commented on #28243
I'm hoping that by adding a check in `git.ArchiveReader` we can leave the raw endpoint as is.

[2022-01-14 09:02] stefanhengl commented on #29726
This has been fixed on main with the PRs mentioned in @DaedalusG description. It will be shipped with the next release. Here is an example of a query on our Cloud instance that now return symbolic links

https://sourcegraph.com/search?q=context:global+r:stefanhengl/symlink-test+file:deploy.yaml&patternType=literal

[2022-01-14 09:02] #29726 closed

[2022-01-14 10:51] tsenart commented on #28849
Yep, this was done in #28977, so this issue overlapped with #28799.

[2022-01-14 10:52] #28849 closed

[2022-01-14 10:53] tsenart commented on #28683
Yep, closed by #29250.

[2022-01-14 10:53] #28683 closed

[2022-01-14 10:59] philipp-spiess commented on #27156
It seems like instead of altering the sign up flow the plan is to fork it:

- https://sourcegraph.slack.com/archives/C02HL0RNTGV/p1642098053063700
- https://sourcegraph.slack.com/archives/C02HL0RNTGV/p1642112686080400

@rrhyne I think this task can be closed?

[2022-01-14 13:15] malomarrec commented on #27348
@jyavorska @yinquanteo: @macraig and I added a customer tracker here, for additional visibility:
Tracking: https://github.com/orgs/sourcegraph/projects/232/views/4
It's also in the project view.

[2022-01-14 13:53] filiphaftek commented on #29580
@JenRed777 I documented all in the excel file under controlID: GN-79

[2022-01-14 14:39] caugustus-sourcegraph commented on #29446
https://www.loom.com/team-videos/Helm

[2022-01-14 14:50] jjeffwarner opened #29746 "zoekt-indexserver: Work out wobble (TM) in num_indexed graph"
Currently running a gap of 2,000 repos on indexed
https://sourcegraph.com/-/debug/grafana/d/zoekt-indexserver/zoekt-index-server?viewPanel=100000&orgId=1&from=now-30m&to=now

[2022-01-14 15:10] asdine commented on #29014
Sorry I completely missed that comment and only focused on if `src serve git` was robust enough to serve a large repository (context-switching is hard sometimes)

Regarding `git svn`, it is indeed incredibly slow, I have been trying to clone a few large OSS SVN packages these past 2 weeks and I just gave up. It is definitely not an option.

I am currently testing [svn2git](https://github.com/svn-a

[2022-01-14 15:21] rrhyne opened #29751 "Remove browser extension installed check from tour"
We are explicitly checking to see if the browser extension is installed before checking that item. This was intentional but causes that item to not be completed often because users are not ready to install the extension yet. It has the unwanted side effect of users thinking it's a bug and also not completing the tour to see the sign-up page.

Remove the check and mark the section complete after th

[2022-01-14 15:55] efritz opened #29757 "backcompat-flake: TestIntegration/Syncer/MultipleServices"
There was a [flake](https://buildkite.com/sourcegraph/sourcegraph/builds/125666#035ef196-3c58-4dc4-93d9-eabc97652d03) in the `TestIntegration/Syncer/MultipleServices` *in the code of the 3.35.0 branch* running against the database schema on `main`.

This test has been disabled in back-compat tests in https://github.com/sourcegraph/sourcegraph/pull/29755.

This flake should be investigated.

- Has

[2022-01-14 15:56] abeatrix commented on #29299
@tjdevries has pointed out that the extension host sidebar must remain open for code-intel to work. We have suggested merging the extension host panel to another panel (either files / search sidebar) to avoid confusion.
![image](https://user-images.githubusercontent.com/68532117/149545003-ea4495f4-7116-4d3e-a955-223c20a7f633.png)

[2022-01-14 16:18] abeatrix commented on #29574
@jjinnii Regarding this feature, users are able to add searches to save search within the extension currently but has no way to retrieve them within the extension. On dotcom, they will have to go to their own user setting to find their saved search. As discussed, should we display the saved search somewhere within the extension for easy access?

[2022-01-14 16:24] abeatrix commented on #29575
<img width="2078" alt="Screen Shot 2022-01-14 at 8 22 09 AM" src="https://user-images.githubusercontent.com/68532117/149549477-9b1a2cee-12f4-4d9f-b385-ae6d5dd8abfc.png">

[2022-01-14 16:25] jjinnii commented on #29124
In addition to pings outlined in [RFC 547](https://docs.google.com/document/d/1YzDrXEhpa0dvE4On1S672w8l01EsLcXhLsJrLOgcQKQ/edit#), the below metrics are outlined in Figma:

**Pings requiring UTM parameters:**
* ["Create an account"](https://www.figma.com/file/EXXvfxVwtCIsrbQez4rPlF/VS-Code-Extension-MLP?node-id=1390%3A3639) in sidebar: Count of # of times this button was shown to users. Count of #

[2022-01-14 16:29] umpox commented on #27723
Component complete!

[2022-01-14 16:29] #27723 closed

[2022-01-14 16:33] abeatrix commented on #28306
Updated behavior: VSCE will be reloaded automatically if changes in instance URL / access token has been detected

[2022-01-14 16:34] abeatrix commented on #29575
Will continue tracking in https://github.com/sourcegraph/sourcegraph/issues/29575

[2022-01-14 16:34] #29575 closed

[2022-01-14 16:39] abeatrix commented on #29699
@jjinnii I have implemented a simple repo page before this issue was created so I didn't see the suggested design. I can work on it next week but want to know if we should open the repo page in a separate tab? (If yes then I would need to create a new webview component and might be a 2-3 days work)

This is what the repo page currently looks like:
![image](https://user-images.githubusercontent.com

[2022-01-14 16:41] jjinnii commented on #29574
@abeatrix By retrieve, we mean modify/delete saved searches right? (not too familiar with this feature sorry). Because even in sourcegraph.com, the only place to access a saved search is within ser settings I believe?

[2022-01-14 16:42] abeatrix commented on #29486
Implemented with save search and share features
![image](https://user-images.githubusercontent.com/68532117/149552238-fa35e6e7-5c71-46c6-b881-c896b482e326.png)

[2022-01-14 16:44] jjinnii commented on #29699
@abeatrix Thanks for calling that out! I had initially thought opening in a separate tab made the most sense, as a user will most likely end up opening a file from that repo. However, I don't think that behavior is important enough to warrant 2-3 days development time. I will modify my design, and maybe add an issue in the icebox for opening in a separate tab for post-release.

[2022-01-14 17:51] taylorsperry opened #29761 "GN-106: Document soft failures"
Add documentation to our [Continuous Integration page ](https://docs.sourcegraph.com/dev/background-information/continuous_integration) that describes soft failures as temporary exceptions that result from experimental or in-progress work. This should only be a short paragraph.

[2022-01-14 17:54] taylorsperry opened #29762 "GN-105: Solicit testing process information from infrastructure teams"
We need more information from the infrastructure team about our testing progress. Definition of done is a list of all existing testing processes that explicitly identifies which processes are mandatory.

[2022-01-14 17:54] taylorsperry opened #29763 "Update Application Testing document to include entire SDLC"

[2022-01-14 17:54] taylorsperry opened #29764 "GN-105: Document process for deviating from standards"
Add documentation to our [Continuous Integration](https://docs.sourcegraph.com/dev/background-information/continuous_integration) page that enumerates "break glass" scenarios (any time we have to deviate from a process) and our process for handling them.

Definition of Done: For any deviation from our process, we have a documentation for how it should be handled, and a running log of (an "audit tr

[2022-01-14 17:54] taylorsperry opened #29765 "GN-105, GN-104: Provide audit trail for break glass scenarios"
All "break glass" events must be logged in such a way that an auditor can read through them chronologically (an "audit trail").

A potential solution might be to create a bot that can push a PR comment ("We tested this manually because of X, and verified that it worked in this link").

Definition of Done: We have created and documented a centralized space where deviations can be reviewed chronolog

[2022-01-14 17:55] taylorsperry opened #29766 "GN-105: Communicate new GN-105 requirements to engineering"
We need to communicate to every engineer that new requirements are in place and provide instruction for how to meet them.

A possible supplement to this (if not a solution in itself) would be to add a PR template that prompts engineers to acknowledge that the code they're merging meets requirements. This could be a simple checkbox that asserts something like "This code has been tested and peer-rev

[2022-01-14 17:56] taylorsperry commented on #29717
We've broken this down into smaller issues that will be addressed separately.

[2022-01-14 17:56] #29717 closed

[2022-01-14 17:56] taylorsperry commented on #29718
We've broken this down into smaller issues that will be addressed separately.

[2022-01-14 17:56] #29718 closed

[2022-01-14 17:59] jjinnii commented on #29696
@abeatrix Okay please do let me know! Having it open titled "Sourcegraph extensions" with nothing in the section is quite confusing for users :) If we decide we need to keep it separate and open, perhaps we can look to add something in there so it's not so confusing.

[2022-01-14 18:01] taylorsperry commented on #29761
@jhchabran are the CI docs the best place to add this short paragraph?

[2022-01-14 18:09] jjinnii commented on #29699
Design updated :)

[2022-01-14 18:12] taylorsperry commented on #29764
@jhchabran Are the CI docs the right place for this information?

[2022-01-14 18:13] tjkandala commented on #29705
Used in VS Code extension MVP:
- `web/src/search/input`: VSCE needs `<SearchBox>`, this directory contains all of its direct dependencies.
  - Temporary moves to `shared` to enable this move:
    - `CurrentAuthState` query, export `AuthenticatedUser` type alias
    - `web/src/search/helpers.tsx` TODO list moves
- navbar query state store (will migrate to `search` package in subsequent PR)

[2022-01-14 18:15] jjinnii opened #29769 "Work on VSCE Sourcegraph user docs"
We need to work on a VSCE Sourcegraph user doc page to cover: installation, authentication, searching public and private repositories.

[2022-01-14 18:17] jhchabran commented on #29761
Yes, and we'll mention them on the final SDLC page in the handbook!

[2022-01-14 18:18] jhchabran commented on #29764
@taylorsperry that should be the handbook, because that's solely applicable to teammates and not external contributors.

[2022-01-14 18:26] taylorsperry commented on #29764
Gotcha, thanks! Is[ Sourcegraph releases](https://handbook.sourcegraph.com/departments/product-engineering/engineering/process/releases) a better spot?

[2022-01-14 18:29] jhchabran commented on #29764
I don't think so, that one is particularly specific to releases and we don't want releases to include messages like these. It's probably best put in section that we need to create under https://handbook.sourcegraph.com/departments/product-engineering/engineering/process

[2022-01-14 18:29] emchap commented on #29014
Glad to know it wasn't just my users. :) Thank you for testing! Crossing my fingers on svn2git.

[2022-01-14 18:36] jhchabran commented on #29766
1. Write a short RFC explaining the situation
  - List mandatory actions required by every developer
2. Make sure to include the context regarding SoC2 "We have to deal with this anyway, how do you want it?"
3. Give people a deadline (let's say 2022-01-21?)
4. Wrap it up and post a report.

[2022-01-14 18:38] jhchabran commented on #29761
Example resources:
  - Good structure: https://about.gitlab.com/stages-devops-lifecycle/
  - Overly exhaustive and should not be replicated: https://about.gitlab.com/handbook/engineering/workflow/

[2022-01-14 19:02] #29411 closed

[2022-01-14 19:07] northyg commented on #28780
@zestyping Whoops! Fixed :) Btw, being that we're open source we welcome contributions too (even if its little things :D )
Cheers!

[2022-01-14 19:51] jjinnii opened #29772 "Clicking into search result opens file at inaccurate file location"
#### Expected behavior:
Clicking on the search result will open the file at the location of the searched for token, with exact line highlighted.

#### Actual behavior:
Clicking into a search result with the expected result on code line x opens the file with line x-1 highlighted. For example, if I click into a search result with a token on line 28, the file opens with line 27 highlighted. This was

[2022-01-14 20:13] abeatrix commented on #29772
I’m able to reproduce and locate the issue. The current behavior is that it doesn’t matter where you click in the file, it will always open the file with the first line number from the result. Using your example, clicking on line 81 or 82 will always open the file with line 80 highlighted.
Will come back with an update

[2022-01-14 21:04] bobheadxi commented on #29763
@jhchabran heads up that we have bits and pieces of this scattered throughout the handbook _and_ docs.sourcegraph.com - it would be good to consolidate the Sourcegraph-specific processes (e.g. pull request reviews, etc) into the handbook.

This is all super scattered - it would be good if we had a directory in the handbook, e.g. https://handbook.sourcegraph.com/departments/product-engineering/engi

[2022-01-14 21:10] coury-clark opened #29774 "insights: nil error when creating a dashboard with an invalid userId"
When creating dashboard with an orgID or userID that doesn't belong to the current user, the API returns the following error:
[code]

Reported by @andreeleuterio

[2022-01-14 21:34] bobheadxi commented on #29413
Progress update - while this sounds great on paper, reality is a bit more mixed: https://github.com/sourcegraph/sourcegraph/pull/29560#issuecomment-1013488239

[2022-01-14 21:35] bobheadxi commented on #29375
Update: I've been struggling to get the build to run smoothly, and am going to revisit this next week

[2022-01-14 22:24] coury-clark commented on #29536
@Joelkw I've given this some more thought. My opinion is that we should preserve ordering and layout **per-dashboard**. I do feel that something about our product is subtly different (I can't quite pinpoint it) where I could actually imagine per-user configurations making sense; however, I think it's a big complication that doesn't stand out to me as substantially different than separate dashboard

[2022-01-14 22:27] danieldides commented on #25256
Kubernetes update: https://github.com/sourcegraph/deploy-sourcegraph/pull/4058

[2022-01-14 22:55] Joelkw opened #29776 "insights: make repo auto-suggest list scrollable"
From Andre (and myself): it would be better if we made this scrollable so you could see all the results:

![image](https://user-images.githubusercontent.com/11967660/149595669-b81d113f-9a54-4cee-9926-59b297280dc0.png)

[2022-01-15 01:13] rvantonder opened #29781 "Optimize or-expressions for regexp filters"
It may be useful to merge multiple `or` expressions into a single term if a particular backend can optimize for it (e.g., regular expression). This could be particularly useful for search-based context work.

[code]

Open question: since we now concurrently fire repo requests and perform pagination, it would be interesting to see how much faster merging/condensing the filters are in practice. Like

[2022-01-15 01:14] rvantonder commented on #29781
@tsenart just dumping what I have, please edit description/scope based on what you have appetite for!

[2022-01-15 01:19] rvantonder commented on #26210
Closing this, I think the prototyped served its purpose and we don't need immediate follow up work for it. We can create a new issue if we want to track work to get this onto a Demo instance.

[2022-01-15 01:19] #26210 closed

[2022-01-15 01:55] techknowlogick commented on #343
Looking at the sourcegraph homepage, Gitea integration is mentioned twice. Would Sourcegraph be amenable to sponsoring a Gitea maintainer to submit a PR to Sourcegraph to support Gitea integration?

(I am one of the project leads of Gitea and am able to facilitate coordination with Gitea maintainers if the answer to above is yes)

[2022-01-15 04:04] Joelkw opened #29784 "Code insights: DoS tracking issue"
See here: https://github.com/sourcegraph/security-issues/issues/204

[2022-01-15 04:04] Joelkw commented on #29784
(not a priority but needed for Cloud someday)

[2022-01-15 04:05] Joelkw commented on #29536
I agree! I defer to @AlicjaSuska but I feel like it should be possible to edit on a "per session" basis and only save if you explicitly want to save the layout changes.

[2022-01-15 04:30] rvantonder opened #29785 "Scale structural search with streaming and worker pool"
Issue description in notebook: https://sourcegraph.com/notebooks/Tm90ZWJvb2s6Mjk=

[2022-01-15 04:50] bobheadxi commented on #27982
Superseded by @jhchabran 's work on https://github.com/sourcegraph/sourcegraph/issues/29411 , which gives us a much better avenue for checking detailed step performance!

[2022-01-15 04:50] #27982 closed

[2022-01-15 04:52] bobheadxi commented on #26118
Marking this as closed now that we have https://sourcegraph.grafana.net/d/iBBWbxFnk/ci?orgId=1

[2022-01-15 04:52] #26118 closed

[2022-01-15 07:05] malomarrec opened #29787 "Abstract away common code changes"
#### Problem

New users often struggle with writing code to change code, or onboarding with what code change tool they are going to run in batch change. This also inherently limitss who can use batch changes to (a) users with the relevant skills (b) important recurring problems worth automating.
Experienced users still have to invest time in writing code change scripts

If we can make writing code

[2022-01-15 08:39] malomarrec opened #29788 "Show values of templating variables in UI"
When I'm working / debugging a batch change using templating variables (eg. `repository.name`), I find myself doing tricks such as

[code]

in order to check what templating variables are outputting.

It'd be nice to have a `templating variables` tab along with `diff`, `logs` etc so that you can easily view what those values instantiate to when debugging.

[2022-01-15 14:35] jhchabran commented on #29765
FYI Our Slack account has a retention policy (can be exempted apparently) https://sourcegraph.slack.com/archives/C01CSS3TC75/p1641566033032300?thread_ts=1641507795.015300&channel=C01CSS3TC75&message_ts=1641566033.032300

[2022-01-16 04:28] nicksnyder opened #29789 "Browser extension breaks GitHub styles"
When I have Sourcegraph Chrome extension enabled, I see black checkboxes on GitHub

![Screen Shot 2022-01-15 at 8 26 58 PM](https://user-images.githubusercontent.com/754768/149647263-47fd7a6d-3079-42f1-8fab-489e4b5e6338.png)

When I disabled it I see what I expect.

![Screen Shot 2022-01-15 at 8 27 40 PM](https://user-images.githubusercontent.com/754768/149647281-cdcdf8c2-184d-42d9-9ba8-aba7850fc6

[2022-01-16 19:13] benvenker opened #29793 "Notebooks appear to be mangling markdown URLs in some cases"
See the last link in https://sourcegraph.com/github.com/sourcegraph/notebooks/-/blob/onboarding/find-code-across-all-of-your-repositories.snb.md

Brief [Slack convo](https://sourcegraph.slack.com/archives/C020S8AT3LN/p1642013948044300) for context

[2022-01-17 03:19] zestyping commented on #28780
Noted! :) Thanks!

[2022-01-17 05:03] KShivendu commented on #29619
Hey @jhchabran I'd like to work on this. Please assign it to me :)

[2022-01-17 06:44] varungandhi-src opened #29796 "Tool idea: Fetch files and benchmark time for highlighting"
Honeycomb lets you download data CSVs (limited to 1000 rows; IDK if the API has a similar limit). We are currently recording the repo, the revision, and the filepath, which is enough information to fetch the exact file that is needed.

It would be helpful to have a tool which parses the CSV, fetches the files, runs the highlighter on the files locally, and adds those timings (maybe as mean + stdev

[2022-01-17 07:09] rvantonder commented on #29781
Via @keegancsmith

zoekt :: probably better concurrent, but not bad like unindexed. Even better would be transforming the OR query into a zoekt OR query.

[2022-01-17 07:19] keegancsmith commented on #343
Also cc @tsenart who recently added pagure support, so has context on adding codehost support. Lots of codehosts on the internet use gitea and is quite a popular self hosted option, so this may help us towards our many codehosts efforts. cc @jjeffwarner

[2022-01-17 08:44] jhchabran commented on #29619
@KShivendu There you go! Feel free to mention me here if you need any feedback or if you have any questions :)

[2022-01-17 08:48] jhchabran commented on #27982
@bobheadxi Btw, I have updated the top 10 slowest things to be commands rather than steps, as we already have that on grafana :)

[2022-01-17 08:55] jhchabran opened #29798 "ci: document tracing and Buildkite analytics"
Those two features were fast-tracked in order to start gathering data supporting our effort to move toward stateless agents. The trade-off was that no docs were provided.

These docs should cover:

- What is instrumented and how it's wired.
- How to use the data
- What's the general plan regarding this data (i.e Buildkite Analytics is a beta service, etc ...)

[2022-01-17 09:56] #25778 closed

[2022-01-17 09:56] #29030 closed

[2022-01-17 10:47] jhchabran commented on #28469
FYI https://github.com/sourcegraph/sourcegraph/issues/28470 has been updated with some details :)

[2022-01-17 10:48] jhchabran commented on #26613
Update: A new release of Jaeger is out that includes the PR, so we can fix this. https://github.com/jaegertracing/jaeger/releases/tag/v1.30.0

[2022-01-17 10:49] jhchabran commented on #27598
https://github.com/jaegertracing/jaeger/releases/tag/v1.30.0, we're good to go

[2022-01-17 11:34] philipp-spiess commented on #28973
Do we know if, when this problem occurs, it is limited to one hover or the whole session? I.e if this issue is observed, will it be fixed when we hover over a different code segment?

@erzhtor Given that there's not really a way for us to repro this and get more data on what's going on: What do you think about the idea of adding production logging and include as much information as we can think of

[2022-01-17 11:36] oleggromov commented on #28992
I agree that having variants, colors, and other _labels_ synchronized is a great and important idea - what I am wondering, however, is how automated we could/should make this? I.e. how often do design files get updated?

[2022-01-17 11:39] filiphaftek commented on #29578
@JenRed777 should this be included in handbook?

# 2. How to audit logs
[GCP documentation](https://cloud.google.com/logging/docs/audit#viewing_audit_logs)

## 2.1. How to search audit logs for particular event:
Note: example for CloudSQL instance connect action via GCP web console.
- go to [GCP console](https://console.cloud.google.com/logs/query?project=sourcegraph-dev)
- choose from filter pane

[2022-01-17 11:46] #29647 closed

[2022-01-17 11:47] oleggromov commented on #25248
@camdencheek sounds good, thanks. Let me know if/when you need a hand - I'll be happy to pick it back up from our side.

[2022-01-17 13:06] jhchabran commented on #29763
@taylorsperry a first iteration of the SDLC is available here: https://docs.google.com/document/d/1NqfuxSchCtGoecMLc3-HWt7ktSLSAu-ajYBTdJnsqeU/edit#

Could you quickly review it, to make sure that from a Product Design perspective I did not write incorrect statements?

@bobheadxi Yes, that's basically what I have done in the above-linked document! It would be such a daunting task otherwise. It's g

[2022-01-17 13:19] erzhtor commented on #28973
Sounds good. I like it. 👍

Yeah, we also need to be careful not to log/collect user/repo info.

[2022-01-17 14:31] AlicjaSuska commented on #29536
Thank you for all the thoughts @Joelkw and @coury-clark. I see your points. In this case, let's move forward with:
-  saving layout per dashboard. This needs to be explicit action taken by the user. Initially (and in v.1 of designs), I assumed autosave. Will update the mockups.
- possible to edit on a "per-session" basis by each user (basically as it is right now + option to save layout mentioned

[2022-01-17 14:48] vovakulikov commented on #29536
First of all thanks to everyone for your thoughts and different options.

The bottom line that I got from this thread is

**First**, we are going to have (at least for v.1 of this functionality) per-dashboard settings by explicit action (like click on save button) and notify that this action changes dashboard settings some be gentle with that.

**Second**, we also allow user session settings to ch

[2022-01-17 15:08] #27674 closed

[2022-01-17 15:17] jhchabran commented on #29766
https://docs.google.com/document/d/1d0o1O1ReazXKoDB_MANo1MuWfqBlgeU-5VZAAZRGamc/edit#

[2022-01-17 15:28] kevinwojo opened #29803 "Investigate conditional managed instance service account"

[2022-01-17 16:01] abeatrix opened #29806 "VSCE V1 Bug: Search no working on Web"
## Step to reproduce:
1. install the extension from VS Code marketplace on https://vscode.dev
2. Perform Search

## Expected Behavior:
- Search return results

## Actual Behavior:
- Search doesn't return results
![image](https://user-images.githubusercontent.com/68532117/149803740-c92d174a-6c81-4930-bb76-f17989f4a139.png)

[2022-01-17 16:06] mrnugget commented on #28973
We managed to reproduce it!

1. Query `repo:^github\.com/mattn/goreman$ file:^main\.go` and hover over `procInfo` and see 1 `"Implementations"` button
2. Inside Sourcegraph, navigate to a repo that doesn't support `"Implementations"` and hover there: `repo:^github\.com/rust-analyzer/rust-analyzer$ file:^crates/hir_ty/src/display\.rs`
3. Go back to (1), hover again and see 2 `"Implementations"` but

[2022-01-17 16:21] #29623 closed

[2022-01-17 16:38] #29241 closed

[2022-01-17 18:36] Strum355 opened #29816 "Repository settings page gives no indication of further (code-intel etc) settings pages exisiting"
When viewing a repository's settings page, there is no indication that there are additional settings related to this repository located elsewhere. This has caught me a few times having to remember that the code intelligence settings are at a different location, requiring 2 additional clicks:

1) First to the repo landing page
![image](https://user-images.githubusercontent.com/18282288/149821051-2a

[2022-01-17 19:16] bobheadxi opened #29817 "ci: replace bkstats summary with buildchecker history"
https://github.com/sourcegraph/sourcegraph/pull/29734#issuecomment-1014827361

[2022-01-17 20:40] jjinnii opened #29826 "Spacing issues in sidebar"
Small discrepancies in spacing of elements in the VSCE sidebar. Please see below screenshot. Increased height is causing the "Seach your private code" section to be hidden for users, depending on their browser height.
<img width="288" alt="Screen Shot 2022-01-17 at 3 36 39 PM" src="https://user-images.githubusercontent.com/87138876/149834553-622a5c16-962b-4fe0-96b8-1b9077c0bd92.png">

[2022-01-17 20:44] jjinnii opened #29827 "Add feedback button"
There is a need to add a feedback button to the VSCE UI, so that users can easily provide feedback for the extension. The button also helps to communicate to users that this is an early release of the extension. This button should be exposed in all pages of the extension, and will link to a Github discussion board. (TBD on the URL)

[2022-01-17 20:57] bobheadxi opened #29828 "Flake: TestSearch/stream/And/Or_search_expression_queries"
- **Name of test:** TestSearch/stream/And/Or_search_expression_queries
- **Example failure:** https://buildkite.com/sourcegraph/sourcegraph/builds/125871#d45febe8-ca19-4509-97b7-e73d89e38276/204-208
- **PR**: https://github.com/sourcegraph/sourcegraph/pull/29829

#### Additional details

https://sourcegraph.grafana.net/goto/NkChYsJ7z?orgId=1

[2022-01-17 21:22] camdencheek commented on #29828
I ran this test ~1000 times locally, and didn't manage to reproduce the flake, so maybe a CI-specific flake?

[2022-01-17 21:23] abeatrix commented on #29772
Currently, on dotcom, a file link is created onSelect in FileMatchChildren for the selected File Match group ([link to code](https://sourcegraph.com/github.com/sourcegraph/sourcegraph@v3.35.1/-/blob/client/shared/src/components/FileMatchChildren.tsx?L132)); however, the link does not work in VSCE for opening files since it requires `sourcegraph://` instead of `https://`. To fix this, I created [an

[2022-01-17 21:31] jplahn opened #29832 "INC-62 Followup: Understand why exceeding repository limit breaks an existing service"
Follow up on the Action Item from https://app.incident.io/incidents/62

[2022-01-17 21:32] jplahn opened #29833 "INC-62 Followup: Understand if users that hit this error need to delete/add their services, or if this will be fixed automatically."
Follow up on action item from https://app.incident.io/incidents/62

[2022-01-17 21:45] benvenker opened #29835 "Notebooks search bar contents don't actually get cleared"
![CleanShot 2022-01-17 at 15.43.50.gif](https://images.zenhubusercontent.com/5467e9ba7c6ccc6277a5f103/207e3ffc-70ce-4bc6-be7b-ea83df6cbde5)

[2022-01-17 21:46] kevinwojo opened #29836 "Trivy CVE in zoekt image"
Background: https://github.com/sourcegraph/zoekt/pull/242
Fixed in: https://github.com/sourcegraph/sourcegraph/pull/29818

[2022-01-17 21:49] jplahn commented on #29014
Providing an update here: @asdine has started testing svn2git, but we're currently prioritizing the Tinder p1 issue https://github.com/sourcegraph/customer/issues/622 for the next couple of days. We'll loop back here Wednesday with a new update on whether the Tinder issue is resolved and the status of our testing for svn2git.

[2022-01-17 21:56] jjinnii opened #29837 "Remove "Recent History" from sidebar on search results page"
To better mirror the experience of sourcegrah.com, we should remove "Recent History" from the extension sidebar when a user is on a search results page. Currently, Recent History (Recent Repositories, Recent Files, Recent Searches) are only populated on the homepage of sourcegraph.com. Removing "Recent History" also helps to declutter the sidebar when utilizing filters for search results.

Current

[2022-01-17 21:57] jjinnii opened #29838 "Modify sidebar on extension"
Current state:

Expected state:

[2022-01-17 22:02] jjinnii opened #29841 "Modify sidebar on extension "homepage" view"
For users who have authenticated their account OR performed searches within the extension, the extension sidebar displays search history. However to better mirror the homepage on sourcegraph.com, we need to remove the "Search Reference" section, as well as separate out Recent History into: Recent Searches, Recent Files, and Recent Repositories.

I am maintaining Search Types (distinct from sourceg

[2022-01-17 22:31] jjinnii commented on #29486
@abeatrix Will be adding the x results found in y repositories in z seconds information? (As well as the "Some results excluded" dropdown? I don't think it's super important but curious whether it was too hard to implement within VS Code

[2022-01-17 22:42] abeatrix commented on #29699
Discussed with Sara on how users can go back to the search result page, waiting for their updates.

For now, I've added a back to search result button to display previous search results:
![image](https://user-images.githubusercontent.com/68532117/149844526-0ef04edf-5c79-43c4-b49c-7a84a2ccea80.png)

[2022-01-18 06:45] jensim opened #29846 "Broken migrations in 3.35.1 OSS (NOT ABLE TO UPGRADE)"
- **Sourcegraph version:**
v3.43.2 **OSS**
- **Platform information:**
Running on docker Docker
Built from sources here https://github.com/jensim/sourcegraph-release-train

#### Steps to reproduce:

1. Run OSS version of sourcegrph, since a year or so back
2. Upgrde on release
3. At version 3.35.1, migrtions break

#### Expected behavior:
- Run migrations
- Start server

#### Actual behavior:

If

[2022-01-18 07:42] #29751 closed

[2022-01-18 08:27] #27598 closed

[2022-01-18 08:41] filiphaftek commented on #29579
# Description
[Sourcegraph](https://sourcegraph.com/) main monitoring and alerting tools are Prometheus and Google Cloud monitoring.

Sourcegraph alert types:
- [default application alerts](https://docs.sourcegraph.com/admin/observability/alert_solutions)
- [custom Cloud alerts](https://k8s.sgdev.org/github.com/sourcegraph/deploy-sourcegraph-cloud/-/blob/base/prometheus/prometheus.ConfigMap.yaml)

[2022-01-18 08:41] filiphaftek commented on #29579
@JenRed777 I described all in the comment, please let me know if we need to update the handbook with such informations. Thank you.

[2022-01-18 08:42] keegancsmith commented on #29729
Status: the PR to enable hunk based ranking is still in progress. We have one UI issue.

I have on my todo list to follow up on the final item around enabling repo ranking for customer installations. Hopefully get it done before branch cut :)

[2022-01-18 08:46] #27942 closed

[2022-01-18 08:50] keegancsmith commented on #27042
@tsenart and I spent yesterday investigating this. You can see our notes at https://github.com/sourcegraph/search-scratch/blob/master/2022/journal.org#tomas--keegan-unindexed-search-on-monorepos-2022-01-17-mon-1225

From our research I don't think this helps. Network isn't the issue here, its the cost of getting all the blobs from git. So doing a naive git grep is slow. Whatever we do will need to

[2022-01-18 08:55] keegancsmith commented on #28680
@sourcegraph/search-core what is the status of symbols with respect to our team? Are we waiting and seeing what becomes of rockskip #28719? I think that was our decision, that way we can focus more on unindexed text search.

[2022-01-18 08:56] keegancsmith commented on #28475
@tsenart this is in our TODO column. Is it work we intend on doing in the next month or two? If not, we should probably put it under "no status" in our backlog?

[2022-01-18 09:16] jhchabran opened #29849 "sg: setup, check that git version is above $VERSION"
We need to keep in mind that many users may be running an already outdated version and they won't be running `sg setup`.

[2022-01-18 09:37] #27696 closed

[2022-01-18 09:37] #27698 closed

[2022-01-18 10:49] vdavid commented on #27948
Hey @rrhyne!
I might be done with my current issue today, and this one would be next up.
I've invited you for a short meeting about this one today to make sure we make progress.
We can either do the meeting and figure it out there or feel free to provide a design and your thoughts here async.
I'm okay with either.

[2022-01-18 11:18] mrnugget opened #29852 "code-intel, code-intel-extensions, extension API"
This ticket is a dumping ground for thoughts on the `code-intel-extensions`, `hoverify`, the hover tooltip, the `extension-api` and things revolving around the UX of code intelligence.

###  Bugs, glitches, UX problems

- https://github.com/sourcegraph/sourcegraph/issues/28973#issuecomment-1014695100
- Glitchy double render

https://user-images.githubusercontent.com/1185253/149927199-05eae8a2-0335

[2022-01-18 11:28] tsenart commented on #28475
I'll move it to No status. Thanks for spotting.

[2022-01-18 11:34] #28267 closed

[2022-01-18 11:35] #28265 closed

[2022-01-18 11:37] #29685 closed

[2022-01-18 11:38] keegancsmith commented on #27041
@stefanhengl I think this is done?

[2022-01-18 11:45] filiphaftek commented on #29651
@daxmc99 do you think it make sense to use [terraform with DD provider](https://registry.terraform.io/providers/DataDog/datadog/latest/docs/resources/dashboard) for all dashboards/alerts etc?

[2022-01-18 13:13] keegancsmith commented on #29597
This is about to land in main https://github.com/sourcegraph/sourcegraph/pull/29855. Once it does, I would regard this issue as solved. Would be great to confirm on your test cluster once it has this commit. @DaedalusG gonna assign to you to follow up if you don't mind?

[2022-01-18 13:17] filiphaftek commented on #29591
1. **Uptime** check from prod cluster (actual state):
- [blakbox_exporter](https://handbook.sourcegraph.com/departments/product-engineering/engineering/tools/observability/monitoring_architecture#sts=Blackbox%20Exporter) is used to scrape internal and external Sg cloud endpoints
- [static http checks](https://k8s.sgdev.org/github.com/sourcegraph/deploy-sourcegraph-cloud/-/blob/base/prometheus/prom

[2022-01-18 13:20] scalabilitysolved commented on #28680
Hey @sourcegraph/search-core :wave:

@chrismwendt is still focusing on Rockskip, he'll be able to provide more detail on where we are with that.

[2022-01-18 14:05] bitwisetech opened #29857 "Improve Sourcegraph quickstart guide"
Lost !
Fedora 35
sudo dnf install docker

Following quick install instructions:
   docker run --publish 7080:7080 --publish 127.0.0.1:3370:3370
  --rm --volume ~/.sourcegraph/config:/etc/sourcegraph
  --volume ~/.sourcegraph/data:/var/opt/sourcegraph sourcegraph/server:3.35.1

Result:

docker: Cannot connect to the Docker daemon at unix:///var/run/docker.sock. Is the docker daemon running?.
See 'd

[2022-01-18 14:23] evanweible-wf opened #29859 "Better handling of Failed to Fetch error on Batch Change views"
- **Sourcegraph version:** 3.35.1
- **Platform information:** I don't have this info readily available, but it's on our new Workiva deploy and I can have someone get this info or help debug if needed.

#### Steps to reproduce:

1. Open a Batch Change (either a preview or an applied, active one)
2. Leave the tab open for a while (not sure how long it actually takes)
3. Come back to this error:

<im

[2022-01-18 14:27] rrhyne opened #29860 "Add tracking to Batch Changes landing page"
The Batch Changes sourcegraph.com landing page contains a link to install the product. We should track views of this page and clicks on the installation button through event logs to help account for the page's involvement in installations.

Add the following event logs:

* On view of this page: **BatchChangesCloudLandingViewed**
* On click of the button in the "Install locally to get started" CTA

[2022-01-18 14:34] eseliger opened #29861 "Batches: Workspaces should allow to be defined by pathPatterns"
Instead of just relying on the existence of a certain file in directories, I think we should also allow path patterns to be defined.

Works like:

[code]

returns:
[code]

[2022-01-18 14:38] eseliger commented on #29859
Thank you for reporting, this makes a ton of sense and I've been meaning to improve it for a long time. I'll make sure it is brought up in planning again!

[2022-01-18 15:22] adeola-ak opened #29863 "Humans of Sourcegraph: milestone 4"
[Scratch document](https://docs.google.com/document/d/1jLjTzsXGzQ5xfKTT_2Wxhu6OtF0wOzOYgfZmp04s0zk/edit)

- [ ] **EM4: Build (run locally)**
  - [x] Design
  - [x] Outline data needed - (preferred name, pronouns?)
  - [ ] Google auth login
  - [ ] Experimental use
  - [ ] Hosting
  - [x] Meet with People ops to get a better understanding of how the API permissions work

[2022-01-18 15:53] vdavid commented on #27948
I talked with Rob. Here is an update:
- This is a very similar issue to #27100. We want to advertise our IDE extension to both visitors **and** signed-in users.
- We'll **alternate them** with the other CTAs: all will appear on every 6th page view, and these new ones will be shifted by three page views. (We identified multiple ways to make it work with the rest of the CTAs. Rob made designs to fit

[2022-01-18 16:10] abeatrix commented on #29826
Updated spacing to match Figma design
![image](https://user-images.githubusercontent.com/68532117/149971923-6b4ac682-1280-46ed-86c0-2277d033ce89.png)
![image](https://user-images.githubusercontent.com/68532117/149972264-3815cc29-50d0-43e6-a9d1-81179d72ec9a.png)
![image](https://user-images.githubusercontent.com/68532117/149974478-e81a68cf-3b30-4890-907b-829ddb50f307.png)

[2022-01-18 16:20] malomarrec commented on #24312
Related: https://github.com/sourcegraph/sourcegraph/issues/25400

[2022-01-18 16:39] #29836 closed

[2022-01-18 16:41] chrispine commented on #29164
1.5d for unique constraint and error handling

[2022-01-18 16:46] malomarrec commented on #29452
Hey @rrhyne  - this is something that was surfaced by a customer. This likely needs some design exploration.

[2022-01-18 16:46] #29475 closed

[2022-01-18 16:51] chrispine commented on #29526
This is claimed to be the same for SSBC as for src-cli, and is a yaml issue, not an SSBC issue.

That said, we might still want to do something to address this?

[2022-01-18 16:56] malomarrec commented on #29787
I put this in the triage column just so that everybody's aware that this ticket exists and we can use it as a dumping ground for similar feedback / ideas.

[2022-01-18 16:57] evanweible-wf opened #29871 "Allow bulk refreshing of all changesets in a batch change"
#### Feature request description
Currently, each changeset in a batch change has to be refreshed individually. Even though they do all get periodically updated automatically, we often dedicate time to work through batch changes and review/merge as many as we can, after/during which it's useful to be able to request the latest status of the batch change to see what is still failing CI or in need of

[2022-01-18 17:19] abeatrix commented on #29486
It's not! I just added it!
<img width="2518" alt="Screen Shot 2022-01-18 at 9 18 11 AM" src="https://user-images.githubusercontent.com/68532117/149986462-1a59bf05-ebdc-42f7-8db2-4a3456dcca6f.png">

[2022-01-18 17:36] rvantonder commented on #29828
Re-enabled as of https://github.com/sourcegraph/sourcegraph/pull/29873

[2022-01-18 17:52] evanweible-wf commented on #29871
😆 I was just writing up a comment about how I just stumbled upon those docs! Yeah, that would be a much better solution - I'm checking internally to see if that's an option for us.

[2022-01-18 18:17] rrhyne commented on #27948
Copy, illustrations and metrics definitions are here:

https://www.figma.com/file/VlpvIoBXrG6GFWsEFmc6rB/Browser-extension-CTA-improvements?node-id=71%3A8094

[2022-01-18 18:45] coury-clark opened #29879 "insights: [spike] monorepo improvements"
Code Insights currently uses the GraphQL API to perform searches, which has spotty support for large monorepos. When searches fail due to monorepo scale, Code Insights will partially populate, or fail to populate. This spike is to investigate any possible solutions in the short term to make these Code Insights more consistent.

The first avenue we should explore is how much effort it would be and

[2022-01-18 18:59] rrhyne commented on #27156
No, there are two sites at work here. Fabiana's comment is regarding about.sourcegraph.com. We will need to make the changes above to sourcegraph.com.

[2022-01-18 19:03] Joelkw commented on #29536
Agree with this @vovakulikov . Would note that "user session settings" do not need to persist for v1 -- what we have now, where you can resize but they do not save, is acceptable, given you can persist by saving them to the dashboard.

[2022-01-18 19:54] rvantonder commented on #29828
This is a legitimate failing test, it's just nondetermnistic. Maybe a separate bug report issue works better? Or should we repurpose this issue?

[2022-01-18 20:08] chrismwendt opened #29881 "codeintel: Loop over installation repositories"
From https://github.com/sourcegraph/sourcegraph/pull/29515#discussion_r786495055

[2022-01-18 20:12] mollylogue commented on #28243
@ryanslade Should I just close this out with no code changes since the `git.ArchiveReader` task should cover the work needed?

[2022-01-18 20:19] rrhyne commented on #29452
In lieu of being able to research this with customers, this option from your list makes the most sense to me.

The harder part is coming up with the list of changes that could influence this. If you would like I could draft a mock of a batch changes admin page with a "last active" date to share with the customer.

[2022-01-18 20:22] #27384 closed

[2022-01-18 20:34] bobheadxi commented on #29828
If the test remains nondeterministic ("flakey"), it should be disabled until the test is fixed or removed entirely (https://docs.sourcegraph.com/dev/background-information/testing_principles#flaky-tests) and this issue should stay open until one of those things happen

[2022-01-18 21:33] jjinnii commented on #29700
@rrhyne @muratsu  [This](https://docs.google.com/document/d/1_FS-BsTiaBhDfguWcF01EKyoKfViI7Mco42Y0-2H7H4/edit#) is a quick first pass at an outline for the Watch & Learn video. Would really appreciate if you both could take a look and help refine!

[2022-01-18 21:59] camdencheek opened #29888 "Content in diff view bleeds over column boundaries"
When a line is long and unsplittable (I assume this is just word wrapping stuff), the line overlaps with the next column in diff view.

<img width="1237" alt="Screen Shot 2022-01-18 at 14 56 42" src="https://user-images.githubusercontent.com/12631702/150025419-4d4b6471-1826-4218-8e60-f4d0ff22be6d.png">

Reproduction [here](https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/commit/69a0bf2

[2022-01-18 22:00] kevinwojo commented on #26299
A couple of notes after working with some recent deployment stuff:

 * Docker Compose version
 * Docker version
 * Installation methods

[2022-01-18 22:15] bobheadxi opened #29889 "GN-105: testing principles and guidelines"
From RFC 566: https://docs.google.com/document/d/1d0o1O1ReazXKoDB_MANo1MuWfqBlgeU-5VZAAZRGamc/edit#heading=h.yd79reojsguo

Reference:
- https://docs.gitlab.com/ee/development/testing_guide/
- https://docs.gitlab.com/ee/development/testing_guide/testing_levels.html

[2022-01-18 22:16] rrhyne opened #29890 "Getting started improvements"
- [ ] Under the feature flag turn off the existing "GET STARTED" search tour that helps you search by language or repo

In user testing, diff search was observed to be slow, which is a bad first impression. Additionally, we are missing a key value proposition, which is searching multiple repositories. To solve this, we need to re-order the searches and replace the symbol search. These tasks should

[2022-01-18 22:45] #26918 closed

[2022-01-18 23:28] felixfbecker commented on #26317
@coury-clark @CristinaBirkel am I assuming correctly this is a quick task (size 1)?

[2022-01-18 23:30] jjinnii commented on #29826
Thanks @abeatrix! Sorry for being nitpicky here, just a couple additional things: Again to clarify, this issue is not high priority in the least -- if there are other issues that you feel are more impactful, please feel free to shift focus!

* The "Welcome" and "Search your private code" subtitles look a bit larger than the other subtitles -- which I think is also contributing to "Sourcegraph Sear

[2022-01-19 00:25] coury-clark commented on #26317
@felixfbecker yes, see https://github.com/sourcegraph/sourcegraph/pull/29893

[2022-01-19 00:36] bobheadxi opened #29894 "GN-105: acceptance checklist"
Similar to https://docs.gitlab.com/ee/development/code_review.html#acceptance-checklist , see
RFC 566 https://docs.google.com/document/d/1d0o1O1ReazXKoDB_MANo1MuWfqBlgeU-5VZAAZRGamc/edit#heading=h.imubsmgidz8m

[2022-01-19 00:50] bobheadxi opened #29895 "devx: FY2023 planning"
Hashing out our goals for this coming fiscal year.

Initial discussion: https://docs.google.com/document/d/1REAHhadAHUyg9DSDpRyoNQZL8jUb0V8pL4ilhVUQ6ps/edit#heading=h.56tkkexago5v

[2022-01-19 01:56] rvantonder opened #29897 "query-based contexts break search predicates, throws away query term data"
A query with predicates does not work for Sourcegraph members, who have query-based search context feature turned on. This returns no results:

- [`repo:^github\.com/sourcegraph/sourcegraph$ repo:contains.file(CHANGELOG)`](https://sourcegraph.com/search?q=context:global+repo:%5Egithub%5C.com/sourcegraph/sourcegraph%24+repo:contains.file%28CHANGELOG%29&patternType=literal). If you do it in incognit

[2022-01-19 01:57] Joelkw opened #29898 "Insights: Preview Result Button should open in a new tab"
The new preview button is awesome!

But as a followup to https://github.com/sourcegraph/sourcegraph/pull/29698 – the preview button should open the preview in a new tab. This may not have been specified on the designs directly ([I didn't see it](https://www.figma.com/file/QfeID0EEYMEPdEv8pbGULB?node-id=9334:14962#82997688)), but I believe this was the intention given the icon on the preview button

[2022-01-19 03:18] Joelkw opened #29900 "insights: "click in to diff" feature on all-repo insights handles filter special characters incorrectly"
[Loom walkthrough](https://www.loom.com/share/00eef4276cda48d8a8e4ca4508495ff7)

We handle filters – almost! If a user has regex characters in their filter, we're escaping them to pass through the url (or something) but we need to un-escape them when they land in the search query.

So a filter like `sourcegraph/sourcegraph$` ends up being passed in as `repo:sourcegraph/sourcegraph\$` but it needs

[2022-01-19 03:21] #29897 closed

[2022-01-19 03:43] chrismwendt opened #29904 "Duplicate symbols from ctags"
I see 2 `Util` symbols locally at https://sourcegraph.test:3443/github.com/sourcegraph/sourcegraph-jetbrains@HEAD~1/-/blob/src/main/java/Util.java?L7

<img width="375" alt="CleanShot 2022-01-18 at 20 08 00@2x" src="https://user-images.githubusercontent.com/1387653/150056574-18fcd1e3-8ee9-46a0-a636-0357ccf24028.png">

On Sourcegraph.com there's only 1.

[2022-01-19 03:46] chrismwendt commented on #28680
Around Dec 7 when this issue was filed, there was a bug (likely introduced in https://github.com/sourcegraph/sourcegraph/pull/28407) that made all symbols requests stop working. I'm guessing that's you mean by "does not survive". That bug was [fixed](https://github.com/sourcegraph/sourcegraph/pull/28720).

However, the `symbols` service does not work on repos that take 20+ minutes to process symbo

[2022-01-19 04:13] #29898 closed

[2022-01-19 06:09] varungandhi-src commented on #29857
See 'docker run --help'.

Hi, the problem seems to be that the Docker daemon isn't running. The way Docker works is that there needs to be a daemon running in a background, and a `docker run` command will try to connect to the daemon when you try to start a container. If the daemon isn't running, then the `docker run` command will fail with the error you're seeing.

It seems like a Docker bug that

[2022-01-19 06:14] varungandhi-src opened #29908 "Get rid of per-binary pop-ups on macOS when using sg start"
When running `sg start` on macOS recently, I and other folks have been seeing multiple pop-up modals (one per binary which changed, IIUC):
[code]
You need to tediously click through all of them. This is an unnecessary bit of friction.

I think this may be because of the firewall settings required for SoC2. I haven’t changed OS versions recently, but I did change that setting. https://discussions.a

[2022-01-19 08:22] keegancsmith commented on #28680
Nice find @chrismwendt, thank you. FYI we are introducing a repo which is 10x the scale of megarepo soon. However, it will only be on k8s.sgdev.org. This is to simulate the scale we know a prospective customer is at.

[2022-01-19 08:26] ryanslade commented on #28243
Yep, I think that use case will be covered by https://github.com/sourcegraph/sourcegraph/issues/27332

[2022-01-19 08:26] #28243 closed

[2022-01-19 08:48] keegancsmith commented on #27520
The problem here is `repo:contains.commit.after(November 1 2020)` filter. We don't have an efficient way to implement this (yet). It isn't in our near term to fix this performance problem at the scale of sourcegraph.com. If you remove that you should start getting results back ordered by repository rank (star count). Note: We will then only search repos in our "global index", which are repos with

[2022-01-19 09:23] #29483 closed

[2022-01-19 10:50] #29551 closed

[2022-01-19 11:44] ryanslade commented on #20312
@stefanhengl I think this can be closed now

[2022-01-19 12:05] jhchabran commented on #21130
@davejrt quick heads up, I did a round of tests with https://verdaccio.org/ and https://github.com/stackdumper/npm-cache-proxy and it did not yield significant improvements, in the case of Verdaccio, it even came with errors fetching some packages was overall slower than without any cache.

My general sentiment, is that https://github.com/gencer/cache-buildkite-plugin is a more sensible approach a

[2022-01-19 12:43] #29729 closed

[2022-01-19 13:25] #29900 closed

[2022-01-19 14:13] ryanslade opened #29913 "Add explicit API for sub-repo permissions"
For now we'll add a simple API that allows adding raw rules for a user / repo combination.

This will give us some flexibility in the future to support explicit permissions from customers and also allows
us to more easily write integration tests.

[2022-01-19 14:34] #28588 closed

[2022-01-19 14:34] #28585 closed

[2022-01-19 14:34] #29835 closed

[2022-01-19 14:40] #29838 closed

[2022-01-19 15:05] malomarrec opened #29915 "Bitbucket data center test report"
TL;DR: all tested functionalities works. Setup and docs are sometimes unclear.

My primary goal is to verify that Batch Changes is compatible with Bitbucket Data Center, but I noted other UX details along the way.

1) I was able to connect BBDC to Sourcegraph, using the "Bitbucket server" code host option.
Friction: it was unclear if I had to use Bitbucket.org or Bitbucket server as the codehost t

[2022-01-19 15:11] benvenker opened #29916 "WIP - Improve navigation experience in the app"
This is a WIP epic that identifies several navigation issues within Sourcegraph. Because this experience continues to be surfaced as painful for customers, but is not caused by a single issue, I'd like to bucket everything here, and then we can break them out into individual issues.

## Interacting with repositories
e.g., on https://sourcegraph.com/github.com/facebook/react-native
- If I open a fo

[2022-01-19 15:25] asdine commented on #29014
Hey @emchap, I'm still working on the Tinder P1 issue and will probably be busy until the end of the week. Do you think the customer can wait until then?

[2022-01-19 15:47] coury-clark opened #29918 "insights: global capture groups cannot select time interval"
In the creation / edit page the time interval selector is disabled for global capture group insights. This should be enabled the same as all other search insights.

<img width="850" alt="image" src="https://user-images.githubusercontent.com/5090588/150165528-ad827478-6ba5-4c4b-92db-d5dc0d4044ae.png">

[2022-01-19 15:58] abeatrix commented on #29699
@jjinnii Added 1rem of space between the button and the repo header. Let me know if this looks ok (it's an easy change so feel free to let me know if you want to play around with the spacing!)
<img width="2196" alt="Screen Shot 2022-01-19 at 7 56 12 AM" src="https://user-images.githubusercontent.com/68532117/150167385-4e0151f6-9d30-4e4f-8045-35990bce3950.png">

[2022-01-19 16:09] tjkandala commented on #28973
Hello! I left a comment on @philipp-spiess's PR that may be addressable in the code intel extension(s):

I haven't tested this myself but I'm 90% confident that this is the issue.

I also wonder why implementations are handled in the extensions themselves, unlike definitions and references. Read:

I think it makes more sense to have all the types of locations be built into Sourcegraph and to have

[2022-01-19 16:17] #29703 closed

[2022-01-19 16:28] coury-clark opened #29922 "insights: commit index has duplicate revisions across different repos"
While debugging an issue with a Code Insight, I ran across a problem where the commit index had some duplicate revisions across multiple repositories. In all of the duplicates they were paired (repository X, Y shared a revision). I observed this both locally and on k8s-dogfood.

The result was a search that was queued with a revision that did not exist in the repository, and a broken insight. Slac

[2022-01-19 16:40] mrnugget commented on #28973
Thanks for the investigation and thorough replies/comments, @tjkandala and @philipp-spiess! I'm new to code-intel and really new to Sourcegraph extensions (and that part of our frontend codebase), so I can't match the thoroughness here, sorry! 😄 I'll try to investigate though.

Will bring this up in @sourcegraph/code-intel!

I think it's because of [this thread in Slack](https://sourcegraph.slack.

[2022-01-19 16:42] #29918 closed

[2022-01-19 16:58] bobheadxi commented on #29717
Linking for context, presumably all issues are in https://github.com/sourcegraph/sourcegraph/issues/29724

[2022-01-19 17:00] bobheadxi commented on #29718
Linking for context, presumably relevant issues are now in https://github.com/sourcegraph/sourcegraph/issues/29724

[2022-01-19 17:05] tjkandala commented on #28973
No problem, I always appreciated your bug reports and attention to detail from the other side, can't wait to see if applied here :)

LOL🤦‍♂️. I was definitely more optimistic about the "generic location provider" concept then.

Cool, so I kind of overreacted then to the complexity of location providers. It doesn't seem to affect DX for most extension use cases. I think if the quick fix I suggested

[2022-01-19 17:13] malomarrec commented on #29475
Test report:
https://github.com/sourcegraph/sourcegraph/issues/29915

[2022-01-19 17:14] jjinnii commented on #29699
Looks amazing, thanks @abeatrix !

[2022-01-19 17:38] abeatrix commented on #29837
@jjinnii I'm currently working on this and want to see if you think this will also be a good place to add the Saved Searches to the Recent History Sidebar? I am still bugged by the fact that the users can add save search via the extension but no one to retrieve them  😆

[2022-01-19 17:52] #29632 closed

[2022-01-19 18:02] Joelkw opened #29925 "insights: Copy on capture group insights is wrong if check all repos box"
We need to make [this same fix](https://github.com/sourcegraph/sourcegraph/issues/29265) for [this fix](https://github.com/sourcegraph/sourcegraph/pull/29923) – not only should the step values be edited, the copy needs to be correct. Right now it says 7 but should say 12 (and 11 months / 6 months).

![image](https://user-images.githubusercontent.com/11967660/150188081-905cde73-1003-47eb-9519-78064

[2022-01-19 18:03] adeola-ak commented on #29863
- [ ] More features and filters?

[2022-01-19 19:05] #29925 closed

[2022-01-19 19:09] Joelkw opened #29932 "compute: have capture groups search match the case sensitivity defaults of UI search"
[This insight](https://k8s.sgdev.org/insights/dashboards/ZGFzaGJvYXJkOnsiSWRUeXBlIjoiY3VzdG9tIiwiQXJnIjo3MjcyMDF9) and [this API query](https://k8s.sgdev.org/api/console#%7B%22variables%22%3A%22%7B%5Cn%20%20%5C%22query%5C%22%3A%20%5C%22count%3Aall%20joelk(%5B%5C%5C%5C%5Cw%5D)%20patternType%3Aregexp%5C%22%5Cn%7D%22%2C%22operationName%22%3A%22compute%22%2C%22query%22%3A%22query%20compute(%5Cn%5Ct%24

[2022-01-19 19:15] kevinwojo opened #29933 "Release tool does not update the front page of sourcegraph.com"
![image](https://user-images.githubusercontent.com/9081680/150198825-c69941af-0ed5-4639-9a6d-27a599bed34d.png)

We are on version 3.35.1 ... there is a release tool that looks for version numbers to update them as part of the release's batch change.

[2022-01-19 19:24] emchap commented on #29014
@asdine Yes, if we need to tackle the p1 it should take precedence. Would love to have this tested next week if we can, though.

[2022-01-19 19:42] benvenker opened #29936 "Interacting with repositories"

[2022-01-19 19:42] benvenker opened #29937 "Escape button doesn't remove focus from search bar anymore"

[2022-01-19 19:43] benvenker opened #29938 "Navigating references in the References pane"

[2022-01-19 19:49] macraig commented on #29852
@benvenker started aggregating other navigation issues here: https://github.com/sourcegraph/sourcegraph/issues/29916

[2022-01-19 20:16] coury-clark commented on #21778
This has been implemented and released in 3.35

[2022-01-19 20:16] #21778 closed

[2022-01-19 20:23] #29933 closed

[2022-01-19 20:53] taylorsperry commented on #29763
I left a comment in the doc. I would think that what you've added to the top of the doc would satisfy an auditor in terms of the "feature definition" requirement.

[2022-01-19 21:19] rvantonder commented on #29828
@tsenart can you share your script to reproduce this issue? I wanted to write up an issue to track the bug but need a reliable way to reproduce so I can understand the problem exactly.

[2022-01-19 21:26] vovakulikov opened #29943 "Code Insights: Show how many dashboards have the current editing insight"
## Context

At the moment we have a possible security issue when a user shared a dashboard via public org and other users took one or more insights from this dashboard to their private dashboards. Then if the first user (or any other users actually) takes this previously shared dashboard back other users who took insights from this dashboard still can see those insights.

But the problem is if som

[2022-01-19 21:27] rrhyne opened #29944 "Add team page and beta form to post sign-up"
Currently, users can join the Organizations on Cloud beta list through a form linked at the top of the site. These form submissions are a valuable source of leads. Additionally, in the future, we will want to allow users to create a team and invite their users to it as part of the sign-up flow.

If we combine these two concepts together we have an opportunity to generate additional leads while exp

[2022-01-19 21:31] abeatrix commented on #29837
This is what I have so far. Should I go ahead and add Search Type to the top or wait for your confirmation on Save Searches?
![image](https://user-images.githubusercontent.com/68532117/150216916-8390da24-e2df-4e35-8e84-91a61309967b.png)

<img width="1866" alt="Screen Shot 2022-01-19 at 1 28 20 PM" src="https://user-images.githubusercontent.com/68532117/150216678-9ac6eb17-0dd6-4b89-936a-f24bad93dff

[2022-01-19 21:41] taylorsperry commented on #29724
I don't think these are all GN-105, are they?

[2022-01-19 21:58] limitedmage commented on #27161
@benvenker @marisak What is the plan for creating this documentation?

[2022-01-19 22:13] vdavid commented on #27100
@rrhyne questions about the metrics collected and sent in the on-prem pings:

The simplest way would be to send the bare aggregate metrics, which would be four numbers:
- 1\. number of CTAs shown on the file page
- 2\. number of CTAs clicked on the file page
- 3–4. same for the search results page.

But this probably would not be very helpful. So we could make some breakdowns. Our two ideas with E

[2022-01-19 22:26] jjinnii commented on #29837
[Added "Saved Search" section](https://www.figma.com/file/EXXvfxVwtCIsrbQez4rPlF/VS-Code-Extension-MLP?node-id=1287%3A2397) in sidebar for _home page view only_. This section will only be exposed once a user has successfully created a saved search and/or their Sourcegraph account already had saved searches after authentication.

For MVP -- we will not have a pathway to edit a Saved Search within t

[2022-01-19 22:26] jjinnii commented on #29841
Work being captured in related [issue 29837](https://github.com/sourcegraph/sourcegraph/issues/29837)

[2022-01-19 22:38] jjinnii commented on #29697
@tjkandala [Re: thread in Slack](https://sourcegraph.slack.com/archives/C01LZKLRF0C/p1642618752130300?thread_ts=1642609696.126200&cid=C01LZKLRF0C) - would you be able to provide insight into what's possible with the file sidebar in this issue? Sorry if I'm making you repeat information - I vaguely remember me asking a very similar question awhile ago 😓

cc: @abeatrix

[2022-01-19 22:39] jjinnii commented on #29703
Amazing work, thanks so much @philipp-spiess !!!

@abeatrix @tjkandala lmk if you need me to create a separate issue for this, but all ["Create an account"](https://www.figma.com/file/EXXvfxVwtCIsrbQez4rPlF/VS-Code-Extension-MLP?node-id=1371%3A2976), ["Sign up for Sourcegraph"](https://www.figma.com/file/EXXvfxVwtCIsrbQez4rPlF/VS-Code-Extension-MLP?node-id=246%3A11) buttons should now link to this

[2022-01-19 23:13] Joelkw opened #29949 "insights: order capture group series key alphabetically/ascending?"
![image](https://user-images.githubusercontent.com/11967660/150233233-a202fd94-5661-4ac3-a8ad-c8a90074610a.png)
The tooltip displays in count order, which is fine, but perhaps the key legend should display alphabetically so that a user can scan and see the versions present and trust the first one is the earliest and the last one is the latest version, in order?

[2022-01-19 23:20] #29879 closed

[2022-01-19 23:34] coury-clark commented on #22524
Closing this issue since we are now tracking this via project board https://github.com/orgs/sourcegraph/projects/200/views/7

[2022-01-19 23:34] #22524 closed

[2022-01-19 23:36] coury-clark commented on #23784
Deprecated by a refactor

[2022-01-19 23:36] #23784 closed

[2022-01-19 23:41] coury-clark commented on #25647
Virtualized dashboards were deprecated as a concept in the V1 GraphQL API.

[2022-01-19 23:41] #25647 closed

[2022-01-19 23:42] coury-clark commented on #25660
Virtualized dashboards have been deprecated in V1 of the GraphQL API.

[2022-01-19 23:42] #25660 closed

[2022-01-19 23:43] coury-clark commented on #26062
This issue is addressed for standard search by https://github.com/sourcegraph/sourcegraph/pull/29941

[2022-01-19 23:45] #26800 closed

[2022-01-20 00:52] abeatrix commented on #29837
Added Saved Search section for homepage view only for logged in users:
<img width="2258" alt="Screen Shot 2022-01-19 at 4 49 42 PM" src="https://user-images.githubusercontent.com/68532117/150242366-431a5259-fd8d-4a18-b1e5-2757c2935d7a.png">

For non-logged in users
<img width="2258" alt="Screen Shot 2022-01-19 at 4 50 43 PM" src="https://user-images.githubusercontent.com/68532117/150242334-8ed7bb1

[2022-01-20 00:54] abeatrix commented on #29841
Recent history has been separated from the search sidebar:

Sidebar on homepage:
<img width="2258" alt="Screen Shot 2022-01-19 at 4 50 43 PM" src="https://user-images.githubusercontent.com/68532117/150242545-57707d5e-6fdd-43da-b5cf-a749a83aad33.png">

Sidebar on search page:
<img width="2258" alt="Screen Shot 2022-01-19 at 4 53 06 PM" src="https://user-images.githubusercontent.com/68532117/1502425

[2022-01-20 01:50] Joelkw opened #29954 "Insights: In-product landing page tracking issue placeholder"
Placeholder.

**Note: due to launch considerations, don't post full screenshots to this issue – keep in Figma.**

[2022-01-20 01:51] Joelkw opened #29955 "Insights: Sourcegraph.com landing page placeholder"
**Note: avoid posting full screenshots to GH due to launch considerations**

Tracking issue

[2022-01-20 02:01] Joelkw opened #29956 "Insights: Capture Groups v2 and Polish Tracking issue"
### Plan

We shipped a terrific prototype v1 but we have some key UI features we need to complete to ensure capture group insights are widely usable.

Examples:

- [ ] What happens if there are more than 20 matches? The UI should indicate this
- [ ] Can we keep sorting of the "top 20" deterministic?
- [ ] Should we let you select a wider range than 20?

### Tracked issues

#### Legend

- 👩 Custome

[2022-01-20 02:02] Joelkw opened #29957 "Insights capture groups: click-in diff should match the pattern"
If you click into a capture group insight, the search takes you to a diff search for the whole string, like `version ([\d])` rather than what you clicked, like `version 6`. We should detect what you clicked and populate the search on click-in that way.

[2022-01-20 02:07] Joelkw opened #29958 "Insights: click to turn on/off a line series"
Needs design.

[Motivated by capture groups insights but should apply to all insights. ](https://sourcegraph.slack.com/archives/C014ZCKMCAV/p1642023166106800)

Provide a way to turn on/off lines on a graph to dig in further.

The y-axis should update to adjust to the remaining lines (so if you remove a big high-count line, the y-axis might shrink to make it easier to see the others).

[2022-01-20 02:09] Joelkw opened #29959 "insights: dashboard Pings placeholder"
To finish these https://github.com/sourcegraph/sourcegraph/issues/27214 but they are also part of current iteration. We'll improve our tracking in the future (and our docs updating when we ship changes!)

[2022-01-20 02:12] Joelkw opened #29960 "Insights placeholder: dashboard keep order and size"
Local order and size persistence was implemented by https://github.com/sourcegraph/sourcegraph/pull/50301

A remaining follow-up for this problem is adding a remote sync logic to keep size and order in public dashboards for more than one user

[2022-01-20 03:27] unclejustin commented on #29949
Leaving a note to account for ordering 1, 2, 9, 10. Such that the order does not come out 1, 10, 2, 9.

[2022-01-20 03:44] bobheadxi commented on #29724
Many are part of [RFC 568](https://docs.google.com/document/d/1d0o1O1ReazXKoDB_MANo1MuWfqBlgeU-5VZAAZRGamc/edit#heading=h.imubsmgidz8m) which pertains to SOC 2, and from what I understand the rest are also all testing-process related which seems covered by GN-105?

[2022-01-20 07:27] #29434 closed

[2022-01-20 08:02] stefanhengl commented on #20312
Agreed

[2022-01-20 08:02] #20312 closed

[2022-01-20 08:36] varungandhi-src commented on #29908
[Official docs:](https://support.apple.com/en-in/HT201642)

[2022-01-20 09:10] indradhanush opened #29963 "Find references fails to list call site of method implementation of an interface in Go"
- **Sourcegraph version:** 126362_2022-01-20_993c5a076320

#### Steps to reproduce:

1. Navigate to [GitRepoSyncer.Fetch](https://sourcegraph.com/github.com/sourcegraph/sourcegraph@47b94fb1019182272db6aa853b34a6bfceff91fd/-/blob/cmd/gitserver/server/vcs_syncer.go?L112:25&subtree=true#tab=references) on sourcegraph.com
2. Click "Find References"

#### Expected behavior:

Call site `syncer.Fetch` fr

[2022-01-20 09:25] #27660 closed

[2022-01-20 09:36] courier-new commented on #28939
I decided to think about these URLs by exploring the user flows that make use of them. Rather than hold myself to the constraints of our existing URL scheme and high-level page layout, I decided to aim for something a bit more radical and approached this closer to the angle of starting from scratch. This helped me break down some of the issues we've run into with multiple nested levels of tabs and

[2022-01-20 10:23] AlicjaSuska commented on #29265
@Joelkw @unclejustin I think we should update the copy slightly:

'This insight provides [7/12] datapoints: past [x units] of data, one datapoint every [unit].'

Note: there is a special case for [36 moths copy](https://www.figma.com/file/pF4IGUhCYTj9JyIWILhXrC/Fix-incorrect-copy-update-on-timeframe%2C-and-modify-for-backend-availability-%2329265-%5Breview%5D?node-id=1146%3A2545) (provide years eq

[2022-01-20 11:20] #29860 closed

[2022-01-20 11:34] mrnugget commented on #29908
Commenting here to say that I found this on StackOverflow and am not sure whether codesigning will get rid of the popups:
![screenshot_2022-01-20_09 29 45@2x](https://user-images.githubusercontent.com/1185253/150331293-deba93a3-c245-4d3f-8286-298c1378dc9f.png)

[2022-01-20 12:02] vovakulikov commented on #29265
@AlicjaSuska @Joelkw @unclejustin  I've found that our current custom algorithm about transforming (rounding) months into years, weeks into months and so on isn't perfect. For example, with 36 months equal to 3 years everything is good but what if we got interval like 8 days (for 7 points it's 48 days) I would say we probably should round this to string "about 2 months"

I would suggest taking a l

[2022-01-20 12:11] olafurpg opened #29967 "lsif-node: LSIF Typed support"
Me and @varungandhi-src have paired on an experiment to implement a fresh lsif-node indexer that emits LSIF typed directly. Early results indicate that this approach might be promising. A rough overview of items we want to validate before committing to this rewrite:

- [x] rough navigation within a local file
- [ ] testing infrastructure
- [ ] hover messages
- [ ] cross-file navigation
- [ ] cross

[2022-01-20 12:41] mrnugget commented on #29908
Can confirm. `sudo codesign` requires typing in password and clicking "accept" whenever the binary changes.

https://user-images.githubusercontent.com/1185253/150340591-96d8d39b-4718-47f3-90cc-52f1f24be894.mp4

[2022-01-20 13:29] eseliger commented on #28939
Nice, like that proposal.

I wonder if there also needs to be a route that allows to edit the existing spec somehow 🤔

Other than that, I think this is great and we can get started implementing this as a next step. Who should own that?

[2022-01-20 13:35] AlicjaSuska commented on #29536
I've updated the design to accommodate for saving layout per dashboard. Please, see the [Loom](https://www.loom.com/share/95b69e270fdb43469ccb7c0f1313eb37) and comment directly in [Figma](https://www.figma.com/file/PxTs1PWlqVpceomQRV8rUt/?node-id=246%3A11).

I've also covered how the interface would look like with tabs (for the 'Getting started' page) and the 'Assign insights' button taken out of

[2022-01-20 13:41] philipp-spiess commented on #29789
Hey @nicksnyder! Did you do anything specific to create this case? I tried a few cases but the checkboxes always seem to be in the right color for me with the Sourcegraph extension running.

Given that it's black I figured it might have to do with dark mode but any combination between GH and/or system dark mode seems to work fine.

[2022-01-20 14:01] mrnugget commented on #29963
@Strum355 and I dug into this a bit and looks like the method that implements an interface only has a single reference, itself.

![screenshot_2022-01-20_14 58 08@2x](https://user-images.githubusercontent.com/1185253/150352997-045d9267-f682-41de-ac9a-702084160b50.png)

More investigation needed

[2022-01-20 14:50] jjinnii commented on #29837
Thanks @abeatrix ! Is it possible for us to expose just the name (description) of the saved search instead of the full query?

[2022-01-20 14:51] jjinnii commented on #29841
Looks great thank you!

[2022-01-20 14:54] indradhanush opened #29979 "Avoid updating a bunch of repos at the same time"
Issue created from investigations of https://github.com/sourcegraph/customer/issues/622.

[2022-01-20 14:58] indradhanush commented on #29979
Fixed by #29973.

[2022-01-20 15:24] #26317 closed

[2022-01-20 15:40] abeatrix commented on #29837
Thanks for pointing that out @jjinnii I've updated to expose just the name of the searches instead of the full query.

<img width="1814" alt="Screen Shot 2022-01-20 at 7 38 31 AM" src="https://user-images.githubusercontent.com/68532117/150371030-e01192d0-ab1c-4cb4-a93d-d0e55610512b.png">

[2022-01-20 15:41] daxmc99 commented on #28082
Flow for pre-prod:
1. Separate branch "pre-prod" which has the newest images.
2. Create automation to merge the pre-prod branch to release - ensure that the change is only an image change.
3. Validate the changes by dumping the entire kustomize YAML build (should allow for easier to view diffs, expect to see mostly image only updates)

Still need to fine tune the promotion step to pre-prod.

[2022-01-20 15:42] caugustus-sourcegraph commented on #29208
The 3.36 release includes support for the migrator container (though it's not used by default). This container can use a separate set of credentials from frontend to perform DDL transformations, so that frontend can run as a less-privileged user.

Slightly more context (mentioned in the linked issue, but this is the most relevant comment):
https://sourcegraph.slack.com/archives/C02E4HE42BX/p163969

[2022-01-20 15:48] daxmc99 opened #29981 "Recreate secrets for pre-prod"
For pre-prod to be fully functional we need to replicate or recreate the majority of secretes we have in prod.

[2022-01-20 16:10] vovakulikov opened #29982 "# of unique dashboard editors per week (editors have created/deleted a dashboard, added/removed insights to a dashboard, or renamed a dashboard)"

[2022-01-20 16:32] tjkandala opened #29984 "Address strategy for using zustand stores in shared components"
As the VS Code extension matures, we may pull in web components (e.g. `<SearchSidebar>`) that use zustand stores for, among other benefits, performance reasons. These stores may have web-specific logic.

See [discussion](https://github.com/sourcegraph/sourcegraph/pull/29773#discussion_r786609835) on the PR for initial `search` and `search-ui` package creation. We currently solve this problem by pa

[2022-01-20 16:34] courier-new commented on #28939
I suppose there's no reason you couldn't click an "Edit" button from that spec view that opens `/{users|orgs}/:ownerName/batch-changes/:name/edit` pre-filled with the batch spec YAML from the existing spec you just came from!

I'm cool with owning this unless you're super excited about doing it yourself! 🙂 I have some useful work for the page layout part of this stashed on a branch from before the

[2022-01-20 16:41] asdine commented on #29979
#29973 has been merged

[2022-01-20 16:41] #29979 closed

[2022-01-20 16:41] eseliger commented on #28939
Yeah no that makes sense to me, feel free to take it :) Was just gonna make sure.

[2022-01-20 16:44] abeatrix commented on #29703
@philipp-spiess Looks great!!

@jjinnii Is `https://sourcegraph.com/sign-up?editor=vscode=1&showEmail=true` the correct path to use?

[2022-01-20 16:47] jjinnii commented on #29837
Looks great! Thanks @abeatrix . Curious -- what is the "Show more" button in the sidebar? I don't believe I've seen that before. 🤔

[2022-01-20 16:58] erzhtor commented on #29890
@rrhyne, can you, please, update all content/links in [Figma languages](https://www.figma.com/file/uq7yt5ETrrXiHjcb6dfHSi/Getting-started-checklist?node-id=282%3A8933)?

[2022-01-20 17:05] jjinnii commented on #29703
@abeatrix Do we need to show the "showEmail=true" for a technical reason? It seems like sourcegraph's default signup page just has the URL: https://sourcegraph.com/sign-up. Perhaps we can cut off our path after vscode if possible?

[2022-01-20 17:11] umpox commented on #27680
We are planning to complete this migration with a codemod and entirely remove these classNames. I think this lint rule is no longer required. It'll be obvious not to use the original classNames as they won't have any styles attached.

Closing.

[2022-01-20 17:11] umpox commented on #27668
We are planning to complete this migration with a codemod and entirely remove these classNames. I think this lint rule is no longer required. It'll be obvious not to use the original classNames as they won't have any styles attached.

Closing.

cc: @sourcegraph/frontend-platform

[2022-01-20 17:11] #27668 closed

[2022-01-20 17:11] umpox commented on #27688
We are planning to complete this migration with a codemod and entirely remove these classNames. I think this lint rule is no longer required. It'll be obvious not to use the original classNames as they won't have any styles attached.

Closing.

cc: @sourcegraph/frontend-platform

[2022-01-20 17:11] #27688 closed

[2022-01-20 17:16] abeatrix commented on #29837
I was trying to display user's 5 most recent repositories but somehow it only display 1 with 4 hiding so clicking on `show more` will show more of the recent repos searches. I will work on it to make sure it displays `5` at the beginning if that sounds good to you?

[2022-01-20 17:18] abeatrix commented on #29703
@jjinnii i just saw the `showEmail=true` part from the @philipp-spiess's [PR](https://github.com/sourcegraph/sourcegraph/pull/29744#issue-1103612339) so I just want to confirm with you on which URL to use 😆

[2022-01-20 17:33] philipp-spiess commented on #29703
Yeah this is because right now the email field is only shown as a "second step" after this screen:

![Screenshot 2022-01-20 at 18 32 41](https://user-images.githubusercontent.com/458591/150391340-7e3b37f7-06ab-44b6-84d9-6f13131915e1.png)

I copied this from the existing cloud sign up, @slimsag probably has more context :)

[2022-01-20 17:50] unclejustin commented on #29774
Is the proposed solution here to just surface a user-friendly error message?

[2022-01-20 17:53] unclejustin commented on #29943
Do we have this number presently available? Can we get it back in the existing "get insight" query or do we have to make another?

[2022-01-20 17:56] #29705 closed

[2022-01-20 17:56] ryanslade opened #29988 "Return path data in CommitMatch"
In order to support sub-repo permissions filtering we need to return path information for commit / diff search results.

These should be included on `CommitMatch` as a slice of paths: https://github.com/sourcegraph/sourcegraph/blob/59b2e9e19199152708020ede3508c07d89f3e8a0/internal/search/result/commit.go#L15

Ideally, when we make a commit search request via the `Search` endpoint on gitserver we s

[2022-01-20 17:58] ryanslade commented on #29988
@camdencheek @mollylogue I think this is enough context to start with, anything obvious I missed?

[2022-01-20 18:11] Joelkw commented on #29530
Details:
- This is primarily for our internal security teams and CE teams filling out security questionnaires and can go with the rest of our docs
- There aren't any specific questions or guidelines from the security team, but we want to document the expectations and how it's supposed to work
- Context: "I'm a security-focused stakeholder at a customer and need to know how this is supposed to beha

[2022-01-20 18:17] Joelkw commented on #29943
Needs a new GraphQL node, frontend side is acceptable.

[2022-01-20 18:17] Joelkw commented on #29943
Should be split into two separate issues by frontend/backend @coury-clark @CristinaBirkel

[2022-01-20 18:19] Joelkw commented on #29774
Let's determine this is not a security issue at least, even if we don't fix fully – validate that this isn't a problem, then re-evaluate whether worth fixing.

[2022-01-20 18:20] Joelkw commented on #29502
Known logging issue but minimal customer end impact. Most likely due to our messing with the database on dogfood.

[2022-01-20 18:36] jjinnii commented on #29837
@abeatrix That sounds great! I don't particularly care about the flat number (4-6 is fine), but I think having "show more"'s for each section would get annoying interaction -wise fast for the user :)

[2022-01-20 18:39] coury-clark opened #29990 "insights: document experimental insights streaming search"
Document experimental features available for insights search [Slack context](https://sourcegraph.slack.com/archives/C014ZCKMCAV/p1642703811244800?thread_ts=1642695560.238900&cid=C014ZCKMCAV)

[2022-01-20 18:43] rrhyne commented on #29890
Done!

[2022-01-20 18:49] jjinnii commented on #29703
Okay really not a big deal! If we can remove that "showEmail=true", great -- if it's there for a reason, then no problem at all.

[2022-01-20 18:53] abeatrix commented on #29837
Agree! Just to clarify: do you want me to remove the show more button for all sections and set it to a flat number (say 5)? or do you want me to keep it for one of the sections?

[2022-01-20 18:55] mollylogue commented on #27498
Question: @ryanslade do we want to add filtering in [git.ResolveRevision](https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/blob/internal/vcs/git/revisions.go?L66:6) as part of this?

[2022-01-20 19:05] jjinnii commented on #29837
Hmmmm do you think we could just introduce a scrollbar (which we already have), and then just cap results for all sections to 15-20? I think like google, after that point, we don't need to store more history/offer a "show more" to look for a result that's further back.

To further clarify, the section can show five repo results, after that point a user can scroll down to view up to 15-20 more past

[2022-01-20 19:57] kevinwojo opened #29993 "GCP SSH Permissions and Service Account Access"
Background: https://sourcegraph.slack.com/archives/C02E4HE42BX/p1642707752067900

I manually granted Jason access to the "instance" service account user for managed instances. I suspect there is a cleaner way to do this, but I don't really have a ton of insight into how Sourcegraph manages groups and access for GCP.

Perhaps this is an IT Ops question or whomever owns our access and control proces

[2022-01-20 19:58] rrhyne commented on #27100
Our goal with this project is to improve monthly and daily active users through the promotion of the browser and IDE extensions. Theoretically, if more users are aware of and install the browser extension and/or IDE extension, we should see a percentage of improvement in the installations MAU to DAU score.

I believe this requires tracking by user.

The process to generate pings requires an RFC. [

[2022-01-20 20:38] jplahn opened #29994 "Update Sourcegraph Perforce docs"
Update https://docs.sourcegraph.com/admin/repo/perforce with information on sub-repo permissions and p4-fusion.

[2022-01-20 20:47] abeatrix commented on #29837
Yea I think what you suggested is great and makes sense. I really do not see the points of going all the way back to to check my search history, and I doubt people will be working with more than 5-10 repos at a time.

[2022-01-20 20:58] jjinnii commented on #29837
Great! Let's go with that implementation then :)

[2022-01-20 22:11] jjinnii commented on #13722
Updated Alicja's original designs to reflect current UI. [Upon selection in dark mode](https://www.figma.com/file/1OJmsXQtb9mnYBdlyRXtgx/%2313722-Keep-'References'-panel-open-after-clicking-on-one-reference-%5BReview%5D?node-id=209%3A6788), bg color for selected reference is color-bg-3/dark. [For light mode](https://www.figma.com/file/1OJmsXQtb9mnYBdlyRXtgx/%2313722-Keep-'References'-panel-open-af

[2022-01-20 22:16] abeatrix commented on #29837
Sounds good. Updated as discussed:
<img width="1831" alt="Screen Shot 2022-01-20 at 2 01 39 PM" src="https://user-images.githubusercontent.com/68532117/150429246-836dd113-4d8b-4365-9a73-8995d7e2f2e7.png">

[2022-01-20 22:58] jjinnii commented on #28903
This specific issue is in the scenario where there is no definition, but references. Few questions on potential permutations of this issue:

- Is it possible for there to be a definition, but no references?
- Is it possible for there to be def/ref, but no tooltip?
- In the case of no def, is there something additional we can communicate to the user? (Why there is no def, etc.)

[2022-01-20 23:12] efritz commented on #28903
I'll cc @olafurpg for domain knowledge as well, but I'll try to answer as best I can:

Yes, very commonly. This could be a top-level export that's meant to be consumed by another repository/project.

If you mean could there be _references_ but not _definition_, then answer is also yes! We could know about a symbol from repo A inside repo B, and repo B has intel but repo A doesn't. Then we would be

[2022-01-20 23:14] benvenker opened #30002 "Allow selecting of text in the search results"
For example, if I'm hovering over an individual search result and I click, it should take me to the result file like normal.

However, if I hold the mouse button down, it should let me select text in the result instead of clicking on the result.

[2022-01-20 23:15] #28973 closed

[2022-01-20 23:31] benvenker opened #30003 "Delete search stack items"
Allow users to:
- [x] individually delete items in the stack ([ProductBoard](https://sourcegraph.productboard.com/feature-board/3965875-notebooks/features/11507178/insights))
  - https://github.com/sourcegraph/sourcegraph/pull/30687
- [ ] Select/unselect one or more items with Cmd+click and...
- [ ] Select a range of stack items with shift+click and bulk deleting selected items with backspace and

[2022-01-20 23:31] benvenker opened #30004 "Clear search stack"
- On button click, clear all items out of the stack

[2022-01-20 23:32] benvenker opened #30005 "Allow selecting which items go in Notebook creation"

[2022-01-20 23:44] abeatrix commented on #29826
@jjinnii No problem! I should have asked before 😅 but is there a way to check the spacing you are using on your figma files?

[2022-01-20 23:45] benvenker opened #30007 "Investigate adding code intel in Notebook search results"
We think that doing this for normal search results will make this work for Notebooks search results too. We should do both, but if we have to choose the priority is adding this to Notebooks first (if it can be done before GA launch).

[2022-01-20 23:49] benvenker opened #30008 "Auto-focus markdown input on new block creation"
ProductBoard insight from @coury-clark: https://sourcegraph.productboard.com/feature-board/3965875-search-notebooks/features/11507285/insights

[2022-01-20 23:52] benvenker opened #30009 "In stack, don't let search query/file items wrap below icons"
Seems that anytime the content of a line needs to wrap, its icon stays on its own line

![image.png](https://images.zenhubusercontent.com/5467e9ba7c6ccc6277a5f103/6e3d091b-61f5-488c-afc2-d2b2f340a3cc)

[2022-01-21 00:13] benvenker opened #30010 "Tab doesn't autocomplete code block typeaheads"
Tab doesn't autocomplete the typeahead like it does on regular search (but enter does - which we should also keep) and I think we want to have that experience be the same here.

[2022-01-21 00:14] benvenker opened #30011 "Unclear error messages in the file input in code block"
![image.png](https://images.zenhubusercontent.com/5467e9ba7c6ccc6277a5f103/7b77f31b-ed76-4496-aead-1256277bdf4f)

[2022-01-21 00:15] benvenker opened #30012 "Add line range to code block sometimes doesn't work"
Often, when I click add line range, the page sort of scrolls down but nothing actually happens and I have to click it twice. This seems to mostly happens after I've already added a couple and am farther down the screen.

[2022-01-21 00:25] danieldides opened #30013 "migrator: codeinsights-db cannot be migrated without other databases configured"
## Environment
Minimal `docker-compose.yaml` to test with:
[code]

Run with: `docker compose -f /path/to/file.yaml up` and down with `docker compose -f /path/to/file.yaml -v down --remove-orphans` to reset between tests.

## Migrating `frontend` only:
Commenting out the `CODEINTEL_` and `CODEINSIGHTS_` env vars and changing the `command` to `["up", "-db", "frontend"]` yields:

[code]
where the mig

[2022-01-21 00:30] benvenker commented on #28960
This may be moot now that we have the "run all" button...

[2022-01-21 00:31] benvenker commented on #28673
Closing as this is solved by query-based search contexts.

[2022-01-21 00:31] #28673 closed

[2022-01-21 00:52] abeatrix commented on #29826
This is what I have for now. I have updated to use vs code built-in color scheme for warnings and font (size and color). Please let me know changes are required, thanks Sara!

<img width="1860" alt="Screen Shot 2022-01-20 at 4 52 13 PM" src="https://user-images.githubusercontent.com/68532117/150445800-53f741c0-4428-4cec-9ca9-58ca5bc3d306.png">

<img width="1904" alt="Screen Shot 2022-01-20 at 4 25

[2022-01-21 01:08] Joelkw opened #30014 "insights: long capture groups tooltip overflows box"
![image](https://user-images.githubusercontent.com/11967660/150447089-cffae11d-3811-4948-957c-ecfbf6f6302c.png)
We should just truncate all tooltip rows to 1 line (trail them off with a `...`), and then assume if you need the full result it appears in the key, which does not truncate and is better for showing full sets. cc @AlicjaSuska

[2022-01-21 02:18] Joelkw commented on #29265
Thanks @AlicjaSuska! Good with me.

[2022-01-21 03:30] kevinwojo commented on #29208
I admittedly haven't tracked 3.36 as closely as I should've in terms of migrations. I think the main issue is that our migrations assume that the user has SUPERUSER permissions -> mainly the ability to CREATE (enable) extensions on the database and apparently even delete a ROLE.

To that end I've done some discovery in terms of codeintel and pgsql: https://docs.google.com/document/d/1BdzgBM53xSCcl

[2022-01-21 03:33] kevinwojo commented on #29208
I still need to test against a running instance of Sourcegraph

[2022-01-21 04:19] bobheadxi commented on #29894
@jhchabran I'm assigning you because I see you have a concrete proposal for a checklist in the RFC!

[2022-01-21 04:23] bobheadxi commented on #29719
https://github.com/sourcegraph/sourcegraph/pull/29927 and using these tags going forward would make it easier for us to request this review 👍

[2022-01-21 04:24] #29762 closed

[2022-01-21 08:08] attfarhan opened #30020 "Cookie info is not sent through to HubSpot when signing up to Cloud via oauth"
#### Steps to reproduce:

1. Sign up for a cloud account via GitHub or GitLab auth
2. If you have to log in, or approve a connection with Sourcegraph, the cookie values we send in https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/blob/enterprise/cmd/frontend/internal/auth/oauth/session.go?L93-94 do not get sent, because those cookies don't exist on GitHub/GitLab.

I'm not familiar enoug

[2022-01-21 09:10] ryanslade commented on #27498
No, I think we should leave that function as is. It's quite a fundamental method and I'm a bit worried about performance if we need to dig into the commit to get file lists too.

I also think that resolving to a commit doesn't leak anything private except the existence of a revision which is acceptable.

[2022-01-21 09:24] mrnugget commented on #13722
I stumbled upon the same thing yesterday and reading your comment today made me dig in: https://github.com/sourcegraph/sourcegraph/pull/30021

Keeping it open works now, but the problem is that the whole app reloads, including the references, which makes this feel not that great.

That's also the problem with implementing "Communicating to user what reference they're at". If the references are rel

[2022-01-21 09:47] mrnugget commented on #28903
Regarding this point and your reply to it @efritz

I'm wondering whether it isn't about showing something to the user in the hover. In the example GIF, I think, it would be fine to show the hover tooltip to allow the user to go to the references, but have no "definition" button.

[2022-01-21 10:10] umpox opened #30022 "Code Intel panel: General UX issues"
Example URL: https://sourcegraph.com/github.com/sourcegraph/sourcegraph@c6df1d96db729f11301e1eac84b814ad7916fa22/-/blob/cmd/frontend/graphqlbackend/batches.go?L486:20#tab=implementations_go

GitHub issue to track some known issues with the Panel UX.

## Known issues

### Loading behavior
Navigating directly to URL with panel open results in a layout shift:

<details>
  <summary>Example</summary>

[2022-01-21 12:58] #29913 closed

[2022-01-21 13:40] efritz commented on #28903
@mrnugget That seems intuitive to me 🤷

[2022-01-21 13:50] erzhtor commented on #29890
Hey @rrhyne , I still see "symbol search" links in all language examples, but you were requested to change it to (in the ticket description ☝️ ?

[2022-01-21 13:52] mrnugget opened #30029 "Patch release to fix broken LSIF uploads from executor"
@sourcegraph/delivery I am requesting the following commits be included in a patch release. They are already merged into `main`:

- 3ab8a0bf5a9512647442375df2066595e5d735d5

---

The intent of the questions below is to ensure we keep Sourcegraph high quality and [only create patch releases based on a strict criteria.](https://handbook.sourcegraph.com/engineering/releases#patch-releases) If you can

[2022-01-21 14:06] rrhyne opened #30030 "Custom sign-up pages should use getting started flow"
The VS Code sign-up page is built on the cloud sign-up page.

These users may need a Server-based installation. We should route users to the getting started sign-up flow, or produce a variant of this flow to help users determine what installation is right for them.

Also as part of this project:

* Determine the proper flow for invites... do invitations from Cloud automatically end up only in Clou

[2022-01-21 14:17] caugustus-sourcegraph commented on #29290
*Sourcegraph 3.36.0 has been published*

* Changelog: https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/blob/CHANGELOG.md#3-36-0
* Release batch change: https://k8s.sgdev.org/organizations/sourcegraph/batch-changes/release-sourcegraph-3.36.0

@caugustus-sourcegraph: Please complete the post-release steps before closing this issue.
Please also update outstanding patch requests, if releva

[2022-01-21 14:55] vovakulikov commented on #23003
Based on the latest sync with @AlicjaSuska for now we should focus more on https://github.com/sourcegraph/sourcegraph/issues/29943 and leave the broader discussions about sharing/permission for later.

[2022-01-21 15:51] coury-clark opened #30031 "insights: expose a reference count for insight view in the GraphQL API"
Insight View nodes in the GraphQL API should return a node that represents a count of the total occurrences of that view on dashboards. This count should be *global* and not permissions bound, so that users can simply know if the view has been shared elsewhere without knowing specifically where.

[2022-01-21 15:53] coury-clark commented on #29943
API issue #30031

[2022-01-21 16:17] philipp-spiess commented on #27156
@rrhyne Here are all the in-product links to `/sign-up` that I could find with various search queries:

| Code pointer | Screenshot  |
|---|---|
|[ExtensionRegistry.tsx](https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/blob/client/web/src/extensions/ExtensionRegistry.tsx?L361:52&subtree=true)|![Extensions](https://user-images.githubusercontent.com/458591/150560750-3c56fe56-cbb8-4bd5-88

[2022-01-21 16:51] abeatrix commented on #29574
Implemented as discussed in https://github.com/sourcegraph/sourcegraph/issues/29837#issuecomment-1016929102

[2022-01-21 16:57] abeatrix commented on #29419
Also fixed sharable link issue (in a very hacky way) that is not taking the user to the correct line numbers.
More context in this [Slack Thread](https://sourcegraph.slack.com/archives/C02E3HHDZ98/p1642613791024900)

[2022-01-21 16:58] abeatrix opened #30038 "VSCE: Log Searches to Cloud"

[2022-01-21 17:26] jjinnii commented on #28903
Thank you both! Yup agree that a disabled "go to def" button is sufficient to visually denote that no definition is available.

My question was more is there additional information developers would be interested in seeing to provide context as to why def or ref might not be available (that we can provide). @efritz , could you clarify on your above point on "more indication on whether or not we hav

[2022-01-21 17:39] jjinnii commented on #29826
Thanks @abeatrix , looks great! Just a super small nit here -- could we double check the spacing btw the "Welcome" section and "Search your private code" section? I have it as 40px and it looks a bit more closer tgt than my designs. If it is accurate, can we add an extra rem of spacing? It's a bit hard to visually distinguish the two sections right now :)

[2022-01-21 17:39] caugustus-sourcegraph commented on #30029
Patch is approved

[2022-01-21 17:39] caugustus-sourcegraph opened #30041 "3.36.1 patch release tracking issue"
# 3.36.1 patch release

This release is scheduled for **[Jan 21, 2022, 6:00 PM (UTC)](https://time.is/1800_21_Jan_2022_in_UTC?3.36.1%20release%20date)**.

- [ ] 3ab8a0b

## Setup

- [ ] Ensure release configuration in [`dev/release/release-config.jsonc`](https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/blob/dev/release/release-config.jsonc) on `main` is up to date with the parameters f

[2022-01-21 17:39] caugustus-sourcegraph opened #30042 "3.36.1 upgrade managed instances tracking issue"
# 3.36.1 managed instances upgrade

These [managed instances](../../cloud/delivery/managed/index.md) upgrades are scheduled for **[Jan 22, 2022, 6:00 PM (UTC)](https://time.is/1800_22_Jan_2022_in_UTC?One%20working%20day%20after%203.36.1%20release)**.

To perform these upgrades, follow the [managed instances upgrade process](../../cloud/delivery/managed/upgrade_process.md).
Make sure to upgrade int

[2022-01-21 17:39] caugustus-sourcegraph commented on #29291
Superseded by #30042

[2022-01-21 17:39] #29291 closed

[2022-01-21 17:44] unclejustin opened #30043 "Code Insights Smoke testing checklist"
From our retro discussion: we want to build a "checklist" to confirm the happy paths are all covered after every release. This could be a manual actual checklist to start that we migrate to automated testing over time. Ideally, this list would mark what paths are covered by automated tests and what needs to be run manually.

We'd also like to list here any "scripts" that people are using currently

[2022-01-21 17:45] unclejustin commented on #30043
cc @Joelkw @AlicjaSuska @felixfbecker

[2022-01-21 17:52] jplahn opened #30045 "Document steps to remove repositories from cloud"
Work with @airamare01 on defining steps to remove repositories from cloud.

This is a follow up from https://github.com/sourcegraph/customer/issues/609 and the associated post mortem https://docs.google.com/document/d/1dDfzudK6rCyzgKYdfb4ee_PT_05gnyx3_HApp46VQEs/edit#.

- Define a process for removing repositories from Cloud, documenting:
- Owner: Stompy Mwendwa
- Which team is responsible for per

[2022-01-21 18:00] jjinnii commented on #29827
@abeatrix Designs updated to include feedback button:

[On homepage](https://www.figma.com/file/EXXvfxVwtCIsrbQez4rPlF/VS-Code-Extension-MLP?node-id=1371%3A2976)
[On search results page](https://www.figma.com/file/EXXvfxVwtCIsrbQez4rPlF/VS-Code-Extension-MLP?node-id=1286%3A1662)

It's a bit more difficult to add in a feedback button when a user is clicked into a file, as the dividing line btw VS C

[2022-01-21 18:12] nwiebe commented on #89
I'd also find the feature useful.  Our default branch on GitLab is set to a development branch we merge to most often, so it's the default for MRs.  When it comes to searching our code, we'd like to search the code that's currently in prod by default.

[2022-01-21 18:22] jjinnii opened #30046 "Replace "Three ways to search" Watch & Learn video with VS Code extension video"
Related to issue #29700 - @muratsu when you've recorded the video, please share with @abeatrix so that we can replace the Watch & Learn video prior to the release.

[2022-01-21 18:52] jjinnii opened #30048 "Reduce sizing of homepage content to match designs"
Current implementation of the homepage in VS Code extension matches sourcegraph.com exactly. However, due to the sidebar of VS Code, there is less screen real estate (width), causing the search examples to wrap on a user's default view. (unless they have the sidebar hidden, which users likely will not do)

The [designs](https://www.figma.com/file/EXXvfxVwtCIsrbQez4rPlF/VS-Code-Extension-MLP?node-i

[2022-01-21 19:09] #30029 closed

[2022-01-21 19:15] RoryCrispin commented on #20640
Looks like this was fixed in #29687
Cheers!

[2022-01-21 19:15] #20640 closed

[2022-01-21 19:30] caugustus-sourcegraph commented on #30041
*Sourcegraph 3.36.1 has been published*

* Changelog: https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/blob/CHANGELOG.md#3-36-1
* Release batch change: https://k8s.sgdev.org/organizations/sourcegraph/batch-changes/release-sourcegraph-3.36.1

@caugustus-sourcegraph: Please complete the post-release steps before closing this issue.

[2022-01-21 19:30] jjinnii commented on #13722
@mrnugget  Could you clarify this point for me? Sorry not fully understanding what's happening and what you mean by "not great" here. I'm assuming the whole app reloading refers to the entire page reloading when a user clicks into a reference -- is not great the performance/buffering time it takes for the app to reload and then re-expose the reference panel?

If a user clicks into a reference at P

[2022-01-21 19:35] #30041 closed

[2022-01-21 19:43] caugustus-sourcegraph opened #30051 "3.37.0 release tracking issue"
# 3.37 release

This release is scheduled for **[Feb 21, 2022, 6:00 PM (UTC)](https://time.is/1800_21_Feb_2022_in_UTC?3.37%20release%20date)**.

---

## Setup

- [x] Ensure release configuration in [`dev/release/release-config.jsonc`](https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/blob/dev/release/release-config.jsonc) on `main` is up to date with the parameters for the current relea

[2022-01-21 19:43] caugustus-sourcegraph commented on #29290
Superseded by #30051

[2022-01-21 19:43] caugustus-sourcegraph opened #30052 "3.37.0 upgrade managed instances tracking issue"
# 3.37.0 managed instances upgrade

These [managed instances](../../cloud/delivery/managed/index.md) upgrades are scheduled for **[Feb 22, 2022, 6:00 PM (UTC)](https://time.is/1800_22_Feb_2022_in_UTC?One%20working%20day%20after%203.37%20release)**.

To perform these upgrades, follow the [managed instances upgrade process](../../cloud/delivery/managed/upgrade_process.md).
Make sure to upgrade inter

[2022-01-21 19:43] caugustus-sourcegraph commented on #30042
Superseded by #30052

[2022-01-21 19:53] jjinnii opened #30054 "Enter Sourcegraph search query directly from VS Code command menu"
#### Feature request description

Ability to enter a search query from VS Code command menu. CMD + Shift + P -> Sourcegraph: search query.

As a user, if I would like to perform a Sourcegraph search but do not already have a Sourcegraph search tab open, it is an extra step for me to click on the Sourcegraph icon in the toolbar before being able to perform a search. VS Code users are also accustome

[2022-01-21 20:36] eseliger opened #30057 "Write more tests for bulk operation background worker"
.. or do something slightly different, [maybe even slightly fancier](/es+ef/missing-e2e-tests).

TODO:
- [ ] `SearchIndexJob` store and DB table @eseliger
  - [ ] `List` @eseliger
  - [ ] `Delete` @eseliger
- [ ] `SearchIndexJob` prepare shallow worker and resetter @eseliger
- [x] Pull out upload store interface into common package @eseliger
- [ ] Expose SearchIndexJob in GQL, add site-admin only

[2022-01-21 20:36] daxmc99 commented on #29651
@filiphaftek I think we need someway to ensure prevent drift in our config. I think terraform makes sense for this but it depends on how much it slows down dashboard creation / how easy the import flow is.

This ticket is blocked waiting on Datadog support since we need access to our `src_graphql*` metrics for teams like Cloud SaaS to get the most value out of it.

[2022-01-21 20:54] rvantonder opened #30058 "Make search backend execution elegant with jobs and child jobs"
It should be possible to represent search `Routine` as a job satisfying the job interface. To do that though, we need to break the dependencies on `searchResolver` in `doResults`, which can then be converted to a `job.Run` method.

Full discussion: https://github.com/sourcegraph/sourcegraph/pull/30053#discussion_r789962723

[2022-01-21 22:19] rvantonder commented on #29828
Via @tsenart for debugging:

[code]

I've also seen this one come up but not on `main` (yet), which is likely same issue:

https://buildkite.com/sourcegraph/sourcegraph/builds/126709#74e941bd-2149-4433-aa6a-682c4e146570/567-570

--
  | --- FAIL: TestSearch/graphql/global_text_search (0.56s)
  | --- FAIL: TestSearch/graphql/global_text_search/something_with_more_than_1000_results_and_use_count:1000

[2022-01-21 23:29] daxmc99 commented on #26621
Next steps on this:

Encode the above rule into a [PrometheusAdaptor Rule](https://github.com/kubernetes-sigs/prometheus-adapter/blob/master/docs/config-walkthrough.md#configuring-the-adapter)

Basically, correctly fill out the `rules` section with the above.

After that, we need to configure the HPA to scale based on that metric.

[2022-01-21 23:30] eseliger commented on #29908
According to SO, it should not ask if we directly bind to localhost and not 0.0.0.0, maybe that's something we could try as a temporary thing?

[2022-01-21 23:32] nicksnyder commented on #29789
Hmm, I can't reproduce this anymore so going to close it. I'll reopen this if I see it again.

[2022-01-22 01:37] #29583 closed

[2022-01-22 03:40] Joelkw commented on #28436
COMPLETED – see https://sourcegraph.slack.com/archives/C89KCDK5J/p1642821046214400 and https://sourcegraph.slack.com/archives/C89KCDK5J/p1642810395180100

[2022-01-22 03:40] #28436 closed

[2022-01-22 07:55] Joelkw opened #30071 "insights: persisted global capture groups loading state should match normal loading state"
Both of these insights have not run yet, but they show different states:

![image](https://user-images.githubusercontent.com/11967660/150630047-c23a97ec-4306-413b-89da-422eba84ce31.png)

Right side: capture group that hasn't run yet. Left side: normal global search insights.

We should show the same loading state for both, that the capture group insight is processing, *not* "no data to display." T

[2022-01-22 19:29] tjkandala commented on #30054
I initially removed this feature, which exists in the legacy extension, precisely because we can't autocomplete search filters, so I believed that users would rather use the real input box.

However, this feedback makes a lot of sense. We can't have a fully-featured input box, but we can use the [`QuickPick`](https://code.visualstudio.com/api/references/vscode-api#QuickPick%3CT%3E) API to perhaps

[2022-01-22 21:58] #30005 closed

[2022-01-22 22:15] benvenker opened #30078 "Add notes/annotations to search stack items"
The ability to tie descriptions to stack elements while in the stack.

Important note: these annotation must be pulled into the Notebook, below the item they're associated with, so they appear in chronological order when the Notebook is  created.
More in [ProductBoard](https://sourcegraph.productboard.com/feature-board/3965875-notebooks/features/11507186/insights)

[2022-01-23 07:50] gitstart-sourcegraph commented on #29200
Hi @valerybugakov here are some bootstrap imports on codebase we could work on as part of this issue, kindly take a look.

- [ ]  Button `@import 'bootstrap/scss/buttons'`
- [ ]  Forms `@import 'bootstrap/scss/forms'`
- [ ] Custom Forms `@import 'bootstrap/scss/custom-forms`
- [ ] Input Group `@import 'bootstrap/scss/input-group'`
- [ ] Dropdown `@import 'bootstrap/scss/dropdown'`
- [ ] Popover `@

[2022-01-23 13:47] ryanslade commented on #27490
@sashaostrikov Un-assigning for now as you're going to be on support and someone else may want to pick it up next week.

[2022-01-23 14:45] rrhyne commented on #27156
Thanks @philipp-spiess... I love the formatting above and thanks for the screenshots!!!!

Code pointer | Note
-- | --
ExtensionRegistry.tsx |  Change link text to: "Get started", route to https://about.sourcegraph.com/get-started
OnboardingTour.tsx |  This is from the recent work with the getting started widget.  The current button text is "Sign up for Cloud". It should be "Get started". This also

[2022-01-24 06:33] benvenker opened #30087 "Add telemetry to Notebooks"

[2022-01-24 07:25] indradhanush opened #30088 "Permissions sync error rate has no data in Grafana"
Link to panel: https://sourcegraph.com/-/debug/grafana/d/repo-updater/repo-updater?viewPanel=100130&orgId=1&from=now-7d&to=now

![image](https://user-images.githubusercontent.com/2682729/150739249-b4802424-4933-4e2b-ba58-6b76ac36bae9.png)

Blocks https://github.com/sourcegraph/sourcegraph/issues/28724.

- **Sourcegraph version:**
- **Platform information:**

#### Steps to reproduce:

1.
2.

#### E

[2022-01-24 07:42] indradhanush commented on #27123
The metric over the last 30 days (barring the last few days) looks a lot better now and I think we can close this issue. But I'm inclined to wait out a little more until we've investigated what seems to be a new source of scheduling errors.

![image](https://user-images.githubusercontent.com/2682729/150741367-e6797f88-13dc-4f98-b95e-8aeb9fb5e433.png)

[2022-01-24 07:49] pavelnikolov opened #30089 "Sourcegraph badge not rendered correctly on a public repo - request times out"
- **Sourcegraph version:** Public open-source project
- **Platform information:**  MacOS, Chrome
#### Steps to reproduce:

1. Use your browser of choice and navigate to https://github.com/graph-gophers/graphql-go
2. Wait for a few seconds and you will see that the Sourcegraph badge is broken.

#### Expected behavior:
Expected to see Sourcegraph's badge rendered correctly.

#### Actual behavior:
<i

[2022-01-24 08:34] mrnugget commented on #29908
IIRC, there are a lot of problems when running services inside a Docker container that bind to `localhost`, which is also one of the reasons why we have https://github.com/sourcegraph/sourcegraph/blob/1d7aafd28630cbdad2ad6a3e36016dccb1c9b7c7/dev/check/no-localhost-guard.sh

[2022-01-24 09:06] umpox commented on #27713
We now have the [Popover component](https://storybook.sgdev.org/?path=/story/wildcard-popover--position-settings-gallery), so we should be able to start work on this

[2022-01-24 09:07] umpox commented on #27712
@gitstart-sourcegraph Yes please do, this is free to start now!

[2022-01-24 09:08] mrnugget commented on #13722
Take a look at the second video I put in the PR description of https://github.com/sourcegraph/sourcegraph/pull/30021.

Correct. In the second video you can see how everything reloads - including the list of references. The reloading also amplifies all the pain points described in https://github.com/sourcegraph/sourcegraph/issues/30022.

I think _ideally_ the list wouldn't change and the user can c

[2022-01-24 09:10] umpox commented on #27694
This should now be completed through https://github.com/sourcegraph/sourcegraph/pull/29790 and https://github.com/sourcegraph/sourcegraph/pull/29791

Thanks @vovakulikov ❤️

[2022-01-24 09:10] #27694 closed

[2022-01-24 11:55] vdavid commented on #27100
@rrhyne I've double-checked: we're already sending the MAU and DAU in the pings. So I believe adding the total number of CTA displays and clicks to the pings is enough for us to check for correlations. I'll go ahead with adding an example to the RFC.

[2022-01-24 12:29] philipp-spiess commented on #27156
Put up a draft PR (since we don't want to merge this until the new `/get-started` is ready here: https://github.com/sourcegraph/sourcegraph/pull/30098

I have some ideas on how to further improve the experience:

- Right now, we add a `returnTo` link to a lot of the sign up flows I noticed. This way, after signing up, a user is supposedly returned to where they left off. Looking at https://github.

[2022-01-24 12:52] erzhtor opened #30101 "Fix browser extension after-install page"
The browser extension after-install page was broken in https://github.com/sourcegraph/sourcegraph/pull/28837, and doesn't render on actually extension installation.

[2022-01-24 13:14] rrhyne commented on #29890
I noticed that over the weekend as well. Apologies! All the languages should have multi repo search instead of symbol and correct ordering now.

[2022-01-24 13:15] rrhyne commented on #28322
We can start content and designs this week. #27177 definitely needs to get launched first though!

[2022-01-24 13:32] rrhyne commented on #27156
Should on-prem installations display sign-up buttons? I thought those users were invited by the admin? I could be wrong though!

How would the returnTo link work with the sign-up flow? See this PR to view the workflow a user must go through after signing up. https://github.com/sourcegraph/sourcegraph/pull/29996#issuecomment-1019892346

We use UTM parameters to track actions on our sites that use G

[2022-01-24 13:40] philipp-spiess commented on #27156
I checked and you are right. On-prem instances show _nothing_ if a user is not logged in _except_ the sign in page. Since that still links to the previous sign up page I don't foresee any issues.

I guess with the welcome page this is irrelevant, yeah. Maybe just an artifact from an ancient time 😛  Should I remove existing `returnTo` props then?

Okay so with our Amplitude setup we can already joi

[2022-01-24 13:48] #27681 closed

[2022-01-24 13:55] umpox commented on #27678
Now complete!

[2022-01-24 13:55] #27678 closed

[2022-01-24 14:29] vovakulikov opened #30106 "Code Insights Marketing Landing Page Tracking issue"
### Plan

The tracking issue for planning work for code insights marketing landing page.

### Availability

If you have planned unavailability this iteration (e.g., vacation), you can note that here.

### Tracked issues

@unassigned

Completed
- [x] (🏁 82 days ago) https://github.com/sourcegraph/sourcegraph/issues/30746    🏳️ [Insights iteration 11](https://github.com/sourcegraph/sourcegraph/miles

[2022-01-24 14:33] vovakulikov opened #30107 "Code Insights: Add temporary setting feature flag for the landing page work"
Until we are ready to ship the landing page features/layouts we have to hide them from users by a feature flag in the setting cascade like we did in the past for other big features.

[2022-01-24 14:37] vovakulikov opened #30108 "Code Insights: Implement tab UI for the dashboard page"
## Context

According to [designs](https://www.figma.com/file/EFgTP7gpdpQSEo1n4FUfsW/In-product-landing-page-WIP?node-id=1223%3A13892) for the landing page, we should separate the dashboard page content and landing page by tab UI.

<img width="445" alt="Screenshot 2022-01-24 at 17 34 59" src="https://user-images.githubusercontent.com/18492575/150802725-821eb699-d156-49f7-b4df-77bd40d161c5.png">

N

[2022-01-24 14:47] rrhyne commented on #27156
Philipp

Rob

Philipp
I guess with the welcome page this is irrelevant, yeah. Maybe just an artifact from an ancient time 😛 Should I remove existing returnTo props then?

@quinnkeast could you have a look at the reconstructed thread above and provide some advice?

[2022-01-24 14:48] #27689 closed

[2022-01-24 14:50] umpox commented on #27686
Now completed!

[2022-01-24 14:50] #27686 closed

[2022-01-24 14:56] quinnkeast commented on #27156
Returning to a path makes a lot of sense when the user's signing up in response to a prompted related to a moment in time (e.g. signing up to comment on a thread—returning to that thread to comment continues that flow). I don't believe we really have any of those moments in place in the product right now, where a user will be interrupting their flow to sign up, rather than signing up as the start

[2022-01-24 15:03] philipp-spiess commented on #27156
This flow should be untouched by our changes though, as on-prem instances show the `/sign-in` view if no user is signed in. This _may_ contain a link to `/sign-up` but we're not changing links from the sign in page anyway.

[2022-01-24 15:24] olafurpg commented on #27408
Superseded by https://github.com/sourcegraph/sourcegraph/issues/29967

[2022-01-24 15:24] #27408 closed

[2022-01-24 15:33] #30101 closed

[2022-01-24 15:41] indradhanush opened #30110 "Investigate frequently triggered alert "0+ rate of growth of update queue length over 5 minutes for 2h0m0s""
The alert has started getting triggered for the last few days. And although processing of sync jobs appears to remain unaffected, we need to dig into the root cause of this.

- [x] Add debug logs for resetting counter #30103
- [x] Feature flag jitter in repo update interval #30154

/cc @sourcegraph/source

[2022-01-24 15:42] daxmc99 commented on #28771
Add alerting to complete this issue

[2022-01-24 15:43] daxmc99 commented on #29660
Blocked on pre-prod work

[2022-01-24 15:44] daxmc99 commented on #29661
Closing in preference for Datadog

[2022-01-24 15:44] #29661 closed

[2022-01-24 15:55] daxmc99 commented on #29505
Waiting to do slackgenie for now

[2022-01-24 15:55] #29505 closed

[2022-01-24 15:56] #28486 closed

[2022-01-24 16:06] #29446 closed

[2022-01-24 16:09] daxmc99 opened #30112 "Deprecate Distribution team and takeover Blackbox exporter alerts"

[2022-01-24 16:32] vovakulikov opened #30113 "Code Insights: Implement first dynamic insight example section for the landing page"
## Context
Designs - https://www.figma.com/file/EFgTP7gpdpQSEo1n4FUfsW/In-product-landing-page-WIP?node-id=1128%3A9814

Implement the first section for the landing page layout.

## Open questions
- What is the default value for the repo input field?
- Should we always have just one query?

## Tech notes
- We could reuse some of the `view` components for the chart.
- We can use just in time GQL que

[2022-01-24 16:32] daxmc99 opened #30114 "Create RFC for Observability tooling"
As part of our observability vendor process, we need to create an RFC to justify our choices to other teams.

This RFC should contain:
- What criteria we used to evaluate vendors / tooling
- A quick overview of what the existing tooling offers
- Challenges with our existing tooling (why we needed to switch)
- Current evaluations
-

[2022-01-24 16:38] varungandhi-src opened #30115 "Make Go test failures easily accessible in UI"
I ran into a test failure with a PR where I kept only seeing "PASS:" in the UI, and yet at the end, it said that there was a failure. https://buildkite.com/sourcegraph/sourcegraph/builds/126913#5e397eb1-5948-4e21-9e69-e319ddc75691/6

This is because the build log in the UI was truncated:

There is still a way to download the log, which is good. But not having the actual error show up in the UI fel

[2022-01-24 16:49] benvenker commented on #27550
@Joelkw this _may_ be resolved by some sub-repo permissions work, but we still have some decisions to make. Per @camdencheek this may be possible in the very near future.

[2022-01-24 16:59] #29761 closed

[2022-01-24 17:05] tjkandala commented on #29124
Note from review meeting: let's track existing extension feature usage too (e.g. open in Sourcegraph)

[2022-01-24 17:15] #29536 closed

[2022-01-24 17:26] #30112 closed

[2022-01-24 17:27] bobheadxi commented on #30115
There are **7,443 log lines** in `TestWorkerHandlerNonRetryableFailure`! I can't even open the section in the UI without causing a browser slowdown, and at a glance it seems to be the biggest emitter of log lines in this step. cc @mrnugget @efritz based on git blame

![image](https://user-images.githubusercontent.com/23356519/150832505-e74242a6-4a67-4c99-81f6-6458b8987dc9.png)

A better summary wo

[2022-01-24 17:31] abeatrix commented on #29827
Feedback buttons added
<img width="1863" alt="Screen Shot 2022-01-24 at 8 37 20 AM" src="https://user-images.githubusercontent.com/68532117/150834140-3755ab1c-b2f7-43fd-89d3-5a457a061a2c.png">
<img width="1909" alt="Screen Shot 2022-01-24 at 9 25 14 AM" src="https://user-images.githubusercontent.com/68532117/150834156-37fd6088-4253-4414-993d-d29dacf0f1b7.png">

[2022-01-24 17:33] vdavid commented on #27948
@rrhyne What should be the URL for the main CTA button ("Learn more about IDE extensions")?

Also, an idea: as @erzhtor pointed out in today's meeting, we won't know whether the user has **already installed** an IDE extension. I suppose once a user has it installed, they'll close the alert. To get more info, upon clicking the "Close" button, we could show **a small menu** with ~three items like "I

[2022-01-24 17:39] bobheadxi commented on #13598
More requests:

- https://sourcegraph.slack.com/archives/C0B2RU51Q/p1643045155084600
- https://sourcegraph.slack.com/archives/C022SPMNR0W/p1642069360054600?thread_ts=1642069205.054500&cid=C022SPMNR0W

[2022-01-24 17:44] felixfbecker commented on #28423
Do we consider this spike done or is there more work on the "spike" in iteration 10?

[2022-01-24 17:51] varungandhi-src commented on #30115
Yep, once I downloaded the log, I could figure it out.

Nice! If the build number is accessible in the environment, it would be cool to put the exact command (which one can copy-paste) at the bottom of the log.

I saw that `go test` supports JSON output, maybe that output can be truncated if the test succeeded?

[2022-01-24 18:09] camdencheek commented on #27550
So, getting my head back into this, after https://github.com/sourcegraph/sourcegraph/pull/30109, we'll have the ability to (more) cheaply list files that the commit touches. This makes things like `type:commit author:camden select:file` would mean "return any files modified by commits created by camden". This is option 1 above.

This is not quite what we want, but I also think option 2 above is al

[2022-01-24 18:13] jjinnii commented on #29827
Looks great, thank you @abeatrix !

[2022-01-24 18:46] #30042 closed

[2022-01-24 19:53] jjinnii commented on #29124
FYI added a new metric request for the "Share" link button, documented[ here ](https://www.figma.com/file/EXXvfxVwtCIsrbQez4rPlF/VS-Code-Extension-MLP?node-id=1384%3A3428)in Figma.

[2022-01-24 20:10] DaedalusG opened #30130 "Consolidate database docs"
#### Describe the issue
Sourcegraph admins are often required to tune the pgsql and codeintel-db database services, as well occasionally manually run queries during upgrades to complete unfinished migrations. Improvements to the upgrade process are [underway](https://docs.google.com/document/d/1_wqvNbEGhMzu45CHZNrLQYys7gl0AtVpLluGp4cbQKk/), with the addition of a migratory service that will decoup

[2022-01-24 20:12] jjinnii commented on #30054
Thanks for the context @tjkandala! Just for my understanding, when you say "let them enter a new search query", we wouldn't offer auto-complete, but could a user at least fully type out Sourcegraph syntax? (i.e. repo: wouldn't autocomplete, but a user can type the full syntax out and maybe we could at least color code?)

[2022-01-24 20:28] jjinnii opened #30132 "Ability to open repository or file location in code host"
#### Feature request description

As a user, I would like to easily navigate to a repository's page on Github/Gitlab, so that I can learn more about the repository and/or view the repository in a more familiar format. As a user, I would like to easily navigate to a file location on Github/Gitlab, so that I can view code in a more familiar format and/or make use of other code host extensions that I

[2022-01-24 20:36] abeatrix commented on #30048
@jjinnii does this look alright?
<img width="1904" alt="Screen Shot 2022-01-24 at 12 35 07 PM" src="https://user-images.githubusercontent.com/68532117/150860524-68fd27c3-5735-4d50-ac38-896a8c4c3840.png">

[2022-01-24 20:40] tjkandala commented on #30054
@jjinnii I think it's more along the lines of they can type the syntax out but _without_ highlighting, unfortunately.

However, I just realized that users can just execute the search command in the VS Code command palette which will open or focus the panel... and that's the same number of steps as adding a command that opens a stunted input box.

We also have keyboard shortcuts to open the search

[2022-01-24 20:42] jjinnii commented on #30048
@abeatrix Would you be able to send a screenshot of what this view looks like at around 1440px? :) It's hard for me to tell without knowing how wide the screen is in that screenshot you just sent!

[2022-01-24 20:50] felixfbecker opened #30134 "No "Open on Sourcegraph" button on repos from browser extension"
<img width="837" alt="image" src="https://user-images.githubusercontent.com/10532611/150862380-040f0165-6873-48c9-8f8e-7a9920f47ff9.png">

Afaict it's configured correctly:

<img width="438" alt="image" src="https://user-images.githubusercontent.com/10532611/150862425-874d464d-c039-470e-ae7c-f5446a1d4a35.png">

(but I get the red dot, not sure why)

This is in Safari.

[2022-01-24 20:52] jjinnii commented on #30054
Search command meaning ">Sourcegraph: open search tab" right? Totally agree that that resolves most of the user problem I outlined, this is just a nice to have request that I wanted to document, but sounds like it's technically difficult to implement.

Also to clarify, this is not important/prioritized for first release! I am just documenting feature requests from internal feedback so we have them