[2018-11-03 00:44] sqs commented on #636
Thanks! When you upgrade to 3.0-preview, let us know how well the term negation solves your needs. (Docs/announcement will be out next week for that.) We can reconsider priorities if it doesn’t help.

[2018-11-03 00:47] attfarhan opened #672 "New GitLab repos added to instance after initial setup do not get added properly"
- **Sourcegraph version:** dev build
- **Platform information:**

(Using gitlab2.sgdev.org)

#### Steps to reproduce:

1. Set up Sourcegraph to connect to your GitLab instance.
2. Verify that existing repos on the GitLab instance exist and are viewable on Sourcegraph
3. Add a new repository to GitLab instance
4. See that it doesn't appear in the site admin repositories page.
5. Go directly to the

[2018-11-03 01:06] beyang commented on #671
Ah, the reason for this is that changing the TTL does not invalidate the existing cache entries (which still have the old TTL).

[2018-11-03 01:11] dadlerj commented on #665
Fixed in https://github.com/sourcegraph/sourcegraph/commit/5fc69ea73bf1b7c026a702318398ae16e92c3e49

[2018-11-03 01:11] #665 closed

[2018-11-03 01:17] dadlerj commented on #666
A long time ago there were two additions to surveys that I was hoping to add:

1) Resetting feedback counts after some amount of time (e.g. after 6 months it can appear again)
2) Allowing admins to send emails to all users that haven't submitted requesting feedback

Do you think this is a good alternative to those? If so, a few questions —
* should they be able to do it for individual users, or is

[2018-11-03 21:59] sqs opened #674 "Improve experience when no extension registry URL is set"
This is confusing:

![image](https://user-images.githubusercontent.com/1976/47957749-233c6e80-df79-11e8-953a-c42c9535497d.png)

[2018-11-04 01:10] beyang opened #675 "Enable site admins access to all repositories"
Allow site admins to bypass code host repository permission checks.

Currently, we can get into a state where, if a user is added without `initialRepositoryEnablement=true`, a non-admin user will not be able to enable the repository. If an admin user doesn't have an external user account with the code host that has access to the repository, the admin will also not be able to enable the repository.

[2018-11-04 02:13] beyang commented on #672
Closing as dupe of https://github.com/sourcegraph/sourcegraph/issues/671

[2018-11-04 02:13] #672 closed

[2018-11-04 02:14] beyang commented on #661
`matcher` seems superfluous, so I removed it.

[2018-11-04 02:14] #661 closed

[2018-11-04 03:49] #660 closed

[2018-11-04 03:50] #675 closed

[2018-11-04 04:04] beyang opened #678 "Add cache-busting context item"
We have multiple internal caches inside of Sourcegraph:
- [GitLab authz cache](https://sourcegraph.com/github.com/sourcegraph/sourcegraph@999624ce8f1f523a682581f3fe8acb7ca484c6fa/-/blob/cmd/frontend/internal/authz/gitlab/gitlab.go#L38:2)
- [GitLab client cache](https://sourcegraph.com/github.com/sourcegraph/sourcegraph@999624ce8f1f523a682581f3fe8acb7ca484c6fa/-/blob/pkg/extsvc/gitlab/client.go#L33

[2018-11-04 04:05] beyang commented on #678
@nicksnyder @sqs @keegancsmith thoughts on the above? I'd like to implement this ASAP, as I think it would significantly improve the UX of repo permissions.

[2018-11-04 06:28] #668 closed

[2018-11-04 07:04] sqs opened #680 "Followups to finish migration of repo uri -> name"
We have deprecated calling the repository name (the value like `github.com/foo/bar`) the "URI" since April 2018. Now it is just called the repository "name".

There are more things we must do to complete the switch:

- January 2019: remove the GraphQL `RepoOrderBy.REPO_URI` value from our GraphQL API and [make src-cli use `REPOSITORY_NAME` not `REPO_URI`](https://sourcegraph.com/github.com/sourceg

[2018-11-04 10:30] sqs opened #682 "Code discussions notifs from dogfood not received"
I have not been receiving code discussions notifications recently from dogfood.

I see error logs:

[code]

[2018-11-04 23:24] sqs opened #685 "Code discussions panel links to URLs w/o revision"
Repro:

1. Go to https://sourcegraph.com/github.com/sourcegraph/sourcegraph@deprecate-custom-git-uris/-/blob/doc/dev/uri_schemes.md#&tab=discussions
2. Click on one of the code discussions. (In the browser status bar, the link URL shows up as including the revision, which is correct. But...)

Actual: Go to https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/blob/doc/dev/uri_schemes.md#tab

[2018-11-05 01:06] slimsag commented on #49
@chrismwendt did you close the wrong issue? It doesn't look to me like the commits above do this.

[2018-11-05 02:14] chrismwendt commented on #49
Oops, this got accidentally closed when I merged in the monorepo PR #596. I don't think any other issues/PRs were affected.

[2018-11-05 02:29] sqs commented on #685
Workaround (it's obvious, just posting this for context): https://sourcegraph.slack.com/archives/CCLF4R6EM/p1541384961066000?thread_ts=1541239039.049200&cid=CCLF4R6EM

[2018-11-05 02:44] sqs opened #686 "Title overflows in explore area"
![screenshot from 2018-11-04 18-43-40](https://user-images.githubusercontent.com/1976/47975158-96b9ab00-e061-11e8-92ea-b09484214443.png)

[2018-11-05 03:52] francisschmaltz opened #687 "Warn site admins that extensions have read/write access to site-admin graphql commands"
There should be a prompt for site-admins warning that extensions have read/write access the the graphql API endpoint including site-admin commands.

[2018-11-05 09:08] keegancsmith commented on #678
- Is there a way to be less aggressive with our caching rather?
- Could we have a much less aggressive cache for missing entries?

By adding cache invalidation it makes things much trickier to understand. I would try avoid it TBH. If we find there is no alternative, then we need some good metrics/debuggability on it.

FYI Repo-updater has the knowledge of a new repo existing, maybe that is a use c

[2018-11-05 09:17] keegancsmith commented on #652
yup this should be a good way to teach people the syntax. :+1:

[2018-11-05 11:59] felixfbecker opened #691 "Extreme logspam since switching to yarn workspaces"
Since switching to yarn workspaces there is an extreme amount of logspam from yarn that was not there before:

![image](https://user-images.githubusercontent.com/10532611/47996911-63772a80-e0fa-11e8-9daf-9ac7024755e8.png)

Some warnings also look legit, like the mismatching resolutions. Why are we using `resolutions` at all? I thought it was supposed to be removed

[2018-11-05 12:03] felixfbecker opened #692 "Messy root dependencies"
There are a lot of dependencies in the root package.json:

[code]

A lot of these (if not all) seem to only be used for the webapp, so why are they not in `packages/webapp/package.json`?
Some I don't understand at all, like `child_process` and `path`, which are native Node modules.

[2018-11-05 17:41] beyang opened #693 "Info box telling me that the first line will be the title is disruptive"
![screen shot 2018-08-31 at 10 17 19 am](https://user-images.githubusercontent.com/11557758/44926703-3461c880-ad07-11e8-8b04-df284d1aeec1.png)

I was typing and this popped up and I completely lost my train of thought. When I'm writing a comment, I don't really want to think about a title. In my mind, this is essentially the same thing as having a separate input box for the comment and the title w

[2018-11-05 17:42] beyang commented on #693
Copied over from https://github.com/sourcegraph/DEPRECATED-enterprise/issues/13034

[2018-11-05 18:36] arpitchauhan commented on #255
I get the same issue with the Chrome extension.

[2018-11-05 18:56] jaytaylor commented on #630
I'm also running into was looks like the same issue:

[code]

Along with errors further down in the logs such as:

[code]

[2018-11-05 18:59] JoshuaKGoldberg opened #694 "Tooltip hovers over PR review box"
- **Sourcegraph version:** SourceGraph extension
- **Platform information:** https://github.com/palantir/tslint/pull/4249/files on Chrome on Windows 10

#### Steps to reproduce:

1. Go to the /files URL for a pull request
2. Hover over file content to get the SourceGraph extension tooltip
3. Quickly move your mouse to the PR review dropdown

#### Expected behavior:

Being able to see all of the te

[2018-11-05 18:59] felixfbecker opened #695 "CODEOWNERS are wrong since monorepo switch over"
The file paths in `.github/CODEOWNERS` don't match anymore and I assume the CODEOWNERS files in the external repositories were not merged into it.

[2018-11-05 19:03] slimsag commented on #693
Dup of https://github.com/sourcegraph/sourcegraph/issues/696

[2018-11-05 19:03] #693 closed

[2018-11-05 19:14] chrismwendt commented on #691
You scared me a bit with the word "extreme" 😅 I thought that meant logs were constantly spewing at a high rate. I also thought that yarn workspaces were causing a problem in the app until I read the description.

Ah yes, I tested removing `resolutions` but forgot to commit it. Removed in https://github.com/sourcegraph/sourcegraph/commit/f3202423519ee86cb64575fca5cacaa5ee0e3027

I verified that the

[2018-11-05 19:45] chrismwendt commented on #692
All but `@babel/plugin-syntax-dynamic-import` are used by `gulpfile.ts` or one of the scripts in the root package.json (prettier and stylelint).

`child_process` and `gulp` are imported by `gulpfile.ts` to build sourcegraph-extension-api and others.

[2018-11-05 19:50] nicksnyder commented on #678
This feels simpler to me (i.e. if a user explicitly asks for a repo that we don't know permissions for, we implicitly treat that as a request to refresh permissions).

[2018-11-05 19:56] nicksnyder opened #697 "Cypress tests hang"
<img width="1039" alt="screen shot 2018-11-05 at 10 49 01 am" src="https://user-images.githubusercontent.com/754768/48023120-c1534480-e0f1-11e8-8fdc-f8fb69ac17cd.png">
<img width="1046" alt="screen shot 2018-11-05 at 10 48 55 am" src="https://user-images.githubusercontent.com/754768/48023125-c3b59e80-e0f1-11e8-80c8-7858bae51420.png">

https://buildkite.com/sourcegraph/sourcegraph/builds/22733#89b5

[2018-11-05 20:24] Tercan-Edmunds opened #699 "My sourcegraph docker install has difficulty cloning my GitLab repos"
- **Sourcegraph version: 2.12.3**
- **Platform information: Linux (4.18.16-arch1), Docker: 18.06.1-ce**

#### Steps to reproduce:

1. Setup GitLab Repository in Site Config, with correct URL and API Token
2. Go to Respository List and enable one of the repos

#### Expected behavior:
- The repo is cloned and indexed

#### Actual behavior:
- The repo reports "Not Cloned" for a very long time (hours)

[2018-11-05 20:29] chrismwendt commented on #695
Ah, I overlooked `.github/CODEOWNERS`. Fixed in https://github.com/sourcegraph/sourcegraph/commit/088db5d054b31d2b64de0f9c9ccae0a60ce38fa4

[2018-11-05 20:29] #695 closed

[2018-11-05 20:32] nicksnyder commented on #699
@Tercan-Edmunds Sorry to hear that! Can you clarify if the repo ever clones? For example, is it slow or does it never work at all?

[2018-11-05 20:34] Tercan-Edmunds commented on #699
A handful of repos will eventually clone (after a few hours), but the longer the queue, the longer the clone will take. In one install, with 100 repos, the last 10 had not been cloned after 72 hours...

[2018-11-05 20:37] #607 closed

[2018-11-05 20:55] nicksnyder commented on #699
Thanks for the info.

The first log line comes from here:
https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/blob/cmd/repo-updater/repoupdater/server.go#L116

This is an async request to update some metadata, and I suspect it is hitting some default timeout, so I don't think this log line is as interesting as the second one.

The second log line comes from here:
https://sourcegraph.com/g

[2018-11-05 21:09] Tercan-Edmunds commented on #699
Results in
[code]
(There are A LOT of tags due to our continuous integration system)

[2018-11-05 21:17] Tercan-Edmunds commented on #699
Can the timeout be configurable?

[2018-11-05 21:33] nicksnyder commented on #699
It is not currently possible to configure that timeout. Let me think about if there is a better command that we could run which would always be fast.

[2018-11-05 21:40] nicksnyder commented on #699
@Tercan-Edmunds Does the command speed up if you provide the `--heads` tag?

[code]

[2018-11-05 21:53] chrismwendt commented on #697
I haven't found any useful info through Google about why this happens and how to prevent/recover from it, so I add a timeout and 1 retry for now: https://github.com/sourcegraph/sourcegraph/commit/0c70d954e5396899cb98aa9733e628c538858c08

[2018-11-05 21:54] Tercan-Edmunds commented on #699
actually, missed the HEAD in your original ls-remote command...
The total time bounces around 2.5s to 6 on the host.

In container --heads is significantly slower between 10-15s
In container no --heads runs between 5.5-9s

[2018-11-05 22:06] nicksnyder commented on #699
Ah, looks like `ls-remote` does filtering locally...but there is [a recent improvement in git 2.18](https://www.infoq.com/news/2018/06/git-2.18-v2-protocol-commitgraph) that might make this better:

The version of git in the Sourcegraph container should already be >=2.18 so can you try this:

[code]

[2018-11-05 22:31] chrismwendt commented on #697
Hmm Cypress is not starting and `timeout` doesn't seem to actually kill Cypress after 3 minutes https://buildkite.com/sourcegraph/sourcegraph/builds/22748#695ac2e7-a130-480a-bb8c-be2bea91e2da I'll remove the line that runs e2e tests for now and investigate more later. It's currently blocking builds.

[2018-11-05 22:37] chrismwendt commented on #697
This is puzzling. I even `kubectl exec`ed into the container and ran the e2e tests pass, and they passed. I was also able to kill them with a short `timeout`. Maybe the `for` syntax is not supported by buildkite?

[2018-11-05 22:56] sqs opened #704 "Extension request: highlight and aggregate TODOs in code"
See [Show HN: Toodles – Project management directly from the TODO's in your code](https://github.com/aviaviavi/toodles).

The extension APIs for showing aggregates don’t exist yet (although you could have a command that opens up a search results URL).

[2018-11-05 22:56] sqs opened #706 "Extension request: search a repository and its dependencies"
After https://github.com/sourcegraph/sourcegraph-extension-api/pull/95 is merged, extensions can define custom search query keywords. As a developer who is trying to understand a codebase, it would help me to be able to perform a search across a given repo and all of its dependencies (i.e., the universe of code relevant to it).

For example, I would like to be able to perform the following searche

[2018-11-05 22:57] dadlerj opened #710 "Provide the extension author access to Sourcegraph API types/schemas (GraphQL + LSP)"
Rather than having to fetch the `appURL` from configuration, then use `fetch` commands against the Sourcegraph API, it would be nice if we provided native support in the `@sourcegraph` npm package. I imagine usage could look like:

[code]

Etc.

[2018-11-05 22:58] ryan-blunden opened #712 "Automated upgrading of src CLI"
Tracking https://github.com/sourcegraph/src-cli/issues/18

[2018-11-05 22:58] ryan-blunden opened #713 "src ext delete should take extension ID, not GraphQL ID (which is confusing)"
Tracking https://github.com/sourcegraph/src-cli/issues/27

[2018-11-05 22:58] sqs opened #715 "FOSSA extension"
@xizhao is interested in FOSSA building a license and security extension that would show, for any repo/dir/file, a list of license- and security-related warnings. These would be for the entire repo/dir/file (not per-line). The content would be something like a list of links to CVEs and a link to more info about them on FOSSA. It should work for public and private code and with public and self-host

[2018-11-05 22:59] sqs opened #718 "Support listening for directory changes"
Just as you can listen for new open documents, you should be able to listen for new open directories. This may include *both* listening for new underlying directories that are open and when the view state changes to start showing a new directory (similar to the dichotomy between vscode.d.ts's document and editor listeners).

Requested by @prestonvanloon at https://github.com/sourcegraph/sourcegrap

[2018-11-05 22:59] chrismwendt opened #720 "Extension request: show published status of blog posts at the directory level"
https://sourcegraph.slack.com/archives/C0B2RU51Q/p1539142701000100?thread_ts=1539142378.000100&cid=C0B2RU51Q

It would be helpful for quickly scanning over the list of blog posts to show this published status at the directory level:

![image](https://user-images.githubusercontent.com/1387653/46765927-4edb7a00-cc95-11e8-9ca3-71a331c9c7fd.png)

[2018-11-05 23:00] felixfbecker opened #722 "Extension request: LightStep"
As a user, I would like to see decorations for code that starts spans like this:

![image](https://user-images.githubusercontent.com/10532611/46172096-d0e59f00-c2a2-11e8-84fe-df1a2e77dcad.png)

Hovering them should show an embedded diagram of for that span, like the [embedded view for traces](https://docs.lightstep.com/docs/embed-lightstep-charts#embedurl).

Note: Embedded views are only supported

[2018-11-05 23:00] sqs opened #723 "Extension request: integrate Yelp's secret detector"
Just came across https://github.com/Yelp/detect-secrets from @KevinHock. Our customers would probably love to see if PRs contain secrets detected by detect-secrets.

[2018-11-05 23:00] ijsnow opened #724 "Extension request: Detect broken URLs"
@danicat [found a broken link in the browser extension's README](https://github.com/sourcegraph/browser-extensions/pull/191).

An extension that detects broken links would be great. This would help find these errors during review. This sort of thing is way too easy of a mistake to make and this extension would help fix that!

[2018-11-05 23:00] sqs opened #725 "Extension request: Jump to pganalyze for SQL query"
When viewing a SQL query in code, it would be useful to be able to jump to live stats related to that query in [pganalyze](https://pganalyze.com/). This would be similar to the LightStep, Sentry, LogDNA, etc., extensions, in that it could start out with a fairly simple regexp match implementation (e.g., for `sql.*(query|exec)\(\"([^"]+)`) as a quick proof of concept.

I met @lfittl tonight and we

[2018-11-05 23:01] ijsnow opened #726 "Replace lines of code with markdown"
It’s commonplace to write code comments/doc blocks with markdown syntax or have html in there. With this API, we could render it and make it pretty. In addition to this, sometimes the lines are too long or are broken in weird places to fit line length rules so the ability to render markdown would make it much nicer to read.

If replacing lines of code feels weird, this could also be achieved by em

[2018-11-05 23:01] slimsag opened #729 "Ability to know which lines are selected; insert a button icon in the gutter"
I would like the ability to create an extension which:

(1) is able to get the selected lines (on sourcegraph.com and github.com).
(2) is able to insert a button icon in the gutter, which my extension would act on when clicked.

Example:

![image](https://user-images.githubusercontent.com/3173176/45585189-60e41b80-b895-11e8-9277-6c80f0e1eed1.png)

[2018-11-05 23:02] sqs opened #734 "Extension request: enhanced GitHub user profiles"
https://ghuser.io/

[2018-11-05 23:02] sqs opened #735 "Extension request: JIRA"
See https://github.com/sourcegraph/issues/issues/141.

[2018-11-05 23:03] sqs opened #736 "Extension request: Renovate"
https://github.com/renovatebot/renovate/issues/2469

[2018-11-05 23:03] sqs opened #737 "Extension request: PHPStan and other PHP static analysis tools"
Idea/request from @hollodotme in https://twitter.com/hollodotme/status/1037797679915520000:

https://github.com/phpstan/phpstan

[2018-11-05 23:08] sqs opened #748 "updateExtensionSettings fetches configuration many times"
Repro: perform an action in the browser extension that updates your settings on Sourcegraph.

There are many `graphql?EditSettings` and `graphql?Configuration` fetches (like 6-7).

[2018-11-05 23:09] felixfbecker opened #753 "No View file on Sourcegraph button, Error: Unable to determine start line of code view"
I wanted to open https://github.com/sourcegraph/about/blob/master/projects/graphql-sourcegraph-extension.md to comment on it, but no view on Sourcegraph button was shown.

![image](https://user-images.githubusercontent.com/10532611/47085903-5dd3a680-d218-11e8-8c99-f2d366a59b61.png)

This error is in the console:

![image](https://user-images.githubusercontent.com/10532611/47085858-38469d00-d218-11

[2018-11-05 23:10] felixfbecker opened #758 "Padding on extension settings page is awfully inconsistent"
![image](https://user-images.githubusercontent.com/10532611/46919169-9175bd00-cfdb-11e8-8b70-fa13581d1c80.png)

[2018-11-05 23:12] Tercan-Edmunds commented on #699
In Container:
Without Heads [2.66,8.33,4.13,2.00,2.31] Avg: 3.87s
With Heads [3.64,3.22,3.75,9.02,11.43] Avg: 6.21s (and doesn't return anything like w/o --heads)

[2018-11-05 23:14] chrismwendt opened #776 "PR/diff page support for Sourcegraph extensions"

[2018-11-05 23:15] mqus opened #779 "Firefox extension: Memory leak"
The last few weeks, my firefox (61/62, current stable version) consumed a lot of memory when i left it open for a few hours. After looking at `about:memory`, it became clear that sourcegraph was keeping memory related to sites that were long closed. Even manually triggering the gc didn't remove those references.

Additional info:
I'm using sourcegraph for free and mostly on github for crossreferen

[2018-11-05 23:15] felixfbecker opened #780 "No autocompletion in Chrome omnibox"
![2018-09-08 22 39 30](https://user-images.githubusercontent.com/10532611/45258456-1c99dc80-b3b8-11e8-903f-0b65ef454ccb.gif)

Shouldn't this suggest me repos and files in the repo?

[2018-11-05 23:16] sqs opened #785 "Privacy Badger Chrome extension breaks Sourcegraph Chrome extension"
@calvn reported that [Sourcegraph for Chrome](https://chrome.google.com/webstore/detail/sourcegraph/dgjhfomjieaadpoljlnidmbgkdffpack) is disabled when the [Privacy Badger](https://chrome.google.com/webstore/detail/privacy-badger/pkehgijcmpdhfbdbbnkijodmdjhbjlgp) extension is also installed.

https://twitter.com/icalvn/status/1035249236516859904

[2018-11-05 23:17] chrismwendt opened #787 "Duplicated line annotations"
Here's the Codecov extension, for example:

![image](https://user-images.githubusercontent.com/1387653/44867104-cdc3a880-ac3b-11e8-908e-b98746934a3d.png)

There should only be 1 annotation per line, but there are 5. They keep piling up as you toggle code coverage.

[2018-11-05 23:41] nicksnyder commented on #699
I just looked up GitLab docs and it looks like you would need GitLab 11.4 ([released October 22](https://about.gitlab.com/2018/10/22/gitlab-11-4-released/)) to take advantage of the wire protocol version 2:
https://docs.gitlab.com/ee/administration/git_protocol.html

I assume you haven't upgraded to 11.4 yet? If not, you should push to upgrade since it would also benefit your devs when they run th

[2018-11-06 01:28] beyang commented on #678
The issue is that permissions are stored per user, not per repository. This is dictated by the way permissions are fetched from the GitLab API, which is by the user ("get me all repositories the current user can access"), rather than by the repository ("get me all users who can access this repository").

It may be viable to fetch permissions by repository:
- GitLab "inherited members" API: https:/

[2018-11-06 02:24] sqs opened #795 "HTML comments are not respected in code discussions Markdown"
Repro:

Add a code discussions comment with HTML comments where the opening comment and closing comment are on different lines, like:

[code]

Expected: the whole thing is interpreted as an HTML comment. This is how GitHub works.

Actual: The `--` are replaced with a – and the text is shown. (Example: https://sourcegraph.sgdev.org/github.com/sourcegraph/sourcegraph@deprecate-custom-git-uris/-/blob

[2018-11-06 04:51] nicksnyder opened #797 "server_proxy_test.go: TestCache flakey"
[code]

Failed first time:
https://buildkite.com/sourcegraph/sourcegraph/builds/22766#507d4137-98b2-4ba0-9930-d5d24a829a5a

Passed on retry:
https://buildkite.com/sourcegraph/sourcegraph/builds/22766#f4ba9fab-acce-4c88-9a78-214d221549f0

[2018-11-06 07:33] sqs commented on #732
The extension API now supports different colors for light and dark themes

[2018-11-06 07:33] #732 closed

[2018-11-06 07:54] sqs opened #798 "Go-to-GitHub icon does not show up for tree page"
Repro:

1. Go to https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/tree/packages/sourcegraph-extension-api

Expected: there is a GitHub icon in the file header that goes to the dir listing on GitHub
Actual: there is none

[2018-11-06 08:04] sqs commented on #744
Update on this: We are still working with the Firefox add-ons reviewers to get it approved again. They flagged it because it has the capability to connect to your Sourcegraph instance and run code from [Sourcegraph extensions](https://docs.sourcegraph.com/extensions) you've enabled. In the meantime, you can [build Sourcegraph for Firefox from source](https://github.com/sourcegraph/sourcegraph/tree

[2018-11-06 08:08] #654 closed

[2018-11-06 08:09] #786 closed

[2018-11-06 08:09] sqs commented on #780
Are you still seeing this issue?

[2018-11-06 08:14] slimsag opened #799 "Semantic commit linting somehow getting turned on in latest master"
Running the latest master it seems that one of the browser-extensions, e-c-c, or sourcegraph-extensions-api subdirs is now adding a semantic commit linting pre-commit hook to my `.git/hooks`. This seems like it may be occurring unintentionally?

https://sourcegraph.com/search?q=repo:%5Egithub%5C.com/sourcegraph/sourcegraph%24+commitlint

[2018-11-06 09:35] felixfbecker commented on #780
Yes. Are you not?

[2018-11-06 11:49] jackwish opened #803 "Chrome extension is missing source tree navigator button on github repos"
- **Sourcegraph version:** Chrome extension
- **Platform information:** Chrome 70.0.3538.77 on macOS

#### Steps to reproduce:

1. Navigate to any repo of github

#### Expected behavior:

There is a *source tree navigator button* (circled in image below) clicked which the source tree navigator will show in the left side of the web page.
![default](https://user-images.githubusercontent.com/4936589/

[2018-11-06 12:31] sqs opened #805 "Archive sourcegraph-extension-docs repo, README.md redirect to new docs"
- [x] Update all matches from https://sourcegraph.com/search?q=repo%3Asourcegraph%2F+sourcegraph-extension-docs to point to https://docs.sourcegraph.com/extensions
- [x] Archive the repo and set up a README.md on a new orphan branch that just points to the new URL

[2018-11-06 12:43] #805 closed

[2018-11-06 13:58] kmahyyg opened #807 "Unknown redirect with Docker"
- **Sourcegraph version:** 2.13.0
- **Platform information:**

Docker 17.05.0
Running on Synology DSM 6.1

#### Steps to reproduce:

1. Create a docker container by using your image and DSM's docker
2. Go to `http://<DSM IP>:<Mapped port>`

#### Expected behavior:

Works fine.

#### Actual behavior:

Jump to `http://127.0.0.1:7080`

PS: Due to limitation of DSM, `/var/run/docker.sock` cannot be ma

[2018-11-06 15:19] felixfbecker opened #810 "CI pipeline ordering does not make sense"
![image](https://user-images.githubusercontent.com/10532611/48073624-70217e80-e1df-11e8-8f77-b476e6bffe87.png)

It doesn't make sense to me why the enterprise steps need to wait for the OSS steps to complete first. Since they mostly build the same things, this means our build time is roughly twice as long as it would need to be.
Some things also seem duplicated, for example I don't see a reason wh

[2018-11-06 16:40] lalau commented on #807
Same here. I follow the aws deploy step option A here and got the same redirct:
https://github.com/sourcegraph/sourcegraph/blob/master/doc/admin/install/docker/aws.md

[2018-11-06 16:47] felixfbecker opened #811 "Errors thrown by the hover provider are not shown to the user in the hover"
It used to be that if a language server returned an error response, that error is shown in the hover. Codeintellify has code and styles around this.

Now, if a hover provider throws, the error is logged but not shown anywhere. This means the user has no idea what is going on and language servers / extensions have no way to report errors back to the user for a specific request in the context of the

[2018-11-06 17:00] #699 closed

[2018-11-06 18:09] nicksnyder commented on #699
This fix is released in 2.13.1

[2018-11-06 18:22] KattMingMing opened #824 "Unclear how to add license key from enforcement page"
- **Sourcegraph version:** 2.13
- **Platform information:** N/A
#### Steps to reproduce:

1. Set up a server instance with an expired license key or use enterprise features without a license key.
2. Navigate to the instance.
3. You'll see
![screenshot 2018-11-05 12 06 47](https://user-images.githubusercontent.com/4897310/48084387-6d596600-e1ac-11e8-9b01-a9ae0ea1ef95.png)

#### Expected behavior:

[2018-11-06 19:30] chrismwendt commented on #799
This was unintentional, I'll remove husky

[2018-11-06 19:32] sqs commented on #824
@ggilmore’s work on site config will make it possible to updates the license key from the web even if it is expired. With that, we can update this text to tell site admins to go to the management console to update the license key.

[2018-11-06 19:36] lalau opened #835 "AWS CodeCommit error MaximumRepositoryNamesExceededException"
- **Sourcegraph version:** 2.13.0
- **Platform information:** localhost Mac OSX 10.12.6, Docker version 18.09.0-ce-beta1, build 78a6bdb, Google Chrome 70

#### Steps to reproduce:

1. Enter AWS CodeCommit config

#### Expected behavior:

Load AWS CodeCommit repos

#### Actual behavior:

Following error is logged in docker:
[code]

According to [aws doc](https://docs.aws.amazon.com/AWSJavaSDK/lates

[2018-11-06 19:38] sqs commented on #811
We should show hover errors in the hover. If there are multiple hover providers, then the successful hover responses should be shown as normal, and there should be red bg sections in the hover with the error message.

I believe VS Code suppresses errors from hover providers entirely like we do here, but that seems to make debugging harder. I can see why they did that, but I think we can take a har

[2018-11-06 19:43] sqs commented on #807
(The /var/run/docker.sock mapping will no longer be needed in Sourcegraph 3.0.)

[2018-11-06 19:53] #799 closed

[2018-11-06 19:56] chrismwendt commented on #811
For context: I had [changed this behavior](https://github.com/sourcegraph/sourcegraph-langserver-http/pull/8) primarily to avoid showing errors on every single hover in the specific case where the user is viewing a private repository that did not exist on the Sourcegraph instance. That was a heavy-handed solution. A more UX-friendly approach could be to choose where errors show up based on the err

[2018-11-06 19:59] felixfbecker commented on #811
In that PR it says

which doesn't seem true anymore?
Also, that PR is to the langservers-http extension, but I observed this behaviour with my own extension, so it may not be related?

Imo errors should always be shown. If an error should not be shown, the provider shouldn't return one.

[2018-11-06 20:03] chrismwendt commented on #811
This could be related to https://github.com/sourcegraph/sourcegraph-extension-api/pull/117

[2018-11-06 20:04] Desentso opened #838 "Error in references breaks subsequent hovers"
- **Sourcegraph version:** Sourcegraph.com
- **Platform information:** Windows 10, Chrome 70.0.3538.77

#### Steps to reproduce:

1. Open any C file on sourcegraph.com (I could only reproduce with C)
2. Hover over any function
3. Click "Find references"

#### Expected behavior:
It should show the correct references.
After that the hover features should work normally.

#### Actual behavior:
Referen

[2018-11-06 20:34] mcdan commented on #296
So I've had 2.11.3 running for a few days now and I don't seem to get into the login loop but I do still see a large number of those redis OOM exceptions still. I currently only have 2 repos being indexed.

[2018-11-06 20:56] ijsnow opened #844 "CI steps fail when installing cypress even though they don't need cypress"
Multiple steps are failing due to errors thrown when trying to download cypress. See this build https://buildkite.com/sourcegraph/sourcegraph/builds/22852#f174776e-684f-4980-b1fc-556ff588f917.

Cypress shouldn't be installed on each step. [See how it was done before with Travis CI.](https://github.com/sourcegraph/browser-extensions/blob/master/.travis.yml)

[2018-11-06 21:13] slimsag opened #849 "badges: show list of repos that reference a repo"
Clicking a repository badge used to show a list of repos that reference the repo of the badge. This feature has since been removed, which makes repository badges much less useful. Example for github.com/gorilla/mux:

[![Sourcegraph](https://sourcegraph.com/github.com/gorilla/mux/-/badge.svg)](https://sourcegraph.com/github.com/gorilla/mux?badge)

[2018-11-06 21:29] beyang opened #852 "Cannot enable Codecov extension on private repository"
Source: https://twitter.com/munchybunch/status/1059907028951359493

@joshma can you verify you have the following:
* A private Sourcegraph instance running (https://docs.sourcegraph.com/)
* The URL of the personal instance is configured in your Chrome extension (click the Sourcegraph Chrome extension icon to go to the settings page).
* Codecov works on https://github.com/theupdateframework/notary/

[2018-11-06 22:00] sqs commented on #623
@felixfbecker 	encountered this

[2018-11-06 22:01] chrismwendt commented on #844
Fixed in https://github.com/sourcegraph/sourcegraph/pull/850

[2018-11-06 22:01] #844 closed

[2018-11-06 22:14] nicksnyder commented on #807
@kmahyyg @lalau

Can you share your site configuration with any secrets redacted?

I am specifically interested in what you have configured for these values:
- [appURL](https://docs.sourcegraph.com/admin/site_config/all#appurl-string)
- [canonicalURLRedirect](https://docs.sourcegraph.com/admin/site_config/all#canonicalurlredirect-string-enum)

If you haven't configured canonicalURLRedirect, can yo

[2018-11-06 22:33] dadlerj opened #859 "User can't add repositories through GraphQL API"
- **Sourcegraph version:**
- **Platform information:**

#### Steps to reproduce:

A user reported that using our API to add repositories wasn't working for them. They tried the following mutation:

[code]

They indicated that they got this by copying the mutation done in `graphqlbackend/configuration_test.go`

The documentation indicated to them, regarding the AddRepository migration:

They also t

[2018-11-06 22:35] dadlerj opened #860 ""Example queries" link from iGraphQL console doesn't work"
Visit https://sourcegraph.com/api/console

Try the "Example queries" link at the bottom (https://about.sourcegraph.com/docs/features/api/examples)

It appears as though this link got broken in the docs changeover.

[2018-11-06 22:41] sqs commented on #860
Will update all of https://sourcegraph.com/search?q=repo:sourcegraph/sourcegraph%24+%22https://about.sourcegraph.com/docs%22

[2018-11-06 23:00] #605 closed

[2018-11-06 23:05] #835 closed

[2018-11-06 23:11] joshma commented on #852
@chrismwendt You're right, we don't have a private sourcegraph instance - we actually aren't sourcegraph users right now :x - and are hoping to get codecov highlighting on PRs.

What form of background colors are you referring to? I see green highlighting at https://github.com/theupdateframework/notary/blob/fb795b0bc868746ed2efa2cd7109346bc7ddf0a4/server/storage/tuf_store.go

![image](https://user

[2018-11-06 23:35] beyang commented on #630
Thanks for the traces. We've shipped a new version of the Java container: https://hub.docker.com/r/sourcegraph/codeintel-java/tags/.

If you are building Sourcegraph from source, you'll need to run the newest `latest` tag of the `sourcegraph/codeintel-java` container.

If you are running Sourcegraph from the official Docker container ([these instructions](https://docs.sourcegraph.com/)), do the fo

[2018-11-06 23:47] joshma commented on #852
Hm so I:
- Inspected background page, cleared console
- Refreshed a github PR

Got the following (doesn't seem to have any errors):
![image](https://user-images.githubusercontent.com/64739/48101185-0901cb00-e1db-11e8-842e-0ca25da1a257.png)

Is there a way to see if it's even attempting to pull data from codecov? (I suspect codecov but have been having a hard time getting in touch with their suppor

[2018-11-06 23:49] joshma commented on #852
For what it's worth, I get this on the console of the PR itself (not the background page):
![image](https://user-images.githubusercontent.com/64739/48101356-79a8e780-e1db-11e8-9541-3ba8787934f3.png)

[2018-11-06 23:55] nicksnyder commented on #835
This fix was just released as 2.13.2

[2018-11-07 00:05] chrismwendt commented on #852
You can check the Network tab to see if any requests are going to codecov.io

You could try disabling every other extension and see if it works.

[2018-11-07 00:44] beyang commented on #810
Dupe of https://github.com/sourcegraph/sourcegraph/issues/559

[2018-11-07 00:44] #810 closed

[2018-11-07 01:33] jackwish commented on #803
Got it, and thank you for recommending octotree.

[2018-11-07 02:00] felixfbecker commented on #811
Yes, that look like the cause. Not showing any errors is not a good fix, instead errors should be aggregated like results are aggregated. @attfarhan

[2018-11-07 05:13] kmahyyg commented on #807
I do not modify any config, I just run the container using the commands on your document page.

Sent from ProtonMail Mobile

On Wed, Nov 7, 2018 at 06:14, Nick Snyder <notifications@github.com> wrote:

[2018-11-07 05:36] nicksnyder commented on #807
@kmahyyg Can you try setting canonicalURLRedirect to "disabled" in your site config and let me know if that fixes the problem?

[2018-11-07 07:49] keegancsmith commented on #678
Indeed it does, I wonder how often it would trigger though (depending on browser / src cli / etc).

I think making this part of the context is the wrong thing to do. Rather, can we not explicitly do it like we do on Sourcegraph.com when a user visits a repo we don't know about. In that case we do an API request to see if the repo does indeed exist. Could we do the same as a user, then if the user

[2018-11-07 07:51] #860 closed

[2018-11-07 07:57] keegancsmith commented on #797
woah, that is rather surprising. Either the 50ms sleep is not enough time (surprising), or redis cache is aggressively evicting items. Either way we will be deleting lsp-proxy, so unless this has been flakey more than once I'm not sure it is worth fixing / rather just delete the test.

[2018-11-07 08:02] kmahyyg commented on #807
Works fine after add ` "experimentalFeatures": {"canonicalURLRedirect":"disabled"}` .

But there's still some problem here: When generate a new password reset link: It still will jump to 7080 port instead of mapped port.

[2018-11-07 08:17] IizunaK commented on #859
Hi, I am the user in question.

My goal is to automatize the installation of sourcegraph and its continuous setup, and I would like to go through the API (not the UI).
So basically =
- Adding new repositories as soon as they are added to our subproject in Github Enterprise (not even easy to do in the UI as you have to manually click to enable the repos as the search regex is not taken into account

[2018-11-07 09:30] keegancsmith commented on #705
If someone wants to work on this, I have some pre-existing work on CODEOWNERS so likely can advise on it.

[2018-11-07 17:09] sqs opened #871 "Support Gerrit"
Tracking issue for Sourcegraph to support syncing repositories and providing other integration with Gerrit

[2018-11-07 17:10] sqs commented on #859
Sorry you ran into these issues. For updating **site configuration**, you need to use the [`updateSiteConfiguration`](https://sourcegraph.com/github.com/sourcegraph/sourcegraph@b7ece43c5e3ef4a80f5661588f49ac6a879cb956/-/blob/cmd/frontend/graphqlbackend/schema.graphql#L276) mutation, not `configurationMutation`. I will clarify the docs here (I can see how it is confusing). The `input` arg needs to

[2018-11-07 17:20] sqs commented on #838
We will be temporarily removing C support as it does not work well enough. Sorry you encountered these problems.

There is a separate issue you raised, too: a hover error causes subsequent hovers to not work. Assigned to @chrismwendt 	and retitled issue.

[2018-11-07 17:21] sqs commented on #797
Will be fixed with the removal of lsp-proxy (or will delete it sooner)

[2018-11-07 19:37] joshma commented on #852
Confirming that I see requests going to codecov.io when I'm on a public repo but not on the private repo.

I do think the `Uncaught h: no sourcegraph urls are configured` error is related actually - is it crashing the call so that it gives up after that?

(I'm on Version 2.0.0 of the sourcegraph extension - looks like the latest in the marketplace.)

[2018-11-07 20:11] beyang commented on #852
@chrismwendt I can repro on my own private repo. Want to debug together sometime this afternoon?

[2018-11-07 20:45] ijsnow opened #875 "Ability to select code from search results page"
#### Feature request description

The ability to select code form results on the search results page.

#### Is your feature request related to a problem? If so, please describe.

It could be useful to select text directly from results rather than having to click into each result and back out. Some workflows could include needing to copy/paste bits of several results.

#### Describe alternatives yo

[2018-11-07 21:36] chrismwendt opened #876 "Update docs/links after moving repos"
This is a tracking issue for updating docs/links after moving the browser-extensions repo into sourcegraph/sourcegraph. I will update links on each of:

- [x] https://github.com/sourcegraph/about
- [x] https://github.com/sourcegraph/sourcegraph-extension-samples
- [x] https://github.com/sourcegraph/sourcegraph-extension-docs
- [x] Other files in https://github.com/sourcegraph/sourcegraph
- [x] Chr

[2018-11-07 21:41] chrismwendt commented on #852
@beyang Great, yeah feel free to ping me when you're available.

[2018-11-08 00:30] AndrewRussellHayes opened #878 "Ability to text-search across all branches (but not necessarily in the same file in another branch)"
#### Feature request description

I want the ability to come across code in my codebase that looks out of place and search for that text across all branches of my repository. Further, let us say that the code in question was the first line in a file and said: "hello world". I would like the search to also return hello world's found in all branches and in other files in those branches. (i assume it

[2018-11-08 01:45] alexism commented on #875
I would like to support this request as I ran into the same challenge today. My intent was to browse code from search result to search result. Currently this means: click through a match, copy the next search pattern, paste it into the search bar, and execute.

Anything Sourcegraph could do to improve this flow would be awesome.

[2018-11-08 06:45] nicksnyder commented on #807
Thanks for confirming, we will work on a fix.

[2018-11-08 07:24] ijsnow opened #880 "Test simpler options menu"
The simpler options menu is released in Chrome behind a feature flag. To enable it, select the "Enable the simpler options menu" check box in the options page.

Interact with the options menu how you would expect and report any issues you see. Try changing the URL around and editing the feature flags if you click the settings icon.

[2018-11-08 07:38] sqs commented on #878
@AndrewRussellHayes and I talked on Twitter. Summary below.

You *can* search all/multiple branches for matching diffs and commit messages (see `repo:regexp-pattern@refs` in the [query syntax docs](https://docs.sourcegraph.com/user/search/queries#keywords-diff-and-commit-searches-only)).

For example:

- [unmerged commits with `task` in their diff](https://sourcegraph.com/search?q=repo:%5Egithub%5

[2018-11-08 10:32] jlangston commented on #708
Being able to add squiggles with the extension API would be great. I've got an initial take of a TSLint Sourcegraph extension that us using the line/range background color and tooltip decorations.  https://github.com/jlangston/sourcegraph-tslint-ext

[2018-11-08 11:09] keegancsmith commented on #678
I was thinking that if a user does not have access to a repo, but tries to directly access it, that triggers the refresh? We had the same model when we supported private repos on sourcegraph.com. From the codes perspective it was a 404 no matter if the repo existed or not, and we treated it the same w.r.t. looking upstream for it.

[2018-11-08 16:12] mcdan commented on #296
Actually I stand corrected, just got the server into this state again. I had _just_ added a new repository bringing the total up to 3 and now I'm stuck in the redirect loop.

Is there anything I can pull off the system or container to help figure out what's the root cause? There is still plenty of memory and cpu available on the machine it's running on so it's not a resource issue locally.

I see

[2018-11-08 18:12] attfarhan opened #882 "Browser extension: simpler options menu editor has weird behavior"
- **Sourcegraph version:** Browser ext 2.02
- **Platform information:** Chrome 70

There is a bunch of odd behavior in the feature flag editor.
- The cursor does not update when pressing the left or right arrow keys
- Lines sometimes disappear (see gif below). I don't know what I pressed to make this happen but I was just moving around the editor to show the lack of cursor movement, and inserting

[2018-11-08 18:54] nicksnyder opened #883 "Code intelligence on Go source files on golang.org"
It would be nice if we could provide code intelligence on pages like https://golang.org/src/os/file.go

[2018-11-08 19:02] ijsnow commented on #882
This is because I'm using a jsonc parser. I'd rather just use check boxes than using a settings editor. The only configurable settings will be boolean feature flags other than the URL

[2018-11-08 19:45] nicksnyder opened #884 "Host changelog on docs.sourcegraph.com"
So it can be auto deployed.

[2018-11-08 19:56] KattMingMing opened #886 "How to add additional capacity for language servers"
#### Question description

User feeedback:

#### Additional context

Running v2.12.3 k8s deployment.

[2018-11-08 21:40] ijsnow commented on #852
Hmmm, definitely thought that was flipped to the default a long time ago. It should be removed . I can deploy that today.

Currently, the only way to toggle that would be to:

1. Go to chrome://extensions
2. Enable developer mode in the top right
3. Click background page for the Sourcegraph extension
4. Run the following in the console

[code]

[2018-11-08 21:44] beyang commented on #852
^ @joshma do Isaac's instructions for enabling the extension by toggling the feature flag work for you?

[2018-11-08 21:50] ijsnow commented on #852
I'll merge the fix and release it soon https://github.com/sourcegraph/sourcegraph/pull/891.

[2018-11-08 22:34] ijsnow commented on #852
Deploying right now. Reopened so that we can confirm this isn't an issue anymore.

[2018-11-08 22:44] ijsnow commented on #852
Version 2.0.4 should be on the Chrome store within an hour! You won't have to do the steps above to see if this is fixed.

[2018-11-08 23:56] joshma commented on #852
Thanks for the continued help folks. Here's what I see now:
1. "Use sourcegraph extensions" was disabled after the update, so I re-enabled it
2. When I load a private PR, I don't see coverage still, but I do see new errors!

From the page's console:
[code]

From the background page console, I don't see a codecov.io request.

[2018-11-08 23:56] joshma commented on #852
Also, when I try to set my codecov API token, the GH command palette only shows 1 item:
![image](https://user-images.githubusercontent.com/64739/48234558-e9031080-e36e-11e8-99d1-818f2a1c7488.png)

[2018-11-09 01:50] francisschmaltz opened #893 "Organization profile should not have sidebar"
![screen shot 2018-11-08 at 5 49 35 pm](https://user-images.githubusercontent.com/11583013/48238132-b103c980-e37e-11e8-90d6-54e68f14890e.png)

There should never be a sidebar with a single item. There should not be a sidebar here.

[2018-11-09 02:33] #882 closed

[2018-11-09 05:00] #422 closed

[2018-11-09 06:13] nicksnyder opened #898 "Go build is broken"
First, we started seeing builds fail like this:
https://buildkite.com/sourcegraph/sourcegraph/builds/23089

I don't understand why Athens would randomly start 500ing for a url like that. I tried restarting the athens proxy, but no help.

I attempted to fix by updating go/tools here:
https://github.com/sourcegraph/sourcegraph/pull/896

This allowed the build to progress further, but still failed on

[2018-11-09 06:31] nicksnyder commented on #898
We were pointing at https://github.com/dominikh/go-tools/commit/f1b53a58b022 which is now an orphaned commit

https://github.com/dominikh/go-tools/commit/6b04966a29ff3758eb1f9d92aa1b31205263589d is the same commit on `next` branch so going to try switching to that.

[2018-11-09 06:35] nicksnyder commented on #898
The above fixed one problem, but our db backcompat test fails because it is pulling in the old dependency when it checks out an old commit (and Athen's 500s).
[code]

[2018-11-09 07:06] #898 closed

[2018-11-09 07:44] keegancsmith commented on #678
Searches just use `db.Repos.List` which shouldn't trigger that. I am suggesting we use the same logic we use for repo discovery on Sourcegraph.com. When a user explicitly visits a repo URL that 404s for them, we check if the upstream repo is accessible for them.

[2018-11-09 07:46] keegancsmith commented on #886
They can increase the number of replicas for go-langserver. Additionally they may find it useful to give the deployment more CPU/memory resources.

[2018-11-09 13:10] cherealnice opened #900 "Add match case toggle to search"
#### Feature request description
Hello,

I have been using Searchable for a few days now and it's great!  One thing I noticed is that queries are not case sensitive by default.  Even though it's easy enough to pass `case:yes`, it would be nice to have a quick toggle for this option, as it's common for many editors.  If this is something you discussed and decided against please let me know!

#### I

[2018-11-09 15:50] KattMingMing opened #901 "Support for Google IAP with x-goog-iap-jwt-assertion"
#### Feature request description

Add support for Google [IAP](https://cloud.google.com/iap/) with `x-goog-iap-jwt-assertion` for secure user validation.

#### Is your feature request related to a problem? If so, please describe.

- The Phabricator extension (https://github.com/sourcegraph/phabricator-extension) requires a user to visit a Sourcegraph instance to refresh the token.
- Usernames are

[2018-11-09 17:43] francisschmaltz commented on #893
@nicksnyder can you assign someone to fix this.

[2018-11-09 18:07] sqs commented on #901
For November 2018, we should just add an option to the `http-header` auth provider like `stripDomain: true` that removes the domain from the username, so that the usernames created from `X-Goog-Authenticated-User-Email` are like `alice` not `alice-example-com`.

Implementing `x-goog-iap-jwt-assertion` can come later.

[2018-11-09 18:09] sqs commented on #900
We should add a `case:yes` dynamic search filter for queries that contain terms and that do not already contain a `case:` keyword.

[2018-11-09 18:10] sqs commented on #886
@chrismwendt 	Please close this issue when you have added docs to the *new* Go extension's README to cover this (basically what Keegan said).

[2018-11-09 18:11] nicksnyder commented on #893
Since this is purely cosmetic, it isn't high priority.

[2018-11-09 18:32] francisschmaltz opened #902 "Discussions for disabled repo should not appear on main discussions page"
![disq-dis](https://user-images.githubusercontent.com/11583013/48281149-95460500-e40a-11e8-8ceb-17d7bc1a5958.gif)

Discussions for repositories that are disabled should either be visible in a historical view, or hidden from the main discussions page.

@slimsag I'm open to talking about UI considerations for this

[2018-11-09 19:08] ryan-blunden commented on #643
Searching a specific subset of repositories can be achieved by adding a repository group and a corresponding search scope in your Site admin > Global settings. Example below

[code]

Add a search scope:

[code]

Yes, this will mean you are cloning public repositories to your local instance. If this is not feasible, then Solution 2 will is the way to go.

[2018-11-09 19:23] ryan-blunden commented on #763
@joebowbeer Is the Codecov extension working on private repositories for you now?

[2018-11-09 19:29] ryan-blunden commented on #715
@xizhao We now have [documentation for extension authoring](https://docs.sourcegraph.com/extensions/authoring).

[2018-11-09 19:29] mcdan commented on #296
Another piece of the puzzle, I can sign in when all the high CPU usage goes away. So there is something probably really pounding redis which then causes the login to fail presumably because it can't put the new session id in redis.

[2018-11-09 19:41] ryan-blunden opened #904 "Document how `contributions` work for extensions"
Need to provide documentation on what's possible with contributions, including documenting the template language and available variables.

[2018-11-09 19:47] beyang commented on #901
Please link to specific customer issues or describe. Not enough info here for me to understand the problem or why @sqs's proposal is an acceptable tradeoff. Reassign to me after that's done.

[2018-11-09 19:53] mikolysz opened #905 "Issues when using sourcegraph with a screen reader"
- **Sourcegraph version:** sourcegraph.com
- **Platform information:** win 7 64 bit, chrome latest stable, NVDA 2018.3.2

#### Steps to reproduce:

1. Access sourcegraph.com with a screen reader. A screen reader is a piece of software that reads the content on the screen for users who are unable to see it. Scren readers are mostly used by blind and low vision people.
2. Navigate around the page, t

[2018-11-09 20:18] beyang commented on #678
Currently, authz providers are agnostic of whether a request is tied to a visit to a repo page vs. some other request. How does the repo discovery logic handle this? We cannot rely on repository existence here because (1) any repo passed to an authz provider will already exist and (2) we need to handle cases where the repo already existed and the permissions have changed to be more permissive.

Is

[2018-11-09 21:18] francisschmaltz opened #908 "Code discussions search should not be case sensitive"
Searching code discussions only turns up results with the same case. Searching should be case insensitive.

![screen shot 2018-11-09 at 1 16 35 pm](https://user-images.githubusercontent.com/11583013/48288726-e57c9180-e421-11e8-8435-1d710d931d10.png)
![screen shot 2018-11-09 at 1 16 39 pm](https://user-images.githubusercontent.com/11583013/48288727-e57c9180-e421-11e8-8d23-cbde990b57b1.png)

[2018-11-09 21:22] sqs opened #909 "No JSON Schema assistance when codecov extension is enabled"
My user settings Monaco editor doesn't show tooltips when I enabled the Codecov extension

[2018-11-09 22:31] chrismwendt opened #911 "Support line decorations on PRs/diffs"
#### Feature request description

Line decorations on PRs and diff pages https://github.com/sourcegraph/sourcegraph/issues/852#issuecomment-437513606

<details>
<summary>VS Code Screenshot</summary>

![image](https://user-images.githubusercontent.com/64739/48291333-ecf46880-e42a-11e8-9703-7a48256001cd.png)
</details>

#### Is your feature request related to a problem? If so, please describe.

Not

[2018-11-09 22:32] chrismwendt commented on #852
Great, I filed a feature request for line decorations on PR/diff pages https://github.com/sourcegraph/sourcegraph/issues/911

[2018-11-09 22:47] sqs commented on #905
Thank you for the detailed report! @francisschmaltz is working on this area and can triage and plan fixes here.

[2018-11-09 22:49] sqs commented on #657
Dupe of #462

[2018-11-09 22:49] #657 closed

[2018-11-09 23:04] sqs opened #914 "Handle renames and deletions of mirrored repositories"
This is an umbrella issue that covers generally cleaning up the problem where code host entries in site config (and `repos.list`) merely create repositories, they do not "manage" the active set of repositories. This causes the following (specific) problems:

- If a GitHub token is used and grants access to repos `a` and `b`, then the token's owner no longer has access to `b`, the `b` repo remains

[2018-11-09 23:05] sqs commented on #383
We plan to address this pain with https://github.com/sourcegraph/sourcegraph/issues/914. I am closing this issue in favor of that one, which will prevent Sourcegraph from getting into the bad state described in this issue.

[2018-11-09 23:05] #383 closed

[2018-11-09 23:05] sqs commented on #368
We plan to address this pain with https://github.com/sourcegraph/sourcegraph/issues/914. I am closing this issue in favor of that one, because fixing that one will prevent Sourcegraph from getting into the bad state that motivates this issue.

[2018-11-09 23:05] #368 closed

[2018-11-09 23:06] sqs commented on #108
We plan to address this pain with https://github.com/sourcegraph/sourcegraph/issues/914. I am closing this issue in favor of that one, because fixing that one will prevent Sourcegraph from getting into the bad state described in this issue.

[2018-11-09 23:06] #108 closed

[2018-11-09 23:06] sqs commented on #92
This was added a while ago. See https://docs.sourcegraph.com/integration/bitbucket_server#excluding-personal-repositories.

[2018-11-09 23:06] #92 closed

[2018-11-09 23:09] sqs commented on #394
Sorry, I categorized this issue wrong. It is (as you say) a problem in the Go lang server. Reassigned and relabeled.

[2018-11-09 23:20] #880 closed

[2018-11-09 23:46] sqs opened #915 "Panel title from hover is too large"
The panel title is supposed to just be the type signature. But it is showing the full docstring there now for some reason. That means can't see very many references without scrolling, which is annoying. (Probably because we now jam them together in the hover response?)

![image](https://user-images.githubusercontent.com/1976/48294006-9f7df880-e436-11e8-99c7-05e0925a6f9c.png)

@felixfbecker you mig

[2018-11-10 00:57] felixfbecker commented on #915
I don't know how the panel is implemented, where does it get its content from? The new server uses the non-deprecated `MarkdownContent` only, and seperates sections with horizontal rules (`---`/`<hr>`). The UI should really never make assumptions about the structure of hover contents.

[2018-11-10 06:19] sqs opened #922 "Browser extension contacts sourcegraph.com if access token is rejected"
Repro:

1. Set Chrome extension Sourcegraph URL to http://localhost:3080 (which you are signed into)
1. Load a page on GitHub
1. Delete the access token it created from your account on http://localhost:3080
1. Sign out of http://localhost:3080
1. Reload a page on GitHub

There are 2 problems:

- ~Even after doing this, the browser extension still tries to send an `Authorization` header (presumably

[2018-11-10 13:11] felixfbecker opened #925 "Syntax highlighting in dark theme has less color variation than in light theme"
Thanks to Mojave I got into dark theme again, but I noticed that code is significantly harder to read because it has less color variation in syntax highlighting:

![image](https://user-images.githubusercontent.com/10532611/48301657-943bd300-e4f1-11e8-94c2-ff962e26a445.png)

![image](https://user-images.githubusercontent.com/10532611/48301659-9b62e100-e4f1-11e8-9b7a-9a7cc7ea7ff8.png)

In light them

[2018-11-10 17:00] sqs opened #928 "CI: error Command "nyc" not found."
Many CI builds of mine just started failing with the error in the title. These are on branches that did not make any changes to `nyc`.

For example:

- https://buildkite.com/sourcegraph/sourcegraph/builds/23222#21f4353d-d988-47ae-916b-3db2908acbd3

I will look into this and close it when if I figure it out. CCing other people who seem to be working on testing stuff right now for awareness: @nicksn

[2018-11-10 19:02] sqs commented on #928
Notable:

[code]

[2018-11-10 19:32] sqs commented on #928
The problem is https://github.com/yarnpkg/yarn/issues/4964

[2018-11-10 19:47] #928 closed

[2018-11-10 19:55] nicksnyder opened #931 "Build is flakey"
Builds fail like this

[code]

https://buildkite.com/sourcegraph/sourcegraph/builds/23218#6ad76254-926d-40a3-8679-feffbb2af1c5

See also
- https://github.com/yarnpkg/yarn/issues/4890
- https://github.com/yarnpkg/yarn/issues/5259
- https://github.com/yarnpkg/yarn/issues/4333
- https://github.com/yarnpkg/yarn/issues/5848

[2018-11-10 20:00] #931 closed

[2018-11-10 20:23] sqs opened #933 "update deploy-sourcegraph for appURL -> externalURL change"
8e9ddedab00c969ab091c0dfe35d5f7d5f490526 (#924) renamed appURL to externalURL. This change needs to also be made in deploy-sourcegraph and deploy-sourcegraph-docker.

[2018-11-10 22:48] sqs opened #935 "Integrate with GitHub search box"
It would be nice if there was a way to perform a Sourcegraph search from the GitHub search box, like another row `On Sourcegraph` in the dropdown:

![image](https://user-images.githubusercontent.com/1976/48306951-9bfe7600-e4f7-11e8-865a-62215d3f874b.png)

cc @felixfbecker @dadlerj

[2018-11-11 00:53] beyang commented on #678
Another consideration is that we currently have multiple caches. For instance,
* The authz provider will cache info.
* It in turn uses an API client that also caches certain API responses.
* The API client, for all I know, might use a caching HTTP client.

Each of these caches exists because it can't rely on the caching in the layer below it to guarantee SLAs it has. For instance, the authz provid

[2018-11-11 00:59] beyang opened #937 "Cache invalidation for authz info"
Sourcegraph currently caches GitLab (and soon GitHub) repository permissions under a blanket TTL. In a few cases, we would like to bypass the TTL:
1. A new repository is created and a user wants to access
2. An existing repository is made accessible and a user who could previously not access it wants to access
3. A repository is made inaccessible and an admin wants to ensure that the permissions a

[2018-11-11 00:59] beyang commented on #678
Closing in favor of https://github.com/sourcegraph/sourcegraph/issues/937

[2018-11-11 00:59] #678 closed

[2018-11-11 04:02] sqs opened #938 "dev/update-phabricator-extension.sh was broken during repo migration"
This file was not migrated after the move from the separate browser-extensions repo to the single repo.

I am going to delete it to avoid confusing anyone. You can revive it from git history. (I do not need it and am not blocked on it. Just filing this for you.)

[2018-11-11 04:53] chrismwendt commented on #938
The Phabricator files are copied from `packages/browser-extensions` in [`gulpfile.ts`](https://sourcegraph.sgdev.org/github.com/sourcegraph/sourcegraph@master/-/blob/gulpfile.ts?diff=9cd5e49cc4fe3a6efa3a8058475e86763f710b86#L230). `dev/update-phabricator-extension.sh` might be superfluous now.

[2018-11-12 08:37] keegancsmith commented on #296
Could you share (with possibly sensitive information redacted) the output of `docker exec -it e746e5644cd8 redis-cli monitor` at startup. Where `e746e5644cd8` is the container ID for sourcegraph. We may have sensitive data in redis (eg http caching responses from code hosts), so you can also share the output just to me via keegan@sourcegraph.com

[2018-11-12 08:44] keegancsmith commented on #914
We should make the repos table the source of truth for everything that reads repo information, but repo-updater responsible for maintaining the repos table (via config + syncing from codehost). We are actually quite close to this, we just don't have repo-updater reading the full repos table and making decisions about disabling/updating/etc. Currently it only reads from code hosts.

[2018-11-12 10:41] vincentwoo opened #945 "Can't get Go code intelligence working."
- **Sourcegraph version:** 2.13.2
- **Platform information:** Google container optimized OS 70 (Docker 18.06)

Hi all,

Vincent from CoderPad here, after following @sqs and co for some time, I decided to give sourcegraph a whirl on our Go repo. I provisioned a google container optimized instance and managed to get it working up to the point where I'm in the site admin. I'm using the latest publish

[2018-11-12 10:42] vincentwoo commented on #945
I believe this may be related to Google's policy of running containers with `--net host` by default, btw.

[2018-11-12 13:10] felixfbecker opened #946 ""View on Sourcegraph" opens options page"
Wth?

![2018-11-12 14 08 54](https://user-images.githubusercontent.com/10532611/48349431-92564900-e684-11e8-912d-3f0829431685.gif)

https://github.com/Xanewok/rls

[2018-11-12 13:39] felixfbecker opened #947 "Intend to implement: window/progress"
For TypeScript dependency installation it would be useful to report progress, so we can answer requests without needing to do ugly heuristics.

Here's what the Rust language server already sends:

https://github.com/rust-lang-nursery/rls/blob/0e7432a4ff58bf3584c44bdb390d557cee846968/src/lsp_data.rs#L366-L393

LSP issue: https://github.com/Microsoft/language-server-protocol/issues/70
LSP proposal:

[2018-11-12 14:05] dpshelio commented on #744
wrong ling above, here's where you can [build Sourcegraph for Firefefox from source](https://github.com/sourcegraph/sourcegraph/tree/master/packages/sourcegraph-extension-api).

[2018-11-12 15:31] felixfbecker opened #948 "Investigate npm_lazy as an alternative to npm-registry-proxy"
Fetching dependencies still takes a long time in prod despite the npm proxy being used and showing almost only cache hits: https://app.logdna.com/e63dd10814/logs/view?apps=npm-proxy

![image](https://user-images.githubusercontent.com/10532611/48357189-46150400-e698-11e8-9ddf-caa5a5da867e.png)

Investigate different options like https://github.com/mixu/npm_lazy

[2018-11-12 15:33] felixfbecker opened #949 "See if registry.npmjs.org is faster than registry.yarnpkg.com in production"

[2018-11-12 15:49] #949 closed

[2018-11-12 19:55] ijsnow commented on #775
No longer an issue with new options menu.

[2018-11-12 19:55] #775 closed

[2018-11-12 20:00] KattMingMing opened #952 "Add support for passing a sha to the /-/editor endpoint"
#### Feature request description

Editor extensions should be able to pass a commit or a branch. The current implementation requires the branch name to be passed.
https://sourcegraph.sgdev.org/github.com/sourcegraph/sourcegraph@1430ef00dcde76766f088bd1ad1b8ad30e49f587/-/blob/cmd/frontend/internal/app/editor.go#L18:5

#### Is your feature request related to a problem? If so, please describe.

User'

[2018-11-12 21:40] ijsnow commented on #540
Hello! This was fixed by [this commit](https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/commit/1857613e69cb49f3d01281b33cea4e6be242d19f). This fix was released in 2.13.

[2018-11-12 21:40] #540 closed

[2018-11-12 21:40] #746 closed

[2018-11-12 21:46] #751 closed

[2018-11-12 21:48] ijsnow commented on #756
Can't repro

[2018-11-12 21:48] #756 closed

[2018-11-12 22:39] felixfbecker opened #955 "No codeintel in browser extension, Uncaught Error: File actions not found. Make sure you aren't trying to create a toolbar mount for a code snippet that shouldn't have one"
I don't get any codeintel when reviewing https://github.com/sourcegraph/sourcegraph/pull/919/files

Version 2.0.6, Chrome, "use extensions" OFF

Error in console:
[code]

[2018-11-12 22:42] beyang commented on #852
Closing in favor of https://github.com/sourcegraph/sourcegraph/issues/911

[2018-11-12 22:42] #852 closed

[2018-11-12 22:58] ijsnow commented on #955
I can't reproduce this. Is refined github or another extension you are using changing class names?

[2018-11-12 23:00] ijsnow commented on #955
Curious because you're the only one reporting this and I still can't repro (literally just closed the same issue https://github.com/sourcegraph/sourcegraph/issues/756).

[2018-11-12 23:08] ijsnow commented on #946
Can't repro with the provided link, but have seen this before. It has to do with a repo not being on the instance that the browser extension is pointing at.

[2018-11-13 03:18] chrismwendt commented on #838
The separate issue about errors preventing subsequent hovers from working was fixed in https://github.com/sourcegraph/sourcegraph-langserver-http/pull/9

[2018-11-13 03:20] chrismwendt commented on #701
Fixed in https://github.com/sourcegraph/sourcegraph-langserver-http/pull/9

[2018-11-13 03:20] #701 closed

[2018-11-13 04:54] #606 closed

[2018-11-13 05:31] sqs opened #958 "Go language support via extension"
Sourcegraph's support for Go hovers, go-to-definition, find-references, and find-implementations is built on [sourcegraph/go-langserver](https://github.com/sourcegraph/go-langserver). This has worked well so far to provide those features, but we want to be able to provide code intelligence features and configuration on par with editors, such as more Go guru features, a smoother configuration exper

[2018-11-13 05:41] sqs opened #959 "Python language support via extension"
Sourcegraph currently supports for Python hovers, go-to-definition, find-references, and find-implementations using [sourcegraph/python-langserver](https://github.com/sourcegraph/python-langserver). This has worked so far to provide those features, but we want to be able to provide code intelligence features and configuration on par with editors, such as better dependency support and a smoother co

[2018-11-13 05:43] sqs opened #960 "JavaScript/TypeScript language support via extension"
Sourcegraph currently supports for JavaScript/TypeScript hovers, go-to-definition, find-references, and find-implementations using [sourcegraph/javascript-typescript-langserver](https://github.com/sourcegraph/javascript-typescript-langserver). This has worked so far to provide those features, but we want to be able to provide code intelligence features and configuration on par with editors, such a

[2018-11-13 05:46] sqs opened #961 "Simpler browser extension options menu"
This a simplification of the browser extension options menu.

Merged in https://github.com/sourcegraph/browser-extensions/pull/271.

Draft announcement at https://github.com/sourcegraph/about/pull/46.

[2018-11-13 05:46] #961 closed

[2018-11-13 05:49] sqs opened #962 "Search GitHub issues"
[Draft blog post](https://github.com/sourcegraph/about/pull/53)

Status:
- I expect [#1275](https://github.com/sourcegraph/sourcegraph/pull/1275) to be merged by EOW, which solves checkboxes 6 + 7.
- I expect the last checkbox to take 3 days of work.

## Goals
- Implement GitHub issue search through an extension.
- Extension search providers should be on par with search providers in Go.
  - GraphQ

[2018-11-13 05:52] sqs opened #963 "LDAP and Active Directory user authentication"
- Closes #618

[2018-11-13 05:53] sqs opened #964 "GitHub user authentication"
- Closes https://github.com/sourcegraph/sourcegraph/issues/539

[2018-11-13 06:01] sqs commented on #945
Sorry it didn't work for you! Our [Google Cloud install instructions](https://docs.sourcegraph.com/admin/install/docker/google_cloud#deploy-to-google-cloud-vm) do not specify a `--network`, which means that `--network bridge` will be used by default (per https://docs.docker.com/engine/reference/run/#network-settings). Can you try using that instead? Or using Ubuntu as described in the instructions

[2018-11-13 06:13] sqs opened #965 "In-product site configuration"
Site configuration is how site admins configure things for their Sourcegraph instance:

- repository mirroring (from GitHub, GitLab, and other code hosts)
- user authentication providers
- email (SMTP credentials)
- and other things

The full list of things is in [site.schema.json](https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/blob/schema/site.schema.json).

There are 3 problems wit

[2018-11-13 10:00] lalau opened #968 "AWS CodeCommit error MaximumRepositoryNamesExceededException"
- **Sourcegraph version:** 2.13.2
- **Platform information:** localhost Mac OSX 10.12.6, Docker version 18.09.0-ce-beta1, build 78a6bdb, Google Chrome 70

#### Steps to reproduce:

1. Enter AWS CodeCommit config

#### Expected behavior:

Load AWS CodeCommit repos

#### Actual behavior:

Following error is logged in docker:
[code]

Please note that I opened the same issue before:
https://github.com

[2018-11-13 12:42] IizunaK commented on #859
Hi, thank you for the quick answer :+1: !

So I tried the following configuration with Sourcegraph 2.13.2

[code]

[2018-11-13 16:17] djuarezg opened #969 "CORS policy is not respected"
- **Sourcegraph version:** 2.13.2
- **Platform information:** Running on CentOS7, using Chrome extension, on Docker 1.13.1

#### Steps to reproduce:

1. Run your own Sourcegraph local instance
2. Configure the extension to connect to this instance
3. Configure Sourcegraph as in https://docs.sourcegraph.com/integration/browser_extension#configuring-the-sourcegraph-instance-to-use to set up CORS pol

[2018-11-13 16:58] beyang opened #971 "Sourcegraph landing page"
Customer feature request: A Sourcegraph homepage with feed of recent relevant activity, "similar to what GitHub has, but with Sourcegraph data":
- how fast repositories are changing that you're working on
- latest diffs of repos you're working on

This would be a great "starting point" for daily Sourcegraph users. Customer says "search is amazing, but the 'Explore' page shows too many repos. It wo

[2018-11-13 19:33] ryan-blunden commented on #739
Extension API documentation is now available at https://unpkg.com/sourcegraph/dist/docs/index.html

[2018-11-13 19:33] #739 closed

[2018-11-13 19:41] francisschmaltz opened #972 "Buttons do not contain appropriate accessibility labels"
Sourcegraph buttons do not contain any accessibility attributes and this makes it hard to navigate Sourcegraph when using a screen reader.

Buttons should be descriptive and formatted correctly for screen readers.

All buttons should include the appropriate [ARIA attributes](https://www.w3.org/TR/html-aria/#rules-wd), [role attribute](https://www.w3.org/wiki/PF/XTech/HTML5/RoleAttribute), [title a

[2018-11-13 19:48] francisschmaltz opened #973 "FR: Support actions on symbols, and accessing the tooltip, without a mouse"
Sourcegraph should support interacting with symbols, and accessing the tooltip, without the need for a mouse/hovering. This would allow Sourcegraph's code intelligence features to be used with screen readers.

[2018-11-13 19:51] francisschmaltz opened #974 "FR: Change Sourcegraph code view away from tables to support screen readers"
To support screen readers, we should have an alternative way to display code on Sourcegraph other than a table view. Table views do not work well with screen readers and we should come up with a better solution.

As we currently use table views for all code layouts, this might be a huge undertaking and we should discuss how/when to move away from tables, or if there is an alternative we can use to

[2018-11-13 19:52] francisschmaltz commented on #905
@devil418 Thanks for reporting these!

I've created the following issue for Sourcegraph:
https://github.com/sourcegraph/sourcegraph/issues/972
https://github.com/sourcegraph/sourcegraph/issues/973
https://github.com/sourcegraph/sourcegraph/issues/974

If you want, feel free to submit PRs for code changes that you find to solve these, or other, issues.

[2018-11-13 20:31] sqs commented on #965
FYI @slimsag I added this constraint on the solution:

and rewrote these 2 bullets in the proposed solution:

[2018-11-13 20:52] sqs opened #975 "Site admin checklist for activation flow"
Site admin checklist UI: https://zpl.io/aXkpgop

[2018-11-13 20:56] sqs opened #976 "Align internal deployment processes with customers'"
Our current deployment process to dogfood and sourcegraph.com has a couple problems:

1. Most people on the team don’t understand how our current deploy process works. This means it is unclear how to add new services, edit existing services, or rollback in a safe way.
2. Our current deployment process is completely unrelated to how customers deploy Sourcegraph. The basis of our internal deploy pro

[2018-11-13 21:29] chrismwendt commented on #958
The raw API is not exposed internally on `/.internal/...`, and exposing it would take more effort than implementing token auth, so I'm planning to do token auth before moving code to go-langserver. (updated description).

[2018-11-13 22:32] sqs opened #978 "Sourcegraph extensions in your editor"
WIP: Copy over from https://docs.google.com/document/d/1_NTon70WY6uHzogGPBG06FRatNCVrKvSbHbZUEKY9xM/edit

[2018-11-13 22:36] sqs opened #979 "Swift language support"
We will be adding Swift language support to Sourcegraph to provide hovers, go-to-definition, find-references, and possibly other features for Swift code. Details TBD. This is expected to ship in Sourcegraph 3.0 (2nd week of Jan 2019).

### Links

- Likely the best lang server to use: https://forums.swift.org/t/introducing-sourcekit-lsp/17964
- Blog post about it: https://nshipster.com/language-ser

[2018-11-13 22:36] sqs opened #980 "Extension registry discovery and statistics"
Milestones:
- [ ] User count 3.0
- [ ] Favorite/Star/Like for users to chose favorites 3.1
- [ ] Interaction stats 3.2
- [ ] Usage from other instances (opt-in) 3.2

[2018-11-13 22:39] sqs opened #981 "Cross-language API/IDL support (GraphQL, Thrift, Protobuf)"
We will be adding support for cross-language API/IDL systems to Sourcegraph, in order of priority:

- [GraphQL](https://sourcegraph.com/github.com/sourcegraph/about/-/blob/projects/graphql-sourcegraph-extension.md) (partially done)
- Thrift
- Protobuf

You will be able to see hovers with documentation, go to definition, find references, etc., in API/IDL definition *and* code that is generated from

[2018-11-13 22:41] sqs opened #982 "Flow (JavaScript) language support"
You will be able to see hovers, go to definition, and find references in JavaScript code with [Flow types](https://flow.org/). Sourcegraph already supports JavaScript (and TypeScript) using TypeScript's code analyzer and type inferencer (#960), but this does not yet support Flow. Details TBD.

[2018-11-13 22:45] sqs commented on #744
Sorry, we just moved around the directories. The correct link for building the browser extension is https://github.com/sourcegraph/sourcegraph/tree/master/client/browser. (I also updated the link in the above post.)

[2018-11-13 22:48] sqs opened #983 "Document browser extension release process"
I removed the old deployment docs at 196bd3dbf1e27b54159ea33bd07f7486ca10ed6d that no longer apply after moving the browser extension code into the main repo. You should update the docs to describe how to release a new browser extension version to the Chrome Web Store.

[2018-11-13 23:40] IizunaK commented on #859
Maybe the right url would be something like https://api.github.com/search/repositories?page=1&q=org%3Aleboncoin instead ?

[2018-11-13 23:42] felixfbecker commented on #955
I get code intelligence now, no matter if Refined GitHub is on or off. But this bug definitely exists because it keeps happening to me since the original issue I filed. Could this be a race condition? Is the element it is looking for not rendered yet?

[2018-11-13 23:45] felixfbecker commented on #976
Am I reading this correctly that we are getting rid of all auto-deployment? That would be a huge step backwards. Not running e2e tests automatically too, everybody already knows how to run them locally, nobody does. They need to run automatically.

[2018-11-14 00:11] nicksnyder commented on #968
Sorry about that, you are completely right. I just assumed that the implementation already respected that config value.

[2018-11-14 00:13] nicksnyder commented on #972
The first thing that we should do is create a lint rule that identifies all locations where this is a problem.

[2018-11-14 01:17] sqs commented on #859
@nicksnyder Assigning to you because this seems repo-updated-related. Is the code or docs wrong for the github url site config property?

[2018-11-14 01:30] nicksnyder commented on #859
I think this is a bug in https://github.com/sourcegraph/sourcegraph/pull/482/files#diff-004e70637a984c7b22dfa7c3331d25f5R335

We need a fix similar to https://github.com/sourcegraph/sourcegraph/pull/496/files

(GitHub enterprise API paths are annoyingly different than github.com)

[2018-11-14 03:59] nicksnyder commented on #526
Another example I just hit

1. Go to https://github.com/sourcegraph/sourcegraph/pull/967/files#diff-40998d554a861e0d86f5010dde2c32a8R155
2. Hover over `*query.Branch` on line 155
3. Click "Go to definition"

![screen recording 2018-11-13 at 07 56 pm](https://user-images.githubusercontent.com/754768/48459195-32dc6400-e77e-11e8-999f-4decda933240.gif)

[2018-11-14 05:02] chrismwendt commented on #958
I abandoned https://github.com/sourcegraph/sourcegraph/pull/943 which was intended to construct the zip URL inside of the Go buildserver in favor of https://github.com/sourcegraph/sourcegraph/pull/987 which adds a `zipURL` field to `initializationOptions` and makes xlang-go fetch from there if present.

I also added token generation and `zipURL` construction to lang-go in https://github.com/source

[2018-11-14 07:11] keegancsmith commented on #976
Why can't we keep our continuous deployment for sourcegraph.com, and dogfood what our customers use on dogfood.

[2018-11-14 07:30] chrismwendt commented on #958
Replacing xcache with an in-memory HTTP cache in xlang-go in https://github.com/sourcegraph/sourcegraph/pull/989

[2018-11-14 08:04] chrismwendt commented on #742
Fixed in https://github.com/sourcegraph/sourcegraph-langserver-http/pull/9

[2018-11-14 08:04] #742 closed

[2018-11-14 11:08] sqs commented on #969
Reopening for @nicksnyder to ship a new patch release of 2.13 that incorporates this fix.

[2018-11-14 11:16] sqs opened #992 "Error sanitizing tsconfig.json"
Using the TypeScript extension, when I hover over tokens at https://sourcegraph.com/github.com/Microsoft/vscode/-/blob/src/vs/vscode.d.ts#L29:3, I see the following errors in devtools:

[code]

Also this one:

[code]

[2018-11-14 11:22] sqs opened #993 "Error: No project. (in TypeScript extension)"
When hovering in https://sourcegraph.com/github.com/sourcegraph/lang-typescript/-/blob/server/src/server.ts, I get the following error (repeated many times), and hovers do not show up:

[code]

[2018-11-14 11:33] felixfbecker commented on #993
I think this is a bug in tsserver, it starts hanging after running `yarn`. Seems to be https://github.com/Microsoft/TypeScript/issues/26651.
This did not happen before I made `yarn` run in the background. We may have to block init on it again, or restart `tsserver` after `yarn` is done (I wonder what is faster).

[2018-11-14 15:41] KattMingMing opened #994 "Code intelligence fails on Sourcegraph.com when other extensions throw errors"
- **Sourcegraph version:** Sourcegraph.com

#### Steps to reproduce:

1. Navigate to https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/compare/...v.2.13.3
2. Hover over deleted lines
3. Notice the hover tooltip never appears or only the loading indicator appears.
4. Tooltips work as expected when hovering over context lines or added lines, .

![hovertooltipserror](https://user-images.gi

[2018-11-14 17:15] #859 closed

[2018-11-14 17:48] slimsag opened #995 "feedback: I don't know what extensions I should enable."
In the browser extension, I have `Use Sourcegraph extensions and enable extensions on the registry` enabled.

However, I don't as a user actually know which extensions I should enable, so I end up really just not enabling any.

By large contrast, VS Code aggressively suggests extensions to me when I open new files or projects. (for example, with a "install this extension" alert box); and I usually

[2018-11-14 19:00] beyang commented on #618
@zapp42 @codereflection could you provide the following information to help us understand how best to address your auth needs?
* Which code host(s) do you use?
* Is your code host the source of truth for repository permissions? I understand that in most LDAP-based setups, the code host will sync group membership from LDAP groups, but the code host remains the source of truth for which users have a

[2018-11-14 19:02] sqs commented on #633
The 3.0(-preview) release is the best time to do this because it is a breaking change.

### Proposal

Suppose `a` and `b` are any terms in a query.

- Define a new concept "text search tokens": some parts of our search syntax are interpreted as **text search tokens**. This includes bare terms, `message:` (for searching commit messages), and any other future keywords added that are searching over a

[2018-11-14 19:35] francisschmaltz commented on #972
@felixfbecker can you create a lint rule to catch this.

[2018-11-14 20:40] sqs commented on #465
Closing in favor of #633

[2018-11-14 20:50] sqs commented on #129
Assigning to @chrismwendt 	to use this as a test case for the new Go external references implementation.

[2018-11-14 20:50] #149 closed

[2018-11-14 20:51] sqs commented on #71
The "More robust code host repository syncing" project was narrowed to be [Handling renames and deletions of mirrored repositories](Handle renames and deletions of mirrored repositories). I am pushing back this issue as a result.

[2018-11-14 20:52] sqs commented on #139
Assigning @chrismwendt 	to use this issue as a test case for the new Go external references implementation.

[2018-11-14 20:54] sqs commented on #521
@ijsnow Has this/will this be fixed by your general improvements to the browser extension code?

[2018-11-14 20:55] sqs commented on #670
Update: The [Search GitHub issues](https://github.com/sourcegraph/sourcegraph/issues/962) project on the roadmap is building the extension APIs necessary for this. I am pushing  this back one month and we will reevaluate it then when we have the extension APIs necessary for this.

[2018-11-14 20:56] sqs commented on #963
Update: Reconsidering whether to prioritize this; see https://github.com/sourcegraph/sourcegraph/issues/618#issuecomment-438778854.

[2018-11-14 20:58] sqs commented on #145
This will become possible again for public code when @chrismwendt 	adds external references support to the Go extension. The Go extension work is in progress, and he'll begin external references support soon. I will post an update then. I will do the final work of updating the blog post mentioned above and other relevant places.

[2018-11-14 20:58] ijsnow commented on #521
This is fixed in https://github.com/sourcegraph/browser-extensions/commit/9bd17ee3d8ba8afb73c3808387ecc28e62caadf0.

[2018-11-14 20:58] #521 closed

[2018-11-14 21:37] nicksnyder commented on #901
Are we worried about collisions where the IAP allows multiple distinct Google accounts to sign in like foo@company1.com, foo@company2.com, foo@gmail.com?

[2018-11-14 22:09] nicksnyder commented on #969
This is fixed in 2.13.3

[2018-11-14 22:09] #969 closed

[2018-11-14 22:11] nicksnyder commented on #859
Just released 2.13.3 with a fix; @lixunaK can you confirm that it works for you?

[2018-11-14 22:12] codereflection commented on #618
@beyang I use GitLab, internally hosted, and it is the source of truth for repository permissions.  Yes, we would query GitLab to see if a user has access to a given repository.  I think configuring SourceGraph to use our GitLab instance for authentication probably makes more sense than directly using LDAP.

[2018-11-14 22:56] sqs opened #1000 "Direct GitLab integration v1"
Draft announcement: https://github.com/sourcegraph/about/pull/41

Milestones:
- [x] Spec out how we are going to include JS in GitLab @ijsnow
- [x] Write PR description that contains roadmap @ijsnow
- [ ] mocks @francisschmaltz
- [x] [Open the PR when the description and mocks are ready](https://gitlab.com/gitlab-org/gitlab-ce/merge_requests/23755) @ijsnow
- [ ] Add db table to store Sourcegraph U

[2018-11-14 23:42] sqs commented on #901
No:

1. We already have that problem because we chop off email address domains
2. GitHub Enterprise does the same thing and documents this behavior, so it can’t be a show-stopping problem

Usernames aren’t trusted or meaningful guarantees anyway, so there are no security risks here. The rate of collisions is very low and there is a workaround (change the username) that GHE finds tolerable too (and

[2018-11-15 00:00] hsluoyz commented on #145
Thanks for the update :) Look forward to this feature.

[2018-11-15 02:26] beyang opened #1001 "Support LDAP authentication via code host authentication"
Proposal: support LDAP via code host authentication. Customers who wish Sourcegraph to support LDAP should add a comment with answers to the **Questionnaire** section.

## Questionnaire

1. Which code host(s) do you use? (e.g., GitHub.com, GitHub Enterprise, GitLab EE on-prem, Bitibucket Cloud, Bitbucket Server, Gitolite, AWS Code Commit, Google Cloud Source Repositories, etc.)
2. Is your code hos

[2018-11-15 02:57] chrismwendt commented on #958
For our org on Sourcegraph.com I've disabled the synthesized `langserver/go` extension and enabled `chris/lang-go`.

[2018-11-15 02:58] sqs commented on #503
This is [fixed in Sourcegraph 2.13.3](https://github.com/sourcegraph/sourcegraph/issues/969#issuecomment-438837350).

[2018-11-15 02:58] #503 closed

[2018-11-15 03:01] sqs commented on #527
done (it was empty)

[2018-11-15 03:01] #527 closed

[2018-11-15 03:04] sqs opened #1002 "Confusing error when you verify an email as the wrong user"
Split out from #397:

[2018-11-15 03:05] sqs commented on #397
Unable to repro. Closing after fix https://github.com/sourcegraph/sourcegraph/commit/2d34bc773effb38a43e35aa879e8022dde84d4fc to redirect location and splitting out the bad error message into #1002.

[2018-11-15 03:05] #397 closed

[2018-11-15 03:06] sqs commented on #305
The difficulty here is to make it so that the filter doesn't jump around right when you click (that would be undesirable). Not high priority, backlogged.

[2018-11-15 03:35] sqs commented on #647
Closing in favor of #958 (which is being actively updated)

[2018-11-15 03:35] #647 closed

[2018-11-15 03:36] sqs commented on #100
This error appears to be harmless, just annoying. It occurs when the indexer is building the index of cross-repository references and encounters an empty repository. It should just suppress the error.

Indexer is being removed in 3.0 (next major release), and we do not plan to fix this issue before then, so I am going to close this.

[2018-11-15 03:36] #100 closed

[2018-11-15 03:38] sqs commented on #133
@srounce Can you please provide additional information?

- What browser and OS are you using?
- Do you encounter this issue on GitHub and GitLab, too? (They both use the same base font size as Sourcegraph.)

[2018-11-15 03:40] sqs opened #1005 "Nested searches"
**NOTE:** See https://github.com/sourcegraph/sourcegraph/issues/1005#issuecomment-473011076 for the latest update on this issue.

Also known as subquery search. This is about improving the power of search in
Sourcegraph via adding sub-queries and logical operators (AND, OR, NOT). These
sort of queries are not uncommon via the shell. Usually done by mixing shell
pipelines, `find`, `grep -L` and `gr

[2018-11-15 04:07] sqs commented on #666
I think the approach described in the issue description is the simplest. I have a workaround using `htmlBodyBottom` in https://github.com/sourcegraph/sourcegraph/pull/1006.

Doing it for every user is sufficient.

Resetting globally (for all users) is ideal, to keep it simple.

The only worry is that users would find it annoying to be re-prompted for feedback. However, it still will only trigger a

[2018-11-15 04:17] nicksnyder commented on #955
This just happened to me and has happened to me multiple times in the past week. Hard refreshing the page always fixes it. I have yet to deduce what series of actions causes this to happen.

I don't have refined GitHub installed.

[code]

[2018-11-15 05:51] sqs commented on #511
Assigned to @felixfbecker to see if this still occurs in the new TypeScript extension in 3.0-preview and fix it if it does (or defer to milestone 3.0 if not possible to fix).

[2018-11-15 05:53] sqs commented on #480
I will make it so an extension whose title begins with `WIP:` or `[WIP]` is considered a work-in-progress. This is the convention used by GitLab (https://docs.gitlab.com/ee/user/project/merge_requests/work_in_progress_merge_requests.html). It is simpler than adding a new field.

[2018-11-15 06:31] VistaarJ commented on #807
Also having the same problem. Was running sourcegraph using the quickstart installation "docker run   --publish 7080:7080 --rm   --volume ~/.sourcegraph/config:/etc/sourcegraph   --volume ~/.sourcegraph/data:/var/opt/sourcegraph   --volume /var/run/docker.sock:/var/run/docker.sock   sourcegraph/server:2.13.3" , but accessing the URL is being redirected to 127.0.0.1. I tried adding "experimentalFea

[2018-11-15 06:31] shawnma opened #1010 "git history should have more info"
Currently when you look at the history of a file, it has only git change id and summary. It would be better if we can have author and date information. It would be even better if we can have diff support for two versions.

[2018-11-15 06:40] keegancsmith commented on #633
@sqs the new query parser is at `pkg/search/query` which will be the one used in 3.0(-preview)

[2018-11-15 07:38] sqs opened #1008 "Extension area header is flush with sides of screens, needs padding"
![screenshot from 2018-11-14 23-38-28](https://user-images.githubusercontent.com/1976/48537426-6c889a00-e866-11e8-94f3-36d6f78f9fad.png)

[2018-11-15 08:23] zapp42 commented on #618
@beyang Same here. Gitlab self-hosted as source of truth for repository permissions. And yes, using Gitlab for authentication will work for us.

[2018-11-15 08:30] sqs commented on #1010
@shawnma 	Just moved this issue to the main repository (https://github.com/sourcegraph/sourcegraph).

What version of Sourcegraph are you using? The latest release (Sourcegraph 2.13) and https://sourcegraph.com have a new Git history view. See it at https://sourcegraph.com/github.com/sourcegraph/sourcegraph-git-extras/-/blob/package.json#&tab=history.

It includes the author and date info, and whe

[2018-11-15 08:35] sqs commented on #807
@kmahyyg @VistaarJ Please try setting the `appURL` site config property to the URL you want to use, such as:

[code]

or

[code]

Does that fix the problem for you?

(Note: In the next (not-yet-released) version and in the latest docs, this has been renamed to `externalURL`. But for your version, it is still called `appURL`.)

[2018-11-15 08:36] sqs commented on #633
@keegancsmith :+1: What do you think of the proposal above?

[2018-11-15 09:07] sqs commented on #624
@ijsnow 	Want to make sure you acknowledge this and see when this will become a critical issue by

[2018-11-15 10:22] felixfbecker commented on #511
Works for me with the new extension:

![2018-11-15 11 20 07](https://user-images.githubusercontent.com/10532611/48546357-74792600-e8c8-11e8-899b-a7953f0bc194.gif)

But I also cannot reproduce with the current TypeScript support:

![2018-11-15 11 20 57](https://user-images.githubusercontent.com/10532611/48546413-98d50280-e8c8-11e8-831e-88025bc35a27.gif)

I think this was a bug in the TypeScript com

[2018-11-15 10:22] #511 closed

[2018-11-15 13:07] keegancsmith commented on #633
I like the idea of text search tokens, especially if we consistently apply it.

With the new query syntax I think rather than having `a.*b` we leave it to the query to decide that. IE it means `content:a AND content:b` which will returns all matches for a or b, but only in documents which have both a and b. If someone wants the more specific `a.*b` they can specify that.

The "looks like a regexp"

[2018-11-15 15:39] KattMingMing opened #1099 "Add "available in" and "introduced in" to feature documentation"
Update the Sourcegraph pricing page **Sourcegraph feature comparison** section to include the following:

- Anchor so that we can link directly to the feature comparison
- Add links to relevant documentation or blog post for each feature.
- Update features that are not yet shipped to include expected version they will be shipped. These should also link to the roadmap.

Also update feature document

[2018-11-15 16:32] shawnma commented on #1010
Ah nice. I guess our company is using an old version. thanks!

(how do I know which version is running?)

[2018-11-15 18:11] ryan-blunden commented on #1010
The path is `/site-admin/updates`

[2018-11-15 18:38] francisschmaltz commented on #972
- [ ] Make sure all buttons are labeled as such @francisschmaltz
- [ ] Create lint rule to require buttons be labeled @felixfbecker

[2018-11-15 18:51] dadlerj commented on #666
Thanks! Architecture newb question — to make this work, I have two options:

1) Move where we store info about whether a user has submitted surveys, etc, to the server side. We could put this into the `users` table. I don't think this is necessary (or necessarily ideal — some of our other toasts that use the same localStorage setup make more sense on a machine-level basis, e.g. the browser extensi

[2018-11-15 18:59] francisschmaltz commented on #975
I'll work on mockups for the new additions to the UI. @KattMingMing can you list a few message/stat ideas we could create for admins to send

[2018-11-15 19:18] dadlerj opened #1014 "Error on monthly user chart on site-admin Usage Stats page"
Likely an issue with our date formatting library

[code]

[2018-11-15 19:22] nicksnyder opened #1015 "Discussion: enforcing clone/update limit on repo-updater"
The new repo-updater scheduler assumes that [update requests to gitserver](https://sourcegraph.com/github.com/sourcegraph/sourcegraph@master/-/blob/cmd/repo-updater/repos/scheduler.go#L152) are synchronous, [as documented here](https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/blob/cmd/gitserver/server/server.go#L441).

This assumption is violated in [the case where the repo needs to be

[2018-11-15 21:30] ijsnow opened #1017 "Revision not found error displayed from browser extension"
The browser extension occasionally displays "revision not found" when hovering over tokens in a file on GH. This is most likely caused by gitserver not having the revision cloned.

#### Steps to reproduce:

1. TODO - unsure of the exact set of events that need to happen to repro this but it happens fairly frequently.

#### Expected behavior:

Code intelligence works.

#### Actual behavior:

Error

[2018-11-15 21:32] #915 closed

[2018-11-15 21:40] #480 closed

[2018-11-15 22:06] ggilmore commented on #976
@felixfbecker @keegancsmith PTAL. The original post has been updated with a more fleshed out description.

[2018-11-15 23:04] chrismwendt opened #1020 "Error on the extensions page: pq: invalid input syntax for type json"
- Visit https://sourcegraph.com/extensions
- Notice this error:

![image](https://user-images.githubusercontent.com/1387653/48587344-9df57a00-e8e7-11e8-846d-aeadab12a131.png)

[2018-11-15 23:05] chrismwendt commented on #1020
I think this is being caused by https://github.com/sourcegraph/sourcegraph/pull/1009 (merged 1 hour ago)

[2018-11-16 00:00] chrismwendt commented on #958
I enabled `chris/lang-go` on prod for all users. Zips are being fetched from the raw API:

https://prometheus.sgdev.org/graph?g0.range_input=1h&g0.expr=xlang_vfs_zip_fetch_total&g0.tab=0&g1.range_input=1h&g1.expr=xlang_vfs_zip_fetch_failed_total&g1.tab=0

![image](https://user-images.githubusercontent.com/1387653/48589232-920db600-e8ef-11e8-899a-8658485c9efe.png)

[2018-11-16 03:55] sqs opened #1027 "Direct integration into sr.ht"
[sr.ht](https://sr.ht) is a new, open-source code hosting service.

This issue tracks adding code intelligence to it. See https://news.ycombinator.com/item?id=18462557.

Related: #1000

[2018-11-16 03:55] kmahyyg commented on #807
I've already migrated to the latest tag of docker image, with the original config I modified as above. Sorry, I'm a little busy these days, no time to do these test.

Sent with ProtonMail Secure Email.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Thursday, November 15, 2018 4:35 PM, Quinn Slack <notifications@github.com> wrote:

[2018-11-16 04:44] #623 closed

[2018-11-16 06:17] #1010 closed

[2018-11-16 06:19] shawnma commented on #1010
No. Not an admin. Got 403. Maybe should file a bug to show version number in the (?) menu.

[2018-11-16 09:03] felixfbecker commented on #811
This makes debugging the new language servers a lot harder because there are a lot of logs in the console and it's easy to miss errors and hard to map them to requests

[2018-11-16 09:05] keegancsmith commented on #1015
Should we remove those other paths that can cause a clone in gitserver? That way we have one place only that is responsible for deciding this. It also removes the weird stuff we have around sometimes requiring a remote URL in gitserver, and move that responsibility just to repo-updater. We were working towards that goal a while ago, but I am not beholden to it. But it would be nice to remove that

[2018-11-16 09:06] sqs commented on #811
I'll fix tonight

[2018-11-16 09:12] sqs commented on #1020
fixed in #1029  and deployed - you can see the WIP badge at (e.g.) https://sourcegraph.com/extensions?query=python

[2018-11-16 09:12] #1020 closed

[2018-11-16 09:12] keegancsmith commented on #1010
We have a sneaky URL at `/__version` which should work for you.

[2018-11-16 09:19] sqs opened #1034 "Slow/flaky TypeScript code intel on Microsoft/vscode"
The TypeScript repo I use most is https://sourcegraph.com/github.com/Microsoft/vscode. This is a huge TS repo, so it's a good test case. You should be able to repro by going to https://sourcegraph.com/github.com/Microsoft/vscode/-/blob/src/vs/editor/common/modes/languageFeatureRegistry.ts#L96:2 and hovering over anything. Any other TS file should work, too. (`vscode.d.ts` is another one I often br

[2018-11-16 09:49] IizunaK commented on #859
Yes I confirm it works with the above configuration :)
Thank you very much !

As for the updateConfiguration, I have a hard time making it work
[code]
leads to "invalid character 'a' after object key:value pair"

And I wonder at which point my procedure is wrong.
Maybe we can discuss it in another issue though ?

[2018-11-16 10:15] sqs commented on #859
@IizunaK If I run the following, I see that the JSON is not properly escaped:

[code]

I would recommend:

1. Compose the JSON body in a file `postbody.json`, so you don't need to worry about escaping in Bash
2. Use GraphQL variables, so the body would be `{"mutation": "mutation Update($input: String!) {updateSiteConfiguration(input: $input)}", "variables": {"input": "{\"auth.public\": REST OF CON

[2018-11-16 10:17] IizunaK opened #1036 "Creation of the first user through the API ?"
* Sourcegraph version: 2.13.3
* Platform information: Ubuntu 18.10

My ultimate goal is to be able to automate completely the install and update of Sourcegraph without having to go to the UI to configure, so through the API.

But I realized that I stiil need to create the 1st admin user and create its token through the UI, for now

Something like :+1:
- Create the 1st admin user through API
- Crea

[2018-11-16 10:42] sqs opened #1037 "Document usage of Docker restart policy"
Using a Docker restart policy like `--restart unless-stopped` is nice because if you're running Sourcegraph via Docker and the Docker host restarts, it will restart Sourcegraph when it comes back up.

We should include this in our `docker run` commands.

https://docs.docker.com/engine/reference/commandline/run/#restart-policies---restart

[2018-11-16 10:58] sqs opened #1038 "cmd/server: warn if arguments are unrecognized"
It is easy to make the mistake of running something like:

[code]

where `--restart always` is intended to be https://docs.docker.com/engine/reference/commandline/run/#restart-policies---restart. In reality, because the `--restart always` arg is AFTER the image name, `docker run` passes it through to `sourcegraph/server`'s entrypoint. So it does not take effect on Docker.

It would be nice if `sou

[2018-11-16 11:03] saravanakumarangamuthu commented on #1038
one more thing is --rm and --restart cannot be running together, if we specify as below: it works/bring back the source-graph server docker after host restart

 docker run \
  --publish 7080:7080 \
  --volume ~/.sourcegraph/config:/etc/sourcegraph \
  --volume ~/.sourcegraph/data:/var/opt/sourcegraph \
  --volume /var/run/docker.sock:/var/run/docker.sock \
  --restart always \
  sourcegraph/server

[2018-11-16 11:06] sqs commented on #1038
@saravanakumarangamuthu Great, thanks for mentioning that!

[2018-11-16 11:10] nicksnyder commented on #1015
I didn’t look into it deeply, but it isn’t clear to me what current logic depends on exec implicitly cloning/updating and whether it makes sense to require any such existing logic to go through repo-updater instead of contacting gitserver directly.

I agree that the clone limiting logic in gitserver seems rather complicated.

[2018-11-16 11:14] IizunaK commented on #859
Ok thank you I will try that :)

As for the original githubsearch issue, maybe I was happy too soon. I have lots of logs and even if I enable the repos, they don't seem to clone.

[code]

[2018-11-16 11:37] sqs commented on #1036
Creating the 1st user (and initializing the site) through the API is not currently supported because the entire GraphQL API is subject to user authentication. Prior to the site being initialized, there is no meaningful way to authenticate users, so this means the whole GraphQL API is inaccessible.

This is just a technical limitation based on the most common user flow, though. There's no fundament

[2018-11-16 11:38] IizunaK commented on #859
Sorry you are right, bad dns configuration...

As for the query I managed to make it work with the body beginning by :
`{"query": "mutation Update($input: String!)}` instead of
`{"mutation": "mutation Update($input: String!)`

But apart for that thank you so much for helping me on that !
And for your reacitvity !

[2018-11-16 11:44] sqs commented on #859
Great! :+1: (I edited my post above to fix the mistake, `"query"` vs. `"mutation"`, so nobody else gets confused.)

[2018-11-16 12:19] sqs opened #1039 "fix CI DB backcompat test"
I disabled the CI DB backcompat test in ed3e3c59bab74e9cb40a2bbba520ad5f4ed59770. It is failing at https://buildkite.com/sourcegraph/sourcegraph/builds/23729#dc59f7b2-1814-4058-ab04-57f1be7bb19f. I fixed 2 bugs here (116c0a1debcdd676aecce315ee60eec7b74297e9 and 31f14fd8db6720e34e902bf277a0186cd33b5ba5), but it would be great if you @beyang 	could look into this from here and see why it's failing n

[2018-11-16 12:25] sqs opened #1040 "add monitoring for registry API endpoints"

[2018-11-16 13:00] cvanlabe commented on #807
I have tried to add "appURL": "myfqdn" in ~/.sourcegraph/config/sourcegraph-config.json, and now it shows on the container output it's ready at my fqdn, however when using the browser to it, it still redirects to 127.0.0.1:7080 .

Thanks! :)

[2018-11-16 13:09] #807 closed

[2018-11-16 13:14] sqs commented on #807
We just released `sourcegraph/server:2.13.4` to fix this issue ([changelog](https://about.sourcegraph.com/changelog#2134)). Use that Docker image tag (instead of `sourcegraph/server:2.13.3`). It's up at https://docs.sourcegraph.com/ now, too. Sorry all for the inconvenience!

@cvanlabe I believe that redirect may be caused by your browser remembering the permanent redirect sent by Sourcegraph. Try

[2018-11-16 13:17] sqs opened #1043 "release 2.13.5 cluster version"
I just released `sourcegraph/server:2.13.4` (see [changelog](https://about.sourcegraph.com/changelog/)). @ggilmore Could you please follow up and release 2.13.4 in deploy-sourcegraph, too?

[2018-11-16 14:00] cvanlabe commented on #807
Perfect, it works flawlessly with 2.13.4.
2.13.3 worked with the workaround indeed (you were right, browser was acting smartypants).

One last suggestion now: update the install doc to not explicitly point to localhost but to the < IP of the machine >, but that's completely up to you.

Thanks for the quick turnaround!

[2018-11-16 16:39] #968 closed

[2018-11-16 17:20] dadlerj opened #1044 "CI: SFC is deprecated"
CI is full of these warnings (e.g. see this recent successful commit: https://buildkite.com/sourcegraph/sourcegraph/builds/23753#0a0d69f7-8fdf-420c-9d42-96ee1955970e)

[2018-11-16 19:34] nicksnyder commented on #1043
I am trying to cut 2.13.5 now so don't bother with 2.13.4 until 2.13.5 is cut (I am having issues with building our release branch since we upgraded node).

[2018-11-17 00:19] sqs commented on #963
Customer replies to https://github.com/sourcegraph/sourcegraph/issues/618#issuecomment-438778854 on that thread and in private channels indicate that authing via the code host, not LDAP directly, is the better option for now. So we are postponing this feature. If you are reading this and need it sooner, please let us know!

[2018-11-17 00:25] sqs opened #1047 "No files or dirs shown"
https://sourcegraph.com/github.com/zulip/zulip/-/tree/corporate/lib

[2018-11-17 00:33] vanesa commented on #962
https://cl.ly/61bc34cb408c
Issue Filter WIP

[2018-11-17 01:42] nicksnyder commented on #1043
Here is the build for 2.13.5:
https://buildkite.com/sourcegraph/sourcegraph/builds/23815

[2018-11-17 02:04] nicksnyder commented on #968
The fix for this was released in 2.13.5. Can you confirm that it works for you?

[2018-11-17 04:17] chrismwendt opened #1050 "Error when viewing the extension registry as an anonymous user"
- Visit https://sourcegraph.com/extensions as an anonymous user
- Notice this error:

![image](https://user-images.githubusercontent.com/1387653/48656617-3836ea00-e9dc-11e8-8171-8cee4249b130.png)

The error is coming from these paths in GraphQL: `extensionRegistry.extensions.nodes[].viewerCanAdminister`

[2018-11-17 19:33] erezeshkol commented on #402
Hey @h8liu , I have the same issue (and am not at all familiar with golang) - could you please let me know how you fixed this? It'll also be useful for future people stumbling upon this issue :)

[2018-11-17 21:37] h8liu commented on #402
@erezeshkol one is supposed to use go module to build.

https://golang.org/doc/go1.11#modules

fwiw, I did not fix it; I simply stop using it.

[2018-11-18 01:06] vincentwoo commented on #945
I can take another crack at running it with the normal Ubuntu setup, but I think it would be really cool if sourcegraph was one-click deployable on COS. It seems *almost* doable - I think the networking thing is the last bit.

[2018-11-18 07:37] #1050 closed

[2018-11-18 09:01] chrismwendt commented on #958
Cross repo refs work on private instances using search. It doesn't work on Sourcegraph.com because there are too many repos. I tried the godoc.org importers API, but it doesn't allow CORS.

I added more docs (usage+docker+k8s+settings) to https://github.com/sourcegraph/lang-go

Operationally speaking, the Go buildserver no longer depends on lsp-proxy :sparkles:, but there are some code dependencie

[2018-11-18 09:37] #1047 closed

[2018-11-18 12:19] sqs opened #1055 "New Python lang server is crashing"
https://sourcegraph.com/github.com/keras-team/keras/-/blob/keras/optimizers.py#L19

[code]

[2018-11-19 09:09] sqs opened #1062 "Make config synchronously available to extensions"
Extensions currently must wait until after `activate()` is called to get the configuration. The configuration is not synchronously available. So a lot of extensions have workarounds like:

[code]

This is documented in sourcegraph.d.ts:

[code]

This issue tracks removing this limitation.

[2018-11-19 17:18] nicksnyder opened #1064 "Hover tooltips out of position (top left of window)"
![screen recording 2018-11-19 at 09 15 am](https://user-images.githubusercontent.com/754768/48723536-bc0af500-ebdb-11e8-8b74-7fa316ea4554.gif)

I am not sure how to reproduce, but it has happened to me a few times in the last week. Anecdotally, the steps are something like:
1. Go to a PR https://github.com/sourcegraph/sourcegraph/pull/1051/files
2. Click on the "Files changed" tab
3. Quickly click

[2018-11-19 18:42] slimsag commented on #965
Update:

- Most significant work is complete in https://github.com/sourcegraph/sourcegraph/pull/966 excluding the actual web UI for the management console.
- This week I will be trying to merge as much of that change as I can, by factoring some parts out into smaller-in-scope PRs (the PR has gotten too large to faithfully review/merge).
- Management console web UI expected to be out Wed/Thurs.

[2018-11-19 18:54] sqs commented on #666
I think the workaround in https://github.com/sourcegraph/sourcegraph/pull/1006 is really sufficient for now.

We already do store whether the user has submitted the survey, so we could easily add a "user X dismissed the survey at TIME" notation to that same DB table.

As you point out, any further improvements, including the one mentioned above, require significant (not huge, but significant) dev

[2018-11-19 21:22] ryan-blunden opened #1065 "Extensions detail page showing 404"
- **Sourcegraph version:** Sourcegraph.com
- **Platform information:** 70.0.3538.102

#### Steps to reproduce:

1. Go to any extension detail page

#### Expected behavior:

Get extension details

#### Actual behavior:

![screen shot 2018-11-19 at 1 20 56 pm](https://user-images.githubusercontent.com/133014/48735757-14eb8500-ebfe-11e8-81a4-22567080cf26.png)

[2018-11-19 21:40] sqs commented on #1008
@francisschmaltz 	ping on this

[2018-11-19 21:45] nicksnyder commented on #656
I am able to reproduce this right now on https://github.com/ludicrousxyz/requestman

[2018-11-19 21:47] nicksnyder commented on #656
![screen recording 2018-11-19 at 01 46 pm](https://user-images.githubusercontent.com/754768/48736950-955fb500-ec01-11e8-8bff-9f6dedb478ae.gif)

[2018-11-19 21:47] #1065 closed

[2018-11-19 21:51] sqs opened #1066 "Building from source -> extension page 404s"
#1065 still occurs when running from source `dev/launch.sh`

[2018-11-19 22:35] nicksnyder commented on #914
To solve all of the above problems well, we need to have a first class model for "Code host connections" and each row in the repo table will be owned by a single code host connection.

A code host connection should have a stable ID that is independent from information that might need to change about that code host connection (e.g. access token). Requiring a user to manage connection ids in a confi

[2018-11-19 23:19] nicksnyder opened #1067 "Go find references javascript error: Unknown document"
https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/blob/cmd/frontend/backend/repos.go#L92:17&tab=references

[code]

![image](https://user-images.githubusercontent.com/754768/48741010-87646100-ec0e-11e8-9c4a-c49a084374db.png)

[2018-11-19 23:23] nicksnyder commented on #1067
This was resolved by disabling sqs/sourcegraph-python for the Sourcegraph org on sourcegraph.com

[2018-11-19 23:34] #1062 closed

[2018-11-20 00:08] #1066 closed

[2018-11-20 03:54] ijsnow commented on #656
I can't come up with a repro that actually causes this to happen even though I've seen this in the wild. Please post here if you see it again (once the PR has been released).

[2018-11-20 04:50] ijsnow commented on #922
Could you elaborate more on what the issue is? It seems like this is about two unrelated things.

1) I don't think the browser extension should work if we don't have a valid token and are not signed in.

Following the repros to get to look at the full network tab, the requests are that are going to sourcegraph.com are the `ViewerConfiguration` requests coming from extensions settings cascades. It'

[2018-11-20 04:51] sqs opened #1072 "Code discussions links are not real links"
Repro:

1. Go to https://sourcegraph.com/github.com/sourcegraph/sourcegraph
2. Under **Discussions** on one of the threads, try:
  - middle-clicking to open in new tab (DOES NOT WORK, opens https://sourcegraph.com/github.com/sourcegraph/sourcegraph# not the thread)
  - ctrl-clicking to open in new tab (WORKS AS EXPECTED)
  - right-clicking on the link and copying the link URL (DOES NOT WORK, copie

[2018-11-20 05:01] sqs commented on #922
Yeah, this request should not be retried on Sourcegraph.com if it fails on the configured Sourcegraph URL.

[2018-11-20 05:41] slimsag commented on #1072
Yeah this is a bug, it comes from our usage of `openFromJS`: https://sourcegraph.com/search?q=repo:%5Egithub%5C.com/sourcegraph/sourcegraph%24+openFromJS It should be possible to fix that func to replicate this behavior I think.

The reason this is needed (i.e. the reason we don't use real links) is because it is desirable to have 'clicking anywhere in the entire row' open the discussion, i.e. cli

[2018-11-20 15:48] #922 closed

[2018-11-20 18:49] ggilmore commented on #976
For our dogfood cluster, I am planning to create a single K8s deployment that has the entire `sourcegraph/server` image. Using K8s for this allows us to have a well-defined + easily versioned configuration file (and allows us to facilitate auto-deployments in the future).

Another possible option is to not use K8S, and instead provision a VM and only use the `docker run` that we provide https://do

[2018-11-20 19:04] sqs commented on #976
A single k8s sourcegraph/server deployment sounds great. There are a lot of companies that run Sourcegraph that way. If you choose this route, add a doc page (alongside the Docker deployment instructions in `doc/admin/`) for how to do this.

[2018-11-20 19:07] sqs opened #1076 "docs site mentions docs.sourcegraph.com link"
The "View the latest roadmap on docs.sourcegraph.com." alert at https://docs.sourcegraph.com/dev/roadmap is intended to NOT be displayed on docs.sourcegraph.com, only when viewing the docs at `/help` on a Sourcegraph instance.

[2018-11-20 19:36] #1014 closed

[2018-11-20 19:57] ryan-blunden opened #1078 "Link to organizations settings page is wrong in docs"
- **Sourcegraph version:** 23989_2018-11-20_c0c9831 (23989_2018-11-20_c0c9831)
- **Platform information:** 70.0.3538.110

#### Steps to reproduce:

1. Go to https://docs.sourcegraph.com/user/organizations
2. Use link template http(s)://[hostname]/organizations/[org-name]/settings/profile to create link to Sourcegraph organization - https://sourcegraph.com/organizations/sourcegraph/settings/profile

[2018-11-20 20:15] #1043 closed

[2018-11-20 22:18] dadlerj opened #1080 "TypeScript codeintel: WebSocket connection to 'ws://localhost:8080/' failed"
- **Sourcegraph version:** latest master

#### Steps to reproduce:

Feel free to close if this isn't ready or isn't supposed to work yet

1. run enterprise dev server

2. run `docker run -p 80:8080 sourcegraph/lang-typescript` (from https://sourcegraph.com/extensions/felixfbecker/lang-typescript) and see:
[code]

3. update user settings:
[code]

4. visit .ts file, and see errors:

![image](https:/

[2018-11-20 22:20] felixfbecker commented on #1080
The settings are pointed to 2088 but the server is listening on 8080. Was 2088 mentioned in the docs?

[2018-11-20 22:32] dadlerj commented on #1080
Sorry, I had also tried with the old langserver image as well, but it doesn't work anymore. I get the same error when I point it at the correct port:

[code]

[2018-11-21 00:52] nicksnyder opened #1082 "sourcegraph/server:insiders DB not available: dial tcp: lookup pgsql on 192.168.65.1:53: no such host"
Commands:

[code]

Output
[code]

This is not broken on 2.13.5, so something since then broke this.

[2018-11-21 02:06] sqs commented on #914
Added needs-design label for "Create UI to create/edit codehosts" @francisschmaltz

[2018-11-21 04:21] ijsnow opened #1086 "Run browser extension e2e tests before releasing"
Currently, the build step for e2e tests in the browser extension hangs indefinitely after all of them succeed. It seems like puppeteer is closing the browser properly but mocha won't exit even with the `--exit` flag. We need to figure out why this is happening and un-comment [these steps](https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/blob/enterprise/dev/ci/gen-pipeline.go#L207-239)

[2018-11-21 04:35] sqs commented on #744
The Firefox extension is back! Get it at https://docs.sourcegraph.com/integration/browser_extension. We are now self-publishing it, so we don't anticipate any other interruptions, and it will be more up to date with our Chrome extension.

[2018-11-21 04:35] #744 closed

[2018-11-21 04:59] attfarhan commented on #962
Update: spent a few hours yesterday and all of today wrestling with marked/highlightjs/our match highlighting to get syntax highlighting, markdown rendering, and match highlighting to work nicely for the generic search result type. I just updated the PR https://github.com/sourcegraph/sourcegraph/pull/998 with the code that makes it work with diff and commit search pretty nicely (there are some UI

[2018-11-21 05:48] sqs commented on #762
Duplicate of #343

[2018-11-21 05:48] #762 closed

[2018-11-21 15:17] dadlerj commented on #494
reopening on myself to remove usages of `email`

[2018-11-21 16:17] ijsnow commented on #760
Hello! This is still an issue that's blocked by https://bugzilla.mozilla.org/show_bug.cgi?id=1432083, but I just wanted to post an update on the Firefox extension.

We decided to move to self hosting the Firefox extension. In order to get the latest version and future updates, you'll have to uninstall your current version and install the new one by clicking the link on [the integrations page](http

[2018-11-21 16:19] #743 closed

[2018-11-21 16:33] ijsnow opened #1092 ""How to create and publish your own Sourcegraph extension" link 404s"
The "How to create and publish your own Sourcegraph extension" link on [this page](https://docs.sourcegraph.com/extensions#authoring) is a 404.

[2018-11-21 17:16] ryan-blunden commented on #1092
Fixed with https://github.com/sourcegraph/sourcegraph/commit/b3e6585e87a8562496000abbd5d0fbbf132adaee

[2018-11-21 17:16] #1092 closed

[2018-11-21 17:30] nicksnyder opened #1093 "type:path query syntax not documented"
https://docs.sourcegraph.com/user/search/queries

Also, I think we should have a more prominent link directly to that documentation near the search bar

[2018-11-21 18:49] sqs commented on #595
Ping @francisschmaltz

[2018-11-21 19:16] beyang opened #1098 "Browser extension j2d fails in some cases on a GitHub PR"
- **Sourcegraph version:** sourcegraph.com
- **Platform information:** Chrome extension version 18.11.21.421
#### Steps to reproduce:

1. Go to https://github.com/sourcegraph/sourcegraph/pull/1026#discussion_r235062191
2. Click on the `enterprise/cmd/frontend/auth/githuboauth/config.go` file link
3. Arrive at https://github.com/sourcegraph/sourcegraph/pull/1026/files/bee9177b173fcbb25e8a0bdbdb40b8

[2018-11-21 19:35] nicksnyder commented on #1098
You force pushed over that commit so I can't reproduce anymore.

[2018-11-21 20:13] ijsnow opened #1100 "Links to discussions from "Explore" page 404"
- **Sourcegraph version:** sourcegraph.com
- **Platform information:** Any browser, any system

#### Steps to reproduce:

1. Go to https://sourcegraph.com/explore
2. Scroll down to recent discussions and click one of them

#### Expected behavior:

Taken to the (file|repo|etc) and see the discussion

#### Actual behavior:

See "Repository not found".

Looks like the link href has some formating pro

[2018-11-21 20:23] ijsnow opened #1101 "500 when navigating to URL for newly created repo"
- **Sourcegraph version:** Sourcegraph.com
- **Platform information:** Mac, Chrome

#### Steps to reproduce:

1. Navigate to https://sourcegraph.com/github.com/sourcegraph/sourcegraph-debug-extension

#### Expected behavior:

Repo would clone and then we'd see the repo data

#### Actual behavior:

Get a 500 error

[2018-11-21 20:34] slimsag commented on #1101
The lightstep trace shows the real error:

[code]

In the call to `Repos.Add`

https://app.lightstep.com/sourcegraph-prod/trace?span_guid=6a27486a1c848f10&at_micros=1542832356165410#span-40191d5dbf8e8f5b

So this looks like a regression

[2018-11-21 20:46] kaushikvapiwala opened #1102 "Provide a preview tab for HTML/CSS code"
#### Feature request description

It is easy to view the HTML page and edit it if there is an option provided to preview the changes.

#### Is your feature request related to a problem? If so, please describe.

It is quite frustrating to change tabs and preview code on other websites and update the repo or preview code on a local machine.

#### Describe alternatives you've considered.

#### Additi

[2018-11-21 21:58] nicksnyder commented on #1101
Possibly caused by https://github.com/sourcegraph/sourcegraph/pull/954; I will check

[2018-11-21 22:09] nicksnyder commented on #1101
Apparently my change is not deployed yet, so couldn't be that.

[2018-11-21 22:10] sqs commented on #1102
Would solving #49 solve your problem?

[2018-11-21 22:16] slimsag commented on #1101
It could be an old regression that we just never caught, actually. i.e. not a recent regression

[2018-11-21 22:16] sqs commented on #1100
Fix is to use RouterLinkOrAnchor here, or just a href. It’s confusing because it works if you cmd-click (I think). I’ll fix this since I introduced it.

[2018-11-21 22:16] slimsag commented on #1101
either way this is pretty serious I think, we should check if it happens on other repositories or not

[2018-11-21 22:45] slimsag commented on #1100
Why is that explore page using a different component for displaying discussions...?

On the explore page:

![image](https://user-images.githubusercontent.com/3173176/48871964-38503480-eda4-11e8-9555-66884d2db422.png)

On the https://sourcegraph.com/discussions page:

![image](https://user-images.githubusercontent.com/3173176/48871977-4e5df500-eda4-11e8-862a-ee6cdbc89486.png)

I see that it matches

[2018-11-21 22:51] sqs commented on #1100
^ @francisschmaltz can respond to that. He is aware of the need to unify the look.

[2018-11-21 23:08] sqs commented on #1093
I will add search help links back and will add `type:path` docs.

[2018-11-21 23:47] sqs commented on #1101
It is working now (https://sourcegraph.com/github.com/sourcegraph/sourcegraph-debug-extension shows the repo).

The error about the `check_name_nonempty` constraint violation does suggest there was a new error. My guess is that a very old `repo-updater` got deployed that was before my commit a ~month ago that renamed `uri` to `name`. It was sending a `uri` field in the JSON from repo-updater to fr

[2018-11-21 23:47] #1101 closed

[2018-11-22 00:25] beyang opened #1108 "Support authn and authz for Bitbucket Server"
#### Feature request description

Support authentication and repository authorization enforcement via Bitbucket Server. This is analogous to the way we support authn/authz for GitHub and GitLab.

This would enable Sourcegraph users to sign in with their Bitbucket Server accounts. Thereafter, the Bitbucket Server user would be associated with their Sourcegraph user and this will be used to enforce

[2018-11-22 01:50] kaushikvapiwala commented on #1102
I be

I believe that would do the job.

[2018-11-22 03:44] sqs commented on #1102
Great. Closing as duplicate of #49

[2018-11-22 03:44] #1102 closed

[2018-11-22 08:49] zlbwonder opened #1110 "the latest sourcegraph browser extension is not support gitlab"
#### the latest sourcegraph browser extension is not support gitlab

when I install the latest sourcegraph browser extension( v18.11.16.2349) on chrome 70, I access gitlab host my self, sourcegraph server also host myself, then url can connect,  I hover on the variable then can not see below :
1. Documentation and the type signature for the hovered token
2. Go to definition button
3. Find referenc

[2018-11-22 15:57] djuarezg opened #1111 ""Expand/Collapse all" button does nothing"
- **Sourcegraph version:** 2.13.3
- **Platform information:** Running on CentOS7, using Chrome extension, on Docker 1.13.1

#### Steps to reproduce:

1. Search anything on the Sourcegraph instance
2. Click on "Collapse/Expand all" button.

#### Expected behavior:

Result boxes should collapse or expand.

#### Actual behavior:

Action is ignored, nothing is reported on the console.

[2018-11-22 19:51] beyang opened #1112 "Sign-in broken on sourcegraph.com"
1. Go to https://sourcegraph.com/search
2. Click "Sign in" and sign in
3. Redirects back to https://sourcegraph.com/search, but you're not signed in

[2018-11-22 20:40] nicksnyder commented on #1112
Works for me, although I am seeing this
![image](https://user-images.githubusercontent.com/754768/48921297-c0d9de00-ee53-11e8-9af9-6a5af59c052c.png)

[2018-11-23 00:14] sqs commented on #1112
I removed the `extension/Link` component that tried to communicate with the Chrome extension. That appears to be causing what you are seeing. Not sure why it would be showing up after I removed it though. I’ll check into it later tonight.

[2018-11-23 06:14] #1110 closed

[2018-11-23 15:00] halseth opened #1113 "Add (back) inline git blame for the current line"
- **Sourcegraph version:** sourcegraph.com
- **Platform information:** macOS Mojave, Chrome 70.0.3538.102

#### Steps to reproduce:

1. Browse open source repo on sourcegraph.com
2. Select a line: https://sourcegraph.com/github.com/lightningnetwork/lnd/-/blob/htlcswitch/switch.go#L354

#### Expected behavior:
The commit message, date and author shows on the line.

#### Actual behavior:
Nothing sho

[2018-11-23 18:37] vinchauhan opened #1114 "Trying to start a local instance on Windows"
Using Docker Toolbox for windows but ran into the following error :+1:

$ docker run   --publish 7080:7080 --rm   --volume ~/.sourcegraph/config:/etc/s
ourcegraph   --volume ~/.sourcegraph/data:/var/opt/sourcegraph   --volume /var/
run/docker.sock:/var/run/docker.sock   sourcegraph/server:2.13.5
 Sourcegraph is initializing the internal database... (may take 15-20 seconds)
Setting up postgres fail

[2018-11-24 04:16] sqs commented on #1111
It seems to be working, but not as you expect. And it is quite reasonable to be confused. Assigned to @francisschmaltz 	to improve this UX.

Take a query like https://sourcegraph.com/search?q=repo:gorilla/mux+route. The 1st file match has a **Show 63 more matches** in the top right. You can click that to expand and see a lot more matches in the file. The **Expand all** button is like clicking the

[2018-11-24 04:19] sqs commented on #1113
Do you see a **Blame** button in the file header? When clicked, it should toggle on/off blame information, as seen below.

![screenshot from 2018-11-23 22-16-48](https://user-images.githubusercontent.com/1976/48964464-806e8300-ef6d-11e8-91e5-8479c39a647e.png)

We changed how this worked, as you noticed. If the problem is that you didn't notice the new **Blame** button, do you have any ideas on how

[2018-11-24 04:58] nicksnyder commented on #1112
@sqs I am still seeing the weird sidebar on sourcegraph.com

[2018-11-24 08:56] sqs commented on #1112
Hmm, I can't repro the weird sidebar (or the sign-in issue).

@nicksnyder 	I am using Firefox with the latest Firefox browser ext installed. I signed in and visited https://sourcegraph.com/search (and various other pages). Can you help me repro? Are you using the addons.mozilla.org-published version of the extension, by chance?

[2018-11-24 17:15] sqs opened #1116 "Codecov "Coverage: %" not showing up for private repo"
@felker reported an issue with the [Codecov extension](https://github.com/sourcegraph/sourcegraph-codecov):

https://twitter.com/kgfelker/status/1066369579893645313

[2018-11-24 17:34] felker commented on #1116
👋
I just started using the Sourcegraph extension today. When I initially created the Codecov API token and added it to the extension by following https://github.com/sourcegraph/sourcegraph-codecov/blob/master/README.md, it worked right away with highlighting the GitHub source code as red/yellow/green:
<img width="798" alt="screen shot 2018-11-24 at 11 26 51 am" src="https://user-images.githubuserc

[2018-11-25 10:24] sqs opened #1117 "Inline blame shows up with no way to disable on GitHub if enabled on Sourcegraph"
Because the button to toggle inline blame is hidden on GitHub, there is no way to disable it if you had it enabled previously on Sourcegraph:

![screenshot from 2018-11-25 02-23-56](https://user-images.githubusercontent.com/1976/48977948-2a770980-f059-11e8-9451-16ae2e91fdc5.png)

[2018-11-25 10:33] sqs opened #1118 "Empty iframe displayed on some pages"
I can repro the weird sign-in box on my home workstation reported by @nicksnyder at https://github.com/sourcegraph/sourcegraph/issues/1112#issuecomment-441117010

For @nicksnyder on Firefox:
![image](https://user-images.githubusercontent.com/1976/48978028-61015400-f05a-11e8-9e14-746d3b2ff217.png)

For me on Chrome:

![screenshot from 2018-11-25 02-32-50](https://user-images.githubusercontent.com/1

[2018-11-25 10:34] sqs commented on #1112
I repro'd the iframe and filed https://github.com/sourcegraph/sourcegraph/issues/1118 separately.

@beyang 	Can you repro the sign-in issue?

[2018-11-25 13:31] sqs commented on #1116
Thanks for posting more info. We have a number of fixes that should land by Monday. I’m pretty sure they will completely address the issues you’re seeing, but we’ll confirm.

[2018-11-26 06:03] slimsag commented on #965
@sqs do you have thoughts around this part:

[2018-11-26 06:07] slimsag commented on #965
Update:

- Last week I moved significant portions of #966 into smaller PRs that I can land tomorrow with a strong guarantee of no regressions. (see PRs linked to from that one)
- I still need to address some TODOs in #966 before it itself can be merged, I am hoping to have that completed by Tue/Wed.
- The management-console itself still needs a UX (even if primitive / just a textarea for now). I a

[2018-11-26 07:51] halseth commented on #1113
I did notice it, but I didn't realize it was a replacement for the oneliner-blame.

IMO it clutters up the fileview way too much, and I cannot even tell if the blame applies to the lines above or below the selected line. (It is also extremely slow to load in my experience, which IIRC weren't the case for the oneliner version).

Possible to bring back the oneliner as an option? 😄

[2018-11-26 07:53] slimsag commented on #965
Got it. For new instances we can require admins create it when they create the admin account, but for users migrating from an old version, what kind of experience do we need? Is running some manual SQL query to set the password OK?

[2018-11-26 07:55] djuarezg commented on #1111
Indeed, it works as expected, sorry for the noise.

[2018-11-26 07:57] sqs commented on #1113
Thanks, this is helpful to hear. Yes, we will add back some kind of current-line-only behavior to https://github.com/sourcegraph/sourcegraph-git-extras. That is blocked on https://github.com/sourcegraph/sourcegraph/issues/702 (the extension API does not tell extensions the currently selected line yet, but it will soon).

[2018-11-26 07:58] sqs commented on #1111
@francisschmaltz you should consider the UX here and see what we can improve

[2018-11-26 08:13] sqs commented on #965
For 3.0-preview, it is OK for the migration path to be rough. We will add a smooth migration (for many things, not just this) in 3.0.

Here is a sketch of the flow here that I think will work. My intent is to make it work for all deployment types, for both instances newly spun up at 3.0-preview and for older instances, and both at the time of initial setup and later. I also want the  initial setup

[2018-11-26 13:14] MaxLeiter opened #1121 "Make chrome extension usage more clear (UI/UX)"
Right now, it's a little complicated what the chrome extension _actually does_.

Some of my thoughts:

- `Extensions` experimental option doesn't explain what extensions are or provide a resource for learning about them
- `Sourcegraph URL` is a little confusing. A link to a resource could again be useful. Also, a reset button to reset the URL back to https://sourcegraph.com.
- If no Sourcegraph UR

[2018-11-26 16:35] francisschmaltz commented on #1111
We could show a number of results for every file. Either display “3 matches found” or “33 matches found - show 23 more” but I fear that this would clutter the results and you wouldn’t know instantly if that was all the matches. I’ll play around with this idea before 3.0 release.

[2018-11-26 16:39] francisschmaltz opened #1122 "Code discussions preview should have a unified look across pages"
Code discussions previews should have a unified look across Sourcegraph. Currently the explore and discussions page have different UIs.

[2018-11-26 16:40] francisschmaltz commented on #1100
@slimsag @sqs these should look the same. I’ll mock up a unified look this week.
https://github.com/sourcegraph/sourcegraph/issues/1122

[2018-11-26 17:34] KattMingMing opened #1123 "Give Sourcegraph Core users the option to trial Sourcegraph Enterprise on the site-init page"
Sourcegraph Enterprise contains features that can help spread Sourcegraph at larger organizations such as SSO (available in Starter), HA, premium support, and soon the private extension registry. By giving users the option to jump into a full Enterprise trial this will give them a better understanding of the tier that works best for them and give us an opportunity to help ensure they are successfu

[2018-11-26 17:48] dadlerj opened #1124 "Truncate decimals on survey response averages"
![image](https://user-images.githubusercontent.com/5589410/49032020-65179980-f160-11e8-8701-1c389471bd10.png)

[2018-11-26 17:50] dadlerj opened #1125 "Remove double minus-signs on admin survey results page"
![image](https://user-images.githubusercontent.com/5589410/49032150-bcb60500-f160-11e8-8a9e-1b8e9f715179.png)

[2018-11-26 17:55] beyang commented on #1112
Weird, I can no longer repro now.

[2018-11-26 17:55] #1112 closed

[2018-11-26 18:02] beyang opened #1126 "Auth: explicit session invalidation"
Provide an explicit session invalidation mechanism for Sourcegraph.

Currently, sessions are invalidated after they expire (configurable via the `auth.sessionExpiry` option) or on user sign-out. Proposal is to also enable explicit session invalidation in the following scenarios:
* An admin manually invalidates all sessions for a given user.
* A user's existing sessions are invalidated after succes

[2018-11-26 18:59] slimsag commented on #1082
When I added these `docker:env` directives in https://github.com/sourcegraph/sourcegraph/commit/848a8cf23221f71b9b36b4683979d853d5991747 I assumed that like `docker:cmd` directives, they would be ignored if they were not in the main package being dockerized.

However, it turns out I was wrong. Comparing:

- https://github.com/sourcegraph/godockerize/blob/master/godockerize.go#L129-L137
- https://g

[2018-11-26 19:20] francisschmaltz opened #1128 "FR: Show browser extension stats on site-admin page"
In the same way as https://github.com/sourcegraph/sourcegraph/pull/1018 we should show browser extension usage stats to the site admin.

There should be a single stat that we show and then the line can expand to show more information and any external links.

Here is a mock of how it should look:

![48584384-70f09980-e8de-11e8-8017-cf68fbba3f2c](https://user-images.githubusercontent.com/11583013/49

[2018-11-26 19:37] francisschmaltz opened #1130 "Sourcegraph redirects to localhost:3081"
Sourcegraph redirects to port 3081.

To encounter this I did a fresh clone of Sourcegraph/sourcegraph and tried both on OSS and Enterprise.

The only reference is in `gulpfile.ts` lines 32-59 where it sets up a proxy

![screen shot 2018-11-26 at 11 36 09 am](https://user-images.githubusercontent.com/11583013/49037580-7ae08b00-f16f-11e8-99c1-16af68201d96.png)

![screen shot 2018-11-26 at 11 35 15 a

[2018-11-26 19:51] dadlerj commented on #1044
fixed  by https://github.com/sourcegraph/sourcegraph/commit/92b065bc46220feb67759035b98438bcf28e48e1

[2018-11-26 19:51] #1044 closed

[2018-11-26 20:41] ijsnow commented on #938
This is a gulp task now.

[2018-11-26 20:41] #938 closed

[2018-11-26 20:49] keegancsmith commented on #670
We are thinking of creating a search provider which recursively monitors a directory on a filesystem. The provider will expose what it finds on the FS via HTTP. This seems like a simple approach for developers to add integration for zookeeper/etc since they will just need to code a sync daemon. Additionally from an operational perspective this is relatively easy to understand and manage. @andyfang

[2018-11-26 20:52] sqs commented on #1130
See https://sourcegraph.slack.com/archives/C07KZF47K/p1541900379295900?thread_ts=1541900379.295900. Does that help?

[2018-11-26 20:53] andyfangdz commented on #670
@keegancsmith thanks for updating this issue with the approach! The approach of monitoring a FS makes a lot of sense, and we would really appreciate it if this is available.

[2018-11-26 20:57] francisschmaltz commented on #1130
That solved my problem. I didn't have the updated config – I figured it was pulling automatically.

[2018-11-26 20:57] #1130 closed

[2018-11-26 21:03] anishhegde opened #1132 "Scroll within GithHub [Find reference]"
#### Feature request description

Clicking on find references should scroll to the reference in the file within GitHub.

[2018-11-26 21:27] beyang opened #1134 "Extension to add a custom feedback option"
Original issue was: https://github.com/sourcegraph/enterprise/issues/12694.

Background: A customer has requested the ability to add a custom feedback option, so they can collect internal product feedback more efficiently.

Proposal: Implement an extension that provides this functionality.

![image](https://user-images.githubusercontent.com/1976/44364641-63ad4580-a47c-11e8-81fc-25501e4a7587.png)

[2018-11-26 21:34] beyang commented on #1098
Updated the repro with a new comment that works.

[2018-11-26 21:49] chrismwendt opened #1135 "Go buildserver test failure"
One of the Go buildserver integration tests is failing on master (but not failing CI because it's skipped in CI):

[code]

Based on https://golang.org/doc/go1.4#canonicalimports, this doesn’t look invalid to me https://github.com/golang/go/blob/f75aafdf56dd90eab75cfeac8cf69358f73ba171/src/go/constant/value.go#L13

[code]

This could be due to GOROOT detection not working properly.

I'll move this

[2018-11-26 21:57] #1082 closed

[2018-11-26 21:58] beyang opened #1136 "RFC: Actor-based authz checks instead of `🚨 SECURITY` comments"
I'm seeing the proliferation of comments that state "The caller must ensure the request/actor is authorized to perform this action." For example:
* https://github.com/sourcegraph/sourcegraph/pull/1077/files#diff-e4690e26caa9d3d0aeee747eadcd526bR28
* https://github.com/sourcegraph/sourcegraph/pull/1089/files#diff-15c199c34e9c9af789ca286cd0955643R64

Ideally, authz checks are done as close to the da

[2018-11-26 22:02] beyang commented on #1136
@nicksnyder @slimsag @keegancsmith what are your thoughts on the above? It inflates the amount of info we store in the context, but we're already storing the actor there anyway and we might as well use it for authz, as well as authn. I'd like to stop the proliferation of `🚨SECURITY` requirements as I think it's only a matter of time before someone slips up and forgets to check permissions before c

[2018-11-26 22:03] nicksnyder commented on #933
cc @ggilmore @slimsag

[2018-11-26 22:04] slimsag commented on #933
ack

[2018-11-26 22:08] nicksnyder commented on #1136
The high level proposal seems find to me; I do thing the main problem to solve is efficiency (i.e. prevent duplicate authn lookups in a single request). The other key part is making the API to check (and cache) permissions nice and easy to use.

[2018-11-26 22:21] slimsag commented on #1136
Sounds good to me 👍

One thing to consider is whether or not this will be attempted in full or as a slow migration over time. Switching over to this approach full-hog will be tricky to do correctly and safely I think.

[2018-11-26 23:00] ggilmore commented on #933
I opened https://github.com/sourcegraph/deploy-sourcegraph/pull/146, but it shouldn't be merged until `3.0-preview` has actually been tagged.

[2018-11-26 23:07] #714 closed

[2018-11-27 01:35] chrismwendt commented on #981
@tsenart I worked on a [GraphQL extension](https://github.com/sourcegraph/sourcegraph-graphql) a few weeks ago, and the trickiest part was figuring out which GraphQL package to use and how to use it in a browser context. I ended up writing a [server component](https://github.com/chrismwendt/graphql-ws-langserver) that used the package [@playlyfe/gql](https://www.npmjs.com/package/@playlyfe/gql) fo

[2018-11-27 02:34] sqs commented on #389
The Sourcegraph Java lang server is now open source: https://github.com/sourcegraph/java-langserver.

We just released it and it is not *yet* well documented how to run it, etc.

[2018-11-27 02:34] #389 closed

[2018-11-27 02:43] sqs commented on #1118
@nicksnyder 	I am no longer seeing this. Please reopen if you are.

As for why it happened, I don't know. I had removed the element from the codebase in e35c2bc970771e9675939c91ae3911e3616372db. I don't know why it continued to show for a while.

[2018-11-27 02:43] #1118 closed

[2018-11-27 02:59] sqs commented on #1132
We plan to support showing the references panel (at the bottom) on GitHub instead of having it navigate to Sourcegraph to show you the references. Would this satisfy you?

![screenshot from 2018-11-26 18-58-42](https://user-images.githubusercontent.com/1976/49055683-53a8ae80-f1ad-11e8-980e-c290d53d3eb5.png)

[2018-11-27 03:17] Warchant opened #1140 "Error fetching hover from C language server for sourcegraph.com"
- **Sourcegraph version:** sourcegraph.com
- **Platform information:** chrome extention v18.11.21.421

#### Steps to reproduce:

1. Go to https://github.com/kanaka/wac/blob/master/wa.c#L1906
2. Hover `interpret(m)`
3. See
![image](https://user-images.githubusercontent.com/1867551/49056221-6fec3000-f22d-11e8-8e45-a928a60d51d3.png)

#### Expected behavior:
No error printed

#### Actual behavior:
Lan

[2018-11-27 03:19] Warchant commented on #1140
UPD: it happens for all symbols in that repository

[2018-11-27 03:21] sqs commented on #1140
As a workaround, does it work if you disable https://sourcegraph.com/extensions/langserver/typescript and enable https://sourcegraph.com/extensions/felixfbecker/lang-typescript? (Must be signed in.)

Assigned to @felixfbecker to fix, or if the workaround works, then just expedite switching to the new TypeScript extension.

[2018-11-27 05:30] Warchant commented on #1140
For some reason, toggle button does not work. For enabled extension when I click disable, it does not react anyhow, for disabled (the one which is WIP) I click enable, it shows prompt with "OK"/"cancel", I press "OK" and nothing happens.

Here is what js console shows me:
![image](https://user-images.githubusercontent.com/1867551/49060461-3375ff80-f240-11e8-8588-299bcca5daad.png)

[2018-11-27 07:30] Warchant opened #1141 "React Dev Tools says that sourcegraph.com uses development react build"
React Developer Tools says that sourcegraph.com uses development React build.

![image](https://user-images.githubusercontent.com/1867551/49065545-e0587880-f250-11e8-9894-4bc4887f2f26.png)

Is this something intentional?

I believe there should be a production build.

[2018-11-27 18:35] dadlerj commented on #1128
@ijsnow are you using the browser extension usage data that admins have access to on the "Usage stats" page for this? I believe I linked you to this at some point earlier in the product planning process. I'd like to avoid implementing a new data source for this information.

I.e., the last column on any /site-admin/usage-statistics page

[2018-11-27 18:38] ijsnow commented on #1128
Nope and I talked with @sqs yesterday and decided I'm not working on this project anymore as it morphed into https://github.com/sourcegraph/sourcegraph/issues/975.

[2018-11-27 18:45] sqs commented on #669
Closing in favor of #981

[2018-11-27 18:57] dadlerj commented on #1128
Should this issue be closed then?

[2018-11-27 21:28] beyang opened #1146 "Browser extension appears to be disabled on sourcegraph/sourcegraph"
Repro: visit https://github.com/sourcegraph/sourcegraph/blob/15d2613d75c25d6d960458be3b9690953f3de17a/cmd/frontend/graphqlbackend/generic_search.go

[2018-11-27 21:31] beyang opened #1147 "Go code intelligence failing in browser extension"
* Go to https://github.com/sourcegraph/sourcegraph/blob/master/pkg/env/env.go
* Attempt to hover, no tooltips show up. Error in console:

![selection_004](https://user-images.githubusercontent.com/1646931/49112837-abe0be80-f248-11e8-9899-70ddedb10fd4.png)

This is with "Use extensions" checked. If the box is unchecked, I see a "Error fetching hover from language server" error in the UI.

Hovers on

[2018-11-27 21:36] ijsnow commented on #1146
The browser extension seems to be trying to resolve the revision at the exact commit from the link but is getting `null` back from the API (i.e. 404 for that specific revision). Is this commit a part of a PR that somehow isn't in history anymore but GH has saved for viewing purposes?

[2018-11-27 21:39] ijsnow commented on #1147
@chrismwendt do you know what could be going on here? I've seen errors related to a workspace on TS files too so don't think its specific to your go extension work but you may know more than me about extension API changes.

[2018-11-27 21:44] ijsnow commented on #1147
This appears to be the same issue as https://github.com/sourcegraph/sourcegraph/issues/1146. The issue is that the commit isn't being resolved. Could this be a repo updater issue?

[2018-11-27 21:45] chrismwendt commented on #1147
Sourcegraph.com's sourcegraph/sourcegraph's HEAD is ~13 hours old. The most recent commit was ~1h ago.

![image](https://user-images.githubusercontent.com/1387653/49113477-8785e180-f24a-11e8-9020-abcbb6fd9446.png)

![image](https://user-images.githubusercontent.com/1387653/49113497-940a3a00-f24a-11e8-8735-f34823e29131.png)

[2018-11-27 21:52] nicksnyder commented on #1147
Sourcegraph.com doesn't run repo-updater logic, so we depend on updates happening when a user directly visits the repo. It does seem to be the case that the repo is not getting refreshed when accessed directly.

[2018-11-27 21:54] ijsnow commented on #1147
I thought that the `ResolveRev` graphql requests kick off updates in the background. Is that repo-updater logic? How can the browser extension do this without the repo-updater logic?

[2018-11-27 21:57] nicksnyder commented on #1147
Yes, it is supposed to

[2018-11-27 21:57] ijsnow commented on #1146
Seems to be the same issue as https://github.com/sourcegraph/sourcegraph/issues/1147 so closing this.

[2018-11-27 21:57] #1146 closed

[2018-11-27 22:10] nicksnyder commented on #1147
I am unable to reproduce the original issue as described; however sourcegraph/sourcegraph is still not updating which is still a bug.

[2018-11-27 22:23] tsenart commented on #1135
FYI: Bumped into this while setting up my local dev env. @slimsag pointed me to this issue.

[2018-11-27 22:24] nicksnyder opened #1149 "sourcegraph/sourcegraph not pulling latest commits on sourcegraph.com"
Sourcegraph.com's sourcegraph/sourcegraph's HEAD is ~13 hours old. The most recent commit was ~1h ago.

https://github.com/sourcegraph/sourcegraph/commits/master
![image](https://user-images.githubusercontent.com/1387653/49113477-8785e180-f24a-11e8-9020-abcbb6fd9446.png)

https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/commits
![image](https://user-images.githubusercontent.com/1387653

[2018-11-27 22:43] ijsnow commented on #1147
Enabling the [debug extension](https://sourcegraph.com/extensions/isaac/debug-extension), you'll see that the browser extension is able to display tooltips and decorate the line so the problem/error displayed is coming from the go extension. My assumption is that the go extension is failing because it can't fetch the file at the provided revision. Does that sound plausible to you @chrismwendt?

[2018-11-27 22:47] chrismwendt commented on #1147
Yes, the Go extension is unable to download the zip archive of the repository at that exact commit because that exact commit doesn't exist on Sourcegraph.com.

The Go extension could fall back to GitHub's codeload endpoint, but that would require either the raw API to support lightweight HEAD requests and/or changes to the way zips are fetched in the Go buildserver code.

[2018-11-27 22:51] ijsnow commented on #1147
Ok, so that seems like feature work on the Go extension that would probably be unnecessary without this repo-updater bug. I'll close this issue. If we want to do that work, we can link to this issue from an issue for that specifically. In addition to this, we could use this issue as a reference for more robust error handling/displaying to the user.

[2018-11-27 22:51] #1147 closed

[2018-11-28 00:04] nicksnyder commented on #1149
Both gitserver disks are full on sourcegraph.com. We need to add a new replica.

cc @keegancsmith

[2018-11-28 00:11] ryan-blunden opened #1151 "Improved Sourcegraph extension documentation"
Create and update documentation that covers the most essential concepts and API use-cases.

## TODO

- [x] Document extension manifest (`package.json`)
- [x] Tutorial for adding actions, commands and buttons
- [x] Tutorial for conditional activation and display of UI elements using expressions
- [x] Document contributions, actions, action items and menus
- [ ] Tutorial for configuration
- [ ] Tuto

[2018-11-28 02:30] tsenart commented on #981
@chrismwendt: I believe that's the reason why @nicksnyder recommended that we start from scratch and try a search driven heuristics approach inspired by https://github.com/sourcegraph/sourcegraph-basic-code-intel.

Does that make sense to you? I might have missed some context.

[2018-11-28 02:47] sqs commented on #981
@tsenart Yes, what you said is correct.

[2018-11-28 03:16] #1149 closed

[2018-11-28 04:12] FranklinYu commented on #35
The searching function is the key; how it is present doesn’t really matter. For example, if I search `tableView:heightForRowAtIndexPath:`, I wouldn’t mind if Sourcegraph gives single line result

https://github.com/AFNetworking/AFNetworking/blob/5890adc404d0187dcc452f467c8fc3cedc19869d/Example/iOS%20Example/Controllers/GlobalTimelineViewController.m#L91

Shall we start with Objective-C language se

[2018-11-28 07:31] sqs commented on #958
@chrismwendt When do you think you'll be ready to switch over to the Go extension on Sourcegraph.com for all users (including providing cross-repo refs via the Go extension)? Need help testing?

[2018-11-28 07:42] nicksnyder commented on #914
@francisschmaltz I updated the PR description with an animated gif of the current state

[2018-11-28 16:58] felixfbecker commented on #1141
We're also shipping sourcemaps suddenly, no idea why...

[2018-11-28 19:00] francisschmaltz commented on #975
Site admin checklist UI: https://zpl.io/aXkpgop

[2018-11-28 19:35] dadlerj opened #1162 "Broken godoc symbols links"
#### Steps to reproduce:

1. Visit a Go package on godoc.org, try to click the "Uses" buttons (e.g. any links in https://godoc.org/github.com/gorilla/websocket)
2. Hit a 404 (e.g. https://sourcegraph.com/go/github.com/gorilla/websocket/-/Conn/Subprotocol)

This doesn't affect all Go libraries. I'm not sure what the difference is between gorilla/websocket and other ones that work (e.g. https://godo

[2018-11-28 19:38] chrismwendt commented on #958
@sqs Probably tomorrow (Thursday). All code intel except for cross-repo refs currently goes through the new `lang-go` extension (see [global-settings](https://sourcegraph.com/site-admin/global-settings)):

![image](https://user-images.githubusercontent.com/1387653/49177038-0ccbcd80-f301-11e8-8937-a4e482a509cc.png)

I remember there was still some UI work to be done for external refs, but I could i

[2018-11-28 19:45] slimsag commented on #1162
Probably the code path at fault is that workspace/symbols does not match up with something we expect for some reason: https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/blob/cmd/frontend/internal/app/go_symbol_url.go#L65-70

[2018-11-28 23:04] felixfbecker opened #1166 "Resolving repo by clone URL fails in production with RepoLookup: {Repo: ExternalRepo:<nil>}: http status 500"
https://sourcegraph.com/api/console#%7B%22query%22%3A%22query(%24cloneUrl%3A%20String!)%20%7B%5Cn%20%20%20%20repository(cloneURL%3A%20%24cloneUrl)%20%7B%5Cn%20%20%20%20%20%20%20%20name%5Cn%20%20%20%20%7D%5Cn%7D%22%2C%22variables%22%3A%22%7B%5Cn%20%20%5C%22cloneUrl%5C%22%3A%20%5C%22https%3A%2F%2Fgithub.com%2Fgorilla%2Fmux%5C%22%5Cn%7D%22%7D

Error:
[code]

[2018-11-28 23:21] ryan-blunden opened #1167 "Extension docs authoring index should group topics in order and function"
Currently, the [authoring index page](https://github.com/sourcegraph/sourcegraph/blob/master/doc/extensions/authoring/index.md) is an unordered list of pages. While they are in the correct order, it's not obvious to someone new that that is the case.

This issue proposes to break up the pages with headings to provide context (e.g. Getting Started).

[2018-11-29 00:16] felixfbecker commented on #1166
This is blocking https://github.com/sourcegraph/lang-typescript/issues/8

[2018-11-29 00:44] nicksnyder commented on #1166
I don't anticipate having time to investigate this in the next 24 hours.

[2018-11-29 00:55] slimsag commented on #1166
The trace indicates that `reposource.CloneURLToRepoName(*args.CloneURL)` is returning an empty string and no error.

The function does that when there are no registered repo sources in the configuration which can interpret the URL: https://sourcegraph.sgdev.org/github.com/sourcegraph/sourcegraph/-/blob/pkg/conf/reposource/common.go#L71

@beyang thoughts on the above since you wrote the package? wh

[2018-11-29 02:51] tsenart commented on #981
Today's search for good heuristics to map GraphQL symbols to their corresponding programming language counterparts has proved unfruitful due to the lack of standards around code generation.

Unlike Thrift or Protobuf, GraphQL doesn't have useful restrictions and conventions that can inform where to look for associated generated code. Without unifying universal conventions, this leaves the solution

[2018-11-29 04:10] sqs commented on #981
@tsenart Prioritizing Thrift instead of GraphQL makes sense. As a next step, you should write up a few bullet points that specify “what must be true of the code” for this to work, such as: generated code must be checked in, languages supported are Go/Java/Python/JavaScript (and list the code gen tools that are supported, if there’s more than 1 in wide use for a language), and any other details (eg

[2018-11-29 04:12] nicksnyder opened #1170 "Code intelligence flakey"
I can pretty reliably reproduce this:
1. Open a new empty tab in Chrome
2. Open the dev tools for that tab and make sure that your network cache is disabled
3. Open https://github.com/sourcegraph/sourcegraph/pull/1156
4. As soon as possible (before the page finishes loading), click on the files changed tab

![screen recording 2018-11-28 at 08 11 pm](https://user-images.githubusercontent.com/754768

[2018-11-29 05:36] sqs commented on #1162
@chrismwendt 	or I are committed to changing this code path for 3.0-preview anyway, so we will fix this issue.

[2018-11-29 05:37] sqs opened #1172 "External references UI"
For #958, we need a way for extensions to provide external references. There are some nuanced ways in which these should be shown differently from local references. I will throw something together here to unblock @chrismwendt.

[2018-11-29 05:55] tsenart commented on #981
👌

Sounds good. I'll write down the scope, constraints and pre-requisites that this solution would work with.

👍

As a Sourcegraph user, I expect clicking "Find References" to be an exact operation, not a fuzzy one with potential for false positives. For common names like the ones above (e.g `Lookup`), finding references with search will not meet those expectations. I would personally find that ve

[2018-11-29 06:01] sqs opened #1173 "Allow extensions to get a handle to other extensions' activate func results"
Extensions should be able to retrieve another extension's API, which is defined as the value returned by the extension's `activate` function. (This is possible in the same way in VS Code extensions.)

Consider 2 extensions, alice/a and bob/b:

alice/a:

[code]

bob/b:

[code]

When bob/b is activated, it should print `hello, world!`.

[2018-11-29 06:07] sqs opened #1174 "Allow references to be marked as imprecise"
There are many useful things that are like "references" but that are not precise: our current basic-code-intel extension, #981, cross-repo references that may take shortcuts to be imprecise, etc.

To support these without violating users' reasonable expectation that "references" means precise, it would be valuable to have a way to display imprecise references and communicate the imprecision clearl

[2018-11-29 06:10] sqs commented on #981
Agree we must set expectations correctly here, and having a way to do so would be valuable for many things. I just filed https://github.com/sourcegraph/sourcegraph/issues/1174 for a UI to mark results as imprecise. That would not be hard to implement, so you can assume such a solution will exist soon. In the meantime, the extension you build would be opt in and we can manually explain the imprecis

[2018-11-29 06:35] tsenart commented on #1174
I like the first idea.

[2018-11-29 08:36] felixfbecker commented on #1166
Thanks, I added a check for the empty string in https://github.com/sourcegraph/sourcegraph/commit/8821f9653a7c4959a3a93dff59853caa0b62ddaa, but it will not fix the issue of course.

So does prod not have configured "repo sources" for GitHub and Gitlab? @beyang

[2018-11-29 08:45] felixfbecker commented on #981
I don't understand why code generation is so important for this. Code generation (as in generation API client functions) in GraphQL is actually not common, best practice is to just define queries in strings in the GraphQL query language, because that is more flexible. The query language is well-known and universal in all languages so plain text search or parsing should be possible. For example, al

[2018-11-29 08:46] slimsag commented on #1162
@chrismwendt @sqs It looks like this is now happening for _all_ godoc.org Uses links. I am guessing that some were cached, and any hitting the new lang-go service are failing. Once that service was redeployed, all are now failing (the logs look fine though).

[2018-11-29 09:55] sqs commented on #1162
OK, I will try to come up with this fix ASAP then.

[2018-11-29 10:05] sqs commented on #1162
Actually, the problem was that lsp-proxy was down (see https://sourcegraph.slack.com/archives/C08JA8Q1H/p1543485706242800?thread_ts=1543484155.240700&cid=C08JA8Q1H). Now that it is back up, all of the godoc.org links I've tried are succeeding and I don't see any errors (except for the one linked above, https://sourcegraph.com/go/github.com/gorilla/websocket/-/Conn/Subprotocol, which is still a val

[2018-11-29 10:08] slimsag commented on #1162
Gah, sorry I didn't catch this :/

[2018-11-29 10:08] sqs commented on #1162
Reassigning back to @chrismwendt 	too given that this is not as urgent

[2018-11-29 10:53] sqs opened #1175 "basic-code-intel method of disabling lang extensions needs improvement"
It toggles off precise code intel by disabling all `langserver/*` extensions. But in the new extensions-providing-code-intel world, that does not describe all "precise" extensions.

[2018-11-29 14:51] nicksnyder commented on #981
I agree with Felix about the fact that we should be able to have a fuzzy solution for graphql too. A not exact “Find references” via search is better than none at all (just think of it like a convenience function for doing a search).

I don’t object to doing Thrift first, but I do want to stress that we can be incremental here.

[2018-11-29 17:39] #1170 closed

[2018-11-29 18:49] islemaster opened #1177 "Two code intelligence buttons on GitHub pull request"
- **Sourcegraph version:** Chrome Plugin v18.11.28.247
- **Platform information:** Ubuntu 18.04.1, Chrome 70.0.3538.110

#### Steps to reproduce:

1. Install SourceGraph plugin
2. Visit https://github.com/code-dot-org/code-dot-org/pull/26261/files

#### Expected behavior:
I see one code intelligence button per file

#### Actual behavior:
![peek 2018-11-29 10-44](https://user-images.githubuserconte

[2018-11-29 18:54] ijsnow opened #1178 "Update browser extension toolbar UI"
The browser extension toolbar is currently very crowded and needs to have a reworked UI.

This will also include HIG for Sourcegraph extensions that contribute to the toolbar.

## 3.0 Milestone

- [x] "Inline discussions" should not be a long text label, it should be an icon
- [x] "View file (base/head)" should be a single button and link to the Sourcegraph diff

## 3.1 Milestone
- [ ] Create HIG

[2018-11-29 18:54] tsenart commented on #981
That flexibility is indeed what makes it harder to **precisely** find references (e.g. not a fuzzy search). As elaborated above, I was working under the assumption that imprecise results would break user expectations which led me to develop the code-generation scenario for those IDLs that universally support it first.

With @sqs's input regarding the utility of having reference results marked as i

[2018-11-29 19:48] beyang commented on #1166
PTAL: https://github.com/sourcegraph/sourcegraph/pull/1180

[2018-11-29 20:00] #797 closed

[2018-11-29 20:02] keegancsmith commented on #797
I forgot this issue existed and I just had a build fail due to this test and took another look at it. Assuming redis is behaving, it is quite easy to fix so I did that. If this fails again then we can make the test DIAF

[2018-11-29 22:38] beyang commented on #1108
Customer response: https://sourcegraph.slack.com/archives/C0W2E592M/p1543530930126100

[2018-11-29 23:10] huasome commented on #1108
* I'm not too familiar with how OAuth integration works in Bitbucket Server. Atlassian doesn't really provide any documentation on it (other than with other Atlassian products) but https://confluence.atlassian.com/applinks/link-atlassian-applications-to-work-together-785449117.html might be a good starting point.

* Most Bitbucket Server instances will use LDAP or AD since they are internal enterp

[2018-11-29 23:32] nicksnyder opened #1186 "Selected search filter disappears"
1. https://sourcegraph.com/search?q=repo:%5Egithub%5C.com/gohugoio/hugo%24+i18n+file:%5C.go%24+
2. Click on `-file:_test\.go$` filter
3. Results page does not have `-file:_test\.go$` filter selected

Not a high priority.

cc @vanesa

[2018-11-29 23:38] beyang commented on #1108
Based on the additional feedback in the Slack thread, it looks like username equivalency between the LDAP user and the Bitbucket user is a safe assumption in this case, which suggests a clear implementation path (adding a `useUsername` field to the hypothetical `BitbucketConnection.Authorization` config). Awesome.

@huasome one additional question: you indicated that LDAP is the source of identity

[2018-11-30 00:57] chrismwendt opened #1187 "Checklist for 3.0-preview on Sourcegraph.com"
Tasks that must be completed before removing lsp-proxy from Sourcegraph.com and switching over to extensions for everything:

- [x] @chrismwendt  `lang-go`: Increase concurrency of external references
- [x] @sqs Sourcegraph extension API: add support for extensions emitting external refs https://github.com/sourcegraph/sourcegraph/pull/1191
- [x] @chrismwendt `lang-go`: uncomment `registerExternalR

[2018-11-30 00:58] ijsnow commented on #1187
Can’t think of anything immediately worrying about enabling extensions for browser extensions pointed at sourcegraph.com but I'm adding sentry to the browser extension to monitor errors (we should have this either way).

[2018-11-30 08:43] sqs opened #1189 "sourcegraph.internal.sourcegraphURL is invalid value"
This breaks the lang-typescript extension. cc @felixfbecker

![screenshot from 2018-11-30 00-42-46](https://user-images.githubusercontent.com/1976/49278180-dc874a80-f438-11e8-8625-434af25e21e9.png)

[2018-11-30 08:45] felixfbecker commented on #1189
I think lang-go uses this too

[2018-11-30 09:06] sqs commented on #1189
Fixed, sorry!

[2018-11-30 09:06] #1189 closed

[2018-11-30 12:01] sqs opened #1190 "Hover observables are never unsubscribed"
Repro:

Create a hover provider in an extension like this:

[code]

1. Enable the extension.
2. Turn on extension host communication trace logging by running `localStorage.debug=1;location.reload()` and then toggling it on in the `Ext` menu in the bottom right.
3. Hover over it in Sourcegraph. You will see the hover change frequently.
4. Now hover away from it.

Notice that the JS devtools console

[2018-11-30 18:51] #1123 closed

[2018-11-30 19:36] huasome commented on #1108
Yes, I do plan to switch Sourcegraph over to use SAML from Google OAuth.
However, that I'm a little concerned about getting locked out of admin
accounts if I screw it up.

Does Sourcegraph have a backdoor where we can use the local admin account
instead of going through the OAuth/SAML login flow?

On Thu, Nov 29, 2018 at 3:38 PM Beyang Liu <notifications@github.com> wrote:

[2018-11-30 19:59] slimsag commented on #1108
We are working on a management console UI, which will be a separate service running on a separate port with a separate UX. It will have basic authentication, and the goal is that all Sourcegraph settings that could accidentally break Sourcegraph or lock you out as an admin will be configured through that UX, and as such you will always be able to get in and fix them easily. Tracking issue for this

[2018-11-30 20:46] huasome commented on #1108
Yes, using SAML to authenticated to Sourcegraph is on our road map.

[2018-11-30 21:01] beyang commented on #1108
@slimsag I believe the management console should not be behind OAuth/SAML but just behind its own basic auth (in the same way GitHub Enterprise's management console goes through a completely separate auth mechanism than the application proper). (And customers could choose whether or not to expose its port publicly.) Is that right?

Either way, it can effectively as a backdoor to Sourcegraph if an

[2018-11-30 21:04] slimsag commented on #1108
@beyang Yes, exactly, that is what I was trying to communicate with my last message. I meant that a TODO here is to ensure that BitBucket server auth is configured via the management console (not all site config will be, only "critical" parts) to ensure that a locked out admin could fix the issue from there.

[2018-11-30 22:17] #1166 closed

[2018-12-01 06:26] sqs opened #1196 "add execute{Reference,Definition}Provider builtin commands"
Similar to [executeLocationProvider](https://github.com/sourcegraph/sourcegraph/blob/0a47d7d2d1d6f27b5ee853398c2ba44a890200ef/doc/extensions/authoring/builtin_commands.md#executelocationprovider), there should be builtin commands for executing the reference and definition providers.

cc @tsenart

[2018-12-02 06:14] JoshuaKGoldberg opened #1201 "Error message overlays when writing code snippets in PR comments!"
- **Sourcegraph version:** _N/A_
- **Platform information:** Chrome 70, Windows 10 with the Sourcegraph extension

#### Steps to reproduce:

1. Go to a PR to review on GitHub. I used https://github.com/Microsoft/tslint-microsoft-contrib/pull/651/
2. Start typing in the following text:

[code]

#### Expected behavior:

Nothing Sourcegraph-related should happen. Why would it?

#### Actual behavior:

[2018-12-02 06:39] sqs commented on #1201
This is triggering the symbol search autocomplete, which lets you autocomplete symbols in your code as you would for usernames and issues.

It should not be erroring and should not be triggering in this case. Sorry, we will fix this soon.

[2018-12-02 12:31] sqs opened #1202 "Symbols service was unavailable, didn't alert"
The symbols service was unavailable, spewing logs like:

[code]

(This was caused by a long-time deployment issue that @ggilmore is working on fixing.)

Despite this unavailability, there was no OpsGenie alert for the downtime. I only noticed it when a user reported it at https://twitter.com/bweston92/status/1069199874393034753 (and in hindsight it turned out to be one of the causes of #1201 too).

[2018-12-03 10:33] sqs commented on #1187
Tomorrow, I'll get the `ext-codeintel` branch (#584) ready with test plans for other people to start testing, in advance of switching Sourcegraph.com over and cutting the release this week.

I will also merge the external references provider stuff tonight (Mon night). The remaining things assigned to me in this issue won't take beyond Tue afternoon.

[2018-12-03 12:39] Warchant commented on #1141
Fixed

[2018-12-03 12:39] #1141 closed

[2018-12-03 17:05] adam-moss opened #1210 "no authentication provider is set in site configuration."
- **Sourcegraph version:** 2.13.5
- **Platform information:** CentOS 7, Docker-CE 12.12.1

#### Steps to reproduce:

1. Start docker container with volume mounts to config and data

#### Expected behaviour:
Container starts correctly, sourcegraph is accessible

#### Actual behavior:
Container starts but sourcegraph is not accessible, throwing error

Config is using the `builtin` auth provider.

[2018-12-03 17:35] adam-moss commented on #1210
Closing, reviewed the contents of https://github.com/sourcegraph/sourcegraph/commit/795c190823be0a74d404c508e64d72f5a5b32cac and have updated the config file to support the new properties.

[2018-12-03 17:35] #1210 closed

[2018-12-03 17:38] sqs commented on #1210
We will be adding support for migrating config automatically in 3.0 or 3.1 to avoid this kind of issue. Sorry for the disruption and glad you found that.

[2018-12-03 18:10] ijsnow opened #1211 "Code intelligence code for GitHub is being ran on pages without code"
Visit https://github.com/orgs/sourcegraph/dashboard and open console.

[2018-12-03 18:13] ijsnow opened #1212 "A ResolveRev GraphQL request to the public Sourcegraph.com was blocked because the current repository is private."
We should catch and handle the error we throw for requesting data for private repos from sourcegraph.com.

[code]

https://sentry.io/sourcegraph/browser-extension/issues/787219392/?query=is:unresolved

[2018-12-03 18:22] keegancsmith commented on #1005
The backwards compatibility has been the big slowdown, especially with respect to the way resolvers interact in the graphql layer. I'm busy hacking in an approach which merges the two approaches (old and new), just so we can ship this for text search and then incrementally support other backends.

[2018-12-03 21:15] ijsnow commented on #1212
Linked the wrong issue in that PR so reopening.

[2018-12-03 21:16] ijsnow commented on #1211
Closed by https://github.com/sourcegraph/sourcegraph/pull/1214 (linked wrong issue in PR).

[2018-12-03 21:16] #1211 closed

[2018-12-03 21:20] ijsnow commented on #1000
## JS Distribution
For distribution of JS code for GitLab, we'll make a new entry point for
GitLab similar to the Phabricator extension. GitLab will pull the scripts
from the Sourcegraph instance that the User has configured Souregraph to
point at. This will allow the extension to be ran in a backwards compatible
way without all of our code having to be backwards compatible with
different versions

[2018-12-03 22:48] tsenart commented on #669
Re-opening this as a Thrift focused child issue of #981. I'll add the design doc to the issue description and we can then discuss the proposal in the issue comments.

[2018-12-03 22:49] tsenart commented on #981
For Thrift code intelligence, let's continue in this focused sub-issue: https://github.com/sourcegraph/sourcegraph/issues/669

[2018-12-03 22:51] tsenart commented on #669
I have updated this issue's description with a first proposal for basic Thrift code intelligence. Before discussing implementation, I would like to gather as much feedback from potential users as possible on the proposed UX and user flow.

[2018-12-04 03:43] sqs commented on #914
I moved this to milestone **3.0** on the roadmap and added the [External services UI #1103](https://github.com/sourcegraph/sourcegraph/pull/1103) subset to **3.0-preview**.

[2018-12-04 12:19] stackflow1234 opened #1220 "schema file missing"
#### Question description

Does it suppose to have a `schema` file exist in this directory?

https://github.com/sourcegraph/sourcegraph/blob/240f3db60dc137e98c23c3e5af31b54ba0956c68/shared/src/graphql/graphql.ts#L2

[2018-12-04 13:25] aisbaa opened #1221 "\s\S regex patterns fail to parse"
#### Steps to reproduce:

1. https://sourcegraph.com/search?q=a%5B%5Cs%5CS%5D*b+repo:%5Egithub%5C.com/nf/goto%24

#### Expected behavior:

Expect sourcegraph to parse this pattern, here's how it should work https://regex101.com/r/AkzrYn/1/

#### Actual behavior:

<img width="990" alt="screenshot 2018-12-04 at 15 13 17" src="https://user-images.githubusercontent.com/82692/49444283-57ed5100-f7d7-11e

[2018-12-04 16:33] nicksnyder commented on #1223
@keegancsmith Is this feature flag relevant with the new code intel architecture?

[2018-12-04 16:40] adam-moss opened #1224 "Update Slack bot webhook code to not override user-configured name and icon"
#### Question description

Slack notification does not appear to respect settings configured within the Slack webhook configuration, e.g. name of bot and icon, instead posting as "saved-search-bot".  How can this be configured?

[2018-12-04 17:04] dadlerj commented on #107
This was also reported by a user on Twitter: https://twitter.com/liamzebedee/status/1069938760706609153

In https://sourcegraph.com/github.com/ethereum/solidity/-/blob/libevmasm/Instruction.h#L121:2

[2018-12-04 17:06] azmr commented on #1114
I had this issue as well. There seem to be 2.5 issues with the "Quickstart" script when using Docker Toolbox for Windows, the first 1.5 cause this particular symptom:

1. `/etc` and `/var` are not valid directories; change them to something valid:
    a)    for config/data: `/c/path/to/config_or_data` (the docker quickstart terminal treats `/c/` as `C:\`) or `$HOME/sourcegraph/config` and `$HOME/s

[2018-12-04 17:33] azmr commented on #1114
Adding this in a second post to maintain the history.

This may be obvious to long-time docker users, but I hadn't used it before today. Also, apologies if my terminology is not quite correct, I haven't really picked up all the vocabulary of this tech area.
Docker Toolbox seems to use `docker-machine`, which I think adds another layer of indirection.
`localhost` and `127.0.0.1` don't work because

[2018-12-04 18:21] #20 closed

[2018-12-04 18:54] beyang commented on #227
Added issue template to direct folks to hackerone.com/sourcegraph

[2018-12-04 19:02] keegancsmith commented on #1223
no, given it relies on the db table we want to remove.

[2018-12-04 19:08] keegancsmith commented on #1222
Fixed by https://github.com/sourcegraph/sourcegraph/pull/519

[2018-12-04 19:08] #1222 closed

[2018-12-04 19:10] beyang opened #1227 "Markdown rendering of tables doesn't work in some cases"
#### Steps to reproduce:

1. Go to https://sourcegraph.sgdev.org/github.com/sourcegraph/deploy-sourcegraph@ab7785db55b4d140835fd562c8c7b59bb6f0c6b8/-/blob/docs/k8s.eks.md#create-kubernetes-cluster-worker-nodes
2. Observe the broken table rendering:

![image](https://user-images.githubusercontent.com/1646931/45449016-db8c1b80-b688-11e8-8ebd-8aab7cd68f2c.png)

[2018-12-04 19:11] beyang commented on #1227
assigning to @nicksnyder for triage

[2018-12-04 19:12] #87 closed

[2018-12-04 19:13] keegancsmith commented on #1221
Interesting, so `[\s\S]` is just another way of saying `.`. But yeah this is a problem in our query parser, which will soon be replaced by https://github.com/sourcegraph/sourcegraph/issues/1005

However, I'll leave this open and ensure it works in our new search engine.

[2018-12-04 19:15] slimsag commented on #1227
I mentioned this in the other issue:

I will own. Let me know when I should prioritize this.

[2018-12-04 19:20] beyang commented on #671
Fixed last iteration

[2018-12-04 19:20] #671 closed

[2018-12-04 19:33] vanesa commented on #962
Update: https://github.com/sourcegraph/sourcegraph/pull/999 was merged so that search filters can be contributed through the github-extras extension.
Gif on how adding a search filter through the extension would look like: https://cl.ly/add455078e1a

[2018-12-04 19:45] ijsnow opened #1228 "Extensions connection frequently gets closed"
I frequently see a "Connection closed" error be thrown/displayed in the tooltip. We need to investigate why it keeps getting closed or implement a robust way of handling this (i.e. catch error and recreate connection when closed).

[2018-12-04 19:49] sqs commented on #1228
I thought https://github.com/sourcegraph/sourcegraph/pull/1207 would fix most cases of this but apparently not.

[2018-12-04 19:51] ijsnow commented on #1228
Ah, well I was opening based on past experience/Sentry errors from yesterday. Maybe it is fixed now. I'll close this and reopen if I see it again.

[2018-12-04 21:56] lguychard commented on #733
I came up with a workaround for this when [writing tests for sourcegraph-string-references](https://github.com/lguychard/sourcegraph-string-references/blob/master/src/extension.test.ts) using sinon and intercept-require.

This was inspired by [sinon-chrome](https://github.com/topics/sinon-chrome), which I've used in a similar fashion in the past to perform e2e blackbox testing of the bundled backg

[2018-12-04 22:31] lguychard opened #1231 "Redundant decorations are applied when navigating to the same code view multiple times"
- **Sourcegraph version:** 18.12.3.2119
- **Platform information:** Browser extension

#### Preconditions:

- Activate a Sourcegraph extension that adds decoration when viewing code (eg. Git extras)

#### Steps to reproduce:

1. Navigate to a code view on github.com
2. Navigate back
3. Navigate forward to the code view again

#### Expected behavior:

Decorations are displayed only once

![image](h

[2018-12-05 02:18] vanesa commented on #900
@sqs shouldn't the `case:yes` appear as a dynamic filter even if it is already contained in the query (shown selected) so that the user can easily remove it from the query?
I added the code for a `case:true` filter to appear whenever there are search results here: https://github.com/sourcegraph/sourcegraph/pull/1233

[2018-12-05 04:25] ijt opened #1234 "Sourcegraph.com search returns "too many matching repositories", no results, and broken suggestions"
- **Sourcegraph version:** sourcegraph.com
- **Platform information:** n/a

#### Steps to reproduce:

1. Go to sourcegraph.com.
2. Enter "pubsub".

#### Expected behavior:

Search results come back with some relevant repos that mention pubsub.

#### Actual behavior:

It returns "Too many matching repositories", and four links to suggested refinements that all yield further empty search results.

[2018-12-05 04:52] dadlerj opened #1235 "Find lines of code in a repo/directory via API and UI"
### Feature request description

Requested by a user at a customer:

### Additional context

An alternative solution (or additional feature, depending on need) would be displaying this information in the UI via a Sourcegraph extension. Perhaps displaying output from https://github.com/boyter/scc in a given repo or directory on repo and directory pages.

### UI
As a user who is not familiar with al

[2018-12-05 05:05] vaniot-s opened #1238 "deploy on docker"
lvl=eror msg="langservers: error deleting Docker lsp bridge network" error="exec: \"docker network rm lsp\": error: signal: interrupt stderr:\n"

[2018-12-05 05:08] sqs commented on #1238
Are there any other errors? When does this problem occur?

[2018-12-05 06:06] stewForAni opened #1239 "go to define not show"
it's ALL fine to read an android project when i first use it include hover to show go to define,but now ,go to define not show at all, help me , i like sourcegraph so much!

[2018-12-05 06:20] sqs commented on #1239
Sorry, we needed to take down Java temporarily as we move to a much better architecture that will result in improved Java support. @beyang 	is working on bringing Java back to Sourcegraph.com.

**BUT** you can get Java back right now by running a self-hosted Sourcegraph instance. See https://about.sourcegraph.com/blog/java-php-experimental-language-servers-temporarily-unavailable for more informat

[2018-12-05 06:20] #1239 closed

[2018-12-05 07:15] sqs commented on #1234
I’ll plan a workaround that doesn’t require us to search all repositories to solve the confusion here.

[2018-12-05 08:19] dadlerj commented on #1224
Thanks for posting @adam-moss! Looks like our code uses Slack's recently-made-legacy webhooks (see https://api.slack.com/custom-integrations/incoming-webhooks), rather than Slack App webhooks (since we override the default username and icon in https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/blob/cmd/query-runner/slack.go#L71:17).

We can probably make a quick fix for this by simply de

[2018-12-05 11:01] aisbaa commented on #669
Will it be possible to jump to definition and jump back to all references as in:
- jump from generated code to thrift?
- from thrift back to generated code, either go or java as in example above?

P.S. I'm super excited about this feature!

[2018-12-05 14:00] felixfbecker commented on #946
It just happened to me again with https://github.com/Microsoft/lsif-typescript

[2018-12-05 16:41] vaniot-s commented on #1238
05:02:57          frontend | t=2018-12-05T05:02:57+0000 lvl=warn msg="docker events failed. Will try again in 30s" error="exec: docker events: error: signal: interrupt stderr:\n"
05:02:57          frontend | t=2018-12-05T05:02:57+0000 lvl=eror msg="langservers: error deleting Docker lsp bridge network" error="exec: \"docker network rm lsp\": error: signal: interrupt stderr:\n"

[2018-12-05 16:45] vaniot-s commented on #1238
I had deployed on docker normal running,when I restart the container it happend some error

[2018-12-05 16:53] felker commented on #1116
Did these fixes get pushed? The source code highlighting seems more consistent, but the button is still missing.

[2018-12-05 16:59] andymaule commented on #1235
We're actually interested in doing this in an automated way, so it would need to be via the API because we don't have the CLI on the boxes that do the automation.

[2018-12-05 17:12] felixfbecker opened #1243 "Error getting locations: You provided an invalid object where a stream was expected. You can provide an Observable, Promise, Array, or Iterable."
Returning an Rx Observable from a references provider compiles fine, but fails at runtime with:

![image](https://user-images.githubusercontent.com/10532611/49530801-3ebcd100-f8b9-11e8-9881-d9b7c035307c.png)

I searched for the error message and parts of it but couldn't find it anywhere in the codebase.

[2018-12-05 17:13] felixfbecker commented on #1243
Actually just realised this is probably not an error coming from Sourcegraph.

[2018-12-05 17:22] tsenart commented on #669
Hi @aisbaa,

Since you could have multiple identical `.thrift` files checked-in in different repos (or even in the same repo), we'd have to keep track of your jump history to do this in a flawless way. Without considering doing that, we have two options:

1. You CMD+Click on `Find generated code`, which would open the search results in a new tab, effectively using browser tabs as a stack of jump h

[2018-12-05 19:17] andymaule commented on #1235
Yeah, those heuristics seem fine. We're most interested in source code for a particular language. We use the repo language feature, so it'd be great if Linguist could also list LoC per language, instead of just the language, but I'm not sure how feasible that is.

[2018-12-05 21:20] sqs commented on #909
Fixed

[2018-12-05 21:20] #909 closed

[2018-12-05 23:16] felixfbecker commented on #1243
Actually, this seems to be a bug inside Sourcegraph somewhere. This is the stack trace:

[code]

[2018-12-05 23:40] felixfbecker commented on #1243
It seems like at some point in the app `Symbol.observable` is available as a symbol but at a different point it is not so the shim `"@@observable"` is used. This causes the two Observables to not interop.

[2018-12-06 00:01] felixfbecker commented on #1243
https://github.com/sindresorhus/is/issues/72

[2018-12-06 00:06] vanesa commented on #900
Resolved: https://github.com/sourcegraph/sourcegraph/pull/1233

[2018-12-06 00:06] #900 closed

[2018-12-06 00:55] felixfbecker opened #1245 "Raw API returns 500 Internal Server Error when file does not exist"
See http://sourcegraph.com/github.com/sourcegraph/codeintellify@14252839a623a04dd381e1980f6d7d49876fd3bb/-/raw/src/package.json

This is bad because the 404 is needed to find the closest package.json to a URI returned by the language server in the lang-typescript extension.

[2018-12-06 01:11] slimsag commented on #1245
Pushed d0e53f75cc4b23bc9a6aceca171d5319c9c8f077 just now which will likely fix this.

[2018-12-06 01:42] vanesa opened #1246 "Feature request: Easily add terms from search results to the search query"
#### Feature request description

When holding down a key, mouse pointer changes to an arrow with an add sign and clicking on a term in the search result preview will add that term to the search query.

![image](https://user-images.githubusercontent.com/9110008/49555483-e8e62a00-f8b4-11e8-9c15-0d4777f85037.png)

#### Is your feature request related to a problem? If so, please describe.
It would op

[2018-12-06 01:43] vanesa commented on #875
Thanks for this suggestion @ijsnow . Would you find it more UX friendly if you could click a button that deactivates the link to the search results and allows copying the text from the results list directly?
I'm concerned about "enabling to copy when pressing Cmd/Ctrl" not being intuitive enough/hard to teach to our users, so that there should additionally be a visible option users can click to un

[2018-12-06 01:57] ijsnow commented on #875
Yes! I think that would be UX friendly. However, I think it would be ideal to be able to do this via a keyboard shortcut as well. It wouldn't be too much work to implement one once we implement the other since its the same logic.

Alternatively we could just have an icon with a tooltip saying to hold cmd/ctrl to select code to help with educating users. I think this makes sense because I can't ima

[2018-12-06 02:00] slimsag opened #1247 "enable syntect server to lookup language by name, remove hard-coded map"
syntect has the ability to lookup syntaxes by name and the syntect_server API could expose it. However, we cannot expose it directly because it isn't perfect (e.g. the name for the fish shell syntax is `friendly interactive shell (fish)` instead of just `fish`. Likewise for many others.

For now, we use this hard-coded map, which is good enough in most cases:

https://github.com/sourcegraph/source

[2018-12-06 02:11] slimsag commented on #1245
Fixed

[2018-12-06 02:11] #1245 closed

[2018-12-06 02:19] felixfbecker opened #1248 "Raw API redirects to sign in page (returning 200) if not authenticated"
This is I think the third time I had a bug because of this and took more than needed to track it down because the application just sees a 200 OK and continues, so filing this as an issue to track.

It should return a 401.

[2018-12-06 02:26] yevbar opened #1249 "Sourcegraph LaunchDarkly extension design"
#### Feature request description

Sourcegraph LaunchDarkly extension

#### Is your feature request related to a problem? If so, please describe.

The Sourcegraph browser extension allows for individuals to create their own extensions - see [Authoring docs](https://docs.sourcegraph.com/extensions/authoring). There is currently one for [Codecov](https://github.com/codecov/sourcegraph-codecov) and th

[2018-12-06 02:31] yevbar commented on #1249
As clarification: I plan on developing this extension, I'm putting this issue here so I could show what features are currently planned and see what else needs to be added

[2018-12-06 04:04] slimsag commented on #1248
Agreed, I expect a 401 + the login page.

[2018-12-06 05:07] slimsag opened #1250 "default references UI width too narrow"
![image](https://user-images.githubusercontent.com/3173176/49562766-c7e00200-f8d1-11e8-8fe5-88c3b2cc69e7.png)

[2018-12-06 05:15] #1250 closed

[2018-12-06 05:18] slimsag opened #1251 "Can no longer click Discussions tab"
@sqs is it possible you recent changes may have caused this regression? Any clue what the problem may be?

1. Visit https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/blob/xlang/proxy/server_proxy.go#&tab=history
2. Click the `Discussions` tab -> you cannot.

[2018-12-06 05:19] chrismwendt opened #1252 "Invalid URL in the old External references panel"
- Visit http://localhost:3080/github.com/gorilla/mux/-/blob/mux.go#L18:29=&tab=references:external
- Notice this error:

![image](https://user-images.githubusercontent.com/1387653/49563013-cbc05400-f8d2-11e8-8e48-0ad4b47ac5f6.png)

This error occurs on the line https://github.com/sourcegraph/sourcegraph/blob/efe284dee3fd52aa90a890ac4763b259791a7b5e/shared/src/panel/views/HierarchicalLocationsView.

[2018-12-06 05:26] pandravada opened #1253 "To 'Explore repositories', you need to be a site admin?"
#### Question description

Cannot 'Explore repositories' anymore. It complains saying, I need to be site admin.
Is this something new. It used to work before...

#### Is your question related to a problem? If so, please describe or link to another issue.

#### Additional context

[2018-12-06 05:37] leezu opened #1254 "Firefox addon permissions issues?"
Thanks for distributing a pre-built version for Firefox again (https://github.com/sourcegraph/sourcegraph/issues/744). I noticed that upon installing the pre-built version, permission to access data on all websites is requested. When installing Sourcegraph for Chrome however, only access permission for `github.com` and `sourcegraph.com` is requested?

Is this intended? Or is there a bug in the `ma

[2018-12-06 05:41] leezu commented on #1254
It seems in principle the optional permissions API should also be supported by Firefox https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/permissions/request

[2018-12-06 05:55] slimsag commented on #1253
Hello, where are you experiencing this issue? On Sourcegraph.com or on a private instance? Which version?

This definitely sounds like a bug, and it does not happen on Sourcegraph.com currently (just checked).

[2018-12-06 06:07] sqs commented on #1254
Unfortunately, there is a known issue in Firefox preventing us from using that API. See https://github.com/sourcegraph/sourcegraph/issues/760#issuecomment-440724347. (Closing as duplicate.)

[2018-12-06 06:07] #1254 closed

[2018-12-06 06:11] sqs commented on #1251
I can repro. Looking into it.

[2018-12-06 06:42] sqs commented on #1249
Awesome!

For the first feature (seeing whether a feature flag is visible), here are a few related improvements that I think are more valuable than listening for changes in feature flags:

1. Showing the visibility info in an after-line decoration like the blame text (`Ying Li, 2 years ago: ...` in https://sourcegraph.com/extensions/sourcegraph/git-extras), using `setDecorations` in the Sourcegrap

[2018-12-06 06:45] #838 closed

[2018-12-06 06:45] #1251 closed

[2018-12-06 06:45] #1252 closed

[2018-12-06 06:52] sqs commented on #1238
@slimsag 	Any quick ideas here?

[2018-12-06 06:55] sqs opened #1255 "Back/forward-compatibility for Sourcegraph extensions"
From @lguychard  (copied from https://github.com/sourcegraph/sourcegraph-basic-code-intel/pull/8#discussion_r239192158):

We should plan to handle the issue of extension API breakage differently - IMO there should be no backwards compatibility handling in extension code, it should be handled at the registry/extension host level.

eg.:

If the user has activated the Sourcegraph extension E, which i

[2018-12-06 06:55] #1175 closed

[2018-12-06 07:02] sqs commented on #1162
This was fixed

[2018-12-06 07:02] #1162 closed

[2018-12-06 07:06] sqs commented on #509
@felixfbecker 	Is there any resolution/change, or is this wontfix?

[2018-12-06 07:10] sqs opened #1256 "TS references are slow (due to waiting for cross-repo refs?)"
Trying to find references on `ThemableDecorationInstanceRenderOptions` at
https://sourcegraph.com/github.com/Microsoft/vscode/-/blob/src/vs/vscode.d.ts#L1068:10&tab=references is slow. It hasn't returned yet even after about 90 seconds.

I see it logged `Searching for dependents of code-oss-dev through npm` 2x. It would be nice if it emitted local references first (which can probably be found more

[2018-12-06 07:12] bencripps opened #1257 "Question about site-usage"
#### Question description

`/site-admin/usage-statistics` seems to `404` -- are these [docs](https://docs.sourcegraph.com/user/usage_statistics#usage-statistics) out of date, or is there an issue with my local instance?

#### Additional context

Current product version: 2.13.5 (2.13.5)

[2018-12-06 07:13] sqs commented on #1256
Actually this might be another issue, where `getLocations` in the reference provider registry doesn't emit until every reference provider has emitted once.

[2018-12-06 09:09] sqs opened #1258 "Can't find cross-repo refs for definition in vscode package"
At https://sourcegraph.com/github.com/Microsoft/vscode/-/blob/src/vs/vscode.d.ts#L1074:19&tab=references I want to find cross-repo references to the `vscode.d.ts` type `TextEditor`.

I see it says `Searching for dependents of code-oss-dev through npm`, but it should be looking for dependents of `vscode`.

It is 100% fine to special-case this specific file in this repo (or all files named `vscode.d

[2018-12-06 09:44] sqs commented on #1257
Yes, please see https://docs.sourcegraph.com/@v2.13.5/user/usage_statistics or the /help pages on your own instance for the right version.

We have a TODO to make this clear in the docs site. In the meantime I will add a note to that page mentioning the change to avoid future confusion. Will close this issue when done.