[2019-01-24 14:44] bunopus opened #2011 "Dart code intelligence"
Hello. I would really happy to see [Dart](https://www.dartlang.org/) language support in sourcegraph. This can be very useful for many users because of the big popularity of [Flutter](https://github.com/flutter/flutter) and also Dart is a cool language.
Looks like we have all the tools for that:
- [Language server](https://github.com/natebosch/dart_language_server)
- [Syntax highlight](https://git

[2019-01-24 15:20] sqs commented on #2000
We received another report of this from a customer on GitHub PR pages. Bumping this up in priority unless it is determined they are separate issues.

[2019-01-24 15:45] tsenart opened #2013 "Upgrade to Go 1.11.5"
https://groups.google.com/forum/m/#!topic/golang-announce/mVeX35iXuSw

[2019-01-24 17:13] sqs opened #2015 "Investigate whether browser ext access tokens are indeed unnecessary"
At https://github.com/sourcegraph/sourcegraph/pull/1954#issuecomment-455713204 @ijsnow said:

Access tokens are working well now, but if they are unnecessary, it would be great to remove them to simplify things. They are not causing any current customer issues, but auth is a general area that produces bad and hard-to-debug bugs, so there is a stronger interest than usual in culling unused code pat

[2019-01-24 17:15] #1921 closed

[2019-01-24 18:15] dbentley opened #2016 "Investigate Tilt for Local Dev"
#### Investigate Tilt for Local Dev

Tilt is a tool for local microservice development. Like goreman, it starts up all the components of your app and watches their output.

Over goreman, it adds a better UI that makes it easier to see where problems are. Tilt's [homepage](https://tilt.build) includes a demo video that shows how errors stay on screen, and individual logs can be explored.

Tilt also

[2019-01-24 18:36] matevarga commented on #2000
Hi, fyi -- I'm happy to provide e.g. Chrome profiling info if that helps (I'm that other customer who reported the slowness).

[2019-01-24 18:50] francisschmaltz commented on #631
@vanesa this is still an issue on Sourcegraph.com/ in safari and Firefox

[2019-01-24 18:59] dadlerj opened #2018 "Remove Enterprise Starter option in Stripe/on the subscriptions page"
![image](https://user-images.githubusercontent.com/5589410/51701764-02f3dd00-1fc7-11e9-88cc-56751ec2b573.png)

[2019-01-24 19:44] LandKingdom commented on #7
I personally wouldn't mind waiting some time before being able to use the tool.

[2019-01-24 21:02] slimsag opened #2019 "Improve scaling documentation"
https://github.com/sourcegraph/deploy-sourcegraph/blob/master/docs/scale.md

- [ ] There is no mention of how to scale the `symbols` service. For ~12k repos we currently advise 4 symbols service replicas.
- [ ] The number of searcher replicas suggested are too high: For ~12k repos we currently advise using 20 searchers, and the suggested amount for that would appear to be more than 20 because for

[2019-01-24 21:05] nicksnyder commented on #631
@vanesa did you deploy to production after this change?

[2019-01-24 21:58] chrismwendt commented on #723
@nicksnyder Here are some sample strings: https://github.com/skaapgif/sourcegraph-detect-secret-keys/blob/master/test/fixtures.js

[2019-01-24 22:36] chrismwendt commented on #2010
I use Hoogle all the time for side projects, so :+1: from me 😄

This functionality could be added as a [Sourcegraph extension](https://docs.sourcegraph.com/extensions) (check out the one for [GitHub issue search](https://sourcegraph.com/extensions/farhan/github-issue-search) cc @attfarhan where is the repository?). The extension could hit Hoogle's public API https://hoogle.haskell.org/?hoogle=a->a

[2019-01-24 22:55] terinjokes opened #2021 "Rename External Code Host"
#### Feature request description

If Sourcegraph is configured to synchronize with a self-hosted code host, it's possible for the code host to change domain names, whilst still containing the same repositories. There is currently no way to rename a code host without creating entirely new repositories (and then manually deleting the repositories from the old name)

For example, a Sourcegraph instal

[2019-01-25 04:20] francisschmaltz commented on #1756
@attfarhan we should flash the green bar.

[2019-01-25 05:17] sqs opened #2023 "Documentation improvements for 3.2"
[**3.2 <kbd>docs-ux</kbd> issues**](https://github.com/sourcegraph/sourcegraph/issues?utf8=%E2%9C%93&q=is%3Aopen+is%3Aissue+milestone%3A3.2+label%3Adocs-ux)

More details in the private **Feb 2019 planning** Google doc.

## UX improvements

- [x] Simplify docs local testing/review and release process #2465
- [x] Update docs.sourcegraph.com to make 3.2 current #2242
- [x] Document how to update doc

[2019-01-25 05:19] sqs opened #2024 "Include activation status in pings"
#2069 defines an **activation** metric for new Sourcegraph instances. We need to include simple scalar values (such as `has performed code search with >1 results? TRUE/FALSE`) in the pings to measure this.

Proposals for pings: https://docs.google.com/document/d/1jxhzlRG-5jpbcdEXCXKXaSKLURF_HAjo6A3BgTFIb8c/edit

[2019-01-25 05:21] sqs opened #2025 "Keep repository set in sync with config"
### User story

As a site admin, I configure Sourcegraph with a personal access token. I want to share Sourcegraph with my team, but I don't want Sourcegraph to be configured with all of the repositories that my token has access to. Either I update the token, or I limit the scope of synced repositories (i.e. via a search query or regex) and the repositories that are no longer accessible immediatel

[2019-01-25 05:40] sqs commented on #1931
@milind-shakya-sp 	This is due to the limitations of Sourcegraph's Python support as deployed to Sourcegraph.com right now. See https://sourcegraph.com/extensions/sourcegraph/basic-code-intel under the "Limitations" section at the end.

We are working on an extension that uses the Python language server to provide precise, cross-repository code intelligence. It's at  https://sourcegraph.com/extens

[2019-01-25 05:40] #1931 closed

[2019-01-25 05:46] sqs commented on #914
Some subset of this and other repository-related work will be planned for 3.1 and described at #2025; see #2025 for more info.

[2019-01-25 05:50] sqs commented on #1534
Superseded by #1961

[2019-01-25 05:50] #1534 closed

[2019-01-25 05:52] sqs opened #2026 "Add extension APIs for listening to active text editor changes and selections"
Support listening for changes to the active text editor in the sourcegraph.d.ts extension API. This is a prereq for #1552.

- [ ] ability to listen for changes to active text editor
- [ ] ability to listen for changes to TextEditor#selections

[2019-01-25 05:53] sqs commented on #1552
Filed the extension APIs that are necessary for this in #2026, to keep this purely about updating the git-extras extension to use these new APIs.

[2019-01-25 05:54] sqs commented on #1636
Closing as dupe of #1005. Please follow that issue for updates.

[2019-01-25 05:54] #1636 closed

[2019-01-25 05:55] sqs commented on #1624
@gergelyke We plan to ship Sourcegraph 3.1 on 2019-02-20.

[2019-01-25 05:56] #595 closed

[2019-01-25 05:58] sqs commented on #962
We will update this tracking issue for 3.1 sometime in the week of 2018-01-28 with @attfarhan 	@nicksnyder 	@keegancsmith 	@sqs.

[2019-01-25 05:59] sqs commented on #110
Closing as dupe of #1005

[2019-01-25 05:59] #110 closed

[2019-01-25 06:00] sqs commented on #1420
@keegancsmith 	Is this still important and do you still intend to own this? If not, please close or reassign it.

[2019-01-25 06:02] sqs commented on #1174
Moving to backlog. Will monitor user feedback and bump this up in priority as needed.

[2019-01-25 06:03] chrismwendt commented on #2011
I'm glad you're interested in adding Dart!

The only way to get code intelligence working is by creating a [Sourcegraph extension](https://docs.sourcegraph.com/extensions) that runs in the browser. The way that we've gotten the language server to communicate with the Sourcegraph extension for [other languages](https://docs.sourcegraph.com/user/code_intelligence#language-support) is by:

- adding W

[2019-01-25 06:08] sqs commented on #1874
Basic proposal: add a gear icon (next to the enable/disable slider) that shows the following dropdown menu:

- Enable/disable for all users
- (divider)
- Enable/disable for org1
- Enable/disable for org2
- Enable/disable for orgN

Notes:

- The "Enable/disable" would be the correct word based on the current enabled state for the subject.
- Only authenticated users would see the gear icon.
- If the

[2019-01-25 06:45] #1756 closed

[2019-01-25 08:33] felixfbecker opened #2029 "Basic code intel shows hover from a different language"
![image](https://user-images.githubusercontent.com/10532611/51734211-229d0b00-2084-11e9-917f-38ee43708986.png)

The file is a `.graphql` file, but basic-code-intel shows a hover from a definition in a `.go` file. It should only search for definitions in files of the same language.

[2019-01-25 10:51] bunopus commented on #2011
Thanks for the answer, @chrismwendt. I will start digging the docs about extensions. One question: is code highlighting should be added via extension too? I'm asking because right now many languages supported via syntect server.

Google 😄

Oh, i get it. I tried to search docs about this field (because there was a mention somewhere) and founded this: https://docs.sourcegraph.com/@v2.13.5/admin/site

[2019-01-25 11:41] chrismwendt commented on #2011
You're welcome! Nope, syntax highlighting is provided by syntect server. @slimsag would be able to help more that I on that front.

Ah, I think that issue about the search directing you to 2.13.5 will be resolved once we release 3.0 (in about a week).

[2019-01-25 14:37] felixfbecker opened #2031 "HTML 1.0 sign out page on sourcegraph.com"
![image](https://user-images.githubusercontent.com/10532611/51752159-0ebecc80-20b7-11e9-80f9-403a6def6573.png)

I guess this was caused by https://github.com/sourcegraph/sourcegraph/pull/1968

[2019-01-25 17:24] keegancsmith commented on #2016
Cc @tsenart

[2019-01-25 18:02] ryan-blunden opened #2032 "Managing the docker image tag in the docs quickstart code snippet"
Currently (Jan 25), someone running the 3.0 beta server container by using the [code from our docs](https://docs.sourcegraph.com/#quickstart) will pull the `3.0.0-beta` tagged image.

This is not a problem per se, but because the 3.0 tag is not being pushed to, anyone using this code is not getting any of the fixes pushed to newer beta tags, e.g. `3.0.0-beta.3`.

It's unclear whether this is inten

[2019-01-25 21:14] milind-shakya-sp commented on #1931
Hi @chrismwendt and @sqs. Thanks for the info and updates!

I am actually running the sourcegraph server locally on docker. is there a particular revision of the image i should pull to get the updates?

[2019-01-25 21:20] milind-shakya-sp commented on #1931
Another thing to note is that the hover works fine on sourcegraph's UI, just not on github with the extension.

![screen shot 2019-01-25 at 4 19 50 pm](https://user-images.githubusercontent.com/43146933/51773547-2b5e0300-20bd-11e9-9fd6-df7388feb753.png)

[2019-01-25 21:42] chrismwendt commented on #7
@spacejam The 3 main bits of functionality are hover tooltips, definitions, and references. It sounds like rust-analyzer would work pretty well since it already has support for 2 of those 3.

Now that code intelligence on Sourcegraph is provided by [Sourcegraph extensions](https://docs.sourcegraph.com/extensions), anyone can build a Rust extension with the same functionality as other language exte

[2019-01-25 22:47] chrismwendt commented on #1931
@milind-shakya-sp Oh, my apologies. For local deployment and browser extension integration, you'll need to:

- Enable the `sourcegraph/python` extension at http://localhost:7080/extensions
- Follow the instructions in https://sourcegraph.com/extensions/sourcegraph/python to deploy the Python language server
- Change the Sourcegraph URL in your browser extension to http://localhost:7080 (mine is on

[2019-01-25 23:18] ggilmore opened #2034 "add --ulimit nofiles=10000:10000 to docker quickstart command?"
In the course of trying out the AWS docs for https://github.com/sourcegraph/sourcegraph/issues/72, I ran into the following error when I tried to run the docker image on an EC2 instance running [Amazon Linux 2](https://aws.amazon.com/amazon-linux-2/):

[code]

That error message comes from here:

https://github.com/sourcegraph/sourcegraph/blob/cac576ae749b04dce921fc883a6ba338efd45c11/pkg/sysreq/un

[2019-01-25 23:20] ggilmore commented on #2034
cc @slimsag @sqs and @nicksnyder who were active on the original issue: https://github.com/sourcegraph/enterprise/issues/10157#issuecomment-429572199

[2019-01-25 23:33] chrismwendt opened #2035 "One Sourcegraph extension per language (and removing basic-code-intel)"
basic-code-intel as a single extension introduced a few problems:

- We added a bunch of logic to the extension host and API for hover priority so that results from the more precise language extensions would replace results form basic-code-intel
- We also added buttons like "Show/Hide fuzzy matches" to help the user clear out results from basic-code-intel when they're using a precise language exte

[2019-01-25 23:42] chrismwendt opened #2036 "Seed new instances with a sample repository"
I have a suspicion that external service configuration is a big hurdle to setup. Wouldn't it be great if prospective customers could run a search and see basic code intel working immediately after entering their admin info?

The repository could contain:

- A README with screenshots/videos of Sourcegraph in action
- A file or two for each of the ~6 languages that we have basic code intelligence su

[2019-01-25 23:46] slimsag commented on #2034
Why not just add the flag only to the AWS docs? i.e. the command we already provide there in the cloud init section.

[2019-01-25 23:54] ggilmore commented on #2034
Amazon Linux is probably not the only platform that has a lower than 10k file descriptor limit (also the administrator for the system might have manually tweaked it beforehand).

[2019-01-26 00:02] slimsag commented on #2034
My personal take is:

- Lots of users have ran our quickstart instructions on various platforms and haven't run into this, so while I definitely agree AWS is not the only location that would have this issue, it is likely a small percentage of places.
- We use Docker, so our users must be willing to interact with Docker, inherently.
- Docker doesn't let containers specify their ulimit for security

[2019-01-26 00:03] slimsag commented on #2034
If you feel strongly about having it everywhere though, I am happy to concede here. I trust you!

[2019-01-26 00:19] milind-shakya-sp commented on #1931
Is this something that was changed recently? The code intelligence for python was working fine few days back for me when I was using the local deployment.

[2019-01-26 00:47] chrismwendt commented on #1931
For 2.x instances there's a built-in `langserver/python` extension at http://localhost:7080/extensions/langserver/python that uses the Python language server that is enabled on http://localhost:7080/site-admin/code-intelligence:

![image](https://user-images.githubusercontent.com/1387653/51780128-eb008400-20c0-11e9-9a35-1c62dff32609.png)

[2019-01-26 00:50] milind-shakya-sp commented on #1931
![screen shot 2019-01-25 at 7 48 37 pm](https://user-images.githubusercontent.com/43146933/51780155-455a0e80-20da-11e9-8a9c-4a3929a7df2e.png)

Yeah I do have that turned on. Unfortunately, the hover issue still exists when when its turned on.

[2019-01-26 06:28] jimbo1qaz opened #2038 "Browser extension: Freezing and lag when scrolling on Github PR diffs"
- **Sourcegraph version:** ???
- **Platform information:** Ubuntu 18.04, Github + Sourcegraph extension 19.1.23.1746, Firefox 65.0b12 (64-bit)

#### Steps to reproduce:

1. Install https://storage.googleapis.com/sourcegraph-for-firefox/latest.xpi .
1. Go to https://github.com/jimbo1qaz/corrscope/pull/154/files (very long Github diff)
2. Hold Page Down or Page Up to scroll through page.

#### Expec

[2019-01-26 08:45] #1993 closed

[2019-01-26 10:53] maxhallinan commented on #2010
Thanks for the feedback!

My use case is Hoogle-like search on Haskell code not published to Stackage. Hoogle helps me answer the question "does this function type exist somewhere in Stackage?" I'd like a tool that helps me answer the question "does this function type exist somewhere in this project?", where the project is not a package that will be published to Stackage.

A browser extension that

[2019-01-27 03:43] AndreKR opened #2040 "Confusing documentation about GitLab repository permissions"
In the [Changelog](https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/blob/CHANGELOG.md) I saw that GitLab repository permissions should be supported now, so I decided to give it a shot.

I found two pages ([1](https://docs.sourcegraph.com/admin/auth/#gitlab), [2](https://docs.sourcegraph.com/admin/repo/permissions#gitlab)) dealing with adding GitLab as an authentication provider and a r

[2019-01-27 09:15] keegancsmith commented on #2010
Great, that makes a lot of sense. One of the themes we are exploring this half is extensions, and specifically search extensions. We have been tracking that work with an attempt to create a search extensions which searches GitHub issues/etc. https://github.com/sourcegraph/sourcegraph/issues/962

[2019-01-27 15:18] sqs commented on #2038
We are working on this in #2000. Thanks for the report and sorry for the issue.

[2019-01-27 15:18] #2038 closed

[2019-01-27 16:16] nicksnyder commented on #2034
Can we update the error message to propose a more targeted fix for the Docker environment?

e.g. instead of `Possible fix: Please increase the open file limit by running "ulimit -n 10000".`
say `Add --ulimit nofile=10000:10000 to the docker run command`

[2019-01-27 17:40] KattMingMing opened #2041 "Link to extension usage documentation from 3.0-quickstart guide."
It's unclear which users an extension is enabled for when following the quickstart guide.

Feedback from: https://twitter.com/pjargon/status/1089530124666470400

It's also unclear to a site admin how to configure a Sourcegraph instance with extensions. Site admins may want to only enable an extension for themselves, an organization, or for all users on a Sourcegraph instance. This documentation ex

[2019-01-27 18:11] KattMingMing opened #2042 "Unclear example values / comments on external services configuration editor"
- **Sourcegraph version:** 3.0-beta

Feedback from: https://twitter.com/pjargon/status/1089530124666470400

On the GitHub External Services page we currently show the following documentation:

[code]

[2019-01-28 03:07] sqs commented on #2041
#1874 will add a UI for enabling an extension for all users. (Planned for 3.1.)

#2028 will enable basic-code-intel by default. (Planned for 3.0.)

Updated the above comment's checklist to link to those and strikethrough the items.

The first checklist items seems like a good idea. The last one will be mitigated by #2028 and fixed by #1874, so it's not worth doing. (It's unlikely people would see

[2019-01-28 03:07] #2041 closed

[2019-01-28 04:40] AndreKR commented on #2040
Thanks for your help.

I have no luck with the `configID`. As I understand you, it's supposed to go into the `auth.providers` config, but both the management console and the site admin are complaining:

![image](https://user-images.githubusercontent.com/1188538/51815015-8743aa00-22be-11e9-9e05-73bd7d4f4e9a.png)

![image](https://user-images.githubusercontent.com/1188538/51815029-9591c600-22be-11e9

[2019-01-28 10:34] mjhogan opened #2044 "Run as non-root user in Docker?"
#### Question description

Would it be possible to configure Sourcegraph to run as a non-root user in the Docker container?

#### Is your question related to a problem? If so, please describe or link to another issue.

#### Additional context

Thank you.

[2019-01-28 10:35] vanesa commented on #631
I didn't, but Geoffrey did. Will look into this.

[2019-01-28 15:10] keegancsmith commented on #2019
For things like gitserver, scaling has more to do with traffic than number of repos. For searcher and symbols, we need to scale out by number of repositories for it to be able to handle large unindexed searches.

[2019-01-28 15:40] nicksnyder commented on #2019
Perhaps more relevant info to share would be guidance on how to detect if an instance is under or over scaled instead of a concrete number of replicas.

[2019-01-28 16:50] felixfbecker commented on #1554
@keegancsmith in case you also wanna look at this

[2019-01-28 17:37] kmacmcfarlane opened #2047 "References Matching Golang Comments"
- Sourcegraph.com
- Windows 10 build 17763, chrome 71.0.3578.98

#### Steps to reproduce:

1. Navigate chrome browser to https://sourcegraph.com/github.com/gorilla/schema/-/blob/encoder.go#L13:6&tab=references
2. View references found

#### Expected behavior:
- References to the Encoder struct are found
#### Actual behavior:
- Comments containing the string "Encoder" are found in addition to actua

[2019-01-28 17:56] #1721 closed

[2019-01-28 18:09] #2042 closed

[2019-01-28 18:23] slimsag commented on #1822
@attfarhan Would you be able to look into this since you have some spare cycles?

Basically, I am thinking instead of the `Saving...` text in the bottom left of the page (which is easy to miss) we could instead have a spinner and 'grey out' the actual text editor (e.g. maybe by overlaying a div with semi-transparent background); probably doesn't need design just needs to be more prominent somehow

[2019-01-28 19:37] felixfbecker commented on #1939
Another example:

![image](https://user-images.githubusercontent.com/10532611/51861376-55712880-233c-11e9-967c-dd737eba3f0f.png)

![image](https://user-images.githubusercontent.com/10532611/51861412-6ae65280-233c-11e9-8ade-ea2baf4059ac.png)

[2019-01-28 20:49] sqs commented on #1939
This will now be solved by @chrismwendt’s work. However the fix is quick so I will do it tonight to avoid this bug lasting for longer (I meant to fix it earlier).

[2019-01-28 21:49] #2032 closed

[2019-01-28 21:56] chrismwendt commented on #627
I propose that the cache directory be treated as volatile - any file you write to that directory can be deleted at any time. That will allow us to write a simple garbage collector process that wakes up every minute and deletes everything in the cache if it's above 90% usage. Does anyone know if this property would break any of our services?

For ROI calculations: manually responding to the opsgeni

[2019-01-28 22:04] TobiaszCudnik opened #2049 "Go To Definition missing for TypeScript interfaces when using the extension"
- **Sourcegraph version:** v19.1.23.1746
- **Platform information:** FF 65.0b12, Chrome 71.0.3578.98

#### Steps to reproduce:

1. Go to https://github.com/TaskSync/taskBot.app/blob/10bd3e063fc5fb81ccf49e83f7a8e2c1b27ffc34/src/app/app.ts#L42
2. Wait for the TS server to start
3. Hover over `IConfig` on line 42

#### Expected behavior:

Popup with 2 buttons:
- Go to definition
- Find references

##

[2019-01-28 23:06] sqs commented on #2036
I thought about this and would like to deprioritize it and focus on getting the user’s actual repos to be added smoothly (for the reasons Nick states). It is a great future idea though.

[2019-01-28 23:11] nicksnyder commented on #1723
@beyang Is any more testing needed here for 3.0?

[2019-01-28 23:11] nicksnyder commented on #1712
@sqs is any more testing needed here for 3.0?

[2019-01-28 23:14] nicksnyder commented on #1708
@beyang @ijsnow can you please deploy sourcegraph.com (even if it is a no-op deploy) and check your name off this list.

[2019-01-28 23:14] slimsag commented on #627
https://github.com/sourcegraph/sourcegraph/issues/1759 I would be careful about how this happens atomically, not saying we will run into this issue but just saying we could so it is one aspect to consider here.

[2019-01-29 00:03] sqs commented on #1712
Yes, this will need more testing because we are making it installed by default and multiple extensions. @chrismwendt owns that part of testing.

[2019-01-29 00:04] sqs commented on #1712
@chrismwendt please update this issue with modified test plan accounting for installed by default and multiple extensions.

[2019-01-29 00:09] chrismwendt commented on #2029
This will be fixed by #2035

[2019-01-29 00:33] nicksnyder commented on #1982
I enabled `"disableAutoGitUpdates": "true"` on sourcegraph.com and discovered a few undesirable behaviors:
1. It disables all updates, not just scheduled updates (bug)
2. The schedule metadata doesn't get cleared out, which makes it seem like auto updates are still scheduled when they aren't.
3. If you configure disableAutoGitUpdates back to `false` then the schedule doesn't correctly re-populate

[2019-01-29 02:16] sqs commented on #2049
Thanks for the report and sorry for the issue.

I can repro the failure at your GitHub link. I see the following error message in devtools:

[code]

This comes from the TypeScript extension (https://sourcegraph.com/search?q=repo%3Asourcegraph%2Flang-+expected+response).

I am guessing this is related to how extensions get file contents from the DOM when running on GitHub. (Incidentally, extensions

[2019-01-29 02:45] #2047 closed

[2019-01-29 02:48] sqs commented on #2044
@ggilmore can take this one. (Do we still need the Docker container to run as root now that it never needs to access /var/run/docker.sock anymore?)

Tentatively scheduling for 3.1 because this is something we've heard several times for Sourcegraph cluster deployments, so it seems like a good practice and important to some folks.

[2019-01-29 03:36] sqs commented on #1959
Draft announcement PR up at https://github.com/sourcegraph/about/pull/79

[2019-01-29 04:34] slimsag commented on #1982
@nicksnyder How do you know setting that prevented all updates? Looking at the code, I don't see how it would be possible for `disableAutoGitUpdates` to prevent all updates, the logic looks pretty sound to me end-to-end.

[2019-01-29 04:36] slimsag commented on #1982
If `disableAutoGitUpdates` really is broken, I consider this a release-blocker, since we have multiple customers relying on this I think.

[2019-01-29 07:37] #1938 closed

[2019-01-29 09:04] keegancsmith commented on #627
We already have this in two ways:
- pod-tmp-gc is a Daemonset which deletes the cache dirs for pods that are not running
- Our disk cache logic supports this, and our services use that logic. However, we are not using it correctly in some cases.

pod-tmp-gc would be a good place to do this extra monitoring and implement the eviction when our application code is not behaving correctly. Note: it may

[2019-01-29 09:19] mjhogan commented on #2044
Great, thanks for the update!

[2019-01-29 09:34] felixfbecker commented on #2029
Are you sure? I think this requires a code change to search the definition in the same language

[2019-01-29 10:43] sqs commented on #1490
This was fixed a while ago

[2019-01-29 10:43] #1490 closed

[2019-01-29 10:43] #1167 closed

[2019-01-29 10:44] #904 closed

[2019-01-29 10:49] sqs commented on #995
We have made some improvements here:

- language extensions installed by default (#2028)
- "category" filter for extensions
- explore page with extension recommendations

I've renamed this issue to be about recommending extensions because that is the major thing left that we haven't done yet.

[2019-01-29 10:54] sqs commented on #1789
My Algolia update didn't fix this problem. I am going to replace the search with a Google `site:docs.sourcegraph.com` search.

[2019-01-29 11:11] sqs commented on #1789
Reopen to verify fix

[2019-01-29 11:40] felixfbecker opened #2052 "Make docs pages more visually appealing"
Reading our docs is currently the opposite of a delightful experience. There is almost no color on the page, everything is in a monochrome grey tone. There are zero visually engaging elements, like icons or variations in backgrounds and borders. The search box doesn't match the design of the rest.

Here are some good examples of visually engaging docs:
https://scalameta.org/metals/docs/editors/ove

[2019-01-29 12:46] felixfbecker commented on #2049
@keegancsmith assigning to you since you worked on the raw API recently, please reassign if not appropiate

[2019-01-29 14:07] nicksnyder commented on #627
What disk cache logic are you referring to in the second bullet?

[2019-01-29 14:11] keegancsmith commented on #627
I spoke too soon, we actually do it differently now (in searcher). We can build this bit of logic into lang-go/etc. https://github.com/sourcegraph/sourcegraph/blob/master/pkg/diskcache/cache.go#L194

[2019-01-29 14:24] nicksnyder commented on #627
We have non-Go binaries too (e.g. lang-typescript). Do you think we should add similar logic to those services or enhance the cleanup logic in a global garbage collector (like pod-top-gc) similar to what Chris proposed? To me, the latter seems like an easier way to assert the behavior we want.

[2019-01-29 14:26] peter-grainger commented on #60
@jaredstehler could you post your ecs task.json config.

It would give me a bit of a head start (and would probably help others who have the same issue)

Thanks.

[2019-01-29 15:16] lguychard opened #2053 "Background of close icon clashes with action item when no hover contents are displayed"
Previously, when only the action buttons were displayed (when a def was loading for example), and you hovered the pinned hover, the close icon was shown but its background did not clash with the hover:

![image](https://user-images.githubusercontent.com/1741180/51917819-aaff1100-23e0-11e9-87a9-6ed1b67cc078.png)

Now, its background clashes with the hover:

![image](https://user-images.githubuserco

[2019-01-29 15:41] tsenart commented on #1982
OK, I'm prioritising this over https://github.com/sourcegraph/sourcegraph/issues/1856 now since it's release blocker.

[2019-01-29 16:00] keegancsmith commented on #627
Yeah the latter sounds good. We must remember to include the binary in our server image.

[2019-01-29 16:20] slimsag commented on #627
Does pod-tmp-gc get ran inside all of our existing containers? Or is it something that we must deploy separately?

[2019-01-29 16:34] nicksnyder commented on #627
Yes, it is deployed as a DaemonSet so it runs one process per node.
https://github.com/sourcegraph/deploy-sourcegraph/tree/master/configure/ssd

[2019-01-29 16:40] slimsag commented on #627
I see, I think it will be hard / complex to translate this into a pure-Docker deployment. What is the reason we don't bake this logic into our container images directly?

[2019-01-29 16:40] felixfbecker opened #2055 "Buttons contributed to the extensions toolbar should allow to specify "toggled" state"
Many buttons contributed to the toolbar are to toggle something on or off, e.g. Coverage colors, soon code intel, ...
The on/off state can currently only be communicated through the label "Enable"/"Disable". This makes it impossible to omit the lable to save space, and looks very weird on GitHub where the buttons look like actual 3D buttons, that don't change into a "pressed" state when the settin

[2019-01-29 16:56] nicksnyder commented on #627
Given that pod-tmp-gc already exists, it seems like we already have a problem with the Docker deployment if this isn't already handled?

The problem statement is:

Requiring each service to be a good citizen is one direction we could take (and appears to be the direction he have taken up until this point), but judging by the alerts it doesn't seem like this approach is working, and it seems like a

[2019-01-29 16:57] sqs opened #2056 "Many repositories on GitLab may cause scaling issues with permissions"
If someone is using Sourcegraph and [repository permissions](https://docs.sourcegraph.com/admin/repo/permissions) with GitLab, and they have many (~10,000+) GitLab repositories, then it may be very slow. The slow operation would be querying the GitLab API for all repositories visible to a user, and doing that for each user on demand.

@beyang 	What is your assessment here? Would this indeed be slo

[2019-01-29 16:58] ggilmore commented on #627
The containers themselves can't run this logic because they'll be killed before any sort of clean up routine they invoke has a chance to run (more simply, the thing that's being killed can't be expected to clean up after itself).

If you want to avoid a separate pod-tmp-gc deployment, you could change the logic to have all containers running on a node run a modified version of `pod-tmp-gc` that is

[2019-01-29 17:00] sqs opened #2057 "Better UX for adding repositories"
(This is underspecified, will fill in more details in the 3.2 kickoff.) See the new add-repository wireframes in https://docs.google.com/document/d/1P7uMHtOeYK1IwMj-1WtKspo16v8C_Mevj3qe1cX_kGY/edit#heading=h.vh7b6txgdnec.

Site admins adding repositories is too manual, clunky, and undiscoverable in the current UI. #2025 is probably a prerequisite.

[2019-01-29 17:15] beyang commented on #2007
WIP branch: bl/faster-gl-authz

[2019-01-29 17:17] beyang commented on #2056
Closing as dupe of https://github.com/sourcegraph/sourcegraph/issues/2007. I've a WIP branch to fix this issue.

[2019-01-29 17:17] #2056 closed

[2019-01-29 17:42] slimsag commented on #627
Also, do we not have the same problems with disk space filling up and preventing the container from starting in the case of Sourcegraph server? I would rephrase our problem statement here to:

[2019-01-29 18:17] ggilmore commented on #627
`pod-tmp-gc` currently works by:

1. Mounting the SSD which is shared amongst all pods that need a persistent cache running on a node

1. Querying the K8s api to get the set of all running pods on the current node

1. Iterating through all the top-level folders on the disk to see which ones are stale (i.e. left over from pods that have stopped)

1. Deleting all the stale folders on the disk

No, `

[2019-01-29 19:09] keegancsmith commented on #627
If I am not mistaken, the pure docker deployment mounts a stable and unique volume per replica. So it doesn't require pod-tmp-gc. However, it does require a service to cleanup since the volume "follows" the service around.

ie the difference between your pure docker deployment and kubernetes is that in kubernetes pods are ephemeral, but the (named) containers in docker in docker are persistent.

[2019-01-29 19:29] ryan-blunden opened #2060 "Improve cross-page navigation and overview to leaf page navigation"
The Sourcegraph documentation would benefit from easier discoverability of pages and improved section overview hyperlinks.

## Easier Discovery

Most likely will be in the form of a page index in the left rail.

![screen shot 2019-01-29 at 11 18 24 am](https://user-images.githubusercontent.com/133014/51934437-6f505100-23b8-11e9-8f8e-1298fdbd7004.png)

## Improved section overview links

![screen s

[2019-01-29 19:39] ryan-blunden opened #2061 "Decide if a config file, frontmatter or directory and file naming control the creation of the index"
This discussion needs to cement:
 - How a page is added to index
 - How the ordering and visibility of pages is controlled
 - How the link text would be controlled
 - If any validation should occur as part of PR pre-commit or PR check?

I've looked at examples from popular static site generators and most use a config file.

## Config

 - Dactyl: https://github.com/ripple/dactyl/blob/master/example

[2019-01-29 19:45] ryan-blunden commented on #2023
#2060 has been created to track how and what will be done to improve cross-page navigation and overview.

sourcegraph/docsite#7 has been created to decide how the page index will be managed. This needs to be decided upon before development can be begin.

[2019-01-29 20:30] chrismwendt commented on #627
@slimsag I believe so, that's my understanding of the problem space as well. We could add functionality to pod-tmp-gc so that pod-tmp-gc could **also** prevent problem 2 (unbounded growth of `/tmp`).

[2019-01-29 20:35] beyang commented on #2060
Casting my vote for directory structure

[2019-01-29 20:42] slimsag commented on #627
@ggilmore https://sourcegraph.sgdev.org/search?q=repo:%5Egithub%5C.com/sourcegraph/deploy-sourcegraph-dot-com%24+ssd0

These services are all sharing the same SSD. This implies that either ALL of these services are running on the same host node, or that the SSD is actually something like NFS which means we will suffer from network latency. Is it the former (we are deploying all of those services o

[2019-01-29 20:47] keegancsmith commented on #627
The SSD is local to the node. We configure GCE to give us VMs with local SSDs. Kubernetes is then configured with a host path to that directory. See the funky magic we do with mounting the cache dir, where the root path is `/path/to/local/ssd/pod-tmp-gc/${POD_NAME}`

[2019-01-29 20:52] slimsag commented on #627
Thanks, that makes sense. So then this issue is just about solving the second issue (the first is solved by pod-tmp-gc already):

And this is an issue that we will have to solve not just in Kubernetes deployments, but also in Server (single-container) and pure-Docker (multi-container) deployments.

i.e. we will also need some process to ensure /tmp does not grow unbounded in Server (single-contain

[2019-01-29 20:57] #2000 closed

[2019-01-29 21:10] slimsag commented on #627
Since I fear I may have derailed the conversation a bit by asking my questions, what are the problems / objections with my proposal to solve issue #2 above:

- We build a Go binary which can be ran in the background of all existing containers to periodically clean up the active pod/service's /tmp directory, e.g. by deleting it at some interval

[2019-01-29 21:13] slimsag opened #2062 "tech debt: two search implementations"
There may already be an issue for this open.

search2.go and search.go both exist, and it is hard to know which one is the in-use search implementation. We should have only one.

https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/blob/cmd/frontend/graphqlbackend/search2.go

https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/blob/cmd/frontend/graphqlbackend/search.go

[2019-01-29 21:19] slimsag opened #2063 "tech debt: two repo-updater implementations"
There may already be an issue for this open.

There are two repo-updater scheduler implementations but only one is in use AFAIK, we should get rid of the other one.

https://sourcegraph.com/search?q=repo:%5Egithub%5C.com/sourcegraph/sourcegraph%24+Scheduler2Enabled#3

[2019-01-29 21:32] keegancsmith commented on #2062
We haven't shipped search2, it is behind a feature flag. When we have time to focus on search again it will be cleaned up. I don't think this issue is worth tracking right now. Maybe some source code comments would help? I can follow up if you think so.

[2019-01-29 21:47] chrismwendt opened #2064 "Extension API request: ability to know when a user clicked on a token"
Motivating use case for token-highlights: https://github.com/sourcegraph/sourcegraph-extension-samples/issues/10

In terms of implementation, my first thought was to add a function, `registerTokenClickProvider`, similar to the hover/def/ref ones. However, unlike the others, there's no action embedded in the words `TokenClick`. It's more like a fire-and-forget event than a request because the retur

[2019-01-29 21:52] beyang commented on #1723
Nope

[2019-01-29 21:52] #1723 closed

[2019-01-29 21:53] ggilmore commented on #1884
cc @ggilmore

[2019-01-29 22:00] slimsag commented on #2062
Yes, that would help. A short statement like that at the top of both files would do.

[2019-01-29 22:01] slimsag commented on #1884
@ggilmore did you mean to mention someone else or assign yourself?

[2019-01-29 22:13] beyang commented on #2040
@AndreKR thanks for the feedback. We're actually in the middle of changing the GitLab permissions implementation and the `configID` field will soon become obsolete. Apologies for the somewhat confusing state of the documentation. I will post back here when we've shipped the update and have updated the docs.

[2019-01-29 22:21] ggilmore commented on #1884
No, I just wanted to have this issue in my email notifications for reference

[2019-01-29 22:23] ggilmore commented on #627
We'd need to know that the temp directory is safe to delete somehow right? (e.g. we don't want some operation to fail because a file was garbage collected in the middle of an operation)

[2019-01-29 22:33] felixfbecker commented on #1173
I would do this after the comlink refactor, might simplify things a lot

[2019-01-29 22:43] chrismwendt commented on #2029
I can clarify a bit if my previous comment was confusing (let me know why).

Currently, when you hover over `Settings`, basic-code-intel runs a Sourcegraph search that looks like `repo:... Settings type:symbol`. For this example, here's how the query needs to change in order to filter the results:

[code]

We'll need a way to determine the language of the current file in general.

[2019-01-29 23:50] slimsag commented on #627
Me / Geoffrey / Nick talked over a call, conclusions:

- We agree a separate Go binary that runs in the background of our existing Docker containers is the right path forward.
- It will _enforce_ that we do not allow /tmp to grow unbounded, but services themselves should still be aware of cleaning up after themselves. i.e. this service acts as a 'disk usage limit' rather than something that cleans

[2019-01-30 01:00] saurabh-hirani opened #2065 "Tracking search history while drilling down"
#### Feature request description

Sourcegraph is really useful to navigate through large codebases. However, one loses track of retracing steps if they go in too deep. It would be great to have a breadcrumb like search history tracker which can help user get to where they started from.

#### Is your feature request related to a problem? If so, please describe.
No.

#### Describe alternatives you'v

[2019-01-30 02:48] #1789 closed

[2019-01-30 02:57] sqs commented on #1745
I will update this doc page.

[2019-01-30 02:59] sqs opened #2067 "Improve documentation of JSON Schema-based site and critical config"
- [ ] https://docs.sourcegraph.com/admin/site_config/all is manually updated, and it's possible for it to get out of sync
- [ ] #1857
- [ ] There is no doc page for all critical config options

[2019-01-30 03:00] sqs commented on #1857
I will fix this in docsite so that anchors are disambiguated. If there are multiple headers that all have the raw text `foo`, then the anchors will be `foo`, `foo-1`, `foo-2`, etc. (or maybe I will use the parent header to try to disambiguate, too).

[2019-01-30 03:05] sqs commented on #1857
So the `<h1 id="...">` attributes are being disambiguated correctly, but the in-page links are incorrect (including the auto-generated `#` links to the left side of headers). The fix is slightly simpler than I expected.

[2019-01-30 04:10] sqs commented on #1857
Fixed. See https://docs.sourcegraph.com/admin/site_config/all#authorization-object-1, for example.

[2019-01-30 04:33] slimsag commented on #1745
FYI I started a WIP generator to generate the `site_config/all.md` and separate `management_console.md` or something, but didn't get too far.

[2019-01-30 04:33] slimsag commented on #1745
Is that the approach you are taking?

[2019-01-30 04:35] slimsag commented on #1745
Here is what I had if it is useful to you: [`schema/docgen.go`](https://gist.github.com/slimsag/9b346f3ad6a3030c978374aa67415690)

[2019-01-30 04:42] sqs commented on #1745
Thanks! My intent was to lighten your load here since I am updating other doc pages anyway.

 I haven’t started and don’t plan to immediately (maybe 12-24h from now). When I do start, I will prioritize updating the content over adding automation, but I would probably use your tool to at least do a one-time update.

[2019-01-30 04:54] francisschmaltz commented on #2053
I think a good stop gap would set a min-height for the box that prevents the x from overlapping.

[2019-01-30 05:47] sqs commented on #2035
@chrismwendt:

- The priority here is to get in the server-side changes by 3.0, because it is much easier to update the extensions after the release than the server code.
- Do not delete the basic-code-intel extension yet. This would disappear it for anyone who had it enabled before on 2.13 or 3.0 beta. Instead, make it display a notification in the UI telling the user to enable individual lang ex

[2019-01-30 05:50] sqs commented on #2065
Thanks for posting this! @attfarhan and @beyang have hacked on this (as you know). We will use this issue to monitor interest and share future plans.

[2019-01-30 06:34] sqs opened #2068 "Improve cloud provider deployment process"
## User story

## Plan

- [x] Close out "EC2 with Terraform milestone in" https://github.com/sourcegraph/deploy-sourcegraph-aws/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+milestone%3A%22EC2+with+Terraform%22
- [ ] Dogfood https://github.com/sourcegraph/deploy-sourcegraph-aws/ with some teammates
  - [x] @chrismwendt
  - [ ] @ggilmore
  - [ ] @KattMingMing or @attfarhan
- [ ] Get feedback ab

[2019-01-30 07:04] sqs opened #2069 "Instance activation flow for site admins"
We want to help users on new Sourcegraph instances see value. This includes both changes to the actual setup process and improving our documentation content.

Let's define [**activation**](https://500.co/activate-or-die-3-keys-to-user-activation-for-saas-part-1/) for a Sourcegraph instance as:

- This implies that they have added repositories.
- "Any user" will usually be the site admin.
- This is

[2019-01-30 07:11] chrismwendt commented on #2035
@sqs Gotcha, I updated the description. I won't delete basic-code-intel until we're comfortable with the given grace period. Aside from code review, the server-side changes are ready in https://github.com/sourcegraph/sourcegraph/pull/2028

[2019-01-30 07:17] slimsag commented on #1745
Awesome! Yeah, I started here with the same motivation (update content over adding automation) but it quickly became apparent to me a lot on that page was out of date and automation felt easier to me. I definitely agree do whatever is quickest here first!

[2019-01-30 07:30] sqs commented on #1552
Closing in favor of #1113

[2019-01-30 07:30] #1552 closed

[2019-01-30 07:31] sqs commented on #1113
Prioritizing for the [Sourcegraph 3.1](https://docs.sourcegraph.com/dev/roadmap#3-1) release

[2019-01-30 07:32] #552 closed

[2019-01-30 07:33] sqs commented on #727
This bug was caused by inline blame and extension decorations being added independently, without knowledge of each other. We made blame work via an extension (git-extras) so this specific thing is no longer an issue.

[2019-01-30 07:33] #727 closed

[2019-01-30 07:38] sqs opened #2070 "Code navigation UX and robustness"
Code navigation includes code intelligence, Git blame, Codecov/Datadog extensions, Chrome/Firefox extensions, and anything else that helps a user navigate their code.
 Code navigation is one of the 2 main features of Sourcegraph for users (along with code search).

We've made big changes to code navigation the last few months, such as moving language/git-blame functionality to extensions and enabl

[2019-01-30 07:40] sqs commented on #1939
This is covered by #2035 and does not require any extra work beyond that. Closing.

[2019-01-30 07:40] #1939 closed

[2019-01-30 07:44] sqs commented on #1446
This is still occurring, but it is much less of an issue given that the **Show/hide  fuzzy matches** action is going away in #2035 (for 3.0). Therefore I am closing it because it will be solved by #2035.

[2019-01-30 07:44] #1446 closed

[2019-01-30 07:45] #1466 closed

[2019-01-30 07:45] sqs commented on #1302
This will be fixed by #2035. Closing.

[2019-01-30 07:45] #1302 closed

[2019-01-30 07:47] sqs commented on #126
We removed the Ruby experimental lang server that caused this (see https://about.sourcegraph.com/blog/java-php-experimental_language_servers-temporarily-unavailable).

The preferred way to get Ruby code intelligence is now to use the basic-code-intel extension; see https://about.sourcegraph.com/blog/sourcegraph-3.0-beta-is-now-available#basic-code-intelligence-for-all-languages for info. (On Feb 4

[2019-01-30 07:47] #126 closed

[2019-01-30 07:50] sqs commented on #630
We removed the Java lang server that caused this (see https://about.sourcegraph.com/blog/java-php-experimental_language_servers-temporarily-unavailable).

The preferred way to get Java code intelligence is (for now) to use the basic-code-intel extension; see https://about.sourcegraph.com/blog/sourcegraph-3.0-beta-is-now-available#basic-code-intelligence-for-all-languages for info. (On Feb 4, 5 day

[2019-01-30 07:50] sqs commented on #140
We removed the C++ lang server that caused this (see https://about.sourcegraph.com/blog/java-php-experimental_language_servers-temporarily-unavailable).

The preferred way to get C++ code intelligence is (for now) to use the basic-code-intel extension; see https://about.sourcegraph.com/blog/sourcegraph-3.0-beta-is-now-available#basic-code-intelligence-for-all-languages for info. (On Feb 4, 5 days

[2019-01-30 07:50] #140 closed

[2019-01-30 07:51] sqs commented on #147
We removed the Haskell experimental lang server that caused this (see https://about.sourcegraph.com/blog/java-php-experimental_language_servers-temporarily-unavailable).

The preferred way to get Haskell code intelligence is (for now) to use the basic-code-intel extension; see https://about.sourcegraph.com/blog/sourcegraph-3.0-beta-is-now-available#basic-code-intelligence-for-all-languages for inf

[2019-01-30 07:51] #147 closed

[2019-01-30 07:56] sqs commented on #2055
The motivation for this is that sometimes users DON'T want code intel on a code block, and this lets them quickly disable it (without completely uninstalling Sourcegraph). The reasons why they might not want code intel usually are bugs themselves (such as interfering with text selection, showing annoying loading indicators, showing useless/incorrect fuzzy results or `any` TS hovers, etc.) but this

[2019-01-30 07:58] sqs commented on #635
Made much less important by #2035. By the time we want to do this, this issue will be outdated, so closing.

[2019-01-30 07:58] #635 closed

[2019-01-30 08:05] sqs commented on #1572
Now it only shows progress after you hover something. That satisfies our valued user @JoshuaKGoldberg 	(and me). :smile:

[2019-01-30 08:05] #1572 closed

[2019-01-30 08:18] sqs commented on #1477
Fixed upstream

[2019-01-30 08:18] #1477 closed

[2019-01-30 08:20] sqs commented on #729
#702 lets extensions read the selection, so I am making this issue about gutter icons only.

[2019-01-30 08:32] sqs commented on #709
You can use `sourcegraph.internal.sourcegraphURL === 'https://sourcegraph.com'`

[2019-01-30 08:32] #709 closed

[2019-01-30 09:10] keegancsmith commented on #2025
Something to keep in mind if we make the primitive "repoQuery" is that github's search API has a rate limit of 20 requests an hour. This will be fine when reacting to config changes, but may back us into a corner when we want to notice changes in the search results. Additionally a search request only returns 1000 results. @tsenart's idea of us doing the filtering and just listing everything may be

[2019-01-30 09:21] keegancsmith commented on #627
Our most common writer to /tmp is archives, and the code which does that is resillient to /tmp being rmed (it writes to a tmp file and renames into place once complete)

[2019-01-30 09:30] takuyahara opened #2073 "Codecov "Coverage: %" not showing up for some public repo"
Unlike [Codecov "Coverage: %" not showing up for private repo #1116](https://github.com/sourcegraph/sourcegraph/issues/1116), I see some of the public repo don't show `Coverage %` button nor `Codecov: Show coverage % button` item, like [tuf_store.go](https://github.com/theupdateframework/notary/blob/master/server/storage/tuf_store.go) does but [one of my code](https://github.com/TakuyaHara/test/bl

[2019-01-30 09:55] #2062 closed

[2019-01-30 10:53] keegancsmith opened #2074 "[deploy-sourcegraph] Set the recommended labels on our resources"
Something we should consider. As tooling in k8s gets more mature, these being set will likely become more and more useful. https://kubernetes.io/docs/concepts/overview/working-with-objects/common-labels/#labels

[2019-01-30 11:27] keegancsmith opened #2075 "[deploy-sourcegraph] Consider setting terminationMessagePolicy on pod templates"
See terminationMessagePolicy on https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.13/#container-v1-core

When a container dies, kubectl describe on the pod will include the last few lines of log output. This seems very convenient. Currently the reason is always set to error since none of our applications update the termination reason file.

[2019-01-30 11:49] vanesa commented on #1943
Yes, it seems like while Chrome is able to receive the height setting of `400px` when `this.props.height` is undefined, but Firefox changes it to `5px`.
Chrome `clientHeight` vs. Firefox:
![image](https://user-images.githubusercontent.com/9110008/51979448-84b89e80-24d0-11e9-83f1-d6bdb8114e06.png)

![image](https://user-images.githubusercontent.com/9110008/51979425-736f9200-24d0-11e9-9184-4b29995b4

[2019-01-30 11:58] keegancsmith opened #2076 "[deploy-sourcegraph] Use rollout strategy Recreate for stateful singleton deployments."
Any of our deployments which only have one replica and a volume should use the recreate strategy. This will likely involve a migration guide or a move to a new deployment since the rollout strategy field is immutable. In the case of moving to a new deployment, care must be taken so the admin is aware that they need to port modifications from the old deployment to the new one.

See https://kubernet

[2019-01-30 12:08] hho commented on #1005
When adding `count:1000` to the end of a sub-query (as happens when you press the "show more" button at the bottom of the results list), no results are shown at all.

[2019-01-30 13:59] keegancsmith commented on #2049
I'll only have time to look into this tomorrow. What is the priority of it? @felixfbecker not sure if you have any bandwidth to look into it. cc @slimsag

In the meantime I just reverted the commit you suspect caused this issue. ad52c581f7fad15bd9e373a4e128b186ef7f289d So it may just fix this issue (but will need to be followed up on)

[2019-01-30 14:49] sslavian812 opened #2078 "commit search does not work for "before" and "after""
- **2.13.6**
- **docker image sourcegraph/server:2.13.6**

#### Steps to reproduce:

1. search for:  before:"june 25 2019"
or
2. search for after:"june 25 2000"

#### Expected behavior:
some search results
#### Actual behavior:
no search results

used example from here:
https://docs.sourcegraph.com/user/search/queries

[2019-01-30 15:04] lguychard commented on #1471
Discussed with @sqs
- `showNotification()` was likely `@deprecated` because it was due to change, and there was no way to flag it as experimental
- So, yes, we want to undeprecate it, and extend it to allow multiple levels

[2019-01-30 15:11] keegancsmith commented on #1404
Updated the issue description. What is missing is auto-upgrades in server and test plans. I expect this to be ready by Thursday morning pacific time so we have time to test.

The current idea is to re-use our postgresql auto-upgrade we use in deploy-sourcegraph. However, it requires us to switch from alpine to debian/ubuntu. This should not be a big deal after some refactoring I did to our docker

[2019-01-30 15:13] keegancsmith opened #2079 "WIP Test Plan: Postgresql auto-upgrades"
Test plan for https://github.com/sourcegraph/sourcegraph/issues/1404

WIP

[2019-01-30 15:15] lguychard opened #2080 "Server should send its desired version of the extension API to the extension registry"
This is the first step to achieving #1255: back/forward compat for Sourcegraph extensions.

[2019-01-30 15:16] lguychard commented on #1255
Prerequisite: #2080

[2019-01-30 15:23] keegancsmith commented on #2049
I have deployed the reverts, this is still happening. Unrelated to what I did. As I said, I think this is gorilla/mux doing this since I believe it strips slashes and it is the router we use. I already have a release blocker on my plate so don't have the appropriate bandwidth to deal with this issue in a timely matter.

[2019-01-30 15:33] felixfbecker commented on #2049
If it's gorilla/mux, how come it didn't happen before?
gorilla/mux does strip slashes, which is not great but okay and it has always done this, but why would it redirect the no-trailing-slash version to the root of the repo?

Me neither and I have little knowledge about our backend routing. Could you find an owner for this?

[2019-01-30 15:37] lguychard commented on #1174
Discussed with @sqs:

- Fuzzy references could be differentiated through highlight color. For instance, in the below screenshot, the two fuzzy references would have a different highlight color, but we would still display all references:

![image](https://user-images.githubusercontent.com/1741180/51992477-57a6c480-24ad-11e9-9975-bcb9da344a2c.png)

- Hovering on a fuzzy reference could show a simple

[2019-01-30 16:24] nicksnyder commented on #2063
Thanks for filing an issue. We have not yet had a non-beta release where the new implementation is on by default so the current state is intentional. We should be able to remove the old implementation and feature flag in 3.1 unless some issues arise.

[2019-01-30 16:29] nicksnyder commented on #2025
Are these limitations only on GitHub.com or do they also impact GitHub Enterprise?

[2019-01-30 16:49] sqs opened #2081 "3.2 code search UX tracking issue"
Code search, along with [code navigation](https://github.com/sourcegraph/sourcegraph/issues/2070), is one of the 2 main features of Sourcegraph.

For this milestone (3.2), and the next few moving forward (~6 months or so), we are prioritizing:
- @attfarhan and @ijsnow's familiarization and ownership over the search codebase
- improving the current search feature set (stability, UX, etc.)
- improvi

[2019-01-30 17:21] KattMingMing commented on #2018
Resolved

[2019-01-30 17:21] #2018 closed

[2019-01-30 17:46] #2015 closed

[2019-01-30 17:57] ijsnow commented on #2000
@matevarga @eatonphil I merged and released a change that greatly improved performance on page load (was released in `v19.1.29.2106`). Please don't hesitate to reopen this if you continue to see problems!

And just a side note @eatonphil: any language can be a supported language with [Sourcegraph extensions!](https://docs.sourcegraph.com/extensions) If you have spare time and would like to see ML

[2019-01-30 19:03] chrismwendt commented on #1271
@dadlerj Your GIF shows perhaps the most appropriate time to show code intelligence in hovers: when hovering over a token enclosed in backticks. Are there any cases where you'd like to get code intelligence in comments?

Some heuristics that come to mind are: backticks, quotes `"foo"`, and parentheses trailing a token `foo()`.

[2019-01-30 19:32] attfarhan commented on #2053
Reverted https://github.com/sourcegraph/sourcegraph/commit/cac576ae749b04dce921fc883a6ba338efd45c11, so closing this. Reopened https://github.com/sourcegraph/sourcegraph/issues/1935 and added to backlog.

[2019-01-30 19:34] francisschmaltz commented on #2053
@sqs this should be a higher priority since basic code intel might have hovers that are only buttons.

@attfarhan can we have the close button only visible if there is more content than just the buttons?

[2019-01-30 21:05] slimsag commented on #1786
Very bad that we're not using this in deploy-sourcegraph, so tagging for 3.1. But not critical for 3.0 and I won't have time to complete it.

[2019-01-30 21:06] slimsag commented on #1426
Not having any docs here would be very bad for existing users, so I am tagging as a release blocker.

[2019-01-30 21:08] nicksnyder commented on #1982
Tomas and I chatted about this today. The release blocking behavior is exactly this:

Looking at [the code](https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/blob/cmd/repo-updater/repos/reposlist.go#L733:29) you can see that the entire context is canceled, which impacts both scheduled updates as well as on demand updates (since they both go through the same queue). Tomas has the relevan

[2019-01-30 21:08] slimsag commented on #1934
Tagging for 3.1. This would be a major improvement, but not a 3.0 release blocker and I won't have time to complete it for that.

[2019-01-30 21:09] slimsag commented on #1435
This is bad, but something that can be fixed in 3.1 rather than 3.0.

[2019-01-30 21:13] slimsag commented on #517
I've added a point to document that changing some properties requires a restart in the interim to https://github.com/sourcegraph/sourcegraph/issues/1428

In 3.1 we should definitely fix this, but won't land in time for 3.0

[2019-01-30 21:14] slimsag commented on #1431
Yes, it is -- it would crash the container and prevent you from accessing the management console to correct the issue.

I will commit to fixing this before we cut the release (over the weekend if necessary)

[2019-01-30 21:17] slimsag commented on #1884
Since the implicit user creation order does ensure this is stable, it is OK if this doesn't land in 3.0 BUT it would be really good to have it land in 3.0. This is about as close as you can get to a release-blocker issue without it being one.

I'll try to implement this soon.

[2019-01-30 21:18] ggilmore opened #2083 "follow up on enabling docker multi-stage builds in CI"
See https://github.com/sourcegraph/infrastructure/pull/1095#issue-249001644

[2019-01-30 21:19] slimsag commented on #1683
Not a release blocker, but definitely we should fix this ASAP. I will try to land in 3.0.

[2019-01-30 21:21] nicksnyder commented on #1431
What happens, and what is the resolution in 2.x if there is a bad externalURL?

[2019-01-30 21:31] ggilmore commented on #2083
Perhaps https://cloud.google.com/blog/products/gcp/introducing-kaniko-build-container-images-in-kubernetes-and-google-container-builder-even-without-root-access is an option

[2019-01-30 21:46] KattMingMing opened #2084 "Add "smartcase" for regexes"
**Feature request:**

- [ ] Add `smartcase` option to `case` keyword. `case:smartcase`

The full solution would likely need to include solving:

- [ ] [Override search keyword default values](https://github.com/sourcegraph/sourcegraph/issues/2085)

- [ ] [Site-wide search query defaults](https://github.com/sourcegraph/sourcegraph/issues/1817)

[2019-01-30 21:46] KattMingMing opened #2085 "Override search keyword default values"
**Request**
Allow users to set preferred default values for search keywords.

- [ ] Add `search.keywordDefaults` to user configuration.
`search.keywordDefaults` lets users override the default keyword values such as `case:no` to `case:smartcase`.

- [ ] On search append the query with overwritten operators if the keyword was not present in the query and exists in `search.keywordDefaults`.

All key

[2019-01-30 21:58] nicksnyder commented on #2049
I am not able to reproduce this locally, so I am wondering if this is related to ingress nginx configuration changes in prod cc @ggilmore

http://localhost:3080/github.com/TaskSync/taskBot.app@10bd3e063fc5fb81ccf49e83f7a8e2c1b27ffc34/-/raw

[2019-01-30 22:01] nicksnyder commented on #2049
This endpoint ALSO appears to work on dogfood.

https://sourcegraph.sgdev.org/github.com/TaskSync/taskBot.app@10bd3e063fc5fb81ccf49e83f7a8e2c1b27ffc34/-/raw

[2019-01-30 22:01] ijsnow commented on #1228
Didn't notice the assignee change on this issue and started debugging it today. I'm able to reproduce this by:

1. [Open any page with code on GitHub](https://github.com/sourcegraph/codeintellify/blob/master/src/positions.ts)
2. In a new tab navigate to [chrome://extensions](chrome://extensions) and refresh the extension
3. Hover over code in the GitHub tab that was already open

![screenshot 2019

[2019-01-30 22:11] slimsag commented on #2084
this would be awesome!

[2019-01-30 23:10] tsenart commented on #1856
I verified that this is a regression, but I'm not sure why exactly yet. The issue seems to be [here](https://sourcegraph.sgdev.org/github.com/sourcegraph/sourcegraph/-/blob/cmd/frontend/backend/repos_vcs.go#L87). We're returning the wrong URL based on not having a token configured and finding the `github.com` sub string, even when the whole URL is of the form `ssh://git@github.com`

[2019-01-30 23:15] tsenart commented on #1856
OK, so this commit introduced the regression: https://github.com/sourcegraph/sourcegraph/commit/fea40186d9306153ccfbf89e1afb13f3e35c336f#diff-38d673c3d1ef2fb59e5788a6a3e30e7b

Before, we were returning `nil` from `quickGitserverRepo` when we didn't have a token for github.com. With this change, we now return false and the repo with the wrongly constructed https URL.

[2019-01-30 23:34] nicksnyder commented on #2049
Meta: Here is how Geoffrey and I solved this issue without having any special knowledge.

We started by looking at the [request trace](https://app.lightstep.com/sourcegraph-prod/trace?span_guid=76dd885dc6cf9f74&at_micros=1548888706848130#span-65c7e19d3c419609) for the suspicious redirects. This confirmed that execution was reaching the [serveRaw](https://sourcegraph.com/github.com/sourcegraph/sour

[2019-01-31 00:32] ggilmore commented on #2083
@tsenart

Re: https://github.com/sourcegraph/infrastructure/pull/1095#issuecomment-459124027

I upgraded our nodes to the latest available GKE version, but they're still using docker `17.03`. I assume they haven't changed the COS version for GKE yet.

[2019-01-31 00:58] ggilmore commented on #2049
More context, I ruled out an issue with `nginx-ingress` by looking through the following logs:

-  `nginx-ingress`: https://console.cloud.google.com/logs/viewer?interval=PT1H&project=sourcegraph-dev&organizationId=1006954638239&minLogLevel=0&expandAll=false&timestamp=2019-01-30T22:37:29.990000000Z&customFacets=&limitCustomFacetWidth=true&advancedFilter=resource.type%3D%22container%22%0Aresource.la

[2019-01-31 03:56] chrismwendt commented on #2035
Done :tada: (will be deployed to Sourcegraph.com soon and be tagged in v3.0.0-beta.4)

Closing because all that's left to do is wait a few weeks then delete https://sourcegraph.com/extensions/sourcegraph/basic-code-intel

[2019-01-31 04:58] chrismwendt commented on #1712
@sqs Done, I updated the description with the modified test plan.

[2019-01-31 06:50] chrismwendt commented on #2057
Drive-by ideas 💡

- Redirect `/site-admin/external-services` -> `/site-admin/external-services/add` when there are no services yet
- Replace the JSON editor with a form or turn it into a 2-tab view. Each code host's form would be slightly different. GitHub example:
  - Drop-down: type `[GitHub, GitHub Enterprise]`
  - Text box: URL (GitHub Enterprise only)
  - Text box: access token (with link to

[2019-01-31 07:09] chrismwendt commented on #1940
The connection could be shared across browser tabs if there's only 1 instance of each extension running in the background script in the browser extension (do we already have an issue for this?).

go-langserver could reuse the same internal struct until a client issues a `textDocument/didChange` LSP notification, at which point it needs to clone the struct and update refcounts. That sounds a bit tr

[2019-01-31 08:42] #1497 closed

[2019-01-31 08:50] EvanHong1 commented on #2073
I have a same issue.
Coverage % button is not appearing for public repo.
https://github.com/EvanHong1/evan_coveralls_test/blob/master/app/src/main/java/com/evan/coverallstest/CampaignSettings.java

[2019-01-31 11:32] sqs commented on #652
For simplicity, this query builder would NOT have 2-way binding with the query input field.

[2019-01-31 11:59] felixfbecker commented on #1941
Duplicate of https://github.com/sourcegraph/sourcegraph/issues/1497

[2019-01-31 11:59] #1941 closed

[2019-01-31 12:59] tsenart commented on #1856
A note for later that may help debugging: This doesn't happen when testing on the local development environment started with `./enterprise/dev/start.sh`, but it happens when working with the server:insiders Docker image (even after `cp -R ~/.ssh/ ~/.sourcegraph/config/ssh/` and restarting the Docker image).

[2019-01-31 13:40] bunopus commented on #2011
Hi, @slimsag! Could you please help with code highlighting for Dart language? What should i do to add it?

[2019-01-31 13:50] sqs commented on #2078
What is the full query you are using? It must include type:diff or type:commit.

[2019-01-31 13:59] keegancsmith commented on #2083
This solution failed. It seems wondering if the blessed GKE path is a recipe for disaster. The kubelet fails to start. I am rolling back.

[2019-01-31 14:52] #2049 closed

[2019-01-31 14:55] nicksnyder commented on #1426
My proposal is to add a migration section to the CHANGELOG

[2019-01-31 15:08] slimsag commented on #1426
I think linking to a separate markdown file in our docs from the changelog
would be better, this is too much information to cram into our changelog I
feel

On Thu, Jan 31, 2019, 7:55 AM Nick Snyder <notifications@github.com wrote:

[2019-01-31 15:57] takuyahara commented on #2073
My impatience, looking @lguychard's PR I chose to change my username to all lower case to prevent future issue and it solved. Thanks for your investigation and I hope the merged code helps who uses upper case.

[2019-01-31 15:57] #2073 closed

[2019-01-31 15:57] lguychard commented on #2073
Thanks for reporting @takuyahara ! I've just published a new version of the codecov extension including the fix.

[2019-01-31 16:06] lguychard commented on #2073
@EvanHong1 in your case, on the linked file, the codecov API request returns the following:

`{"meta": {"status": 404}, "error": {"reason": "No reports found for this commit.", "context": null}}`

[2019-01-31 16:06] lguychard commented on #1116
Fixed by https://github.com/codecov/sourcegraph-codecov/pull/20

[2019-01-31 16:06] #1116 closed

[2019-01-31 16:13] keegancsmith commented on #1404
The current status of this is I was blocked by our CI and docker versions. I spent most of the day fixing this (went down the wrong path multiple times). Finally our CI supports multi-stage builds. But this leaves little time for me to do the automatic upgrades + us testing. I am working on it now, but it will be a bit delayed. See https://github.com/sourcegraph/sourcegraph/issues/2083

To mitigat

[2019-01-31 16:14] keegancsmith commented on #2083
We now use docker-in-docker to build images, instead of the node's docker. There is a PR out which adds the resources to our cluster. But it has been deployed so I am regarding this issue as fixed.

[2019-01-31 16:14] #2083 closed

[2019-01-31 17:05] slimsag opened #2089 "file: search operator could be better optimized to reduce gitserver IO load"
Steps to reproduce:

1. Be on a Sourcegraph instance with a large number of repositories.
2. Ensure the Sourcegraph instance has a high `maxReposToSearch` value (i.e. any large Sourcegraph instance).
3. In the search field, type just `file:a`, then quickly in succession hit backspace to erase `a` and type `b`, then `c`, and so on.
4. You will notice the search suggestions rapidly getting slower. P

[2019-01-31 17:13] sqs commented on #2025
GHE does not rate limit by default, but site admins can enable it: https://help.github.com/enterprise/2.16/admin/guides/installation/configuring-rate-limits/.

[2019-01-31 17:14] nicksnyder commented on #1404
Any step that mitigates risk and allows us to release 3.0 on time is worth doing.

How would we communicate this to users? At the least we would document this in the [upgrade docs](https://github.com/sourcegraph/sourcegraph/issues/1426), but what happens if a user doesn't read that?

[2019-01-31 18:07] nicksnyder commented on #2007
This is only if auth is enabled for GitLab, right? Can you explain why this should block cutting a release?

[2019-01-31 18:36] chrismwendt opened #2090 "Hitting escape at the management console log-in prompt breaks the page"
If you hit escape at the username/password prompt of the management console, you'll see this error:

![image](https://user-images.githubusercontent.com/1387653/52075510-51622800-2541-11e9-8e51-7c4efa44c33e.png)

I would expect a message more like "Incorrect username or password.".

If you hit escape again, the prompt disappears and the page doesn't load. You have to refresh to bring the prompt bac

[2019-01-31 18:45] nicksnyder commented on #1431
Can you define what you mean by "bad externalURL"? Does this mean `https://notavaliddomain.com` would be a problem or only if the url is misformatted like `oops://not? actually a&& url`?

It is unclear to me if we should actually delay cutting the release if this is not fixed by tomorrow.

[2019-01-31 20:59] ggilmore opened #2092 "lang-python is constantly restarting"
https://sourcegraph.slack.com/archives/C08JA8Q1H/p1548967508196000

[2019-01-31 21:41] #1228 closed

[2019-01-31 22:15] ggilmore opened #2095 "management-console doesn't pick up settings from dev-private"
- **Sourcegraph version:** https://github.com/sourcegraph/sourcegraph/commit/36dbe5794521f612ea77ffb33b32f0ab53febb69
- **Platform information:**

[code]

#### Steps to reproduce:

1. Clone https://github.com/sourcegraph/sourcegraph/ to `$GOPATH/src/github.com/sourcegraph/sourcegraph`
1. Clone https://github.com/sourcegraph/dev-private/ to `$GOPATH/src/github.com/sourcegraph/dev-private`
1. Visit

[2019-02-01 00:29] tsenart opened #2100 "repo-updater: Integrate OtherReposSyncer with Scheduler.updateSource"
Currently, OTHER synced repos are passed to the scheduler with [UpdateOnce](https://github.com/sourcegraph/sourcegraph/blob/42ea41244572f895abb48cd5011ca1eff3916b07/cmd/repo-updater/main.go#L118) which bypasses the scheduler entirely.

[2019-02-01 00:43] nicksnyder commented on #2025
Given FOSDEM and the fact that both Keegan and Tomás are working on 3.0 release blockers, this tracking issue will not get updated with a plan until next week.

[2019-02-01 00:44] #1982 closed

[2019-02-01 05:32] chrismwendt commented on #1856
I think I found the problem: the frontend neglects to check that the repository is associated with a GitHub external service in addition to checking that the repository hostname is `github.com` before finding for an access token and looking up the repository on GitHub.com via HTTPS.

That means when you have a GitHub external service with an access token and one of your repositories is associated

[2019-02-01 06:40] keegancsmith commented on #1951
Backlogging since it isn't important for 3.0

[2019-02-01 06:56] chrismwendt commented on #1822
How about just changing the button while saving? We could disable it, change the text to "Saving...", and put a loading spinner in or next to it.

I think we can get the loading spinner's CSS into the management console like this:

[code]

[2019-02-01 06:59] slimsag commented on #1822
That sounds good 👍

However, I don't think we should import relative from `../node_modules`, instead we should `yarn add` that dependency inside `cmd/management-console/web`

[2019-02-01 07:09] keegancsmith commented on #2089
This would be an optimization in searcher. Right now when you do the file name only request we still request a full `git archive` in searcher. Instead it is likely worth making searcher smarter and have it issue (and cache) a `git ls-tree` request if the archive is not present.

[2019-02-01 07:13] keegancsmith commented on #2085
pretty cool idea. Only issue is this makes it hard to share search URLs and complicates our dynamic search filters. Could we not instead by default prepend / append keywords?

[2019-02-01 07:14] keegancsmith commented on #2084
This isn't really that much work either. I would note that we have a new search syntax behind a feature flag, so when we work on finally shipping that we musn't forget this feature request.

[2019-02-01 07:14] chrismwendt commented on #1822
:+1: I added it in a WIP PR https://github.com/sourcegraph/sourcegraph/pull/2103 but ran into a problem right away. Let's discuss there.

[2019-02-01 07:16] keegancsmith commented on #2081
Cool, so the plan is to address some search issues / polish, then finish off sub-query search. A comprehensive list of changes will be useful for when planning finishing off sub-query search, in case a change/feature/fix should be "ported" to sub-query search.

[2019-02-01 08:20] slimsag commented on #1432
I think we should defer this until 3.1 to ensure it meets our quality bar, see my comment here https://github.com/sourcegraph/sourcegraph/pull/2097#issuecomment-459642742 cc @nicksnyder

[2019-02-01 08:36] keegancsmith commented on #2089
Oh I assumed we spoke to searcher since it supports just file queries. By cache do you mean pre-emptive or just caching the output of ls-tree.

Not searcher would also cause high io on git server, due to git archive

[2019-02-01 09:04] slimsag commented on #2089
Me and Keegan chatted via Slack, I have some additional investigation to do here since ls-tree output appears to have a cache already.

[2019-02-01 10:20] sqs opened #2116 "Notify users of rename from lang-typescript to typescript extension ID"
To avoid confusion like at https://sourcegraph.slack.com/archives/C07KZF47K/p1549016057572100, we should hardcode migrations or just console.logs for users who have sourcegraph/lang-typescript enabled to tell them to enable sourcegraph/typescript instead. Same for Go/Python.

[2019-02-01 10:23] felixfbecker commented on #2116
Can we do this with a DB migration? Could use Postgres' `json_set()` https://www.postgresql.org/docs/9.5/functions-json.html

[2019-02-01 11:19] sqs commented on #2116
No because settings are JSONC

[2019-02-01 15:40] nicksnyder commented on #1432
@slimsag @attfarhan Given that this is moved to 3.1, can you work out whether you think it makes sense for Farhan to continue working on this or whether @slimsag should own finishing this for 3.1?

[2019-02-01 15:45] vanesa opened #2120 "Hover content rendered backwards"
#### Steps to reproduce:

1. Open http://localhost:3080/github.com/sourcegraph/sourcegraph/-/blob/client/browser/src/libs/gitlab/file_info.ts#L13:5 and hover over `getFilePathsFromCodeView`
2. Open https://sourcegraph.com/github.com/sourcegraph/sourcegraph@master/-/blob/client/browser/src/libs/gitlab/file_info.ts#L13:5 and hover over `getFilePathsFromCodeView`
3. Notice how on the local hover the

[2019-02-01 15:47] nicksnyder commented on #1404
@tsenart There are two paths forward, and you can choose whichever path you think is least risky for us cutting a tested 3.0 release:

Path 1:
- [ ] Finish [automated upgrade process](https://github.com/sourcegraph/sourcegraph/issues/1404#issuecomment-458979577)
- [ ] Write a test plan.
- [ ] Update [migration guide](https://github.com/sourcegraph/sourcegraph/pull/2101/files)

Path 2:
- [ ] Detect

[2019-02-01 19:18] #1431 closed

[2019-02-01 19:33] ryan-blunden opened #2123 "Upgrade to beta.4 from previous version produces double definitions"
## To reproduce:

### Run 3.0 beta

- Clear previous state (`~/.sourcegraph`)
- Run container using `sourcegraph/server:3.0.0-beta`
- Create external GitHub service
- Add `github.com/sourcegraph-demo/buildkit` repository
- Enable basic code intel
- Go to `/github.com/sourcegraph-demo/buildkit/-/blob/cache/blobs/blobs.go#L52:22`
- Observe definition with a single result.
- Terminate docker containe

[2019-02-01 19:59] chrismwendt commented on #2123
This can be solved in the same way as https://github.com/sourcegraph/sourcegraph/issues/2116 (hard-code migration to disable basic-code-intel), closing in favor of that one.

[2019-02-01 19:59] chrismwendt commented on #2116
Same for basic-code-intel (from https://github.com/sourcegraph/sourcegraph/issues/2123).

Where might this hard-coded migration live? In Go code in some init or main func?

[2019-02-01 20:34] sqs commented on #2120
I think this is due to one being from basic-code-intel and the other from the sourcegraph/typescript extension. They should be consistent, and I think it makes most sense for the signature to be above the docstring.

[2019-02-01 21:01] sqs opened #2125 "Auto-escape/fixup queries that resemble common literal queries but are invalid regexps"
As a user, if I perform certain common kinds of search queries (listed below), Sourcegraph tries parsing the queries as regexps, which fails. My intent is clear, and Sourcegraph should handle these cases better, as described  below.

- `myfuncname(` to `myfuncname\(`
- `myarray[` to `myarray\[`

Note that these fixups ONLY occur in unambiguous cases, where the query would fail to be parsed as a re

[2019-02-01 21:01] sqs commented on #633
Deferring this because #2125 will solve 80% of the problem with 20% of the effort.

[2019-02-01 21:06] sqs commented on #875
Justification for what @nicksnyder says:

- It is the simplest.
- It is familiar (it's how most other search tools work).
- With search result providers coming soon that provide all kinds of different content, it no longer makes sense to guarantee that all search results have a 100% clickable area.

I do worry that it makes the click target much smaller, though, so I would want to test the UX firs

[2019-02-01 21:09] sqs commented on #2085
Deferring because I think we can enable smartcase by default without implementing this issue and the other use cases are not as important, plus I am worried about it meaning that search queries mean different things for different users (unexpectedly).

[2019-02-01 21:13] sqs opened #2126 "Add a dismissible alert with basic search help"
The dismissible alert would be to help new users perform their first few searches. It would show up on the `/search` page and contain something like (very rough, will update with better text):

[2019-02-01 21:17] sqs opened #2127 "Search suggestion loading indicator obscures search query"
This loader (for search suggestions) appears on top of the search query. This is annoying because it shows up at the end of what you're typing, which is often where your cursor is, so you can't see the letter you just typed appear.

The simplest (and acceptable) fix is just to remove the search suggestions loading spinner entirely.

![image](https://user-images.githubusercontent.com/1976/52150035-

[2019-02-01 21:23] sqs opened #2128 "Suggest lang: not file:\.ext$ dynamic search filters"
Sourcegraph has supported `lang:` search filters for a while, but our dynamic search filters still suggest things like `file:\.ts$`. In most cases it should instead suggest `lang:`. This promotes learnability.

[2019-02-01 22:00] slimsag opened #2130 "env.Version now incorrect, version.Version() is, we should switch all former usages to the latter"
Keegan recently switched us from godockerize to `Dockerfile`s. Previously, we passed the `--env VERSION=$VERSION` flag into godockerize which would set the environment variable _in the container_, however after the change this was not carried over (a regression). The exact change is:

https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/commit/3c0dd652ccd75e750b26440f5d1d1b0cceed4c09#diff-

[2019-02-01 22:00] chrismwendt commented on #2123
Reopening because there are other solutions to this problem of double tooltips/defs/refs that are not solutions to #2116:

- Release a new version of `sourcegraph/basic-code-intel` that deactivates itself when there's already a language extension enabled
- Delete `sourcegraph/basic-code-intel` (this will cause a console warning that says the extension was not found)

[2019-02-01 22:09] nicksnyder commented on #1624
Is the file size limit applied at index time or search time? If it is the former then it will be harder to override on a per-search basis and we might have to consider other solutions:
- Have a message that says files were skipped due to size
- Always index certain files that are large (e.g. yarn.lock, package.lock)
- Fallback to non-indexed search only for files that are too big and only if we ha

[2019-02-01 22:12] slimsag commented on #1432
I think it makes sense for Farhan to continue owning the frontend portion, and for me to own the backend portion. We'll work together to land it.

[2019-02-01 22:16] nicksnyder commented on #875
We decided to backlog this since the solution isn't clear.

[2019-02-01 22:21] ijsnow commented on #1234
We'll use the query builder (https://github.com/sourcegraph/sourcegraph/issues/652) in our solution for this. The benefit is users becoming educated on how to use our search syntax and not receive confusing error messages. We could either:

1. block search when a repo filter isn't specified on sourcegraph.com and open up the query builder.
2. remove the "Did you mean...?" search suggestions from t

[2019-02-01 23:14] tsenart commented on #1404
There were a few things we couldn't finish in time for 3.0. Additionally, we figured out that upgrading to 11.1 was a blocker for certain customers, and hence, learned last minute that we'd need to upgrade to 10.6 instead.

Here's a TODO list for us to refer to afterwards.

1. Write documentation on how to upgrade for customers that run external Postgres databases.
1. Write [documentation](https:/

[2019-02-01 23:31] chrismwendt commented on #1822
This won't get resolved in 3.0, moved to backlog.

[2019-02-01 23:32] chrismwendt commented on #2123
I plan to update the basic-code-intel extension to be a no-op when you have a language extension running.

[2019-02-01 23:40] #1856 closed

[2019-02-01 23:50] nicksnyder commented on #1898
I don't know if this is still happening, so I am going to close.

[2019-02-02 00:17] nicksnyder opened #2133 "Test 3.0.0 image tag on kubernetes cluster"
- [ ] Update image tags to v3.0.0 in deploy-sourcegraph
- [ ] Test on k8s cluster.
- [ ] Tag v3.0.0 in deploy-sourcegraph

[2019-02-02 00:19] chrismwendt commented on #2123
I updated basic-code-intel in https://github.com/sourcegraph/sourcegraph-basic-code-intel/commit/59328060970efe4e4e25065c88618f8fd1660986?w=1 so that it turns itself into a no-op when the user already has a `sourcegraph/$LANG` extension enabled.

You should no longer see double hovers. @ryan-blunden Can you check and close if this is fixed?

[2019-02-02 02:18] slimsag commented on #2089
Update: I've done some further investigation into the cause of this issue. There are in fact four distinct problematic places in our code which all together contribute significantly to the slowness. Primarily this leads to:

1. gitserver: A high number of `git` commands being executed, which sometimes affects CPU load.
2. gitserver: The `git` commands being executed consume more disk IO than is op

[2019-02-02 05:45] chrismwendt commented on #2123
@ryan-blunden confirmed that this is fixed.

[2019-02-02 05:45] #2123 closed

[2019-02-02 05:57] chrismwendt commented on #2116
None of the `sourcegraph/lang-$LANG` extensions exist anymore. I don't recall, but I probably deleted them a couple weeks ago. Should I republish them and add a console message, or not even bother?

[2019-02-02 06:09] sqs commented on #2116
Add a hard coded check for them in the main web code and print a helpful error message pointing people to the new name. That’s the simplest. Don’t republish because that would be confusing.

[2019-02-02 09:41] sqs commented on #1538
@ggilmore @slimsag Is this still relevant?

[2019-02-03 04:13] sqs commented on #2081
Yeah, except sub-query search (and invoking search extensions) definitely won't be worked on directly in this release cycle. (In case anyone reads your sentence above and thinks otherwise.)

[2019-02-03 11:45] sqs opened #2136 "Basic code intel is showing known-wrong hovers"
These hovers are clearly incorrect in a way that (I think) basic-code-intel should be able to determine. Did the hover logic recently get less strict?

![image](https://user-images.githubusercontent.com/1976/52176325-76f56880-27b1-11e9-9fbd-53d8ec15e871.png)
![image](https://user-images.githubusercontent.com/1976/52176331-81affd80-27b1-11e9-855e-e3e9056818cd.png)

[2019-02-03 11:50] sqs opened #2137 "Cross-repo references are not showing up from TypeScript basic code intel"
At https://sourcegraph.sgdev.org/github.com/sourcegraph/sourcegraph/-/blob/cmd/management-console/web/src/MonacoEditor.tsx#L90:21&tab=references I am not seeing any cross-repo references to this token:

![image](https://user-images.githubusercontent.com/1976/52176371-174b8d00-27b2-11e9-8ad9-78c829714809.png)

I expect to see references from ReactiveX/rxjs to this token because they show up in sear

[2019-02-04 04:46] slimsag commented on #1538
@sqs I am the correct owner here and will follow up when appropriate, refer to the comment in the issue description for more info.

[2019-02-04 07:11] chrismwendt commented on #2136
Yes, I [added some definition patterns on Thursday](https://github.com/sourcegraph/sourcegraph-typescript/commit/061810357678844213f865fe1e93d5e54fdf55ff) and forgot to use `\b`. I fixed the tooltip in first screenshot just now in https://github.com/sourcegraph/sourcegraph-typescript/commit/778f11f2194305f1d8ce5cb3c845162ba97347e8

The definition in the second tooltip is actually [coming from ctag

[2019-02-04 07:17] FrankEppinkMsgGillardon opened #2140 "Automation of sourcegraph configuration"
#### Question description

I am looking for ways on how to automate the configuration of sourcegraph when running as a single Docker Instance. With configuration I mean
- increasing number of repos to search
- adding an external service and enabling all repositories
- adding GitLab as OAuth provider
Of course that's all fine done manually via web ui, i.e. site-configuration or via the management c

[2019-02-04 07:48] slimsag commented on #2140
Understood.

One idea would be to create a Sourcegraph instance on your chosen version (e.g. `3.0.0`) and configure it as you wish, then create a PostgreSQL database backup. Since configuration is stored entirely in the database since version 3.0.0 (including user accounts, etc), you could then just run the relevant psql command to restore the DB and your instance would be configured as you wish.

[2019-02-04 07:55] chrismwendt commented on #2137
I accidentally broke this during refactoring a few days ago 😞

Fixed in https://github.com/sourcegraph/sourcegraph-typescript/commit/a3cd559a75155b0128c8d06458a07eac728841e3 and https://github.com/sourcegraph/sourcegraph-basic-code-intel/commit/a236e8083a03b8a02f5573477710684f875570b6

[2019-02-04 07:55] #2137 closed

[2019-02-04 10:32] sqs commented on #2065
Also requested by Twitter user `Linda_pp` at https://twitter.com/Linda_pp/status/1092369981684105216:

[2019-02-04 11:04] #789 closed

[2019-02-04 11:10] sqs opened #2141 "Update G Suite browser ext install steps"
https://docs.sourcegraph.com/integration/google_gsuite#automatically-install-with-g-suite says to use configuration including `serverUrls`. This is incorrect now that the extension supports only a single server URL.

[2019-02-04 11:49] #1988 closed

[2019-02-04 11:51] sqs commented on #1944
This exists. If you set the auth provider's displayName property (https://docs.sourcegraph.com/admin/site_config/all#displayname), it will be shown.

![image](https://user-images.githubusercontent.com/1976/52206708-5e518500-287b-11e9-98b1-aa9e39776ec6.png)

However, it would be nicer to be slightly smarter about auto-generating these names in common cases. Low priority because use of 2+ auth provi

[2019-02-04 11:53] sqs commented on #1896
Adding to 3.1 because this sounds like it'll be addressed by https://github.com/sourcegraph/sourcegraph/issues/517. @slimsag 	If not, please move to backlog (or handle separately).

[2019-02-04 11:59] sqs commented on #1895
Adding to 3.1 because this sounds like it'll be addressed by https://github.com/sourcegraph/sourcegraph/issues/517. @slimsag 	If not, please move to backlog (or handle separately).

[2019-02-04 12:06] sqs commented on #1488
Please reopen if this is still important and cite why. Overall, what we have now works and is the recommended way to do it (although it might be a bit slower in webpack initialization).

[2019-02-04 12:06] #1488 closed

[2019-02-04 12:10] sqs commented on #1394
Yes, the long URLs were not wrapping. I abbreviated the SHAs. Will close this when I confirm the description has been updated.

[2019-02-04 12:11] #1394 closed

[2019-02-04 12:11] #1533 closed

[2019-02-04 12:14] sqs commented on #1625
The Sourcegraph link (equivalent) is https://sourcegraph.com/github.com/torvalds/linux@8834f5600cf3c8db365e18a3d5cac2c2780c81e5/-/blob/arch/x86/boot/cpucheck.c#L122:2.

I believe this is because ctags on the linux repo is very slow due to its size.

[2019-02-04 12:15] sqs commented on #1778
This is still a problem.

[2019-02-04 12:30] beyang opened #2143 "Issue using SAML auth provider with Jumpcloud"
From a user:

[code]

Secondary issue: see if we can add out-of-the-box Sourcegraph configurations to Jumpcloud, Okta, and other ID providers.

[2019-02-04 12:56] tsenart commented on #1878
I think the proper solution here would be to integrate with external secret managers like Vault. cc @beyang

[2019-02-04 14:22] FrankEppinkMsgGillardon commented on #2140
Usage of the PostgreSQL database is also an idea.
Following your hint of checking the generated GraphQL mutation queries I however managed to get the configuration scripted, therefore closing this issue.

Thanks for your support
Frank

[2019-02-04 14:22] #2140 closed

[2019-02-04 15:31] beyang commented on #1878
Might be worth sending out a customer survey to understand how people do secret management inside their companies. We should integrate with whatever existing secret management a customer is already using for other internal apps/tools.

[2019-02-04 15:35] beyang commented on #975
Can one of you add me to the Zeplin?
![image](https://user-images.githubusercontent.com/1646931/52218427-87c9db00-2892-11e9-91b2-c9282e875f14.png)

[2019-02-04 15:38] #1426 closed

[2019-02-04 16:09] #2136 closed

[2019-02-04 17:08] tsenart commented on #1878
I agree, but Vault is by far the most flexible as it can integrate in many different environments with its pluggable architecture.

Sent via Superhuman iOS ( https://sprh.mn/?vip=tomas@sourcegraph.com )

On Mon, Feb 4 2019 at 4:31 PM, < notifications@github.com > wrote:

[2019-02-04 19:44] felixfbecker opened #2144 "Feature: Syntax highlight code in markdown files"
https://sourcegraph.com/github.com/GoogleChromeLabs/comlink/-/blob/README.md

![image](https://user-images.githubusercontent.com/10532611/52232687-6df1bd80-28bd-11e9-9a2a-35d4d626501f.png)

![image](https://user-images.githubusercontent.com/10532611/52232701-75b16200-28bd-11e9-8c02-f623bf98ebb1.png)

[code]

[code]

/cc @felixfbecker

[2019-02-04 21:03] lguychard commented on #1113
Reassigning to myself because I have an open PR for this: https://github.com/sourcegraph/sourcegraph-git-extras/pull/14

[2019-02-04 22:11] slimsag commented on #2144
This isn't actually a bug, this is something we've never supported in rendered markdown. I definitely would like to see this too, though!

[2019-02-04 22:30] francisschmaltz commented on #975
@beyang CC: @ all sourcegraph I've added everyone.

[2019-02-04 23:41] varaamo commented on #1537
Do you know what version is this fixed in? I'm running 3.0 and seeing a slightly different kind of  issue. When using a PAT (Personal access token) associated with my gitlab account, i can see all the repos to which I have been granted permissions in SourceGraph

But when I add the Gitlab external service to use the Sourcegraph “bot” user, which is just a normal user account with no explicit acces

[2019-02-05 07:20] FrankEppinkMsgGillardon opened #2156 "API for management console update usable?"
#### Question description
I successfully used GraphQL API via curl statements to update the Sourcegraph configuration.
Now I tried the same with the criticial configuration which is maintained in the Management console, but failed.
Can you
A) confirm that this is not possible or
B) alternatively provide documentation on how to update the management console via an API, i.e. via e.g. curl statements

[2019-02-05 07:28] keegancsmith opened #2157 "Kubernetes slack bot in crash loop"
[code]

[2019-02-05 07:41] keegancsmith commented on #1624
For indexed search it is at index time. For JIT search, we exclude large files as we stream in the `git archive`.

[2019-02-05 07:50] keegancsmith commented on #2089
Should we not just get rid of this code, and rely on searcher which is much smarter about all of this? The only downside is to answer a `file:` request it dumps a full repo. However, once it has done that it should be fast. TBH I'm surprised this specialized file listing search exists.

[2019-02-05 08:13] slimsag commented on #2089
@keegancsmith Can you elaborate a bit more on how we would rely on searcher for this? Do you mean to re-implement `file:` searches inside of searcher? Or do you have something else in mind?

[2019-02-05 09:07] keegancsmith commented on #2089
Searcher already supports `file:` only searches.

[2019-02-05 09:13] keegancsmith commented on #1878
docker and kubernetes have an existing secrets management solution. Vault is great, but I would try use a more generic abstraction (such as what k8s provides). I suppose moving from just reading secrets to writing them is quite a jump and has a lot of ground for us to cover to be generic. FYI I think vault is great, but targeting it would limit us since I would suspect most of our customers do not

[2019-02-05 10:05] FrankEppinkMsgGillardon commented on #2156
Thanks for the information, it is working fine, closing this issue
Frank

[2019-02-05 10:05] #2156 closed

[2019-02-05 11:20] chrismwendt opened #2159 "The Find references button shows up on whitespace"
- Enable sourcegraph/go
- Visit https://sourcegraph.com/github.com/gorilla/mux/-/blob/mux.go
- Hover over whitespace
- Notice "Find references" pops up

![2019-02-05 03 09 41](https://user-images.githubusercontent.com/1387653/52269700-a4e2c600-28f3-11e9-904b-40368989a548.gif)

Potential solutions:

- Special-case whitespace as a no-op in the extension host
- Add an optional callback argument `shou

[2019-02-05 11:37] chrismwendt opened #2161 "Basic code intel doesn't recognize some C comments"
- Enable sourcegraph/cpp
- Visit https://sourcegraph.com/github.com/antirez/redis/-/blob/src/adlist.c#L41:7
- Notice the hover shows the comment starting with `AlFreeList...`, but in the source it starts with `Create...`

![image](https://user-images.githubusercontent.com/1387653/52270693-9649de00-28f6-11e9-913c-362c67faf297.png)

I suspect the regex at https://sourcegraph.com/github.com/sourcegra

[2019-02-05 12:50] c-edw opened #2162 "'View Repository' button with Chrome(ium) extension disappearing."
- **Sourcegraph version:** N/A (Extension 19.1.29.2106)
- **Platform information:** Chromium 71.0.3578.98

#### Steps to reproduce:

1. Install the Sourcegraph extension
2. Navigate around various pages on GitHub
3. Observe that the `View Repository` button usually next to `Watch` is missing
![130535-2019-02-05](https://user-images.githubusercontent.com/38229097/52275208-c28d4b00-2946-11e9-9ac4-8e

[2019-02-05 15:15] varaamo opened #2164 "Gitlab repos not appearing in source graph for a "bot" user with no explicit access to any GitLab repositories,"
I'm running 3.0 and seeing this issue. After adding Gitlab as external service using a PAT( personal access token) associated with my gitlab account, i can see all the repos to which I have been granted permissions in SourceGraph

But when I add the Gitlab external service to use the Sourcegraph “bot” user, which is just a normal user account with no explicit access to any GitLab repositories, Sou

[2019-02-05 15:35] varaamo commented on #2164
You are 100% right :-). Setting the projectQuery array with membership=false did the trick.

Thank you again.

[2019-02-05 15:35] #2164 closed

[2019-02-05 15:50] tsenart commented on #1878
I am all for what integrates better in our customer's environments. It seems that we have a different understanding of how Vault can or can not do that smoothly. Could you elaborate on which limitations you foresee with it? I specifically was thinking of Vault *because* I think it'd offer us the most flexibility to integrate into heterogenous environments.

- https://www.vaultproject.io/docs/secre

[2019-02-05 16:38] ggilmore commented on #1538
All the [references to site-configuation.ConfigMap.yaml](https://sourcegraph.com/search?q=repo:%5Egithub%5C.com/sourcegraph/deploy-sourcegraph%24+%22config-file.ConfigMap.yaml%22) and [configuration](https://sourcegraph.com/search?q=repo:%5Egithub%5C.com/sourcegraph/deploy-sourcegraph%24+%22site+configuration%22) in https://github.com/sourcegraph/deploy-sourcegraph/blob/master/docs/configure.md al

[2019-02-05 16:45] nicksnyder commented on #1538
To be clear, the original issue description was written before we renamed the releases, so I think no action is needed here until after 3.1

[2019-02-05 17:11] KattMingMing opened #2165 "Unclear and hard to discover indexed search documentation"
Our documentation about indexed search isn't easily found and doesn't clearly communicate to our users what branches are indexed and why they are indexed.

Current documentation to indexed search:
- https://docs.sourcegraph.com/user/search
    - Only discoverable from blog posts and footer and searching for "index search.
- https://docs.sourcegraph.com/admin/search
    - Only discoverable by searc

[2019-02-05 17:47] ggilmore opened #2166 "fix postgres deployment in dogfood"
See https://github.com/sourcegraph/infrastructure/pull/1139

sourcegraph.sgdev.org can't be updated past https://github.com/sourcegraph/sourcegraph/commit/e19f9d1b8ef6103d1bd6d5d4192a6975aecdd2f1 until this issue is fixed.

[2019-02-05 18:31] slimsag commented on #1538
@ggilmore That is a separate issue, https://github.com/sourcegraph/sourcegraph/issues/1428, which I will solve this week.
@nicksnyder Correct.

[2019-02-05 19:06] sqs commented on #2067
My WIP approach is to make this page a big practical JSON document that shows you the JSON you'd actually use, instead of a document that describes the types and schema. For example (rough):

![image](https://user-images.githubusercontent.com/1976/52297623-0deb2d80-2936-11e9-8b73-6dbba2e53eac.png)

[2019-02-05 19:06] sqs commented on #1745
closing in favor of #2067

[2019-02-05 19:06] #1745 closed

[2019-02-05 20:21] ryan-blunden opened #2169 "Commit view displaying "Unexpected HTTP error: 500""
![screen shot 2019-02-05 at 12 20 14 pm](https://user-images.githubusercontent.com/133014/52301884-6b847780-2940-11e9-9667-373f3c14fb61.png)

- **Sourcegraph version:** Sourcegraph.com
- **Platform information:** Chrome 72.0

#### Steps to reproduce:

Go to https://sourcegraph.com/github.com/cruise-automation/webviz/-/commit/ab168d049b975098a550c312bd2494f6b90ad51c

If not a bug, then handling the

[2019-02-05 21:18] ryan-blunden commented on #2162
Hi @c-edw, thanks for reporting this.

When you're navigating around GitHub and the `View Repository` button was not visible, did you observe that the `View File` button was not visible also?

If you could supply the URL for the page where you observed this, that would be a big help too.

[2019-02-05 21:42] #72 closed

[2019-02-05 22:19] chrismwendt commented on #2116
How does this look? Too distracting?

![image](https://user-images.githubusercontent.com/1387653/52307975-f66d6e00-2950-11e9-9b42-ac303d3df73e.png)

[2019-02-05 22:21] ggilmore commented on #2133
I tested a fresh 3.0.0 cluster and the 2.12.x -> 3.0.0 upgrade and it seems to work. I will wait until 3.0.1 is released to test:

- fresh 3.0.1
- 2.12.x -> 3.0.1
- 3.0.0-beta.3 -> 3.0.1

[2019-02-05 22:41] #2116 closed

[2019-02-06 01:18] chrismwendt commented on #1271
I added some regex heuristics to detect code in comments. It's stricter than it was before.

https://github.com/sourcegraph/sourcegraph-basic-code-intel/blob/8d5ed5d56823fec7724185e9215adaddcdabe776/package/src/handler.ts#L144-L147

[code]

The fact that the "Find references" button shows up regardless of the underlying token is a limitation that extensions can't get around right now, and I filed

[2019-02-06 01:18] #1271 closed

[2019-02-06 02:43] dadlerj commented on #1271
Thanks! Your solution here seems like a good one, and I don't think we should stress this too much. Let's consider this a test — if we see anyone annoyed by the heuristics you put in place (e.g. if they cause any obscure languages to break?) then it's fine to remove them.

Someday we can maybe build these regexes into each lang extension as args to basic code intel? (I'm picturing Rijnard's search

[2019-02-06 08:05] keegancsmith commented on #2125
Off by default at the moment.

query parsing package. In particular `github.com/sourcegraph/sourcegraph/cmd/frontend/internal/pkg/search/query`. That package has the knowledge of each field and if it represents a regexp. Technically I suppose it is the subpackage `types` that has that knowledge. So the fix here would be some sort of transformation it does in conjunction with the types pkg.

Ideall

[2019-02-06 08:24] sqs commented on #2165
Reassigning to a member of the search team (@attfarhan) because this involves purely technical documentation. Also assigning to me for the product marketing parts (I plan to revise the search help page; right now https://docs.sourcegraph.com/user/search is a weird mix of marketing and technical).

[2019-02-06 08:26] sqs opened #2176 "Enable indexed search by default on sourcegraph/server"
Indexed search is currently not enabled by default for sourcegraph/server because it has unbounded resource requirements that @keegancsmith 	(rightly) deemed likely to overwhelm single-node instances. It is enabled by default on local dev and on cluster deployments. See https://sourcegraph.slack.com/archives/C07KZF47K/p1549416905712500?thread_ts=1549416905.712500 for context.

It would be good to

[2019-02-06 09:49] felixfbecker commented on #2116
Also, can't we update the settings programmatically? Why force the user to do this manually?

[2019-02-06 15:07] tsenart opened #2179 "Test plan for automatic Postgres upgrades in the server image"
We'd like to test both the documentation and the automated upgrades.

Go to  https://github.com/sourcegraph/sourcegraph/blob/master/doc/admin/migration/3_0.md#bundled-postgres-upgrade and test automated and manual upgrades to `3.0.1-rc.3` coming from `2.13.6`, `3.0.0` and  ~`3.0.0-beta5`~ `3.0.0-beta.4`.

You can create a fresh install of each of these versions by running the correspondent Docker

[2019-02-06 15:58] tsenart commented on #2166
This is done.

[2019-02-06 16:09] FrankEppinkMsgGillardon opened #2180 "Sourcegraph behind nginx as reverse proxy - redirect problem"
#### Question description
I am struggling to get Sourcegraph work behind an nginx-reverse-proxy.
I setup nginx to proxy-pass to Sourcegraph which seems to work fine at first, i.e. the request is forwarded correctly to Sourcegraph running on http://<ip-address>:<port>/:
[code]
The problem is the redirect location returned by Sourcegraph:
[code]
which of course is wrong and leads to a 404.
In my opi

[2019-02-06 16:26] sqs commented on #1960
@ryan-blunden Ideas on a gif/image to attach to the tweet?

[2019-02-06 16:53] ggilmore commented on #2179
I assume this includes checking for the k8s case as well?

[2019-02-06 17:01] nicksnyder commented on #2179
@ggilmore yes, can you please test k8s? You can tag `v3.0.1-rc.1` to make it easy to update the image tags.

[2019-02-06 17:07] ggilmore commented on #2179
@tsenart Are there manual upgrade steps for deploy-sourcegraph?

[2019-02-06 17:09] nicksnyder commented on #2179
@ggilmore Don't ask @tsenart, just read the documentation like a user and do what a user would do. If you end up doing the wrong thing and it doesn't work, then that is a bug in the documentation!

[2019-02-06 17:10] ggilmore commented on #2179
There is no section on the page for deploy-sourcegraph manual upgrades, which is why I asked.

[2019-02-06 17:15] nicksnyder commented on #2179
Then as a user I would conclude that no special steps are necessary for postgres upgrade. Test that!

[2019-02-06 17:17] nicksnyder commented on #2179
Food for thought:
Should we keep migration information separated by deployment type (sourcegraph/sourcegraph, sourcegraph/deploy-sourcegraph) or should we consolidate upgrade information in a single place in sourcegraph/sourcegraph

[2019-02-06 17:19] nicksnyder commented on #627
Most recent instance of this alert https://sourcegraph.slack.com/archives/C08JA8Q1H/p1549471151205000

The biggest space consumers were sourcegraph-frontend and lang-go.

[code]

[2019-02-06 17:19] dadlerj opened #2181 "No differentiation in search results between repo mirrored on two code hosts"
- **Sourcegraph version:** Sourcegraph.com

Not a big deal, but something that has annoyed me recently on sourcegraph.com

#### Steps to reproduce:

Sourcegraph/sourcegraph is mirrored on GitLab (http://gitlab.com/sourcegraph/sourcegraph). If I search for `r:sourcegraph/sourcegraph` (e.g., https://sourcegraph.com/search?q=r:sourcegraph/sourcegraph+usage_stats.go) I get results from two different r

[2019-02-06 17:22] ggilmore commented on #2179
- ~[ ] Test manual upgrade from `2.13.6` to `3.0.1-rc.1` on K8s.~ N/A
- ~[ ] Test manual upgrade from `3.0.0-beta.5` to `3.0.1-rc.1` on K8s.~ N/A
- ~[ ] Test manual upgrade from `3.0.0` to `3.0.1-rc.1` on K8s.~ N/A
- [ ] Test automatic upgrade from `2.13.6` to `3.0.1-rc.1` on K8s.
- [ ] Test automatic upgrade from `3.0.0-beta.5` to `3.0.1-rc.1` on K8s.
- [ ] Test automatic upgrade from `3.0.0` to

[2019-02-06 17:40] sqs commented on #2180
In general, Sourcegraph is not (yet) intended to run at a subdirectory. It expects to run at the root path of a host. Can you set it up to run at the root path?

If not, can you help us understand why you want to run it under a subdirectory?

It's theoretically possible for Sourcegraph to support this, but we are reluctant because it is a rare use case and also involves security issues with cookie

[2019-02-06 17:57] sqs opened #2182 "Remove corsOrigin (because it is likely not necessary anymore)"
@ijsnow 	thinks corsOrigin is no longer necessary (see https://github.com/sourcegraph/sourcegraph/pull/1954#issuecomment-455713204). Removing corsOrigin (and the need for site admins to configure it) would nicely simplify the site admin setup process. It would also be a great removal of code and tech debt.

To be specific, corsOrigin is the ONLY remaining thing in site config that site admins woul

[2019-02-06 18:02] #728 closed

[2019-02-06 18:11] ijsnow commented on #2182
It is indeed not required for browser extension use anymore, but we should confirm it is not required for the in page Phabricator script.

[2019-02-06 19:13] chrismwendt commented on #1321
Fixing in https://github.com/sourcegraph/codeintellify/pull/92

[2019-02-06 21:57] nicksnyder commented on #2179
- [ ] Test manual upgrade from `2.13.6` to latest insiders.
- [ ] Test manual upgrade from `3.0.0-beta.5` to latest insiders.
- [ ] Test manual upgrade from `3.0.0` to latest insiders.
- [ ] Test automatic upgrade from `2.13.6` to latest insiders.
- [ ] Test automatic upgrade from `3.0.0-beta.5` to latest insiders.
- [ ] Test automatic upgrade from `3.0.0` to latest insiders.

[2019-02-06 22:13] #2006 closed

[2019-02-06 22:55] beyang opened #2188 "Add back 3.0-preview GitLab authz provider"
This was removed in e9cd0086517d6fd2d069cf6239fdbebd37e21531 in favor of a pure-OAuth-based implementation, but it turns out the old version is needed to satisfy a customer's requirements. Add back the old impl, alongside the OAuth-based impl. The `authorization` field config object should specify which type ("oauth" or "auth-provider").

[2019-02-06 22:55] ggilmore commented on #2166
Closed in https://github.com/sourcegraph/infrastructure/commit/51d3982f1bf7143d8480efb6e65f4860a22ca3cc

[2019-02-06 22:55] #2166 closed

[2019-02-06 23:20] chrismwendt commented on #2029
Fixed by splitting the single `sourcegraph/basic-code-intel` extension into an extension per language.

[2019-02-06 23:20] #2029 closed

[2019-02-06 23:33] ryan-blunden commented on #2179
- [ ] Test manual upgrade from `2.13.6` to latest insiders.
- [ ] Test manual upgrade from `3.0.0-beta.5` to latest insiders.
- [ ] Test manual upgrade from `3.0.0` to latest insiders.
- [ ] Test automatic upgrade from `2.13.6` to latest insiders.
- [ ] Test automatic upgrade from `3.0.0-beta.5` to latest insiders.
- [ ] Test automatic upgrade from `3.0.0` to latest insiders.

[2019-02-06 23:36] #2181 closed

[2019-02-06 23:37] tsenart commented on #2179
I just realized that since 3.0.0-beta.5 already runs Postgres 11.1, we don’t need to test the manual upgrade, only the automated one (which should be a no-op)

[2019-02-07 00:24] nicksnyder commented on #2179
@ryan-blunden The problem is that you didn't add `-v /var/run/docker.sock:/var/run/docker.sock:ro` as documented here:
https://docs.sourcegraph.com/admin/postgres#automatic-upgrades

@tsenart I am not surprised that Ryan missed this documentation just from reading https://github.com/sourcegraph/sourcegraph/blob/master/doc/admin/migration/3_0.md#bundled-postgres-upgrade. It isn't clear that it is r

[2019-02-07 00:41] ryan-blunden commented on #2179
Could the script/code check if the docker socket exists and if not, print an informative message with a link to the docs and exit nicely?

I didn't see the link because of the noise from the Docker error.

[2019-02-07 00:58] chrismwendt commented on #2141
Fixed in 515f7d61ac2ac45ccd3666e7319abac1625dc961 (I committed that before I saw https://github.com/sourcegraph/sourcegraph/pull/2142, which also updates the docs).

[2019-02-07 00:58] #2141 closed

[2019-02-07 00:59] ryan-blunden commented on #2179
Tried mounting the Docker socket (code from https://docs.sourcegraph.com/admin/postgres#automatic-upgrades) but that didn't succeed either. I've updated my comment with more info and a link to a pastebin to see the output.

I think it would be better if the script captured the stdout/stderr from the postgres upgrade process as it looks kinda scary seeing that amount of output.

Also, another thing

[2019-02-07 01:41] KattMingMing opened #2191 "Add admin option to prevent users from modifying usernames"
#### Feature request description

When using an SSO provider, site-admins would like the option to prevent users from changing their usernames.

[2019-02-07 01:45] ggilmore opened #2192 "[deploy-sourcegrah] psgql pod never becomes ready"
- **Sourcegraph version:**
- **Platform information:**

#### Steps to reproduce:

1. Deploy [3.0.1-rc.1](https://github.com/sourcegraph/deploy-sourcegraph/commit/073d2117bee03f39765249186dabbb42eb4bff10) to a cluster

#### Expected behavior:

The cluster is healthy.

#### Actual behavior:

The pgsql pod never becomes ready. `kubectl describe pod pgsql` says that it's failing the readiness check:

[2019-02-07 02:13] ggilmore commented on #2179
I ran into https://github.com/sourcegraph/sourcegraph/issues/2192. I didn't realize until just now that this issue happens on a cluster, not just the upgrade process.

[2019-02-07 02:42] #2089 closed

[2019-02-07 04:46] chrismwendt commented on #2161
Fixed in https://github.com/sourcegraph/sourcegraph-basic-code-intel/commit/10c0fbcd88ddf3547b7573d8fb9ed1c6020e6d07

[2019-02-07 04:46] #2161 closed

[2019-02-07 09:04] ryan-blunden commented on #1960
A 30 second video showing code intelligence in Go, Java, Python and
TypeScript on GitHub?

Bringing code intel to many more languages is my favorite 3.0 feature.

On Wed, 6 Feb 2019, 8:26 am Quinn Slack <notifications@github.com wrote:

[2019-02-07 09:04] felixfbecker commented on #2162
I have this issue all the time too

[2019-02-07 12:39] tsenart commented on #2179
@nicksnyder: This is the approach taken in this document. I feel it's easier to manage if it's all in one place.

[2019-02-07 12:40] tsenart commented on #2179
@sourcegraph/team: I had mistakenly asked you to test `3.0.0-beta.5`. That tag doesn't exist. Please use `3.0.0-beta.4`.

[2019-02-07 13:36] tsenart commented on #2192
@ggilmore: Seems to me that the default for new clusters is to not set a Postgres password for the created user at all. Is this intended?

[2019-02-07 13:44] tsenart commented on #2179
@ryan-blunden: I made the CTA [slightly more prominent](https://github.com/sourcegraph/sourcegraph/pull/2195/files#diff-db45bfa8d797d0c1697d11ff1a61bf50).

[2019-02-07 16:02] #2192 closed

[2019-02-07 16:44] ggilmore opened #2197 "[deploy-sourcegraph] add documentation to add password for postgres user"
Following up on https://github.com/sourcegraph/sourcegraph/issues/2192#issuecomment-461421175

https://github.com/sourcegraph/deploy-sourcegraph/blob/master/docs/configure.md should have instructions about setting up a password for the 'sg' Postgres user. You'll probably need to:

1. modify https://github.com/sourcegraph/deploy-sourcegraph/blob/master/base/pgsql/pgsql.Deployment.yaml
1. modify htt

[2019-02-07 16:44] ggilmore commented on #2192
@tsenart https://github.com/sourcegraph/sourcegraph/issues/2197

[2019-02-07 16:50] tsenart commented on #2197
@ggilmore: Could you help with this? I'm going to be offline soon today.

[2019-02-07 16:57] ggilmore commented on #2197
I am working on other issues (see https://sourcegraph.slack.com/archives/C89KCDK5J/p1549558490067500), and I don't have enough bandwidth to get to this today. I don't think this is a release blocker, but @nicksnyder can weigh in here.

[2019-02-07 17:00] tsenart commented on #2179
All your feedback is addressed. Please test again with latest insiders image.

[2019-02-07 17:01] nicksnyder commented on #2197
This is work that can be scoped as part of 3.1.

[2019-02-07 17:01] tsenart commented on #2197
:+1:

[2019-02-07 18:24] slimsag opened #2198 "binary assets turn up in search results, do not render cleanly"
I added a bunch of random trending github repos to my instance and one had binary assets like images, they turned up in search results and rendered poorly. We should exclude them from search results:

![image](https://user-images.githubusercontent.com/3173176/52433701-e2e61280-2aca-11e9-90ad-939178ab3f32.png)

[2019-02-07 19:24] slimsag opened #2199 "Sourcegraph.com going down prevents me from using code intelligence"
I spun up an instance and couldn't use code intelligence. The extensions were enabled and everything, but there wasn't any code intelligence. As it turns out, this was because sourcegraph.com had intermittent issues serving extension bundles.

As a user I expect to be able to use my installed extensions regardless of Sourcegraph.com going down. @felixfbecker informed me that I should have used a p

[2019-02-07 19:55] ggilmore opened #2200 "Add alerting that checks authenticated user flows"
[redis-store's recent issues](https://docs.google.com/document/d/1dtrOHs5STJYKvyjigL1kMm6u-W0mlyRSyVxPfKIOfEw/edit#heading=h.yhhzwn45qhpp) caused an outage on sourcegraph.com that affected authenticated users. However, none of our alerts warned us about this since only check flows that don't require any authentication. We should add alerts that could warn us about this in the future.

[2019-02-07 20:23] heyoni commented on #244
HI @sqs, do you know setting it up this way allows will work with the chrome extension?

And any tips for setting up authentication? Can I use the other auth headers for oauth2 and use my sourcegraph instance as my app callback address?

Thanks!

[2019-02-07 21:12] nicksnyder commented on #2179
I tagged `v3.0.1-rc.3` so please use that for testing moving forward.

[2019-02-07 21:54] aisbaa opened #2201 "Search for different token types"
I really like there is a way to do symbol search (variable, function, class etc.).
- Would it be possible to extend it with more types like comment, doc-comment, keyword, identifier?
- Would it be possible to allow users to specify symbol type?

For example: I want to see how often `sourcegraph` is mentioned in the code base. Here's what I've tried and how that went:

- `-repo:sourcegraph sourcegr

[2019-02-07 22:25] chrismwendt opened #2202 "Python hovers only show the first line of the docstring"
- Enable sourcegraph/python
- Visit https://sourcegraph.com/github.com/pallets/flask@0b5b4a66ef99c8b91569dd9b9b34911834689d3f/-/blob/flask/views.py#L69:9
- Notice the hover tooltip only shows the first line of the docstring

![image](https://user-images.githubusercontent.com/1387653/52446871-200ace80-2ae4-11e9-8a2e-418b192437f2.png)

I'll probably fix this by adding support for block comments in b

[2019-02-07 22:28] nicksnyder opened #2203 "Cleaner upgrade logging"
When upgrading from 2.13.6 to 3.0.1 there are a lot of raw json logs that get dumped while the image pulls.

Can we do one or more of the following:
- De-jsonify them?
- Suppress them or reduce them to DEBUG level?

I don't think this blocks tagging 3.0.1 because all else equal it is nice to see that progress is being made.

[code]

[2019-02-07 22:34] beyang commented on #2201
Waited 40 minutes for this to transfer, giving up. Going to transfer manually.

[2019-02-07 22:34] #2201 closed

[2019-02-07 22:35] beyang opened #2204 "Search for different token types"
This is from @aisbaa:

I really like there is a way to do symbol search (variable, function, class etc.).
- Would it be possible to extend it with more types like comment, doc-comment, keyword, identifier?
- Would it be possible to allow users to specify symbol type?

For example: I want to see how often `sourcegraph` is mentioned in the code base. Here's what I've tried and how that went:

- `-re

[2019-02-07 22:36] beyang commented on #2204
From @sqs:

This is a great feature request.

Would you agree the right name for this is "syntax-aware search"? It seems to me slightly different from our current symbol search (which deals with *definitions*).

One sketch is to implement this as follows:

- Add new search keywords `in:` and `is:` that let you specify things like `in:comment`, `in:doc` (doc comments), `in:string` (string literal),

[2019-02-07 22:36] beyang commented on #2204
From @chrismwendt:

Syntax highlighters or tools like [tree-sitter](http://tree-sitter.github.io/tree-sitter/) could be used to extract syntax information (either on the fly or indexed).

[2019-02-07 22:36] beyang commented on #2204
From @aisbaa:

syntax-aware search sounds great! `in`and `is` sound like a right fit.

Unfortunately I don't, but I'm planning to integrate ubers feedback tool, that might give us more insights. I can forward survey responses if you'd like to.

Just a naive question, since I'm not familiar with LSP and sourcegraph internals. Theoretically LSP server should perform parsing internally (at least lexe

[2019-02-07 22:52] tsenart commented on #1878
Sounds good to me.

Sent via Superhuman iOS ( https://sprh.mn/?vip=tomas@sourcegraph.com )

On Thu, Feb 7 2019 at 11:25 PM, < notifications@github.com > wrote:

[2019-02-07 22:54] nicksnyder commented on #2179
I finished testing automated and manual upgrade paths for the Docker image.

Only a few minor followup items, but none that block release.
- https://github.com/sourcegraph/sourcegraph/pull/2205
- https://github.com/sourcegraph/sourcegraph/issues/2203
- https://github.com/sourcegraph/sourcegraph/commit/91ca210595e4adcd978dcf0006fb37c8eab874ed (already cherry-picked into 3.0 branch)

[2019-02-07 23:06] ggilmore opened #2207 "Migrate sourcegraph.com to use the updated sourcegraph/postgres:11.1 image"
sourcegraph.com should run the latest version of the postgres deployment as specified in https://github.com/sourcegraph/deploy-sourcegraph/blob/5c84071462d05a6b367cafe1e15ad02b29279993/base/pgsql/pgsql.Deployment.yaml

I wanted to pull in an upstream change from https://github.com/sourcegraph/deploy-sourcegraph into https://github.com/sourcegraph/deploy-sourcegraph-dot-com, but I backed out of it

[2019-02-07 23:17] nicksnyder commented on #2179
@ggilmore Found an issue that would prevent us from tagging the release for Kubernetes

https://github.com/sourcegraph/sourcegraph/issues/2206

[2019-02-07 23:31] francisschmaltz opened #2208 "Rlimit error on Ubuntu 18.04.1"
On Sourcegraph:Insiders and 3.0.0 I'm hitting this error when deploying:

[code]

Digital Ocean droplet
Ubuntu 18.04.1
Docker 18.06.1-ce, build e68fc7a
Sourcegraph Insiders 058b55ec67d3
2vCPUs 4GB Ram 80GB SSD

[2019-02-07 23:31] francisschmaltz commented on #2179
Testing Details:
1. Create new instance on fresh ubuntu 18.04 VM.
1. Install Docker-CE
1. Start Sourcegraph in docker
1. Create admin account
1. Clone `gorrila/mux` `Sourcegraph/Sourcegraph`
1. Tried to upgrade

- [X] Test automatic upgrade from `2.13.6` to latest insiders.
- [X] Test automatic upgrade from `3.0.0-beta.4` to latest insiders.
- [X] Test automatic upgrade from `3.0.0` to latest insi

[2019-02-07 23:32] fierro-fuego opened #2209 "git blame error message when logged out of Sourcegraph"
- **Sourcegraph version: Sourcegraph.com, browser extension v19.1.29.2106
- **Platform information: MacOS High Sierra 10.13.6, Chrome browser v72.0.3626.81

#### Steps to reproduce:
1. Install Sourcegraph chrome extension.  Be logged out of Sourcegraph.
2. Open any file in any repo on Sourcegraph.com (for example https://sourcegraph.com/github.com/gorilla/mux@master/-/blob/bench_test.go#L18)
4. Cl

[2019-02-07 23:34] nicksnyder commented on #2133
This issue is superseded by https://github.com/sourcegraph/sourcegraph/issues/2179

[2019-02-07 23:34] #2133 closed

[2019-02-08 00:00] nicksnyder commented on #2208
Duplicate of https://github.com/sourcegraph/sourcegraph/issues/2034

[2019-02-08 00:00] #2208 closed

[2019-02-08 00:01] ryan-blunden commented on #1932
See https://docs.sourcegraph.com/quickstart

[2019-02-08 00:01] #1932 closed

[2019-02-08 00:03] francisschmaltz commented on #2034
Ran into this on digital ocean as well

[2019-02-08 01:38] nicksnyder commented on #2179
Tomas and I fixed the last remaining issue related to kubernetes, so I am going to tag 3.0.1

[2019-02-08 01:38] #2179 closed

[2019-02-08 02:13] slimsag commented on #1878
This issue is already backlogged btw.

[2019-02-08 02:35] nicksnyder commented on #1898
This just happened with the 3.0.1 build
https://buildkite.com/sourcegraph/sourcegraph/builds/27575#434ac7bb-33d6-4a1d-b1be-a68900f31a85

[2019-02-08 04:07] slimsag commented on #2179
I tested automatic upgrades from 2.13.6 and 3.0.0-beta.2.

I also tested in a deploy-sourcegraph-docker deployment, which hasn't yet been upgraded to postgres 11 -- and everything works fine there.

[2019-02-08 07:02] keegancsmith commented on #2204
LSP symbol search can return these results. However, two issues:
- The spec under specifies the input to a symbol search. It is just a string, so is upto the LSP server to decide what to return. Most seem to just do substring search. The results of a symbol search includes all your examples (except maybe comments?)
- Doing it cross-repo implies having a LSP server running per repo which doesn't sc

[2019-02-08 07:56] lguychard commented on #2159
Instinctively I'd say we should not call reference providers over whitespace.

[2019-02-08 08:09] #631 closed

[2019-02-08 08:26] #1278 closed

[2019-02-08 08:26] #1474 closed

[2019-02-08 08:54] #2130 closed

[2019-02-08 09:54] chrismwendt commented on #2202
Fixed, see https://sourcegraph.slack.com/archives/CCLF4R6EM/p1549619318184800 for more info and https://github.com/sourcegraph/sourcegraph-basic-code-intel/blob/e7d0b06db5cf116b4c23aca4db191ba870a9c55c/package/src/handler.ts#L167 for the API.

[2019-02-08 09:54] #2202 closed

[2019-02-08 12:03] keegancsmith commented on #2199
So rather make the private instance have a caching proxy to sourcegraph.com, rather than everyone speaking to sourcegraph.com?

[2019-02-08 12:05] keegancsmith commented on #2198
What search did you use? I'd be surprised if we match inside of binary files since we should be explicitly excluding them. However, we may just match on the filenames.

[2019-02-08 14:10] keegancsmith opened #2211 "Drop cert_cache table"
This table has been unused since the 3.0 release. So we can remove it in 3.2 (wait 2 minor releases before dropping).

[2019-02-08 14:28] #2207 closed

[2019-02-08 16:53] ggilmore commented on #1898
The javascript error is a red-herring. Here are the logs from the buildkite agent that was running [that job](https://buildkite.com/sourcegraph/sourcegraph/builds/27575#434ac7bb-33d6-4a1d-b1be-a68900f31a85):

https://console.cloud.google.com/logs/viewer?interval=P1D&project=sourcegraph-dev&organizationId=1006954638239&minLogLevel=0&expandAll=false&timestamp=2019-02-08T16:46:04.035000000Z&customFac

[2019-02-08 16:58] ggilmore commented on #1898
I bumped the Buildkite agent's memory to 7 gigs in https://github.com/sourcegraph/infrastructure/commit/64ba7c03d31b22b9eb4cb38f266d2bae9c1398c0

We can revisit this issue if it happens again.

[2019-02-08 16:58] #1898 closed

[2019-02-08 17:24] ggilmore commented on #1898
@nicksnyder @lguychard I just observed a buildkite agent using ~6 gigs when running that build step:

![screen shot 2019-02-08 at 9 20 59 am](https://user-images.githubusercontent.com/9022011/52494604-4764a880-2b83-11e9-9830-c01937afc3cf.png)

See https://console.cloud.google.com/kubernetes/pod/us-central1-a/ci/buildkite/buildkite-agent-67c6944878-4mjvl?project=sourcegraph-dev&organizationId=10069

[2019-02-08 17:35] KattMingMing opened #2214 "Query users by email address from GraphQL API"
The GraphQL API only supports querying users by username, but it would be helpful for users or just site-admins to query users by their email address.

[code]
[code]

[2019-02-08 17:55] #1959 closed

[2019-02-08 18:30] nicksnyder opened #2215 "Weird black gap at top of homepage"
![image](https://user-images.githubusercontent.com/754768/52498077-906d2a80-2b8c-11e9-9f40-1979476ef857.png)

[2019-02-08 18:31] francisschmaltz commented on #2215
@nicksnyder this is from the 3.0 announcement. I think it's the z-index that causes the content to shift but not be visible.

[2019-02-08 18:34] francisschmaltz commented on #2215
Ahh. It's the position. It needs to be changed to sticky on the homepage to display correctly.

[2019-02-08 18:42] #2007 closed

[2019-02-08 19:09] nicksnyder opened #2216 "Using an extension which provides line decorations breaks codecov extension"
Code discussions is disabled by default on Sourcegraph.com, so this is not an issue for customers, but it does point to a flaw in the extension API (if one extension can break another).

https://cl.ly/fe1a6446fc1b

cc @slimsag

[2019-02-08 19:19] #1960 closed

[2019-02-08 19:24] #2215 closed

[2019-02-08 19:51] slimsag commented on #2216
I renamed the issue title to clarify that this is an issue with extensions generally, not something specific to the code discussions ext.

[2019-02-08 19:51] slimsag commented on #2216
I believe this would also happen with codecov + the blame extension for example.

[2019-02-08 20:29] KattMingMing opened #2219 "Code discussions extension breaks git-extras extension"
When using the code-discussions extension, the git-extras extension fails to show blame information.

[2019-02-08 20:31] slimsag commented on #2219
Dup of https://github.com/sourcegraph/sourcegraph/issues/2216

[2019-02-08 20:31] #2219 closed

[2019-02-08 21:21] slimsag opened #2220 "Add unsafe/dangerous option to disable management console HTTPS"
In some situations, it is desirable to disable HTTPS in the management console. For example, if you have already ensured traffic to it is encrypted or you trust your network traffic to it will never be MITM'd and the password stolen.

We should add an `UNSAFE_DISABLE_HTTPS=true` environment variable as an option to the management console and warn in our docs that setting it means anyone can MITM t

[2019-02-08 22:06] ggilmore opened #2221 "graphql api: panic when trying to lookup contents of file matches returned by zoekt"
- **Sourcegraph version:** https://github.com/sourcegraph/sourcegraph/tree/3da30d22b074a6ae2581adca6554a6376401e901

#### Steps to reproduce:

1. Start the dev server with indexed search enabled:
[code]
1. Add http://github.com/gorilla/mux to your instance
1. Go the GraphQL API console (http://localhost:3080/api/console#%7B%22variables%22%3A%22%7B%5Cn%20%20%5C%22query%5C%22%3A%20%5C%22repo%3Agoril

[2019-02-08 22:06] nicksnyder commented on #1404
This is done

[2019-02-08 22:06] #1404 closed

[2019-02-08 22:08] ggilmore commented on #2221
cc @slimsag. He mentioned that setting the correct revision is non-trivial since it runs the risk of harming search performance.

[2019-02-08 22:09] #1962 closed

[2019-02-08 22:10] slimsag commented on #2221
I mentioned this over Slack but:

1. The bug is definitely here:

https://github.com/sourcegraph/sourcegraph/blob/3da30d22b074a6ae2581adca6554a6376401e901/cmd/frontend/graphqlbackend/textsearch.go#L538

2. The reason we do this is intentional I believe: looking up the default branch of a repository is expensive and if we did it here just to resolve the default branch, it would hurt search perf and

[2019-02-08 22:12] nicksnyder commented on #2221
@ijsnow @attfarhan Can you decide if this fits in the 3.1 milestone given the other work assigned to you?

[2019-02-08 22:18] ggilmore commented on #2221
@slimsag

Would the following query work in your proposed solution (caller doesn't specifically ask for the commit)?

[code]

Results:

[code]

[2019-02-08 22:20] dadlerj commented on #2024
This is largely complete with #2104 , but leaving it open for:

- [ ] Differentiating between go-to-def and find-refs (https://sourcegraph.com/search?q=todo.*%5C%28dan%5C%29+repo:%5Egithub%5C.com/sourcegraph/sourcegraph%24+)
- [ ] Sourcegraph extension status metrics

[2019-02-08 22:20] slimsag commented on #2221
Yes. As you mentioned in the description, the `content` field makes use of `commit`:

https://github.com/sourcegraph/sourcegraph/blob/3da30d22b074a6ae2581adca6554a6376401e901/cmd/frontend/graphqlbackend/file.go#L26

Effectively, that would become a call to `r.commit().oid` and, assuming it was the first call, it would be resolved on-the-fly.

[2019-02-08 22:41] ryan-blunden opened #2223 "Improve the password reset email content"
Maybe it's just me, but this feels like a phishing email.

![screen shot 2019-02-05 at 3 19 03 pm](https://user-images.githubusercontent.com/133014/52510065-6ed16a80-2baf-11e9-9de8-cf95a09d094f.png)

[2019-02-09 00:07] #2034 closed

[2019-02-09 01:24] beyang opened #2227 "Config errors in external services no longer appear to show up in admin UI"
~~Configuration errors in external services no longer appear in admin UI.~~

Repro:
* Add an external service with the following config:
[code]
* View site admin UI (http://localhost:3080/site-admin). No error shows up, but logs show "Repository authz config was invalid (errors are visible in the UI as an admin user, you should fix ASAP). Restricting access to repositories by default for now to be

[2019-02-09 02:42] stephen opened #2228 "Chrome extension permissions on private instance behind reverse proxy"
- **Sourcegraph version:** 3.0.0
- **Platform information:** Mac OS X, aws, oauth2_proxy, chrome 71

#### Steps to reproduce:

1. Set up sourcegraph instance behind an [oauth2_proxy](https://github.com/samsarahq/oauth2_proxy), which requires a specific cookie to be sent to be passed through
2. Install sourcegraph extension v19.1.29.2106
3. Change url to https://sourcegraph.internal.etc

#### Expec

[2019-02-09 08:13] felixfbecker commented on #2127
Doesn’t the spinner only show up after you stopped typing?

[2019-02-09 10:44] eduardoflorendo opened #2229 "reunite"
- **Sourcegraph version:**
- **Platform information:**

#### Steps to reproduce:

1.
2.

#### Expected behavior:

#### Actual behavior:

[2019-02-09 10:44] eduardoflorendo commented on #2229
#

[2019-02-09 22:12] slimsag commented on #2227
I think tsenert/Nick would be the best person to work on this, I haven't
interacted with this code yet

On Sat, Feb 9, 2019, 12:13 PM Beyang Liu <notifications@github.com wrote:

[2019-02-10 02:13] eduardoflorendo commented on #2229
#2227

[2019-02-10 02:16] eduardoflorendo opened #2232 "i'm frustrated"
#### Feature request description

#### Is your feature request related to a problem? If so, please describe.

#### Describe alternatives you've considered.

#### Additional context

[2019-02-10 12:49] vanesa opened #2234 "Slide toggle in ext debug menu looks glitchy"
#### Steps to reproduce:

1. Have the browser extension for Chrome active. On GitHub, run `localStorage.debug=true;location.reload()` in your console if the extension debug menu isn't visible already.
2. Click on the extension debug menu and activate `Log to devtools console`.
3. Notice on the slider is missing the toggle button when activated.

![image](https://user-images.githubusercontent.com/9

[2019-02-10 13:19] vanesa commented on #1950
I'm not able to reproduce this:
@felixfbecker do you still have the issue?

![image](https://user-images.githubusercontent.com/9110008/52534186-a7c13900-2d81-11e9-83f5-9d748d145c36.png)

[2019-02-10 13:23] felixfbecker commented on #1950
The screenshot you posted doesn't include a markdown heading. Note @ryan-blunden posted this issue, not me

[2019-02-10 13:36] vanesa commented on #1950
I haven't been able to get the Docker lint extension to work and am verifying with Ryan that the issue isn't on my end.

Isn't this the hover you posted?
![image](https://user-images.githubusercontent.com/9110008/52534353-f079f180-2d83-11e9-8ade-a5cc6b6f8461.png)

I posted the same hover just at a different area that was also showing a markdown title: `# the rest of your classic application...`.
I

[2019-02-10 13:40] felixfbecker commented on #1950
That looks like a python comment within a code block.

[2019-02-10 14:00] vanesa commented on #1950
Ah yes, it might have been rendered wrongly as markdown back when @sourcegraph-demo posted the screenshot.

[2019-02-10 14:05] vanesa opened #2235 "Active language related extensions are not listed in the extension debug menu"
#### Steps to reproduce:

1. Have the browser extension for Chrome active. On GitHub, run `localStorage.debug=true;location.reload()` in your console if the extension debug menu isn't visible already.
2. Click on the menu and notice that all active language extensions are missing from the list.

#### Expected behavior:
Show all of my active extensions.
#### Actual behavior:
Only shows the non-lang

[2019-02-10 14:06] vanesa commented on #1444
I'm not able to reproduce this. All the extensions listed under `Active extensions` link correctly. However, I notice that not all of my active extensions are listed, specifically all of the language ones are missing in the menu. Is this intended? I filed that issue here in case it's a bug: https://github.com/sourcegraph/sourcegraph/issues/2235

[2019-02-10 14:08] #2235 closed

[2019-02-10 14:10] vanesa commented on #2235
Language extensions appear on the list when the user is looking at a file on GitHub that requires the necessary language extension to activate.

[2019-02-10 14:41] lordlabakdas commented on #210
I am experiencing the same above issue with a local docker based install of sourcegraph for my gitlab hosted repos. Following the above steps, I am able to clone a gitlab repo inside the container with no issues (after transferring the .ssh folder onto the container). Trying to clone from the sourcegraph UI gives me the error "Repository not found" in the Mirroring and cloning tab. The external se

[2019-02-10 18:14] ryan-blunden commented on #1950
Still occuring.

<img width="862" alt="screen shot 2019-02-10 at 10 09 48 am" src="https://user-images.githubusercontent.com/133014/52537487-5d59a100-2d1c-11e9-9735-a532be0e5920.png">
<img width="874" alt="screen shot 2019-02-10 at 10 09 34 am" src="https://user-images.githubusercontent.com/133014/52537488-5d59a100-2d1c-11e9-97f6-1dadd6a65b59.png">

[2019-02-10 21:52] slimsag commented on #210
@lordlabakdas

- Which version of Sourcegraph? 2.x or 3.0.1?
- Does the external service config have a token or username/password?

[2019-02-10 22:28] lordlabakdas commented on #210
The version of sourcegraph is 3.0.1
The external service config has a token associated with it

[2019-02-11 06:00] vanesa commented on #1950
@francisschmaltz what do you think about this styling?

![image](https://user-images.githubusercontent.com/9110008/52547859-ad646080-2e0d-11e9-93a7-456977de6689.png)

[2019-02-11 06:26] francisschmaltz commented on #1950
They should be Medium font weight.

[2019-02-11 06:40] FrankEppinkMsgGillardon commented on #2180
We are now running sourcegraph without a subdirectory in the "location" statement", so we no longer have the redirect problem. I do however think it would be helpful if sourcegraph supports subdirectories.

But as we have a working version, closing this issue.

Thanks
Frank

[2019-02-11 06:40] #2180 closed

[2019-02-11 08:07] vanesa commented on #1950
@francisschmaltz Do we have a style guide that includes the hover overlays that I can use?

[2019-02-11 08:07] francisschmaltz commented on #1950
@vanesa I'll work on adding that to zeppelin style guide this week!

[2019-02-11 08:42] vanesa commented on #2053
@francisschmaltz could we move the close button outside of the hover, like this:
![image](https://user-images.githubusercontent.com/9110008/52552660-5d44c880-2e24-11e9-9ae2-531fe3e3aa7f.png)

[2019-02-11 10:15] nikhildahake opened #2239 "Clicking Blame when logged out of sourcegraph produces divs that cannot be dismissed"
1) Open Chrome browser
2) Install Sourcegraph extension for chrome (Not necessary. Problem is with the site not the plugin)
3) Navigate to: https://sourcegraph.com/github.com/google/guava/-/blob/guava/src/com/google/common/annotations/VisibleForTesting.java#L7

4) Click 'Blame'. See attached image.
5) Dialog boxes show up which cannot be dismissed. They get dismissed when the page is reloaded.

![

[2019-02-11 14:23] felixfbecker opened #2240 "Add back Sentry to webapp for prod & dogfood, browser extension"
To improve the robustness of our product, we need to track errors better.

Ref https://github.com/sourcegraph/enterprise/issues/12572

[2019-02-11 14:39] tsenart commented on #2227
Hey @beyang,

Would you please provide more detailed repro steps? The specific flow and config you're inputing would be great. Also, which page exactly are you referring to by "Site Admin UI"?

[2019-02-11 17:53] nicksnyder opened #2242 "Update docs.sourcegraph.com to make 3.0 current"
![image](https://user-images.githubusercontent.com/754768/52582766-d3c0d680-2de2-11e9-9f9f-d3842bf05b14.png)

[2019-02-11 17:53] tsenart commented on #491
@dadlerj: Can you provide more details on the repro steps? Particularly, which kind of external service was used. It would be good to know if you can still observe this behaviour with our current release in Dogfood. If not, let's close.

[2019-02-11 17:55] dadlerj commented on #491
It was GitHub, but I can't recall exactly how it happened. I think this was actually pre-external services — this is probably outdated if we've seen no 👍s on this since October.

Did you try to trivially repro on sgdev? If so, and it didn't occur, then let's just close it. If not, let me know and I'll try.

[2019-02-11 17:57] tsenart commented on #2079
This is done. Duplicate of #2179.

[2019-02-11 17:57] #2079 closed

[2019-02-11 18:13] beyang commented on #2227
@tsenart Updated the repro steps. Ping me on Slack if that's still insufficient :)

[2019-02-11 18:38] tsenart commented on #2227
Thanks @beyang.

[2019-02-11 18:40] tsenart commented on #491
I haven't because I didn't have specific enough repro steps. If you can, please try it again and let me know if it still occurs. Thanks!

[2019-02-11 19:40] dadlerj commented on #491
Looks like this is still happening on sgdev, it's trivial to repro as described above. I only tested GH repos.

![feb-11-2019 issue-491](https://user-images.githubusercontent.com/5589410/52588569-a6c7f000-2df1-11e9-9e17-9d736dcacd52.gif)

[2019-02-11 20:16] maxhallinan commented on #2010
I had a look at [alanz/haskell-lsp](https://github.com/alanz/haskell-lsp). It looks like the library passes the `workspace/symbols` query through to a user-defined query handler.  [This](https://github.com/alanz/haskell-lsp/blob/cff91d9bf4f970800304444e35351f857d94a5fd/example/Main.hs#L341-L354) is a usage example. The library itself just implements the LSP interface. So support for a type signatu

[2019-02-11 20:26] KattMingMing opened #2243 "Upgrading to 3.0.1: Text search failed. fatal: not a git repository"
- **Sourcegraph version:** 3.0.1
- External postgres via AWS RDS

After upgrading from 3.0.0-beta to 3.0.1 text search fails with the following error (redacted company info):

[code]

[2019-02-11 20:34] nicksnyder commented on #644
I think we should defer this issue until _after_ we release a version of Sourcegraph that _all_ customers can upgrade to. Certain existing customers won't be able to upgrade until 3.2 at the earliest (pending scoping decisions), so the earliest we should remove this is 3.3.

[2019-02-11 20:46] nicksnyder commented on #2076
Can you clarify what are the negative effects of our current state?

My main concern with scoping this for 3.1 is that this cannot be done incrementally (i.e. the whole thing, including documentation, needs to land by Friday). You have more context though about how much effort this is.

[2019-02-11 20:48] nicksnyder commented on #2063
This is good to complete before starting on https://github.com/sourcegraph/sourcegraph/issues/2025

[2019-02-11 20:52] nicksnyder commented on #462
I don't think this should be prioritized for 3.1.
1. It feels like less of a priority than https://github.com/sourcegraph/sourcegraph/issues/2025
2. It isn't clear to me what the solution is
3. It isn't clear to me that this can be solved by 3.1 (i.e. this week).

[2019-02-11 21:47] nicksnyder commented on #2025
This is a priority to make progress on, so even if there is nothing to ship in 3.1, there should be a goal to ship some improvements here for 3.2.

[2019-02-11 21:48] ggilmore opened #2244 "buildkite: add per-job cpu / ram metrics"
It'd be nice to know what the peak CPU/RAM usage was like for any given buildkite job. It would have been helpful for debugging https://github.com/sourcegraph/sourcegraph/issues/1898

Related: https://github.com/buildkite/feedback/issues/331

[2019-02-11 21:59] ggilmore opened #2245 "Add healthz endpoint (readiness and liveness checks) to all services"
All of our microservices should have lightweight [readiness and liveness checks](https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-probes/). These help k8s know when to restart a container.

The following services are missing these checks:

- github-proxy: https://github.com/sourcegraph/deploy-sourcegraph/blob/master/base/github-proxy/github-proxy.Deployment.yam

[2019-02-11 22:03] slimsag commented on #2245
syntet_server has one (it just needs to be added to the deployment): https://github.com/sourcegraph/syntect_server#api

[2019-02-11 22:12] #2075 closed

[2019-02-11 22:34] ggilmore opened #2246 "docs: Markdown heading symbols are misaligned on Firefox"
**Platform information**: Firefox Developer Edition 66.0b6

#### Steps to reproduce:

1. Open https://docs.sourcegraph.com/admin/install/docker/aws
1. Hover over a heading like "Install Sourcegraph with Docker on AWS"
1. Notice that the `#` symbol is aligned _below_ the actual heading text

See:

![](https://duaw26jehqd4r.cloudfront.net/items/0p373I2i1X2k0s2z1I2q/Screen%20Recording%202019-02-11%20

[2019-02-11 22:40] KattMingMing opened #2247 "Unexpected behavior/confusing UX when clicking "Enable and clone all" button"
The `site-admin/repositories` page has an _Enable and clone all_ button that is located at the bottom of the list of repositories.

**Current behavior**

Clicking the button enables all repositories and clones all repositories even if they are not found in the currently filtered list.

**Expected behavior**

Users expect that the button's action would correspond to the repositories found in the fi

[2019-02-11 22:43] chrismwendt opened #2248 "Symbol search traces are not associated with the symbols service"
- Run a search https://sourcegraph.com/search?q=r:ph/sourcegraph%24+type:symbol+testing
- Open the LightStep trace link from the x-trace header of the HTTP response https://sourcegraph.com/search?q=r:ph/sourcegraph%24+type:symbol+testing
- Notice that it doesn't contain any spans from the symbols-service when it should

![image](https://user-images.githubusercontent.com/1387653/52598631-3d54db00-2

[2019-02-11 22:59] sqs commented on #2247
Yeah, part of #2057 and #2025 will be removing the concept of enable/disable for repositories, so this button would be removed. I’ll keep this open until that is done.

[2019-02-11 23:04] chrismwendt commented on #2010
I think your understanding is correct. The implementation of type signature search would probably live in haskell-ide-engine. There's a [Haskell Sourcegraph extension](https://sourcegraph.com/extensions/sourcegraph/haskell), but it currently [defers](https://github.com/sourcegraph/sourcegraph-haskell/blob/master/src/extension.ts) to a [generic ctags-based code intelligence implementation](https://

[2019-02-11 23:15] beyang opened #2250 "Browser extension: bitbucket.org support"
Support Bitbucket.org in the browser extension.

cc @sqs for prioritization

Related:
* https://github.com/sourcegraph/sourcegraph/issues/244
* https://twitter.com/heyyoni/status/1095096741140021248

[2019-02-11 23:41] huasome opened #2251 "saml and externalURL"
- **Sourcegraph version:** 3.0.1
- **Platform information:** Ubuntu 18.04, Docker 5:18.09.0~3-0~ubuntu-bionic

#### Steps to reproduce:

1. Configure for saml.
2. Get error "saml auth provider requires externalURL to be set to the external URL of your site (example: https://sourcegraph.example.com)"
3. Try to configure "externalURL"
4. Get error "(root): Additional property externalURL is not allo

[2019-02-11 23:43] dadlerj opened #2252 "Broken links on welcome page footer"

[2019-02-11 23:47] chrismwendt commented on #2
Kotlin code intelligence has been added in Sourcegraph 3.0 :tada:

https://about.sourcegraph.com/blog/sourcegraph-3.0#code-intelligence-for-all-languages

[Try it out](https://sourcegraph.com/github.com/shadowsocks/shadowsocks-android@44c5180d5d55189b66178dfaf9d3273a4d487352/-/blob/core/src/main/java/com/github/shadowsocks/net/LocalDnsServer.kt#L74:27) on Sourcegraph.com:

![image](https://user-im

[2019-02-11 23:53] chrismwendt commented on #5
C# code intelligence has been added in Sourcegraph 3.0 :tada:

https://about.sourcegraph.com/blog/sourcegraph-3.0#code-intelligence-for-all-languages

[Try it out](https://sourcegraph.com/github.com/drewnoakes/string-theory@be5a1db710147a72ffffdcf6494970e7ced1dcb2/-/blob/StringTheory/UI/HomePage.cs#L52:44) on Sourcegraph.com:

![image](https://user-images.githubusercontent.com/1387653/52601835-1ef

[2019-02-11 23:53] #5 closed

[2019-02-12 00:06] chrismwendt commented on #7
Rust code intelligence has been added in Sourcegraph 3.0 :tada:

https://about.sourcegraph.com/blog/sourcegraph-3.0#code-intelligence-for-all-languages

[Try it out](https://sourcegraph.com/github.com/rust-lang/rust@57d7cfc3cf50f0c427ad3043ff09eaef20671320/-/blob/src/librustc_typeck/check/mod.rs#L222:36) on Sourcegraph.com:

![image](https://user-images.githubusercontent.com/1387653/52602118-439c8

[2019-02-12 00:06] #7 closed

[2019-02-12 00:10] chrismwendt commented on #8
Scala code intelligence has been added in Sourcegraph 3.0 :tada:

https://about.sourcegraph.com/blog/sourcegraph-3.0#code-intelligence-for-all-languages

[Try it out](https://sourcegraph.com/github.com/flix/flix@f6ac989206d195225e90ea2b65f0d6b5b517e6a1/-/blob/main/src/ca/uwaterloo/flix/language/phase/Resolver.scala#L210:24) on Sourcegraph.com:

![image](https://user-images.githubusercontent.com/13

[2019-02-12 00:10] #8 closed

[2019-02-12 00:14] huasome commented on #2251
![screen shot 2019-02-11 at 4 14 25 pm](https://user-images.githubusercontent.com/2467405/52602590-24065b80-2e18-11e9-8470-5c676e2eeb6b.png)

[2019-02-12 00:32] chrismwendt commented on #979
Swift code intelligence has been added in Sourcegraph 3.0 :tada:

https://about.sourcegraph.com/blog/sourcegraph-3.0#code-intelligence-for-all-languages

[Try it out](https://sourcegraph.com/github.com/iina/iina@99b2f539054d88f82f7486daa2f67d5ddac9c8cc/-/blob/iina/InitialWindowController.swift#L226:19) on Sourcegraph.com:

![image](https://user-images.githubusercontent.com/1387653/52603160-8496980

[2019-02-12 00:32] #979 closed

[2019-02-12 00:32] dadlerj opened #2255 "Footer links inconsistent between /welcome and about.sourcegraph.com pages"
Is the new (welcome) design preferred to the old (about) one? I'll make these consistent.

[2019-02-12 00:50] chrismwendt commented on #2011
Dart code intelligence has been added in Sourcegraph 3.0 :tada:

https://about.sourcegraph.com/blog/sourcegraph-3.0#code-intelligence-for-all-languages

[Try it out](https://sourcegraph.com/github.com/flutter/flutter@1e5d2e55fc29f6187877124e0cfffeb585960f8e/-/blob/packages/flutter/lib/src/widgets/scroll_simulation.dart#L52:29) on Sourcegraph.com:

![image](https://user-images.githubusercontent.com

[2019-02-12 01:05] sqs commented on #2255
The new links and footer sections are preferred, the design on the new welcome page is a todo though.

[2019-02-12 01:54] dadlerj commented on #2251
Hey @huasome, sorry, I can see why this is a bit confusing — a PR to the docs to make this more clear is coming soon.

The answer is that the `externalURL` property is a critical configuration value that has been migrated to the [management console](https://docs.sourcegraph.com/admin/management_console), rather than the in-app configuration. You need to enter it in the console that's exposed at `h

[2019-02-12 02:30] #2252 closed

[2019-02-12 02:35] chrismwendt opened #2257 "Symbol search is too slow to provide jump-to-definition on torvalds/linux"
## Problem

Jump-to-definition doesn't work on torvalds/linux (e.g. [dc21285.c#L252:13](https://sourcegraph.com/github.com/torvalds/linux@aa0c38cf39de73bf7360a3da8f1707601261e518/-/blob/arch/arm/mach-footbridge/dc21285.c#L252:13)). This was reported by a user in https://github.com/sourcegraph/sourcegraph/issues/1625 and will likely be a showstopper for companies with monorepos. I expect a "Go to d

[2019-02-12 05:08] #2251 closed

[2019-02-12 05:08] huasome commented on #2251
Yeah, that fixed it. Thanks for the help.

[2019-02-12 09:20] ruhullahshah opened #2259 "Problems while upgrading to Sourcegraph 3.0.1"
- **Sourcegraph version:** 3.0.1
- **Platform information:** Linux

Hi,

Thanks and congrats for getting in C# code intelligence support.

We were running Sourcegraph-2.8.9 and wanted to upgrade it to 3.0.1.

After upgrading, we got the following message upon accessing the Sourcegraph server:
`Access to Sourcegraph is forbidden because no authentication provider is set in site configuration.`

We

[2019-02-12 09:45] ruhullahshah commented on #2259
Additional info:
`auth.provider` is set to `"builtin"` in `sourcegraph-config.json`

[2019-02-12 09:56] slimsag commented on #2259
Sounds like your auth provider from the old `sourcegraph-config.json` didn't get copied into the management console for some reason. Can you visit your management console (see https://docs.sourcegraph.com/admin/management_console) and check what that config looks like / that there is an `auth.provider` configured there?

See also https://docs.sourcegraph.com/admin/migration/3_0#configuration-is-no

[2019-02-12 10:04] tsenart commented on #644
Makes sense @nicksnyder. Let's postpone.

[2019-02-12 10:06] tsenart commented on #2063
👍

[2019-02-12 10:08] tsenart commented on #462
Thanks for the estimation. Let's postpone it then.

[2019-02-12 10:10] tsenart commented on #2025
Sounds good to me.

[2019-02-12 11:00] tsenart commented on #2257
Is this going to be done in time for the 3.1 release?

[2019-02-12 11:11] #2026 closed

[2019-02-12 12:48] VeselaHouba opened #2263 "GitLab oauth returns oauth2: Context missing state value"
- **Sourcegraph version:** 3.0.0 , 3.0.1
- **Platform information:** Docker version 18.09.1, build 4c52b90
#### Steps to reproduce:

1. Set up GitLab application according to https://docs.sourcegraph.com/admin/auth/#gitlab
![screenshot 2019-02-12 at 13 37 00](https://user-images.githubusercontent.com/6410423/52636016-b9165c80-2ecb-11e9-8484-317695cb5836.png)

2. Set up authorization in management

[2019-02-12 13:09] keegancsmith commented on #462
Do we have any customers relying on this feature? Is there potential for removing this feature and maybe adding it back in another way. For example we have been thinking about implications of #2025, and one of our mentioned solutions is aliases instead of user controlled names in the repo table. IE multiple names mapping to a repo, instead of a unique name.

[2019-02-12 15:28] #702 closed

[2019-02-12 15:38] ggilmore opened #2264 "pgsql failing health checks: "sorry, too many clients already""
When investigating the recent [page load alert](https://sourcegraph.slack.com/archives/C0J618TTM/p1549985087003500), I noticed that the pgsql pod has restarted 4 times recently:

`kubectl describe pod` output:

[code]

I don't know if this caused the alert, but it looked odd to me.

[2019-02-12 15:42] #2229 closed

[2019-02-12 15:42] #2232 closed

[2019-02-12 16:32] nicksnyder commented on #462
I believe that we do have customers who use this.

Personally, I like the idea of always having a full "canonical" name, and then allowing sites to configure a (single) alias.

When an alias is configured, both should work, but I would probably expect the full canonical name to redirect to the alias.

[2019-02-12 17:12] nicksnyder commented on #1836
@francisschmaltz the remaining checklist items are assigned to you. Is this work that you are going to do this week? If not, let's backlog.

[2019-02-12 17:36] nicksnyder commented on #1113
I am removing the release-blocker tag from this since this wouldn't block release.

[2019-02-12 17:58] felixfbecker commented on #1255
I doubt this will work in practice because the old version can be incompatible for many other reasons than just the extension API - GraphQL changes, langserver changes, raw API changes...

[2019-02-12 18:00] #2242 closed

[2019-02-12 18:09] nicksnyder commented on #2023
I have two more things to add to this tracking issue:
1. It is a pain that we have to make a [change to the docsite template to update version links](https://github.com/sourcegraph/docs.sourcegraph.com/commit/d445c460c2da54fba4f56f647d656ca3311decf5) separately from updating the documentation itself.
2. I am not convinced that it is worth the effort for us to maintain our own docsite generator in

[2019-02-12 18:10] francisschmaltz commented on #1836
@nicksnyder moving to backlog

[2019-02-12 18:17] francisschmaltz commented on #2023
@nicksnyder I agree. We should take something prebuilt that we can iterate on.

[2019-02-12 18:19] ijsnow opened #2265 "Sourcegraph trying to clone repos from a git mirroring system that aren't mirrored"
- **Sourcegraph version:** 3.0.x
- **Platform information:** Docker, GitHub Enterprise WITH a git mirroring system in front of GHE

A customer has a git mirroring system in front of their GitHub Enterprise. They have a number of git organizations that are not mirrored on their mirroring system. On Sourcegraph 2.X, these organizations were ignored. This is the desired behavior for this setup. Howev

[2019-02-12 18:33] dadlerj commented on #2265
FYI, reported by a customer at https://app.hubspot.com/contacts/2762526/company/561806411

[2019-02-12 18:56] felixfbecker commented on #1987
Have seen this before too. Always in favor of in-place error displays!

[2019-02-12 19:00] tsenart commented on #1467
Closing this in favour of #2025.

[2019-02-12 19:00] #1467 closed

[2019-02-12 19:30] nicksnyder commented on #1178
It is unclear to me what work remains here since the unchecked boxes in the original issue description are pretty vague.

I am going to close this issue. If there is unfinished work hear, please open new and separate issues for each work item.

[2019-02-12 19:30] #1178 closed

[2019-02-12 19:42] nicksnyder commented on #1000
Backlogging this

[2019-02-12 19:45] ijsnow commented on #1801
Reassigned for you to triage/prioritize @lguychard

[2019-02-12 19:45] ijsnow commented on #1741
Reassigning to you to triage/prioritize @lguychard

[2019-02-12 19:54] nicksnyder commented on #1708
Going to close this. @ijsnow you should still deploy sourcegraph.com so you know how to do it.

[2019-02-12 19:54] #1708 closed

[2019-02-12 19:59] nicksnyder commented on #1759
This is less of a priority than https://github.com/sourcegraph/sourcegraph/issues/2025 so I am backlogging.

[2019-02-12 20:00] nicksnyder commented on #2264
@tsenart @keegancsmith Please triage this into an appropriate milestone (or backlog).

[2019-02-12 20:02] #1875 closed

[2019-02-12 20:18] chrismwendt commented on #2257
Just chatted with @slimsag in person and decided to go with sharding by symbol name + special-casing queries like `^foo$` to do exact matches.

@keegancsmith Do you know if zoekt can do ctags searches directly? It sounds like it uses ctags for ranking, but I'm not sure if it can return ctags results alone. Is there some kind of API for this?

[2019-02-12 20:19] chrismwendt commented on #2257
@tsenart Yes, this will probably be done in time for 3.1.

[2019-02-12 21:01] slimsag commented on #1759
This has happened to actual customers and required manual intervention, which is bad. I agree the priority is less than #2025 but we need to address this soon. Let's aim for 3.2?

[2019-02-12 23:03] slimsag commented on #2011
I've added syntax highlighting (in code files) for Dart. It will be in the next v3.1 shipping soon. Example on Sourcegraph.com:

https://sourcegraph.com/github.com/dart-lang/dart-tutorials-samples/-/blob/its_all_about_you/web/main.dart

[2019-02-12 23:05] slimsag commented on #2
I've added syntax highlighting (in code files) for Kotlin (thanks @KattMingMing for his help!). It will be in the next v3.1 shipping soon. Example on Sourcegraph.com:

https://sourcegraph.com/github.com/JetBrains/kotlin-examples/-/blob/tutorials/mpp-iOS-Android/app/src/main/java/com/jetbrains/jonnyzzz/myapplication/MainActivity.kt

[2019-02-12 23:27] ZacSweers commented on #2
I've tried both linked samples but `Find References` never shows any results in either example for the classes and functions I tried. Only go to definition seemed to work

[2019-02-12 23:48] slimsag commented on #2
@chris is that expected?

On Tue, Feb 12, 2019, 4:27 PM Zac Sweers <notifications@github.com wrote:

[2019-02-13 00:09] #2011 closed

[2019-02-13 00:15] ijt opened #2274 "Run on clouds other than Google Cloud and Digital Ocean"
Some users may have reasons to run Sourcegraph on clouds other than Google Cloud or Digital Ocean. For example, there are startups that have credits on AWS (https://aws.amazon.com/startups/) and may want to use them to run Sourcegraph on their code.

One possible way to gain this portability would be to take advantage of the new Go CDK: https://gocloud.dev. Some areas where it could help are its A

[2019-02-13 00:16] chrismwendt commented on #2
@ZacSweers Sorry about that! You probably ran into a bug that was introduced yesterday and I fixed a minute ago 🐛 It should work now.

[2019-02-13 00:16] #2 closed

[2019-02-13 00:24] nicksnyder commented on #2162
@felixfbecker I am going to assign to you since you are able to repro (neither Isaac nor myself can repro consistently).

[2019-02-13 00:27] nicksnyder commented on #2274
Sourcegraph works on any cloud provider (we bundle our own database by default for example, but customers can also configure Sourcegraph to point to an external database), including running on your local machine :)

What gave you the impression that we only support those two hosts?

@ggilmore is specifically working on better AWS documentation right now.

[2019-02-13 00:33] nicksnyder commented on #2265
To add context here that I shared with @ijsnow in person:

1. External services were added in 3.0, but that shouldn't change what gets cloned, just where the configuration is stored (unless the configuration was somehow changed in that migration).
2. The default repo-updater scheduler was updated in 3.0, but that shouldn't change what gets cloned

[2019-02-13 01:10] ijt commented on #2274
Wow. I don't know how I missed that. Shot from the hip. Closing this out.

[2019-02-13 01:10] #2274 closed

[2019-02-13 01:18] wukkuan opened #2275 "Invalid tooltip appears if moving vertically through whitespace in JavaScript"
- **Sourcegraph version:** Sourcegraph.com
- **Platform information:** macOS High Sierra, Sourcegraph.com, Firefox 65.0 and Chrome 72.0.3626.96

#### Steps to reproduce:

1. Go to https://github.com/wukkuan/url-shortener/blob/master/lib/shortened-urls.js#L24 with the Sourcegraph extension installed
or
https://sourcegraph.com/github.com/wukkuan/url-shortener@master/-/blob/lib/shortened-urls.js#L24

[2019-02-13 02:20] ryan-blunden opened #2277 "Better docs for setting up an instance ready for sharing"
Ensure the content and process is clear for configuring Sourcegraph to be ready for sharing with a team.

## Plan

- [ ] Review home page navigation links
- [ ] Update quickstart screencast with new repository syncing UI and flow.
- [x] Review nginx and SSL docs and add a video for running Sourcegraph with SSL.
  - [ ] Update Lets Encrypt docs.
  - [x] Update self-signed cert docs.
- [ ] How to co

[2019-02-13 04:33] beyang opened #2278 "Show function dependency graph"
From a user (@ritazh):

@ritazh features similar to this have been requested before. A few clarifying questions:
* What's the specific use case? Is it for diving into the details (in which case I'd imagine wanting to jump back and forth between file view and graph view) or more for high-level structure?
* How much of the graph would you like to see at once? Just the edges/nodes X hops out from a s

[2019-02-13 04:34] slimsag commented on #1538
I will do this early in 3.2, because it is safer to do so + I am short on time.

[2019-02-13 04:35] slimsag commented on #1896
This is a dup of https://github.com/sourcegraph/sourcegraph/issues/517 effectively, closing.

[2019-02-13 04:35] #1896 closed

[2019-02-13 07:39] keegancsmith commented on #2063
We will remove this if it makes #2025 easier. Otherwise, I think we should hold off removing the older implementation since we have some large customers who have not updated to 3.x yet, and may find issues with the new implementation.

[2019-02-13 07:42] keegancsmith commented on #2076
We have been using this wrong strategy since the creation of Deployments in k8s. There is a possibility of having two pods writing to the same volume leading to corruption. In practice this hasn't happened to us (or that we know of to a customer). The reason this hasn't happened to us is the google cloud disks can only be attached to one node. Given the above this is low-priority to fix, but impor

[2019-02-13 07:45] keegancsmith commented on #2025
FYI we are actively working on this. Our current plan is to take the work @tsenart did and make it shippable just for github code hosts. Then based on what we learn, create a more detailed plan.

[2019-02-13 09:02] tsenart commented on #2265
Hey @ijsnow, thanks for reporting! Would you be able to get us the exact site configuration and external service configuration being used? That'd help troubleshooting dearly.

Also, is this customer using SSH or HTTPS for cloning?

[2019-02-13 11:20] keegancsmith commented on #2257
I thought you could use the `symbol:` token but that doesn't seem to work when I experimented on https://cs.bazel.build

I'm not sure if sharding by symbol name/path will give you much performance benefit. I think there is a _lot_ of room for just optimizing the engine as it is. How about this for an idea:

A zip file where each file contains all its symbol text, new line seperated. Additionally y

[2019-02-13 11:22] keegancsmith commented on #2257
Also I am unsure if symbols service has this, but we used benchmarks very effectively in searcher to find the low hanging fruit. The benchmark would happen against actual upstream repos. https://sourcegraph.com/search?q=repo:%5Egithub%5C.com/sourcegraph/sourcegraph%24+f:cmd/search+Benchmark

[2019-02-13 14:41] felixfbecker opened #2281 "References are not scrollable on mobile"
![ezgif-4-68e401b27925](https://user-images.githubusercontent.com/10532611/52719337-bc7e1680-2fa5-11e9-8c5c-baa17ffb49e3.gif)

- **Platform information:** iOS

[2019-02-13 14:54] keegancsmith commented on #2025
### Update

We need to be concerned about the `external_*` columns on the repo table. They
can be unset, or not be unique as a triple. However, we need them to always be
set and unique. So we need to implement a migration process which is not just
a SQL migration, since we will need to fetch data from the upstream codehost
when the fields are not set. We must also identify which external service k

[2019-02-13 16:31] #1113 closed

[2019-02-13 19:34] #2084 closed

[2019-02-13 19:38] ijsnow commented on #2084
@KattMingMing I added `case:auto` which is the setting for smart case. It's on by default, per [@sqs's comment in a tagged issue.](https://github.com/sourcegraph/sourcegraph/issues/2085#issuecomment-459868276)

Since this issue is specifically for smart case, not for the settings in the two linked issues, I'll leave this closed. Tag me in those other issues to let me know if there is still demand

[2019-02-13 19:40] brandonbloom commented on #2084
Awesome. Thank you!

[2019-02-13 19:56] ggilmore opened #2285 "Make it easier to try out SSL with Sourcegraph"
It's unlikely that a user will want to share Sourcegraph with the rest of their team until they have HTTPS set up.

Provisioning a real SSL certificate involves:

1. buying a domain name
1. buying a cert / setting up let's encrypt (might involve adding/modifying DNS records)
1. configuring Nginx to use the certificate
1. changing Sourcegraph's external URL to point to the purchased domain name

Us

[2019-02-13 20:02] chrismwendt commented on #2257
**Update**

Locally, adding `^...$` to the symbol name in a symbol search makes `filterSymbols` ~6x faster:

- 0.346s [`repo:^github\.com/kubernetes/kubernetes$ test-setup type:symbol`](http://localhost:3080/search?q=repo:%5Egithub%5C.com/kubernetes/kubernetes%24+test-setup+type:symbol)
- 0.056s [`repo:^github\.com/kubernetes/kubernetes$ ^test-setup$ type:symbol`](http://localhost:3080/search?q=re

[2019-02-13 20:12] chrismwendt commented on #2257
Oops, I didn't see your comments before posting that :point_up:

Regarding using searcher: how would that metadata (line number -> symbol) be stored? If it's the same gob format on disk, it'll still take ~3s to load it into memory, regardless of how fast the search is.

Interesting, I'd like to try sqlite. Would you recommend exactly one DB file, or one per repository@commit?

[2019-02-13 20:15] slimsag commented on #2257
sqlite sounds like an interesting approach 👍I think that would give you the benefits of postgres, basically, but without having to wire up things through the frontend etc. and it acting as persistent data (instead it is just a 'cache'). I assume you would want to use a single DB file, or else you would end up with many small files due to some repos being small in size.

[2019-02-13 20:24] felixfbecker commented on #2257
Btw you might wanna investigate why the trace was lost between the frontend and symbols service - either the symbols client doesn't inject trace data, or the symbols server doesn't extract it.

[2019-02-13 20:28] slimsag commented on #2257
#2248

[2019-02-13 21:32] slimsag opened #2286 "Ability to view config change history in-app"
The database stores changes to configuration incrementally (i.e., we know all prior versions of the config, like a Git history), but we don't expose this information through the UX anywhere. It would be nice for auditing purposes to know when/who/what changed a site / critical config (primarily critical config).

[2019-02-13 21:56] nicksnyder commented on #2127
google.com doesn't have a loading spinner for search suggestions.

github.com has a loading spinner in the area that search suggestions would appear (not in the bar itself).

Overall this is a very minor issue that only impacts narrow screens so I think we should either backlog as not important or just delete the spinner for now. Any effort spent discussing/implementing beyond that isn't worth it.

[2019-02-13 22:11] #1507 closed

[2019-02-13 22:11] #1683 closed

[2019-02-13 22:47] sqs commented on #2127
We should just remove the spinner as in #2226.

[2019-02-13 22:58] #2127 closed

[2019-02-13 23:56] beyang opened #2288 "Python go-to-def performance regression"
From a user: https://twitter.com/regexmachina/status/1095646961758220288

Link: https://sourcegraph.com/github.com/clhchtcjj/BiNE@c9cb51b43ce0201aebf32fea44980b1f4ae8ebcb/-/blob/model/train.py#L283:5

cc @chrismwendt @lguychard @ijsnow @sqs

Workaround for now: Use the basic code intelligence for faster code intel https://sourcegraph.com/extensions/sourcegraph/basic-code-intel. It's accurate enoug

[2019-02-14 00:22] chrismwendt commented on #2288
Changed the title to Python (I think that's the language the user was reporting). Added a link to the repository to the description.

After refreshing the page a few times, I've seen it take anywhere from 5 to 20+ seconds to show the definition. This is a 16 MB repository archive that decompresses to 41 MB (most of which is a single `.dat` file), so I doubt size is the issue.

[2019-02-14 01:14] ryan-blunden opened #2289 "Improve visibility and functionality of built-in searches on sourcegraph.com"
Discovering the built-in searches on sourcegraph.com could be improved.

## Explore page

There are two big problems with the searches on the explore page:

 - It's weird that everything on this page is generic except the searches section.
 - The searches are last. They should be first.

I suggest moving searches to be first and choosing/creating the 5 best use case searches that include a reposit

[2019-02-14 01:18] ryan-blunden opened #2290 "Nicer sign-out page"
The sign-out experience could be improved by redirecting to `/search`/ `/start` or the `/sign-in` page.

https://sourcegraph.com/-/sign-out

![screen shot 2019-02-13 at 5 15 29 pm](https://user-images.githubusercontent.com/133014/52755536-24872980-2fb3-11e9-98fc-f800aaec48bc.png)

[2019-02-14 02:33] sqs commented on #2290
The purpose of this (terrible looking) page is to provide the link to sign out of their auth providers too. We need to preserve that capability somehow. Just redirecting wouldn’t do it.

[2019-02-14 03:41] dadlerj opened #2291 "Error activating git-extras"
- **Sourcegraph version:** 3.0.1
- **Platform information:** Single Docker image

Browsing a file with the `sourcegraph/git-extras` extension enabled, a customer (https://app.hubspot.com/contacts/2762526/company/693777177) is reporting that the extension isn't working, and that they see the following error in the console:

[code]

They indicated that this only started recently (so, on the last pub

[2019-02-14 04:32] dadlerj commented on #1530
We now link to a free trial form

[2019-02-14 04:32] #1530 closed

[2019-02-14 04:36] sqs commented on #2288
@chrismwendt 	For now, I think just making Sourcegraph.com drop down to basic code intel for Python is the best fix. Therefore adding this to 3.1.

[2019-02-14 04:36] sqs commented on #2290
dupe of #2031

[2019-02-14 04:36] #2290 closed

[2019-02-14 04:39] sqs commented on #2275
Thank you for the detailed bug report.

[2019-02-14 05:06] #1531 closed

[2019-02-14 05:08] sqs commented on #2169
Trace:  https://app.lightstep.com/sourcegraph-prod/trace?span_guid=32492911a647505a&at_micros=1550120839654440#span-59be948523dce271

Error:

[code]

[2019-02-14 05:09] sqs commented on #1952
The fix here (I think) is to add a script that checks for large assets and fails CI if any are found.

[2019-02-14 05:10] sqs commented on #1676
Is this still an issue? What is the priority?

[2019-02-14 05:14] sqs commented on #1220
This file is not committed. It is written in the `gulp graphQLTypes` action, which is run in the npm postinstall script (https://sourcegraph.com/github.com/sourcegraph/sourcegraph@d9a8ccb8ab2c12aa4fce24f72e0448e7190a8f10/-/blob/shared/gulpfile.ts#L50).

[2019-02-14 05:14] #1220 closed

[2019-02-14 05:16] sqs commented on #1264
Fixed by https://github.com/sourcegraph/sourcegraph/pull/2186

[2019-02-14 05:16] #1264 closed

[2019-02-14 05:17] chrismwendt commented on #2288
Sounds good, I updated global settings on Sourcegraph.com.

[2019-02-14 05:17] #1055 closed

[2019-02-14 05:17] #1017 closed

[2019-02-14 05:19] #793 closed

[2019-02-14 05:19] #792 closed

[2019-02-14 05:28] #2009 closed

[2019-02-14 05:31] slimsag commented on #1952
I disagree with you both -- I do not think the problem is "large assets", but rather "binary assets that change often".

The Go files (excluding generated vfsdata ones) are not going to change often. But I would not be surprised if we update these gifs and images every few months, and we're going to pay the cost of storing that diff forever.

[2019-02-14 05:36] sqs commented on #902
This may still be a (low-prio) issue on the explore page

[2019-02-14 05:39] sqs commented on #1319
This is fixed because Go precise code intel now takes precedence over basic code intel

[2019-02-14 05:39] #1319 closed

[2019-02-14 05:44] sqs commented on #1114
Thanks for posting this info. We added the `-e LOGO=false` to https://docs.sourcegraph.com/admin/faq#docker-toolbox-on-windows.

For the other 2 issues you reported, assigning to @ggilmore 	to update that doc page (and be aware of code changes to simplify this in the future).

[2019-02-14 05:45] sqs commented on #745
This icon and the file tree feature was removed from the browser extension

[2019-02-14 05:45] #745 closed

[2019-02-14 05:46] sqs commented on #2216
duplicate of #740

[2019-02-14 05:46] #2216 closed

[2019-02-14 05:47] #741 closed

[2019-02-14 05:47] #707 closed

[2019-02-14 05:50] sqs commented on #1310
fixed in e97c94fb15f7298c2e24e58c1ab9839220c20e5d

[2019-02-14 05:50] #1310 closed

[2019-02-14 05:50] sqs commented on #1309
fixed in e97c94fb15f7298c2e24e58c1ab9839220c20e5d

[2019-02-14 05:50] #1309 closed

[2019-02-14 05:55] sqs commented on #782
dupe of #946

[2019-02-14 05:55] #782 closed

[2019-02-14 05:55] sqs commented on #773
This does not occur anymore with newInject (which is the implementation in use for several months now).

[2019-02-14 05:55] #773 closed

[2019-02-14 05:55] #769 closed

[2019-02-14 05:56] #764 closed

[2019-02-14 05:57] #781 closed

[2019-02-14 05:57] #768 closed

[2019-02-14 05:57] #767 closed

[2019-02-14 06:06] sqs commented on #1952
Cool. Please propose a solution. Like the following?

- Remove all current PNG and similar files, move them to object storage somewhere
- Add a check in CI to prevent people from readding any such files

BTW most(/all?) of the vfsdata files actually should not be committed. I have a PR that removes a big one at https://github.com/sourcegraph/sourcegraph/pull/2237/commits/0c46930bcfaed4d56dd16c6aa4

[2019-02-14 08:15] keegancsmith commented on #2257
I would go for a sqlite db per repo@commit, since that is how we shard and will make cache eviction much easier. Lots of files isn't a problem for sqlite if I am not mistaken.

This isn't surprising. The regex engine should optimize that to a string equality check. Without the `^` it should optimize it to a string index check (although might not, we may be passing weird options around treating new

[2019-02-14 08:17] keegancsmith commented on #2248
that is the client side part of the trace. So it seems either we are not propagating the trace context, or the symbols service is not setup to use tracing.

[2019-02-14 08:20] #2240 closed

[2019-02-14 11:30] #2291 closed

[2019-02-14 12:34] keegancsmith commented on #1108
@sqs Does auth fall under the responsibilities of repo-updater / things on myself and Tomas' plate at the moment? Or is this a few months down the line sort of work?

[2019-02-14 13:46] maxhallinan commented on #408
My [branch](https://github.com/maxhallinan/sourcegraph/tree/issue-408-suggestion-search-line-number) supports this feature only for the list of suggestions that appear as the user is typing.
I haven't supported this feature on the search page yet.
Doing so is a bigger change and I wanted to get some feedback first.
Apologies for the length but I don't want to charge ahead without discussing this a

[2019-02-14 16:45] keegancsmith commented on #2025
Raw notes from today:

[code]

[2019-02-14 17:43] nicksnyder commented on #408
Great! I would encourage you to open a PR even if it is only "work in progress" because the diff is relevant context here.

Neither of these sound appealing to me.

I think this would require changes to both the [indexed search codepath](https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/blob/cmd/frontend/graphqlbackend/textsearch.go#L832:31) and the [non-indexed search codepath](https:/

[2019-02-14 18:46] nicksnyder opened #2297 "3.1 release plan"
# 3.1 Release (2019-02-20)

## No later than 5 working days before release (2019-02-15)

- [x] Choose dates/times for the steps in this release process and update this issue template accordingly. Note that this template references _working days_, which do not include weekends or holidays observed by Sourcegraph.
- [x] Send message to #dev-announce with a link to this tracking issue to notify the t

[2019-02-14 19:32] sqs commented on #1108
This is _at least_ a few months away. If prioritized, it probably would fall under you and @tsenart.

[2019-02-14 19:40] chrismwendt opened #2298 "Basic code intel: ideas for improvements"
## Jump-to-definition can't disambiguate between symbols with the same name

Say you have 2 files that both define:

[code]

Jump-to-definition on a reference to `Foo` would show 2 results.

**Ideas for improvements**

- Filter by imported packages
- Use scope information from ctags and some rudimentary type inference (or even just look at the token to the left of the `.`, such as `cli` in `cli.Ma

[2019-02-14 20:19] slimsag commented on #1934
I think the consensus here is to:

1. [ ] Link to `https://same-url:2633` in hopes that it works, but also link to the docs in case it doesn't.
2. [ ] TCP proxy via nginx the management console, so that it is always exposed to the public internet, even in cluster setups.

I will try to tackle #1 above before 3.1 is shipped, and defer #2 above to 3.2.

[2019-02-14 21:07] ryan-blunden commented on #1685
Is it possible to change the the text "Sign in" on the login window to "Sign in (username is sourcegraph) or something like that?

[2019-02-14 21:51] slimsag opened #2299 "Our public derivative Docker images should be OSS"
Lots of these should be open-source, but are currently locked behind our private infrastructure repo (not intentionally):

- `sourcegraph/postgres`
- `sourcegraph/postgres-11.1`
- `sourcegraph/redis-cache`
- `sourcegraph/redis-store`
- `sourcegraph/redis_exporter`
- `sourcegraph/zoekt-indexserver`
- `sourcegraph/zoekt-webserver`
- `sourcegraph/pgsql-exporter`
- `sourcegraph/pod-tmp-gc`

And perhap

[2019-02-14 21:56] slimsag commented on #1685
We already request browsers do that, but only Firefox respects our request. So no, unfortunately. There is a separate issue somewhere for moving away from basic auth prompt to our own one, which would be far nicer.

[2019-02-14 22:05] StevenH1901 opened #2300 "Upgrade to Go 1.12: Management Console shouldn't show broken ASCII characters on non-https"
- **Sourcegraph version:** 3.0.1
- **Platform information:**  Ubuntu 18.04, Digital Ocean, Firefox Developers Edition 66.0b6 (64-bit), Docker 18.09.2

#### Steps to reproduce:

1. Visit http://<Your_IP>:2633

#### Expected behavior:
I would expect there to be an error message saying that the management console must be accessed via https.

#### Actual behavior:
Currently there are just some broken

[2019-02-14 23:41] felixfbecker commented on #1554
Could this be prioritised? We are seeing browser extension uninstalls because people think it is downloading repos to their local disk, because we can't show them anything but a number of MB already downloaded. I would really like to show just a progress bar but I can't atm.

[2019-02-14 23:49] slimsag opened #2302 "sourcegraph/server should use sourcegraph/alpine base image"
After https://github.com/sourcegraph/sourcegraph/issues/1996 is fixed.

[2019-02-14 23:52] slimsag opened #2303 "cmd/**/build.sh scripts should be moved into their respective Dockerfiles"
We have `cmd/**/build.sh` scripts which were responsible for performing building (e.g. of frontend JS/CSS code) prior to running `godockerize`. Now that we are not using godockerize, we should move these build.sh scripts into their respective Dockerfiles.

[2019-02-15 06:53] maxhallinan commented on #408
@nicksnyder thanks for the feedback! I've opened PR #2306  for what I have now and will start work on the second part.

I found it a little jarring to see that the suggestions list referenced the line number but when I hit enter on the field, the search results page had changed my query from `filename.ext:123` to just `filename.ext`.

[2019-02-15 07:14] maxhallinan opened #2307 "Make it easier to explore commits by date range"
#### Feature request description

I'd like a user interface for easily exploring a project's timeline of commits.

#### Is your feature request related to a problem? If so, please describe.

I'm often curious about the evolution of a project, especially in its early stages. I like to start at the first commit and browse forward through early commits to learn how the project grew. For example, I wa

[2019-02-15 09:37] sqs commented on #2307
This sounds useful. Any chance you could sketch out (like on a napkin) the kind of UI you're thinking of?

[2019-02-15 09:39] sqs opened #2308 "Clarify LICENSE"
https://github.com/sourcegraph/sourcegraph/blob/master/LICENSE seems to suggest that Sourcegraph is not OSS.

[2019-02-15 11:39] chrismwendt commented on #2257
WIP branch for sqlite https://github.com/sourcegraph/sourcegraph/compare/symbols-sqlite (one sqlite db per repo@commit, and an index on the `name` column)

The results look promising:

- kubernetes/kubernetes: regex search for current implementation is 1.02s, WIP branch is 0.45s (and 0.02s for exact name search!)
- torvalds/linux: regex search for current implementation is 4.5s, WIP branch is 2.1s

[2019-02-15 16:56] tsenart commented on #2025
## Some notes from today's investigation.

### Global diff scalability

Currently loading all of sourcegraph.com's  ~31M repos from Postgres takes about 10s on my machine. This means that a sync interval of 10s in repo updater wouldn't make sense, but also, I was pleasantly surprised by how fast it is.

However, this number will only grow unbounded for sourcegraph.com in particular. It may not be

[2019-02-15 18:49] #2191 closed

[2019-02-15 19:17] slimsag opened #2310 "Automate manual testing steps needed to cut a release"
https://github.com/sourcegraph/sourcegraph/blob/master/doc/dev/release_issue_template.md#3-working-days-before-release-yyyy-mm-dd requires performing manual steps such as running Docker containers, starting Kubernetes clusters, verifying search/code intel works, etc.

This should all be automated with some form of real end-to-end testing.

A great outcome would be having 3.2 released without anyon

[2019-02-15 19:22] slimsag opened #2311 "Automate the entire release process"
After https://github.com/sourcegraph/sourcegraph/issues/2392 is done, it would be possible to automate the entire release process end-to-end such that we can confidently say "the release happens on the 20th of every month, without any developer involvement". This issue is to track that.

A stepping stone that may be achievable before _complete automation_ may be requiring a dev to e.g. prepare som

[2019-02-15 19:25] slimsag opened #2312 "Update PR template to require testing"
1. Require PR authors to add tests, or provide a strong argument as to why they didn't and how they plan to test otherwise.
2. Require reviewers to sign off on the PR having appropriate tests or sufficient reason to not add them (and that they vouch for the stability of the change).

[2019-02-15 19:26] slimsag opened #2313 "idea: PR bot that blocks build if PR lacks tests and lacks justification"
Related https://github.com/sourcegraph/sourcegraph/issues/2312

[2019-02-15 19:27] slimsag opened #2314 "Require codecov does not regress as PR status check"
(and don't report erroneous change in various Go tests)

Then, afterwards, require codecov does not regress as a PR status check?

[2019-02-15 19:32] slimsag commented on #517
I won't get started on this by EOD as I didn't account for meetings I have. Deferring.

[2019-02-15 20:30] slimsag opened #2315 "standardize bash files"
https://github.com/sourcegraph/sourcegraph/pull/2304#discussion_r257181706

[2019-02-15 20:31] slimsag opened #2316 "use shfmt and shellcheck in dev env and CI"
https://github.com/sourcegraph/sourcegraph/pull/2304#discussion_r257181706

[2019-02-15 20:38] slimsag opened #2317 "CLA bot is stuck?"
My PR https://github.com/sourcegraph/sourcegraph/pull/2304 has been stuck on the CLA bot for ~30 minutes.

I am unable to merge my change due to this, so I am temporarily disabling the CLA bot as a required status check. We will need to investigate and re-enable. cc @tsenart

[2019-02-15 20:41] #1884 closed

[2019-02-15 20:41] #1996 closed

[2019-02-15 20:52] slimsag commented on #2300
I've looked into fixing this just now, I agree this is a common mistake which is bad. Chrome handles this better, but unfortunately Firefox does not.

Go 1.12, when released, [will contain this fix](https://github.com/golang/go/commit/fc4f2e5692ab800a450e07c3d983eda02dfd4711#diff-bf538ad0b0c9263061db13ca6d8f324e) which would then show:

So I think the only thing to do here is wait and verify that

[2019-02-15 21:23] nicksnyder commented on #2025
Historically, sourcegraph.com has been a special snowflake with respect to repo syncing (i.e. everything is on-demand instead of scheduled). Is that going to change in the future?

[2019-02-15 21:29] chrismwendt commented on #1940
One quick way to improve the perceived delay in code intelligence is to begin initialization of the language server immediately upon opening the file, rather than waiting for the first hover.

[2019-02-15 22:00] nicksnyder commented on #2317
I restarted the pod to see if that helps

[2019-02-15 22:11] felixfbecker commented on #2055
Why was this moved to 3.2?

[2019-02-15 22:39] attfarhan commented on #652
Merged https://github.com/sourcegraph/sourcegraph/commit/a8080d17a5019537b4e8b5b5522a3c11fd0e5f3c

[2019-02-15 22:39] #652 closed

[2019-02-15 22:49] #2067 closed

[2019-02-15 23:49] slimsag opened #2322 "Site should not have to be initialized before accessing management console"
If you start a sourcegraph instance, it is impossible to access the management console until you create an admin account. In some situations, this is confusing and unexpected (e.g. if you are going through the steps a second time to set up your real instance).

Additionally, the `global_state` table is weird because despite representing one consistent state, only the last entry in the table is the

[2019-02-16 00:07] #2220 closed

[2019-02-16 00:12] slimsag commented on #1934
I didn't get to this in time, but I did determine that #3 is not possible as the browser cannot tell us anything aside from "connection error" basically, which includes when the management console is accessible but is using its self-signed certificate. So in order to do #3 it would be more complex (server-side logic to determine if the public URL is accessible)

[2019-02-16 00:13] slimsag commented on #1428
I will finish this before EOD, but it is actually mostly independent from 3.1 since it is all in deploy-sourcegraph aside from that one note about the `externalURL` known bug.

[2019-02-16 00:15] nicksnyder commented on #2317
seems to have passed [here](https://github.com/sourcegraph/sourcegraph/pull/2323) so I re-enabled it as a required check

[2019-02-16 00:15] #2317 closed

[2019-02-16 00:53] attfarhan opened #2325 "No syntax highlighting for diff and commit searches"
E.g. go to https://sourcegraph.com/search?q=type:diff+test+r:sourcegraph/sourcegraph

It seems that the request to highlight code is not even occurring. This might be because the returned rendered markdown HTML has somehow changed, so these assumptions we made are no longer true: https://sourcegraph.com/github.com/sourcegraph/sourcegraph/-/blob/web/src/components/SearchResultMatch.tsx?utm_source=V

[2019-02-16 04:02] attfarhan commented on #2325
Fixed in https://github.com/sourcegraph/sourcegraph/commit/11416807fd13bf07048e6a5dcc608ec7574aaac2

[2019-02-16 04:02] #2325 closed

[2019-02-16 10:10] felixfbecker opened #2329 "Query builder should show query in search box"
The query builder does currently not show the built query in the search box. This is a missed opportunity for teaching people how to achieve the query with direct search syntax. It is also confusing, because the query builder does not have a Submit button, but the "Search" submit button is implied to submit what is in the search box, not the query builder.

![2019-02-16 11 08 03](https://user-imag

[2019-02-16 10:11] #1778 closed

[2019-02-16 10:11] felixfbecker opened #2330 "Gradient shadow on query builder looks out of place"
![image](https://user-images.githubusercontent.com/10532611/52898220-8f1aae00-31db-11e9-9ba8-bf01c546c1e2.png)

We don't use gradients anywhere else in our app and it feels out of place with our flat/minimal design.

[2019-02-16 10:19] sqs commented on #1788
Reassigning to @ryan-blunden 	and to 3.2. @ryan-blunden 	and I think the right fix is NOT to default to the released version but instead just to make version selection more prominent.

[2019-02-16 10:38] #2255 closed

[2019-02-17 17:27] maxhallinan commented on #408
@nicksnyder, I've opened WIP PR #2333 that follows your suggested approach. Let me know what you think!

[2019-02-17 18:57] tsenart commented on #2025
Nope, good point!

[2019-02-17 19:05] #2214 closed

[2019-02-18 10:55] lguychard commented on #2055
@felixfbecker I could not get to this last week. Is the question "why was it moved to 3.2 rather than backlog" or "why was it not done in 3.1"?

[2019-02-18 13:41] keegancsmith commented on #2314
I fixed a few of these at the end of last year since it used to annoy me so much. If you see any, please paste it to this issue so we can track them.

[2019-02-18 13:43] keegancsmith commented on #2303
There are some issues around this, mostly around go.mod cache often getting invalidated. A partial implementation for this (just for go) exists in this old PR https://github.com/sourcegraph/sourcegraph/pull/1973

[2019-02-18 15:55] maxhallinan commented on #2307
Hey @sqs , after some more thought, I think what I need (want) is not exactly related to time. If there's a year between two commits, I don't want to move through a year's worth of no activity in the commit history. I just want an easier way to traverse the sequence of commits, not necessarily the sequence along a time dimension.

What comes to mind is the Kindle app for iOS. Tapping on a page sta

[2019-02-18 16:46] felixfbecker commented on #1361
I've been pinging people in various comments over the past 2 months (one just yesterday) and they say they did not get any notifications, so this issue still seems to exist. This makes me really uncomfortable using code discussions.

cc @sqs

[2019-02-18 17:28] felixfbecker commented on #2313
That's what codecov does. Imo if a reason needs to be provided that reason needs to be reviewed by humans, so that part cannot be automated. A reviewer can look at the codecov status/report and if it lacks tests approve/reject depending based on if the justification is reasonable.

[2019-02-18 18:03] ryan-blunden opened #2337 "Remove built-in help docs, link to the docs.sourcegraph.com/@version instead"
There are several issues (#1885, #1720, #1912) caused by styling or functionality differences between the in-product help and docs.sourcegraph.com

I propose removing the in-product help and instead, link to the version of the docs the instance is running.

This has the following benefits:

 - Still provides version specific docs.
 - No styling and functionality consistency issues so we can close

[2019-02-18 18:11] attfarhan commented on #2330
Assigning to @francisschmaltz since this was in the designs. Should be easy enough for you to remove @francisschmaltz.

[2019-02-18 18:22] felixfbecker commented on #730
Are you aware you can disable the communication logs (they are going away with comlink anyway)?

They do, but in the background page, not in the content page.

[2019-02-18 18:23] felixfbecker opened #2339 "Publish browser extension with sourcemaps"
This should give us source mapped stack traces in Sentry

[2019-02-18 18:24] felixfbecker opened #2340 "Overhaul notification design in browser extension"
https://app.zeplin.io/project/5bc77dcbe0bf72191e780d3c/screen/5c33a7e154a6a4b02605c09d

[2019-02-18 19:04] felixfbecker opened #2341 "For methods that start with $ (dollar sign), only the $ is highlighted on hover"
![image](https://user-images.githubusercontent.com/10532611/52971591-52f07480-33b8-11e9-8b33-7e4f8921df4a.png)

https://sourcegraph.com/github.com/sourcegraph/sourcegraph@0f7c5b69f332ff81d6895343005cddb4a0862048/-/blob/shared/src/api/extension/api/search.ts#L20

[2019-02-18 19:18] francisschmaltz commented on #2330
@felixfbecker the design for the query builder was *too* flat without something to break it up. It also isn't a gradient but a single colored shadow. Closing for now but we can continue this offline if you'd like.

[2019-02-18 19:18] #2330 closed

[2019-02-18 20:38] sqs commented on #2330
Felix, Farhan, and I all had negative reactions to the gradients, and we are squarely in the target demographic, so what can you do to address our concerns? Also, Felix is in Germany, so taking it offline won’t work too well. :)

[2019-02-18 20:47] slimsag commented on #1361
I investigated.

Dogfood was entirely reset, so everything there is gone. That includes all past code discussions, but also our entire email configuration which means dogfood cannot send email notifications even for e.g. saved searches (apparently nobody dogfoods these). I have added back the missing email config, but suggest **don't do anything on dogfood that you want to be persistent (including